<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'SwipeCard' | localize" [description]="'SwipeCardHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i> {{ l('Export') }}</button>
                <button *ngIf="isGranted('Pages')" (click)="createOrEditCard()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{ l('CreateSwipeCard') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input
                                            [(ngModel)]="filterText"
                                            name="filterText"
                                            autoFocus
                                            class="form-control m-input"
                                            [placeholder]="l('SearchWithThreeDot')"
                                            type="text"
                                        />
                                        <span class="input-group-btn">
                                            <button (click)="getAll()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex justify-content-end">
                                    <div class="flex-fill"></div>
                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{ l('Refresh') }}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{ l('Search') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getAll($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages', 'Pages')"
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                        <th pSortableColumn="cardNumber">
                                            {{ 'CardNumber' | localize }}
                                            <p-sortIcon field="cardNumber"></p-sortIcon>
                                        </th>
                                        <th align="right" pSortableColumn="balance">
                                            {{ 'Balance' | localize }}
                                            <p-sortIcon field="balance"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="active">
                                            {{ 'Active' | localize }}
                                            <p-sortIcon field="active"></p-sortIcon>
                                        </th>
                                        <!-- <th pSortableColumn="depositRequired">
                                            {{ 'DepositRequired' | localize }}
                                            <p-sortIcon field="depositRequired"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="depositAmount">
                                            {{ 'DepositAmount' | localize }}
                                            <p-sortIcon field="depositAmount"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="refundAllowed">
                                            {{ 'RefundAllowed' | localize }}
                                            <p-sortIcon field="refundAllowed"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="canIssueWithOutMember">
                                            {{ 'CanIssueWithOutMember' | localize }}
                                            <p-sortIcon field="canIssueWithOutMember"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="canExcludeTaxAndCharges">
                                            {{ 'CanExcludeTaxAndCharges' | localize }}
                                            <p-sortIcon field="canExcludeTaxAndCharges"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="IsEmployeeCard">
                                            {{ 'isEmployeeCard' | localize }}
                                            <p-sortIcon field="IsEmployeeCard"></p-sortIcon>
                                        </th> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages', 'Pages')"
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="isGranted('Pages')"
                                                            (click)="createOrEditCard(record.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="isGranted('Pages')"
                                                            (click)="deleteCard(record.id)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'CardNumber' | localize }}</span>
                                            {{ record.cardNumber }}
                                        </td>
                                        <td align="right">
                                            <span class="ui-column-title">{{ 'Balance' | localize }}</span>
                                            {{ record.balance }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'Active' | localize }}</span>
                                            <span class="badge badge-success" *ngIf="record.active">{{ l('Yes') }}</span>
                                            <span class="badge badge-danger" *ngIf="!record.active">{{ l('No') }}</span>
                                        </td>
                                        <!-- <td>
                                            <span class="ui-column-title">{{ 'DepositRequired' | localize }}</span>
                                            <span class="badge badge-success" *ngIf="record.depositRequired">{{ l('Yes') }}</span>
                                            <span class="badge badge-danger" *ngIf="!record.depositRequired">{{ l('No') }}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'DepositAmount' | localize }}</span>
                                            {{ record.depositAmount }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'CanIssueWithOutMember' | localize }}</span>
                                            <span class="badge badge-success" *ngIf="record.canIssueWithOutMember">{{ l('Yes') }}</span>
                                            <span class="badge badge-danger" *ngIf="!record.canIssueWithOutMember">{{ l('No') }}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'CanExcludeTaxAndCharges' | localize }}</span>
                                            <span class="badge badge-success" *ngIf="record.canExcludeTaxAndCharges">{{ l('Yes') }}</span>
                                            <span class="badge badge-danger" *ngIf="!record.canExcludeTaxAndCharges">{{ l('No') }}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'IsEmployeeCard' | localize }}</span>
                                            <span class="badge badge-success" *ngIf="record.isEmployeeCard">{{ l('Yes') }}</span>
                                            <span class="badge badge-danger" *ngIf="!record.isEmployeeCard">{{ l('No') }}</span>
                                        </td> -->
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-swipe-card-add-modal #createOrEditCardModal (modalSave)="getAll()"></app-swipe-card-add-modal>
