﻿<div [@routerTransition]>
	<div class="content d-flex flex-column flex-column-fluid">
		<sub-header [title]="!promotion.id ? l('CreateNewPromotion') : l('EditPromotion')">
			<div role="actions">
				<button (click)="openSelectLocationModal()" class="btn btn-primary text-uppercase">
					<i class="fa fa-file"></i> {{l("Locations")}}
				</button>
			</div>
		</sub-header>

		<div [class]="containerClass">
			<div class="card card-custom gutter-b">
				<div class="card-body">
					Promotion will be always be running between the Dates. For Example, If the promotion has to be run
					for 1st JAN to 8th JAN, it has to be configured from 1st JAN to 9th JAN
				</div>
			</div>
			<div class="card card-custom gutter-b">
				<div class="card-body">
					<form #promotionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
						<tabset class="tab-container tabbable-line">
							<tab heading="{{l('General')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="Promotion_PromotionCategoryId">{{l("PromotionCategory")}}</label>

										<p-dropdown [options]="promotionCategories" optionLabel="name" [filter]="true"
											styleClass="w-100" [placeholder]="l('SelectCategory')"
											name="PromotionCategory" [(ngModel)]="promotionCategorySelected"
											[showClear]="true"
											(onChange)="promotionCategoryChanged()">
										</p-dropdown>

									</div>
									<div class="form-group col-md-6">
										<label for="Promotion_Name" class="required-field">{{l("Name")}} </label>
										<input type="text" id="Promotion_Name" class="form-control"
											[(ngModel)]="promotion.name" name="Name" required
											#promotion_Name="ngModel" />
										<validation-messages [formCtrl]="promotion_Name"></validation-messages>
									</div>

									<div class="form-group col-md-6">
										<label for="Promotion_PromotionTypeId" class="required-field">{{l("PromotionType")}} </label>
										<p-dropdown [options]="promotionTypes" optionLabel="displayText" [filter]="true"
											styleClass="w-100" [placeholder]="l('SelectPromotionType')"
											name="promotionType" [(ngModel)]="promotionTypeSelected" [showClear]="true"
											required #Promotion_PromotionTypeId="ngModel"
											(onChange)="promotionTypeChanged()" [disabled]="promotion.id">
										</p-dropdown>
										<validation-messages [formCtrl]="Promotion_PromotionTypeId">
										</validation-messages>
									</div>

									<div class="form-group col-md-6">
										<label for="Promotion_StartDate">{{l("DateRange")}}</label>
										<input class="form-control" id="StartEndRange" name="StartEndRange"
											#drp="bsDaterangepicker" bsDaterangepicker dateRangePickerMomentModifier
											[(date)]="dateRange" [minDate]="minDate"
											[bsConfig]="{ rangeInputFormat: 'YYYY-MM-DD',dateInputFormat: 'YYYY-MM-DD', ranges: ranges, containerClass:'custom-datepicker' }"
											[placeholder]="l('DateRange')" (onShown)="showedDateRangePicker()"
											(dateChange)="changeDaterange()" />
									</div>

								</div>

								<div class="row">
									<div class="form-group col-md-6">
										<label for="Promotion_CardType">{{l("CardType")}}</label>
										<p-dropdown [options]="cardTypes" optionLabel="name" [filter]="true"
											styleClass="w-100" [placeholder]="l('SelectCardType')"
											name="Promotion_CardType" [(ngModel)]="promotionCardTypeSelected"
											[showClear]="true" #Promotion_CardType="ngModel" [disabled]="promotion.id"
											(onChange)="promotionCardTypeChanged()">
										</p-dropdown>
										<!-- <validation-messages [formCtrl]="Promotion_CardType"></validation-messages> -->
									</div>

									<div class="form-group col-md-6">
										<label for="Promotion_Description">{{l("Description")}}</label>
										<textarea type="text" id="Promotion_Description" class="form-control"
											[(ngModel)]="promotion.description" name="Promotion_Description"
											#promotion_Description="ngModel" rows="3"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="Promotion_combineAllPro" class="checkbox">
													<input id="Promotion_combineAllPro" type="checkbox"
														name="Promotion_combineAllPro"
														[(ngModel)]="promotion.combineAllPro"
														(change)="clearPromotion()">
													{{l("CombineAllPro")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="Promotion_displayPromotion" class="checkbox">
													<input id="Promotion_displayPromotion" type="checkbox"
														name="Promotion_displayPromotion"
														[(ngModel)]="promotion.displayPromotion"
														(change)="clearPromitionPositon(promotion.displayPromotion)">
													{{l("DisplayPromotion")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="Promotion_limi1PromotionPerItem" class="checkbox">
													<input id="Promotion_limi1PromotionPerItem" type="checkbox"
														name="Promotion_limi1PromotionPerItem"
														[(ngModel)]="promotion.limi1PromotionPerItem">
													{{l("Limit1PrivilegePerBill")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="Promotion_Active" class="checkbox">
													<input id="Promotion_Active" type="checkbox" name="Promotion_Active"
														[(ngModel)]="promotion.active">
													{{l("Active")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6" *ngIf="!promotion.combineAllPro">
										<label for="Promotion_SelectPromotion">
											{{l("Click Here To Select Promotion")}}</label>
										<textarea type="text" id="Promotion_SelectPromotion" class="form-control"
											[(ngModel)]="combinePros" name="Promotion_SelectPromotion" readonly
											#Promotion_SelectPromotion="ngModel" rows="3"
											(click)="openSelectPromotionModal()" style="cursor: pointer;"></textarea>
									</div>
									<div class="col-md-6" *ngIf="promotion.displayPromotion">
										<div class="form-group">
											<label for="Promotion_PromotionPosition">{{l("PromotionPosition")}}</label>
											<p-dropdown [options]="promotionPositions" optionLabel="displayText"
												[filter]="true" styleClass="w-100"
												[placeholder]="l('PromotionPosition')"
												name="Promotion_PromotionPosition"
												[(ngModel)]="promotionPositionSelected" [showClear]="true" required
												#Promotion_PromotionPosition="ngModel"
												(onChange)="promotionPositionChanged()">
											</p-dropdown>

											<validation-messages [formCtrl]="Promotion_PromotionPosition">
											</validation-messages>

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="Promotion_ignorePromotionLimitation" class="checkbox">
													<input id="Promotion_ignorePromotionLimitation" type="checkbox"
														name="Promotion_ignorePromotionLimitation"
														[(ngModel)]="promotion.ignorePromotionLimitation">
													{{l("IgnorePromotionLimitation")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-6" *ngIf="promotionCardTypeSelected">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="Promotion_ApplyOffline" class="checkbox">
													<input id="Promotion_ApplyOffline" type="checkbox"
														name="Promotion_ApplyOffline"
														[(ngModel)]="promotion.applyOffline">
													{{l("ApplyOffline")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</tab>
							<tab  heading="{{l('Schedules')}}" customClass="kt-tabs__item" tabindex="1" class="p-5">
								<div class="row">
									<div class="col-md-4 d-inline-flex">
										<div class="form-group mr-5">
											<label for="startDatetimePicker">{{l("StartDate")}}</label>
											<input id="startDatetimePicker" type="text" #startDatetimePicker
												name="startDatetimePicker" class="form-control" bsDatepicker
												datePickerMomentModifier2 [(ngModel)]="startDate"
												[bsConfig]="{ adaptivePosition: true }"
												(bsValueChange)="changeDateSchedules('start')" />
										</div>
										<div class="form-group">
											<label for="endDatetimePicker">{{l("EndDate")}}</label>
											<input id="endDatetimePicker" type="text" #endDatetimePicker
												name="endDatetimePicker" class="form-control" bsDatepicker
												datePickerMomentModifier1 [(ngModel)]="endDate"
												[bsConfig]="{ adaptivePosition: true }"
												(bsValueChange)="changeDateSchedules('end')" />
										</div>
									</div>
									<div class="col-md-4 d-inline-flex">
										<div class="form-group mr-5">
											<label for="PromotionSchedule_StartTime">{{l("StartTime")}}</label>
											<timepicker [(ngModel)]="startTime" [max]="endTime" [showMeridian]="false"
												name="StartTime" #promotionSchedule_StartTime="ngModel">
											</timepicker>
										</div>
										<div class="form-group">
											<label for="PromotionSchedule_EndTime">{{l("EndTime")}}</label>
											<timepicker [(ngModel)]="endTime" [min]="startTime" [showMeridian]="false"
												name="EndTime" #promotionSchedule_EndTime="ngModel">
											</timepicker>
										</div>
									</div>

									<div class=" col-md-10 d-inline-flex">
										<div class="form-group col-md-6">
											<p-multiSelect [filter]="true" [style]="{'width':'100%'}" id="daysOfWeek"
												[options]="days" name="daysOfWeek" [(ngModel)]="dayOfWeek"
												optionLabel="displayText" [defaultLabel]="l('Week')">
											</p-multiSelect>
										</div>

										<div class="form-group col-md-6">
											<p-multiSelect [filter]="true" [style]="{'width':'100%'}"
												id="monthSchedules" [options]="months" name="monthSchedules"
												[(ngModel)]="monthSchedules" optionLabel="displayText"
												[defaultLabel]="l('Days')">
											</p-multiSelect>
										</div>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addSchedule()" [disabled]="!startTime || !endTime">{{l("Add")}}
										</button>
									</div>

									<div class="col-md-12">
										<div class="table-scrollable table-scrollable-borderless primeng-datatable-container">
											<p-table [value]="promotion.promotionSchedules">
												<ng-template pTemplate="header">
													<tr>
														<th>{{l("StartDate")}}</th>
														<th>{{l("EndDate")}}</th>
														<th>{{l("StartTime")}}*</th>
														<th>{{l("EndTime")}}*</th>
														<th>{{l("Days")}}*</th>
														<th>{{l("MonthDays")}}*</th>
														<th></th>
													</tr>
												</ng-template>
												<ng-template pTemplate="body" let-s>
													<tr>
														<td style="width: 150px;">
															{{s.startDate | date:'dd/MM/yyyy'}}
														</td>
														<td style="width: 150px;">
															{{s.endDate | date:'dd/MM/yyyy'}}
														</td>
														<td style="width: 150px;">
															{{s.startHour}}:{{s.startMinute}}
														</td>

														<td style="width: 150px;">
															{{s.endHour}}:{{s.endMinute}}
														</td>
														<td style="width: 150px;">
															{{s.dayNames}}
														</td>
														<td style="width: 150px;">
															{{s.monthDays}}
														</td>
														<td style="width: 100px;">
															<button type="button"
																class="btn-secondary btn text-uppercase"
																(click)="removeSchedule(index)">{{l('Remove')}}</button>
														</td>
													</tr>
												</ng-template>
											</p-table>
										</div>
									</div>
								</div>
							</tab>
							<tab heading="{{l('Conditions')}}" customClass="{{promotion.promotionTypeId !== 1? 'tab_condition__show': 'tab_condition__hide'}}" tabindex="2" class="p-5">

								<div class="row">
									<div class="col-md-12 mb-2">
										<query-builder [(ngModel)]="query" [config]="config" name="Conditions">
										</query-builder>
									</div>
									<div class="mb-2">
										<button class="btn btn-danger text-uppercase" type="button"
											(click)="isShowFilter=!isShowFilter">
											<span *ngIf="!isShowFilter">{{"Show" | localize}}</span>
											<span *ngIf="isShowFilter">{{"Hide" | localize}}</span>
										</button>
									</div>
									<div *ngIf="isShowFilter" class="mb-2 col-md-12">
										<textarea readonly class="form-control edited"
											rows="10">{{query | json}}</textarea>
									</div>
								</div>
							</tab>
							<tab heading="{{l('RestrictItems')}}" customClass="kt-tabs__item" tabindex="3" class="p-5">
								<div class="row">
									<div class="col-md-12">
										<div class="pull-right mb-2">
											<button type="button" class="btn btn-primary text-uppercase"
												(click)="addRestrictItems()">{{"AddItem" | localize}}</button>
										</div>
										<table class="table table-hover table-light">
											<thead>
												<tr class="text-center">
													<th style="width: 150px;"> {{l("Name")}} </th>
													<th style="width: 150px;"></th>
												</tr>
											</thead>
											<tr *ngFor="let m of promotion.promotionRestrictItems; let index = index">
												<td style="width: 150px;" class="text-center">
													<div (click)="currentIndex = index">
														<button type="button" class="btn btn-primary text-uppercase"
															*ngIf="!m.menuItemId"
															(click)="openforMenuItem(m)">{{"SelectItem" |
															localize}}</button>
														<span *ngIf="m.menuItemId">
															{{ m.menuItemId }} - {{ m.name }}
														</span>
													</div>
												</td>
												<td style="width: 150px;">
													<button class="btn-secondary btn text-uppercase"
														(click)="removeRestrictItem(index)">
														<i class="fa fa-trash"></i></button>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</tab>
							<tab heading='{{l("Distribution")}}' tabindex="4" customClass="{{promotion.promotionTypeId === 8? 'tab_condition__show': 'tab_condition__hide'}}"
								 class="p-5">
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addFixProsPer()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>
								<div class="row margin-top-10">
									<div class="col-sm-12">
										<div class="primeng-datatable-container table-scrollable table-scrollable-borderless">
											<table class="table table-hover table-light">
												<thead>
													<tr>
														<th style="width: 50px;"></th>
														<th style="width: 150px;">{{"Product Group" | localize}} <span
																*ngIf="distributions.length">*</span></th>
														<th style="width: 150px;">{{"Category" | localize}} <span
																*ngIf="distributions.length">*</span></th>
														<th style="width: 150px;">{{"Menu" | localize}} <span
																*ngIf="distributions.length">*</span></th>
														<th style="width: 150px;">{{"Portion" | localize}} <span
																*ngIf="distributions.length">*</span></th>
														<th style="width: 150px;">{{"Percentage" | localize}}</th>
													</tr>
												</thead>
												<tr>

												<tr *ngFor="let data of distributions; let index = index">
													<td class="text-center" style="width: 50px;">
														<button type="button" class="btn btn-primary text-uppercase"
															(click)="removeFixProsPer(index)">
															<i class="fa fa-trash"></i>
															<span></span>
														</button>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">

															<button type="button" (click)="openProductGroups()" name="'distribution_productGroups'+ index" class="btn btn-primary text-uppercase">
																{{data.productGroupId? data.productGroupName : l('Product Group')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">

															<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" name="'distribution_categoryId'+ index" class="btn btn-primary text-uppercase">
																{{data.categoryId? data.categoryName : l('Category')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'distribution_menuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemId? data.menuItemName : l('MenuItem')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'distribution_portions'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemPortionId? data.portionName : l('Portion')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<input type="number" class="form-control"
															[name]="'fixedPromotionPer_promotionValue'+ index"
															[(ngModel)]="data.promotionValue" min="0" required />
													</td>

												</tr>
												<tr *ngIf="distributions.length > 0">
													<td style="width: 50px;"></td>
													<td style="width: 150px;"> </td>
													<td style="width: 150px;"></td>
													<td style="width: 150px;"></td>
													<td style="width: 150px;"><div class="text-right"> {{l('Totals')}}</div> </td>
													<td style="width: 150px;">
														<div class="distribution_total_percentage"><input type="number" class="form-control distribution_total_percentage"
																min="0" readonly value="{{getTotalDistribution()}}" /> </div>
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</tab>
							<tab heading="{{l('PromotionQuota')}}" customClass="kt-tabs__item"  tabindex="5" class="p-5">
								<div class="col-md-12">
									<div class="table-scrollable table-scrollable-borderless">

										<div class="pull-right mb-2">
											<button type="button" class="btn btn-primary text-uppercase"
												(click)="addRowQuota()">{{"ADD" |
												localize}}</button>
										</div>
										<table class="table table-hover table-light">
											<thead>
												<tr>
													<th class="w-50px"></th>
													<th class="w-30px">Count</th>
													<th class="w-30px">Each</th>
													<th class="w-100px">Reset</th>
													<th class="w-250px">Plants</th>
												</tr>
											</thead>
											<tr>

											<tr *ngFor="let quota of promotion.promotionQuotas; let index = index">
												<td class="text-center w-50px">
													<button type="button" class="btn btn-primary text-uppercase"
														(click)="deleteQuota(index)">
														<i class="fa fa-trash"></i>
														<span></span>
													</button>
													<button type="button" class="btn btn-primary text-uppercase">
														<i class="flaticon-search-1"></i>
														<span></span>
													</button>
												</td>

												<td class="w-30px">


													<input type="number" name="quotaAmount{{index}}"
														[(ngModel)]="quota.quotaAmount" min="0"
														class="w-100 form-control">
												</td>
												<td class="w-30px">

													<p-checkbox name="each{{index}}" binary="true"
														[(ngModel)]="quota.each" class="w-100 form-control">
													</p-checkbox>

												</td>

												<td class="w-100px">
													<p-dropdown #resetTypeCombobox class="col-md-4"
														name="resetType{{index}}" dataKey="value"
														[options]="restTypeList" [ngModel]="{ value: quota.resetType }"
														(onChange)="quota.resetType = $event?.value?.value"
														[placeholder]="l('Reset Type')" optionLabel="displayText"
														[showClear]="true">
													</p-dropdown>
													<ng-template [ngIf]="quota.resetType ==1">
														<p-dropdown #resetDayOfWeekCombobox class="col-md-4"
															name="childResetType{{index}}" dataKey="value"
															[options]="dayOfWeekList"
															[ngModel]="{ value: quota.resetWeekValue }"
															(onChange)="quota.resetWeekValue = $event?.value?.value"
															[placeholder]="l('Day Of Week')" optionLabel="displayText"
															[showClear]="true">
														</p-dropdown>
													</ng-template>
													<ng-template [ngIf]="quota.resetType == 2 || quota.resetType == 3">
														<input class="form-control col-md-4 reset-month-value"
															bsDatepicker
															[(date)]="quota.resetMonthValue"
															id="resetMonthValue{{index}}"
															placeholder="*"
															name="resetMonthValue{{index}}" datePickerMomentModifier />
													</ng-template>

												</td>
												<td class="w-250px">
													<div class="row">
														<div class="col-md-8">
															<textarea pInputText class="w-100" type="text"
																name="quotaPlants{{index}}" [(ngModel)]="quota.plants"
																[placeholder]="l('*')" [disabled]="true"
																required></textarea>
														</div>
														<div class="col-md-4"><button type="button"
																class="btn btn-primary blue text-uppercase"
																(click)="openPlantSelectLocationsModal(index)">Plants</button>
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</tab>
							<tab heading="{{l('TimerPromotion')}}" customClass="kt-tabs__item"  tabindex="6" *ngIf="promotion.promotionTypeId == 1"
								class="p-5">
								<div class="row margin-bottom-5">
									<div class="col-xs-12">
										<div class="m-heading-1 border-green m-bordered">
											<p>{{"TimerPromotionInfo" | localize}}</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">{{"PriceTag" | localize}}</label>
											<select id="Promotion_priceTagId" class="form-control"
												[(ngModel)]="timerPromotion.priceTagId" name="priceTagId" required
												#Promotion_priceTagId="ngModel">
												<option *ngFor="let type of priceTags" [value]="type.value">
													{{type.displayText}}
												</option>
											</select>

											<validation-messages [formCtrl]="Promotion_priceTagId">
											</validation-messages>
										</div>
									</div>
								</div>
							</tab>
							<tab heading='{{l("FixedPromotionPercentage")}}' tabindex="7"
								*ngIf="promotion.promotionTypeId==2" class="p-5">
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addFixProsPer()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>
								<div class="row margin-top-10">
									<div class="col-sm-12">
										<div class="table-scrollable table-scrollable-borderless">
											<table class="table table-hover table-light">
												<thead>
													<tr>
														<th style="width: 50px;"></th>
														<th style="width: 150px;">{{"Product Group" | localize}} </th>
														<th style="width: 150px;">{{"Category" | localize}} </th>
														<th style="width: 150px;">{{"Menu" | localize}} </th>
														<th style="width: 150px;">{{"Portion" | localize}} </th>
														<th style="width: 150px;">{{"Percentage" | localize}}</th>
													</tr>
												</thead>
												<tr>

												<tr *ngFor="let data of fixedPromotionPer; let index = index">
													<td class="text-center" style="width: 50px;">
														<button type="button" class="btn btn-primary text-uppercase"
															(click)="removeFixProsPer(index)">
															<i class="fa fa-trash"></i>
															<span></span>
														</button>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">

															<button type="button" (click)="openProductGroups()" name="'fixedPromotionPer_productGroups'+ index" class="btn btn-primary text-uppercase">
																{{data.productGroupId? data.productGroupName : l('Product Group')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">

															<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" name="'fixedPromotionPer_categoryId'+ index" class="btn btn-primary text-uppercase">
																{{data.categoryId? data.categoryName : l('Category')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'fixedPromotionPer_menuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemId? data.menuItemName : l('MenuItem')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'fixedPromotionPer_portions'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemPortionId? data.portionName : l('Portion')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<input type="number" class="form-control"
															[name]="'fixedPromotionPer_promotionValue'+ index"
															[(ngModel)]="data.promotionValue" min="0" required />
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</tab>

							<tab heading='{{l("FixedPromotionValue")}}' tabindex="8"
								*ngIf="promotion.promotionTypeId==3" class="p-5">

								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addFixPros()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>
								<div class="row margin-top-10">
									<div class="col-sm-12">
										<div class="table-scrollable table-scrollable-borderless">
											<table class="table table-hover table-light">
												<thead>
													<tr>
														<th></th>
														<th>{{l("Product Group")}} </th>
														<th>{{l("Category")}}</th>
														<th>{{l("Menu")}}</th>
														<th style="width: 150px;">{{"Portion" | localize}}</th>
														<th>{{l("Value")}}</th>
													</tr>
												</thead>
												<tr>
												<tr *ngFor="let data of fixedPromotion; let index = index">
													<td class="text-center" style="width: 50px;">
														<button type="button" class="btn btn-primary text-uppercase"
															(click)="removeFixPros(index)">
															<i class="fa fa-trash"></i>
															<span></span>
														</button>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="openProductGroups()" name="'fixedPromotion_productGroups'+ index" class="btn btn-primary text-uppercase">
																{{data.productGroupId? data.productGroupName : l('Product Group')}}
															</button>
														</div>

													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" name="'fixedPromotion_categoryId'+ index" class="btn btn-primary text-uppercase">
																{{data.categoryId? data.categoryName : l('Category')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'fixedPromotion_menuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemId? data.menuItemName : l('MenuItem')}}
															</button>

														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'fixedPromotion_portionmenuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemPortionId? data.portionName : l('Portion')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<input type="number" class="form-control"
															[name]="'fixedPromotion_promotionValue'+ index"
															[(ngModel)]="data.promotionValue" min="0" required />
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</tab>

							<tab heading='{{l("FreePromotion")}}' tabindex="9" *ngIf="promotion.promotionTypeId==4"
								class="p-5">
								<div class="row margin-bottom-5">
									<div class="col-xs-12">
										<div class="m-heading-1 border-green m-bordered">
											<p> {{l("FreePromotionInfo")}} </p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 ">
										<div class="form-group">
											<label class="control-label">{{l("BuyItemsCount")}}</label>
											<input type="number" class="form-control"
												[(ngModel)]="freePromotion.fromCount" [disabled]="fromCountLocked"
												min="1" placeholder='{{l("BuyItemsCount")}}' required
												name="FreePromotionInfo_FromCount"
												#FreePromotionInfo_FromCount="ngModel">

											<validation-messages [formCtrl]="FreePromotionInfo_FromCount">
											</validation-messages>
										</div>
									</div>
									<div class="col-md-4 ">
										<div class="form-group">
											<label class="control-label">{{l("FreeItemsCount")}}</label>
											<input type="number" class="form-control"
												[(ngModel)]="freePromotion.toCount"
												placeholder='{{l("FreeItemsCount")}}' min="1" required
												name="FreePromotionInfo_ToCount" #FreePromotionInfo_ToCount="ngModel">
											<validation-messages [formCtrl]="FreePromotionInfo_ToCount">
											</validation-messages>
										</div>
									</div>
									<div class="col-md-4 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="AcceptChange1" class="checkbox">
													<input id="AcceptChange1" type="checkbox" name="AcceptChange1"
														[(ngModel)]="freePromotion.allFrom"
														(change)="changeFromCount(freePromotion.allFrom)">
													{{l("All")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addFreeFrom()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>
								<div class="row margin-top-10">
									<div class="col-sm-12">
										<table class="table table-striped table-bordered">
											<caption>
												<b> {{l("BuyItems")}}</b>
											</caption>
											<thead>
												<tr>
													<th style="width: 50px;"></th>
													<th style="width: 150px;">{{l("Product group")}}</th>
													<th style="width: 150px;">{{l("Category")}}</th>
													<th style="width: 150px;">{{l("Menu")}}</th>
													<th style="width: 150px;">{{l("Portion")}}</th>
												</tr>
											</thead>
											<tr>
											<tr *ngFor="let data of freePromotion.from; let index = index">
												<td style="width: 50px;">
													<button type="button" class="btn btn-primary text-uppercase"
														(click)="removeFreeFrom(index)">
														<i class="fa fa-trash"></i>
														<span></span>
													</button>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = true">
														<button type="button" (click)="openProductGroups()" [name]="'freePromotionfrom_productGroup'+ index" class="btn btn-primary text-uppercase">
															{{data.productGroupId? data.productGroupName : l('Product Group')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = true">
														<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)"
														[name]="'freePromotionfrom_category'+ index" class="btn btn-primary text-uppercase">
														{{data.categoryId? data.categoryName : l('Category')}}
													</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = true">
														<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'freePromotionfrom_menuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemId? data.menuItemName : l('MenuItem')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = true">
														<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'freePromotionfrom_portionmenuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemPortionId? data.portionName : l('Portion')}}
														</button>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addFreeTo()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>

								<div class="row margin-top-10">
									<div class="col-sm-12">
										<caption>
											<b> {{l("FreeItems")}}</b>
										</caption>
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th style="width: 50px;"></th>
													<th style="width: 150px;">{{l("Product group")}}</th>
													<th style="width: 150px;">{{l("Category")}}</th>
													<th style="width: 150px;">{{l("Menu")}}</th>
													<th style="width: 150px;">{{l("Portion")}}</th>
												</tr>
											</thead>
											<tr>
											<tr *ngFor="let data of freePromotion.to; let index = index">
												<td style="width: 50px;">
													<button type="button" class="btn btn-primary text-uppercase"
														(click)="removeFreeTo(index)">
														<i class="fa fa-trash"></i>
														<span></span>
													</button>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = false">
														<button type="button" (click)="openProductGroups()" [name]="'freePromotionTo_productGroups'+ index" class="btn btn-primary text-uppercase">
															{{data.productGroupId? data.productGroupName : l('Product Group')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = false">
														<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" [name]="'freePromotionTo_categoryId'+ index" class="btn btn-primary text-uppercase">
															{{data.categoryId? data.categoryName : l('Category')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">
														<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'freePromotionTo_menuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemId? data.menuItemName : l('MenuItem')}}
														</button>


													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = false">
														<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'freePromotionTo_portionmenuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemPortionId? data.portionName : l('Portion')}}
														</button>

													</div>
												</td>

											</tr>
										</table>
									</div>
								</div>
							</tab>

							<tab heading='{{l("FreeValuePromotion")}}' tabindex="10" *ngIf="promotion.promotionTypeId==5"
								class="p-5">
								<div class="row margin-bottom-5">
									<div class="col-xs-12">
										<div class="m-heading-1 border-green m-bordered">
											<p> {{l("FreeValuePromotionInfo")}} </p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label">{{l("BuyItemsCount")}}</label>
											<input type="number" class="form-control"
												[(ngModel)]="freeValuePromotion.fromCount"
												[disabled]="fromCountValueLocked" min="1"
												placeholder='{{l("BuyItemsCount")}}' required
												name="FreePromotionValueInfo_FromCount"
												#FreePromotionValueInfo_FromCount="ngModel">
											<validation-messages [formCtrl]="FreePromotionValueInfo_FromCount">
											</validation-messages>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="FreePromotionValueInfo_allFrom" class="checkbox">
													<input id="FreePromotionValueInfo_allFrom" type="checkbox"
														name="FreePromotionValueInfo_allFrom"
														[(ngModel)]="freeValuePromotion.allFrom"
														(change)="changeFromValueCount(freeValuePromotion.allFrom)">
													{{l("All")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addFreeValueFrom()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>
								<div class="row margin-top-10">
									<div class="col-sm-12">
										<caption>
											<b> {{l("BuyItems")}}</b>
										</caption>
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th style="width: 50px;"></th>
													<th style="width: 150px;">{{l("Product Group")}}</th>
													<th style="width: 150px;">{{l("Category")}}</th>
													<th style="width: 150px;">{{l("Menu")}}</th>
													<th style="width: 150px;">{{l("Portion")}}</th>
												</tr>
											</thead>
											<tr>
											<tr *ngFor="let data of freeValuePromotion.from; let index = index">
												<td style="width: 50px;">
													<button type="button" class="btn btn-primary text-uppercase"
														(click)="removeFreeValueFrom(index)">
														<i class="fa fa-trash"></i>
														<span></span>
													</button>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = true">
														<button type="button" (click)="openProductGroups()" [name]="'freeValuePromotionFrom_productGroups'+ index" class="btn btn-primary text-uppercase">
															{{data.productGroupId? data.productGroupName : l('Product Group')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = true">
														<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" [name]="'freeValuePromotionFrom_categoryId'+ index" class="btn btn-primary text-uppercase">
															{{data.categoryId? data.categoryName : l('Category')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = true">
														<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'freeValuePromotionFrom_menuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemId? data.menuItemName : l('MenuItem')}}
														</button>

													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index; isPromotionFreeFrom = true">
														<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'freeValuePromotionFrom_portionmenuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemPortionId? data.portionName : l('Portion')}}
														</button>

													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addFreeValueTo()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>

								<div class="row margin-top-10">
									<div class="col-sm-12">
										<div class="table-scrollable table-scrollable-borderless">
											<caption>
												<b> {{l("FreeItems")}}</b>
											</caption>
											<table class="table table-hover table-light">
												<thead>
													<tr>
														<th style="width: 50px;"></th>
														<th style="width: 150px;">{{l("Product group")}}</th>
														<th style="width: 150px;">{{l("Category")}}</th>
														<th style="width: 150px;">{{l("Menu")}}</th>
														<th style="width: 150px;">{{l("Portion")}}</th>
														<th style="width: 150px;">{{l("Type")}}</th>
														<th style="width: 150px;">{{l("Value")}}</th>
													</tr>
												</thead>
												<tr>
												<tr *ngFor="let data of freeValuePromotion.to; let index = index">
													<td style="width: 50px;">
														<button type="button" class="btn btn-primary text-uppercase"
															(click)="removeFreeValueTo(index)">
															<i class="fa fa-trash"></i>
															<span></span>
														</button>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index; isPromotionFreeFrom = false">
															<button type="button" (click)="openProductGroups()" [name]="'freeValuePromotionTo_productGroups'+ index" class="btn btn-primary text-uppercase">
																{{data.productGroupId? data.productGroupName : l('Product Group')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index; isPromotionFreeFrom = false">

														<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" [name]="'freeValuePromotionTo_categoryId'+ index" class="btn btn-primary text-uppercase">
															{{data.categoryId? data.categoryName : l('Category')}}
														</button>
													</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index; isPromotionFreeFrom = false">
															<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'freeValuePromotionTo_menuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemId? data.menuItemName : l('MenuItem')}}
															</button>

														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index; isPromotionFreeFrom = false">
															<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'freeValuePromotionTo_portionmenuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemPortionId? data.portionName : l('Portion')}}
															</button>

														</div>
													</td>
													<td style="width: 150px;">
														<select class="form-control" [(ngModel)]="data.valueType"
															[name]="'freeValuePromotionTo_valueType'+ index" required>
															<option *ngFor="let type of promotionValueTypes"
																[value]="type.value">
																{{type.displayText}}
															</option>
														</select>
													</td>
													<td style="width: 150px;">
														<input type="number" class="form-control"
															[(ngModel)]="data.value" placeholder='{{l("Value")}}'
															[name]="'freeValuePromotionTo_value'+ index" required>
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</tab>

							<!-- OrderPromotion -->
							<tab heading='{{l("OrderPromotion")}}' tabindex="11" *ngIf="promotion.promotionTypeId==6 || promotion.promotionTypeId==9 "
								class="p-5">
								<div class="row margin-bottom-5">
									<div class="col-xs-12">
										<div class="m-heading-1 border-green m-bordered">
											<p> {{l("DemandPromotionInfo")}} </p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label">{{l("Caption")}}*</label>
											<textarea type="text" [(ngModel)]="demandPromotion.buttonCaption"
												name="demandPromotion_buttonCaption"
												#demandPromotion_buttonCaption="ngModel"
												class="form-control text-uppercase" rows="2" required></textarea>
											<validation-messages [formCtrl]="demandPromotion_buttonCaption">
											</validation-messages>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 ">
										<div class="form-group">
											<label for="demandPromotion_promotionValueType">{{l("PromotionType")}}
												*</label>
											<select id="demandPromotion_promotionValueType" class="form-control"
												[(ngModel)]="demandPromotion.promotionValueType"
												name="promotionValueType" required
												#demandPromotion_promotionValueType="ngModel">

												<option *ngFor="let type of promotionValueTypes" [value]="type.value">
													{{type.displayText}}
												</option>
											</select>
											<validation-messages [formCtrl]="demandPromotion_promotionValueType">
											</validation-messages>
										</div>
									</div>
									<div class="col-md-3 ">
										<div class="form-group">
											<label class="control-label">{{l("PromotionValue")}}*</label>
											<input type="number" class="form-control"
												[(ngModel)]="demandPromotion.promotionValue"
												name="demandPromotion_promotionValue"
												class="form-control text-uppercase" required
												#demandPromotion_promotionValue="ngModel">
											<validation-messages [formCtrl]="demandPromotion_promotionValue">
											</validation-messages>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="demandPromotion_promotionOverride" class="checkbox">
													<input id="demandPromotion_promotionOverride" type="checkbox"
														[(ngModel)]="demandPromotion.promotionOverride"
														name="demandPromotion_promotionOverride">

													{{l("Apply Always")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="demandPromotion_askReference" class="checkbox">
													<input id="demandPromotion_askReference" type="checkbox"
														[(ngModel)]="demandPromotion.askReference"
														name="demandPromotion_askReference">

													{{l("Ask Reference")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="demandPromotion_authentionRequired" class="checkbox">
													<input id="demandPromotion_authentionRequired" type="checkbox"
														[(ngModel)]="demandPromotion.authenticationRequired"
														name="demandPromotion_authentionRequired">

													{{l("AuthenticationRequired")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="demandPromotion_promotionApplyOnce" class="checkbox">
													<input id="demandPromotion_promotionApplyOnce" type="checkbox"
														[(ngModel)]="demandPromotion.promotionApplyOnce"
														name="demandPromotion_promotionApplyOnce">

													{{l("Apply Once")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3 " *ngIf="demandPromotion.promotionApplyOnce== true">
										<div class="form-group">
											<label>{{l("Apply Type")}}</label>
											<div class="">
												<select id="demandPromotion_promotionApplyType" class="form-control"
													[(ngModel)]="demandPromotion.promotionApplyType"
													name="demandPromotion_promotionApplyType">
													<ng-container *ngFor="let type of applyTypes">
														<option [value]="type.value">
															{{type.displayText}}
														</option>
													</ng-container>
												</select>
											</div>
										</div>
									</div>

								</div>
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addDemandPromosExes()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>

								<div class="row margin-top-10">
									<div class="col-sm-12">
										<div class="table-scrollable table-scrollable-borderless">
											<table class="table table-hover table-light">
												<thead>
													<tr>
														<th></th>
														<th>{{l("Product group")}}
														</th>
														<th>{{l("Category")}}
														</th>
														<th>{{l("Menu")}}
														</th>
														<th>{{l("Portion")}}
														</th>
													</tr>
												</thead>
												<tr>
												<tr
													*ngFor="let data of demandPromotion.demandPromotionExecutions; let index = index">
													<td style="width: 50px;">
														<button type="submit" class="btn btn-primary text-uppercase"
															(click)="removeDemandPromosExes(index)">
															<i class="fa fa-trash"></i>
															<span></span>
														</button>
													</td>
													<td style="width: 150px;">

														<div (click)="currentIndex = index">
															<button type="button" (click)="openProductGroups()" [name]="'demandPromotion_productGroups'+ index" class="btn btn-primary text-uppercase">
																{{data.productGroupId? data.productGroupName : l('Product Group')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)="currentIndex = index">
															<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" [name]="'demandPromotion_categoryId'+ index" class="btn btn-primary text-uppercase">
																{{data.categoryId? data.categoryName : l('Category')}}
															</button>
														</div>
													</td>


													<td style="width: 150px;">
														<div (click)=" currentIndex = index">
															<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'demandPromotion_menuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemId? data.menuItemName : l('MenuItem')}}
															</button>
														</div>
													</td>
													<td style="width: 150px;">
														<div (click)=" currentIndex = index">
															<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'demandPromotion_portionmenuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemPortionId? data.portionName : l('Portion')}}
															</button>
														</div>
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</tab>

							<!-- FreeItemPromotion -->
							<tab heading='{{l("FreeItemPromotion")}}' tabindex="12" *ngIf="promotion.promotionTypeId==7"
								class="p-5">
								<div class="row margin-bottom-5">
									<div class="col-xs-12">
										<div class="m-heading-1 border-green m-bordered">
											<p> {{l("Standard Free Items during a Special Occasion. Free Coffee")}} </p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="FreeItemPromotion_confirmation" class="checkbox">
													<input id="FreeItemPromotion_confirmation" type="checkbox"
														[(ngModel)]="freeItemPromotion.confirmation"
														name="FreeItemPromotion_confirmation">

													{{l("Confirmation")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="FreeItemPromotion_multipleTimes" class="checkbox">
													<input id="FreeItemPromotion_multipleTimes" type="checkbox"
														[(ngModel)]="freeItemPromotion.multipleTimes"
														name="FreeItemPromotion_multipleTimes">

													{{l("MultipleTimes")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label">{{l("ItemCount")}}</label>
											<input type="text" class="form-control"
												[(ngModel)]="freeItemPromotion.itemCount"
												name="FreeItemPromotion_itemCount" placeholder='{{l("ItemCount")}}'
												required #FreeItemPromotion_itemCount="ngModel">
											<validation-messages [formCtrl]="FreeItemPromotion_itemCount">
											</validation-messages>
										</div>
									</div>
									<div class="col-md-6" *ngIf="freeItemPromotion.multipleTimes">
										<div class="form-group">
											<label class="control-label">{{l("TicketTotal")}}</label>
											<input type="number" class="form-control"
												[(ngModel)]="freeItemPromotion.totalAmount"
												name="FreeItemPromotion_totalAmount" placeholder='{{l("TotalAmount")}}'>
										</div>
									</div>
								</div>
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addFreeItem()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>

								<div class="row margin-top-10">
									<div class="col-sm-12">
										<div class="table-scrollable table-scrollable-borderless">
											<caption>
												<b> {{l("FreeItems")}}</b>
											</caption>
											<table class="table table-hover table-light">
												<thead>
													<tr>
														<th></th>
														<th>{{l("Menu")}}</th>
														<th>{{l("Price")}}
														</th>
													</tr>
												</thead>
												<tr>
												<tr
													*ngFor="let data of freeItemPromotion.executions; let index = index">
													<td style="width: 50px;">
														<button type="submit" class="btn btn-primary text-uppercase"
															(click)="removeFreeItem(index)">
															<i class="fa fa-trash"></i>
															<span></span>
														</button>
													</td>
													<td style="width: 150px;">
														<div (click)=" currentIndex = index">
															<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'freePromotionFrom_menuItemId'+ index" class="btn btn-primary text-uppercase">
																{{data.menuItemPortionId? data.portionName : l('MenuItem')}}
															</button>
														</div>

													</td>
													<td style="width: 150px;">
														<input type="number" class="form-control"
															[(ngModel)]="data.price"
															[name]="'freePromotionFrom_price'+ index"
															placeholder='{{l("Value")}}'>
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</tab>

							<tab heading='{{l("TicketDiscountPromotion")}}' tabindex="13"
								*ngIf="promotion.promotionTypeId==8 || promotion.promotionTypeId==10" class="p-5">
								<div class="row margin-bottom-5">
									<div class="col-xs-12">
										<div class="m-heading-1 border-green m-bordered">
											<p> {{"TicketDiscountPromotionInfo" | localize}}</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label">{{"Caption" | localize}} *</label>
											<textarea type="text" [(ngModel)]="ticketDiscountPromotion.buttonCaption"
												class="form-control text-uppercase" rows="2"
												name="TicketDiscount_buttonCaption" required
												#ticketDiscountPromotion_buttonCaption="ngModel"></textarea>
											<validation-messages [formCtrl]="ticketDiscountPromotion_buttonCaption">
											</validation-messages>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label">{{"PromotionType" | localize}} *</label>
											<select id="ticketDiscountPromotion_promotionValueType" class="form-control"
												[(ngModel)]="ticketDiscountPromotion.promotionValueType"
												name="TicketDiscount_promotionValueType" required
												#ticketDiscountPromotion_promotionValueType="ngModel">

												<option *ngFor="let type of promotionValueTypes" [value]="type.value">
													{{type.displayText}}
												</option>
											</select>

											<validation-messages
												[formCtrl]="ticketDiscountPromotion_promotionValueType">
											</validation-messages>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label">{{"PromotionValue" | localize}} *</label>
											<input type="number" class="form-control"
												[(ngModel)]="ticketDiscountPromotion.promotionValue"
												class="form-control text-uppercase" name="TicketDiscount_promotionValue"
												required #ticketDiscountPromotion_promotionValue="ngModel">
											<validation-messages [formCtrl]="ticketDiscountPromotion_promotionValue">
											</validation-messages>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="ticketDiscountPromotion_askReference" class="checkbox">
													<input id="ticketDiscountPromotion_askReference" type="checkbox"
														[(ngModel)]="ticketDiscountPromotion.askReference"
														name="ticketDiscountPromotion_askReference">

													{{l("AskReferenceCode")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="ticketDiscountPromotion_authentionRequired"
													class="checkbox">
													<input id="ticketDiscountPromotion_authentionRequired"
														type="checkbox"
														[(ngModel)]="ticketDiscountPromotion.authenticationRequired"
														name="ticketDiscountPromotion_authentionRequired">
													{{l("AuthenticationRequired")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3 " *ngIf=" promotion.promotionTypeId==10">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="ticketDiscountPromotion_applyAsPayment"
													class="checkbox">
													<input id="ticketDiscountPromotion_applyAsPayment"
														type="checkbox"
														[(ngModel)]="ticketDiscountPromotion.applyAsPayment"
														name="ticketDiscountPromotion_applyAsPayment">
													{{l("Apply As Payment")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 ">
										<div class="form-group">
											<div class="checkbox-list">
												<label for="ticketDiscountPromotion_promotionApplyOnce" class="checkbox">
													<input id="ticketDiscountPromotion_promotionApplyOnce" type="checkbox"
														[(ngModel)]="ticketDiscountPromotion.promotionApplyOnce"
														name="ticketDiscountPromotion_promotionApplyOnce">

													{{l("Apply Once")}}
													<span></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-3 " *ngIf="ticketDiscountPromotion.promotionApplyOnce== true">
										<div class="form-group">
											<label>{{l("Apply Type")}}</label>
											<div class="">
												<select id="ticketDiscountPromotion_promotionApplyType" class="form-control"
													[(ngModel)]="ticketDiscountPromotion.promotionApplyType"
													name="ticketDiscountPromotion">
													<ng-container *ngFor="let type of applyTypes">
														<option [value]="type.value">
															{{type.displayText}}
														</option>
													</ng-container>
												</select>
											</div>
										</div>
									</div>

								</div>
							</tab>
							<tab heading='{{l("BuyXAndYAtZValue")}}' tabindex="14"
								*ngIf="promotion.promotionTypeId==11" class="p-5">
								<div class="row margin-bottom-5">
									<div class="col-xs-12">
										<div class="m-heading-1 border-green m-bordered">
											<p> {{l("FreePromotionInfo")}} </p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 ">
										<div class="form-group">
											<label class="control-label">{{l("ItemCount")}}</label>
											<input type="number" class="form-control" [(ngModel)]="buyXAndYAtZValuePromotion.itemCount" min="1"
												placeholder='{{l("BuyItemsCount")}}' name="buyXAndYAtZValuePromotion_itemCount">
										</div>
									</div>
									<div class="col-md-4 ">
										<div class="form-group">
											<label class="control-label">{{l("Value")}}</label>
											<input type="number" class="form-control"
												[(ngModel)]="buyXAndYAtZValuePromotion.value"
												placeholder='{{l("Value")}}' min="1"
												name="buyXAndYAtZValuePromotion_value">

										</div>
									</div>

								</div>
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addBuyXAndYAtZValue()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>
								<div class="row margin-top-10">
									<div class="col-sm-12">
										<caption>
											<b> {{l("BuyItems")}}</b>
										</caption>
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th style="width: 50px;"></th>
													<th style="width: 150px;">{{l("Product group")}}</th>
													<th style="width: 150px;">{{l("Category")}}</th>
													<th style="width: 150px;">{{l("Menu")}}</th>
													<th style="width: 150px;">{{l("Portion")}}</th>
												</tr>
											</thead>
											<tr>
											<tr *ngFor="let data of buyXAndYAtZValuePromotion.buyXAndYAtZValueExecutions; let index = index">
												<td style="width: 50px;">
													<button type="button" class="btn btn-primary text-uppercase"
														(click)="removeBuyXAndYAtZValue(index)">
														<i class="fa fa-trash"></i>
														<span></span>
													</button>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">
														<button type="button" (click)="openProductGroups()" [name]="'buyXAndYAtZValuePromotion_productGroup'+ index" class="btn btn-primary text-uppercase">
															{{data.productGroupId? data.productGroupName : l('Product Group')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">
														<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" [name]="'buyXAndYAtZValuePromotion_category'+ index" class="btn btn-primary text-uppercase">
															{{data.categoryId? data.categoryName : l('Category')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">
														<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'buyXAndYAtZValuePromotion_menuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemId? data.menuItemName : l('MenuItem')}}
														</button>

													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">
														<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'buyXAndYAtZValuePromotion_menuItemId_portionmenuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemPortionId? data.portionName : l('Portion')}}
														</button>

													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</tab>
							<tab heading='{{l("Step Discount")}}' tabindex="15"
								*ngIf="promotion.promotionTypeId==12" class="p-5">
								<div class="row">
									<div class="col-md-6 ">
										<div class="form-group">
											<label class="control-label">{{l("Step Type")}}</label>
												<select [id]="'stepDiscountPromotion_stepDiscountType'+ index" class="form-control" [(ngModel)]="stepDiscountPromotion.stepDiscountType"
													[name]="'stepDiscountPromotion_stepDiscountType'+ index">
													<option *ngFor="let type of stepDiscountTypes" [value]="+type.value">
														{{type.displayText}}
													</option>
												</select>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
												<div class="checkbox-list">
													<label for="stepDiscountPromotion_applyForEachQuantity" class="checkbox">
														<input id="stepDiscountPromotion_applyForEachQuantity" type="checkbox"
															name="stepDiscountPromotion_applyForEachQuantity"
															[(ngModel)]="stepDiscountPromotion.applyForEachQuantity"
															>
														{{l("ApplyForEachQuantity")}}
														<span></span>
													</label>
												</div>

										</div>
									</div>
								</div>

								<div class="row">
									<caption class="col-md-12">
										<b> {{l("Step Discount")}}</b>
									</caption>
									<form #promotionFormStepDiscount="ngForm" novalidate autocomplete="off" class="row col-md-12">
										<div class="col-md-6 ">
											<div class="form-group">
												<label class="control-label">{{stepDiscountTypes[stepDiscountPromotion.stepDiscountType]?.displayText}}
													*</label>
												<input class="form-control" id="stepDiscountExecutions_promotionStepTypeValue" type="number" min="0"
													name="stepDiscountExecutions_promotionStepTypeValue"
													[(ngModel)]="stepDiscountExecutions.promotionStepTypeValue" required
													#stepDiscountExecutions_promotionStepTypeValue="ngModel">
												<validation-messages [formCtrl]="stepDiscountExecutions_promotionStepTypeValue">
												</validation-messages>
											</div>
										</div>

										<div class="col-md-6 ">
											<div class="form-group">
												<label class="control-label">{{l("Type")}} *</label>
												<select [id]="'stepDiscountExecutions_stepDiscountType'+ index" class="form-control"
													[(ngModel)]="stepDiscountExecutions.promotionValueType"
													[name]="'stepDiscountExecutions_stepDiscountType'+ index" required
													#stepDiscountExecutions_stepDiscountType="ngModel">
													<option></option>
													<option *ngFor="let type of promotionValueTypes" [value]="+type.value">
														{{type.displayText}}
													</option>
												</select>
												<validation-messages [formCtrl]="stepDiscountExecutions_stepDiscountType">
												</validation-messages>
											</div>
										</div>
										<div class="col-md-6 ">
											<div class="form-group">
												<label class="control-label">{{l("Promotion Value")}} *</label>
												<input class="form-control" id="stepDiscountPromotion_promotionStepTypeValue" type="number" min="0"
													name="stepDiscountPromotion_promotionStepTypeValue" [(ngModel)]="stepDiscountExecutions.promotionValue"
													required #stepDiscountPromotion_promotionStepTypeValue="ngModel">
												<validation-messages [formCtrl]="stepDiscountPromotion_promotionStepTypeValue">
												</validation-messages>
											</div>
										</div>

										<div class="col-md-6 ">
											<div class="">
												<label class="control-label"></label>
												<button type="button" class="btn btn-primary text-uppercase add-step-discount-promotion" [disabled]="!promotionFormStepDiscount.form.valid" (click)="addStepDiscountPromotion()">
													<i class="fa fa-plus"></i>
													<span>{{"Add" | localize}}</span>
												</button>
											</div>
										</div>
									</form>

									<div class="col-md-12">
										<table class="table table-striped table-bordered">

											<thead>
												<tr>
													<th style="width: 150px;">{{l(stepDiscountTypes[stepDiscountPromotion.stepDiscountType]?.displayText)}}</th>
													<th style="width: 150px;">{{l("Type")}}</th>
													<th style="width: 150px;">{{l("Value")}}</th>
													<th style="width: 150px;">{{l("Delete")}}</th>
												</tr>
											</thead>
											<tr *ngFor="let data of stepDiscountPromotion.stepDiscountPromotionExecutions; let index = index">
												<td>{{data.promotionStepTypeValue}}</td>
												<td>{{data.promotionValueType}}</td>
												<td>{{data.promotionValue}}</td>
												<td>
													<button type="button" class="btn btn-primary text-uppercase"
														(click)="removeStepDiscountPromotion(index)">
														<i class="fa fa-trash"></i>
														<span></span>
													</button>
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="row  mt-2">
									<div class="col-md-12 text-right mb-2">
										<button type="button" class="btn btn-primary text-uppercase"
											(click)="addStepDiscountPromotionMappingExecution()">
											<i class="fa fa-plus"></i>
											<span>{{"Add" | localize}}</span>
										</button>
									</div>
								</div>
								<div class="row margin-top-10">
									<caption class="col-sm-12">
										<b> {{l("Step Discount Mapping")}}</b>
									</caption>
									<div class="col-sm-12">

										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th style="width: 50px;"></th>
													<th style="width: 150px;">{{l("Product group")}}</th>
													<th style="width: 150px;">{{l("Category")}}</th>
													<th style="width: 150px;">{{l("Menu")}}</th>
													<th style="width: 150px;">{{l("Portion")}}</th>
												</tr>
											</thead>
											<tr>
											<tr *ngFor="let data of stepDiscountPromotion.stepDiscountPromotionMappingExecutions; let index = index">
												<td style="width: 50px;">
													<button type="button" class="btn btn-primary text-uppercase"
														(click)="removeStepDiscountPromotionMappingExecution(index)">
														<i class="fa fa-trash"></i>
														<span></span>
													</button>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">
														<button type="button" (click)="openProductGroups()" [name]="'stepDiscountPromotionMapping_productGroup'+ index" class="btn btn-primary text-uppercase">
															{{data.productGroupId? data.productGroupName : l('Product Group')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">

														<button type="button" (click)="opencategories(data.productGroupId, data.categoryId)" [name]="'stepDiscountPromotionMapping_category'+ index" class="btn btn-primary text-uppercase">
															{{data.categoryId? data.categoryName : l('Category')}}
														</button>
													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">
														<button type="button" (click)="openMenuItems(data.categoryId, data.menuItemId)" [name]="'stepDiscountPromotionMapping_menuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemId? data.menuItemName : l('MenuItem')}}
														</button>

													</div>
												</td>
												<td style="width: 150px;">
													<div (click)="currentIndex = index">
														<button type="button" (click)="openPortions(data.menuItemId,data.menuItemPortionId)" [name]="'stepDiscountPromotionMapping_menuItemId_portionmenuItemId'+ index" class="btn btn-primary text-uppercase">
															{{data.menuItemPortionId? data.portionName : l('Portion')}}
														</button>

													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</tab>
						</tabset>

						<div class=" modal-footer">
							<button [disabled]="saving" type="button" class="btn btn-outline-secondary text-uppercase"
								(click)="close()">{{l("Cancel")}}</button>

							<button type="submit" class="btn btn-primary blue text-uppercase"
								[disabled]="!promotionForm.form.valid
								|| disabledSave
								|| disabledSaveforLastTab
								|| !promotion.promotionSchedules?.length
								|| !formIsValid
								|| (promotion.promotionTypeId==12 && !stepDiscountPromotion.stepDiscountPromotionExecutions?.length)"
								[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
								<span>{{l("Save")}}</span></button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
		</select-location-or-group>
		<select-item-modal #selectItemModal (itemSelected)="itemSelected($event)"></select-item-modal>
		<select-popup #selectPromotionModal [headers]="['Id','Name']" [dataBinding]="['id','name']"
			[loadData]="getPromotions()" (changeValue)="promotionsChange($event)" selectionMode="multiple"
			[selectedValue]="combineProList" [title]="l('SelectPromotion')"></select-popup>
		<select-product-group-modal #selectProductGroupsModal (selectedProductGroup)="getProductGroups($event)"></select-product-group-modal>
		<select-category-popup #selectCategoriesModal (changeValue)="getCategories($event)"></select-category-popup>
		<select-menu-item-popup #selectMenuItemModal (changeValue)="getMenuItem($event)"></select-menu-item-popup>
		<select-portion-popup #selectPortionsModal (changeValue)="getPortions($event)"></select-portion-popup>

	</div>
</div>

