@import 'assets/common/styles/dine-connect-customize.scss';
::ng-deep .bs-datepicker.custom-datepicker {
    .bs-datepicker-container.ng-trigger-datepickerAnimation {
        display: none;
    }

    .bs-datepicker-container.ng-trigger-datepickerAnimation.show {
        display: block;
    }
}
::ng-deep .ui-table .ui-table-tbody>tr>td.ui-editing-cell {

    padding: 0.571em 0.857em;
}
::ng-deep .form-control {
    display: inline-block;
}
.add-step-discount-promotion{
    margin-top: 2rem;
}
::ng-deep .tab_condition__hide{
    display: none;
}

::ng-deep .tab_condition__show{
    display: block;
}
.distribution_total_percentage{
    color: #0000ff;
}
::ng-deep .bs-datepicker-body .week{
    display: none !important;
}

::ng-deep .bs-datepicker-body table th:first-child{
    display: none !important;
}
