@import 'assets/common/styles/dine-connect-customize.scss';

.bs-datepicker.custom-datepicker {
    .bs-datepicker-container.ng-trigger-datepickerAnimation {
        display: none;
    }

    .bs-datepicker-container.ng-trigger-datepickerAnimation.show {
        display: block;
    }
}
.bs-datepicker-body .week{
    display: none;
}
.bs-datepicker-body table th:first-child {
    display: none;
}
