﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Promotions' | localize" [description]="'PromotionsHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getPromotionAllDeleted()">
                    {{l("Deleted")}}
                    <span></span>
                </label>
                <button (click)="sortPromotion()" class="btn btn-primary btn-bg-danger"> {{l("Sort")}}</button>

                <button (click)="exportToExcel()" class="btn btn-success">
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Promotions.Create')" (click)="createOrEditPromotion()"
                    class="btn btn-primary blue">
                    {{l("CreateNewPromotion")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <ng-template [ngIf]="!noFilter && !isDeleted">
                                    <div class="col-xl-6">
                                        <div class="form-group m-form__group">
                                            <div class="input-group">
                                                <input class="form-control" id="StartEndRange" name="StartEndRange" #drp
                                                    bsDaterangepicker dateRangePickerMomentModifier [(date)]="dateRange"
                                                    [bsConfig]="{ rangeInputFormat: 'YYYY-MM-DD',dateInputFormat: 'YYYY-MM-DD', ranges: ranges, containerClass:'custom-datepicker' }"
                                                    [placeholder]="l('DateRange')" (onShown)="showedDateRangePicker()"
                                                    (dateChange)="getPromotions()" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <p-dropdown [options]="promotionTypes" optionLabel="displayText"
                                                [filter]="true" styleClass="w-100"
                                                [placeholder]="l('SelectPromotionType')" name="promotionType"
                                                [(ngModel)]="promotionType">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </ng-template>

                                <div class="col-xl-12" *ngIf="!isDeleted">
                                    <div class="form-group">
                                        <div class="p-field-checkbox">
                                            <p-checkbox name="noFilter" binary="true" [(ngModel)]="noFilter"
                                                label="{{l('No Filter')}}" (onChange)="changeFilter()">
                                            </p-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <div class="has-search w-40">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                    class="form-control m-input form-control-solid"
                                                    [placeholder]="l('SearchWithThreeDot')" type="text">
                                            </div>
                                            <span class="input-group-btn">
                                                <button (click)="getPromotions()" class="btn btn-filter" type="submit">
                                                    <i class="fas fa-filter icon-filter"
                                                        [attr.aria-label]="l('Search')"></i>
                                                    <span>Filter</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-4">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-primary" type="button"
                                            (click)="openFilterSelectLocationsModal()">
                                            {{l("LocationOrGroup")}}
                                            <span *ngIf="getLocationsSelected(locationOrGroup)">:
                                                {{getLocationsSelected(locationOrGroup)}}</span>
                                        </button>
                                        <button type="button" class="btn btn-primary text-uppercase"
                                            (click)="refresh()">
                                            {{"Refresh" | localize}}
                                        </button>
                                        <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                            {{l("Search")}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getPromotions($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name') | uppercase}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="startDate">
                                            {{l('StartDate') | uppercase}}
                                            <p-sortIcon field="startDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="endDate">
                                            {{l('EndDate') | uppercase}}
                                            <p-sortIcon field="endDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="promotionTypeId">
                                            {{l('PromotionType') | uppercase}}
                                            <p-sortIcon field="promotionTypeId"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{l('CreationTime') | uppercase}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" class="text-right"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Promotions.Edit', 'Pages.Tenant.Connect.Promotions.Delete')">
                                            <span class="mr-5">
                                                {{l('Actions') | uppercase}}
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                            {{record.name}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('StartDate')}}</span>
                                            <span *ngIf="record.startDate">
                                                {{record.startDate | momentFormat:'L'}}
                                            </span>
                                            <span *ngIf="!record.startDate">-</span>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('EndDate')}}</span>
                                            <span *ngIf="record.endDate">
                                                {{record.endDate | momentFormat:'L'}}
                                            </span>
                                            <span *ngIf="!record.endDate">-</span>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('PromotionType')}}</span>
                                            {{record.promotionType}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('CreationTime') }}</span>
                                            {{ record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                                        </td>
                                        <td style="width: 130px" class="text-right"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Promotions.Edit', 'Pages.Tenant.Connect.Promotions.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                    <span class="caret"></span>
                                                    <span class="mr-5">{{"Actions" | localize}}</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                                    <li *ngIf="!isDeleted">
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Connect.Promotions.Edit')"
                                                            (click)="createOrEditPromotion(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li *ngIf="!isDeleted">
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Connect.Promotions.Delete')"
                                                            (click)="deletePromotion(record)">{{l('Delete')}}</a>
                                                    </li>
                                                    <li *ngIf="isDeleted">
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Connect.Promotions.Revert')"
                                                            (click)="revertPromotion(record)">{{l('Revert')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getPromotions($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setFilterLocations($event)">
</select-location-or-group>
<app-sort-item-promotion #sortItem (modalSave)="getPromotions($event)"></app-sort-item-promotion>
