<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!department.id ? l('CreateNewDepartment') : l('EditDepartment') + ': ' + department.name">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-primary">
                    <i class="fa fa-file"></i> {{ l('Locations') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #departmentForm="ngForm" novalidate class="form department-form" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Department_Code">{{ l('Code') }} *</label>
                                    <input autoFocus type="text" id="Department_Code" class="form-control"
                                        [(ngModel)]="department.code" name="Code" autofocus required
                                        #codeInput="ngModel" />
                                    <validation-messages [formCtrl]="codeInput"></validation-messages>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Department_Name">{{l("Name")}} *</label>
                                <div class="w-100 d-flex">
                                    <input type="text" id="Department_Name" class="form-control"
                                        [(ngModel)]="department.name" name="Name" required #nameInput="ngModel"
                                        [ngClass]="{'w-75': department.id}" />
                                    <div *ngIf="department.id" class="w-25">
                                        <button type="button" class="btn btn btn-primary pull-right"
                                            (click)="showLanguages()">
                                            {{l("Language")}}</button>

                                    </div>
                                </div>
                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Department_PriceTag">{{ l('PriceTag') }}
                                    </label>
                                    <a href="javascript:;" class="ml-3" *ngIf="department.priceTagId"
                                        (click)="department.priceTagId=null">Clear</a>
                                    <div class="input-group">
                                        <select id="Department_PriceTag" class="form-control"
                                            [(ngModel)]="department.priceTagId" name="priceTagId" #priceTagId="ngModel">
                                            <option *ngFor="let tag of priceTags" [value]="tag.value">
                                                {{ tag.displayText }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Department_PriceTag">{{ l('DepartmentGroup') }}</label>
                                    <p-dropdown [options]="departmentGroups" optionLabel="name" [filter]="true"
                                        [dataKey]="'id'" styleClass="w-100" [placeholder]="l('SelectDepartmentGroup')"
                                        name="departmentGroup" [ngModel]="{id: department.departmentGroupId}"
                                        (onChange)="department.departmentGroupId = $event?.value?.id">
                                    </p-dropdown>
                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="state">{{ l('DepartmentGroup') }}</label>
                                    <select
                                        id="stateId"
                                        class="form-control"
                                        [(ngModel)]="department.departmentGroupId"
                                        name="stateId"
                                    >
                                        <option [ngValue]="undefined">
                                            
                                        </option>
                                        <option *ngFor="let state of departmentGroups" [value]="state.id">
                                            {{ state.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Department_TicketType">{{ l('TicketType') }}</label>
                                    <div class="input-group">
                                        <select id="Department_TicketType" class="form-control"
                                            [(ngModel)]="department.ticketTypeId" name="ticketTypeId">
                                            <option *ngFor="let item of ticketTypes" [value]="item.value">
                                                {{ item.displayText }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                (click)="close()">{{ l('Cancel') }}</button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!departmentForm.form.valid"
                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
    </select-location-or-group>
    <!-- <select-location-modal #selectLocationModal (locationAdded)="getLocations($event)"></select-location-modal> -->
    <createOrEditLanguageDescriptionModal #createOrEditLanguageDescriptionModal> </createOrEditLanguageDescriptionModal>
</div>