<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'Printing' | localize" [description]="'PrintingInfo' | localize">
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <tabset class="tab-container tabbable-line">
            <tab heading="{{l('BasicInformation')}}" customClass="m-tabs__item" [active]="firstTab" class="p-5">
              <form class="form" #printForm="ngForm" novalidate (ngSubmit)="next()" autocomplete="off">
                <div class="row align-items-center mb-4">
                  <div class="form-group col-md-6">
                    <label for="Printer_Name">{{l("Name")}} *</label>
                    <input type="text" id="Printer_Name" class="form-control" [(ngModel)]="printInput.name" name="Name"
                      minlength="0" maxlength="50" required />
                  </div>

                  <div class="form-group col-md-6">
                    <label for="Printer_Number">{{l("Number")}}</label>
                    <input type="text" id="Printer_Number" class="form-control" [(ngModel)]="printInput.number"
                      name="Number" />
                  </div>

                  <div class="col-md-6 form-group">
                    <label for="Printer_Address">{{l("Address")}}</label>
                    <input id="Printer_Address" class="form-control" type="text" name="Address"
                      [(ngModel)]="printInput.address">

                  </div>

                  <div class="col-md-6 form-group">
                    <label for="Printer_Zone">{{l("Zone")}}</label>
                    <input id="Printer_Zone" type="text" class="form-control" name="Zone" [(ngModel)]="printInput.zone">

                  </div>
                  <div class="col-md-6 form-group">
                    <label for="Printer_ChoiceOfMeal">
                      {{l("ChoiceOfMeal")}}
                    </label>
                    <input id="Printer_ChoiceOfMeal" class="form-control" type="text" name="ChoiceOfMeal"
                      [(ngModel)]="printInput.choiceOfMeal">
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="Printer_Remarks">{{l("Remarks")}}</label>
                    <input id="Printer_Remarks" class="form-control" type="text" name="Remarks"
                      [(ngModel)]="printInput.remarks">
                  </div>
                </div>
                <div class=" modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="clear()">{{l("Clear")}}</button>
                  <button type="submit" class="btn btn-primary blue" [disabled]="!printForm.form.valid">
                    <i class="fa fa-print"></i>
                    <span>{{l("Next")}}</span></button>
                </div>
              </form>
            </tab>
            <tab heading="{{l('ConfigOptions')}}" customClass="m-tabs__item" [active]="!firstTab" class="p-5">
              <form #printConfigForm="ngForm" novalidate (ngSubmit)="print()" autocomplete="off">
                <div class="modal-body">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <legend class="col-md-12">Config Options</legend>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="pxlColorType">{{l("ColorType")}}</label>
                            <select id="pxlColorType" class="form-control" name="ColorType"
                              [(ngModel)]="printConfigOptions.colorType">
                              <option value="color">Color</option>
                              <option value="grayscale">Grayscale</option>
                              <option value="blackwhite">Black & White</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Units</label>
                            <div class="radio-inline">
                              <label class="radio">
                                <input type="radio" name="pxlUnits" value="in"
                                  [(ngModel)]="printConfigOptions.units" />IN
                                <span></span>
                              </label>
                              <label class="radio">
                                <input type="radio" name="pxlUnits" value="mm" [(ngModel)]="printConfigOptions.units" />
                                MM
                                <span></span>
                              </label>
                              <label class="radio">
                                <input type="radio" name="pxlUnits" value="cm"
                                  [(ngModel)]="printConfigOptions.units" />CM
                                <span></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="pxlCopies">Copies</label>
                            <input type="number" id="pxlCopies" class="form-control" name="pxlCopies"
                              [(ngModel)]="printConfigOptions.copies" />
                          </div>
                        </div>
                        <div class="col-md-6">

                          <div class="form-group">
                            <label for="pxlDensity" title="DPI, DPCM, or DPMM depending on units specified">Density
                            </label>
                            <input type="number" id="pxlDensity" class="form-control" name="pxlDensity"
                              [(ngModel)]="printConfigOptions.density" />
                          </div>
                        </div>
                        <div class="col-md-6">

                          <div class="form-group">
                            <label for="pxlInterpolation">Interpolation</label>
                            <select id="pxlInterpolation" class="form-control" name="pxlInterpolation"
                              [(ngModel)]="printConfigOptions.interpolation">
                              <option value="">Default</option>
                              <option value="bicubic">Bicubic</option>
                              <option value="bilinear">Bilinear</option>
                              <option value="nearest-neighbor">Nearest Neighbor</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">

                          <div class="form-group">
                            <label class="tip" for="pxlJobName" data-toggle="tooltip"
                              title="Job title as it appears in print queue">
                              Job Name
                            </label>
                            <input type="text" id="pxlJobName" class="form-control" name="pxlJobName"
                              [(ngModel)]="printConfigOptions.jobName" />
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="pxlOrientation">Orientation</label>
                            <select id="pxlOrientation" name="pxlOrientation"
                              [(ngModel)]="printConfigOptions.orientation" class="form-control">
                              <option value="">Default</option>
                              <option value="portrait">Portrait</option>
                              <option value="landscape">Landscape</option>
                              <option value="reverse-landscape">Landscape - Reverse</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="pxlPaperThickness">Paper Thickness</label>
                            <input disabled type="number" step="any" id="pxlPaperThickness" class="form-control"
                              name="pxlPaperThickness" [(ngModel)]="printConfigOptions.paperThickness" />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="pxlPrinterTray">Printer Tray</label>
                            <input type="text" id="pxlPrinterTray" class="form-control" name="pxlPrinterTray"
                              [(ngModel)]="printConfigOptions.printerTray" />
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="pxlRotation">Rotation</label>
                            <input type="number" step="any" id="pxlRotation" class="form-control" name="pxlRotation"
                              [(ngModel)]="printConfigOptions.rotation" />
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="m-checkbox-list">
                              <label for="pxlDuplex" class="checkbox">
                                <input id="pxlDuplex" type="checkbox" name="pxlDuplex"
                                  [(ngModel)]="printConfigOptions.duplex">
                                {{l("Duplex")}}
                                <span></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="m-checkbox-list">
                              <label for="pxlLegacy" class="checkbox">
                                <input id="pxlLegacy" type="checkbox" name="pxlLegacy"
                                  [(ngModel)]="printConfigOptions.legacy">
                                {{l("Legacy Printing")}}
                                <span></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="m-checkbox-list">
                              <label for="pxlRasterize" class="checkbox">
                                <input id="pxlRasterize" type="checkbox" name="pxlRasterize"
                                  [(ngModel)]="printConfigOptions.rasterize">
                                {{l("Rasterize")}}
                                <span></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="m-checkbox-list">
                              <label for="pxlScale" class="checkbox">
                                <input id="pxlScale" type="checkbox" name="pxlScale"
                                  [(ngModel)]="printConfigOptions.scale">
                                {{l("Scale Content")}}
                                <span></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="pxlMargins" class="tip" data-toggle="tooltip"
                              title="In relation to units specified">Margins</label>
                            (
                            <label for="pxlMarginsActive" class="checkbox">
                              <input id="pxlMarginsActive" type="checkbox" name="pxlMarginsActive"
                                [(ngModel)]="printConfigOptions.marginsActive">
                              {{l("Individual:")}}
                              <span></span>
                            </label>
                            )
                            <input *ngIf="!printConfigOptions.marginsActive" type="number" step="any" id="pxlMargins"
                              class="form-control" name="pxlMargins" [(ngModel)]="printConfigOptions.margins" />
                          </div>
                          <div *ngIf="printConfigOptions.marginsActive" id="pxlMarginsGroup" class="col-md-12">
                            <div class="form-group form-inline">
                              <label for="pxlMarginsTop" class="form-child_label">Top:</label>
                              <input type="number" step="any" id="pxlMarginsTop" class="form-control mr-2"
                                name="pxlMarginsTop" [(ngModel)]="printConfigOptions.marginsTop" />
                            </div>
                            <div class="form-group form-inline">
                              <label for="pxlMarginsRight" class="form-child_label">Right:</label>
                              <input type="number" step="any" id="pxlMarginsRight" class="form-control mr-2"
                                name="pxlMarginsRight" [(ngModel)]="printConfigOptions.marginsRight" />
                            </div>
                            <div class="form-group form-inline">
                              <label for="pxlMarginsBottom" class="form-child_label">Bottom:</label>
                              <input type="number" step="any" id="pxlMarginsBottom" class="form-control mr-2"
                                name="pxlMarginsBottom" [(ngModel)]="printConfigOptions.marginsBottom" />
                            </div>
                            <div class="form-group form-inline">
                              <label for="pxlMarginsLeft" class="form-child_label">Left:</label>
                              <input type="number" step="any" id="pxlMarginsLeft" class="form-control mr-2"
                                name="pxlMarginsLeft" [(ngModel)]="printConfigOptions.marginsLeft" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">

                          <div class="form-group">
                            <label class="inline">Size</label>
                            (
                            <label for="pxlSizeActive" class="checkbox">
                              <input id="pxlSizeActive" type="checkbox" name="pxlSizeActive"
                                [(ngModel)]="printConfigOptions.sizeActive">
                              {{l("Enable:")}}
                              <span></span>
                            </label>
                            )
                          </div>
                          <div *ngIf="printConfigOptions.sizeActive" id="pxlSizeGroup" class="col-md-12">
                            <div class="form-group form-inline">
                              <label for="pxlSizeWidth" class="form-child_label">Width:</label>
                              <input type="number" step="any" id="pxlSizeWidth" class="form-control mr-2"
                                name="pxlSizeWidth" [(ngModel)]="printConfigOptions.sizeWidth" />
                            </div>
                            <div class="form-group form-inline">
                              <label for="pxlSizeHeight" class="form-child_label">Height:</label>
                              <input type="number" step="any" id="pxlSizeHeight" class="form-control mr-2"
                                name="pxlSizeHeight" [(ngModel)]="printConfigOptions.sizeHeight" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr />
                    <div class="row">

                      <legend class="col-md-12">Printer Options</legend>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="pPxlWidth" class="tip" data-toggle="tooltip"
                            title="In relation to units specified">
                            Render Width
                          </label>
                          <input type="number" id="pPxlWidth" class="form-control" name="pPxlWidth"
                            [(ngModel)]="printConfigOptions.renderWidth" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="pPxlHeight" class="tip" data-toggle="tooltip"
                            title="In relation to units specified">
                            Render Height
                          </label>
                          <input type="number" id="pPxlHeight" class="form-control" name="pPxlHeight"
                            [(ngModel)]="printConfigOptions.renderHeight" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="resetPixelOptions()">Reset</button>
                  <button [disabled]="printing" type="button" class="btn btn-secondary"
                    (click)="back()">{{l("Previous")}}</button>
                  <button type="button" class="btn btn-primary blue"
                    [disabled]="!printConfigForm.form.valid || !printTemplate" [buttonBusy]="printing"
                    [busyText]="l('PrintWithThreeDot')" (click)="print()"><i class="fa fa-print"></i>
                    <span>{{l("Print")}}</span></button>
                </div>
              </form>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>