<div appBsModal #printModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="printModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #printForm="ngForm" novalidate (ngSubmit)="print()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{l("PrintOptions")}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="row">
              <h5 class="col-md-12 mb-4">{{"SearchPrinter" | localize}}</h5>

              <div class="col-md-12">
                <div class="form-group m-form__group align-items-center">
                  <div class="input-group">
                    <input [(ngModel)]="filterPrinter" id="SearchPrinter" name="SearchPrinter" autoFocus
                      class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                    <span class="input-group-btn">
                      <button (click)="getPrinter()" class="btn btn-primary" type="button"><i
                          class="flaticon-search-1"></i></button>
                    </span>
                  </div>
                </div>
                <div class="form-group m-form__group align-items-center">
                  <button (click)="getDefaultPrinter()" class="btn btn-primary mr-4" type="button">
                    <span>{{"GetDefaultPrinter" | localize}}</span></button>
                  <label class="label-control">{{"SelectedPrinter" | localize}}: {{printer}}</label>
                </div>

              </div>

            </div>
            <div class="panel-body">
              <div class="row">
                <legend class="col-md-12">Config Options</legend>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pxlColorType">{{l("ColorType")}}</label>
                    <select id="pxlColorType" class="form-control" name="ColorType"
                      [(ngModel)]="printConfigOptions.colorType">
                      <option value="color">Color</option>
                      <option value="grayscale">Grayscale</option>
                      <option value="blackwhite">Black & White</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Units</label>
                    <div class="radio-inline">
                      <label class="radio">
                        <input type="radio" name="pxlUnits" value="in" [(ngModel)]="printConfigOptions.units" />IN
                        <span></span>
                      </label>
                      <label class="radio">
                        <input type="radio" name="pxlUnits" value="mm" [(ngModel)]="printConfigOptions.units" />
                        MM
                        <span></span>
                      </label>
                      <label class="radio">
                        <input type="radio" name="pxlUnits" value="cm" [(ngModel)]="printConfigOptions.units" />CM
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pxlCopies">Copies</label>
                    <input type="number" id="pxlCopies" class="form-control" name="pxlCopies"
                      [(ngModel)]="printConfigOptions.copies" />
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    <label for="pxlDensity" title="DPI, DPCM, or DPMM depending on units specified">Density
                    </label>
                    <input type="number" id="pxlDensity" class="form-control" name="pxlDensity"
                      [(ngModel)]="printConfigOptions.density" />
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    <label for="pxlInterpolation">Interpolation</label>
                    <select id="pxlInterpolation" class="form-control" name="pxlInterpolation"
                      [(ngModel)]="printConfigOptions.interpolation">
                      <option value="">Default</option>
                      <option value="bicubic">Bicubic</option>
                      <option value="bilinear">Bilinear</option>
                      <option value="nearest-neighbor">Nearest Neighbor</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    <label class="tip" for="pxlJobName" data-toggle="tooltip"
                      title="Job title as it appears in print queue">
                      Job Name
                    </label>
                    <input type="text" id="pxlJobName" class="form-control" name="pxlJobName"
                      [(ngModel)]="printConfigOptions.jobName" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pxlOrientation">Orientation</label>
                    <select id="pxlOrientation" name="pxlOrientation" [(ngModel)]="printConfigOptions.orientation"
                      class="form-control">
                      <option value="">Default</option>
                      <option value="portrait">Portrait</option>
                      <option value="landscape">Landscape</option>
                      <option value="reverse-landscape">Landscape - Reverse</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pxlPaperThickness">Paper Thickness</label>
                    <input disabled type="number" step="any" id="pxlPaperThickness" class="form-control"
                      name="pxlPaperThickness" [(ngModel)]="printConfigOptions.paperThickness" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pxlPrinterTray">Printer Tray</label>
                    <input type="text" id="pxlPrinterTray" class="form-control" name="pxlPrinterTray"
                      [(ngModel)]="printConfigOptions.printerTray" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pxlRotation">Rotation</label>
                    <input type="number" step="any" id="pxlRotation" class="form-control" name="pxlRotation"
                      [(ngModel)]="printConfigOptions.rotation" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <div class="m-checkbox-list">
                      <label for="pxlDuplex" class="checkbox">
                        <input id="pxlDuplex" type="checkbox" name="pxlDuplex" [(ngModel)]="printConfigOptions.duplex">
                        {{l("Duplex")}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="m-checkbox-list">
                      <label for="pxlLegacy" class="checkbox">
                        <input id="pxlLegacy" type="checkbox" name="pxlLegacy" [(ngModel)]="printConfigOptions.legacy">
                        {{l("Legacy Printing")}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="m-checkbox-list">
                      <label for="pxlRasterize" class="checkbox">
                        <input id="pxlRasterize" type="checkbox" name="pxlRasterize"
                          [(ngModel)]="printConfigOptions.rasterize">
                        {{l("Rasterize")}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="m-checkbox-list">
                      <label for="pxlScale" class="checkbox">
                        <input id="pxlScale" type="checkbox" name="pxlScale" [(ngModel)]="printConfigOptions.scale">
                        {{l("Scale Content")}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pxlMargins" class="tip" data-toggle="tooltip"
                      title="In relation to units specified">Margins</label>
                    (
                    <label for="pxlMarginsActive" class="checkbox">
                      <input id="pxlMarginsActive" type="checkbox" name="pxlMarginsActive"
                        [(ngModel)]="printConfigOptions.marginsActive">
                      {{l("Individual:")}}
                      <span></span>
                    </label>
                    )
                    <input *ngIf="!printConfigOptions.marginsActive" type="number" step="any" id="pxlMargins"
                      class="form-control" name="pxlMargins" [(ngModel)]="printConfigOptions.margins" />
                  </div>
                  <div *ngIf="printConfigOptions.marginsActive" id="pxlMarginsGroup" class="col-md-12">
                    <div class="form-group form-inline">
                      <label for="pxlMarginsTop" class="form-child_label">Top:</label>
                      <input type="number" step="any" id="pxlMarginsTop" class="form-control mr-2" name="pxlMarginsTop"
                        [(ngModel)]="printConfigOptions.marginsTop" />
                    </div>
                    <div class="form-group form-inline">
                      <label for="pxlMarginsRight" class="form-child_label">Right:</label>
                      <input type="number" step="any" id="pxlMarginsRight" class="form-control mr-2"
                        name="pxlMarginsRight" [(ngModel)]="printConfigOptions.marginsRight" />
                    </div>
                    <div class="form-group form-inline">
                      <label for="pxlMarginsBottom" class="form-child_label">Bottom:</label>
                      <input type="number" step="any" id="pxlMarginsBottom" class="form-control mr-2"
                        name="pxlMarginsBottom" [(ngModel)]="printConfigOptions.marginsBottom" />
                    </div>
                    <div class="form-group form-inline">
                      <label for="pxlMarginsLeft" class="form-child_label">Left:</label>
                      <input type="number" step="any" id="pxlMarginsLeft" class="form-control mr-2"
                        name="pxlMarginsLeft" [(ngModel)]="printConfigOptions.marginsLeft" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    <label class="inline">Size</label>
                    (
                    <label for="pxlSizeActive" class="checkbox">
                      <input id="pxlSizeActive" type="checkbox" name="pxlSizeActive"
                        [(ngModel)]="printConfigOptions.sizeActive">
                      {{l("Enable:")}}
                      <span></span>
                    </label>
                    )
                  </div>
                  <div *ngIf="printConfigOptions.sizeActive" id="pxlSizeGroup" class="col-md-12">
                    <div class="form-group form-inline">
                      <label for="pxlSizeWidth" class="form-child_label">Width:</label>
                      <input type="number" step="any" id="pxlSizeWidth" class="form-control mr-2" name="pxlSizeWidth"
                        [(ngModel)]="printConfigOptions.sizeWidth" />
                    </div>
                    <div class="form-group form-inline">
                      <label for="pxlSizeHeight" class="form-child_label">Height:</label>
                      <input type="number" step="any" id="pxlSizeHeight" class="form-control mr-2" name="pxlSizeHeight"
                        [(ngModel)]="printConfigOptions.sizeHeight" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr />
            <div class="row">

              <legend class="col-md-12">Printer Options</legend>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="pPxlWidth" class="tip" data-toggle="tooltip" title="In relation to units specified">
                    Render Width
                  </label>
                  <input type="number" id="pPxlWidth" class="form-control" name="pPxlWidth"
                    [(ngModel)]="printConfigOptions.renderWidth" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="pPxlHeight" class="tip" data-toggle="tooltip" title="In relation to units specified">
                    Render Height
                  </label>
                  <input type="number" id="pPxlHeight" class="form-control" name="pPxlHeight"
                    [(ngModel)]="printConfigOptions.renderHeight" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="resetPixelOptions()">Reset</button>
          <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
          <button type="submit" class="btn btn-primary blue" [disabled]="!printForm.form.valid" [buttonBusy]="saving"
            [busyText]="l('PrintWithThreeDot')"><i class="fa fa-print"></i>
            <span>{{l("Print")}}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>