<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="!futureDateInformation.id ? l('CreateNewFutureDateInformation') : l('EditFutureDateInformation')">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-primary">
                    <i class="fa fa-file"></i> {{ l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #futureDateForm="ngForm" novalidate class="form" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FutureDateInformation_Name">{{ l('Name') }} *</label>
                                    <input type="text" id="FutureDateInformation_Name" class="form-control"
                                        [(ngModel)]="futureDateInformation.name" name="Name" required
                                        #nameInput="ngModel" />
                                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FutureDateInformation_FutureDateType">{{ l('FutureDateType') }}
                                        *</label>
                                    <select class="form-control" id="FutureDate_FutureDateTypeId"
                                        [(ngModel)]="futureDateInformation.futureDateType" name="FutureDateTypeId"
                                        required #FutureDateTypeId="ngModel">
                                        <option *ngFor="let type of futureDateTypes" [value]="type.value">
                                            {{ type.displayText }}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="FutureDateTypeId"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="FutureDateInformation_FutureDate">{{ l('FutureDate') }} *</label>
                                    <input required class="form-control m-input" bsDatepicker [minDate]="minDate"
                                        [(date)]="futureDateInformation.futureDate"
                                        id="FutureDateInformation_FutureDate" name="FutureDateInformation_FutureDate"
                                        #futureDateInput datePickerMomentModifier [bsConfig]="{ selectWeek: true}" />
                                    <validation-messages [formCtrl]="futureDateInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="FutureDateInformation_FutureDateTo">{{ l('FutureDate') }}
                                        {{l('To')}}</label>
                                    <input class="form-control m-input" bsDatepicker [minDate]="minDate"
                                        [(date)]="futureDateInformation.futureDateTo"
                                        id="FutureDateInformation_FutureDateTo"
                                        name="FutureDateInformation_FutureDateTo" datePickerMomentModifier
                                        [bsConfig]="{ selectWeek: true}" />
                                </div>
                            </div>

                            <div *ngIf="futureDateInformation.futureDateType" class="col-md-6">
                                <div class="form-group">
                                    <label for="FutureDateInformation_Contents">{{ l('Contents') }} *</label>

                                    <ng-container
                                        *ngIf="futureDateInformation.futureDateType == FUTURE_DATE_TYPE.MENU_ITEM">
                                        <select id="contents" [(ngModel)]="+futureDateInformation.contents"
                                            class="form-control" name="contents" data_live_search="true">
                                            <option *ngFor="let item of menuItems" [ngValue]="+item.value">
                                                {{ item.displayText }}
                                            </option>
                                        </select>
                                    </ng-container>

                                    <ng-container
                                        *ngIf="futureDateInformation.futureDateType == FUTURE_DATE_TYPE.PRICE_TAG">
                                        <select id="contents" [(ngModel)]="+futureDateInformation.contents"
                                            class="form-control" name="contents" data_live_search="true">
                                            <option *ngFor="let item of priceTags" [ngValue]="+item.value">
                                                {{ item.displayText }}
                                            </option>
                                        </select>
                                    </ng-container>

                                    <ng-container *ngIf="futureDateInformation.futureDateType == FUTURE_DATE_TYPE.TAX">
                                        <select id="contents" [(ngModel)]="+futureDateInformation.contents"
                                            class="form-control" name="contents" data_live_search="true">
                                            <option *ngFor="let item of taxes" [ngValue]="+item.value">
                                                {{ item.displayText }}
                                            </option>
                                        </select>
                                    </ng-container>

                                    <ng-container
                                        *ngIf="futureDateInformation.futureDateType == FUTURE_DATE_TYPE.SCREEN_MENU">
                                        <select id="contents" [(ngModel)]="+futureDateInformation.contents"
                                            class="form-control" name="contents" data_live_search="true">
                                            <option *ngFor="let item of screenMenus" [ngValue]="+item.value">
                                                {{ item.displayText }}
                                            </option>
                                        </select>
                                    </ng-container>

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                (click)="close()">{{ l('Cancel') }}</button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!futureDateForm.form.valid"
                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
    </select-location-or-group>
</div>