<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'FutureDateInformations' | localize"
            [description]="'FutureDateInformationsHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getAlls()" />
                    {{ l('Deleted') }}
                    <span></span>
                </label>
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i> {{
                    l('ExportToExcel') }}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Master.FutureDateInformations.Create')"
                    (click)="createOrEditFutureDate()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{ l('CreateNewFutureDateInformation') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text" />
                                        <span class="input-group-btn">
                                            <button (click)="getAlls()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="SampleDatePicker">{{ l('FutureDate') }}</label>
                                    <div>
                                        <input id="SampleDatePicker" type="text" #SampleDatePicker
                                            name="SampleDatePicker" class="form-control" bsDatepicker
                                            datePickerMomentModifier [(date)]="futureDate"
                                            [bsConfig]="{ adaptivePosition: true }" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FutureDate_FutureDateTypeId">{{ l('FutureDateType') }}</label>
                                    <select class="form-control" id="FutureDate_FutureDateTypeId" [(ngModel)]="type"
                                        name="FutureDateTypeId">
                                        <option *ngFor="let type of futureDateTypes" [value]="type.value">
                                            {{ type.displayText }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex">
                                    <button class="btn btn-primary" type="button"
                                        (click)="openFilterSelectLocationsModal()">
                                        {{ l('LocationOrGroup') }}
                                        <span *ngIf="getLocationsSelected(locationOrGroup)">:
                                            {{getLocationsSelected(locationOrGroup)}}</span>
                                    </button>

                                    <div class="flex-fill"></div>

                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{ l('Refresh') }}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{ l('Search') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAlls($event)" [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px" [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Connect.Master.FutureDateInformations.Edit',
                                                    'Pages.Tenant.Connect.Master.FutureDateInformations.Delete'
                                                )
                                            ">
                                            {{ l('Actions') }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="futureDateType">
                                            {{ l('FutureDateType') }}
                                            <p-sortIcon field="futureDateType"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="futureDate">
                                            {{ l('FutureDate') }}
                                            <p-sortIcon field="futureDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">
                                            {{ l('Operations') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px" [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Connect.Master.FutureDateInformations.Edit',
                                                    'Pages.Tenant.Connect.Master.FutureDateInformations.Delete'
                                                )
                                            ">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions')
                                                    }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.FutureDateInformations.Edit')"
                                                            class="dropdown-item"
                                                            (click)="createOrEditFutureDate(record.id)">{{ l('Edit')
                                                            }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.FutureDateInformations.Delete')"
                                                            class="dropdown-item" (click)="deleteFutureDate(record)">{{
                                                            l('Delete') }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isDeleted && isGranted('Pages.Tenant.Connect.Master.FutureDateInformations.Edit')"
                                                            (click)="activateItem(record)">{{ l('Revert') }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('FutureDateType') }}</span>
                                            {{ record.futureDateTypeName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('FutureDate') }}</span>
                                            <span *ngIf="record.futureDate">
                                                {{ record.futureDate | momentFormat: 'L' }}
                                            </span>
                                            <span *ngIf="!record.futureDate">-</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Operations') }}</span>
                                            <a (click)="openTypePage(record)" class="btn btn-primary btn-sm">
                                                {{ l('Open') }}
                                            </a>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAlls($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setFilterLocations($event)">
</select-location-or-group>
