<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Categories' | localize" [description]="'CategoriesHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getCategoryList()">
                    {{l("Deleted")}}
                    <span></span>
                </label>
                <button class="btn btn-outline-success" (click)="exportToExcel()">
                    <i class="la-file-excel-o-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Menu.Categories.Create')"
                    (click)="craeteOrUpdateCategory(null)" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{l("CreateCategory")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <!-- <span class="input-group-btn">
                                                <button (click)="getCategoryList()" class="btn btn-primary"
                                                    type="submit">
                                                    <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                                </button>
                                            </span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-end align-items-center mb-5">
                            <button (click)="getCategoryList()" type="button" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #categoryTable (onLazyLoad)="getCategoryList($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px">{{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="id">
                                            {{l('Id')}}
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="code">
                                            {{l('Code')}}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="ProductGroup.Name">
                                            {{l('GroupName')}}
                                            <p-sortIcon field="ProductGroup.Name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{l('CreationTime')}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Menu.Categories.Edit', 'Pages.Tenant.Connect.Menu.Categories.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Menu.Categories.Edit')"
                                                            class="dropdown-item"
                                                            (click)="craeteOrUpdateCategory(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Menu.Categories.Delete')"
                                                            class="dropdown-item"
                                                            (click)="deleteCategory(record)">{{l('Delete')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="isDeleted && isGranted('Pages.Tenant.Connect.Menu.Categories.Edit')"
                                                            class="dropdown-item"
                                                            (click)="revertCategory(record)">{{l('Revert')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">{{record.id}}</td>
                                        <td style="width:150px">{{record.code}}</td>
                                        <td style="width:150px">{{record.name}}</td>
                                        <td style="width:150px">{{record.groupName}}</td>
                                        <td style="width:150px">{{record.creationTime | momentFormat:
                                            DATE_FORMAT.yyyyMMdd_hhmmss}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #categoryPaginator
                                    (onPageChange)="getCategoryList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
