<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!categoryEditDto.id ? l('CreateCategory') : l('EditCategory') + ': ' + categoryEditDto.name">
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <form #categoryForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="code">{{l("Code")}}  *</label>
                <input autoFocus id="code" type="text" name="code" #codeInput="ngModel" required class="form-control"
                  [(ngModel)]="categoryEditDto.code" maxlength="256" placeholder="Code">
                <validation-messages [formCtrl]="nameInput"></validation-messages>
              </div>
              <div class="form-group col-md-6">
                <label for="name">{{l("Name")}} *</label>
                <input id="name" type="text" name="name" #nameInput="ngModel" class="form-control" required
                  [(ngModel)]="categoryEditDto.name" maxlength="256" placeholder="Name">
                <validation-messages [formCtrl]="nameInput"></validation-messages>

              </div>
              <div class="form-group col-md-6">
                <label for="group">{{"ProductGroup" | localize}}</label>
                <select id="group" name="group" class="form-control" [(ngModel)]="categoryEditDto.productGroupId">
                  <option [ngValue]="null" selected disabled>{{ 'Select Product Group' | localize }}</option>
                  <option *ngFor="let group of groups" [value]="group.value">{{group.displayText}}
                  </option>
                </select>
              </div>

              <div class="form-group col-md-6 mt-8" *ngIf="id">
                    <button type="button" class="btn btn btn-primary " (click)="showCategory()">
                      language</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
            <button class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
              [disabled]="!categoryForm.form.valid">
              <i class="fa fa-save"></i>
              <span>{{l("Save")}}</span>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <createOrEditLanguageDescriptionModal #createOrEditLanguageDescriptionModal> </createOrEditLanguageDescriptionModal>
</div>
