﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!productSet.id ? l('CreateNewProductSet') : l('EditProductSet') + ': ' + productSet.name"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #productSetForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{ l('General') }}" customClass="m-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductSet_Name">{{ l('Name') }} *</label>
                                            <input
                                                type="text"
                                                id="ProductSet_Name"
                                                class="form-control"
                                                [(ngModel)]="productSet.name"
                                                name="Name"
                                                minlength="0"
                                                maxlength="255"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductSet_Tag">{{ l('Tag') }}</label>
                                            <p-chips
                                                inputId="ProductSet_Tag"
                                                [style]="{ width: '100%' }"
                                                [inputStyle]="{ width: '100%' }"
                                                addOnTab="true"
                                                [(ngModel)]="productSet.tags"
                                                name="Tag"
                                            >
                                            </p-chips>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductSet_Color">{{ l('Color') }}</label>
                                            <div class="input-group">
                                                <input
                                                    style="max-width: 45px"
                                                    type="color"
                                                    id="ProductSet_ColorView"
                                                    class="form-control"
                                                    [(ngModel)]="productSet.color"
                                                    name="ProductSet_ColorView"
                                                />
                                                <input
                                                    type="text"
                                                    id="ProductSet_Color"
                                                    class="form-control"
                                                    [(ngModel)]="productSet.color"
                                                    name="ProductSet_Color"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductSet_Ordinal">{{ l('Ordinal') }}</label>
                                            <input
                                                type="number"
                                                id="ProductSet_Ordinal"
                                                class="form-control"
                                                (kypress)="returnOnlyNumber($event)"
                                                [(ngModel)]="productSet.ordinal"
                                                name="ProductSet_Ordinal"
                                                minlength="0"
                                                maxlength="255"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="ProductSet_Description">{{ l('Description') }}</label>
                                        <!-- <p-editor [(ngModel)]="productSet.description" name="Description"
                                            [style]="{'height':'200px'}"></p-editor> -->
                                        <editor-tiny-mce
                                            [(ngModel)]="productSet.description"
                                            name="Description"
                                            [init]="{
                                                height: 320,
                                                menubar: false,
                                                toolbar: [
                                                    'styleselect fontselect fontsizeselect',
                                                    'undo redo | cut copy paste | bold italic | link image | alignleft aligncenter alignright alignjustify| forecolor backcolor',
                                                    'bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code'
                                                ],
                                                plugins: 'advlist autolink link image lists charmap print preview code'
                                            }"
                                        >
                                        </editor-tiny-mce>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Image') }}" customClass="m-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-4" style="margin-bottom: 15px">
                                        <label class="w-100">{{ l('SavedImage') }}</label>
                                        <img class="image-preview" *ngIf="productSet.images" [src]="productSet.images" alt="Image" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input id="ProductSet_Images" name="Images" type="file" class="mb-3" ng2FileSelect [uploader]="uploader" />

                                            <div class="primeng-datatable-container w-100">
                                                <p-table [value]="uploader.queue" [scrollable]="true" [paginator]="false" scrollHeight="300px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th width="175px">Name</th>
                                                            <th width="70px">Size</th>
                                                            <th width="100px">Progress</th>
                                                            <th width="70px">Status</th>
                                                            <th width="288px">Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-item="$implicit">
                                                        <tr>
                                                            <td width="175px" class="align-baseline">
                                                                <strong>{{ item?.file?.name }}</strong>
                                                                <div class="w-100" *ngIf="uploader.options.isHTML5 && filePreviewPath">
                                                                    <img class="image-preview" [src]="filePreviewPath" />
                                                                </div>
                                                            </td>
                                                            <td width="70px" *ngIf="uploader.options.isHTML5" nowrap class="text-center align-baseline">
                                                                {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                                                            </td>
                                                            <td width="100px" class="align-baseline">
                                                                <div class="progress" style="margin-bottom: 0">
                                                                    <div
                                                                        class="progress-bar"
                                                                        role="progressbar"
                                                                        [ngStyle]="{ width: item.progress + '%' }"
                                                                    ></div>
                                                                </div>
                                                            </td>
                                                            <td width="70px" class="text-center align-baseline">
                                                                <span *ngIf="item.isSuccess" class="text-success"> <i class="fa fa-check-circle"></i></span>
                                                                <span *ngIf="item.isCancel" class="text-warning"> <i class="fa fa-times-circle"></i></span>
                                                                <span *ngIf="item.isError" class="text-danger">
                                                                    <i class="fa fa-exclamation-triangle"></i
                                                                ></span>
                                                            </td>
                                                            <td nowrap width="288px" class="align-baseline">
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-success btn-sm"
                                                                    (click)="item.upload()"
                                                                    [disabled]="item.isReady || item.isUploading || item.isSuccess"
                                                                >
                                                                    <span class="fa fa-upload"></span> Upload
                                                                </button>
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-warning btn-sm"
                                                                    (click)="item.cancel()"
                                                                    [disabled]="!item.isUploading"
                                                                >
                                                                    <span class="fa fa-times-circle"></span> Cancel
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-sm" (click)="removeFile(item)">
                                                                    <span class="fa fa-trash"></span> Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Product') }}" customClass="m-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button [disabled]="saving" type="button" class="btn btn-primary pull-right btn-add-product" (click)="addProduct()">
                                            {{ l('EditProduct') }}
                                        </button>
                                        <p-table [value]="productSet.products">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Name</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-product>
                                                <tr>
                                                    <td><a href="javascript:void(0);" (click)="removeProduct(product)">Delete</a></td>
                                                    <td>{{ product.productName }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                        <div class="row pull-right" style="margin-top: 20px">
                            <div class="col-md-12">
                                <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                                <button
                                    type="submit"
                                    class="btn btn-primary blue"
                                    [disabled]="!productSetForm.form.valid"
                                    [buttonBusy]="saving"
                                    [busyText]="l('SavingWithThreeDot')"
                                >
                                    <i class="fa fa-save"></i>
                                    <span>{{ l('Save') }}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <commonMultipleLookupModal #selectProductsLookupModal (itemsSelected)="addProductToList($event)"> </commonMultipleLookupModal>
</div>
