@import 'assets/common/styles/dine-connect-customize.scss';

body .ui-chips > ul.ui-inputtext {
    width: 100% !important;
}

.btn-add-product {
    margin-bottom: 20px;
    position: relative;
    z-index: 99;
}

.image-preview {
    max-width: 100%;
}
