<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ProductSets' | localize" [description]="'ProductSetsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="la-file-excel-o"></i> {{ l('ExportToExcel') }}
                </button>
                <button
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.ProductSets.Create')"
                    (click)="createOrEditProductOffer()"
                    class="btn btn-primary blue"
                >
                    <i class="fa fa-plus"></i> {{ l('CreateNewProductSet') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getProductSets($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="productSet.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="tag">
                                            {{ l('Tags') }}
                                            <p-sortIcon field="productSet.tag"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{ l('CreationTime') }}
                                            <p-sortIcon field="productSet.creationTime"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 130px"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Tiffin.Manage.ProductSets.Edit',
                                                    'Pages.Tenant.Tiffin.Manage.ProductSets.Delete'
                                                )
                                            "
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.productSet.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Tags') }}</span>
                                            {{ record.productSet.tag }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('CreationTime') }}</span>
                                            {{ record.productSet.creationTime | momentFormat: 'YYYY-MM-DD' }}
                                        </td>
                                        <td
                                            style="width: 130px"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Tiffin.Manage.ProductSets.Edit',
                                                    'Pages.Tenant.Tiffin.Manage.ProductSets.Delete'
                                                )
                                            "
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                     {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.ProductSets.Edit')"
                                                            (click)="createOrEditProductOffer(record.productSet.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.ProductSets.Delete')"
                                                            (click)="deleteProductSet(record.productSet)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getProductSets($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
