<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!locationMapping.id" [title]="'Create Location Mapping' | localize"> </sub-header>
        <sub-header *ngIf="locationMapping.id" [title]="'Edit Location Mapping' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <div class="form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>{{ 'Location' | localize }}</label>
                                    <p-dropdown
                                        [options]="locations"
                                        [required]="true"
                                        [ngModel]="{ id: locationMapping.delAggLocationId }"
                                        (ngModelChange)="locationMapping.delAggLocationId = $event.id"
                                        name="delAggLocationId"
                                        id="delAggLocationId"
                                        styleClass="w-100"
                                        [placeholder]="l('Select Location')"
                                        [filter]="true"
                                        optionLabel="name"
                                        dataKey="id"
                                        [showClear]="true"
                                    >
                                    </p-dropdown>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{ 'Del Agg Type' | localize }}</label>
                                    <p-dropdown
                                        [options]="delAggTypes"
                                        [ngModel]="{ value: locationMapping.delAggTypeRefId?.toString() }"
                                        (ngModelChange)="locationMapping.delAggTypeRefId = $event.value"
                                        [required]="true"
                                        name="delAggTypeRefId"
                                        id="delAggTypeRefId"
                                        styleClass="w-100"
                                        [placeholder]="l('Select Agg Type')"
                                        [filter]="true"
                                        optionLabel="displayText"
                                        dataKey="value"
                                        [showClear]="true"
                                    >
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="">{{ l('Name') }}</label>
                                    <input
                                        [(ngModel)]="locationMapping.name"
                                        required
                                        type="text"
                                        class="form-control"
                                        name="name"
                                        id="name"
                                        required
                                        placeholder=""
                                    />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">{{ l('Delivery Url') }}</label>
                                    <input
                                        [(ngModel)]="locationMapping.deliveryUrl"
                                        type="text"
                                        class="form-control"
                                        name="deliveryUrl"
                                        id="deliveryUrl"
                                        required
                                        placeholder=""
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="">{{ l('Gateway Code') }}</label>
                                    <input
                                        [(ngModel)]="locationMapping.gatewayCode"
                                        type="text"
                                        class="form-control"
                                        name="gatewayCode"
                                        id="gatewayCode"
                                        required
                                        placeholder=""
                                    />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">{{ l('Demote Code') }}</label>
                                    <input
                                        [(ngModel)]="locationMapping.remoteCode"
                                        type="text"
                                        class="form-control"
                                        name="remoteCode"
                                        id="remoteCode"
                                        required
                                        placeholder=""
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="locationMapping?.id" class="form-group col-md-6">
                                    <label for="active" class="checkbox mr-2">
                                        <input
                                            [(ngModel)]="locationMapping.active"
                                            id="active"
                                            name="active"
                                            type="checkbox"
                                        />
                                        {{ l('Active') }}
                                        <span></span>
                                    </label>
                                </div>

                                <div *ngIf="locationMapping.delAggTypeRefId == 0" class="col-md-6">
                                    <button type="button" class="btn btn-danger" (click)="syncData()">
                                        {{ l('SyncToGrab') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
