.toggle-switch {
    height: 36px;
    width: 62px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    input {
      display: none;
      &:checked + .slider::after {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        content: "\f17b";
        background-color: #e6034b;
        color: #fff;
      }
    }
    .slider {
        line-height: 30px;
        margin: 2px 0;
        height: 30px;
        width: 57px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ebedf2;
        transition: 0.5s;
        font-family: LineAwesome;
      &::after {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        line-height: 26px;
        top: 3px;
        bottom: 3px;
        margin-left: 3px;
        font-size: .9em;
        text-align: center;
        left: 0;
        transition: 0.5s;
        border-radius: 15px;
        background-color: #dfe2ea;
        color: #f7f8fa;
      }
    }
  }