<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'HomePageBanner' | localize" [description]="'HomePageBannerHeaderInfo' | localize">
            <div role="actions">
                <button *ngIf="'Pages.Tenant.Tiffin.Manage.HomeBanner.Edit' | permission" type="button" class="btn btn-primary blue"
                    [disabled]="bannerList?.length == 0"
                    [buttonBusy]="saving" (click)="save()" [busyText]="l('SavingWithThreeDot')">
                    <i class="fa fa-save"></i><span>{{l("Save")}}</span>
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #homeBanneFrorm="ngForm" novalidate autocomplete="off">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="HomeBanner_Images" name="Images" type="file" ng2FileSelect
                                        class="mb-3" [uploader]="uploader" multiple/>

                                    <div class="primeng-datatable-container w-100">
                                        <p-table [value]="bannerList" [scrollable]="true" [paginator]="false">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th width="175px">{{'Preview' | localize}}</th>
                                                    <th>{{'Link' | localize}}</th>
                                                    <th style="width: 130px;">{{'Actions' | localize}}</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-item="$implicit" let-index="rowIndex">
                                                <tr>
                                                    <td width="175px" class="align-baseline">
                                                        <div class="image-preview">
                                                            <img [src]="item">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a [href]="item">{{ item }}</a>
                                                    </td>
                                                    <td style="width: 130px;text-align:center">
                                                        <div class="btn-group dropdown" dropdown>
                                                            <button type="button" class="btn btn-danger btn-sm"
                                                                (click)="removeFile(index)">
                                                                <span class="fa fa-trash"></span> {{'Delete' | localize}}
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>