@import "../../../assets/scss/mixins";

:host {
  display: block;
  height: 100%;

  .wrapper-logo {
    margin: 0 auto;
    width: 5rem;

    .logo {
      width: 100%;
    }
  }

  .backward-btn {
    width: 3rem;
    height: 3rem;
    outline: none;
    border: none;
    background: unset;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login {
    justify-content: center;

    &__with {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      h5 {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      &__socials {
        .circle-btn {
          @include circle-btn(50px, var(--white-1), var(--black-1), unset);
          margin: 0 0.5rem;

          i {
            color: var(--defaut-content-color);
          }
        }
      }
    }

    &__info {
      margin-top: 3rem;

      &__submitBtn {
        @include submitBtn(var(--black-1));

        ::ng-deep .p-button-label {
          color: white;
        }
      }

      &__signup,
      &__forgotPassword {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;

        a {
          color: var(--black-1);
          font-size: 0.9rem;
          border-bottom: 2px solid;
          font-weight: 500;
        }
      }

      &__forgotPassword {
        justify-content: space-between;

      }
    }
  }
}
