<div class="container pt-4">
    <div class="wrapper-header">
        <div class="wrapper-logo mb-3" *ngIf="logoUrl">
            <img [src]="logoUrl" class="logo" [routerLink]="['/']" routerLinkActive="router-link-active" />
        </div>
    </div>
    <div class="row login">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 pl-4 pr-4">
            <div class="login__with" *ngIf="loginService.externalLoginProviders.length > 0">
                <h5>Login With</h5>

                <div class="login__with__socials">
                    <button *ngFor="let provider of loginService.externalLoginProviders"
                        class="circle-btn border-none outline-none p-ripple btn-dine-primary"
                        (click)="externalLogin(provider)" title="{{provider.name}}">
                        <i class="fa fa-{{provider.icon}}"></i>
                        <!-- {{provider.name}} -->
                    </button>
                </div>
            </div>
            <div class="login__info">
                <form #loginForm="ngForm" class="login-form form" method="post" method="post" (ngSubmit)="login()">
                    <div class="form-group">
                        <input #userNameOrEmailAddressInput="ngModel"
                            [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus
                            class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text"
                            autocomplete="new-password" placeholder="User Name Or Email *" name="userNameOrEmailAddress"
                            required />
                        <validation-messages [formCtrl]="userNameOrEmailAddressInput"
                            *ngIf="!userNameOrEmailAddressInput.touched">
                        </validation-messages>
                    </div>

                    <div class="form-group">
                        <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password"
                            class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                            type="password" autocomplete="new-password" placeholder="Password *" name="password"
                            required maxlength="32" />
                        <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched">
                        </validation-messages>
                    </div>

                    <div class="form-group  justify-content-between mt-4">
                        <button type="submit" class="btn btn-dine-primary" [disabled]="!loginForm.form.valid">Log
                            In</button>
                        <span class="login__info__forgotPassword">
                            <a routerLink="/sign-up">Sign Up</a>
                            <a href="javascript:void(0)" (click)="forgotPassword()">Forgot password?</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>