<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="
                !item.id
                    ? l('CreateNewWheelScreenMenuItem')
                    : l('EditWheelScreenMenuItem') + ': ' + item.name
            "
            [description]="'' | localize"
        >
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form
                        #terminalForm="ngForm"
                        novalidate
                        class="kt-form terminal-form"
                        (ngSubmit)="save()"
                    >
                        <div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="MenuItem"
                                                >{{
                                                    "MenuItem" | localize
                                                }}
                                                *</label
                                            ><br />
                                            <button
                                                type="button"
                                                class="btn btn-primary btn-lg"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                                id="dropdownMenuButton"
                                                (click)="
                                                    openSelectionPricePopup()
                                                "
                                            >
                                                {{
                                                    selectedItemName
                                                        ? selectedItemName
                                                        : ("SelectFromMenuItem"
                                                          | localize)
                                                }}
                                            </button>
                                        </div>
                                        <div
                                            class="form-group m-form__group col-md-6"
                                        >
                                            <label for="WheelLocation_Location"
                                                >{{ l("Location") }} *</label
                                            >
                                            <input
                                                type="text"
                                                id="WheelLocation_Location"
                                                class="form-control"
                                                readonly
                                                required
                                                name="WheelLocation_Location"
                                                [(ngModel)]="locationName"
                                                (click)="
                                                    selectLocationPopupModal.show()
                                                "
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="checkbox-list">
                                        <label
                                            for="CreateOrEditScreenMenu_MarkAsSignature"
                                            class="checkbox"
                                        >
                                            {{ "Disable" | localize }}
                                            <input
                                                id="CreateOrEditScreenMenu_MarkAsSignature"
                                                type="checkbox"
                                                name="itemDisabled"
                                                [(ngModel)]="item.disable"
                                            />
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="close()"
                    >
                        {{ l("Cancel") }}
                    </button>
                    <button
                        type="submit"
                        (click)="save()"
                        class="btn btn-primary blue"
                        [disabled]="!terminalForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <select-popup
        #selectMenuItemPopupModal
        [headers]="['Name']"
        [dataBinding]="['name']"
        [loadData]="getMenuItemSelection()"
        (changeValue)="selectItem($event)"
        selectionMode="single"
        [selectedValue]="selectedPrice"
        [title]="l('MenuItem')"
    ></select-popup>
</div>

<select-popup #selectLocationPopupModal [headers]="['Name']" [dataBinding]="['name']"
	[loadData]="getLocationForCombobox()" (changeValue)="changeLocation($event)" selectionMode="single"
	[selectedValue]="{id: item.id}" [title]="l('Locations')"></select-popup>