<div class="tabs__tab-panel">
    <div class="content-slide first-slide">
        <div class="contentslide-holder">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="content-block" [formGroup]="userEditForm">
                        <a href="javascript:void(0)" class="profile-opener d-md-none icon-arrow_back">Your Profile</a>
                        <section class="profile-block">
                            <h2 class="d-none d-md-block">Your Profile</h2>
                            <div action="#" class="main-form">
                                <div class="holder">
                                    <div class="input-holder">
                                        <label>Name</label>
                                        <input type="text" id="fname" placeholder="Please enter your Name" class="form-control" formControlName="name">
                                        <span class="error-msg" *ngIf="f.name.invalid">Please enter your Name</span>
                                    </div>
                                    <div class="input-holder">
                                        <label>Surname</label>
                                        <input type="text" id="surname" placeholder="Please enter your Surname" class="form-control" formControlName="surname">
                                        <span class="error-msg" *ngIf="f.surname.invalid">Please enter your
                                            Surname</span>
                                    </div>
                                    <div class="input-holder">
                                        <label>Email</label>
                                        <input type="email" id="Email" formControlName="emailAddress" class="form-control" readonly=""></div>
                                    <div class="input-holder">
                                        <label>Phone</label>
                                        <input type="tel" id="tel" placeholder="9012369128" formControlName="phoneNumber" class="form-control">
                                        <span class="error-msg" *ngIf="f.phoneNumber.invalid">Please enter your
                                            Surname</span>
                                    </div>
                                    <div class="btn-holder"><input type="button" id="saveChangesBtn" class="btn btn-success" value="SAVE CHANGES" (click)="saveChanges()">
                                        <a href="javascript:void(0)" (click)="changePassword()" class="change-password">Change password?</a></div>
                                </div>
                            </div>
                        </section>
                        <section class="address-block" style="display: none;">
                            <h2>Your Saved Addresses</h2>
                            <div class="address-holder">
                                <div class="address-list"></div><a href="javascript:void(0)" class="newaddd">+ Add new
                                    <span>address</span></a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="notification-wrapper"></div>
        <div></div>
    </div>
</div>
<div class="popup-overlay" *ngIf="showChangePassword">
    <div class="popupholder v2">
        <div class="main-popup">
            <strong class="heading">Set a new password</strong>
            <a href="javascript:;" class="close icon-close" (click)="closePopup()"></a>
            <form action="#" class="mainpopup-holder" [formGroup]="passwordForm">
                <div class="input-holder">
                    <label>Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Choose a password" formControlName="newPassword">
                    <span class="error-msg" *ngIf="fp.newPassword.errors?.minlength">Passwords must be at least 8
                        characters.</span>
                    <span class="error-msg" *ngIf="fp.newPassword.errors?.required">Please enter password.</span>
                </div>
                <div class="input-holder">
                    <label>Confirm password</label>
                    <input type="password" id="confirm_password" class="form-control" placeholder="Confirm password" formControlName="confirmPassword">
                    <span class="error-msg" *ngIf="passwordForm.errors?.invalidConfirm">The password doesn’t match.
                        Please re-enter.</span>
                </div>
                <input type="button" class="btn btn-primary" value="SAVE" (click)="saveChangePassword()">
            </form>
        </div>
    </div>
</div>