<!-- banner -->
<section
    class="banner"
    style="background-image: url('assets/static/img/about-bg.png');"
>
    <div class="container">
        <article>
            <h1>About</h1>
        </article>
    </div>
</section>
<!-- banner ends -->

<!-- about -->
<section class="about yellow_bg">
    <div class="container">
        <article>
            <p>
                Stack Canteen, an initiative by Copper Chimney, stemmed from a
                desire to provide a tiffin meal service for people who miss
                home-cooked meals. The concept -  home-style meals cooked fresh
                everyday by experienced chefs, packed and delivered to your
                doorstep, ready to eat in a matter of minutes. With a multitude
                of options and a rotating weekly menu that features Indian,
                Western, Indo-Chinese, Continental, Wraps and Biryanis, there is
                something for every palate.
            </p>
            <h5>Tiffin Redefined</h5>
            <p>
                Symbolising the cultural importance of home-cooked meals,
                Tiffins are no less than a way of life in India. These stacked,
                multi-tiered metal containers, each containing different tasty
                treats, are taken to work, school or college by millions every
                day. The idea, to relish the taste of home cooked food, even
                when away from home.
            </p>
            <p>
                Students and working professionals travelling abroad grapple
                with the predicament of finding healthy, home cooked food on a
                regular basis, at an affordable price. That’s where our freshly
                cooked meals delivered in tiffin boxes come to save the day. At
                Stack Canteen, we want to provide an easy and delicious answer
                to your question ‘What’s for lunch (or dinner)?’ Delivering
                homely and healthy meals daily through our tiffin services
                island-wide, we endeavour to provide our customers with freshly
                prepared meals that are irresistibly, incomparably, and
                unapologetically delicious.
            </p>
            <p>
                Meals are delivered to your home/university twice a day –
                Between 10:30am - 2:00pm for lunch and between 5:00pm - 8:00pm
                for dinner. Our unique subscription service coupled with a
                flexible ordering system and rotating weekly menu gives you
                convenience, affordability and variety in one delicious package.
            </p>
        </article>
    </div>
</section>
<!-- about ends -->
