<div class="top-bar-mobile mobile-screen">
    <ul class="my-order-mobile">
        <li class="item-my-order" (click)="selectTabMenu()">
            <img [src]="tabMenu ? '/assets/image/order-icon-color.png' : '/assets/image/menu-order-icon.png'" alt="">
            <a
            [style.color]="tabMenu ? '#F5C031' : '#888884'">Menu</a>
        </li>
        <li class="item-my-order" (click)="selectTabMyOrder()">
            <img [src]="tabMyOrder ? '/assets/image/my-order-color.png' : '/assets/image/my-order-icon.png'" alt="">
            <a
            [style.color]="tabMyOrder ? '#F5C031' : '#888884'">My Order</a>
        </li>
        <li class="item-my-order" (click)="selectTabFeedback()">
            <img [src]="tabFeedBack ? '/assets/image/support-icon-color.png' : '/assets/image/support-icon.png'" alt="">
            <a
            [style.color]="tabFeedBack ? '#F5C031' : '#888884'">Feedback</a>
        </li>
        <li class="item-my-order" (click)="selectTabSupport()">
            <img [src]="tabSupport ? '/assets/image/feedback-icon-color.png' : '/assets/image/feedback-icon.png'" alt="">
            <a
            [style.color]="tabSupport ? '#F5C031' : '#888884'">Support</a>
        </li>
        <li class="item-my-order">
            <img [src]="tabNotification ? '/assets/image/notification-icon-color.png' : '/assets/image/notidication-icon.png'" alt="">
            <a 
            [style.color]="tabNotification ? '#F5C031' : '#888884'">Notification</a>
        </li>
    </ul>
</div>