::ng-deep {
    .top-bar-mobile {
        position: inherit;
        bottom: 0;
        box-shadow: 0px -15px 30px -10px rgba(0, 0, 0, 0.05);
        background: #ffffff;
        width: 100vw;
        z-index: 9999;

        .my-order-mobile {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            padding-left: 0px;
            margin-bottom: 0px;
            .item-my-order {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column; 
                padding: 16px 0px;
                a {
                    font-style: normal;
                    font-size: 12px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    margin-top: 4px;
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .mobile-screen {
        display: none;
    }
}
@media (max-width: 991px) {
    .mobile-screen {
        display: block;
    }
}