.menu_item {
    border: 1px solid #b0a9a9;
    text-align: center;
    width: 110%;
    height: 100%;
}

.reload {
    float: right;
    margin-right: 6px;
}

span {
    display: block;
    text-align: center;
}

td,
th {
    text-align: center;
}

.table-col {
    min-width: 115px;
}

// ::ng-deep .table-striped tbody tr:nth-of-type(odd) {
//     background-color: #05b805;
//     color: white;
// }

// .table-striped tbody tr:nth-of-type(even) {
//     background-color: #ec720d;
//     color: white;
// }

.kt-portlet.kt-portlet--mobile {
    background-color: transparent;
    box-shadow: none;
}

.calendar-datatable-container {
    overflow: auto;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    .menu_content__input {
        min-width: 33%;
    }
}

@media (max-width: 600px) {
    .menu-content {
        display: block;
        div {
            width: 100%;
        }
    }
}
