<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ScheduleCalendar' | localize">
        </sub-header>
        
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row">
                                <div class="col-sm-6 text-right">
                                    <div class="form-group m-form__group">
                                        <div class="input-group">
                                            <input class="form-control" id="StartEndRange" name="StartEndRange"
                                                placeholder="Date range" #drp="bsDaterangepicker" readonly="readonly"
                                                bsDaterangepicker dateRangePickerMomentModifier [(date)]="dateRange"
                                                [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary" (click)="previous()">
                                        <i class="fas fa-arrow-alt-circle-left"></i> {{"Previous" | localize}}</button>
                                    <button type="button" class="btn btn-primary" (click)="next()">
                                        <i class="fas fa-arrow-alt-circle-right"></i>{{"Next" | localize}}</button>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary reload" (click)="getAll()"><i
                                            class="fa fa-sync"></i> {{"Refresh" | localize}}</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <table class="table table-striped table-bordered table-light--brand">
                            <thead>
                                <tr>
                                    <th>{{"MENUOPTIONS" | localize}}</th>
                                    <th>{{"SUNDAY" | localize}}</th>
                                    <th>{{"MONDAY" | localize}}</th>
                                    <th>{{"TUESDAY" | localize}}</th>
                                    <th>{{"WEDNESDAY" | localize}}</th>
                                    <th>{{"THURSDAY" | localize}}</th>
                                    <th>{{"FRIDAY" | localize}}</th>
                                    <th>{{"SATURDAY" | localize}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schedule of listschedule"
                                    [ngStyle]="{'background-color': getBackgroundColor(schedule.color)}">
                                    <td>{{schedule.productSetName}}</td>

                                    <td *ngFor="let menuItem of schedule.listSchedule">
                                        <p>
                                            <span *ngFor="let item of menuItem.products">
                                                {{item.productName}}
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>