<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!openingHour.id ? l('CreateOpeningHour') : l('EditOpeningHour')">
        </sub-header>
    </div>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form #form="ngForm" (submit)="save()">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="Name">{{"Name" | localize}} *</label>
                            <input id="Name" #nameInput="ngModel" class="form-control" type="text"
                                [ngClass]="{'edited':openingHour.name}" name="name" [(ngModel)]="openingHour.name"
                                #name="ngModel" required>
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>
                    </div>
                    <div class="row no-margin mb-3">
                        <div class="checkbox-list col-sm-3">
                            <label for="Monday" class="checkbox">
                                <input id="Monday" type="checkbox" name="'Monday" #monday="ngModel"
                                    [(ngModel)]="openingHour.days[0].isSelected">
                                {{openingHour.days[0].name}}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Tuesday" class="checkbox">
                                <input id="Tuesday" type="checkbox" name="Tuesday" #tuesday="ngModel"
                                    [(ngModel)]="openingHour.days[1].isSelected">
                                {{openingHour.days[1].name}}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Wednesday" class="checkbox">
                                <input id="Wednesday" type="checkbox" name="Wednesday" #wednesday="ngModel"
                                    [(ngModel)]="openingHour.days[2].isSelected">
                                {{openingHour.days[2].name}}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Thursday" class="checkbox">
                                <input id="Thursday" type="checkbox" name="Thursday" #thursday="ngModel"
                                    [(ngModel)]="openingHour.days[3].isSelected">
                                {{openingHour.days[3].name}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="row no-margin mb-3">
                        <div class="checkbox-list col-sm-3">
                            <label for="Friday" class="checkbox">
                                <input id="Friday" type="checkbox" name="Friday" #friday="ngModel"
                                    [(ngModel)]="openingHour.days[4].isSelected">
                                {{openingHour.days[4].name}}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Saturday" class="checkbox">
                                <input id="Saturday" type="checkbox" name="Saturday" #saturday="ngModel"
                                    [(ngModel)]="openingHour.days[5].isSelected">
                                {{openingHour.days[5].name}}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Sunday" class="checkbox">
                                <input id="Sunday" type="checkbox" name="Sunday" #sunday="ngModel"
                                    [(ngModel)]="openingHour.days[6].isSelected">
                                {{openingHour.days[6].name}}
                                <span></span>
                            </label>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>

                    <div class="row margin-top">

                        <div class="col-sm-6 mb-3">
                            <p-calendar [(ngModel)]="openingHour.from" name="from" dataType="string" timeOnly="true"
                                showTime="true" hourFormat="24" [panelStyleClass]="'form-control'">
                            </p-calendar>
                            <!-- <input id="From" name="from" class="form-control timer-picker-input"
                            [ngModel]="openingHour.from | date:'shortTime'" readonly [popover]="fromTimepickerTemplate"
                            [outsideClick]="true" placement="bottom" />
                        <ng-template #fromTimepickerTemplate>
                            <timepicker id="FromTime" name="fromTime" [(ngModel)]="openingHour.from"
                                [showMeridian]="false"></timepicker>
                        </ng-template> -->
                            <span style="line-height: 40px; margin: 0 10px">-</span>
                            <!-- <input class="form-control timer-picker-input" id="To" name="to"
                            [ngModel]="openingHour.to | date:'shortTime'" readonly [popover]="toTimepickerTemplate"
                            [outsideClick]="true" placement="bottom" />
                        <ng-template #toTimepickerTemplate>
                            <timepicker id="ToTime" name="toTime" [(ngModel)]="openingHour.to" [showMeridian]="false">
                            </timepicker>
                        </ng-template> -->
                            <p-calendar [(ngModel)]="openingHour.to" name="to" dataType="string" timeOnly="true"
                                showTime="true" hourFormat="24" [panelStyleClass]="'form-control'">
                            </p-calendar>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="cancel()">{{'Cancel' |
                            localize}}</button>
                        <button [disabled]="!form.form.valid" [buttonBusy]="saving" type="submit"
                            class="btn btn-primary">{{'Save' | localize}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>