@import 'assets/common/styles/dine-connect-customize.scss';

.header
{
    margin-bottom: 20px;
}

ngx-checkbox{
    display: inline-block;
}

.timer-picker-input
{
    width: 100px;
    display: inline-block;
}

.cursor-hand{
    cursor: pointer !important;
}