<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'OpeningHours' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
                    {{l("ExportToExcel")}}</button>
                <button (click)="createOrEdit()" class="btn btn-primary blue"><i
                        class="fa fa-plus"></i>{{'CreateNewOpeningHours' | localize}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getOpeningHours($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                       
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{'Name' | localize }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="from">
                                            {{'From' | localize }}
                                            <p-sortIcon field="from"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="to">
                                            {{l('To')}}
                                            <p-sortIcon field="to"></p-sortIcon>
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Monday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Tuesday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Wednesday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Thursday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Friday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Saturday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Sunday')}}
                                        </th>
                                        <th style="width: 130px">
                                            {{l('Actions')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                            {{record.name}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('From')}}</span>
                                            {{record.from}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('To')}}</span>
                                            {{record.to}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Monday')}}</span>
                                            <div *ngIf="record.days[0].isSelected" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.days[0].isSelected" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Tuesday')}}</span>
                                            <div *ngIf="record.days[1].isSelected" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.days[1].isSelected" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Wednesday')}}</span>
                                            <div *ngIf="record.days[2].isSelected" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.days[2].isSelected" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Thursday')}}</span>
                                            <div *ngIf="record.days[3].isSelected" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.days[3].isSelected" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Friday')}}</span>
                                            <div *ngIf="record.days[4].isSelected" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.days[4].isSelected" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Saturday')}}</span>
                                            <div *ngIf="record.days[5].isSelected" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.days[5].isSelected" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Sunday')}}</span>
                                            <div *ngIf="record.days[6].isSelected" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.days[6].isSelected" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width: 130px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="createOrEdit(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="delete(record)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getOpeningHours($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
