<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header [title]="'Groups' | localize" [description]="'GroupsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="refresh()" class="btn btn-primary">
                    <i class="fas fa-sync-alt"></i>
                </button>
                <button (click)="sort()" class="btn btn-danger">
                    {{ l('Sort') + ' ' + l('Category') }}
                </button>
                <button (click)="addOrEdit()" class="btn btn-primary">{{ l('Create') }} {{ l('Category') }}</button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form-body vitual-screen-body col-sm-12">
                        <!-- <div [ngStyle]="{ width: categories.categoryColumnWidthRate + '%' }" style="float: left"> -->
                        <div style="float: left">
                            <div
                                *ngFor="let item of categories; let index = index"
                                [ngStyle]="{ width: 120 + 'px', height: 120 + 'px' }"
                                class="vitual-screen__cate"
                            >
                                <div class="vitual-screen__cate-div">
                                    <div
                                        class="btn vitual-screen__cate-btn md-skip"
                                        [ngStyle]="{ background: item.mainButtonColor }"
                                    >
                                        <div class="text-right">
                                            <a title="Edit" (click)="editCategory(item)">
                                                <i class="fas fa-pen-square"></i>
                                            </a>
                                            <a title="Add Item" (click)="createItem(item)">
                                                <i class="fas fa-plus-square"></i>
                                            </a>
                                        </div>
                                        <div id="{{ index }}" (click)="loadItem(item)">
                                            <span
                                                [attr.title]="item.name"
                                                [ngStyle]="{ 'font-size': 18 + 'px'}"
                                                [innerHTML]="getCateName(item)"
                                            >
                                            </span>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            *ngIf="!spanFlag"
                            class="margin-left-30"
                        >
                            <div class="margin-top-20 text-center">
                                <span> </span>
                            </div>
                        </div>
                        <div
                            *ngIf="subItems.length == 0 && spanFlag"
                            class="margin-left-30"
                        >
                            <div class="margin-top-20 text-center">
                                <span>
                                    <b> There is No Item in the Selected Category</b>
                                </span>
                            </div>
                        </div>
                        <div
                            *ngIf="subItems.length > 0"
                            class="margin-left-30"
                        >
                            <div class="margin-top-20">
                                <div ui-sortable ng-model="subItems">
                                    <div
                                        *ngFor="let item of subItems"
                                        ng-repeat="item in subItems"
                                        [ngStyle]="{ width: 150 + 'px', height: 90 + 'px' }"
                                        class="vitual-screen__item"
                                    >
                                        <div class="vitual-screen__item-div">
                                            <div
                                                class="btn vitual-screen__item-btn md-skip"
                                                [attr.title]="item.name"
                                                [ngStyle]="{ background: item.buttonColor }"
                                            >
                                                <span
                                                    [ngStyle]="{ 'font-size': 16 + 'px' }"
                                                    [innerHTML]="getItemName(item.name)"
                                                >
                                                </span
                                                ><br />
                                                <span
                                                    *ngIf="item.name"
                                                    [innerHTML]="getItemName(item.name)"
                                                >
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-sort-modal #sortModal [title]="l('SortCategory')" (hideModal)="saveSort($event)"></app-sort-modal>
