<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #depotForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="depot.id">{{l("EditDepot")}}</span>
                        <span *ngIf="!depot.id">{{l("CreateNewDepot")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="code">{{l("Code")}} *</label>
                                    <input type="text" id="code" class="form-control" [(ngModel)]="depot.code"
                                        name="code" required #codeInput="ngModel" />
                                    <validation-messages [formCtrl]="codeInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="Street">{{l("Street")}}</label>
                                    <input type="text" id="Street" class="form-control" [(ngModel)]="depot.street"
                                        name="Street" #StreetInput="ngModel" />
                                    <validation-messages [formCtrl]="StreetInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="City">{{l("City")}} </label>
                                    <input type="text" id="City" class="form-control" [(ngModel)]="depot.city"
                                        name="City" #CityInput="ngModel" />
                                    <validation-messages [formCtrl]="CityInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="StateProvinceCountry">{{l("State/Province/Country")}}</label>
                                        <input type="text" id="StateProvinceCountry" class="form-control"
                                            [(ngModel)]="depot.stateProvinceCountry" name="StateProvinceCountry"
                                            #StateProvinceCountryInput="ngModel" />
                                        <validation-messages [formCtrl]="StateProvinceCountryInput">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        <label for="PostalCode">{{l("PostalCode")}} </label>
                                        <input type="text" id="PostalCode" class="form-control"
                                            [(ngModel)]="depot.postalCode" name="PostalCode"
                                            #PostalCodeInput="ngModel" />
                                        <validation-messages [formCtrl]="PostalCodeInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="FullAddress">{{l("FullAddress")}}</label>
                                    <input type="text" id="FullAddress" class="form-control"
                                        [(ngModel)]="depot.fullAddress" name="FullAddress"
                                        #FullAddressInput="ngModel" />
                                    <validation-messages [formCtrl]="FullAddressInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Latitude">{{l("Latitude")}}</label>
                                        <input type="number" id="Latitude" class="form-control"
                                            [(ngModel)]="depot.latitude" name="Latitude" #LatitudeInput="ngModel"
                                            (change)="changeMap()" />
                                        <validation-messages [formCtrl]="LatitudeInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Longitude">{{l("Longitude")}}</label>
                                        <input type="number" id="Longitude" class="form-control"
                                            [(ngModel)]="depot.longitude" name="Longitude"
                                            #LongitudeInput="ngModel" (change)="changeMap()" />
                                        <validation-messages [formCtrl]="LongitudeInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true"
                                [mapTypeControl]="true" [zoom]="zoomLevel" [zoomControlOptions]="zoomControlOptions"
                                (mapReady)="onMapReady($event)" (mapClick)="mapClicked($event)">
                                <agm-marker *ngFor="let m of markers; let i = index"
                                    (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                                    [label]="m.label" [markerDraggable]="m.draggable"
                                    (dragEnd)="markerDragEnd(m, $event)">
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!depotForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>