<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Depots' | localize" [description]="'DepotsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="createDepot()"
                    class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>
                    {{l("CreateNewDepot")}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getDepots()" class="btn btn-primary" type="submit">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getDepots($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px">
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Code">
                                            {{l('Code')}}
                                            <p-sortIcon field="Code"></p-sortIcon>
                                        </th>
                                        <th style="width: 300px" pSortableColumn="fullAddress">
                                            {{l('Address')}}
                                            <p-sortIcon field="fullAddress"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="latitude">
                                            {{l('Latitude')}}
                                            <p-sortIcon field="latitude"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="longitude">
                                            {{l('Longitude')}}
                                            <p-sortIcon field="longitude"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="createOrEditDepot.show(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="deleteDepot(record)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Code')}}</span>
                                            {{record.code}}
                                        </td>
                                        <td style="width:300px">
                                            <span class="ui-column-title"> {{l('Address')}}</span>
                                            {{record.fullAddress}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Latitude')}}</span>
                                            {{record.latitude}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Longitude')}}</span>
                                            {{record.longitude}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getDepots($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <app-create-or-edit-depot-modal #createOrEditDepotModal (modalSave)="getDepots()">
        </app-create-or-edit-depot-modal>
    </div>
</div>