::ng-deep {
    .go-payment-type-edit .ui-panel .ui-panel-titlebar {
        color: #327ad5;
        background-color: #e0ebf9;
        border-color: #e0ebf9;
    }

    .go-payment-type-edit .ui-panel {
        box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 18%);
    }
}