<div [@routerTransition]>
    <div class="go-payment-type-edit content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!paymentType?.id ? l('CreateDineGoPaymentType') : l('EditDineGoPaymentType') + ': ' + paymentType.label"> </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #form="ngForm" class="" novalidate autocomplete="off" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>{{ l('Label') }}*</label>
                                    <input autoFocus required class="form-control" type="text" name="Label" #PaymentTypeLabel="ngModel" [(ngModel)]="paymentType.label" />
                                    <validation-messages [formCtrl]="PaymentTypeLabel"></validation-messages>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="paymentTypeId"> {{ l('PaymentType') }}*</label>
                                <ng-select
                                    #PaymentType="ngModel"
                                    id="paymentTypeId"
                                    name="paymentTypeId"
                                    required
                                    [(ngModel)]="paymentType.paymentTypeId"
                                    [placeholder]="l('Select')"
                                >
                                    <ng-option *ngFor="let item of paymentTypes" [value]="+item.value">
                                        {{ item.displayText }}
                                    </ng-option>
                                </ng-select>
                                <validation-messages [formCtrl]="PaymentType"></validation-messages>
                            </div>
                        </div>

                        <div class="modal-footer px-0 pb-0">
                            <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                                {{ l('Cancel') }}
                            </button>

                            <button
                                type="button"
                                class="btn btn-primary blue"
                                [disabled]="form.form.invalid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                                (click)="save()"
                            >
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
