<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TimeSlots' | localize">
            <div role="actions">
                <button
                    (click)="editTimeSlots()"
                    class="btn btn-primary blue"
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Schedules.EditSchedule')"
                >
                    {{ l('EditTimeSlots') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getAll($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                dataKey="id"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="dayOfWeeks">
                                            {{ l('DayOfWeek') }}
                                            <p-sortIcon field="dayOfWeeks"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="mealTimeId">
                                            {{ l('MealTime') }}
                                            <p-sortIcon field="mealTimeId"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="type">
                                            {{ l('DeliveryType') }}
                                            <p-sortIcon field="type"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="locationId">
                                            {{ l('Location') }}
                                            <p-sortIcon field="locationId"></p-sortIcon>
                                        </th>
                                        <th style="width: 400px">
                                            {{ l('TimeSlot') }}
                                        </th>
                                        <th [hidden]="!isGranted('Pages.Tenant.Tiffin.Manage.ProductSets.Delete')">
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('DayOfWeek') }}</span>
                                            {{ getDayOfWeekLabel(record.dayOfWeek) }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('MealTime') }}</span>
                                            {{ record.mealTimeName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('DeliveryType') }}</span>
                                            {{ !record.type ? 'Delivery' : 'Self-Pickup' }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Locationi') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                        <td style="width: 400px">
                                            <span class="ui-column-title"> {{ l('TimeSlot') }}</span>
                                            <span> {{ record.timeSlots?.from }}-{{ record.timeSlots?.to }} </span>
                                        </td>
                                        <td>
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.OrderTags.Delete')"
                                                            (click)="deleteTimeSlot(record)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div>
                <div class="form-group">
                    <label for="deliveryType">{{ l('Delivery Type') }}</label>
                    <select [(ngModel)]="selectedDeliveryTypeId" (ngModelChange)="onChangeDeliveryType($event)" class="form-control" name="deliveryType" id="deliveryType">
                        <option *ngFor="let item of deliveryTypes" [ngValue]="item.value">{{ item.displayText }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="deliveryType">{{ l('Day Of Week') }}</label>
                    <select [(ngModel)]="dayOfWeek"  class="form-control" name="dayOfWeek" id="dayOfWeek">
                        <option [ngValue]="undefined" hidden>{{l('Select')}}</option>
                        <option *ngFor="let item of dayOfWeeks" [ngValue]="item.value">{{ item.displayText }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
