$primary-color: #F5C031;
$second-color: #2D5D8C;
$text-color: #575755;
$tag-color: #444444;
$black-product: #22232F;
$grey-product: #888884;
$allergy-color: #ED4941;
$success-color: #25da37;
$background-gray: #FCFCFC;
$background-main: #F7F7F7;
$border-section: #D7D7D7;
$color-paging: #488bf0;
$border-cart: #dbdbdb;