<div [@routerTransition]>
    <div class="go-charge-edit content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!department?.id ? l('CreateDineGoDepartment') : l('EditDineGoDepartment') + ': ' + department.label"> </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #form="ngForm" class="" novalidate autocomplete="off" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>{{ l('Label') }}*</label>
                                    <input autoFocus required class="form-control" type="text" name="Label" #DepartmentName="ngModel" [(ngModel)]="department.label" />
                                    <validation-messages [formCtrl]="DepartmentName"></validation-messages>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="departmentId"> {{ l('Department') }}*</label>
                                <ng-select
                                    #DepartmentId="ngModel"
                                    id="departmentId"
                                    name="departmentId"
                                    required
                                    [(ngModel)]="department.departmentId"
                                    [placeholder]="l('Select')"
                                >
                                    <ng-option *ngFor="let item of departments" [value]="+item.value">
                                        {{ item.displayText }}
                                    </ng-option>
                                </ng-select>
                                <validation-messages [formCtrl]="DepartmentId"></validation-messages>
                            </div>
                        </div>

                        <div class="row">
                            <p-panel [header]="l('Charge')" [toggleable]="true">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="charge"> {{ l('Charges') }}</label>

                                        <ng-select id="charge" name="department" [(ngModel)]="selectedCharge" [placeholder]="l('Select')">
                                            <ng-option *ngFor="let charge of charges" [value]="charge">
                                                {{ charge.label }}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label style="visibility: hidden;">Add</label>
                                        <button [disabled]="!selectedCharge" type="button" class="btn btn-primary" (click)="addCharge()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <!--<Primeng-Datatable-Start>-->
                                    <div class="primeng-datatable-container col-12">
                                        <p-table
                                            #dataTable
                                            class="custom-table"
                                            [value]="dineGoCharges"
                                            [(rows)]="paging.rows"
                                            [paginator]="true"
                                            [(first)]="paging.first"
                                            [showCurrentPageReport]="true"
                                            [scrollable]="true"
                                            (sortFunction)="primengTableHelper.customSort($event)"
                                            [customSort]="true"
                                            ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="label">
                                                        {{ l('Charge') }}
                                                        <p-sortIcon field="label"></p-sortIcon>
                                                    </th>
                                                    <th>
                                                        {{ l('Delete') }}
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Department') }}</span>
                                                        {{ record.label }}
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-danger" (click)="removeCharge(record)">Delete</button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="dineGoCharges.length == 0">
                                            {{ l('NoData') }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                #paginator
                                                [rows]="paging.rows"
                                                [totalRecords]="dineGoCharges.length"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                                (onPageChange)="onChangePage($event)"
                                            >
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', dineGoCharges.length) }}
                                            </span>
                                        </div>
                                    </div>
                                    <!--<Primeng-Datatable-End>-->
                                </div>
                            </p-panel>
                        </div>

                        <div class="modal-footer px-0 pb-0">
                            <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                                {{ l('Cancel') }}
                            </button>

                            <button
                                type="button"
                                class="btn btn-primary blue"
                                [disabled]="form.form.invalid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                                (click)="save()"
                            >
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
