<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!promotionId ? l('CreateNewPromotion') : l('EditPromotion')"></sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form #promotionForm="ngForm" novalidate autocomplete="off" class="kt-form">
            <tabset #tabSet class="tab-container tabbable-line" >
              <tab heading="{{l('BasicInformation')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="Promotion_Name">{{l("Name")}} *</label>
                    <input type="text" id="Promotion_Name" class="form-control" [(ngModel)]="promotion.name" name="name"
                      required #promotion_Name="ngModel" />
                    <validation-messages [formCtrl]="promotion_Name"></validation-messages>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Promotion_Type">{{l("PromotionType")}} *</label>
                    <select id="Promotion_Type" class="form-control" [(ngModel)]="promotion.type"
                      name="promotionType" required #promotion_Type="ngModel" [disabled]="promotionId">
                      <option *ngFor="let type of promotionTypes" [value]="type.value">
                        {{type.displayText}}
                      </option>
                    </select>
                    <validation-messages [formCtrl]="promotion_Type">
                    </validation-messages>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Voucher_Value">{{l("VoucherValue")}} *</label>
                    <input id="Voucher_Value" type="number" class="form-control" [(ngModel)]="promotion.voucherValue"
                      name="voucherValue" required #voucher_Value="ngModel" />
                    <validation-messages [formCtrl]="voucher_Value"></validation-messages>
                  </div>
                </div>
              </tab>

              <tab heading="{{l('Conditions')}}" customClass="kt-tabs__item" tabindex="2" class="p-5">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="Promotion_Validity">{{l("Validity")}} *</label>
                    <input id="Promotion_Validity" type="text" name="validity" class="form-control"
                      #promotion_Validity="ngModel" bsDatepicker required datePickerMomentModifier
                      [(ngModel)]="promotion.validity" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }" />
                    <validation-messages [formCtrl]="promotion_Validity"></validation-messages>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Promotion_MinimumOrderAmount">{{l("MinimumOrderAmount")}}</label>
                    <input type="number" id="Promotion_MinimumOrderAmount" class="form-control"
                      [(ngModel)]="promotion.minimumOrderAmount" name="MinimumOrderAmount" />
                  </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                      <label class="checkbox checkbox-outline">
                        <input [disabled]="isDisabledAutoAttach" type="checkbox" [(ngModel)]="promotion.isAutoAttach"
                          name="isAutoAttach" value="true" />{{"AutoAttach" | localize}}
                        <span [ngClass]="{'disabled': isDisabledAutoAttach}"></span>
                      </label>
                    </div>
                    <div class="form-group col-md-6">
                      <label *ngIf="!promotion.isAutoAttach" class="checkbox checkbox-outline">
                        <input type="checkbox" [(ngModel)]="promotion.allowMultipleRedemption"
                          name="allowMultipleRedemption" value="true" />{{"AllowMultipleRedemption" | localize}}
                        <span></span>
                      </label>
                    </div>
                </div>
                <div *ngIf="promotion.allowMultipleRedemption && !promotion.isAutoAttach" class="row">
                  <div class="form-group col-md-6">
                    <label for="Promotion_MultiRedemptionCount">{{l("MultiRedemptionCount")}}</label>
                    <input type="number" id="Promotion_MultiRedemptionCount" class="form-control"
                      [(ngModel)]="promotion.multiRedemptionCount" name="multiRedemptionCount"
                      #promotion_MultiRedemptionCount="ngModel" />
                    <validation-messages [formCtrl]="promotion_MultiRedemptionCount"></validation-messages>
                  </div>
                </div>
              </tab>
              <tab heading="{{l('Generate')}}" customClass="kt-tabs__item" tabindex="2" class="p-5">
                <form #generateForm="ngForm" autocomplete="off">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="Promotion_Prefix">{{l("Prefix")}}</label>
                      <input type="text" id="Promotion_Prefix" class="form-control" [(ngModel)]="promotionCodeGenerate.prefix"
                        name="prefix" #promotion_Prefix="ngModel" />
                      <validation-messages [formCtrl]="promotion_Prefix"></validation-messages>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Promotion_Suffix">{{l("Suffix")}}</label>
                      <input type="text" id="Promotion_Suffix" class="form-control" [(ngModel)]="promotionCodeGenerate.suffix"
                        name="suffix" #promotion_Suffix="ngModel" />
                      <validation-messages [formCtrl]="promotion_Suffix"></validation-messages>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="Promotion_TotalVouchers">{{l("TotalVouchers")}} *</label>
                      <input type="number" id="Promotion_TotalVouchers" class="form-control"
                        [(ngModel)]="promotionCodeGenerate.totalVouchers" name="totalVouchers"
                        #promotion_TotalVouchers="ngModel" required />
                      <validation-messages [formCtrl]="promotion_TotalVouchers"></validation-messages>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Promotion_TotalDigits">{{l("TotalDigits")}} *</label>
                      <input type="number" id="Promotion_TotalDigits" class="form-control" required
                        [(ngModel)]="promotionCodeGenerate.totalDigits" name="totalDigits" #promotion_TotalDigits="ngModel" />
                      <validation-messages [formCtrl]="promotion_TotalDigits"></validation-messages>
                    </div>
                  </div>
                  <div class="row" *ngIf="!promotion.isAutoAttach">
                    <div class="col-md-6 offset-md-6">
                      <button [disabled]="isDisabledGenerate" 
                        [ngClass]="{'disabled': isDisabledGenerate}"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="button" class="btn btn-danger"
                        (click)="generate()">
                        {{l("Generate")}}
                      </button>
                    </div>
                  </div>
                </form>
              </tab>
              <tab *ngIf="promotionId" heading="{{l('Vouchers')}}" customClass="kt-tabs__item" tabindex="2" class="p-5">
                <div [class]="containerClass">
                  <div class="card card-custom gutter-b">
                    <div class="card-body">
                      <div class="card-body__header">
                        <div class="card p-card">
                          <div class="card-body">
                            <div class="total-count__value text-success">{{promotion.codes?.length}}</div>
                            <div class="total-count__title text-muted">{{l('TotalCount')}}</div>
                          </div>
                        </div>
                        <div class="card p-card">
                          <div class="card-body">
                            <div class="total-claimed__value text-danger">{{totalClaimed}}</div>
                            <div class="total-claimed__title text-muted">{{l('TotalClaimed')}}</div>
                          </div>
                        </div>
                        <div class="card p-card">
                          <div class="card-body">
                            <div class="total-count__value text-danger">0</div>
                            <div class="total-count__title text-muted">{{l('TotalAssigned')}}</div>
                          </div>
                        </div>
                      </div>
                      <form class="form" autocomplete="off">
                        <div>
                          <div class="row align-items-center">
                            <div class="col-xl-12">
                              <div class="form-group m-form__group align-items-center">
                                <div class="input-group">
                                  <input [(ngModel)]="filterText" name="filterText" autoFocus
                                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                  <span class="input-group-btn">
                                    <button (click)="getVouchers()" class="btn btn-primary" type="submit"><i
                                        class="flaticon-search-1"></i></button>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>

                      <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" *ngIf="promotion.codes" [busyIf]="primengTableHelper.isLoading">
                          <p-table #dataTable class="custom-table"
                            [value]="primengTableHelper.records"
                            [(rows)]="paging.rows" 
                            [paginator]="true" 
                            [(first)]="paging.first" 
                            [showCurrentPageReport]="true"
                            [scrollable]="true" 
                            (sortFunction)="primengTableHelper.customSort($event)" [customSort]="true"
                            ScrollWidth="100%" 
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                              <tr>
                                <th>
                                  {{l('Voucher')}}
                                </th>
                                <th pSortableColumn="isClaimed">
                                  {{l('Claimed')}}
                                  <p-sortIcon field="isClaimed"></p-sortIcon>
                                </th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                              <tr>
                                <td>
                                  <span class="ui-column-title"> {{l('Voucher')}}</span>
                                  {{record.code}}
                                </td>
                                <td>
                                  <span class="ui-column-title">{{'Claimed' | localize}}</span>
                                  <span class="label label-success label-inline"
                                    *ngIf="record.isClaimed">{{'Yes' | localize}}</span>
                                  <span class="label label-dark label-inline"
                                    *ngIf="!record.isClaimed">{{'No' | localize}}</span>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                          </div>
                          <div class="primeng-paging-container">
                            <p-paginator #paginator
                              [rows]="paging.rows" 
                              [totalRecords]="primengTableHelper.totalRecordsCount"
                              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                              (onPageChange)="onChangePage($event)">
                            </p-paginator>
                            <span class="total-records-count">
                              {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                          </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>

            <div class=" modal-footer">
              <button [disabled]="saving" type="button" class="btn btn-outline-secondary text-uppercase"
                (click)="close()">{{l("Cancel")}}</button>

              <button type="button" class="btn btn-primary blue text-uppercase" 
                [disabled]="!promotionForm.form.valid || (promotion.isAutoAttach && !promotionCodeGenerate.totalDigits)" [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')" (click)="save(false)"><i class="fa fa-save"></i>
                <span>{{l("Save")}}</span></button>

              <button type="button" class="btn btn-primary blue text-uppercase" 
                [disabled]="!promotionForm.form.valid || (promotion.isAutoAttach && !promotionCodeGenerate.totalDigits)" [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')" (click)="save(true)"><i class="fa fa-save"></i>
                <span>{{l("SaveAndClose")}}</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
x  </div>
</div>