<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #tiffinMealTimeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="tiffinMealTime.id">{{l("EditMealTime")}}</span>
            <span *ngIf="!tiffinMealTime.id">{{l("CreateMealTime")}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">

            <div class="form-group">
              <label for="TiffinMealTime_Code">{{l("Code")}} *</label>
              <input type="text" id="TiffinMealTime_Code" class="form-control" [(ngModel)]="tiffinMealTime.code"
                name="Code" #codeInput="ngModel" required />
              <validation-messages [formCtrl]="codeInput"></validation-messages>
            </div>

            <div class="form-group">
              <label for="TiffinMealTime_Name">{{l("Name")}} *</label>
              <input type="text" id="TiffinMealTime_Name" class="form-control" [(ngModel)]="tiffinMealTime.name"
                name="Name" required #nameInput="ngModel" />
              <validation-messages [formCtrl]="nameInput"></validation-messages>
            </div>
            <div class="form-group">
                <label for="isDefault" class="checkbox mr-2">
                    <input [(ngModel)]="tiffinMealTime.isDefault" id="isDefault" name="isDefault" type="checkbox">
                    {{l("Default")}}
                    <span></span>
                </label>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
            {{l("Cancel")}}
          </button>
          <button type="submit" class="btn btn-primary blue" [disabled]="!tiffinMealTimeForm.form.valid"
            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
            <i class="fa fa-save"></i>
            <span>{{l("Save")}}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>