<div class="foodstack_app">
    <!-- navbar -->
    <topbar></topbar>
    <!-- navbar ends -->

    <div class="site_body">
        <router-outlet></router-outlet>
        <!-- footer -->
        <footer-bar></footer-bar>
        <!-- foooter ends -->
    </div>
</div>
