<div class="topbar-item h-100">
    <div class="kt-header__topbar-wrapper">
        <a href="javascript:;" class="kt-header__topbar-user" role="menuitem" aria-haspopup="true"
            aria-expanded="false" tabindex="0">
            <span class="kt-header__topbar-username">
                <button (click)="setDefaultLocation()" class="btn btn-primary"
                    *ngIf="isGranted('Pages.Tenant.Dashboard')">
                    <span *ngIf="userDefaultOrganizationListDto">
                        <span *ngIf="!userDefaultOrganizationListDto.defaultLocationName">
                            Set location
                        </span>
                        <span *ngIf="userDefaultOrganizationListDto.defaultLocationName">
                            {{userDefaultOrganizationListDto.defaultLocationName}}
                        </span>
                    </span>
                    <span *ngIf="!userDefaultOrganizationListDto">
                        Set location
                    </span>
                </button>
            </span>
        </a>
    </div>
</div>
<defaultLocation #defaultLocationModal (defaultLocationUpdated)="getUserInfo()"></defaultLocation>
