<div [@routerTransition] class="sale-summary">
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'SaleSummary' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-default ml-1" (click)="exportConsolidateToExcel()"><i
                                        class="la-file-excel-o"></i> {{ l('Consolidate') }}</button>
                                <button class="btn btn-default ml-1" (click)="print()"><i
                                        class="la-file-excel-o"></i> {{ l('40 Col') }}</button>
                                <button class="btn btn-default ml-1" (click)="exportToExcelByLocation()"><i
                                        class="la-file-excel-o"></i> {{ l('Location') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-primary ml-1" (click)="getTicketSyncs()"><i
                                        class="la la-check-circle-o"></i> {{ l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-md-12">
                            <div class="portlet light">
                                <div class="portlet-body">
                                    <p-chart type="line" [data]="data" height="400px"></p-chart>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="Date">
                                            {{ l('Date') }}
                                            <p-sortIcon field="Date"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Location">
                                            {{ l('Location') }}
                                            <p-sortIcon field="Location"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="TotalTicketCount">
                                            {{ l('TotalTicketCount') }}
                                            <p-sortIcon field="TotalTicketCount"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Total">
                                            {{ l('Total') }}
                                            <p-sortIcon field="Total"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Date') }}</span>
                                            {{ record.dateStr }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Location') }}</span>
                                            {{ record.location }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TotalTicketCount') }}</span>
                                            {{ record.totalTicketCount | number: '1.2' }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Total') }}</span>
                                            {{ record.total | number: '1.2'}}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="2">{{ l('Total') }}</td>
                                        <td>{{sumTotalTicketCount | number: '1.2'}}</td>
                                        <td>{{sumTotal | number: '1.2'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container" style="display: none;">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getTicketSyncs($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sale-summary-print">
    <app-sale-summary-print [data]="primengTableHelper.records"></app-sale-summary-print>
</div>
<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
