.wrapper-payment {
  width: 100%;
  min-height: 100vh;
  // max-width: 768px;
  margin: auto;
  position: relative;
  padding: 3rem 0 1rem 0;
  background-color: var(--app-dine-bg);

  .wrapper-header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    // max-width: 768px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 2px 10px 0 #eeedf5;
    z-index: 1;

    #header-lbl {
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 1.4rem;
    }

    .backward-btn {
      width: 3rem;
      height: 100%;
      outline: none;
      border: none;
      background: unset;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .wrapper-orders {
    width: 100%;

    .wrapper-order-detail {
      width: 100%;
      padding: 1rem;
      box-shadow: 0 2px 30px 0 #edecf2;

      .message-order{
        padding-left:10px;
        font-size: 13px; 
        i{
          color:#9e9ea7;
        }
      }
      .list-order-items {
        width: 100%;

        .wrapper-item {
          display: flex;
          align-items: center;
          padding: 0.4rem 0.8rem;

          .thumbnail {
            width: 3rem;
            height: 3rem;
            background-color: #333;

            img {
              height: 100%;
              width: 100%;
            }
          }

          .detail {
            height: 3rem;
            padding: 0 1rem;
            width: calc(100% - 9rem);

            p {
              display: -webkit-box;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              margin: 0;

              &#name {
                font-weight: bold;
              }

              &#note {
                color: #75708a;
                font-size: 0.95rem;
              }
            }
          }

          .price {
            height: 3rem;
            width: 6rem;
            text-align: right;
            color: #282144;
          }
        }
      }

      .wrapper-total-fee {
        padding: 0 10px;

        .detail-fees {
          p {
            padding-right: 5px;
          }
        }

        p {
          margin: 5px 0;

          span {
            float: right;
          }
        }

        .btn-confirm {
          background-color: black;
        }

        .wrapper-input-coupon {
          .p-input-icon-left {
            .fa-check-circle {
              font-size: 1.2rem;
              color: #11af25;
            }

            height: 100%;
            width: 100%;

            input {
              border-radius: 2px;
              background-color: #f9f9f9;
              height: 100%;
              width: 100%;
              border: 0;
              outline: none;
              padding: 0.5rem 0.5rem 0.5rem 2rem;
              font-size: 1.1rem;

              &::placeholder {
                color: #9e9ea7;
              }
            }
          }
        }
      }
    }
  }

  .wrapper-recomment-order {
    width: 100%;
    $border-radius-item: 4px;

    .wrapper-recomment-items {
      height: 8rem;
      width: 100%;
      overflow-x: auto;
      position: relative;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .list-items {
        position: absolute;
        padding-right: 1rem;
        height: 8rem;
        top: 0rem;
        left: 0;
        padding: 0;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        min-width: 100%;

        .recomment-item {
          background-color: white;
          border-radius: $border-radius-item;
          height: 6rem;
          width: 18rem;
          display: flex;
          box-shadow: 0 2px 10px 0 #cccad6;
          margin-left: 1rem;

          .thumbnail {
            border-top-left-radius: $border-radius-item;
            border-bottom-left-radius: $border-radius-item;
            width: 6rem;
            height: 100%;

            img {
              border-top-left-radius: $border-radius-item;
              border-bottom-left-radius: $border-radius-item;
              height: 100%;
              width: 100%;
            }
          }

          .item-info {
            border-top-right-radius: $border-radius-item;
            border-bottom-right-radius: $border-radius-item;
            width: calc(100% - 6rem);
            height: 100%;
            position: relative;
            padding: 0.5rem 0 0 1rem;

            .item-name {
              font-size: 11pt;
              margin: 0;
              display: -webkit-box;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }

            .item-description {
              margin: 0;
              font-size: 11pt;
              color: #9e9ea7;
            }

            .item-price {
              position: absolute;
              right: 0;
              bottom: 0;
              border-top-left-radius: $border-radius-item;
              border-bottom-right-radius: $border-radius-item;
              background-color: #f0f0f0;
              padding: 2px 16px;
            }
          }
        }
      }
    }
  }

  .wrapper-delivery-info {
    width: 100%;
    padding: 0 1rem;

    .dine-input-group {
      label {
        font-weight: 600;
        display: block;

        #required {
          color: #ff272b;
        }
      }

      input {
        padding-left: 1rem;
      }

      .p-input-icon-left {
        width: 100%;

        .pi {
          left: 1rem;
        }

        input {
          padding-left: 3rem;

          &:focus {
            box-shadow: none;
          }
        }
      }

      .wrapper-error {
        min-height: 1.5rem;
        min-width: 100%;
      }
    }
  }

  .wrapper-map {
    min-width: 100%;
    min-height: 10rem;
    padding: 0 1rem;

    #googleMap {
      width: 100%;
      height: 10rem;
    }
  }

  .wrapper-payment-option {
    .wrapper-options {
      width: 100%;

      .option {
        width: 100%;
        min-height: 3.6rem;
        display: flex;

        &.active {
          background-color: #ffffff;
          box-shadow: 0 2px 30px 0 #edecf2;
        }

        #radio-control {
          min-width: 3.6rem;
          min-height: 3.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          input[type="radio"] {
            border: none;
            border-radius: none;
            min-width: 1.2rem;
            min-height: 1.2rem;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;

            &::before {
              content: "";
              width: 1.2rem;
              height: 1.2rem;
              background-color: white;
              border: 2px solid #bfbfbf;
              border-radius: 100%;
              position: absolute;
            }

            &:checked {
              &::before {
                border: 2px solid var(--btn-dine-primary);
              }

              &::after {
                content: "";
                width: 0.6rem;
                height: 0.6rem;
                background-color: var(--btn-dine-primary);
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
                border-radius: 100%;
              }
            }
          }
        }

        #icon-payment {
          min-width: 3.6rem;
          min-height: 3.6rem;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 50%;
            height: 50%;
          }
        }

        #name-method {
          display: flex;
          align-items: center;
          min-width: calc(100% - 7.2rem);
          min-height: 3.6rem;
          font-weight: 600;
        }
      }
    }
  }

  .wrapper-btn-submit {
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 30px 0 #eeedf5;

    .btn-dine-primary {
      box-shadow: unset;
    }
  }

  #header-delivery-info,
  #header-recomment-order,
  #header-payment-option,
  #header-order {
    height: 4rem;
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1rem;
  }

  #header-delivery-info {
    padding: 0;
  }
}

::ng-deep .p-dropdown {
  width: 100%;
  border: 0;
  background: #f9f9f9;

  .p-dropdown-label {
    padding-left: 1rem;
  }

  .pi-chevron-down {
    color: #999;
  }
}

.dine-control {
  height: 2.7rem;
  width: 100%;
  border-radius: 4px;
  background-color: #f9f9f9;
  outline: none;
  border: 0;

  ::placeholder {
    color: #9e9ea7;
  }

  &:focus {
    border: 1px solid #ebaa6c;
  }

  ::ng-deep .p-autocomplete {
    width: 100%;

    input {
      width: 100%;
      height: 2.7rem;
      width: 100%;
      border-radius: 4px;
      background-color: #f9f9f9;
      outline: none;
      border: 0;
    }
  }
}

.dine-text {
  height: 2.7rem;
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  outline: none;
  border: 0;
}

::ng-deep .custom-dropdown {
  left: 1rem !important;
}

.wrapper-calendar {
  width: 100%;
  display: flex;

  .calendar-item {
    width: 50%;
  }
}

.show {
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  bottom: 0;
  overflow: auto;
  overflow: hidden;
  background-color: rgba(65, 73, 82, 0.8);
}

.popup-overlay {
  position: fixed;
  overflow: auto;

  .popupholder {
    bottom: -100%;
    position: absolute;

    @media (min-width: 768px) {
      position: fixed;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%);
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    .add-item {
      width: 100%;
      height: 2.5rem;
      text-align: center;
      //border-radius: 0.5rem;
      padding: 0.5rem;
    }
  }

  .product-cols ul.list-unstyled li {
    color: #212529;
  }

  .jcf-checkbox {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: default;
    background: #fff;
    //border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0 3px 0 0;
    height: 22px;
    width: 22px;

    span {
      position: absolute;
      display: none;
      height: 7px;
      width: 13px;
      top: 50%;
      left: 50%;
      margin: -5px 0 0 -6px;
      border: 3px solid black;
      border-width: 0 0 2px 2px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .customize-popup {
    width: 100%;
    background-color: #fff;
    position: relative;
    min-width: 20rem;
    height: auto;
    max-height: 95vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    .info-holder {
      margin: 0 0 1.25rem;
      overflow: hidden;

      @media (min-width: 768px) {
        margin: 0 0 14px;
      }

      label {
        display: inline-block;
        vertical-align: top;
        color: #7e8389;
        margin: 0;
      }
    }

    .form-holder {
      @media (min-width: 768px) {
        padding: 0.9375rem 1.3125rem 0 1.375rem;
      }

      @media (max-width: 767px) {
        padding: 0;
      }

      .info-item {
        max-height: calc(85vh - 26rem);
        overflow: auto;
      }

      .info-combo-item {
        max-height: calc(85vh);
        overflow: auto;
      }

      .text-title {
        display: flex;
        padding: 1rem 1rem 0 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #282144;

        .cart_item_name {
          order: 1;
        }

        .price-text {
          flex: 1;
          order: 2;
          text-align: end;
        }
      }

      .sub-title {
        font-size: 12px;
        font-weight: 600;
        text-align: end;
        color: #75708a;
        padding-right: 1rem;
      }

      .size-title {
        color: #75708a;
        font-size: 14px;
        padding: 0 1rem;
        font-weight: 600;
      }

      .tags-style {
        padding: 1rem 1rem 0 1rem;

        .tag-title {
          color: #75708a;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .tag-item {
        margin: 0.5rem 0;
        display: flex;
        color: #75708a;

        .tag-name {
          order: 1;
          flex: 2;
          font-size: 13px;
          font-weight: 600;
          display: flex;
          align-items: center;
        }

        .input-holder {
          text-align: center;
          flex: 1;
          order: 2;
          float: right;

          .square-button {
            background-color: white;
            padding: 3px;
            border-radius: 5px;
            color: #877fab;
            border: 2px solid #dcdcdc;
          }

          .number-jcf {
            padding: 0 0.5rem;
            font-size: 13px;
            font-weight: bold;
            color: #282144;
          }
        }

        .tag-price {
          flex: 1;
          order: 3;
          font-size: 13px;
          font-weight: 600;
          text-align: end;
        }
      }

      .combo-list {
        display: flex;
        padding: 10px;
        border: 1px solid #eeeeee;
        background: #f9f9f9;

        .combo-name {
          order: 1;
          font-size: 15px;
          font-weight: bold;
          color: #282144;
        }

        .combo-icon {
          flex: 1;
          order: 2;
          text-align: end;
        }
      }

      .invalid-combo {
        text-align: center;
        padding: 10px;
        color: white;
        background-color: red;
      }

      .add-total {
        text-align: center;

        .circle-button {
          background-color: var(--btn-dine-primary);
          padding: 5px;
          border-radius: 50%;
          color: white;
        }

        .number-jcf {
          padding: 0.5rem 3rem;
          font-size: 15px;
          font-weight: bold;
          color: #282144;
          background-color: #f9f9f9;
        }
      }

      input[type="checkbox"] {
        border: 1px solid #a6a6a6;
        background-color: #fff;
        width: 1.2rem;
        height: 1.2rem;
      }

      input:checked {
        background-color: red;
      }

      .checkbox-label {
        font-size: 13px;
        padding-left: 0.5rem;
        margin-bottom: 0;
      }
    }

    .footer {
      background: #fafafa;
      padding: 0.6875rem 1.25rem;
      text-align: right;
    }

    .btn {
      text-transform: uppercase;
      border: 0;
      font-size: 0.75rem;
      line-height: 0.875rem;
      letter-spacing: 1.5px;
      cursor: pointer;
      color: #fff;
      vertical-align: middle;
      text-transform: uppercase;
      padding: 0;

      @media (min-width: 768px) {
        margin: 0 0 0 1.125rem;
        padding: 1.125rem 0.9375rem;
        min-width: 8.75rem;
        height: 3.125rem;
      }

      @media (max-width: 767px) {
        background: none;
        vertical-align: top;
      }
    }

    .price {
      font-size: 0.875rem;
      line-height: 1rem;
      float: left;
      text-transform: uppercase;

      @media (min-width: 768px) {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }

      @media (min-width: 576px) {
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .image {
      width: calc(100%);
      background: #f5f5f5;
      //border-radius: 0.375rem 0.375rem 0 0;
      overflow: hidden;
      position: relative;
      height: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .bg-image {
        display: block;
        background-size: cover;
        background-position: 50% 50%;
        width: calc(100%);
        -webkit-transition: -webkit-transform linear 0.3s;
        transition: -webkit-transform linear 0.3s;
        transition: transform linear 0.3s;
        transition: transform linear 0.3s, -webkit-transform linear 0.3s;
      }
    }

    .text {
      position: relative;
      padding: 0.5rem 0;

      @media (min-width: 768px) {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }

      @media (min-width: 576px) {
        font-size: 0.875rem;
      }
    }

    ::ng-deep .p-field-checkbox {
      margin: 0.5rem 1rem;
      display: flex;

      label {
        font-size: 13px;
        text-align: center;
        font-weight: 600;
        margin: 0 0 0.2rem 1rem !important;
        color: #75708a;
      }

      .size-name {
        order: 1;
      }

      .size-price {
        flex: 1;
        order: 2;
        text-align: end;
      }

      .p-radiobutton {
        .p-radiobutton-box {
          width: 1rem;
          height: 1rem;
        }

        .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
          border-color: var(--btn-dine-primary);
        }

        .p-radiobutton-box.p-highlight {
          border-color: var(--btn-dine-primary);
          background: var(--btn-dine-primary);
        }

        .p-radiobutton-icon {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }
  }

  .heading {
    display: block;
    background: #fafafa;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.8125rem 3rem;
    font-weight: 500;
    height: 2rem;
    border: 1px solid #f5f5f5;

    @media (min-width: 768px) {
      padding: 1em;
      height: auto;
      border: 0;
    }
  }

  .close:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .icon-close:before {
    content: "\f00d";
    font-family: fontAwesome;
  }

  .close {
    position: absolute;
    font-size: 1rem;
    line-height: 1rem;
    right: 1.125rem;
    left: auto;
    top: 0.5rem;
  }
}

.dine-input-group {
  width: 100%;

  .wrapper-postal-control {
    width: 100%;
    height: 2.7rem;
    display: flex;
    justify-content: space-between;

    .dine-control {
      width: calc(100% - 3.7rem);
    }

    .btn-dine-primary {
      height: 2.7rem;
      width: 2.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ::ng-deep .ng-invalid.ng-dirty {
    .p-calendar {
      input {
        border: 0;
        border-bottom: 1px solid #ff272b !important;
      }
    }
  }
}


.order-note  {
  font-size: 11px;
}

.wrapper-input-control {
  margin-bottom: 0.5rem;

  ::ng-deep .phone-input {
    .separate-dial-code {
      width: 100%;

      // .iti__selected-flag {
      //   border-right: 1px solid #e5e5e5;
      // }

      .custom {
        width: 100%;
        height: 3rem;
        color: #9e9ea7;
        font-family: Mulish;
        font-size: 1.1rem;
        box-sizing: border-box;
        // border: 1px solid #e5e5e5;
        border: none;
        border-radius: 4px;
        background-color: #ffffff;
        .ng-invalid.ng-touched {
          border-bottom: 1px solid #ff272b !important;
        }

      }
      .ng-invalid.ng-dirty {
        .custom {
          input {
            border: 0;
            border-bottom: 1px solid #ff272b !important;
          }
        }
      }
    }
  }

  .wrapper-error-msg {
    height: 1.2rem;

    .error-msg {
      font-family: Mulish;
      font-size: 0.86rem;
      line-height: 1.2rem;
      display: block;
    }
  }
}
