<div class="wrapper-payment" *ngIf="formGroup" [formGroup]="formGroup">
    <div class="wrapper-header">
        <div id="header-lbl">
            <span>{{ headerLbl }}</span>
        </div>
        <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
    </div>
    <div class="edine-container">
        <div class="wrapper-orders">
            <div id="header-order">
                <span>{{ orderLbl }}</span>
            </div>
            <div class="wrapper-order-detail">
                <div class="list-order-items">
                    <!-- Previous Ordered Items on same table -->
                    <ng-container *ngIf="orderedList">
                        <ng-container *ngFor="let item of orderedList">
                            <div class="wrapper-item">
                                <div class="thumbnail">
                                    <img appProductImage [src]="item?.screenMenuItem.image" alt="" />
                                </div>
                                <div class="detail">
                                    <p id="name">
                                        {{ item.screenMenuItem.name }} x<span id="quality">{{ item.quantity }}</span>
                                    </p>
                                    <p id="note">{{ item.description }}</p>
                                    <p class="order-note" *ngIf="item.note">{{ item.note }}</p>
                                </div>
                                <div class="price">
                                    {{ systemCurrency }} {{ item.subTotal?.toFixed(2) }}
                                </div>
                            </div>
                            <div *ngIf="item.isCombo" class="ml-3">
                                <div class="wrapper-item" *ngFor="let comboItem of item.subItems; let i = index">
                                    <div class="thumbnail">
                                        <img appProductImage [src]="comboItem?.screenMenuItem.image" alt="" />
                                    </div>
                                    <div class="detail">
                                        <p id="name" title="{{ comboItem.screenMenuItem.name + ' x' + comboItem.quantity }}">
                                            {{ comboItem.screenMenuItem.name }}
                                        </p>
                                        <p id="note" title="">
                                            {{ comboItem.description ? comboItem.description : comboItem.portion?.name }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let item of orderList">
                        <div class="wrapper-item">
                            <div class="thumbnail">
                                <img appProductImage [src]="item?.screenMenuItem.image" alt="" />
                            </div>
                            <div class="detail">
                                <p id="name">
                                    {{ item.screenMenuItem.name }} x<span id="quality">{{ item.quantity }}</span>
                                </p>
                                <p id="note">{{ item.description }}</p>
                                <p class="order-note" *ngIf="item.note">{{ item.note }}</p>
                            </div>
                            <div class="price">
                                {{ systemCurrency }} {{ item.subTotal?.toFixed(2) }}
                            </div>
                        </div>
                        <div *ngIf="item.isCombo" class="ml-3">
                            <div class="wrapper-item" *ngFor="let comboItem of item.subItems; let i = index">
                                <div class="thumbnail">
                                    <img appProductImage [src]="comboItem?.screenMenuItem.image" alt="" />
                                </div>
                                <div class="detail">
                                    <p id="name" title="{{ comboItem.screenMenuItem.name + ' x' + comboItem.quantity }}">
                                        {{ comboItem.screenMenuItem.name }}
                                    </p>
                                    <p id="note" title="">
                                        {{ comboItem.description ? comboItem.description : comboItem.portion?.name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <span class="message-order"><i>{{infoMinimumOrder}}</i></span>
                <hr style="border-top: 1px dashed #d5d5d5" />
                <div class="wrapper-total-fee">
                    <div class="detail-fees w-100">
                        <p>
                            Sub Total
                            <span><strong>
                  {{ systemCurrency }} {{ subTotalPrice.toFixed(2) }}</strong></span>
                        </p>
                        <p *ngIf="isDeliveryType">
                            Delivery fee:
                            <span><strong> {{ deliveryFee.toFixed(2) }}</strong></span>
                        </p>
                        <p *ngFor="let fee of wheelServiceFees">
                            {{ fee.feeType ? fee.name : fee.name + "(" + fee.value + "%)" }}:
                            <span>
                <strong>
                  {{ systemCurrency }}
                  {{ fee.feeType ? fee.value.toFixed(2) : ((subTotalPrice * fee.value) / 100).toFixed(2) }}
                </strong>
              </span>
                        </p>
                        <p *ngIf="taxAmount">
                            Tax:
                            <span><strong> {{ systemCurrency + " " + taxAmount.toFixed(2) }}</strong></span>
                        </p>

                        <p *ngIf="promotionDiscountPayment && promotionDiscountPayment.totalClaimAmount">
                            Discount <span><strong style="color: #ee003c"> {{ systemCurrency + " " +
                  promotionDiscountPayment.totalClaimAmount.toFixed(2) }}</strong></span>
                        </p>
                        <ng-container *ngIf="promotionDiscountPayment && promotionDiscountPayment.discountDetails.length">
                            <div *ngFor="let item of promotionDiscountPayment.discountDetails" class="wrapper-input-coupon">
                                <span class="p-input-icon-left">
                  <i class="fa fa-check-circle"></i>
                  <input type="text" value="{{item.code}}" readonly />
                </span>
                            </div>
                        </ng-container>
                        <div class="wrapper-input-coupon">
                            <span class="p-input-icon-left" style="width: calc(100% - 120px);">
                <i class="fa fa-check-circle"></i>
                <input type="text" placeholder="Enter coupon code" formControlName="coupon" />
              </span>
                            <button pRipple class="btn-dine-primary" type="button" (click)="applyCoupon()" style="width: 100px;float: right;">Apply</button>
                        </div>
                        <hr style="border-top: 1px dashed #d5d5d5" />
                        <p>
                            <strong>TOTAL</strong>
                            <span><strong>{{ systemCurrency }} {{ totalPrice.toFixed(2) }}</strong></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-delivery-info">
            <div id="header-delivery-info">
                <span>Order Note</span>
            </div>
            <textarea placeholder="Enter your note" id="Note" class="dine-control" formControlName="note" rows="5" style="height: 60px; margin-top: 10px;"></textarea>
        </div>

        <div class="wrapper-delivery-info">
            <div id="header-delivery-info" *ngIf="isDeliveryType">
                <span>{{ deliveryLbl }}</span>
            </div>
            <div class="dine-input-group" *ngIf="isDeliveryType">
                <label for="">Location</label>
                <div class="dine-text">{{ selectedLocation.name }}</div>
                <div class="wrapper-error"></div>
            </div>
            <div class="dine-input-group" *ngIf="isDeliveryType">
                <label for="">Order Type</label>
                <div class="dine-text">{{ selectedDepartment?.name }}</div>
                <div class="wrapper-error"></div>
            </div>

            <div class="dine-input-group" *ngIf="isDeliveryType || (selectedDepartment?.dateDefaultOrderFututer!= null && selectedDepartment?.allowPreOrder)">
                <label for="OrderTime">Order Time</label>
                <div class="dine-text" *ngIf="timeOrder">{{ dateTimeDelivery }}</div>
                <div class="wrapper-error"></div>
            </div>
            <div class="dine-input-group" *ngIf="isDeliveryType">
                <label for="DeliveryExpectdTime">Delivery Time</label>
                <div class="dine-text">{{ deliveryExpectdTime }}</div>
                <div class="wrapper-error"></div>
            </div>

            <div class="dine-input-group">
                <label for="name">Name*</label>
                <input type="text" placeholder="Name" id="username" class="dine-control" formControlName="username" />
                <div class="wrapper-error">
                    <span class="error-msg" *ngIf="username.invalid && (username.dirty || username.touched)">
                         {{ errUsernameMsg }}
                    </span>
                </div>
            </div>

            <div class="dine-input-group wrapper-input-control" *ngIf="!askTheMobileNumberFirst">
                <label for="" class="lbl-input-field">Phone number *</label>
                <ngx-intl-tel-input [cssClass]="{ 'custom' : 1, 'ng-invalid': phoneNumber.invalid && phoneNumber.errors.required && phoneNumber.touched && phoneNumber.dirty  }" [cssClass]="'custom'" class=" dine-control phone-input " [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="true" [enablePlaceholder]="true" customPlaceholder="Phone number" [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Singapore"
                    [maxLength]="15" [tooltipField]="TooltipLabel.Name" [numberFormat]="PhoneNumberFormat.National" [phoneValidation]="true" [separateDialCode]="true" name="phone" formControlName="phoneNumber">
                </ngx-intl-tel-input>
                <div class="wrapper-error-msg">
                    <span class="error-msg" *ngIf="
              phoneNumber.invalid &&
              !phoneNumber.errors.validatePhoneNumber?.valid &&
              !phoneNumber.errors.required &&
              (phoneNumber.touched || phoneNumber.dirty)
            ">{{ errInvalidPhoneMsg }}</span>
                    <span class="error-msg" *ngIf="
              phoneNumber.invalid &&
              phoneNumber.errors.required &&
              phoneNumber.touched &&
              phoneNumber.dirty
            ">{{ errPhoneMsg }}</span>
                </div>

            </div>

            <div class="dine-input-group">
                <label for="email">Email*</label>
                <input type="text" placeholder="Email" id="email" class="dine-control" formControlName="email" />
                <div class="wrapper-error">
                    <span class="error-msg" *ngIf="
            email.invalid &&
            email.errors.required &&
            (email.dirty || email.touched)
          ">
            {{ errEmailMsg }}
          </span>
                    <span class="error-msg" *ngIf="
            email.invalid &&
            !email.errors.required &&
            email.errors.pattern &&
            (email.dirty || email.touched)
          ">
            {{ errInvalidEmailMsg }}
          </span>
                </div>
            </div>
            <div class="dine-input-group" *ngIf="isPickupPlateNumber">
                <label for="plateNumber">Plate Number*</label>
                <input type="text" placeholder="Plate Number" id="plateNumber" class="dine-control" formControlName="plateNumber" />
                <div class="wrapper-error">
                    <span class="error-msg" *ngIf="plateNumber.invalid && (plateNumber.dirty || plateNumber.touched)">
            {{ plateNumberUsernameMsg }}
          </span>
                </div>
            </div>

            <div class="dine-input-group" *ngIf="isDeliveryType">
                <label for="Blockunit">Block/Floor/Unit*</label>
                <input type="text" placeholder="Block/Floor/Unit" id="blockunit" class="dine-control" formControlName="blockunit" />
                <div class="wrapper-error">
                    <span class="error-msg" *ngIf="
            blockunit.invalid &&
            blockunit.errors.required &&
              (blockunit.dirty || blockunit.touched)
            ">
            {{ blockunitMsg }}
          </span>
                </div>
            </div>

            <div class="dine-input-group" *ngIf="isDeliveryType">
                <label for="address1">Address 1</label>
                <input type="text" placeholder="Address1 or Street" id="address1" class="dine-control" formControlName="address1" ng-value="address" disabled />
                <div class="wrapper-error">
                    <span class="error-msg" *ngIf="
            address1.invalid &&
            address1.errors.required &&
            (address1.dirty || address1.touched)
          ">
            {{ errAddress1Msg }}
          </span>
                </div>
                <div class="dine-input-group" *ngIf="isDeliveryType">
                    <label for="addressorstreet">Address2</label>
                    <input type="text" placeholder="Address2" id="address2orstreet" class="dine-control" formControlName="address2" />
                    <div class="wrapper-error"></div>
                </div>
                <div class="dine-input-group" *ngIf="isDeliveryType">
                    <label for="addressorstreet">Country</label>
                    <input type="text" placeholder="Country" id="countryInput" class="dine-control" formControlName="country" disabled />
                    <div class="wrapper-error"></div>
                </div>
                <div class="dine-input-group" *ngIf="isDeliveryType">
                    <label for="addressorstreet">City</label>
                    <input type="text" placeholder="City" id="cityInput" class="dine-control" formControlName="city" disabled />
                    <div class="wrapper-error"></div>
                </div>

                <div class="dine-input-group" [hidden]="!isDeliveryType">
                    <label for="postCode">Postal Code</label>
                    <div class="wrapper-postal-control">
                        <input type="text" placeholder="Enter your postal code" id="postalCode" class="dine-control" formControlName="postalCode" />
                        <button pRipple class="btn-dine-primary" type="button" label="" (click)="searchPostalCode()" [disabled]="postalServiceType == 1">
              <img src="assets/image/search-postal-code.svg" alt="" />
            </button>
                    </div>
                    <div class="wrapper-error"></div>
                </div>
            </div>
            <div class="wrapper-map" *ngIf="isDeliveryType">
                <div id="googleMap"></div>
            </div>

            <div class="wrapper-payment-option">
                <div id="header-payment-option">
                    <span>{{ paymentLbl }}</span>
                </div>
                <div class="wrapper-options">
                    <ng-container *ngFor="let paymentMethod of selectedDepartment?.wheelPaymentMethods">
                        <label class="option" [ngClass]="{
              active: paymentType.value == paymentMethod.friendlyName
            }" [for]="paymentMethod.friendlyName" *ngIf="paymentMethod.active">
              <div id="radio-control">
                <input type="radio" name="paymentType" [id]="paymentMethod.friendlyName"
                  [value]="paymentMethod.friendlyName" formControlName="paymentType" />
              </div>
              <div id="icon-payment" *ngIf="paymentMethod.systemName !== 'Payments.Cash'; else cashLogo">
                <img [src]="paymentMethod.logo" alt="" />
              </div>
              <ng-template #cashLogo>
                <div id="icon-payment">
                  <img src="assets/image/cod.png" alt="" />
                </div>
              </ng-template>
              <div id="name-method">{{ paymentMethod.friendlyName }}</div>
            </label>
                    </ng-container>
                    <div class="wrapper-error" style="margin-left: 20px;">
                        <span class="error-msg" *ngIf="
          paymentType.invalid &&
          paymentType.errors.required &&
              (paymentType.dirty || paymentType.touched)
            ">
              {{ paymentMethodRequired }}
            </span>
                    </div>
                </div>
            </div>
            <div class="wrapper-btn-submit">
                <button pRipple pButton class="btn-dine-primary" type="submit" label="Submit Order" (click)="onSubmit()"></button>
            </div>
        </div>
        <!-- End of payment -->
    </div>
</div>
