<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!calculation.id ? l('CreateNewCalculation') : l('EditCalculation')">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-primary text-uppercase">
                    <i class="fa fa-file"></i> {{l("Locations")}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #calculationForm="ngForm" novalidate class="kt-form calculation-form" (ngSubmit)="save()">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Calculation_Name">{{l("Name")}} *</label>
                                    <input type="text" id="Calculation_Name" class="form-control"
                                        [(ngModel)]="calculation.name" name="Name" required #nameInput="ngModel"
                                        autoFocus />
                                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Calculation_ButtonHeader">{{l("ButtonHeader")}}</label>
                                    <input type="text" id="Calculation_ButtonHeader" class="form-control"
                                        [(ngModel)]="calculation.buttonHeader" name="ButtonHeader" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Calculation_Departments">{{l("Departments")}}</label>
                                    <p-multiSelect [filter]="true" [style]="{'width':'100%'}"
                                        id="Calculation_Departments" [options]="departments" name="Departments"
                                        [(ngModel)]="selectedDepartments"></p-multiSelect>
                                    <!-- <select multiple class="form-control" id="Calculation_Departments" [(ngModel)]="selectedDepartments"
                    name="Departments">
                    <option *ngFor="let department of departments" [value]="department.value">
                      {{department.displayText}}
                    </option>
                  </select> -->
                                    <!-- <input type="text" id="Calculation_Departments" class="form-control"
                    [(ngModel)]="calculation.departments" name="Departments" /> -->
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Calculation_CalculationTypeId">{{l("CalculationType")}} *</label>
                                    <select class="form-control" id="Calculation_CalculationTypeId"
                                        [(ngModel)]="calculation.calculationTypeId" name="CalculationTypeId" required
                                        #CalculationTypeId="ngModel">
                                        <option *ngFor="let type of calculationTypes" [value]="type.value">
                                            {{type.displayText}}
                                        </option>
                                    </select>

                                    <validation-messages [formCtrl]="CalculationTypeId"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="transactionTypeId">{{l("TransactionType")}} *</label>
                                    <select id="transactionTypeId" class="form-control"
                                        [(ngModel)]="calculation.transactionTypeId" required name="transactionTypeId"
                                        #transactionTypeId="ngModel">
                                        <option *ngFor="let type of transactionTypes" [value]="type.value">
                                            {{type.displayText}}
                                        </option>
                                    </select>

                                    <validation-messages [formCtrl]="transactionTypeId"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Calculation_ConfirmationType">{{l("ConfirmationType")}} *</label>
                                    <select class="form-control" id="Calculation_ConfirmationType" required
                                        [(ngModel)]="calculation.confirmationType" name="ConfirmationType"
                                        #confirmationType="ngModel">
                                        <option *ngFor="let type of confirmationTypes" [value]="type.value">
                                            {{type.displayText}}
                                        </option>
                                    </select>

                                    <validation-messages [formCtrl]="confirmationType"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Calculation_Amount">{{l("Amount")}} *</label>
                                    <input type="number" id="Calculation_Amount" class="form-control"
                                        [(ngModel)]="calculation.amount" name="Amount" required
                                        #amountInput="ngModel" />
                                    <validation-messages [formCtrl]="amountInput"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="checkbox-list">
                                        <label for="Calculation_IncludeTax" class="checkbox">
                                            <input id="Calculation_IncludeTax" type="checkbox" name="IncludeTax"
                                                [(ngModel)]="calculation.includeTax">
                                            {{l("IncludeTax")}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="checkbox-list">
                                        <label for="Calculation_DecreaseAmount" class="checkbox">
                                            <input id="Calculation_DecreaseAmount" type="checkbox" name="DecreaseAmount"
                                                [(ngModel)]="calculation.decreaseAmount">
                                            {{l("DecreaseAmount")}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary text-uppercase"
                                (click)="close()">{{l("Cancel")}}</button>
                            <button type="submit" class="btn btn-primary blue text-uppercase"
                                [disabled]="!calculationForm.form.valid" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                                <span>{{l("Save")}}</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
    </select-location-or-group>

</div>