<div [@routerTransition] class="sale-summary">
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'WeekDaySeles' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getData()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-md-12">
                            <div class="portlet light">
                                <div class="portlet-body">
                                    <p-chart type="bar" [data]="data" height="400px"></p-chart>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center mt-20">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <th class="text-center">{{l('DayOfWeek') }}</th>
                                <th class="text-center">{{l('TotalTickets') }}</th>
                                <th class="text-center">{{l('TotalSales') }}</th>
                                <th class="text-center">{{l('AverageSales') }}</th>
                                <th class="text-center">{{l('TicketDiscount') }}</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of lstweekday">
                                    <td class="text-center">{{item.date}}</td>
                                    <td class="text-center">{{item.totalTickets | number : '1.2-2'}}</td>
                                    <td class="text-center">{{item.sales | number : '1.2-2'}}</td>
                                    <td class="text-center">{{item.average | number : '1.2-2'}}</td>
                                    <td class="text-center">{{item.discount | number : '1.2-2'}}</td>
                                </tr>
                                <tr *ngIf="lstweekday.length > 0">
                                    <td class="font-weight-bold text-center">{{l('Total')}}</td>
                                    <td class="font-weight-bold text-center">{{sumtTotalTickets | number : '1.2-2'}}</td>
                                    <td class="font-weight-bold text-center">{{sumtSales | number : '1.2-2'}}</td>
                                    <td class="font-weight-bold text-center">{{sumtAverage | number : '1.2-2'}}</td>
                                    <td class="font-weight-bold text-center">{{sumtDiscount | number : '1.2-2'}}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
