<div class="main-side-cart main-side-cart-mobile">
    <div class="side-cart">
        <div class="header-cart">
            <img src="/assets/image/shopping-cart.png" alt="" class="header-cart-icon">
            <img src="/assets/image/arrow-left.png" alt="" class="header-cart-icon-mobile" (click)="goToMenuOrder()">
            <span class="header-cart-text"> Summary Items ({{productOrderList?.length}})</span>
        </div>
    
        <div class="content-cart">
            <div class="content">
                <ng-container *ngFor="let product of productOrderList">
                    <div class="menu-item">
                        <img src="{{product.image || '/assets/image/no_image_available.png'}}" alt="" class="menu-item-image">
                        <div class="menu-item-content">
                            <div class="title">{{product.name}}</div>
                            <div class="day">{{product.orderDateStr}}</div>
                            <div class="add-remove-item">
                                <div class="action">
                                    <span class="remove" (click)="decrease(product)">-</span>
                                    <span class="number">{{product.quantity}}</span>
                                    <span class="add" (click)="increase(product)">+</span>
                                </div>
                                <div class="price">${{product.price * product.quantity | number: '1.2-2'}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="menu-item menu-item-tag" *ngFor="let orderTag of product.orderTags">
                        <img src="{{orderTag.image || '/assets/image/no_image_available.png'}}" alt="" class="menu-item-image">
                        <div class="menu-item-content">
                            <div class="title">{{orderTag.name}}</div>
                            <div class="add-remove-item">
                                <div class="action">
                                    <span class="remove" (click)="decreaseTag(orderTag, product)">-</span>
                                    <span class="number">{{orderTag.quantity}}</span>
                                    <span class="add" (click)="increaseTag(orderTag, product)">+</span>
                                </div>
                                <div class="price">${{orderTag.price * orderTag.quantity | number: '1.2-2'}}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                
            </div>
            <div class="payment">
                <div class="to-pay">
                    <span class="pay-title">To pay</span>
                    <span class="pay-price">${{total | number: '1.2-2'}}</span>
                </div>
                <button class="checkout" (click)="checkOut()">
                    Checkout
                </button>
            </div>
        </div>
    </div>
</div>

