@media (min-width: 992px) {
    // .mobile-screen {
    //     display: none;
    // }
    .member-schedule {
        margin-top: -50px;
    }
    .header-cart-icon-mobile {
        display: none;
    }
    @import "../../../../assets/style/color";
    .main-side-cart {
        padding: 32px;
        background: #ffffff;
    }
    .side-cart {
        width: 410px;
        .header-cart {
            height: 58px;
            background: $primary-color;
            border-radius: 10px 10px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            &-text {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 100%;
                color: #ffffff;
                margin-left: 10px;
            }
        }
        .content-cart {
            height: 796px;
            background: #ffffff;
            border: 1px solid $border-cart;
            box-sizing: border-box;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 0px 24px 34px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .menu-item {
                display: grid;
                grid-template-columns: 72px 256px;
                gap: 24px;
                align-items: center;
                padding-bottom: 24px;
                border-bottom: 1px solid $border-cart;
                margin-top: 24px;
                &-image {
                    width: 72px;
                    height: 72px;
                    border-radius: 36px;
                }
                &-content {
                    width: 100%;
                    .title {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 150%;
                        color: #22232f;
                    }
                    .day {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #575755;
                    }
                    .add-remove-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 4px;
                        cursor: pointer;
                        margin-right: 15px;
                        .action {
                            display: flex;
                            align-items: center;
                            .remove,
                            .add {
                                border: 1px solid #dbdbdb;
                                box-sizing: border-box;
                                border-radius: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 36px;
                                height: 36px;
                                margin-right: 6px;
                            }
                            .number {
                                margin-right: 6px;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 150%;
                                text-align: center;
                                color: #575755;
                                width: 27px;
                                height: 23px;
                            }
                        }
                        .price {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 150%;
                            text-align: right;
                            color: #22232f;
                        }
                    }
                }
            }
            .content {
                overflow: auto;
            }
        }
        .payment {
            .item-total {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 15px;
                border-bottom: 1px solid $border-cart;
                padding-top: 15px;
                .item-title,
                .item-price {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 150%;
                    color: $tag-color;
                }
            }
            .to-pay {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 0px 24px 0px;
                .pay-title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 150%;
                    color: $tag-color;
                }
                .pay-price {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 150%;
                    text-align: right;
                    color: #ef681c;
                }
            }
            .checkout {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px 24px;
                width: 100%;
                background: $second-color;
                border-radius: 10px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #ffffff;
                border: none;
            }
        }
    }
}

::ng-deep .menu-content {
    @media (max-width: 768px) {
        .menu-content__left {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .order-btn {
                display: inline !important;
            }
        }
    }
}

@media (max-width: 991px) {
    // .large-screen {
    //     display: none;
    // }
    .main-side-cart {
        padding: 0px;
        height: 100vh;
        background: #ffffff;
    }
    .main-side-cart-mobile {
        .side-cart {
            .header-cart {
                background: #ffffff;
                justify-content: unset;
                padding: 17px 32px 17px 16px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #eaeaea;
                &-text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                    color: #22232f;
                    margin-left: 16px;
                }
                &-icon {
                    display: none;
                }
            }
        }
    }
    @import "../../../../assets/style/color";
    .side-cart {
        .content-cart {
            // height: 796px;
            background: #ffffff;
            // border: 1px solid $border-cart;
            box-sizing: border-box;
            // border-bottom-left-radius: 10px;
            // border-bottom-right-radius: 10px;
            padding: 0px 24px 34px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .menu-item {
                display: grid;
                grid-template-columns: 72px 256px;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 1px solid #eaeaea;
                margin-top: 16px;
                padding-top: 8px;
                &:last-child {
                    margin-bottom: 144px;
                }
                &-image {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                &-content {
                    width: 100%;
                    .title {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #22232f;
                        margin-bottom: 3px;
                    }
                    .day {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        color: #444444;
                    }
                    .add-remove-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 4px;
                        cursor: pointer;
                        margin-right: 15px;
                        .action {
                            display: flex;
                            align-items: center;
                            .remove,
                            .add {
                                border: 1px solid #dcdcdc;
                                box-sizing: border-box;
                                border-radius: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 32px;
                                height: 32px;
                                margin-right: 8px;
                            }
                            .number {
                                margin-right: 6px;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 150%;
                                text-align: center;
                                color: #575755;
                                width: 27px;
                                height: 23px;
                            }
                        }
                        .price {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 150%;
                            text-align: right;
                            color: #2d5d8c;
                        }
                    }
                }
            }

            .menu-item-tag {
                gap: 24px;
                padding-bottom: 5px;
                margin-top: 0px;
                font-size: 14px;
    
                .menu-item-image {
                    visibility: hidden;
                }
    
                .title {
                    font-size: 14px !important;
                }
            }

            .content {
                overflow: auto;
            }
        }
        .payment {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #ffffff;
            left: 0;
            padding: 0px 16px;
            box-shadow: 0px -15px 30px -10px rgba(0, 0, 0, 0.05);
            .item-total {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 15px;
                border-bottom: 1px solid $border-cart;
                padding-top: 15px;
                .item-title,
                .item-price {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 150%;
                    color: $tag-color;
                }
            }
            .to-pay {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 0px 28px 0px;
                .pay-title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 100%;
                    color: #22232f;
                }
                .pay-price {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 100%;
                    text-align: right;
                    color: #ed4941;
                }
            }
            .checkout {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 12px 24px;
                width: 100%;
                background: $second-color;
                border-radius: 10px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #ffffff;
                border: none;
                margin-bottom: 27px;
            }
        }
    }
}
