<div class="product-cols">
  <div class="product">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Serving Size</td>
          <td>{{nutritionInfo.servingSize}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Calories</td>
          <td>{{nutritionInfo.calories}} cal</td>
          <td></td>
        </tr>
        <tr>
          <td>Calories From Fatt</td>
          <td>{{nutritionInfo.caloriesFromFat}} cal</td>
          <td></td>
        </tr>
        <tr>
          <td>Total Fat</td>
          <td>{{nutritionInfo.totalFat}} g</td>
          <td>{{nutritionInfo.totalFatPercent}} %</td>
        </tr>
        <tr>
          <td> Saturated Fat</td>
          <td>{{nutritionInfo.saturatedFat}} g</td>
          <td>{{nutritionInfo.saturatedFatPercent}} %</td>
        </tr>
        <tr>
          <td>Trans Fat</td>
          <td>{{nutritionInfo.transFat}} g</td>
          <td>{{nutritionInfo.transFatPercent}} %</td>
        </tr>
        <tr>
          <td>Cholesterol</td>
          <td>{{nutritionInfo.totalFat}} mg</td>
          <td>{{nutritionInfo.cholesterolPercent}} %</td>
        </tr>
        <tr>
          <td>Sodium</td>
          <td>{{nutritionInfo.sodium}} mg</td>
          <td>{{nutritionInfo.sodiumPercent}} %</td>
        </tr>
        <tr>
          <td> Total Carbonhydrate</td>
          <td>{{nutritionInfo.totalCarbonhydrate}} g</td>
          <td>{{nutritionInfo.totalCarbonhydratePercent}} %</td>
        </tr>
        <tr>
          <td>Dietary Fiber</td>
          <td>{{nutritionInfo.dietaryFiber}} g</td>
          <td>{{nutritionInfo.dietaryFiberPercent}} %</td>
        </tr>
        <tr>
          <td>Sugars</td>
          <td>{{nutritionInfo.sugars}} g</td>
          <td>{{nutritionInfo.sugarsPercent}} %</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td>{{nutritionInfo.protein}} g</td>
          <td>{{nutritionInfo.proteinPercent}} %</td>
        </tr>
        <tr>
          <td>Vitamin A</td>
          <td>{{nutritionInfo.vitaminA}} g</td>
          <td>{{nutritionInfo.vitaminAPercent}} %</td>
        </tr>
        <tr>
          <td>Vitamin C</td>
          <td>{{nutritionInfo.vitaminC}} g</td>
          <td>{{nutritionInfo.vitaminCPercent}} %</td>
        </tr>
        <tr>
          <td>Calcium</td>
          <td>{{nutritionInfo.calcium}} g</td>
          <td>{{nutritionInfo.calciumPercent}} %</td>
        </tr>
        <tr>
          <td>Iron</td>
          <td>{{nutritionInfo.iron}} g</td>
          <td>{{nutritionInfo.ironPercent}} %</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
