﻿@{
    ViewBag.Title = "Login";
}
@section Scripts {
    <link href="~/Content/pages/login.css" rel="stylesheet" type="text/css" />
}

<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" style="background-color: #f6f6f6; border: none" class="col-md-12">
                    <form id="login-form" style="text-align: center" action="" method="post">
                        <div class="form-group">
                            <input type="hidden" value="@ViewBag.returnUrl" />
                        </div>
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <input style="text-align: center; display: inline; background-color: #f6f6f6" type="text" name="username" placeholder="Username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input style="text-align: center; display: inline; background-color: #f6f6f6" type="password" name="password" placeholder="Password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <a class="underlineHover" href="#">Forgot Password?</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" style="padding-left: 30px;padding-right: 30px;" name="submit" class="btn btn-info btn-md" value="Submit">
                        </div>
                        <p style="color: #FF0000 ">@Html.ValidationMessage("InvalidCredentials")</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f6f6f6 !important
    }
</style>