.btn-group {
    flex-direction: column;
    align-items: center;
}
.btn-group ul {
    padding: 0px;
}
.btn-group a {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #22232F;
}
.btn-group:not(.show) .dropdown-menu {
    display: none !important;
}

.btn-group.show .dropdown-menu {
    display: block !important;
    position: absolute;
    left: auto !important;
    right: 0 !important;
}

.btn-group img {
    max-height: 45px;
}
.navbar article .main_menu ul {
    width: auto;
}

.kt-user-card {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.kt-user-card__name {
    color: white;
}

.mobile-menu {
    display: none !important;
}

.lg-nav-item {
    display: flex !important;
}

.kt-header__topbar-username {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.kt-header__topbar-username:hover,
.kt-header__topbar-username:active {
    background: none;
}

.kt-header__topbar-username img {
    width: 45px;
}

.navbar article .main_menu .main_menu-left,
.navbar article .main_menu .main_menu-right {
    width: calc(50% - 75px);
}

.tenancy-name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #575755;
    margin-left: 13px;
    width: 81px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 992px) {
    .lg-nav-item .navbar-toggler {
        display: block;
        border: none;
    }
}

@media (max-width: 991px) {
    .dropdown-item {
        text-align: center;
    }
    .btn-group img {
        max-width: 35px;
    }

    .mobile-menu {
        display: flex !important;
    }

    .lg-nav-item {
        display: none !important;
    }

    .order-btn {
        padding: 4px 14px;
    }

    .navbar article .main_menu .main_menu-left,
    .navbar article .main_menu .main_menu-right {
        width: auto;
    }
}


.text-menu-topbar {
    color: #F5C031 !important;
}

.menu-account-topbar ul li a.active-link {
    color: #2D5D8C !important;
    font-weight: bold;
    font-size: 16px;
    border-bottom: none !important;
}
.username-top-bar {
    width: 81px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.image-top-bar {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid #F8F8F8;
}
.notification {
    position: relative;
    img {
        width: 24px;
        height: 24px;
    }
    .circle {
        width: 12px;
        height: 12px;
        background: #ED4941;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        right: 0px;
        border: 2px solid #FFFFFF;
    }

}

.nav-link.active-link .icon-menu-topbar {
    fill: #F5C031;
}

.label-header {
    color: #000 !important;
    font-weight: bold !important;
    font-size: 16px !important;
    padding: 0.75rem 1.25rem;
    white-space: nowrap;
    display: flex;
}

@media (max-width: 991px) { 
    .large-screen {
        display: none;
    }
}
