<nav class="navbar navbar-expand-lg navbar-light large-screen" style="padding-top: 0; padding-bottom: 0;">
    <div class="container">
        <article>
            <!-- mobile menu -->
            <div class="d-flex flex-column mobile-menu" style="width: 100%;">
                <div class="logo_ham_btn" style="border-bottom: 1px solid #eeeeff;">
                    <a href="https://wa.me/+6583078679" class="cta-whatsapp" style="width: 95px;">
                        <img src="assets/static/svg/whatsapp.svg" alt="" />
                    </a>
                    <a class="navbar-brand" href="">
                        <img src="assets/static/svg/logo.svg" alt="" />
                    </a>
                    <div class="d-flex align-items-center" style="width: 95px;">
                        <div>
                            <a [routerLink]="['portal/member/cart-items']" routerLinkActive="active-link" class="nav-link">
                                <span class="kt-header__topbar-icon kt-header__topbar-icon--brand span__topbar">
                                    <div [hidden]="cartProductsCount == 0">
                                        <i class="flaticon2-shopping-cart-1 unread-notification" style="font-size: 1.4rem;"></i>
                                        <span class="kt-badge kt-badge--primary" style="position: absolute;">
                                            {{ cartProductsCount }}
                                        </span>
                        </div>
                        <div [hidden]="cartProductsCount > 0">
                            <i class="flaticon2-shopping-cart-1 unread-notification" style="font-size: 1.4rem;"></i>
                        </div>
                        </span>
                        </a>
                    </div>
                    <button class="navbar-toggler" [class.collapsed]="!collapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="collapse = !collapse">
                            <span class="navbar-toggler-icon"></span>
                            <span class="hamburger_btn">
                                <span></span>
                            </span>
                        </button>
                    <button class="navbar-toggler" (click)="showSub = !showSub">
                            <i class="flaticon-more"></i>
                        </button>
                </div>
            </div>
            <div class="logo_ham_btn justify-content-end flex-row" [hidden]="!showSub">
                <ul class="navbar-nav flex-row align-items-center">
                    <li class="nav-item">
                        <a class="btn yellow-btn order-btn" ng-reflect-router-link="/app/portal/member/order" href="/app/portal/member/order">
                                Order
                            </a>
                    </li>
                    <li class="nav-item" style="margin-left: 5px;">
                        <div class="btn-group kt-header__topbar-username kt-hidden-mobile" dropdown>
                            <img id="button-basic" dropdownToggle type="button" *ngIf="profilePicture" class="dropdown-toggle nav-link header-profile-picture m--img-rounded m--marginless m--img-centered" alt="Pic" [src]="profilePicture" />

                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                <li role="menuitem">
                                    <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" [ngStyle]="{ background: 'url(' + appRootUrl() + 'assets/metronic/themes/' + currentTheme.baseSettings .theme + '/images/bg/bg-1.jpg)', 'background-size': 'cover' }">
                                        <div class="kt-user-card__name">
                                            <span *ngIf=" isMultiTenancyEnabled " class="tenancy-name">
                                                    {{ userName }}
                                                </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="menuitem">
                                    <a class="dropdown-item" [routerLink]="['/app/portal/member/balance']" routerLinkActive="active-link">
                                            Balance
                                        </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-item" [routerLink]="['/app/portal/member/profile']" routerLinkActive="active-link">
                                            Profile
                                        </a>
                                </li>
                                <li class="menuitem">
                                    <a class="dropdown-item" [routerLink]="['/app/portal/member/order-history']" routerLinkActive="active-link">
                                            Order History
                                        </a>
                                </li>
                                <li class="menuitem">
                                    <a class="dropdown-item" [routerLink]="[ '/app/portal/member/payment-history' ]" routerLinkActive="active-link">
                                            Payment History
                                        </a>
                                </li>
                                <li role="menuitem">
                                    <a href="javascript:void();" (click)="logout()" class="dropdown-item">
                                        <i class="flaticon-logout"></i> &nbsp; {{ "Logout" | localize }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
    <!-- mobile menu ends -->
    <!-- main menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="collapse" (mouseleave)="mouseLeave()">
        <div class="main_menu">
            <a class="navbar-brand" href="/portal/menu">
                <img src="\assets\image\logo.png" alt="logo" />
            </a>

            <ul class="navbar-nav main_menu-left">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/portal/member/schedule']" routerLinkActive="active-link">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path [ngClass]="'icon-menu-topbar'" d="M21 15C21 10.375 17.493 6.559 13 6.059V4H11V6.059C6.507 6.559 3 10.375 3 15V17H21V15ZM5 15C5 11.141 8.141 8 12 8C15.859 8 19 11.141 19 15H5ZM2 18H22V20H2V18Z" fill="#888884"/>
                            </svg> Order
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/portal/member/buy-offer']" routerLinkActive="active-link">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path [ngClass]="'icon-menu-topbar'" d="M17.28 8.72C17.4205 8.86063 17.4993 9.05125 17.4993 9.25C17.4993 9.44875 17.4205 9.63937 17.28 9.78L15.28 11.78C15.1394 11.9205 14.9488 11.9993 14.75 11.9993C14.5512 11.9993 14.3606 11.9205 14.22 11.78L13.22 10.78C13.1463 10.7113 13.0872 10.6285 13.0462 10.5365C13.0052 10.4445 12.9832 10.3452 12.9814 10.2445C12.9796 10.1438 12.9982 10.0438 13.0359 9.9504C13.0736 9.85701 13.1297 9.77218 13.201 9.70096C13.2722 9.62974 13.357 9.5736 13.4504 9.53588C13.5438 9.49816 13.6438 9.47963 13.7445 9.48141C13.8452 9.48318 13.9445 9.50523 14.0365 9.54622C14.1285 9.58721 14.2113 9.64631 14.28 9.72L14.75 10.19L16.22 8.72C16.3606 8.57955 16.5512 8.50066 16.75 8.50066C16.9488 8.50066 17.1394 8.57955 17.28 8.72V8.72ZM17.28 15.28C17.3537 15.2113 17.4128 15.1285 17.4538 15.0365C17.4948 14.9445 17.5168 14.8452 17.5186 14.7445C17.5204 14.6438 17.5018 14.5438 17.4641 14.4504C17.4264 14.357 17.3703 14.2722 17.299 14.201C17.2278 14.1297 17.143 14.0736 17.0496 14.0359C16.9562 13.9982 16.8562 13.9796 16.7555 13.9814C16.6548 13.9832 16.5555 14.0052 16.4635 14.0462C16.3715 14.0872 16.2887 14.1463 16.22 14.22L14.75 15.69L14.28 15.22C14.2113 15.1463 14.1285 15.0872 14.0365 15.0462C13.9445 15.0052 13.8452 14.9832 13.7445 14.9814C13.6438 14.9796 13.5438 14.9982 13.4504 15.0359C13.357 15.0736 13.2722 15.1297 13.201 15.201C13.1297 15.2722 13.0736 15.357 13.0359 15.4504C12.9982 15.5438 12.9796 15.6438 12.9814 15.7445C12.9832 15.8452 13.0052 15.9445 13.0462 16.0365C13.0872 16.1285 13.1463 16.2113 13.22 16.28L14.22 17.28C14.3606 17.4205 14.5512 17.4993 14.75 17.4993C14.9488 17.4993 15.1394 17.4205 15.28 17.28L17.28 15.28ZM7 10.25C7 10.0511 7.07902 9.86032 7.21967 9.71967C7.36032 9.57902 7.55109 9.5 7.75 9.5H11.25C11.4489 9.5 11.6397 9.57902 11.7803 9.71967C11.921 9.86032 12 10.0511 12 10.25C12 10.4489 11.921 10.6397 11.7803 10.7803C11.6397 10.921 11.4489 11 11.25 11H7.75C7.55109 11 7.36032 10.921 7.21967 10.7803C7.07902 10.6397 7 10.4489 7 10.25ZM7.75 15C7.55109 15 7.36032 15.079 7.21967 15.2197C7.07902 15.3603 7 15.5511 7 15.75C7 15.9489 7.07902 16.1397 7.21967 16.2803C7.36032 16.421 7.55109 16.5 7.75 16.5H11.25C11.4489 16.5 11.6397 16.421 11.7803 16.2803C11.921 16.1397 12 15.9489 12 15.75C12 15.5511 11.921 15.3603 11.7803 15.2197C11.6397 15.079 11.4489 15 11.25 15H7.75ZM15.986 4C15.9245 3.44999 15.6625 2.94194 15.25 2.57297C14.8375 2.20401 14.3034 2.00002 13.75 2H10.25C9.69656 2.00002 9.16255 2.20401 8.75004 2.57297C8.33754 2.94194 8.07549 3.44999 8.014 4H6.25C5.65326 4 5.08097 4.23705 4.65901 4.65901C4.23705 5.08097 4 5.65326 4 6.25V19.75C4 20.3467 4.23705 20.919 4.65901 21.341C5.08097 21.7629 5.65326 22 6.25 22H17.75C18.0455 22 18.3381 21.9418 18.611 21.8287C18.884 21.7157 19.1321 21.5499 19.341 21.341C19.5499 21.1321 19.7157 20.884 19.8287 20.611C19.9418 20.3381 20 20.0455 20 19.75V6.25C20 5.95453 19.9418 5.66194 19.8287 5.38896C19.7157 5.11598 19.5499 4.86794 19.341 4.65901C19.1321 4.45008 18.884 4.28434 18.611 4.17127C18.3381 4.0582 18.0455 4 17.75 4H15.986ZM10.25 6.5H13.75C14.53 6.5 15.217 6.103 15.621 5.5H17.75C17.9489 5.5 18.1397 5.57902 18.2803 5.71967C18.421 5.86032 18.5 6.05109 18.5 6.25V19.75C18.5 19.9489 18.421 20.1397 18.2803 20.2803C18.1397 20.421 17.9489 20.5 17.75 20.5H6.25C6.05109 20.5 5.86032 20.421 5.71967 20.2803C5.57902 20.1397 5.5 19.9489 5.5 19.75V6.25C5.5 6.05109 5.57902 5.86032 5.71967 5.71967C5.86032 5.57902 6.05109 5.5 6.25 5.5H8.379C8.783 6.103 9.47 6.5 10.25 6.5ZM10.25 3.5H13.75C13.9489 3.5 14.1397 3.57902 14.2803 3.71967C14.421 3.86032 14.5 4.05109 14.5 4.25C14.5 4.44891 14.421 4.63968 14.2803 4.78033C14.1397 4.92098 13.9489 5 13.75 5H10.25C10.0511 5 9.86032 4.92098 9.71967 4.78033C9.57902 4.63968 9.5 4.44891 9.5 4.25C9.5 4.05109 9.57902 3.86032 9.71967 3.71967C9.86032 3.57902 10.0511 3.5 10.25 3.5Z" fill="#575755"/>
                            </svg> My Order
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/portal/member/feedback']" routerLinkActive="active-link">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path [ngClass]="'icon-menu-topbar'" fill-rule="evenodd" clip-rule="evenodd" d="M7 10C7 9.448 7.448 9 8 9C8.552 9 9 9.448 9 10C9 10.552 8.552 11 8 11C7.448 11 7 10.552 7 10ZM12 9C11.448 9 11 9.448 11 10C11 10.552 11.448 11 12 11C12.552 11 13 10.552 13 10C13 9.448 12.552 9 12 9ZM16 9C15.448 9 15 9.448 15 10C15 10.552 15.448 11 16 11C16.552 11 17 10.552 17 10C17 9.448 16.552 9 16 9ZM20 15C20 15.551 19.551 16 19 16H8.554C8.011 16 7.477 16.148 7.01 16.428L4 18.234V5C4 4.449 4.449 4 5 4H19C19.551 4 20 4.449 20 5V15ZM19 2H5C3.346 2 2 3.346 2 5V20C2 20.36 2.194 20.693 2.507 20.87C2.66 20.957 2.83 21 3 21C3.178 21 3.356 20.953 3.515 20.857L8.039 18.143C8.195 18.049 8.373 18 8.554 18H19C20.654 18 22 16.654 22 15V5C22 3.346 20.654 2 19 2V2Z" fill="#575755"/>
                            <mask id="mask0_234_5058" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="2" width="20" height="19">
                            <path [ngClass]="'icon-menu-topbar'" fill-rule="evenodd" clip-rule="evenodd" d="M7 10C7 9.448 7.448 9 8 9C8.552 9 9 9.448 9 10C9 10.552 8.552 11 8 11C7.448 11 7 10.552 7 10ZM12 9C11.448 9 11 9.448 11 10C11 10.552 11.448 11 12 11C12.552 11 13 10.552 13 10C13 9.448 12.552 9 12 9ZM16 9C15.448 9 15 9.448 15 10C15 10.552 15.448 11 16 11C16.552 11 17 10.552 17 10C17 9.448 16.552 9 16 9ZM20 15C20 15.551 19.551 16 19 16H8.554C8.011 16 7.477 16.148 7.01 16.428L4 18.234V5C4 4.449 4.449 4 5 4H19C19.551 4 20 4.449 20 5V15ZM19 2H5C3.346 2 2 3.346 2 5V20C2 20.36 2.194 20.693 2.507 20.87C2.66 20.957 2.83 21 3 21C3.178 21 3.356 20.953 3.515 20.857L8.039 18.143C8.195 18.049 8.373 18 8.554 18H19C20.654 18 22 16.654 22 15V5C22 3.346 20.654 2 19 2V2Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0_234_5058)">
                            <rect width="24" height="24" fill="#575755" [ngClass]="'icon-menu-topbar'"/>
                            </g>
                        </svg> Feedback
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/app/portal/member/contact']" routerLinkActive="active-link">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path [ngClass]="'icon-menu-topbar'" fill-rule="evenodd" clip-rule="evenodd" d="M17.4005 20C10.0115 20 4.00049 13.988 4.00049 6.6C4.00049 5.166 5.16649 4 6.60049 4C6.70949 4 6.81749 4.007 6.92749 4.021L7.98849 8.642C7.85719 8.71031 7.71667 8.7838 7.57962 8.85547L7.45049 8.923C6.58849 9.373 5.90849 9.729 6.26549 10.514C7.44149 13.86 10.1405 16.56 13.4465 17.72C14.2888 18.0575 14.6156 17.4325 15.0675 16.5684L15.0735 16.557C15.1254 16.4586 15.1789 16.356 15.2319 16.2543C15.2748 16.172 15.3173 16.0903 15.3585 16.012L19.9785 17.072C19.9935 17.18 20.0005 17.289 20.0005 17.4C20.0005 18.834 18.8345 20 17.4005 20ZM21.7515 15.908C21.6385 15.583 21.3665 15.339 21.0305 15.262L15.0665 13.893C14.7375 13.819 14.3935 13.912 14.1505 14.146C14.0075 14.282 14.0045 14.286 13.3545 15.527C11.2245 14.557 9.47949 12.818 8.47549 10.644C9.71449 9.995 9.71749 9.992 9.85449 9.85C10.0885 9.606 10.1825 9.262 10.1075 8.934L8.73849 2.97C8.66149 2.634 8.41649 2.361 8.09149 2.248C7.85349 2.166 7.60849 2.104 7.36649 2.065C7.11749 2.022 6.86049 2 6.60049 2C4.06349 2 2.00049 4.063 2.00049 6.6C2.00049 15.092 8.90849 22 17.4005 22C19.9365 22 22.0005 19.937 22.0005 17.4C22.0005 17.142 21.9775 16.887 21.9355 16.639C21.8955 16.389 21.8335 16.144 21.7515 15.908ZM13.0001 8C14.6541 8 16.0001 9.346 16.0001 11C16.0001 11.553 16.4471 12 17.0001 12C17.5531 12 18.0001 11.553 18.0001 11C18.0001 8.243 15.7571 6 13.0001 6C12.4481 6 12.0001 6.447 12.0001 7C12.0001 7.553 12.4481 8 13.0001 8ZM20.0001 11C20.0001 7.141 16.8591 4 13.0001 4C12.4481 4 12.0001 3.553 12.0001 3C12.0001 2.447 12.4481 2 13.0001 2C17.9631 2 22.0001 6.037 22.0001 11C22.0001 11.553 21.5531 12 21.0001 12C20.4471 12 20.0001 11.553 20.0001 11Z" fill="#575755"/>
                            <mask id="mask0_234_5061" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="2" width="21" height="20">
                            <path [ngClass]="'icon-menu-topbar'" fill-rule="evenodd" clip-rule="evenodd" d="M17.4005 20C10.0115 20 4.00049 13.988 4.00049 6.6C4.00049 5.166 5.16649 4 6.60049 4C6.70949 4 6.81749 4.007 6.92749 4.021L7.98849 8.642C7.85719 8.71031 7.71667 8.7838 7.57962 8.85547L7.45049 8.923C6.58849 9.373 5.90849 9.729 6.26549 10.514C7.44149 13.86 10.1405 16.56 13.4465 17.72C14.2888 18.0575 14.6156 17.4325 15.0675 16.5684L15.0735 16.557C15.1254 16.4586 15.1789 16.356 15.2319 16.2543C15.2748 16.172 15.3173 16.0903 15.3585 16.012L19.9785 17.072C19.9935 17.18 20.0005 17.289 20.0005 17.4C20.0005 18.834 18.8345 20 17.4005 20ZM21.7515 15.908C21.6385 15.583 21.3665 15.339 21.0305 15.262L15.0665 13.893C14.7375 13.819 14.3935 13.912 14.1505 14.146C14.0075 14.282 14.0045 14.286 13.3545 15.527C11.2245 14.557 9.47949 12.818 8.47549 10.644C9.71449 9.995 9.71749 9.992 9.85449 9.85C10.0885 9.606 10.1825 9.262 10.1075 8.934L8.73849 2.97C8.66149 2.634 8.41649 2.361 8.09149 2.248C7.85349 2.166 7.60849 2.104 7.36649 2.065C7.11749 2.022 6.86049 2 6.60049 2C4.06349 2 2.00049 4.063 2.00049 6.6C2.00049 15.092 8.90849 22 17.4005 22C19.9365 22 22.0005 19.937 22.0005 17.4C22.0005 17.142 21.9775 16.887 21.9355 16.639C21.8955 16.389 21.8335 16.144 21.7515 15.908ZM13.0001 8C14.6541 8 16.0001 9.346 16.0001 11C16.0001 11.553 16.4471 12 17.0001 12C17.5531 12 18.0001 11.553 18.0001 11C18.0001 8.243 15.7571 6 13.0001 6C12.4481 6 12.0001 6.447 12.0001 7C12.0001 7.553 12.4481 8 13.0001 8ZM20.0001 11C20.0001 7.141 16.8591 4 13.0001 4C12.4481 4 12.0001 3.553 12.0001 3C12.0001 2.447 12.4481 2 13.0001 2C17.9631 2 22.0001 6.037 22.0001 11C22.0001 11.553 21.5531 12 21.0001 12C20.4471 12 20.0001 11.553 20.0001 11Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0_234_5061)">
                            <rect width="24" height="24" fill="#575755" [ngClass]="'icon-menu-topbar'"/>
                            </g>
                        </svg> Support
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav main_menu-right">
                <!-- Destop menu start -->
                <li class="nav-item lg-nav-item">
                    <div class="kt-header__topbar-user">
                        <div class="btn-group kt-header__topbar-username kt-hidden-mobile">
                            <div class="notification">
                                <div class="circle"></div>
                                <img src="/assets/image/bell.png" alt="">
                            </div>
                            <div class="username-top-bar">
                                <span *ngIf="isMultiTenancyEnabled" class="tenancy-name" title="{{ userName }}">
                                            {{ userName }}
                                        </span>
                            </div>
                            <!-- <img id="button-basic" type="button" *ngIf="profilePicture" class="dropdown-toggle nav-link header-profile-picture m--img-rounded m--marginless m--img-centered" alt="Pic" [src]="profilePicture" /> -->
                        </div>
                    </div>
                </li>

                <li class="nav-item lg-nav-item menu-account-topbar">
                    <div class="btn-group kt-header__topbar-username kt-hidden-mobile" dropdown dropdownToggle>
                        <div class="image-top-bar">
                            <img id="button-basic" type="button" *ngIf="profilePicture" class="dropdown-toggle nav-link header-profile-picture m--img-rounded m--marginless m--img-centered navbar-toggler" alt="Pic" src="\assets\image\person-settings.png" />
                        </div>

                        <!-- <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon">
                                    </span>
                                    <span class="hamburger_btn">
                                        <span></span>
                                    </span>
                                </button> -->

                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <!-- <li class="menuitem">
                                        <a class="dropdown-item" [routerLink]="['/app/portal/member/balance']" routerLinkActive="active-link">
                                            Balance
                                        </a>
                                    </li> -->

                            <li role="menuitem">
                                <span class="dropdown-item label-header">
                                            My Account
                                        </span>
                            </li>

                            <li role="menuitem">
                                <a class="dropdown-item" [routerLink]="['/app/portal/member/settings-common']" routerLinkActive="active-link" (click)="goToSetting()">
                                            Settings
                                        </a>
                            </li>

                            <!-- <li class="menuitem">
                                        <a class="dropdown-item" [routerLink]="['/app/portal/member/order-history']" routerLinkActive="active-link">
                                            Order History
                                        </a>
                                    </li>

                                    <li class="menuitem">
                                        <a class="dropdown-item" [routerLink]="['/app/portal/member/payment-history']" routerLinkActive="active-link">
                                            Payment History
                                        </a>
                                    </li> -->

                            <li role="menuitem">
                                <a href="javascript:void();" (click)="logout()" class="dropdown-item">
                                    {{ "Logout" | localize }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Destop menu end -->
                <!-- Mobile menu start-->
                <li class="nav-item mob-nav-item">
                    <a href="javascript:void();" (click)="logout()" class="nav-link">
                        <i class="flaticon-logout"></i> &nbsp;{{ "Logout" | localize}}
                    </a>
                </li>
                <li class="nav-item mob-nav-item">
                    <a href="https://wa.me/+6583078679" class="mob-nav-icons">
                        <img src="assets/static/svg/whatsapp_normal_black.svg" alt="" />
                    </a>
                    <a href="https://www.facebook.com/dabbajunctionsg/" target="_blank" class="mob-nav-icons_">
                        <img src="assets/static/svg/facebook.svg" alt="" />
                    </a>
                    <a href="https://www.instagram.com/dabbajunctionsg/" target="_blank" class="mob-nav-icons">
                        <img src="assets/static/svg/instagram.svg" alt="" />
                    </a>
                </li>
                <!-- Mobile menu end-->
            </ul>
        </div>
    </div>
    <!-- main menu ends -->
    </article>
    </div>
</nav>