// Spinner style
.globle-spinner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 999;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {

  100%,
  0% {
    stroke: var(--black-1);
  }

  40% {
    stroke: var(--yellow-2);
  }

  66% {
    stroke: var(--yellow-2);
  }

  80%,
  90% {
    stroke: var(--yellow-1);
  }
}

// Logo loadding style
.loading-welcome {
  width: 50vw;
}

.advert-image {
  width: 100vw;
  height: 100vh;
}

::ng-deep .loading-text {
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.zoom-in-out {
  height: 4rem;
  width: 6rem;
  animation: zoominoutsinglefeatured 10s infinite;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(2, 2);
  }

  100% {
    transform: scale(1, 1);
  }
}

.wrapper-welcome {
  background-color: var(--app-dine-bg) !important;
  padding: 1rem 1rem 0 1rem;
  // max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;

  .wrapper-logo {
    margin: 0 auto;

    .logo {
      width: 100%;
    }
  }

  #title {
    color: #282144;
    // font-family: "New York";
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 3rem;
    text-align: center;
    margin: 0;

    @media (max-width: 768px) {
      margin-bottom: 1rem;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }

  #note {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
  }

  .wrapper-input-control {
    margin-bottom: 0.5rem;

    ::ng-deep .phone-input {
      .separate-dial-code {
        width: 100%;

        .iti__selected-flag {
          border-right: 1px solid #e5e5e5;
        }

        .custom {
          width: 100%;
          height: 3rem;
          color: #9e9ea7;
          font-family: Mulish;
          font-size: 1.1rem;
          box-sizing: border-box;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          background-color: #ffffff;
        }
      }
    }

    .wrapper-error-msg {
      height: 1.2rem;

      .error-msg {
        font-family: Mulish;
        font-size: 0.86rem;
        line-height: 1.2rem;
        display: block;
      }
    }
  }

  #remind {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 0.86rem;
    letter-spacing: 0;
    line-height: 1.2rem;
  }

  .btn-submit {
    width: 100%;
    border-radius: 4px;
    background-color: var(--btn-dine-primary);
    box-shadow: 0 1px 21px 0 #ffba71;
    font-family: Mulish;
    font-size: 1.1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    outline: none;
    border-color: var(--btn-dine-primary);
    border-width: 0;
    color: white;
    font-weight: 600;
    padding: 0.4rem;
    margin-bottom: 2rem;
  }

  #footer {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 0.86rem;
    letter-spacing: 0;
    line-height: 1.2rem;
    text-align: center;
  }
}

#dine-ad {
  max-width: 768px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;

  #timer {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 5vw;
    top: 5vw;
    border-radius: 50%;
    background-color: #ffffff29;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.homepage {
  width: 75%;
  margin: 4% auto;
  overflow: hidden;

  .homepage-btn-fixed {
    position: fixed;
    right: 2.1875rem;
    bottom: 2.1875rem;
    text-align: center;
    background-color: var(--btn-dine-primary);
    background-image: linear-gradient(to right, var(--btn-dine-primary), #f1a987);
    width: 10rem;
    height: auto;
    padding: 5px;
    box-shadow: 4px 0px 5px 2px #f37171;
    border-radius: 22px;
    cursor: pointer;

    :hover {
      animation-duration: 10s;
      zoom: 1.02;
      white-space: nowrap;
    }

    span {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    .fa {
      color: #fff;
      width: 10%;
      height: 30%;
      border: 1px solid #fff;
      border-radius: 50%;
      text-align: center;
    }
  }

  ::ng-deep img {
    width: 100%;
  }
}

.notification-pwa {
  position: fixed;
  bottom: 0;
  padding: 40px;
  background: #e66229;

  .close:focus {
    outline: none;
  }

  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: wheat;
  }

  .notification-title p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }

  .ios {
    color: #fff;
    font-size: 16px;
  }

  .android {
    color: #fff;
    font-size: 16px;
  }
}
