<ngx-spinner bdColor="#fff" type="none">
    <img *ngIf="logoUrl && (isLogoAvailable)" [src]="logoUrl" alt="" [ngClass]="{
        'zoom-in-out': isLogoAvailable === true
      }" />
</ngx-spinner>

<div *ngIf="isDisplayHomePage && (!isLogoAvailable)" class="homepage">
    <div class="homepage-btn-fixed" (click)="openPageOrder()">
        <div id="continute-order" title="Continue Order"><span>Continue Order</span></div>
    </div>
    <div [innerHtml]="homePage?.html"></div>
</div>

<!-- <div id="dine-ad" *ngIf="isDisplayAd">
  <img [src]="srcAdLoading" alt="" />
  <div id="timer">{{ adTimer }}</div>
</div>
<p-toast></p-toast> -->
<div *ngIf="isReady">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
