.card-body {
  &__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.75rem;
  }
}

.card.p-card {padding: 5px;
  width: 100%;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;

  &:first-of-type {
    margin-right: 1.5rem;
  }

  &:last-of-type {
    margin-left: 1.5rem;
  }
}

.total-count {
  &__value {
    font-size: 32px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 16px;
  }
}

.total-claimed {
  &__value {
    font-size: 32px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 16px;
  }
}

::ng-deep {
  p-table.custom-table p-paginator {
    display: none;
  }
}
