<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ManageVouchers' | localize" [description]="'VouchersHeaderInfo' | localize">

            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success text-uppercase"><i
                        class="la-file-excel-o"></i> {{l("ExportToExcel")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="card-body__header">
                        <div class="card p-card">
                            <div class="card-body">
                                <div class="total-count__value text-success">{{promotion.codes?.length}}</div>
                                <div class="total-count__title text-muted">{{l('TotalCount')}}</div>
                            </div>
                        </div>
                        <div class="card p-card">
                            <div class="card-body">
                                <div class="total-claimed__value text-danger">{{totalClaimed}}</div>
                                <div class="total-claimed__title text-muted">{{l('TotalClaimed')}}</div>
                            </div>
                        </div>
                    </div>
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getVouchers()" class="btn btn-primary" type="submit"><i
                                                        class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable class="custom-table"
                            [value]="primengTableHelper.records"
                            [(rows)]="paging.rows"
                            [paginator]="true"
                            [(first)]="paging.first"
                            [showCurrentPageReport]="true"
                            [scrollable]="true"
                            (sortFunction)="primengTableHelper.customSort($event)" [customSort]="true"
                            ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                              <tr>
                                <th>
                                  {{l('Voucher')}}
                                </th>
                                <th pSortableColumn="isClaimed">
                                  {{l('Claimed')}}
                                  <p-sortIcon field="isClaimed"></p-sortIcon>
                                </th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                              <tr>
                                <td>
                                  <span class="ui-column-title"> {{l('Voucher')}}</span>
                                  {{record.code}}
                                </td>
                                <td>
                                  <span class="ui-column-title">{{'Claimed' | localize}}</span>
                                  <span class="label label-success label-inline"
                                    *ngIf="record.isClaimed">{{'Yes' | localize}}</span>
                                  <span class="label label-dark label-inline"
                                    *ngIf="!record.isClaimed">{{'No' | localize}}</span>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                          </div>
                          <div class="primeng-paging-container">
                            <p-paginator #paginator
                              [rows]="paging.rows"
                              [totalRecords]="primengTableHelper.totalRecordsCount"
                              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                              (onPageChange)="onChangePage($event)">
                            </p-paginator>
                            <span class="total-records-count">
                              {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                          </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
