<div class="d-flex align-items-center order-history-header">
    <div (click)="backprev()" class="row d-flex align-items-center button-back">
        <mat-icon>arrow_back</mat-icon>
        <span class="text-button">Order Details</span>
    </div>
</div>
<div class="col-sm-12 top-kt large-screen">
    <div class="card mb-1">
        <div class="panel-heading">
            <div class="text-header">
                <img src="\assets\image\success.png" alt="">
                <h3 class="panel-title">Order Complete</h3>
                <span class="color-text">${{total | number: '1.2-2'}}</span>
            </div>
            <button class="button-print" (click)="print()"> 
                <img src="\assets\image\print.png" alt="">
                Print
            </button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td class="text-title">Items Ordered</td>
                                            <td class=""></td>
                                            <td class="text-right text-subtitle">Price</td>
                                            <td class="text-right text-subtitle">Amount</td>
                                            <td class="text-right text-subtitle">Sub total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let cliqueHistory of cliqueOrderHistoryDto.productOrders">
                                            <tr>
                                                <td class="text-content"><img src="{{cliqueHistory.image}}" class="img-order-history" alt=""> {{cliqueHistory.name}}</td>
                                                <td class="text-subcontent">{{cliqueHistory.orderDateStr}}</td>
                                                <td class="text-right text-subcontent"> ${{cliqueHistory.price | number: '1.2-2'}} </td>
                                                <td class="text-right text-subcontent"> {{cliqueHistory.quantity}} </td>
                                                <td class="text-right text-subcontent">${{cliqueHistory.price * cliqueHistory.quantity | number: '1.2-2'}} </td>
                                            </tr>
                                            <tr *ngFor="let orderTag of cliqueHistory.orderTags">
                                                <td class="text-content" style="margin-left: 100px">{{orderTag.name}}</td>
                                                <td class="text-subcontent"></td>
                                                <td class="text-right text-subcontent"> ${{orderTag.price | number: '1.2-2'}} </td>
                                                <td class="text-right text-subcontent"> {{orderTag.quantity}} </td>
                                                <td class="text-right text-subcontent">${{orderTag.price * orderTag.quantity | number: '1.2-2'}} </td>
                                            </tr>
                                        </ng-container>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right text-label">Payment method</td>
                                            <td></td>
                                            <td class="text-right text-value">{{cliqueOrderHistoryDto.paymentMethod}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right text-label">Status</td>
                                            <td></td>
                                            <td class="text-right text-value">Paid</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right text-label">Paid on</td>
                                            <td></td>
                                            <td class="text-right text-value">{{cliqueOrderHistoryDto.paidTimeStr}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right text-label">Ordered for</td>
                                            <td></td>
                                            <td class="text-right text-value">{{cliqueOrderHistoryDto.orderTimeForDetailStr}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right text-label">Total</td>
                                            <td></td>
                                            <td class="text-right text-value">${{total | number: '1.2-2'}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><button type="button" class="btn style-button-left " (click)="cancelOrder(cliqueOrderHistoryDto)" style="margin-top: 34px;">Cancel Order</button></td>
                                            <td><button type="button" class="btn style-button" (click)="orderAgain(cliqueOrderHistoryDto)" style="margin-top: 34px;">Order Again</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-screen">
    <div class="panel-heading">
        <div class="text-header">
            <img src="\assets\image\success.png" alt="">
            <h3 class="panel-title">Order Complete</h3>
            <span class="color-text">${{total | number: '1.2-2'}}</span>
        </div>
    </div>
    <div class="items-ordered">
        <div class="text-title">
            Items Ordered
        </div>
        <ng-container *ngFor="let cliqueHistory of cliqueOrderHistoryDto.productOrders">
            <div class="item-content" >
                <div class="image-content">
                    <img src="{{cliqueHistory.image}}" class="image" alt="">
                    <div class="content-order">
                        <div class="content-title">
                            <span>
                                {{cliqueHistory.quantity}}x
                            </span>
                            <span>{{cliqueHistory.name}}</span>
                        </div>
                        <div class="content-description">
                            <span>${{cliqueHistory.price * cliqueHistory.quantity | number: '1.2-2'}} </span>
                            <span>{{cliqueHistory.orderDateStr}}</span>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-content" *ngFor="let orderTag of cliqueHistory.orderTags">
                <div class="image-content">
                    <img src="{{orderTag.image}}" class="image" alt="" style="visibility: hidden;">
                    <div class="content-order">
                        <div class="content-title">
                            <span>
                                {{orderTag.quantity}}x
                            </span>
                            <span>{{orderTag.name}}</span>
                        </div>
                      
                    </div>
                </div>
                <div class="price">${{orderTag.price * orderTag.quantity | number: '1.2-2'}} </div>
            </div>
        </ng-container>
    </div>
    <div class="payment-method">
        <div class="list-widget">
            <div class="form-row-payment">
                <div class="item-label">Payment method</div>
                <div class="item-value">{{cliqueOrderHistoryDto.paymentMethod}}</div>
            </div>
            <div class="form-row-payment">
                <div class="item-label">Status</div>
                <div class="item-value">Paid</div>
            </div>
            <div class="form-row-payment">
                <div class="item-label">Date</div>
                <div class="item-value">{{cliqueOrderHistoryDto.orderDateForDetailMobileStr}}</div>
            </div>
            <div class="form-row-payment">
                <div class="item-label">Time</div>
                <div class="item-value">{{cliqueOrderHistoryDto.orderTimeForDetailMobileStr}}</div>
            </div>
            <div class="form-row-payment">
                <div class="item-label">Total Payment</div>
                <div class="item-value">${{total | number: '1.2-2'}}</div>
            </div>
        </div>
    </div>
    <div class="action-order-again">
        <button class="btn-order-again" (click)="orderAgain(cliqueOrderHistoryDto)">
            Order Again
        </button>
    </div>
</div>
<app-top-bar-mobile></app-top-bar-mobile>