.cart-items {
    padding: 15px 1.25rem;
    max-height: 36vh;
    overflow-x: auto;
    margin: 0 -1.25rem;
}

.cart-items > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.cart-items > ul > li {
    border-bottom: 1px dashed #eee;
    overflow: hidden;
    padding: 5px 0;
}

.invoice-title h2,
.invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

// @media (max-width: 1024px) {
//     .top-kt {
//         margin-top: 2vh;
//         padding-left: 174px;
//         padding-right: 173px;
//     }
//     .mb-1 {
//         margin-bottom: 1rem !important;
//     }
//     .text-title {
//         font-weight: 700;
//         font-size: 20px;
//         line-height: 20px;
//         color: #22232f;
//     }
//     .text-subtitle {
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 18px;
//         color: #bfbfbf;
//     }
//     .text-content {
//         font-weight: 700;
//         font-size: 18px;
//         line-height: 18px;
//         color: #22232f;
//         display: flex;
//         align-items: center;
//         column-gap: 24px;
//     }
//     .text-subcontent {
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 24px;
//         color: #22232f;
//         vertical-align: inherit;
//     }
//     .ms-1 {
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 27px;
//         margin-right: 60px;
//         color: #444444;
//     }
//     .ms-2 {
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 27px;
//         color: #888884;
//         margin-right: 30px;
//     }
//     .ms-3 {
//         font-weight: 700;
//         font-size: 20px;
//         line-height: 30px;
//         color: #444444;
//     }
//     .form-check {
//         margin-right: 40px;
//     }
//     .img-fluid-1 {
//         width: 20px;
//         height: 18px;
//         margin-right: 16px;
//     }
//     .img-fluid-2 {
//         width: 24px;
//         height: 24px;
//         margin-right: 16px;
//     }
//     .color-text {
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 27px;
//         color: #ed4941;
//     }
//     .text-label {
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 24px;
//         color: #969696;
//         margin-left: 94px;
//     }
//     .text-value {
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 24px;
//         color: #444444;
//     }
//     .number-pay {
//         font-weight: 700;
//         font-size: 25px;
//         line-height: 25px;
//         color: #ed4941;
//         margin-left: 100px;
//     }
//     .style-button {
//         width: 216px;
//         height: 56px;
//         background-color: #2d5d8c;
//         border-radius: 10px;
//         color: #fff;
//         font-size: 16px;
//         font-weight: 700;
//         float: right;
//     }
//     .style-button-left {
//         width: 216px;
//         height: 56px;
//         background-color: #fff;
//         border: 1px solid #2d5d8c;
//         border-radius: 10px;
//         color: #2d5d8c;
//         font-size: 16px;
//         font-weight: 700;
//         margin-right: 16px;
//         float: right;
//     }
//     .button-back {
//         cursor: pointer;
//         border: 0px solid #dcdfea;
//         border-radius: 16px;
//         min-width: 150px;
//         height: 35px;
//         margin-left: 15px;
//     }
//     // .text-button {
//     //     font-weight: 700;
//     //     font-style: normal;
//     //     font-size: 22px;
//     //     line-height: 33px;
//     //     color: #22232f;
//     //     margin-left: 24px;
//     // }
// }

@media (min-width: 992px) {
    .order-history-header {
        background-color: #FCFCFC; 
        height: 69px;
    }
    .panel-heading {
        background-image: url(../../../../assets/image/banner-order-detail.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid #ededed;
        height: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            img {
                height: 59px;
                width: 59px;
            }
            .panel-title {
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                color: #22232f;
            }
            .color-text {
                font-weight: 700;
                font-size: 25px;
                line-height: 25px;
                color: #ed4941;
            }
        }
        .button-print {
            height: 48px;
            width: 117px;
            border: 1px solid #2d5d8c;
            border-radius: 10px;
            background-color: #ffffff;
            position: absolute;
            right: 24px;
            color: #2d5d8c;
            top: 24px;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .mobile-screen {
        display: none;
    }
    .top-kt {
        margin-top: 2vh;
        padding-left: 174px;
        padding-right: 173px;
    }
    .mb-1 {
        margin-bottom: 1rem !important;
    }
    .text-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #22232f;
    }
    .text-subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #bfbfbf;
    }
    .text-content {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #22232f;
        display: flex;
        align-items: center;
        column-gap: 24px;
    }
    .text-subcontent {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #22232f;
        vertical-align: inherit;
    }
    .ms-1 {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-right: 60px;
        color: #444444;
    }
    .ms-2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #888884;
        margin-right: 30px;
    }
    .ms-3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #444444;
    }
    .form-check {
        margin-right: 40px;
    }
    .img-fluid-1 {
        width: 20px;
        height: 18px;
        margin-right: 16px;
    }
    .img-fluid-2 {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    .color-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #ed4941;
    }
    .text-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #969696;
        margin-left: 94px;
    }
    .text-value {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #444444;
    }
    .number-pay {
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        color: #ed4941;
        margin-left: 100px;
    }
    .style-button {
        width: 216px;
        height: 56px;
        background-color: #2d5d8c;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        float: right;
    }
    .style-button-left {
        width: 216px;
        height: 56px;
        background-color: #fff;
        border: 1px solid #2d5d8c;
        border-radius: 10px;
        color: #2d5d8c;
        font-size: 16px;
        font-weight: 700;
        margin-right: 16px;
        float: right;
    }
    .button-back {
        cursor: pointer;
        border: 0px solid #dcdfea;
        border-radius: 16px;
        min-width: 150px;
        height: 35px;
        margin-left: 15px;
    }
    .text-button {
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        line-height: 33px;
        color: #22232f;
        margin-left: 24px;
    }
}

.img-order-history {
    height: 72px;
    width: 72px;
    border-radius: 50%;
}

@media (max-width: 991px) {
    .order-history-header {
        background-color: #ffffff; 
        height: 49px;
        padding-left: 24px;
    }
    .large-screen {
        display: none;
    }
    .text-button {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #22232f;
        margin-left: 16px;
    }
    .panel-heading {
        background-image: url(../../../../assets/image/background-banner-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        background-color: #ffffff;
        .text-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                height: 48px;
                width: 48px;
                margin-top: 16px;
                margin-bottom: 4px;
            }
            .panel-title {
                font-style: normal;
                font-weight: bold;
                font-size: 23px;
                line-height: 120%;
                text-align: center;
                color: #2d5d8c;
                margin-bottom: 3px;
            }
            .color-text {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                text-align: center;
                color: #ed4941;
                margin-bottom: 24px;
            }
        }
    }
    .items-ordered {
        padding: 16px;
        background: #ffffff;
        border-bottom: 1px solid #eaeaea;
        .text-title {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #22232f;
        }
        .item-content:not(:last-child) {
            border-bottom: 1px solid #eaeaea;
        }
        .item-content {
            padding-bottom: 16px;
            padding-top: 16px;
            .image-content {
                display: flex;
                align-items: center;
                .image {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    margin-right: 16px;
                    object-fit: cover;
                }
                .content-order {
                    .content-title {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        & > span:nth-child(1) {
                            color: #2d5d8c;
                        }
                        & > span:nth-child(2) {
                            color: #22232f;
                        }
                    }
                    .content-description {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        & > span:nth-child(1) {
                            color: #444444;
                            margin-right: 5px;
                        }
                        & > span:nth-child(2) {
                            color: #888884;
                        }
                    }
                }
            }
        }
    }
    .payment-method {
        padding: 16px 16px 46px 16px;
        background: #ffffff;
        border-bottom: 1px solid #eaeaea;
        .list-widget {
            .form-row-payment {
                &:not(:first-child) {
                    margin-top: 16px;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                .item-label {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                    color: #888884;
                }
                .item-value {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 140%;
                    text-align: right;
                    color: #444444;
                }
            }
        }
    }
    .action-order-again {
        padding: 16px 16px 24px 16px;
        background: #ffffff;
        .btn-order-again {
            background: #2d5d8c;
            border-radius: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #ffffff;
            padding: 16px 24px;
            width: 100%;
            border: none;
        }
    }
}
