<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'DriverReport' | localize" [description]="'DriverReportInfo' | localize">
            <div role="actions">
                <button class="btn btn-outline-success" (click)="exportToExcel()">
                    <i class="la-file-excel-o-o"></i> {{ l('ExportToExcel') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="input-group mb-6">
                            <div class="has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input
                                    [(ngModel)]="filterText"
                                    name="filterText"
                                    autoFocus
                                    (ngModelChange)="search($event)"
                                    class="form-control m-input form-control-solid"
                                    [placeholder]="l('SearchWithThreeDot')"
                                    type="text"
                                />
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-filter" type="button" (click)="filter()">
                                    <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                    <span>Filter</span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getList($event)"
                                [value]="primengTableHelper.records"
                                sortField="DateOrder"
                                [sortOrder]="-1"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="Name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="Name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="PhoneNumber">
                                            {{ l('PhoneNumber') }}
                                            <p-sortIcon field="PhoneNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Address">
                                            {{ l('Address') }}
                                            <p-sortIcon field="Address"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="UnitNumber">
                                            {{ l('UnitNumber') }}
                                            <p-sortIcon field="UnitNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="PostalCode">
                                            {{ l('PostalCode') }}
                                            <p-sortIcon field="PostalCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Zone">
                                            {{ l('Zone') }}
                                            <p-sortIcon field="Zone"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="MealTime">
                                            {{ l('MealTime') }}
                                            <p-sortIcon field="MealTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="DateOrder">
                                            {{ l('DateOrder') }}
                                            <p-sortIcon field="DateOrder"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="TimeSlot">
                                            {{ l('TimeSlot') }}
                                            <p-sortIcon field="TimeSlot"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Total">
                                            {{ l('Total') }}
                                            <p-sortIcon field="Total"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Remarks">
                                            {{ l('Remarks') }}
                                            <p-sortIcon field="Remarks"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Name' | localize }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'PhoneNumber' | localize }}</span>
                                            {{ record.phoneNumber }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Address' | localize }}</span>
                                            {{ record.address }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'UnitNumber' | localize }}</span>
                                            {{ record.unitNumber }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'PostalCode' | localize }}</span>
                                            {{ record.postalCode }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Zone' | localize }}</span>
                                            {{ record.zone }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'MealTime' | localize }}</span>
                                            {{ record.mealTime }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'DateOrder' | localize }}</span>
                                            {{ record.dateOrder | momentFormat: 'YYYY-MM-DD' }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'TimeSlot' | localize }}</span>
                                            {{ record.timeSlot ? record.timeSlot?.from + ' - ' + record.timeSlot?.to : '' }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Total' | localize }}</span>
                                            {{ record.total }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Remarks' | localize }}</span>
                                            {{ record.remarks }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<select-popup
    #selectCustomer
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getCustomerForComboBox()"
    (changeValue)="changeCustomer($event)"
    selectionMode="single"
    [selectedValue]="selectedCustomer"
    [title]="l('Customers')"
></select-popup>

<driver-export-modal #driverExportModal></driver-export-modal>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="">
                <div class="form-group">
                    <label for="Date">{{ 'Date' | localize }}</label>
                    <div class="input-group date">
                        <input
                            type="text"
                            placeholder="Choose dates"
                            class="form-control"
                            bsDaterangepicker
                            [(ngModel)]="dateRange"
                            name="date"
                            #dp1="bsDaterangepicker"
                            [placement]="'left'"
                            [bsConfig]="{
                                isAnimated: true,
                                rangeInputFormat: 'YYYY-MM-DD',
                                dateInputFormat: 'YYYY-MM-DD',
                                showWeekNumbers: false,
                                containerClass: 'custom-filter-datepicker theme-default'
                            }"
                        />

                        <div class="input-group-append">
                            <span class="input-group-text" (click)="dp1.toggle()">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="MealTime">{{ l('MealTime') }}</label>
                    <select id="MealTime" class="form-control" [(ngModel)]="selectedMeal" name="MealTime" #Plan="ngModel">
                        <option [ngValue]="undefined"></option>
                        <option *ngFor="let item of mealOptions" [ngValue]="item.value">
                            {{ item.displayText }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>{{ 'Customer' | localize }}</label>
                    <input
                        type="text"
                        id="Tiffin_Customer"
                        class="form-control"
                        readonly
                        required
                        name="Tiffin_Customer"
                        [(ngModel)]="customerName"
                        (click)="selectCustomer.show()"
                    />
                </div>
                <div class="form-group">
                    <label>{{ 'ChoiceOfSet' | localize }}</label>
                    <p-dropdown
                        [options]="products"
                        [(ngModel)]="selectedProductSet"
                        name="choiseOfSetFilter"
                        styleClass="w-100"
                        [placeholder]="l('ChoiceOfSet')"
                        [filter]="true"
                        optionLabel="displayText"
                        filterBy="label,value.name"
                        [showClear]="true"
                    >
                    </p-dropdown>
                </div>
                <div class="form-group">
                    <label for="Zone">{{ l('Zone') }}</label>
                    <select id="Zone" class="form-control" [(ngModel)]="zone" name="Zone" #Zone="ngModel">
                        <option [ngValue]="undefined"></option>
                        <option *ngFor="let item of zoneOptions" [ngValue]="item.value">
                            {{ item.text }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{ 'TimeSlot' | localize }}</label>
                    <select id="TimeSlot" class="form-control" [(ngModel)]="timeSlot" name="TimeSlot">
                        <option [ngValue]="undefined" selected>{{ l('All') }}</option>
                        <option *ngFor="let item of timeSlots" [ngValue]="item.value">
                            {{ item.displayText }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
