<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!tillAccount.id ? l('CreateNewTillAccount') : l('EditTillAccount')">
      <div role="actions">
        <button (click)="openSelectLocationModal()" class="btn btn-primary">
          <i class="fa fa-file"></i> {{l("Locations")}}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form #tillAccountForm="ngForm" novalidate class="form tillAccount-form" (ngSubmit)="save()">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="TillAccount_Name">{{l("Name")}} *</label>
                  <input type="text" id="TillAccount_Name" class="form-control" [(ngModel)]="tillAccount.name"
                    name="Name" required #nameInput="ngModel" autoFocus />
                  <validation-messages [formCtrl]="nameInput"></validation-messages>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="TillAccount_TillAccountTypeId">{{l("TillAccountType")}} *</label>
                  <div class="input-group">
                    <select id="TillAccount_TillAccountTypeId" class="form-control"
                      [(ngModel)]="tillAccount.tillAccountTypeId" name="TillAccountTypeId" #TillAccountTypeId="ngModel"
                      required>
                      <option *ngFor="let type of tillAccountTypes" [value]="type.value">
                        {{type.displayText}}
                      </option>
                    </select>
                  </div>
                  <validation-messages [formCtrl]="TillAccountTypeId"></validation-messages>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                (click)="close()">{{l("Cancel")}}</button>
              <button type="submit" class="btn btn-primary blue" [disabled]="!tillAccountForm.form.valid"
                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                <span>{{l("Save")}}</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
  </select-location-or-group>
</div>