::ng-deep {
    .cdk-overlay-dark-backdrop {
        background: rgba(18, 36, 54, 0.7);
    }
    .dialog-transfer-confirm {
        position: relative !important;
        .mat-dialog-container {
            background-image: url("/assets/image/background-thank-for-feedback.png");
            padding: 0px;
            background-repeat: no-repeat;
        }
    }
}
.transfer-confirm {
    .success {
        width: 67px;
        height: 67px;
        background: #25da37;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: -27px;
        outline: 15px solid rgba(37, 218, 55, 0.1);
        top: -33.5px;
        left: calc(50% - 33.5px);
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .img-close {
        position: absolute;
        top: 23px;
        right: 23px;
        cursor: pointer;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 181px;
        border-bottom: 1px solid #ededed;
        span {
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 120%;
            text-align: center;
            color: #2d5d8c;
        }
    }
    .person-confirm {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #ededed;
        .img-person {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            border: 6px solid #f4f4f4;
            padding: 6px;
            margin-top: -48px;
        }
        .name {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 150%;
            color: #22232f;
            margin-top: 8px;
        }
        .phone-number {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            display: flex;
            color: #888884;
            margin-top: 4px;
        }
        .transfer-date {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #575755;
            margin-top: 8px;
        }
        .price {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 120%;
            color: #2d5d8c;
            margin-top: 16px;
        }
        .warning {
            background: #fef9ea;
            border-radius: 10px;
            height: 36px;
            display: flex;
            padding: 8px 16px;
            margin-top: 32px;
            .icon-info-confirm {
                width: 16px;
                height: 16px;
            }
            & > span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #c5971a;
                margin-left: 8px;
            }
        }
        .wallet-transfer {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #22232f;
            margin-top: 24px;
        }
        .stack-wallet {
            background: #f6f9fe;
            border: 1px solid #488bf0;
            box-sizing: border-box;
            border-radius: 8px;
            height: 76px;
            width: 449px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 16px 12px 12px;
            margin-top: 8px;
            margin-bottom: 32px;
            .wallet {
                display: flex;
                align-items: center;
                .amount {
                    display: flex;
                    flex-direction: column;
                    margin-left: 16px;
                    & > span:nth-child(1) {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150%;
                        color: #000000;
                    }
                    .price {
                        display: flex;
                        margin-top: 2px;
                        & > span:nth-child(1) {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 140%;
                            color: #ed4941;
                            margin-right: 16px;
                        }
                        & > span:nth-child(2) {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 140%;
                            color: #48525f;
                        }
                    }
                }
            }
        }
    }

    .action-transfer-confirm {
        padding: 35px 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        .btn-cancel {
            border: 1px solid #2d5d8c;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 12px 24px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #2d5d8c;
        }
        .btn-transfer-now {
            background: #2d5d8c;
            border-radius: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #ffffff;
            padding: 12px 24px;
            border: none;
        }
    }
}

@media (max-width: 991px) {
    .warning {
        height: auto !important;
    }

    .wallet-transfer {
        display: flex;
        align-self: flex-start;
        margin-left: 18px;
    }

    .stack-wallet{
        width: 96% !important;
    }

    .action-transfer-confirm{
        grid-template-columns: 1fr !important
    }
}
