<div class="transfer-confirm">
    <div class="container">
        <img src="/assets/image/close.png" class="img-close" mat-dialog-close>
        <div class="success">
            <img src="/assets/image/checkmark.png" alt="">
        </div>
        
        <div class="transfer-confirm-content">
            <span>Transfer Confirmation</span>
        </div>
        <div class="person-confirm">
            <img src="\assets\image\person-settings.png" alt="" class="img-person">
            <div class="name">
                {{customerForTransferDto.customerName}}
            </div>
            <div class="phone-number">{{customerForTransferDto.phoneNumber}}</div>
            <div class="transfer-date">Transfer on {{currentDay}}</div>
            <div class="price">${{price | number: '1.2-2'}}</div>
            <div class="warning">
                <img src="\assets\image\icon-info-confirm.png" alt="" class="icon-info-confirm">
                <span>Transfer with Stack Wallet are free without fee.</span>
            </div>
            <div class="wallet-transfer">Wallet transfer</div>
            <div class="stack-wallet">
                <div class="wallet">
                    <img src="\assets\image\stack-canteen.png" alt="">
                    <div class="amount">
                        <span>Stack Wallet</span>
                        <div class="price">
                            <span>-${{price | number: '1.2-2'}}</span>
                            <span>${{balancerShow | number: '1.2-2'}}</span>
                        </div>
                    </div>
                </div>
                <div class="icon">
                    <img src="\assets\image\radio.png" alt="">
                </div>
            </div>
        </div>
        <div class="action-transfer-confirm">
            <button class="btn-cancel" mat-dialog-close>Cancel</button>
            <button class="btn-transfer-now" (click)="confirm()">Transfer Now</button>
        </div>

    </div>
</div>