<!-- privacy-policy -->
<section class="privacy pad-200">
    <div class="container">
        <article>
            <h2>{{'TermsAndConditions' | localize}}</h2>
            <div class="privacy-content terms">
                <div class="privacy-content-block" [innerHTML]="tContent | safeHtml"></div>
            </div>
        </article>
    </div>
</section>
<!-- privacy-policy end -->
