<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'QueueLocation' | localize">
            <div role="actions">
                <button (click)="selectLocation()" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{l("Locations")}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #queueForm="ngForm" class="form" autocomplete="off" (submit)="save(queueForm)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group m-form__group">
                                    <label for="Department_Code">{{ l('StoreName') }} *</label>
                                    <input
                                        [(ngModel)]="queueLocation.name"
                                        name="name"
                                        class="form-control m-input"
                                        [placeholder]="l('Name')"
                                        type="text"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label for="Department_Code">{{ l('StoreTimeStart') }} *</label>
                                    <div>
                                        <p-calendar
                                            [timeOnly]="true"
                                            [(ngModel)]="startTime"
                                            name="startTime"
                                            [required]="true"
                                            class="w-100"
                                            dateFormat="hh:mm"
                                        ></p-calendar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label for="Department_Code">{{ l('StoreTimeEnd') }} *</label>
                                    <div>
                                        <p-calendar
                                            [timeOnly]="true"
                                            [(ngModel)]="endTime"
                                            name="endTime"
                                            [required]="true"
                                            class="w-100"
                                            dateFormat="hh:mm"
                                        ></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label for="IsTurnOffQueuing">{{ l('Queue') }}</label>
                                    <div>
                                        <p-selectButton [options]="stateOptions" [ngModel]="{value: queueLocation.enableQueue}" dataKey="value" (ngModelChange)="queueLocation.enableQueue = $event?.value" id="IsTurnOffQueuing" name="IsTurnOffQueuing" optionLabel="label"></p-selectButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <button
                                    *ngIf="queueLocation?.id"
                                    type="button"
                                    (click)="createOrEditQueueOption()"
                                    class="btn btn-success"
                                >
                                    {{ l('AddQueueOption') }}
                                </button>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center justify-content-end">
                                    <button type="button" class="btn btn-outline-secondary" (click)="back()">{{ l('Cancel') }}</button>
                                    <button [disabled]="queueForm.invalid" type="submit" class="btn btn-primary ml-3">{{ l('Save') }}</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div *ngIf="queueLocation?.id" class="row align-items-center mt-5">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #queueTable
                                class="custom-table"
                                [value]="primengTableHelper.records"
                                [(rows)]="paging.rows"
                                [paginator]="true"
                                [(first)]="paging.first"
                                [showCurrentPageReport]="true"
                                [scrollable]="true"
                                (sortFunction)="primengTableHelper.customSort($event)"
                                [customSort]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{ l('#') }}
                                        </th>
                                        <th pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="prefix">
                                            {{ l('Prefix') }}
                                            <p-sortIcon field="prefix"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="minPax">
                                            {{ l('MinPax') }}
                                            <p-sortIcon field="minPax"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="maxPax">
                                            {{ l('MaxPax') }}
                                            <p-sortIcon field="maxPax"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="active">
                                            {{ l('Pause') }}
                                            <p-sortIcon field="active"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px">
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('#') }}</span>
                                            {{ index + 1 }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Prefix') }}</span>
                                            {{ record.prefix }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('MinPax') }}</span>
                                            {{ record.minPax }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('MaxPax') }}</span>
                                            {{ record.maxPax }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Pause') }}</span>
                                            <span *ngIf="record.active" class="badge rounded-pill bg-success text-white">Active</span>
                                            <span *ngIf="!record.active" class="badge rounded-pill bg-danger text-white">Pause</span>
                                        </td>
                                        <td style="width: 250px">
                                            <button type="button" class="btn btn-sm btn-primary mr-1" (click)="createOrEditQueueOption(record)">
                                                {{ l('Edit') }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger mr-1" (click)="deleteQueueOption(record.id)">
                                                {{ l('Delete') }}
                                            </button>
                                            <button
                                                *ngIf="record.active"
                                                type="button"
                                                class="btn btn-sm btn-outline-danger"
                                                (click)="pauseOption(record, false)"
                                            >
                                                {{ l('Pause') }}
                                            </button>
                                            <button
                                                *ngIf="!record.active"
                                                type="button"
                                                class="btn btn-sm btn-outline-success"
                                                (click)="pauseOption(record, true)"
                                            >
                                                {{ l('Resume') }}
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    #queuePaginator
                                    [rows]="paging.rows"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    (onPageChange)="onChangePage($event)"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<app-add-queue-option-modal #queueOptionModal (modalSave)="getQueueLocationFullDataById()"></app-add-queue-option-modal>
<select-location-modal #selectLocationModal (locationAdded)="onLocationAdded($event)"></select-location-modal>
