<div
    appBsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #swipeCardForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="swipeCard.id">{{ l('EditSwipeCard') }}: {{ swipeCard.cardNumber }}</span>
                        <span *ngIf="!swipeCard.id">{{ l('CreateNewSwipeCard') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">{{ l('CardType') }} *</label>
                        <ng-select [(ngModel)]="swipeCard.cardTypeRefId" required #swipeCardType="ngModel" name="swipeCardTypeId">
                            <ng-option *ngFor="let type of cardTypes" [value]="+type.id">
                                <b><ng-container *ngIf="swipeCard.cardTypeRefId != type.id">{{ l('Name') }}: </ng-container>{{ type.name }} </b>
                                <span *ngIf="swipeCard.cardTypeRefId != type.id" class="additional">
                                    <br />
                                    {{ l('DepositRequired') }}: {{ type.depositRequired }} -{{ l('DepositAmount') }}: {{ type.depositAmount }}
                                    <br />
                                    {{ l('RefundAllowed') }}: {{ type.refundAllowed }}
                                </span>
                            </ng-option>
                        </ng-select>
                        <validation-messages [formCtrl]="swipeCardType"></validation-messages>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="swipeCard_CardNumber">{{ l('CardNumber') }} *</label>
                            <input
                                type="text"
                                id="swipeCard_CardNumber"
                                class="form-control"
                                [(ngModel)]="swipeCard.cardNumber"
                                name="CardNumber"
                                required
                                #cardNumberInput="ngModel"
                            />
                            <validation-messages [formCtrl]="cardNumberInput"></validation-messages>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ l('Balance') }}</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    name="balance"
                                    [(ngModel)]="swipeCard.balance"
                                    [textMask]="{ mask: decimalMask }"
                                    disabled
                                />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Active" class="checkbox">
                            <input [(ngModel)]="swipeCard.active" id="Active" name="Active" type="checkbox" />
                            {{ l('Active') }}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!swipeCardForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
