@media (min-width: 1025px) {
    .member-schedule {
        margin-top: -50px;
    }
}

::ng-deep .menu-content {
    @media (max-width: 768px) {
        .menu-content__left {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            .order-btn {
                display: inline !important;
            }
        }
    }
}
