<div class="card mb-1">
    <div class="panel-heading">
        <div class="text-header">
            <span class="panel-title">My Profile</span>
            <span class="panel-subtitle">Manage your profile information to control, protect and secure your account.</span>            
        </div>
        <button class="choose-photo-mobile">Choose Photo</button>
    </div>
    <div class="card-body">
        <form role="form" [formGroup]="form">

            <div class="form-content">
                <div class="user-item">
                    <div class="form-field-label">User Name:</div>
                    <div class="mat-form-field">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="User Name" formControlName="username" autocomplete="off" readonly />
                        </mat-form-field>
                    </div>
                </div>

                <div class="user-item">
                    <div class="form-field-label">Name:</div>
                    <div class="mat-form-field">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Name" formControlName="name" autocomplete="off" />
                            <!-- <mat-error *ngIf="name.errors && name.errors['required']">
                                Please input your first name
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>

                <div class="user-item">
                    <div class="form-field-label">Email:</div>
                    <div class="mat-form-field">
                        <mat-form-field appearance="outline">
                            <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off" readonly />
                        </mat-form-field>
                    </div>
                </div>

                <div class="user-item">
                    <div class="form-field-label">Contact Number:</div>
                    <div class="mat-form-field">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Contact Number" formControlName="contactNumber" autocomplete="off" />
                            <!-- <mat-error *ngIf="contactNumber.errors && contactNumber.errors['required']">
                                Please input your phone number.
                            </mat-error>
                            <mat-error *ngIf="contactNumber.errors && (contactNumber.errors['contactNumber'] || contactNumber.errors['maxlength'] || contactNumber.errors['minlength'])">
                                Please input a valid phone number
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>

                <div class="user-item">
                    <div class="form-field-label">Gender :</div>
                    <div class="mat-form-field-radio">
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                            <mat-radio-button class="example-radio-button" *ngFor="let gender of lstGenders" [value]="gender">
                                {{gender}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="user-item">
                    <div class="form-field-label">Date of birth:</div>
                    <div class="mat-form-field">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker" placeholder="Choose A Date" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <!-- <mat-error *ngIf="dob.errors && dob.errors['matDatepickerParse'] != null">
                                Please input a valid date of birth
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="mat-slim confirm btn-add-active" (click)="changeInfo()">
                    {{"Save Change" | localize}}
                </button>
            </div>
        </form>

        <div class="right-content">
            <img src="\assets\image\person-settings2.png" alt="">
            <button>Choose Photo</button>
            <span>Image size: max. 1 MB </span>
            <span>Image formats: .JPEG, .PNG</span>
        </div>
    </div>
</div>