<!-- banner -->
<section
    class="banner"
    style="background-image: url('assets/static/img/contact-bg.png');"
>
    <div class="container">
        <article>
            <h1>Contact</h1>
        </article>
    </div>
</section>
<!-- banner ends -->

<section class="contact yellow_bg">
    <div class="container">
        <article>
            <p>
                Drop us a message via WhatsApp or Email should you have any
                enquiries!
            </p>

            <div class="contact-block-container">
                <!-- contact block -->
                <div class="contact-block">
                    <img src="assets/static/svg/whatsapp_yellow.svg" alt="" />
                    <a href="https://wa.me/+6583078679">+65 83078679</a>
                </div>
                <!-- contact block ends -->

                <!-- contact block -->
                <div class="contact-block">
                    <img src="assets/static/svg/mail-icon.svg" alt="" />
                    <a href="mailto:sales@dabbajunction.com"
                        >sales@dabbajunction.com</a
                    >
                </div>
                <!-- contact block ends -->
            </div>
        </article>
    </div>
</section>
