@import "../../../../assets/scss/mixins";

:host::ng-deep {
    .combo-item-container {
        //border-radius: 10px;
        justify-content: space-between;
        &.active {
            @include border(4px, var(--yellow-2));
        }
        .circle-btn {
            display: flex;
            flex-shrink: 0;
            @include circle-btn(35px, var(--white-1), var(--black-1), unset);
            .p-button-icon {
                font-size: 0.8rem;
            }
        }
        .isChecked {
            .circle-btn {
                background-color: var(--green-2);
            }
        }
    }
}
