<div class="row">
    <div *ngFor="let item of listItems" class="col-12 col-md-6 col-lg-4">
        <div class="combo-item-container mt-2 mb-2 d-flex align-items-center p-shadow-4 {{(!isConfirmItems && selected === item.id) ? 'active' : ''}}"
            style="height: 90px;">
            <img style="height: 100%;" src="{{item.imageUrl}}" alt="">
            <div class="d-flex flex-grow-1 justify-content-between align-items-center p-2">
                <div class="combo-infor flex-grow-1 text-left">
                    <p class="name m-0">{{item.name}}</p>
                    <p class="price m-0"><strong>{{item.price}}</strong></p>
                </div>
                <div *ngIf="!isConfirmItems" [class.isChecked]="selected === item.id">
                    <button class="circle-btn border-none outline-none" pButton pRipple
                        icon="pi {{selected === item.id ? 'pi-check' : 'pi-plus'}}"
                        (click)="onSelectItem(item.id)"></button>
                </div>
                <div *ngIf="isConfirmItems">
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-secondary p-button-text"
                        (click)="onEditSelectItem(item)"></button>
                </div>
            </div>
        </div>
    </div>
</div>