<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!category?.id" [title]="'Create Group' | localize"> </sub-header>
        <sub-header *ngIf="category?.id" [title]="'Edit Group' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <div class="form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">{{ l('Name') }}</label>
                                    <input
                                        [(ngModel)]="category.name"
                                        type="text"
                                        class="form-control"
                                        name="name"
                                        id="name"
                                        required
                                        placeholder=""
                                    />
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="code">{{ l('Code') }}</label>
                                    <input
                                        [(ngModel)]="category.code"
                                        type="text"
                                        class="form-control"
                                        name="code"
                                        id="code"
                                        required
                                        placeholder=""
                                    />
                                </div>
                                <div class="col-md-1 mt-8" *ngIf="category?.id">
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-danger"
                                        (click)="openLanguageDescriptionModal()"
                                    >
                                        <i class="fa fa-file"></i> <span></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>{{ 'Timing Groups' | localize }}</label>
                                    <p-dropdown
                                        [options]="timingGroups"
                                        [ngModel]="{ id: category.delTimingGroupId }"
                                        (ngModelChange)="category.delTimingGroupId = $event.id"
                                        name="timingGroups"
                                        styleClass="w-100"
                                        [placeholder]="l('Select Timing Groups')"
                                        [filter]="true"
                                        [optionLabel]="'name'"
                                        [dataKey]="'id'"
                                        [showClear]="true"
                                    >
                                    </p-dropdown>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="description">{{ l('Description') }}</label>
                                    <input
                                        [(ngModel)]="category.description"
                                        type="text"
                                        class="form-control"
                                        name="description"
                                        id="coddescriptione"
                                        placeholder=""
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>{{ l('SortOrder') }}</label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        name="SortOrder"
                                        [(ngModel)]="category.sortOrder"
                                    />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{ l('LocalRefCode') }}</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="LocalRefCode"
                                        [(ngModel)]="category.localRefCode"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-cluster-language-description-modal #clusterLanguageDescriptionModal></app-cluster-language-description-modal>
