.wrapper-menu {
    #title {
      color: #282144;
      // font-family: "New York";
      font-size: 2rem;
      letter-spacing: 0;
      line-height: 3rem;
      margin: 15px;
    }
  }
  
  @media (min-width: 1025px) {
    .wrapper-menu {
      margin-left: 16rem;
  
      .burger-btn {
        display: none;
      }
  
      .backward-btn {
        left: 3px;
      }
    }
  }
  
  @media (max-width: 1024px) {
    .wrapper-menu {
      margin: auto;
  
      .burger-btn {
        display: flex;
      }
  
      .backward-btn {
        left: 37px;
      }
    }
  }
  
  .wrapper-menu {
    min-height: 100vh;
    position: relative;
    background-color: var(--app-dine-bg);
  
    .wrapper-nav-bar {
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      padding: 0 0.8rem;
      box-shadow: 0 2px 10px 0 #eeedf5;
      position: relative;
      z-index: 1;
  
      .burger-btn,
      .search-btn {
        width: 3rem;
        height: 100%;
        outline: none;
        border: none;
        background: unset;
        padding: 0;
        position: absolute;
        align-items: center;
        justify-content: center;
      }
  
      .burger-btn {
        left: 3px;
      }
  
      .search-btn {
        right: 3px;
  
        #search {
          display: block;
        }
  
        #close {
          display: none;
        }
  
        &.active {
          #search {
            display: none;
          }
  
          #close {
            display: block;
          }
        }
      }
  
      .wrapper-logo {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          height: 90%;
        }
      }
  
      .search-box {
        width: calc(100% - 3rem);
        height: 100%;
        position: absolute;
        left: 0;
        padding: 0.3rem 0 0.3rem 0.6rem;
        background-color: white;
  
        .p-input-icon-left {
          .pi-search {
            font-weight: bold;
            left: 0.6rem;
          }
  
          height: 100%;
          width: 100%;
  
          input {
            border-radius: 4px;
            background-color: #f3f3f4;
            height: 100%;
            width: 100%;
            border: 0;
  
            &::placeholder {
              color: #9e9ea7;
            }
          }
        }
      }
    }
  
    .wrapper-categories {
      width: 100%;
      // height: 3rem;
      display: flex;
      align-items: center;
      box-shadow: 0 2px 10px 0 #eeedf5;
      position: relative;
  
      .category {
        width: 100%;
        background-color: #ffffff;
  
        .sidenav {
          overflow-x: scroll;
          font-weight: 500;
          box-shadow: 0 2px 10px 0 #eeedf5;
          white-space: nowrap;
          letter-spacing: -0.32em;
          margin: 0;
          width: 100%;
          text-align: initial;
          overflow: auto;
  
          li {
            padding: 0.5rem 1rem;
  
            .image {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
  
              .bg-image {
                display: block;
                background-size: cover;
                background-position: 50% 50%;
                width: calc(100%);
                height: calc(100%);
                -webkit-transition: -webkit-transform linear 0.3s;
                transition: -webkit-transform linear 0.3s;
                transition: transform linear 0.3s;
                transition: transform linear 0.3s, -webkit-transform linear 0.3s;
              }
            }
  
            a {
              display: flex;
              align-items: center;
              flex-flow: column;
              justify-content: center;
              font-size: 1.1rem;
              line-height: 2rem;
              color: #414952;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              position: relative;
              text-align: center;
              cursor: pointer;
            }
  
            a:after {
              @media (max-width: 767px) {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                background: black;
                height: 1px;
                opacity: 0;
              }
            }
  
            letter-spacing: 0;
            display: inline-block;
            vertical-align: top;
          }
  
          .active {
            background-color: #fff7e6;
          }
        }
      }
    }
  
    .wrapper-body {
      // height: calc(100vh - 15.6rem);
     padding: 0 0.8rem;
    }
  
   
  }
  
  .show {
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    bottom: 0;
    overflow: auto;
    overflow: hidden;
    background-color: rgba(65, 73, 82, 0.8);
  }
  