<div class="wrapper-welcome">
  <div class="wrapper-nav-bar">
    <button class="burger-btn" (click)="leftSideMenu?.show()" *ngIf="accountService.userValue?.id">
      <img src="assets/image/close-burger.png" alt="" />
    </button>

    <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
    <div class="wrapper-logo" *ngIf="logoUrl">
      <img [src]="logoUrl" class="logo" />
    </div>
  </div>
  <div class="edine-container">
    <p id="title">Please choose a time to continue ordering</p>
    <div class="wrapper-input">
      <form (ngSubmit)="onSubmit()">
        <div class="wrapper-input-time">
          <div class="dine-input-group pr-05">
            <label for="delivery-option">Date</label>
            <div class="calendar-item">
              <p-calendar [minDate]="timeValueDefault" placeholder="Select Date" dateFormat="dd/mm/yy"
                [readonlyInput]="true" [(ngModel)]="dataFututer" [disabledDays]="closeDays" name="dateFututer"
                #nameDateFututer="ngModel" [maxDate]="maxDefault" required></p-calendar>

              <div class="wrapper-error">
                <span class="error-msg" *ngIf="
                nameDateFututer.invalid &&
                nameDateFututer.errors.required &&
                    (nameDateFututer.dirty || nameDateFututer.touched)
                  ">
                  Please choose date
                </span>
              </div>
            </div>

          </div>
          <div class="dine-input-group pl-05">
            <label for="delivery-option">Time</label>
            <div class="calendar-item">
              <p-calendar placeholder="Time" timeOnly="true" [minDate]="dateDefaultForOnlyTime" showTime="true" required
                hourFormat="24" [(ngModel)]="timeOrderFututer" name="timeOrderFututer" #nametimeOrderFututer="ngModel">
              </p-calendar>
              <div class="wrapper-error">
                <span class="error-msg" *ngIf="
                nametimeOrderFututer.invalid &&
                nametimeOrderFututer.errors.required &&
                    (nametimeOrderFututer.dirty || nametimeOrderFututer.touched)
                  ">
                  Please selecte time
                </span>
              </div>
            </div>
          </div>
        </div>
        <button pRipple pButton class="btn-dine-primary" type="submit" label="Next"></button>
      </form>
    </div>
  </div>
</div>
<ng-container *ngIf="accountService.userValue?.id">
  <app-left-side-menu [hidden]="true" #leftMenuRef> </app-left-side-menu>
</ng-container>