<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!delAggLocationItem?.id" [title]="'Create Mapping Status' | localize"> </sub-header>
        <sub-header *ngIf="delAggLocationItem?.id" [title]="'Edit Mapping Status' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <div class="row mt-8">
                            <div class="form-group col-md-6">
                                <label class="control-label">{{ l('Location Mapping') }}</label>
                                <p-dropdown
                                    [options]="refLocMap"
                                    [ngModel]="{ id: delAggLocationItem.delAggLocMappingId }"
                                    (ngModelChange)="delAggLocationItem.delAggLocMappingId = $event.id"
                                    name="delAggLocMappingId"
                                    styleClass="w-100"
                                    [placeholder]="l('Select')"
                                    [filter]="true"
                                    [optionLabel]="'name'"
                                    [dataKey]="'id'"
                                    [showClear]="true"
                                    [required]="true"
                                >
                                </p-dropdown>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">
                                    {{ l('Select Item') }}
                                    <a
                                        *ngIf="delAggLocationItem.delAggItemId"
                                        style="cursor: pointer; text-decoration: underline; color: skyblue"
                                        (click)="clearItem()"
                                        >Clear</a
                                    >
                                </label>
                                <div>
                                    <button
                                        *ngIf="!delAggLocationItem.delAggItemId"
                                        (click)="openforItem()"
                                        type="button"
                                        class="btn btn-primary"
                                    >
                                        {{ l('-') }}
                                    </button>
                                    <button
                                        *ngIf="delAggLocationItem.delAggItemId"
                                        (click)="openforItem()"
                                        type="button"
                                        class="btn btn-primary"
                                    >
                                        {{ delAggLocationItem.delAggItemId }} - {{ delAggLocationItem.delAggItemName }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inActive" class="checkbox mr-2">
                                    <input
                                        [(ngModel)]="delAggLocationItem.inActive"
                                        id="inActive"
                                        name="inActive"
                                        type="checkbox"
                                    />
                                    {{ l('Is Recommended') }}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="price">{{ l('Price') }}</label>
                                <input
                                    [(ngModel)]="delAggLocationItem.price"
                                    type="number"
                                    class="form-control"
                                    name="price"
                                    id="price"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<select-popup
    #selectItemModal
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getItem()"
    (changeValue)="changeItem($event)"
    selectionMode="single"
    [selectedValue]="{ id: this.delAggLocationItem.delAggItemId }"
    [title]="l('Menu Item')"
></select-popup>
