﻿@using DineConnect.Gateway.Web.ViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";

    var AddOns = ViewBag.AddOnData as List<AddOn>;
}

@section Scripts{
    <script src="~/Scripts/addon.js"></script>
}

<h2>Create new Admin</h2>

<div >

    <form method="post">
        <div class="form-group">
            <label for="txtUsername">Username</label>
            <input name="username" type="text" style="max-width: 100%" class="form-control" id="txtUsername" placeholder="admin">
        </div>

        <div class="form-group">
            <label for="txtEmail">Email</label>
            <input name="email" type="text" style="max-width: 100%" class="form-control" id="txtEmail" placeholder="alice@bob.com">
        </div>

        <div class="form-group">
            <label for="txtPassword">Password</label>
            <input name="password" style="max-width: 100%" type="password" class="form-control" id="txtPassword" placeholder="password">
            <small id="pwdHep" class="form-text text-muted">Min six characters.</small>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">submit</button>
        </div>
    </form>
</div>
