﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}
@model DineConnect.Gateway.Web.Pagination.PaginationViewModel<DineConnect.Gateway.EntityFramework.GatewayUser>

@section Scripts {
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        var resetPassword = function (btn) {
            var userId = $(btn).data("id");
            //userId
            $("#modalResetPassword").modal('show');
            $("#btnSavePassword").data("userid", userId);

        };

        var tryResetPassword = function (btn) {
            var userId = $(btn).data("userid");

            $.post('/account/reset-password/' + userId + '/' + $("#txtNewPassword").val())
                .done(function (res) {
                    console.log(res.data, 'data');
                    if (res.data.isSuccessful) {
                        toastr.success("success");
                        $("#modalResetPassword").modal('hide');
                    } else {
                        toastr.error("fail: " + JSON.stringify(res.data));
                    }
                }).fail(function (err) {
                    toastr.error("fail: " + JSON.stringify(err));
                });
        }

        $(document).ready(function () {
            if (onPageClick) {
                onPageClick(function (event, page) {
                    console.log(page);
                    location.href = '@Url.Action("Index")' + '?page=' + (page - 1);
                });
            }
        });
    </script>

}

<div class="modal" tabindex="-1" role="dialog" id="modalResetPassword">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset password</h5>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="password" class="form-control-lg" id="txtNewPassword" placeholder="New Password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSavePassword" data-userid="" onclick="tryResetPassword(this)">Save password</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<h2>Admin</h2>


<div class="container">
    <div class="row">
        <div style="width: 100%">
            <button style="float: right; margin-bottom: 10px" type="button" class="btn btn-success">
                @Html.ActionLink("Create New", "Create", null, null, new { @style = "color: #fff0f5;" })
            </button>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Username</td>
                            <td>Reset Password</td>
                            <td>Registration Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PaginatedContents())
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td><button class="btn btn-primary" data-id="@item.Id" onclick="resetPassword(this)">reset</button></td>
                                <td>@item.RegistrationDate</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <partial name="~/Views/Shared/_Pagination.cshtml" model="Model" />
            </div>
        </div>
    </div>
</div>

<style>

    .modal-backdrop {
        opacity: 0.3
    }
</style>
