<div class="order-tag">
    <img src="/assets/image/close.png" class="img-close" mat-dialog-close />
    <div class="order-tag-content">
        <div class="order-tag-group">
            <div
                *ngFor="let tagGroup of tagGroupList"
                class="tag-group-item"
                [ngClass]="{ selected: tagGroup.id == tagGroupSelected?.id }"
                (click)="tagGroupSelected = tagGroup"
            >
                {{ tagGroup.name }}
            </div>
        </div>

        <div *ngFor="let tagItem of tagGroupSelected?.tags" class="order-tag-item">
            <div class="tag-item-image">
                <img src="{{ tagItem.image || '/assets/image/no_image_available.png' }}" class="image" alt="" />
            </div>
            <div class="tag-item-name">
                {{ tagItem.name }}
                <div class="tag-item-price">${{ tagItem.price | number: '1.2-2' }}</div>
            </div>
            <div class="add-to-cart">
                <div class="add-remove-item">
                    <div class="action">
                        <span class="remove" (click)="decrease(tagItem)" [class.disabled]="tagItem.quantity == 0">-</span>
                        <span class="number">{{ tagItem.quantity || 0 }}</span>
                        <span class="add" (click)="increase(tagItem)">+</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn-add" (click)="addOrderTag()">
                <img src="/assets/image/add-circle.png" />
                Add
            </button>
        </div>
    </div>
</div>
