@import "../../../../../assets/style/color";

.order-tag {
    .order-tag-content {
        .order-tag-group {
            margin-bottom: 20px;
        }

        .order-tag-group .tag-group-item {
            border: none;
            border-radius: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            padding: 12px 24px;
            display: flex;
            align-items: center;
            background-color: #ededed;
            color: #444444;
            margin-bottom: 10px;

            &.selected {
                background-color: #f5c031;
            }
        }
    }


    .order-tag-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        .tag-item-image {
            margin-right: 20px;

            .image {
                width:80px;
                height: 80px;
                border-radius: 10px;
            }
        }

        .tag-item-name {
            margin-right: 20px;

            .tag-item-price {
                font-weight: 600;
                color: #2d5d8c;
                font-size: 20px;
            }
        }
    }
    
    .add-to-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-add-to-cart {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #ffffff;
            
        }
        .add-remove-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 4px;
            margin-right: 10px;
            cursor: pointer;
            .action {
                display: flex;
                align-items: center;
                .remove,
                .add {
                    border: 1px solid #dbdbdb;
                    box-sizing: border-box;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    margin-right: 6px;
                }
                .number {
                    margin-right: 6px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #575755;
                    width: 27px;
                    height: 23px;
                }
            }
            .price {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                text-align: right;
                color: #22232f;
            }
        }
    }

    .img-close{
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    .btn-add {
        border: none;
        background: #f5c031;
        border-radius: 10px;
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        float: right;
    }
}
