<div appBsModal #addPromoCodeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()"></button>
            <form #addPromoCodeModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ 'ApplyPromoCode' | localize }}
                    </h5>
                </div>

                <div class="modal-body promo-code mb-5">
                    <div class="promo-code__title mb-2">
                        {{ 'PromoCode' | localize }}
                    </div>
                    <div class="promo-code__body">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <input
                                (focus)="onFocus()"
                                id="Promo_Code"
                                class="promo-code__input"
                                [(ngModel)]="code"
                                name="promoCode"
                                required
                                #promoCode="ngModel"
                            />
                            <button type="submit" class="btn btn-primary promo-code__button" [disabled]="saving">
                                {{ 'Apply' | localize }}
                            </button>
                        </div>
                        <validation-messages [formCtrl]="promoCode"></validation-messages>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
