﻿@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <script src="/Scripts/popper.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Gateway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Brands")">Brands</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Locations")">Locations</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "ListTicket")">Tickets</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Admins")">Admin Users</a>
                </li>

            </ul>
            <div class="my-2 my-lg-0">
                <span style=" padding-right: 5px">Logged as @User.Identity.Name</span>
                <a href="@Url.Action("Logout", "Account")" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div>
            @RenderBody()
        </div>

    </div>

    <!-- Sidebar -->



    <style>
        html, body {
            width: 100%;
            height: 100%
        }

        body {
            padding: 0;
            overflow-x: hidden;
        }
    </style>

    <!-- AddOn Template -->
    @*<script src="/Scripts/jquery-3.4.1.min.js"></script>
        <script src="/Scripts/jquery-3.4.1.slim.min.js"></script>
        <script src="/Scripts/jquery-3.4.1.intellisense.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>*@
    
    <script src="~/Scripts/luckmoshyJqueryPagnation.js"></script>
    <script>
        var loadingOverlay = document.querySelector('.loading');
        function showLoading() {
            if (loadingOverlay.classList.contains('hidden')) {
                loadingOverlay.classList.remove('hidden');
            }
            
        }
        function hideLoading() {
            loadingOverlay.classList.add('hidden');
        }
        function toggleLoading(event) {
            if (event.keyCode !== 13) return;

            document.activeElement.blur();

            if (loadingOverlay.classList.contains('hidden')) {
                loadingOverlay.classList.remove('hidden');
            } else {
                loadingOverlay.classList.add('hidden');
            }
        }
        document.addEventListener('keydown', toggleLoading);
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
