﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Connect Gateway</p>
        </footer>
    </div>
    <script src="/Scripts/jquery-3.4.1.min.js"></script>
    <script src="/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="/Scripts/jquery-3.4.1.intellisense.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
