﻿@model DineConnect.Gateway.Web.Pagination.PaginationViewModel

<div>
    <ul class="pagination justify-content-md-center" id="luckmoshy">
    </ul>
</div>

<script>
    var onPageClick;
    $(document).ready(function () {
        //$('table').DataTable();

        // Paging
        $('#luckmoshy').luckmoshyPagination({

            initiateStartPageClick: false,

            // the total number of pages
            totalPages: @Model.PageCount(),

            // the current page to show on start
            startPage: @(Model.CurrentPage + 1),

            // maximum visible pages
            visiblePages: 5,

            onPageClick: function (event, page) {

                }

        });

        onPageClick = function (pageClick) {
            $('#luckmoshy').data().luckmoshyPagination.onPageClick(pageClick);
        }
    });
</script>