<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #tiffinOrderTagForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="tiffinOrderTag.id">{{l("EditOrderTag")}}</span>
                        <span *ngIf="!tiffinOrderTag.id">{{l("CreateNewOrderTag")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="TiffinOrderTag_Name">{{l("Name")}} *</label>
                        <input type="text" id="TiffinOrderTag_Name" class="form-control"
                            [(ngModel)]="tiffinOrderTag.name" name="Name" required #nameInput="ngModel" />
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="TiffinOrderTag_Price">{{l("Price")}}</label>
                        <input type="number" id="TiffinOrderTag_Price" class="form-control"
                            [(ngModel)]="tiffinOrderTag.price" name="Price" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!tiffinOrderTagForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>