<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!category.id ? l('CreateConnectCardTypeCategory') : l('EditConnectCardTypeCategory') + ': ' + category.name">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #categoryForm="ngForm" novalidate class="form category-form" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="category_code">{{ l('Code') }} *</label>
                                    <input
                                        type="text"
                                        id="category_code"
                                        class="form-control"
                                        [(ngModel)]="category.code"
                                        name="code"
                                        autofocus
                                        required
                                        #codeInput="ngModel"
                                    />
                                    <validation-messages [formCtrl]="codeInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="category_Name">{{ l('Name') }} *</label>
                                    <input
                                        type="text"
                                        id="category_Name"
                                        class="form-control"
                                        [(ngModel)]="category.name"
                                        name="Name"
                                        autofocus
                                        required
                                        #nameInput="ngModel"
                                    />
                                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                            <button
                                type="submit"
                                class="btn btn-primary blue"
                                [disabled]="!categoryForm.form.valid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                            >
                                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
