.editor-controls {
    width: 45% !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.editor-preview {
    background: #f7f6f5;
    border-right: 3px solid;
    border-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0) 100%);
    max-width: 55%;
    width: 55%;

    .editor-preview-img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .editor-preview-wrap {
        position: relative;
    }
}

.online-ordering {
    .editor-preview-img {
        width: 400px;
    }
    .editor-preview-wrap {
        width: 400px;
        height: 823px;
    }
    .front-editor-headline {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        bottom: 20px;
        color: #ffffff;
        font-size: 22px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        width: 350px;
        padding: 10px;
    }

    .back-editor-headline {
        position: absolute;
        left: 20px;
        bottom: 22%;
        color: #ffffff;
        font-size: 22px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        width: 90%;
    }

    .order-url {
        position: absolute;
        left: 0;
        bottom: 18%;
        color: #ffffff;
        font-size: 10px;
        font-style: italic;
        text-align: center;
        width: 90%;
    }
}

.promote-order-ahead {
    .editor-preview-img {
        width: 400px;
    }
    .editor-preview-wrap {
        width: 400px;
        height: 823px;
    }
    .editor-headline {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        top: 50px;
        color: #ffffff;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        width: 400px;
        padding: 10px;
    }
}

.qr-codes-for-dine-in {
    .editor-preview-img {
        width: 580px;
    }
    .editor-preview-wrap {
        width: 580px;
        height: 813px;
    }
    .editor-qrcode {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -74%);
        top: 50%;
        background-color: white;
        width: 218px;
        height: 218px;
    }
}

.card-header-title {
    font-size: 16px;
}

.flyer-image-preview {
    min-height: 6.66rem;
    min-width: 6.9rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.layout-item {
    border: solid 1px #ecf0f3;
    margin-bottom: 10px !important;
}

.layout-item:hover {
    background-color: rgba($color: #000000, $alpha: 0.02);
}

.layout-item span {
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.text-gray-400 {
    color: #b3b3b3 !important;
}

.btn-light {
    background-color: #ffffff !important;
    border-color: #d0d0d0;
}

.btn.outline-blue.active {
    border-color: #528fcc !important;
    color: #52a8ec !important;
}

.display-none {
    display: none;
}

.display-block {
    display: block !important;
}