<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Flyer')"> </sub-header>

        <div [class]="containerClass">
            <div [busyIf]="loading">
                <div *ngIf="!flyer?.layout && !flyerId" class="card glf-w-m shadow">
                    <div class="card-header d-flex flex-row justify-content-between align-items-center">
                        <div class="card-header-back">
                            <button class="btn btn-light" (click)="back()"><i class="fa fa-arrow-left"></i></button>
                        </div>
                        <div class="card-header-title">Choose template</div>
                        <div class="card-header-next">
                            <button class="btn btn-primary" (click)="selectLayout()">Next</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="p-3 mb-2 bg-white border rounded">
                            <ng-container *ngFor="let layout of FLYER_LAYOUT">
                                <label class="radio layout-item d-flex m-0 py-2 align-items-center">
                                    <input
                                        [(ngModel)]="flyerLayout"
                                        type="radio"
                                        class="ng-untouched ng-pristine ng-valid"
                                        name="layout"
                                        [value]="layout.id"
                                    />
                                    <span></span>
                                    <div class="ml-3 w-100">
                                        <div class="d-flex">
                                            <div
                                                class="{{ layout.class }} flyer-image-preview"
                                                style="background-image: url('./assets/image/{{ layout.file }}');"
                                            ></div>
                                            <div class="ml-5 d-flex flex-column justify-content-center">
                                                <div class="mb-1">
                                                    <b>{{ layout.name }}</b>
                                                </div>
                                                <div class="text-gray-400 mb-1">{{ layout.size }}</div>
                                                <div class="text-gray-400">
                                                    {{ layout.description }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- OnlineOrdering -->
                <div *ngIf="flyer?.layout == FlyerLayout.OnlineOrdering" class="card card-custom gutter-b online-ordering">
                    <div class="card-body d-flex flex-row">
                        <div class="editor-preview d-flex flex-column justify-content-center align-items-center">
                            <div class="pt-2 mb-6 d-flex justify-content-center ng-star-inserted">
                                <div class="pt-4 btn-group btn-group-toggle">
                                    <label
                                        class="btn btn-light border-lightgray p-2 d-table cursor-hand outline-blue"
                                        [ngClass]="{ active: side == 'front' }"
                                    >
                                        <input type="radio" name="side" [(ngModel)]="side" value="front" /> Front side
                                    </label>
                                    <label
                                        class="btn btn-light border-lightgray p-2 d-table cursor-hand outline-blue"
                                        [ngClass]="{ active: side == 'back' }"
                                    >
                                        <input type="radio" name="side" [(ngModel)]="side" value="back" /> Back side
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="side == 'front'" id="html2Pdf" class="editor-preview-wrap">
                                <img class="editor-preview-img" [src]="croppedFrontImage || './assets/image/background.png'" alt="" />
                                <img class="editor-preview-img" src="./assets/image/{{ flyerOnlineOrderingColor.file }}" alt="" />

                                <div class="front-editor-headline">
                                    {{ frontHeadline }}
                                </div>
                            </div>
                            <div *ngIf="side == 'back'" id="html2Pdf2" class="editor-preview-wrap">
                                <img class="editor-preview-img" [src]="croppedBackImage || './assets/image/background.png'" alt="" />
                                <img class="editor-preview-img" src="./assets/image/flyer_back.png" alt="" />

                                <div class="back-editor-headline">
                                    {{ backHeadline }}
                                </div>
                                <div class="order-url">Order here: {{ orderUrl }}</div>
                            </div>
                        </div>
                        <div class="editor-controls d-flex flex-column shadow-sm">
                            <div class="editor-options-header d-flex justify-content-center">
                                <div class="options-header d-flex justify-content-between flex-grow-1 p-6 mx-2 mt-2">
                                    <div class="editor-options-header-back">
                                        <div class="btn btn-light" (click)="back()"><i class="fa fa-arrow-left"></i></div>
                                    </div>
                                    <div class="editor-options-header-next">
                                        <button class="btn btn-primary" type="button" (click)="saveLayout()">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center d-flex editor-options-body justify-content-center">
                                <div class="options-content form-group px-6 pb-6 mx-2 mb-2 w-100">
                                    <h6 class="font-weight-semibold">Flyer: Online Ordering</h6>
                                    <p>99 x 210mm, Glossy, 80lb</p>
                                    <hr />
                                    <div class="d-flex justify-content-between mt-6">
                                        <p class="font-weight-bold mb-0">Color</p>
                                    </div>
                                    <div class="mb-15">
                                        <div class="d-flex flex-row">
                                            <div *ngFor="let item of ONLINE_ORDERING" class="mr-2 ml-2 ng-star-inserted">
                                                <label class="radio">
                                                    <input
                                                        [(ngModel)]="flyerOnlineOrderingColor"
                                                        type="radio"
                                                        name="color"
                                                        [value]="item"
                                                    />
                                                    <span [style]="'background-color: ' + item.color"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-6">
                                        <div>
                                            <h5><b>Frontside</b></h5>
                                            <div class="form-group">
                                                <label for="">Headline </label>
                                                <input
                                                    type="text"
                                                    [(ngModel)]="frontHeadline"
                                                    class="form-control"
                                                    name="headline"
                                                    aria-describedby="helpId"
                                                    placeholder="Type something..."
                                                />
                                            </div>
                                            <button
                                                _ngcontent-nnx-c3=""
                                                class="btn btn-light btn-block mb-6"
                                                type="button"
                                                (click)="editImage('front')"
                                            >
                                                Edit front image
                                            </button>
                                        </div>
                                        <div>
                                            <h5><b>Backside</b></h5>
                                            <div class="form-group">
                                                <label for="">Headline </label>
                                                <input
                                                    type="text"
                                                    [(ngModel)]="backHeadline"
                                                    class="form-control"
                                                    name="headline"
                                                    aria-describedby="helpId"
                                                    placeholder="Type something..."
                                                />
                                            </div>
                                            <div class="form-group">
                                                <small for="">Order URL </small>
                                                <input
                                                    type="text"
                                                    [(ngModel)]="orderUrl"
                                                    class="form-control"
                                                    name="orderUrl"
                                                    aria-describedby="helpId"
                                                    placeholder="https://..."
                                                />
                                            </div>
                                            <button
                                                _ngcontent-nnx-c3=""
                                                class="btn btn-light btn-block mb-6"
                                                type="button"
                                                (click)="editImage('back')"
                                            >
                                                Edit back image
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- OrderAheadImg -->
                <div *ngIf="flyer?.layout == FlyerLayout.OrderAheadImg" class="card card-custom gutter-b promote-order-ahead">
                    <div class="card-body d-flex flex-row">
                        <div class="editor-preview d-flex justify-content-center">
                            <div id="html2Pdf" class="editor-preview-wrap">
                                <img class="editor-preview-img" src="./assets/image/{{ flyerOrderAheadColor.file }}" alt="" />

                                <div class="editor-headline">
                                    {{ headline }}
                                    <!-- <qrcode [qrdata]="url" [width]="220" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode> -->
                                </div>
                            </div>
                        </div>
                        <div class="editor-controls d-flex flex-column shadow-sm">
                            <div class="editor-options-header d-flex justify-content-center">
                                <div class="options-header d-flex justify-content-between flex-grow-1 p-6 mx-2 mt-2">
                                    <div class="editor-options-header-back">
                                        <div class="btn btn-light" (click)="back()"><i class="fa fa-arrow-left"></i></div>
                                    </div>
                                    <div class="editor-options-header-next">
                                        <button class="btn btn-primary" type="button" (click)="saveLayout()">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center d-flex editor-options-body justify-content-center">
                                <div class="options-content form-group px-6 pb-6 mx-2 mb-2 w-100">
                                    <h6 class="font-weight-semibold">Flyer: Order ahead</h6>
                                    <p>99 x 210mm, Glossy, 80lb</p>
                                    <hr />
                                    <div class="d-flex justify-content-between mt-6">
                                        <p class="font-weight-bold mb-0">Color</p>
                                    </div>
                                    <div class="mb-15">
                                        <div class="d-flex flex-row">
                                            <div *ngFor="let item of FLYER_ORDER_AHEAD" class="mr-2 ml-2 ng-star-inserted">
                                                <label class="radio">
                                                    <input [(ngModel)]="flyerOrderAheadColor" type="radio" name="color" [value]="item" />
                                                    <span [style]="'background-color: ' + item.color"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-6">
                                        <div class="form-group">
                                            <label for="">Headline </label>
                                            <input
                                                type="text"
                                                [(ngModel)]="headline"
                                                class="form-control"
                                                name="headline"
                                                aria-describedby="helpId"
                                                placeholder="Type something..."
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DineInFlyer -->
                <div *ngIf="flyer?.layout == FlyerLayout.DineInFlyer" class="card card-custom gutter-b qr-codes-for-dine-in">
                    <div class="card-body d-flex flex-row">
                        <div class="editor-preview d-flex justify-content-center">
                            <div id="html2Pdf" class="editor-preview-wrap">
                                <img class="editor-preview-img" src="./assets/image/{{ flyerQRCodeColor.file }}" alt="" />

                                <div class="editor-qrcode">
                                    <qrcode [qrdata]="url" [width]="218" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
                                </div>
                            </div>
                        </div>
                        <div class="editor-controls d-flex flex-column shadow-sm">
                            <div class="editor-options-header d-flex justify-content-center">
                                <div class="options-header d-flex justify-content-between flex-grow-1 p-6 mx-2 mt-2">
                                    <div class="editor-options-header-back">
                                        <div class="btn btn-light" (click)="back()"><i class="fa fa-arrow-left"></i></div>
                                    </div>
                                    <div class="editor-options-header-next">
                                        <button class="btn btn-primary" type="button" (click)="saveLayout()">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center d-flex editor-options-body justify-content-center">
                                <div class="options-content form-group px-6 pb-6 mx-2 mb-2 w-100">
                                    <h6 class="font-weight-semibold">Flyer: QR codes for dine-in</h6>
                                    <p>148 x 210mm, Glossy, 80lb</p>
                                    <hr />
                                    <div class="d-flex justify-content-between mt-6">
                                        <p class="font-weight-bold mb-0">Color</p>
                                    </div>
                                    <div class="mb-15">
                                        <div class="d-flex flex-row">
                                            <div *ngFor="let item of FLYER_QR_CODE" class="mr-2 ml-2 ng-star-inserted">
                                                <label class="radio">
                                                    <input [(ngModel)]="flyerQRCodeColor" type="radio" name="color" [value]="item" />
                                                    <span [style]="'background-color: ' + item.color"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-6">
                                        <div class="form-group">
                                            <label for="">URL</label>
                                            <input
                                                type="text"
                                                [(ngModel)]="url"
                                                class="form-control"
                                                name="url"
                                                aria-describedby="helpId"
                                                placeholder="https://..."
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-edit-front-image-modal #editFrontImageModal (setImage)="onSetImage($event)"></app-edit-front-image-modal>
