<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TicketSales' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <label for="StartEndRange"> {{ l('DateRange') }} </label>

                                    <div class="input-group date">
                                        
                                            <input class="form-control" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker"
                                            bsDaterangepicker dateRangePickerMomentModifier [(date)]="dateRangeModel"
                                            [bsConfig]="{ rangeInputFormat: 'YYYY-MM-DD',dateInputFormat: 'YYYY-MM-DD', ranges: ranges, containerClass:'custom-datepicker' }"
                                            [placeholder]="l('DateRange')" (onShown)="showedDateRangePicker()"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text" (click)="drp.toggle()">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <label class=""> {{ l('SelectDepartment') }} </label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-primary"
                                            (click)="showLookupModal('Department')">
                                            <span>Department</span>
                                            <span *ngIf="departments.length">- {{departments.length}} Items</span>
                                        </button>
                                        <button *ngIf="departments.length" type="button"
                                            class="btn btn-outline-secondary" (click)="clearLookup('Department')">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <label class=""> {{ l('Select Payment') }} </label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-primary"
                                            (click)="showLookupModal('Payment')">
                                            <span>Payment</span>
                                            <span *ngIf="paymentTypes.length">- {{paymentTypes.length}} Items</span>
                                        </button>
                                        <button *ngIf="paymentTypes.length" type="button"
                                            class="btn btn-outline-secondary" (click)="clearLookup('Payment')">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>
                                <button class="btn btn-danger" type="button" 
                                    (click)="showExportModal()">
                                    <i class="la-file-excel-o"></i> {{ l('Export') }}
                                </button>
                                <button class="btn btn-primary ml-1" (click)="getTickets()"><i
                                        class="la la-check-circle-o"></i>
                                    {{ l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-md-12">
                            <div class="portlet light">
                                <div class="portlet-body">
                                    <p-chart type="bar" [data]="dataChart"></p-chart>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{ l('Hours') }}
                                        </th>
                                        <th pSortableColumn="tickets">
                                            {{ l('Tickets') }}
                                            <p-sortIcon field="tickets"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="total" class="text-right">
                                            {{ l('Total') }}
                                            <p-sortIcon field="total"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Id') }}</span>
                                            {{ record.hour }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TicketNo') }}</span>
                                            {{ record.tickets }}
                                        </td>
                                        <td class="text-right">
                                            <span class="ui-column-title "> {{ l('Total') }}</span>
                                            {{ record.total }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="8">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">{{ l('Total') }}</td>                                        
                                        <td class="text-left">{{ getSumTicket | number: '1.0-2'}}</td>
                                        <td class="text-right">{{ getSumTotal | number: '1.0-2'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <!-- <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getTickets($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div> -->
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
<commonMultipleLookupModal #commonMultipleLookupModal (itemsSelected)="itemsSelected($event)">
</commonMultipleLookupModal>
<app-hourly-sales-export-modal #exportModal (modalSave)="export($event)" ></app-hourly-sales-export-modal>