// $color-default : #ecf0f3;
$color-default : #f3f6f9;

/* customize table start*/
tr.ng-star-inserted.selected {
    background-color: #b3daf9 !important;
}

.ui-table-thead,
.ui-table-tbody>tr:not(:last-child) {
    border-bottom: 1px solid #e4e6ef !important;
}

.primeng-datatable-container .primeng-paging-container .ui-paginator a {
    border-radius: 10px !important;
}

body .ui-table .ui-table-tbody>tr:nth-child(even) {
    // background-color: white !important;
    background-color: white;
}

body .ui-table .ui-table-thead>tr>th {
    background-color: white;
}

.primeng-datatable-container .total-records-count {
    margin-left: 80px;
}

.ui-table-scrollable-header-box {
    padding-right: 0px !important;
}

.primeng-datatable-container .primeng-paging-container .ui-paginator .ui-dropdown {
    float: left;
    border: none;
}

body .ui-paginator .ui-dropdown .ui-dropdown-trigger,
body .ui-paginator .ui-dropdown .ui-dropdown-label {
    background-color: $color-default;
}

body .ui-paginator .ui-dropdown .ui-dropdown-trigger,
body .ui-paginator .ui-dropdown {
    background-color: $color-default;
}

body .ui-paginator .ui-dropdown .ui-dropdown-trigger,
body .ui-paginator .ui-dropdown .ui-dropdown-trigger-icon {
    font-size: 1rem;
}

/* customize table end*/
::ng-deep {

    /* customize ng-select start */
    .ng-select .ng-select-container,
    .ng2-tag-input__text-input {
        background-color: $color-default;
        border-color: $color-default;
        color: #464E5F;
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    }

    /* customize ng-select end */

    /* customize input p-dropdown start */
    .ui-dropdown {
        background-color: $color-default !important;
        // border: 1px solid #E5EAEE !important;
        border: none !important;
    }

    .ui-dropdown-label {
        background-color: $color-default !important;
    }

    .ui-dropdown-trigger {
        background-color: $color-default !important;
    }

    .ui-dropdown-trigger-icon {
        font-size: 1rem !important;
    }


    /* customize input p-dropdown end */

    /* customize input p-multiselect start */
    .ui-multiselect {
        background-color: $color-default !important;
        border: 1px solid #E5EAEE !important;
    }

    .ui-multiselect-label {
        background-color: $color-default !important;
    }

    .ui-multiselect-trigger {
        background-color: $color-default !important;
    }

    .ui-multiselect-trigger-icon {
        font-size: 1rem !important;
    }

    /* customize input p-multiselect end */

    /* customize input timepicker start */
    .bs-timepicker-field {
        background-color: $color-default !important;
    }

    /* customize input timepicker end */

    /* customize input query-builder start */
    .q-switch-label {
        border-radius: 5px !important;
    }

    .q-button {
        background-color: #f1faff !important;
        color: #2daff8 !important;
        border: none !important;
    }

    .q-add-icon {
        color: #2daff8 !important;
    }

    .q-input-control,
    .q-operator-control,
    .q-field-control {
        background-color: $color-default !important;
        border-color: $color-default !important;
        color: #464E5F !important;
        -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease !important;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease !important;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease !important;
        transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease !important;
    }

    /* customize input query-builder end */
}

.ui-dropdown {
    background-color: $color-default !important;
    border: none !important;
}
.ui-dropdown .ui-dropdown-label {
    background-color: $color-default !important;
}

.ui-dropdown .ui-dropdown-trigger {
    background-color: $color-default !important;
}

.ui-dropdown .ui-dropdown-trigger-icon {
    font-size: 1rem !important;
}

.mr-10 {
    margin-right: 10px;
}

.btn-actions {
    background-color: $color-default;
}

.font-size-30 {
    font-size: 30px !important;
}

.btn-actions {
    background-color: $color-default;
    text-transform: none;
}

.btn-import {
    background-color: #f1faff;
    color: #69c6fa;
}

.btn-import:hover {
    background-color: #dcf0fc;
    color: #69c6fa;
}

.fa-upload {
    color: #69c6fa;
}

.icon-filter {
    color: #009ef7;
}

.btn {
    text-transform: none;
}

.btn-filter {
    background-color: #F1FAFF;
    color: #009ef7;
    margin-left: 10px;
    text-transform: none;
}

.btn-filter:hover {
    background-color: #dbeef8;
}

.btn-arrow-right {
    color: #009ef7;
    margin-left: 10px;
    text-transform: none;
    i {
        color: #009ef7;
    }
}

.btn-arrow-right:hover {
    background-color: #009ef7;
    color: white;

    i {
        color: white;

    }
}
.btn-add-edit {
    background-color: #f5f8fa;
    margin-left: 10px;
    text-transform: none;
}

.btn-add-edit:hover {
    background-color: #54b0f9;
    color: white;
    i {
        color: white;
    }
}

@media (min-width:740px) {
    .has-search {
        width: 26%;
    }
}

@media (max-width:740px) {
    .has-search {
        width: 74%;
    }
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-80 {
    width: 80%;
}

:host ::ng-deep.nav-tabs {
    .nav-item {
        margin-right: 0;
    }

    .nav-link {
        border: none;
    }

    .nav-item .nav-link {
        &.active {
            color: black;
            border-bottom: 2px solid #009ef7;
        }
    }
}

/* customize input start*/
.form-control {
    background-color: $color-default;
    border-color: $color-default;
    color: #464E5F;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

/* customize input end*/

.required-field:after {
    content: " *";
    color: red;
}

.zoom-08 {
    zoom: 0.8;
}