.carousel-item {
  max-height: 750px;
}
.faq {
  min-height: 900px;
  // background: #545454;
  padding-top: 100px;
  padding-bottom: 200px;
}

@media (max-width: 1200px) {
  .faq {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}

@media (max-width: 991px) {
  .faq {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

@media (max-width: 575px) {
  .faq {
    padding-top: 50px;
    padding-bottom: 140px;
    min-height: auto;
  }
}

.faq .faq-accordion-container {
  max-width: 900px;
  margin: 0 auto;
}

.faq .faq-accordion-container h2 {
  padding-bottom: 0;
}

.faq .faq-accordion-container .accordion .card {
  border: 0;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 0;
  background: transparent;
}

.faq .faq-accordion-container .accordion .card-header {
  background: transparent;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.faq .faq-accordion-container .accordion .card-header h2 button {
  padding: 0;
  text-align: center;
  letter-spacing: 0;
  // color: #fff;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .faq .faq-accordion-container .accordion .card-header h2 button {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 575px) {
  .faq .faq-accordion-container .accordion .card-header h2 button {
    font-size: 17px;
    line-height: 27px;
  }
}

.faq .faq-accordion-container .accordion .card-header h2 button:hover {
  text-decoration: none;
}

.faq .faq-accordion-container .accordion .card-header h2 button:focus {
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.faq .faq-accordion-container .accordion .card-header h2 button:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url(../../../assets/static/svg/arrow-down.svg) no-repeat 50%;
  background-size: 15px;
  margin-left: 10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.faq
  .faq-accordion-container
  .accordion
  .card-header
  h2
  button[aria-expanded="false"]:after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.faq .faq-accordion-container .accordion .card .card-body {
  text-align: left;
  letter-spacing: 0;
  font-size: 17px;
  line-height: 27px;
  // color: #fff;
  padding: 0 0 30px;
}

@media (max-width: 991px) {
  .faq .faq-accordion-container .accordion .card .card-body {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 575px) {
  .faq .faq-accordion-container .accordion .card .card-body {
    font-size: 15px;
    line-height: 25px;
  }
}
// .faq .faq-accordion-container .accordion .card .card-body li {
//     // color: #fff;
// }
// .faq .faq-accordion-container .accordion .card .card-body p {
//     // color: #fff;
// }

.faq .faq-accordion-container .accordion .card .card-body span {
  display: block;
  padding-top: 10px;
  // color: #fff;
}

.faq .faq-accordion-container .accordion .card .card-body span:first-child {
  padding-top: 0;
}

.faq .faq-accordion-container .accordion .card .card-body a {
  // color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.faq .faq-accordion-container .accordion .card .card-body a:hover {
  opacity: 0.8;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 150px;
  padding-bottom: 150px;
}
@media (max-width: 1200px) {
  .banner {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
@media (max-width: 991px) {
  .banner {
    padding-bottom: 100px;
  }
}
.banner h1 {
  font-weight: 700;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 70px;
  line-height: 80px;
}
@media (max-width: 1400px) {
  .banner h1 {
    font-size: 60px;
    line-height: 70px;
  }
}
@media (max-width: 1200px) {
  .banner h1 {
    font-size: 55px;
    line-height: 65px;
  }
}
@media (max-width: 991px) {
  .banner h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 575px) {
  .banner h1 {
    font-size: 45px;
    line-height: 55px;
  }
}

.wrapper-menu {
  #title {
    color: #282144;
    // font-family: "New York";
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 3rem;
    margin: 15px;
  }
}

@media (min-width: 1025px) {
  .wrapper-menu {
    margin-left: 16rem;

    .burger-btn {
      display: none;
    }

    .backward-btn {
      left: 3px;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper-menu {
    margin: auto;

    .burger-btn {
      display: flex;
    }

    .backward-btn {
      left: 37px;
    }
  }
}

.wrapper-menu {
  min-height: 100vh;
  position: relative;
  background-color: var(--app-dine-bg);

  .wrapper-nav-bar {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    box-shadow: 0 2px 10px 0 #eeedf5;
    position: relative;
    z-index: 1;

    .burger-btn,
    .search-btn {
      width: 3rem;
      height: 100%;
      outline: none;
      border: none;
      background: unset;
      padding: 0;
      position: absolute;
      align-items: center;
      justify-content: center;
    }

    .burger-btn {
      left: 3px;
    }

    .search-btn {
      right: 3px;

      #search {
        display: block;
      }

      #close {
        display: none;
      }

      &.active {
        #search {
          display: none;
        }

        #close {
          display: block;
        }
      }
    }

    .wrapper-logo {
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 90%;
      }
    }

    .search-box {
      width: calc(100% - 3rem);
      height: 100%;
      position: absolute;
      left: 0;
      padding: 0.3rem 0 0.3rem 0.6rem;
      background-color: white;

      .p-input-icon-left {
        .pi-search {
          font-weight: bold;
          left: 0.6rem;
        }

        height: 100%;
        width: 100%;

        input {
          border-radius: 4px;
          background-color: #f3f3f4;
          height: 100%;
          width: 100%;
          border: 0;

          &::placeholder {
            color: #9e9ea7;
          }
        }
      }
    }
  }

  .wrapper-categories {
    width: 100%;
    // height: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px 0 #eeedf5;
    position: relative;

    .category {
      width: 100%;
      background-color: #ffffff;

      .sidenav {
        overflow-x: scroll;
        font-weight: 500;
        box-shadow: 0 2px 10px 0 #eeedf5;
        white-space: nowrap;
        letter-spacing: -0.32em;
        margin: 0;
        width: 100%;
        text-align: initial;
        overflow: auto;

        li {
          padding: 0.5rem 1rem;

          .image {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .bg-image {
              display: block;
              background-size: cover;
              background-position: 50% 50%;
              width: calc(100%);
              height: calc(100%);
              -webkit-transition: -webkit-transform linear 0.3s;
              transition: -webkit-transform linear 0.3s;
              transition: transform linear 0.3s;
              transition: transform linear 0.3s, -webkit-transform linear 0.3s;
            }
          }

          a {
            display: flex;
            align-items: center;
            flex-flow: column;
            justify-content: center;
            font-size: 1.1rem;
            line-height: 2rem;
            color: #414952;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            text-align: center;
            cursor: pointer;
          }

          a:after {
            @media (max-width: 767px) {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              content: "";
              background: black;
              height: 1px;
              opacity: 0;
            }
          }

          letter-spacing: 0;
          display: inline-block;
          vertical-align: top;
        }

        .active {
          background-color: #fff7e6;
        }
      }
    }
  }

  .wrapper-body {
    // height: calc(100vh - 15.6rem);
   padding: 0 0.8rem;
  }

 
}

// .show {
//   left: 0;
//   right: 0;
//   top: 0;
//   z-index: 1000;
//   bottom: 0;
//   overflow: auto;
//   overflow: hidden;
//   background-color: rgba(65, 73, 82, 0.8);
// }

