<!-- 
<section class="banner" style="background-image: url('../../../assets/static/img/faq-banner.png');">
    <div class="container">
        <article>
            <h1>{{'Faq'}}</h1>
        </article>
    </div>
</section>



<section class="faq">
    <div class="container">
        <article>
 
            <div class="faq-accordion-container">
                <app-collapse-questions [questions]="questions"></app-collapse-questions>
            </div>
   
        </article>
    </div>
</section> -->


<div class="wrapper-menu">
    <div class="wrapper-nav-bar">
        <button class="burger-btn" (click)="leftMenuRef.show()" *ngIf="userId">
            <!-- <i class="fa fa-bars"></i> -->
            <img src="assets/image/close-burger.png" alt="" />
        </button>

        <button class="backward-btn" (click)="onClickBack()">
            <i class="fa fa-arrow-left"></i>
        </button>
        <div class="wrapper-logo">
            <img [src]="logoUrl" class="logo" [routerLink]="['/']" routerLinkActive="router-link-active" />
        </div>
    </div>
    <!-- <div class="wrapper-categories">
        <div class="category">
            <p id="title">Privacy Policy</p>
        </div>
    </div> -->

    <div class="wrapper-body">
        <section class="banner" style="background-image: url('../../../assets/static/img/faq-banner.png');">
            <div class="container">
                <article>
                    <h1>{{'Faq'}}</h1>
                </article>
            </div>
        </section>
        <!-- banner ends -->

        <!-- faq -->
        <section class="faq">
            <div class="container">
                <article>
                    <!-- faq Accordion -->
                    <div class="faq-accordion-container">
                        <app-collapse-questions [questions]="questions"></app-collapse-questions>
                    </div>
                    <!-- faq Accordion ends -->
                </article>
            </div>
        </section>
    </div>
</div>

<app-left-side-menu #leftMenuRef> </app-left-side-menu>