<div class="main-container">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Seat Map</h2>
                </div>
            </div>
            <p class="m-b-none"><i class="fa fa-info-circle"></i> Check 'Use seat map' checkbox to enable map table
                selection. You need to upload a JPG image map of your restaurant. Once image is uploaded click on the
                map to
                create a click-able hot spot for each table. You can click on each hot spot and position it on the map.
                To
                delete a hot spot click on it and then click on 'Delete' button. To rename a hot spot (table) and set
                people
                capacity just click on it.</p>
        </div>
    </div>

    <div class="wrapper wrapper-content mt-5 ml-5 mr-5" *ngIf="positionList.length == 0 && seatmapImageUrl.length == 0">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="hr-line-dashed"></div>
                        <div id="boxMap" style="display: block">
                            <div class="form-group row col-sm-12">
                                <label class="col-sm-2 control-label text-right font-weight-bolder mt-3">File</label>
                                <div class="col-sm-6">
                                    <div class="input fileinput-new">
                                        <span class="btn btn-primary btn-outline btn-file">
                                            <label class="custom-file-upload">
                                                <input id="seatmap_background_Set_Images" name="image" type="file"
                                                    class="file-input" ng2FileSelect [uploader]="uploader" />
                                                <i class="fa fa-upload"></i> 
                                                <span class="select-file">Select File</span>
                                            </label>
                                        </span>
                                        <span class="ml-1">{{fileName}}</span>
                                        <a *ngIf="fileName" href="javascript:void(0)"
                                            class="close fileinput-exists ml-2"
                                            (click)="removeFile(this.uploader.queue[0])" style="float: none">x</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-map-related">
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="form-group row col-sm-12 pr-35">
                            <div class="col-sm-3 text-right">
                                <button class="btn-upload" (click)="saveBackground()" [disabled]="loading">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="positionList.length > 0 || seatmapImageUrl.length > 0" class="seat-map-container col-lg-12 mt-4 ml-4 mb-4 mr-2 pt-5">
        <div class="seat-map mt-4">
            <img src="{{(seatmapImageUrl)?seatmapImageUrl:'../../../assets/image/map.jpg'}}" alt="" class="image" (mouseup)="addPoint($event)" id="imgSeatMap">
            <div [attr.id]="'example-box-' + i" class="example-box" *ngFor="let position of positionList,let i = index"
                cdkDrag [style.left.px]="position?.positionX" [style.top.px]="position?.positionZ"
                [style.width.px]="position?.width" [style.height.px]="position?.height"
                [ngStyle]="{'visibility': !position.isDeleted ? 'visible' : 'hidden'}" [ngStyle]="{'resize': 'both'}"
                (cdkDragEnded)="dragEnded($event,position)" cdkDragBoundary=".seat-map">
                <div (dblclick)="showDetail(position)" data-toggle="modal" data-target="#exampleModal">
                    {{position?.name}}
                    <div class="example-handle" cdkDragHandle>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-map-related">
            <div class="hr-line-dashed"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button class="ladda-button btn btn-primary btn-lg pull-right" (click)="updateSeats()">Save</button>
            </div>
            <div class="col-md-9">
                <button class="btn btn-danger btn-lg pull-right" (click)="deleteSeatMap()">Delete</button>
            </div>

        </div>
    </div>
</div>