
.example-box {
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(8, 86, 255);
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.example-box > div {
    color: white;
}
.example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 100%;
    height: 100%;
}

.description {
    font-size: 13px;
    color: #676a6c;
}
.image {
    margin: 0;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.main-container
{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100;
}
.seat-map-container{
    position: relative;
    height: 98%;
    width: 98%;
    background-color: #FFFFFF;
}
.seat-map {
    position: relative;
    width: 627px;
    height: 85%;
    margin: 0 auto;
}
.btn-save {
    bottom: 0;
    left: 56%;
    padding: 10px 16px;
    font-size: 18px;
    background: #0a5114;
    border-radius: 3px;
    color: white;
    border: none;
    bottom: 10%;
    position: absolute;
   
}

.btn-upload {
    bottom: 0;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 3px;
    color: white;
    background: #0a5114;
    border: none;
}

.white-bg{
    background-color: #ffffff;
}
.page-heading {
    border-top: 0;
    padding: 0 10px 20px 10px;
}
.border-bottom {
    border-bottom: 1px solid #e7eaec;
}

h2 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 20px;
}
.wrapper {
    padding-top: 0px !important;
}
.file-input{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    height: 100%;
    width: 100%;
    direction: ltr;
    margin-bottom: 9px;
    display: inline-block;
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}
.fileinput-new label{
    color: #0a5114;
    margin-bottom: 0;
    text-transform:initial;
}
.fileinput-new .btn-primary.btn-outline {
    background: transparent;
}
.fileinput-new .btn-primary {
    border-color: #0a5114;
    color: #0a5114 !important;
}
.fileinput-new .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.fileinput-new .btn-primary.btn-outline:hover{
    background: #0a5114;
    color: white !important;
}
.fileinput-new .btn-primary.btn-outline:hover .select-file{
    color: white !important;
}
 
.btn.btn-primary i{
    color: #0a5114;
    font-size: 14px;
}
.select-file{
    color: #0a5114;
    font-size: 14px;
    margin-left: 5px;
}

.ibox {
    margin-bottom: 20px;
    clear: both;
    margin-top: 4;
    padding: 0;
}
.ibox-content {
    clear: both;
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.wrapper-content {
    position: relative;
    z-index: 20;
    padding-bottom: 20px;
    padding: 20px 10px 40px;
}

 
 