<section class="login orange_bg">
    <div class="container">
        <article class="row">
            <!-- login form -->
            <div class="login-form col-12">
                <form #registerForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="Email">{{ 'Email' | localize }} *</label>
                            <input
                                id="Email"
                                #emailAddressInput="ngModel"
                                type="email"
                                name="Email"
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="model.emailAddress"
                                required
                                maxlength="256"
                                email
                            />
                            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Name">{{ 'Name' | localize }} *</label>
                            <input
                                id="Name"
                                #firstName="ngModel"
                                type="text"
                                name="Name"
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="model.name"
                                required
                                maxlength="256"
                            />
                            <validation-messages [formCtrl]="firstName"></validation-messages>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNumber">{{ 'MobileNumber' | localize }} *</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+ {{ callingCode }}</span>
                                </div>
                                <input
                                    id="MobileNumber"
                                    #MobileInput="ngModel"
                                    type="text"
                                    name="MobileNumber"
                                    class="form-control"
                                    (keypress)="returnOnlyNumber($event)"
                                    [(ngModel)]="model.phoneNumber"
                                    maxlength="32"
                                    autocomplete="off"
                                    required
                                />
                            </div>
                            <validation-messages [formCtrl]="MobileInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="Address1"> {{ 'Address1' | localize }} * </label>
                            <input
                                id="Address1"
                                #Address1Input="ngModel"
                                class="form-control"
                                type="text"
                                name="Address1"
                                [(ngModel)]="model.address1"
                                autocomplete="off"
                                required
                                [placeholder]="l('Address1_Plh')"
                            />
                            <validation-messages [formCtrl]="Address1Input"></validation-messages>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Password">{{ 'Password' | localize }} *</label>
                                <input
                                    type="password"
                                    name="Password"
                                    class="form-control"
                                    [(ngModel)]="model.password"
                                    #Password="ngModel"
                                    placeholder="{{ 'Password' | localize }}"
                                    validateEqual="PasswordRepeat"
                                    reverse="true"
                                    [requireDigit]="passwordComplexitySetting.requireDigit"
                                    [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                    [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                    [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                    [requiredLength]="passwordComplexitySetting.requiredLength"
                                    required
                                    pPassword
                                    [promptLabel]="l('PleaseEnterYourNewPassword')"
                                    [weakLabel]="l('weak')"
                                    [mediumLabel]="l('medium')"
                                    [strongLabel]="l('strong')"
                                />
                            </div>

                            <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
                                <ul class="form-text text-danger" *ngIf="Password.errors">
                                    <li [hidden]="!Password.errors.requireDigit">
                                        {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireLowercase">
                                        {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireUppercase">
                                        {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireNonAlphanumeric">
                                        {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requiredLength">
                                        {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PasswordRepeat">{{ 'PasswordRepeat' | localize }} *</label>
                                <input
                                    type="password"
                                    name="PasswordRepeat"
                                    class="form-control"
                                    [ngModel]="model.passwordRepeat"
                                    #PasswordRepeat="ngModel"
                                    placeholder="{{ 'PasswordRepeat' | localize }}"
                                    validateEqual="Password"
                                    reverse="false"
                                    [requireDigit]="passwordComplexitySetting.requireDigit"
                                    [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                    [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                    [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                    [requiredLength]="passwordComplexitySetting.requiredLength"
                                    required
                                />
                            </div>

                            <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
                                <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                                    <li [hidden]="!PasswordRepeat.errors.requireDigit">
                                        {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                                        {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                                        {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">
                                        {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requiredLength">
                                        {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                    <li [hidden]="PasswordRepeat.valid">{{ 'PasswordsDontMatch' | localize }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <label for="FloorNo">{{ 'Address2' | localize }}</label>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            name="FloorNo"
                                            class="form-control"
                                            [(ngModel)]="floorNo"
                                            [placeholder]="l('Address2Floor_Plh')"
                                            required
                                        />
                                        <div class="has-danger">
                                            <div *ngIf="!floorNo" class="form-control-feedback">
                                                {{ 'Address2_validate' | localize }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            name="UnitNo"
                                            class="form-control"
                                            [(ngModel)]="unitNo"
                                            [placeholder]="l('Address2Unit_Plh')"
                                            required
                                        />
                                        <div class="has-danger">
                                            <div *ngIf="!unitNo" class="form-control-feedback">
                                                {{ 'Address2_validate' | localize }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="Tower" class="form-control" [(ngModel)]="tower" [placeholder]="l('Address2Tower_Plh')" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Address3">{{ 'Address3' | localize }}</label>
                            <input type="text" name="Address3" class="form-control" [(ngModel)]="model.address3" [placeholder]="l('Address1_Plh')" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="Country">{{ l('Country') }} *</label>
                            <select
                                id="Country"
                                class="form-control"
                                [(ngModel)]="model.countryId"
                                name="Country"
                                #Country="ngModel"
                                (change)="changeCountry(model.countryId)"
                                required
                            >
                                <option [ngValue]="undefined">
                                    {{ 'Select_Country' | localize }}
                                </option>
                                <option *ngFor="let item of lstCountry" [value]="item.value">
                                    {{ item.displayText }}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="Country"></validation-messages>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="City">{{ l('City') }} *</label>
                            <select id="City" class="form-control" [(ngModel)]="model.cityId" name="City" #City="ngModel" required>
                                <option [ngValue]="undefined">
                                    {{ 'Select_City' | localize }}
                                </option>
                                <option *ngFor="let item of lstCity" [ngValue]="item.value">
                                    {{ item.displayText }}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="City"></validation-messages>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="PostcalCode">{{ 'PostcalCode' | localize }} *</label>
                            <input
                                id="PostcalCode"
                                #PostcalCode="ngModel"
                                class="form-control"
                                type="text"
                                (keypress)="returnOnlyNumber($event)"
                                name="PostcalCode"
                                [(ngModel)]="model.postcalCode"
                                autocomplete="off"
                                required
                            />
                            <validation-messages [formCtrl]="PostcalCode"></validation-messages>
                        </div>
                    </div>


                    <div class="pull-right">
                        <button
                            type="submit"
                            class="btn orange-btn"
                            [disabled]="!registerForm.form.valid"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"
                        >
                            <i class="fa fa-save"></i>
                            <span>{{ 'SignUp' | localize }}</span>
                        </button>
                    </div>
                </form>
            </div>
            <!-- login form ends -->
        </article>
    </div>
</section>

<app-card-id-guider-modal #CardIdGuiderModal></app-card-id-guider-modal>
