article {
    padding-top: 60px;
    height: 100%;
    background-image: url('assets/static/svg/vector-login.svg');
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 768px) {
        background-image: unset;
    }
}

.login article .login-form {
    max-width: unset;
}