<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Balance' | localize" [description]="'BalanceSummaryInfo' | localize">
            <div role="actions">
                <button class="btn btn-outline-success" (click)="openBalanceExportModal()">
                    <i class="la-file-excel-o-o"></i> {{ l('ExportToExcel') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #balanceTable
                                (onLazyLoad)="getBalanceList($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="SignUp">
                                            {{ l('SignUpDate') }}
                                            <p-sortIcon field="SignUp"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="PhoneNumber">
                                            {{ l('PhoneNumber') }}
                                            <p-sortIcon field="PhoneNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="CustomerName">
                                            {{ l('CustomerName') }}
                                            <p-sortIcon field="CustomerName"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="Plan">
                                            {{ l('Plan') }}
                                            <p-sortIcon field="Plan"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px; text-align: right" pSortableColumn="MealBought">
                                            {{ l('MealsBought') }}
                                            <p-sortIcon field="MealBought"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px; text-align: right" pSortableColumn="MealBalance">
                                            {{ l('MealsBalance') }}
                                            <p-sortIcon field="MealBalance"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px; text-align: right" pSortableColumn="Amount">
                                            {{ l('AmountPaid') }}
                                            <p-sortIcon field="Amount"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'SignUpDate' | localize }}</span>
                                            {{ record.signUp | momentFormat: 'YYYY-MM-DD' }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'PhoneNumber' | localize }}</span>
                                            {{ record.phoneNumber }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'CustomerName' | localize }}</span>
                                            {{ record.customerName }}
                                        </td>
                                        <td style="width: 100px">
                                            <span class="ui-column-title"> {{ 'Plan' | localize }}</span>
                                            {{ record.plan }}
                                        </td>
                                        <td style="width: 100px; text-align: right">
                                            <span class="ui-column-title"> {{ 'MealsBought' | localize }}</span>
                                            {{ record.mealBought }}
                                        </td>
                                        <td style="width: 100px; text-align: right">
                                            <span class="ui-column-title"> {{ 'MealsBalance' | localize }}</span>
                                            {{ record.mealBalance }}
                                        </td>
                                        <td style="width: 100px; text-align: right">
                                            <span class="ui-column-title"> {{ 'AmountPaid' | localize }}</span>
                                            {{ appSession.application.currencySign }} {{ record.amount }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #balancePaginator
                                    (onPageChange)="getBalanceList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<select-popup
    #selectCustomer
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getCustomerForComboBox()"
    (changeValue)="changeCustomer($event)"
    selectionMode="single"
    [selectedValue]="selectedCustomer"
    [title]="l('Customers')"
></select-popup>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="Date">{{ 'Date' | localize }}</label>
                <div class="input-group date">
                    <input
                        type="text"
                        placeholder="Choose dates"
                        class="form-control"
                        bsDaterangepicker
                        #DateInput="ngModel"
                        [(ngModel)]="dateRange"
                        name="date"
                        #dp1="bsDaterangepicker"
                        [placement]="'left'"
                        [bsConfig]="{
                            isAnimated: true,
                            rangeInputFormat: 'YYYY-MM-DD',
                            dateInputFormat: 'YYYY-MM-DD',
                            showWeekNumbers: false,
                            containerClass: 'custom-filter-datepicker theme-default'
                        }"
                    />

                    <div class="input-group-append">
                        <span class="input-group-text" (click)="dp1.toggle()">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
                <!-- <validation-messages [formCtrl]="DateInput"></validation-messages> -->
            </div>
            <div class="form-group">
                <label>{{ 'Customer' | localize }}</label>
                <input
                    type="text"
                    id="Tiffin_Customer"
                    class="form-control"
                    readonly
                    required
                    name="Tiffin_Customer"
                    [(ngModel)]="customerName"
                    (click)="selectCustomer.show()"
                />
            </div>
            <div class="form-group">
                <label>{{ 'ChoiceOfSet' | localize }}</label>
                <p-dropdown
                    [options]="products"
                    [(ngModel)]="selectedProductSet"
                    name="choiseOfSetFilter"
                    styleClass="w-100"
                    [placeholder]="l('ChoiceOfSet')"
                    [filter]="true"
                    optionLabel="displayText"
                    filterBy="label,value.name"
                    [showClear]="true"
                >
                </p-dropdown>
            </div>
            <div class="form-group">
                <label for="Zone">{{ l('Zone') }}</label>
                <select id="Zone" class="form-control" [(ngModel)]="zone" name="Zone" #Zone="ngModel">
                    <option [ngValue]="undefined"></option>
                    <option *ngFor="let item of zoneOptions" [ngValue]="item.value">
                        {{ item.text }}
                    </option>
                </select>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
