<div class="row row-no-padding row-col-separator-xl h-100" [perfectScrollbar]>
    <div class="col item-stats ">
        <div class="card-custom bg-primary bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <div class="icon">
                    <i class="fa fa-donate"></i>
                </div>
                <div class="details">
                    <div class="number">
                        $<span>
                            {{dashboardTopStats?.totalAmount?.toFixed(2)}}
                        </span>
                    </div>
                    <div class="description">Total</div>
                </div>

            </div>
        </div>
    </div>
    <div class="col item-stats ">
        <div class="card-custom bg-info bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <div class="icon">
                    <i class="fa fa-shopping-basket"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>
                            {{dashboardTopStats?.totalTicketCount}}
                        </span>
                    </div>
                    <div class="description">Tickets</div>
                </div>

            </div>
        </div>
    </div>
    <div class="col item-stats ">
        <div class="card-custom bg-danger bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>
                            {{dashboardTopStats?.totalOrderCount}}
                        </span>
                    </div>
                    <div class="description">Orders</div>
                </div>

            </div>
        </div>
    </div>
    <div class="col item-stats">
        <div class="card-custom bg-gray-800 bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <div class="icon">
                    <i class="fa fa-coins"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>
                            {{dashboardTopStats?.totalItemSold}}
                        </span>
                    </div>
                    <div class="description">Items</div>
                </div>

            </div>
        </div>
    </div>
    <div class="col item-stats last-item">
        <div class="card-custom bg-success bgi-no-repeat card-stretch new-subscription-statistics h-100">
            <div class="card-body">
                <div class="icon">
                    <i class="fa fa-cubes"></i>
                </div>
                <div class="details">
                    <div class="number">
                        $<span>
                            {{dashboardTopStats?.averageTicketAmount?.toFixed(2)}}
                        </span>
                    </div>
                    <div class="description">Average</div>
                </div>

            </div>
        </div>
    </div>

</div>