.bg--success {
    background-color: #28a745;
    border-radius: 0.24rem;
}

.bg--danger {
    background-color: #dc3545;
    border-radius: 0.24rem;
}

.card-custom {
    border-radius: .42rem;
    .card-body {
        padding: 1rem 1.25rem;
        color: #fff;

        .details {
            position: absolute;
            right: 15px;
            float: right;
            text-align: right;

            .number {
                font-size: 2.2rem;
                font-weight: 600;
            }

            .description {
                font-size: 1.2rem;
            }

        }

        .icon {
            float: left;

            i {
                margin-left: -35px;
                font-size: 110px;
                color: #FFFFFF;
                opacity: 0.1;
            }
        }
    }
}

@media (max-width: 768px) {
    .item-stats{
        min-width: 100%;
        width: 100%;
        margin-bottom: 10px;
        padding-right: 11px !important;
    }
    .details{
        right: 30px !important;
    }
    .card-body
    {
        .icon{
            i{
                margin-left: 0 !important;
                font-size: 64px !important;
            }
        }   
    }
    
    ::ng-deep {
        .Widgets_Tenant_TopStats {
            height: 100% !important;
        }
    }
}

.item-stats:not(:last-child) {
    padding-right: 0px;       
}
.last-item{
    padding-right: 11px !important;  
}
