<div [@routerTransition] class="sale-summary">
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'WorkDay' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="input-group date">
                                    <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                      #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                      [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                    <div class="input-group-append">
                                      <span class="input-group-text" (click)="dp1.toggle()">
                                        <i class="la la-calendar"></i>
                                      </span>
                                    </div>
                              </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <!-- <button class="btn btn-default ml-1" (click)="print()"><i class="la-file-excel-o"></i>
                                    {{ l('40 Col') }}</button> -->
                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('DaySummary') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportDaySummaryToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportDaySummaryToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('DayDetails') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportDayDetailsToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a  (click)="exportDayDetailsToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-primary ml-1" (click)="getData()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="bg-font-blue-sharp">
                                            <small>{{ totalTicketAmount | number: '1.0-2' }}</small>
                                        </h3>
                                        <small>{{ l('TotalAmount').toUpperCase() }} </small>
                                    </div>
                                    <div class="icon">
                                        <i class="flaticon-pie-chart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-red-haze">{{ totalTickets | number: '1.0-2' }}</h3>
                                        <small>{{ l('TotalTickets').toUpperCase() }} </small>
                                    </div>
                                    <div class="icon">
                                        <i class="flaticon-like"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-blue-sharp">{{ totalAverage | number: '1.2' }}</h3>
                                        <small>{{ l('Average').toUpperCase() }} </small>
                                    </div>
                                    <div class="icon">
                                        <i class="flaticon-user"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <table class="table table-bordered">
                            <thead>
                                <th>{{l('Code') }}</th>
                                <th>{{l('Name') }}</th>
                                <th>{{l('TotalTickets') }}</th>
                                <th>{{l('TotalSales') }}</th>
                                <th>{{l('Actual') }}</th>
                                <th>{{l('Entered') }}</th>
                                <th>{{l('Difference') }}</th>
                                <th>{{l('Export') }}</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of lstworkday">
                                    <td>{{item.locationCode}}</td>
                                    <td>{{item.locationName}}</td>
                                    <td>{{item.totalTicketCount}}</td>
                                    <td>{{item.total}}</td>
                                    <td>{{item.actual}}</td>
                                    <td>{{item.entered}}</td>
                                    <td>{{item.difference}}</td>
                                    <td>
                                        <a (click)="exportItemSales(item.locationId)">{{l('ItemSales')}}</a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="sale-summary-print">
    <app-sale-summary-print [data]="primengTableHelper.records"></app-sale-summary-print>
</div> -->
<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
