@media print {
    /* .sale-summary-print{
        display: block;
      } */
    
    .sale-summary{
        display: none;
      }
      app-sale-summary-print{
        display: block;
      }
}
/* .sale-summary-print{
    display: none;
}
  */
app-sale-summary-print{
  display: none;
}
a{
  cursor: pointer;
  color: #3699ff;
}