<div [@routerTransition]>
    <div class="go-brand-edit content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!brand?.id ? l('CreateDineGoBrand') : l('EditDineGoBrand') + ': ' + brand.label"> </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #form="ngForm" class="" novalidate autocomplete="off" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>{{ l('Label') }}*</label>
                                    <input autoFocus required class="form-control" type="text" name="Name" #BrandName="ngModel" [(ngModel)]="brand.label" />
                                    <validation-messages [formCtrl]="BrandName"></validation-messages>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="brandLocation"> {{ l('Location') }}*</label>
                                <ng-select
                                    #LocationId="ngModel"
                                    id="brandLocation"
                                    name="brandLocation"
                                    required
                                    [(ngModel)]="brand.locationId"
                                    [placeholder]="l('Select')"
                                >
                                    <ng-option *ngFor="let location of locations" [value]="+location.value">
                                        {{ location.displayText }}
                                    </ng-option>
                                </ng-select>
                                <validation-messages [formCtrl]="LocationId"></validation-messages>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="deviceBrand"> {{ l('Screen Menu') }}</label>

                                <ng-select
                                    #ScreenMenuId="ngModel"
                                    required
                                    id="screenMenuId"
                                    name="screenMenuId"
                                    [(ngModel)]="brand.screenMenuId"
                                    [placeholder]="l('Select')"
                                >
                                    <ng-option *ngFor="let screen of screenMenus" [value]="+screen.value">
                                        {{ screen.displayText }}
                                    </ng-option>
                                </ng-select>
                                <validation-messages [formCtrl]="ScreenMenuId"></validation-messages>
                            </div>
                        </div>

                        <div class="row" *ngIf="brand.id">
                            <p-panel [header]="l('Department')" [toggleable]="true">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="department"> {{ l('Department') }}</label>

                                        <ng-select id="department" name="department" [(ngModel)]="selectedDepartment" [placeholder]="l('Select')">
                                            <ng-option *ngFor="let department of departments" [value]="department">
                                                {{ department.label }}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label style="visibility: hidden;">Add</label>
                                        <button [disabled]="!selectedDepartment" type="button" class="btn btn-primary" (click)="addDepartment()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <!--<Primeng-Datatable-Start>-->
                                    <div class="primeng-datatable-container col-12">
                                        <p-table
                                            #dataTable
                                            class="custom-table"
                                            [value]="dineGoDepartments"
                                            [(rows)]="paging.rows"
                                            [paginator]="true"
                                            [(first)]="paging.first"
                                            [showCurrentPageReport]="true"
                                            [scrollable]="true"
                                            (sortFunction)="primengTableHelper.customSort($event)"
                                            [customSort]="true"
                                            ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="label">
                                                        {{ l('Department') }}
                                                        <p-sortIcon field="label"></p-sortIcon>
                                                    </th>
                                                    <th>
                                                        {{ l('Delete') }}
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Department') }}</span>
                                                        {{ record.label }}
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-danger" (click)="removeDepartment(record)">Delete</button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="dineGoDepartments.length == 0">
                                            {{ l('NoData') }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                #paginator
                                                [rows]="paging.rows"
                                                [totalRecords]="dineGoDepartments.length"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                                (onPageChange)="onChangePage($event)"
                                            >
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', dineGoDepartments.length) }}
                                            </span>
                                        </div>
                                    </div>
                                    <!--<Primeng-Datatable-End>-->
                                </div>
                            </p-panel>
                        </div>

                        <div class="modal-footer px-0 pb-0">
                            <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                                {{ l('Cancel') }}
                            </button>

                            <button
                                type="button"
                                class="btn btn-primary blue"
                                [disabled]="form.form.invalid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                                (click)="save()"
                            >
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
