<div class="wrapper-menu">
    <div class="wrapper-nav-bar">
        <button class="burger-btn" (click)="showMenu()">
      <img src="assets/image/close-burger.png" alt="" />
    </button>
        <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
        <div class="wrapper-logo" *ngIf="logoUrl">
            <img [src]="logoUrl" class="logo" />
        </div>
        <div class="wrapper-logo" *ngIf="tableNo">
            Table No {{ tableNo }}
        </div>
        <div class="search-box" *ngIf="isDisplaySearchBox">
            <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" id="search-text" pInputText placeholder="Search" [(ngModel)]="filterText" />
      </span>
        </div>
        <button class="search-btn" [ngClass]="{ active: isDisplaySearchBox }" (click)="onToggleSearchBox()">
      <img id="search" src="assets/image/search-btn.png" alt="" />
      <img id="close" src="assets/image/close-icon.png" alt="" />
    </button>
    </div>
    <div class="wrapper-categories">
        <div class="category">
            <ul class="sidenav list-unstyled">
                <li class="category_menu_list_item" *ngFor="let item of categories" [ngClass]="{ active: item.id == menuActiveId }">
                    <a (click)="selectMenu(item)" class="dine-image-primary-dark">
                        <div class="image">
                            <img appProductImage class="bg-image top5006 lazyloaded top-1221" loading="lazy" data-src="{{ item?.image }}" src="{{ item?.image }}" />
                        </div>
                        <span>{{item.name}}</span>
                    </a>
                </li>
            </ul>
            <div [ngClass]="{ 'p-l': isShowSection }">
                <app-menu-content #subMenu [InputWheelMenuSection]="subCategories" (changeSubMenu)="onChangeSubMenu($event)">
                </app-menu-content>
            </div>
        </div>
    </div>
    <div class="wrapper-filter" *ngIf="allMenuItemsTags.length > 1">
        <div class="filter">
            <p-dropdown [options]="allMenuItemsTags" [(ngModel)]="selectedTag" styleClass="w-100"></p-dropdown>
        </div>

    </div>
    <div class="wrapper-items" infinite-scroll [infiniteScrollDistance]="scrollDistance" [scrollWindow]="false" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()" tabindex="1" [alwaysCallback]="true">
        <div #divtop></div>
        <app-menu-item-ui [viewType]="viewType" *ngIf="menuActiveId" [menuItemData]="menuItems" [numberOfColumns]="numberOfColumns" [selectedTag]="selectedTag" [filter]="filterText">
        </app-menu-item-ui>
        <ngx-spinner bdColor="rgba(0,0,0,0.2)" size="medium" color="#00942f" type="ball-clip-rotate" [fullScreen]="false">
        </ngx-spinner>
    </div>
    <div class="cart-floating">
        <div class="wrapper-icon" (click)="openOrderPopup()">
            <img src="assets/image/cart-icon.png" alt="cart icon" />
            <span class="count-items">{{ cartCount }}</span>
        </div>
    </div>
</div>

<!-- popup addOn -->
<div class="popup-overlay cart-items-preview" [ngClass]="{ show: isOpenOrder, hide: !isOpenOrder }">
    <div class="popupholder" [@popupState]="state">
        <!-- product-popup -->
        <div class="customize-popup">
            <strong class="heading">
        <h4 class="text-center">Your Cart </h4>
      </strong>
            <a href="javascript:;" class="close" (click)="closeOrderPopup()">
                <i class="fa fa-close"></i>
            </a>
            <div class="form-holder">
                <div class="order-item" *ngFor="let itemOrder of cartModel">
                    <div class="item-image">
                        <img appProductImage class="bg-image top5006 lazyloaded top-1221" loading="lazy" data-src="{{ itemOrder?.screenMenuItem.image }}" src="{{ itemOrder?.screenMenuItem.image }}" />
                    </div>
                    <div class="item-info">
                        <div class="item-name">
                            {{ itemOrder?.screenMenuItem.name }}
                        </div>
                        <div class="item-tag">
                            {{ itemOrder.description }}
                        </div>
                        <div *ngIf="itemOrder.subItems" class="sub-item">
                            <div class="order-item" *ngFor="let item of itemOrder.subItems">
                                <div class="item-image">
                                    <img appProductImage class="bg-image top5006 lazyloaded top-1221" loading="lazy" data-src="{{ itemOrder?.screenMenuItem.image}}" src="{{ item?.screenMenuItem.image }}" />
                                </div>
                                <div class="item-info">
                                    <div class="item-name">
                                        {{ item?.quantity }} x {{ item?.screenMenuItem.name }}
                                    </div>
                                    <div class="item-tag">
                                        {{ item.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jcf-number">
                            <i class="pi pi-minus circle-button" (click)="decItems(itemOrder)"></i>
                            <span class="number-jcf"> {{ itemOrder.quantity }}</span>
                            <i class="pi pi-plus circle-button" (click)="incItems(itemOrder)"></i>
                        </div>
                    </div>
                    <div class="item-price">
                        {{ systemCurrency }} {{ itemOrder.unitPrice | number: "1.2-2" }}
                    </div>
                </div>
            </div>
            <div class="footer">
                <button pRipple pButton class="btn-dine-primary btn-add-item" (click)="continueToDelivery()" label="Order Now"></button>
            </div>
        </div>
    </div>
</div>

<!-- left-menu -->
<app-left-side-menu #leftMenuRef> </app-left-side-menu>
