@media (min-width: 1025px) {
  .wrapper-menu {
    margin-left: 16rem;

    .burger-btn {
      display: none;
    }

    .backward-btn {
      left: 3px;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper-menu {
    margin: auto;

    .burger-btn {
      display: flex;
    }

    .backward-btn {
      left: 37px;
    }
  }

}

.wrapper-menu {
  min-height: 100vh;
  position: relative;
  background-color: var(--app-dine-bg);

  .wrapper-nav-bar {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    box-shadow: 0 2px 10px 0 #eeedf5;
    position: relative;
    z-index: 1;

    .burger-btn,
    .search-btn {
      width: 3rem;
      height: 100%;
      outline: none;
      border: none;
      background: unset;
      padding: 0;
      position: absolute;
      align-items: center;
      justify-content: center;
    }

    .burger-btn {
      left: 3px;
    }

    .search-btn {
      right: 3px;

      #search {
        display: block;
      }

      #close {
        display: none;
      }

      &.active {
        #search {
          display: none;
        }

        #close {
          display: block;
        }
      }
    }

    .wrapper-logo {
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 90%;
      }
    }

    .search-box {
      width: calc(100% - 3rem);
      height: 100%;
      position: absolute;
      left: 0;
      padding: 0.3rem 0 0.3rem 0.6rem;
      background-color: white;

      .p-input-icon-left {
        .pi-search {
          font-weight: bold;
          left: 0.6rem;
        }

        height: 100%;
        width: 100%;

        input {
          border-radius: 4px;
          background-color: #f3f3f4;
          height: 100%;
          width: 100%;
          border: 0;

          &::placeholder {
            color: #9e9ea7;
          }
        }
      }
    }
  }

  .wrapper-categories {
    width: 100%;
    // height: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px 0 #eeedf5;
    position: relative;

    .category {
      width: 100%;
      background-color: #ffffff;

      .sidenav {
        overflow-x: scroll;
        font-weight: 500;
        box-shadow: 0 2px 10px 0 #eeedf5;
        white-space: nowrap;
        letter-spacing: -0.32em;
        margin: 0;
        width: 100%;
        text-align: initial;
        overflow: auto;

        li {
          padding: 8px 10px;

          .image {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 5px auto;

            .bg-image {
              display: block;
              object-fit: cover;
              background-position: 50% 50%;
              width: calc(100%);
              height: calc(100%);
              -webkit-transition: -webkit-transform linear 0.3s;
              transition: -webkit-transform linear 0.3s;
              transition: transform linear 0.3s;
              transition: transform linear 0.3s, -webkit-transform linear 0.3s;
            }
          }

          a {
            display: flex;
            align-items: center;
            flex-flow: column;
            justify-content: center;
            font-size: 1.1rem;
            line-height: 2rem;
            color: #414952;
            position: relative;
            text-align: center;
            cursor: pointer;
            width: 70px;

            span {
              display: block;
              display: -moz-box;
              display: -webkit-box;
              height: 40px;
              line-clamp: 2;
              box-orient: vertical;
              -moz-line-clamp: 2;
              font-size: 14px;
              /* -webkit-line-clamp: 2; */
              /* -webkit-box-orient: vertical; */
              overflow: hidden;
              white-space: normal;
              text-overflow: ellipsis;
              line-height: 20px;
            }
          }

          a:after {
            @media (max-width: 767px) {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              content: "";
              background: black;
              height: 1px;
              opacity: 0;
            }
          }

          letter-spacing: 0;
          display: inline-block;
          vertical-align: top;
        }

        .active {
          background-color: #fff7e6;
        }
      }
    }
  }

  .wrapper-filter {
    width: 100%;
    height: 3.6rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px 0 #eeedf5;
    padding: 0 0.8rem;
    position: relative;
    background-color: #f3f3f3;

    .filter {
      min-width: 25%;
    }

    .toggle-grid-type {
      height: 100%;
      padding: 0.75rem 0;
      border-radius: 4px;
      display: flex;
      align-items: center;
      margin-left: auto;

      #grid,
      #list {
        height: 100%;
        border: none;
        background-color: #f3f3f3;
        width: 3rem;

        .icon {
          cursor: pointer;
          height: 1.5rem;
          width: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.5;

          &.active {
            opacity: 1;
          }
        }
      }

      #grid {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        .icon {
          margin-left: auto;
        }
      }

      #list {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  .wrapper-items {
    height: calc(100vh - 15.6rem);
    width: 100%;
    overflow-y: auto;
    background-color: #f3f3f3;
  }

  .cart-floating {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fa8c16;
    box-shadow: 0 1px 12px 0 #ffba71;
    border-radius: 50%;
    right: 1.5rem;
    bottom: 20vh;

    .wrapper-icon {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        width: 1.2rem;
      }

      .count-items {
        position: absolute;
        box-sizing: border-box;
        border: 2.1px solid #ffffff;
        border-radius: 10px;
        right: 0;
        font-size: 0.7rem;
        top: 0;
        padding: 0 0.5rem;
        background-color: #f5222d;
        color: white;
      }
    }
  }
}

.show {
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  bottom: 0;
  overflow: auto;
  overflow: hidden;
  background-color: rgba(65, 73, 82, 0.8);
}

.popup-overlay {
  position: fixed;
  overflow: auto;

  .popupholder {
    bottom: -100%;
    position: absolute;
    max-width: 420px;

    @media (min-width: 768px) {
      position: fixed;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%);
      width: 420px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    .add-item {
      width: 100%;
      height: 2.5rem;
      text-align: center;
      //border-radius: 0.5rem;
      padding: 0.5rem;
    }
  }

  .product-cols ul.list-unstyled li {
    color: #212529;
  }

  .customize-popup {
    width: 100%;
    overflow: auto;
    background-color: #fff;
    position: relative;
    height: auto;
    max-height: 85vh;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    min-height: 50vh;

    .checklist {
      margin: 0 -0.5625rem;

      li {
        float: left;
        width: 100%;
        padding: 0 0.5625rem 1.625rem;

        @media (min-width: 768px) {
          padding: 0 0.5625rem 0.5rem;
        }

        @media (min-width: 576px) {
          width: 50%;
        }
      }

      label.jcf-label-active {
        @media (min-width: 576px) {
          border-color: black;
          background-color: #eefbf0;
        }

        input[type="checkbox"]:checked+label:after {
          content: "\2713";
        }
      }

      label {
        margin: 0;
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-size: 0.75rem;
        line-height: 0.875rem;
        cursor: pointer;
        padding: 0 0 0 1.9375rem;
        white-space: normal;
        height: 100%;

        @media (min-width: 576px) {
          padding: 1.0625rem 1.25rem 1.1875rem 3.1875rem;
          min-height: 3.25rem;
          overflow: hidden;
          display: block;
          border: 1px solid #f5f5f5;
          //border-radius: 6px;
          background-color: #fafafa;
        }
      }
    }

    .info-holder {
      margin: 0 0 1.25rem;
      overflow: hidden;

      @media (min-width: 768px) {
        margin: 0 0 14px;
      }

      label {
        display: inline-block;
        vertical-align: top;
        color: #7e8389;
        margin: 0;
      }
    }

    .form-holder {
      max-height: 72vh;
      overflow-y: auto;

      @media (min-width: 768px) {
        padding: 1rem;
      }

      @media (max-width: 767px) {
        padding: 0.6rem;
      }

      .order-item {
        margin: 0.5rem 0;
        display: flex;
        color: #75708a;
        border-bottom: 1px solid #e8e8e8;

        .item-image {
          order: 1;
          width: 3rem;
          background: #f5f5f5;
          overflow: hidden;
          position: relative;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;

          .bg-image {
            display: block;
            background-size: cover;
            background-position: 50% 50%;
            width: calc(100%);
            -webkit-transition: -webkit-transform linear 0.3s;
            transition: -webkit-transform linear 0.3s;
            transition: transform linear 0.3s;
            transition: transform linear 0.3s, -webkit-transform linear 0.3s;
          }
        }

        .item-info {
          flex: 5;
          order: 2;
          float: right;
          vertical-align: top;
          position: relative;
          margin: 0.5rem;

          .item-name {
            font-size: 15px;
            font-weight: bold;
            color: #282144;
            display: inline-block;
            white-space: nowrap;
          }

          .item-tag {
            font-size: 15px;
            color: #75708a;
            padding: 5px 0;
          }

          .jcf-number {
            .circle-button {
              background-color: var(--btn-dine-primary);
              padding: 5px;
              border-radius: 50%;
              color: white;
            }

            .number-jcf {
              padding: 0 1rem;
              font-size: 18px;
              font-weight: bold;
              color: 282144;
            }
          }
        }

        .item-price {
          flex: 2;
          order: 3;
          font-size: 15px;
          font-weight: bold;
          text-align: end;
        }
      }

      input[type="checkbox"] {
        border: 1px solid #a6a6a6;
        background-color: #fff;
        width: 1.2rem;
        height: 1.2rem;
      }

      input:checked {
        background-color: red;
      }

      .checkbox-label {
        font-size: 13px;
        padding-left: 0.5rem;
        margin-bottom: 0;
      }
    }

    .footer {
      background: #fafafa;
      padding: 0.6875rem 1.25rem;
      text-align: right;
      margin-top: auto;
    }

    .btn {
      text-transform: uppercase;
      border: 0;
      font-size: 0.75rem;
      line-height: 0.875rem;
      letter-spacing: 1.5px;
      cursor: pointer;
      color: #fff;
      vertical-align: middle;
      text-transform: uppercase;
      padding: 0;

      @media (min-width: 768px) {
        margin: 0 0 0 1.125rem;
        padding: 1.125rem 0.9375rem;
        min-width: 8.75rem;
        height: 3.125rem;
      }

      @media (max-width: 767px) {
        background: none;
        vertical-align: top;
      }
    }

    .price {
      font-size: 0.875rem;
      line-height: 1rem;
      float: left;
      text-transform: uppercase;

      @media (min-width: 768px) {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }

      @media (min-width: 576px) {
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .image {
      width: calc(100%);
      background: #f5f5f5;
      overflow: hidden;
      position: relative;
      height: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .bg-image {
        display: block;
        background-size: cover;
        background-position: 50% 50%;
        width: calc(100%);
        -webkit-transition: -webkit-transform linear 0.3s;
        transition: -webkit-transform linear 0.3s;
        transition: transform linear 0.3s;
        transition: transform linear 0.3s, -webkit-transform linear 0.3s;
      }
    }

    .text {
      position: relative;
      padding: 0.5rem 0;

      @media (min-width: 768px) {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }

      @media (min-width: 576px) {
        font-size: 0.875rem;
      }
    }

    ::ng-deep .p-field-checkbox {
      margin: 0.5rem 1rem;
      display: flex;

      label {
        font-size: 13px;
        text-align: center;
        font-weight: 600;
        margin: 0 0 0.2rem 1rem !important;
        color: #75708a;
      }

      .size-name {
        order: 1;
      }

      .size-price {
        flex: 1;
        order: 2;
        text-align: end;
      }

      .p-radiobutton {
        .p-radiobutton-box {
          width: 1rem;
          height: 1rem;
        }

        .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
          border-color: var(--btn-dine-primary);
        }

        .p-radiobutton-box.p-highlight {
          border-color: var(--btn-dine-primary);
          background: var(--btn-dine-primary);
        }

        .p-radiobutton-icon {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }
  }

  .heading {
    display: block;
    background: #fafafa;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.8125rem 3rem;
    font-weight: 500;
    height: 2rem;
    border: 1px solid #f5f5f5;

    @media (min-width: 768px) {
      padding: 1em;
      height: auto;
      border: 0;
    }
  }

  .close:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .icon-close:before {
    content: "\f00d";
    font-family: fontAwesome;
  }

  .close {
    position: absolute;
    font-size: 1rem;
    line-height: 1rem;
    right: 1.125rem;
    left: auto;
    top: 0.5rem;
  }
}

.menu-overlay {
  position: fixed;
  overflow: auto;
}

.popup-overlay.cart-items-preview {
  .customize-popup {
    display: flex;
    flex-direction: column;
  }
}

.cell{
  background: green;
  padding: 2px;
}