<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{ l('Tickets') }} - {{l("Summary")}}</span>
        </h4>
        <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="form-group">
                    <label class="control-label">{{l("Date")}}</label>
                    <input
                        class="form-control"
                        id="date"
                        name="date"
                        #drp="bsDaterangepicker"
                        bsDaterangepicker
                        dateRangePickerMomentModifier
                        [(date)]="dateRangeModel"
                        [bsConfig]="{ rangeInputFormat: 'YYYY-MM-DD', ranges: ranges, containerClass: 'custom-datepicker' }"
                        [placeholder]="l('DateRange')"
                        (dateChange)="refresh()"
                        (onShown)="showedDateRangePicker()"
                    />
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="form-group">
                    <label class="control-label">{{l("Compare")}}</label>
                    <input
                        class="form-control"
                        id="date"
                        name="date"
                        #drp="bsDaterangepicker"
                        bsDaterangepicker
                        dateRangePickerMomentModifier
                        [(date)]="cdateRangeModel"
                        [bsConfig]="{ rangeInputFormat: 'YYYY-MM-DD', ranges: ranges, containerClass: 'custom-datepicker' }"
                        [placeholder]="l('DateRange')"
                        (dateChange)="crefresh()"
                        (onShown)="showedDateRangePicker()"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td>
                            <b>{{ l('Total') }}</b>
                        </td>
                        <td align="right">
                            {{ totalTicketAmount | number: '1.1-2' }}
                        </td>
                        <td *ngIf="down && display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td *ngIf="!down && display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{{ l('Tickets') }}</b>
                        </td>
                        <td align="right">
                            {{ totalTickets | number: '1.1-2' }}
                        </td>
                        <td *ngIf="downTickets && display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td *ngIf="!downTickets && display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> {{ l('Orders') }}</b>
                        </td>
                        <td align="right">
                            {{ totalOrders | number: '1.1-2' }}
                        </td>
                        <td *ngIf="downOrders && display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td *ngIf="!downOrders && display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> {{ l('Items') }}</b>
                        </td>
                        <td align="right">
                            {{ totalItems | number: '1.1-2' }}
                        </td>
                        <td *ngIf="downItems && display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td *ngIf="!downItems && display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>{{ l('Average') }}</b>
                        </td>
                        <td align="right">
                            {{ totalAverage | number: '1.1-2' }}
                        </td>
                        <td *ngIf="downAvg && display">
                            <i class="fa fa-level-down"></i>
                        </td>
                        <td *ngIf="!downAvg && display">
                            <i class="fa fa-level-up"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td>
                            <b>{{ l('Total') }}</b>
                        </td>
                        <td align="right">
                            {{ ctotalTicketAmount | number: '1.1-2' }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{{ l('Tickets') }}</b>
                        </td>
                        <td align="right">
                            {{ ctotalTickets | number: '1.1-2' }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>{{ l('Orders') }}</b>
                        </td>
                        <td align="right">
                            {{ ctotalOrders | number: '1.1-2' }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> {{ l('Items') }}</b>
                        </td>
                        <td align="right">
                            {{ ctotalItems | number: '1.1-2' }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b> {{ l('Average') }}</b>
                        </td>
                        <td align="right">
                            {{ ctotalAverage | number: '1.1-2' }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="hourly_chart"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
    </div>
</div>
