::ng-deep {
    .bs-datepicker.custom-datepicker.show {
        top: 10px;
        right: 210px;
    }

    .bs-datepicker.custom-datepicker.dashboard {
        .bs-datepicker-container.ng-trigger-datepickerAnimation {
            display: none;
        }

        .bs-datepicker-container.ng-trigger-datepickerAnimation.show {
            display: block;
        }

        .bs-datepicker-head button {
            color: #54708b;
        }
    }
}