.popup-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  bottom: 0;
  overflow: auto;
  background-color: #fff;
  @media (min-width: 768px) {
    overflow: hidden;
    background-color: rgba(65, 73, 82, 0.8);
  }
  .popupholder {
    @media (min-width: 768px) {
      position: fixed;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .popupholder.v2 {
      height: calc(100% - 30px);
      overflow-x: hidden;
      overflow-y: auto;

      @media (min-width: 992px) {
        height: calc(100% - 50px);
      }
    }
    .main-popup {
      position: relative;
      background: #fff;
      min-width: 20rem;

      @media (min-width: 768px) {
        width: 26.375rem;
        margin: 0.625rem 0;
        //border-radius: 0.375rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
      }
      @media (min-width: 768px) {
        margin: 0 0 10px;
      }

      .heading {
        display: block;
        background: #fafafa;
        font-size: 0.875rem;
        line-height: 1rem;
        padding: 1.125rem 2.375rem;
        font-weight: 500;
        min-height: 3.25rem;
        //border-radius: 0.375rem 0.375rem 0 0;
        text-align: center;
        border: 1px solid #f5f5f5;
        @media (min-width: 360px) {
          padding: 1.125rem 3rem;
        }
        @media (min-width: 768px) {
          padding: 1.625rem 1.875rem;
          border: 0;
          height: auto;
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }
      .icon-close:before {
        content: "\f00d";
        font-family: fontAwesome;
      }
      .close {
        position: absolute;
        left: 0.9375rem;
        top: 0.9375rem;
        font-size: 1rem;
        line-height: 1rem;
        @media (min-width: 768px) {
          right: 1.125rem;
          left: auto;
          top: 1.625rem;
        }
      }

      .mainpopup-holder {
        padding: 0.9375rem 1.25rem 1.125rem;
      }
      .input-holder {
        margin: 0 0 0.5rem;
      }
      .main-popup label {
        display: block;
        margin: 0 0 0.875rem;
        color: #7e8389;
      }
      .form-control {
        background: #fff;
        width: 100%;
        height: 3.25rem;
        border: 1px solid #f5f5f5;
        //border-radius: 0.375rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.75rem;
        line-height: 1rem;
        padding: 1.0625rem 1.1875rem 1.0625rem;
      }
      .btn.btn-primary:disabled {
        background-color: gray;
      }
      .btn.btn-primary {
        color: #fff;
      }
      .btn {
        display: block;
        text-transform: uppercase;
        height: 3.125rem;
        padding: 1.125rem 0.9375rem;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 0.875rem;
        letter-spacing: 1.5px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
