<div class="popup-overlay" *ngIf="showResetPass">
    <div class="popupholder v2">
        <div class="main-popup">
            <strong class="heading">Set a new password</strong>
            <a href="javascript:;" class="close icon-close" (click)="closePopup()"></a>
            <form action="#" class="mainpopup-holder" [formGroup]="passwordForm">
                <div class="input-holder">
                    <label>Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Choose a password"
                        formControlName="newPassword">
                    <span class="error-msg" *ngIf="fp.newPassword.errors?.minlength">Passwords must be at least 8
                        characters.</span>
                    <span class="error-msg" *ngIf="fp.newPassword.errors?.required">Please enter password.</span>
                </div>
                <div class="input-holder">
                    <label>Confirm password</label>
                    <input type="password" id="confirm_password" class="form-control" placeholder="Confirm password"
                        formControlName="confirmPassword">
                    <span class="error-msg" *ngIf="passwordForm.errors?.invalidConfirm">The password doesn’t match.
                        Please re-enter.</span>
                </div>
                <input type="button" class="btn btn-primary" value="SAVE" (click)="resetPassword()">
            </form>
        </div>
    </div>
</div>