<div class="wrapper-menu">
    <div class="wrapper-nav-bar">
        <button class="burger-btn" (click)="leftMenuRef.show()" *ngIf="userId">
            <!-- <i class="fa fa-bars"></i> -->
            <img src="assets/image/close-burger.png" alt="" />
        </button>

        <button class="backward-btn" (click)="onClickBack()">
            <i class="fa fa-arrow-left"></i>
        </button>
        <div class="wrapper-logo" *ngIf="logoUrl">
            <img [src]="logoUrl" class="logo" [routerLink]="['/']" routerLinkActive="router-link-active" />
        </div>
    </div>
    <div class="wrapper-categories">
        <div class="category">
            <p id="title">Privacy Policy</p>
        </div>
    </div>

    <div class="wrapper-body">
        <div class="privacy-content-block" [innerHTML]="dynamicPage?.html | safeHtml"></div>
    </div>
</div>

<app-left-side-menu #leftMenuRef> </app-left-side-menu>