﻿<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #wheelTaxForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="wheelTax.id">{{l("EditWheelTax")}}</span>
                        <span *ngIf="!wheelTax.id">Create New Tax</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="WheelTax_Name">{{l("Name")}}</label>
                        <input type="text" id="WheelTax_Name" class="form-control" [(ngModel)]="wheelTax.name"
                            name="Name" />
                    </div>

                    <div class="form-group m-form__group">
                        <label for="WheelTaxName">DinePlan Tax</label>
                        <ng-select [items]="allWheelTaxs" bindLabel="displayName" bindValue="id" [multiple]="false"
								[(ngModel)]="wheelTax.dinePlanTaxId" name="taxes"></ng-select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!wheelTaxForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>