﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Taxes' | localize" [description]="'TenantsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="la-file-excel-o"></i> {{ l('ExportToExcel') }}
                </button>
                <button *ngIf="isGranted('Pages.WheelTaxes.Create')" (click)="createWheelTax()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{ 'CreateNewTax' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getWheelTaxes($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="name">
                                            Wheel Tax Name
                                            <p-sortIcon field="wheelTax.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="dinePlanTaxFk.name">
                                            DinePlan Tax Name
                                            <p-sortIcon field="wheelTaxName"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.WheelTaxes.Edit', 'Pages.WheelTaxes.Delete')"
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.wheelTax.name }}
                                        </td>

                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.wheelTaxName }}
                                        </td>
                                        <td
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.WheelTaxes.Edit', 'Pages.WheelTaxes.Delete')"
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="viewWheelTaxModal.show(record)"
                                                            >{{ l('View') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.WheelTaxes.Edit')"
                                                            (click)="createOrEditWheelTaxModal.show(record.wheelTax.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.WheelTaxes.Delete')"
                                                            (click)="deleteWheelTax(record.wheelTax)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>

                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getWheelTaxes($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditWheelTaxModal #createOrEditWheelTaxModal (modalSave)="getWheelTaxes()"></createOrEditWheelTaxModal>
        <viewWheelTaxModal #viewWheelTaxModal></viewWheelTaxModal>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="NameFilter">{{ l('Name') }}</label>
                <input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter" />
            </div>
            <div class="form-group">
                <label for="WheelTaxNameFilter">({{ l('WheelTax') }}) {{ l('Name') }}</label>
                <input
                    type="text"
                    class="form-control"
                    id="WheelTaxNameFilter"
                    name="wheelTaxNameFilter"
                    [(ngModel)]="wheelTaxNameFilter"
                />
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
