<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="!promotionCategory.id ? l('CreatePromotionCategory') : l('EditPromotionCategory') + ': ' + promotionCategory.name">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #categoryForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="required-field">{{ l('Code') }} </label>
                                    <input class="form-control ucase" name="code" type="text"
                                        [(ngModel)]="promotionCategory.code" required #code="ngModel" />
                                    <validation-messages [formCtrl]="code"></validation-messages>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="required-field">{{ l('Name') }}</label>
                                    <input class="form-control ucase" type="text" name="name"
                                        [(ngModel)]="promotionCategory.name" required #name="ngModel" />
                                    <validation-messages [formCtrl]="name"></validation-messages>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="required-field">{{ l('Tag') }}</label>
                                    <input class="form-control ucase" type="text" name="tag"
                                        [(ngModel)]="promotionCategory.tag" required #tagInput="ngModel" />
                                    <validation-messages [formCtrl]="tagInput"></validation-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{
                            l('Cancel') }}</button>
                        <button class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                            [disabled]="!categoryForm.form.valid">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
