<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Schedules' | localize">
            <div role="actions">
                <button
                    [disabled]="!selectedSchedules || selectedSchedules.length == 0"
                    (click)="deleteSchedules()"
                    class="btn btn-outline-danger mr-1"
                >
                    <i class="fa fa-trash"></i> {{ l('Deletes') }}
                </button>
                <div *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Schedules.EditSchedule')" class="btn-group" dropdown>
                    <button
                        [disabled]="!selectedSchedules || selectedSchedules.length == 0"
                        dropdownToggle
                        type="button"
                        class="btn btn-outline-success dropdown-toggle mr-1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Schedules.EditCalender')"
                    >
                        {{ 'PublishSchedules' | localize }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-publish" *dropdownMenu>
                        <a class="dropdown-item" (click)="publishSchedules(ScheduleDetailStatus.Published)" href="javascript:;">
                            {{ 'Publish' | localize }}
                        </a>
                        <a class="dropdown-item" (click)="publishSchedules(ScheduleDetailStatus.Draft)" href="javascript:;">
                            {{ 'Draft' | localize }}
                        </a>
                    </div>
                </div>
                <button
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Schedules.EditSchedule')"
                    (click)="import()"
                    class="btn btn-outline-success"
                >
                    <i class="fa fa-download"></i> {{ l('Import') }}
                </button>
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i> {{ l('Export') }}</button>
                <button (click)="calender()" class="btn btn-primary blue">
                    {{ l('Calendar') }}
                </button>
                <button
                    (click)="editCalendar()"
                    class="btn btn-primary blue"
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Schedules.EditCalender')"
                >
                    {{ l('EditCalendar') }}
                </button>
                <button
                    (click)="schedule()"
                    class="btn btn-primary blue"
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Schedules.EditSchedule')"
                >
                    {{ l('EditSchedules') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getAll($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                dataKey="id"
                                [responsive]="primengTableHelper.isResponsive"
                                [(selection)]="selectedSchedules"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Tiffin.Manage.Schedules.EditSchedule',
                                                    'Pages.Tenant.Tiffin.Manage.Schedules.Delete'
                                                )
                                            "
                                            style="width: 50px"
                                        >
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>

                                        <th style="width: 120px" pSortableColumn="schedule.date">
                                            {{ l('Date') }}
                                            <p-sortIcon field="schedule.date"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" pSortableColumn="schedule.MealTime.Name">
                                            {{ l('MealTime') }}
                                            <p-sortIcon field="schedule.MealTime.Name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="productSet.name">
                                            {{ l('ProductSet') }}
                                            <p-sortIcon field="productSet.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="productSet.tag">
                                            {{ l('Products') }}
                                            <p-sortIcon field="productSet.tag"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">
                                            {{ l('Status') }}
                                        </th>
                                        <th style="width: 100px" [hidden]="!isGranted('Pages.Tenant.Tiffin.Manage.Schedules.Delete')">
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td [hidden]="!isGranted('Pages.Tenant.Tiffin.Manage.Schedules.EditSchedule')" style="width: 50px">
                                            <p-tableCheckbox class="schedule-checkbox" [value]="record"></p-tableCheckbox>
                                        </td>

                                        <td style="width: 120px">
                                            <span class="ui-column-title"> {{ l('Date') }}</span>
                                            {{ record.date | momentFormat: 'YYYY-MM-DD' }}
                                        </td>
                                        <td style="width: 120px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.mealTimeName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.productSetName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Tags') }}</span>
                                            <span *ngFor="let item of record.products">
                                                {{ item.productName + ';' }}
                                            </span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{ 'Status' | localize }}</span>
                                            <span
                                                class="label label-success label-inline"
                                                *ngIf="record.status == ScheduleDetailStatus.Published"
                                                >{{ 'Published' | localize }}</span
                                            >
                                            <span
                                                class="label label-dark label-inline"
                                                *ngIf="record.status == ScheduleDetailStatus.Draft"
                                                >{{ 'Draft' | localize }}</span
                                            >
                                        </td>
                                        <td style="width: 100px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    <span class="mr-5">{{ 'Actions' | localize }}</span>
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.Schedules.Delete')"
                                                            class="dropdown-item"
                                                            (click)="deleteSchedule(record)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<commonLookupModal #productSetLookupModal (itemSelected)="productSetSelected($event)"></commonLookupModal>
<commonLookupModal #productLookupModal (itemSelected)="productSelected($event)"></commonLookupModal>
<import-modal #importModal (modalSave)="getAll()"></import-modal>
<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group m-form__group">
                <label>
                    {{ l('ChooseDates') }}
                </label>
                <div class="input-group">
                    <input
                        type="text"
                        placeholder=""
                        class="form-control"
                        bsDaterangepicker
                        [(ngModel)]="dateRange"
                        name="date"
                        [placement]="'left'"
                        [bsConfig]="{
                            isAnimated: true,
                            rangeInputFormat: 'YYYY-MM-DD',
                            dateInputFormat: 'YYYY-MM-DD',
                            showWeekNumbers: false,
                            containerClass: ' custom-filter-datepicker theme-default'
                        }"
                    />
                </div>
            </div>

            <div class="mb-3">
                <label class="font-weight-bolder">
                    {{ l('ProductSet') }}
                </label>
                <div class="">
                    <button (click)="showProductSetLookUpModal()" class="btn btn-primary blue">
                        <span *ngIf="!productSetId">
                            {{ l('ChooseProductSet') }}
                        </span>
                        <span *ngIf="productSetId">
                            {{ selectedProductSetName }}
                        </span>
                    </button>
                    <button *ngIf="productSetId" (click)="productSetId = undefined" class="btn btn-danger">
                        {{ l('Clear') }}
                    </button>
                </div>
            </div>

            <div>
                <label class="font-weight-bolder">
                    {{ l('Product') }}
                </label>
                <div>
                    <button (click)="showProductLookUpModal()" class="btn btn-primary blue">
                        <span *ngIf="!productId">
                            {{ l('ChooseProduct') }}
                        </span>
                        <span *ngIf="productId">
                            {{ selectedProductName }}
                        </span>
                    </button>
                    <button *ngIf="productId" (click)="productId = undefined" class="btn btn-danger">
                        {{ l('Clear') }}
                    </button>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
