.address-name {
    border-radius: 50px;
    padding: 1px 5px;
    border: 0.2px solid #ccc;
}

.default-title {
    color: #0abb87;
    font-size: 15px;
}

form {
    .form-group {
        input {
            border: 1px solid #ced4da;
        }
    }
}
