<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="!connectCardType.id ? l('CreateConnectCardType') : l('EditConnectCardType') + ': ' + connectCardType.name">
            <div role="actions">
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset class="tab-container tabbable-line">
                        <tab [active]="selectedTab == TAB.CARD_TYPE" heading="{{ l('CardType') }}"
                            customClass="kt-tabs__item" [tabindex]="TAB.CARD_TYPE" class="py-5"
                            (selectTab)="onChangeTab(TAB.CARD_TYPE)">
                            <form #cardTypeForm="ngForm" novalidate class="form card-type-form" (ngSubmit)="save()">

                                <div class="form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="category">{{ l('Category') }}
                                                    <a href="javascript:;"
                                                        *ngIf="connectCardType.connectCardTypeCategoryId" class="ml-5"
                                                        (click)="connectCardType.connectCardTypeCategoryId = undefined">
                                                        {{ l('Clear') }}
                                                    </a>
                                                </label>
                                                <p-dropdown #categoryCombobox name="category" dataKey="value"
                                                    [options]="cardTypeCategorys"
                                                    [ngModel]="{ value: connectCardType.connectCardTypeCategoryId }"
                                                    (onChange)="connectCardType.connectCardTypeCategoryId = $event?.value?.value"
                                                    [placeholder]="l('Select') + ' ' + l('Category')"
                                                    optionLabel="displayText" [showClear]="true"
                                                    [style]="{ width: '100%' }">
                                                </p-dropdown>
                                                <validation-messages [formCtrl]="categoryCombobox">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="tag">{{ l('Tag') }} *</label>
                                                <input type="text" id="tag" class="form-control"
                                                    [(ngModel)]="connectCardType.tag" name="tag" required
                                                    #tag="ngModel" />
                                                <validation-messages [formCtrl]="tag"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Name">{{ l('Name') }} *</label>
                                                <input type="text" id="Name" class="form-control"
                                                    [(ngModel)]="connectCardType.name" name="Name" required
                                                    #nameInput="ngModel" />
                                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Length">{{ l('Length') }} *</label>
                                                <input type="text" id="Length" class="form-control"
                                                    [(ngModel)]="connectCardType.length" name="Length" required
                                                    #lengthInput="ngModel" />
                                                <validation-messages [formCtrl]="lengthInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="OneTime" class="checkbox">
                                                    <input [(ngModel)]="connectCardType.useOneTime" id="OneTime"
                                                        name="useOneTime" type="checkbox" />
                                                    {{ l('OneTime') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Validity">{{ l('Validity') }} </label>
                                                <input type="datetime" id="Validity" class="form-control"
                                                    name="Validity" #ValidityInput bsDatepicker datePickerMomentModifier
                                                    [(date)]="connectCardType.validTill"
                                                    [bsConfig]="{ adaptivePosition: true }" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </tab>
                        <ng-container *ngIf="connectCardType.id">
                            <tab heading="{{ l('GenerateNewCards') }}" [active]="selectedTab == TAB.GENERATE_NEW_CARDS"
                                customClass="kt-tabs__item" [tabindex]="TAB.GENERATE_NEW_CARDS" class="py-5"
                                (selectTab)="onChangeTab(TAB.GENERATE_NEW_CARDS)">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{l("Prefix")}}</label>
                                            <input class="form-control" type="text" name="prefix"
                                                [(ngModel)]="prefix" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{l("TotalDigit")}} *</label>
                                            <input class="form-control" type="text" name="cardNumberOfDigits" required
                                                [(ngModel)]="cardNumberOfDigits" [textMask]="{mask: numberMask}"
                                                #cardNumberOfDigitsInput="ngModel" />
                                            <validation-messages [formCtrl]="cardNumberOfDigitsInput">
                                            </validation-messages>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{l("Suffix")}}</label>
                                            <input class="form-control" type="text" name="suffix"
                                                [(ngModel)]="suffix" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-top-40">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{l("CardStartingNumber")}} *</label>
                                            <input class="form-control" type="text" name="cardStartingNumber" required
                                                [(ngModel)]="cardStartingNumber" [textMask]="{mask: numberMask}"
                                                #cardStartingNumberInput="ngModel" />
                                            <validation-messages [formCtrl]="cardStartingNumberInput">
                                            </validation-messages>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{l("TotalCards")}} *</label>
                                            <input class="form-control" type="text" name="cardCount" required
                                                [(ngModel)]="cardCount" [textMask]="{mask: numberMask}"
                                                #cardCountInput="ngModel" />
                                            <validation-messages [formCtrl]="cardCountInput"></validation-messages>
                                        </div>
                                    </div>
                                </div>

                                <div class="row text-right w-100">
                                    <div class="col-md-12">
                                        <button type="button" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                                            class="btn btn-primary btn-success" (click)="generateCards()"
                                            [disabled]="cardTypeForm.form.invalid">
                                            <i class="fa fa-save"></i> <span>{{l("GenerateNewCards")}}</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row margin-top-40">
                                    <br />
                                </div>
                            </tab>
                            <tab heading="{{ l('Cards') }}" [active]="selectedTab == TAB.CARDS"
                                customClass="kt-tabs__item" [tabindex]="TAB.CARDS" class="py-5"
                                (selectTab)="onChangeTab(TAB.CARDS)">
                                <div *ngIf="cardList?.length == 0">
                                    {{l("NoRecordsFound")}}
                                </div>

                                <div *ngIf="cardList?.length > 0" class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered col-md-12">
                                            <thead>
                                                <tr>
                                                    <th>{{l("CardNumber")}}</th>
                                                    <th>{{l("CardType")}}</th>
                                                    <th>{{l("Redeemed")}}</th>
                                                    <th>{{l("CreationTime")}}</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let item of cardList">
                                                <td>
                                                    <b>
                                                        <span>{{item.cardNo}}</span>
                                                    </b>
                                                </td>
                                                <td>
                                                    {{item.connectCardTypeName}}
                                                </td>
                                                <td>
                                                    {{item.redeemed}}
                                                </td>
                                                <td>
                                                    {{item.creationTime | date:'dd-MM-yyyy HH:mm'}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Import') }}" [active]="selectedTab == TAB.IMPORT"
                                customClass="kt-tabs__item" [tabindex]="TAB.IMPORT" class="py-5"
                                (selectTab)="onChangeTab(TAB.IMPORT)">
                                <div class="row ">
                                    <div class="col-md-6 form-group">
                                        <button type="button" class="btn btn-outline-success" (click)="import()">
                                            <i class="fa fa-download"></i> {{l("Import")}}
                                        </button>
                                    </div>
                                </div>
                            </tab>
                        </ng-container>
                    </tabset>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{
                            l('Cancel') }}</button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!cardTypeForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<import-modal #importModal (modalSave)="onModalSave()"></import-modal>