@import "../../../assets/scss/mixins";
:host {
    display: block;
    min-height: 100%;
    .sign-up {
        justify-content: center;
        &__with {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &__info {
            margin-top: 1.3rem;
            &__submitBtn {
                @include submitBtn(var(--black-1))
            }
            &__terms {
                font-size: 0.75rem;
                margin-top: 0.5rem;
                text-align: center;
            }
        }
    }
}