<div class="container pt-4 pb-2">
    <div class="row sign-up">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 pl-4 pr-4">
            <div class="sign-up__info">
                <form action="javascript:;" class="d-flex flex-column align-items-center" [formGroup]="registerForm">
                    <div class="input-control">
                        <span class="p-float-label custom-form-control">
                            <input autofocus type="email" id="new-email" pInputText class="form-control"
                                formControlName="emailAddress">
                            <label for="float-input">Email Address</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.emailAddress)">Please enter an valid email
                            address.</span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control">
                            <input type="tel" id="phone" pInputText class="form-control" formControlName="phoneNumber">
                            <label for="float-input">Mobile Number</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.phoneNumber)">Please enter a valid mobile
                            number.</span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control">
                            <input type="text" id="fname" pInputText class="form-control" formControlName="name">
                            <label for="float-input">Name</label>
                        </span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control">
                            <input type="text" id="sname" pInputText class="form-control" formControlName="surname">
                            <label for="float-input">Surname</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.surname)">Please enter your surname.</span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control">
                            <input type="text" id="userName" pInputText class="form-control" formControlName="userName">
                            <label for="float-input">User Name</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.userName)">Please enter your user name.</span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control p-input-icon-right w-100">
                            <i style="cursor: pointer;" (click)="isHiddenPassword = !isHiddenPassword"
                                class="pi {{isHiddenPassword ? 'pi-eye-slash' : 'pi-eye'}}"></i>
                            <input type="{{ isHiddenPassword ? 'password' : 'text' }}" pInputText id="new-password"
                                class="form-control" formControlName="newPassword">
                            <label for="float-input">Password</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.newPassword)">Your password must have at least
                            8 characters.</span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control p-input-icon-right w-100">
                            <i (click)="isHiddenConfirmPassword = !isHiddenConfirmPassword" style="cursor: pointer;"
                                class="pi {{isHiddenConfirmPassword ? 'pi-eye-slash' : 'pi-eye'}}"></i>
                            <input type="{{isHiddenConfirmPassword ? 'password' : 'text'}}" pInputText
                                id="confirm_password" class="form-control" formControlName="confirmPassword">
                            <label for="float-input">Confirm password</label>
                        </span>
                        <span class="error-msg"
                            *ngIf="registerForm.errors?.invalidConfirm && (registerForm.touched || registerForm.dirty);">The
                            password doesn’t match.
                            Please re-enter.</span>
                    </div>

                    <button pRipple pButton type="submit" class="btn-dine-primary" label="Sign Up"
                        (click)="registryUser()"></button>
                    <span class="sign-up__info__terms">Have an account?
                        <a routerLink="/sign-in">Sign in</a></span>
                    <span class="sign-up__info__terms">By creating an account, you agree to our&nbsp;
                        <a href="#">Terms of Service.</a></span>
                </form>
            </div>
        </div>
    </div>
</div>