<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'OrderReturn' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="bg-font-blue-sharp">
                                                <small>{{ totalAmount | number: '1.0-2' }}</small>
                                            </h3>
                                            <small>{{ l('Total').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-pie-chart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ totalOrders | number: '1.0-2' }}</h3>
                                            <small>{{ l('Orders').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-cart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ totalItems | number: '1.0-2' }}</h3>
                                            <small>{{ l('Items').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">

                                <query-builder #queryBuilder *ngIf="config.fields" [(ngModel)]="query" [config]="config"
                                    [classNames]="queryBuilderClassNames" name="Conditions">
                                </query-builder>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-10">
                                <span class="clickable-item text-muted mt-3" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{ l("ShowAdvancedFilters") }}</span>
                                <span class="clickable-item text-muted mt-3" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{ l("HideAdvancedFilters") }}</span>
                            </div>
                        </div>-->
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getOrders()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="locationCode">
                                            {{ l('LocationCode') }}
                                            <p-sortIcon field="locationCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="locationName">
                                            {{ l('LocationName') }}
                                            <p-sortIcon field="locationName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="dateTimeString">
                                            {{ l('DateTime') }}
                                            <p-sortIcon field="dateTimeString"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="cashier">
                                            {{ l('Cashier') }}
                                            <p-sortIcon field="cashier"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ticketNumber">
                                            {{ l('TicketNumber') }}
                                            <p-sortIcon field="ticketNumber"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="customerName">
                                            {{ l('CustomerName') }}
                                            <p-sortIcon field="customerName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="menuCode">
                                            {{ l('MenuCode') }}
                                            <p-sortIcon field="menuCode"></p-sortIcon>
                                        </th>       
                                        <th pSortableColumn="menuName">
                                            {{ l('MenuName') }}
                                            <p-sortIcon field="menuName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="quantity">
                                            {{ l('Quantity') }}
                                            <p-sortIcon field="quantity"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="paymentType">
                                            {{ l('PaymentType') }}
                                            <p-sortIcon field="paymentType"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="refundType">
                                            {{ l('RefundType') }}
                                            <p-sortIcon field="refundType"></p-sortIcon>
                                        </th>      
                                        <th pSortableColumn="returnProductDateString">
                                            {{ l('ReturnProductDate') }}
                                            <p-sortIcon field="returnProductDateString"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="returnProductBy">
                                            {{ l('ReturnProductBy') }}
                                            <p-sortIcon field="returnProductBy"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="reason">
                                            {{ l('Reason') }}
                                            <p-sortIcon field="reason"></p-sortIcon>
                                        </th>   
                                        <th pSortableColumn="detail">
                                            {{ l('Detail') }}
                                            <p-sortIcon field="detail"></p-sortIcon>
                                        </th> 
                                        <th pSortableColumn="amount">
                                            {{ l('Amount') }}
                                            <p-sortIcon field="amount"></p-sortIcon>
                                        </th>                                                                    
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('LocationCode') }}</span>
                                            {{ record.locationCode }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('LocationName') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('DateTime') }}</span>
                                            {{ record.dateTimeString }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Cashier') }}</span>
                                            {{ record.cashier }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TicketNumber') }}</span>
                                            {{ record.ticketNumber }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('CustomerName') }}</span>
                                            {{ record.customerName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('MenuCode') }}</span>
                                            {{ record.menuCode }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('MenuName') }}</span>
                                            {{ record.menuName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Quantity') }}</span>
                                            {{ record.quantity }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('PaymentType') }}</span>
                                            {{ record.paymentType }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('RefundType') }}</span>
                                            {{ record.refundType }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('ReturnProductDate') }}</span>
                                            {{ record.returnProductDateString }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('ReturnProductBy') }}</span>
                                            {{ record.returnProductBy }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Reason') }}</span>
                                            {{ record.reason }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Detail') }}</span>
                                            {{ record.detail }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Amount') }}</span>
                                            {{ record.amount }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="16">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8"></td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationQuantityValue | number: '1.2'}}</td>
                                        <td colspan="6"></td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationAmountValue | number: '1.2'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getOrders($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

<app-order-report-detail-modal #detailmodal></app-order-report-detail-modal>
