<!-- <div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <div class="login-aside d-flex flex-column flex-row-auto justify-content-center"
            style="background-image: url('/assets/metronic/common/images/bg/bg-4.jpg'); padding: 3rem 3.5rem;" *ngIf="!useFullWidthLayout()">
            <div class="d-flex flex-column-auto flex-column align-items-start">
                <a (click)="goToHome()" href="" class="text-center mb-10">
                    <img *ngIf="appSession.tenant && appSession.tenant.logoId"
                        [src]="remoteServiceBaseUrl + '/TenantCustomization/GetTenantLogo?skin=light&tenantId=' + appSession.tenant.id + '&id=' + appSession.tenant.logoId"
                        alt="logo" class="max-h-70px" />
                </a>
                <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style="color: #fff;
                font-size: 2rem;
                font-weight: 500;">DineConnect</h3>
                <h4 class="font-weight-bolder text-left font-size-h5" style="font-size: 1.2rem;
                font-weight: 200;
                margin: 2.5rem 0 3.5rem;
                color: hsla(0,0%,100%,.7);">
                    Complete Food and Beverage Software Solutions.
                </h4>
            </div>
        </div>
        <div [ngClass]="{'login-content': !useFullWidthLayout()}"
            class="flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex flex-column-fluid flex-center">
                <div class="login-form login-signin">
                    <div class="pb-13 pt-lg-0 pt-5">
                        <a (click)="goToHome()" href="" class="text-center mb-10" *ngIf="useFullWidthLayout()">
                            <img *ngIf="appSession.tenant && appSession.tenant.logoId"
                                [src]="remoteServiceBaseUrl + '/TenantCustomization/GetTenantLogo?skin=light&tenantId=' + appSession.tenant.id + '&id=' + appSession.tenant.logoId"
                                alt="logo" class="max-h-70px" />
                        </a>
                        <div *ngIf="showTenantChange()" class="login__signup-label tenant-change-box">
                            <tenant-change></tenant-change>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
                <language-switch class="mx-auto"></language-switch>
            </div>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>
