<section class="summary pad-200 yellow_bg">
    <div class="container">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div id="address-book">
                        <form
                            #editAddress="ngForm"
                            role="form"
                            novalidate
                            class="form-validation"
                            (submit)="save()"
                        >
                            <div style="margin-bottom: 20px;">
                                <h5 *ngIf="!addressId">
                                    {{ "CreateAddress" | localize }}
                                </h5>
                                <h5 *ngIf="addressId">
                                    {{ "EditAddress" | localize }}
                                </h5>
                            </div>
                            <div class="form-group">
                                <label for="Name"
                                    >{{ "NameTag" | localize }} *</label
                                >
                                <input
                                    id="Name"
                                    #NameInput="ngModel"
                                    class="form-control"
                                    type="text"
                                    name="Name"
                                    [(ngModel)]="addressDetail.name"
                                    required
                                    placeholder="Name Tag"
                                />
                                <validation-messages
                                    [formCtrl]="NameInput"
                                ></validation-messages>
                            </div>
                            <div class="form-group">
                                <label for="Address1"
                                    >{{ "Address1" | localize }}*</label
                                >
                                <input
                                    id="Address1"
                                    #Address1Input="ngModel"
                                    class="form-control"
                                    type="text"
                                    name="Address1"
                                    [(ngModel)]="addressDetail.address1"
                                    required
                                    [placeholder]="l('Address1_Plh')"
                                />
                                <validation-messages
                                    [formCtrl]="Address1Input"
                                ></validation-messages>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <label for="FloorNo">{{
                                        "Address2" | localize
                                    }}</label>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            name="FloorNo"
                                            #FloorNoInput="ngModel"
                                            class="form-control"
                                            [(ngModel)]="floorNo"
                                            required
                                            [placeholder]="
                                                l('Address2Floor_Plh')
                                            "
                                        />
                                        <div class="form-control-feedback">
                                            <p>{{ floorNo === '' ? '*If not applicable Please enter 0' : ''}}</p> 
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            name="UnitNo"
                                            #UnitNoInput="ngModel"
                                            class="form-control"
                                            [(ngModel)]="unitNo"
                                            required
                                            [placeholder]="
                                                l('Address2Unit_Plh')
                                            "
                                        />
                                        <div class="form-control-feedback">
                                            <p>{{ unitNo === '' ? '*If not applicable Please enter 0' : ''}}</p>   
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            name="Tower"
                                            #TowerInput="ngModel"
                                            class="form-control"
                                            [(ngModel)]="tower"
                                            [placeholder]="
                                                l('Address2Tower_Plh')
                                            "
                                        />
                                        <validation-messages
                                            [formCtrl]="TowerInput"
                                        ></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Address3">{{
                                    "Address3" | localize
                                }}</label>
                                <input
                                    type="text"
                                    name="Address3"
                                    class="form-control"
                                    [(ngModel)]="addressDetail.address3"
                                    placeholder="Address 3"
                                />
                            </div>

                            <div class="row">
                                <div *ngIf="disableIfDefault" class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="PhoneNumber"
                                            >{{
                                                "PhoneNumber" | localize
                                            }}
                                            *</label
                                        >
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    >+
                                                    {{
                                                        addressDetail.callingCode
                                                    }}</span
                                                >
                                            </div>
                                            <input
                                                id="PhoneNumber"
                                                #phoneNumberInput="ngModel"
                                                type="text"
                                                class="form-control"
                                                [(ngModel)]="
                                                    addressDetail.phoneNumber
                                                "
                                                (keypress)="
                                                    returnOnlyNumber($event)
                                                "
                                                name="PhoneNumber"
                                                required
                                                maxlength="256"
                                                placeholder="Phone Number"
                                            />
                                        </div>
                                        <validation-messages
                                            [formCtrl]="phoneNumberInput"
                                        ></validation-messages>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="WhatAppNo">{{
                                            "WhatsAppNumber" | localize
                                        }}</label>
                                        <input
                                            id="WhatAppNo"
                                            #WhatAppNo="ngModel"
                                            type="text"
                                            name="WhatAppNo"
                                            class="form-control"
                                            [(ngModel)]="
                                                addressDetail.whatAppNumber
                                            "
                                            (keypress)="
                                                returnOnlyNumber($event)
                                            "
                                            maxlength="256"
                                            placeholder="Whats App Number"

                                        />
                                        <validation-messages
                                            [formCtrl]="WhatAppNo"
                                        ></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="PropertyType"
                                            >{{ l("PropertyType") }} *</label
                                        >
                                        <select
                                            id="PropertyType"
                                            class="form-control"
                                            [(ngModel)]="addressDetail.property"
                                            name="PropertyType"
                                            #propertyType="ngModel"
                                            required
                                        >
                                        <option [ngValue]="undefined" selected disabled>
                                            {{ 'Select Property Type' | localize }}
                                        </option>
                                            <option
                                                *ngFor="
                                                    let item of propertyOptions
                                                "
                                                [ngValue]="item.value"
                                            >
                                                {{ item.text }}
                                            </option>
                                        </select>
                                        <validation-messages
                                            [formCtrl]="propertyType"
                                        ></validation-messages>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="Postcode"
                                            >{{
                                                "Postcode" | localize
                                            }}
                                            *</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="Postcode"
                                            #Postcode="ngModel"
                                            [(ngModel)]="
                                                addressDetail.postcalCode
                                            "
                                            (keypress)="
                                                returnOnlyNumber($event)
                                            "
                                            required
                                            placeholder="Whats App Number"

                                        />
                                        <validation-messages
                                            [formCtrl]="Postcode"
                                        ></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label for="City"
                                            >{{ l("City") }} *</label
                                        >
                                        <select
                                            id="City"
                                            class="form-control"
                                            [(ngModel)]="addressDetail.cityId"
                                            name="City"
                                            #City="ngModel"
                                            required
                                        >
                                            <option [ngValue]="undefined">
                                                {{ "Select_City" | localize }}
                                            </option>
                                            <option
                                                *ngFor="let item of lstCity"
                                                [ngValue]="item.value"
                                            >
                                                {{ item.displayText }}
                                            </option>
                                        </select>
                                        <validation-messages
                                            [formCtrl]="City"
                                        ></validation-messages>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="Zone"
                                            >{{ l("Zone") }} *</label
                                        >
                                        <select
                                            id="Zone"
                                            class="form-control"
                                            [(ngModel)]="addressDetail.zone"
                                            name="Zone"
                                            #Zone="ngModel"
                                            required
                                        >
                                            <option
                                                *ngFor="let item of zoneOptions"
                                                [ngValue]="item.value"
                                            >
                                                {{ item.text }}
                                            </option>
                                        </select>
                                        <validation-messages
                                            [formCtrl]="Zone"
                                        ></validation-messages>
                                    </div>
                                </div> -->
                            </div>

                            <div class="form-group">
                                <label for="Country"
                                    >{{ l("Country") }} *</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    name="Country"
                                    #CountryInput="ngModel"
                                    [ngModel]="countryName"
                                    disabled
                                    required
                                    placeholder="Country"

                                />
                                <validation-messages
                                    [formCtrl]="CountryInput"
                                ></validation-messages>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <input
                                    type="checkbox"
                                    [(ngModel)]="addressDetail.isDefault"
                                    name="defaultAddress"
                                    value="true"
                                    [disabled]="disableIfDefault"
                                />
                                <label
                                    class="form-check-label"
                                    for="defaultAddress"
                                >
                                    {{ "Set default address" | localize }}
                                </label>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    (click)="save()"
                                    [disabled]="
                                        !editAddress.form.valid || saving
                                    "
                                >
                                    <i class="fa fa-save"></i>
                                    {{ "Save" | localize }}
                                </button>
                                <button
                                    type="submit"
                                    class="btn btn-default"
                                    (click)="back()"
                                >
                                    <i class="fas fa-arrow-circle-left"></i>
                                    {{ "Back" | localize }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
