.order-status-container {
    min-height: 100%;
    text-align: center;
    .order-code {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .time-order {
        font-size: 1rem;
        font-weight: 400;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        //border-radius: 0.5rem;
        transition: 0.3s;
        width: 60%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 768px) {
            width: 90%;
        }
        .card-header {
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            background-color: #efefef;
            font-weight: 500;
            font-size: 1.5rem;
            text-align: start;
        }
        .order-qr {
            padding-top: 1rem;
            text-align: center;
            margin: 0 2rem;
            border-bottom: 1px solid #00000064;
        }
        .menu-item {
            width: 100%;
            padding: 1rem;
            .text-item {
                width: 40%;
                float: left;
                font-size: 1.2rem;
                font-weight: 500;
                padding-left: 1rem;
                text-align: start;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 2rem;
            }
            .value-item {
                width: 60%;
                float: left;
                font-size: 1.2rem;
                text-align: end;
                padding-right: 1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 2rem;
            }
        }
    }

    .back {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        height: 3rem;
        text-align: center;
        //border-radius: 0.5rem;
        padding: 0.8rem;
        margin: 1.5rem 0;
        display: inline-block;
        @media (max-width: 768px) {
            width: 90%;
        }
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .dummy-positioning {
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }

    .success-icon {
        display: inline-block;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 0.5rem;
        border-radius: 50%;
        border: 4px solid green;
        background-color: var(--content-background);
        position: relative;
        overflow: hidden;
        transform-origin: center;
        animation: showSuccess 180ms ease-in-out;
        transform: scale(1);
    }
    .success-status {
        color: green;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1rem;
    }

    // Elements
    .success-icon {
        &__tip,
        &__long {
            display: block;
            position: absolute;
            height: 4px;
            background-color: green;
            border-radius: 10px;
        }

        &__tip {
            width: 2.4em;
            top: 4.3em;
            left: 1.4em;
            transform: rotate(45deg);
            animation: tipInPlace 300ms ease-in-out;
            animation-fill-mode: forwards;
            animation-delay: 180ms;
            visibility: hidden;
        }

        &__long {
            width: 4em;
            transform: rotate(-45deg);
            top: 3.7em;
            left: 2.75em;
            animation: longInPlace 140ms ease-in-out;
            animation-fill-mode: forwards;
            visibility: hidden;
            animation-delay: 300ms + 140ms;
        }
    }

    @keyframes showSuccess {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    @keyframes tipInPlace {
        from {
            width: 0em;
            top: 0em;
            left: -1.6em;
        }
        to {
            width: 2.4em;
            top: 4.3em;
            left: 1.4em;
            visibility: visible;
        }
    }

    @keyframes longInPlace {
        from {
            width: 0em;
            top: 5.1em;
            left: 3.2em;
        }
        to {
            width: 4em;
            top: 3.7em;
            left: 2.75em;
            visibility: visible;
        }
    }

    #information {
        -moz-transition: height 0.5s;
        -ms-transition: height 0.5s;
        -o-transition: height 0.5s;
        -webkit-transition: height 0.5s;
        transition: height 500ms;
        height: 18rem;
        overflow: hidden;
    }

    .hide-info {
        color: black;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem;
    }

    table {
        width: 100%;
        background: #fff;

        td {
            background: #fff;
        }
    }
}
