<div class="order-status-container">
  <div class="dummy-positioning d-flex">
    <div class="success-icon">
      <div class="success-icon__tip"></div>
      <div class="success-icon__long"></div>
    </div>
  </div>
  <div class="success-status">
    Your Order has been successfully sent to kitchen
  </div>

  <div *ngIf="data" class="card">
    <div class="card-header">Order information</div>
    <div class="order-qr">
      <b> Oder ID: </b> {{ data.invoiceNo }}
      <ngx-qrcode [elementType]="elementType" [value]="value"></ngx-qrcode>
    </div>
    <div id="information">
      <div class="menu-item">
        <table>
          <tbody>
            <tr>
              <td class="text-item">Name</td>
              <td class="value-item">
                {{ data.wheelBillingInfo.name }}
              </td>
            </tr>
            <tr>
              <td class="text-item">Email</td>
              <td class="value-item">
                {{ data.wheelBillingInfo.emailAddress }}
              </td>
            </tr>

            <tr>
              <td class="text-item">Phone</td>
              <td class="value-item">
                {{ data.wheelBillingInfo.phoneNumber }}
              </td>
            </tr>
            <tr>
              <td class="text-item">Order Time</td>
              <td class="value-item">
                {{ data.orderTime | date: 'HH:mm dd/MM/yyyy' }}
              </td>
            </tr>
            <tr>
              <td class="text-item">Total</td>
              <td class="value-item">
                {{ data.paidAmount }}
              </td>
            </tr>
            <tr>
              <td class="text-item">Payment Method</td>
              <td class="value-item">
                {{ data.paymentOption }}
              </td>
            </tr>
            <tr>
              <td class="text-item">Delivery Time</td>
              <td class="value-item">01:01</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="border-top: 1px solid rgb(0 0 0 / 20%)">
      <div *ngIf="!isHideInfo" class="hide-info" (click)="openSide()">
        Hide Information
      </div>
      <div *ngIf="isHideInfo" class="hide-info" (click)="closeSide()">
        Show Information
      </div>
    </div>
  </div>
  <div class="back dine-btn-primary-dark" (click)="goToHome()">
    CONTINUE BROWSING
  </div>
</div>
