<div class="card stack-wallet">
    <div class="panel-heading">
        <div class="text-header">
            <span class="panel-title">Stack Wallet</span>
            <span class="mobile-amount">${{ customerWallet.balance | number: '1.2-2' }}</span>
        </div>
    </div>
    <div class="card-body">
        <div class="item-1">
            <img src="\assets\image\stack-canteen.png" alt="">
            <div class="amount">
                <span>Amount</span>
                <p>${{ customerWallet.balance | number: '1.2-2' }}</p>
            </div>
        </div>
        <div class="item-2">
            <button (click)="topUpWallet()">
                <img src="\assets\image\topUp.png" alt="">
                Top Up
            </button>
            <button (click)="goToTransfer()">
                <img src="\assets\image\transfer.png" alt="">
                Transfer
            </button>
        </div>
    </div>
</div>

<div class="card transaction">
    <div class="panel-heading panel-heading-transaction">
        <div class="text-header">
            <span class="panel-title panel-title-transaction">Transaction</span>
        </div>
    </div>
    <div class="card-body">
        <div class="content-info" *ngFor="let item of transactionContent">
            <div class="content-1">
                <img src="{{item.urlImg}}" alt="">
                <span>{{item.nameWallet}}</span>
            </div>
            <div class="content-2">
                <span>{{item.menu}}</span>
            </div>
            <div class="content-3">
                <span>{{item.time}}</span>
            </div>
            <div class="content-4">
                <span>{{item.price}}</span>
            </div>
            <div class="content-5">
                <span>{{item.statusOrder}}</span>
            </div>
        </div>

        <div class="mobile-view" *ngFor="let item of transactionContent">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div class="">
                    <img src="{{item.urlImg}}" alt="" style="max-width: none; width: 80%;">
                </div>
                <div style="display: flex; flex-direction: column; gap: 3px;">                
                    <span><b>{{item.nameWallet}}</b></span>
                    <span>{{item.menu}}</span>
                    <span style="margin-bottom: 5px;">{{item.time}}</span>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; gap: 7px;">
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: inherit">
                    <span><b>{{item.price}}</b></span>
                    <mat-icon style="font-size: 16px;">chevron_right</mat-icon>
                </div>
                <span class="status-order">{{item.statusOrder}}</span>
            </div>            
        </div>
    </div>
</div>