.stack-wallet {
    .panel-heading {
        background-image: url(../../../../../../assets/image/banner-settings.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid #ededed;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .text-header {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;
            margin-left: 24px;
            .panel-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #22232f;
            }
        }
    }
    .card-body {
        display: flex;
        .item-1 {
            display: flex;
            flex-direction: row;
            width: 50%;
            img {
                width: 64px;
                height: 52px;
            }
            .amount {
                display: flex;
                flex-direction: column;
                margin-left: 17px;
                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #22232f;
                }
                p {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                    color: #2d5d8c;
                }
            }
        }
        .item-2 {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            button {
                min-width: 136px;
                height: 48px;
                padding: 12px 24px 12px 24px;
                background-color: #f0f4f7;
                border: 1px solid #f0f4f7;
                border-radius: 10px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #2d5d8c;
                margin-left: 15px;
                display: flex;
                justify-content: space-between;
                column-gap: 5px;
            }
        }
    }
}

.transaction {
    margin-top: 16px;
    margin-bottom: 16px;
    .panel-heading {
        border-bottom: 1px solid #ededed;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .text-header {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;
            margin-left: 24px;
            .panel-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #22232f;
            }
        }
    }
    .card-body {
        .content-info {
            display: flex;
            height: 72px;
            border-bottom: 1px solid #ededed;
            .content-1 {
                width: 20%;
                display: flex;
                align-items: center;
                column-gap: 16px;
                span {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #22232f;
                }
            }
            .content-2 {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #22232f;
                }
            }
            .content-3 {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #22232f;
                }
            }
            .content-4 {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: #22232f;
                }
            }
            .content-5 {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 17px;
                    color: #25da37;
                    padding: 2px 8px;
                    border-radius: 34px;
                    background-color: rgba(37, 218, 55, 0.1);
                }
            }
        }
        .content-info:last-child {
            border-bottom: none;
        }
    }
}

.mobile-view{
    display: none;
}

.mobile-amount {
    display: none;
}

@media (max-width: 991px) {

    .content-info{
        display: none !important;
    }

    .mobile-view{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid #EDEDED
    }

    .item-1 {
        display: none !important;
    }

    .item-2 {
        flex-direction: column;
        width: 100% !important;
        gap: 10px;

        button {
            margin-left: 0px !important;
            padding: 12px 24px 12px 12px !important;
            width: 60% !important;
            min-width: 0px !important;
            justify-content: flex-start !important;
        }
    }

    .mobile-amount {
        display: block !important;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #22232f;
    }

    .panel-title {
        font-size: 12px !important;
        font-weight: 300 !important;
    }

    .panel-heading-transaction {
        height: 57px !important;

        .panel-title-transaction {
            font-weight: 700 !important;
            font-size: 18px !important;
            line-height: 27px !important;
            color: #22232f !important;
        }
    }

    .content-1{
        img{
            max-width: none !important;
            width: 80% !important;
        }
    }

    .transaction{
        .card-body{
            padding: 10px !important;
        }
    }

    .status-order{
        font-weight: 700;
        font-size: 12px;
        line-height: 17px;
        color: #25da37;
        padding: 2px 8px;
        border-radius: 34px;
        background-color: rgba(37, 218, 55, 0.1);
    }
}
