<section class="summary pad-200 yellow_bg">
    <div class="container">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 style="margin-bottom: 0">
                        {{ 'Topup' | localize }}
                    </h4>
                </div>
                <div class="card-body">
                    <div id="address-book">
                        <form #topupForm="ngForm" role="form" novalidate class="form-validation">
                           
                            <div class="form-group">
                                <label for="Name">{{ 'Amout' | localize }}({{ appSession.application.currency }}) *</label>
                                <input id="amount" #Amount="ngModel" class="form-control text-right" type="number" name="amount" [(ngModel)]="topup.paidAmount" required />
                                <validation-messages [formCtrl]="Amount"></validation-messages>
                            </div>

                            <section>
                                <div [hidden]="!topup?.paidAmount">
                                    <section>
                                        <div class="font-weight-bold mb-4">{{ 'PaymentMethod' | localize | uppercase }}</div>

                                        <div class="mb-4">
                                            <div class="payment-method">
                                                <div>
                                                    <div *ngIf="!stripeConfig?.secretKey && !omiseConfig?.publishKey && !adyenConfig?.apiKey">
                                                        {{ 'PaymentMethodNotAvailable' | localize }}
                                                    </div>
                                                    <div class="row payment-option" [hidden]="!stripeConfig?.secretKey">
                                                        <div class="col-md-12">
                                                            <p-radioButton
                                                                name="paymentMethod"
                                                                [value]="PAYMENT_METHOD.Stripe"
                                                                [label]="stripeData.label"
                                                                [(ngModel)]="paymentMethod"
                                                                inputId="opt1"
                                                                (onClick)="choosepaymentMethod()"
                                                            >
                                                            </p-radioButton>
                                                            <div [hidden]="paymentMethod != PAYMENT_METHOD.Stripe">
                                                                <div class="mt-3 col-md-12" *ngIf="serviceFees?.length > 0">
                                                                    <span *ngFor="let item of serviceFees; let index = index"
                                                                        >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                        <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                    </span>
                                                                    <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                </div>
                                                                <div class="cell example stripe-check-out-container">
                                                                    <form>
                                                                        <fieldset>
                                                                            <div class="row">
                                                                                <div class="field col-md-12">
                                                                                    <label
                                                                                        for="stripe-card-number"
                                                                                        data-tid="elements_examples.form.card_number_label"
                                                                                        >Card Number</label
                                                                                    >
                                                                                    <div class="baseline"></div>
                                                                                    <div id="stripe-card-number" class="input empty"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="form-group col-md-6">
                                                                                    <label
                                                                                        for="stripe-card-expiry"
                                                                                        data-tid="elements_examples.form.card_expiry_label"
                                                                                        >Expiration</label
                                                                                    >
                                                                                    <div class="baseline"></div>
                                                                                    <div id="stripe-card-expiry" class="input empty"></div>
                                                                                </div>
                                                                                <div class="form-group col-md-6">
                                                                                    <label
                                                                                        for="stripe-card-cvc"
                                                                                        data-tid="elements_examples.form.card_cvc_label"
                                                                                        >CVC</label
                                                                                    >
                                                                                    <div class="baseline"></div>
                                                                                    <div id="stripe-card-cvc" class="input empty"></div>
                                                                                </div>
                                                                            </div>
                                                                            <button class="btn" type="button" data-tid="elements_examples.form.pay_button">
                                                                                {{ 'PayWithStripe' | localize }}
                                                                            </button>
                                                                        </fieldset>
                                                                        <div class="error" role="alert">
                                                                            <span class="message"></span>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row payment-option" [hidden]="!omiseConfig?.publishKey">
                                                        <div class="col-md-12">
                                                            <p-radioButton
                                                                name="paymentMethod"
                                                                [value]="PAYMENT_METHOD.Omise"
                                                                [label]="omiseData.label"
                                                                [(ngModel)]="paymentMethod"
                                                                inputId="opt2"
                                                                (onClick)="choosepaymentMethod()"
                                                            >
                                                            </p-radioButton>
                                                            <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Omise">
                                                                <div class="mt-3" *ngIf="serviceFees?.length > 0">
                                                                    <span *ngFor="let item of serviceFees; let index = index"
                                                                        >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                        <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                    </span>
                                                                    <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                </div>
                                                                <div class="d-flex flex-row">
                                                                    <button type="button" class="btn btn-primary mt-3 mr-3" id="checkoutButton">
                                                                        {{ 'PayWithOmise' | localize }}
                                                                    </button>

                                                                    <button
                                                                        [hidden]="!omiseConfig?.enablePaynowQR"
                                                                        type="button"
                                                                        class="btn btn-primary mt-3"
                                                                        id="payNow"
                                                                    >
                                                                        {{ 'Pay Now' | localize }}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row payment-option" [hidden]="!adyenConfig?.apiKey">
                                                        <div class="col-md-12">
                                                            <p-radioButton
                                                                name="paymentMethod"
                                                                [value]="PAYMENT_METHOD.Adyen"
                                                                [label]="adyenData.label"
                                                                [(ngModel)]="paymentMethod"
                                                                inputId="opt3"
                                                                (onClick)="choosepaymentMethod()"
                                                            >
                                                            </p-radioButton>
                                                            <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Adyen">
                                                                <div class="mt-3" *ngIf="serviceFees?.length > 0">
                                                                    <span *ngFor="let item of serviceFees; let index = index"
                                                                        >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                        <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                    </span>
                                                                    <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                </div>
                                                                <div class="cell example adyen-check-out-container">
                                                                    <div id="customCard-container" class="adyen-checkout__card-input">
                                                                        <div class="adyen-checkout__loading-input__form">
                                                                            <div class="adyen-checkout__card__form">
                                                                                <div class="adyen-checkout__field adyen-checkout__field--cardNumber">
                                                                                    <label class="adyen-checkout__label">
                                                                                        <span class="adyen-checkout__label__text">Card number</span>
                                                                                        <div class="adyen-checkout__input-wrapper">
                                                                                            <span
                                                                                                data-cse="encryptedCardNumber"
                                                                                                class="
                                                                                                    adyen-checkout__input
                                                                                                    adyen-checkout__input--large
                                                                                                    adyen-checkout__card__cardNumber__input
                                                                                                "
                                                                                            >
                                                                                                <img
                                                                                                    class="
                                                                                                        cart-number-icon
                                                                                                        adyen-checkout__card__cardNumber__brandIcon
                                                                                                    "
                                                                                                    alt="card"
                                                                                                    src="https://checkoutshopper-test.adyen.com/checkoutshopper/images/logos/nocard.svg"
                                                                                                />
                                                                                            </span>
                                                                                        </div>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="adyen-checkout__card__exp-cvc adyen-checkout__field-wrapper">
                                                                                    <div
                                                                                        class="
                                                                                            adyen-checkout__field
                                                                                            adyen-checkout__field--50
                                                                                            adyen-checkout__field--expiryDate
                                                                                        "
                                                                                    >
                                                                                        <label class="adyen-checkout__label">
                                                                                            <span class="adyen-checkout__label__text">Expiry date</span>
                                                                                            <div class="adyen-checkout__input-wrapper">
                                                                                                <span
                                                                                                    data-cse="encryptedExpiryDate"
                                                                                                    class="
                                                                                                        adyen-checkout__input
                                                                                                        adyen-checkout__input--small
                                                                                                        adyen-checkout__card__exp-date__input
                                                                                                    "
                                                                                                >
                                                                                                </span>
                                                                                            </div>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="
                                                                                            adyen-checkout__field
                                                                                            adyen-checkout__field--50
                                                                                            adyen-checkout__field__cvc
                                                                                            adyen-checkout__field--securityCode
                                                                                        "
                                                                                    >
                                                                                        <label class="adyen-checkout__label">
                                                                                            <span class="adyen-checkout__label__text">CVC / CVV</span>
                                                                                            <div class="adyen-checkout__input-wrapper">
                                                                                                <span
                                                                                                    class="
                                                                                                        adyen-checkout__input
                                                                                                        adyen-checkout__input--small
                                                                                                        adyen-checkout__card__cvc__input
                                                                                                    "
                                                                                                    data-cse="encryptedSecurityCode"
                                                                                                >
                                                                                                </span>
                                                                                            </div>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="adyen-checkout__field adyen-checkout__card__holderName">
                                                                                <label class="adyen-checkout__label">
                                                                                    <span class="adyen-checkout__label__text">Name on card</span>
                                                                                    <div class="adyen-checkout__input-wrapper">
                                                                                        <input
                                                                                            classnamemodifiers="large"
                                                                                            class="
                                                                                                adyen-checkout__input
                                                                                                adyen-checkout__input--text
                                                                                                adyen-checkout__card__holderName__input
                                                                                                adyen-checkout__input--large
                                                                                            "
                                                                                            placeholder="J. Smith"
                                                                                            type="text"
                                                                                        />
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <button
                                                                            class="btn adyen-checkout__button adyen-checkout__button--pay"
                                                                            (click)="payWithAdyen()"
                                                                        >
                                                                            <span class="adyen-checkout__button__content">
                                                                                <span class="adyen-checkout__button__text">{{ l('PayWithAdyen') }}</span>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row payment-option" [hidden]="!paypalConfig?.clientId">
                                                        <div class="col-md-12">
                                                            <p-radioButton
                                                                name="paymentMethod"
                                                                [value]="PAYMENT_METHOD.PayPal"
                                                                [label]="paypalData.label"
                                                                [(ngModel)]="paymentMethod"
                                                                inputId="opt4"
                                                                (onClick)="choosepaymentMethod()"
                                                            >
                                                            </p-radioButton>
                                                            <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.PayPal">
                                                                <div class="mt-3 mb-5" *ngIf="serviceFees?.length > 0">
                                                                    <span *ngFor="let item of serviceFees; let index = index"
                                                                        >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                        <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                    </span>
                                                                    <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                </div>
                                                                <div class="mt-5" [id]="payPalButtonId"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row payment-option" [hidden]="!googlePayConfig?.merchantId">
                                                        <div class="col-md-12">
                                                            <p-radioButton
                                                                name="paymentMethod"
                                                                [value]="PAYMENT_METHOD.Google"
                                                                [label]="googlePayData.label"
                                                                [(ngModel)]="paymentMethod"
                                                                inputId="opt5"
                                                                (onClick)="choosepaymentMethod()"
                                                            >
                                                            </p-radioButton>
                                                            <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Google">
                                                                <div class="mt-3 mb-5" *ngIf="serviceFees?.length > 0">
                                                                    <span *ngFor="let item of serviceFees; let index = index"
                                                                        >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                        <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                    </span>
                                                                    <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                </div>
                                                                <google-pay-button
                                                                    *ngIf="paymentRequest"
                                                                    [environment]="paymentRequest.environment"
                                                                    [buttonType]="paymentRequest.buttonType"
                                                                    [buttonColor]="paymentRequest.buttonColor"
                                                                    [existingPaymentMethodRequired]="false"
                                                                    [paymentRequest]="{
                                                                        apiVersion: paymentRequest.apiVersion,
                                                                        apiVersionMinor: paymentRequest.apiVersionMinor,
                                                                        allowedPaymentMethods: paymentRequest.allowedPaymentMethods,
                                                                        merchantInfo: paymentRequest.merchantInfo,
                                                                        transactionInfo: {
                                                                            totalPriceStatus: 'FINAL',
                                                                            totalPriceLabel: 'Total',
                                                                            totalPrice: topup.paidAmount ? topup.paidAmount?.toString() : '0',
                                                                            currencyCode: appSession.application.currency,
                                                                            countryCode: 'SG'
                                                                        },
                                                                        callbackIntents: ['PAYMENT_AUTHORIZATION']
                                                                    }"
                                                                    (loadpaymentdata)="onLoadGooglePaymentData($event)"
                                                                    (error)="onGooglePayError($event)"
                                                                    [paymentAuthorizedCallback]="onGooglePaymentDataAuthorized"
                                                                    (readytopaychange)="onReadyToPayChange($event)"
                                                                ></google-pay-button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div *ngIf="!topup?.paidAmount" class="text-danger mb-4">
                                    Enter Amount to show payment method, Amount must be value greater than 0
                                </div>
                            </section>

                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-default w-100" (click)="back()">
                                    <i class="fas fa-arrow-circle-left"></i>
                                    {{ 'Back' | localize }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-qr-code-dialog #QRCodeModal (onClose)="onCloseQRCodeModal($event)"></app-qr-code-dialog>
