<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!swipeCardType.id ? l('CreateConnectCardType') : l('EditConnectCardType') + ': ' + swipeCardType.name"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset class="tab-container tabbable-line">
                        <tab
                            [active]="selectedTab == TAB.CARD_TYPE"
                            heading="{{ l('CardType') }}"
                            customClass="kt-tabs__item"
                            [tabindex]="TAB.CARD_TYPE"
                            class="py-5"
                            (selectTab)="onChangeTab(TAB.CARD_TYPE)"
                        >
                            <form #cardTypeForm="ngForm" novalidate class="form card-type-form" (ngSubmit)="save()">
                                <div class="form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Name">{{ l('Name') }} *</label>
                                                <input
                                                    type="text"
                                                    id="Name"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.name"
                                                    name="Name"
                                                    required
                                                    #nameInput="ngModel"
                                                />
                                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="ExpiryDaysFromIssue">{{ l('ExpiryDaysFromIssue') }}</label>
                                                <input
                                                    type="number"
                                                    id="ExpiryDaysFromIssue"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.expiryDaysFromIssue"
                                                    name="expiryDaysFromIssue"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="MinimumTopUpAmount">{{ l('MinimumTopUpAmount') }}</label>
                                                <input
                                                    type="number"
                                                    id="MinimumTopUpAmount"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.minimumTopUpAmount"
                                                    name="minimumTopUpAmount"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="canIssueWithOutMember" class="checkbox">
                                                    <input
                                                        [(ngModel)]="swipeCardType.canIssueWithOutMember"
                                                        id="canIssueWithOutMember"
                                                        name="canIssueWithOutMember"
                                                        type="checkbox"
                                                    />
                                                    {{ l('CanIssueWithOutMember') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="isEmployeeCard" class="checkbox">
                                                    <input
                                                        [(ngModel)]="swipeCardType.isEmployeeCard"
                                                        id="isEmployeeCard"
                                                        name="isEmployeeCard"
                                                        type="checkbox"
                                                    />
                                                    {{ l('IsEmployeeCard') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="canExcludeTaxAndCharges" class="checkbox">
                                                    <input
                                                        [(ngModel)]="swipeCardType.canExcludeTaxAndCharges"
                                                        id="canExcludeTaxAndCharges"
                                                        name="canExcludeTaxAndCharges"
                                                        type="checkbox"
                                                    />
                                                    {{ l('CanExcludeTaxAndCharges') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div> -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="refundAllowed" class="checkbox">
                                                    <input [(ngModel)]="swipeCardType.refundAllowed" id="refundAllowed" name="refundAllowed" type="checkbox" />
                                                    {{ l('RefundAllowed') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="depositRequired" class="checkbox">
                                                    <input
                                                        [(ngModel)]="swipeCardType.depositRequired"
                                                        id="depositRequired"
                                                        name="depositRequired"
                                                        type="checkbox"
                                                    />
                                                    {{ l('DepositRequired') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div *ngIf="swipeCardType.depositRequired" class="col-md-3">
                                            <div class="form-group">
                                                <label for="depositAmount">{{ l('DepositAmount') }}</label>
                                                <input
                                                    type="number"
                                                    id="depositAmount"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.depositAmount"
                                                    name="depositAmount"
                                                />
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="autoActivationFlag" class="checkbox">
                                                    <input [(ngModel)]="autoActivationFlag" id="autoActivationFlag" name="autoActivationFlag" type="checkbox" />
                                                    {{ l('AutoActivation') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div> -->
                                        <!-- <div *ngIf="autoActivationFlag" class="col-md-3">
                                            <div class="form-group">
                                                <label for="autoActivateRegExpression">{{ l('RegExpression') }}</label>
                                                <input
                                                    type="text"
                                                    id="autoActivateRegExpression"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.autoActivateRegExpression"
                                                    name="autoActivateRegExpression"
                                                />
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="isAutoRechargeCard" class="checkbox">
                                                    <input
                                                        [(ngModel)]="swipeCardType.isAutoRechargeCard"
                                                        id="isAutoRechargeCard"
                                                        name="isAutoRechargeCard"
                                                        type="checkbox"
                                                    />
                                                    {{ l('IsAutoRechargeCard') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- <div *ngIf="swipeCardType['isAutoRechargeCard']" class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="dailyLimit">{{ l('DailyLimit') }}</label>
                                                <input
                                                    type="number"
                                                    id="dailyLimit"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.dailyLimit"
                                                    name="dailyLimit"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="weeklyLimit">{{ l('WeeklyLimit') }}</label>
                                                <input
                                                    type="number"
                                                    id="weeklyLimit"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.weeklyLimit"
                                                    name="weeklyLimit"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="monthlyLimit">{{ l('MonthlyLimit') }}</label>
                                                <input
                                                    type="number"
                                                    id="monthlyLimit"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.monthlyLimit"
                                                    name="monthlyLimit"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="dailyLimit">{{ l('YearlyLimit') }}</label>
                                                <input
                                                    type="number"
                                                    id="yearlyLimit"
                                                    class="form-control"
                                                    [(ngModel)]="swipeCardType.yearlyLimit"
                                                    name="yearlyLimit"
                                                />
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </form>
                        </tab>
                        <ng-container *ngIf="swipeCardType.id">

                            <tab
                                heading="{{ l('Cards') }}"
                                [active]="selectedTab == TAB.CARDS"
                                customClass="kt-tabs__item"
                                [tabindex]="TAB.CARDS"
                                class="py-5"
                                (selectTab)="onChangeTab(TAB.CARDS)"
                            >

                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered col-md-12">
                                            <thead>
                                                <tr>
                                                    <th>{{ l('CardNumber') }}</th>
                                                    <!-- <th>{{ l('DepositRequired') }}</th>
                                                    <th align="right" class="text-right">{{ l('DepositAmount') }}</th>
                                                    <th>{{ l('RefundAllowed') }}</th>
                                                    <th>{{ l('CanIssueWithOutMember') }}</th>
                                                    <th>{{ l('IsEmployeeCard') }}</th>
                                                    <th>{{ l('IsAutoRechargeCard') }}</th>

                                                    <th>{{ l('CanExcludeTaxAndCharges') }}</th> -->
                                                    <th>{{ l('Active') }}</th>
                                                    <th align="right">{{ l('Balance') }}</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let data of cardList">
                                                <td>
                                                    <b>
                                                        <a *ngIf="data.activeStatus" (click)="cardTransactionDataShown(data.id)">{{ data.cardNumber }}</a>
                                                        <span *ngIf="!data.activeStatus">{{ data.cardNumber }}</span>
                                                    </b>
                                                </td>
                                                <!-- <td class="col-xs-1">
                                                    <span class="badge badge-success" *ngIf="data.depositRequired">{{ l('Yes') }}</span>
                                                    <span class="badge badge-danger" *ngIf="!data.depositRequired">{{ l('No') }}</span>
                                                </td>
                                                <td align="right" class="col-xs-1">
                                                    <span *ngIf="data.depositAmount > 0"> {{ data.depositAmount }}</span>
                                                </td>
                                                <td class="col-xs-1">
                                                    <span class="badge badge-success" *ngIf="data.refundAllowed">{{ l('Yes') }}</span>
                                                    <span class="badge badge-danger" *ngIf="!data.refundAllowed">{{ l('No') }}</span>
                                                </td>
                                                <td class="col-xs-1">
                                                    <span class="badge badge-success" *ngIf="data.canIssueWithOutMember">{{ l('Yes') }}</span>
                                                    <span class="badge badge-danger" *ngIf="!data.canIssueWithOutMember">{{ l('No') }}</span>
                                                </td>
                                                <td class="col-xs-1">
                                                    <span class="badge badge-success" *ngIf="data.isEmployeeCard">{{ l('Yes') }}</span>
                                                    <span class="badge badge-danger" *ngIf="!data.isEmployeeCard">{{ l('No') }}</span>
                                                </td>
                                                <td class="col-xs-1">
                                                    <span class="badge badge-success" *ngIf="data.isAutoRechargeCard">{{ l('Yes') }} </span>
                                                    <span class="badge badge-info" *ngIf="data.isAutoRechargeCard">
                                                        {{ data.limitType }} : {{ data.limitAmount | number: 2 }}
                                                    </span>

                                                    <span class="badge badge-danger" *ngIf="!data.isAutoRechargeCard">{{ l('No') }}</span>
                                                </td>
                                                <td class="col-xs-1">
                                                    <span class="badge badge-success" *ngIf="data.canExcludeTaxAndCharges">{{ l('Yes') }}</span>
                                                    <span class="badge badge-danger" *ngIf="!data.canExcludeTaxAndCharges">{{ l('No') }}</span>
                                                </td> -->
                                                <td>
                                                    <span class="badge badge-info" *ngIf="data.active">{{ l('Yes') }}</span>
                                                    <span class="badge badge-danger" *ngIf="!data.active">{{ l('No') }}</span>
                                                </td>
                                                <td align="right">
                                                    {{ data.balance }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                            <!-- <tab
                                heading="{{ l('Import') }}"
                                [active]="selectedTab == TAB.IMPORT"
                                customClass="kt-tabs__item"
                                [tabindex]="TAB.IMPORT"
                                class="py-5"
                                (selectTab)="onChangeTab(TAB.IMPORT)"
                            >
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <button type="button" class="btn btn-outline-success" (click)="import()">
                                            <i class="fa fa-download"></i> {{ l('Import') }}
                                        </button>
                                    </div>
                                </div>
                            </tab> -->
                        </ng-container>
                    </tabset>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                        <button
                            type="submit"
                            class="btn btn-primary blue"
                            [disabled]="!cardTypeForm.form.valid"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"
                            (click)="save()"
                        >
                            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <import-modal #importModal (modalSave)="onModalSave()"></import-modal> -->
