<section class="summary pad-200 yellow_bg">
    <div class="container">
        <div class="col-sm-12 top-kt">
            <div class="card mb-1">
                <div class="card-body row">
                    <div class="col-md-9">
                        <h5 class="mb-0">Payment Detail</h5>
                    </div>
                    <div class="col-md-3">
                        <button
                            type="button"
                            class="btn-default btn-icon btn btn-sm pull-right"
                            (click)="printPaymentDetail(paymentDetail.id)"
                        >
                            <i class="fa fa-print"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="invoice-title">
                                <div class="row">
                                    <div
                                        class="col-md-6 col-sm-12"
                                        [style.visibility]="
                                            !isEmpty(companyLogoUrl)
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                    >
                                        <img
                                            [src]="companyLogoUrl"
                                            [alt]="companyName"
                                            width="200"
                                            height="50"
                                        />
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <h3 class="pull-right">
                                            {{ "Invoice" | localize }} #{{
                                                paymentDetail.invoiceNo
                                            }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <address>
                                        <strong>Company:</strong><br />
                                        <b>{{ companyName }}</b
                                        ><br />
                                        {{ companyAddress }}<br />
                                    </address>
                                </div>
                                <div class="col-md-6 col-sm-12 text-right">
                                    <address>
                                        <strong>TaxNo:</strong>
                                        {{ taxNo }}<br />
                                    </address>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <address>
                                        <strong>Billed To:</strong><br />
                                        {{ paymentDetail.customerName }}<br />
                                        {{ paymentDetail.customerAddress }}
                                    </address>
                                </div>
                                <div class="col-md-6 col-sm-12 text-right">
                                    <address>
                                        <strong>Shipped To:</strong><br />
                                        {{ paymentDetail.customerName }}<br />
                                        {{ paymentDetail.customerAddress }}
                                    </address>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <address>
                                        <strong>Payment Method:</strong><br />
                                        {{ paymentDetail.paymentOption }}<br />
                                        {{ paymentDetail.emailAddress }}
                                    </address>
                                </div>
                                <div class="col-md-6 col-sm-12 text-right">
                                    <address>
                                        <strong>Order Date:</strong><br />
                                        {{
                                            paymentDetail.paymentDate?.format(
                                                "DD/MM/YYYY"
                                            )
                                        }}<br /><br />
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <!-- <div class="panel-heading">
                            <h3 class="panel-title"><strong>Order summary</strong></h3>
                        </div> -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <strong
                                                            >Product
                                                            Offers</strong
                                                        >
                                                    </td>
                                                    <td class="text-right">
                                                        <strong>Price</strong>
                                                    </td>
                                                    <td class="text-right">
                                                        <strong
                                                            >Quantity</strong
                                                        >
                                                    </td>
                                                    <td class="text-right">
                                                        <strong>Total</strong>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="
                                                        let product of paymentDetail.products
                                                    "
                                                >
                                                    <td>
                                                        {{
                                                            product.productOfferName
                                                        }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{
                                                            appSession
                                                                .application
                                                                .currencySign
                                                        }}
                                                        {{
                                                            product.price
                                                                | number
                                                                    : "1.2-2"
                                                        }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ product.quantity }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{
                                                            appSession
                                                                .application
                                                                .currencySign
                                                        }}
                                                        {{
                                                            product.paidAmount
                                                                | number
                                                                    : "1.2-2"
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td
                                                        class="thick-line text-left"
                                                    >
                                                        <strong
                                                            >Card
                                                            Charges</strong
                                                        >
                                                    </td>
                                                    <td
                                                        class="thick-line text-right"
                                                    >
                                                        {{
                                                            appSession
                                                                .application
                                                                .currencySign
                                                        }}
                                                        {{
                                                            paymentDetail.cardCharge
                                                                | number
                                                                    : "1.2-2"
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="text-left">
                                                        <strong>Total</strong>
                                                    </td>
                                                    <td class="text-right">
                                                        {{
                                                            appSession
                                                                .application
                                                                .currencySign
                                                        }}
                                                        {{
                                                            paymentDetail.paidAmount
                                                                | number
                                                                    : "1.2-2"
                                                        }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
