<div class="col-sm-12 top-kt">
    <div class="card mb-1">
        <div class="card-body row">
            <div class="col-md-9">
                <h5 class="mb-0">{{"RecentPayments" | localize}}</h5>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn-default btn-icon btn btn-sm pull-right" (click)="printPayment()">
                    <i class="fa fa-print"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form class="kt-form" autocomplete="off">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="form-group m-form__group">
                            <label>{{"Date" | localize}}</label>
                            <input class="form-control" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker"
                                readonly="readonly" bsDaterangepicker dateRangePickerMomentModifier
                                [(ngModel)]="dateRange"
                                [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false }"
                                placeholder="Date Range" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group m-form__group align-items-center">
                            <label>{{"PaymentMethod" | localize}}</label>
                            <input [(ngModel)]="paymentFilter" name="paymentFilter" class="form-control"
                                [placeholder]="l('PaymentMethod')" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 text-right">
                        <button (click)="getAll()" class="btn btn-primary" type="submit"><i
                                class="flaticon-search-1"></i></button>
                        <button type="button" class="btn btn-primary" (click)="refresh()"><i class="fa fa-sync"></i>
                            {{"ClearAll" | localize}}</button>
                    </div>
                </div>
            </form>
            <div class="col-md-12">
                <div class="align-items-center">
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 110px" pSortableColumn="PaymentDate">
                                            {{l('Date')}}
                                            <p-sortIcon field="PaymentDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="InvoiceNo">
                                            {{l('InvoiceNo')}}
                                            <p-sortIcon field="InvoiceNo"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px; text-align: right;" pSortableColumn="PaidAmount">
                                            {{l('PaidAmount')}}
                                            <p-sortIcon field="PaidAmount"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="ModeOfPayment">
                                            {{l('ModeOfPayment')}}
                                            <p-sortIcon field="ModeOfPayment"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px">
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width:110px">
                                            <span class="ui-column-title"> {{'Date' | localize}}</span>
                                            {{record.paymentDate | momentFormat:'DD/MM/YYYY'}}
                                        </td>
                                        <td style="width:130px">
                                            <span class="ui-column-title"> {{'InvoiceNo' | localize}}</span>
                                            {{record.invoiceNo}}
                                        </td>
                                        <td style="width:120px" class="text-number">
                                            <span class="ui-column-title"> {{'PaidAmount' | localize}}</span>
                                            {{appSession.application.currencySign}}
                                            {{ record.paidAmount | number:'1.2-2' }}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{'ModeOfPayment' | localize}}</span>
                                            {{record.modeOfPayment}}
                                        </td>
                                        <td style="width: 100px">
                                            <button class="btn btn-secondary" (click)="viewPayment(record.id)">View
                                                Invoice</button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
