<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Orders' | localize" [description]="'Orders'"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <p-dataView
                        #ordersListView
                        [layout]="'grid'"
                        [value]="orderList"
                        [paginator]="true"
                        [rows]="selectedOrderCounts.value"
                        [lazy]="true"
                        (onLazyLoad)="loadData($event)"
                        [totalRecords]="orderTotalCount"
                        [sortField]="sortField"
                        [sortOrder]="sortOrder"
                        [alwaysShowPaginator]="false"
                        [emptyMessage]="emptyMessage"
                        [loading]="loading"
                    >
                        <ng-template let-order pTemplate="gridItem">
                            <div
                                style="padding: 0.5em; margin-top: 5px"
                                class="p-col-12 p-md-3"
                                (click)="selectOrder($event, order)"
                                [ngClass]="{ 'new-order': getNewOrderClass(order.orderTime) }"
                            >
                                <p-card [style]="{ width: '100%', height: '100%', position: 'relative' }" styleClass="ui-card-shadow">
                                    <div class="order-detail">
                                        <h3>
                                            {{ order.invoiceNo }} <span class="amount">${{ order.paidAmount?.toFixed(2) }}</span>
                                        </h3>
                                        <h6>
                                            DEPARTMENT <span class="amount">{{ order.wheelBillingInfo?.wheelDepartmentName }}</span>
                                        </h6>
                                        <h6>
                                            TABLE <span class="amount">{{ order.order.tableName }}</span>
                                        </h6>
                                        <hr />
                                        <h6 style="margin: 10px 0">ORDERS</h6>
                                        <table class="order-summary">
                                            <ng-container *ngFor="let item of order.order?.menuItems">
                                                <tr class="order-item" style="font-weight: bold" *ngIf="!item.comboId; else comboTemplate">
                                                    <td class="info">
                                                        {{ item.description ? item.name + ' - ' + item.description : item.name }}
                                                    </td>
                                                    <td class="quantity" style="vertical-align: top">{{ item.totalItems }}</td>
                                                </tr>
                                                <ng-template #comboTemplate>
                                                    <tr class="order-item" style="font-weight: bold">
                                                        <td class="info">{{ item.name }}</td>
                                                        <td class="quantity" style="vertical-align: top">{{ item.totalItems }}</td>
                                                    </tr>
                                                    <tr class="order-item" *ngFor="let comboItem of item.orderItems; let i = index">
                                                        <td class="info" style="padding-left: 5px">
                                                            <span>{{ comboItem.quantity }}x </span>
                                                            {{
                                                                comboItem.description
                                                                    ? comboItem.name + ' - ' + comboItem.description
                                                                    : comboItem.name
                                                            }}
                                                        </td>
                                                        <td class="quantity"></td>
                                                    </tr>
                                                </ng-template>
                                            </ng-container>
                                        </table>
                                        <!-- <div style="margin-bottom: 20px;">
                                            <h6 style="margin: 10px 0;">DELIVERY ADDRESS</h6>
                                            <p class="ticket-note">{{order.wheelBillingInfo?.fullAddress}}</p>
                                        </div> -->
                                        <div style="margin-bottom: 20px">
                                            <h6 style="margin: 10px 0">NOTE</h6>
                                            <p class="ticket-note">{{ order.note }}</p>
                                        </div>

                                        <div style="position: relative">
                                            <button
                                                pButton
                                                type="button"
                                                style="width: 100%"
                                                label="{{ getOrderStatus(order.orderStatus).label }}"
                                                [style]="{ border: 'none', backgroundColor: getOrderStatus(order.orderStatus).color }"
                                                (click)="changeStatus($event, order)"
                                                *ngIf="order.orderStatus >= 2"
                                            ></button>
                                            <h6 style="margin: 10px 0; font-weight: bold">Status</h6>

                                            <button
                                                pButton
                                                type="button"
                                                style="width: 100%"
                                                label="Accept"
                                                [style]="{ border: 'none', backgroundColor: getOrderStatus(order.orderStatus).color }"
                                                (click)="changeAcceptStatus($event, order)"
                                                *ngIf="order.orderStatus == 0"
                                            ></button>
                                            <br />
                                            <button
                                                pButton
                                                type="button"
                                                style="width: 100%"
                                                label="Reject"
                                                [style]="{ border: 'none', backgroundColor: getOrderStatus(order.orderStatus).color }"
                                                (click)="changeStatus($event, order)"
                                                *ngIf="order.orderStatus == 0"
                                            ></button>
                                        </div>

                                        <div style="position: relative">
                                            <h6 style="margin: 10px 0; font-weight: bold">Delivery Order</h6>
                                            <ng-container *ngIf="order.activeShippingDeliveryOrder">
                                                <div>Provider: {{ order.shippingProvider }}</div>
                                                <div>Order No: {{ order.activeShippingDeliveryOrder }}</div>
                                                <div>Status: {{ order.activeShippingDeliveryOrderStatus }}</div>
                                                <button
                                                    pButton
                                                    type="button"
                                                    *ngIf="order.activeShippingDeliveryOrder"
                                                    style="width: 100%; background-color: red"
                                                    label="Cancel Delivery"
                                                    [style]="{ border: 'none' }"
                                                    (click)="cancelDelivery($event, order)"
                                                ></button>
                                            </ng-container>
                                            <button
                                                pButton
                                                type="button"
                                                *ngIf="!order.activeShippingDeliveryOrder"
                                                style="width: 100%"
                                                label="Request Delivery"
                                                [style]="{ border: 'none' }"
                                                (click)="requestDelivery($event, order)"
                                            ></button>
                                        </div>
                                    </div>
                                </p-card>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>
        </div>
    </div>

    <p-dialog
        header="Order Details"
        [(visible)]="displayDialog"
        [minY]="70"
        showEffect="fade"
        [modal]="true"
        [style]="{ width: '600px' }"
        (onAfterHide)="onDialogHide()"
        [contentStyle]="{ padding: '10px', textAlign: 'center' }"
    >
        <div *ngIf="selectedOrder">
            <app-order-detail [order]="selectedOrder"></app-order-detail>
        </div>
    </p-dialog>

    <p-dialog
        header="Place Shipping Order"
        [(visible)]="selectedDeliveryOrder && displayPlaceShippingOrderDialog"
        [minY]="500"
        showEffect="fade"
        [modal]="true"
        [style]="{ width: '500px' }"
        (onAfterHide)="onPlaceShippingOrderDialogHide()"
        [contentStyle]="{ padding: '10px', textAlign: 'center' }"
    >
        <div *ngIf="selectedDeliveryOrder && ticketShippingOrderQuotation" style="text-align: left; height: 200px">
            <div>
                Shipping Provider:
                <strong>{{ getShippingProviderName(ticketShippingOrderQuotation.shippingProvider) }} </strong>
            </div>
            <div>
                Scheduled At:
                <strong>{{ ticketShippingOrderQuotation.scheduleAt }} </strong>
            </div>
            <div style="margin-top: 10px">
                Shipping Fee:
                <strong>
                    {{ ticketShippingOrderQuotation.shippingFeeCurrency + ticketShippingOrderQuotation.shippingFee }}
                </strong>
            </div>
            <ng-container *ngIf="ticketShippingOrderQuotation.shippingProvider == 2">
                <div style="margin-top: 10px">
                    <p-checkbox [(ngModel)]="isManual" binary="true" label="Manually Set Vehicle Type & Schedule Time"> </p-checkbox>
                </div>
                <div *ngIf="isManual" style="margin-top: 10px">
                    <div style="margin-top: 10px">
                        <span style="display: inline-block; width: 120px">Vehicle Type</span
                        ><p-dropdown
                            [options]="lalaMoveServiceTypes"
                            [(ngModel)]="selectedLalaMoveServiceType"
                            placeholder="Select Vehicle Type"
                            [appendTo]="'body'"
                        >
                        </p-dropdown>
                    </div>
                    <div style="margin-top: 10px">
                        <span style="display: inline-block; width: 120px">Schedule At</span
                        ><p-calendar [(ngModel)]="manualTime" [showTime]="true" [appendTo]="'body'"></p-calendar>
                    </div>
                </div>
            </ng-container>
        </div>
        <p-footer>
            <button type="button" pButton (click)="placeDeliveryOrder()" label="Request Delivery"></button>
            <button type="button" pButton (click)="onPlaceShippingOrderDialogHide()" label="Cancel" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <input
                    class="form-control"
                    id="StartEndRange"
                    name="StartEndRange"
                    placeholder="Date range"
                    #drp="bsDaterangepicker"
                    readonly="readonly"
                    bsDaterangepicker
                    dateRangePickerMomentModifier
                    [placement]="'left'"
                    [(ngModel)]="dateRange"
                    [bsConfig]="{
                        rangeInputFormat: 'YYYY-MM-DD',
                        dateInputFormat: 'YYYY-MM-DD',
                        showWeekNumbers: false,
                        containerClass: ' custom-filter-datepicker theme-default'
                    }"
                />
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
