@import 'assets/common/styles/dine-connect-customize.scss';


.body .ui-dataview .ui-dataview-content {
    padding: 0;
}

table.order-summary {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}

.info {
    font-size: 14px;
}

.quantity {
    text-align: right;
    font-size: 14px;
}

.amount {
    float: right;
    font-weight: bold;
    color: #3699ff;
}

body .ui-card {
    height: 100% !important;
}

::ng-deep body .ui-dataview .ui-dataview-header {
    display: none !important;
}

::ng-deep body .ui-paginator {
    background-color: #fff;
    border: none;
}

::ng-deep body .ui-dataview .ui-dataview-footer {
    display: none;
}


button.no-border {
    border: none;
}

::ng-deep .new-order .ui-card {
    background-color: antiquewhite;
}
.filter-date{
    padding-left: 17px;
}