:host::ng-deep {
    .combo-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        p-tabview {
            flex-grow: 1;
            .p-tabview-nav {
                justify-content: center;
                border: none;
                li {
                    margin: 0 0.5rem;
                    .p-tabview-nav-link {
                        box-shadow: none;
                    }
                }
                .p-tabview-nav-link {
                    padding: 0 0.2rem 0.6rem 0.2rem;
                    border-color: transparent;
                    border-width: 0 0 4px 0;
                    img {
                        height: 1.6rem;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
                .p-highlight {
                    .p-tabview-nav-link {
                        border-color: var(--yellow-2);
                    }
                }
            }
        }

        .confirm-container {
            .top-box {
                .pi-check {
                    padding: 15px;
                    background-color: var(--yellow-2);
                    //border-radius: 50%;
                    font-weight: 600;
                }
            }
        }

        .noted {
            font-size: 1rem;
            color: var(--gray-1);
            text-align: center;
        }
    }
}
