<div class="container combo-container pt-4 pb-4">
    <p-tabView *ngIf="tabIndex < 3" [activeIndex]="tabIndex" (onChange)="handleTabChange($event)">
        <p-tabPanel class="text-center">
            <ng-template pTemplate="header">
                <img src="assets/image/combos/Forma-1.png" alt="">
            </ng-template>
            <div class="tab-body">
                <h5 style="color: black;"><strong>Choose your Burger</strong></h5>
                <combo-item [listItems]="listBurgers" [(selected)]="selectedBurger">
                </combo-item>
            </div>
        </p-tabPanel>

        <p-tabPanel class="text-center" [disabled]="selectedBurger !== -1 ? false : true">
            <ng-template pTemplate="header">
                <img src="assets/image/combos/Forma-1.png" alt="">
            </ng-template>
            <div class="tab-body">
                <h5 style="color: black;"><strong>Choose your Fries</strong></h5>
                <combo-item [listItems]="listFries" [(selected)]="selectedFry">
                </combo-item>
            </div>
        </p-tabPanel>

        <p-tabPanel class="text-center" [disabled]="selectedFry !== -1 ? false : true">
            <ng-template pTemplate="header">
                <img src="assets/image/combos/Forma-1.png" alt="">
            </ng-template>
            <div class="tab-body">
                <h5 style="color: black;"><strong>Choose your Drink</strong></h5>
                <combo-item [listItems]="listDrinks" [(selected)]="selectedDrink">
                </combo-item>
            </div>
        </p-tabPanel>
    </p-tabView>

    <div *ngIf="tabIndex === 3" class="confirm-container flex-grow-1 text-center">
        <div class="top-box mb-3">
            <i class="pi pi-check mb-3"></i>
            <h6><strong>Confirm Items</strong></h6>
        </div>
        <combo-item [listItems]="listItemsSelected" [(selected)]="selectedItem" [isConfirmItems]="true"
            (confirmItemSelected)="onConfirmItemSelected($event)">
        </combo-item>
    </div>

    <div class="d-flex justify-content-center flex-column align-items-center">
        <p *ngIf="tabIndex === 3" class="noted">The chosen items are not undoable after the order is placed</p>
        <button class="dine-button border-none font-weight-bold outline-none text-white black-bagk" pButton pRipple
            label="{{tabIndex === 3 ? 'Add Item' : 'Next'}}"
            icon="pi {{tabIndex === 3 ? 'pi-check' : 'pi-arrow-right'}}" iconPos="right" type="button"
            (click)="onNextCompo()"></button>
    </div>
</div>