<div
    appBsModal
    #cloneOrderTagModal="bs-modal"
    class="modal fade"
    role="dialog"
    aria-labelledby="cloneOrderTagModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #cloneOrderTagForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>
                            <span>{{l(("CloneOrderTagFrom"))}}: {{tag?.name}}</span>
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group w-100">
                            <label for="OrderTagGroup_Name">{{ l('Name') }} *</label>
                            <input
                                autoFocus
                                type="text"
                                id="OrderTagGroup_Name"
                                class="form-control"
                                [(ngModel)]="newName"
                                name="Name"
                                required
                                #nameInput="ngModel"
                            />
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                    <button [buttonBusy]="saving" type="submit" class="btn btn-primary green" [disabled]="!cloneOrderTagForm.form.valid">
                        <i class="fa fa-save"></i> <span>{{ l('SaveAndClose') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
