<div class="cell example stripe-check-out-container">
    <form>
        <fieldset>
            <div class="row">
                <div class="field col-md-12">
                    <label
                        for="stripe-card-number"
                        data-tid="elements_examples.form.card_number_label"
                        >Card Number</label
                    >
                    <img
                        style="top: 75%; right: 15px"
                        class="cart-number-icon"
                        alt="card"
                        src="https://checkoutshopper-test.adyen.com/checkoutshopper/images/logos/nocard.svg"
                    />
                    <div class="baseline"></div>
                    <div id="stripe-card-number" class="input empty"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label
                        for="stripe-card-expiry"
                        data-tid="elements_examples.form.card_expiry_label"
                        >Expiration</label
                    >
                    <div class="baseline"></div>
                    <div id="stripe-card-expiry" class="input empty"></div>
                </div>
                <div class="form-group col-md-6">
                    <label
                        for="stripe-card-cvc"
                        data-tid="elements_examples.form.card_cvc_label"
                        >CVC</label
                    >
                    <div class="baseline"></div>
                    <div id="stripe-card-cvc" class="input empty"></div>
                </div>
            </div>
            <button
                class="btn"
                type="submit"
                data-tid="elements_examples.form.pay_button"
            >
                {{ 'PayWithStripe' | localize }}
            </button>
        </fieldset>
        <div class="error" role="alert">
            <span class="message"></span>
        </div>
    </form>
</div>