<div [@routerTransition]>
    <div class="go-device-edit content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!device?.id ? l('CreateDineGoDevice') : l('EditDineGoDevice') + ': ' + device.name"> </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #form="ngForm" class="" novalidate autocomplete="off" (ngSubmit)="save()">
                        <tabset class="tab-container tabbable-line">
                            <!-- Tax -->
                            <tab
                                heading="{{ l('General') }}"
                                customClass="kt-tabs__item"
                                tabindex="0"
                                (selectTab)="tabIndex = 0"
                                class="py-5"
                                [active]="tabIndex === 0"
                            >
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ l('Name') }}*</label>
                                            <input
                                                autoFocus
                                                required
                                                class="form-control"
                                                type="text"
                                                name="Name"
                                                #deviceName="ngModel"
                                                [(ngModel)]="device.name"
                                            />
                                            <validation-messages [formCtrl]="deviceName"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ l('IdleTime') }}*</label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                name="IdleTime"
                                                (keypress)="returnOnlyNumber($event)"
                                                [(ngModel)]="device.idleTime"
                                                #idleTime="ngModel"
                                                required
                                            />
                                            <validation-messages [formCtrl]="idleTime"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ l('PinCode') }}*</label>
                                            <input class="form-control" type="text" name="PinCode" [(ngModel)]="device.pinCode" #pinCode="ngModel" required />
                                            <validation-messages [formCtrl]="pinCode"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mt-5">
                                        <div class="form-group">
                                            <label for="pushToConnect" class="checkbox">
                                                <input id="pushToConnect" type="checkbox" name="pushToConnect" [(ngModel)]="device.pushToConnect" />
                                                {{ 'PushToConnect' | localize }}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>{{ l('Order') }} {{ l('Link') }} *</label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                name="OrderLink"
                                                [(ngModel)]="device.orderLink"
                                                #orderLink="ngModel"
                                                required
                                            />
                                            <validation-messages [formCtrl]="orderLink"></validation-messages>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab
                                *ngIf="device.id"
                                heading="{{ l('Brand') }}"
                                customClass="kt-tabs__item"
                                tabindex="1"
                                (selectTab)="tabIndex = 1"
                                class="py-5"
                                [active]="tabIndex === 1"
                            >
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="deviceBrand"> {{ l('Brand') }}</label>
                                        <ng-select id="deviceBrand" name="deviceBrand" [(ngModel)]="selectedBrand" [placeholder]="l('Select')">
                                            <ng-option *ngFor="let brand of brands" [value]="brand">
                                                {{ brand.label }}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label style="visibility: hidden;">Add</label>
                                        <button [disabled]="!selectedBrand" type="button" class="btn btn-primary" (click)="addBrand()">Add</button>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <!--<Primeng-Datatable-Start>-->
                                    <div class="primeng-datatable-container col-12">
                                        <p-table
                                            #dataTable
                                            class="custom-table"
                                            [value]="dineGoBrands"
                                            [(rows)]="pagingBrand.rows"
                                            [paginator]="true"
                                            [(first)]="pagingBrand.first"
                                            [showCurrentPageReport]="true"
                                            [scrollable]="true"
                                            (sortFunction)="primengTableHelper.customSort($event)"
                                            [customSort]="true"
                                            ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="label">
                                                        {{ l('Brand') }}
                                                        <p-sortIcon field="label"></p-sortIcon>
                                                    </th>
                                                    <th>
                                                        {{ l('Delete') }}
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Brand') }}</span>
                                                        {{ record.label }}
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-danger" (click)="removeBrand(record)">Delete</button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="dineGoBrands?.length == 0">
                                            {{ l('NoData') }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                #paginator
                                                [rows]="pagingBrand.rows"
                                                [totalRecords]="dineGoBrands.length"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                                (onPageChange)="onChangePageBrand($event)"
                                            >
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', dineGoBrands.length) }}
                                            </span>
                                        </div>
                                    </div>
                                    <!--<Primeng-Datatable-End>-->
                                </div>
                            </tab>
                            <tab
                                *ngIf="device.id"
                                heading="{{ l('Payment Type') }}"
                                customClass="kt-tabs__item"
                                tabindex="2"
                                (selectTab)="tabIndex = 2"
                                class="py-5"
                                [active]="tabIndex === 2"
                            >
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="paymentType"> {{ l('Payment Type') }}</label>

                                        <ng-select id="paymentType" name="paymentType" [(ngModel)]="selectedPaymentType" [placeholder]="l('Select')">
                                            <ng-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">
                                                {{ paymentType.label }}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label style="visibility: hidden;">Add</label>
                                        <button [disabled]="!selectedPaymentType" type="button" class="btn btn-primary" (click)="addPaymentType()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <!--<Primeng-Datatable-Start>-->
                                    <div class="primeng-datatable-container col-12">
                                        <p-table
                                            #dataTable
                                            class="custom-table"
                                            [value]="dineGoPaymentTypes"
                                            [(rows)]="pagingPayment.rows"
                                            [paginator]="true"
                                            [(first)]="pagingPayment.first"
                                            [showCurrentPageReport]="true"
                                            [scrollable]="true"
                                            (sortFunction)="primengTableHelper.customSort($event)"
                                            [customSort]="true"
                                            ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="label">
                                                        {{ l('PaymentType') }}
                                                        <p-sortIcon field="label"></p-sortIcon>
                                                    </th>
                                                    <th>
                                                        {{ l('Delete') }}
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title"> {{ l('PaymentType') }}</span>
                                                        {{ record.label }}
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-danger" (click)="removePaymentType(record)">Delete</button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="dineGoPaymentTypes?.length == 0">
                                            {{ l('NoData') }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                #paginator
                                                [rows]="pagingPayment.rows"
                                                [totalRecords]="dineGoPaymentTypes.length"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                                (onPageChange)="onChangePagePayment($event)"
                                            >
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', dineGoPaymentTypes.length) }}
                                            </span>
                                        </div>
                                    </div>
                                    <!--<Primeng-Datatable-End>-->
                                </div>
                            </tab>
                            <tab
                                *ngIf="device.id"
                                heading="{{ l('Settings') }}"
                                customClass="kt-tabs__item"
                                tabindex="3"
                                (selectTab)="tabIndex = 3"
                                class="py-5"
                                [active]="tabIndex === 3"
                            >
                                <div class="mb-5">
                                    <p-panel [header]="l('Idle')" [toggleable]="true">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>{{ l('Name') }}</th>
                                                            <th>{{ l('Actions') }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let file of idleContents; let fileIndex = index">
                                                            <td>
                                                                <strong>{{ file.fileName }}</strong>
                                                            </td>
                                                            <td nowrap>
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-success btn-xs"
                                                                    (click)="fileTag = 'Idle Content'; downloader(file)"
                                                                >
                                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                                </button>
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-danger btn-xs"
                                                                    (click)="fileTag = 'Idle Content'; removeFile(fileIndex)"
                                                                >
                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-6" style="margin-bottom: 40px">
                                                <h3>{{ l('Select') }}</h3>
                                                <div class="form-group">
                                                    <input type="file" ng2FileSelect [uploader]="idleContentUploader" id="IdleContentUploader" class="" />
                                                </div>
                                                <button class="btn btn-primary" type="button" (click)="fileTag = 'Idle Content'; uploadIdleContent()">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                    {{ 'Add' | localize }}
                                                </button>
                                            </div>
                                        </div>
                                    </p-panel>
                                </div>

                                <div class="mb-5">
                                    <p-panel [header]="l('Banner')" [toggleable]="true">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>{{ l('Name') }}</th>
                                                            <th>{{ l('Actions') }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let file of bannerContents; let fileIndex = index">
                                                            <td>
                                                                <strong>{{ file.fileName }}</strong>
                                                            </td>
                                                            <td nowrap>
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-success btn-xs"
                                                                    (click)="fileTag = 'Banner Content'; downloader(file)"
                                                                >
                                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                                </button>
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-danger btn-xs"
                                                                    (click)="fileTag = 'Banner Content'; removeFile(fileIndex)"
                                                                >
                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-6" style="margin-bottom: 40px">
                                                <h3>{{ l('Select') }}</h3>
                                                <div class="form-group">
                                                    <input type="file" ng2FileSelect [uploader]="bannerContentUploader" id="BannerContentUploader" class="" />
                                                </div>
                                                <button class="btn btn-primary" type="button" (click)="fileTag = 'Banner Content'; uploadBanbnerContent()">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                    {{ 'Add' | localize }}
                                                </button>
                                            </div>
                                        </div>
                                    </p-panel>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{ l('MainButtonColor') }}</label>

                                            <div class="input-group">
                                                <input
                                                    #backgroundColor="ngModel"
                                                    [(ngModel)]="deviceThemeSettings.backgroundColor"
                                                    class="form-control"
                                                    name="backgroundColor"
                                                    type="color"
                                                    style="max-width: 45px"
                                                />
                                                <input
                                                    #mainButtonColor="ngModel"
                                                    [(ngModel)]="deviceThemeSettings.backgroundColor"
                                                    class="form-control"
                                                    [style]="'background-color:' + deviceThemeSettings.backgroundColor"
                                                    name="mainButtonColor"
                                                    type="text"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <p-panel [header]="l('Logo')" [toggleable]="true">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>{{ l('Name') }}</th>
                                                                <th>{{ l('Actions') }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let file of logo; let fileIndex = index">
                                                                <td>
                                                                    <strong>{{ file.fileName }}</strong>
                                                                </td>
                                                                <td nowrap>
                                                                    <button
                                                                        type="button"
                                                                        class="btn btn-success btn-xs"
                                                                        (click)="fileTag = 'Logo'; downloader(file)"
                                                                    >
                                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                                    </button>
                                                                    <button
                                                                        type="button"
                                                                        class="btn btn-danger btn-xs"
                                                                        (click)="fileTag = 'Logo'; removeFile(fileIndex)"
                                                                    >
                                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
    
                                                <div class="col-md-6" style="margin-bottom: 40px">
                                                    <h3>{{ l('Select') }}</h3>
                                                    <div class="form-group">
                                                        <input type="file" ng2FileSelect [uploader]="logoUploader" id="logoUploader" class="" />
                                                    </div>
                                                    <button class="btn btn-primary" type="button" (click)="fileTag = 'Logo'; uploadLogo()">
                                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                        {{ 'Add' | localize }}
                                                    </button>
                                                </div>
                                            </div>
                                        </p-panel>
                                    </div>
                                </div>
                            </tab>
                        </tabset>

                        <div class="modal-footer px-0 pb-0">
                            <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                                {{ l('Cancel') }}
                            </button>

                            <button
                                type="button"
                                class="btn btn-primary blue"
                                [disabled]="form.form.invalid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                                (click)="save()"
                            >
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
