<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #tiffinProductOfferTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="tiffinProductOfferType.id">{{l("EditTiffinProductOfferType")}}</span>
                        <span *ngIf="!tiffinProductOfferType.id">{{l("CreateNewTiffinProductOfferType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="TiffinProductOfferType_Name">{{l("Name")}} *</label>
                        <input type="text" id="TiffinProductOfferType_Name" class="form-control"
                            [(ngModel)]="tiffinProductOfferType.name" name="Name" required #nameInput="ngModel" />
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-primary blue"
                        [disabled]="!tiffinProductOfferTypeForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>