<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TiffinProductOfferTypes' | localize"
            [description]="'TiffinProductOfferTypesHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="la-file-excel-o"></i> {{l("ExportToExcel")}}
                </button>
                <button *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.ProductOfferTypes.Create')"
                    (click)="createTiffinProductOfferType()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{l("CreateNewTiffinProductOfferType")}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getTiffinProductOfferTypes($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="tiffinProductOfferType.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{l('CreationTime')}}
                                            <p-sortIcon field="tiffinProductOfferType.creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Tiffin.Manage.ProductOfferTypes.Edit', 'Pages.Tenant.Tiffin.Manage.ProductOfferTypes.Delete')">
                                            {{l('Actions')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                            {{record.tiffinProductOfferType.name}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('CreationTime')}}</span>
                                            {{record.tiffinProductOfferType.creationTime | momentFormat: 'YYYY-MM-DD'}}
                                        </td>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Tiffin.Manage.ProductOfferTypes.Edit', 'Pages.Tenant.Tiffin.Manage.ProductOfferTypes.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>

                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.ProductOfferTypes.Edit')"
                                                            (click)="createOrEditTiffinProductOfferTypeModal.show(record.tiffinProductOfferType.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.ProductOfferTypes.Delete')"
                                                            (click)="deleteTiffinProductOfferType(record.tiffinProductOfferType)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getTiffinProductOfferTypes($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditTiffinProductOfferTypeModal #createOrEditTiffinProductOfferTypeModal
            (modalSave)="getTiffinProductOfferTypes()"></createOrEditTiffinProductOfferTypeModal>
    </div>
</div>
