<div class="modal-header">
    <h4 class="modal-title">
        <span class="mr-4">{{l('Filter Options')}}</span>
    </h4>
</div>
<div class="modal-body">
    <div class="form-group m-form__group">
        <label for="StartEndRange"> {{ l('DateRange') }} </label>

        <div class="input-group date">
            <input
                type="text"
                placeholder="Choose dates"
                class="form-control"
                bsDaterangepicker
                #DateInput="ngModel"
                [(ngModel)]="dateRangeModel"
                name="date"
                #dp1="bsDaterangepicker"
                placement="left"
                [bsConfig]="{
                    isAnimated: true,
                    rangeInputFormat: 'YYYY-MM-DD',
                    dateInputFormat: 'YYYY-MM-DD',
                    showWeekNumbers: false,
                    containerClass: 'custom-filter-datepicker theme-default'
                }"
            />

            <div class="input-group-append">
                <span class="input-group-text" (click)="dp1.toggle()">
                    <i class="la la-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group m-form__group">
        <label class="">{{ l('Select') }} {{ l('Department') }} </label>
        <div class="input-group">
            <button type="button" class="btn btn-primary" (click)="showLookupModal('Department')">
                <span>Department</span>
                <span *ngIf="departments.length">- {{ departments.length }} Items</span>
            </button>
            <button
                *ngIf="departments.length"
                type="button"
                class="btn btn-danger"
                (click)="clearLookup('Department')"
            >
                Clear
            </button>
        </div>
    </div>
    <div class="form-group m-form__group">
        <label for="User"> {{ l('User') }} </label>
        <input
            class="form-control"
            id="User"
            name="User"
            #UserInput="ngModel"
            [(ngModel)]="lastModifiedUserName"
        />
    </div>
    <div class="form-group m-form__group">
        <label class="">{{ l('Select') }} {{ l('Payment') }} </label>
        <div class="input-group">
            <button type="button" class="btn btn-primary" (click)="showLookupModal('Payment')">
                <span>Payment</span>
                <span *ngIf="paymentTypes.length">- {{ paymentTypes.length }} Items</span>
            </button>
            <button
                *ngIf="paymentTypes.length"
                type="button"
                class="btn btn-danger"
                (click)="clearLookup('Payment')"
            >
                Clear
            </button>
        </div>
    </div>
    <div class="form-group m-form__group">
        <div class="checkbox-list d-flex flex-row align-items-center">
            <label for="Credit" class="checkbox">
                <input id="Credit" type="checkbox" name="Credit" [(ngModel)]="credit" />
                Credit
                <span></span>
            </label>
            <label for="Refund" class="checkbox mb-3 ml-5">
                <input id="Refund" type="checkbox" name="Refund" [(ngModel)]="refund" />
                Refund
                <span></span>
            </label>
        </div>
    </div>
    <div class="form-group m-form__group">
        <label class="">{{ l('Select') }} {{ l('Transaction') }} </label>
        <div class="input-group">
            <button type="button" class="btn btn-primary" (click)="showLookupModal('Transaction')">
                <span>Transaction</span>
                <span *ngIf="transactionTypes.length"> - {{ transactionTypes.length }} Items</span>
            </button>
            <button
                *ngIf="transactionTypes.length"
                type="button"
                class="btn btn-danger"
                (click)="clearLookup('Transaction')"
            >
                Clear
            </button>
        </div>
    </div>
    <div class="form-group m-form__group">
        <label for="Tags"> {{ l('Tags') }} </label>
        <input class="form-control" id="Tags" name="Tags" #TagsInput="ngModel" [(ngModel)]="ticketTags"/>
    </div>
    <div class="form-group m-form__group">
        <label for="TicketNumber"> {{ l('TicketNumber / ReferenceNumber') }} </label>
        <input
            class="form-control"
            id="TicketNumber"
            name="TicketNumber"
            #TicketNumberInput="ngModel"
            [(ngModel)]="ticketNo"
        />
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-filter" (click)="onRefresh()">{{ l('Refresh') }}</button>
    <div style="flex: auto"></div>
    <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
    <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
</div>

<commonMultipleLookupModal #commonMultipleLookupModal (itemsSelected)="itemsSelected($event)"> </commonMultipleLookupModal>
