<div appBsModal #balanceExportModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #miningForm="ngForm" novalidate (ngSubmit)="export()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{"BalanceSummaryExport" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="RangeDate">{{ "RangeDate" | localize }} *</label>
                                <div class="input-group date">
                                    <input 
                                        #DateInput="ngModel" 
                                        id="EffectiveDate" type="text" name="OrderDate" 
                                        class="form-control" 
                                        [(ngModel)]="dateOrder" autocomplete="off"
                                        [bsConfig]="{ rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false}"
                                        bsDaterangepicker #dp1="bsDaterangepicker" triggers="dblclick:click" 
                                        (click)="dp1.toggle()" required>

                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <validation-messages [formCtrl]="DateInput"></validation-messages>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!miningForm.form.valid ">
                        <i class="far fa-file-excel"></i>
                            <span>{{"Export" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>