<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'QueueLocations' | localize" [description]="'QueueLocationsHeaderInfo' | localize">
            <div role="actions">
                <button class="btn btn-primary" type="button" (click)="createOrEditQueueLocation()">
                    {{ l('CreateQueueLocation') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center mt-5">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #queueTable
                                class="custom-table"
                                [value]="primengTableHelper.records"
                                [(rows)]="paging.rows"
                                [paginator]="true"
                                [(first)]="paging.first"
                                [showCurrentPageReport]="true"
                                [scrollable]="true"
                                (sortFunction)="primengTableHelper.customSort($event)"
                                [customSort]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 50px">
                                            {{ l('#') }}
                                        </th>
                                        <th pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="startTime">
                                            {{ l('StartTime') }}
                                            <p-sortIcon field="startTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="endTime">
                                            {{ l('EndTime') }}
                                            <p-sortIcon field="endTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="enableQueue">
                                            {{ l('Queue') }}
                                            <p-sortIcon field="enableQueue"></p-sortIcon>
                                        </th>
                                        <th style="width: 350px">
                                            {{ l('Shortcut Link') }}
                                        </th>
                                        <th style="width: 200px">
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                                    <tr>
                                        <td style="width: 50px">
                                            <span class="ui-column-title"> {{ l('#') }}</span>
                                            {{ index + 1 }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('StartTime') }}</span>
                                            {{ record.startTime }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('EndTime') }}</span>
                                            {{ record.endTime }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Queue') }}</span>
                                            <span *ngIf="record.enableQueue" class="badge rounded-pill bg-success text-white">{{l('ON')}}</span>
                                            <span *ngIf="!record.enableQueue" class="badge rounded-pill bg-danger text-white">{{l('OFF')}}</span>
                                        </td>
                                        <td style="width: 350px">
                                            <span class="ui-column-title"> {{ l('Shortcut Link') }}</span>

                                            <ng-container *ngFor="let locationId of record.locationIds; let index = index">
                                                <span>Location: {{record.locationNames[index]}}</span>
                                                <a class="shortcut-link" href="{{wheelDomain}}/queue/{{locationId}}">Customer Queue Number Page</a>
                                                <a class="shortcut-link" href="{{wheelDomain}}/queue/{{locationId}}/dashboard">Overall Queue number Page</a>
                                            </ng-container>
                                        </td>
                                        <td style="width: 200px">
                                            <button type="button" class="btn btn-sm btn-primary mr-1" (click)="createOrEditQueueLocation(record.id)">
                                                {{ l('Edit') }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger mr-1" (click)="deleteQueueLocation(record.id)">
                                                {{ l('Delete') }}
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    #queuePaginator
                                    [rows]="paging.rows"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    (onPageChange)="onChangePage($event)"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
