::ng-deep {
    p-table.custom-table p-paginator {
        display: none !important;
    }

    p-calendar.w-100 {
        display: block;
    }
    p-calendar.w-100 span,
    p-calendar.w-100 input {
        width: 100%;
    }
    p-calendar.w-100 input {
        border: solid 1px #e5eaee;
    
        &:focus,
        &:hover {
            border-color: #69b3ff !important;
            box-shadow: unset !important;
        }
    }
}

form .btn.btn-primary {
    min-width: 100px;
}

.shortcut-link {
    display: block;

    &:hover {
        text-decoration: underline !important;
    }
}

td .btn {
    min-width: 70px;
}