::ng-deep {
    .customer-order {
        .ui-dataview-emptymessage {
            text-align: center;
        }

        .ui-dataview-header {
            border: none !important;
            background-color: unset !important;
        }

        .ui-dataview-footer {
            border: none !important;
            background-color: unset !important;
        }

        .ui-card-content {
            margin-bottom: 30px;
        }
    }

    .p-grid {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
        font-size: 13px;

        h5 {
            font-size: 18px;
        }
    }
}

tr.order-item .quantity{
    width: 150px;
}