<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid customer-order">
        <sub-header [title]="'CustomerOrders' | localize" [description]="'CustomerOrdersHeaderInfo' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off" (submit)="getAll()">
                        <div class="row align-items-center">
                            <div class="form-group col-md-6">
                                <label for="SampleDatePicker">Student/Staff Name, ID Card Number</label>
                                <div class="input-group">
                                    <input [(ngModel)]="term" name="filterText" autoFocus class="form-control m-input" type="text" placeholder="Student/Staff Name, ID Card Number"/>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="OrderDate">Order Date</label>
                                <div class="">
                                    <input
                                        id="OrderDate"
                                        type="text"
                                        name="OrderDate"
                                        class="form-control"
                                        bsDatepicker
                                        datePickerMomentModifier
                                        [(date)]="date"
                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }"
                                        placeholder="Order Date"

                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex justify-content-end">
                                    <div class="flex-fill"></div>
                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{ l('Reset') }}
                                    </button>
                                    <button type="button" class="btn btn-primary" (click)="getAll()">
                                        {{ l('Search') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="align-items-center">
                                <div class="row align-items-center">
                                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                        <p-table #locationTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                            styleClass="mystyle" [resizableColumns]="primengTableHelper.resizableColumns">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 150px" pSortableColumn="customerName">
                                                        {{l('Customer Name') }}
                                                        <p-sortIcon field="customerName"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="cliqueMealTimeName">
                                                        {{l('Clique Meal Time') }}
                                                        <p-sortIcon field="cliqueMealTimeName"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="name">
                                                        {{l('Name') }}
                                                        <p-sortIcon field="name"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 180px" pSortableColumn="orderTimeFor">
                                                        {{l('Order Time') }}
                                                        <p-sortIcon field="orderTimeFor"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="paidTime">
                                                        {{l('Paid Time') }}
                                                        <p-sortIcon field="paidTime"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="paymentMethod">
                                                        {{l('Payment Method') }}
                                                        <p-sortIcon field="paymentMethod"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 180px" pSortableColumn="total">
                                                        {{l('Total') }}
                                                        <p-sortIcon field="total"></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td style="width:150px">{{record.customerName}}</td>
                                                    <td style="width:150px">{{record.cliqueMealTimeName}}</td>
                                                    <td style="width:150px">{{record.name}}</td>
                                                    <td style="width:180px">{{record.orderTimeForStr}}
                                                    </td>
                                                    <td style="width:150px">{{record.paidTimeStr}}</td>
                                                    <td style="width:150px">{{record.paymentMethod}}</td>
                                                    <td style="width:180px">${{record.total | number: '1.2-2'}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #collectPaginator (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
