li {
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;

  a {
    display: block;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #414952;
    padding: 0.5rem 1.125rem 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    &:hover {
      color: black;
    }
  }
}


.active {
  a,
  span,
  label,
  i {
    color: black !important;
  }
  color: black !important;
}
