<li class="category_menu_list_item" *ngFor="let item of sectionChildren">
    <a (click)="clickMenuItem(item)" [ngClass]="{'active' : item.id == itemActiveId}">
        {{item.name}}
        <span *ngIf="item.sectionChildren">
            <i *ngIf="item.id === selectItemID" class="pi pi-chevron-up"></i>
            <i *ngIf="item.id !== selectItemID" class="pi pi-chevron-down"></i>
        </span>
    </a>
    <app-section-children *ngIf="item.id === selectItemID" [InputSectionChildren]="InputSectionChildren">
    </app-section-children>
</li>