<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TillTransactions' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                            
                        </div>         
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                  <label class="control-label">{{l("Account")}}</label>
                                  <div class="w-100">
                                    <p-multiSelect defaultLabel="" [filter]="true" styleClass="w-100" name="Account"
                                      [options]="listAccount" [dataKey]="'id'" [(ngModel)]="selectedAccount"
                                      optionLabel="name">
                                    </p-multiSelect>
                                  </div>
                                </div>
                              </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("User")}}</label>
                                    <input type="text" class="form-control" [(ngModel)]="userName" name="userName">
                                </div>
                            </div>
                        </div>             
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getOrders()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="locationName">
                                            {{ l('Location') }}
                                            <p-sortIcon field="locationName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="transactionTime">
                                            {{ l('Time') }}
                                            <p-sortIcon field="transactionTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="tillAccountName">
                                            {{ l('Account') }}
                                            <p-sortIcon field="tillAccountName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="remarks">
                                            {{ l('Remarks') }}
                                            <p-sortIcon field="remarks"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="user">
                                            {{ l('User') }}
                                            <p-sortIcon field="user"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="totalAmount">
                                            {{ l('Total') }}
                                            <p-sortIcon field="totalAmount"></p-sortIcon>
                                        </th>                                       
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Location') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Time') }}</span>
                                            {{ record.transactionTime | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Account') }}</span>
                                            {{ record.tillAccountName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Remarks') }}</span>
                                            {{ record.remarks }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('User') }}</span>
                                            {{ record.user }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Total') }}</span>
                                            {{ record.totalAmount }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="6">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"></td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationTotalValue | number: '1.2'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getOrders($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

<app-order-report-detail-modal #detailmodal></app-order-report-detail-modal>
