<div [@routerTransition] [busyIf]="archive" class="main large-screen">

    <div [ngClass]="!isShowOrder ? 'main-section' : 'main-section-cart'">
        <div class="main-product">
            <app-schedule></app-schedule>
            <section class="group-button container">
                <div class="button__container" [ngClass]="isShowOrder ? 'button__container_second' : ''">
                    <div class="button__container_item" *ngFor="let cliqueMealTime of cliqueMealTimeList" (click)="clickCliqueMealTime(cliqueMealTime)">
                        <button mat-flat-button [style.background-color]="cliqueMealTime.isSelected ? '#f5c031' : '#ededed'">{{cliqueMealTime.name}}</button>
                    </div>
                    <div class="button__favorite">
                        <div style="border-left: solid 1px #DBDBDB; height: 40px;"></div>
                        <button mat-flat-button style="display: flex; column-gap: 10px;" (click)="clickFavorite()"
                        [style.background-color]="isSelectedFavorite ? '#f5c031' : '#ededed'">
                            <mat-icon>favorite_border</mat-icon> 
                            Favorite
                        </button>
                    </div>
                </div>
                <div class="icon-show-cart" (click)="showCartOrder()">
                    <div class="icon-show-cart-content">
                        <img src="/assets/image/shopping-cart-2-line.png" *ngIf="!isShowOrder">
                        <img src="/assets/image/arrowhead-right.png" *ngIf="isShowOrder">
                        <span class="count-cart" *ngIf="!isShowOrder && productOrdersDto?.countItems > 0">{{productOrdersDto?.countItems}}</span>
                    </div>
                </div>
            </section>
            <section class="product-main container">
                <div class="saq-hotel-content" [ngClass]="isShowOrder ? 'cart' : ''">
                    <div *ngIf="!isShowOrder">
                        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let screenMenuCategory of screenMenuCategoryList" class="slide" 
                            (click)="clickScreenMenuCategory(screenMenuCategory)">
                                <div style="display: flex; flex-direction: column;">
                                    <img src="{{ screenMenuCategory.imagePath ? screenMenuCategory.imagePath : '/assets/image/no_image_available.png' }}" alt="" width="100%" class="slick-image" 
                                    [style.border]="screenMenuCategory.isSelected ? '6px solid #f5c031' : '6px solid #EDEDED'">
                                    <p class="hotel-title" [style.color]="screenMenuCategory.isSelected ? '#f5c031' : '#575755'">{{screenMenuCategory.name}}</p>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <div  *ngIf="isShowOrder">
                        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig7"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let screenMenuCategory of screenMenuCategoryList" class="slide" 
                            (click)="clickScreenMenuCategory(screenMenuCategory)">
                                <div style="display: flex; flex-direction: column;">
                                    <img src="{{ screenMenuCategory.imagePath ? screenMenuCategory.imagePath : '/assets/image/no_image_available.png' }}" alt="" width="100%" class="slick-image" 
                                    [style.border]="screenMenuCategory.isSelected ? '6px solid #f5c031' : '6px solid #EDEDED'">
                                    <p class="hotel-title" [style.color]="screenMenuCategory.isSelected ? '#f5c031' : '#575755'">{{screenMenuCategory.name}}</p>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <div class="group-btn" *ngIf="screenMenuCategoryList?.length > 0">
                        <div class="group-prev">
                            <button class="btn-next-prev" (click)="prev()">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                        </div>
                        <div class="group-next">
                            <button class="btn-next-next" (click)="next()" >
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="product-main container">
                <p class="number-product">Show {{totalCount}} healthy menu</p>
                <app-product [isShowOrder]="isShowOrder" (totalResult)="totalResult($event)" (addToCart)="addToCart($event)" 
                *ngIf="screenMenuCategoryList?.length > 0 || isSelectedFavorite">
                </app-product>
            </section>
        </div>
        <div class="main-side-cart" *ngIf="isShowOrder">
            <app-side-cart [productInCart]="productAddToCart"></app-side-cart>
        </div>
    </div>
</div>



<div class="mobile-screen">
    <div class="profile">
        <div class="name">
            <span>{{messageMobile}}</span>
            <div class="user-name-mobile">
                <span>{{appSession.user.userName}}</span>
            </div>
        </div>
        <img [matMenuTriggerFor]="menu" src="/assets/image/person-settings.png" alt="" class="image-person">        
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="dropdown-item label-header">My Account</button>
        <button mat-menu-item [routerLink]="['/app/portal/member/settings-common']" routerLinkActive="active-link" (click)="goToSetting()">Settings</button>
        <button mat-menu-item (click)="logout()">{{ "Logout" | localize }}</button>
    </mat-menu>
    <div class="schedule">
        <app-schedule></app-schedule>
        <section class="group-button container">
            <div class="button__container" [ngClass]="isShowOrder ? 'button__container_second' : ''">
                <div class="button__favorite">
                    <button mat-flat-button (click)="clickFavorite()"
                    [style.background-color]="isSelectedFavorite ? '#f5c031' : '#ededed'"
                    [style.color]="isSelectedFavorite ? '#ffffff' : '#444444'">
                    <img src="/assets/image/heart-mobile.png" alt="" class="image-heart" *ngIf="!isSelectedFavorite">
                    <img src="/assets/image/heart-mobile-select.png" alt="" class="heart-moble-select" *ngIf="isSelectedFavorite">
                    Favorite
                    </button>
                    <div style="border-right: solid 1px #DBDBDB; height: 40px;"></div>
                </div>
                <div class="button__container_item" *ngFor="let cliqueMealTime of cliqueMealTimeList" (click)="clickCliqueMealTime(cliqueMealTime)">
                    <button mat-flat-button [style.background-color]="cliqueMealTime.isSelected ? '#f5c031' : '#ededed'"
                    [style.color]="cliqueMealTime.isSelected ? '#ffffff' : '#444444'">{{cliqueMealTime.name}}</button>
                </div>
            </div>
            <div class="icon-show-cart" (click)="goToSideCart()">
                <div class="icon-show-cart-content">
                    <img src="/assets/image/shopping-cart-2-line.png" *ngIf="!isShowOrder">
                    <img src="/assets/image/arrowhead-right.png" *ngIf="isShowOrder">
                    <span class="count-cart" *ngIf="!isShowOrder && productOrdersDto?.countItems > 0">{{productOrdersDto?.countItems}}</span>
                </div>
            </div>
        </section>
        <section class="product-main container">
            <div class="saq-hotel-content">
                <div *ngIf="true">
                    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig4"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let screenMenuCategory of screenMenuCategoryList" class="slide" 
                        (click)="clickScreenMenuCategory(screenMenuCategory)">
                            <div style="display: flex; flex-direction: column;">
                                <img src="{{ screenMenuCategory.imagePath ? screenMenuCategory.imagePath : '/assets/image/no_image_available.png' }}" 
                                alt="" width="100%" class="slick-image" 
                                [style.border]="screenMenuCategory.isSelected ? '6px solid #f5c031' : '6px solid #EDEDED'">
                                <p class="hotel-title" [style.color]="screenMenuCategory.isSelected ? '#f5c031' : '#22232F'">{{screenMenuCategory.name}}</p>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </section>
        <section class="product-main container">
            <p class="number-product">Show {{totalCount}} healthy menu</p>
            <app-product [isShowOrder]="isShowOrder" (totalResult)="totalResult($event)" (addToCart)="addToCart($event)" 
            *ngIf="screenMenuCategoryList?.length > 0 || isSelectedFavorite">
            </app-product>
        </section>
    </div>
</div>






<app-top-bar-mobile></app-top-bar-mobile>