.menu_item {
    border: 1px solid #b0a9a9;
    text-align: center;
    width: 110%;
    height: 100%;
}

.reload {
    float: right;
    margin-right: 6px;
}

span {
    display: block;
    text-align: center;
}

td,
th {
    text-align: center;
}

.table-col {
    min-width: 115px;
}

.kt-portlet.kt-portlet--mobile {
    background-color: transparent;
    box-shadow: none;
}

.calendar-datatable-container {
    overflow: auto;
}

.table-option {
    display: none;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    .menu_content__input {
        min-width: 33%;
    }
    .menu-content__right {
        width: -webkit-fill-available;
        max-width: 52%;
    }
    .order-btn {
        display: none;
    }
}

// @media (max-width: 768px) {
//     .menu-content {
//         display: block;
//         .menu-content__center,
//         .menu-content__right {
//             width: 100%;
//             max-width: unset;
//         }
//     }
// }

// @media (max-width: 450px) {
//     .menu-content {
//         display: block;
//         div {
//             width: 100%;
//         }
//     }
//     .table-option {
//         max-width: 150px;
//         overflow: hidden;
//         position: relative;
//         z-index: 1;
//         display: block;
//     }
//     .table-container.table-menu {
//         margin-left: -150px;
//         .table .col-option {
//             visibility: hidden;
//         }
//     }
//     .table-option_th,
//     .table-option_td {
//         visibility: hidden;
//     }
//     .table-container .table .col-option {
//         span {
//             font-size: 13px !important;
//             font-weight: normal;
//         }
//     }
// }

.form-control[readonly] {
    background-color: white;
}

#filter-button {
    background: #fff url(assets/static/svg/arrow.svg) no-repeat 50%;
    width: 50px;
    height: calc(1.5em + 0.75rem + 5px);
    border: 0;
    border-left: none;
    right: 0px;
    position: absolute;
    background-color: transparent;
}

.btn-refresh {
    border: unset;
    margin-top: 5px;
}

.filter-sec .filter-sec-calender {
    margin: unset;
}

.group-button {
    position: relative;
    align-items: center;
    height: 73px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    justify-content: center;
    column-gap: 16px;
    .button__container_second {
        max-width: 700px;
        overflow: auto;
        padding: 7px;
    }
    .button__container {
        display: flex;
        align-items: center;
        &_item {
            margin-right: 16px;
        }
        button {
            background: #ededed;
            border-radius: 45px;
            padding: 10px 25px;
            min-width: 103px;
            font-size: 18px;
            color: #444444;
            font-weight: 700;
            border: unset;
            cursor: pointer;
            &.active {
                background: #f5c031;
                color: #ffffff;
            }
            @media (max-width: 991px) {
                width: 100%;
            }
        }
        button:hover {
            background: #f5c031;
            color: #ffffff;
        }
    }
    .button__favorite {
        display: flex;
        align-items: center;
        column-gap: 16px;
        button {
            background: #ededed;
            border-radius: 45px;
            padding: 10px 25px;
            min-width: 103px;
            font-size: 18px;
            color: #444444;
            font-weight: 700;
            border: unset;
            cursor: pointer;
            &.active {
                background: #f5c031;
                color: #ffffff;
            }
            @media (max-width: 991px) {
                width: 100%;
            }
        }
        button:focus,
        button:hover {
            background: #f5c031;
            color: #ffffff;
        }
    }
    .icon-show-cart {
        position: absolute;
        right: 0px;
        width: 50px;
        height: 57px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &-content {
            position: relative;
            .count-cart {
                position: absolute;
                top: -7px;
                right: -7px;
            }
        }
    }
}

@import "../../../../assets/style/color";
.product-main {
    .number-product {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        color: $black-product;
        margin: 24px 0px 15px 0px;
    }
}

.cart {
    width: 810px;
    position: relative;
}

.main {
    background: $background-main;
}

.saq-hotel-content {
    position: relative;
    .slick-slider {
        width: 100%;
        margin: auto;
    }
    ::ng-deep .slick-prev {
        display: none !important;
    }
    ::ng-deep .slick-next {
        display: none !important;
    }
    body .slick-prev,
    body .slick-next {
        height: 38px;
        width: 38px;
        background: #22232f !important;
        z-index: 100;
    }
    .slide {
        width: 95px !important;
        height: 150px;
        margin-right: 20px;
        border-radius: 6px;
        margin-top: 8px;
    }
    .mat-icon {
        margin-top: 5px;
    }
    .group-btn {
        width: 75%;
        display: flex;
        // margin-top: -230px;
        // margin-left: -20px;
        z-index: 10;
        // position: absolute;
        .group-prev {
            width: 50%;
            display: flex;
            .btn-next-prev {
                color: #22232f;
                width: 38px;
                height: 38px;
                background-color: white;
                border-radius: 24px;
                border: solid 1px #dbdbdb;
                position: absolute;
                top: 36px;
                left: -55px;
            }
            .disable-group {
                opacity: 0.7;
                pointer-events: none;
            }
        }
        .group-next {
            width: 45%;
            display: flex;
            justify-content: flex-end;
            .btn-next-next {
                color: #22232f;
                width: 38px;
                height: 38px;
                background-color: white;
                border-radius: 24px;
                border: solid 1px #dbdbdb;
                position: absolute;
                top: 36px;
                right: -55px;
            }
            .disable-group {
                opacity: 0.7;
                pointer-events: none;
            }
        }
    }
    .layout-img {
        width: 64px;
        height: 64px;
        background-color: #e5f9f5;
        margin-top: 32px;
        margin-left: 32px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hotel-title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #575755;
        margin-top: 8px;
        text-align: center;
    }
    ::ng-deep .slick-track {
        float: left;
        display: flex !important;
    }
    ::ng-deep .slick-list.draggable {
        // margin-left: 3rem;
    }
}

.main-section-cart {
    display: flex;
    justify-content: center;
}

.main-side-cart {
    margin-top: 50px;
}

.count-cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ef681c;
    border: 1px solid #ffffff;
    color: #ffffff;
}
@media (min-width: 992px) {
    .mobile-screen {
        display: none;
    }
    .saq-hotel-content {
        margin-left: 42px;
    }
    .slick-image {
        min-width: 95px;
        height: 95px;
        // border: 6px solid #f5c031;
        border-radius: 50%;
        padding: 4px;
    }
}

@media (max-width: 991px) {
    .large-screen {
        display: none;
    }
    .profile {
        padding: 20px 18px 22px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        .name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & > span:nth-child(1) {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #575755;
                margin-bottom: 2px;
            }
            .user-name-mobile {
                width: 200px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                & > span {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 23px;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    color: #22232f;
                }
            }
        }
        .image-person {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 7px solid #f8f8f8;
        }
    }
    .schedule {
        .group-button {
            background: #ffffff;
            position: unset;
            .icon-show-cart {
                right: 45px;
                bottom: 91px;
                width: 50px;
                height: 50px;
                box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.25);
                z-index: 1;
                border-radius: 50%;
                position: fixed;
                .count-cart {
                    top: -16px;
                    right: -16px;
                }
            }
            .button__favorite {
                margin-right: 16px;
                .image-heart {
                    width: 16px;
                    height: 16px;
                }
                button {
                    display: flex;
                    column-gap: 8px;
                    background-color: rgb(237, 237, 237);
                    align-items: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 100%;
                    color: #575755;
                    padding: 10px 16px;
                    min-width: unset;
                    width: 115px;
                }
            }
            .button__container {
                width: 100%;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    width: 0;
                    background: transparent;
                    display: none !important;
                }
                &::-webkit-scrollbar-thumb {
                    display: none !important;
                }
            }
            .button__container_item {
                button {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 100%;
                    text-align: center;
                    color: #444444;
                }
            }
        }
    }
    .product-main {
        background: #ffffff;
        .saq-hotel-content,
        .saq-hotel-content .slick-list.draggable {
            margin-left: 0px;
        }
        .saq-hotel-content {
            padding-top: 16px;
        }
        .slick-image {
            min-width: 73px;
            height: 73px;
            border-radius: 50%;
            padding: 4px;
            object-fit: cover;
        }
        .slide {
            margin-right: 16px;
            height: unset;
        }
        .hotel-title {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            text-align: center;
            color: #22232f;
            margin-bottom: 0px;
        }
        .number-product {
            margin-top: 0px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #22232f;
            padding-top: 24px;
        }
    }
}

::ng-deep .mat-menu-panel{
    position: absolute;
    right: 17px;
}
