<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!tax?.id" [title]="'Create Tax' | localize"> </sub-header>
        <sub-header *ngIf="tax?.id" [title]="'Edit Tax' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <div class="form">
                            <tabset class="tab-container tabbable-line">
                                <tab heading="Tax">
                                    <div class="row mt-5">
                                        <div class="form-group col-md-12">
                                            <label for="">{{ l('Name') }}</label>
                                            <input
                                                [(ngModel)]="tax.name"
                                                type="text"
                                                class="form-control"
                                                name="name"
                                                id="name"
                                                required
                                                placeholder=""
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label for="">{{ l('Percentage') }}</label>
                                            <input
                                                [(ngModel)]="tax.taxPercentage"
                                                type="number"
                                                class="form-control"
                                                name="taxPercentage"
                                                id="taxPercentage"
                                                placeholder=""
                                            />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="">{{ l('Tax Type') }}</label>
                                            <p-dropdown
                                                [options]="taxTypes"
                                                [ngModel]="{ value: tax.taxTypeId?.toString() }"
                                                (ngModelChange)="tax.taxTypeId = $event.value"
                                                name="taxTypeId"
                                                styleClass="w-100"
                                                [placeholder]="l('Select Tax Type')"
                                                [filter]="true"
                                                optionLabel="displayText"
                                                dataKey="value"
                                            >
                                            </p-dropdown>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="">{{ l('Local Ref Code') }}</label>
                                            <input
                                                [(ngModel)]="tax.localRefCode"
                                                type="number"
                                                class="form-control"
                                                name="localRefCode"
                                                id="localRefCode"
                                                placeholder=""
                                            />
                                        </div>
                                    </div>
                                </tab>

                                <tab heading="Tax Mapping">
                                    <div class="row mt-5">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>{{ l('Delete') }}</th>
                                                        <th>{{ l('LocationGroup') }}</th>
                                                        <th>{{ l('DelAggItemGroup') }}</th>
                                                        <th>{{ l('Add') }}</th>
                                                    </tr>
                                                </thead>
                                                <tr></tr>
                                                <tr *ngFor="let data of delAggTaxMapping; let index = index">
                                                    <td class="col-sm-1">
                                                        <button
                                                            type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="removeMapping(index)"
                                                        >
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <p-dropdown
                                                            [options]="locationGroups"
                                                            [ngModel]="{ id: data.delAggLocationGroupId }"
                                                            (ngModelChange)="data.delAggLocationGroupId = $event.id"
                                                            name="delAggLocationGroupId_{{ index }}"
                                                            styleClass="w-100"
                                                            [placeholder]="l('*')"
                                                            [filter]="true"
                                                            optionLabel="name"
                                                            dataKey="id"
                                                        >
                                                        </p-dropdown>
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <p-dropdown
                                                            [options]="itemGroups"
                                                            [ngModel]="{ id: data.delItemGroupId }"
                                                            (ngModelChange)="data.delItemGroupId = $event.id"
                                                            name="delItemGroupId_{{ index }}"
                                                            styleClass="w-100"
                                                            [placeholder]="l('*')"
                                                            [filter]="true"
                                                            optionLabel="name"
                                                            dataKey="id"
                                                        >
                                                        </p-dropdown>
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <button
                                                            type="button"
                                                            class="btn btn-primary btn-sm"
                                                            (click)="addMapping()"
                                                        >
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
