@import "assets/common/styles/dine-connect-customize.scss";

::ng-deep {
    .ng-select-custom .ng-value .ng-value-label .ng-value-expand {
        display: none;
    }

    .w-100 .ng2-tag-input .ng2-tags-container tag-input-form {
        width: 100%;
    }
}

.required-field:after {
    content: " *";
    color: red;
}
.form-align-center {
    display: flex;
    align-items: center;
    & > label {
        width: 110px;
    }
}

::ng-deep {
    .calendar-menu-item {
        .ui-widget-content {
            height: 110px !important;
        }
    }
}
.error-valid {
    color: #fd397a;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
}
