<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header *ngIf="!menuItemScheduleInputDto.id" [title]="l('Create Menu Item Schedule')"> </sub-header>
        <sub-header *ngIf="menuItemScheduleInputDto.id" [title]="l('Edit Menu Item Schedule')"> </sub-header>
        <div *ngIf="menuItemScheduleInputDto" [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #scheduleForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <div class="row mt-7 d-flex align-items-center" *ngIf="!isFixedMenu">
                                    <div class="form-group col-md-6">
                                        <label class="required-field" for="menu">{{ l("Menu Item") }}</label>
                                        <input type="text" id="Clique_MenuItem" class="form-control" readonly required name="Clique_MenuItem"
                                        [(ngModel)]="menuItemScheduleInputDto.menuItemName" 
                                        (click)="selectMenuItemPopupModal.show()"
                                        #menuItemName="ngModel" placeholder="Menu Item"/>
                                        <div style="height: 18px; margin-top: 7px;">
                                          <validation-messages [formCtrl]="menuItemName"></validation-messages>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group col-md-6">
                                        <label for="menu">{{ l("From Time - To Time") }}</label>
                                        <div>
                                          <p-calendar [(ngModel)]="openingHour.from" name="from" dataType="string" timeOnly="true"
                                              showTime="true" hourFormat="24" [panelStyleClass]="'form-control'" class="calendar-menu-item" (onSelect)="selectCalendar()">
                                          </p-calendar>
                                          <span style="line-height: 40px; margin: 0 10px">-</span>
                                          <p-calendar [(ngModel)]="openingHour.to" name="to" dataType="string" timeOnly="true"
                                              showTime="true" hourFormat="24" [panelStyleClass]="'form-control'" class="calendar-menu-item" (onSelect)="selectCalendar()">
                                          </p-calendar>
                                          <br>
                                          <div style="height: 18px; margin-top: 3px;">
                                            <span *ngIf="isValid" class="error-valid">{{ l("From Time must be smaller than To Time") }}</span>
                                          </div>
                                        </div>
                                    </div> -->
                                    
                                </div>
                                <div class="row no-margin mb-3">
                                    <div class="checkbox-list col-sm-3">
                                        <label for="Monday" class="checkbox">
                                            <input id="Monday" type="checkbox" name="'Monday" #monday="ngModel"
                                                [(ngModel)]="openingHour.days[0].isSelected">
                                            {{openingHour.days[0].name}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="checkbox-list col-sm-3">
                                        <label for="Tuesday" class="checkbox">
                                            <input id="Tuesday" type="checkbox" name="Tuesday" #tuesday="ngModel"
                                                [(ngModel)]="openingHour.days[1].isSelected">
                                            {{openingHour.days[1].name}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="checkbox-list col-sm-3">
                                        <label for="Wednesday" class="checkbox">
                                            <input id="Wednesday" type="checkbox" name="Wednesday" #wednesday="ngModel"
                                                [(ngModel)]="openingHour.days[2].isSelected">
                                            {{openingHour.days[2].name}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="checkbox-list col-sm-3">
                                        <label for="Thursday" class="checkbox">
                                            <input id="Thursday" type="checkbox" name="Thursday" #thursday="ngModel"
                                                [(ngModel)]="openingHour.days[3].isSelected">
                                            {{openingHour.days[3].name}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row no-margin mb-3">
                                    <div class="checkbox-list col-sm-3">
                                        <label for="Friday" class="checkbox">
                                            <input id="Friday" type="checkbox" name="Friday" #friday="ngModel"
                                                [(ngModel)]="openingHour.days[4].isSelected">
                                            {{openingHour.days[4].name}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="checkbox-list col-sm-3">
                                        <label for="Saturday" class="checkbox">
                                            <input id="Saturday" type="checkbox" name="Saturday" #saturday="ngModel"
                                                [(ngModel)]="openingHour.days[5].isSelected">
                                            {{openingHour.days[5].name}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="checkbox-list col-sm-3">
                                        <label for="Sunday" class="checkbox">
                                            <input id="Sunday" type="checkbox" name="Sunday" #sunday="ngModel"
                                                [(ngModel)]="openingHour.days[6].isSelected">
                                            {{openingHour.days[6].name}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">
                          {{ l('Cancel') }}
                        </button>

                        <button type="submit" class="btn btn-primary blue" [disabled]="!scheduleForm.form.valid || isValid">
                          <i class="fa fa-save"></i>
                          <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<select-popup #selectMenuItemPopupModal [headers]="['Name']" [dataBinding]="['name']" [loadData]="getMenuItemForCombobox()" (changeValue)="changeMenuItem($event)" selectionMode="single" [selectedValue]="selectedMenuItem" [title]="l('Menu Item')"></select-popup>