@import 'assets/common/styles/dine-connect-customize.scss';

::ng-deep {
    .paging {
        .ui-dropdown {
            float: left;
        }
    }
}
.date-schedule {
    display: flex;
    align-items: center;
}
.label-date {
    width: 100px;
    margin-bottom: 0px !important;
}
.btn-refresh {
    margin: 20px 15px;
}