<div>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Schedule')">
            <div role="actions">
                <button class="btn btn-primary" (click)="createOrUpdateSchedule()">
                    <i class="fa fa-plus"></i> {{ l('Create Menu Item Schedule') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #scheduleTable (onLazyLoad)="getItems($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <!-- <tr>
                                        <th style="width: 150px">
                                            {{l('Actions')}}
                                        </th>

                                        <th style="width: 150px" pSortableColumn="startHour">
                                            {{l('Start Hour')}}
                                            <p-sortIcon field="startHour"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="startMinute">
                                            {{l('Start Minute')}}
                                            <p-sortIcon field="startMinute"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="endHour">
                                            {{l('End Hour')}}
                                            <p-sortIcon field="endHour"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="endMinute">
                                            {{l('End Minute')}}
                                            <p-sortIcon field="endMinute"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="days">
                                            {{l('Days')}}
                                            <p-sortIcon field="days"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="MenuItemId">
                                            {{l('Menu')}}
                                            <p-sortIcon field="MenuItemId"></p-sortIcon>
                                        </th>
                                    </tr> -->
                                    <tr>
                                        <th style="width: 130px">
                                            {{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="MenuItemId">
                                            {{'Menu Item' | localize }}
                                            <p-sortIcon field="MenuItemId"></p-sortIcon>
                                        </th>
                                        <!-- <th style="width: 150px">
                                            {{'From Time' | localize }}
                                        </th>
                                        <th style="width: 150px">
                                            {{l('To Time')}}
                                        </th> -->
                                        <th class="text-center" style="width: 150px">
                                            {{l('Monday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Tuesday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Wednesday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Thursday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Friday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Saturday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Sunday')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <!-- <tr>
                                        <td style="width: 150px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a class="dropdown-item" (click)="createOrUpdateSchedule(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" (click)="deleteSchedule(record)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">{{record.startHour}}</td>
                                        <td style="width:150px">{{record.startMinute}}</td>
                                        <td style="width:150px">{{record.endHour}}</td>
                                        <td style="width:150px">{{record.endMinute}}</td>
                                        <td style="width:150px">{{record.days}}</td>
                                        <td style="width:150px">{{record.menuItemName}}</td>
                                    </tr> -->

                                    <tr>
                                        <td style="width: 130px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a class="dropdown-item" (click)="createOrUpdateSchedule(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" (click)="deleteSchedule(record)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">
                                            {{record.menuItemName}}
                                        </td>
                                        <!-- <td style="width:150px">
                                            {{convertTime(record.startHour)}}:{{convertTime(record.startMinute)}}
                                        </td>
                                        <td style="width:150px">
                                            {{convertTime(record.endHour)}}:{{convertTime(record.endMinute)}}
                                        </td> -->
                                        <td style="width:150px">
                                            <div *ngIf="record.monday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.monday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.tuesday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.tuesday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.wednesday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.wednesday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.thursday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.thursday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.friday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.friday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.saturday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.saturday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.sunday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.sunday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" (onPageChange)="getItems($event)" #categoryPaginator [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>