<div appBsModal #createModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #faqForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"CreateNewFaq" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Questions">{{"Question" | localize}} *</label>
                        <input id="Questions" #QuestionsInput="ngModel" class="form-control"
                            type="text" name="Questions" [(ngModel)]="faq.questions" required>
                        <validation-messages [formCtrl]="QuestionsInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Answer">{{"Answer" | localize}} *</label>
                        <div class="form-group">
                            <editor-tiny-mce 
                                #AnswerInput="ngModel"
                                [(ngModel)]="faq.answer" 
                                name="Answer"
                                required
                                [init]="{
                                    height: 300,
                                    menubar: false,
                                    toolbar: ['styleselect fontselect fontsizeselect',
                                        'undo redo | cut copy paste | bold italic | link image | alignleft aligncenter alignright alignjustify| forecolor backcolor',
                                        'bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code'],
                                    plugins : 'advlist autolink link image lists charmap print preview code'
                                }">
                            </editor-tiny-mce>
                        </div>
                        <validation-messages [formCtrl]="AnswerInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="DisplayOrder">{{"DisplayOrder" | localize}} *</label>
                        <div class="input-group">
                            <input #displayOrder="ngModel" type="text" name="DisplayOrder"
                                id="DisplayOrder" class="form-control" required
                                [ngClass]="{'edited':faq.displayOrder}"
                                [(ngModel)]="faq.displayOrder"
                                [textMask]="{mask: numberMask}" />
                        </div>
                        <validation-messages [formCtrl]="displayOrder"></validation-messages>
                    </div>

                    <div class="checkbox-list">
                        <label for="EditFaq_Enable" class="checkbox">
                            <input id="EditFaq_Enable" type="checkbox" name="Enable"
                                [(ngModel)]="faq.isDisplayAtHomePage" />
                            {{"DisplayAtHomePage" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!faqForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>