<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Faqs' | localize" [description]="'FaqsHeaderInfo' | localize">
            <div role="actions">
                <button *ngIf="'Pages.Tenant.Tiffin.Manage.Faq.Create' | permission" class="btn btn-primary"
                        (click)="createFaq()"><i class="fa fa-plus"></i>{{"CreateNewFaq" | localize}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getFaqs()" 
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" 
                                [paginator]="false"
                                [lazy]="true" 
                                [responsive]="primengTableHelper.isResponsive">

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{'Question' | localize}}
                                        </th>
                                        <th>
                                            {{'Answer' | localize}}
                                        </th>
                                        <th>
                                            {{'DisplayAtHomePage' | localize}}
                                        </th>
                                        <th>
                                            {{'DisplayOrder' | localize}}
                                        </th>
                                        <th style="width: 130px;"
                                            [hidden]="!(['Pages.Tenant.Tiffin.Manage.Faq.Edit', 'Pages.Tenant.Tiffin.Manage.Faq.Delete'] | permissionAny)">
                                            {{'Actions' | localize}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        
                                        <td>
                                            <span class="ui-column-title">{{'Question' | localize}}</span>
                                            {{record.questions}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'Answer' | localize}}</span>
                                            <span [innerHTML]="record.answer"></span>
                                        </td>
                                        <td style="width: 200px">
                                            <span class="ui-column-title">{{'DisplayAtHomePage' | localize}}</span>
                                            <span class="label label-success label-inline"
                                                *ngIf="record.isDisplayAtHomePage">{{'Yes' | localize}}</span>
                                            <span class="label label-dark label-inline"
                                                *ngIf="!record.isDisplayAtHomePage">{{'No' | localize}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'DisplayOrder' | localize}}</span>
                                            {{record.displayOrder}}
                                        </td>
                                        <td style="width: 130px;text-align:center">
                                            <div class="btn-group dropdown" dropdown>
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="'Pages.Tenant.Tiffin.Manage.Faq.Edit' | permission"
                                                            (click)="editFaq(record)">{{'Edit' | localize}}</a>
                                                    </li>

                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="'Pages.Tenant.Tiffin.Manage.Faq.Delete' | permission"
                                                            (click)="deleteFaq(record)">{{'Delete' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="ui-table-footer">
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <createFaqModal #createFaqModal (modalSave)="getFaqs()"></createFaqModal>
    <editFaqModal #editFaqModal (modalSave)="getFaqs()"></editFaqModal>
</div>