<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header
            [title]="!dinePlanTax.id ? l('CreateNewDinePlanTax') : (l('EditDinePlanTax')+ ': ' + dinePlanTax.taxName)">
        </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div>
                        <tabset class="tab-container tabbable-line">

                            <!-- Tax -->
                            <tab heading="{{l('Tax')}}" customClass="kt-tabs__item" tabindex="0"
                                (selectTab)="openTabMapping = false" class="p-5" [active]="!openTabMapping">

                                <!-- DinePlanTaxForm -->
                                <form #dinePlanTaxForm="ngForm" class="mb-4" novalidate (ngSubmit)="save()"
                                    autocomplete="off">
                                    <!-- Name -->
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="DinePlanTax_Name">{{l("Name")}} *</label>
                                            <input autoFocus type="text" id="DinePlanTax_Name" class="form-control"
                                                [(ngModel)]="dinePlanTax.taxName" name="DinePlanTax_Name" required
                                                #dinePlanTax_Name="ngModel" maxlength="50" />
                                            <validation-messages [formCtrl]="dinePlanTax_Name"></validation-messages>
                                        </div>

                                        <!-- Transaction Type -->
                                        <div class="form-group col-md-6">
                                            <label for="taxTransactionType">{{l("TransactionType")}} *</label>
                                            <ng-select id="taxTransactionType" name="taxTransactionType" required
                                                [(ngModel)]="dinePlanTax.transactionTypeId"
                                                #taxTransactionType="ngModel">
                                                <ng-option *ngFor="let transactionType of transactionTypes"
                                                    [value]="+transactionType.value">{{transactionType.displayText}}
                                                </ng-option>
                                            </ng-select>

                                            <validation-messages [formCtrl]="taxTransactionType">
                                            </validation-messages>
                                        </div>
                                    </div>
                                    <!-- End DinePlanTaxForm -->

                                    <div [hidden]="!isEdit" class="row">
                                        <div class="col-md-12">
                                            <div class="align-items-center">
                                                <div class="d-flex align-items-center mb-3">
                                                    <h6 class="flex-grow-1">{{l('TaxBasedOnLocations')}}</h6>

                                                    <button type="button" class="btn btn-secondary mr-1"
                                                        (click)="clearFilter()">
                                                        <i class="fas fa-eraser"></i>
                                                        {{l('Clear')}}
                                                    </button>

                                                    <button type="button" class="btn btn-secondary"
                                                        (click)="openFilterSelectLocationOrGroupModal()">
                                                        <i class="fas fa-filter"></i>
                                                        {{l('Filter')}}
                                                    </button>
                                                </div>

                                                <!-- TaxBasedOnLocations Table -->
                                                <div class="primeng-datatable-container"
                                                    [busyIf]="primengTableHelper.isLoading">
                                                    <p-table #dataTable [value]="primengTableHelper.records"
                                                        rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                                        [paginator]="false" [lazy]="true" [scrollable]="true"
                                                        ScrollWidth="100%"
                                                        [responsive]="primengTableHelper.isResponsive"
                                                        [resizableColumns]="primengTableHelper.resizableColumns">
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th style="width: 150px"
                                                                    pSortableColumn="taxPercentage">
                                                                    {{l('Percentage')}}
                                                                    <p-sortIcon field="taxPercentage"></p-sortIcon>
                                                                </th>

                                                                <th style="width: 130px">
                                                                    {{l('View')}}
                                                                </th>

                                                                <th style="width: 130px">
                                                                    {{l('Edit')}}
                                                                </th>

                                                                <th style="width: 130px">
                                                                    {{l('Delete')}}
                                                                </th>

                                                                <th style="width: 130px">
                                                                    {{l('CloneMapping')}}
                                                                </th>
                                                            </tr>
                                                        </ng-template>

                                                        <ng-template pTemplate="body" let-record="$implicit">
                                                            <tr>
                                                                <td>
                                                                    <span class="ui-column-title">
                                                                        {{l('Percentage')}}</span>
                                                                    {{record.taxPercentage}}
                                                                </td>

                                                                <td>
                                                                    <span class="ui-column-title"> {{l('View')}}</span>
                                                                    <button class="btn-secondary btn" type="button"
                                                                        (click)="viewTaxLocation(record)">
                                                                        <i class="fas fa-eye"></i>{{l('View')}}
                                                                    </button>
                                                                </td>

                                                                <td>
                                                                    <span class="ui-column-title"> {{l('Edit')}}</span>
                                                                    <button class="btn-secondary btn" type="button"
                                                                        (click)="editLocationTax(record)">
                                                                        <i class="flaticon-edit"></i>{{l('Edit')}}
                                                                    </button>
                                                                </td>

                                                                <td>
                                                                    <span class="ui-column-title">
                                                                        {{l('Delete')}}</span>
                                                                    <button class="btn-secondary btn" type="button"
                                                                        (click)="deleteLocationTax(record)"><i
                                                                            class="fa fa-trash"></i>{{l('Delete')}}</button>
                                                                </td>

                                                                <td>
                                                                    <span class="ui-column-title">
                                                                        {{l('CloneMapping')}}
                                                                    </span>
                                                                    <button class="btn-secondary btn" type="button"
                                                                        (click)="cloneLocationTax(record)">
                                                                        <i
                                                                            class="flaticon2-copy"></i>{{l('CloneMapping')}}
                                                                    </button>
                                                                </td>

                                                            </tr>
                                                        </ng-template>
                                                    </p-table>

                                                    <div class="primeng-no-data"
                                                        *ngIf="primengTableHelper.totalRecordsCount == 0">
                                                        {{l('NoData')}}
                                                    </div>
                                                    <div class="primeng-paging-container">
                                                        <p-paginator
                                                            [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                            #paginator (onPageChange)="getLocationTaxes($event)"
                                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                                        </p-paginator>
                                                        <span class="total-records-count">
                                                            {{l('TotalRecordsCount',
                                                            primengTableHelper.totalRecordsCount)}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- End TaxBasedOnLocations Table -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving"
                                            (click)="close()">
                                            {{l("Cancel")}}
                                        </button>

                                        <button type="button" class="btn btn-primary blue"
                                            [disabled]="!dinePlanTaxForm.form.valid" [buttonBusy]="saving"
                                            [busyText]="l('SavingWithThreeDot')" (click)="save()">
                                            <i class="fa fa-save"></i>
                                            <span>{{l("Save")}}</span>
                                        </button>
                                    </div>
                                </form>
                            </tab>
                            <!-- End Tax -->

                            <!-- -------------------------------------------------- -->

                            <!-- TaxMapping -->
                            <tab *ngIf="isEdit" heading="{{l('TaxMapping')}}" customClass="kt-tabs__item" tabindex="2"
                                (selectTab)="openTabMapping = true" [active]="openTabMapping" class="p-5">
                                <form #dinePlanTaxMappingForm="ngForm" class="mb-4" novalidate (ngSubmit)="save()">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="mb-5">
                                                {{isEditTaxMapping?l('Edit'):l('Add')}}
                                                {{l("TaxMappingBasedOnLocations")}}
                                            </h6>
                                        </div>
                                        <div class="form-group col-md-6">

                                            <button type="button" (click)="openSelectLocationModal()"
                                                class="btn btn-outline-success">
                                                <span>{{l("SelectLocation")}}</span>
                                            </button>

                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="DinePlanTax_Percentage">{{l("Percentage")}} *</label>
                                            <input type="number" id="taxLocationPercentage" name="taxLocationPercentage"
                                                class="form-control" [required]="openTabMapping"
                                                [(ngModel)]="taxMappingTaxLocation.taxPercentage"
                                                #taxLocationPercentage="ngModel" max="100" />
                                            <validation-messages [formCtrl]="taxLocationPercentage">
                                            </validation-messages>
                                        </div>
                                    </div>
                                </form>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right mb-2">
                                            <button type="button" class="btn btn-primary" (click)="addItem()"><i
                                                    class="fa fa-plus"></i>{{"AddItem" | localize}}</button>
                                        </div>

                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr>
                                                    <th style="width: 150px;">{{l("Department")}} *</th>
                                                    <th style="width: 150px;">{{l("Category")}} *</th>
                                                    <th style="width: 150px;">{{l("MenuItem")}} *</th>
                                                    <th style="width: 150px;"></th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let m of taxMappingTaxMappings; let index = index">
                                                <td>
                                                    <ng-select [id]="'Department'+ index" placeholder="*"
                                                        [items]="departments" bindLabel="displayText" bindValue="value"
                                                        [(ngModel)]="m.departmentId" [name]="'Department'+ index"
                                                        (change)="currentIndex = index">
                                                    </ng-select>
                                                </td>

                                                <td>
                                                    <ng-select [id]="'Category'+ index" placeholder="*"
                                                        [items]="categories" bindLabel="displayText" bindValue="value"
                                                        [(ngModel)]="m.categoryId" [name]="'Category'+ index"
                                                        (change)="getMenuItems(m.categoryId, index)">
                                                    </ng-select>
                                                </td>

                                                <td>
                                                    <div [hidden]="currentIndex != index">
                                                        <ng-select [id]="'MenuItem'+ index" placeholder="*"
                                                            [items]="menuItems" bindLabel="displayText"
                                                            bindValue="value" [(ngModel)]="m.menuItemId"
                                                            [name]="'MenuItem'+ index">
                                                        </ng-select>

                                                    </div>
                                                    <div [hidden]="currentIndex == index">
                                                        <ng-select [id]="'MenuItem'+ index" placeholder="*"
                                                            [items]="allMenuItems" bindLabel="displayText"
                                                            bindValue="value" [(ngModel)]="m.menuItemId"
                                                            [name]="'MenuItem'+ index">
                                                        </ng-select>
                                                    </div>
                                                </td>

                                                <td>
                                                    <button type="button" class="btn btn-secondary"
                                                        (click)="removeItem(index)">
                                                        <i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary blue" [buttonBusy]="saving"
                                        [busyText]="l('SavingWithThreeDot')" (click)="save()">
                                        <i class="fa fa-save"></i>
                                        <span>{{l("Add or Update")}}</span>
                                    </button>
                                </div>
                            </tab>
                            <!-- End TaxMapping -->

                        </tabset>

                    </div>
                </div>
            </div>
        </div>

        <!-- SelectLocationOrGroup -->
        <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
        </select-location-or-group>

        <select-location-or-group #selectFilterLocationOrGroup (locationAdded)="setFilterSelectLocations($event)">
        </select-location-or-group>
        <!-- End SelectLocationOrGroup -->
    </div>
</div>