<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'DinePlanTaxes' | localize" [description]="'DinePlanTaxesHeaderInfo' | localize">
      <div role="actions">
        <label for="isDeleted" class="checkbox mr-2">
          <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox" (change)="getDinePlanTaxes()">
          {{l("Deleted")}}
          <span></span>
        </label>

        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
          {{l("ExportToExcel")}}</button>

        <button *ngIf="isGranted('Pages.Tenant.Connect.Master.DinePlanTaxes.Create')"
          (click)="createOrEditDinePlanTax()" class="btn btn-primary blue"><i class="fa fa-plus"></i>
          {{l("CreateNewDinePlanTax")}}</button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <!-- Filter Form -->
          <form class="form" autocomplete="off" (ngSubmit)="search()">
            <div class="row align-items-center">

              <div class="col-12">
                <div class="form-group m-form__group align-items-center">
                  <div class="input-group">
                    <input autoFocus [(ngModel)]="filterText" name="filterText" class="form-control m-input"
                      [placeholder]="l('SearchWithThreeDot')" type="text">
                    <span class="input-group-btn">
                      <button (click)="getDinePlanTaxes()" class="btn btn-primary" type="submit"><i
                          class="flaticon-search-1"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-12 text-right">
                <div class="d-flex">
                  <button class="btn btn-primary" type="button" (click)="openSelectLocationModal()">
                    {{l("LocationOrGroup")}}
                    <span *ngIf="getLocationsSelected(filterLocationsInput)"> -
                      {{getLocationsSelected(filterLocationsInput)}}</span>
                  </button>

                  <div class="flex-fill"></div>

                  <button type="button" class="btn btn-primary" (click)="reset()">
                    {{l("Refresh")}}
                  </button>

                  <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                    {{l("Search")}}
                  </button>
                </div>
              </div>
            </div>

          </form>
          <!-- End Filter Form -->

          <div class="row align-items-center">
            <!-- Start Primeng-Datatable -->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getDinePlanTaxes($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th
                      [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.DinePlanTaxes.Edit', 'Pages.Tenant.Connect.Master.DinePlanTaxes.Delete')">
                      {{l('Actions')}}</th>
                    <th pSortableColumn="taxName">
                      {{l('TaxName')}}
                      <p-sortIcon field="taxName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="transactionType.Name">
                      {{l('TransactionType')}}
                      <p-sortIcon field="transactionType.Name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="creationTime">
                      {{l('CreationTime')}}
                      <p-sortIcon field="creationTime"></p-sortIcon>
                    </th>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td
                      [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.DinePlanTaxes.Edit', 'Pages.Tenant.Connect.Master.DinePlanTaxes.Delete')">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span>
                          {{l("Actions")}}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;" class="dropdown-item"
                              *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.DinePlanTaxes.Edit')"
                              (click)="createOrEditDinePlanTax(record.id)">{{l('Edit')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" class="dropdown-item"
                              *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.DinePlanTaxes.Delete')"
                              (click)="deleteDinePlanTax(record)">{{l('Delete')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" class="dropdown-item"
                              *ngIf="isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.DinePlanTaxes.Edit')"
                              (click)="activateItem(record)">{{ l('Revert') }}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <span class="ui-column-title"> {{l('TaxName')}}</span>
                      {{record.taxName}}
                    </td>
                    <td>
                      <span class="ui-column-title"> {{l('TransactionType')}}</span>
                      {{record.transactionTypeName}}
                    </td>
                    <td>
                      <span class="ui-column-title"> {{l('CreationTime')}}</span>
                      {{record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                    </td>

                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{l('NoData')}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getDinePlanTaxes($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="selectLocations($event)"></select-location-or-group>
