<div class="pl-3 d-flex flex-row justify-content-start align-items-center mb-3">
    <button *ngIf="isShowPreferences" type="button" (click)="display = true" name="" id="" class="btn btn-outline-primary">
        <i class="fa fa-cog" aria-hidden="true"></i> {{ l('Preferences') }}
    </button>
</div>
<p-sidebar [(visible)]="display" position="right">
    <p-listbox
        [options]="options.cols"
        [(ngModel)]="selectedCol"
        (onChange)="onPreferencesChange($event)"
        [metaKeySelection]="false"
        [checkbox]="true"
        [filter]="true"
        [multiple]="true"
        optionLabel="header"
        [listStyle]="{ 'max-height': '250px' }"
        [style]="{ width: 'calc(100% - 20px)' }"
    >
        <ng-template let-column pTemplate="item">
            <div class="col-item">
                <div>{{ column.label }}</div>
            </div>
        </ng-template>
    </p-listbox>
</p-sidebar>

<div class="primeng-datatable-container col-12 card dynamic-table" [busyIf]="primengTableHelper.isLoading">
    <p-table
        #dataTable
        (onLazyLoad)="getAll($event)"
        (onColReorder)="onColReorder($event)"
        [value]="primengTableHelper.records"
        [columns]="selectedCol"
        [rows]="primengTableHelper.defaultRecordsCountPerPage"
        [paginator]="false"
        [lazy]="true"
        dataKey="id"
        [responsive]="primengTableHelper.isResponsive"
        [reorderableColumns]="true"
        [resizableColumns]="true"
        stateStorage="local"
        [stateKey]="options.stateKey"
        styleClass="p-datatable-gridlines"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th
                    *ngFor="let col of columns"
                    [pSortableColumn]="col?.type != 'action' ? col?.field : false"
                    pReorderableColumn
                    pResizableColumn
                >
                    {{ col?.header }}
                    <p-sortIcon *ngIf="col?.type != 'action'" [field]="col?.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <ng-container *ngFor="let col of columns">
                    <td [ngSwitch]="col.type">
                        <ng-container *ngSwitchCase="'date'"
                            >{{ rowData[col.field] | momentFormat: 'DD MMM YYYY' }}
                        </ng-container>
                        <ng-container *ngSwitchCase="'number'">{{ rowData[col.field] }}</ng-container>
                        <ng-container *ngSwitchCase="'money'">${{ rowData[col.field] | number: '1.2-2' }}</ng-container>
                        <ng-container *ngSwitchCase="'string'">{{ rowData[col.field] }}</ng-container>
                        <ng-container *ngSwitchCase="'action'">
                            <div class="btn-group dropdown" dropdown container="body" [container]="'customer-dropdown'">
                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                    {{ l('Actions') }}
                                </button>
                                <ul class="dropdown-menu" *dropdownMenu>
                                    <li>
                                        <a
                                            href="javascript:;"
                                            class="dropdown-item"
                                            *ngIf="isGranted(options.isGrantedEdit)"
                                            (click)="edit(rowData)"
                                            >{{ l('Edit') }}</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="javascript:;"
                                            class="dropdown-item"
                                            *ngIf="isGranted(options.isGrantedDelete)"
                                            (click)="delete(rowData)"
                                            >{{ l('Delete') }}</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchDefault>{{ rowData[col.field] }}</ng-container>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
        {{ l('NoData') }}
    </div>
    <div class="primeng-paging-container">
        <p-paginator
            [rows]="primengTableHelper.defaultRecordsCountPerPage"
            #paginator
            (onPageChange)="getAll($event)"
            [totalRecords]="primengTableHelper.totalRecordsCount"
            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
        >
        </p-paginator>
        <span class="total-records-count">
            {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
        </span>
    </div>
</div>
