.btn-actions {
    text-transform: none;
    background-color: #f3f6f9;
}

.primeng-datatable-container p-table th,
.pi.pi-bars {
    cursor: pointer;
}
.col-item {
    display: inline-block;
}

::ng-deep {
    .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
        background-color: #ffffff !important;
        color: #333333 !important;
    }

    .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
        font-size: 14px !important;
    }

    .dynamic-table {
        .ui-table .ui-column-resizer {
            border-left: 1px solid #ddd;
        }

        .ui-table .ui-sortable-column.ui-state-highlight {
            color: #333333 !important;
            background-color: #f4f4f4 !important;

            .ui-sortable-column-icon {
                color: #848484 !important;
            }
        }

        .ui-table .ui-sortable-column:focus {
            box-shadow: unset !important;
        }
    }
}
