<div appBsModal #createOrEditModal="bs-modal" class="modal fade" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #foreignCurrencyForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="foreignCurrency.id">{{l("EditForeignCurrency")}}</span>
                        <span *ngIf="!foreignCurrency.id">{{l("CreateNewForeignCurrency")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="nameInput">{{l("Name")}} *</label>
                        <input id="nameInput" class="form-control" [(ngModel)]="foreignCurrency.name"
                            name="nameInput" required #nameInput="ngModel" autoFocus/>
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="PaymentTypeName">{{l("PaymentType")}} *</label>
                        <div class="input-group">
                            <select id="PaymentTypeName" required class="form-control"
                                [(ngModel)]="foreignCurrency.paymentTypeId" name="PaymentTypeName"
                                #paymentType="ngModel">
                                <option [ngValue]="undefined">
                                    {{"Select" | localize}}
                                </option>
                                <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.value">
                                    {{paymentType.displayText}}
                                </option>
                            </select>
                        </div>
                        <validation-messages [formCtrl]="paymentType"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ForeignCurrency_CurrencySymbol">{{l("CurrencySymbol")}}</label>
                        <input type="text" id="ForeignCurrency_CurrencySymbol" class="form-control"
                            [(ngModel)]="foreignCurrency.currencySymbol" name="CurrencySymbol" minlength="0"
                            maxlength="50" />
                    </div>

                    <div class="form-group">
                        <label for="ForeignCurrency_ExchangeRate">{{l("ExchangeRate")}} *</label>
                        <input type="number" required id="ForeignCurrency_ExchangeRate" class="form-control"
                            [(ngModel)]="foreignCurrency.exchangeRate" name="ExchangeRate" #exchangeRate="ngModel" />
                        <validation-messages [formCtrl]="exchangeRate"></validation-messages>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" 
                        [disabled]="!foreignCurrencyForm.form.valid"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>