<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'ForeignCurrencies' | localize" [description]="'ForeignCurrenciesHeaderInfo' | localize">
      <div role="actions">
        <label for="isDeleted" class="checkbox mr-2">
          <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
            (change)="getForeignCurrencies()">
          {{l("Deleted")}}
          <span></span>
        </label>
        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
          {{l("ExportToExcel")}}</button>
        <button *ngIf="isGranted('Pages.Tenant.Connect.Master.ForeignCurrencies.Create')"
          (click)="createForeignCurrency()" class="btn btn-primary blue"><i class="fa fa-plus"></i>
          {{l("CreateNewForeignCurrency")}}</button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form class="form" autocomplete="off">
            <div>
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                      <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                        [placeholder]="l('SearchWithThreeDot')" type="text">
                      <span class="input-group-btn">
                        <button (click)="getForeignCurrencies()" class="btn btn-primary" type="submit"><i
                            class="flaticon-search-1"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row" [hidden]="!advancedFiltersAreShown">
                <div class="col-md-12">
                  <div class="kt-separator kt-separator--border-dashed"></div>
                </div>


                <div class="col-md-3">
                  <div class="form-group">
                    <label for="PaymentTypeNameFilter">({{l("PaymentType")}}) {{l("Name")}}</label>
                    <input type="text" class="form-control" id="PaymentTypeNameFilter" name="paymentTypeNameFilter"
                      [(ngModel)]="paymentTypeNameFilter">
                  </div>
                </div>

              </div>
              <div class="row mb-2">
                <div class="col-sm-12">
                  <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i>
                    {{l("ShowAdvancedFilters")}}</span>
                  <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i>
                    {{l("HideAdvancedFilters")}}</span>
                </div>
              </div> -->
            </div>
          </form>

          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getForeignCurrencies($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 130px"
                      [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.ForeignCurrencies.Edit', 'Pages.Tenant.Connect.Master.ForeignCurrencies.Delete')">
                      {{l('Actions')}}</th>
                    <th style="width: 100px" pSortableColumn="id">
                      {{l('Id')}}
                      <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="name">
                      {{l('Name')}}
                      <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="paymentType.name">
                      {{l('PaymentType')}}
                      <p-sortIcon field="paymentTypeName"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="currencySymbol">
                      {{l('CurrencySymbol')}}
                      <p-sortIcon field="currencySymbol"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="exchangeRate">
                      {{l('ExchangeRate')}}
                      <p-sortIcon field="exchangeRate"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="CreationTime">
                      {{l('CreationTime')}}
                      <p-sortIcon field="CreationTime"></p-sortIcon>
                    </th>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 130px"
                      [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.ForeignCurrencies.Edit', 'Pages.Tenant.Connect.Master.ForeignCurrencies.Delete')">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;" class="dropdown-item"
                              *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.ForeignCurrencies.Edit')"
                              (click)="createOrEditForeignCurrencyModal.show(record.id)">{{l('Edit')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" class="dropdown-item"
                              *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.ForeignCurrencies.Delete')"
                              (click)="deleteForeignCurrency(record)">{{l('Delete')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" class="dropdown-item"
                              *ngIf="isDeleted && isGranted('Pages.Tenant.Connect.Master.ForeignCurrencies.Edit')"
                              (click)="activateItem(record)">{{ l('Revert') }}</a>
                          </li>

                        </ul>
                      </div>
                    </td>
                    <td style="width:100px">
                      <span class="ui-column-title"> {{l('Id')}}</span>
                      {{record.id}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('Name')}}</span>
                      {{record.name}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('paymentTypeName')}}</span>
                      {{record.paymentTypeName}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('CurrencySymbol')}}</span>
                      {{record.currencySymbol}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('ExchangeRate')}}</span>
                      {{record.exchangeRate}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('CreationTime')}}</span>
                      {{record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                    </td>

                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{l('NoData')}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getForeignCurrencies($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>

    <createOrEditForeignCurrencyModal #createOrEditForeignCurrencyModal (modalSave)="getForeignCurrencies()">
    </createOrEditForeignCurrencyModal>

    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>
