﻿@model DineConnect.Gateway.Web.ViewModels.ExternalTicket.Create
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/addon.js"></script>
}

<h2>Create Location</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="AddOn" name="AddOn" value="" />

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label class="control-label col-md-2" for="Code">Ticket Number</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="TicketNumber" name="TicketNumber" type="text" value="">
            </div>

            <label class="control-label col-md-2" for="Name">Status</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="Status" name="Status" type="text" value="">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2" for="Country">Delivery Contents</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="DeliveryContents" name="DeliveryContents" type="text" value="">
            </div>
            <label class="control-label col-md-2" for="Country">Location</label>

            <div class="col-md-4">
                <select id="BrandId" name="LocationId" class="form-control">
                    @foreach (DineConnect.Gateway.Core.Models.Data.Location item in Model.Location)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="control-label col-md-2" for="Country">Claimed</label>
            <div class="col-md-4">
                <select id="Claimed" name="Claimed" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>

       

 

        <div class="form-group row">
            <div class="col-12 text-right">
                <a href="@Url.Action("Index")" class="btn btn-dark">Cancel</a>
                <input type="button" value="Save" class="btn btn-primary submitFormHaveAddOnTableBtn" />
            </div>
        </div>
    </div>
}