﻿@model DineConnect.Gateway.Core.Models.Data.ExternalDeliveryTicket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

<h2>Details</h2>


<h4>Brand</h4>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Brand Details</h5>
        <p class="card-text"><span style="font-weight: bold"> Ticket Number :</span>@Html.DisplayNameFor(model => model.TicketNumber)</p>
        <p class="card-text"><span style="font-weight: bold"> Delivery Contents :</span> @Html.DisplayFor(model => model.DeliveryContents)</p>
        <p class="card-text"><span style="font-weight: bold"> Claimed :</span> @Html.DisplayFor(model => model.Claimed)</p>
        <p class="card-text"><span style="font-weight: bold"> Status :</span> @Html.DisplayFor(model => model.Status)</p>
        <p class="card-text"><span style="font-weight: bold"> Updated Date :</span> @Html.DisplayFor(model => model.UpdateDate)</p>
        <p class="card-text"><span style="font-weight: bold"> Created Date :</span> @Html.DisplayFor(model => model.CreateDate)</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>