﻿@model DineConnect.Gateway.Web.ViewModels.ExternalTicket.Edit

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/addon.js"></script>
}

<h2>Edit Location</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="Id" name="Id" value="@Model.ExternalDelivery.Id" />


    <input type="hidden" id="AddOnKeys" name="AddOnKeys" value="@ViewBag.AddOnKeys" />

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group row">
            <label class="control-label col-md-2" for="TicketNumber">Ticket Number</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="TicketNumberId" name="TicketNumber" type="text" value="@Model.ExternalDelivery.TicketNumber">
            </div>

            <label class="control-label col-md-2" for="Status">Status</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="StatusId" name="Status" type="text" value="@Model.ExternalDelivery.Status">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2" for="DeliveryContents">Delivery Contents</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="DeliveryContentsId" name="DeliveryContents" type="text" value="@Model.ExternalDelivery.DeliveryContents">
            </div>
            <label class="control-label col-md-2" for="PlatformName">PlatformName</label>
            <div class="col-md-4">
                <select id="Claimed" name="Claimed" class="form-control">
                    @foreach (bool claim in ViewBag.Claimed)
                    {
                        if (claim == Model.ExternalDelivery.Claimed)
                        {
                            <option value="@claim" selected="selected">@claim</option>
                        }
                        else
                        {
                            <option value="@claim">@claim</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">

            <label class="control-label col-md-2" for="BrandId">Brand</label>
            <div class="col-md-4">
                <select id="BrandId" name="BrandId" class="form-control">
                    @foreach (DineConnect.Gateway.Core.Models.Data.Location item in Model.Location)
                    {
                        if (Model.ExternalDelivery.LocationId == item.Id)
                        {
                            <option value="@item.Id" selected="selected">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-12 text-right">
                <a href="@Url.Action("Index")" class="btn btn-dark">Cancel</a>
                <input type="button" value="Save" class="btn btn-primary submitFormHaveAddOnTableBtn" />
            </div>
        </div>
    </div>
}