﻿@model DineConnect.Gateway.Web.ViewModels.ListTicket.ListTicketOutputViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

<h2>External Tickets</h2>

<div class="container">
    <div class="row">
        <div style="width: 100%">
            <form id="form" class="form-inline" asp-controller="ListTicket" asp-action="Index" method="post">
                <div class="form-group mb-2">
                    <label for="location" class="sr-only">Location</label>
                    <input id="location" class="form-control" placeholder="Location" asp-for="LocationId" />
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="status" class="sr-only">Status</label>
                    <input type="text" class="form-control" id="status" placeholder="Status" asp-for="Status" />
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="claimed" @(Model.Claimed != null ? "checked" : "")>
                        <label class="form-check-label" for="claimed">
                            Claimed
                        </label>
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-2" id="claimRadio" style="@(Model.Claimed == null ? "display:none": "")">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="trueClaimed" name="Claimed" value="true" class="custom-control-input" asp-for="Claimed">
                        <label class="custom-control-label" for="trueClaimed">True</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="falseClaimed" name="Claimed" value="false" class="custom-control-input" asp-for="Claimed">
                        <label class="custom-control-label" for="falseClaimed">False</label>
                    </div>
                </div>
                <input type="hidden" asp-for="CurrentPage" />
                <button type="button" class="btn btn-primary mb-2" id="refresh">Search</button>
            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>LocationId</th>
                            <th>Status</th>
                            <th>Claimed</th>
                            <th>Created Date</th>
                            <th>Updated Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items.PaginatedContents())
                        {
                            <tr>
                                <td style="text-align: center">@item.Id</td>
                                <td>@item.LocationId</td>
                                <td>@item.Status</td>
                                <td>@item.Claimed</td>
                                <td>@item.CreateDate</td>
                                <td>@item.UpdateDate</td>

                                <td>
                                    <button type="button" rel="tooltip" class=" btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="material-icons">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @style = "color: #fff0f5;" })</i>
                                    </button>
                                    <button type="button" rel="tooltip" class=" btn btn-primary btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="material-icons">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @style = "color: #fff0f5;" })</i>
                                    </button>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<partial name="~/Views/Shared/_Pagination.cshtml" model="Model.Items" />

@section scripts {

    <script type="text/javascript">
        $(function () {
            $("#claimed").click(function () {
                $("#claimRadio").hide();
                $('input[name="Claimed"]').prop('checked', false);
                if ($("#claimed").is(":checked")) {
                    $("#claimRadio").show();
                }
            });
            $("#refresh").click(function () {
                $("#CurrentPage").val(0);
                $("#form").submit();
                showLoading();
            });

            // Paging
            if (onPageClick) {
                onPageClick(function (event, page) {
                    $("#CurrentPage").val(page - 1);
                    $("#form").submit();
                    showLoading();
                });
            }
        });
    </script>
}