<div class="login-form" [@routerTransition]>
    <div class="pb-2 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-30">
            {{ 'ForgotPassword' | localize }}
        </h3>
    </div>

    <form class="login-form form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
        <p class="password_info">
            {{"SendPasswordResetLink_Information" | localize}}
        </p>

        <div class="form-group pt-10">
            <label class="font-weight-bolder" for="EmailAddress">{{"EmailAddress" | localize}}<span class="text-danger">*</span></label>
            <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" autoFocus
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text"
                autocomplete="new-password" name="emailAddress" required
                maxlength="256" email />
            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
        </div>

        <div class="pb-lg-0 pb-5">
            <button [disabled]="saving" routerLink="/account/login" type="button"
                class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
                {{"Back" | localize}}</button>
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                {{"Submit" | localize}}</button>
        </div>
    </form>
</div>
