// text style
.text-black {
    color: var(--black-1) !important;
}

.text-yellow {
    color: var(--yellow-1) !important;
}

.text-white {
    color: var(--white-1) !important;
}

.text-bold {
    font-weight: bold;
}

// end text style
// background style
.yellow-bagk {
    background-color: var(--yellow-1) !important;
}

.black-bagk {
    background-color: var(--black-1) !important;
}

.bagk-transparent {
    background-color: transparent !important;
}

// end background style
// boder style
.border-yellow {
    border: 2px solid var(--yellow-1) !important;
}

.border-none {
    border: none !important;
}

// end border style
.outline-none {
    outline: none !important;
}

.dine-button {
    width: 200px;
    height: 45px;
    // //border-radius: 55px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    .pi {
        font-size: inherit !important;
    }
    .ui-button-text {
        font-size: 15px;
        font-weight: bold;
        white-space: nowrap;
    }
}

.custom-p-badge {
    background: var(--yellow-2);
    color: var(--black-1);
    font-size: 0.7rem;
    font-weight: 700;
    min-width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
}

.p-ripple.yellow .p-ink {
    background: rgba(223, 210, 29, 0.3);
}

.input-control {
    margin: 0 0 1.8rem;
    width: 100%;
}

.custom-form-control {
    input {
        border-top-width: 0 !important;
        border-right-width: 0 !important;
        border-left-width: 0 !important;
        box-shadow: none !important;
        //border-radius: 0 !important;
        border-bottom: 2px solid var(--gray-5) !important;
        padding-left: 0 !important;
        background-color: transparent !important;
        font-size: 1.1rem !important;
        color: var(--black-1);
        font-weight: 600;
    }
    label {
        left: 0 !important;
    }
}

.custom-p-tabview {
    .p-tabview {
        .p-tabview-nav {
            justify-content: center;
            border: none;
            background: transparent;
            li {
                align-self: flex-end;
                &.p-highlight {
                    .p-tabview-nav-link {
                        background-color: var(--yellow-2);
                        color: var(--black-1);
                        border: none;
                        //border-radius: 25px;
                        margin: 0;
                    }
                }
                .p-tabview-nav-link {
                    border: none;
                    margin: 0;
                    outline: none;
                    padding: 0.7rem;
                    border-width: 0;
                    border-color: transparent;
                    box-shadow: none;
                    background: transparent;
                    &:focus {
                        box-shadow: none;
                    }
                }
                &:hover {
                    background-color: transparent;
                }
            }
        }
        .p-tabview-panels {
            background: transparent;
        }
    }
    .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        background: transparent;
    }
}

.link {
    color: var(--black-1);
    font-size: 0.9rem;
    border-bottom: 2px solid;
    font-weight: 500;
}

.p-shadow-1 {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.p-shadow-2 {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.p-shadow-3 {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.p-shadow-4 {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.p-shadow-5 {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

.p-shadow-6 {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.p-shadow-7 {
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.p-shadow-8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.p-shadow-9 {
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.p-shadow-10 {
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.p-shadow-11 {
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.p-shadow-12 {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.p-shadow-13 {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.p-shadow-14 {
    box-shadow: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.p-shadow-15 {
    box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.p-shadow-16 {
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.p-shadow-17 {
    box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.p-shadow-18 {
    box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.p-shadow-19 {
    box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.p-shadow-20 {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.p-shadow-21 {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.p-shadow-22 {
    box-shadow: 0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.p-shadow-23 {
    box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.p-shadow-24 {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}
