@mixin circle-btn($button-size, $color, $background-color, $position) {
    //border-radius: 50%;
    width: $button-size;
    height: $button-size;
    background-color: $background-color;
    color: $color;
    position: $position;
    right: 0.6rem;
    bottom: 0.6rem;
    box-shadow: none;
    &:hover {
        background-color: $background-color;
    }
}

@mixin submitBtn($background-color) {
    background-color: $background-color;
    width: 100%;
    height: auto;
    padding: 12px 0;
    border: none;
    color: var(--white-1);
    font-weight: 500;
}

@mixin border($size, $color) {
    border: $size solid $color;
}
