// ------------ Header --------------------
@media only screen and (max-width: 415px) {
  // .ordering-button-responsive {
  //     position: fixed;
  //     top: 65%;
  //     right: 50%;
  //     transform: translate(50%, 0);
  // }

  // .login-button-responsive {
  //     position: fixed;
  //     top: 73%;
  //     right: 50%;
  //     transform: translate(50%, 0);
  // }

  .back-button {
    display: block !important;
    font-weight: bold;
  }

  .logo {
    // display: none !important;
  }

  .siteName {
    font-size: 1.37rem;
    font-weight: bold;
    letter-spacing: 0.0235rem;
  }
}
// ------------ End-Header --------------------
