:root {
  --yellow-1: #dfd11d;
  --yellow-2: #dfd21d;
  --white-1: #ffffff;
  --black-1: #000000;
  --green-1: #53ab0c;
  --green-2: #57d25a;
  --gray-1: #777777;
  --gray-2: #efefef;
  --gray-3: #bbbbbb;
  --gray-4: #c1b61c;
  --gray-5: #e0e0e0;
  --red-1: #f64444;
  --red-2: #cb2121;
  --red-3: #f55656;
  --height-sidebar-bottom: 8rem;
  --height-header: 74px;
  --height-wrapper-header: 80px;
  --height-footer: 3.5rem;
  // --Header--
  --header-background: var(--white-1);
  --header-position: "relative";
  // --End Header--
  // --Content--
  --btn-dine-primary: #fa8c16;
  --app-dine-bg: white;
  --defaut-content-color: var(--gray-2);
  --margin-content-top: 0;
  --margin-content-bottom: 0;
  --content-background: var(--defaut-content-color);
  // --End Content--
  // --Footer--
  --footer-background: var(--white-1);
  --footer-position: "relative";
  // --End Footer--
}
