<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="'Xero' | localize">
            <div role="actions">
                <button (click)="sync()" class="btn btn-primary"> {{ l("Sync Sales")}}</button>
            </div>
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h2>{{l("Xero")}}</h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="connect-buttton-container" *ngIf="!isConnected">
                                <a [href]="loginUrl" class="btn btn-primary">
                                    <img src="assets/image/connect-blue.svg" />
                                </a>
                            </div>
                            <div *ngIf="isConnected">
                                <a (click)="disconnect()" class="btn btn-primary">
                                    <img src="assets/image/disconnect-blue.svg" />
                                </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="row mt-5" *ngIf="isConnected">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered">
        
                                <tr>
                                    <td>Invoice Contact</td>
                                    <td>
                                        <ng-select [(ngModel)]="xero.invoiceContact" name="InvoiceContact">
                                            <ng-option *ngFor="let item of xeroContacts" [value]="+item.id"></ng-option>
                                        </ng-select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sales Item</td>
                                    <td>
                                        <div class="md-checkbox-list mb-2">
                                            <label for="departmentTracking" class="checkbox mr-2">
                                                <input [(ngModel)]="xero.departmentTracking" id="departmentTracking" name="departmentTracking" type="checkbox">
                                                {{l("Department Tracking")}}
                                                <span></span>
                                            </label>
                                        </div>
                                        <ng-select [(ngModel)]="xero.saleItem" name="SalesItem">
                                            <ng-option *ngFor="let item of xeroItems" [value]="+item.id"></ng-option>
                                        </ng-select>
                                    </td>
                                </tr>
        
                                <tr>
                                    <td>Payment Account</td>
                                    <td>
                                        <div class="md-checkbox-list mb-2">
                                            <label for="paymentTypeTracking" class="checkbox mr-2">
                                                <input [(ngModel)]="xero.paymentTypeTracking" id="paymentTypeTracking" name="paymentTypeTracking" type="checkbox">
                                                {{l("Payment Tracking")}}
                                                <span></span>
                                            </label>
                                        </div>
                                        <ng-select [(ngModel)]="xero.defaultPaymentAccount" name="SalesItem">
                                            <ng-option *ngFor="let item of xeroAccounts" [value]="+item.id"></ng-option>
                                        </ng-select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Default Invoice Status</td>
                                    <td>
                                        <input type="text" [(ngModel)]="xero.invoiceStatus"
                                               name="trackingName" class="form-control">
                                        <code>Ref : https://developer.xero.com/documentation/api/invoices#status-codes </code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tax Available</td>
                                    <td>
                                        <div class="md-checkbox-list">
                                            <label for="taxAvailable" class="checkbox mr-2">
                                                <input [(ngModel)]="xero.taxAvailable" id="taxAvailable" name="taxAvailable" type="checkbox">
                                                {{l("Enable")}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>Category Tracking</td>
                                    <td>
                                        <div class="md-checkbox-list">
                                            <label for="categoryTracking" class="checkbox mr-2">
                                                <input [(ngModel)]="xero.categoryTracking" id="categoryTracking" name="categoryTracking" type="checkbox">
                                                {{l("Enable")}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="xero.categoryTracking">
                                    <td>Category Tracking Name</td>
                                    <td>
                                        <input type="text" [(ngModel)]="xero.categoryTrackingName" name="categoryTrackingName" class="form-control">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
        
                    <div class="row mt-5" *ngIf="isConnected && xero.departmentTracking">
                        <div class="col-md-12">
        
                            <div class="pull-right mb-3">
                                <button type="button" class="btn btn-primary" (click)="addDepartmentPortion()">{{l("AddDepartment")}}</button>
                            </div>
                            <table class="table table-bordered table-hover">
                                <thead>
        
                                    <tr>
                                        <th>Actions</th>
                                        <th>Department*</th>
                                        <th>SaleItem*</th>
                                    </tr>
                                </thead>
        
                                <tr *ngFor="let product of xero.departmentTrackings; let productIndex = index">
                                    <td>
                                        <button type="button" class="btn btn-primary" (click)="removeDepartmentPortion(productIndex)">-</button>
                                    </td>
                                    <td>
                                        <ng-select [(ngModel)]="product.departmentId" name="deparment">
                                            <ng-option *ngFor="let item of departments" [value]="+item.id"></ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <ng-select [(ngModel)]="product.saleItem" name="saleItem">
                                            <ng-option *ngFor="let item of xeroItems" [value]="+item.id"></ng-option>
                                        </ng-select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-5" *ngIf="isConnected && xero.paymentTypeTracking">
                        <div class="col-md-12">
        
                            <div class="pull-right mb-3">
                                <button type="button" class="btn btn-primary" (click)="addPaymentTypePortion()">{{l("AddPaymentType")}}</button>
                            </div>
                            <table class="table table-bordered table-hover">
                                <thead>
        
                                    <tr>
                                        <th>Actions</th>
                                        <th>PaymentType*</th>
                                        <th>Account*</th>
                                    </tr>
                                </thead>
        
                                <tr  *ngFor="let product of xero.paymentTrackings; let productIndex = index">
                                    <td>
                                        <button type="button" class="btn btn-primary" (click)="removePaymentTypePortion(productIndex)">-</button>
                                    </td>
                                    <td>
                                        <ng-select [(ngModel)]="product.paymentTypeId" name="paymentType">
                                            <ng-option *ngFor="let item of payments" [value]="+item.id"></ng-option>
                                        </ng-select>
                                    </td>
                                    <td>
                                        <ng-select [(ngModel)]="product.paymentAccount" name="paymentAccount">
                                            <ng-option *ngFor="let item of xeroAccounts" [value]="+item.id"></ng-option>
                                        </ng-select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
        
                    <div class="row mt-5" *ngIf="isConnected">
                        <div class="col-sm-12">
                            <button (click)="update()" class="btn btn-primary">
                                Update and Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button [disabled]="loading" type="button" class="btn btn-default float-right" (click)="cancel()">{{l("Cancel")}}</button>
                </div>
            </div>
        </div>
    </div>
</div>