<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PromotionCategory' | localize" [description]="'PromotionCategoryHeaderInfo' | localize">
            <div role="actions">
                <button class="btn btn-success" (click)="exportToExcel()">
                    <i class="la-file-excel-o-o"></i> {{l("ExportToExcel")}}
                </button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.PromotionCategory.Create')"
                    (click)="createOrEditCategory()" class="btn btn-primary blue">
                     {{ l('CreatePromotionCategory') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">

                    <form class="form" autocomplete="off">
                        <div class="kt-form kt-form--label-align-right">
                            <div class="row align-items-center mb-4">
                                <div class="col-md-10">
                                    <div class="form-group kt-form__group align-items-center table-search">
                                        <div class="input-group">
                                            <div class="has-search w-35">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                    class="form-control m-input form-control-solid" [placeholder]="l('SearchWithThreeDot')"
                                                    type="text">
                                            </div>
                                            <span class="input-group-btn">
                                                <button (click)="getAll()" class="btn btn-filter"
                                                    type="submit">
                                                    <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Search')"></i>
                                                    <span>Filter</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="col-sm-12 text-right">
                                        <div class="d-flex">
                                            <div class="flex-fill"></div>

                                            <button type="button" class="btn btn-primary" (click)="refresh()">
                                                {{ l('Refresh') }}
                                            </button>

                                            <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                                {{ l('Search') }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text" />
                                        <span class="input-group-btn">
                                            <button (click)="getAll()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex">
                                    <div class="flex-fill"></div>

                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{ l('Refresh') }}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{ l('Search') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form> -->

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="code">
                                            {{ l('Code') | uppercase}}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ l('Name') | uppercase}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="tag">
                                            {{ l('Tag') | uppercase }}
                                            <p-sortIcon field="tag"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{l('CreationTime') | uppercase}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" class="text-right"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.PromotionCategory.Edit', 'Pages.Tenant.Connect.PromotionCategory.Delete')">
                                            <span class="mr-5">
                                                {{l('Actions') | uppercase}}
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Code') | uppercase}}</span>
                                            {{ record.code }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') | uppercase}}</span>
                                            {{ record.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Tag') | uppercase}}</span>
                                            {{ record.tag }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('CreationTime') | uppercase }}</span>
                                            {{ record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                                        </td>
                                        <td style="width: 130px" class="text-right pr-0"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.PromotionCategory.Edit', 'Pages.Tenant.Connect.PromotionCategory.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body" style="margin-right: 8px;">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                    <span class="caret"></span>
                                                    <span class="mr-5">{{"Actions" | localize}}</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.PromotionCategory.Edit')"
                                                            (click)="createOrEditCategory(record.id)">{{ l('Edit')
                                                            }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.PromotionCategory.Delete')"
                                                            (click)="deleteCagegory(record)">{{ l('Delete') }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
