@import 'assets/common/styles/dine-connect-customize.scss';

.full-wh {
    width: 100%;
    height: 100%;
}

.stacked-barchart {
    height: 450px;
}

.chart-legend .legend-title {
    text-align: center;
}

.no-data{
    text-align: center;
    padding: 10px;
}
