<div [@routerTransition] class="full-wh">
    <div class="content d-flex flex-column flex-column-fluid full-wh">
        <sub-header [title]="'MealPlan' | localize" [description]="'MealPlansBoughtReport' | localize">
            <div role="actions">
                <button class="btn btn-outline-success" (click)="exportExcel()">
                    <i class="la-file-excel-o-o"></i> {{ l('ExportToExcel') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass" class="full-wh">
            <div class="card card-custom gutter-b full-wh">
                <div class="card-body full-wh">
                    <form class="form" autocomplete="off">
                        <div class="input-group">
                            <div class="has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input
                                    [(ngModel)]="filterText"
                                    name="filterText"
                                    autoFocus
                                    (ngModelChange)="search($event)"
                                    class="form-control m-input form-control-solid"
                                    [placeholder]="l('SearchWithThreeDot')"
                                    type="text"
                                />
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-filter" type="button" (click)="filter()">
                                    <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                    <span>Filter</span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <div class="column align-items-center chart-wrap" *ngIf="!isNoData">
                        <div class="stacked-barchart">
                            <ngx-charts-bar-vertical-stacked
                                [view]="stackedBarchart.view"
                                [scheme]="stackedBarchart.colorScheme"
                                [results]="stackedBarchart.data"
                                [gradient]="stackedBarchart.gradient"
                                [xAxis]="stackedBarchart.showXAxis"
                                [yAxis]="stackedBarchart.showYAxis"
                                [legend]="stackedBarchart.showLegend"
                                [showXAxisLabel]="stackedBarchart.showXAxisLabel"
                                [showYAxisLabel]="stackedBarchart.showYAxisLabel"
                                [xAxisLabel]="stackedBarchart.xAxisLabel"
                                [yAxisLabel]="stackedBarchart.yAxisLabel"
                                [animations]="stackedBarchart.animations"
                                (select)="onSelect($event)"
                            >
                            </ngx-charts-bar-vertical-stacked>
                        </div>
                        <div class="pie-chart">
                            <div class="d-flex flex-wrap flex-row align-items-center">
                                <div *ngFor="let item of pieChart.data; let first = first" class="pie-chart-item">
                                    <ngx-charts-pie-chart
                                        [view]="pieChart.view"
                                        [scheme]="pieChart.colorScheme"
                                        [legendTitle]="item.mealPlanName"
                                        [results]="item.data"
                                        [legend]="true"
                                        [legendPosition]="pieChart.legendPosition"
                                        [gradient]="pieChart.gradient"
                                        (select)="onSelect($event)"
                                    >
                                    </ngx-charts-pie-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isNoData" class="no-data">
                        {{ l('NoData') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="Date">{{ 'Date' | localize }}</label>
                <div class="input-group date">
                    <input
                        class="form-control"
                        id="StartEndRange"
                        name="StartEndRange"
                        #drp
                        bsDaterangepicker
                        dateRangePickerMomentModifier
                        [(date)]="dateRange"
                        [placement]="'left'"
                        [bsConfig]="{
                            rangeInputFormat: 'YYYY-MM-DD',
                            ranges: ranges,
                            containerClass: 'custom-filter-datepicker theme-default'
                        }"
                        [placeholder]="l('DateRange')"
                    />
                </div>
            </div>
            <div class="form-group">
                <label for="MealTime">{{ l('DateRangeMode') }}</label>
                <select id="MealTime" class="form-control" [(ngModel)]="timeRangeMode" name="DateRangeMode">
                    <option [ngValue]="undefined"></option>
                    <option *ngFor="let item of rangerModes" [ngValue]="item.value">
                        {{ item.displayText }}
                    </option>
                </select>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
