<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="
                !item.id
                    ? l('CreateNewWheelScreenMenuItem')
                    : l('EditWheelScreenMenuItem') + ': ' + item.name
            "
            [description]="'' | localize"
        >
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form
                        #terminalForm="ngForm"
                        novalidate
                        class="kt-form terminal-form"
                        (ngSubmit)="save()"
                    >
                        <tabset>
                            <tab
                                [heading]="l('Recommendation Menu')"
                                class="p-5"
                            >
                                <div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div class="row">
                                                <div
                                                    class="form-group col-md-12"
                                                >
                                                    <label for="MenuItem"
                                                        >{{
                                                            "Name" | localize
                                                        }}
                                                        *</label
                                                    ><br />
                                                    <input
                                                        type="text"
                                                        id="WheelRecommendationName"
                                                        class="form-control"
                                                        required
                                                        name="Wheelrecommendation_Name"
                                                        [(ngModel)]="item.name"
                                                    />
                                                </div>
                                                <div
                                                    class="form-group col-md-12"
                                                >
                                                    <label for="MenuItem"
                                                        >{{
                                                            "Title for pop-up"
                                                                | localize
                                                        }}
                                                        *</label
                                                    ><br />
                                                    <input
                                                        type="text"
                                                        id="WheelRecommendationDescription"
                                                        class="form-control"
                                                        required
                                                        name="Wheelrecommendation_Description"
                                                        [(ngModel)]="
                                                            item.description
                                                        "
                                                    />
                                                </div>
                                                <div
                                                    class="form-group col-md-12"
                                                >
                                                    <label for="MenuItem"
                                                        >{{
                                                            "Repeat Order Timer"
                                                                | localize
                                                        }}
                                                        *</label
                                                    ><br />
                                                    <p-calendar
                                                        [(ngModel)]="
                                                            item.repeatTime
                                                        "
                                                        name="repeatTime"
                                                        dataType="string"
                                                        timeOnly="true"
                                                        showTime="true"
                                                        hourFormat="24"
                                                        [panelStyleClass]="
                                                            'form-control'
                                                        "
                                                    >
                                                    </p-calendar>
                                                </div>
                                                <div
                                                    class="form-group col-md-12"
                                                >
                                                    <label for="MenuItem"
                                                        >{{
                                                            "Pax (0 means all)"
                                                                | localize
                                                        }}
                                                        *</label
                                                    ><br />
                                                    <input
                                                        type="text"
                                                        id="WheelRecommendationPax"
                                                        class="form-control"
                                                        required
                                                        name="Wheelrecommendation_Pax"
                                                        [(ngModel)]="item.pax"
                                                    />
                                                </div>
                                                <div
                                                    class="form-group col-md-12"
                                                >
                                                    <label for="MenuItem"
                                                        >{{
                                                            "Status" | localize
                                                        }}
                                                        *</label
                                                    ><br />
                                                    <label class="radio">
                                                        <input
                                                            type="radio"
                                                            name="RecommendationStatus"
                                                            [checked]="
                                                                item.status ==
                                                                recommendationStatus.Active
                                                            "
                                                            [value]="
                                                                recommendationStatus.Active
                                                            "
                                                            (change)="
                                                                onStatusChange(
                                                                    recommendationStatus.Active
                                                                )
                                                            "
                                                        />
                                                        {{
                                                            "Active" | localize
                                                        }}
                                                        <span></span>
                                                    </label>
                                                    <label
                                                        class="radio"
                                                        style="
                                                            margin-left: 40px;
                                                        "
                                                    >
                                                        <input
                                                            type="radio"
                                                            name="RecommendationStatus"
                                                            [checked]="
                                                                item.status ==
                                                                recommendationStatus.InActive
                                                            "
                                                            [value]="
                                                                recommendationStatus.InActive
                                                            "
                                                            (change)="
                                                                onStatusChange(
                                                                    recommendationStatus.InActive
                                                                )
                                                            "
                                                        />
                                                        {{
                                                            "InActive"
                                                                | localize
                                                        }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div
                                                    class="form-group col-md-12"
                                                >
                                                    <label for="MenuItem"
                                                        >{{
                                                            "Criteria Not Show"
                                                                | localize
                                                        }}
                                                        *</label
                                                    ><br />
                                                    <label class="radio">
                                                        <input
                                                            type="radio"
                                                            name="CriteriaNotShow"
                                                            [checked]="
                                                                item.criteriaNotShow ==
                                                                criteriaNotShow.Category
                                                            "
                                                            [value]="
                                                                criteriaNotShow.Category
                                                            "
                                                            (change)="
                                                                onStatusChange(
                                                                    criteriaNotShow.Category
                                                                )
                                                            "
                                                        />
                                                        {{
                                                            "Category"
                                                                | localize
                                                        }}
                                                        <span></span>
                                                    </label>
                                                    <label
                                                        class="radio"
                                                        style="
                                                            margin-left: 40px;
                                                        "
                                                    >
                                                        <input
                                                            type="radio"
                                                            name="CriteriaNotShow"
                                                            [checked]="
                                                                item.criteriaNotShow ==
                                                                criteriaNotShow.Item
                                                            "
                                                            [value]="
                                                                criteriaNotShow.Item
                                                            "
                                                            (change)="
                                                                onStatusChange(
                                                                    criteriaNotShow.Item
                                                                )
                                                            "
                                                        />
                                                        {{ "Item" | localize }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="MenuItem"
                                                >{{
                                                    "Trigger applicable (choose at least 1)"
                                                        | localize
                                                }}
                                                *</label
                                            ><br />
                                            <div
                                                class="row justify-content-between col-md-12"
                                            >
                                                <div class="checkbox-list">
                                                    <label
                                                        for="RecommendAtCheckout"
                                                        class="checkbox"
                                                    >
                                                        <input
                                                            id="RecommendAtCheckout"
                                                            type="checkbox"
                                                            name="RecommendAtCheckout"
                                                            [(ngModel)]="
                                                                isRecommendAtCheckout
                                                            "
                                                        />
                                                        {{
                                                            "Recommend at checkout"
                                                                | localize
                                                        }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="checkbox-list">
                                                    <label
                                                        for="RecommendAtMakePayment"
                                                        class="checkbox"
                                                    >
                                                        <input
                                                            id="RecommendAtMakePayment"
                                                            type="checkbox"
                                                            name="RecommendAtMakePayment"
                                                            [(ngModel)]="
                                                                isRecommendAtMakePayment
                                                            "
                                                        />
                                                        {{
                                                            "Recommend at Make Payment"
                                                                | localize
                                                        }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="checkbox-list">
                                                    <label
                                                        for="TimerBasedRecommendation"
                                                        class="checkbox"
                                                    >
                                                        <input
                                                            id="TimerBasedRecommendation"
                                                            type="checkbox"
                                                            name="TimerBasedRecommendation"
                                                            [(ngModel)]="
                                                                isTimerBasedRecommendation
                                                            "
                                                        />
                                                        {{
                                                            "Timer based recommendation"
                                                                | localize
                                                        }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="checkbox-list">
                                                <label
                                                    for="CreateOrEditScreenMenu_MarkAsSignature"
                                                    class="checkbox"
                                                >
                                                    {{ "Disable" | localize }}
                                                    <input
                                                        id="CreateOrEditScreenMenu_MarkAsSignature"
                                                        type="checkbox"
                                                        name="itemDisabled"
                                                        [(ngModel)]="
                                                            item.disable
                                                        "
                                                    />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab [heading]="l('Day Period')" class="p-5">
                                <div class="row mb-2">
                                    <div class="col-md-12 text-right">
                                        <span
                                            class="btn btn-primary blue hand-cursor"
                                            (click)="addEditDayPeriod()"
                                        >
                                            <i class="fa fa-plus"></i> Add Day
                                            Period
                                        </span>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="primeng-datatable-container">
                                        <p-table
                                            #dataTable
                                            [value]="
                                                item.wheelRecommendationDayPeriods
                                            "
                                            [paginator]="false"
                                            [lazy]="true"
                                            [scrollable]="true"
                                            ScrollWidth="100%"
                                            [responsive]="true"
                                            [resizableColumns]="false"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 130px">
                                                        {{ l("Actions") }}
                                                    </th>
                                                    <th
                                                        style="width: 150px"
                                                        pSortableColumn="name"
                                                    >
                                                        {{ "Name" | localize }}
                                                        <p-sortIcon
                                                            field="name"
                                                        ></p-sortIcon>
                                                    </th>
                                                    <th
                                                        style="width: 150px"
                                                        pSortableColumn="from"
                                                    >
                                                        {{ "From" | localize }}
                                                        <p-sortIcon
                                                            field="from"
                                                        ></p-sortIcon>
                                                    </th>
                                                    <th
                                                        style="width: 150px"
                                                        pSortableColumn="to"
                                                    >
                                                        {{ l("To") }}
                                                        <p-sortIcon
                                                            field="to"
                                                        ></p-sortIcon>
                                                    </th>
                                                    <th
                                                        class="text-center"
                                                        style="width: 150px"
                                                    >
                                                        {{ l("Monday") }}
                                                    </th>
                                                    <th
                                                        class="text-center"
                                                        style="width: 150px"
                                                    >
                                                        {{ l("Tuesday") }}
                                                    </th>
                                                    <th
                                                        class="text-center"
                                                        style="width: 150px"
                                                    >
                                                        {{ l("Wednesday") }}
                                                    </th>
                                                    <th
                                                        class="text-center"
                                                        style="width: 150px"
                                                    >
                                                        {{ l("Thursday") }}
                                                    </th>
                                                    <th
                                                        class="text-center"
                                                        style="width: 150px"
                                                    >
                                                        {{ l("Friday") }}
                                                    </th>
                                                    <th
                                                        class="text-center"
                                                        style="width: 150px"
                                                    >
                                                        {{ l("Saturday") }}
                                                    </th>
                                                    <th
                                                        class="text-center"
                                                        style="width: 150px"
                                                    >
                                                        {{ l("Sunday") }}
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template
                                                pTemplate="body"
                                                let-record="$implicit"
                                            >
                                                <tr>
                                                    <td style="width: 130px">
                                                        <div
                                                            class="btn-group dropdown"
                                                            dropdown
                                                            container="body"
                                                        >
                                                            <button
                                                                class="dropdown-toggle btn btn-sm btn-primary"
                                                                dropdownToggle
                                                            >
                                                                <i
                                                                    class="fa fa-cog"
                                                                ></i
                                                                ><span
                                                                    class="caret"
                                                                ></span>
                                                                {{
                                                                    l("Actions")
                                                                }}
                                                            </button>
                                                            <ul
                                                                class="dropdown-menu"
                                                                *dropdownMenu
                                                            >
                                                                <li>
                                                                    <a
                                                                        href="javascript:;"
                                                                        class="dropdown-item"
                                                                        (click)="
                                                                            createOrEdit(
                                                                                record.id
                                                                            )
                                                                        "
                                                                        >{{
                                                                            l(
                                                                                "Edit"
                                                                            )
                                                                        }}</a
                                                                    >
                                                                </li>
                                                                <li>
                                                                    <a
                                                                        href="javascript:;"
                                                                        class="dropdown-item"
                                                                        (click)="
                                                                            delete(
                                                                                record
                                                                            )
                                                                        "
                                                                        >{{
                                                                            l(
                                                                                "Delete"
                                                                            )
                                                                        }}</a
                                                                    >
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("Name")
                                                            }}</span
                                                        >
                                                        {{ record.name }}
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("From")
                                                            }}</span
                                                        >
                                                        {{ record.from }}
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{ l("To") }}</span
                                                        >
                                                        {{ record.to }}
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("Monday")
                                                            }}</span
                                                        >
                                                        <div
                                                            *ngIf="
                                                                record.days[0]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-check-circle text-success"
                                                                title="True"
                                                            ></i>
                                                        </div>
                                                        <div
                                                            *ngIf="
                                                                !record.days[0]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-times-circle"
                                                                title="False"
                                                            ></i>
                                                        </div>
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("Tuesday")
                                                            }}</span
                                                        >
                                                        <div
                                                            *ngIf="
                                                                record.days[1]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-check-circle text-success"
                                                                title="True"
                                                            ></i>
                                                        </div>
                                                        <div
                                                            *ngIf="
                                                                !record.days[1]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-times-circle"
                                                                title="False"
                                                            ></i>
                                                        </div>
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("Wednesday")
                                                            }}</span
                                                        >
                                                        <div
                                                            *ngIf="
                                                                record.days[2]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-check-circle text-success"
                                                                title="True"
                                                            ></i>
                                                        </div>
                                                        <div
                                                            *ngIf="
                                                                !record.days[2]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-times-circle"
                                                                title="False"
                                                            ></i>
                                                        </div>
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("Thursday")
                                                            }}</span
                                                        >
                                                        <div
                                                            *ngIf="
                                                                record.days[3]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-check-circle text-success"
                                                                title="True"
                                                            ></i>
                                                        </div>
                                                        <div
                                                            *ngIf="
                                                                !record.days[3]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-times-circle"
                                                                title="False"
                                                            ></i>
                                                        </div>
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("Friday")
                                                            }}</span
                                                        >
                                                        <div
                                                            *ngIf="
                                                                record.days[4]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-check-circle text-success"
                                                                title="True"
                                                            ></i>
                                                        </div>
                                                        <div
                                                            *ngIf="
                                                                !record.days[4]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-times-circle"
                                                                title="False"
                                                            ></i>
                                                        </div>
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("Saturday")
                                                            }}</span
                                                        >
                                                        <div
                                                            *ngIf="
                                                                record.days[5]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-check-circle text-success"
                                                                title="True"
                                                            ></i>
                                                        </div>
                                                        <div
                                                            *ngIf="
                                                                !record.days[5]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-times-circle"
                                                                title="False"
                                                            ></i>
                                                        </div>
                                                    </td>
                                                    <td style="width: 150px">
                                                        <span
                                                            class="ui-column-title"
                                                        >
                                                            {{
                                                                l("Sunday")
                                                            }}</span
                                                        >
                                                        <div
                                                            *ngIf="
                                                                record.days[6]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-check-circle text-success"
                                                                title="True"
                                                            ></i>
                                                        </div>
                                                        <div
                                                            *ngIf="
                                                                !record.days[6]
                                                                    .isSelected
                                                            "
                                                            class="text-center"
                                                        >
                                                            <i
                                                                class="fa fa-times-circle"
                                                                title="False"
                                                            ></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div
                                            class="primeng-no-data"
                                            *ngIf="
                                                !item.wheelRecommendationDayPeriods ||
                                                item
                                                    .wheelRecommendationDayPeriods
                                                    .length == 0
                                            "
                                        >
                                            {{ l("NoData") }}
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab [heading]="l('Menu Items')" class="p-5">
                                <div class="row mb-2">
                                    <div class="col-md-12 text-right mb-2">
                                        <button
                                            type="button"
                                            class="btn btn-primary btn-lg"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                            id="dropdownMenuButton"
                                            (click)="openSelectionPricePopup()"
                                        >
                                            {{
                                                selectedItemName
                                                    ? selectedItemName
                                                    : ("Add Menu Item"
                                                      | localize)
                                            }}
                                        </button>
                                    </div>
                                    <div class="align-items-center">
                                        <p-table
                                            #menuItemTable
                                            [value]="
                                                item.wheelRecommendationItems
                                            "
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>
                                                        {{ "Name" | localize }}
                                                    </th>
                                                    <th style="width: 100px">
                                                        {{
                                                            "Actions" | localize
                                                        }}
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template
                                                pTemplate="body"
                                                let-menuItem
                                            >
                                                <tr>
                                                    <td>
                                                        {{ menuItem.name }}
                                                    </td>
                                                    <td>
                                                        <span
                                                            class="btn btn-danger hand-cursor action-button"
                                                            (click)="
                                                                removeMenuItem(
                                                                    menuItem
                                                                )
                                                            "
                                                            >Delete</span
                                                        >
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div
                                            class="primeng-no-data no-data text-center"
                                            *ngIf="
                                                !item.wheelRecommendationItems ||
                                                item.wheelRecommendationItems
                                                    .length == 0
                                            "
                                        >
                                            {{ l("NoData") }}
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="close()"
                    >
                        {{ l("Cancel") }}
                    </button>
                    <button
                        type="submit"
                        (click)="save()"
                        class="btn btn-primary blue"
                        [disabled]="!terminalForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <select-popup
        #selectMenuItemPopupModal
        [headers]="['Name']"
        [dataBinding]="['name']"
        [loadData]="getMenuItemSelection()"
        (changeValue)="selectItem($event)"
        selectionMode="single"
        [selectedValue]="selectedPrice"
        [title]="l('MenuItem')"
    ></select-popup>
</div>

<select-popup
    #selectLocationPopupModal
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getLocationForCombobox()"
    (changeValue)="changeLocation($event)"
    selectionMode="single"
    [selectedValue]="{ id: item.id }"
    [title]="l('Locations')"
></select-popup>

<wheel-recommendation-day-period-modal #createOrEditDayPeriod>
</wheel-recommendation-day-period-modal>
