<div
    appBsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #userForm="ngForm"
                novalidate
                (ngSubmit)="save()"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Add/Edit Day Period</span>
                    </h4>
                    <button
                        type="button"
                        class="close"
                        (click)="close()"
                        [attr.aria-label]="l('Close')"
                        [disabled]="saving"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="UserName">Time From *</label>
                            <div>
                                <p-calendar
                                    placeholder="Select Time"
                                    timeOnly="true"
                                    showTime="true"
                                    hourFormat="24"
                                    class="w-100"
                                    [(ngModel)]="timeFrom"
                                    name="timeFrom"
                                    required
                                >
                                </p-calendar>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="UserName">Time To *</label>
                            <div>
                                <p-calendar
                                    placeholder="Select Time"
                                    timeOnly="true"
                                    showTime="true"
                                    hourFormat="24"
                                    class="w-100"
                                    [(ngModel)]="timeTo"
                                    name="timeTo"
                                    required
                                >
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin mb-3">
                        <div class="checkbox-list col-sm-3">
                            <label for="Monday" class="checkbox">
                                <input
                                    id="Monday"
                                    type="checkbox"
                                    name="'Monday"
                                    #monday="ngModel"
                                    [(ngModel)]="openingHour.days[0].isSelected"
                                />
                                {{ openingHour.days[0].name }}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Tuesday" class="checkbox">
                                <input
                                    id="Tuesday"
                                    type="checkbox"
                                    name="Tuesday"
                                    #tuesday="ngModel"
                                    [(ngModel)]="openingHour.days[1].isSelected"
                                />
                                {{ openingHour.days[1].name }}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Wednesday" class="checkbox">
                                <input
                                    id="Wednesday"
                                    type="checkbox"
                                    name="Wednesday"
                                    #wednesday="ngModel"
                                    [(ngModel)]="openingHour.days[2].isSelected"
                                />
                                {{ openingHour.days[2].name }}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Thursday" class="checkbox">
                                <input
                                    id="Thursday"
                                    type="checkbox"
                                    name="Thursday"
                                    #thursday="ngModel"
                                    [(ngModel)]="openingHour.days[3].isSelected"
                                />
                                {{ openingHour.days[3].name }}
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="row no-margin mb-3">
                        <div class="checkbox-list col-sm-3">
                            <label for="Friday" class="checkbox">
                                <input
                                    id="Friday"
                                    type="checkbox"
                                    name="Friday"
                                    #friday="ngModel"
                                    [(ngModel)]="openingHour.days[4].isSelected"
                                />
                                {{ openingHour.days[4].name }}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Saturday" class="checkbox">
                                <input
                                    id="Saturday"
                                    type="checkbox"
                                    name="Saturday"
                                    #saturday="ngModel"
                                    [(ngModel)]="openingHour.days[5].isSelected"
                                />
                                {{ openingHour.days[5].name }}
                                <span></span>
                            </label>
                        </div>
                        <div class="checkbox-list col-sm-3">
                            <label for="Sunday" class="checkbox">
                                <input
                                    id="Sunday"
                                    type="checkbox"
                                    name="Sunday"
                                    #sunday="ngModel"
                                    [(ngModel)]="openingHour.days[6].isSelected"
                                />
                                {{ openingHour.days[6].name }}
                                <span></span>
                            </label>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="close()"
                    >
                        {{ "Cancel" | localize }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary font-weight-bold"
                        [disabled]="!userForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ "Save" | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
