<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Recommendation Menus' | localize">
            <div role="actions">
                <button
                    *ngIf="isGranted('Pages.WheelRecommendationMenu.Create')"
                    (click)="createOrEdit()"
                    class="btn btn-primary blue"
                >
                    <i class="fa fa-plus"></i>{{ "Add Recommendation Item" | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div
                                        class="form-group m-form__group align-items-center"
                                    >
                                        <div class="input-group">
                                            <input
                                                [(ngModel)]="filter"
                                                name="filterText"
                                                autoFocus
                                                class="form-control m-input"
                                                [placeholder]="
                                                    l('SearchWithThreeDot')
                                                "
                                                type="text"
                                            />
                                            <span class="input-group-btn">
                                                <button
                                                    (click)="getData()"
                                                    class="btn btn-primary"
                                                    type="submit"
                                                >
                                                    <i
                                                        class="flaticon-search-1"
                                                        [attr.aria-label]="
                                                            l('Search')
                                                        "
                                                    ></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <div class="sortable">
                            <ng-container cdkDropListGroup>
                                <div
                                    cdkDropList
                                    [cdkDropListEnterPredicate]="enter"
                                    (cdkDropListDropped)="drop()"
                                    #placeholder
                                ></div>
                                <div
                                    cdkDropList
                                    class="ng-trigger ng-trigger-animate"
                                    *ngFor="let item of items"
                                    [cdkDropListEnterPredicate]="enter"
                                    (cdkDropListDropped)="drop()"
                                    cdkDrag
                                >
                                    <div cdkDrag class="card">
                                        <div class="card-image">
                                            <i class="la la-cutlery"></i>
                                        </div>
                                        <div class="card-overlay">
                                            <div
                                                class="dropdown dropleft"
                                                dropdown
                                            >
                                                <a
                                                    dropdownToggle
                                                    data-toggle="dropdown dropleft"
                                                    aria-haspopup="true"
                                                    aria-expanded="false"
                                                    id="dropdownMenuButton"
                                                    dropdownToggle
                                                    class="btn btn-secondary btn-circle btn-outline btn-icon"
                                                >
                                                    <i
                                                        _ngcontent-c5=""
                                                        class="la la-ellipsis-v"
                                                    ></i>
                                                </a>
                                                <div
                                                    class="dropdown-menu"
                                                    aria-labelledby="dropdownMenuButton"
                                                    *dropdownMenu
                                                >
                                                    <a
                                                        *ngIf="
                                                            'Pages.WheelRecommendationMenu.Delete'
                                                                | permission
                                                        "
                                                        class="dropdown-item"
                                                        (click)="delete(item)"
                                                    >
                                                        <span
                                                            class="menu-text"
                                                            >{{
                                                                "Delete"
                                                                    | localize
                                                            }}</span
                                                        >
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-title">
                                            <toggle
                                                class="toggle-switch"
                                                style="
                                                    right: 0px;
                                                    float: right;
                                                    text-align: right;
                                                    cursor: pointer;
                                                "
                                                [(ngModel)]="item.disable"
                                                (ngModelChange)="
                                                    updateDisable(
                                                        item.id,
                                                        $event
                                                    )
                                                "
                                            >
                                            </toggle>

                                            <h5>{{ item.name }}</h5>
                                            <span
                                                class="created-at m--visible-desktop"
                                                >{{
                                                    item.creationTime
                                                        | date: "medium"
                                                }}</span
                                            >
                                        </div>
                                        <div class="card-hover">
                                            <div class="row">
                                                <button
                                                    class="btn btn-pill btn-warning btn-block m-btn--air"
                                                    type="button"
                                                    (click)="
                                                        createOrEdit(item.id)
                                                    "
                                                >
                                                    {{ "Edit" | localize }}
                                                </button>
                                            </div>
                                        </div>
                                        <div *cdkDragPreview>
                                            <div class="card-preview">
                                                <h5>{{ item.name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
