<!-- Expanding -->
<div class="popup-overlay">
    <div class="popupholder">
        <div class="customize-popup">
            <div class="error-message-list" *ngIf="errors.length> 0">
                <div class="error-message-item" *ngFor="let err of errors">
                    {{err}}
                </div>
            </div>

            <div class="item-tag-message" style="font-size: 12px;font-weight: bold;color: #555;">
                <ng-container *ngIf="comboItems.minimum">
                    Choose min {{comboItems.minimum}} </ng-container>
                <ng-container *ngIf="comboItems.maximum">and max {{comboItems.maximum}}</ng-container>
            </div>

            <!-- </div> -->
            <div class="form-holder">
                <div class="item_list" *ngFor="let selectItem of selectedItems; let i = index">
                    <div class="product-cols list-style">
                        <div class="product">
                            <div class="product-holder">
                                <div class="justify-content-center align-self-center">
                                    <input type="checkbox" [(ngModel)]="selectItem.selected" id="itemData_selected"
                                        (change)="onSelectItem(selectItem)" />
                                </div>
                                <div class="text">
                                    <div class="cart_item_name"> {{ selectItem.name }}</div>
                                    <!-- <div class="item-description">
                                        {{ selectItem.description }}
                                    </div> -->
                                    <!-- <div class="calories" *ngIf="selectItem.calories > 0">
                                        {{ selectItem.calories + " kcal" }}
                                    </div>
                                    <div class="tag-icon">
                                        <div>
                                            <img *ngFor="let item of menuItemTagSelected" [src]="item.src"
                                                alt="No Image" class="img_icon" [title]="item.value">
                                        </div>
                                    </div> -->
                                </div>
                                <div class="price" *ngIf="selectItem.total">
                                    <span class="price-number"> + {{ systemCurrency }} {{ selectItem.total | number:
                                        "1.2-4" }}
                                    </span>
                                </div>
                            </div>
                            <!-- product-popup -->
                            <div class="combo-item-item" [hidden]="!selectItem.selected">
                                <div class="info-item">
                                    <!-- TAG -->
                                    <div *ngIf="selectItem?.orderTags && selectItem?.orderTags.length"
                                        class="tags-style">
                                        <div *ngFor="let items of selectItem.orderTags">
                                            <div class="tag-title">{{ items.name }} | {{ items.prefix }} <ng-container
                                                    *ngIf="items.minSelectedItems">
                                                    Min: {{items.minSelectedItems}} | </ng-container>
                                                <ng-container *ngIf="items.maxSelectedItems">Max:
                                                    {{items.maxSelectedItems}}</ng-container>
                                            </div>
                                            <div *ngFor="let tagItem of items.tags">
                                                <div class="tag-item">
                                                    <div>
                                                        <input type="checkbox" [(ngModel)]="tagItem.checked"
                                                            id="{{selectItem.name + '_' + selectItem.seperatedIndex + '_' + tagItem.id }}"
                                                            (click)="changeTag($event,selectItem, items.id, tagItem)" />
                                                    </div>
                                                    <div class="tag-name">
                                                        <label class="checkbox-label" for="{{ tagItem.id }}">
                                                            {{ tagItem.name }}
                                                            <p *ngIf="tagItem.maxQuantity">(Max:
                                                                {{tagItem.maxQuantity}})</p>
                                                        </label>
                                                    </div>
                                                    <div class="input-holder">
                                                        <ng-container *ngIf="tagItem.checked">
                                                            <i class="pi pi-minus square-button"
                                                                style="font-size: 0.5rem"
                                                                (click)="decTags(selectItem,items.id, tagItem)"></i>
                                                            <span class="number-jcf"> {{ tagItem.quantity }}</span>
                                                            <i class="pi pi-plus square-button"
                                                                style="font-size: 0.5rem"
                                                                (click)="incTags($event,selectItem, items.id, tagItem)"></i>
                                                        </ng-container>
                                                    </div>
                                                    <div class="tag-price">
                                                        +{{ systemCurrency }} {{ tagItem.price | number: '1.2-2' }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div *ngIf="!selectItem?.addSeperately" class="add-total">
                                    <i class="pi pi-minus circle-button" style="font-size: 1rem"
                                        (click)="changeQty(false, selectItem)"></i>
                                    <span class="number-jcf"> {{ selectItem.quantity }} </span>
                                    <i class="pi pi-plus circle-button" style="font-size: 1rem"
                                        (click)="changeQty(true, selectItem)"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>