$border-radius-value: 5px;

:host {
  .combo-list {
    display: flex;
    padding: 12px 10px;
    border: 1px solid #eee;
    background: #f9f9f9;

    .combo-items {
      flex: 6;
      order: 1;

      .combo-name {
        flex: 6;
        order: 1;
        font-size: 15px;
        font-weight: 700;
        color: #282144;
        margin-right: 5px;

        .cart_item_name {
          display: inline-block;
          white-space: nowrap;
        }

        .combo-item-tag {
          font-weight: normal;
        }

        .invalidCombo {
          color: red;
        }
      }

      .combo-item {
        .remove-combo-item {
          margin-right: 3px;
        }

        .combo-price {
          flex: 3;
          order: 2;
          text-align: end;
          font-size: 15px;
          font-weight: 700;
          color: #282144;
          display: inline-block;
          white-space: nowrap;
        }
      }
    }

    .combo-icon {
      flex: 1;
      order: 3;
      text-align: end;
    }
  }

  .popup-overlay {
    .form-holder {
      max-height: 70vh;
      overflow: auto;

      .product-cols {
        border-radius: $border-radius-value;

        .product {
          border-radius: $border-radius-value;

          .product-holder {
            border-radius: $border-radius-value;

            .image {
              border-top-left-radius: $border-radius-value;
              border-top-right-radius: $border-radius-value;

              img {
                border-top-left-radius: $border-radius-value;
                border-top-right-radius: $border-radius-value;
              }
            }

            input[type='checkbox'] {
              border: 1px solid #a6a6a6;
              background-color: #fff;
              width: 1.2rem;
              height: 1.2rem;
            }

            input:checked {
              background-color: red;
            }

            .checkbox-label {
              font-size: 13px;
              padding-left: 0.5rem;
              margin-bottom: 0;
            }
          }
        }
      }

      .list-style {
        width: 100% !important;
        padding-top: 0.5rem;
        // padding-bottom: 0.5rem;

        .product {
          position: relative;
          border: 1px solid #e5e5ea;
          padding: 5px;
          background: #f9f9f9;
        }

        .product-holder {
          display: flex;

          @media (min-width: 1280px) {
            display: flex;
            margin: 0.3rem;
          }

          .image {
            margin: auto;
            flex: 1;
            order: 1;
            background: #f5f5f5;
            overflow: hidden;
            position: relative;

            @media (max-width: 1280px) {
              width: 100%;
              height: 8rem;
            }

            display: flex;
            align-items: center;
            justify-content: center;

            .bg-image {
              display: block;
              background-size: cover;
              background-position: 50% 50%;
              width: calc(100%);
              -webkit-transition: -webkit-transform linear 0.3s;
              transition: -webkit-transform linear 0.3s;
              transition: transform linear 0.3s;
              transition: transform linear 0.3s, -webkit-transform linear 0.3s;
            }
          }

          .text {
            flex: 2;
            order: 2;
            padding: 0.5rem;

            .cart_item_name {
              font-size: 14px !important;
              display: block;
              font-weight: bold;
              color: #282144;
              margin: 0 0 0.3125rem;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow-x: hidden;
            }

            .item-description {
              font-size: 0.8rem !important;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 115px;
              ;
            }

            // .tag-icon {}
          }

          .price {
            order: 3;
            bottom: 0;
            right: 0;

            .price-number {
              float: right;
              font-size: 13px;
              font-weight: bold;
              padding: 0.5rem 0;
              // background-color: #f3f3f3;
            }
          }
        }
      }

      @media (min-width: 768px) {
        padding: 0.9375rem 1.3125rem 0 1.375rem;
      }

      @media (max-width: 767px) {
        padding: 0;
      }

      .info-item {
        //   max-height: calc(85vh - 26rem);
        overflow: auto;
      }

      .info-combo-item {
        //   max-height: calc(85vh);
        overflow: auto;
      }

      .text-title {
        display: flex;
        padding: 1rem 1rem 0 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #282144;

        .cart_item_name {
          order: 1;
        }

        .price-text {
          flex: 1;
          order: 2;
          text-align: end;
        }
      }

      .sub-title {
        font-size: 12px;
        font-weight: 600;
        text-align: end;
        color: #75708a;
        padding-right: 1rem;
      }

      .size-title {
        color: #75708a;
        font-size: 14px;
        padding: 0 1rem;
        font-weight: 600;
      }

      .tags-style {
        padding: 0 10px;

        .tag-title {
          color: #75708a;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .tag-item {
        margin: 0.5rem 0;
        display: flex;
        color: #75708a;

        .tag-name {
          order: 1;
          flex: 2;
          font-size: 13px;
          font-weight: 600;
          display: flex;
          align-items: center;
        }

        .input-holder {
          text-align: center;
          flex: 2;
          order: 2;
          float: right;

          .square-button {
            background-color: white;
            padding: 3px;
            border-radius: 5px;
            color: #877fab;
            border: 2px solid #dcdcdc;
          }

          .number-jcf {
            padding: 0 0.5rem;
            font-size: 13px;
            font-weight: bold;
            color: #282144;
          }
        }

        .tag-price {
          flex: 1;
          order: 3;
          font-size: 13px;
          font-weight: 600;
          text-align: end;
        }
      }

      .combo-list {
        display: flex;
        padding: 10px;
        border: 1px solid #eeeeee;
        background: #f9f9f9;

        .combo-name {
          order: 1;
          font-size: 15px;
          font-weight: bold;
          color: #282144;
        }

        .combo-icon {
          flex: 1;
          order: 2;
          text-align: end;
        }
      }

      .add-total {
        text-align: center;

        .circle-button {
          background-color: var(--btn-dine-primary);
          padding: 5px;
          border-radius: 50%;
          color: white;
        }

        .number-jcf {
          padding: 0.5rem 3rem;
          font-size: 15px;
          font-weight: bold;
          color: #282144;
          background-color: #f9f9f9;
        }
      }

      input[type='checkbox'] {
        border: 1px solid #a6a6a6;
        background-color: #fff;
        width: 1.2rem;
        height: 1.2rem;
      }

      input:checked {
        background-color: red;
      }

      .checkbox-label {
        font-size: 13px;
        padding-left: 0.5rem;
        margin-bottom: 0;
      }
    }
  }

  .error-message-list {
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;

    .error-message-item {
      color: red;
      font-size: 14px;
    }
  }

  ::ng-deep .product-cols.col-md-3,
  ::ng-deep .product-cols.col-md-4 {
    .text {
      width: 100% !important;
      min-height: 250px;
    }

    .image {
      width: 100% !important;
    }
  }
}
