<div *ngIf="products?.length == 0" class="card mb-1">
    <div class="card-body">
        <h5 class="mb-0">
            <span class="text-muted">{{ 'PleaseBuyOffer' | localize }}</span>
        </h5>
    </div>
</div>
<div *ngIf="products?.length > 0" class="card mb-1 cart-products-inner">
    <div [class]="cartClass">
        <div class="card-body">
            <h5 class="mb-0">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-primary badge-pill float-right">{{ totalQty }}</span>
            </h5>
        </div>

        <ul class="list-group mb-3 cart-products__products">
            <li class="list-group-item lh-condensed cart-products__product" *ngFor="let product of products">
                <div class="cart-products__content">
                    <div class="cart-products__desc mb-2">
                        <h5 class="my-0">{{ product.name }}</h5>
                        <a href="javascript:void();" (click)="removeCartProduct(product)" class="pull-left">Remove</a>
                    </div>
                    <div class="d-flex cart-products__details">
                        <div class="cart-products__qty">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <button class="btn btn-secondary" type="button" (click)="decreaseQty(product)">-</button>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="quantity"
                                    name="quantity"
                                    min="0"
                                    [(ngModel)]="product.quantity"
                                    (keypress)="returnOnlyNumber($event)"
                                    (change)="onChangedQty(product)"
                                />
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" (click)="increaseQty(product)">+</button>
                                </div>
                            </div>
                        </div>
                        <span class="cart-products__price"
                            >{{ appSession.application.currencySign }} {{ product.price * product.quantity | number: '1.2-2' }}</span
                        >
                    </div>
                </div>
            </li>
            <li
                class="list-group-item lh-condensed cart-products__product"
                *ngFor="let discount of promotionDiscountPayment?.discountDetails; let index = index"
            >
                <div class="cart-products__content">
                    <div class="cart-products__desc mb-2">
                        <h5 class="my-0">{{ 'Code' }}: {{ discount.code }}</h5>
                        <a href="javascript:void();" (click)="removePromoCode(index)" class="pull-left"> Remove </a>
                    </div>
                    <div class="d-flex cart-products__details">
                        <span class="cart-products__price">
                            - {{ appSession.application.currencySign }}
                            {{ discount.claimAmount | number: '1.2-2' }}
                        </span>
                    </div>
                </div>
            </li>
            <hr />
            <li class="list-group-item d-flex justify-content-between" style="border: none">
                <h5>{{ 'Total' | localize }}</h5>
                <h5 class="pull-right">
                    {{ appSession.application.currencySign }}
                    {{ promotionDiscountPayment?.discountDetails?.length > 0 ? promotionDiscountPayment.originalAmount : (totalValue | number: '1.2-2') }}
                </h5>
            </li>
            <li *ngIf="promotionDiscountPayment?.discountDetails?.length > 0" class="list-group-item d-flex justify-content-end" style="border: none">
                <h6 class="pull-right">
                    -{{ appSession.application.currencySign }}
                    {{ promotionDiscountPayment.totalClaimAmount | number: '1.2-2' }}
                </h6>
            </li>
            <li *ngIf="promotionDiscountPayment?.discountDetails?.length > 0" class="list-group-item d-flex justify-content-end" style="border: none">
                <h4 class="pull-right">
                    {{ appSession.application.currencySign }}
                    {{ promotionDiscountPayment.discountedAmount | number: '1.2-2' }}
                </h4>
            </li>
        </ul>

        <div *ngIf="isChillComponent" class="m-4">
            <div class="checkout-promo-code">
                <div class="promo-code">
                    <label>Promo code</label>
                    <a class="text-button" (click)="showAddCodeModal()"> Got a promo code? </a>
                </div>
            </div>
        </div>

        <div *ngIf="isChillComponent" class="m-4 d-flex flex-column">
            <div class="form-group d-flex">
                <input id="acceptTermAndCondition" class="mt-1" type="checkbox" name="acceptTermAndCondition" [(ngModel)]="isCheckOut" (change)="acceptTermAndCondition()" />
                <label class="form-check-label" for="acceptTermAndCondition">
                    {{ 'I agree to the privacy policy of Tiffin by Food Stack Concepts Pte Ltd' | localize }}
                </label>
            </div>
            <a [routerLink]="['/app/portal/member/terms-conditions']" routerLinkActive="router-link-active">{{ 'TermsAndConditions' | localize }}</a>
            <div class="form-group d-flex">
                <input id="acceptReceiveMail" class="mt-1" type="checkbox" name="acceptReceiveMail" [(ngModel)]="isReceiveEmail" />
                <label class="form-check-label" for="acceptReceiveMail">
                    {{ 'I consent and agree to receive promotion coupons, news from Food Stack Concepts Pte Ltd, itd Franchisees and affiliates.' | localize }}
                </label>
            </div>

            <div class="mb-4" *ngIf="!isCreatePaymentWithoutPaymentMethod">
                <div class="payment-method">
                    <h5 style="margin-bottom: 20px">
                        {{ 'PaymentMethod' | localize }}
                    </h5>
                    <div [hidden]="!isCheckOut">
                        <div *ngIf="paymentMethodNotAvailable">
                            {{ 'PaymentMethodNotAvailable' | localize }}
                        </div>
                        <div class="row payment-option" [hidden]="!stripeConfig?.secretKey">
                            <div class="col-md-12">
                                <p-radioButton
                                    name="paymentMethod"
                                    [value]="PAYMENT_METHOD.Stripe"
                                    [label]="stripeData.label"
                                    [(ngModel)]="paymentMethod"
                                    inputId="opt1"
                                    (onClick)="choosepaymentMethod()"
                                >
                                </p-radioButton>
                                <div [hidden]="paymentMethod != PAYMENT_METHOD.Stripe">
                                    <div class="mt-3 col-md-12" *ngIf="serviceFees?.length > 0">
                                        <span *ngFor="let item of serviceFees; let index = index"
                                            >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                            <span *ngIf="index < serviceFees?.length - 1">, </span>
                                        </span>
                                        <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                    </div>
                                    <div class="cell example stripe-check-out-container">
                                        <form>
                                            <fieldset>
                                                <div class="row">
                                                    <div class="field col-md-12">
                                                        <label for="stripe-card-number" data-tid="elements_examples.form.card_number_label">Card Number</label>
                                                        <div class="baseline"></div>
                                                        <div id="stripe-card-number" class="input empty"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label for="stripe-card-expiry" data-tid="elements_examples.form.card_expiry_label">Expiration</label>
                                                        <div class="baseline"></div>
                                                        <div id="stripe-card-expiry" class="input empty"></div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="stripe-card-cvc" data-tid="elements_examples.form.card_cvc_label">CVC</label>
                                                        <div class="baseline"></div>
                                                        <div id="stripe-card-cvc" class="input empty"></div>
                                                    </div>
                                                </div>
                                                <button class="btn" type="submit" data-tid="elements_examples.form.pay_button">
                                                    {{ 'PayWithStripe' | localize }}
                                                </button>
                                            </fieldset>
                                            <div class="error" role="alert">
                                                <span class="message"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row payment-option" [hidden]="!omiseConfig?.publishKey">
                            <div class="col-md-12">
                                <p-radioButton
                                    name="paymentMethod"
                                    [value]="PAYMENT_METHOD.Omise"
                                    [label]="omiseData.label"
                                    [(ngModel)]="paymentMethod"
                                    inputId="opt2"
                                    (onClick)="choosepaymentMethod()"
                                >
                                </p-radioButton>
                                <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Omise">
                                    <div class="mt-3" *ngIf="serviceFees?.length > 0">
                                        <span *ngFor="let item of serviceFees; let index = index"
                                            >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                            <span *ngIf="index < serviceFees?.length - 1">, </span>
                                        </span>
                                        <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <button type="button" class="btn btn-primary mt-3 mr-3" id="checkoutButton">
                                            {{ 'PayWithOmise' | localize }}
                                        </button>

                                        <button [hidden]="!omiseConfig?.enablePaynowQR" type="button" class="btn btn-primary mt-3" id="payNow">
                                            {{ 'Pay Now' | localize }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row payment-option" [hidden]="!adyenConfig?.apiKey">
                            <div class="col-md-12">
                                <p-radioButton
                                    name="paymentMethod"
                                    [value]="PAYMENT_METHOD.Adyen"
                                    [label]="adyenData.label"
                                    [(ngModel)]="paymentMethod"
                                    inputId="opt3"
                                    (onClick)="choosepaymentMethod()"
                                >
                                </p-radioButton>
                                <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Adyen">
                                    <div class="mt-3" *ngIf="serviceFees?.length > 0">
                                        <span *ngFor="let item of serviceFees; let index = index"
                                            >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                            <span *ngIf="index < serviceFees?.length - 1">, </span>
                                        </span>
                                        <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                    </div>
                                    <div class="cell example adyen-check-out-container">
                                        <div id="customCard-container" class="adyen-checkout__card-input">
                                            <div class="adyen-checkout__loading-input__form">
                                                <div class="adyen-checkout__card__form">
                                                    <div class="adyen-checkout__field adyen-checkout__field--cardNumber">
                                                        <label class="adyen-checkout__label">
                                                            <span class="adyen-checkout__label__text">Card number</span>
                                                            <div class="adyen-checkout__input-wrapper">
                                                                <span
                                                                    data-cse="encryptedCardNumber"
                                                                    class="adyen-checkout__input adyen-checkout__input--large adyen-checkout__card__cardNumber__input"
                                                                >
                                                                    <img
                                                                        class="cart-number-icon adyen-checkout__card__cardNumber__brandIcon"
                                                                        alt="card"
                                                                        src="https://checkoutshopper-test.adyen.com/checkoutshopper/images/logos/nocard.svg"
                                                                    />
                                                                </span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="adyen-checkout__card__exp-cvc adyen-checkout__field-wrapper">
                                                        <div class="adyen-checkout__field adyen-checkout__field--50 adyen-checkout__field--expiryDate">
                                                            <label class="adyen-checkout__label">
                                                                <span class="adyen-checkout__label__text">Expiry date</span>
                                                                <div class="adyen-checkout__input-wrapper">
                                                                    <span
                                                                        data-cse="encryptedExpiryDate"
                                                                        class="adyen-checkout__input adyen-checkout__input--small adyen-checkout__card__exp-date__input"
                                                                    >
                                                                    </span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div
                                                            class="adyen-checkout__field adyen-checkout__field--50 adyen-checkout__field__cvc adyen-checkout__field--securityCode"
                                                        >
                                                            <label class="adyen-checkout__label">
                                                                <span class="adyen-checkout__label__text">CVC / CVV</span>
                                                                <div class="adyen-checkout__input-wrapper">
                                                                    <span
                                                                        class="adyen-checkout__input adyen-checkout__input--small adyen-checkout__card__cvc__input"
                                                                        data-cse="encryptedSecurityCode"
                                                                    >
                                                                    </span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="adyen-checkout__field adyen-checkout__card__holderName">
                                                    <label class="adyen-checkout__label">
                                                        <span class="adyen-checkout__label__text">Name on card</span>
                                                        <div class="adyen-checkout__input-wrapper">
                                                            <input
                                                                classnamemodifiers="large"
                                                                class="adyen-checkout__input adyen-checkout__input--text adyen-checkout__card__holderName__input adyen-checkout__input--large"
                                                                placeholder="J. Smith"
                                                                type="text"
                                                            />
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <button class="btn adyen-checkout__button adyen-checkout__button--pay" (click)="payWithAdyen()">
                                                <span class="adyen-checkout__button__content">
                                                    <span class="adyen-checkout__button__text">{{ l('PayWithAdyen') }}</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row payment-option" [hidden]="!paypalConfig?.clientId">
                            <div class="col-md-12">
                                <p-radioButton
                                    name="paymentMethod"
                                    [value]="PAYMENT_METHOD.PayPal"
                                    [label]="paypalData.label"
                                    [(ngModel)]="paymentMethod"
                                    inputId="opt4"
                                    (onClick)="choosepaymentMethod()"
                                >
                                </p-radioButton>
                                <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.PayPal">
                                    <div class="mt-3 mb-5" *ngIf="serviceFees?.length > 0">
                                        <span *ngFor="let item of serviceFees; let index = index"
                                            >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                            <span *ngIf="index < serviceFees?.length - 1">, </span>
                                        </span>
                                        <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                    </div>
                                    <div class="mt-5" [id]="payPalButtonId"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row payment-option" [hidden]="!googlePayConfig?.merchantId">
                            <div class="col-md-12">
                                <p-radioButton
                                    name="paymentMethod"
                                    [value]="PAYMENT_METHOD.Google"
                                    [label]="googlePayData.label"
                                    [(ngModel)]="paymentMethod"
                                    inputId="opt5"
                                    (onClick)="choosepaymentMethod()"
                                >
                                </p-radioButton>
                                <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Google">
                                    <div class="mt-3 mb-5" *ngIf="serviceFees?.length > 0">
                                        <span *ngFor="let item of serviceFees; let index = index"
                                            >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                            <span *ngIf="index < serviceFees?.length - 1">, </span>
                                        </span>
                                        <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                    </div>
                                    <google-pay-button
                                        *ngIf="paymentRequest"
                                        [environment]="paymentRequest.environment"
                                        [buttonType]="paymentRequest.buttonType"
                                        [buttonColor]="paymentRequest.buttonColor"
                                        [existingPaymentMethodRequired]="false"
                                        [paymentRequest]="{
                                            apiVersion: paymentRequest.apiVersion,
                                            apiVersionMinor: paymentRequest.apiVersionMinor,
                                            allowedPaymentMethods: paymentRequest.allowedPaymentMethods,
                                            merchantInfo: paymentRequest.merchantInfo,
                                            transactionInfo: {
                                                totalPriceStatus: 'FINAL',
                                                totalPriceLabel: 'Total',
                                                totalPrice: this.totalAmount?.toString(),
                                                currencyCode: appSession.application.currency,
                                                countryCode: 'SG'
                                            },
                                            callbackIntents: ['PAYMENT_AUTHORIZATION']
                                        }"
                                        (loadpaymentdata)="onLoadGooglePaymentData($event)"
                                        (error)="onGooglePayError($event)"
                                        [paymentAuthorizedCallback]="onGooglePaymentDataAuthorized"
                                        (readytopaychange)="onReadyToPayChange($event)"
                                    ></google-pay-button>
                                </div>
                            </div>
                        </div>
                        <div class="row payment-option">
                            <div class="col-md-12">
                                <p-radioButton
                                    name="paymentMethod"
                                    [value]="PAYMENT_METHOD.Swipe"
                                    label="Wallet"
                                    [(ngModel)]="paymentMethod"
                                    inputId="opt5"
                                    (onClick)="choosepaymentMethod()"
                                >
                                </p-radioButton>
                                <div class="col-md-12 pl-5" [hidden]="paymentMethod != PAYMENT_METHOD.Swipe">
                                    <p-radioButton
                                        *ngFor="let cardItem of swipeCardList"
                                        name="swipeCard"
                                        [value]="cardItem.cardNumber"
                                        [label]="cardItem.cardNumber"
                                        [(ngModel)]="swipeCard"
                                        inputId="opt6"
                                    >
                                    </p-radioButton>

                                    <div class="form-group mt-2">
                                      <input [disabled]="!swipeCard" type="text" [(ngModel)]="swipeOTP"
                                        class="form-control" type="text" name="otp" placeholder="OTP">
                                    </div>
                                    <a href="javascript:void();" (click)="sendOTP()">{{ 'Send OTP To Email' | localize }}</a>

                                    <button [disabled]="!swipeOTP || !swipeCard" type="button" class="btn btn-primary mt-3 mr-3" (click)="payWithWallet()">
                                        {{ 'Pay With Wallet' | localize }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4" *ngIf="isCreatePaymentWithoutPaymentMethod">
                <button [hidden]="!isCheckOut" class="btn btn-primary checkout-btn" (click)="createPaymentWithoutPaymentMethod()">
                    {{ 'Checkout' | localize }}
                </button>
            </div>

            <div class="mb-4 float-right buy-offer__btn">
                <button class="btn btn-primary" [routerLink]="['/app/portal/member/buy-offer']">
                    {{ 'BuyMorePlans' | localize }}
                </button>
            </div>
        </div>
    </div>
</div>

<app-add-promo-code-dialog #addPromoCodeModal (onClose)="addPromoCode($event)"></app-add-promo-code-dialog>
<app-qr-code-dialog #QRCodeModal (onClose)="onCloseQRCodeModal($event)"></app-qr-code-dialog>
