<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!tiffinProductOffer.id ? l('CreateNewProductOffer') : l('EditProductOffer')">
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form #tiffinProductOfferForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
            <div class="modal-body">

              <tabset class="tab-container tabbable-line">
                <tab heading="{{l('General')}}" customClass="m-tabs__item" class="p-5">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="TiffinProductOffer_Name">{{l("Name")}} *</label>
                        <input type="text" id="TiffinProductOffer_Name" class="form-control"
                          [(ngModel)]="tiffinProductOffer.name" name="Name" required
                          #TiffinProductOffer_Name="ngModel" />
                        <validation-messages [formCtrl]="TiffinProductOffer_Name"></validation-messages>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="TiffinProductOffer_Tag">{{l("Tag")}}</label>
                        <ngx-tags-input class="form-control" [(ngModel)]='tags' name="Tag" id="TiffinProductOffer_Tag">
                        </ngx-tags-input>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group m-form__group">
                        <label class="mr-2" for="TiffinProductSetName">{{l("ProductSet")}} *</label>
                        <button type="button" class="btn btn-primary" (click)="showProductSetLookUpModal()">
                          <span *ngIf="productSets.length === 0">
                            {{l("ChooseProducts")}}
                          </span>
                          <span *ngIf="productSets.length > 0 && productSets.length < 4">
                            {{tiffinProductSetName}}
                          </span>
                          <span *ngIf="productSets.length >= 4">
                            {{productSets.length}} {{l('Items')}}
                          </span>
                        </button>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group m-form__group">
                        <label class="mr-2" for="TiffinProductOfferTypeName">{{l("ProductOfferType")}} *</label>

                        <button type="button" class="btn btn-primary" (click)="showProductOfferTypeLookUpModal()">
                          <span *ngIf="!tiffinProductOffer.tiffinProductOfferTypeId">
                            {{l("SelectATiffinProductOfferType")}}
                          </span>
                          <span *ngIf="tiffinProductOffer.tiffinProductOfferTypeId">
                            {{tiffinProductOfferTypeName}}
                          </span>
                        </button>

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="TiffinProductOffer_Price">{{l("Price")}}</label>
                        <input type="number" id="TiffinProductOffer_Price" class="form-control"
                          [(ngModel)]="tiffinProductOffer.price" name="Price" />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="TiffinProductOffer_TotalDeliveryCount">{{l("TotalDeliveryCount")}}</label>
                        <input type="number" id="TiffinProductOffer_TotalDeliveryCount" class="form-control"
                          [(ngModel)]="tiffinProductOffer.totalDeliveryCount" name="TotalDeliveryCount"
                          (keypress)="returnOnlyNumber($event)" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="checkbox-list">
                          <label for="TiffinProductOffer_Expiry" class="checkbox">
                            <input id="TiffinProductOffer_Expiry" type="checkbox" name="Expiry"
                              [(ngModel)]="tiffinProductOffer.expiry">
                            {{l("Expiry")}}
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6" *ngIf="tiffinProductOffer.expiry">
                      <div class="form-group">
                        <label for="TiffinProductOffer_DaysOnFirstOrder">{{l("DaysOnFirstOrder")}}</label>
                        <input type="number" id="TiffinProductOffer_DaysOnFirstOrder" class="form-control"
                          [(ngModel)]="tiffinProductOffer.daysOnFirstOrder" name="DaysOnFirstOrder" />
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="TiffinProductOffer_Color">{{l("Color")}}</label>
                        <div class="input-group">
                          <input style="max-width: 45px;" type="color" id="TiffinProductOffer_ColorView"
                            class="form-control" [(ngModel)]="tiffinProductOffer.color"
                            name="TiffinProductOffer_ColorView" />
                          <input type="text" id="TiffinProductOffer_Color" class="form-control"
                            [(ngModel)]="tiffinProductOffer.color" name="TiffinProductOffer_Color" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="TiffinProductOffer_MOQ">{{l("MinimumOrderQuantity")}}</label>
                        <div class="input-group">
                          <input type="number" id="TiffinProductOffer_MOQ" class="form-control"
                            [(ngModel)]="tiffinProductOffer.minimumOrderQuantity" name="TiffinProductOffer_MOQ"
                            min="0" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="checkbox-list">
                          <label for="TiffinProductOffer_InActive" class="checkbox">
                            <input id="TiffinProductOffer_InActive" type="checkbox" name="inActive"
                              [(ngModel)]="tiffinProductOffer.inActive">
                            {{l("InActive")}}
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="TiffinProductOffer_SortOrder">{{l("SortOrder")}}</label>
                        <input type="number" id="TiffinProductOffer_SortOrder" class="form-control"
                          [(ngModel)]="tiffinProductOffer.sortOrder" name="SortOrder" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="TiffinProductOffer_Description">{{l("Description")}}</label>
                        <!-- <p-editor [(ngModel)]="tiffinProductOffer.description" id="TiffinProductOffer_Description"
                          name="Description" [style]="{'height':'300px'}"></p-editor> -->
                        <editor-tiny-mce [(ngModel)]="tiffinProductOffer.description" name="Description"
                          id="TiffinProductOffer_Description" [init]="{
                            height: 300,
                            menubar: false,
                            toolbar: ['styleselect fontselect fontsizeselect',
                                'undo redo | cut copy paste | bold italic | link image | alignleft aligncenter alignright alignjustify| forecolor backcolor',
                                'bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code'],
                            plugins : 'advlist autolink link image lists charmap print preview code'
                          }">
                        </editor-tiny-mce>

                      </div>
                    </div>
                  </div>

                </tab>

                <tab heading="{{l('Image')}}" customClass="m-tabs__item" class="p-5">
                  <div class="row">
                    <div class="col-md-4" style="margin-bottom: 15px;">
                      <label class="w-100">{{l("SavedImage")}}</label>
                      <img class="image-preview" *ngIf="tiffinProductOffer.images" [src]="tiffinProductOffer.images"
                        alt="Image">
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <input id="TiffinProductOffer_Images" name="Images" type="file" ng2FileSelect class="mb-3"
                          [uploader]="uploader" />

                        <div class="primeng-datatable-container w-100">
                          <p-table [value]="uploader.queue" [scrollable]="true" [paginator]="false"
                            scrollHeight="300px">
                            <ng-template pTemplate="header">
                              <tr>
                                <th width="175px">Name</th>
                                <th width="70px">Size</th>
                                <th width="100px">Progress</th>
                                <th width="70px">Status</th>
                                <th width="288px">Actions</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item="$implicit">
                              <tr>
                                <td width="175px" class="align-baseline">
                                  <strong>{{ item?.file?.name }}</strong>
                                  <div class="w-100" *ngIf="uploader.options.isHTML5 && filePreviewPath">
                                    <img class="image-preview" [src]="filePreviewPath">
                                  </div>
                                </td>
                                <td width="70px" *ngIf="uploader.options.isHTML5" nowrap
                                  class="text-center align-baseline">
                                  {{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                <td width="100px" class="align-baseline">
                                  <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                      [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                  </div>
                                </td>
                                <td width="70px" class="text-center align-baseline">
                                  <span *ngIf="item.isSuccess" class="text-success"><i
                                      class="fa fa-check-circle"></i></span>
                                  <span *ngIf="item.isCancel" class="text-warning"><i
                                      class="fa fa-times-circle"></i></span>
                                  <span *ngIf="item.isError" class="text-danger"><i
                                      class="fa fa-exclamation-triangle"></i></span>
                                </td>
                                <td nowrap width="288px" class="align-baseline">
                                  <button type="button" class="btn btn-success btn-sm" (click)="item.upload()"
                                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="fa fa-upload"></span> Upload
                                  </button>
                                  <button type="button" class="btn btn-warning btn-sm" (click)="item.cancel()"
                                    [disabled]="!item.isUploading">
                                    <span class="fa fa-times-circle"></span> Cancel
                                  </button>
                                  <button type="button" class="btn btn-danger btn-sm" (click)="removeFile(item)">
                                    <span class="fa fa-trash"></span> Remove
                                  </button>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                          <!-- <label for="TiffinProductOffer_Images">{{l("Images")}}</label> -->

                          <!-- <p-fileUpload id="TiffinProductOffer_Images" name="Images" customUpload="false" #ImageFileUpload
                          maxFileSize="1048576" accept="image/*" multiple="false" fileLimit="1"
                          (uploadHandler)="uploadImage($event)" (onError)="onUploadImageError()" chooseLabel="Choose"
                          uploadLabel="Upload" cancelLabel="Cancel">
                          <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                          </ng-template>
                        </p-fileUpload> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>

            <div class=" modal-footer">
              <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                (click)="close()">{{l("Cancel")}}</button>
              <button type="button" class="btn btn-primary blue"
                [disabled]="!tiffinProductOfferForm.form.valid || !tiffinProductOffer.tiffinProductOfferTypeId || tiffinProductOffer.productSets.length === 0 || +tiffinProductOffer.totalDeliveryCount === 0"
                [buttonBusy]="saving" (click)="save()" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                <span>{{l("Save")}}</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <commonMultipleLookupModal #productSetLookupModal (itemsSelected)="productSetSelected($event)">
  </commonMultipleLookupModal>
  <commonLookupModal #productOfferTypeLookupModal (itemSelected)="productOfferTypeSelected($event)"></commonLookupModal>

</div>