﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TiffinProductOffers' | localize" [description]="'TiffinProductOffersHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="la-file-excel-o"></i> {{ l('ExportToExcel') }}
                </button>
                <button
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.ProductOffers.Create')"
                    (click)="createOrEditProductOffer()"
                    class="btn btn-primary blue"
                >
                    <i class="fa fa-plus"></i> {{ l('CreateNewProductOffer') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getTiffinProductOffers($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="name">
                                            <label class="ui-column-title m-0" [title]="l('Name')"> {{ 'Name' | localize }}</label>
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px">{{ 'ProductSets' | localize }}</th>
                                        <th style="width: 150px" pSortableColumn="tiffinProductOfferType.name">
                                            <label class="ui-column-title m-0" [title]="l('ProductOfferType')">
                                                {{ 'ProductOfferType' | localize }}</label
                                            >
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="price">
                                            <label class="ui-column-title m-0" [title]="l('Price')"> {{ 'Price' | localize }}</label>
                                            <p-sortIcon field="tiffinProductOffer.price"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="totalDeliveryCount">
                                            <label class="ui-column-title m-0" [title]="l('DeliveryCount')">
                                                {{ 'DeliveryCount' | localize }}</label
                                            >
                                            <p-sortIcon field="totalDeliveryCount"></p-sortIcon>
                                        </th>
                                        <th style="width: 80px" pSortableColumn="expiry">
                                            <label class="ui-column-title m-0" [title]="l('Expiry')"> {{ 'Expiry' | localize }}</label>
                                            <p-sortIcon field="expiry"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="daysOnFirstOrder">
                                            <label class="ui-column-title m-0" [title]="l('DaysOnFirstOrder')">
                                                {{ 'DaysOnFirstOrder' | localize }}</label
                                            >
                                            <p-sortIcon field="daysOnFirstOrder"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="inActive">
                                            <label class="ui-column-title m-0" [title]="l('Active')"> {{ 'Active' | localize }}</label>
                                            <p-sortIcon field="inActive"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 80px"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Tiffin.Manage.ProductOffers.Edit',
                                                    'Pages.Tenant.Tiffin.Manage.ProductOffers.Delete'
                                                )
                                            "
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.tiffinProductOffer.name }}
                                        </td>
                                        <td class="text-center" style="width: 100px">
                                            <button
                                                type="button"
                                                class="btn-secondary btn-icon btn btn-sm"
                                                (click)="showProductSets(record.tiffinProductOffer.productSets)"
                                            >
                                                <i class="flaticon2-list-2"></i>
                                            </button>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('ProductOfferType') }}</span>
                                            {{ record.tiffinProductOfferTypeName }}
                                        </td>
                                        <td style="width: 100px" class="text-right">
                                            <span class="ui-column-title"> {{ l('Price') }}</span>
                                            {{ record.tiffinProductOffer.price | number: '1.2-2' }}
                                        </td>
                                        <td style="width: 100px" class="text-right">
                                            <span class="ui-column-title"> {{ l('DeliveryCount') }}</span>
                                            {{ record.tiffinProductOffer.totalDeliveryCount }}
                                        </td>
                                        <td style="width: 80px">
                                            <span class="ui-column-title"> {{ l('Expiry') }}</span>
                                            <div *ngIf="record.tiffinProductOffer.expiry" class="text-center">
                                                <i class="fa fa-check-circle text-success" title="True"></i>
                                            </div>
                                            <div *ngIf="!record.tiffinProductOffer.expiry" class="text-center">
                                                <i class="fa fa-times-circle" title="False"></i>
                                            </div>
                                        </td>
                                        <td style="width: 100px" class="text-right">
                                            <span class="ui-column-title"> {{ l('DaysOnFirstOrder') }}</span>
                                            <span *ngIf="record.tiffinProductOffer.expiry">
                                                {{ record.tiffinProductOffer.daysOnFirstOrder }}
                                            </span>
                                        </td>
                                        <td style="width: 100px">
                                            <span class="ui-column-title"> {{ l('Active') }}</span>
                                            <div *ngIf="!record.tiffinProductOffer.inActive" class="text-center">
                                                <i class="fa fa-check-circle text-success" title="True"></i>
                                            </div>
                                            <div *ngIf="record.tiffinProductOffer.inActive" class="text-center">
                                                <i class="fa fa-times-circle" title="False"></i>
                                            </div>
                                        </td>
                                        <td
                                            style="width: 80px"
                                            class="text-center"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Tiffin.Manage.ProductOffers.Edit',
                                                    'Pages.Tenant.Tiffin.Manage.ProductOffers.Delete'
                                                )
                                            "
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.ProductOffers.Edit')"
                                                            (click)="createOrEditProductOffer(record.tiffinProductOffer.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.ProductOffers.Delete')"
                                                            (click)="deleteTiffinProductOffer(record.tiffinProductOffer)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getTiffinProductOffers($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<product-sets-in-offer-modal #productSetsModal></product-sets-in-offer-modal>
