<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  (onShown)="shown()" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'ProductSets' | localize}}
        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!--<Primeng-TurboTable-Start>-->
        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
          <p-table #dataTable [value]="primengTableHelper.records" [paginator]="false"
            [responsive]="primengTableHelper.isResponsive">
            <ng-template pTemplate="header">
              <tr>
                <th>
                  {{'Id' | localize}}
                </th>
                <th>
                  {{'Name' | localize}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit">
              <tr>
                <td>
                  <span class="ui-column-title">{{'Id' | localize}}</span>
                  {{record.id}}
                </td>
                <td>
                  <span class="ui-column-title">{{'Name' | localize}}</span>
                  {{record.name}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <!--<Primeng-TurboTable-End>-->

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">{{"Cancel" | localize}}</button>
      </div>

    </div>
  </div>
</div>