<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <!-- Header -->
    <sub-header [title]="!isEdit ? l('CreateComboGroup') : (l('EditComboGroup')+ ': ' + comboGroup.name)">
    </sub-header>
    <!-- End Header -->

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">

          <!-- Form -->
          <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="save()">
            <input type="submit" hidden />

            <!-- Name -->
            <div class="form-group col-md-6">
              <label for="name">{{l("Name")}} *</label>
              <div class="w-100 d-flex">
                <input autoFocus #name="ngModel" [(ngModel)]="comboGroup.name" type="text" id="name" class="form-control"
                  name="name" required maxlength="50" [ngClass]="{'w-75': isEdit}" />
                <div *ngIf="isEdit" class="w-25">
                  <button type="button" class="btn btn btn-primary pull-right" (click)="showLanguages()">
                    language</button>
                </div>
              </div>
              <validation-messages [formCtrl]="name"></validation-messages>
            </div>

            <!-- Sort Order -->
            <div class="form-group col-md-6">
              <label for="sortOrder">{{l("SortOrder")}}</label>
              <input #sortOrder="ngModel" [(ngModel)]="comboGroup.sortOrder" type="number" id="sortOrder"
                class="form-control" name="sortOrder" />
              <validation-messages [formCtrl]="sortOrder"></validation-messages>
            </div>

            <!-- Sort Order -->
            <div class="form-group col-md-6">
              <label for="minimum">{{l("Minimum")}}</label>
              <input #minimum="ngModel" [(ngModel)]="comboGroup.minimum" type="number" id="minimum" class="form-control"
                name="minimum" />
              <validation-messages [formCtrl]="minimum"></validation-messages>
            </div>

            <!-- Maximum -->
            <div class="form-group col-md-6">
              <label for="maximum">{{l("Maximum")}}</label>
              <input #maximum="ngModel" [(ngModel)]="comboGroup.maximum" type="number" id="maximum" class="form-control"
                name="sortOrder" />
              <validation-messages [formCtrl]="maximum"></validation-messages>
            </div>
          </form>
          <!-- End Form -->

          <!-- ComboGroups -->
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-center mb-3">
                <h6 class="flex-grow-1">{{l('Items')}}</h6>

                <button type="button" class="btn btn btn-primary" (click)="addItem()">
                  <i class="fa fa-plus"></i>
                  {{l('Add Item')}}
                </button>
              </div>

              <table class="table table-hover table-light">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>

                  <col style="width: 150px">
                </colgroup>

                <thead>
                  <tr>
                    <th>{{l("Name")}}</th>
                    <th>{{l("TypeCode")}}</th>
                    <th>{{l("SortOrder")}}</th>
                    <th>{{l("Quantity")}}</th>
                    <th>{{l("Price")}}</th>

                    <th>{{l("Actions")}}</th>
                  </tr>
                </thead>

                <tr *ngFor="let record of comboItems; let index = index">
                  <td>{{record.name}}</td>
                  <td>{{record.groupTag}}</td>
                  <td>{{record.sortOrder}}</td>
                  <td>{{record.count}}</td>
                  <td>{{record.price}}</td>

                  <td>
                    <button class="btn-secondary btn" type="button" (click)="editItem(index)">
                      <i class="flaticon-edit"></i>
                    </button>

                    <button class="btn-secondary btn" type="button" (click)="removeItem(index)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- End ComboGroups -->

          <div class="modal-footer px-0 pb-0">
            <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
              {{l("Cancel")}}
            </button>

            <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid" [buttonBusy]="saving"
              [busyText]="l('SavingWithThreeDot')" (click)="save()">
              <i class="fa fa-save"></i>
              <span>{{l("Save")}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<create-combo-item-modal #createComboItemModal (modalSave)="addComboItem($event)"></create-combo-item-modal>

<createOrEditLanguageDescriptionModal #createOrEditLanguageDescriptionModal>
</createOrEditLanguageDescriptionModal>