<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Settings' | localize" [description]="'SettingsHeaderInfo' | localize">
            <div role="actions">
                <button class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                    (click)="saveAll()"><i class="la la-floppy-o"></i>
                    {{"SaveAll" | localize}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset *ngIf="settings">
                        <tab heading="{{'General' | localize}}" *ngIf="showTimezoneSelection"
                            [active]="activeTabIndex == 0" class="p-5">
                            <div class="row">
                                <div class="form-group col-md-6" *ngIf="showTimezoneSelection">
                                    <label for="Timezone">{{"Timezone" | localize}}</label>
                                    <timezone-combo [(ngModel)]="settings.general.timezone" name="Timezone"
                                        defaultTimezoneScope="{{defaultTimezoneScope}}">
                                    </timezone-combo>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="FileDateTimeFormat">{{l('FileDateTimeFormat ')}}</label>
                                    <input id="FileDateTimeFormat" type="text" name="fileDateTimeFormat"
                                        class="form-control"
                                        [(ngModel)]="settings.fileDateTimeFormat.fileDateTimeFormat">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="FileDateFormat">{{l('FileDateFormat')}}</label>
                                    <input id="FileDateFormat" type="text" name="fileDateFormat" class="form-control"
                                        [(ngModel)]="settings.fileDateTimeFormat.fileDateFormat">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="FileDayMonthFormat">{{l('FileDayMonthFormat')}}</label>
                                    <input id="FileDayMonthFormat" type="text" name="fileDayMonthFormat"
                                        class="form-control"
                                        [(ngModel)]="settings.fileDateTimeFormat.fileDayMonthFormat">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="whatappAccountSid">{{l('WhatsApp Account SID')}}</label>
                                    <input 
                                        id="whatappAccountSid" 
                                        type="text" 
                                        name="whatappAccountSid" 
                                        class="form-control"
                                        [(ngModel)]="settings.general.whatappAccountSid">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="whatappAuthToken">{{l('Whatsapp Auth Token')}}</label>
                                    <input 
                                        id="whatappAuthToken" 
                                        type="text" 
                                        name="whatappAuthToken" 
                                        class="form-control"
                                        [(ngModel)]="settings.general.whatappAuthToken">
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="adminWhatappNumber">{{l('Admin Whatsapp Number')}}</label>
                                    <input 
                                        id="adminWhatappNumber" 
                                        type="text" 
                                        name="adminWhatappNumber" 
                                        class="form-control"
                                        [(ngModel)]="settings.general.adminWhatappNumber"
                                        (keypress)="enterPhoneNumber($event)">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="whatappSenderNumber">{{l('Whatsapp Sender Number')}}</label>
                                    <input 
                                        id="whatappSenderNumber" 
                                        type="text" 
                                        name="whatappSenderNumber" 
                                        class="form-control"
                                        [(ngModel)]="settings.general.whatappSenderNumber"
                                        (keypress)="enterPhoneNumber($event)">
                                </div>
                            </div>

                        </tab>
                        <tab heading="{{'Appearance' | localize}}" [active]="activeTabIndex == 1" class="p-5">
                            <div class="row m-form">
                                <div class="col-md-4">
                                    <h5>{{"ApplicationLogo" | localize}}</h5>
                                    <form #logoUploadForm>
                                        <div class="form-group" *ngIf="appSession.tenant.logoId"
                                            style="background: url(/assets/common/images/transparent_background.png); width: 50%; padding: 5px;">
                                            <a [href]="remoteServiceBaseUrl + '/TenantCustomization/GetLogo?tenantId=' + appSession.tenant.id"
                                                target="_blank">
                                                <img height="38"
                                                    [src]="remoteServiceBaseUrl + '/TenantCustomization/GetLogo?tenantId=' + appSession.tenant.id">
                                            </a>
                                        </div>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="logoUploader" class="col-lg-12"
                                                required />
                                            <span class="form-text text-muted col-lg-12">{{"UploadLogo_Info" |
                                                localize}}</span>
                                        </div>
                                        <button class="btn btn-primary" type="button" (click)="uploadLogo()">{{"Upload"
                                            | localize}}</button>
                                        <button class="btn btn-secondary" type="button" (click)="clearLogo()">{{"Clear"
                                            | localize}}</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <h5>{{"CustomCSS" | localize}}</h5>
                                    <p *ngIf="appSession.tenant.customCssId">
                                        <a [href]="remoteServiceBaseUrl + '/TenantCustomization/GetCustomCss?tenantId=' + appSession.tenant.id"
                                            target="_blank">{{'Download' | localize}}</a>
                                    </p>
                                    <form #cssUploadForm>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="customCssUploader"
                                                class="col-lg-12" required />
                                            <span class="form-text text-muted col-lg-12">{{"UploadCSS_Info" |
                                                localize}}</span>
                                        </div>
                                        <button class="btn btn-primary" type="button"
                                            (click)="uploadCustomCss()">{{"Upload" | localize}}</button>
                                        <button class="btn btn-secondary" type="button"
                                            (click)="clearCustomCss()">{{"Clear" | localize}}</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <h5>{{"Favicon" | localize}}</h5>
                                    <div class="form-group" *ngIf="appSession.tenant.faviconId"
                                        style="background: url(/assets/common/images/transparent_background.png); width: 50%; padding: 5px;">
                                        <a [href]="urlFavIcon" target="_blank">
                                            <img height="38" [src]="urlFavIcon">
                                        </a>
                                    </div>
                                    <form #faviconUpload>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="faviconUploader"
                                                class="col-lg-12" required />
                                            <span class="form-text text-muted col-lg-12">{{"UploadLogo_Info" |
                                                localize}}</span>
                                        </div>
                                        <button class="btn btn-primary" type="button"
                                            (click)="uploadFavicon()">{{"Upload" | localize}}</button>
                                        <button class="btn btn-secondary" type="button"
                                            (click)="clearFavicon()">{{"Clear" | localize}}</button>
                                    </form>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'UserManagement' | localize}}" class="p-5">
                            <div class="form">
                                <h5>{{"FormBasedRegistration" | localize}}</h5>
                                <div class="checkbox-list">
                                    <div class="form-group">
                                        <label for="Setting_AllowSelfRegistration" class="checkbox"
                                            style="margin-bottom: 0">
                                            <input id="Setting_AllowSelfRegistration" class="check" type="checkbox"
                                                name="AllowSelfRegistration"
                                                [(ngModel)]="settings.userManagement.allowSelfRegistration">
                                            {{"AllowUsersToRegisterThemselves" | localize}}
                                            <span></span>
                                        </label>
                                        <span class="form-text text-muted">{{"AllowUsersToRegisterThemselves_Hint" |
                                            localize}}</span>
                                    </div>
                                    <div class="form-group" [hidden]="!settings.userManagement.allowSelfRegistration">
                                        <label for="Setting_IsNewRegisteredUserActiveByDefault" class="checkbox"
                                            style="margin-bottom: 0">
                                            <input id="Setting_IsNewRegisteredUserActiveByDefault" type="checkbox"
                                                name="IsNewRegisteredUserActiveByDefault"
                                                [(ngModel)]="settings.userManagement.isNewRegisteredUserActiveByDefault">
                                            {{"NewRegisteredUsersIsActiveByDefault" | localize}}
                                            <span></span>
                                        </label>
                                        <span class="form-text text-muted">{{"NewRegisteredUsersIsActiveByDefault_Hint"
                                            | localize}}</span>
                                    </div>
                                    <div class="form-group" [hidden]="!settings.userManagement.allowSelfRegistration">
                                        <label for="Setting_UseCaptchaOnRegistration" class="checkbox">
                                            <input id="Setting_UseCaptchaOnRegistration" type="checkbox"
                                                name="UseCaptchaOnRegistration"
                                                [(ngModel)]="settings.userManagement.useCaptchaOnRegistration">
                                            {{"UseCaptchaOnRegistration" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="form-group" [hidden]="!settings.userManagement.allowSelfRegistration">
                                        <label for="Setting_UseCaptchaOnLogin" class="checkbox">
                                            <input id="Setting_UseCaptchaOnLogin" type="checkbox"
                                                name="UseCaptchaOnLogin"
                                                [(ngModel)]="settings.userManagement.useCaptchaOnLogin">
                                            {{"UseCaptchaOnLogin" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <h5>{{"CookieConsent" | localize}}</h5>
                                    <label for="Settings_IsCookieConsentEnabled" class="checkbox">
                                        <input id="Settings_IsCookieConsentEnabled" class="md-check" type="checkbox"
                                            name="IsCookieConsentEnabled"
                                            [(ngModel)]="settings.userManagement.isCookieConsentEnabled">
                                        {{"IsCookieConsentEnabled" | localize}}
                                        <span></span>
                                    </label>
                                    <h5>{{"SessionTimeOut" | localize}}</h5>
                                    <label for="Setting_IsSessionTimeOutEnabled" class="checkbox">
                                        <input id="Setting_IsSessionTimeOutEnabled" class="md-check" type="checkbox"
                                            name="IsEnabled"
                                            [(ngModel)]="settings.userManagement.sessionTimeOutSettings.isEnabled">
                                        {{"IsSessionTimeOutEnabled" | localize}}
                                        <span></span>
                                    </label>
                                    <div class="form-group"
                                        *ngIf="settings.userManagement.sessionTimeOutSettings.isEnabled">
                                        <label for="Setting_SessionTimeOutSecond">{{"SessionTimeOutSecond" |
                                            localize}}</label>
                                        <input id="Setting_SessionTimeOutSecond" type="number" name="TimeOutSecond"
                                            class="form-control" min="1"
                                            [ngClass]="{'edited':settings.userManagement.sessionTimeOutSettings.timeOutSecond}"
                                            [(ngModel)]="settings.userManagement.sessionTimeOutSettings.timeOutSecond">
                                    </div>
                                    <div class="form-group"
                                        *ngIf="settings.userManagement.sessionTimeOutSettings.isEnabled">
                                        <label
                                            for="Setting_ShowTimeOutNotificationSecond">{{"ShowTimeOutNotificationSecond"
                                            | localize}}</label>
                                        <input id="Setting_ShowTimeOutNotificationSecond" type="number"
                                            name="ShowTimeOutNotificationSecond" class="form-control" min="1"
                                            [ngClass]="{'edited':settings.userManagement.sessionTimeOutSettings.showTimeOutNotificationSecond}"
                                            [(ngModel)]="settings.userManagement.sessionTimeOutSettings.showTimeOutNotificationSecond">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="settings.ldap && settings.ldap.isModuleEnabled">
                                <h5 class="mt-4">{{"LdapSettings" | localize}}</h5>
                                <label for="Setting_LdapIsEnabled" class="checkbox">
                                    <input id="Setting_LdapIsEnabled" type="checkbox" name="LdapIsEnabled"
                                        [(ngModel)]="settings.ldap.isEnabled"> {{"EnableLdapAuthentication" | localize}}
                                    <span></span>
                                </label>
                                <div class="form-group" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapDomainName">{{"DomainName" | localize}}</label>
                                    <input id="LdapDomainName" type="text" name="LdapDomainName" class="form-control"
                                        [(ngModel)]="settings.ldap.domain" maxlength="128">
                                </div>
                                <div class="form-group" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapUserName">{{"UserName" | localize}}</label>
                                    <input id="LdapUserName" type="text" name="LdapUserName" class="form-control"
                                        [(ngModel)]="settings.ldap.userName" maxlength="128">
                                </div>
                                <div class="form-group" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapPassword">{{"Password" | localize}}</label>
                                    <input id="LdapPassword" type="password" name="LdapPassword" class="form-control"
                                        [(ngModel)]="settings.ldap.password" maxlength="128">
                                </div>
                            </div>
                            <div>
                                <h5 class="mt-4">{{"OtherSettings" | localize}}</h5>
                                <label for="Setting_IsEmailConfirmationRequiredForLogin" class="checkbox">
                                    <input id="Setting_IsEmailConfirmationRequiredForLogin" type="checkbox"
                                        name="IsEmailConfirmationRequiredForLogin"
                                        [(ngModel)]="settings.userManagement.isEmailConfirmationRequiredForLogin">
                                    {{"EmailConfirmationRequiredForLogin" | localize}}
                                    <span></span>
                                </label>
                            </div>
                        </tab>
                        <tab heading="{{'Security' | localize}}" class="p-5">
                            <div>
                                <h5>{{"PasswordComplexity" | localize}}</h5>
                                <label for="Setting_PasswordComplexity_UseDefaultSettings" class="checkbox">
                                    <input id="Setting_PasswordComplexity_UseDefaultSettings" type="checkbox"
                                        name="Setting_PasswordComplexity_UseDefaultSettings"
                                        [(ngModel)]="settings.security.useDefaultPasswordComplexitySettings">
                                    {{"UseDefaultSettings" | localize}}
                                    <span></span>
                                </label>
                                <div class="checkbox-list mt-2">
                                    <label for="Setting_PasswordComplexity_RequireDigit" class="checkbox">
                                        <input id="Setting_PasswordComplexity_RequireDigit" type="checkbox"
                                            name="Setting_PasswordComplexity_RequireDigit"
                                            [(ngModel)]="settings.security.passwordComplexity.requireDigit"
                                            *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                        <input id="Setting_PasswordComplexity_RequireDigit" type="checkbox"
                                            name="Setting_PasswordComplexity_RequireDigit"
                                            [(ngModel)]="settings.security.defaultPasswordComplexity.requireDigit"
                                            *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                        {{"PasswordComplexity_RequireDigit" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Setting_PasswordComplexity_RequireLowercase" class="checkbox">
                                        <input id="Setting_PasswordComplexity_RequireLowercase" type="checkbox"
                                            name="Setting_PasswordComplexity_RequireLowercase"
                                            [(ngModel)]="settings.security.passwordComplexity.requireLowercase"
                                            *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                        <input id="Setting_PasswordComplexity_RequireLowercase" type="checkbox"
                                            name="Setting_PasswordComplexity_RequireLowercase"
                                            [(ngModel)]="settings.security.defaultPasswordComplexity.requireLowercase"
                                            *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                        {{"PasswordComplexity_RequireLowercase" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Setting_PasswordComplexity_RequireNonAlphanumeric" class="checkbox">
                                        <input id="Setting_PasswordComplexity_RequireNonAlphanumeric" type="checkbox"
                                            name="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                            [(ngModel)]="settings.security.passwordComplexity.requireNonAlphanumeric"
                                            *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                        <input id="Setting_PasswordComplexity_RequireNonAlphanumeric" type="checkbox"
                                            name="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                            [(ngModel)]="settings.security.defaultPasswordComplexity.requireNonAlphanumeric"
                                            *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                        {{"PasswordComplexity_RequireNonAlphanumeric" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Setting_PasswordComplexity_RequireUppercase" class="checkbox">
                                        <input id="Setting_PasswordComplexity_RequireUppercase" type="checkbox"
                                            name="Setting_PasswordComplexity_RequireUppercase"
                                            [(ngModel)]="settings.security.passwordComplexity.requireUppercase"
                                            *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                        <input id="Setting_PasswordComplexity_RequireUppercase" type="checkbox"
                                            name="Setting_PasswordComplexity_RequireUppercase"
                                            [(ngModel)]="settings.security.defaultPasswordComplexity.requireUppercase"
                                            *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                        {{"PasswordComplexity_RequireUppercase" | localize}}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>{{"PasswordComplexity_RequiredLength" | localize}}</label>
                                    <input type="number" name="RequiredLength" class="form-control"
                                        [ngClass]="{'edited':settings.security.passwordComplexity.requiredLength}"
                                        [(ngModel)]="settings.security.passwordComplexity.requiredLength"
                                        *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                    <input type="number" name="RequiredLength" class="form-control"
                                        [ngClass]="{'edited':settings.security.defaultPasswordComplexity.requiredLength}"
                                        [(ngModel)]="settings.security.defaultPasswordComplexity.requiredLength"
                                        *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                </div>
                            </div>
                            <div>
                                <h5>{{"UserLockOut" | localize}}</h5>
                                <div class="md-checkbox-list">
                                    <div>
                                        <label for="Setting_UserLockOut_IsEnabled" class="checkbox">
                                            <input id="Setting_UserLockOut_IsEnabled" type="checkbox"
                                                name="Setting_UserLockOut_IsEnabled"
                                                [(ngModel)]="settings.security.userLockOut.isEnabled">
                                            {{"EnableUserAccountLockingOnFailedLoginAttemts" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="settings.security.userLockOut.isEnabled">
                                    <label
                                        for="MaxFailedAccessAttemptsBeforeLockout">{{"MaxFailedAccessAttemptsBeforeLockout"
                                        | localize}}</label>
                                    <input id="MaxFailedAccessAttemptsBeforeLockout" type="number"
                                        name="MaxFailedAccessAttemptsBeforeLockout" class="form-control"
                                        [ngClass]="{'edited':settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout}"
                                        [(ngModel)]="settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout">
                                </div>
                                <div class="form-group" *ngIf="settings.security.userLockOut.isEnabled">
                                    <label for="DefaultAccountLockoutSeconds">{{"DefaultAccountLockoutDurationAsSeconds"
                                        | localize}}</label>
                                    <input id="DefaultAccountLockoutSeconds" type="number"
                                        name="DefaultAccountLockoutSeconds" class="form-control"
                                        [ngClass]="{'edited':settings.security.userLockOut.defaultAccountLockoutSeconds}"
                                        [(ngModel)]="settings.security.userLockOut.defaultAccountLockoutSeconds">
                                </div>
                            </div>
                            <div
                                *ngIf="!isMultiTenancyEnabled || settings.security.twoFactorLogin.isEnabledForApplication">
                                <h5>{{"TwoFactorLogin" | localize}}</h5>
                                <div class="checkbox-list">
                                    <label for="Setting_TwoFactorLogin_IsEnabled" class="checkbox">
                                        <input id="Setting_TwoFactorLogin_IsEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isEnabled">
                                        {{"EnableTwoFactorLogin" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Setting_TwoFactorLogin_IsEmailProviderEnabled" class="checkbox"
                                        *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                        <input id="Setting_TwoFactorLogin_IsEmailProviderEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsEmailProviderEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isEmailProviderEnabled">
                                        {{"IsEmailVerificationEnabled" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Setting_TwoFactorLogin_IsSmsProviderEnabled" class="checkbox"
                                        *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                        <input id="Setting_TwoFactorLogin_IsSmsProviderEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsSmsProviderEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isSmsProviderEnabled">
                                        {{"IsSmsVerificationEnabled" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled" class="checkbox"
                                        *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                        <input id="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isGoogleAuthenticatorEnabled">
                                        {{"IsGoogleAuthenticatorEnabled" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Setting_TwoFactorLogin_IsRememberBrowserEnabled" class="checkbox"
                                        *ngIf="settings.security.twoFactorLogin.isEnabled">
                                        <input id="Setting_TwoFactorLogin_IsRememberBrowserEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsRememberBrowserEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isRememberBrowserEnabled">
                                        {{"AllowToRememberBrowserForTwoFactorLogin" | localize}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="!isMultiTenancyEnabled">
                                <h5>{{"OneConcurrentLoginPerUser" | localize}}</h5>
                                <div class="checkbox-list">
                                    <label for="Setting_IsOneConcurrentLoginPerUserActive" class="checkbox">
                                        <input id="Setting_IsOneConcurrentLoginPerUserActive" type="checkbox"
                                            name="Setting_IsOneConcurrentLoginPerUserActive"
                                            [(ngModel)]="settings.security.allowOneConcurrentLoginPerUser">
                                        {{"OneConcurrentLoginPerUserActive" | localize}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'Email' | localize}}" class="p-5"
                            *ngIf="!isMultiTenancyEnabled || appSession.application.allowTenantsToChangeEmailSettings">
                            <div class="form-group m-form__group" *ngIf="isMultiTenancyEnabled">
                                <label for="Settings_UseHostDefaultEmailSettings" class="checkbox">
                                    <input id="Settings_UseHostDefaultEmailSettings" type="checkbox"
                                        name="UseHostDefaultEmailSettings"
                                        [(ngModel)]="settings.email.useHostDefaultEmailSettings">
                                    {{"UseHostDefaultEmailSettings" | localize}}
                                    <span></span>
                                </label>
                            </div>
                            <div [hidden]="settings.email.useHostDefaultEmailSettings">
                                <div class="form-group">
                                    <label for="DefaultFromAddress">{{"DefaultFromAddress" | localize}}</label>
                                    <input id="DefaultFromAddress" type="email" name="DefaultFromAddress"
                                        class="form-control" [ngClass]="{'edited':settings.email.defaultFromAddress}"
                                        [(ngModel)]="settings.email.defaultFromAddress" maxlength="128">
                                </div>
                                <div class="form-group">
                                    <label for="DefaultFromDisplayName">{{"DefaultFromDisplayName" | localize}}</label>
                                    <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName"
                                        class="form-control"
                                        [ngClass]="{'edited':settings.email.defaultFromDisplayName}"
                                        [(ngModel)]="settings.email.defaultFromDisplayName" maxlength="128">
                                </div>
                            </div>
                            <hr />
                        </tab>
                        <tab heading="{{'Invoice' | localize}}" class="p-5">
                            <h5>{{"InvoiceInformation" | localize}}</h5>
                            <div class="form-group">
                                <label for="LegalName">{{"LegalName" | localize}}</label>
                                <input id="LegalName" type="text" name="legalName" class="form-control"
                                    [ngClass]="{'edited':settings.billing.legalName}"
                                    [(ngModel)]="settings.billing.legalName" maxlength="64">
                            </div>
                            <div class="form-group">
                                <label for="Address">{{"Address" | localize}}</label>
                                <textarea id="Address" rows="5" name="address" class="form-control"
                                    [ngClass]="{'edited':settings.billing.address}"
                                    [(ngModel)]="settings.billing.address" maxlength="256"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="taxVatNo">{{"Tax/VatNo" | localize}}</label>
                                <input id="taxVatNo" type="text" name="taxVatNo" class="form-control"
                                    [ngClass]="{'edited':settings.billing.taxVatNo}"
                                    [(ngModel)]="settings.billing.taxVatNo" maxlength="32">
                            </div>
                        </tab>

                        <tab *ngIf="!isMultiTenancyEnabled" heading="{{'OtherSettings' | localize}}" class="p-5">
                            <div class="checkbox-list">
                                <h5>{{"IsQuickThemeSelectEnabled" | localize}}</h5>
                                <label for="Settings_IsQuickThemeSelectEnabled" class="checkbox">
                                    <input id="Settings_IsQuickThemeSelectEnabled" class="md-check" type="checkbox"
                                        name="IsQuickThemeSelectEnabled"
                                        [(ngModel)]="settings.otherSettings.isQuickThemeSelectEnabled">
                                    {{"IsQuickThemeSelectEnabled" | localize}}
                                    <span></span>
                                </label>
                            </div>
                        </tab>


                        <tab heading="{{'Tiffins' | localize}}" *ngIf="isTiffinEnabled" class="p-5">
                            <h5>{{"Invoice" | localize}}</h5>

                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CompanyName">{{"CompanyName" | localize}}</label>
                                        <input id="CompanyName" name="CompanyName" type="text" class="form-control"
                                            [(ngModel)]="settings.companySetting.companyName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="LogoCompany">{{"LogoCompany" | localize}}</label>
                                        <div *ngIf="settings.companySetting.companyLogoUrl" class="mb-2">
                                            <img class="image-preview" [src]="settings.companySetting.companyLogoUrl"
                                                alt="Image">
                                        </div>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="logoCompanyUploader" class=""
                                                required />
                                        </div>
                                        <div class="d-flex flex-row">
                                            <button class="btn btn-primary" type="button"
                                                (click)="uploadLogoCompany()">{{"Upload" | localize}}</button>
                                            <button *ngIf="settings.companySetting?.companyLogoUrl"
                                                class="btn btn-danger" type="button"
                                                (click)="settings.companySetting.companyLogoUrl = null">
                                                {{"Delete" | localize}}
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <h5>{{"Images" | localize}}</h5>

                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tiffinPopup">{{"Popup Image" | localize}}</label>
                                        <div *ngIf="settings.tiffinPopup" class="mb-2">
                                            <img class="image-preview" [src]="settings.tiffinPopup" alt="Image">
                                        </div>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="popupImageUploader"
                                                id="tiffinPopup" class="" required />
                                        </div>
                                        <div class="d-flex flex-row">
                                            <button class="btn btn-primary" type="button" (click)="uploadPopupImage()">
                                                {{"Upload" | localize}}
                                            </button>
                                            <button *ngIf="settings.tiffinPopup" class="btn btn-danger" type="button"
                                                (click)="settings.tiffinPopup = null">
                                                {{"Delete" | localize}}
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="hintImageUrl">{{"Hint Image" | localize}}</label>
                                        <div *ngIf="settings.signUpForm?.hintImageUrl" class="mb-2">
                                            <img class="image-preview" [src]="settings.signUpForm?.hintImageUrl"
                                                alt="Image">
                                        </div>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="hintImageUploader"
                                                id="hintImageUploader" class="" required />
                                        </div>
                                        <div class="d-flex flex-row">
                                            <button class="btn btn-primary" type="button"
                                                (click)="uploadHintImage()">{{"Upload" | localize}}
                                            </button>
                                            <button *ngIf="settings.signUpForm?.hintImageUrl" class="btn btn-danger"
                                                type="button" (click)="settings.signUpForm.hintImageUrl = null">
                                                {{"Delete" | localize}}
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h5>{{"Customer" | localize}}</h5>
                            <div>
                                <label for="IsTiffinEnableStudentInformation" class="checkbox">
                                    <input id="IsTiffinEnableStudentInformation" type="checkbox"
                                        name="IsEmailConfirmationRequiredForLogin"
                                        [(ngModel)]="settings.isTiffinEnableStudentInformation">
                                    {{"Enable Student Information" | localize}}
                                    <span></span>
                                </label>
                            </div>

                            <div>
                                <label for="tiffinIsEnableDelivery" class="checkbox">
                                    <input id="tiffinIsEnableDelivery" type="checkbox" name="tiffinIsEnableDelivery"
                                        [(ngModel)]="settings.tiffinIsEnableDelivery">
                                    {{"Enable Delivery" | localize}}
                                    <span></span>
                                </label>
                            </div>
                            <hr />
                            <h5>{{"MealSettings" | localize}}</h5>
                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="minMealCount">{{"MinMealCount" | localize}}</label>
                                        <input id="minMealCount" name="minMealCount" type="number" class="form-control"
                                            [(ngModel)]="settings.tenantMealSetting.minMealCount">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="minExpiryDay">{{"MinExpiryDay" | localize}}</label>
                                        <input id="minExpiryDay" name="minExpiryDay" type="number" class="form-control"
                                            [(ngModel)]="settings.tenantMealSetting.minExpiryDay">
                                    </div>
                                </div>
                            </div>

                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tiffinCutOffDays">{{"Cut Off Days" | localize}}</label>
                                        <input id="tiffinCutOffDays" name="tiffinCutOffDays" type="number" min="0"
                                            class="form-control" [(ngModel)]="settings.tiffinCutOffDays">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="OrderCutOffTime">{{"OrderCutOffTime" | localize}}</label>
                                        <div class="input-group date">
                                            <timepicker [(ngModel)]="orderCutOffTime"></timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="futureDates">{{"Future Dates" | localize}}</label>
                                        <input id="futureDates" name="futureDates" type="number" min="0"
                                            class="form-control" [(ngModel)]="settings.tiffinAllowOrderInFutureDays">
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h5>{{"ReferralEarning" | localize}}</h5>
                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="referralEarnAmountSetting">{{"ReferralEarnAmountSetting" |
                                            localize}}</label>
                                        <select [(ngModel)]="settings.referralEarning.referralEarnType"
                                            class="form-control" name="referralEarnAmountSetting"
                                            id="referralEarnAmountSetting">
                                            <option *ngFor="let type of referralEarningTypes" [value]="type.value">
                                                {{type.displayText}}</option>
                                        </select>
                                    </div>

                                </div>
                                <div *ngIf="settings.referralEarning?.referralEarnType == ReferralEarningType.Promotion"
                                    class="col-md-6">
                                    <div class="form-group">
                                        <label for="referralEarnPromotion">{{"Promotion" | localize}}</label>
                                        <p-autoComplete [(ngModel)]="selectedPromotion" id="referralEarnPromotion"
                                            [completeOnFocus]="true" [suggestions]="promotions"
                                            (completeMethod)="getPromotions($event)" field="name"
                                            placeholder="{{l('TypeSomethings')}}" [minLength]="1"
                                            name="referralEarnPromotion" inputStyleClass="form-control"
                                            styleClass="width-percent-100">
                                        </p-autoComplete>
                                    </div>
                                </div>
                                <div *ngIf="settings.referralEarning?.referralEarnType == ReferralEarningType.ProductOffer"
                                    class="col-md-6">
                                    <div class="form-group">
                                        <label for="referralEarnProductOffer">{{"ProductOffer" | localize}}</label>
                                        <p-autoComplete [(ngModel)]="selectedProductOffer" id="referralEarnProductOffer"
                                            [completeOnFocus]="true" [suggestions]="productOffers"
                                            (completeMethod)="getProductOffers($event)" field="name"
                                            placeholder="{{l('TypeSomethings')}}" [minLength]="1"
                                            name="referralEarnProductOffer" inputStyleClass="form-control"
                                            styleClass="width-percent-100">
                                        </p-autoComplete>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h5>{{"TermsAndConditions" | localize}}</h5>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="Content">{{"Content" | localize}}</label>
                                    <editor-tiny-mce [(ngModel)]="tContent" name="Content" [init]="{
                                    height: 500,
                                    menubar: false,
                                    toolbar: ['styleselect fontselect fontsizeselect',
                                        'undo redo | cut copy paste | bold italic | link image | alignleft aligncenter alignright alignjustify| forecolor backcolor',
                                        'bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code'],
                                    plugins : 'advlist autolink link image lists charmap print preview code'
                                    }"></editor-tiny-mce>
                                </div>
                            </div>

                        </tab>
                        <tab heading="{{ l('Connect') }}" *ngIf="isConnectEnabled" customClass="kt-tabs__item"
                            class="p-5">
                            <h5 class="mb-3">{{l("Schedules")}}</h5>
                            <div class="row m-form">
                                <div class="col-md-5 d-flex flex-row align-items-center">
                                    <div class="form-group mr-5">
                                        <label for="scStartTime">{{ l('StartTime') }}</label>
                                        <timepicker [(ngModel)]="scStartTime" [max]="scEndTime" [showMeridian]="false"
                                            name="scEndTime"> </timepicker>
                                    </div>
                                    <div class="form-group">
                                        <label for="scEndTime">{{ l('EndTime') }}</label>
                                        <timepicker [(ngModel)]="scEndTime" [min]="scStartTime" [showMeridian]="false"
                                            name="scEndTime"> </timepicker>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>{{ l('Name') }}</label>
                                        <input class="form-control" type="text" name="scheduleName" [(ngModel)]="scname"
                                            (ngModelChange)="scname = scname?.toUpperCase()" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" (click)="addSchedule()">
                                        {{ l('Add') }}
                                    </button>
                                </div>
                            </div>

                            <div class="row margin-top-20">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px">{{ l('Name') }}*</th>
                                                <th style="width: 200px">{{ 'StartHour' }}*</th>
                                                <th style="width: 200px">{{ l('StartMinute') }}*</th>
                                                <th style="width: 200px">{{ l('EndHour') }}*</th>
                                                <th style="width: 200px">{{ l('EndMinute') }}*</th>
                                                <th style="width: 200px"></th>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let schedule of schedules; let index = index">
                                            <td style="width: 200px">
                                                <label>{{ schedule.name }}</label>
                                            </td>
                                            <td style="width: 200px">
                                                <label>{{ schedule.startHour | number: '2.0' }}</label>
                                            </td>
                                            <td style="width: 200px">
                                                <label>{{ schedule.startMinute | number: '2.0' }}</label>
                                            </td>
                                            <td style="width: 200px">
                                                <label>{{ schedule.endHour | number: '2.0' }}</label>
                                            </td>
                                            <td style="width: 200px">
                                                <label>{{ schedule.endMinute | number: '2.0' }}</label>
                                            </td>

                                            <td style="width: 200px">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="removeSchedule(index)">
                                                    {{ l('Delete') }}
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="weekDay">{{ l('Week Days') }}</label>
                                        <ng-select [multiple]="true" [(ngModel)]="weekDay" name="weekDay">
                                            <ng-option *ngFor="let item of refdays" [value]="item.value">
                                                {{item.displayText}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="weekDay">{{ l('Week End') }}</label>
                                        <ng-select [multiple]="true" [(ngModel)]="weekEnd" name="weekDay">
                                            <ng-option *ngFor="let item of refdays" [value]="item.value">
                                                {{item.displayText}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-t20">
                                <div class="col-md-62">
                                    <button type="button" class="btn btn-primary" (click)="syncConnect()">
                                        {{ l('SyncConnect') }}
                                    </button>
                                </div>
                            </div>
                        </tab>

                        <tab heading="{{ l('Social Login') }}" customClass="kt-tabs__item" class="p-5" tabindex="8">
                            <h5 class="mb-3">{{l("Facebook")}}</h5>
                            <div class="row m-form">
                                <div class="col-md-12 align-items-center">

                                    <div class="form-group">
                                        <label>{{ l('AppId') }}</label>
                                        <input class="form-control" type="text" name="Setting_Facebook_AppId"
                                            [(ngModel)]="settings.externalLoginProviderSettings.facebook.appId" />
                                    </div>
                                    <div class="form-group">
                                        <label>{{ l('AppSecret') }}</label>
                                        <input class="form-control" type="text" name="Setting_Facebook_appSecret"
                                            [(ngModel)]="settings.externalLoginProviderSettings.facebook.appSecret" />
                                    </div>
                                </div>
                            </div>
                            <h5 class="mb-3">{{l("Google")}}</h5>
                            <div class="row m-form">
                                <div class="col-md-12 align-items-center">

                                    <div class="form-group">
                                        <label>{{ l('ClientId') }}</label>
                                        <input class="form-control" type="text" name="Setting_Google_ClientId"
                                            [(ngModel)]="settings.externalLoginProviderSettings.google.clientId" />
                                    </div>
                                    <div class="form-group">
                                        <label>{{ l('ClientSecret') }}</label>
                                        <input class="form-control" type="text" name="Setting_Google_ClientSecret"
                                            [(ngModel)]="settings.externalLoginProviderSettings.google.clientSecret" />
                                    </div>
                                    <div class="form-group">
                                        <label>{{ l('UserInfoEndpoint') }}</label>
                                        <input class="form-control" type="text" name="Setting_Google_userInfoEndpoint"
                                            [(ngModel)]="settings.externalLoginProviderSettings.google.userInfoEndpoint" />
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'Clique' | localize}}" *ngIf="isCliqueEnabled" class="p-5">
                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cliqueCutOffDays">{{"Cut Off Days" | localize}}</label>
                                        <input id="cliqueCutOffDays" name="cliqueCutOffDays" type="number" min="0"
                                            class="form-control" [(ngModel)]="settings.cliqueCutOffDays">
                                    </div>
                                    <label class="checkbox mb-0">
                                        <input type="checkbox" name="AddressObligatory" [(ngModel)]="settings.cliqueAddressObligatory" />
                                        {{"Address Obligatory" | localize}}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cliqueOrderCutOffTime">{{"OrderCutOffTime" | localize}}</label>
                                        <div class="input-group date">
                                            <timepicker [(ngModel)]="cliqueOrderCutOffTime"></timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
