<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'General Setings' | localize">

        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset>
                        <tab [heading]="l('General')" class="p-5">
                            <div class="row m-form">
                                <div class="col-md-6">
                                    <h5>{{"No Product Image" | localize}}</h5>
                                    <form #logoUploadForm>
                                        <div class="form-group" *ngIf="appSession.tenant.menuItemDefaultID"
                                            style="background: url(/assets/common/images/transparent_background.png); width: 50%; padding: 5px;">
                                            <a [href]="urlBase" target="_blank">
                                                <img height="38" id="menuitem" [src]="urlBase">
                                            </a>
                                        </div>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="menuItemDefaultUploader"
                                                class="col-lg-12" required />
                                            <span class="form-text text-muted col-lg-12">{{"UploadLogo_Info" |
                                                localize}}</span>
                                        </div>
                                        <button class="btn btn-primary" type="button"
                                            (click)="uploadMenuItemDefault()">{{"Upload" | localize}}</button>
                                        <button class="btn btn-secondary" type="button"
                                            (click)="clearMenuItemDefault()">{{"Clear" | localize}}</button>
                                    </form>
                                </div>
                                <div class="col-md-6">

                                    <h5>{{"Standard Menu Item Image Size" | localize}}</h5>
                                    <form #settingImgSize>
                                        <div class="form-group">
                                            <div class="row form-group">
                                                <label class="col-lg-2">Width *</label>
                                                <input min="0" required type="number" [(ngModel)]="orderSetting.width"
                                                    class="form-control col-lg-6" name="width" #name="ngModel" />
                                                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                                    class="row col-lg-12 alert" for="width">
                                                    <div *ngIf="name.errors?.required" class="offset-2 text-danger">
                                                        Width is required.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <label class="col-lg-2">Height *</label>
                                                <input min="0" required type="number" [(ngModel)]="orderSetting.height"
                                                    class="form-control col-lg-6" name="height" #nameHeight="ngModel" />
                                                <div *ngIf="nameHeight.invalid && (nameHeight.dirty || nameHeight.touched)"
                                                    class="row col-lg-12 alert" for="height">
                                                    <div *ngIf="nameHeight.errors?.required"
                                                        class="offset-2 text-danger">
                                                        Height is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" (click)="saveImgSize()" class="btn btn-primary blue"
                                            [disabled]="saveImgForm">
                                            <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </tab>
                        <tab [heading]="l('Delivery Setting')" class="p-5">
                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group align-items-center row">
                                        <div class="checkbox-inline col-xl-6">
                                            <label class="checkbox">
                                                <input id="accepted" type="checkbox" name="accepted"
                                                    [(ngModel)]="orderSetting.accepted">
                                                {{"Auto Accept delivery" | localize}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group align-items-center row">
                                        <div class="checkbox-inline col-xl-6">
                                            <label class="checkbox">
                                                <input id="autoCallDevelir" type="checkbox" name="autoCallDevelir"
                                                    [(ngModel)]="orderSetting.autoRequestDeliver">
                                                {{"Auto Request delivery" | localize}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" (click)="saveSetting()" class="btn btn-primary blue"
                                    [disabled]="saveImgForm">
                                    <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                                </button>
                            </div>

                        </tab>

                        <tab [heading]="l('Menu Setting')" class="p-5">
                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group align-items-center row">
                                        <div class="checkbox-inline col-xl-6">
                                            <label class="checkbox">
                                                <input id="askTheMobileNumberFirst" type="checkbox"
                                                    name="askTheMobileNumberFirst"
                                                    [(ngModel)]="orderSetting.askTheMobileNumberFirst">
                                                {{"Ask the mobile number first" | localize}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" (click)="saveSetting()" class="btn btn-primary blue"
                                    [disabled]="saveImgForm">
                                    <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                                </button>
                            </div>
                        </tab>
                        <tab [heading]="l('Sign Up Setting')" class="p-5">
                            <div class="row m-form">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group align-items-center row">
                                        <div class="checkbox-inline col-xl-6">
                                            <label class="checkbox">
                                                <input id="signupsetting" type="checkbox" name="signupsetting"
                                                    [(ngModel)]="orderSetting.signUp">
                                                {{l('Sign Up Mandatory')}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" (click)="saveSetting()" class="btn btn-primary blue"
                                    [disabled]="saveImgForm">
                                    <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                                </button>
                            </div>
                        </tab>
                        <tab [heading]="l('ShippingProvider')" class="p-5">
                            <app-shipping-provider-setting></app-shipping-provider-setting>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
