<!-- privacy-policy -->
<section class="privacy pad-200">
    <div class="container">
        <article>
            <h2>Privacy Policy</h2>
            <div class="privacy-basic">
                <p>
                    Thank you for visiting Stack Canteen! This website is owned
                    and run by Stack Canteen Pte Ltd, we can be contacted using
                    the information below :
                </p>
                <p>
                    100 Syed Alwi Road <br />
                    #01-01 Singapore 207676 <br />
                    Tel: <a href="tel:62974881">62974881</a> | Fax: 62914889 |
                    Email:
                    <a href="mailto:sales@dabbajunction.com"
                        >sales@dabbajunction.com</a
                    >
                </p>
                <p>
                    As part of the operations, this website collects certain
                    information, and this privacy policy details <br />
                    what information is collected, and the steps we take to
                    protect your privacy.
                </p>
            </div>
            <div class="privacy-content">
                <div class="privacy-content-block">
                    <h3>What information do we collect?</h3>
                    <p>
                        We collect information from you when you register on our
                        site or place an order. When ordering or registering on
                        our site, you will be asked to enter your: name, e-mail
                        address, delivery address and phone number. You may,
                        however, visit our site anonymously.
                    </p>
                    <h3>What do we use your information for?</h3>
                    <p>
                        Any of the information we collect from you may be used
                        in one of the following ways:
                    </p>
                    <ol>
                        <li>
                            To personalize your experience (your information
                            helps us to better respond to your individual needs)
                        </li>
                        <li>
                            To improve our website (we continually strive to
                            improve our website offerings based on the
                            information and feedback we receive from you)
                        </li>
                        <li>
                            To improve customer service (your information helps
                            us to more effectively respond to Your customer
                            service requests and support needs)
                        </li>
                        <li>
                            To process orders and transactions
                        </li>
                        <li>
                            To administer a contest, promotion, survey or other
                            site feature
                        </li>
                    </ol>
                    <h3>How do we protect your information?</h3>
                    <p>
                        Your information, whether public or private, will not be
                        sold, exchanged, transferred, or given to any other
                        company for any reason whatsoever, without your consent,
                        other than for the express purpose of delivering the
                        purchased product or service requested. <br />
                        Your information in our database, is only accessed by
                        those authorized with special access rights to our
                        systems, and are required to keep the information
                        confidential. <br />
                        Your credit card numbers and security code will not be
                        stored on our servers.
                    </p>
                    <h3>Usage of cookies</h3>
                    <p>
                        Cookies are small files that a site or its service
                        provider transfers to your computers hard drive through
                        your Web browser (if you allow) that enables the sites
                        or service providers systems to recognize your browser
                        and capture and remember certain information.
                    </p>
                    <p>
                        We use cookies to help us remember and process the items
                        in your shopping cart, keep track of advertisements and
                        compile aggregate data about site traffic and site
                        interaction so that we can offer better site experiences
                        and tools in the future.
                    </p>
                    <p>
                        If you prefer, you can choose to have your computer warn
                        you each time a cookie is being sent, or you can choose
                        to turn off all cookies via your browser settings. But
                        if you turn your cookies off, our services will not
                        function properly. However, you can still place orders
                        over the telephone.
                    </p>
                    <h3>Do we disclose any information to outside parties?</h3>
                    <p>
                        We do not sell, trade, or otherwise transfer to outside
                        parties your personally identifiable information. This
                        does not include trusted third parties who assist us in
                        operating our website, conducting our business, or
                        servicing you, so long as those parties agree to keep
                        this information confidential. We may also release your
                        information when we believe release is appropriate to
                        comply with the law, enforce our site policies, or
                        protect ours or others rights, property, or safety.
                        However, non-personally identifiable visitor information
                        may be provided to other parties for marketing,
                        advertising, or other uses.
                    </p>
                    <h3>Third party links</h3>
                    <p>
                        Occasionally, at our discretion, we may include or offer
                        third party products or services on our website. These
                        third party sites have separate and independent privacy
                        policies. We therefore have no responsibility or
                        liability for the content and activities of these linked
                        sites. Nonetheless, we seek to protect the integrity of
                        our site and welcome any feedback about these sites.
                    </p>
                    <h3>Online Privacy Policy Only</h3>
                    <p>
                        This online privacy policy applies only to information
                        collected through our website and not to information
                        collected offline.
                    </p>
                    <p>
                        Terms and Conditions Please also visit our Terms and
                        Conditions section establishing the use, disclaimers,
                        and limitations of liability governing the use of our
                        website.
                    </p>
                    <h3 class="text-center">ACCEPTANCE</h3>
                    <p class="text-center">
                        BY USING THIS SITE, YOU CONSENT AND AGREE TO OUR PRIVACY
                        POLICY AND TERMS AND CONDITIONS.
                        <br />
                        This policy is last revised on 15 th May 2020
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- privacy-policy end -->
