<div
    appBsModal
    #delAggLanguageModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="delAggLanguageModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #delAggLanguageCreateOrEditForm="ngForm" novalidate class="form form-label-right">
                <div class="modal-header">
                    <h4 class="modal-title" style="color: red">
                        <span *ngIf="delAggLanguage.id">
                            {{ l('Edit') + ' ' + l('DelAggLanguages') }}: {{ delAggLanguage.language }}
                        </span>
                        <span *ngIf="!delAggLanguage.id">
                            {{ l('Create') + '' + l('DelAggLanguages') }}
                        </span>
                    </h4>
                    <h4 class="modal-title" style="color: black; font-size: large">
                        <span> {{ id }} - {{ language }} </span>
                    </h4>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                        (click)="close()"
                    ></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ l('Language') }} {{ l('Name') }}</label>
                                <p-dropdown
                                    [options]="reflanguageCode"
                                    [ngModel]="{ id: delAggLanguage.language }"
                                    (ngModelChange)="delAggLanguage.language = $event.id"
                                    name="locationGroup"
                                    styleClass="w-100"
                                    [placeholder]="l('Language')"
                                    [filter]="true"
                                    optionLabel="displayName"
                                    dataKey="id"
                                    [showClear]="true"
                                    [required]="true"
                                    [disabled]="!!delAggLanguage.id"
                                >
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{ l('Value') }}*</label>
                                <input
                                    type="text"
                                    [(ngModel)]="delAggLanguage.languageValue"
                                    name="languageValue"
                                    class="form-control text-uppercase"
                                    maxlength="100"
                                    required
                                />
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-end">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary btn-sm" (click)="close()">
                            {{ l('Close') }}
                        </button>
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary btn-sm" (click)="clear()">
                            {{ l('Clear') }}
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary btn-sm"
                            [disabled]="delAggLanguageCreateOrEditForm.invalid"
                            (click)="save(1)"
                        >
                            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary btn-sm"
                            [disabled]="delAggLanguageCreateOrEditForm.invalid"
                            (click)="save(2)"
                        >
                            <i class="fa fa-save"></i> <span>{{ l('SaveAndClose') }}</span>
                        </button>
                    </div>

                    <div class="portlet light mt-5">
                        <div class="portlet-title portlet-title-filter">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form (submit)="search()">
                                        <div class="input-group">
                                            <input
                                                [(ngModel)]="filterText"
                                                name="filterText"
                                                class="form-control"
                                                placeholder=""
                                                type="text"
                                            />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div [busyIf]="loading">
                                <app-dynamic-table #dtable></app-dynamic-table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
