<div class="row">
    <div *ngFor="let item of listItems" class="col-12 col-md-6 col-lg-4">
        <div [style.background-image]="'url(' + item.imageUrl + ')'" class="choosen-item-container mt-2 mb-2 d-flex align-items-center p-shadow-4" style="height: 160px;">
            <div class="d-flex flex-grow-1 justify-content-between align-items-end p-2 h-100 p-3">
                <div class="choosen-infor flex-grow-1 text-left">
                    <p class="m-0">{{item.extraText}}</p>
                    <p class="name m-0"><strong>{{item.name}}</strong></p>
                </div>
                <button class="align-self-end circle-btn border-none outline-none" pButton pRipple icon="pi pi-arrow-right" (click)="onSelectItem(item.id)"></button>
            </div>
        </div>
    </div>
</div>