@import "../../../../../assets/scss/mixins";
:host::ng-deep {
    .choosen-item-container {
        //border-radius: 10px;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .choosen-infor {
            color: var(--white-1);
            .name {
                font-size: 2rem;
            }
        }
    }
    .circle-btn {
        display: flex;
        flex-shrink: 0;
        @include circle-btn(45px, var(--black-1), var(--yellow-1), unset);
        .p-button-icon {
            font-size: 1rem;
            color: var(--black-1);
        }
    }
}
