::ng-deep {
    body .ui-panel .ui-panel-titlebar {
        color: #327ad5;
        background-color: #e0ebf9;
        border-color: #e0ebf9;
    }

    p-table.custom-table p-paginator {
        display: none;
    }
}

.portlet {
    display: flex;
    flex-direction: column;
    padding: 12px 20px 15px 20px;
}

.portlet > .portlet-title > .caption {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
    font-weight: bold;
}

.portlet.light > .portlet-title {
    padding: 0;
    min-height: 48px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.portlet.light > .portlet-title > .actions {
    padding: 6px 0 14px 0;
}

.portlet-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portlet.light .portlet-body {
    padding-top: 8px;
    clear: both;
}
