<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="!ticketTypeConfiguration.id ? l('CreateTicketType') : l('EditTicketType') + ': ' + ticketTypeConfiguration.name">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #ticketTypeConfigurationForm="ngForm" novalidate class="form ticketType-form"
                        (ngSubmit)="save()">
                        <tabset class="tab-container tabbable-line">
                            <tab [active]="selectedTab == TAB.TICKET_TYPE" heading="{{ l('TicketType') }}"
                                customClass="kt-tabs__item" [tabindex]="TAB.TICKET_TYPE" class="py-5"
                                (selectTab)="onChangeTab(TAB.TICKET_TYPE)">
                                <div class="form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">{{ 'Name' }}</label>
                                                <input class="form-control" type="text" name="Name" #name="ngModel"
                                                    [(ngModel)]="ticketTypeConfiguration.name" required />
                                                <validation-messages [formCtrl]="name"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="ticketTypeConfiguration.id">
                                    <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span class="caption-subject bold uppercase">
                                                    {{ l('TicketType') }}
                                                </span>
                                            </div>
                                            <div class="actions pull-right">
                                                <a (click)="clearFilterLocation()" class="btn btn-circle btn-default">
                                                    <i class="la la-crop"></i> {{ l('Clear') }}
                                                </a>
                                                <a (click)="openFilterLocation()" class="btn btn-circle btn-default">
                                                    <i class="fa fa-search"></i> {{ l('Filter') }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row align-items-center">
                                                <!--<Primeng-Datatable-Start>-->
                                                <div class="primeng-datatable-container col-12"
                                                    [busyIf]="primengTableHelper.isLoading">
                                                    <p-table #dataTable class="custom-table"
                                                        [value]="primengTableHelper.records" [(rows)]="paging.rows"
                                                        [paginator]="true" [(first)]="paging.first"
                                                        [showCurrentPageReport]="true" [scrollable]="true"
                                                        (sortFunction)="primengTableHelper.customSort($event)"
                                                        [customSort]="true" ScrollWidth="100%"
                                                        [responsive]="primengTableHelper.isResponsive"
                                                        [resizableColumns]="primengTableHelper.resizableColumns">
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th>
                                                                    {{ l('Operations') }}
                                                                </th>
                                                                <th pSortableColumn="ticketNumeratorName">
                                                                    {{ l('TicketNumerator') }}
                                                                    <p-sortIcon field="ticketNumeratorName">
                                                                    </p-sortIcon>
                                                                </th>
                                                                <th pSortableColumn="orderNumeratorName">
                                                                    {{ l('OrderNumerator') }}
                                                                    <p-sortIcon field="orderNumeratorName"></p-sortIcon>
                                                                </th>
                                                                <th pSortableColumn="saleTransactionTypeName">
                                                                    {{ l('SaleTransactionType') }}
                                                                    <p-sortIcon field="saleTransactionTypeName">
                                                                    </p-sortIcon>
                                                                </th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-record="$implicit">
                                                            <tr>
                                                                <td>
                                                                    <span class="ui-column-title"> {{ l('Operations')
                                                                        }}</span>
                                                                    <div class="ui-grid-cell-contents text-center">
                                                                        <button type="button"
                                                                            (click)="removePortion(record)"
                                                                            class="btn btn-default btn-icon btn-sm">
                                                                            <i class="fa fa-trash"></i>
                                                                        </button>
                                                                        <button type="button"
                                                                            (click)="editPortion(record)"
                                                                            class="btn btn-default btn-icon btn-sm">
                                                                            <i class="fa fa-edit"></i>
                                                                        </button>
                                                                        <button type="button"
                                                                            (click)="viewPortion(record)"
                                                                            class="btn btn-default btn-icon btn-sm">
                                                                            <i class="fa fa-eye"></i>
                                                                        </button>
                                                                        <button type="button"
                                                                            (click)="clonePortion(record)"
                                                                            class="btn btn-default btn-icon btn-sm">
                                                                            <i class="fa fa-clone"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <span class="ui-column-title"> {{
                                                                        l('TicketNumerator') }}</span>
                                                                    {{ record.ticketNumeratorName }}
                                                                </td>
                                                                <td>
                                                                    <span class="ui-column-title"> {{
                                                                        l('OrderNumerator') }}</span>
                                                                    {{ record.orderNumeratorName }}
                                                                </td>
                                                                <td>
                                                                    <span class="ui-column-title"> {{
                                                                        l('SaleTransactionType') }}</span>
                                                                    {{ record.saleTransactionTypeName }}
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <div class="primeng-no-data"
                                                        *ngIf="primengTableHelper.totalRecordsCount == 0">
                                                        {{ l('NoData') }}
                                                    </div>
                                                    <div class="primeng-paging-container">
                                                        <p-paginator #paginator [rows]="paging.rows"
                                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                                            (onPageChange)="onChangePage($event)">
                                                        </p-paginator>
                                                        <span class="total-records-count">
                                                            {{ l('TotalRecordsCount',
                                                            primengTableHelper.totalRecordsCount) }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <!--<Primeng-Datatable-End>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab *ngIf="ticketTypeConfiguration.id" heading="{{ l('Mapping') }}"
                                [active]="selectedTab == TAB.MAP" customClass="kt-tabs__item" [tabindex]="TAB.MAP"
                                class="py-5" (selectTab)="onChangeTab(TAB.MAP)">
                                <p-panel [header]="l('TicketTypeBasedOnLocations')" [toggleable]="true">
                                    <form #ticketTypeForm="ngForm" novalidate class="form">
                                        <div class="panel-body py-5">
                                            <div class="row">
                                                <div class="col-md-4 text-center mt-8">
                                                    <button type="button" (click)="openLocation()"
                                                        class="btn btn-outline-success">
                                                        <span>{{l("SelectLocation")}}</span>
                                                    </button>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">{{ l('PosMenu') }} * </label>
                                                        <select required [(ngModel)]="ticketType.screenMenuId"
                                                            #screenMenu="ngModel" class="custom-select"
                                                            name="screenMenu" id="screenMenu">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of screenMenus"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="screenMenu">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">{{ l('SaleTransactionType') }} * </label>
                                                        <select required [(ngModel)]="ticketType.saleTransactionType_Id"
                                                            #saleTransactionType="ngModel" class="custom-select"
                                                            name="saleTransactionType" id="saleTransactionType">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of transactionTypes"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="saleTransactionType">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">{{ l('TicketNumerator') }} *
                                                        </label>
                                                        <select required [(ngModel)]="ticketType.ticketNumeratorId"
                                                            #ticketNumeratorBox="ngModel" class="custom-select"
                                                            name="TicketNumeratorBox" id="TicketNumeratorBox">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of numerators"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="ticketNumeratorBox">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">{{ l('InvoiceNumerator') }} *
                                                        </label>
                                                        <select required
                                                            [(ngModel)]="ticketType.ticketInvoiceNumeratorId"
                                                            id="InvoiceNumeratorBox" class="custom-select"
                                                            data_live_search="true" name="InvoiceNumerator"
                                                            #invoiceNumerator="ngModel">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of numerators"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="invoiceNumerator">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">{{ l('OrderNumerator') }} *
                                                        </label>
                                                        <select required id="OrderNumeratorBox" class="custom-select"
                                                            data_live_search="true" name="OrderNumerator"
                                                            #orderNumerator="ngModel"
                                                            [(ngModel)]="ticketType.orderNumeratorId">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of numerators"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="orderNumerator">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">{{ l('PromotionNumerator')
                                                            }}</label>
                                                        <select id="PromotionNumeratorBox" class="custom-select"
                                                            data_live_search="true" name="PromotionNumerator"
                                                            [(ngModel)]="ticketType.promotionNumeratorId"
                                                            #promotionNumerator="ngModel">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of numerators"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="promotionNumerator">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">{{ l('FullTaxNumerator') }}</label>
                                                        <select id="FullTaxNumeratorBox" class="custom-select"
                                                            data_live_search="true" name="FullTaxNumerator"
                                                            #fullTaxNumerator="ngModel"
                                                            [(ngModel)]="ticketType.fullTaxNumeratorId">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of numerators"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="fullTaxNumerator">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">{{ l('QueueNumerator') }}</label>
                                                        <select id="QueueNumeratorBox" class="custom-select"
                                                            data_live_search="true" name="QueueNumerator"
                                                            [(ngModel)]="ticketType.queueNumeratorId"
                                                            #queueNumerator="ngModel">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of numerators"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="queueNumerator">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">{{ l('Return') }} {{ l('Numerator')
                                                            }}</label>
                                                        <select id="ReturnNumeratorBox" class="custom-select"
                                                            data_live_search="true" name="ReturnNumerator"
                                                            #returnNumerator="ngModel"
                                                            [(ngModel)]="ticketType.returnNumeratorId">
                                                            <option [ngValue]="undefined" hidden>{{ 'Select' | localize
                                                                }}</option>
                                                            <option *ngFor="let item of numerators"
                                                                [ngValue]="+item.value">{{ item.displayText }}</option>
                                                        </select>
                                                        <validation-messages [formCtrl]="returnNumerator">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox-list mt-8">
                                                            <label for="TaxIncluded" class="checkbox">
                                                                <input id="TaxIncluded" type="checkbox"
                                                                    name="taxIncluded"
                                                                    [(ngModel)]="ticketType.isTaxIncluded" />
                                                                {{ l('TaxIncluded') }}
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox-list mt-8">
                                                            <label for="PreOrder" class="checkbox">
                                                                <input id="PreOrder" type="checkbox" name="preOrder"
                                                                    [(ngModel)]="ticketType.isPreOrder" />
                                                                {{ l('PreOrder') }}
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <div class="checkbox-list mt-8">
                                                            <label for="AllowZeroPriceProducts" class="checkbox">
                                                                <input id="AllowZeroPriceProducts" type="checkbox"
                                                                    name="allowZeroPriceProducts"
                                                                    [(ngModel)]="ticketType.isAllowZeroPriceProducts" />
                                                                {{ l('AllowZeroPriceProducts') }}
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pull-right">
                                            <div class="col-lg-2">
                                                <button [disabled]="!ticketTypeForm.form.valid" type="button"
                                                    class="btn btn-primary" (click)="saveTicketType()">{{ ticketType?.id
                                                    ? l('Save') : l('Add') }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </p-panel>
                            </tab>
                        </tabset>
                        <div class="modal-footer" *ngIf="selectedTab == TAB.TICKET_TYPE">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                (click)="close()">{{ l('Cancel') }}</button>
                            <button type="submit" class="btn btn-primary blue"
                                [disabled]="!ticketTypeConfigurationForm.form.valid" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="selectLocations($event)"> </select-location-or-group>
<select-location-or-group #selectLocationOrGroupFilter (locationAdded)="selectFilterLocations($event)">
</select-location-or-group>
