<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  (onShown)="shown()" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 850px;">
      <div class="modal-header">
        <h4 class="modal-title">
          {{'EditHistories' | localize}}
        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!--<Primeng-TurboTable-Start>-->
        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
          <p-table #dataTable [value]="primengTableHelper.records" [paginator]="false" [scrollable]="true"
            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:120px">
                  {{'Date' | localize}}
                </th>
                <th style="width:120px">
                  {{'Reason' | localize}}
                </th>
                <th style="width:130px">
                  {{'OldExpiryDate' | localize}}
                </th>
                <th style="width:130px">
                  {{'NewExpiryDate' | localize}}
                </th>
                <th style="width:145px">
                  {{'OldBalanceCredit' | localize}}
                </th>
                <th style="width:150px">
                  {{'NewBalanceCredit' | localize}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit">
              <tr>
                <td style="width:120px">
                  <span class="ui-column-title">{{'Date' | localize}}</span>
                  {{record.creationTime | momentFormat:'YYYY-MM-DD'}}
                </td>
                <td style="width:120px">
                  <span class="ui-column-title">{{'Reason' | localize}}</span>
                  {{record.reason}}
                </td>
                <td style="width:130px">
                  <span class="ui-column-title">{{'OldExpiryDate' | localize}}</span>
                  {{record.oldExpiryDate | momentFormat:'YYYY-MM-DD'}}
                </td>
                <td style="width:130px">
                  <span class="ui-column-title">{{'NewExpiryDate' | localize}}</span>
                  {{record.newExpiryDate | momentFormat:'YYYY-MM-DD'}}
                </td>
                <td style="width:145px" class="text-right">
                  <span class="ui-column-title">{{'OldBalanceCredit' | localize}}</span>
                  {{record.oldBalanceCredit}}
                </td>
                <td style="width:150px" class="text-right">
                  <span class="ui-column-title">{{'NewBalanceCredit' | localize}}</span>
                  {{record.newBalanceCredit}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <!--<Primeng-TurboTable-End>-->

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">{{"Cancel" | localize}}</button>
      </div>

    </div>
  </div>
</div>