// ::ng-deep .primeng-datatable-container .ui-table table thead tr th {
//     label.ui-column-title {
//         width: calc(100% - 15px);
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//         vertical-align: middle;
//     }
// }
