<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'CustomerTransactions' | localize">
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form class="form" autocomplete="off">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <div class="form-group m-form__group">
                  <label>{{"Date" | localize}}</label>
                  <input class="form-control" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker"
                    readonly="readonly" bsDaterangepicker dateRangePickerMomentModifier [(ngModel)]="dateRange"
                    [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false}"
                    placeholder="Date Range" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group m-form__group align-items-center">
                  <label>{{"Customer" | localize}}</label>
                  <input type="text" id="Tiffin_Customer" class="form-control" readonly required
                  name="Tiffin_Customer" [(ngModel)]="customerName" (click)="selectCustomer.show()" placeholder="Customer"/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group m-form__group align-items-center">
                  <label>{{"Payment" | localize}}</label>
                  <input [(ngModel)]="paymentFilter" name="paymentFilter" class="form-control"
                    [placeholder]="l('Payment')" type="text" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group m-form__group align-items-center">
                  <label>{{"ExpiryWithinDays" | localize}}</label>
                  <input [(ngModel)]="daysExpiryFilter" name="daysExpiryFilter" class="form-control"
                    [placeholder]="l('ExpiryWithinDays')" type="text" min="0" (keypress)="returnOnlyNumber($event)" />
                </div>
              </div>
            </div>
            <div class="row mb-3">

              <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-primary" (click)="refresh()">
                  {{"Reset" | localize}}</button>
                <button (click)="getBalanceList()" class="btn btn-primary" type="submit">{{"Search" | localize}}</button>
              </div>

              
            </div>
          </form>
          <div class="row align-items-center">
            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
              <p-table #balanceTable (onLazyLoad)="getBalanceList($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 100px" pSortableColumn="CustomerName">
                      <label class="ui-column-title m-0"> {{'Customer' | localize}}</label>
                      <p-sortIcon field="CustomerName"></p-sortIcon>
                    </th>
                    <th style="width: 145px" pSortableColumn="CustomerEmail">
                      <label class="ui-column-title m-0"> {{'CustomerEmail' | localize}}</label>
                      <p-sortIcon field="CustomerEmail"></p-sortIcon>
                    </th>
                    <th style="width: 130px" pSortableColumn="TransactionTime">
                      <label class="ui-column-title m-0" [title]="l('TransactionTime')">
                        {{'TransactionTime' | localize}}</label>
                      <p-sortIcon field="TransactionTime"></p-sortIcon>
                    </th>
                    <th style="width: 120px" pSortableColumn="Description">
                      <label class="ui-column-title m-0" [title]="l('Description')">
                        {{'Description' | localize}}</label>
                      <p-sortIcon field="Description"></p-sortIcon>
                    </th>
                    <th style="width: 80px" pSortableColumn="Credit">
                      <label class="ui-column-title m-0" [title]="l('Credit')"> {{'Credit' | localize}}</label>
                      <p-sortIcon field="Credit"></p-sortIcon>
                    </th>
                    <th style="width: 80px" pSortableColumn="Debit">
                      <label class="ui-column-title m-0"> {{'Debit' | localize}}</label>
                      <p-sortIcon field="Debit"></p-sortIcon>
                    </th>
                    <th style="width: 100px" pSortableColumn="ExpiryDate">
                      <label class="ui-column-title m-0"> {{'ExpiryDate' | localize}}</label>
                      <p-sortIcon field="ExpiryDate"></p-sortIcon>
                    </th>
                    <th style="width: 100px" pSortableColumn="PaymentType">
                      <label class="ui-column-title m-0"> {{'PaymentType' | localize}}</label>
                      <p-sortIcon field="PaymentType"></p-sortIcon>
                    </th>
                    <th style="width: 100px" pSortableColumn="TransactionTypeName">
                      <label class="ui-column-title m-0"> {{'TransactionType' | localize}}</label>
                      <p-sortIcon field="TransactionTypeName"></p-sortIcon>
                    </th>
                    
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 100px">
                      {{record.customerName}}
                    </td>
                    <td style="width: 145px">
                      {{record.customerEmail}}
                    </td>
                    <td style="width: 130px">
                      {{record.transactionTime | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                    </td>
                    <td style="width: 120px">
                      {{record.description}}
                    </td>
                    <td style="width: 80px">
                      ${{record.credit | number: '1.2-2'}}
                    </td>
                    <td style="width: 80px">
                      ${{record.debit | number: '1.2-2'}}
                    </td>
                    <td style="width:100px">
                      {{record.expiryDate | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                    </td>
                    <td style="width:100px">
                      {{record.paymentType}}
                    </td>
                    <td style="width:100px">
                      {{record.transactionTypeName}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #balancePaginator
                  (onPageChange)="getBalanceList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<select-popup #selectCustomer [headers]="['Name']" [dataBinding]="['name']"
	[loadData]="getCustomerForComboBox()" (changeValue)="changeCustomer($event)" selectionMode="single" [selectedValue]="selectedCustomer"
  [title]="l('Customers')"></select-popup>
  
<editBalanceModal #editBalanceModal (modalSave)="getBalanceList()"></editBalanceModal>
<change-history-modal #historyModal></change-history-modal>