<div appBsModal #QRCodeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()"></button>
            <div class="modal-header">
                <div class="logo">
                    <img src="assets/static/img/PayNow.png" alt="Pay Now" />
                </div>
                <h4>Scan the QR code to pay</h4>
            </div>
            <div class="modal-body">
                <div class="qr-wrap">
                    <img [src]="QRcode" alt="QR Code" />
                </div>
                <div class="currency">{{ appSession.application.currency }} {{ total }}</div>
            </div>
        </div>
    </div>
</div>
