<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header *ngIf="!locationEditDto.id" [title]="l('CreateLocation')"> </sub-header>
        <sub-header *ngIf="locationEditDto.id" [title]="l('Edit') + ': ' + locationEditDto.name"> </sub-header>

        <div *ngIf="locationEditDto" [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #locationForm="ngForm" novalidate class="form" (ngSubmit)="save()">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{ l('BasicInformation') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="required-field font-weight-bolder" for="code">{{ l('Code') }}</label>
                                            <input
                                                id="code"
                                                type="code"
                                                name="code"
                                                class="w-100"
                                                inputClass="w-100"
                                                [(ngModel)]="locationEditDto.code"
                                                #locationCode="ngModel"
                                                class="form-control"
                                                required
                                            />
                                            <validation-messages [formCtrl]="locationCode"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="required-field font-weight-bolder" for="name">{{ l('Name') }}</label>
                                            <input
                                                id="name"
                                                type="text"
                                                name="name"
                                                class="form-control"
                                                [(ngModel)]="locationEditDto.name"
                                                #locationName="ngModel"
                                                required
                                            />
                                            <validation-messages [formCtrl]="locationName"></validation-messages>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="required-field font-weight-bolder" for="organizationId">{{ l('Brand') }} : &#160;</label>
                                    <select
                                        id="organizationId"
                                        class="form-control"
                                        [(ngModel)]="locationEditDto.organizationId"
                                        name="organizationId"
                                        #organizationId="ngModel"
                                        required
                                    >
                                        <option [ngValue]="undefined" hidden>
                                            {{ 'Select_Brand' | localize }}
                                        </option>
                                        <option *ngFor="let company of companyListDropDown" [value]="company.value">
                                            {{ company.label }}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="organizationId"></validation-messages>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="LocationGroup" class="font-weight-bolder">{{ l('Location Group') }}</label>
                                            <tag-input
                                                [(ngModel)]="locationEditDto.locationGroups"
                                                id="LocationGroup"
                                                name="locationGroups"
                                                class="w-100 "
                                                inputClass="w-100"
                                                secondaryPlaceholder="Enter the Location Group & press Enter key to add"
                                                displayBy="name"
                                            >
                                                <tag-input-dropdown [showDropdownIfEmpty]="true" [displayBy]="'name'"
                                                                    [autocompleteItems]="locationGroups">
                                                    <ng-template let-item="item" let-index="index">
                                                        {{ item.name }}
                                                    </ng-template>
                                                </tag-input-dropdown>
                                            </tag-input>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="LocationTag" class="font-weight-bolder">{{ l('Location Tag') }}</label>
                                            <tag-input
                                                [(ngModel)]="locationEditDto.locationTags"
                                                id="LocationTag"
                                                name="locationTags"
                                                class="w-100"
                                                inputClass="w-100"
                                                displayBy="name"
                                                secondaryPlaceholder="Enter the Location Tag & press Enter key to add"
                                            >
                                                <tag-input-dropdown [showDropdownIfEmpty]="true" [displayBy]="'name'"
                                                                    [autocompleteItems]="locationTags">
                                                    <ng-template let-item="item" let-index="index">
                                                        {{ item.name }}
                                                    </ng-template>
                                                </tag-input-dropdown>
                                            </tag-input>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Address') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address1">{{ l('Address Line 1') }}</label>
                                            <input id="address1" type="text" name="address1" class="form-control" [(ngModel)]="locationEditDto.address1" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address2">{{ l('Address Line 2') }}</label>
                                            <input id="address2" type="text" name="address2" class="form-control" [(ngModel)]="locationEditDto.address2" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address3">{{ l('Address Line 3') }}</label>
                                            <input id="address3" type="address3" name="address3" class="form-control" [(ngModel)]="locationEditDto.address3" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="country">{{ l('Country') }}</label>
                                            <select
                                                id="countryId"
                                                (change)="setCountry()"
                                                class="form-control"
                                                [(ngModel)]="locationEditDto.countryId"
                                                name="countryId"
                                                #countryId="ngModel"
                                            >
                                                <option [ngValue]="undefined">
                                                    {{ 'Select_Country' | localize }}
                                                </option>
                                                <option *ngFor="let country of countryListDropDown" [value]="country.value">
                                                    {{ country.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="state">{{ l('State') }}</label>
                                            <select
                                                id="stateId"
                                                class="form-control"
                                                [(ngModel)]="locationEditDto.stateId"
                                                name="stateId"
                                                #stateId="ngModel"
                                                (change)="setState()"
                                            >
                                                <option [ngValue]="undefined">
                                                    {{ 'Select_State' | localize }}
                                                </option>
                                                <option *ngFor="let state of stateListDropDown" [value]="state.value">
                                                    {{ state.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cityId">{{ l('City') }}</label>
                                            <select id="cityId" class="form-control" [(ngModel)]="locationEditDto.cityId" name="cityId" #cityId="ngModel">
                                                <option [ngValue]="undefined">
                                                    {{ 'Select_City' | localize }}
                                                </option>
                                                <option *ngFor="let city of cityListDropDown" [value]="city.value">
                                                    {{ city.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="postalCode">{{ l('Postal Code') }}</label>
                                            <input
                                                id="postalCode"
                                                type="text"
                                                name="postalCode"
                                                class="form-control"
                                                [(ngModel)]="locationEditDto.postalCode"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Contact') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phoneNumber">{{ l('Phone Number') }}</label>
                                            <input
                                                id="phoneNumber"
                                                type="text"
                                                name="phoneNumber"
                                                class="form-control"
                                                [(ngModel)]="locationEditDto.phoneNumber"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fax">{{ l('Fax Number') }}</label>
                                            <input id="fax" type="text" name="fax" class="form-control" [(ngModel)]="locationEditDto.fax" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">{{ l('Email') }}</label>
                                            <input id="email" type="email" name="email" class="form-control" [(ngModel)]="locationEditDto.email" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="website">{{ l('Web Site') }}</label>
                                            <input id="website" type="code" name="website" class="form-control" [(ngModel)]="locationEditDto.website" />
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Schedules') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row align-items-center">
                                    <div class="col-md-5 d-flex flex-row align-items-center">
                                        <div class="form-group mr-5">
                                            <label for="scStartTime">{{ l('StartTime') }}</label>
                                            <timepicker [(ngModel)]="scStartTime" [max]="scEndTime" [showMeridian]="false" name="scEndTime"> </timepicker>
                                        </div>
                                        <div class="form-group">
                                            <label for="scEndTime">{{ l('EndTime') }}</label>
                                            <timepicker [(ngModel)]="scEndTime" [min]="scStartTime" [showMeridian]="false" name="scEndTime"> </timepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>{{ l('Name') }}</label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                name="scheduleName"
                                                [(ngModel)]="scname"
                                                (ngModelChange)="scname = scname?.toUpperCase()"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-primary" (click)="addSchedule()">
                                            {{ l('Add') }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row margin-top-20">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width: 200px">{{ l('Name') }}*</th>
                                                    <th style="width: 200px">{{ 'StartHour' }}*</th>
                                                    <th style="width: 200px">{{ l('StartMinute') }}*</th>
                                                    <th style="width: 200px">{{ l('EndHour') }}*</th>
                                                    <th style="width: 200px">{{ l('EndMinute') }}*</th>
                                                    <th style="width: 200px"></th>
                                                </tr>
                                            </thead>

                                            <tr *ngFor="let schedule of locationEditDto.schedules; let index = index">
                                                <td style="width: 200px">
                                                    <label>{{ schedule.name }}</label>
                                                </td>
                                                <td style="width: 200px">
                                                    <label>{{ schedule.startHour }}</label>
                                                </td>
                                                <td style="width: 200px">
                                                    <label>{{ schedule.startMinute }}</label>
                                                </td>
                                                <td style="width: 200px">
                                                    <label>{{ schedule.endHour }}</label>
                                                </td>
                                                <td style="width: 200px">
                                                    <label>{{ schedule.endMinute }}</label>
                                                </td>

                                                <td style="width: 200px">
                                                    <button type="button" class="btn btn-primary" (click)="removeSchedule(index)">
                                                        {{ l('Delete') }}
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('ExtendedBusinessHours') }}</label>
                                            <!-- TODO: Add [(ngModel)]="locationEditDto.extendedBusinessHours" -->
                                            <input class="form-control" type="number" name="extendedBusinessHours" />
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Tax Settings') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="changeTax" class="checkbox mr-2">
                                            <input [(ngModel)]="locationEditDto.changeTax" id="changeTax" name="changeTax" type="checkbox" />
                                            {{ l('Change') }} {{ l('Tax') }}
                                            <span></span>
                                        </label>
                                    </div>

                                    <div *ngIf="locationEditDto.changeTax" class="col-md-6">
                                        <label for="taxInclusive" class="checkbox mr-2">
                                            <input [(ngModel)]="locationEditDto.taxInclusive" id="taxInclusive" name="taxInclusive" type="checkbox" />
                                            {{ l('TaxInclusive') }}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Addon') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ 'AddOn' }}</label>
                                            <input class="form-control" [(ngModel)]="locationEditDto.addOn" name="addon" />
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Receipt') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Header') }}</label>
                                            <textarea class="form-control" rows="4" name="receiptHeader" [(ngModel)]="locationEditDto.receiptHeader"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Footer') }}</label>
                                            <textarea class="form-control" rows="4" name="receiptFooter" [(ngModel)]="locationEditDto.receiptFooter"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Branch') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Code') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.code" [(ngModel)]="locationBranch.code" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Name') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.name" [(ngModel)]="locationBranch.name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Address1') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.address1" [(ngModel)]="locationBranch.address1" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Address2') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.address2" [(ngModel)]="locationBranch.address2" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Address3') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.address3" [(ngModel)]="locationBranch.address3" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('District') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.district" [(ngModel)]="locationBranch.district" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="country">{{ l('Country') }}</label>
                                            <select
                                                (change)="setBrandCountry()"
                                                class="form-control"
                                                [(ngModel)]="locationBranch.country"
                                                name="locationBranch.country"
                                            >
                                                <option [ngValue]="undefined" hidden>
                                                    {{ 'Select_Country' | localize }}
                                                </option>
                                                <option *ngFor="let country of countryListDropDown" [value]="country.value">
                                                    {{ country.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="state">{{ l('State') }}</label>
                                            <select
                                                class="form-control"
                                                [(ngModel)]="locationBranch.state"
                                                name="locationBranch.state"
                                                (change)="setBrandState()"
                                            >
                                                <option [ngValue]="undefined" hidden>
                                                    {{ 'Select_State' | localize }}
                                                </option>
                                                <option *ngFor="let state of stateListDropDown" [value]="state.value">
                                                    {{ state.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div> -->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Country') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.country" [(ngModel)]="locationBranch.country" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('State') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.state" [(ngModel)]="locationBranch.state" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cityId">{{ l('City') }}</label>
                                            <select class="form-control" [(ngModel)]="locationBranch.city" name="locationBranch.city">
                                                <option [ngValue]="undefined" hidden>
                                                    {{ 'Select_City' | localize }}
                                                </option>
                                                <option *ngFor="let city of cityListDropDown" [value]="city.value">
                                                    {{ city.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('City') }}</label>
                                            <input class="form-control" type="text" id="city" name="locationBranch.city" [(ngModel)]="locationBranch.city" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('PostalCode') }}</label>
                                            <input class="form-control" type="text" name="locationBranch.postalCode" [(ngModel)]="locationBranch.postalCode" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('PhoneNumber') }}</label>
                                            <input
                                                class="form-control"
                                                type="number"
                                                name="locationBranch.phonenumber1"
                                                [(ngModel)]="locationBranch.phoneNumber"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('FaxNumber') }}</label>
                                            <input class="form-control" type="number" name="locationBranch.faxnumber" [(ngModel)]="locationBranch.fax" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Email') }}</label>
                                            <input class="form-control" type="email" name="locationBranch.email" [(ngModel)]="locationBranch.email" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('WebSite') }}</label>
                                            <input class="form-control" type="url" name="locationBranch.website" [(ngModel)]="locationBranch.website" />
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <div class="modal-footer">
                                <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                                <button
                                    class="btn btn-primary blue"
                                    type="submit"
                                    [buttonBusy]="saving"
                                    [disabled]="!locationForm.form.valid"
                                    [busyText]="l('SavingWithThreeDot')"
                                >
                                    <span>{{ l('Save') }}</span>
                                </button>
                            </div>
                        </tabset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
