@import 'assets/common/styles/dine-connect-customize.scss';

::ng-deep {
    .ng-select-custom .ng-value .ng-value-label .ng-value-expand {
        display: none;
    }

    .w-100 .ng2-tag-input .ng2-tags-container tag-input-form  {
        width: 100%;
    }
}

.required-field:after {
    content:" *";
    color: red;
  }
