<div class="card top-up-wallet">
    <div class="panel-heading">
        <div class="text-header">
            <span class="panel-title">Top Up Wallet</span>
        </div>
    </div>
    <div class="card-body">
        <div class="button-price">
            <button *ngFor="let item of itemPrices" (click)="selectPrice(item)" [ngClass]="item.isSelected ? 'price-active' : ''">
                {{item.price}}
            </button>
        </div>
        <div class="text-header">
            <span class="panel-title">Top Up Method</span>
        </div>

        <div class="row payment-option" [hidden]="!omiseConfig?.publishKey">
            <div class="col-md-12">
                <p-radioButton
                    name="paymentMethod"
                    [value]="PAYMENT_METHOD.Omise"
                    [label]="omiseData.label"
                    [(ngModel)]="paymentMethod"
                    inputId="opt2"
                    (onClick)="choosepaymentMethod()"
                >
                </p-radioButton>
                <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Omise">
                    <div class="mt-3" *ngIf="serviceFees?.length > 0">
                        <span *ngFor="let item of serviceFees; let index = index"
                            >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                            <span *ngIf="index < serviceFees?.length - 1">, </span>
                        </span>
                        <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                    </div>
                    <div class="d-flex flex-row">
                        <button type="button" [disabled]="!isSelecteValue" class="btn btn-primary mt-3 mr-3 btn-omise" id="checkoutButton">
                            {{ 'PayWithOmise' | localize }}
                        </button>

                        <button [hidden]="!omiseConfig?.enablePaynowQR" type="button" class="btn btn-primary mt-3" id="payNow">
                            {{ 'Pay Now' | localize }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <mat-selection-list [multiple]="false">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="panelOpenState">
                <mat-expansion-panel-header>
                    <div class="item-sidebar">
                        <div>
                            <img src="\assets\image\bank-tranfer.png" alt="">
                        </div>
                        <div class="title-select">
                            <span class="title-big">Bank Transfer</span>
                            <span class="title-small">Select the bank you have and top up easily</span>
                        </div>
                        <mat-icon *ngIf="panelOpenState">check_circle</mat-icon>
                    </div>
                </mat-expansion-panel-header>
                <mat-list-option>
                    <div class="item-content">
                        <img src="\assets\image\visa.png" alt="">
                        <span class="sub-menu">VISA</span>
                    </div>
                </mat-list-option>

                <mat-list-option>
                    <div class="item-content">
                        <img src="\assets\image\mastercard.png" alt="">
                        <span class="sub-menu">Mastercard</span>
                    </div>
                </mat-list-option>

            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" [expanded]="panelOpenState2">
                <mat-expansion-panel-header>
                    <div class="item-sidebar">
                        <div>
                            <img src="\assets\image\transaction_payment.png" alt="">
                        </div>
                        <div class="title-select">
                            <span class="title-big">Debit Card</span>
                            <span class="title-small">Choose the credit card you have and top up easily</span>
                        </div>
                        <mat-icon *ngIf="panelOpenState2">check_circle</mat-icon>
                    </div>
                </mat-expansion-panel-header>
                <mat-list-option>
                    <div class="item-content">
                        <img src="\assets\image\visa.png" alt="" class="image-1">
                        <span class="sub-menu">VISA</span>
                    </div>
                </mat-list-option>

                <mat-list-option>
                    <div class="item-content">
                        <img src="\assets\image\mastercard.png" alt="">
                        <span class="sub-menu">Mastercard</span>
                    </div>
                </mat-list-option>
            </mat-expansion-panel>
        </mat-selection-list> -->

        <!-- <div class="button-bottom">
            <button (click)="guiTopUp()">
                Confirmation
            </button>
        </div> -->
    </div>
</div>