.top-up-wallet {
    .panel-heading {
        background-image: url(../../../../../../assets/image/banner-settings.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid #ededed;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .text-header {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;
            margin-left: 24px;
            .panel-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #22232f;
            }
        }
    }
    .card-body {
        display: flex;
        flex-direction: column;
        .button-price {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 12px;
            width: 100%;
            .price-active {
                background: #488bf0;
                color: #ffffff;
            }
            button {
                min-width: 73px;
                height: 40px;
                border: 1px solid #488bf0;
                border-radius: 8px;
                background-color: #fff;
                font-weight: 400;
                font-size: 14px;
                color: #22232f;
                padding: 10px 24px 10px 24px;
                &.active {
                    background-color: #488bf0;
                    font-weight: 700;
                    color: #fff;
                }
            }
            button:focus {
                background-color: #488bf0;
                font-weight: 700;
                color: #fff;
            }
        }
        .text-header {
            display: flex;
            margin-top: 32px;
            .panel-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #22232f;
            }
        }
        mat-expansion-panel {
            margin-top: 32px;
            box-shadow: unset;
            mat-expansion-panel-header {
                min-height: 76px;
                border-bottom: 1px solid #ededed;
                .item-sidebar {
                    display: flex;
                    align-items: center;
                    column-gap: 16px;
                    .title-select {
                        display: flex;
                        flex-direction: column;
                        .title-big {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: #22232f;
                        }
                        .title-small {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #22232f;
                        }
                    }
                    mat-icon {
                        color: #25da37;
                        position: absolute;
                        right: 60px;
                    }
                }
            }
            mat-list-option {
                height: unset;
                border-bottom: 1px solid #ededed;
                .item-content {
                    display: flex;
                    min-height: 76px;
                    align-items: center;
                    column-gap: 16px;
                    margin-left: 40px;
                    .image-1 {
                        width: 40px;
                        height: 40px;
                    }
                    .sub-menu {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        color: #22232f;
                    }
                    .image-2 {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        right: -10px;
                    }
                }
            }
        }
        .button-bottom {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 32px;
            button {
                min-width: 134px;
                min-height: 40px;
                background-color: #2d5d8c;
                border: 1px solid #2d5d8c;
                border-radius: 8px;
                padding: 10px 24px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
            }
        }
    }
}

.payment-option {
    padding-top: 16px;
}

@media (max-width: 991px) {
    .button-price{
        grid-template-columns: 1fr 1fr 1fr !important;
        button {
            min-width: unset !important;
            padding: 0px !important;
        }
    }
}