<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{ 'Balances' | localize }}</span>
        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form" autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">{{ l('CustomerName') }}</label>
                        <div class="form-control-value">{{ data.customerName }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">{{ l('CustomerEmail') }}</label>
                        <div class="form-control-value">{{ data.customerEmail }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">{{ l('Registration') }}</label>
                        <div class="form-control-value">{{ data.registrationDate | momentFormat: 'YYYY-MM-DD' }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">{{ l('TotalSpent') }}</label>
                        <div class="form-control-value">{{ appSession.application.currencySign }} {{ data.totalSpent }}</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input
                                    [(ngModel)]="filterText"
                                    name="filterText"
                                    autofocus
                                    class="form-control m-input"
                                    [placeholder]="l('SearchWithThreeDot')"
                                    type="text"
                                />
                                <span class="input-group-btn">
                                    <button (click)="getBalanceList()" class="btn btn-primary" type="submit">
                                        <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex align-items-center">
                            <input
                                id="Balance_ActiveOffers"
                                type="checkbox"
                                name="isTrialActive"
                                [checked]="isExpiriedOfferFilter == false"
                                (change)="getActiveBalanceList(1)"
                            />
                            <label class="form-check-label" for="Balance_ActiveOffers">
                                {{ 'ActiveOffers' | localize }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex align-items-center">
                            <input
                                id="Balance_ExpiryOffers"
                                type="checkbox"
                                name="isExpiryOffer"
                                [checked]="isExpiriedOfferFilter == true"
                                (change)="getActiveBalanceList(2)"
                            />
                            <label class="form-check-label" for="Balance_ExpiryOffers">
                                {{ 'ExpiriedOffers' | localize }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex align-items-center">
                            <input
                                id="Balance_AllOffers"
                                type="checkbox"
                                [checked]="isExpiriedOfferFilter == undefined"
                                name="isAll"
                                (change)="getActiveBalanceList(3)"
                            />
                            <label class="form-check-label" for="Balance_AllOffers">
                                {{ 'All' | localize }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
            <p-table
                #balanceTable
                (onLazyLoad)="getBalanceList($event)"
                [value]="primengTableHelper.records"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                [paginator]="false"
                [lazy]="true"
                [scrollable]="true"
                ScrollWidth="100%"
                [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 130px">
                            <label class="ui-column-title m-0"> {{ 'Action' | localize }}</label>
                        </th>
                        <th style="width: 130px" pSortableColumn="Type">
                            <label class="ui-column-title m-0" [title]="l('Type')"> {{ 'Type' | localize }}</label>
                            <p-sortIcon field="Type"></p-sortIcon>
                        </th>
                        <th style="width: 200px" pSortableColumn="Offer">
                            <label class="ui-column-title m-0" [title]="l('Offer')"> {{ 'Offer' | localize }}</label>
                            <p-sortIcon field="Offer"></p-sortIcon>
                        </th>
                        <th style="width: 100px" pSortableColumn="ActualCredit">
                            <label class="ui-column-title m-0" [title]="l('ActualCredit')"> {{ 'ActualCredit' | localize }}</label>
                            <p-sortIcon field="ActualCredit"></p-sortIcon>
                        </th>
                        <th style="width: 100px" pSortableColumn="CreditBalance">
                            <label class="ui-column-title m-0" [title]="l('CreditBalance')"> {{ 'CreditBalance' | localize }}</label>
                            <p-sortIcon field="CreditBalance"></p-sortIcon>
                        </th>
                        <th style="width: 100px; text-align: center" pSortableColumn="Expiry">
                            <label class="ui-column-title m-0" [title]="l('Expiry')"> {{ 'Expiry' | localize }}</label>
                            <p-sortIcon field="Expiry"></p-sortIcon>
                        </th>
                        <th style="width: 110px" pSortableColumn="ExpiryDate">
                            <label class="ui-column-title m-0" [title]="l('ExpiryDate')"> {{ 'ExpiryDate' | localize }}</label>
                            <p-sortIcon field="ExpiryDate"></p-sortIcon>
                        </th>
                        <th style="width: 100px" class="text-number" pSortableColumn="PaidAmount">
                            <label class="ui-column-title m-0" [title]="l('PaidAmount')"> {{ 'PaidAmount' | localize }}</label>
                            <p-sortIcon field="PaidAmount"></p-sortIcon>
                        </th>
                        <th style="width: 110px" pSortableColumn="PaymentDate">
                            <label class="ui-column-title m-0" [title]="l('PaymentDate')"> {{ 'PaymentDate' | localize }}</label>
                            <p-sortIcon field="PaymentDate"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                        <td style="width: 130px">
                            <span class="ui-column-title"> {{ 'Action' | localize }}</span>
                            <button placement="top" type="button" class="btn btn-icon btn-sm btn-default" (click)="editCustomerOffer(record)">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td style="width: 130px">
                            <span class="ui-column-title"> {{ 'Type' | localize }}</span>
                            {{ record.type }}
                        </td>
                        <td style="width: 200px">
                            <span class="ui-column-title"> {{ 'Offer' | localize }}</span>
                            {{ record.offer }}
                        </td>
                        <td style="width: 100px" class="text-number">
                            <span class="ui-column-title"> {{ 'ActualCredit' | localize }}</span>
                            {{ record.actualCredit }}
                        </td>
                        <td style="width: 100px" class="text-number">
                            <span class="ui-column-title"> {{ 'CreditBalance' | localize }}</span>
                            {{ record.creditBalance }}
                        </td>
                        <td style="width: 100px" class="text-center-res">
                            <span class="ui-column-title"> {{ 'Expiry' | localize }}</span>
                            <span *ngIf="record.expiry">{{ 'True' | localize }}</span>
                            <span *ngIf="!record.expiry">{{ 'False' | localize }}</span>
                        </td>
                        <td style="width: 100px">
                            <span class="ui-column-title"> {{ 'ExpiryDate' | localize }}</span>
                            <span *ngIf="record.expiry">{{ record.expiryDate | momentFormat: 'DD/MM/YYYY' }}</span>
                        </td>
                        <td style="width: 100px" class="text-number">
                            <span class="ui-column-title"> {{ 'PaidAmount' | localize }}</span>
                            {{ appSession.application.currencySign }}
                            {{ record.paidAmount | number: '1.2-2' }}
                        </td>
                        <td style="width: 110px">
                            <span class="ui-column-title"> {{ 'PaymentDate' | localize }}</span>
                            {{ record.paymentDate | momentFormat: 'DD/MM/YYYY' }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="primeng-paging-container mt-5">
                <p-paginator
                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                    #balancePaginator
                    (onPageChange)="getBalanceList($event)"
                    [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                >
                </p-paginator>
                <span class="total-records-count">
                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                </span>
            </div>
        </div>
    </div>
</div>
<!-- <editBalanceModal #editBalanceModal (modalSave)="getBalanceList()" [backdrop]="false"></editBalanceModal> -->
