.text-number {
    text-align: right;
}

.text-center-res {
    text-align: center;
}

.form-control-label {
    font-weight: 600;
}

.form-check-label {
    margin-left: 10px;
}

.modal-header .close span {
    display: block !important;
}

.btn-icon.btn-sm.btn-default {
    background-color: unset;
    border: none;
}