<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!isEdit ? l('CreatePrintJob') : l('EditPrintJob') + ': ' + printer.name"> </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset class="tab-container tabbable-line">
                        <!-- Tax -->
                        <tab heading="{{ l('PrintJob') }}" customClass="kt-tabs__item" tabindex="0"
                            (selectTab)="tabIndex = 0" class="py-5" [active]="tabIndex === 0">
                            <!-- Form -->
                            <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="save()">
                                <input type="submit" hidden />

                                <!-- Name -->
                                <div class="form-group col-md-6">
                                    <label for="printerName">{{ l('Name') }} *</label>
                                    <input #printerName="ngModel" autoFocus [(ngModel)]="printer.name" type="text"
                                        id="printerName" class="form-control" name="printerName" required
                                        maxlength="50" />
                                    <validation-messages [formCtrl]="printerName"></validation-messages>
                                </div>
                            </form>
                            <!-- End Form -->

                            <!-- PrintJobs -->
                            <div class="row" *ngIf="isEdit">
                                <div class="col-12">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="flex-grow-1">{{ l('PrintJob') }}</h6>

                                        <button type="button" class="btn btn-secondary mr-1" (click)="clear()">
                                            <i class="fas fa-eraser"></i>
                                            {{ l('Clear') }}
                                        </button>

                                        <button type="button" class="btn btn-secondary"
                                            (click)="openFilterSelectLocationOrGroup()">
                                            <i class="fas fa-filter"></i>
                                            {{ l('Filter') }}
                                        </button>
                                    </div>

                                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                        <p-table #dataTable [value]="primengTableHelper.records"
                                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                            [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                            (onLazyLoad)="getMappings($event)">
                                            <ng-template pTemplate="colgroup">
                                                <colgroup>
                                                    <col />
                                                    <col />
                                                    <col />
                                                    <col />
                                                    <col />

                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                </colgroup>
                                            </ng-template>

                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="AliasName">
                                                        {{ l('AliasName') }}
                                                        <p-sortIcon field="AliasName"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="whatToPrint">
                                                        {{ l('WhatToPrint') }}
                                                        <p-sortIcon field="whatToPrint"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="jobGroup">
                                                        {{ l('JobGroup') }}
                                                        <p-sortIcon field="jobGroup"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="excludeTax">
                                                        {{ l('ExcludeTax') }}
                                                        <p-sortIcon field="excludeTax"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="negative">
                                                        {{ l('Negative') }}
                                                        <p-sortIcon field="negative"></p-sortIcon>
                                                    </th>

                                                    <th>{{ l('View') }}</th>
                                                    <th>{{ l('Edit') }}</th>
                                                    <th>{{ l('Delete') }}</th>
                                                    <th>{{ l('Clone') }}</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('AliasName') }}</span>
                                                        {{ record.aliasName }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('WhatToPrint') }}</span>
                                                        {{ record.whatToPrintType }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('JobGroup') }}</span>
                                                        {{ record.jobGroup }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('ExcludeTax') }}</span>
                                                        <span *ngIf="record.excludeTax" class="badge badge-primary">{{
                                                            l('Yes') }}</span>
                                                        <span *ngIf="!record.excludeTax" class="badge badge-danger">{{
                                                            l('No') }}</span>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('Negative') }}</span>
                                                        <span *ngIf="record.negative" class="badge badge-primary">{{
                                                            l('Yes') }}</span>
                                                        <span *ngIf="!record.negative" class="badge badge-danger">{{
                                                            l('No') }}</span>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('View') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="viewMapping(record)">
                                                            <i class="fas fa-eye"></i>{{ l('View') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Edit') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="editMapping(record)">
                                                            <i class="flaticon-edit"></i>{{ l('Edit') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Delete') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="deleteMapping(record)">
                                                            <i class="fa fa-trash"></i>
                                                            {{ l('Delete') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Delete') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="cloneMapping(record)">
                                                            <i class="flaticon2-copy"></i>
                                                            {{ l('Clone') }}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>

                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ l('NoData') }}
                                        </div>

                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator (onPageChange)="getMappings($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>

                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End PrintJobs -->
                        </tab>

                        <tab *ngIf="isEdit" heading="{{ l('PrintJobMapping') }}" customClass="kt-tabs__item"
                            tabindex="0" (selectTab)="tabIndex = 1" class="py-5" [active]="tabIndex === 1">
                            <form #mappingForm="ngForm" class="mb-4" novalidate (ngSubmit)="save()">
                                <div class="col-md-12">
                                    <h6 class="mb-5">{{ isEditMapping ? l('Edit') : l('Add') }} {{ l('PrintJob') }}</h6>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 d-flex">
                                        <div class="form-group w-50">
                                            <label for="AliasName"> {{ l('AliasName') }} </label>
                                            <input type="text" id="AliasName" name="AliasName" class="form-control"
                                                [(ngModel)]="mapping.aliasName" #aliasName="ngModel" />
                                            <validation-messages [formCtrl]="aliasName">
                                            </validation-messages>
                                        </div>
                                        <div class="w-50 m-auto">
                                            <button type="button" (click)="openSelectLocationOrGroup()"
                                                class="btn btn-outline-success pull-right">
                                                <span>{{ l('SelectLocation') }}</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="mappingJobGroup">{{ l('Group') }}</label>
                                        <input [(ngModel)]="mapping.jobGroup" id="mappingJobGroup" type="text"
                                            name="mappingJobGroup" #mappingJobGroup="ngModel" class="form-control" />
                                        <validation-messages [formCtrl]="mappingJobGroup"></validation-messages>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="mappingWhatToPrint">{{ l('WhatToPrint') }} *</label>

                                        <select class="form-control" id="mappingWhatToPrint" name="mappingWhatToPrint"
                                            required [(ngModel)]="mapping.whatToPrint" #mappingWhatToPrint="ngModel">
                                            <option *ngFor="let whatToPrint of whatToPrints"
                                                [value]="whatToPrint.value">
                                                {{ whatToPrint.displayText }}
                                            </option>
                                        </select>

                                        <validation-messages [formCtrl]="mappingWhatToPrint"></validation-messages>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="checkbox">
                                            <input [(ngModel)]="mapping.excludeTax" type="checkbox"
                                                name="mappingExcludeTax" />
                                            {{ l('ExcludeTax') }}
                                            <span></span>
                                        </label>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="checkbox">
                                            <input [(ngModel)]="mapping.negative" type="checkbox"
                                                name="mappingNegative" />
                                            {{ l('Negative') }}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <input type="submit" hidden />
                            </form>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right mb-2">
                                        <button type="button" class="btn btn-primary" (click)="addItem()">
                                            <i class="fa fa-plus"></i>{{ 'AddItem' | localize }}
                                        </button>
                                    </div>

                                    <table class="table table-hover table-light">
                                        <colgroup>
                                            <col style="width: 20%" />
                                            <col style="width: 20%" />
                                            <col style="width: 20%" />
                                            <col style="width: 20%" />
                                            <col style="width: 20%" />
                                            <col style="width: 100px" />
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th>{{ l('Department') }}</th>
                                                <th>{{ l('Category') }}</th>
                                                <th>{{ l('MenuItem') }}</th>
                                                <th>{{ l('Printer') }} *</th>
                                                <th>{{ l('Template') }} *</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let m of mappingItems; let index = index">
                                            <td>
                                                <button class="btn btn-primary" type="button"
                                                    (click)="selectDepartment(index)">
                                                    <span *ngIf="!m.departmentId">-</span>
                                                    <span *ngIf="m.departmentId">{{m.departmentId}} -
                                                        {{m.departmentName}}</span>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" type="button"
                                                    (click)="selectCategory(index)">
                                                    <span *ngIf="!m.categoryId">-</span>
                                                    <span *ngIf="m.categoryId">{{m.categoryId}} -
                                                        {{m.categoryName}}</span>
                                                </button>
                                                <!-- <ng-select [id]="'mapCategoryId' + index" placeholder="*"
                                                    [(ngModel)]="m.categoryId" [name]="'mapCategoryId' + index"
                                                    (change)="m.menuItemId = undefined">
                                                    <ng-option *ngFor="let c of categories" [value]="+c.value">
                                                        {{ c.displayText }}
                                                    </ng-option>
                                                </ng-select> -->
                                            </td>

                                            <td>
                                                <button class="btn btn-primary" type="button"
                                                    (click)="selectMenuItem(index)">
                                                    <span *ngIf="!m.menuItemId">-</span>
                                                    <span *ngIf="m.menuItemId">{{m.menuItemId}} -
                                                        {{m.menuItemName}}</span>
                                                </button>
                                                <!-- <ng-select [id]="'mapMenuItemId' + index" placeholder="*"
                                                    [(ngModel)]="m.menuItemId" [name]="'mapMenuItemId' + index">
                                                    <ng-option
                                                        *ngFor="let menuItem of getMenuItemSelections(m.categoryId)"
                                                        [value]="+menuItem.value">
                                                        {{ menuItem.displayText }}
                                                    </ng-option>
                                                </ng-select> -->
                                            </td>

                                            <td>
                                                <ng-select [id]="'mapPrinterId' + index" [(ngModel)]="m.printerId"
                                                    placeholder="*" [name]="'mapPrinterId' + index">
                                                    <ng-option *ngFor="let printer of printers"
                                                        [value]="+printer.value">
                                                        {{ printer.displayText }}
                                                    </ng-option>
                                                </ng-select>
                                            </td>

                                            <td>
                                                <ng-select [id]="'mapPrintTemplateId' + index"
                                                    [(ngModel)]="m.printTemplateId" placeholder="*"
                                                    [name]="'mapPrintTemplateId' + index">
                                                    <ng-option *ngFor="let template of templates"
                                                        [value]="+template.value">
                                                        {{ template.displayText }}
                                                    </ng-option>
                                                </ng-select>
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-secondary"
                                                    (click)="removeItem(index)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </tab>
                    </tabset>

                    <div class="modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{ l('Cancel') }}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SelectLocationOrGroup -->
    <select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

    <select-location-or-group #filterSelectLocationOrGroup (locationAdded)="setFilterLocations($event)">
    </select-location-or-group>

    <select-popup #selectDepartmentPopupModal [headers]="['Id','Name']" [dataBinding]="['id','name']"
    (loadDataResult)="getDepartmentSelection($event)" [dataResult]="departmentResult$" (changeValue)="addDepartment($event)" selectionMode="single"
        [selectedValue]="selectedDepartment" [title]="l('Department')"></select-popup>

        <select-popup #selectCategoryPopupModal [headers]="['Id','Name']" [dataBinding]="['id','name']"
        (loadDataResult)="getCategorySelection($event)"  [dataResult]="categoryResult$" (changeValue)="addCategory($event)" selectionMode="single"
        [selectedValue]="selectedCategory" [title]="l('Category')"></select-popup>

        <select-popup #selectMenuItemPopupModal [headers]="['Id','Name']" [dataBinding]="['id','name']"
        (loadDataResult) = getMenuItemSelection($event)  [dataResult]="menuItemResult$" (changeValue)="addMenuItem($event)" selectionMode="single"
        [selectedValue]="selectedMenuItem" [title]="l('MenuItem')"></select-popup>
    <!-- End SelectLocationOrGroup -->
</div>