<div class="wrapper-queue">
    <button class="backward-btn" (click)="onClickBack()">
        <i class="fa fa-arrow-left"></i>
    </button>
    <div class="wrapper-logo" *ngIf="logoUrl">
        <img [src]="logoUrl" class="logo" />
    </div>
    <hr />
    <div *ngIf="!userQueue">
        <p id="title">{{ WheelDataSetups.title }}</p>
        <p id="note">Welcome! Please enter the details below to get a Queue Number, we will inform you by SMS as soon as
            Table is available</p>
        <div class="table-list row">
            <div class="table-item-wrap col-4" *ngFor="let item of queueLocation.queueLocationOptions">
                <div class="table-item" [ngClass]="{ inactive: !queueLocation.enableQueue }">
                    <span class="now"> Now Calling </span>
                    <div class="queue-number now">
                        {{ item?.customerQueues[currentQueueIndex(item?.customerQueues)]?.queueNo || '-' }}
                    </div>
                    <span class="">Expected Available</span>
                    <div class="queue-number">
                        {{ expectedQueue(item) }}
                    </div>
                    <div class="location-name">
                        {{ item.name }}
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <form [formGroup]="queueFormGroup" (ngSubmit)="onSubmit($event)" novalidate autocomplete="off">
            <div class="wrapper-input-control">
                <label for="" class="lbl-input-field">NO. Of GUEST *</label>
                <div>
                    <p-dropdown [disabled]="!queueLocation.enableQueue" styleClass="w-100"
                        [options]="queueLocation.queueLocationOptions" [(ngModel)]="selectedQueueOption"
                        name="queueOption" optionLabel="name" formControlName="queueOption"
                        placeholder="Select a option" [required]="true">
                        <ng-template let-option pTemplate="item">
                            <div class="option-item">
                                <div>{{ option.label }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div class="wrapper-error-msg">
                        <span class="error-msg"
                            *ngIf="!selectedQueueOption?.id && queueFormGroup.controls['queueOption']?.touched">
                            Table Option is missing.
                        </span>
                    </div>
                </div>
            </div>
            <div class="dine-input-group">
                <label for="name" class="">Name *</label>
                <input [(ngModel)]="customerName" [disabled]="!queueLocation.enableQueue" type="text" placeholder="Name"
                    id="customerName" name="customerName" formControlName="customerName" class="dine-control"
                    required />
                <div class="wrapper-error-msg">
                    <span class="error-msg"
                        *ngIf="queueFormGroup.controls['customerName']?.invalid && queueFormGroup.controls['customerName']?.touched">
                        Name is missing.
                    </span>
                </div>
            </div>
            <div class="wrapper-input-control">
                <label for="" class="lbl-input-field">Phone number *</label>
                <ngx-intl-tel-input [disabled]="!queueLocation.enableQueue" [cssClass]="'custom'"
                    class="phone-input border-0" [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="false" [enablePlaceholder]="true" customPlaceholder="Phone number"
                    [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                    [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Singapore" [maxLength]="15"
                    [tooltipField]="TooltipLabel.Name" [numberFormat]="PhoneNumberFormat.National"
                    [phoneValidation]="true" [separateDialCode]="true" [(ngModel)]="phoneNumber" required
                    formControlName="phoneNumber" name="phoneNumber">
                </ngx-intl-tel-input>
                <div class="wrapper-error-msg">
                    <span class="error-msg" *ngIf="
                            queueFormGroup.controls['phoneNumber']?.invalid &&
                            !queueFormGroup.controls['phoneNumber']?.errors.validatePhoneNumber?.valid &&
                            !queueFormGroup.controls['phoneNumber']?.errors.required &&
                            (queueFormGroup.controls['phoneNumber']?.touched || queueFormGroup.controls['phoneNumber']?.dirty)
                        ">{{ errInvalidPhoneMsg }}</span>
                    <span class="error-msg" *ngIf="
                            queueFormGroup.controls['phoneNumber']?.invalid &&
                            queueFormGroup.controls['phoneNumber']?.errors.required &&
                            (queueFormGroup.controls['phoneNumber']?.touched || queueFormGroup.controls['phoneNumber']?.dirty)
                        ">{{ errPhoneMsg }}</span>
                </div>
            </div>

            <p id="remind">Phone number should be given correctly since we might contact you for any changes or
                confirmation</p>
            <p id="remind" style="margin-bottom: 2rem">
                By clicking "<strong style="color: #282144">Continue</strong>", I agree to LevelFive
                <a style="text-decoration: underline; color: #236dff"
                    href="https://lfsolutions.net/privacy-policy/">Privacy Policy</a>
            </p>
            <button pRipple pButton [disabled]="!queueLocation.enableQueue" class="btn-dine-primary" type="submit"
                label="Proceed"></button>
            <p id="footer" style="margin-top: 2rem">
                Powered by
                <strong style="color: #282144"><a style="text-decoration: underline; color: #236dff; display: block"
                        href="https://lfsolutions.net/">LevelFive</a></strong>
            </p>
        </form>
    </div>
    <div *ngIf="userQueue" class="current-queue">
        <p id="title">{{ WheelDataSetups.title }}</p>
        <p *ngIf="!userQueue.finishTime" id="note">
            Hi {{ userQueue.customerName }}!
            <ng-container *ngIf="userQueue?.queueNo == nowQueue?.queueNo">Congratulations, Please procced to the Outlet.
            </ng-container>
        </p>
        <p *ngIf="userQueue.finishTime && !userQueue.seated" id="note" class="text-danger">
            Hi {{ userQueue.customerName }}! Sorry, you have missed your queue, please proceed to counter if you would
            like to join the queue again
        </p>
        <div class="d-flex flex-column align-items-center">
            <div class="ticket d-flex flex-row align-items-center">
                <div class="left"></div>
                <div class="right">
                    <div class="queue-number">
                        {{ userQueue.queueNo }}
                    </div>
                    <span class="location-name">
                        {{ userQueueOption.name }}
                    </span>
                </div>
            </div>
            <div class="py-4">
                {{ userQueue.queueTime | date: 'dd MMM yyyy hh:mm a' }}
            </div>
            <div class="ticket now">
                <span class="">Now calling</span>
                <div class="queue-number">
                    {{ nowQueue?.queueNo || '-' }}
                </div>
            </div>
        </div>
        <div *ngIf="!isShowShareQueueMethod" class="d-flex flex-column mt-4">
            <button type="button" class="btn btn-dine-primary col-12 mb-3" (click)="order()">VIEW MENU AND
                PRE-ORDER</button>
            <button type="button" class="btn btn-dine-primary col-12 mb-3" (click)="shareQueue()">SHARE QUEUE
                DETAILS</button>
            <button *ngIf="!userQueue.finishTime" type="button" class="btn btn-dine-primary col-12"
                (click)="removeQueue()">REMOVE QUEUE</button>
            <button *ngIf="userQueue.finishTime && !userQueue.seated" type="button" class="btn btn-dine-primary col-12"
                (click)="queueAgain()">QUEUE AGAIN</button>
        </div>
        <div *ngIf="isShowShareQueueMethod" class="d-flex flex-column mt-4">
            <button type="button" class="btn btn-dine-primary col-12 mb-3" (click)="shareBywhatsapp()">WHATSAPP</button>
            <button type="button" class="btn btn-dine-primary col-12 mb-3" (click)="shareByemail()">EMAIL</button>
            <button type="button" class="btn btn-dine-primary col-12" (click)="shareBySMS()">SMS</button>
        </div>
    </div>
</div>