.wrapper-queue {
    .wrapper-logo {
        margin: 0 auto;
        .logo {
            width: 100%;
        }
    }
    #title {
        color: #282144;
        font-family: 'New York';
        font-size: 2rem;
        letter-spacing: 0;
        line-height: 3rem;
        text-align: center;
        margin: 0;
    }
    #note {
        color: #9e9ea7;
        font-family: Mulish;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.5rem;
        text-align: center;
    }
    .wrapper-input-control {
        margin-bottom: 0.5rem;
        ::ng-deep .phone-input {
            .separate-dial-code {
                width: 100%;
                .iti__selected-flag {
                    border-right: 1px solid #e5e5e5;
                }
                .custom {
                    width: 100%;
                    height: 3rem;
                    color: #9e9ea7;
                    font-family: Mulish;
                    font-size: 1.1rem;
                    box-sizing: border-box;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    background-color: #ffffff;
                }
            }
        }
        .wrapper-error-msg {
            height: 1.2rem;
            .error-msg {
                font-family: Mulish;
                font-size: 0.86rem;
                line-height: 1.2rem;
                display: block;
            }
        }
    }
    #remind {
        color: #9e9ea7;
        font-family: Mulish;
        font-size: 0.86rem;
        letter-spacing: 0;
        line-height: 1.2rem;
    }
    .btn-submit {
        width: 100%;
        border-radius: 4px;
        background-color: var(--btn-dine-primary);
        box-shadow: 0 1px 21px 0 #ffba71;
        font-family: Mulish;
        font-size: 1.1rem;
        letter-spacing: 0;
        line-height: 1.5rem;
        text-align: center;
        outline: none;
        border-color: var(--btn-dine-primary);
        border-width: 0;
        color: white;
        font-weight: 600;
        padding: 0.4rem;
        margin-bottom: 2rem;
    }
    #footer {
        color: #9e9ea7;
        font-family: Mulish;
        font-size: 0.86rem;
        letter-spacing: 0;
        line-height: 1.2rem;
        text-align: center;
    }
}

.backward-btn {
    height: 5rem;
}

.table-item-wrap {
    padding: 20px;
    
    @media (max-width: 500px) {
        padding: 10px;
    }
}

.table-item {
    border: solid 1px #ddd;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;

    &.inactive {
        opacity: 0.3;
    }
    
    @media (max-width: 500px) {
        padding: 5px 10px;
    }

    span {
        font-size: 11px;
        color: #9e9ea7;
    }
    
    .now {
        color: #00c67d;
    }
    
    .location-name {
        color: #9e9ea7;
        font-size: 14px;
        line-height: 2.5;
    }
    
    .queue-number {
        font-size: 24px;
        font-weight: 600;
        border-bottom: solid 2px;
    }
}

.current-queue {
    .btn.btn-dine-primary {
        border-radius: 20px;
        font-size: 12px;
    }

    .ticket {
        border: solid 4px #555;
        border-radius: 10px;
        width: 170px;
        height: 100px;
    }
    
    .ticket .left {
        width: 40px;
        border-right: dotted 4px #555;
        height: 100%;
    }
    
    .right {
        padding: 15px;
        font-weight: 600;
    }
    
    .queue-number {
        font-size: 24px;
        font-weight: bold;
    }
    
    .ticket.now {
        text-align: center;
        padding: 5px;
    }

    .ticket.now .queue-number {
        padding: 5px;
    }
    
    .ticket.now span, .ticket.now .queue-number {
        color: #00c67d;
        font-weight: 500;
    }
    
}

