.div-split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background: #ffff;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }



.login.login-1.login-signup-on .login-signup {
    display: block;
}

.login.login-1.login-signup-on .login-signin {
    display: none;
}

.login.login-1.login-signup-on .login-forgot {
    display: none;
}

.login.login-1.login-forgot-on .login-signup {
    display: none;
}

.login.login-1.login-forgot-on .login-signin {
    display: none;
}

.login.login-1.login-forgot-on .login-forgot {
    display: block;
}

@media (min-width: 992px) {
    .login.login-1 .login-aside {
        // width: 100%;
        // max-width: 600px;
        width: 50%;
        background-size: cover;
    }
    .login.login-1 .login-content {
        width: 100%;
        max-width: 500px;
    }
    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
    .login.login-1 .login-aside {
        // width: 100%;
        // max-width: 450px;
        width: 50%;
        background-size: cover;
    }
}

@media (max-width: 991.98px) {
    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 575.98px) {
    .login.login-1 .aside-img {
        min-height: 300px !important;
        background-size: 400px;
    }
    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width:740px) {
    .main-image-right{
        display: none !important;
    }
}

.has-danger .form-control-feedback {
    color: #fd397a;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
}

ul.text-danger {
    list-style: none;
    color: #f4516c;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
    padding-left: 0;
}

.captcha-container {
    margin: auto;
    width: 70%;
}
.logo{
    position: absolute;
    top: 3.75rem;
    left: 1.75rem;
}
