<div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">

        <div [ngClass]="{'login-content': !useFullWidthLayout()}"
            class="flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex flex-column-fluid flex-center">
                <div class="logo">
                    <img src="/assets/metronic/common/images/bg/logo-LF.svg" alt="">
                </div>
                <div class="login-form login-signin">
                    <div class="pb-13 pt-lg-0 pt-5">
                        <div *ngIf="showTenantChange()" class="login__signup-label tenant-change-box">
                            <tenant-change></tenant-change>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
                <language-switch class="mx-auto"></language-switch>
            </div>
        </div>
        <div class="login-aside d-flex flex-column flex-row-auto justify-content-center"
            style="background-image: url('/assets/metronic/common/images/bg/main-image-right.svg')"
            *ngIf="!useFullWidthLayout()">
            <div class="d-flex flex-column-auto flex-column align-items-start">
            </div>
        </div>
    </div>
</div>
