<div class="d-flex align-items-center header-payment-detail">
    <div (click)="backprev()" class="row d-flex align-items-center button-back">
        <mat-icon>arrow_back</mat-icon>
        <span class="text-button">Checkout</span>
    </div>
</div>
<div class="col-sm-12 top-kt">
    <div class="card mb-1 large-screen">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <!-- <div class="panel-heading">
                            <h3 class="panel-title"><strong>Order summary</strong></h3>
                        </div> -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td class="text-title">Items Ordered</td>
                                            <td class=""></td>
                                            <td class="text-right text-subtitle">Price</td>
                                            <td class="text-right text-subtitle">Amount</td>
                                            <td class="text-right text-subtitle">Sub total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of paymentDetail.productOrders">
                                            <tr>
                                                <td class="text-content"><img src="{{item.image}}" style="height: 72px; width: 72px; border-radius: 50%;" alt="">{{item.name}}</td>
                                                <td class="text-subcontent">{{item.orderDateStr}}</td>
                                                <td class="text-right text-subcontent"> ${{item.price | number: '1.2-2'}} </td>
                                                <td class="text-right text-subcontent"> {{item.quantity}} </td>
                                                <td class="text-right text-subcontent">${{item.price * item.quantity | number: '1.2-2'}} </td>
                                            </tr>

                                            <tr *ngFor="let orderTag of item.orderTags">
                                                <td class="text-content" style="margin-left: 100px">{{orderTag.name}}</td>
                                                <td class="text-subcontent"></td>
                                                <td class="text-right text-subcontent"> ${{orderTag.price | number: '1.2-2'}} </td>
                                                <td class="text-right text-subcontent"> {{orderTag.quantity}} </td>
                                                <td class="text-right text-subcontent">${{orderTag.price * orderTag.quantity | number: '1.2-2'}} </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-screen mb-1">
        <div class="items-ordered">
            <div class="text-title">
                Items Ordered
            </div>
            <ng-container *ngFor="let item of paymentDetail.productOrders">
                <div class="item-content" >
                    <div class="image-content">
                        <img src="{{item.image}}" class="image" alt="">
                        <div class="content-order">
                            <div class="content-title">
                                <span>
                                    {{item.quantity}}x
                                </span>
                                <span>{{item.name}}</span>
                            </div>
                            <div class="content-description">
                                {{item.orderDateStr}}
                            </div>
                        </div>
                    </div>
                    <div class="price">${{item.price * item.quantity | number: '1.2-2'}} </div>
                </div>
                <div class="item-content" *ngFor="let orderTag of item.orderTags">
                    <div class="image-content">
                        <img src="{{orderTag.image}}" class="image" alt="" style="visibility: hidden;">
                        <div class="content-order">
                            <div class="content-title">
                                <span>
                                    {{orderTag.quantity}}x
                                </span>
                                <span>{{orderTag.name}}</span>
                            </div>
                          
                        </div>
                    </div>
                    <div class="price">${{orderTag.price * orderTag.quantity | number: '1.2-2'}} </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="card mb-1">
        <div class="card-body order-qr-code">
            <!-- <div class="col d-flex align-items-center"> -->
                <span class="ms-1">Order QR Code</span>
            <!-- </div> -->
            <!-- <div class="col-md-3"> -->
                <img src="\assets\image\menu\qrCode.png" class="pull-right image-qr-code" />
            <!-- </div> -->
        </div>
    </div>

    <div class="card mb-1">
        <div class="card-body col">
            <div class="row voucher">
                <div class="col d-flex align-items-center">
                    <img src="\assets\image\voucher.png" class="pull-left img-fluid-1" alt="" />
                    <span class="ms-1 voucher-stack">Voucher Stack</span>
                </div>
                <div class="text-right">
                    <span class="color-text">Choose Voucher</span>
                </div>
            </div>
            <!-- <hr class="large-screen"> -->
            <!-- <div class="row coin-stack">
                <div class="col d-flex align-items-center">
                    <img src="\assets\image\coin.png" class="pull-left img-fluid-2" />
                    <span class="ms-1">Coin Stack</span>
                    <span class="ms-2 large-screen">Coins cannot be exchanged</span>
                </div>
                <div class="form-check">
                    <span class="ms-2" for="flexCheckDefault">
                    $0
                    </span>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div> -->
        </div>
    </div>

    <div class="card mb-1 large-screen">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="invoice-title">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <address>
                                    <span class="ms-3">Payment Method</span><br>
                                    <div class="payment-method">
                                        <div class="row">
                                            <div class="row stack-wallet-div">
                                                <div class="image-stack-wallet col-md-4">
                                                    <img src="/assets/image/stack-canteen.png">
                                                </div>
                                                <div class="content-stack-wallet col-md-6">
                                                    <div class="title-wallet">Stack Wallet</div>
                                                    <div class="money-wallet">${{ customerWallet.balance | number: '1.2-2'}}</div>
                                                    <div class="money-not-enough" *ngIf="!isWalletEnough">Insufficient balance Please Topup your wallet</div>
                                                    <div class="top-up-here" *ngIf="!isWalletEnough" (click)="goToTopup()">Top up here</div>
                                                </div>
                                                <div class="checkbox-stack-wallet col-md-2" *ngIf="isPayStackWallet">
                                                    <img src="/assets/image/check-wallet.png">
                                                </div>
                                            </div>
                                            
                                            <!-- <div *ngIf="!stripeConfig?.secretKey && !omiseConfig?.publishKey && !adyenConfig?.apiKey">
                                                {{ 'PaymentMethodNotAvailable' | localize }}
                                            </div>
                                            <div class="row payment-option">
                                                <div class="col-md-12">
                                                    <p-radioButton
                                                        name="paymentMethod"
                                                        [value]="PAYMENT_METHOD.Cash"
                                                        [label]="cashData.label"
                                                        [(ngModel)]="paymentMethod"
                                                        inputId="opt6"
                                                        (onClick)="choosepaymentMethod()"
                                                    >
                                                    </p-radioButton>
                                                </div>
                                            </div>
                                            <div class="row payment-option" [hidden]="!stripeConfig?.secretKey">
                                                <div class="col-md-12">
                                                    <p-radioButton
                                                        name="paymentMethod"
                                                        [value]="PAYMENT_METHOD.Stripe"
                                                        [label]="stripeData.label"
                                                        [(ngModel)]="paymentMethod"
                                                        inputId="opt1"
                                                        (onClick)="choosepaymentMethod()"
                                                    >
                                                    </p-radioButton>
                                                    <div [hidden]="paymentMethod != PAYMENT_METHOD.Stripe">
                                                        <div class="mt-3 col-md-12" *ngIf="serviceFees?.length > 0">
                                                            <span *ngFor="let item of serviceFees; let index = index"
                                                                >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                            </span>
                                                            <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                        </div>
                                                        <div class="cell example stripe-check-out-container">
                                                            <form>
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="field col-md-12">
                                                                            <label
                                                                                for="stripe-card-number"
                                                                                data-tid="elements_examples.form.card_number_label"
                                                                                >Card Number</label
                                                                            >
                                                                            <img
                                                                                style="top: 75%; right: 15px"
                                                                                class="cart-number-icon"
                                                                                alt="card"
                                                                                src="https://checkoutshopper-test.adyen.com/checkoutshopper/images/logos/nocard.svg"
                                                                            />
                                                                            <div class="baseline"></div>
                                                                            <div id="stripe-card-number" class="input empty"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="form-group col-md-6">
                                                                            <label
                                                                                for="stripe-card-expiry"
                                                                                data-tid="elements_examples.form.card_expiry_label"
                                                                                >Expiration</label
                                                                            >
                                                                            <div class="baseline"></div>
                                                                            <div id="stripe-card-expiry" class="input empty"></div>
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <label
                                                                                for="stripe-card-cvc"
                                                                                data-tid="elements_examples.form.card_cvc_label"
                                                                                >CVC</label
                                                                            >
                                                                            <div class="baseline"></div>
                                                                            <div id="stripe-card-cvc" class="input empty"></div>
                                                                        </div>
                                                                    </div>
                                                                    <button
                                                                        class="btn"
                                                                        type="submit"
                                                                        data-tid="elements_examples.form.pay_button"
                                                                    >
                                                                        {{ 'PayWithStripe' | localize }}
                                                                    </button>
                                                                </fieldset>
                                                                <div class="error" role="alert">
                                                                    <span class="message"></span>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row payment-option" [hidden]="!omiseConfig?.publishKey">
                                                <div class="col-md-12">
                                                    <p-radioButton
                                                        name="paymentMethod"
                                                        [value]="PAYMENT_METHOD.Omise"
                                                        [label]="omiseData.label"
                                                        [(ngModel)]="paymentMethod"
                                                        inputId="opt2"
                                                        (onClick)="choosepaymentMethod()"
                                                    >
                                                    </p-radioButton>
                                                </div>
                                            </div>
                                            <div class="row payment-option" [hidden]="!adyenConfig?.apiKey">
                                                <div class="col-md-12">
                                                    <p-radioButton
                                                        name="paymentMethod"
                                                        [value]="PAYMENT_METHOD.Adyen"
                                                        [label]="adyenData.label"
                                                        [(ngModel)]="paymentMethod"
                                                        inputId="opt3"
                                                        (onClick)="choosepaymentMethod()"
                                                    >
                                                    </p-radioButton>
                                                    <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Adyen">
                                                        <div class="mt-3" *ngIf="serviceFees?.length > 0">
                                                            <span *ngFor="let item of serviceFees; let index = index"
                                                                >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                            </span>
                                                            <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                        </div>
                                                        <div class="cell example adyen-check-out-container">
                                                            <div id="customCard-container" class="adyen-checkout__card-input">
                                                                <div class="adyen-checkout__loading-input__form">
                                                                    <div class="adyen-checkout__card__form">
                                                                        <div class="adyen-checkout__field adyen-checkout__field--cardNumber">
                                                                            <label class="adyen-checkout__label">
                                                                                <span class="adyen-checkout__label__text">Card number</span>
                                                                                <div class="adyen-checkout__input-wrapper card-number">
                                                                                    <span
                                                                                        data-cse="encryptedCardNumber"
                                                                                        class="
                                                                                            adyen-checkout__input
                                                                                            adyen-checkout__input--large
                                                                                            adyen-checkout__card__cardNumber__input
                                                                                        "
                                                                                    >
                                                                                        <img
                                                                                            class="
                                                                                                cart-number-icon
                                                                                                adyen-checkout__card__cardNumber__brandIcon
                                                                                            "
                                                                                            alt="card"
                                                                                            src="https://checkoutshopper-test.adyen.com/checkoutshopper/images/logos/nocard.svg"
                                                                                        />
                                                                                    </span>
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div
                                                                            class="adyen-checkout__card__exp-cvc adyen-checkout__field-wrapper"
                                                                        >
                                                                            <div
                                                                                class="
                                                                                    adyen-checkout__field
                                                                                    adyen-checkout__field--50
                                                                                    adyen-checkout__field--expiryDate
                                                                                "
                                                                            >
                                                                                <label class="adyen-checkout__label">
                                                                                    <span class="adyen-checkout__label__text">Expiry date</span>
                                                                                    <div class="adyen-checkout__input-wrapper">
                                                                                        <span
                                                                                            data-cse="encryptedExpiryDate"
                                                                                            class="
                                                                                                adyen-checkout__input
                                                                                                adyen-checkout__input--small
                                                                                                adyen-checkout__card__exp-date__input
                                                                                            "
                                                                                        >
                                                                                        </span>
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                            <div
                                                                                class="
                                                                                    adyen-checkout__field
                                                                                    adyen-checkout__field--50
                                                                                    adyen-checkout__field__cvc
                                                                                    adyen-checkout__field--securityCode
                                                                                "
                                                                            >
                                                                                <label class="adyen-checkout__label">
                                                                                    <span class="adyen-checkout__label__text">CVC / CVV</span>
                                                                                    <div class="adyen-checkout__input-wrapper">
                                                                                        <span
                                                                                            class="
                                                                                                adyen-checkout__input
                                                                                                adyen-checkout__input--small
                                                                                                adyen-checkout__card__cvc__input
                                                                                            "
                                                                                            data-cse="encryptedSecurityCode"
                                                                                        >
                                                                                        </span>
                                                                                    </div>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="adyen-checkout__field adyen-checkout__card__holderName">
                                                                        <label class="adyen-checkout__label">
                                                                            <span class="adyen-checkout__label__text">Name on card</span>
                                                                            <div class="adyen-checkout__input-wrapper">
                                                                                <input
                                                                                    classnamemodifiers="large"
                                                                                    class="
                                                                                        adyen-checkout__input
                                                                                        adyen-checkout__input--text
                                                                                        adyen-checkout__card__holderName__input
                                                                                        adyen-checkout__input--large
                                                                                    "
                                                                                    placeholder="J. Smith"
                                                                                    type="text"
                                                                                />
                                                                            </div>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row payment-option" [hidden]="!paypalConfig?.clientId">
                                                <div class="col-md-12">
                                                    <p-radioButton
                                                        name="paymentMethod"
                                                        [value]="PAYMENT_METHOD.PayPal"
                                                        [label]="paypalData.label"
                                                        [(ngModel)]="paymentMethod"
                                                        inputId="opt4"
                                                        (onClick)="choosepaymentMethod()"
                                                    >
                                                    </p-radioButton>
                                                </div>
                                            </div>
                                            <div class="row payment-option" [hidden]="!googlePayConfig?.merchantId">
                                                <div class="col-md-12">
                                                    <p-radioButton
                                                        name="paymentMethod"
                                                        [value]="PAYMENT_METHOD.Google"
                                                        [label]="googlePayData.label"
                                                        [(ngModel)]="paymentMethod"
                                                        inputId="opt5"
                                                        (onClick)="choosepaymentMethod()"
                                                    >
                                                    </p-radioButton>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </address>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col">
                        <div class="row d-flex align-items-center justify-content-end" style="margin-top: 36px; margin-bottom: 25px; margin-right: 0;">
                            <span class="text-left text-subtotal">Subtotal items</span>
                            <span class="text-right text-subtotal">${{ total | number: '1.2-2'}} </span>
                        </div>
                        <div class="row d-flex align-items-center justify-content-end" style="margin-bottom: 33px; margin-right: 0;">
                            <span class="text-left text-pay">Total to pay</span>
                            <span class="text-right number-pay">${{ total | number: '1.2-2'}} </span>
                        </div>
                    </div>
                    <hr>
                    <div class="col">
                        <div class="row d-flex align-items-center justify-content-end" style="margin-top: 34px;">
                            
                            <!-- <div class="col-md-3 item-right" *ngIf="paymentMethod == '' || paymentMethod == null || paymentMethod == undefined"> -->
                                <button type="button" [disabled]="!isWalletEnough" class="btn style-button" (click)="payNow('')">Pay Now</button>
                            <!-- </div> -->

                            <!-- <div class="col-md-3 item-right" [hidden]="paymentMethod != PAYMENT_METHOD.Cash">
                                <button type="button" class="btn style-button" (click)="payNow('')">Pay Now</button>
                            </div>

                            <div class="col-md-3 item-right" [hidden]="paymentMethod != PAYMENT_METHOD.Stripe">
                                <button type="button" class="btn style-button" (click)="payNow(paymentMethod)">Pay Now</button>
                            </div>

                            <div class="col-md-3 item-right" [hidden]="paymentMethod != PAYMENT_METHOD.Adyen">
                                <button 
                                    class="btn adyen-checkout__button adyen-checkout__button--pay"
                                    (click)="payWithAdyen()"
                                >
                                    <span class="adyen-checkout__button__content">
                                        <span class="adyen-checkout__button__text">{{
                                            l('PayWithAdyen')
                                        }}</span>
                                    </span>
                                </button>
                            </div>
                            
                            <div class="col-md-3 item-right" [hidden]="paymentMethod != PAYMENT_METHOD.Omise">
                                <div class="d-flex flex-row">
                                    <button type="button" class="btn btn-primary mt-3 mr-3 w-100" id="checkoutButton">
                                        {{ 'Pay Now' | localize }}
                                    </button>
                                    <button
                                        [hidden]="!omiseConfig?.enablePaynowQR"
                                        type="button"
                                        class="btn btn-primary mt-3 w-100"
                                        id="payNow"
                                    >
                                        {{ 'Pay Now' | localize }}
                                    </button>
                                </div>
                            </div>
                            
                            <div class="col-md-3 item-right" [hidden]="paymentMethod != PAYMENT_METHOD.PayPal">
                                <div class="mt-5" [id]="payPalButtonId"></div>
                            </div>
                                  
                            <div class="col-md-3 item-right" [hidden]="paymentMethod != PAYMENT_METHOD.Google">
                                <google-pay-button
                                    *ngIf="paymentRequest"
                                    [environment]="paymentRequest.environment"
                                    [buttonType]="paymentRequest.buttonType"
                                    [buttonColor]="paymentRequest.buttonColor"
                                    [existingPaymentMethodRequired]="false"
                                    [paymentRequest]="{
                                        apiVersion: paymentRequest.apiVersion,
                                        apiVersionMinor: paymentRequest.apiVersionMinor,
                                        allowedPaymentMethods: paymentRequest.allowedPaymentMethods,
                                        merchantInfo: paymentRequest.merchantInfo,
                                        transactionInfo: {
                                            totalPriceStatus: 'FINAL',
                                            totalPriceLabel: 'Total',
                                            totalPrice: paymentDetail.total ? paymentDetail.total.toString() : '0',
                                            currencyCode: appSession.application.currency,
                                            countryCode: 'SG'
                                        },
                                        callbackIntents: ['PAYMENT_AUTHORIZATION']
                                    }"
                                    (loadpaymentdata)="onLoadGooglePaymentData($event)"
                                    (error)="onGooglePayError($event)"
                                    [paymentAuthorizedCallback]="onGooglePaymentDataAuthorized"
                                    (readytopaychange)="onReadyToPayChange($event)"
                                ></google-pay-button>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-1 mobile-screen">
        <div class="card-body-mobile">
            <div class="payment-method-mobile">
                <div class="title">Payment Method</div>
                <div class="stack-wallet-box">
                    <div class="wallet-box">
                        <img src="/assets/image/stack-canteen.png" alt="">
                        <div class="wallet">
                            <span>Stack Wallet </span>
                            <span>${{ customerWallet.balance | number: '1.2-2'}}</span>
                            <div class="money-not-enough" *ngIf="!isWalletEnough">Insufficient balance Please Topup your wallet</div>
                            <div class="top-up-here" *ngIf="!isWalletEnough" (click)="goToTopup()">Top up here</div>
                        </div>
                    </div>
                    <img src="/assets/image/check-wallet.png" *ngIf="isPayStackWallet">
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between subtotal-items">
                <span>Subtotal items</span>
                <span>${{ total | number: '1.2-2'}} </span>
            </div>
            <div class="d-flex align-items-center justify-content-between total-to-pay">
                <span>Total to pay</span>
                <span>${{ total | number: '1.2-2'}} </span>
            </div>
        </div>
        <div class="card-footer-mobile">
            <button class="btn btn-pay-now" [disabled]="!isWalletEnough" (click)="payNow('')">Pay Now</button>
        </div>
    </div>
</div>