.cart-items {
    padding: 15px 1.25rem;
    max-height: 36vh;
    overflow-x: auto;
    margin: 0 -1.25rem;
}

.cart-items > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.cart-items > ul > li {
    border-bottom: 1px dashed #eee;
    overflow: hidden;
    padding: 5px 0;
}

.invoice-title h2,
.invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

// @media (max-width: 1024px) {
//     .top-kt {
//         margin-top: 2vh;
//         padding-left: 174px;
//         padding-right: 173px;
//     }
//     .mb-1 {
//         margin-bottom: 1rem !important;
//     }
//     .text-title {
//         font-weight: 700;
//         font-size: 20px;
//         line-height: 30px;
//         color: #22232f;
//     }
//     .text-subtitle {
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 27px;
//         color: #888884;
//     }
//     .text-content {
//         font-weight: 700;
//         font-size: 18px;
//         line-height: 27px;
//         color: #22232f;
//         display: flex;
//         align-items: center;
//         column-gap: 24px;
//     }
//     .text-subcontent {
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 24px;
//         color: #22232f;
//         vertical-align: inherit;
//     }
//     // .ms-1 {
//     //     font-weight: 400;
//     //     font-size: 18px;
//     //     line-height: 27px;
//     //     margin-right: 60px;
//     //     color: #444444;
//     // }
//     .ms-2 {
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 27px;
//         color: #888884;
//         margin-right: 30px;
//     }
//     .ms-3 {
//         font-weight: 700;
//         font-size: 20px;
//         line-height: 30px;
//         color: #444444;
//     }
//     .form-check {
//         margin-right: 40px;
//     }
//     // .img-fluid-1 {
//     //     width: 20px;
//     //     height: 18px;
//     //     margin-right: 16px;
//     // }
//     .img-fluid-2 {
//         width: 24px;
//         height: 24px;
//         margin-right: 16px;
//     }
//     .color-text {
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 27px;
//         color: #2d5d8c;
//         margin-right: 40px;
//     }
//     .text-subtotal {
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 16px;
//         color: #22232f;
//         margin-left: 94px;
//     }
//     .text-pay {
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 16px;
//         color: #22232f;
//     }
//     .number-pay {
//         font-weight: 700;
//         font-size: 25px;
//         line-height: 25px;
//         color: #ed4941;
//         margin-left: 100px;
//     }
//     .style-button {
//         width: 216px;
//         height: 56px;
//         background-color: #2d5d8c;
//         border-radius: 10px;
//         color: #fff;
//         font-size: 16px;
//         font-weight: bold;
//     }
//     .button-back {
//         cursor: pointer;
//         border: 0px solid #dcdfea;
//         border-radius: 16px;
//         min-width: 150px;
//         height: 35px;
//         margin-left: 15px;
//     }
//     .text-button {
//         font-weight: 700;
//         font-style: normal;
//         font-size: 22px;
//         line-height: 33px;
//         color: #22232f;
//         margin-left: 24px;
//     }
// }

@media (min-width: 992px) {
    .order-qr-code {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-screen {
        display: none;
    }
    .header-payment-detail {
        background-color: #fcfcfc;
        height: 69px;
    }
    .top-kt {
        margin-top: 2vh;
        padding-left: 174px;
        padding-right: 173px;
    }
    .mb-1 {
        margin-bottom: 1rem !important;
    }
    .text-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #22232f;
    }
    .text-subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #888884;
    }
    .text-content {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #22232f;
        display: flex;
        align-items: center;
        column-gap: 24px;
    }
    .text-subcontent {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #22232f;
        vertical-align: inherit;
    }
    .ms-1 {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-right: 60px;
        color: #444444;
    }
    .ms-2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #888884;
        margin-right: 30px;
    }
    .ms-3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #444444;
    }
    .form-check {
        margin-right: 40px;
    }
    .img-fluid-1 {
        width: 20px;
        height: 18px;
        margin-right: 16px;
    }
    .img-fluid-2 {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    .color-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #2d5d8c;
        margin-right: 40px;
    }
    .text-subtotal {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #22232f;
        margin-left: 94px;
    }
    .text-pay {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #22232f;
    }
    .number-pay {
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        color: #ed4941;
        margin-left: 100px;
    }
    .style-button {
        width: 216px;
        height: 56px;
        background-color: #2d5d8c;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    .button-back {
        cursor: pointer;
        border: 0px solid #dcdfea;
        border-radius: 16px;
        min-width: 150px;
        height: 35px;
        margin-left: 15px;
    }
    .text-button {
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        line-height: 33px;
        color: #22232f;
        margin-left: 24px;
    }
}

.nav .nav-link {
    display: block;
}

::ng-deep {
    .check-box-custom {
        float: right;
    }

    .check-box-custom.ui-chkbox {
        width: 30px;
        height: 30px;
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box {
        width: 30px;
        height: 30px;
        outline: unset;
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box.ui-state-active {
        background-color: #fedb59;
        border-color: #fedb59;
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
        background-color: #f5db7c;
        border-color: #fedb59;
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box.ui-state-active span {
        font-size: 27px !important;
        text-align: unset;
        line-height: 1 !important;
        letter-spacing: unset;
        color: unset !important;
        display: block !important;

        &::before {
            color: #343434;
        }
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box.ui-state-focus {
        box-shadow: unset;
    }
}

.time.disabled {
    opacity: 0.3;

    &:hover {
        background-color: #fff;
    }
}

.summary__button button {
    &:disabled {
        opacity: 0.3;
    }
}

.__dashboard
    .selectplan__container
    .dashboard__main
    .week__menu__container
    .week__menu__header
    .week__menu__days
    .date_text.disabled {
    opacity: 0.3;
}

.addon_btn:disabled {
    opacity: 0.3;
}

.__dashboard .selectplan__container .totalbill__payment .totalbill__payment__body section {
    width: 100%;
}

.totalbill__payment__body .name {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    display: block;
}

.totalbill__payment__body {
    padding: 50px 30px;
}

// @media (max-width: 992px) {
//     .__dashboard .selectplan__container .dashboard__main .dashboard__select__dropdown .form__control {
//         width: 100%;
//     }

//     .__dashboard .selectplan__container .dashboard__main .dashboard__select__dropdown .form__control select {
//         max-width: 280px;
//     }

//     .__dashboard
//         .selectplan__container
//         .delivery__main__container
//         .delivery__body
//         .delivery__contents.selfpickup__main__body
//         .delivery__pickup__location,
//     .__dashboard .selectplan__container .delivery__main__container .delivery__selection {
//         height: unset;
//     }

//     .__dashboard .selectplan__container .dashboard__main .dashboard__select__menu section.tabs .nav-tabs .nav-item {
//         width: 100%;
//     }

//     .__dashboard .selectplan__container .dashboard__main .dashboard__select__menu section.tabs .nav-tabs .nav-link {
//         padding: 15px;
//     }

//     .__dashboard
//         .selectplan__container
//         .dashboard__main
//         .dashboard__select__menu
//         section.tabs
//         .nav-tabs
//         .nav-link.active {
//         background: #fedb59;
//     }

//     .__dashboard
//         .selectplan__container
//         .dashboard__main
//         .dashboard__select__menu
//         section
//         .mob_dropdown_select_your_menu {
//         padding: 30px 30px 30px;
//     }

//     .__dashboard
//         .selectplan__container
//         .dashboard__main
//         .week__menu__container
//         .week__menu__body
//         .week__menu__day__container
//         .week__menu__blocks {
//         flex-wrap: wrap;
//         overflow-x: auto;
//         padding: 30px;
//     }

//     .__dashboard .selectplan__container .dashboard__main .week__menu__container {
//         padding-bottom: 0;
//     }

//     .__dashboard
//         .selectplan__container
//         .dashboard__main
//         .week__menu__container
//         .week__menu__body
//         .week__menu__day__container {
//         padding-bottom: 0;
//     }

//     .__dashboard
//         .selectplan__container
//         .dashboard__main
//         .week__menu__container
//         .week__menu__header
//         .week__menu__days
//         .date_text {
//         width: 35px;
//         height: 40px;
//         border-radius: 6px;
//         font-size: 10px;
//     }
// }

.nav-link {
    cursor: pointer;
}

.derection a {
    cursor: pointer;
    text-decoration: underline;
}

.__dashboard
    .selectplan__container
    .dashboard__main
    .week__menu__container
    .week__menu__body
    .week__menu__day__container
    .week__menu__blocks
    .week__menu__block
    .week__menu__block__box
    section
    .button__sec {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5;
    padding-top: 33px;
    flex-direction: row;
    width: 100%;
}

.__dashboard
    .selectplan__container
    .dashboard__main
    .week__menu__container
    .week__menu__body
    .week__menu__day__container
    .week__menu__blocks {
    width: 100%;
}

.increaseQty:disabled {
    opacity: 0.3;
}

.payment-option {
    padding-top: 16px;
}

.stripe-check-out-container,
.adyen-check-out-container {
    padding-top: 16px;
}

.adyen-checkout__input-wrapper {
    height: 50px;
    padding: 16px;
    border: 1px solid #d8dde6 !important;
    border-radius: 4px;
    margin-top: 4px;
    width: 300px;
}

.adyen-checkout__input-wrapper.card-number {
    height: 86px;
    padding: 16px;
    border: 1px solid #d8dde6 !important;
    border-radius: 4px;
    margin-top: 4px;
}

.adyen-checkout__input--large {
    border: none;
    width: 100%;
}

.adyen-checkout__button {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    display: block;
    background: #545454;
    border-color: #545454;
    padding: 15px 25px;
    transition: 0.3s ease-in-out;
    margin-top: 8px;
}

.input.StripeElement {
    height: 50px;
    padding: 16px;
    border: 1px solid #d8dde6 !important;
    border-radius: 4px;
    margin-top: 4px;
}

.item-right {
    text-align: right;
}

.payment-method {
    padding-top: 18px;
}

.stack-wallet-div {
    border: 1px solid #488bf0;
    border-radius: 8px;
    margin-left: 14px;
    min-width: 270px;
    cursor: pointer;
}

.image-stack-wallet {
    padding: 12px;
    padding-right: 0px;
    display: flex;
}

.content-stack-wallet {
    padding-top: 12px;
    padding-bottom: 12px;
}

.title-wallet {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.money-wallet {
    font-weight: normal;
    font-size: 16px;
    color: #48525f;
}

.checkbox-stack-wallet {
    position: relative;

    img {
        position: absolute;
        top: 33%;
    }
}

.money-not-enough {
    color:#ED4941;
    font-weight: bold;
}
.top-up-here {
    color: #488bf0;
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 991px) {
    .text-button {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #22232f;
        margin-left: 16px;
    }
    .header-payment-detail {
        background-color: #fcfcfc;
        height: 49px;
        border-bottom: 1px solid #eaeaea;
        padding-left: 24px;
    }
    .large-screen {
        display: none;
    }
    .items-ordered {
        padding: 16px;
        background: #ffffff;
    }

    .text-title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #22232f;
        margin-bottom: 20px;
    }
    .top-kt {
        margin-top: unset;
        padding-left: unset;
        padding-right: unset;
    }
    .item-content {
        &:not(:last-child) {
            padding-bottom: 16px;
            border-bottom: 1px solid #eaeaea;
        }
        .image-content {
            display: flex;
            align-items: center;
        }
        .image {
            height: 56px;
            width: 56px;
            border-radius: 50%;
            margin-right: 16px;
            object-fit: cover;
        }
        .content-order {
            display: flex;
            flex-direction: column;
            .content-title {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                & > span:nth-child(1) {
                    color: #2d5d8c;
                    margin-bottom: 5px;
                }
                & > span:nth-child(2) {
                    color: #22232f;
                }
            }
            .content-description {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #444444;
            }
        }
        .price {
            text-align: end;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: right;
            color: #2d5d8c;
        }
    }
    .order-qr-code {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        .image-qr-code {
            width: 36px;
            height: 36px;
        }
    }
    .ms-1 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #444444;
    }
    .img-fluid-1 {
        width: 24px;
        margin-right: 8px;
    }
    .text-right {
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            text-align: right;
            color: #2d5d8c;
            margin-right: 0px;
        }
    }
    .voucher {
        padding-bottom: 21px;
        border-bottom: 1px solid #dbdbdb;
        & > div:nth-child(1) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .coin-stack {
        padding-top: 24px;
        & > div:nth-child(1) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .form-check {
        margin-right: 6px;
    }
    .ms-3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #22232f;
    }
    .stack-wallet-div {
        height: 76px;
        padding: 0px;
    }
    .card-body-mobile {
        padding: 16px 16px 20px 16px;
        border-bottom: 1px solid #dbdbdb;

        .payment-method-mobile {
            .title {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #22232f;
                margin-bottom: 16px;
            }
            .stack-wallet-box {
                background: #f6f9fe;
                border: 1px solid #488bf0;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .wallet-box {
                    display: flex;
                    align-items: center;
                }
                .wallet {
                    display: flex;
                    flex-direction: column;
                    margin-left: 16px;
                    & > span:nth-child(1) {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 135%;
                        color: #000000;
                        margin-bottom: 3px;
                    }
                    & > span:nth-child(2) {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 145%;
                        color: #48525f;
                    }
                }
            }
        }
        .subtotal-items {
            margin-top: 24px;
            margin-bottom: 16px;
            & > span {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #22232f;
            }
        }
        .total-to-pay {
            & > span:nth-child(1) {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #22232f;
            }
            & > span:nth-child(2) {
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 100%;
                text-align: right;
                color: #ed4941;
            }
        }
    }
    .card-footer-mobile {
        padding: 16px 16px 20px 16px;
        .btn-pay-now {
            background: #2d5d8c;
            border-radius: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #ffffff;
            padding: 16px 24px;
            border: none;
            width: 100%;
        }
    }
}
