<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!planReason.id ? l('CreateNewPlanReason') : l('EditPlanReason')">
      <div role="actions">
        <button (click)="openSelectLocationModal()" class="btn btn-primary">
          <i class="fa fa-file"></i> {{l("Locations")}}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form #planReasonForm="ngForm" novalidate class="form planReason-form" (ngSubmit)="save()">

            <div class="row">
              <div class="form-group col-md-6">
                <label for="PlanReason_Reason">{{l("Reason")}} *</label>
                <div class="w-100 d-flex">
                  <input type="text" id="PlanReason_Reason" class="form-control" [(ngModel)]="planReason.reason"
                    name="Reason" #reasonInput="ngModel" required autoFocus [ngClass]="{'w-75': planReason.id}" />
                  <div *ngIf="planReason.id" class="w-25">
                    <button type="button" class="btn btn btn-primary pull-right" (click)="showLanguages()">
                      {{l("Language")}}</button>

                  </div>
                </div>
                <validation-messages [formCtrl]="reasonInput"></validation-messages>
              </div>

              <div class="form-group col-md-6">
                <label for="PlanReason_AliasReason">{{l("AliasReason")}}</label>
                <input type="text" id="PlanReason_AliasReason" class="form-control" [(ngModel)]="planReason.aliasReason"
                  name="AliasReason" />
              </div>

              <div class="form-group col-md-6">
                <label for="PlanReason_ReasonGroup">{{l("TypeCode")}} *</label>
                <div class="input-group">
                  <select id="PlanReason_ReasonGroup" class="form-control" [(ngModel)]="planReason.reasonGroup"
                    name="ReasonGroup" #ReasonGroup="ngModel" required [disabled]="planReason.reasonGroupCheckBox">
                    <option value=""></option>
                    <option *ngFor="let group of reasonGroups" [value]="group.value">
                      {{group.displayText}}
                    </option>
                  </select>
                </div>
                <validation-messages [formCtrl]="ReasonGroup"></validation-messages>

              </div>
              <div class="col-md-6 d-flex">
                <div class="form-group w-25">
                  <div class="checkbox-list">
                    <label for="Reason_reasonGroupCheckBox" class="checkbox">
                      <input id="Reason_reasonGroupCheckBox" type="checkbox" name="ReasonGroupCheckBox"
                        [(ngModel)]="planReason.reasonGroupCheckBox" (change)="checkboxChanged()">
                      {{l("Reason Type Code")}}
                      <span></span>
                    </label>
                  </div>
                </div>
                <div class="form-group w-75" *ngIf="planReason.reasonGroupCheckBox">
                  <label for="Reason_reasonGroup">{{l("TypeCode")}} *</label>
                  <input type="text" id="Reason_reasonGroup" class="form-control" [(ngModel)]="planReason.reasonGroup"
                    name="reasonGroup" #ReasonGroupInput="ngModel" required />
                  <validation-messages [formCtrl]="ReasonGroupInput"></validation-messages>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                (click)="close()">{{l("Cancel")}}</button>
              <button type="submit" class="btn btn-primary blue" [disabled]="!planReasonForm.form.valid"
                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                <span>{{l("Save")}}</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
  </select-location-or-group>
  <createOrEditLanguageDescriptionModal #createOrEditLanguageDescriptionModal> </createOrEditLanguageDescriptionModal>

</div>