<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PlanReasons' | localize" [description]="'PlanReasonsHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getPlanReasons()">
                    {{l("Deleted")}}
                    <span></span>
                </label>
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Master.PlanReasons.Create')"
                    (click)="createOrEditPlanReason()" class="btn btn-primary blue"><i class="fa fa-plus"></i>
                    {{l("CreateNewPlanReason")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getPlanReasons()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex">
                                    <button class="btn btn-primary" type="button"
                                        (click)="openFilterSelectLocationsModal()">
                                        {{l("LocationOrGroup")}}
                                        <span *ngIf="getLocationsSelected(locationOrGroup)">:
                                            {{getLocationsSelected(locationOrGroup)}}</span>
                                    </button>

                                    <div class="flex-fill"></div>

                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{l("Refresh")}}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{l("Search")}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getPlanReasons($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.PlanReasons.Edit', 'Pages.Tenant.Connect.Master.PlanReasons.Delete')">
                                            {{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="reason">
                                            {{l('Reason')}}
                                            <p-sortIcon field="reason"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="aliasReason">
                                            {{l('AliasReason')}}
                                            <p-sortIcon field="aliasReason"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="ReasonGroup">
                                            {{l('ReasonGroup')}}
                                            <p-sortIcon field="ReasonGroup"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="CreationTime">
                                            {{l('CreationTime')}}
                                            <p-sortIcon field="CreationTime"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.PlanReasons.Edit', 'Pages.Tenant.Connect.Master.PlanReasons.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>

                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.PlanReasons.Edit')"
                                                            (click)="createOrEditPlanReason(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.PlanReasons.Delete')"
                                                            (click)="deletePlanReason(record)">{{l('Delete')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isDeleted && isGranted('Pages.Tenant.Connect.Master.PlanReasons.Edit')"
                                                            (click)="activateItem(record)">{{ l('Revert') }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Reason')}}</span>
                                            {{record.reason}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('AliasReason')}}</span>
                                            {{record.aliasReason}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('ReasonGroup')}}</span>
                                            {{record.reasonGroup}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('CreationTime')}}</span>
                                            {{record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getPlanReasons($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setFilterLocations($event)">
</select-location-or-group>
