<!-- feedback -->
<section class="feedback">
    <div class="container">
        <article>
            <div class="heading">
                <h2>How happy are you with Stack Cafeteria @ NPS</h2>
                <span>Your feedback is very important for us</span>
            </div>
            <div class="staring">
                <img src="assets/static/svg/star_right.svg" alt="" />
                <img src="assets/static/svg/star_right.svg" alt="" />
                <img src="assets/static/svg/star_right.svg" alt="" />
                <img src="assets/static/svg/star_right.svg" alt="" />
                <img src="assets/static/svg/star_low.svg" alt="" />
            </div>
            <div class="rating-form">
                <form #emailActivationForm="ngForm" method="post" novalidate (ngSubmit)="save()">
                    <div class="form-group">
                        <textarea [(ngModel)]="feedbackMessage" placeholder="Message" class="form-control" name="feedbackMessage" id="" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </article>
    </div>
</section>
<!-- feedback end -->
