<div class="product-cols" [ngClass]="[isListStyle ? 'list-style' : 'cols-style' , colSetting!= null ? colSetting : '']">
  <div class="product" [ngStyle]="{'maxWidth': colImage == 'col-md-3' ? 'auto' : '300px'}">
    <div class="product-holder row m-0 d-flex">
      <div class="p-0 image" (click)="addItem()">
        <img appProductImage class="top5006 lazyloaded top-1221 img_fluid" loading="lazy"
          data-src="{{ itemData?.image }}" src="{{ itemData?.image }}" />
        <!-- <div class="text-center" *ngIf="itemData.video">
          <button type="button" class="btn btn-default" (click)="displayVideo($event)"><i
              class="fa fa-youtube-play"></i></button>
        </div> -->
      </div>

      <div class="text" (click)="addItem()">
        <div class="cart_item_name">{{ itemData.name }}</div>
        <div class="item-description">
          {{ itemData.description }}
          <br>
          <!-- markItemAs -->
          <img *ngFor="let item of menuItemTagSelected" [src]="item.src" alt="No Image" class="img_icon"
            [title]="item.value">
        </div>

      </div>
      <div class="price">
        <span class="price-number">{{ systemCurrency }} {{ itemData.basePrice | number: "1.2-4" }}
        </span>
      </div>
    </div>
  </div>


  <p-dialog [header]="itemData.name " [(visible)]="displayDialog" [minY]="70" showEffect="fade" [modal]="true"
    [style]="{width: '600px'}" (onAfterHide)="onDialogHide()" [contentStyle]="{padding: '10px', textAlign: 'center'}">
    <div class="video mb-4">
      <video alt="" class="video-section" [src]="itemData.video" controls>
      </video>
      <!-- <video class="w-100" controls autoplay (click)="toggleVideo($event)" #videoPlayer>
        <source src="{{itemData.video}}" type="video/mp4" />
      </video> -->
    </div>
  </p-dialog>
</div>