﻿@model DineConnect.Gateway.Core.Models.Data.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}


<div>
    
    <h3>Are you sure you want to delete this brand?</h3>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Brand Details</h5>
            <p class="card-text"><span style="font-weight: bold"> Name :</span> @Html.DisplayFor(model => model.Name)</p>
            <p class="card-text"><span style="font-weight: bold"> Code :</span> @Html.DisplayFor(model => model.Code)</p>
            <p class="card-text"><span style="font-weight: bold"> CreateDate :</span> @Html.DisplayFor(model => model.CreateDate)</p>
            <p class="card-text"><span style="font-weight: bold"> UpdateDate :</span> @Html.DisplayFor(model => model.UpdateDate)</p>
            
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                      @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
    

 
</div>
