﻿@model DineConnect.Gateway.Core.Models.Data.Brand

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

<h2>Details</h2>

 
    <h4>Brand</h4>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Brand Details</h5>
            <p class="card-text"><span style="font-weight: bold"> Code :</span>@Html.DisplayNameFor(model => model.Code)</p>
            <p class="card-text"><span style="font-weight: bold"> Name :</span> @Html.DisplayFor(model => model.Name)</p>
            <p class="card-text"><span style="font-weight: bold"> CreateDate :</span> @Html.DisplayFor(model => model.CreateDate)</p>
            <p class="card-text"><span style="font-weight: bold"> UpdateDate :</span> @Html.DisplayFor(model => model.UpdateDate)</p>
            
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class = "btn btn-primary"}) |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
 
