﻿@model DineConnect.Gateway.Web.Pagination.PaginationViewModel<DineConnect.Gateway.Core.Models.Data.Brand>

@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@section Scripts {

    <script>
        $(document).ready(function () {
            if (onPageClick) {
                onPageClick(function (event, page) {
                    console.log(page);
                    location.href = '@Url.Action("Index")' + '?page=' + (page - 1);
                });
            }
        });
    </script>
}
<h2>Brands</h2>

<div class="container">
    <div class="row">
        <div style="width: 100%">
            <button style="float: right; margin-bottom: 10px" type="button" class="btn btn-success">
                @Html.ActionLink("Create New", "Create", null, null, new { @style = "color: #fff0f5;" })
            </button>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PaginatedContents())
                        {
                            <tr>
                                <td class="text-center">@item.Id</td>
                                <td>@item.Code</td>
                                <td>@item.Name</td>

                                <td>
                                    <button type="button" rel="tooltip" class=" btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="material-icons">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @style = "color: #fff0f5;" })</i>
                                    </button>
                                    <button type="button" rel="tooltip" class=" btn btn-primary btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="material-icons">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @style = "color: #fff0f5;" })</i>
                                    </button>
                                    <button type="button" rel="tooltip" class="trigger-btn btn btn-danger btn-just-icon btn-sm" data-toggle="modal" onclick="Delete(@item.Id)" data-original-title="" title="">
                                        <i class="material-icons"> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @style = "color: #fff0f5;" }) </i>
                                    </button>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<partial name="~/Views/Shared/_Pagination.cshtml" model="Model" />
