<div class="main-div">
    <table style="width:100%; background: white;">
        <tr>
            <th colspan="4" class="pd-8 dHeadcol text-left">Table / Hour</th>
            <th *ngFor="let item of headerTable" colspan="12" class="pd-8 dHeadcol">{{item}}</th>
        </tr>
        <tr *ngFor="let table of tableList ">
            <td colspan="4">{{table.id}}</td>
            <td [attr.colspan]="item.colspan != 1 ? item.colspan : 1" *ngFor="let item of table.tableDataBook"
                style="text-align: center;">
                <span *ngIf="item.content == '-'">{{item.content}}</span>
                <div *ngIf="item.content != '-'">
                    <a (click)="navigateReservation(table,item)" style="cursor: pointer;"
                        [ngStyle]="{'color': item.status|statuscolor}">{{item.content}}</a>
                </div>
            </td>
        </tr>
    </table>
    <div >
        <table>
            <tr>
                <td class="bg-cancelled"></td>
                <td class="bg-confirmed"></td>
                <td class="bg-enquiry"></td>
                <td class="bg-pending"></td>
                 
            </tr>
            <tr>
                <td class="f-10">Cancelled</td>
                <td class="f-10">Confirmed</td>
                <td class="f-10">Enquiry</td>
                <td class="f-10">Pending</td>
            </tr>
        </table>
    </div>
</div>
