td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.pd-8 {
  padding: 8px;
}

.dHeadcol {
  vertical-align: middle;
  min-width: 100px;
  white-space: nowrap;
  text-align: center;
}

.table > tr > th {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.main-div{
  padding: 0px 15px;
    overflow: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.bg-cancelled{
  background-color: #d1d1d1;
}
.bg-confirmed{
  background-color: #5ac5b6;
}
.bg-enquiry{
  background-color: #85cae7;
}
.bg-pending{
  background-color: #fbc994;
}
.f-10{
  font-size: 10px;
}