<div appBsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModal"
    aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg" *ngIf="initialized">
        <div class="modal-content">
            <div *ngIf="initialized">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{"AddNewEntityDynamicParameter" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="form-group">
                            <label for="Name">{{"Entity" | localize}} *</label>
                            <select class="form-control" [(ngModel)]="entityDynamicParameter.entityFullName" required>
                                <option value="">{{'SelectAnEntity'|localize}}</option>
                                <option *ngFor="let entity of allEntities" [value]="entity">{{ entity }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Name">{{"Parameter" | localize}} *</label>
                            <select class="form-control" [(ngModel)]="entityDynamicParameter.dynamicParameterId"
                                required>
                                <option value="">{{'SelectADynamicParameter'|localize}}</option>
                                <option *ngFor="let parameter of allDynamicParameters" [value]="parameter.id">
                                    {{ parameter.parameterName }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{"Cancel" | localize}}</button>

                    <button type="button" class="btn btn-primary font-weight-bold" (click)="save()"
                        [disabled]="!entityDynamicParameter.entityFullName || !entityDynamicParameter.dynamicParameterId"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
