.zone-accordion .panel-heading
{
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;
}

.zone-accordion .accordion-toggle[aria-expanded="true"]:before {
    content: "\f113";
    font: normal normal normal 16px/1 LineAwesome;
    position: absolute;
    right: 1.5rem;
    top: .7rem;
}

.zone-accordion .accordion-toggle[aria-expanded="false"]:before {
    content: '\f110';
    font: normal normal normal 16px/1 LineAwesome;
    position: absolute;
    right: 1.5rem;
    top: .7rem;
}

.zone-accordion .btn.btn-link:hover
{
    background-color: transparent;
    color: #2739c1;
    text-decoration: none;
}

.zone-accordion .zone-name-heading
{
    display: inline-block;
    margin: 0;
}

.zone-accordion .panel-heading .row
{
    margin: 10px 15px;
    padding: 0;
}
.zone-accordion .panel-body
{
    padding: 0;
}

.zone-accordion .panel-body .row
{
    margin: 15px;
}