.offer-card {
    min-height: 250px;
    height: 100%;

    .offer-price {
        font-size: 16px;
        font-weight: bold;
        float: right;
        color: red;
    }
    .offer-card__description {
        font-size: 12px;
    }

    .offer-delivery-count {
        font-size: 14px;
    }

    .offer-delivery-count span {
        float: right;
        font-weight: bold;
    }

    .offer-actions {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}

.icon-active {
    color: #5867DD;
}

.list-item {
    margin-left: 18px;
    margin-bottom: 18px;
    font-family: Garamond;
    font-size: 16px;
}

::ng-deep {
    .plan-price-details__span--medium img {
        height: 200px;
    }
}
