<section class="summary pad-200 yellow_bg">
    <div class="container">
        <div class="card mb-1">
            <div class="card-body d-flex flex-row justify-content-between align-items-center">
                <h5 class="mb-0">{{ 'Wallet' | localize }}</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div *ngFor="let item of cardList" class="row mb-5">
                    <div class="col-md-8 col-12">
                        <address class="font-weight-bold">
                            <p class="badge-success card-number">{{'Card'}}: {{item.cardNumber}}</p>
                            <p class="text-success">{{'Name'}}: {{ item.customerName | uppercase }}</p>
                            <p class="text-danger" >{{'Balance'}}: {{ appSession.application.currencySign }}{{ item.balance | number: '1.2'}}</p>
                        </address>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="d-flex flex-row justify-content-end align-items-center">
                            <button type="button" class="btn btn-primary px-3" (click)="viewTransaction(item.cardId)">
                                <i class="fa fa-wallet" aria-hidden="true"></i>
                                {{ 'View Transaction' | localize }}
                            </button>
                            <button type="button" class="btn btn-success ml-2" (click)="topup(item.cardNumber)">
                                <i class="fa fa-wallet" aria-hidden="true"></i>
                                {{ 'Topup' | localize }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-transaction-modal #TransactionModal></app-transaction-modal>
