
.card-number {
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    font-size: 15px;
    padding: 1px 10px;
}

form {
    .form-group {
        input {
            border: 1px solid #ced4da;
        }
    }
}
