<!-- <button (click)="show(template)" *ngIf="currentDateTime!=undefined" style="background: none">
    <span class="title">
        {{currentDateTime}}
    </span>
</button>&nbsp; -->

<span *ngIf="currentDateTime!=undefined">
    {{currentDateTime}}
</span>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            Configure time format and timezon
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="name">{{l("Time Format")}}</label>
                            <div class="selection" *ngIf="TimeFormat.length>0">
                                <p-dropdown [options]="TimeFormat" [filter]="true" [style]="{'width':'100%'}"
                                    [autoWidth]="false" placeholder="Select Time Format" name="selectedFormate"
                                    [(ngModel)]="selectedFormate"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">{{l("Timezone")}}</label>
                        <div class="selection" *ngIf="TimeZone.length>0">
                            <p-dropdown [options]="TimeZone" [style]="{'width':'100%'}" [filter]="true"
                                [autoWidth]="false" placeholder="Select Timezone" name="selectedZone"
                                [(ngModel)]="selectedZone"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
                <button class="btn btn-primary blue" type="submit" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>
        </form>
    </div>
</ng-template>