<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!customer.id ? l('CreateNewCustomer') : l('EditCustomer') + ': ' + user.name">
            <div role="actions">
                <button *ngIf="'Pages.Tenants.Create' | permission" class="btn btn-primary" type="button"
                    (click)="createTenant()">
                    <i class="fa fa-plus"></i>{{ 'CreateNewTenant' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #customerForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                        <tabset #tabSet class="tab-container tabbable-line">
                            <tab heading="{{ l('General') }}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="Name">{{ 'Name' | localize }} *</label>
                                        <input id="Name" #nameInput="ngModel" class="form-control" type="text"
                                            name="Name" [(ngModel)]="user.name" required maxlength="64" />
                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="EmailAddress">{{ 'ContactEmail' | localize }} *</label>
                                        <input id="EmailAddress" #emailAddressInput="ngModel" type="email"
                                            name="EmailAddress" class="form-control" [(ngModel)]="user.emailAddress"
                                            required maxlength="256" email />
                                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                                    </div>
                                    <ng-container *ngIf="isTiffinEnableStudentInformation">
                                        <div class="form-group col-sm-6">
                                            <label for="IDCardNumber">{{ 'Student/Staff ID Card Number' | localize }}
                                                *</label>
                                            <input id="IDCardNumber" #IDCardNumberInput="ngModel" type="text"
                                                name="IDCardNumberInput" class="form-control" [(ngModel)]="cardID"
                                                required maxlength="256" />
                                            <validation-messages [formCtrl]="IDCardNumberInput"></validation-messages>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="form-group">
                                                <label for="Grade">{{ 'Grade' | localize }} *</label>
                                                <select class="form-control" #Grade="ngModel" name="grade" id="Grade"
                                                    [(ngModel)]="grade" required>
                                                    <option *ngFor="let grade of grades" [ngValue]="grade">{{ grade }}
                                                    </option>
                                                </select>
                                                <validation-messages [formCtrl]="Grade"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="form-group">
                                                <label for="Section">{{ 'Section' | localize }} *</label>
                                                <select class="form-control" #Section="ngModel" name="section"
                                                    id="Section" [(ngModel)]="section" required>
                                                    <option *ngFor="let section of sections" [ngValue]="section">{{
                                                        section }}</option>
                                                </select>
                                                <validation-messages [formCtrl]="Section"></validation-messages>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="form-group col-sm-6" *ngIf="!customer.id">
                                        <div class="right">
                                            <label for="Password">{{ 'Password' | localize }}</label>
                                            <input id="Password" type="password" name="Password" #Password="ngModel"
                                                id="Password" class="form-control" [(ngModel)]="user.password"
                                                [required]="!user.id && !setRandomPassword" maxlength="32"
                                                [requireDigit]="passwordComplexitySetting.requireDigit"
                                                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                                [requiredLength]="passwordComplexitySetting.requiredLength"
                                                validateEqual="PasswordRepeat" reverse="true"
                                                autocomplete="new-password" />
                                        </div>
                                        <div [hidden]="setRandomPassword || customerForm.form.valid || customerForm.form.pristine"
                                            *ngIf="!customer.id">
                                            <ul class="help-block text-danger"
                                                *ngIf="customerForm.controls['Password'] && customerForm.controls['Password'].errors">
                                                <li [hidden]="!customerForm.controls['Password'].errors.requireDigit">
                                                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="!customerForm.controls['Password'].errors.requireLowercase">
                                                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="!customerForm.controls['Password'].errors.requireUppercase">
                                                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="!customerForm.controls['Password'].errors.requireNonAlphanumeric">
                                                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                                </li>
                                                <li [hidden]="!customerForm.controls['Password'].errors.requiredLength">
                                                    {{
                                                    'PasswordComplexity_RequiredLength_Hint'
                                                    | localize: passwordComplexitySetting.requiredLength
                                                    }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6" *ngIf="!customer.id">
                                        <div class="right">
                                            <label for="PasswordRepeat">{{ 'PasswordRepeat' | localize }}</label>
                                            <input id="PasswordRepeat" type="password" name="PasswordRepeat"
                                                #PasswordRepeat="ngModel" class="form-control"
                                                [(ngModel)]="userPasswordRepeat"
                                                [required]="!user.id && !setRandomPassword" maxlength="32"
                                                [requireDigit]="passwordComplexitySetting.requireDigit"
                                                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                                [requiredLength]="passwordComplexitySetting.requiredLength"
                                                validateEqual="Password" reverse="false" autocomplete="new-password" />
                                        </div>
                                        <div *ngIf="!customer.id" [hidden]="
                                                setRandomPassword ||
                                                customerForm.form.valid ||
                                                customerForm.form.pristine ||
                                                !customerForm.controls['Password'].touched
                                            ">
                                            <ul class="help-block text-danger" *ngIf="
                                                    customerForm.controls['PasswordRepeat'] &&
                                                    customerForm.controls['PasswordRepeat'].errors
                                                ">
                                                <li
                                                    [hidden]="!customerForm.controls['PasswordRepeat'].errors.requireDigit">
                                                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="!customerForm.controls['PasswordRepeat'].errors.requireLowercase">
                                                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="!customerForm.controls['PasswordRepeat'].errors.requireUppercase">
                                                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="!customerForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">
                                                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="!customerForm.controls['PasswordRepeat'].errors.requiredLength">
                                                    {{
                                                    'PasswordComplexity_RequiredLength_Hint'
                                                    | localize: passwordComplexitySetting.requiredLength
                                                    }}
                                                </li>
                                                <li [hidden]="customerForm.controls['PasswordRepeat'].valid">
                                                    {{ 'PasswordsDontMatch' | localize }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="PhoneNumber">{{ 'ContactPhone' | localize }}</label>
                                        <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-control"
                                            [(ngModel)]="user.phoneNumber" maxlength="32" />
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="Address1">{{ 'Address1' | localize }} </label>
                                        <input id="Address1" #Address1Input="ngModel" class="form-control" type="text"
                                            name="Address1" [(ngModel)]="customer.address1" />
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="Address2">{{ 'Address2' | localize }} </label>
                                        <input id="Address2" #Address2Input="ngModel" class="form-control" type="text"
                                            name="Address2" [(ngModel)]="customer.address2" />
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="Address3">{{ 'Address3' | localize }} </label>
                                        <input id="Address3" #Address3Input="ngModel" class="form-control" type="text"
                                            name="Address3" [(ngModel)]="customer.address3" />
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="Country">{{ l('Country') }}: &#160;</label>
                                        <select id="Country" class="form-control" [(ngModel)]="customer.countryId"
                                            name="Country" #Country="ngModel"
                                            (change)="changeCountry(customer.countryId)">
                                            <option [value]="undefined">
                                                {{ 'Select_Country' | localize }}
                                            </option>
                                            <option *ngFor="let item of lstCountry" [value]="item.value">
                                                {{ item.displayText }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="City">{{ l('City') }}</label>
                                        <select id="City" class="form-control" [(ngModel)]="customer.cityId" name="City"
                                            #City="ngModel">
                                            <option [value]="undefined">
                                                {{ 'Select_City' | localize }}
                                            </option>
                                            <option *ngFor="let item of lstCity" [value]="item.value">
                                                {{ item.displayText }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="PostcalCode">{{ 'PostalCode' | localize }} </label>
                                        <input id="PostcalCode" #PostcalCode="ngModel" class="form-control" type="text"
                                            name="PostcalCode" [(ngModel)]="customer.postcalCode" />
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="Zone">{{ l('Zone') }}</label>
                                        <select id="Zone" class="form-control" [(ngModel)]="customer.zone" name="Zone"
                                            #Zone="ngModel">
                                            <option *ngFor="let item of zoneOptions" [ngValue]="item.value"
                                                filter="true">
                                                {{ item.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Address') }}" *ngIf="customerId > 0" tabindex="1">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="address-book">
                                                <div class="row" style="margin-bottom: 20px">
                                                    <div class="col-md-12">
                                                        <div>
                                                            <h5>{{ 'MyDeliveryAddress' | localize }}</h5>
                                                        </div>
                                                        <button type="button" class="btn btn-primary pull-right"
                                                            (click)="viewAddress()">
                                                            {{ 'AddNewAddress' | localize }}
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row" *ngFor="let item of listAddress">
                                                    <div class="col-md-8">
                                                        <address>
                                                            <b *ngIf="item.isDefault" class="default-title">Default</b>
                                                            <br />
                                                            <label class="address-name btn" *ngIf="item.name"><i>{{
                                                                    item.name }}</i></label>
                                                            <label class="w-100" *ngIf="item.phoneNumber">+{{
                                                                item.callingCode }}{{ item.phoneNumber }}</label>
                                                            <label class="w-100" *ngIf="item.whatAppNumber">{{
                                                                item.whatAppNumber }}</label>
                                                            <label class="w-100">{{ item.address1 }}</label>
                                                            <label class="w-100">{{ item.address2 }}</label>
                                                            <label class="w-100">{{ item.address3 }}</label>
                                                        </address>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-success" type="button"
                                                            [disabled]="item.isDefault"
                                                            (click)="setDefaultAddress(item.addressId)">
                                                            {{ 'SetDefault' | localize }}
                                                        </button>
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="viewAddress(item.addressId)">
                                                            <i class="fas fa-edit"></i>
                                                            {{ 'Edit' | localize }}
                                                        </button>
                                                        <button type="button" class="btn btn-default"
                                                            [disabled]="item.isDefault"
                                                            (click)="deleteAddress(item.addressId)">
                                                            <i class="fas fa-trash-alt"></i>
                                                            {{ 'Delete' | localize }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Vouchers') }}" customClass="kt-tabs__item" tabindex="2" class="p-5">
                                <div [class]="containerClass">
                                    <div class="card card-custom gutter-b">
                                        <div class="card-body">
                                            <form class="form" autocomplete="off">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-12">
                                                        <div class="form-group m-form__group align-items-center">
                                                            <div class="input-group d-flex">
                                                                <p-autoComplete [(ngModel)]="selectedPromotionCode"
                                                                    id="promotionCode" [completeOnFocus]="true"
                                                                    [suggestions]="promotionCodes"
                                                                    (completeMethod)="getPromotionCodes($event)"
                                                                    field="code" placeholder="{{ l('TypeSomethings') }}"
                                                                    [minLength]="1" name="promotionCode"
                                                                    inputStyleClass="form-control"
                                                                    styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                                <span class="input-group-btn flex-shrink-1">
                                                                    <button type="button"
                                                                        [disabled]="!selectedPromotionCode"
                                                                        (click)="addPromotionCodes()"
                                                                        class="btn btn-primary">
                                                                        <i class="fa fa-plus" aria-hidden="true"></i>{{
                                                                        'Add' | localize }}
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="row align-items-center">
                                                <!--<Primeng-Datatable-Start>-->
                                                <div class="primeng-datatable-container col-12"
                                                    [busyIf]="primengTableHelper.isLoading">
                                                    <p-table #dataTable (onLazyLoad)="getAssignedPromotionCodes($event)"
                                                        [value]="primengTableHelper.records"
                                                        [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                        [paginator]="false" [lazy]="true" [scrollable]="true"
                                                        ScrollWidth="100%"
                                                        [responsive]="primengTableHelper.isResponsive"
                                                        [resizableColumns]="primengTableHelper.resizableColumns">
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th style="width: 130px">
                                                                    {{ l('Actions') }}
                                                                </th>
                                                                <th pSortableColumn="code">
                                                                    {{ l('Voucher') }}
                                                                    <p-sortIcon field="code"></p-sortIcon>
                                                                </th>
                                                                <th pSortableColumn="isClaimed">
                                                                    {{ l('Claimed') }}
                                                                    <p-sortIcon field="isClaimed"></p-sortIcon>
                                                                </th>
                                                                <th pSortableColumn="claimedTime">
                                                                    {{ l('Date') }}
                                                                    <p-sortIcon field="claimedTime"></p-sortIcon>
                                                                </th>
                                                                <th>
                                                                    {{ l('Action') }}
                                                                </th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-record="$implicit">
                                                            <tr>
                                                                <td style="width: 150px">
                                                                    <span class="ui-column-title"> {{ l('Action')
                                                                        }}</span>
                                                                    <button *ngIf="!record.isClaimed"
                                                                        (click)="deleteCode(record)" type="button"
                                                                        class="btn btn-danger btn-sm">
                                                                        <i class="fa fa-trash" aria-hidden="true"></i>{{
                                                                        'Delete' | localize }}
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <span class="ui-column-title"> {{ l('Voucher')
                                                                        }}</span>
                                                                    {{ record.code }}
                                                                </td>
                                                                <td>
                                                                    <span class="ui-column-title">{{ 'Claimed' |
                                                                        localize }}</span>
                                                                    <span class="label label-success label-inline"
                                                                        *ngIf="record.isClaimed">{{ 'Yes' | localize
                                                                        }}</span>
                                                                    <span class="label label-dark label-inline"
                                                                        *ngIf="!record.isClaimed">{{
                                                                        'No' | localize
                                                                        }}</span>
                                                                </td>
                                                                <td>
                                                                    <span class="ui-column-title"> {{ l('Date')
                                                                        }}</span>
                                                                    {{ record.claimedTime | momentFormat: 'YYYY-MM-DD'
                                                                    }}
                                                                </td>
                                                                <td>
                                                                    <span class="ui-column-title"> {{ l('Action')
                                                                        }}</span>
                                                                    <button *ngIf="!record.isClaimed" type="buton"
                                                                        (click)="sendEmail(record)"
                                                                        class="btn btn-primary btn-sm">
                                                                        <i class="fa fa-envelope"
                                                                            aria-hidden="true"></i>
                                                                        {{ 'SendEmail' | localize }}
                                                                    </button>
                                                                    <button *ngIf="!record.isClaimed" type="button"
                                                                        (click)="sendWhatsApp(record)"
                                                                        class="btn btn-primary btn-sm">
                                                                        <i class="la la-whatsapp"
                                                                            aria-hidden="true"></i>
                                                                        {{ 'SendWhatsApp' | localize }}
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <div class="primeng-no-data"
                                                        *ngIf="primengTableHelper.totalRecordsCount == 0">
                                                        {{ l('NoData') }}
                                                    </div>
                                                    <div class="primeng-paging-container">
                                                        <p-paginator #paginator
                                                            [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                            (onPageChange)="getAssignedPromotionCodes($event)"
                                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                                        </p-paginator>
                                                        <span class="total-records-count">
                                                            {{ l('TotalRecordsCount',
                                                            primengTableHelper.totalRecordsCount) }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <!--<Primeng-Datatable-End>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>

                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                (click)="close()">
                                {{ 'Cancel' | localize }}
                            </button>
                            <button type="submit" class="btn btn-primary" [disabled]="!customerForm.form.valid"
                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
