<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Customers' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
                    {{l("ExportToExcel")}}</button>
                <button (click)="createOrEditCustomer()" class="btn btn-primary blue"
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Customer.Customers.Create')"><i class="fa fa-plus"></i>
                    {{l("CreateNewCustomer")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <app-dynamic-table #dtable></app-dynamic-table>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>