subscription-notification-bar,
active-delegated-users-combo,
quick-theme-selection,
language-switch-dropdown,
header-notifications,
chat-toggle-button,
user-menu{
    display: flex;
}

#notificationIcon,
#chatIconUnRead{
    position: relative;
}

.theme-selection-link {
    cursor: pointer;
}

.dropdown-language .navi-link i.famfamfam-flags {
    display: inline-block;
}


header-notifications .dropdown-menu{
    max-width: 400px;
}

.input-group span.input-group-btn button {
    border-bottom-right-radius: 3.5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3.5px;
    border-top-left-radius: 0px;
}

.input-group span.input-group-btn button i {
    font-size: 1rem;
    color: white;
    padding-right: 0px;
}

html[dir="rtl"] .input-group span.input-group-btn button {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 3.5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 3.5px;
}

.small-profile-pic {
    height: 30px;
}

.easy-pie-chart {
    text-align: center;
}

.easy-pie-chart .number {
    font-size: 14px !important;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 75px;
    height: 75px;
    line-height: 75px;
}

.easy-pie-chart .number canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.easy-pie-chart .title {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.easy-pie-chart .title:hover {
    text-decoration: none;
}

.easy-pie-chart .title > i {
    margin-top: 5px;
}

.modal .modal-content .modal-header .close:before {
    cursor: pointer !important;
}

.kt-badge.kt-badge--inline {
    border-radius: 2px;
}

.kt-header__topbar-user {
    display: flex;
}

.mobile-subscription-warning {
    background-color: #fff;
}

.kt-quick-panel {
    overflow-y: hidden !important;
}

.kt-grid.kt-grid--hor.kt-grid--root {
    height: 100vh;
}

.form-control:disabled {
    background-color: #f4f4f4 !important;
}

.unread-notification {
    color: #e74c3c !important;
}

.swal2-container {
    cursor: pointer;
}

.dropdown-menu,
bs-dropdown-container {
    z-index: 101 !important;
}

.menuSearchBarInput {
    font-family: "Poppins" !important;
    border-radius: 5px !important;
    height: 40px !important;
    margin-left: 14px !important;
    padding-left: 36px !important;
}

.menuSearchBarContainer::before {
    content: "\f2eb";
    position: absolute;
    left: 28px;
    top: 13px;
    z-index: 234234234;
    display: inline-block;
    font: normal normal normal 16px/1 "LineAwesome";
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
}

.kt-header__topbar .dropdown-toggle::after {
    display: none;
}
.btn-refresh {
    background: #515556;
}

.btn-primary {
    color: #fff;
    background-color: #515556;
    border-color: #515556;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
    color: #80807f;
    background-color: #f3dc5e;
    border-color: #f3dc5e;
}

.btn-primary.focus,
.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #515556;
    border-color: #515556;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #515556;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body
    .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item-group.ui-state-highlight {
    background-color: #515556;
}

body
    .ui-multiselect-panel
    .ui-multiselect-items
    .ui-multiselect-item.ui-state-highlight {
    background-color: #515556;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #80807f;
    background-color: #80807f;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #515556;
    background-color: #515556;
}

input[type="checkbox"],
input[type="radio"] {
    filter: grayscale(1);
}

.swal2-styled.swal2-confirm {
    background-color: #515556;
}
