<div class="logout">
    <div class="container">
        <img src="/assets/image/close.png" class="icon-close" mat-dialog-close >
        <div class="logout-content">
            <img src="/assets/image/logout.png">
            <div class="text">
                Are you sure to Logout now? 
            </div>
        </div>
        <div class="logout-line"></div>
        <div class="logout-back-menu">
            <button mat-dialog-close>No</button>
            <button (click)="logout()">Yes</button>
        </div>
    </div>
</div>