::ng-deep {
    .cdk-overlay-dark-backdrop {
        background: rgba(18, 36, 54, 0.7);
    }
    .dialog-logout {
        position: relative !important;
        .mat-dialog-container {
            background-image: url("/assets/image/background-thank-for-feedback.png");
            padding: 0px;
            background-repeat: no-repeat;
        }
    }
}
.logout {
    &-content {
        height: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text {
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            color: #2d5d8c;
            width: 290px;
            margin-top: 16px;
        }
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        .icon-close {
            position: absolute;
            top: 23px;
            right: 23px;
            cursor: pointer;
        }
    }
    &-line {
        height: 1px;
        width: 100%;
        background: #ededed;
        margin-bottom: 32px;
    }
    &-back-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        & > button:nth-child(1) {
            border: 1px solid #2d5d8c;
            box-sizing: border-box;
            border-radius: 10px;
            height: 48px;
            width: 216px;
            background: white;
            color: #2d5d8c;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            margin-right: 8px;
        }
        & > button:nth-child(2) {
            background: #2d5d8c;
            border-radius: 10px;
            color: white;
            height: 48px;
            width: 216px;
            border: none;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #ffffff;
            margin-left: 8px;
        }
    }
}
