
 :host ::ng-deep{
    .slick-custom-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
     .slick-custom-dots li {
        line-height: normal;
        width: 8%;
    }
      .slick-custom-dots li button {
        background-color: #cecece;
        border: 0;
        color: transparent;
        overflow: hidden;
        height: 24px;
        width:24px;
        display: block;
        padding: 0;
        border-radius: 100%;
        margin: 0 auto 10px auto;
    }
      .slick-custom-dots li.slick-active button {
        background-color: #ffa800;
    }
     .next-btn-wrapper {
        position: fixed;
        bottom: -55px;
        width: 100%;
        left: 0;
        padding-left: 100px;
        padding-right: 100px;
        display: none;
        -webkit-transition: bottom 0.3s ease-in-out;
        transition: bottom 0.3s ease-in-out;
    }
    .slick-custom-dots li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 8%;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }

    .slick-custom-dots li:before {
        width: 24px;
        height: 24px;
        line-height: 26px;
        display: block;
        font-size: 12px;
        color: #333;
        background: white;
        border-radius: 25px;
        margin: 0 auto 10px auto;
    }

    /*progressbar connectors*/
    .slick-custom-dots li:after {
        content: '';
        width: 100%;
        height: 4px;
        background: #f2dfbc;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1; /*put it behind the numbers*/
    }

    .slick-custom-dots li:first-child:after {
        content: none;
    }
    .slick-custom-dots li.slick-active:before, .slick-custom-dots li.slick-active:after ,.slick-custom-dots li.active button  {
        background-color:#ffa800;
    }
    .slick-custom-dots li.active:before, .slick-custom-dots li.active:after {
        background-color:#ffa800;
    }
    .slick-custom-dots li.slick-active .slick-custom-dots li {
        background-color: #ffa800;
    }
 }
