<div class="index-slider">
    <!-- home banner starts here -->
    <aside>
        <div class="section__block">
            <!-- home banner starts here -->
            <section class="home-banner">
                <!-- home banner slider -->
                <div class="home-banner-slider">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="home-slider-item" style="background-image: url('./assets/static/img/Banner.png')"></div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- home banner slider ends -->

                <article>
                    <div class="container">
                        <aside>
                            <h6 class="text-orange"><img style="display: inline" src="./assets/static/svg/location.svg" alt="" />Singapore</h6>
                            <h1>THE PLEASURE OF VARIETY AT EVERY MEAL</h1>
                        </aside>
                    </div>
                </article>

                <div class="banner-button">
                    <div class="container">
                        <div class="row justify-content-center">
                            <button type="button" class="btn orange-btn">BOOK A PLAN NOW</button>
                        </div>
                    </div>
                </div>

                <div class="banner-meal-time-1">
                    <div class="d-flex flex-row align-items-center">
                        <div class="meal-image">
                            <img src="./assets/static/svg/breakfast-image.svg" alt="" />
                        </div>
                        <div class="meal-time">Breakfast</div>
                    </div>
                </div>
                <div class="banner-meal-time-2">
                    <div class="d-flex flex-row align-items-center">
                        <div class="meal-image">
                            <img src="./assets/static/svg/lunch-image.svg" alt="" />
                        </div>
                        <div class="meal-time">Lunch</div>
                    </div>
                </div>
                <div class="banner-meal-time-3">
                    <div class="d-flex flex-row align-items-center">
                        <div class="meal-image">
                            <img src="./assets/static/svg/dinner-image.svg" alt="" />
                        </div>
                        <div class="meal-time">Dinner</div>
                    </div>
                </div>
            </section>
            <!-- home banner ends here -->
        </div>
    </aside>
    <!-- home banner ends here -->

    <!-- what makes us diffrent -->
    <aside>
        <div class="section__block background-custom" style="background-image: url('./assets/static/img/about-bg.png')">
            <!-- banner ends -->
            <!-- what makes us diffrent -->
            <section class="What_makes_us_different">
                <div class="container">
                    <article style="position: relative">
                        <img style="position: absolute; left: -180px; transform: rotate(-95deg); bottom: -17px" src="./assets/static/svg/vector.svg" alt="" />

                        <img style="position: absolute; right: -180px; transform: rotate(95deg); bottom: -37px" src="./assets/static/svg/vector.svg" alt="" />

                        <h2>What makes us different?</h2>
                        <div class="row">
                            <!-- Flexible option  -->
                            <div class="col-sm col-lg-4 col-sm-6 card_parent">
                                <!-- card -->
                                <a href="./order.html" class="card">
                                    <img src="./assets/static/svg/flexible-option.svg" class="card-img-top" alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">FLEXIBLE OPTIONS</h5>
                                        <p class="card-text">Choose your date / location / meal choices / portions</p>
                                    </div>
                                </a>
                                <!-- card ends -->
                            </div>
                            <!-- Flexible option ends -->

                            <!-- Multiple choice -->
                            <div class="col-sm col-lg-4 col-sm-6 card_parent">
                                <!-- card -->
                                <a href="menu-plans.html" class="card">
                                    <img src="./assets/static/svg/multiple-choice.svg" class="card-img-top" alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">MULTIPLE CHOICES</h5>
                                        <p class="card-text">Rotating weekly menu specially curated to satisfy diverse palates</p>
                                    </div>
                                </a>
                                <!-- card ends -->
                            </div>
                            <!-- Multiple choice ends -->

                            <!-- ECONOMICAL PLANS -->
                            <div class="col-sm col-lg-4 col-sm-6 card_parent">
                                <!-- card -->
                                <a href="./menu-plans.html" class="card">
                                    <img src="./assets/static/svg/wallet.svg" class="card-img-top" alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">Economical Plans</h5>
                                        <p class="card-text">Single / Daily / Flexi Meal Plans</p>
                                    </div>
                                </a>
                                <!-- card ends -->
                            </div>
                            <!-- ECONOMICAL PLANS ends -->
                        </div>
                    </article>
                </div>
            </section>
            <!-- what makes us diffrent -->
        </div>
    </aside>
    <!-- what makes us diffrent -->

    <!-- delivery time -->
    <aside>
        <div class="section__block">
            <!-- delivery time -->
            <section class="delivery-time">
                <div class="container-fluid">
                    <article style="position: relative">
                        <img style="position: absolute; left: -150px; transform: rotate(82deg); bottom: -500px" src="./assets/static/svg/vector-2.svg" alt="" />
                        <img
                            style="position: absolute; right: -386px; transform: rotate(86deg); bottom: -350px"
                            src="./assets/static/svg/vector-2.svg"
                            alt=""
                        />
                        <div class="row">
                            <!-- order block -->
                            <div class="col-md-4 col-sm-12">
                                <div class="block">
                                    <div class="block-image">
                                        <img src="./assets/static/svg/breakfast-image.svg" alt="" />
                                    </div>
                                    <div class="block-label">
                                        <button style="width: 200; margin-top: -20px" class="btn orange-btn">Breakfast</button>
                                    </div>
                                    <div>
                                        <div class="block-content-time text-green">Delivery between: 7:00 AM - 10:00 AM</div>
                                        <div class="block-content-description">
                                            <span class="block-content-description__span">Order to be placed 1 day in advance, before 5pm.</span>
                                            <span class="block-content-description__span">Orders for the same day will not be accepted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- order block ends -->

                            <!-- order block -->
                            <div class="col-md-4 col-sm-12">
                                <div class="block">
                                    <div class="block-image">
                                        <img src="./assets/static/svg/lunch-image.svg" alt="" />
                                    </div>
                                    <div class="block-label">
                                        <button style="width: 200; margin-top: -20px" class="btn orange-btn">Lunch</button>
                                    </div>
                                    <div>
                                        <div class="block-content-time text-green">Delivery between: 10:00 AM - 4:00 PM</div>
                                        <div class="block-content-description">
                                            <span class="block-content-description__span">Order to be placed 1 day in advance, before 4pm.</span>
                                            <span class="block-content-description__span">Orders for the same day will not be accepted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- order block ends -->
                            <!-- order block -->
                            <div class="col-md-4 col-sm-12">
                                <div class="block">
                                    <div class="block-image">
                                        <img src="./assets/static/svg/dinner-image.svg" alt="" />
                                    </div>
                                    <div class="block-label">
                                        <button style="width: 200; margin-top: -20px" class="btn orange-btn">Dinner</button>
                                    </div>
                                    <div>
                                        <div class="block-content-time text-green">Delivery between: 4:00 PM - 8:00 PM</div>
                                        <div class="block-content-description">
                                            <span class="block-content-description__span">Order to be placed 1 day in advance, before 4pm.</span>
                                            <span class="block-content-description__span">Orders for the same day will not be accepted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- order block ends -->
                        </div>
                    </article>
                </div>
            </section>
            <!-- delivery time ends -->
        </div>
    </aside>
    <!-- delivery time ends -->

    <!-- home faq -->
    <aside>
        <section class="home-faq">
            <div class="container-fluid">
                <article style="position: relative">
                    <img style="position: absolute; right: -330px; transform: rotate(86deg); bottom: -602px" src="./assets/static/svg/vector-2.svg" alt="" />
                    <h2>Common questions</h2>

                    <!-- faq Accordion -->
                    <div class="faq-accordion-container">
                        <app-collapse-questions [questions]="questions"></app-collapse-questions>
                    </div>
                    <!-- faq Accordion ends -->

                    <div class="link-block">
                        <span>Have other questions?</span>
                        <a [routerLink]="['faq']">VISIT FAQ</a>
                    </div>
                </article>
            </div>
        </section>
    </aside>

    <!-- home faq end -->

    <!-- home contact -->
    <aside>
        <div class="section__block">
            <!-- home contact -->
            <section class="home-contact">
                <div class="container-fluid">
                    <article style="position: relative">
                        <img
                            style="position: absolute; right: -250px; transform: rotate(86deg); bottom: -565px"
                            src="./assets/static/svg/vector-2.svg"
                            alt=""
                        />
                        <h2 class="py-3">Contact us</h2>
                        <p style="font-size: 14px">Drop us a message via WhatsApp or Email should you have any enquiries!</p>

                        <div class="contact-block-container">
                            <!-- contact block -->
                            <div class="contact-block">
                                <img src="./assets/static/svg/whatsapp_yellow.svg" alt="" />
                                <a href="https://wa.me/+6598588841">+65 98588841</a>
                            </div>
                            <!-- contact block ends -->

                            <!-- contact block -->
                            <div class="contact-block">
                                <img src="./assets/static/svg/mail-icon.svg" alt="" />
                                <a href="mailto:sales@dabbajunction.com">sales@dabbajunction.com</a>
                            </div>
                            <!-- contact block ends -->
                        </div>
                    </article>
                </div>
            </section>
            <!-- home contact ends -->
        </div>
    </aside>
    <!-- home contact ends -->

    <!-- home faq -->
    <aside>
        <section class="home-faq">
            <div class="container">
                <article style="position: relative">
                    <img style="position: absolute; right: -550px; transform: rotate(86deg); bottom: -303px" src="./assets/static/svg/vector-2.svg" alt="" />

                    <h2>About us</h2>
                    <div class="white_bg p-3">
                        <p>
                            Tiffin is a subsidiary of Food Stack Concepts – a multi-brand F&B conglomerate providing multiple services including but
                            not limited to, restaurants, catering services, white label services, tiffin services, institutional supplies, QSR concepts and
                            multi-cuisine cloud kitchen concepts.
                        </p>
                        <p>
                            At Tiffin, we are committed to delivering delightful food experiences in everything that we do. And in keeping with that
                            mission, we are launching a brand-new pre-order system that is entirely cashless allowing students to manage payments easily whilst
                            giving parents complete control of their children’s nutrition and school spending. Not only does this help reduce food wastage but
                            it is also a great way to manage allergens and dietary requirements.
                        </p>
                        <p>
                            Parents and students view menu choices online and order and pay in advance anytime, from any device whether from home or on the go.
                            Our subscription-based meal plans are flexible and convenient giving you the option to pre- order for the entire month or week in
                            advance. And it’s as easy as 123. Choose your meals from the online menu, submit your orders and pick them up in the cafeteria. You
                            can always go back to change or cancel your orders before the order cut-off time.
                        </p>
                        <p>
                            The all-new revamped menu is tailored to suit your school and offers a multitude of options featuring a variety of cuisines that
                            includes healthy and nutritious meal options for vegetarians and non-vegetarians. All our products are made fresh every morning and
                            packaged in our ISO 22000, HACCP Halal certified central kitchen.
                        </p>
                    </div>
                </article>
            </div>
        </section>
    </aside>

    <!-- home faq end -->
</div>
