<form #editForm="ngForm" novalidate (ngSubmit)="applyFilter()" class="px-4">
    <div class="modal-header px-3">
        <h5 class="modal-title">
            <span>{{l('Filter Options')}}</span>
        </h5>
    </div>
    <div class="modal-body px-3">
        <div class="row">
            <div class="form-group col-md-12 filterationMainClass" *ngFor="let item of childArrayListForFilter">
                <label for="">{{ item.label }}</label>
                <input
                    *ngIf="item.type === 'number'"
                    type="number"
                    [name]="item.name"
                    class="form-control fliterationFieldClass"
                    [attr.data-FilterName]="item.name"
                    [attr.data-type]="item.type"
                />

                <input
                    *ngIf="item.type === 'string'"
                    type="text"
                    [name]="item.name"
                    class="form-control fliterationFieldClass"
                    [attr.data-FilterName]="item.name"
                    [attr.data-type]="item.type"
                />
            </div>
        </div>
    </div>

    <div class="modal-footer px-3">
        <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
        <div style="flex: auto;"></div>
        <button type="reset" class="btn btn-danger">{{ l('Clear') }}</button>
        <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">
            <span>{{ l('Apply') }}</span>
        </button>
    </div>
</form>
