.card-custom>.card-body {
    padding: 1rem 1.25rem;
    color: #fff;
}

.bg--success {
    background-color: #28a745;
    border-radius: 0.24rem;
}

.bg--danger {
    background-color: #dc3545;
    border-radius: 0.24rem;
}

.inner {
    z-index: 5;
    h3{
        font-size: 2.2rem;
        font-weight: 700;
        margin: 0 0 10px;
        padding: 0;
        white-space: nowrap;
    }
    p{
        font-size: 1.2rem;
    }
    
}

.icon {
    // color;
    z-index: 0;
    .fa {
        position: absolute;
        right: 15px;
        transform: scale(1.1);
        transition: transform .3s linear,-webkit-transform .3s linear;
        font-size: 50px;
        top: 30px;
        color:#fff;
    }
    .fa-donate{
        right: 2.2rem;
    }
}