<div class="row row-no-padding row-col-separator-xl h-100" [perfectScrollbar]>
  <div class="col pr-0">
    <div class="card-custom bg--success bgi-no-repeat card-stretch new-subscription-statistics h-100">
      <div class="card-body bg--success ">
        <div class="inner">
          <h3><span counto [step]="30" [duration]="1"
            [countFrom]="0" [countTo]="dashboardTopStats.totalOrders"
            (countoChange)="dashboardTopStats.totalOrdersCounter = $event">
                 {{dashboardTopStats.totalOrdersCounter.toFixed(0)}}
             </span></h3>

          <p>Total Orders</p>
        </div>
        <div class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-custom bg--danger bgi-no-repeat card-stretch new-subscription-statistics h-100">
      <div class="card-body ">
        <div class="inner">
          <h3>$<span counto [step]="30" [duration]="1"
            [countFrom]="0" [countTo]="dashboardTopStats.totalSales"
            (countoChange)="dashboardTopStats.totalSalesCounter = $event">
                 {{dashboardTopStats.totalSalesCounter.toFixed(0)}}
             </span></h3>

          <p>Total Sales</p>
        </div>
        <div class="icon">
          <i class="fa fa-donate"></i>

        </div>
      </div>
    </div>
</div>
</div>