<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!numerator.id ? l('CreateNumerator') : l('EditNumerator') + ': ' + numerator.name"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #numeratorForm="ngForm" novalidate class="form numerator-form" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("Name")}} *</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="Name"
                                        #name="ngModel"
                                        [(ngModel)]="numerator.name"
                                        required
                                    />
                                    <validation-messages [formCtrl]="name"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("NumberFormat")}}</label>
                                    <input
                                        class="form-control upper"
                                        type="text"
                                        name="NumberFormat"
                                        #numberFormat="ngModel"
                                        [(ngModel)]="numerator.numberFormat"
                                    />
                                    <validation-messages [formCtrl]="numberFormat"></validation-messages>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("OutputFormat")}}</label>
                                    <input
                                        class="form-control upper"
                                        type="text"
                                        name="OutputFormat"
                                        #outputFormat="ngModel"
                                        [(ngModel)]="numerator.outputFormat"
                                    />
                                    <validation-messages [formCtrl]="outputFormat"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6 margin-top-30">
                                <div class="form-group">
                                    <div class="checkbox-list mt-8">
                                        <label for="resetNumerator" class="checkbox">
                                            <input id="resetNumerator" type="checkbox"
                                                name="resetNumerator" [(ngModel)]="numerator.resetNumerator">
                                                {{l("Reset")}} {{l("Numerator")}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="numerator.resetNumerator">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">{{l("Reset")}} {{l("Numerator")}} {{l("Type")}}</label>
                                    <select [(ngModel)]="numerator.resetNumeratorType" class="custom-select" name="resetNumeratorType" id="resetNumeratorType">
                                        <option [ngValue]="undefined" hidden>{{ 'Select' | localize }}</option>
                                        <option *ngFor="let item of resetNumeratorTypes" [ngValue]="+item.value">{{ item.displayText }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                            <button
                                type="submit"
                                class="btn btn-primary blue"
                                [disabled]="!numeratorForm.form.valid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                            >
                                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
