.offer-card {
    min-height: 150px;
}

.offer-price {
    font-size: 16px;
    font-weight: bold;
    float: right;
    color: red;
}

.offer-delivery-count {
    font-size: 14px;
}

.offer-delivery-count span {
    float: right;
    font-weight: bold;
}

.offer-actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
