<div class="wrapper-payment">
    <div class="wrapper-order-info">
        <div id="header-order-info">
            <span>{{ orderInfoLbl}}</span>
        </div>
        <div class="order-info">
            <p class="user-info">
                <span>Name</span>
                <strong>{{ wheelBillingInfo?.name }}</strong>
            </p>
            <p class="user-info">
                <span>Email</span>
                <strong>{{ wheelBillingInfo?.emailAddress }}</strong>
            </p>
            <p class="user-info">
                <span>Phone</span>
                <strong>{{ wheelBillingInfo?.phoneNumber }}</strong>
            </p>
            <p class="user-info">
                <span>Department</span>
                <strong>{{ wheelBillingInfo?.wheelDepartmentName}}</strong>
            </p>
            <p class="user-info">
                <span>Table</span>
                <strong>{{ orderInfo?.order.tableName}}</strong>
            </p>
            <p class="user-info">
                <span>Order Time</span>
                <strong>{{ orderInfo?.order.deliveryTime}}</strong>
            </p>
            <p class="user-info">
                <span>Ordering Time</span>
                <strong>{{ orderInfo?.order.deliveringTime}}</strong>
            </p>
            <p class="user-info">
                <span>Total</span>
                <strong>{{ systemCurrency }} {{ orderInfo?.paidAmount?.toFixed(2) }}</strong>
            </p>
            <p class="user-info">
                <span>Payment Method</span>
                <strong>{{ orderInfo?.paymentOption }}</strong>
            </p>
            <p class="user-info">
                <span>Ordered Time</span>
                <strong>{{ orderInfo?.orderTime | date: "dd/MM/yyyy HH:mm:ss"}}</strong>
            </p>
            <ng-container>
                <p>Address</p>
                <p class="ticket-note" style="font-weight: bold;">{{ wheelBillingInfo?.fullAddress }}</p>
            </ng-container>
            <ng-container>
                <p>Note</p>
                <p class="ticket-note">{{ orderInfo?.note }}</p>
            </ng-container>
        </div>
    </div>
    <div class="wrapper-order-summary">
        <div id="header-order-summary">
            <span>{{ orderSummaryLbl}}</span>
        </div>
        <div class="order-summary">
            <div class="order-items-header">
                <div id="title-quantity">QTY</div>
                <div id="title-info">ITEM</div>
                <div id="title-price">PRICE</div>
            </div>
            <hr class="mark-line" style="border-top: 1px dashed #d5d5d5" />
            <ng-container *ngFor="let item of itemList">
                <div class="order-item" *ngIf="!item.comboId; else comboTemplate">
                    <div id="quantity">{{ item.totalItems }}</div>
                    <div class="info">{{item.description ? item.name + " - " + item.description : item.name}}
                        <div class="order-note" *ngIf="item.note">{{ item.note }}</div>
                    </div>
                    <div id="price">
                        {{ systemCurrency }} {{ item.totalPrice?.toFixed(2) }}
                    </div>
                </div>
                <ng-template #comboTemplate>
                    <div class="order-item">
                        <div id="quantity">{{ item.totalItems }}</div>
                        <div class="info">{{ item.name }}
                            <div class="order-note" *ngIf="item.note">{{ item.note }}</div>
                        </div>
                        <div id="price">
                            {{ systemCurrency }} {{ item.totalPrice?.toFixed(2) }}
                        </div>
                    </div>
                    <div class="order-item" *ngFor="let comboItem of item.orderItems; let i = index">
                        <div id="quantity"> </div>
                        <div class="info" style="padding-left: 5px;font-weight: normal;"><span>{{comboItem.quantity}}x </span> {{ comboItem.description ? comboItem.name + " - " + comboItem.description : comboItem.name }}
                            <div class="order-note" *ngIf="item.note">{{ item.note }}</div>
                        </div>
                        <div id="price">
                        </div>
                    </div>
                </ng-template>
            </ng-container>

            <hr style="border-top: 1px dashed #d5d5d5" />
            <p class="fee-detail">
                <span>Sub Total</span>
                <strong>{{ systemCurrency }}
                    {{ orderInfo.order.amount?.toFixed(2) }}</strong>
            </p>

            <p class="fee-detail">
                Delivery fee:
                <span><strong> {{ systemCurrency + " " + deliveryFee }}</strong></span>
            </p>
            <p class="fee-detail" *ngFor="let fee of wheelServiceFees">
                <span>
                    {{
                    fee.feeType
                    ? fee.name
                    : fee.name + "(" + fee.value?.toFixed(2) + "%)"
                    }}:
                </span>
                <strong>
                    {{ systemCurrency }}
                    {{
                    fee.feeType
                    ? fee.value?.toFixed(2)
                    : ((orderInfo?.order.amount * fee.value) / 100)?.toFixed(2)
                    }}
                </strong>
            </p>

            <p class="fee-detail">
                Tax:
                <span><strong> {{ systemCurrency + " " + wheelBillingInfo?.tax?.toFixed(2) }}</strong></span>
            </p>
            <hr style="border-top: 1px dashed #d5d5d5" />
            <p class="fee-detail">
                <strong>Total</strong>
                <strong>{{ systemCurrency }} {{ orderInfo?.paidAmount?.toFixed(2) }}</strong>
            </p>
        </div>
    </div>
</div>