.cart-items {
    padding: 15px 1.25rem;
    max-height: 36vh;
    overflow-x: auto;
    margin: 0 -1.25rem;
}

.cart-items > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.cart-items > ul > li {
    border-bottom: 1px dashed #eee;
    overflow: hidden;
    padding: 5px 0;
}

.invoice-title h2,
.invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

// @media (max-width: 1024px) {
//     .top-kt {
//         margin-top: 2vh;
//         padding-left: 174px;
//         padding-right: 173px;
//     }
//     .mb-1 {
//         margin-bottom: 1rem !important;
//     }
//     .style-item {
//         display: flex;
//         align-items: center;
//         width: 100%;
//         img {
//             height: 72px;
//             width: 72px;
//             margin-left: 32px;
//             margin-right: 24px;
//             border-radius: 50%;
//         }
//         .text-content {
//             font-weight: 700;
//             font-size: 18px;
//             line-height: 27px;
//             color: #22232f;
//             width: 16%;
//             margin-right: 57px;
//         }
//         .text-subcontent {
//             font-weight: 400;
//             font-size: 16px;
//             line-height: 24px;
//             color: #575755;
//             width: 16%;
//             margin-right: 100px;
//         }
//         .style-button {
//             width: 116px;
//             height: 40px;
//             background-color: #fff;
//             border-radius: 8px;
//             border: 1px solid #2d5d8c;
//             color: #2d5d8c;
//             font-size: 14px;
//             font-weight: 700;
//             margin-left: 40px;
//         }
//         .back-ground {
//             width: 16%;
//             margin-right: 90px;
//             .color-text {
//                 font-weight: 700;
//                 font-size: 12px;
//                 line-height: 17px;
//                 min-width: 74px;
//                 border-radius: 34px;
//                 padding: 2px 8px;
//             }
//             .color-in-queue {
//                 color: #488bf0;
//                 border: 1px solid rgba(72, 139, 240, 0.1);
//                 background-color: rgba(72, 139, 240, 0.1);
//             }
//             .color-complete {
//                 color: #25da37;
//                 border: 1px solid rgba(37, 218, 55, 0.1);
//                 background-color: rgba(37, 218, 55, 0.1);
//             }
//         }
//     }
//     .item-header {
//         display: flex;
//         align-items: center;
//         flex-direction: row;
//         justify-content: space-between;
//         margin-top: 4vh;
//         background-color: unset;
//         .text-button {
//             font-weight: 700;
//             font-size: 18px;
//             line-height: 27px;
//             color: #575755;
//             margin-left: 174px;
//         }
//         .item-sort {
//             margin-right: 173px;
//             display: flex;
//             align-items: center;
//             .text-sort {
//                 font-weight: 400;
//                 font-size: 16px;
//                 line-height: 24px;
//                 color: #a8a8a8;
//                 margin-right: 13px;
//             }
//             .select-sort {
//                 .form-select {
//                     height: 32px;
//                     width: 140px;
//                     font-weight: 700;
//                     font-size: 14px;
//                     padding-left: 10px;
//                     border: unset;
//                     border-radius: 4px;
//                     color: #575755;
//                     option {
//                         font-weight: 700;
//                         font-size: 14px;
//                         color: #575755;
//                     }
//                 }
//             }
//         }
//     }
// }

@media (min-width: 992px) {
    .mobile-screen {
        display: none;
    }
    .top-kt {
        margin-top: 2vh;
        padding-left: 174px;
        padding-right: 173px;
    }
    .mb-1 {
        margin-bottom: 1rem !important;
    }
    .style-item {
        display: flex;
        align-items: center;
        width: 100%;
        img {
            height: 72px;
            width: 72px;
            margin-left: 32px;
            margin-right: 24px;
            border-radius: 50%;
            object-fit: cover;
        }
        .text-content {
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #22232f;
            width: 16%;
            margin-right: 57px;
        }
        .text-subcontent {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #575755;
            width: 16%;
            margin-right: 100px;
        }
        .style-button {
            width: 116px;
            height: 40px;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #2d5d8c;
            color: #2d5d8c;
            font-size: 14px;
            font-weight: 700;
            margin-left: 40px;
        }
        .back-ground {
            width: 16%;
            margin-right: 90px;
            .color-text {
                font-weight: 700;
                font-size: 12px;
                line-height: 17px;
                color: #488bf0;
                min-width: 74px;
                border: 1px solid #dae6f7;
                background-color: #dae6f7;
                border-radius: 34px;
                padding: 2px 8px;
            }
            .color-in-queue {
                color: #488bf0;
                border: 1px solid rgba(72, 139, 240, 0.1);
                background-color: rgba(72, 139, 240, 0.1);
            }
            .color-complete {
                color: #25da37;
                border: 1px solid rgba(37, 218, 55, 0.1);
                background-color: rgba(37, 218, 55, 0.1);
            }
        }
    }
    .item-header {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4vh;
        background-color: unset;
        .text-button {
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #575755;
            margin-left: 174px;
        }
        .item-sort {
            margin-right: 173px;
            display: flex;
            align-items: center;
            .text-sort {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #a8a8a8;
                margin-right: 13px;
            }
            .select-sort {
                .form-select {
                    height: 32px;
                    width: 140px;
                    font-weight: 700;
                    font-size: 14px;
                    padding-left: 10px;
                    border: unset;
                    border-radius: 4px;
                    color: #575755;
                    option {
                        font-weight: 700;
                        font-size: 14px;
                        color: #575755;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .large-screen {
        display: none;
    }
    ::ng-deep {
        .my-order-mobile {
            .mat-tab-label {
                width: 50%;
            }
            .mat-tab-label-container {
                background: #ffffff;
                .mat-tab-list {
                    .mat-tab-labels {
                        .mat-tab-label {
                            opacity: 1 !important;
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        .mat-tab-label-content {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 150%;
                            text-align: center;
                            color: #575755;
                            width: 100%;
                            height: 100%;
                            & > span {
                                width: 100%;
                            }
                        }
                        .mat-tab-label-active {
                            .mat-tab-label-content {
                                font-style: normal;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 150%;
                                text-align: center;
                                color: #f5c031;
                                width: 100%;
                                height: 100%;
                                & > span {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .mat-ink-bar {
                        background: #f5c031 !important;
                        height: 3px;
                    }
                }
            }
        }
    }
    .item-order {
        padding: 16px 16px 10px 16px;
        background: #ffffff;
        margin-bottom: 8px;
        .image-content {
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            border-bottom: 1px solid #eaeaea;
            .image {
                width: 56px;
                height: 56px;
                margin-right: 16px;
                object-fit: cover;
                border-radius: 50%;
                object-fit: cover;
            }
            .content-order {
                flex-direction: column;
                & > span:nth-child(1) {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    color: #22232f;
                }
                .content-price {
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;

                    & > span:nth-child(1) {
                        color: #444444;
                        margin-right: 5px;
                    }
                    & > span:nth-child(2) {
                        color: #888884;
                    }
                }
            }
        }
        .action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            .status-complete {
                background: rgba(37, 218, 55, 0.1);
                border-radius: 34px;
                padding: 2px 8px;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 140%;
                color: #25da37;
            }
            .status-in-queue {
                background: rgba(72, 139, 240, 0.1);
                border-radius: 34px;
                padding: 2px 8px;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 140%;
                color: #488bf0;
            }
            .cancel-order {
                background: #ed4941;
                border-radius: 8px;
                padding: 8px 24px;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: #ffffff;
                border: none;
            }
            .btn-order-again {
                border: 1px solid #2d5d8c;
                box-sizing: border-box;
                border-radius: 8px;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: #2d5d8c;
                padding: 8px 24px;
                background: #ffffff;
                &:focus {
                    background: #2d5d8c;
                    border-radius: 8px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 140%;
                    text-align: center;
                    color: #ffffff;
                    padding: 8px 24px;
                }
            }
        }
    }

    .my-order-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .top-bar-mobile{
        margin-top: auto;
    }
}
