<div class="col-xs-12 col-sm-12 top-kt">
    <div class="card mb-1">
        <div class="card-body row">
            <h5 class="mb-auto col-6">{{"ActiveOffers" | localize}}</h5>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-label-brand pull-right" (click)="back()">
                    <i class="fa fa-arrow-left"></i> {{"Back" | localize}}
                </button>
            </div>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3 mb-3" *ngFor="let offer of productOffers; let j = index">
                    <div class="card mb-1 offer-card" [ngStyle]="{'background-color': getBackgroundColor(offer.color)}">
                        <div class="card-body">
                            <h4 class="mb-0">
                                <span>{{offer.name}}</span>
                                <span class="mb-0 offer-price">{{appSession.application.currencySign}} {{offer.price | number:'1.2-2'}}</span>
                            </h4>
                            <p class="mb-0 offer-delivery-count">{{"DeliveryCount" | localize}}: <span>{{offer.totalDeliveryCount}}</span></p>
                            <div class="offer-card__description" style="margin-top:20px;" title="Description" innerHTML="{{offer.description}}"></div>
                            
                            <a type="button" (click)="isCollapsed[j] = !isCollapsed[j]" [attr.aria-expanded]="!isCollapsed"
                            aria-controls="collapseBasic"><i style= "font-size: 19px;" [ngClass]="isCollapsed[j] ? 'far fa-list-alt' : 'far fa-list-alt icon-active'"> </i>
                            </a>
                            <div id="collapseBasic" [collapse]="isCollapsed[j]" [isAnimated]="true" class="list-item">
                                <div  *ngFor="let prod of offer.productSets; let i = index" >
                                    <p class="font-weight-bolder">{{i+1}}. {{prod.name}}</p>
                                </div>
                            </div>
                            
                            <div class="offer-actions">
                                <button type="button" class="btn btn-primary" style="margin-right: .25em" (click)="addToCart(offer)">{{"AddToCart" | localize}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>