<div class="card item-header large-screen">
    <div>
        <span class="text-button">Your Menu History ({{cliqueOrderHistoryDto?.items?.length}})</span>
    </div>
    <div class="item-sort">
        <span class="text-sort">Sort by : </span>
        <div class="select-sort">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="sortResult" (change)="onChange($event.target.value)">
                <option selected value="1">Newest to old</option>
                <option value="0">Oldest to new</option>
            </select>
        </div>
    </div>
</div>

<div class="col-sm-12 top-kt large-screen">
    <div class="card mb-1" *ngFor="let orderHistory of cliqueOrderHistoryDto?.items">
        <div class="card-body row">
            <div class="style-item">
                <img src="{{orderHistory.image}}" alt="">
                <span class="text-content">{{orderHistory.name}}</span>
                <div class="back-ground">
                    <span class="color-text" [ngClass]="orderHistory.cliqueOrderStatus == 0 ? 'color-in-queue' : 'color-complete'">
                        {{orderHistory.cliqueOrderStatus == 0 ? 'IN QUEUE' : 'COMPLETE'}}
                    </span>
                </div>
                <span class="text-subcontent">{{orderHistory.orderTimeStr}}</span>
                <span class="text-subcontent">${{total(orderHistory) | number: '1.2-2'}}</span>
                <button type="button" class="btn style-button" (click)="orderDetail(orderHistory)">Detail</button>
            </div>
        </div>
    </div>

</div>

<div class="my-order-content">
    <mat-tab-group class="mobile-screen my-order-mobile" animationDuration="0ms">
        <mat-tab> 
            <ng-template mat-tab-label>
                <span (click)="onGoing()">Ongoing</span>
            </ng-template>
            <div class="item-order" *ngFor="let orderHistory of cliqueOrderHistoryDto?.items" >
                <div class="image-content" (click)="orderDetail(orderHistory)">
                    <img src="{{orderHistory.image}}" class="image" alt="">
                    <div class="content-order">
                        <span>
                            {{orderHistory.name}}
                        </span>
                        <div class="content-price">
                            <span>${{total(orderHistory) | number: '1.2-2'}}</span> 
                            <span> ({{orderHistory.orderTimeForStr}}) </span>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <span class="status-in-queue">{{orderHistory.cliqueOrderStatus == 0 ? 'IN QUEUE' : 'COMPLETE'}}</span>
                    <button class="cancel-order" (click)="cancelOrderMobile(orderHistory)">Cancel</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab> 
            <ng-template mat-tab-label>
                <span (click)="history()">History</span>
            </ng-template>
            <div class="item-order" *ngFor="let orderHistory of cliqueOrderHistoryDto?.items" (click)="orderDetail(orderHistory)">
                <div class="image-content">
                    <img src="{{orderHistory.image}}" class="image" alt="">
                    <div class="content-order">
                        <span>
                            {{orderHistory.name}}
                        </span>
                        <div class="content-price">
                            <span>${{orderHistory.total | number: '1.2-2'}}</span> 
                            <span> ({{orderHistory.orderTimeForStr}}) </span>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <span class="status-complete">{{orderHistory.cliqueOrderStatus == 0 ? 'IN QUEUE' : 'COMPLETE'}}</span>
                    <button class="btn-order-again" (click)="orderAgain(orderHistory)">Order Again</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    
    <app-top-bar-mobile class="top-bar-mobile"></app-top-bar-mobile>
</div>