::ng-deep .list-group-item {
    border: none;
    border-top: 1px dashed #ebedf2;
    border-bottom: 1px solid #ebedf2;
}

.cart-products__content {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cart-products__details {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    width: 25%;
}

.cart-products__desc {
    width: 60vw;
}

.cart-products__price {
    margin-left: auto;
    text-align: right;
    min-width: 80px;
    font-size: 13px;
    font-weight: 500;
}

.cart-products__qty {
    width: 100px;

    input {
        max-width: 70px;
        text-align: center;
        padding: 0px;
    }

    button {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.cart-mobile-size {
    .cart-products__content {
        display: block;
    }

    .cart-products__desc {
        display: inline-block;
    }

    .cart-products__desc,
    .cart-products__details {
        width: 100%;
    }
}

.buy-offer__btn {
    position: absolute;
    right: 1.5rem;
    bottom: 0;
}

.payment-method {
    margin-bottom: 75px;
}

.payment-method.selected {
    margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
    .cart-products__content {
        display: block;
    }

    .cart-products__desc {
        display: inline-block;
    }

    .cart-products__desc,
    .cart-products__details {
        width: 100%;
    }
}

.payment-option {
    margin-bottom: 25px;
    padding-left: 10px;
}

.stripe-check-out-container .error {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 15px;
    font-size: 13px !important;
    opacity: 0;
    transform: translateY(10px);
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.stripe-check-out-container .error.visible {
    opacity: 1;
    transform: none;
}

.stripe-check-out-container .error .message {
    font-size: 13px;
}

.payment-checkout-form {
    margin: 20px;
}

.stripe-check-out-container {
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.stripe-check-out-container * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.stripe-check-out-container fieldset {
    border: 1px solid #e2e5ec;
    padding: 5px;
    border-radius: 5px;
}

.stripe-check-out-container fieldset legend {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #1C3045;
}

.stripe-check-out-container fieldset legend + * {
    clear: both;
}

.stripe-check-out-container .card-only {
    display: block;
}

.stripe-check-out-container .payment-request-available {
    display: none;
}

.stripe-check-out-container .row {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px;
}

.stripe-check-out-container .field {
    position: relative;
    width: 100%;
}

.stripe-check-out-container .field + .field {
    margin-left: 10px;
}

.stripe-check-out-container label {
    width: 100%;
    // color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stripe-check-out-container .input {
    width: 100%;
    color: #fff;
    background: transparent;
    padding: 5px 0 6px 0;
    border-bottom: 1px solid #1C3045;
    transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.stripe-check-out-container .input::-webkit-input-placeholder {
    color: #bfaef6;
}

.stripe-check-out-container .input::-moz-placeholder {
    color: #bfaef6;
}

.stripe-check-out-container .input:-ms-input-placeholder {
    color: #bfaef6;
}

.stripe-check-out-container .input.StripeElement--focus,
.stripe-check-out-container .input:focus {
    border-color: #fff;
}

.stripe-check-out-container .input.StripeElement--invalid {
    border-color: #ffc7ee;
}

.stripe-check-out-container input:-webkit-autofill,
.stripe-check-out-container select:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
}

.stripe-check-out-container .StripeElement--webkit-autofill {
    background: transparent !important;
}

.stripe-check-out-container input,
.stripe-check-out-container button,
.stripe-check-out-container select {
    -webkit-animation: 1ms void-animation-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
    border-radius: 0;
}

.stripe-check-out-container select.input,
.stripe-check-out-container select:-webkit-autofill {
    background-image: url('data:image/svg+xml;utf8,<svg width="10px" height="5px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M5.35355339,4.64644661 L9.14644661,0.853553391 L9.14644661,0.853553391 C9.34170876,0.658291245 9.34170876,0.341708755 9.14644661,0.146446609 C9.05267842,0.0526784202 8.92550146,-2.43597394e-17 8.79289322,0 L1.20710678,0 L1.20710678,0 C0.930964406,5.07265313e-17 0.707106781,0.223857625 0.707106781,0.5 C0.707106781,0.632608245 0.759785201,0.759785201 0.853553391,0.853553391 L4.64644661,4.64644661 L4.64644661,4.64644661 C4.84170876,4.84170876 5.15829124,4.84170876 5.35355339,4.64644661 Z" id="shape"></path></svg>');
    background-position: 100%;
    background-size: 10px 5px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.stripe-check-out-container button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0 0;
    background-color: #1C3045;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    line-height: 2px;
}

.stripe-check-out-container button:active {
    background-color: #ffffff;
}

.stripe-check-out-container .error .message {
    color: red;
}

#checkoutButton {
    display: block;
}

@media (max-width: 1024px) {
    .top-kt {
        margin-top: 1vh;
    }
}

@media (min-width: 1025px) {
    .top-kt {
        margin-top: -5vh;
    }
}

#acceptReceiveMail {
    min-width: 15px;
    text-align: justify;
}

.form-check-label {
    text-align: justify;
}

.checkout-promo-code .promo-code label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 700;
}

.btn-text,
.text-button,
a[href]:not(.btn),
a[tabindex]:not(.btn) {
    color: #646c9a;
    text-decoration: underline;
    cursor: pointer;
}

.btn.btn-trash {
    height: calc(1.5em + 1.3rem + 2px);
}

/* Adyen style */
.adyen-check-out-container {
    padding: 25px 0;
}

.adyen-checkout__field {
    display: block;
    margin-bottom: 16px;
    width: 100%;
}

.adyen-checkout__field:last-of-type {
    margin-bottom: 0;
}

.adyen-checkout__label {
    display: block;
}

.adyen-checkout__label__text,
.adyen-checkout__helper-text {
    color: #00112c;
    display: block;
    font-size: .81em;
    font-weight: normal;
    line-height: 13px;
    padding-bottom: 5px;
}

.adyen-checkout__helper-text {
    color: #00112c;
}

.adyen-checkout__label__text {
    transition: color 0.1s ease-out;

    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.adyen-checkout__label__text--error {
    color: #d10244;
}

.adyen-checkout__label--focused .adyen-checkout__label__text {
    color: #06f;
}

.adyen-checkout__error-text {
    display: flex;
    color: #d10244;
    font-weight: normal;
    margin-top: 4px;
    font-size: .75em;
    align-items: center;
}

.adyen-checkout__field-wrapper {
    display: flex;
    width: 100%;
}

.adyen-checkout__field--20 {
    width: 20%;
}

.adyen-checkout__field--30 {
    width: 30%;
}

.adyen-checkout__field--40 {
    width: 40%;
}

.adyen-checkout__field--50 {
    width: 50%;
}

.adyen-checkout__field--60 {
    width: 60%;
}

.adyen-checkout__field--70 {
    width: 70%;
}

.adyen-checkout__field--80 {
    width: 80%;
}

.adyen-checkout__field--col-70 {
    width: calc(70% - 8px);
}

.adyen-checkout__field--col-30 {
    width: calc(30% - 8px);
}

.adyen-checkout__field--col-50 {
    width: calc(50% - 8px);
}

.adyen-checkout__field-wrapper > .adyen-checkout__field:first-child {
    margin-right: 8px;
}

.adyen-checkout__field-wrapper > .adyen-checkout__field:nth-child(2) {
    margin-left: 8px;
}

.adyen-checkout__field-wrapper:last-of-type > .adyen-checkout__field {
    margin-bottom: 0;
}

.adyen-checkout__input {
    color: #00112c;
    caret-color: #06f;
    font-size: 1em;
    font-family: inherit;
    display: block;
    height: 40px;
    background: #fff;
    border: 1px solid #b9c4c9;
    border-radius: 6px;
    padding: 5px 8px;
    position: relative;
    outline: none;
    width: 100%;
    transition: border 0.2s ease-out, box-shadow 0.2s ease-out;
}

.adyen-checkout__input:hover {
    border-color: #99a3ad;
}

.adyen-checkout__input:required {
    box-shadow: none;
}

.adyen-checkout__input[readonly],
.adyen-checkout__input--disabled {
    background: #e6e9eb;
    border-color: #e6e9eb;
}

.adyen-checkout__input--disabled:hover {
    border-color: #e6e9eb;
}

.adyen-checkout__input-wrapper {
    position: relative;
    display: block;
}

.adyen-checkout__input-wrapper--block {
    display: block;
}

.adyen-checkout-input__inline-validation {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
}

.adyen-checkout-input__inline-validation--valid {
    color: #0abf53;
}

.adyen-checkout-input__inline-validation--invalid {
    color: #d10244;
}

.adyen-checkout__input--invalid {
    border-color: #d10244;
}

.adyen-checkout__input--valid {
    border-bottom-color: #0abf53;
}

.adyen-checkout__input--error,
.adyen-checkout__input--invalid,
.adyen-checkout__input--error:hover,
.adyen-checkout__input--invalid:hover {
    border-color: #d10244;
}

.adyen-checkout__input::placeholder {
    color: #b9c4c9;
    font-weight: 200;
}

.adyen-checkout__input--date {
    padding-right: 30px;
}

.adyen-checkout__input:active,
.adyen-checkout__input:focus,
.adyen-checkout__input--focus,
.adyen-checkout__input:active:hover,
.adyen-checkout__input:focus:hover,
.adyen-checkout__input--focus:hover {
    border: 1px solid #06f;
    box-shadow: 0 0 0 2px #99c2ff;
}

.adyen-checkout__input[readonly],
.adyen-checkout__input[readonly]:hover {
    background-color: #e6e9eb;
    border-color: transparent;
    color: #687282;
    cursor: default;
}

.cart-number-icon {
    border-radius: 3px;
    position: absolute;
    right: 10px;
    margin-left: 7px;
    transform: translateY(-50%);
    top: 50%;
    height: 18px;
    width: 27px;
}

.adyen-checkout__button {
    background: #28a745;
    border: 0;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
    width: 100%;

    &:focus {
        opacity: 0.7;
        outline: 0;
    }

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.7;
    }

    &:disabled {
        &,
        &:hover {
            box-shadow: none;
            cursor: not-allowed;
            opacity: 0.4;
            user-select: all;
        }
    }

    &.adyen-checkout__button--pay {
        margin-top: 24px;
    }

    &__content {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__text {
        display: block;
        justify-content: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #ffffff;
        font-weight: 500;
    }
}

/* end Adyen style */
