<div class="row">
    <div *ngFor="let item of listItems" class="order-item-container col-12 col-md-6 col-lg-4 ">
        <div class="item-info mt-2 mb-2 d-flex align-items-center p-shadow-4" style="height: 90px;">
            <img style="height: 100%;" src="{{item.imageUrl}}" alt="">
            <div class="d-flex flex-grow-1 justify-content-between align-items-center p-2 pl-3 pr-3">
                <div class="order-infor flex-grow-1 text-left">
                    <p class="category m-0">{{item.category}}</p>
                    <p class="name m-0"><strong>{{item.name}}</strong></p>
                    <p class="price m-0 mt-2">{{item.price}}</p>
                </div>
                <div class="align-self-end">Total Orders: <strong style="color: black;">{{item.quantity}}</strong></div>
            </div>
        </div>
        <div class="group-buttons">
            <button (click)="onAddItems($event)" class="circle-btn border-none outline-none mb-1" pButton pRipple icon="pi pi-plus"></button>
            <button (click)="onRemoveItems($event)" class="circle-btn border-none outline-none mt-1" pButton pRipple icon="pi pi-minus"></button>
        </div>
    </div>
</div>