
:host::ng-deep {
  #gjs {
    border: 3px solid #444;
    height: 100%;
}

.gjs-block {
  &.fa-link {
    font-family: 'FontAwesome';
  }

  &.fa-quote-right {
    font-family: 'FontAwesome';
  }
}

.gjs-toolbar {
  .fa-arrows {
    font-family: 'FontAwesome';
  }

  .fa-trash-o {
    font-family: 'FontAwesome';
  }
}

.gutter {
  cursor: ns-resize;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}
.gutter:after {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  top: -3px;
  z-index: 150;
}
// .code-panel .CodeMirror {
//   // height: calc(100% - 20px);
// }
.gjs-pn-views {
  border-left: 1px solid rgba(0,0,0,0.2);
  border-bottom: 0;
}
.gjs-pn-views-container {
  box-shadow: initial;
  border-top: 2px solid rgba(0,0,0,0.2);
  top: 40px;
  bottom: 0;
  padding-top: 0;
  height: unset;
  max-height: 100%
}
.gjs-pn-views-container, .gjs-cv-canvas {
  transition: width 0.3s ease-in-out;
}
  
.no-padding{
    padding: 0 !important;
}

.sub-header{
    height: 100%;
    padding-left: 25px;
}
}

