<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!dynamicPage.id ? l('CreateNewWheelDynamicPages') : l('EditWheelDynamicPages') + ': ' + dynamicPage.name">
            <div role="actions">
                <button *ngIf="'Pages.Tenants.Create' | permission" class="btn btn-primary"
                        (click)="createTenant()"><i class="fa fa-plus"></i>{{"CreateNewTenant" | localize}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #terminalForm="ngForm" novalidate class="form terminal-form" (ngSubmit)="save()">
                        <div class="form-group">
                            <label for="Name">{{"Name" | localize}} *</label>
                            <input id="Name" #nameInput="ngModel" class="form-control" type="text"
                                [ngClass]="{'edited':dynamicPage.name}" name="name"
                                [(ngModel)]="dynamicPage.name" #name="ngModel" required>
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>
                        <div id="gjs">
                            <p>
                              Hellow world
                            </p>
                          </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                            {{l("Cancel")}}
                        </button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!terminalForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                            <i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span>
                        </button>
                    </div>
                    </form> 
                </div>
            </div>
        </div>  
    </div>
</div>