<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'WheelDynamicPages' | localize" [description]="'WheelDynamicPagesHeaderInfo' | localize">
            <div role="actions">
                <button (click)="createOrEdit()" *ngIf="'Pages.WheelDynamicPages.Create' | permission" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{ 'CreateNewWheelDynamicPages' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filter"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getWheelDynamicPages($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="name">
                                            {{ 'Name' | localize }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">{{ 'Actions' | localize }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title">{{ 'Name' | localize }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td
                                        style="width: 150px"
                                        [hidden]="!(['Pages.WheelDynamicPages.Edit', 'Pages.WheelDynamicPages.Delete'] | permissionAny)"
                                    >
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                {{ 'Actions' | localize }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        class="dropdown-item"
                                                        *ngIf="'Pages.WheelDynamicPages.Edit' | permission"
                                                        (click)="createOrEdit(record.id)"
                                                        >{{ 'Edit' | localize }}</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        class="dropdown-item"
                                                        *ngIf="'Pages.WheelDynamicPages.Delete' | permission"
                                                        (click)="deleteTenantDatabase(record)"
                                                        >{{ 'Delete' | localize }}</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getWheelDynamicPages($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ 'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
