.privacy {
    min-height: calc(100vh - 120px);
}

h2 {
    color: #fff;
}

::ng-deep {
    .term-condition.gray_bg p {
        background: unset !important;
        color: #fff !important;

        span {
            color: #fff !important;
        }
    }
}