<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ 'Upload' | localize }}
          {{ 'Image' | localize }}
        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #importForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password">
          <div class="form-group">
            <input type="file" ng2FileSelect [uploader]="uploader" required #fileInput accept="image/*"
              (change)="onFileSelected()" />
          </div>
          <div class="primeng-datatable-container mt-10">
            <p-table #filesTable [value]="files" [paginator]="false" [scrollable]="true" ScrollWidth="100%"
              [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns">

              <ng-template pTemplate="header">
                <tr>
                  <th>{{l('Name')}} *</th>
                  <th>{{l('Actions')}}</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                <tr>
                  <td>
                    <span class="ui-column-title">{{ l('Name') }}</span>
                    {{ record.fileName }}
                  </td>
                  <td>
                    <button type="button" class="btn-secondary btn" (click)="removeFile(index)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>

                </tr>
              </ng-template>
            </p-table>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ 'Cancel' | localize }}</button>
        <button class="btn btn-primary" (click)="save()" type="submit" [disabled]="!importForm.form.valid || loading"
          [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
          <i class="fa fa-save"></i>
          <span>{{ l('Save') }}</span>
        </button>
      </div>
    </div>
  </div>
</div>