<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'SwipeCardTypes' | localize" [description]="'SwipeCardTypesHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i> {{
                    l('ExportToExcel') }}</button>
                <button *ngIf="isGranted('Pages')"
                    (click)="createOrEditCardType()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{ l('CreateNewCardType') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text" />
                                        <span class="input-group-btn">
                                            <button (click)="getAll()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex justify-content-end">

                                    <div class="flex-fill"></div>
                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{ l('Refresh') }}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{ l('Search') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px" [hidden]="
                                                !isGrantedAny('Pages', 'Pages')
                                            ">
                                            {{ l('Actions') }}
                                        </th>
                                        <th  pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th  pSortableColumn="depositRequired">
                                            {{ l('DepositRequired') }}
                                            <p-sortIcon field="depositRequired"></p-sortIcon>
                                        </th>
                                        <th  pSortableColumn="depositAmount">
                                            {{ l('DepositAmount') }}
                                            <p-sortIcon field="depositAmount"></p-sortIcon>
                                        </th>
                                        <th  pSortableColumn="refundAllowed">
                                            {{ l('RefundAllowed') }}
                                            <p-sortIcon field="refundAllowed"></p-sortIcon>
                                        </th>
                                        <!-- <th  pSortableColumn="isEmployeeCard">
                                            {{ l('IsEmployeeCard') }}
                                            <p-sortIcon field="isEmployeeCard"></p-sortIcon>
                                        </th>
                                        <th  pSortableColumn="isAutoRechargeCard">
                                            {{ l('IsAutoRechargeCard') }}
                                            <p-sortIcon field="isAutoRechargeCard"></p-sortIcon>
                                        </th>
                                        <th  pSortableColumn="canIssueWithOutMember">
                                            {{ l('CanIssueWithOutMember') }}
                                            <p-sortIcon field="canIssueWithOutMember"></p-sortIcon>
                                        </th> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px" [hidden]="
                                                !isGrantedAny('Pages')
                                            ">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isGranted('Pages')"
                                                            (click)="createOrEditCardType(record.id)">{{
                                                            l('Edit') }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isGranted('Pages')"
                                                            (click)="deleteCardType(record.id)">{{ l('Delete')
                                                            }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{ l('DepositRequired') }}</span>
                                            <span *ngIf="record.depositRequired" class="badge rounded-pill bg-success text-white">{{l('Yes')}}</span>
                                            <span *ngIf="!record.depositRequired" class="badge rounded-pill bg-danger text-white">{{l('No')}}</span>
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{ l('DepositAmount') }}</span>
                                            {{ record.depositAmount }}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{ l('RefundAllowed') }}</span>
                                            <span *ngIf="record.refundAllowed" class="badge rounded-pill bg-success text-white">{{l('Yes')}}</span>
                                            <span *ngIf="!record.refundAllowed" class="badge rounded-pill bg-danger text-white">{{l('No')}}</span>
                                        </td>
                                        <!-- <td >
                                            <span class="ui-column-title"> {{ l('IsEmployeeCard') }}</span>
                                            <span *ngIf="record.isEmployeeCard" class="badge rounded-pill bg-success text-white">{{l('Yes')}}</span>
                                            <span *ngIf="!record.isEmployeeCard" class="badge rounded-pill bg-danger text-white">{{l('No')}}</span>
                                        </td> -->
                                        <!-- <td >
                                            <span class="ui-column-title"> {{ l('IsAutoRechargeCard') }}</span>
                                            <span *ngIf="record.isAutoRechargeCard" class="badge rounded-pill bg-success text-white">{{l('Yes')}}</span>
                                            <span *ngIf="!record.isAutoRechargeCard" class="badge rounded-pill bg-danger text-white">{{l('No')}}</span>
                                        </td> -->
                                        <!-- <td >
                                            <span class="ui-column-title"> {{ l('CanIssueWithOutMember') }}</span>
                                            <span *ngIf="record.canIssueWithOutMember" class="badge rounded-pill bg-success text-white">{{l('Yes')}}</span>
                                            <span *ngIf="!record.canIssueWithOutMember" class="badge rounded-pill bg-danger text-white">{{l('No')}}</span>
                                        </td> -->
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
