<div class="modal-header">
    <h4 class="modal-title">Update Map</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10 description">Add a custom name for this spot on the map (VIP sector, Sector A, etc..).
            Also set how
            many available seats can be reserved in this sector.</div>
    </div>
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="name" name="name" [(ngModel)]="position.name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Capacity</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="capacity" min="1" name="capacity"
                    [(ngModel)]="position.capacity">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Minimum</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="minimum" min="1" name="minimum"
                    [(ngModel)]="position.minimum">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="savePosition()">Save</button>
    <button type="button" class="btn btn-danger" (click)="deletePosition()">Delete</button>
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss()">Close</button>
</div>