:host {
    .wrapper-select-menu {
        width: 100%;
        display: block;
        .lbl-select {
            position: relative;
            padding: 0.7rem;
            display: block;
            cursor: pointer;
            .arrow-collapse {
                position: absolute;
                right: 0.7rem;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.3s ease;
                 ::ng-deep .pi {
                    font-size: 0.6rem;
                }
            }
            &.expanded {
                .arrow-collapse {
                    transform: translateY(-50%) rotateX(180deg);
                }
            }
        }
        .wrapper-select-item {
            width: 100%;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            .select-item {
                padding: 0.7rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icon-item {
                    width: 1rem;
                    height: 1rem;
                    margin-bottom: 0.7rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .lbl-item {
                    width: calc(100% - 2rem);
                    padding: 0 0.5rem;
                    display: block;
                }
                .icon-check {
                    min-width: 1rem;
                     ::ng-deep .pi {
                        font-size: 1rem;
                        color: var(--btn-dine-primary);
                    }
                }
                &.active {
                    background-color: var(--app-dine-bg);
                }
            }
        }
    }
}

.cursor_pointer {
    cursor: pointer;
}

.item_active {
    color: var(--btn-dine-primary);
}