<div class="wrapper-select-menu" *ngIf="selectMenuData.length > 0">
    <span class="lbl-select" (click)="toggleStatus()" [ngClass]="{'expanded': !collapsed}">{{ selectMenuTitle }}
    <div class="arrow-collapse">
      <i class="pi pi-angle-down"></i>
    </div>
  </span>
    <div class="wrapper-select-item" [hidden]="collapsed">
        <ng-container *ngFor="let item of selectMenuData">
            <div class="select-item" [ngClass]="{ active: item.active }" (click)="handleOnClick(item)">
                <div class="icon-item">
                    <ng-container *ngIf="item.icon">
                        <img [src]="item.icon" alt="" />
                    </ng-container>
                </div>
                <span class="lbl-item" [ngClass]="{'cursor_pointer': item.url != null, 'item_active': urlActived == item.url}">{{ item.label }}</span>
                <div class="icon-check">
                    <i *ngIf="item.active" class="pi pi-check"></i>
                </div>
            </div>
        </ng-container>
    </div>
</div>