<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!user.id ? l('CreateDinePlanUser') : l('EditDinePlanUser') + ': ' + user.name">
            <div role="actions">
                <button type="button" (click)="openLocation()" class="btn btn-primary">
                    <i class="fa fa-file"></i> {{ l('Locations') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #categoryForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" (click)="openUser()"
                                        *ngIf="!user.userId">
                                        <i class="fa fa-file"></i> <span>{{ l('SelectAUser') }}</span>
                                    </button>

                                    <button type="button" class="btn btn-primary" (click)="cancelUser()"
                                        *ngIf="user.userId">
                                        <i class="fa fa-file"></i> <span>{{ user.userId }} /{{ user.name }} </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ l('Code') }}</label>
                                    <input class="form-control" name="code" [textMask]="{ mask: intMask }"
                                        [(ngModel)]="user.code" maxlength="8" #code="ngModel" />
                                    <validation-messages [formCtrl]="code"></validation-messages>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ l('Name') }} *</label>
                                    <input class="form-control" type="text" name="name" [(ngModel)]="user.name" required
                                        #name="ngModel" />
                                    <validation-messages [formCtrl]="name"></validation-messages>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ l('PinCode') }} *</label>
                                    <input [textMask]="{ mask: intMask }" class="form-control" type="text"
                                        name="pinCode" [(ngModel)]="user.pinCode" required minlength="4"
                                        #pinCode="ngModel" />
                                    <validation-messages [formCtrl]="pinCode"></validation-messages>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ l('SecurityCode') }}</label>
                                    <input class="form-control" type="text" name="securityCode"
                                        [(ngModel)]="user.securityCode" minlength="4" #securityCode="ngModel" />
                                    <validation-messages [formCtrl]="securityCode"></validation-messages>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">{{ l('Language') }}</label>
                                    <select [(ngModel)]="user.languageCode" class="custom-select" name="languageCode"
                                        id="languageCode">
                                        <option [ngValue]="undefined" hidden>{{ 'Select' | localize }}</option>
                                        <option *ngFor="let item of languages" [ngValue]="item.name">{{ item.displayName
                                            }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">{{ l('AlternateLanguage') }}</label>
                                    <select [(ngModel)]="user.alternateLanguageCode" class="custom-select"
                                        name="AlternateLanguageCode" id="AlternateLanguageCode">
                                        <option [ngValue]="undefined" hidden>{{ 'Select' | localize }}</option>
                                        <option *ngFor="let item of languages" [ngValue]="item.name">{{ item.displayName
                                            }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">{{ l('Role') }}</label>
                                    <select [(ngModel)]="user.dinePlanUserRoleId" class="custom-select"
                                        name="dinePlanUserRoleId" id="dinePlanUserRoleId" #dinePlanUserRoleId="ngModel">
                                        <option [ngValue]="undefined" hidden>{{ 'Select' | localize }}</option>
                                        <option *ngFor="let item of userRoles" [ngValue]="item.id">{{ item.name }}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="dinePlanUserRoleId"></validation-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{
                            l('Cancel') }}</button>
                        <button class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                            [disabled]="!categoryForm.form.valid">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="selectLocations($event)"> </select-location-or-group>
<commonLookupModal #userLookupModal (itemSelected)="userSelected($event)"></commonLookupModal>