.thank-for-feedback {
    .success {
        width: 88.25px;
        height: 88.25px;
        background: #25da37;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: -27px;
        outline: 38.75px solid rgba(37, 218, 55, 0.1);
        top: -44px;
        left: calc(50% - 44px);
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .img-close {
        position: absolute;
        top: 23px;
        right: 23px;
        cursor: pointer;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 107px;
        &>span:nth-child(1) {
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            color: #2d5d8c;
            width: 262px;
        }
        &>span:nth-child(2) {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            color: #575755;
            width: 446px;
            margin-top: 16px;
            text-align: center;
            margin-bottom: 66px;
        }
    }
    &-line {
        height: 1px;
        width: 100%;
        background: #ededed;
        margin-bottom: 32px;
    }
    &-back-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        &>button {
            border: none;
            background: #2d5d8c;
            color: white;
            width: 433px;
            padding: 16px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            border-radius: 10px;
        }
    }
}

.mobile-screen {
    .success {
        width: 56px;
        height: 56px;
        background: #25da37;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        outline: 15px solid rgba(37, 218, 55, 0.1);
        top: -30px;
        left: calc(50% - 30px);
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .img-close {
        position: absolute;
        top: 23px;
        right: 23px;
        cursor: pointer;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 60px;
        &>span:nth-child(1) {
            font-style: normal;
            font-weight: bold;
            font-size: 23px;
            line-height: 120%;
            text-align: center;
            color: #2d5d8c;
            width: 218px;
        }
        &>span:nth-child(2) {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #575755;
            width: 226px;
            margin-top: 16px;
            text-align: center;
            margin-bottom: 24px;
        }
    }
    &-line {
        height: 1px;
        width: 100%;
        background: #ededed;
        margin-bottom: 24px;
    }
    &-back-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        &>button {
            border: none;
            background: #2d5d8c;
            color: white;
            width: 270px;
            padding: 16px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            border-radius: 10px;
        }
    }
}

@media (min-width: 992px) {
    .mobile-screen {
        display: none;
    }
     ::ng-deep {
        .cdk-overlay-dark-backdrop {
            background: rgba(18, 36, 54, 0.7);
        }
        .dialog-thank-for-feedback {
            position: relative !important;
            .mat-dialog-container {
                background-image: url("/assets/image/background-popup-feedback-mobile.png");
                padding: 0px;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

@media (max-width: 991px) {
    .thank-for-feedback {
        display: none;
    }
     ::ng-deep {
        .cdk-overlay-dark-backdrop {
            background: rgba(18, 36, 54, 0.7);
        }
        .dialog-thank-for-feedback {
            position: relative !important;
            .mat-dialog-container {
                background-image: url("/assets/image/background-thank-for-feedback.png");
                padding: 0px;
                background-repeat: no-repeat;
            }
        }
    }
}