<div class="thank-for-feedback">
    <div class="container">
        <img src="/assets/image/close.png" class="img-close" (click)="close()">
        <div class="success">
            <img src="/assets/image/checkmark.png" alt="">
        </div>
        <div class="thank-for-feedback-content">
            <span>Thanks for your feedback!</span>
            <span>Your feedback will be useful for our development. Our team will see your feedback soon</span>
        </div>
        <div class="thank-for-feedback-line"></div>
        <div class="thank-for-feedback-back-menu">
            <button (click)="gotToMenu()">Back To Menu</button>
        </div>
    </div>
</div>

<div class="mobile-screen">
    <div class="container">
        <img src="/assets/image/close.png" class="img-close" (click)="close()">
        <div class="success">
            <img src="/assets/image/checkmark.png" alt="">
        </div>
        <div class="mobile-screen-content">
            <span>Thanks for your feedback!</span>
            <span>Your feedback will be useful for our development. Our team will see your feedback soon</span>
        </div>
        <div class="mobile-screen-line"></div>
        <div class="mobile-screen-back-menu">
            <button (click)="gotToMenu()">Back To Menu</button>
        </div>
    </div>
</div>