<div>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Schedule')">
            <div role="actions">
                <button class="btn btn-primary" (click)="createOrUpdateCliqueMealTime()">
                    <i class="fa fa-plus"></i> {{ l('Create Schedule') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="row align-items-center d-flex">
                                <div class="form-group col-md-1 date-schedule checkbox-filter" style="margin-top: 3px;">
                                    <label class="checkbox mb-0">
                                        <input type="checkbox" name="fixedMenu" [(ngModel)]="fixedMenu"/>
                                        {{"Fixed Menu"}}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group col-md-5 mt-5" style="padding-left: 9px">
                                    <select class="form-control" name="Publish Status" id="publishStatus" [(ngModel)]="publishStatus">
                                        <option value="0">
                                            Draft
                                        </option>
                                        <option value="1">
                                            Published
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="form-group col-md-6 date-schedule align-items-center d-flex" style="margin-bottom: 0px;" *ngIf="!fixedMenu">
                                    <label for="fromDate" class="label-date col-md-2 text-center">{{ l('From Date') }} </label>
                                    <input type="fromDate" id="fromDate" class="form-control" name="fromDate"
                                        #ValidityInput bsDatepicker datePickerMomentModifier
                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="fromDateSearch"/>
                                </div>
                                <div class="form-group col-md-6 date-schedule align-items-center d-flex" style="margin-bottom: 0px;" *ngIf="!fixedMenu">
                                    <label for="toDate" class="label-date col-md-2 text-center">{{ l('To Date') }} </label>
                                    <input type="toDate" id="toDate" class="form-control" name="toDate" #ValidityInput
                                        bsDatepicker datePickerMomentModifier [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="toDateSearch" />
                                </div>
                            </div>
                            <div class="row flex-row-reverse btn-refresh-table">
                                <button class="btn btn-primary btn-search ml-4" (click)="getCliqueMenuList()">
                                    {{ l('Search') }}
                                </button>
                                <button class="btn btn-primary btn-refresh" (click)="reset()">
                                    {{ l('Refresh') }}
                                </button>
                            </div>
                            <p-table #locationTable (onLazyLoad)="getCliqueMenuList($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px">
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width: 200px" pSortableColumn="FromDate">
                                            {{l('From Date')}} 
                                            <p-sortIcon field="FromDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="ToDate">
                                            {{l('To Date')}}
                                            <p-sortIcon field="ToDate"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="ScreenMenuId">
                                            {{l('Screen Menu')}}
                                            <p-sortIcon field="ScreenMenuId"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="FixedMenu">
                                            {{l('Fixed Menu')}}
                                            <p-sortIcon field="FixedMenu"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="CliqueMealTimeId">
                                            {{l('Clique Meal Time')}}
                                            <p-sortIcon field="CliqueMealTimeId"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="LocationId">
                                            {{l('Location')}}
                                            <p-sortIcon field="LocationId"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="PublishStatus">
                                            {{l('Publish Status')}}
                                            <p-sortIcon field="PublishStatus"></p-sortIcon>
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Monday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Tuesday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Wednesday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Thursday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Friday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Saturday')}}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{l('Sunday')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Menu.Categories.Edit', 'Pages.Tenant.Connect.Menu.Categories.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Menu.Categories.Edit')"
                                                            class="dropdown-item"
                                                            (click)="craeteOrUpdateCliqueMenu(record)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Menu.Categories.Delete')"
                                                            class="dropdown-item"
                                                            (click)="deleteCliqueMenu(record)">{{l('Delete')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="isDeleted && isGranted('Pages.Tenant.Connect.Menu.Categories.Edit')"
                                                            class="dropdown-item"
                                                            (click)="revertCategory(record)">{{l('Revert')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:200px">{{record.fromDate | momentFormat: 'YYYY-MM-DD'}}</td>
                                        <td style="width:200px">{{record.toDate | momentFormat: 'YYYY-MM-DD'}}</td>
                                        <td style="width:150px">{{record.screenMenuName}}</td>
                                        <td style="width:150px">{{record.fixedMenu}}</td>
                                        <td style="width:150px">{{record.cliqueMealTimeName}}</td>
                                        <td style="width:150px">{{record.locationName}}</td>
                                        <td style="width:150px">{{record.publishStatus === 1 ? 'Published' : 'Draft'}}</td>
                                        <td style="width:150px">
                                            <div *ngIf="record.monday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.monday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.tuesday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.tuesday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.wednesday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.wednesday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.thursday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.thursday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.friday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.friday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.saturday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.saturday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <div *ngIf="record.sunday" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.sunday" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #locationPaginator
                                    (onPageChange)="getCliqueMenuList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    class="paging">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>