@import 'assets/common/styles/dine-connect-customize.scss';

::ng-deep {
    .paging {
        .ui-dropdown {
            float: left;
        }
    }

    .checkbox-filter {
        position: relative;

        .checkbox {
            position: absolute;
            top: 50%;
        }
    }

    .btn-refresh-table {
        padding-bottom: 16px;
        padding-right: 16px;
    }
}
.label-date {
    margin-bottom: 0px !important;
    width: 100px;
}