<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header *ngIf="!cliqueMenuDto.id" [title]="l('Create Schedule')"> </sub-header>
        <sub-header *ngIf="cliqueMenuDto.id" [title]="l('Edit Schedule')"> </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #cliqueMenuForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <label class="required-field" for="brand">{{ l("Clique Meal Time") }}</label>
                                        <input type="text" id="Clique_Meal_Time" class="form-control" readonly
                                            required name="Clique_Meal_Time" [(ngModel)]="cliqueMenuDto.cliqueMealTimeName"
                                            #cliqueMealTimeName="ngModel" required
                                            (click)="selectCliqueMealTimePopupModal.show()" placeholder="Clique Meal Time"/>
                                            <validation-messages [formCtrl]="cliqueMealTimeName"></validation-messages>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="required-field" for="menu">{{ l("Screen Menu") }}</label>
                                        <input type="text" id="Clique_MenuItem" class="form-control" readonly
                                            name="Clique_MenuItem" [(ngModel)]="cliqueMenuDto.screenMenuName"
                                            #screenMenuName="ngModel" required
                                            (click)="selectMenuItemPopupModal.show()" placeholder="Screen Menu"/>
                                            <validation-messages [formCtrl]="screenMenuName"></validation-messages>
                                    </div>
                                </div>
                                <div class="row mt-7 d-flex align-items-end">
                                    <div class="col-md-6">
                                        <label class="required-field" for="menu">{{ l("Location") }}</label>
                                        <input type="text" id="CliqueLocation_Location" class="form-control" readonly
                                            name="CliqueLocation_Location" [(ngModel)]="cliqueMenuDto.locationName"
                                            #locationName="ngModel" required
                                            (click)="selectLocationPopupModal.show()" placeholder="Location"/>
                                            <validation-messages [formCtrl]="locationName"></validation-messages>
                                    </div>
                                    <div class="form-group col-md-6 checkbox-fixedmenu">
                                        <div class="checkbox-list col-sm-3">
                                            <label for="fixedMenu" class="checkbox">
                                                <input id="fixedMenu" type="checkbox" name="'fixedMenu" 
                                                (change)="selectFixedMenu($event.target.checked)" [checked]="cliqueMenuDto.fixedMenu">
                                                Fixed Menu
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-7">
                                    <div class="form-group col-md-6 ">
                                        <label for="publishStatus" class="label-date">{{ l('Publish Status') }} </label>
                                        <select class="form-control" name="Publish Status" id="publishStatus" [(ngModel)]="cliqueMenuDto.publishStatus">
                                            <option value="0">
                                                Draft
                                            </option>
                                            <option value="1">
                                                Published
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6" *ngIf="!cliqueMenuDto.fixedMenu">
                                        <div class="form-group m-form__group">
                                            <label>{{"From Date - To Date" | localize}}</label>
                                            <input class="form-control" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker"
                                            readonly="readonly" bsDaterangepicker dateRangePickerMomentModifier [(ngModel)]="dateRange"
                                            [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false}"
                                            placeholder="Date Range" (ngModelChange)="selectCutOfDate($event)"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-7 d-flex align-items-center" *ngIf="!cliqueMenuDto.fixedMenu">
                                    <div class="form-group col-md-6 checkbox-allday">
                                        <div class="checkbox-list col-sm-3">
                                            <label for="allDay" class="checkbox">
                                                <input id="allDay" type="checkbox" name="'allDay" 
                                                (change)="selectAllDays($event.target.checked)" [checked]="cliqueMenuDto.allDay">
                                                All Days
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 " *ngIf="!cliqueMenuDto.allDay">
                                        <label for="days">{{ l("Days") }}</label>
                                        <div class="row no-margin mb-3">
                                            <div class="checkbox-list col-sm-3">
                                                <label for="Monday" class="checkbox">
                                                    <input id="Monday" type="checkbox" name="'Monday" #monday="ngModel"
                                                        [(ngModel)]="openingHour.days[0].isSelected">
                                                    {{openingHour.days[0].name}}
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="checkbox-list col-sm-3">
                                                <label for="Tuesday" class="checkbox">
                                                    <input id="Tuesday" type="checkbox" name="Tuesday" #tuesday="ngModel"
                                                        [(ngModel)]="openingHour.days[1].isSelected">
                                                    {{openingHour.days[1].name}}
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="checkbox-list col-sm-3">
                                                <label for="Wednesday" class="checkbox">
                                                    <input id="Wednesday" type="checkbox" name="Wednesday" #wednesday="ngModel"
                                                        [(ngModel)]="openingHour.days[2].isSelected">
                                                    {{openingHour.days[2].name}}
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="checkbox-list col-sm-3">
                                                <label for="Thursday" class="checkbox">
                                                    <input id="Thursday" type="checkbox" name="Thursday" #thursday="ngModel"
                                                        [(ngModel)]="openingHour.days[3].isSelected">
                                                    {{openingHour.days[3].name}}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row no-margin mb-3">
                                            <div class="checkbox-list col-sm-3">
                                                <label for="Friday" class="checkbox">
                                                    <input id="Friday" type="checkbox" name="Friday" #friday="ngModel"
                                                        [(ngModel)]="openingHour.days[4].isSelected">
                                                    {{openingHour.days[4].name}}
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="checkbox-list col-sm-3">
                                                <label for="Saturday" class="checkbox">
                                                    <input id="Saturday" type="checkbox" name="Saturday" #saturday="ngModel"
                                                        [(ngModel)]="openingHour.days[5].isSelected">
                                                    {{openingHour.days[5].name}}
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="checkbox-list col-sm-3">
                                                <label for="Sunday" class="checkbox">
                                                    <input id="Sunday" type="checkbox" name="Sunday" #sunday="ngModel"
                                                        [(ngModel)]="openingHour.days[6].isSelected">
                                                    {{openingHour.days[6].name}}
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-7 d-flex align-items-end">
                                    <!-- <div class="form-group col-md-6 ">
                                        <label for="publishStatus" class="label-date">{{ l('Publish Status') }} </label>
                                        <select class="form-control" name="Publish Status" id="publishStatus" [(ngModel)]="cliqueMenuDto.publishStatus">
                                            <option value="0">
                                                Draft
                                            </option>
                                            <option value="1">
                                                Published
                                            </option>
                                        </select>
                                    </div> -->
                                    <!-- <div class="form-group col-md-6 " *ngIf="cliqueMenuDto.fixedMenu">
                                        <label for="cutOffDate" class="label-date">{{ l('Cut Off Date') }} </label>
                                        <input type="cutOffDate" id="cutOffDate" class="form-control" name="cutOffDate"
                                            #ValidityInput bsDatepicker datePickerMomentModifier
                                            [bsConfig]="{ adaptivePosition: true }" [(ngModel)]="cliqueMenuDto.cutOffDate" placeholder="Cut Off Date" 
                                            (ngModelChange)="selectCutOfDate()"/>
                                        <div style="height: 18px; margin-top: 3px;" *ngIf="isValid">
                                            <span class="error-valid">{{ l("Cut Of Date must before From Date") }}</span>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">
                            {{ l('Cancel') }}
                        </button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!cliqueMenuForm.form.valid || isValid">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<select-popup #selectLocationPopupModal [headers]="['Name']" [dataBinding]="['name']"
    [loadData]="getLocationForCombobox()" (changeValue)="changeLocation($event)" selectionMode="single"
    [selectedValue]="selectedLocation" [title]="l('Locations')"></select-popup>

<select-popup #selectMenuItemPopupModal [headers]="['Name']" [dataBinding]="['name']"
    [loadData]="getMenuItemForCombobox()" (changeValue)="changeMenuItem($event)" selectionMode="single"
    [selectedValue]="selectedMenuItem" [title]="l('Screen Menus')"></select-popup>

<select-popup #selectCliqueMealTimePopupModal [headers]="['Name']" [dataBinding]="['name']"
    [loadData]="getCliqueMealTimeForCombobox()" (changeValue)="changeCliqueMealTime($event)" selectionMode="single"
    [selectedValue]="selectedCliqueMealTime" [title]="l('Clique Meal Times')"></select-popup>