<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form #form="ngForm" novalidate (ngSubmit)="save(true)">
        <div class="modal-header">
          <h4 class="modal-title">
            {{l('Edit')}}

            <b>{{l('MenuItem')}}: {{this.model.menuName}}</b>
            &#32;
            <i>({{this.model.portionName}})</i>
          </h4>
          <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="mb-5 border-green m-bordered">
            <p> {{l('EditModalInfo')}} </p>
          </div>

          <div class="form-group">
            <label class="control-label" for="price">{{l('Price')}}</label>
            <input id="price" type="number" name="price" class="form-control" [(ngModel)]="model.price" readonly>
          </div>

          <div class="form-group">
            <label class="control-label" for="locationPrice">{{l('LocationPrice')}}</label>
            <input id="locationPrice" type="number" name="locationPrice" class="form-control"
              [(ngModel)]="model.locationPrice">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary font-weight-bold" [disabled]="saving || itemIndex === 0"
            (click)="prev()">
            <i class="fas fa-arrow-left"></i>
            {{l('Previous')}}
          </button>

          <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
            {{l('Cancel')}}
          </button>

          <button type="button" class="btn btn-primary font-weight-bold" [disabled]="saving" [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')" (click)="save()">
            <i class="fa fa-save"></i>
            {{l('Save')}} & {{l('Close')}}
          </button>

          <button type="button" class="btn btn-primary font-weight-bold"
            [disabled]="saving || itemIndex >= (data.length - 1)" [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')" (click)="save(true)">
            <i class="fas fa-arrow-right"></i>
            {{l('Save')}} & {{l('Next')}}
          </button>

          <input type="submit" hidden />
        </div>
      </form>
    </div>
  </div>
</div>