<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('LocationPrices')" [description]="l('LocationPricesHeaderInfo')">
            <div role="actions">
                <button class="btn btn-primary" (click)="openSelectLocationModal()">
                    <i class="fas fa-map-marker-alt"></i>
                    <span *ngIf="!location.locationName">{{l('Location')}}</span>
                    <span *ngIf="location.locationName">{{location.locationName}}</span>
                </button>

                <button class="btn btn-outline-success" (click)="import()" [disabled]="importing || !locationId"
                    [buttonBusy]="importing" [busyText]="l('ImportingWithThreeDot')">
                    <i class="fa fa-upload"></i>
                    {{l("Import")}}
                </button>

            </div>
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!-- Filter Form -->
                    <form class="form" autocomplete="off" (ngSubmit)="search()">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="search()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Filter Form -->

                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable (onLazyLoad)="getItems($event)" [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col *ngIf="isGranted('Pages.Tenant.Connect.Menu.LocationPrices.Edit')"
                                                style="width: 130px;" />
                                        </colgroup>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="id">
                                                {{l('Id')}}
                                                <p-sortIcon field="id"></p-sortIcon>
                                            </th>

                                            <th pSortableColumn="menuName">
                                                {{l('MenuName')}}
                                                <p-sortIcon field="menuName"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="portionName">
                                                {{l('PortionName')}}
                                                <p-sortIcon field="portionName"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="price">
                                                {{l('Price')}}
                                                <p-sortIcon field="price"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="locationPrice">
                                                {{l('LocationPrice')}}
                                                <p-sortIcon field="locationPrice"></p-sortIcon>
                                            </th>

                                            <th *ngIf="isGranted('Pages.Tenant.Connect.Menu.LocationPrices.Edit')">
                                                {{l('Edit')}}
                                            </th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                                        <tr>
                                            <td>
                                                <span class="ui-column-title"> {{l('Id')}}</span>
                                                {{record.id}}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{l('MenuName')}}</span>
                                                {{record.menuName}}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{l('PortionName')}}</span>
                                                {{record.portionName}}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{l('Price')}}</span>
                                                {{record.price}}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{l('LocationPrice')}}</span>
                                                {{record.locationPrice}}
                                            </td>

                                            <td *ngIf="isGranted('Pages.Tenant.Connect.Menu.LocationPrices.Edit')">
                                                <span class="ui-column-title"> {{l('Edit')}}</span>
                                                <button class="btn-secondary btn" type="button"
                                                    (click)="editItem(rowIndex)">
                                                    <i class="flaticon-edit"></i>{{l('Edit')}}
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div *ngIf="primengTableHelper.totalRecordsCount === 0" class="primeng-no-data">
                                    {{l('NoData')}}
                                </div>

                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getItems($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>

                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<import-modal #importModal (modalSave)="getItems()"></import-modal>
<select-single-location #selectLocationModal [location]="location" (locationAdded)="setLocation($event)">
</select-single-location>
<app-edit-location-prices #editModal [locationId]="locationId"></app-edit-location-prices>