<section class="login orange_bg pt-150">
    <div class="container-fluid" style="height: 100%;">
        <article>
            <div class="login-form">
                <h4 class="pb-4">{{ 'ForgotPassword' | localize }}</h4>
                <form class="kt-form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
                    <p>
                        {{ 'SendPasswordResetLink_Information' | localize }}
                    </p>
    
                    <div class="form-group">
                        <input
                            #emailAddressInput="ngModel"
                            [(ngModel)]="model.emailAddress"
                            autoFocus
                            class="form-control placeholder-no-fix"
                            type="text"
                            autocomplete="new-password"
                            placeholder="{{ 'EmailAddress' | localize }} *"
                            name="emailAddress"
                            required
                            maxlength="256"
                            email
                        />
                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                    </div>
    
                    <div class="kt-login__actions">
                        <button
                            type="submit"
                            class="btn orange-btn"
                            [disabled]="!forgotPassForm.form.valid"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"
                        >
                            <i class="fa fa-check"></i>
                            {{ 'Submit' | localize }}
                        </button>
                    </div>
                </form>
            </div>
        </article>
    </div>
</section>
