<div class="wrapper-payment">
  <div class="wrapper-order-info">
      <div id="header-order-info">
          <span>{{ orderInfoLbl}}</span>
      </div>
      <div class="order-info">
          <p class="user-info">
              <span>Name</span>
              <strong>{{ wheelBillingInfo?.name }}</strong>
          </p>
          <p class="user-info">
              <span>Email</span>
              <strong>{{ wheelBillingInfo?.emailAddress }}</strong>
          </p>
          <p class="user-info">
              <span>Phone</span>
              <strong>{{ wheelBillingInfo?.phoneNumber }}</strong>
          </p>
          <!-- <p class="user-info">
              <span>Order Created Time</span>
              <strong>{{ orderInfo?.orderTime | date: "MMM d, y h:mm:ss a" }}</strong>
          </p> -->
          <p class="user-info">
              <span>Order Time</span>
              <strong>{{ orderInfo?.order.deliveryTime}}</strong>
          </p>
          <p class="user-info">
              <span>Total</span>
              <strong>{{ systemCurrency }} {{ orderInfo?.paidAmount?.toFixed(2) }}</strong>
          </p>
          <p class="user-info">
              <span>Payment Method</span>
              <strong>{{ orderInfo?.paymentOption }}</strong>
          </p>
          <p class="user-info" *ngIf="orderInfo?.deliveryTime > 0">
              <span>Delivery Time</span>
              <strong>{{ orderInfo?.deliveryTime }} mins</strong>
          </p>
          <ng-container>
              <p>Note</p>
              <p class="ticket-note">{{ orderInfo?.note }}</p>
          </ng-container>
      </div>
  </div>
  <div class="wrapper-order-summary">
      <div id="header-order-summary">
          <span>{{ orderSummaryLbl}}</span>
      </div>
      <div class="order-summary">
          <div class="order-items-header">
              <div id="title-quantity">QTY</div>
              <div id="title-info">ITEM</div>
              <div id="title-price">PRICE</div>
          </div>
          <hr class="mark-line" style="border-top: 1px dashed #d5d5d5" />
          <ng-container *ngFor="let item of itemList">
              <div class="order-item" *ngIf="!item.comboId; else comboTemplate">
                  <div id="quantity">{{ item.totalItems }}</div>
                  <div class="info">{{ item.name + " - " + item.description }}
                      <div class="order-note" *ngIf="item.note">{{ item.note }}</div>
                  </div>
                  <div id="price">
                      {{ systemCurrency }} {{ item.totalPrice?.toFixed(2) }}
                  </div>
              </div>
              <ng-template #comboTemplate>
                  <div class="order-item" *ngFor="let comboItem of item.orderItems; let i = index">
                      <div id="quantity">{{ i === 0 ? item.totalItems : "" }}</div>
                      <div class="info">
                          {{
                          comboItem.description
                          ? comboItem.name + " - " + comboItem.description
                          : comboItem.name
                          }}
                          <div class="order-note" *ngIf="item.note">{{ item.note }}</div>
                      </div>
                      <div id="price">
                          <span *ngIf="i === 0">{{ systemCurrency }} {{ item.totalPrice?.toFixed(2) }}</span>
                      </div>
                  </div>
              </ng-template>
          </ng-container>

          <hr style="border-top: 1px dashed #d5d5d5" />
          <p class="fee-detail">
              <span>Sub Total</span>
              <strong>{{ systemCurrency }}
                  {{ orderInfo.order.amount?.toFixed(2) }}</strong>
          </p>

          <p class="fee-detail">
              Delivery fee:
              <span><strong> {{  deliveryFee }}</strong></span>
          </p>
          <p class="fee-detail" *ngFor="let fee of wheelServiceFees">
              <span>
                  {{
                  fee.feeType
                  ? fee.name
                  : fee.name + "(" + fee.value?.toFixed(2) + "%)"
                  }}:
              </span>
              <strong>
                  {{ systemCurrency }}
                  {{
                  fee.feeType
                  ? fee.value?.toFixed(2)
                  : ((orderInfo?.order.amount * fee.value) / 100)?.toFixed(2)
                  }}
              </strong>
          </p>

          <!-- <p class="fee-detail">
        <span>Discount</span> <strong style="color: #ee003c"> Free</strong>
      </p> -->
          <hr style="border-top: 1px dashed #d5d5d5" />
          <p class="fee-detail">
              <strong>Total</strong>
              <strong>{{ systemCurrency }} {{ orderInfo?.paidAmount?.toFixed(2) }}</strong>
          </p>
      </div>
  </div>
</div>
