<div appBsModal #modal="bs-modal" class="modal fade" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="companyEditDto">

            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <span *ngIf="companyEditDto.id">
                        Edit {{companyEditDto.name}}
                    </span>
                    <span *ngIf="!companyEditDto.id">
                        {{l("Create New Comany")}}
                    </span>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="companyEditDto.address">

                <div class="m-heading-1 border-green m-bordered">
                    <p> Code should have Minimum of 2 Characters and Maximum of 4 Characters </p>
                </div>

                <form #companyForm="ngForm" novalidate (ngSubmit)="save()">
                    <tabset #tab class="tab-container tabbable-line">
                        <tab heading="{{l('General')}}" customClass="m-tabs__item" class="p-5">
                            <div class="form-group">
                                <label for="code" class="required-field">{{l("Code")}}</label>
                                <input id="code" type="code" name="code" #companyCode="ngModel" class="form-control" autofocus
                                    required [(ngModel)]="companyEditDto.code" placeholder="Code">
                                <validation-messages [formCtrl]="companyCode"></validation-messages>
                            </div>

                            <div class="form-group">
                                <label for="name" class="required-field">{{l("Name")}}</label>
                                <input id="name" type="text" name="name" #companyName="ngModel" class="form-control"
                                    required [(ngModel)]="companyEditDto.name"  placeholder="Name">
                                <validation-messages [formCtrl]="companyName"></validation-messages>

                            </div>
                        </tab>
                        <tab *ngIf="companyEditDto.code" heading="{{l('Logo')}}" customClass="m-tabs__item" class="p-5">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img (dblclick)="changePicture(null)" *ngIf="companyEditDto['companyProfilePictureId']"
                                         [src]=""
                                         class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                    <img (dblclick)="changePicture(companyEditDto.id)" *ngIf="!companyEditDto['companyProfilePictureId']"
                                         src="assets/common/images/default-profile-picture.png" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                </div>
                                <!-- <div class="mt-4">
                                    <div class="form-group">
                                        <input type="file" (change)="fileChangeEvent($event)" />
                                        <span class="help-block m-b-none" >{{"ProfilePicture_Change_Info" | localize: 5}}</span>
                                    </div>
                                    <image-cropper
                                        [imageChangedEvent]="imageChangedEvent"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="4 / 4"
                                        [resizeToWidth]="128"
                                        format="png"
                                        (imageCropped)="imageCroppedFile($event)"
                                        [hidden]="useGravatarProfilePicture"
                                    ></image-cropper>
                                </div> -->
                            </div>
                        </tab>
                        <tab heading="{{l('Address')}}" customClass="m-tabs__item" class="p-5">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="address1">{{l("Address Line 1")}}</label>
                                        <input id="address1" type="text" name="address1" class="form-control"
                                            [(ngModel)]="companyEditDto.address.address1" placeholder="Address Line 1">
                                    </div>

                                    <div class="form-group">
                                        <label for="address3">{{l("Address Line 3")}}</label>
                                        <input id="address3" type="address3" name="address3" class="form-control"
                                            [(ngModel)]="companyEditDto.address.address3" placeholder="Address Line 3">
                                    </div>

                                    <div class="form-group">
                                        <label for="stateId">{{l("State")}}</label>
                                        <select id="stateId" class="form-control"
                                            [(ngModel)]="companyEditDto.address.stateId" name="stateId"
                                            #stateId="ngModel" (change)="setState()">
                                            <option [value]="undefined" disabled>
                                                {{"Select_State" | localize}}
                                            </option>
                                            <option *ngFor="let state of stateListDropDown" [value]="state.value">
                                                {{state.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="address2">{{l("Address Line 2")}}</label>
                                        <input id="address2" type="text" name="address2" class="form-control"
                                            [(ngModel)]="companyEditDto.address.address2" placeholder="Address Line 2">
                                    </div>
                                    <div class="form-group">
                                        <label for="countryId">{{l("Country")}}</label>
                                        <select id="countryId" (change)="setCountry()" class="form-control"
                                            [(ngModel)]="companyEditDto.address.countryId" name="countryId"
                                            #countryId="ngModel">
                                            <option [ngValue]="undefined" disabled>
                                                {{"Select_Country" | localize}}
                                            </option>
                                            <option *ngFor="let country of countryListDropDown" [ngValue]="country.value">
                                                {{country.label}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cityId">{{l("City")}} <ng-container *ngIf="companyEditDto.address.address1 || companyEditDto.address.address2 || companyEditDto.address.address3">*</ng-container></label>
                                        <select id="cityId" class="form-control"
                                            [(ngModel)]="companyEditDto.address.cityId" name="cityId" #cityId="ngModel">
                                            <option [ngValue]="undefined" disabled>
                                                {{"Select_City" | localize}}
                                            </option>
                                            <option *ngFor="let city of cityListDropDown" [ngValue]="city.value">
                                                {{city.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{l('Contact')}}" customClass="m-tabs__item" class="p-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phoneNumber">{{l("PhoneNumber")}}</label>
                                        <input id="phoneNumber" type="text" name="phoneNumber" class="form-control"
                                            [(ngModel)]="companyEditDto.phoneNumber" placeholder="Phone Number">
                                    </div>
                                    <div class="form-group">
                                        <label for="faxNumber">{{l("FaxNumber")}}</label>
                                        <input id="faxNumber" type="text" name="faxNumber" class="form-control"
                                            [(ngModel)]="companyEditDto.faxNumber" placeholder="Fax Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userSerialNumber">{{l("S.No")}}</label>
                                        <input id="userSerialNumber" type="email" name="userSerialNumber"
                                            class="form-control" [(ngModel)]="companyEditDto.userSerialNumber"
                                            maxlength="256" placeholder="S.No">
                                    </div>
                                    <div class="form-group">
                                        <label for="govtApprovalId">{{l("GovernmentApprovalCode")}}</label>
                                        <input id="govtApprovalId" type="code" name="govtApprovalId"
                                            class="form-control" [(ngModel)]="companyEditDto.govtApprovalId"
                                            maxlength="256" placeholder="Government Approval Code">
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                            (click)="close()">{{l("Cancel")}}</button>
                        <button class="btn btn-primary blue" type="submit" [buttonBusy]="saving"
                            [disabled]="!companyForm.form.valid" [busyText]="l('SavingWithThreeDot')">
                            <i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
