<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="menuItem.name">
        </sub-header>
        <!-- End Header -->
        <div [class]="containerClass" [busyIf]="isLoading">
            <div class="card card-custom gutter-b">
                <form #menuItemForm="ngForm" class="card-body" novalidate autocomplete="off" (ngSubmit)="save()">
                    <tabset class="tab-container tabbable-line">
                        <tab heading="{{l('BasicInformation')}}" customClass="kt-tabs__item" class="pt-5">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">{{l("Name")}}</label>
                                    <textarea [(ngModel)]="menuItem.name" class="form-control" name="name" id="name"
                                        rows="3"></textarea>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="menuItems">{{"MenuItem" | localize}}</label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-primary" *ngIf="!selectedMenuItem" (click)="openforMenuItem()">{{l("MenuItem")}}</button>
                                        <button type="button" class="btn btn-primary" *ngIf="selectedMenuItem" (click)="openforMenuItem()">{{selectedMenuItem.id + ' - '+ selectedMenuItem.name}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>{{l("ButtonColor")}}</label>

                                    <div class="input-group">
                                        <input [(ngModel)]="menuItem.buttonColor" class="form-control" name="buttonColorView"
                                            type="color" style="max-width: 45px;" />
                                        <input [(ngModel)]="menuItem.buttonColor" class="form-control" name="buttonColor"
                                            type="text" />
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>{{l("FontSize")}}</label>
                                    <input [(ngModel)]="menuItem.fontSize" class="form-control" name="fontSize" type="number" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{l("MenuItemOrderTag")}}</label>
                                    <input type="text" name="orderTags" class="form-control" [(ngModel)]="menuItem.orderTags">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">{{l("SubMenuTag")}}</label>
                                    <tag-input (onTextChange)="onTextChange($event)" [(ngModel)]="tags" name="subMenuTag" class="app-ng2-tag-input"
                                        [ripple]="false" [errorMessages]="errorMessages" [validators]="[minlength]">
                                        <ng-template let-item="item" let-index="index">
                                            <span>{{ item.value }}</span>

                                            <span role="button" class="tags-input__tag-remove-btn"
                                                (click)="removeSubMenuTags(index)">
                                                <span aria-hidden="true">×</span>
                                                <span class="sr-only">Close</span>
                                            </span>
                                        </ng-template>
                                    </tag-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="confirmationType" class="control-label">{{l("ConfirmationType")}}</label>
                                    <select id="confirmationType" class="form-control" [(ngModel)]="menuItem.confirmationType"
                                        name="confirmationType">
                                        <option *ngFor="let type of confirmationTypes" [value]="type.value">
                                            {{type.displayText}}
                                        </option>
                                    </select>
                                </div>


                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="autoSelect" class="checkbox mt-8">
                                        <input id="autoSelect" type="checkbox" name="autoSelect"
                                            [(ngModel)]="menuItem.autoSelect">
                                        {{l("AutoSelect")}}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="showAliasName" class="checkbox mt-8">
                                        <input id="showAliasName" type="checkbox" name="showAliasName"
                                            [(ngModel)]="menuItem.showAliasName">
                                        {{l("DisplayAliasName")}}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="copyToAll" class="checkbox mt-8">
                                        <input id="copyToAll" type="checkbox" name="copyToAll" [(ngModel)]="copyToAll">
                                        {{l("CopyToAll")}}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="weightedItem" class="checkbox mt-8">
                                        <input id="weightedItem" type="checkbox" name="weightedItem"
                                            [(ngModel)]="menuItem.weightedItem">
                                        {{l("WeightedItem")}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="voucherItem" class="checkbox mt-8">
                                        <input id="voucherItem" type="checkbox" name="voucherItem"
                                            [(ngModel)]="menuItem.voucherItem">
                                        {{l("VoucherItem")}}
                                        <span></span>
                                    </label>
                                </div>

                            </div>
                        </tab>
                        <tab heading="{{l('Image')}}" customClass="kt-tabs__item" class="pt-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input *ngIf="replyFiles?.length == 0" id="images" name="Images" type="file" ng2FileSelect class="mb-3" [uploader]="uploader" />

                                        <div class="primeng-datatable-container w-100" [busyIf]="primengTableHelper.isLoading">
                                          <p-table [value]="replyFiles" [scrollable]="true" [paginator]="false">
                                            <ng-template pTemplate="header">
                                              <tr>
                                                <th>{{'Link' | localize}}</th>
                                                <th style="width: 130px;">{{'Actions' | localize}}</th>
                                              </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-item="$implicit" let-index="rowIndex">
                                              <tr>
                                                <td>
                                                  <a [href]="item">{{ item }}</a>
                                                </td>
                                                <td style="width: 130px;text-align:center">
                                                  <div class="btn-group dropdown" dropdown>
                                                    <button type="button" class="btn btn-danger btn-sm" (click)="removeFile(index)">
                                                      <span class="fa fa-trash"></span> {{'Delete' | localize}}
                                                    </button>
                                                  </div>
                                                </td>
                                              </tr>
                                            </ng-template>
                                          </p-table>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>

                    <div class=" modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{l("Cancel")}}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<commonLookupModal #menuItemLookupModal (itemSelected)="menuItemSelected($event)"></commonLookupModal>
