
<div class="card card-custom h-100">
    <div class="card-header align-items-center border-0">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">
                Top 10 Items
            </span>
        </h3>
    </div>
    <div class="card-body" [perfectScrollbar]>
         <p-chart type="pie" [data]="data"  height="30vh"></p-chart>
    </div>
</div>



