<div class="queue-location row align-items-start mt-5" [busyIf]="primengTableHelper.isLoading"> 
    <div class="queue-current">
        <div class="queue-no d-flex flex-column align-items-center justtify-content-center">
            <div class="now-calling">{{ l('NowCalling') }}</div>
            <div class="now-number">
                {{ currentQueue?.queueNo || '-' }}
            </div>
        </div>
        <div class="queue-info">{{ option.name }}</div>
        <div class="queue-action">
            <div class="d-flex flex-row justify-content-center p-5">
                <button
                    [disabled]="isDisabledCallNext"
                    (click)="callNext()"
                    type="button"
                    class="btn btn-primary"
                >
                    {{ l('CallNext') }}
                </button>
            </div>
        </div>
    </div>
    <div class="queue-history">
        <div class="p-5 d-flex flex-row align-items-center">
            <div>
                <label for="isInQueue" class="checkbox mr-2">
                    <input [(ngModel)]="isInQueue" id="isInQueue" name="isInQueue" type="checkbox"
                        (change)="refresh()">
                    {{l("In Queue")}}
                    <span></span>
                </label>
            </div>
            <div>
                <label for="isCompleted" class="checkbox mr-2">
                    <input [(ngModel)]="isCompleted" id="isCompleted" name="isCompleted" type="checkbox"
                        (change)="refresh()">
                    {{l("Completed")}}
                    <span></span>
                </label>
            </div>
        </div>

        <!--<Primeng-Datatable-Start>-->
        <div class="primeng-datatable-container col-12">
            <p-table
                #queueTable
                class="custom-table"
                [value]="primengTableHelper.records"
                [(rows)]="paging.rows"
                [paginator]="true"
                [(first)]="paging.first"
                [showCurrentPageReport]="true"
                [scrollable]="true"
                (sortFunction)="primengTableHelper.customSort($event)"
                [customSort]="true"
                [virtualScroll]="true"
                scrollHeight="200px"
                [scrollable]="true"
                [virtualRowHeight]="58"
                [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="queueNo">
                            {{ l('QueueNo') }}
                            <p-sortIcon field="queueNo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="customerName">
                            {{ l('Guest') }}
                            <p-sortIcon field="customerName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="queueTime">
                            {{ l('QueueTime') }}
                            <p-sortIcon field="queueTime"></p-sortIcon>
                        </th>
                        <th pSortableColumn="callTime">
                            {{ l('CallTime') }}
                            <p-sortIcon field="callTime"></p-sortIcon>
                        </th>
                        <th pSortableColumn="finishTime">
                            {{ l('FinishTime') }}
                            <p-sortIcon field="finishTime"></p-sortIcon>
                        </th>
                        <th>
                            {{ l('CallDuration') }}
                        </th>
                        <th>
                            {{ l('Status') }}
                        </th>
                        <th style="width: 200px">
                            {{ l('Actions') }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-index="$index">
                    <tr [ngClass]="{current: record.id == currentQueue?.id}">
                        <td>
                            <span class="ui-column-title"> {{ l('QueueNo') }}</span>
                            <div>{{ record.queueNo }}</div>
                            <div>{{ option.minPax }}-{{ option.maxPax }} Guests</div>
                        </td>
                        <td>
                            <span class="ui-column-title"> {{ l('Guest') }}</span>
                            <div>{{ record.customerName }}</div>
                            <div>{{ record.customerMobile }}</div>
                        </td>
                        <td>
                            <span class="ui-column-title"> {{ l('QueueTime') }}</span>
                            {{ record.queueTime | date: 'dd MMM yyyy hh:mm:ss' }}
                        </td>
                        <td>
                            <span class="ui-column-title"> {{ l('CallTime') }}</span>
                            {{ record.callTime | date: 'dd MMM yyyy hh:mm:ss' }}
                        </td>
                        <td>
                            <span class="ui-column-title"> {{ l('FinishTime') }}</span>
                            {{ record.finishTime | date: 'dd MMM yyyy hh:mm:ss' }}
                        </td>
                        <td>
                            <span class="ui-column-title"> {{ l('CallDuration') }}</span>
                            {{ callDuration(record.callTime, record.finishTime) }}
                        </td>
                        <th>
                            <span *ngIf="!record.callTime && record.finishTime" class="badge badge-danger">Removed</span>
                        </th>
                        <td style="width: 200px">
                            <div class="dflex flex-row align-items-center">
                                <ng-container *ngIf="record.id == currentQueue?.id && record.callTime && !record.finishTime">
                                    <button
                                    [disabled]="!queueLocation?.enableQueue || !option.active"
                                    type="button"
                                    class="btn btn-sm btn-success"
                                    (click)="seated(record)"
                                >
                                    {{ l('Seated') }}
                                </button>
                                <button
                                    [disabled]="!queueLocation?.enableQueue || !option.active"
                                    type="button"
                                    class="btn btn-sm btn-danger"
                                    (click)="noShow(record)"
                                >
                                    {{ l('NoShow') }}
                                </button>
                                </ng-container>
                                <button
                                    *ngIf="!record.finishTime && !record.callTime"
                                    [disabled]="isDisabledCallNext"
                                    type="button"
                                    class="btn btn-sm btn-primary"
                                    (click)="callNow(record)"
                                >
                                    {{ l('CallNow') }}
                                </button>
                                <button
                                    *ngIf="record.finishTime"
                                    [disabled]="isDisabledCallNext"
                                    type="button"
                                    class="btn btn-sm btn-warning"
                                    (click)="recall(record)"
                                >
                                    {{ l('Recall') }}
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns?.length" class="text-center">
                            {{ l('NoRecordsFound') }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="primeng-paging-container mt-5">
                <!-- <p-paginator
                    #queuePaginator
                    [rows]="paging.rows"
                    [totalRecords]="option.customerQueues?.length"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                    (onPageChange)="onChangePage($event)"
                >
                </p-paginator> -->
                <div style="height: 20px;"></div>
                <span class="total-records-count">
                    {{ l('TotalRecordsCount', option.customerQueues?.length || 0) }}
                </span>
            </div>
        </div>
        <!--<Primeng-Datatable-End>-->
    </div>
</div>
