::ng-deep {
    p-table.custom-table p-paginator {
        display: none !important;
    }
}

.queue-location {
    padding: 20px 15px;
    border: solid 1px #eee;
    border-radius: 5px;
}

.queue-current {
    border: solid  1px #eee;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
}

.queue-current .btn.btn-primary {
    width: 100%;
}

.queue-history {
    width: calc(100% - 350px);
}

.queue-action div .btn {
    min-width: calc(50% - 5px);
    border-radius: 20px
}

.now-calling {
    font-size: 16px;
    color: #1bc5bd;
}

.current td {
    color: #1bc5bd;
    font-weight: 600; 
}

.now-number {
    font-size: 50px;
    color: #1bc5bd;
    font-weight: 600;
}

.queue-info {
    text-align: center;
    font-size: 20px;
}

td .btn {
    min-width: 80px;
}