::ng-deep {
  body .ui-widget-content.ui-picklist-list {
    border: 1px solid #c8c8c8 !important;
  }

  body .ui-picklist-filter-container.ui-widget-content {
    border: 1px solid #c8c8c8 !important;
  }

  .ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
    font-size: 14px;
    width: 2.357em;
  }

  .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
    width: 60px;
  }

  .ui-picklist .ui-picklist-source-controls.ui-picklist-buttons,
  .ui-picklist .ui-picklist-target-controls.ui-picklist-buttons {
    display: none;
  }

  .ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper {
    width: 48%;
  }
}