<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('CreateMenuItem')">
        </sub-header>
        <!-- End Header -->
        <div [class]="containerClass" [busyIf]="isLoading">
            <div class="card card-custom gutter-b">
                <form #menuItemForm="ngForm" class="card-body" novalidate autocomplete="off" (ngSubmit)="save()">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>{{l("ButtonColor")}}</label>

                            <div class="input-group">
                                <input [(ngModel)]="menuItem.buttonColor" class="form-control" name="buttonColorView"
                                    type="color" style="max-width: 45px;" />
                                <input [(ngModel)]="menuItem.buttonColor" class="form-control" name="buttonColor"
                                    type="text" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label>{{l("FontSize")}}</label>
                            <input [(ngModel)]="menuItem.fontSize" class="form-control" name="fontSize" type="number" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">{{l("MenuItemOrderTag")}}</label>
                            <input type="text" name="orderTags" class="form-control" [(ngModel)]="menuItem.orderTags">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">{{l("SubMenuTag")}}</label>
                            <tag-input (onTextChange)="onTextChange($event)" [errorMessages]="errorMessages" [validators]="[minlength]"
                                [(ngModel)]="subMenuTags" name="subMenuTag" class="app-ng2-tag-input" [ripple]="false">
                                <ng-template let-item="item" let-index="index">
                                    <span>{{ item.value }}</span>

                                    <span role="button" class="tags-input__tag-remove-btn"
                                        (click)="removeSubMenuTags(index)">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">Close</span>
                                    </span>
                                </ng-template>
                            </tag-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="confirmationType" class="control-label">{{l("ConfirmationType")}}</label>
                            <select id="confirmationType" class="form-control" [(ngModel)]="menuItem.confirmationType"
                                name="confirmationType">
                                <option *ngFor="let type of confirmationTypes" [value]="type.value">
                                    {{type.displayText}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="weightedItem" class="checkbox mt-8">
                                <input id="weightedItem" type="checkbox" name="weightedItem"
                                    [(ngModel)]="menuItem.weightedItem">
                                {{l("WeightedItem")}}
                                <span></span>
                            </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h5 for="link" class="control-label">{{l("Link")}}</h5>
                            <p-pickList id="link" class="w-100" [source]="groupOptions.items"
                                [target]="groupOptions.selectedItems" sourceHeader="All" targetHeader="Selected"
                                [responsive]="true" [sourceStyle]="{'height':'300px'}"
                                [targetStyle]="{'height':'300px'}" filterBy="name"
                                sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
                                <ng-template let-item pTemplate="item">
                                    <span>{{item.name}}</span>
                                </ng-template>
                            </p-pickList>
                        </div>
                    </div>


                    <div class=" modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{l("Cancel")}}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>