<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!charge?.id" [title]="'Create Charge' | localize"> </sub-header>
        <sub-header *ngIf="charge?.id" [title]="'Edit Charge' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <div class="form">
                            <tabset class="tab-container tabbable-line">
                                <tab heading="Cluster Charge">
                                    <div class="row mt-5">
                                        <div class="form-group col-md-6">
                                            <label for="">{{ l('Name') }}</label>
                                            <input
                                                [(ngModel)]="charge.name"
                                                type="text"
                                                class="form-control"
                                                name="name"
                                                id="name"
                                                required
                                                placeholder=""
                                            />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="">{{ l('Applicable On') }}</label>
                                            <input
                                                [(ngModel)]="charge.applicableOn"
                                                type="text"
                                                class="form-control"
                                                name="applicableOn"
                                                id="applicableOn"
                                                placeholder=""
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="">{{ l('Amount') }}</label>
                                            <input
                                                [(ngModel)]="charge.amount"
                                                type="number"
                                                class="form-control"
                                                name="amount"
                                                id="amount"
                                                placeholder=""
                                            />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="">{{ l('Exclude Delivery Types') }}</label>
                                            <input
                                                [(ngModel)]="charge.excludeDeliveryTypes"
                                                type="text"
                                                class="form-control"
                                                name="excludeDeliveryTypes"
                                                id="excludeDeliveryTypes"
                                                placeholder=""
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="">{{ l('FulFillment Types') }}</label>
                                            <input
                                                [(ngModel)]="charge.fullFilmentTypes"
                                                type="number"
                                                class="form-control"
                                                name="fullFilmentTypes"
                                                id="fullFilmentTypes"
                                                placeholder=""
                                            />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="">{{ l('Local Ref Code') }}</label>
                                            <input
                                                [(ngModel)]="charge.localRefCode"
                                                type="text"
                                                class="form-control"
                                                name="localRefCode"
                                                id="localRefCode"
                                                placeholder=""
                                            />
                                        </div>
                                    </div>
                                </tab>

                                <tab heading="Cluster Charge Mapping">
                                    <div class="row mt-5">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>{{ l('Delete') }}</th>
                                                        <th>{{ l('LocationGroup') }}</th>
                                                        <th>{{ l('DelAggItemGroup') }}</th>
                                                        <th>{{ l('Add') }}</th>
                                                    </tr>
                                                </thead>
                                                <tr></tr>
                                                <tr *ngFor="let data of delAggChargeMapping; let index = index">
                                                    <td class="col-sm-1">
                                                        <button
                                                            type="button"
                                                            class="btn btn-danger btn-sm"
                                                            (click)="removeMapping(index)"
                                                        >
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <p-dropdown
                                                            [options]="locationGroups"
                                                            [ngModel]="{ id: data.delAggLocationGroupId }"
                                                            (ngModelChange)="data.delAggLocationGroupId = $event.id"
                                                            name="delAggLocationGroupId_{{ index }}"
                                                            styleClass="w-100"
                                                            [placeholder]="l('*')"
                                                            [filter]="true"
                                                            optionLabel="name"
                                                            dataKey="id"
                                                        >
                                                        </p-dropdown>
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <p-dropdown
                                                            [options]="itemGroups"
                                                            [ngModel]="{ id: data.delItemGroupId }"
                                                            (ngModelChange)="data.delItemGroupId = $event.id"
                                                            name="delItemGroupId_{{ index }}"
                                                            styleClass="w-100"
                                                            [placeholder]="l('*')"
                                                            [filter]="true"
                                                            optionLabel="name"
                                                            dataKey="id"
                                                        >
                                                        </p-dropdown>
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <button
                                                            type="button"
                                                            class="btn btn-primary btn-sm"
                                                            (click)="addMapping()"
                                                        >
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
