<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Brands' | localize" [description]="'BrandsHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox" (change)="getCompanyList()" />
                    {{ l('Deleted') }}
                    <span></span>
                </label>
                <button class="btn btn-success" (click)="exportToExcel()">
                    {{ l('ExportToExcel') }}
                </button>
                <button
                    *ngIf="isGranted('Pages.Tenant.Connect.Location.Brands.Create')"
                    (click)="craeteOrUpdateOrganization()"
                    class="btn btn-primary"
                >
                    {{ l('CreateNewBrand') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <div class="has-search">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input
                                                    [(ngModel)]="filterText"
                                                    name="filterText"
                                                    autoFocus
                                                    class="form-control m-input form-control-solid"
                                                    [placeholder]="l('SearchWithThreeDot')"
                                                    type="text"
                                                />
                                            </div>
                                            <span class="input-group-btn">
                                                <button (click)="showFilterOptions()" type="button" class="btn btn-filter">
                                                    <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                                    <span>
                                                        {{ l('Filter') }}
                                                    </span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #organizationTable
                                (onLazyLoad)="getCompanyList($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="id">
                                            {{ l('Id') | uppercase }}
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="code">
                                            {{ l('Code') | uppercase }}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ l('Name') | uppercase }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">
                                            {{ l('Address1') | uppercase }}
                                        </th>
                                        <th style="width: 150px">
                                            {{ l('State') | uppercase }}
                                        </th>
                                        <th style="width: 150px">
                                            {{ l('City') | uppercase }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="phoneNumber">
                                            {{ l('PhoneNumber') | uppercase }}
                                            <p-sortIcon field="phoneNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" class="text-right">
                                            <span class="mr-5">
                                                {{ l('Actions') | uppercase }}
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Id' | localize }}</span>
                                            {{ record.id }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Code' | localize }}</span>
                                            {{ record.code }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Name' | localize }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'Address1' | localize }}</span>
                                            {{ record.address?.address1 }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'State' | localize }}</span>
                                            {{ record.address?.stateName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'City' | localize }}</span>
                                            {{ record.address?.cityName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ 'PhoneNumber' | localize }}</span>
                                            {{ record.phoneNumber }}
                                        </td>
                                        <td
                                            style="width: 130px"
                                            class="text-right"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Connect.Location.Brands.Edit',
                                                    'Pages.Tenant.Connect.Location.Brands.Delete'
                                                )
                                            "
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                    <span class="caret"></span>
                                                    <span class="mr-5">{{ 'Actions' | localize }}</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Location.Brands.Edit')"
                                                            class="dropdown-item"
                                                            href="javascript:void(0);"
                                                            (click)="craeteOrUpdateOrganization(record.id)"
                                                            >{{ 'Edit' | localize }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Location.Brands.Delete')"
                                                            class="dropdown-item"
                                                            href="javascript:void(0);"
                                                            (click)="deleteOrganization(record)"
                                                            >{{ 'Delete' | localize }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="
                                                                isDeleted &&
                                                                permission.isGranted('Pages.Tenant.Connect.Location.Brands.Edit')
                                                            "
                                                            (click)="activateItem(record)"
                                                            >{{ l('Revert') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #organizationPaginator
                                    (onPageChange)="getCompanyList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ 'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <app-organization-filter
        [childArrayListForFilter]="parentArrayListForFilter"
        (filterationEmitter)="parentFilterationEmitterReceiver($event)"
        (close)="isShowFilterOptions = false"
    ></app-organization-filter>
</p-sidebar>

<createOrUpdateOrganization #createOrUpdateOrganizationModal (organizationUpdated)="getCompanyList($event)">
</createOrUpdateOrganization>
