<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!tableGroup.id ? l('CreateConnectTableGroup') : l('EditConnectTableGroup')">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-primary"><i class="fa fa-plus"></i> {{ l('AddLocation') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #futureDateForm="ngForm" novalidate class="form" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name">{{ l('Name') }} *</label>
                                    <input type="text" id="Name" class="form-control" [(ngModel)]="tableGroup.name" name="Name" required #nameInput="ngModel" />
                                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 for="link" class="control-label">{{ l('LinkTables') }}</h5>
                                <p-pickList
                                    id="link"
                                    class="w-100"
                                    [source]="groupOptions.items"
                                    [target]="groupOptions.selectedItems"
                                    sourceHeader="All"
                                    targetHeader="Selected"
                                    [responsive]="true"
                                    [sourceStyle]="{ height: '300px' }"
                                    [targetStyle]="{ height: '300px' }"
                                    filterBy="name"
                                    sourceFilterPlaceholder="Search by name"
                                    targetFilterPlaceholder="Search by name"
                                >
                                    <ng-template let-item pTemplate="item">
                                        <span>{{ item.name }}</span>
                                    </ng-template>
                                </p-pickList>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                            <button
                                type="submit"
                                class="btn btn-primary blue"
                                [disabled]="!futureDateForm.form.valid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                            >
                                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-modal #selectLocationModal (locationAdded)="getLocations($event)"></select-location-modal>
