<section class="login yellow_bg pt-150">
    <div class="container">
        <div class="kt-content form-login">
            <div class="kt-portlet kt-portlet--mobile" style="padding: 10px;">
                <div class="kt-portlet__body">
                    <div class="kt-login__title" style="margin-bottom: 10px;">
                        <h3 class="m-0">
                            {{ "ForgotPassword" | localize }}
                        </h3>
                    </div>

                    <form
                        class="kt-form"
                        #forgotPassForm="ngForm"
                        method="post"
                        novalidate
                        (ngSubmit)="save()"
                    >
                        <p>
                            {{ "SendPasswordResetLink_Information" | localize }}
                        </p>

                        <div class="form-group">
                            <input
                                #emailAddressInput="ngModel"
                                [(ngModel)]="model.emailAddress"
                                autoFocus
                                class="form-control placeholder-no-fix"
                                type="text"
                                autocomplete="new-password"
                                placeholder="{{ 'EmailAddress' | localize }} *"
                                name="emailAddress"
                                required
                                maxlength="256"
                                email
                            />
                            <validation-messages
                                [formCtrl]="emailAddressInput"
                            ></validation-messages>
                        </div>

                        <div class="kt-login__actions">
                            <button
                                type="submit"
                                class="btn btn-primary btn-elevate kt-login__btn-primary"
                                [disabled]="!forgotPassForm.form.valid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                            >
                                <i class="fa fa-check"></i>
                                {{ "Submit" | localize }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
