<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!isEdit ? l('CreatePrintTemplate') : l('EditPrintTemplate') + ': ' + printer.name">
        </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset class="tab-container tabbable-line">
                        <!-- Tax -->
                        <tab heading="{{ l('PrintTemplate') }}" customClass="kt-tabs__item" tabindex="0"
                            (selectTab)="tabIndex = 0" class="py-5" [active]="tabIndex === 0">
                            <!-- Form -->
                            <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="save()">
                                <input type="submit" hidden />

                                <!-- Name -->
                                <div class="form-group col-md-6">
                                    <label for="printerName">{{ l('Name') }} *</label>
                                    <input #printerName="ngModel" autoFocus [(ngModel)]="printer.name" type="text"
                                        id="printerName" class="form-control" name="printerName" required
                                        maxlength="50" />
                                    <validation-messages [formCtrl]="printerName"></validation-messages>
                                </div>
                            </form>
                            <!-- End Form -->

                            <!-- PrintTemplates -->
                            <div class="row" *ngIf="isEdit">
                                <div class="col-12">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="flex-grow-1">{{ l('PrintTemplate') }}</h6>

                                        <button type="button" class="btn btn-secondary mr-1" (click)="clear()">
                                            <i class="fas fa-eraser"></i>
                                            {{ l('Clear') }}
                                        </button>

                                        <button type="button" class="btn btn-secondary"
                                            (click)="openFilterSelectLocationOrGroup()">
                                            <i class="fas fa-filter"></i>
                                            {{ l('Filter') }}
                                        </button>
                                    </div>

                                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                        <p-table #dataTable [value]="primengTableHelper.records"
                                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                            [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                            (onLazyLoad)="getMappings($event)">
                                            <!-- <ng-template pTemplate="colgroup">
                                                <colgroup>
                                                    <col />
                                                    <col style="width: 130px" />

                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                </colgroup>
                                            </ng-template> -->

                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="AliasName">
                                                        {{ l('AliasName') }}
                                                        <p-sortIcon field="AliasName"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="contents">
                                                        {{ l('Contents') }}
                                                        <p-sortIcon field="contents"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="mergeLines">
                                                        {{ l('MergeLines') }}
                                                        <p-sortIcon field="mergeLines"></p-sortIcon>
                                                    </th>

                                                    <th style="width: 120px">{{ l('View') }}</th>
                                                    <th style="width: 120px">{{ l('Edit') }}</th>
                                                    <th style="width: 120px">{{ l('Delete') }}</th>
                                                    <th style="width: 120px">{{ l('Clone') }}</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('AliasName') }}</span>
                                                        {{ record.aliasName }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('Contents') }}</span>
                                                        {{ record.contents }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('MergeLines') }}</span>
                                                        <span *ngIf="record.mergeLines" class="badge badge-primary">{{
                                                            l('Yes') }}</span>
                                                        <span *ngIf="!record.mergeLines" class="badge badge-danger">{{
                                                            l('No') }}</span>
                                                    </td>

                                                    <td style="width: 120px">
                                                        <span class="ui-column-title"> {{ l('View') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="viewMapping(record)">
                                                            <i class="fas fa-eye"></i>{{ l('View') }}
                                                        </button>
                                                    </td>

                                                    <td style="width: 120px">
                                                        <span class="ui-column-title"> {{ l('Edit') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="editMapping(record)">
                                                            <i class="flaticon-edit"></i>{{ l('Edit') }}
                                                        </button>
                                                    </td>
                                                    <td style="width: 120px">
                                                        <span class="ui-column-title"> {{ l('Delete') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="deleteMapping(record)">
                                                            <i class="fa fa-trash"></i>
                                                            {{ l('Delete') }}
                                                        </button>
                                                    </td>

                                                    <td style="width: 120px">
                                                        <span class="ui-column-title"> {{ l('Delete') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="cloneMapping(record)">
                                                            <i class="flaticon2-copy"></i>
                                                            {{ l('Clone') }}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>

                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ l('NoData') }}
                                        </div>

                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator (onPageChange)="getMappings($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>

                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End PrintTemplates -->
                        </tab>

                        <tab *ngIf="isEdit" heading="{{ l('PrintTemplateMapping') }}" customClass="kt-tabs__item"
                            tabindex="0" (selectTab)="tabIndex = 1" class="py-5" [active]="tabIndex === 1">
                            <form #mappingForm="ngForm" class="mb-4" novalidate (ngSubmit)="save()">
                                <div class="w-100">
                                    <h6 class="mb-5">{{ isEditMapping ? l('Edit') : l('Add') }} {{
                                        l('PrintTemplateBasedOnLocations') }}</h6>
                                </div>

                                <div class="row">
                                    <h4 class="col-md-12 mb-5">Images</h4>

                                    <div class="primeng-datatable-container col-md-6">
                                        <p-table #filesTable [value]="files" [paginator]="false" [scrollable]="true"
                                            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns">

                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>{{l('Name')}} *</th>
                                                    <th>{{l('Actions')}}</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('Name') }}</span>
                                                        {{ record.fileName }}
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn-secondary btn"
                                                            (click)="removeFile(index)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>

                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div class="col-md-6">
                                        <input id="imagePath" name="imagePath" type="file" class="mt-3" ng2FileSelect
                                            [uploader]="uploader" (change)="onFileSelected()" />
                                    </div>
                                </div>

                                <div class="row mt-15">
                                    <div class="col-md-5">
                                        <div class=" d-flex">
                                            <div class="form-group w-50">
                                                <label for="AliasName"> {{ l('AliasName') }} </label>
                                                <input type="text" id="AliasName" name="AliasName" class="form-control"
                                                    [(ngModel)]="mapping.aliasName" #AliasName="ngModel" />
                                                <validation-messages [formCtrl]="AliasName">
                                                </validation-messages>
                                            </div>
                                            <div class="w-50 m-auto">
                                                <button type="button" (click)="openSelectLocationOrGroup()"
                                                    class="btn btn-outline-success pull-right">
                                                    <span>{{ l('SelectLocation') }}</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="checkbox">
                                                <input [(ngModel)]="mapping.mergeLines" type="checkbox"
                                                    name="mappingMergeLines" />
                                                {{ l('MergeLines') }}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <label for="mappingContents">{{ l('Contents') }} *</label>
                                        <textarea [(ngModel)]="mapping.contents" id="mappingContents" type="text"
                                            name="mappingContents" #mappingContents="ngModel" class="form-control"
                                            rows="5" required></textarea>
                                        <validation-messages [formCtrl]="mappingContents"></validation-messages>
                                    </div>
                                </div>

                                <input type="submit" hidden />
                            </form>
                        </tab>
                    </tabset>

                    <div class="modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{ l('Cancel') }}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SelectLocationOrGroup -->
    <select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

    <select-location-or-group #filterSelectLocationOrGroup (locationAdded)="setFilterLocations($event)">
    </select-location-or-group>
    <!-- End SelectLocationOrGroup -->
</div>