<div class="card card-custom gutter-b">
    <div class="card-body">
        <div *ngIf="!queueLocation.enableQueue" class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="fa fa-exclamation-triangle text-white" aria-hidden="true"></i>
            <div class="ml-2">The Queue Location is turning off</div>
        </div>
        <div *ngIf="queueLocation.queueLocationOptions?.length == 0" class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="fa fa-exclamation-triangle text-white" aria-hidden="true"></i>
            <div class="ml-2">Have no any the Queue Option is active</div>
        </div>

        <div class="table-list row">
            <div class="table-item-wrap col-3" *ngFor="let item of queueLocation.queueLocationOptions">
                <div class="table-item {{!queueLocation.enableQueue ? 'inactive' : ''}}">
                    <span class="now"> Now Calling </span>
                    <div class="queue-number now">
                        {{ item?.customerQueues[currentQueueIndex(item?.customerQueues)]?.queueNo || '-' }}
                    </div>
                    <span class="">Next Available</span>
                    <div class="queue-number">
                        {{ item?.customerQueues[currentQueueIndex(item?.customerQueues) + 1]?.queueNo || '-' }}
                    </div>
                    <div class="location-name">
                        {{ item.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>