.table-item-wrap {
    padding: 20px;
    
    @media (max-width: 500px) {
        padding: 10px;
    }
}

.table-item {
    border: solid 1px #ddd;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;

    &.inactive {
        opacity: 0.3;
    }
    
    @media (max-width: 500px) {
        padding: 5px 10px;
    }

    span {
        font-size: 20px;
        color: #9e9ea7;
    }
    
    .now {
        color: #00c67d;
    }
    
    .location-name {
        color: #9e9ea7;
        font-size: 24px;
        line-height: 2.5;
    }
    
    .queue-number {
        font-size: 64px;
        font-weight: 600;
        border-bottom: solid 2px;
    }
}