<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('DineGoBrand')" [description]="l('DineGoBrandHeaderInfo')">
            <div role="actions">
                <button
                    class="btn btn-outline-success"
                    (click)="exportToExcel()"
                    [disabled]="exporting"
                    [buttonBusy]="exporting"
                    [busyText]="l('ExportingWithThreeDot')"
                >
                    <i class="fas fa-file-excel"></i>
                    {{ l('Export') }}
                </button>

                <button *ngIf="isGranted('Pages')" (click)="createOrUpdateItem()" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {{ l('CreateDineGoBrand') }}
                </button>
            </div>
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!-- Filter Form -->
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center mb-3">
                            <div class="col-12">
                                <div class="input-group">
                                    <input
                                        autoFocus
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        class="form-control m-input"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                    <span class="input-group-btn">
                                        <button (click)="search()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex">
                                    <div class="flex-fill"></div>
                                    <button type="button" class="btn btn-primary" (click)="resetFilter()">
                                        {{ l('Reset') }}
                                    </button>
                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{ l('Search') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Filter Form -->

                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table
                                    #dataTable
                                    (onLazyLoad)="getAll($event)"
                                    [value]="primengTableHelper.records"
                                    rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                    [paginator]="false"
                                    [lazy]="true"
                                    [scrollable]="true"
                                    ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{ l('Actions') }}</th>
                                            <th pSortableColumn="label">
                                                {{ l('Label') }}
                                                <p-sortIcon field="label"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="locationName">
                                                {{ l('Location') }}
                                                <p-sortIcon field="locationName"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="screenMenuName">
                                                {{ l('ScreenMenu') }}
                                                <p-sortIcon field="screenMenuName"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td
                                                [hidden]="
                                                    !isGrantedAny('Pages', 'Pages')
                                                "
                                            >
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                        {{ 'Actions' | localize }}
                                                    </button>

                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a
                                                                *ngIf="isGranted('Pages')"
                                                                class="dropdown-item"
                                                                (click)="createOrUpdateItem(record.id)"
                                                                >{{ l('Edit') }}</a
                                                            >
                                                        </li>

                                                        <li>
                                                            <a
                                                                *ngIf="isGranted('Pages')"
                                                                class="dropdown-item"
                                                                (click)="deleteItem(record)"
                                                                >{{ l('Delete') }}</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{ record.label }}</td>
                                            <td>{{ record.locationName }}</td>
                                            <td>{{ record.screenMenuName }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div *ngIf="primengTableHelper.totalRecordsCount === 0" class="primeng-no-data">
                                    {{ l('NoData') }}
                                </div>

                                <div class="primeng-paging-container">
                                    <p-paginator
                                        [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                        #paginator
                                        (onPageChange)="getAll($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    >
                                    </p-paginator>

                                    <span class="total-records-count">
                                        {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>