<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="('WhereDoYouDeliver' | localize) + '?'">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9 map-container">
                            <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true"
                                [mapTypeControl]="true" [zoom]="zoomLevel" [zoomControlOptions]="zoomControlOptions"
                                (mapReady)="onMapReady($event)">

                                <agm-marker 
                                *ngFor="let m of locationMarkers; let i = index"
                                (markerClick)="clickedMarker(m.label, i)"
                                [latitude]="m.pickupAddressLat"
                                [longitude]="m.pickupAddressLong"
                                [label]="m.name"
                                [markerDraggable]="m.draggable"
                                (dragEnd)="markerDragEnd(m, $event)">
                                <agm-info-window *ngIf="m.pickupAddress != ''">
                                    <strong>{{m.pickupAddress}}</strong>
                                  </agm-info-window>
                                </agm-marker>

                                <ng-container *ngFor="let marker of markers">
                                    <agm-circle *ngIf="isCircleMarker(marker)" [circleDraggable]="marker.isEditable"
                                        [editable]="marker.isEditable" [(latitude)]="marker.center.lat"
                                        [(longitude)]="marker.center.lng" [(radius)]="marker.radius"
                                        [fillColor]="marker.color" [fillOpacity]="marker.opacity"
                                        [strokeColor]="marker.color" [strokeWeight]="marker.strokeWeight"
                                        (centerChange)="marker.updateCenter($event)">
                                    </agm-circle>

                                    <agm-polygon *ngIf="isPolygonMarker(marker)" [polyDraggable]="marker.isEditable"
                                        [editable]="marker.isEditable" [fillColor]="marker.color"
                                        [fillOpacity]="marker.opacity" [strokeColor]="marker.color"
                                        [strokeWeight]="marker.strokeWeight" [(paths)]="marker.paths"
                                        (polyPathsChange)="marker.updatePaths($event)">
                                    </agm-polygon>
                                </ng-container>
                            </agm-map>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <h5>Delivery Zones</h5>
                            </div>

                            <div class="mb-2" *ngFor="let zone of deliveryZones">
                                <accordion [isAnimated]="true">
                                    <accordion-group panelClass="zone-accordion" [isOpen]="zone.isEditMode"
                                        (isOpenChange)="onZoneOpenChange(zone, $event)">
                                        <div accordion-heading>
                                            <div class="row">
                                                <div class="zone-color-circle" [(colorPicker)]="zone.color" 
                                                    [style.background]="zone.color" (click)="$event.stopPropagation()"
                                                    [cpOKButton]="true" [cpCancelButton]="true"
                                                    [cpOKButtonClass]="'btn btn-secondary'" [cpCancelButtonClass]="'btn btn-secondary'"
                                                    (colorPickerChange)="changeZoneColor(zone, $event)"
                                                    ></div>
                                                <h5 class="zone-name-heading">{{zone.name}}</h5>
                                            </div>
                                        </div>
                                        <ng-container *ngTemplateOutlet="tplZone; context: {$implicit: zone}">
                                        </ng-container>
                                    </accordion-group>
                                </accordion>
                            </div>

                            <div *ngIf="newDeliveryZone" class="new-zone-container">
                                <div class="row">
                                    <div class="zone-color-circle" [(colorPicker)]="newDeliveryZone.color"
                                        [style.background]="newDeliveryZone.color" 
                                        [cpOKButton]="true" [cpCancelButton]="true"
                                        [cpOKButtonClass]="'btn btn-secondary'" [cpCancelButtonClass]="'btn btn-secondary'"
                                        (colorPickerChange)="changeZoneColor(newDeliveryZone, $event)"></div>
                                    <h5>{{newDeliveryZone.name}}</h5>
                                </div>
                                <ng-container *ngTemplateOutlet="tplZone; context: {$implicit: newDeliveryZone}">
                                </ng-container>
                            </div>

                            <div class="row no-margin" *ngIf="!newDeliveryZone">
                                <button class="btn btn-success new-zone-button" (click)="addNewZone()">Add New
                                    Zone</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ng-template #tplZone let-zone>
        <div class="row">
            <div class="btn-group zone-type-container col-md-12">
                <button type="button" class="btn btn-secondary" [ngClass]="zone.type == 0?'active':''"
                    (click)="changeZoneType(zone, 0)">Circle</button>
                <button type="button" class="btn btn-secondary" [ngClass]="zone.type == 1?'active':''"
                    (click)="changeZoneType(zone, 1)">Shape</button>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-5 col-form-label">Name</label>
            <div class=col-md-7>
                <input type="text" class="form-control" [(ngModel)]="zone.name"  required/>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-5 col-form-label">Min Amount</label>
            <div class="col-md-7">
                <div class="input-group">
                    <input type="number" min="0" class="form-control" [(ngModel)]="zone.minimumAmount" />
                    <div class="input-group-append">
                        <span class="input-group-text">$</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-5 col-form-label">Delivery Fee</label>
            <div class="col-md-7">
                <div class="input-group">
                    <input type="number" min="0" class="form-control" [(ngModel)]="zone.deliveryFee" />
                    <div class="input-group-append">
                        <div class="input-group-text">$</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row form-group" *ngIf="zone.type == 0">
            <label class="col-md-5 col-form-label">Radius</label>
            <div class="col-md-7">
                <div class="input-group">
                    <input type="number" min="0" class="form-control" [(ngModel)]="zone.marker.radius" />
                    <div class="input-group-append">
                        <span class="input-group-text">M</span>
                    </div>
                </div>
                 <p class="radius-km">( {{getRadiusKm(zone.marker.radius)}} KM )</p> 
            </div>

        </div>


        <div class="row form-group">
            <button type="button" class="btn btn-danger" [popover]="confirmDeleteDialog" 
                placement="top" [outsideClick]="true" #pop="bs-popover"> Delete</button>
            <button type="button" class="btn btn-success" (click)="saveZone(zone)">Save</button>
        </div>

        <ng-template #confirmDeleteDialog>
            <div class="p-2">
                <span>Are you sure you want to delete this zone?</span>
            </div>
            <div class="float-right mb-3">
                <button class="btn btn-danger" (click)="deleteZone(zone)">Yes</button>
                <button class="btn btn-secondary" (click)="pop.hide()">No</button>
            </div>
        </ng-template>
    </ng-template>