agm-map{
    width: 100%;
    height: 70vh;
}

.new-zone-button
{
    margin-top: 20px;
    padding: 5px 10px;
}

.zone-type-container
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.zone-type-container .btn
{
    width: 100px;
}

.new-zone-container
{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.new-zone-container .row
{
    margin: 15px;
    padding: 0;
}

.zone-color-circle{
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 3px 10px 0 0;
    display: inline-block;
    cursor: pointer;
}
.radius-km{
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
}