<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Dashboard' | localize" [description]="'DashboardHeaderInfo' | localize">
            <div role="actions">
                <label for="allLocation" class="checkbox mr-2">
                    <input [(ngModel)]="allLocation" id="allLocation" name="allLocation" type="checkbox" (ngModelChange)="refresh()" />
                    {{ l('All') }}
                    <span></span>
                </label>
                <button [disabled]="allLocation" (click)="openLocation()" class="btn btn-sm btn-icon mr-3" style="background-color: #32c5d2">
                    <i class="fa fa-location-arrow text-white"></i>
                </button>
                <label for="autoRefresh" class="checkbox mr-2">
                    <input [(ngModel)]="autoRefresh" id="autoRefresh" name="autoRefresh" type="checkbox" (ngModelChange)="autoRefreshScreen()" />
                    {{ l('Auto') }}
                    <span></span>
                </label>
                <button
                    #drp
                    bsDaterangepicker
                    dateRangePickerMomentModifier
                    [(date)]="dateRangeModel"
                    placement="bottom"
                    (dateChange)="changeDaterange()"
                    [bsConfig]="{
                        rangeInputFormat: 'YYYY-MM-DD',
                        ranges: ranges,
                        containerClass: 'custom-datepicker dashboard'
                    }"
                    (onShown)="showedDateRangePicker()"
                    class="btn btn-sm btn-icon"
                    style="background-color: mediumvioletred; margin-right: 10px"
                >
                    <i class="fa fa-calendar text-white"></i>
                </button>
                <span class="switch m-0 p-0" [class]="{ 'switch-primary' : editModeEnabled }">
                    <label class="m-0 p-0" style="margin-bottom:-10px !important">
                        <input type="checkbox" [checked]="editModeEnabled" (change)="changeEditMode()">
                        <span class="m-0 p-0"></span>
                    </label>
                </span>

               <strong class="p-2 pt-4 dashboard-header-text-edit-mode">
                   {{"EditMode" | localize}}
               </strong>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <customizable-dashboard #customizableDashboard [dashboardName]="dashboardName" [(editModeEnabled)]="editModeEnabled"></customizable-dashboard>
        </div>
    </div>
    <select-location-modal #selectLocationModal (locationAdded)="getLocations($event)" [multiple]="false"></select-location-modal>
</div>
