<div [@routerTransition]>
<div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!wheelLocation.id ? l('CreateNewLocation') : l('EditLocation') + ': ' + this.locationName">
    </sub-header>
</div>

<div [class]="containerClass">
<div class="card card-custom gutter-b">
<div class="card-body">
<form #wheelLocationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
<div>
<tabset>
<tab heading="Basic" class="p-5">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="WheelLocation_Name">{{l("Name")}} *</label>
            <input type="text" id="WheelLocation_Name" class="form-control" required
                   [(ngModel)]="wheelLocation.name" name="Name"/>
        </div>

        <div class="form-group m-form__group col-md-6">
            <label for="WheelLocation_Location">{{l("Location")}} *</label>
            <input type="text" id="WheelLocation_Location" class="form-control" readonly
                   required name="WheelLocation_Location" [(ngModel)]="locationName"
                   (click)="selectLocationPopupModal.show()"/>
            <!-- <select id="WheelLocation_Location" class="form-control"
                         name="WheelLocation_Location" (click)="selectLocationPopupModal.show()">
            </select> -->
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="WheelLocation_Email">{{l("Email")}}</label>
            <input type="text" id="WheelLocation_Email" class="form-control"
                   [(ngModel)]="wheelLocation.email" name="Email"/>
        </div>
        <div class="form-group col-md-6">
            <label for="WheelLocation_PickupContactName">{{l("Contact Name")}}</label>
            <input type="text" id="WheelLocation_PickupContactName" class="form-control"
                   [(ngModel)]="wheelLocation.pickupContactName" name="PickupContactName"/>
        </div>
        <div class="form-group col-md-6">
            <label for="WheelLocation_PickupContactPhoneNumber">
                {{
                l("Phone
                Number")
                }}
            </label>
            <input type="text" id="WheelLocation_PickupContactPhoneNumber"
                   class="form-control" [(ngModel)]="wheelLocation.pickupContactPhoneNumber"
                   name="PickupContactPhoneNumber"/>
        </div>
        <div class="form-group col-md-6">
            <label for="WheelLocation_PickupAddress">{{l("Address")}}</label>
            <input type="text" id="WheelLocation_PickupAddress" class="form-control"
                   [(ngModel)]="wheelLocation.pickupAddress" name="PickupAddress"/>
        </div>
        <div class="form-group col-md-6">
            <label for="WheelLocation_PickupAddressLat">{{l("Address Lat")}}</label>
            <input type="text" id="WheelLocation_PickupAddressLat" class="form-control"
                   [(ngModel)]="wheelLocation.pickupAddressLat" name="PickupAddressLat"/>
        </div>
        <div class="form-group col-md-6">
            <label for="WheelLocation_PickupAddressLong">{{l("Address Long")}}</label>
            <input type="text" id="WheelLocation_PickupAddressLong" class="form-control"
                   [(ngModel)]="wheelLocation.pickupAddressLong" name="PickupAddressLong"/>
        </div>

    </div>

    <div class="row justify-content-between mx-4">
        <div class="checkbox-list">
            <label for="WheelLocation_Enabled" class="checkbox">
                <input id="WheelLocation_Enabled" type="checkbox" name="Enabled"
                       [(ngModel)]="wheelLocation.enabled">
                {{l("Enabled")}}
                <span></span>
            </label>
        </div>

        <div class="checkbox-list">
            <label for="WheelLocation_TaxInclusive" class="checkbox">
                <input id="WheelLocation_TaxInclusive" type="checkbox" name="TaxInclusive"
                       [(ngModel)]="wheelLocation.taxInclusive">
                {{l("TaxInclusive")}}
                <span></span>
            </label>
        </div>

        <div>
            <div class="checkbox-list">
                <label for="WheelLocation_OutsideDeliveryZone" class="checkbox">
                    <input id="WheelLocation_OutsideDeliveryZone" type="checkbox"
                           name="OutsideDeliveryZone"
                           [(ngModel)]="wheelLocation.outsideDeliveryZone">
                    {{l("OutsideDeliveryZone")}}
                    <span></span>
                </label>
            </div>

            <div *ngIf="wheelLocation.outsideDeliveryZone" class="row"
                 style="margin-top: 10px">
                <div class="form-group col-md-12">
                    <label for="WheelLocation_outsideDeliveryZoneDeliveryFee">
                        Outside
                        Delivery Zone Delivery Fee
                    </label>
                    <div class="input-group" role="group">
                        <input type="number"
                               id="WheelLocation_outsideDeliveryZoneDeliveryFee"
                               class="form-control" style="width: 50px;"
                               [(ngModel)]="wheelLocation.outsideDeliveryZoneDeliveryFee"
                               name="OutsideDeliveryZoneDeliveryFee"/>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary">$</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</tab>
<tab heading="Department" class="p-5">
    <div class="row mb-2">
        <div class="col-md-5">
            <ng-select [items]="allDepartments" bindLabel="name" [multiple]="false"
                       [(ngModel)]="selectedDepartment" name="departments">
            </ng-select>
        </div>
        <div class="col-md-7 text-left">
            <span class="btn btn-primary blue hand-cursor" (click)="addDepartment()">
                <i class="fa fa-plus"></i> Add
            </span>
        </div>
    </div>
    <p-table #deparmentTable [value]="wheelLocation.wheelDepartments">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th style="width: 100px">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-department>
            <tr>
                <td>{{department.name}}</td>
                <td>
                    <span class="btn btn-danger hand-cursor action-button"
                          (click)="removeDepartment(department)">
                        Delete
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="primeng-no-data no-data"
         *ngIf="!wheelLocation.wheelDepartments || wheelLocation.wheelDepartments.length == 0">
        {{l('NoData')}}
    </div>
</tab>
<tab heading="Delivery Zone" class="p-5">
    <div class="row mb-2">
        <div class="col-md-5">
            <ng-select [items]="allDeliveryZones" bindLabel="name" [multiple]="false"
                       [(ngModel)]="selectedDeliveryZone" name="zones">
            </ng-select>
        </div>
        <div class="col-md-7 text-left">
            <span class="btn btn-primary blue hand-cursor" (click)="addDeliveryZone()">
                <i class="fa fa-plus"></i> Add
            </span>
        </div>
    </div>
    <p-table #zoneTable [value]="wheelLocation.wheelDeliveryZones">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Min Total Amount</th>
                <th>Delivery Fee</th>
                <th style="width: 100px">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-zone>
            <tr>
                <td>{{zone.name}}</td>
                <td>{{zone.minimumTotalAmount}}</td>
                <td>{{zone.deliveryFee}}</td>
                <td>
                    <span class="btn btn-danger hand-cursor action-button"
                          (click)="removeDeliveryZone(zone)">
                        Delete
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="primeng-no-data no-data"
         *ngIf="!wheelLocation.wheelDeliveryZones || wheelLocation.wheelDeliveryZones.length == 0">
        {{l('NoData')}}
    </div>
</tab>
<tab heading="Delivery Charge Taxes" class="p-5">
    <div class="row mb-2">
        <div class="col-md-5">
            <ng-select [items]="allTaxes" bindLabel="name" [multiple]="false"
                       [(ngModel)]="selectedTax" name="fees">
            </ng-select>
        </div>
        <div class="col-md-7 text-left">
            <span class="btn btn-primary blue hand-cursor" (click)="addTax()">
                <i class="fa fa-plus"></i> Add
            </span>
        </div>
    </div>
    <p-table #zoneTable [value]="wheelLocation.wheelTaxes">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th style="width: 100px">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tax>
            <tr>
                <td>{{tax.name}}</td>
                <td>
                    <span class="btn btn-danger hand-cursor action-button"
                          (click)="removeTax(tax)">
                        Delete
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="primeng-no-data no-data"
         *ngIf="!wheelLocation.wheelTaxes || wheelLocation.wheelTaxes.length == 0">
        {{l('NoData')}}
    </div>
</tab>
</tabset>
</div>

<div class="modal-footer">
    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
            (click)="close()">
        {{l("Cancel")}}
    </button>
    <button type="submit" class="btn btn-primary blue" [disabled]="!wheelLocationForm.form.valid"
            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
        <i class="fa fa-save"></i>
        <span>{{l("Save")}}</span>
    </button>
</div>
</form>
</div>
</div>
</div>
</div>

<select-popup #selectLocationPopupModal [headers]="['Name']" [dataBinding]="['name']"
              [loadData]="getLocationForCombobox()" (changeValue)="changeLocation($event)" selectionMode="single"
              [selectedValue]="{id: wheelLocation.locationId}" [title]="l('Locations')">
</select-popup>
