﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Locations' | localize" [description]="'LocationsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="la-file-excel-o"></i> {{ l('ExportToExcel') }}
                </button>
                <button *ngIf="isGranted('Pages.WheelLocations.Create')" (click)="createWheelLocation()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>{{ 'CreateNewLocation' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getWheelLocations($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">
                                            {{ l('Id') }}
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="location.name">
                                            {{ l('Location') }}
                                            <p-sortIcon field="location.name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="enabled">
                                            {{ l('Enabled') }}
                                            <p-sortIcon field="enabled"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="taxInclusive">
                                            {{ l('TaxInclusive') }}
                                            <p-sortIcon field="taxInclusive"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="outsideDeliveryZone">
                                            {{ l('OutsideDeliveryZone') }}
                                            <p-sortIcon field="outsideDeliveryZone"></p-sortIcon>
                                        </th>
                                        <th [hidden]="!isGrantedAny('Pages.WheelLocations.Edit', 'Pages.WheelLocations.Delete')">
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Id') }}</span>
                                            {{ record.id }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('LocationName') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Enabled') }}</span>
                                            <div *ngIf="record.enabled"><i class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.enabled"><i class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TaxInclusive') }}</span>
                                            <div *ngIf="record.taxInclusive">
                                                <i class="fa fa-check-circle text-success" title="True"></i>
                                            </div>
                                            <div *ngIf="!record.taxInclusive"><i class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('OutsideDeliveryZone') }}</span>
                                            <div *ngIf="record.outsideDeliveryZone">
                                                <i class="fa fa-check-circle text-success" title="True"></i>
                                            </div>
                                            <div *ngIf="!record.outsideDeliveryZone">
                                                <i class="fa fa-times-circle" title="False"></i>
                                            </div>
                                        </td>
                                        <td [hidden]="!isGrantedAny('Pages.WheelLocations.Edit', 'Pages.WheelLocations.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    <span class="mr-5">{{ 'Actions' | localize }}</span>
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.WheelLocations.Edit')"
                                                            class="dropdown-item"
                                                            (click)="createWheelLocation(record.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.WheelLocations.Delete')"
                                                            class="dropdown-item"
                                                            (click)="deleteWheelLocation(record)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getWheelLocations($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <div class="form-group">
                    <label for="LocationNameFilter">{{ l('Location') }} {{ l('Name') }}</label>
                    <input
                        type="text"
                        class="form-control"
                        id="LocationNameFilter"
                        name="locationNameFilter"
                        [(ngModel)]="locationNameFilter"
                    />
                </div>
            </div>
            <div class="form-group">
                <label for="EnabledFilterSelect">{{ l('Enabled') }}</label>
                <select class="form-control" name="EnabledFilter" id="EnabledFilterSelect" [(ngModel)]="enabledFilter">
                    <option value="-1">{{ l('All') }}</option>
                    <option value="0">{{ l('False') }}</option>
                    <option value="1">{{ l('True') }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="TaxInclusiveFilterSelect">{{ l('TaxInclusive') }}</label>
                <select class="form-control" name="TaxInclusiveFilter" id="TaxInclusiveFilterSelect" [(ngModel)]="taxInclusiveFilter">
                    <option value="-1">{{ l('All') }}</option>
                    <option value="0">{{ l('False') }}</option>
                    <option value="1">{{ l('True') }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="OutsideDeliveryZoneFilterSelect">{{ l('OutsideDeliveryZone') }}</label>
                <select
                    class="form-control"
                    name="OutsideDeliveryZoneFilter"
                    id="OutsideDeliveryZoneFilterSelect"
                    [(ngModel)]="outsideDeliveryZoneFilter"
                >
                    <option value="-1">{{ l('All') }}</option>
                    <option value="0">{{ l('False') }}</option>
                    <option value="1">{{ l('True') }}</option>
                </select>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
