<div class="row" *ngIf="!loading">
    <div class="col-md-12" style="z-index: 0">
        <tabset #dashboardTabs [justified]="true" [ngClass]="{ 'nav-hidden': !moreThanOnePage() }">
            <tab *ngFor="let page of userDashboard?.pages || []; let i = index" heading="{{ page.name }}" (selectTab)="selectPageTab(page.id)">
                <gridster [options]="options[i]" [ngClass]="{ 'no-tab': !moreThanOnePage() }" [perfectScrollbar]="{ wheelPropagation: false }">
                    <gridster-item *ngFor="let widget of page.widgets" [item]="widget.gridInformation" [ngClass]="widget.id">
                        <ng-container *ngComponentOutlet="widget.component"></ng-container>
                        <button
                            class="btn btn-sm text-white bg-danger deleteWidgetButton"
                            *ngIf="editModeEnabled"
                            (click)="removeItem(widget.gridInformation)"
                        >
                            <i class="fa fa-times"></i>
                        </button>
                    </gridster-item>
                </gridster>
            </tab>
        </tabset>
    </div>
    <div class="div-dashboard-customization" *ngIf="editModeEnabled">
        <div class="vr">
            <button
                type="button"
                id="AddWidgetButton"
                class="btn btn-sm btn-warning btn-elevate-hover btn-pill"
                (click)="openAddWidgetModal()"
                [disabled]="selectedPage.id === ''"
            >
                <i class="fa fa-plus"></i>{{ 'AddWidget' | localize }}
            </button>
            &nbsp;
        </div>
        <div class="vr">
            <div class="btn-group" dropdown #dropdownAddPage="bs-dropdown" (onShown)="addPageDropdownShown()" [dropup]="true" [insideClick]="true">
                <button
                    dropdownToggle
                    type="button"
                    class="btn btn-sm btn-primary dropdown-toggle btn-elevate-hover btn-pill"
                    aria-controls="dropdown-basic"
                >
                    <i class="fa fa-plus"></i> {{ 'AddPage' | localize }}<span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu p-10" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <div class="form-group">
                            <label for="PageNameInput">{{ 'NewPageName' | localize }}</label>
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="addPageInput" />
                        </div>
                        <button class="btn btn-sm btn-block btn-info" (click)="addNewPage(addPageInput)">{{ 'Save' | localize }}</button>
                    </li>
                </ul>
            </div>
            <div
                class="btn-group"
                dropdown
                #dropdownRenamePage="bs-dropdown"
                (onShown)="renamePageDropdownShown()"
                [dropup]="true"
                [insideClick]="true"
                [isDisabled]="selectedPage.id === ''"
            >
                <button dropdownToggle type="button" class="btn btn-sm btn-info btn-elevate-hover btn-pill dropdown-toggle" aria-controls="dropdown-basic">
                    <i class="fa fa-edit"></i>{{ 'RenamePage' | localize }}<span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu p-10" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <div class="form-group">
                            <label for="PageNameInput">{{ 'PageNewName' | localize }}</label>
                            <input type="text" class="form-control" placeholder="{{ selectedPage.name }}" [(ngModel)]="renamePageInput" />
                        </div>
                        <button (click)="renamePage(renamePageInput)" class="btn btn-sm btn-block btn-info">{{ 'Save' | localize }}</button>
                    </li>
                </ul>
            </div>
            <button
                id="DeletePageButton"
                class="btn btn-sm btn-danger btn-elevate-hover btn-pill"
                (click)="deletePage()"
                [disabled]="selectedPage.id === ''"
            >
                <i class="fa fa-trash"></i>
                <span *ngIf="userDashboard && userDashboard.pages.length > 1">{{ 'DeletePage' | localize }}</span>
                <span *ngIf="userDashboard && userDashboard.pages.length == 1">{{ 'BackToDefaultPage' | localize }}</span>
            </button>
            &nbsp;
        </div>
        <button type="button" class="btn btn-sm btn-success btn-elevate-hover btn-pill" (click)="savePage()">
            <i class="fa fa-save"></i>{{ 'Save' | localize }}
        </button>
    </div>
</div>
<add-widget-modal #addWidgetModal *ngIf="dashboardName" (onClose)="addWidget($event)"> </add-widget-modal>
