<div class="modal-content">
    <form #promotionForm="ngForm" novalidate (ngSubmit)="send()" class="form form-label-right">
        <div class="modal-header">
            <h4 class="modal-title">
                <span *ngIf="!isSendAll">{{ 'SentPromotionCodeToCustomer' | localize }}: {{customerReport.customerName}}</span>
                <span *ngIf="isSendAll">{{ 'SentPromotionCodeToAllCustomer' | localize }}</span>
            </h4>
            <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="referralEarnPromotion">{{ 'Promotion' | localize }}</label>
                <p-autoComplete
                    [(ngModel)]="selectedPromotion"
                    required
                    id="selectedPromotion"
                    [completeOnFocus]="true"
                    [suggestions]="promotions"
                    (completeMethod)="getPromotions($event)"
                    field="name"
                    placeholder="{{ l('TypeSomethings') }}"
                    [minLength]="1"
                    name="selectedPromotion"
                    inputStyleClass="form-control"
                    styleClass="width-percent-100"
                >
                </p-autoComplete>
            </div>
            <div *ngIf="isSendAll" class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="isActiveCustomer" class="checkbox mr-2">
                            <input [(ngModel)]="isActiveCustomer" id="isActiveCustomer" name="isActiveCustomer" type="checkbox" />
                            {{ l('Is Actived') }}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="isNewCustomer" class="checkbox mr-2">
                            <input [(ngModel)]="isNewCustomer" id="isNewCustomer" name="isNewCustomer" type="checkbox" />
                            {{ l('Is New') }}
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                {{ 'Cancel' | localize }}
            </button>

            <button
                type="submit"
                class="btn btn-primary font-weight-bold save-button"
                [disabled]="!promotionForm.form.valid"
                [buttonBusy]="saving"
                [busyText]="l('ProcessingWithThreeDot')"
            >
                <i class="fa fa-arrow-circle-right"></i>
                <span>{{ l('Send') }}</span>
            </button>
        </div>
    </form>
</div>
