<div class="wrapper-menu">
  <div class="wrapper-nav-bar">
    <button class="burger-btn" (click)="leftMenuRef.show()" *ngIf="userId">
      <!-- <i class="fa fa-bars"></i> -->
      <img src="assets/image/close-burger.png" alt="" />
    </button>

    <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
    <div class="wrapper-logo" *ngIf="logoUrl">
      <img [src]="logoUrl" class="logo" [routerLink]="['/']" routerLinkActive="router-link-active" />
    </div>
  </div>
  <div class="wrapper-categories">
    <div class="category">
      <p id="title">My Orders</p>
    </div>
  </div>
  <div class="wrapper-items">
    <div class="card card-custom gutter-b">
      <div class="card-body row">

        <div *ngFor="let order of orderList" class="p-col-12 p-md-3">
          <div style="padding:.5em;margin-top: 5px;height: 100%;" (click)="selectOrder($event, order)">
            <p-card [style]="{width: '100%', 'height': '100%', 'position': 'relative'}" styleClass="ui-card-shadow">
              <div class="order-detail">
                <h3>{{order.invoiceNo}} <span class="amount">${{order.paidAmount?.toFixed(2)}}</span></h3>
                <h6 style="margin: 10px 0;">ORDERS</h6>
                <table class="order-summary">
                  <ng-container *ngFor="let item of order.order?.menuItems">
                    <tr class="order-item" *ngIf="!item.comboId; else comboTemplate">
                      <td class="info">{{ item.name}}</td>
                      <td class="quantity">{{ item.totalItems }}</td>
                    </tr>
                    <ng-template #comboTemplate>
                      <tr class="order-item" *ngFor="let comboItem of item.orderItems; let i = index">
                        <td class="info">
                          {{
                          comboItem.name
                          }}
                        </td>
                        <td class="quantity">{{ i === 0 ? item.totalItems : "" }}</td>
                      </tr>
                    </ng-template>
                  </ng-container>
                </table>
                <div style="margin-bottom: 20px;">
                  <h6 style="margin: 10px 0;">NOTE</h6>
                  <p class="ticket-note">{{order.note}}</p>
                </div>
              </div>
              <p-footer>
                <button class="order-status" pButton type="button" style="position: absolute; right:10px;bottom: 10px;"
                  label="{{getOrderStatus(order.orderStatus).label}}"
                  [style]="{border:'none',backgroundColor:getOrderStatus(order.orderStatus).color}"
                  [disabled]="order.orderStatus == 5">
                </button>
                <!-- <button pButton type="button" style="position: absolute; left:10px;bottom: 10px;"
                    label="RequestDelivery" [style]="{border:'none'}" (click)="requestDelivery($event,order)">
                  </button> -->

              </p-footer>

            </p-card>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<p-dialog header="Order Details" [(visible)]="displayDialog" [minY]="70" showEffect="fade" [modal]="true"
  [style]="{width: '600px'}" (onAfterHide)="onDialogHide()" [contentStyle]="{padding: '10px', textAlign: 'center'}">
  <div *ngIf="selectedOrder">
    <app-order-detail [order]="selectedOrder"></app-order-detail>
  </div>
</p-dialog>

<app-left-side-menu #leftMenuRef> </app-left-side-menu>