<div appBsModal #modal="bs-modal" class="modal fade" role="dialog" aria-labelledby="modal" (onShown)="shown()"
    aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ l("PropertyEditer")}}
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #deviceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">

                <div class="modal-body">

                    <div class="form-group">
                        <label for="DeviceName">{{l("DeviceName")}}</label>
                        <select id="DeviceName" class="form-control" name="DeviceName" [(ngModel)]="deviceName"
                            #DeviceNameInput="ngModel" [disabled]="isDisable">
                            <option *ngFor="let name of deviceNames" [value]="name">
                                {{l(name)}}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="deviceName == 'Generic Modem'">
                        <div class="form-group">
                            <label>{{l("BaudRate")}}</label>
                            <input class="form-control" type="text" name="BaudRate" [(ngModel)]="dataModal.BaudRate">
                        </div>
                        <div class="form-group">
                            <label>{{l("InitializationString")}}</label>
                            <input class="form-control ucase" type="text" name="InitializationString"
                                [ngClass]="{'edited':dataModal.InitializationString}"
                                [(ngModel)]="dataModal.InitializationString">
                        </div>
                        <div class="form-group">
                            <label>{{l("MatchPattern")}}</label>
                            <input class="form-control ucase" type="text" name="MatchPattern"
                                [ngClass]="{'edited':dataModal.MatchPattern}" [(ngModel)]="dataModal.MatchPattern">
                        </div>
                        <div class="form-group">
                            <label>{{l("Port")}}</label>
                            <input class="form-control ucase" type="text" name="Port"
                                [ngClass]="{'edited':dataModal.Port}" [(ngModel)]="dataModal.Port">
                        </div>
                        <div class="form-group">
                            <label>{{l("TerminateString")}}</label>
                            <input class="form-control ucase" type="text" name="TerminateString"
                                [ngClass]="{'edited':dataModal.TerminateString}"
                                [(ngModel)]="dataModal.TerminateString">
                        </div>
                        <div class="form-group">
                            <label>{{l("DepartmentName")}}</label>
                            <input class="form-control ucase" type="text" name="DepartmentName"
                                [ngClass]="{'edited':dataModal.DepartmentName}" [(ngModel)]="dataModal.DepartmentName">
                        </div>
                        <div class="form-group">
                            <label>{{l("DetailFormat")}}</label>
                            <textarea class="form-control ucase" type="text" name="DetailFormat"
                                [ngClass]="{'edited':dataModal.DetailFormat}"
                                [(ngModel)]="dataModal.DetailFormat"></textarea>
                        </div>
                        <div class="form-group">
                            <label>{{l("EntityScreenName")}}</label>
                            <input class="form-control ucase" type="text" name="EntityScreenName"
                                [ngClass]="{'edited':dataModal.EntityScreenName}"
                                [(ngModel)]="dataModal.EntityScreenName">
                        </div>
                        <div class="form-group">
                            <label>{{l("EntityTypeName")}}</label>
                            <input class="form-control ucase" type="text" name="EntityTypeName"
                                [ngClass]="{'edited':dataModal.EntityTypeName}" [(ngModel)]="dataModal.EntityTypeName">
                        </div>
                        <div class="form-group">
                            <label>{{l("PopupColor")}}</label>
                            <input class="form-control ucase" type="text" name="PopupColor"
                                [ngClass]="{'edited':dataModal.PopupColor}" [(ngModel)]="dataModal.PopupColor">
                        </div>
                        <div class="form-group">
                            <label>{{l("PopupName")}}</label>
                            <input class="form-control ucase" type="text" name="PopupName"
                                [ngClass]="{'edited':dataModal.PopupName}" [(ngModel)]="dataModal.PopupName">
                        </div>
                        <div class="form-group">
                            <label>{{l("SearchFormat")}}</label>
                            <input class="form-control ucase" type="text" name="SearchFormat"
                                [ngClass]="{'edited':dataModal.SearchFormat}" [(ngModel)]="dataModal.SearchFormat">
                        </div>
                        <div class="form-group">
                            <label>{{l("TrimCharacters")}}</label>
                            <input class="form-control ucase" type="text" name="TrimCharacters"
                                [ngClass]="{'edited':dataModal.TrimCharacters}" [(ngModel)]="dataModal.TrimCharacters">
                        </div>
                        <div class="form-group">
                            <label>{{l("WidgetName")}}</label>
                            <input class="form-control ucase" type="text" name="WidgetName"
                                [ngClass]="{'edited':dataModal.WidgetName}" [(ngModel)]="dataModal.WidgetName">
                        </div>
                    </div>

                    <div *ngIf="deviceName == 'Artech'">
                        <div class="form-group">
                            <label>{{l("Path")}}</label>
                            <input class="form-control ucase" type="text" name="Path"
                                [ngClass]="{'edited':dataModal.Path}" [(ngModel)]="dataModal.Path">
                        </div>
                        <div class="form-group">
                            <label>{{l("FileName")}}</label>
                            <input class="form-control ucase" type="text" name="FileName"
                                [ngClass]="{'edited':dataModal.FileName}" [(ngModel)]="dataModal.FileName">
                        </div>
                        <div class="form-group">
                            <label>{{l("DepartmentName")}}</label>
                            <input class="form-control ucase" type="text" name="DepartmentName"
                                [ngClass]="{'edited':dataModal.DepartmentName}" [(ngModel)]="dataModal.DepartmentName">
                        </div>
                        <div class="form-group">
                            <label>{{l("DetailFormat")}}</label>
                            <textarea class="form-control ucase" type="text" name="DetailFormat"
                                [ngClass]="{'edited':dataModal.DetailFormat}"
                                [(ngModel)]="dataModal.DetailFormat"></textarea>
                        </div>
                        <div class="form-group">
                            <label>{{l("EntityScreenName")}}</label>
                            <input class="form-control ucase" type="text" name="EntityScreenName"
                                [ngClass]="{'edited':dataModal.EntityScreenName}"
                                [(ngModel)]="dataModal.EntityScreenName">
                        </div>
                        <div class="form-group">
                            <label>{{l("PopupColor")}}</label>
                            <input class="form-control ucase" type="text" name="PopupColor"
                                [ngClass]="{'edited':dataModal.PopupColor}" [(ngModel)]="dataModal.PopupColor">
                        </div>
                        <div class="form-group">
                            <label>{{l("PopupName")}}</label>
                            <input class="form-control ucase" type="text" name="PopupName"
                                [ngClass]="{'edited':dataModal.PopupName}" [(ngModel)]="dataModal.PopupName">
                        </div>
                        <div class="form-group">
                            <label>{{l("SearchFormat")}}</label>
                            <input class="form-control ucase" type="text" name="SearchFormat"
                                [ngClass]="{'edited':dataModal.SearchFormat}" [(ngModel)]="dataModal.SearchFormat">
                        </div>
                        <div class="form-group">
                            <label>{{l("TrimCharacters")}}</label>
                            <input class="form-control ucase" type="text" name="TrimCharacters"
                                [ngClass]="{'edited':dataModal.TrimCharacters}" [(ngModel)]="dataModal.TrimCharacters">
                        </div>
                        <div class="form-group">
                            <label>{{l("WidgetName")}}</label>
                            <input class="form-control ucase" type="text" name="WidgetName"
                                [ngClass]="{'edited':dataModal.WidgetName}" [(ngModel)]="dataModal.WidgetName">
                        </div>
                    </div>

                    <div *ngIf="deviceName == 'Call Center Client'">
                        <div class="form-group">
                            <label>{{l("HTTPPort")}}</label>
                            <input class="form-control ucase" type="text" name="HTTPPort"
                                [ngClass]="{'edited':dataModal.HTTPPort}" [(ngModel)]="dataModal.HTTPPort">
                        </div>
                        <div class="form-group">
                            <label>{{l("QueryString")}}</label>
                            <input class="form-control ucase" type="text" name="QueryString"
                                [ngClass]="{'edited':dataModal.QueryString}" [(ngModel)]="dataModal.QueryString">
                        </div>
                        <div class="form-group">
                            <label>{{l("DepartmentName")}}</label>
                            <input class="form-control ucase" type="text" name="DepartmentName"
                                [ngClass]="{'edited':dataModal.DepartmentName}" [(ngModel)]="dataModal.DepartmentName">
                        </div>
                        <div class="form-group">
                            <label>{{l("DetailFormat")}}</label>
                            <textarea class="form-control ucase" type="text" name="DetailFormat"
                                [ngClass]="{'edited':dataModal.DetailFormat}"
                                [(ngModel)]="dataModal.DetailFormat"></textarea>
                        </div>
                        <div class="form-group">
                            <label>{{l("EntityScreenName")}}</label>
                            <input class="form-control ucase" type="text" name="EntityScreenName"
                                [ngClass]="{'edited':dataModal.EntityScreenName}"
                                [(ngModel)]="dataModal.EntityScreenName">
                        </div>
                        <div class="form-group">
                            <label>{{l("PopupColor")}}</label>
                            <input class="form-control ucase" type="text" name="PopupColor"
                                [ngClass]="{'edited':dataModal.PopupColor}" [(ngModel)]="dataModal.PopupColor">
                        </div>
                        <div class="form-group">
                            <label>{{l("PopupName")}}</label>
                            <input class="form-control ucase" type="text" name="PopupName"
                                [ngClass]="{'edited':dataModal.PopupName}" [(ngModel)]="dataModal.PopupName">
                        </div>
                        <div class="form-group">
                            <label>{{l("SearchFormat")}}</label>
                            <input class="form-control ucase" type="text" name="SearchFormat"
                                [ngClass]="{'edited':dataModal.SearchFormat}" [(ngModel)]="dataModal.SearchFormat">
                        </div>
                        <div class="form-group">
                            <label>{{l("TrimCharacters")}}</label>
                            <input class="form-control ucase" type="text" name="TrimCharacters"
                                [ngClass]="{'edited':dataModal.TrimCharacters}" [(ngModel)]="dataModal.TrimCharacters">
                        </div>
                        <div class="form-group">
                            <label>{{l("WidgetName")}}</label>
                            <input class="form-control ucase" type="text" name="WidgetName"
                                [ngClass]="{'edited':dataModal.WidgetName}" [(ngModel)]="dataModal.WidgetName">
                        </div>
                    </div>

                    <div *ngIf="deviceName == 'Mettler Toledo' || deviceName == 'Custom Scale' ">
                        <div class="form-group">
                            <label>{{l("MatchPattern")}}</label>
                            <input class="form-control ucase" type="text" name="BaudRate"
                                [ngClass]="{'edited':dataModal.BaudRate}" [(ngModel)]="dataModal.BaudRate">
                        </div>
                        <div class="form-group">
                            <label>{{l("Port")}}</label>
                            <input class="form-control ucase" type="text" name="InitializationString"
                                [ngClass]="{'edited':dataModal.InitializationString}"
                                [(ngModel)]="dataModal.InitializationString">
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!deviceForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>