<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!terminal.id ? l('CreateNewTerminal') : l('EditTerminal')">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-primary">
                    <i class="fa fa-file"></i> {{l("Locations")}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #terminalForm="ngForm" novalidate class="form terminal-form" (ngSubmit)="save()">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{ l('General') }}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Terminal_TerminalCode">{{l("TerminalCode")}} *</label>
                                            <input type="text" id="Terminal_TerminalCode" class="form-control" autoFocus
                                                [(ngModel)]="terminal.terminalCode" name="TerminalCode" required
                                                #CodeInput="ngModel" />
                                            <validation-messages [formCtrl]="CodeInput"></validation-messages>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Terminal_Name">{{l("Name")}} *</label>
                                            <input type="text" id="Terminal_Name" class="form-control"
                                                [(ngModel)]="terminal.name" name="Name" required #nameInput="ngModel" />

                                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Terminal_Float">{{l("Float")}}</label>
                                            <input type="number" id="Terminal_Float" class="form-control"
                                                [(ngModel)]="terminal.float" name="Float" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Terminal_Denominations">{{l("Denominations")}}</label>
                                            <input type="text" id="Terminal_Denominations" class="form-control"
                                                [(ngModel)]="terminal.denominations" name="Denominations" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 d-flex">
                                        <div class="form-group w-25">
                                            <div class="checkbox-list">
                                                <label for="Terminal_AcceptTolerance" class="checkbox">
                                                    <input id="Terminal_AcceptTolerance" type="checkbox"
                                                        name="AcceptTolerance" [(ngModel)]="terminal.acceptTolerance">
                                                    {{l("Tolerance")}}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group w-75" *ngIf="terminal.acceptTolerance">
                                            <label for="Terminal_Tolerance">{{l("Tolerance")}}</label>
                                            <input type="number" id="Terminal_Tolerance" class="form-control"
                                                [(ngModel)]="terminal.tolerance" name="Tolerance" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Terminal_TicketType">{{l("TicketType")}}</label>
                                            <select id="Terminal_TicketType" class="form-control"
                                                [(ngModel)]="terminal.ticketTypeId" name="Terminal_TicketType">
                                                <option *ngFor="let type of ticketTypes" [value]="type.value">
                                                    {{type.displayText}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label
                                                for="Terminal_TerminalIdentification">{{l("TerminalIdentification")}}</label>
                                            <input type="text" id="Terminal_TerminalIdentification"
                                                class="form-control " [(ngModel)]="terminal.tid"
                                                name="TerminalIdentification" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="Terminal_IsDefault" class="checkbox">
                                                    <input id="Terminal_IsDefault" type="checkbox" name="IsDefault"
                                                        [(ngModel)]="terminal.isDefault">
                                                    {{l("Default")}}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="Terminal_AutoLogout" class="checkbox">
                                                    <input id="Terminal_AutoLogout" type="checkbox" name="AutoLogout"
                                                        [(ngModel)]="terminal.autoLogout">
                                                    {{l("AutoLogout")}}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="Terminal_IsEndWorkTimeMoneyShown" class="checkbox">
                                                    <input id="Terminal_IsEndWorkTimeMoneyShown" type="checkbox"
                                                        name="IsEndWorkTimeMoneyShown"
                                                        [(ngModel)]="terminal.isEndWorkTimeMoneyShown">
                                                    {{l("BlindShift")}}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="Terminal_IsCollectionTerminal" class="checkbox">
                                                    <input id="Terminal_IsCollectionTerminal" type="checkbox"
                                                        name="IsCollectionTerminal"
                                                        [(ngModel)]="terminal.isCollectionTerminal">
                                                    {{l("CollectionTerminal")}}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="Terminal_WorkTimeTotalInFloat" class="checkbox">
                                                    <input id="Terminal_WorkTimeTotalInFloat" type="checkbox"
                                                        name="WorkTimeTotalInFloat"
                                                        [(ngModel)]="terminal.workTimeTotalInFloat">
                                                    {{l("CashSalesIncludeFloatMoney")}}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="Terminal_ChooseFile">{{l("Select")}} {{l("LogoPath")}}</label>
                                            <input type="file" ng2FileSelect [uploader]="uploader" class="col-sm-12"
                                                id="Terminal_ChooseFile" name="chooseFle" (change)="onFileSelected()"
                                                accept="image/*" />
                                            <span class="form-text text-muted col-lg-12">{{"UploadLogo_Info" |
                                                localize}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="Terminal_LogoPath">{{l("LogoPath")}}</label>
                                            <input type="text" id="Terminal_LogoPath" class="form-control "
                                                [(ngModel)]="settings.logoPath" name="LogoPath" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="Terminal_ConnectionString">{{l("ConnectionString")}}</label>
                                            <input type="text" id="Terminal_ConnectionString" class="form-control "
                                                [(ngModel)]="settings.connectionString" name="ConnectionString" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="checkbox-list">
                                            <label for="Terminal_MultipleDatabase" class="checkbox">
                                                <input id="Terminal_MultipleDatabase" type="checkbox"
                                                    name="MultipleDatabase" [(ngModel)]="settings.multipleDatabases">
                                                {{l("MultipleDatabases")}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Settings') }}" customClass="kt-tabs__item" tabindex="1" class="p-5">

                                <div class="row">
                                    <div class="list-option col-md-2">
                                        <div class="item tablink" [ngClass]="{'text-danger': settingName=='Display'}"
                                            (click)="itemSelected('Display')">Display
                                        </div>
                                        <div class="item  tablink" [ngClass]="{'text-danger': settingName=='Service'}"
                                            (click)="itemSelected('Service')">Service
                                        </div>
                                        <div class="item tablink" [ngClass]="{'text-danger': settingName=='Devices'}"
                                            (click)="itemSelected('Devices')">Devices
                                        </div>
                                        <div class="item tablink" [ngClass]="{'text-danger': settingName=='DineFly'}"
                                            (click)="itemSelected('DineFly')">DineFly
                                        </div>
                                        <div class="item tablink" [ngClass]="{'text-danger': settingName=='DineMenu'}"
                                            (click)="itemSelected('DineMenu')">DineMenu
                                        </div>
                                    </div>
                                    <div class="content col-md-10">
                                        <div *ngIf="settingName=='Display'" class="setting-content">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Terminal_WindowScale">{{l("WindowScale")}}</label>
                                                    <input type="number" id="Terminal_WindowScale" class="form-control "
                                                        [(ngModel)]="settings.windowScale" name="WindowScale" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Terminal_Resolution">{{l("Resolution")}}</label>
                                                    <select class="form-control" id="Terminal_Resolution"
                                                        [(ngModel)]="settings.resolution" name="Resolution">
                                                        <option value="1024_768">1024_768</option>
                                                        <option value="1280_1024">1280_1024</option>
                                                        <option value="1280_800">1280_800</option>
                                                        <option value="1366_768">1366_768</option>
                                                        <option value="1920_1080">1920_1080</option>
                                                        <option value="2160_1440">2160_1440</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Terminal_RefreshEntityInSeconds">Refresh
                                                        Entity(Seconds)</label>
                                                    <input type="number" id="Terminal_RefreshEntityInSeconds"
                                                        class="form-control "
                                                        [(ngModel)]="settings.refreshEntityInSeconds"
                                                        name="RefreshEntityInSeconds" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_UseBoldFonts" class="checkbox">
                                                            <input type="checkbox" id="Terminal_UseBoldFonts"
                                                                class="form-control "
                                                                [(ngModel)]="settings.useBoldFonts" name="UseBoldFonts">
                                                            {{l("BoldFont")}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_IsPosItemSearchEnabled" class="checkbox">
                                                            <input type="checkbox" id="Terminal_IsPosItemSearchEnabled"
                                                                class="form-control "
                                                                [(ngModel)]="settings.isPosItemSearchEnabled"
                                                                name="IsPosItemSearchEnabled">
                                                            Item Search(POS)
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_QueueOrder" class="checkbox">
                                                            <input type="checkbox" id="Terminal_QueueOrder"
                                                                class="form-control " [(ngModel)]="settings.queueOrder"
                                                                name="QueueOrder">
                                                            {{l("QueueOrder")}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_SwitchDefaultDepartment" class="checkbox">
                                                            <input type="checkbox" id="Terminal_SwitchDefaultDepartment"
                                                                class="form-control "
                                                                [(ngModel)]="settings.switchDefaultDepartment"
                                                                name="SwitchDefaultDepartment">
                                                            {{l("SwitchDefaultDepartment")}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="settingName=='Service'" class="setting-content">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Terminal_ApiHost">{{l("ApiAddress")}}</label>
                                                    <input type="text" id="Terminal_ApiHost" class="form-control "
                                                        [(ngModel)]="settings.apiHost" name="ApiHost" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Terminal_ApiPort">{{l("Port")}}</label>
                                                    <input type="number" id="Terminal_ApiPort" class="form-control "
                                                        [(ngModel)]="settings.apiPort" name="ApiPort" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label
                                                        for="Terminal_MessagingServerName">{{l("MessagingServerName")}}</label>
                                                    <input type="text" id="Terminal_MessagingServerName"
                                                        class="form-control " [(ngModel)]="settings.messagingServerName"
                                                        name="MessagingServerName" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label
                                                        for="Terminal_MessagingServerPort">{{l("MessagingServerPort")}}</label>
                                                    <input type="text" id="Terminal_MessagingServerPort"
                                                        class="form-control " [(ngModel)]="settings.messagingServerPort"
                                                        name="MessagingServerPort" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_StartAPIServer" class="checkbox">
                                                            <input type="checkbox" id="Terminal_StartAPIServer"
                                                                class="form-control "
                                                                [(ngModel)]="settings.startAPIServer"
                                                                name="StartAPIServer">
                                                            Start API Server
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_DineCall" class="checkbox">
                                                            <input type="checkbox" id="Terminal_DineCall"
                                                                class="form-control " [(ngModel)]="settings.dineCall"
                                                                name="DineCall">
                                                            Dine Call
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_QuickDine" class="checkbox">
                                                            <input type="checkbox" id="Terminal_QuickDine"
                                                                class="form-control " [(ngModel)]="settings.quickDine"
                                                                name="QuickDine">
                                                            {{l("QuickDine")}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_AutoQuickDineSync" class="checkbox">
                                                            <input type="checkbox" id="Terminal_AutoQuickDineSync"
                                                                class="form-control "
                                                                [(ngModel)]="settings.autoQuickDineSync"
                                                                name="AutoQuickDineSync">
                                                            Auto Quick Dine Sync
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_GloriaFood" class="checkbox">
                                                            <input type="checkbox" id="Terminal_GloriaFood"
                                                                class="form-control " [(ngModel)]="settings.gloriaFood"
                                                                name="GloriaFood">
                                                            Online Order
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_AutoSyncConnect" class="checkbox">
                                                            <input type="checkbox" id="Terminal_AutoSyncConnect"
                                                                class="form-control "
                                                                [(ngModel)]="settings.autoSyncConnect"
                                                                name="AutoSyncConnect">
                                                            Auto Sync Connect
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label for="Terminal_StartMessagingClient" class="checkbox">
                                                            <input type="checkbox" id="Terminal_StartMessagingClient"
                                                                class="form-control "
                                                                [(ngModel)]="settings.startMessagingClient"
                                                                name="StartMessagingClient">
                                                            Auto Start Messaging Client
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="settingName=='Devices'" class="setting-content">
                                            <div class="col-md-12 mb-3">
                                                <button type="button" class="btn btn-primary text-uppercase pull-right"
                                                    (click)="showDeviceModal({}, -1)">{{l("Add")}}
                                                </button>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="table-scrollable table-scrollable-borderless">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th style="width: 150px;"> {{l("Name")}} </th>
                                                                <th style="width: 100px;"> </th>
                                                            </tr>
                                                        </thead>
                                                        <tr *ngFor="let m of devices; let index = index">
                                                            <td style="width: 150px;">
                                                                {{m.DeviceName}}
                                                            </td>

                                                            <td style="width: 100px;">
                                                                <button type="button"
                                                                    class="btn-primary btn text-uppercase"
                                                                    (click)="showDeviceModal(m, index)">{{l('Edit')}}</button>
                                                                <button type="button"
                                                                    class="btn-secondary btn text-uppercase"
                                                                    (click)="removeDevice(index)">{{l('Remove')}}</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="settingName=='DineFly'" class="setting-content">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label
                                                        for="Terminal_FlyEntityScreens">{{l("FlyEntityScreens")}}</label>
                                                    <input type="text" id="Terminal_FlyEntityScreens"
                                                        class="form-control " [(ngModel)]="settings.flyEntityScreens"
                                                        name="FlyEntityScreens" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Terminal_BillJob">{{l("BillJob")}}</label>
                                                    <input type="text" id="Terminal_BillJob" class="form-control "
                                                        [(ngModel)]="settings.billJob" name="BillJob" />
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="settingName=='DineMenu'" class="setting-content">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Terminal_DineMenuImage_Choose">{{l("Select")}}
                                                        {{l("MenuImagePath")}}</label>
                                                    <input type="file" ng2FileSelect [uploader]="uploaderDineMenuImage"
                                                        class="col-sm-12" id="Terminal_DineMenuImage_Choose"
                                                        name="chooseFle" (change)="onDineMenuImageFileSelected()"
                                                        accept="image/*" />

                                                </div>

                                                <div class="form-group">
                                                    <label
                                                        for="Terminal_DineMenuImagePath">{{l("DineMenuImagePath")}}</label>
                                                    <input type="text" id="Terminal_DineMenuImagePath"
                                                        class="form-control " [(ngModel)]="settings.dineMenuImagePath"
                                                        name="DineMenuImagePath" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('AutoDayClosing') }}" customClass="kt-tabs__item" tabindex="2"
                                class="p-5">
                                <div class="row">
                                    <div class="form-group col-md-9">
                                        <div class="checkbox-list">
                                            <label for="Terminal_AutoDayClose" class="checkbox">
                                                <input id="Terminal_AutoDayClose" type="checkbox" name="AutoDayClose"
                                                    [(ngModel)]="settings.autoDayClose">
                                                {{l("AutoDayClose")}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <button type="button" class="btn btn-primary pull-right"
                                            (click)="addAutoDayClose()">
                                            <i class="fa fa-plus"></i>
                                            <span>{{l("Add")}}</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="primeng-datatable-container"
                                            [busyIf]="primengTableHelper.isLoading">
                                            <p-table #dataTable [value]="autoDayCloses" [scrollable]="true"
                                                ScrollWidth="100%">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th style="width: 100px;"> </th>
                                                        <th style="width: 150px;"> {{l("AutoDayCloseTime")}} </th>
                                                        <th style="width: 150px;"> {{l("NotificationTime")}}
                                                            ({{l("Minutes")}}) </th>
                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="body" let-record="$implicit" let-index=rowIndex>
                                                    <tr>
                                                        <td style="width: 100px;">
                                                            <button type="button"
                                                                class="btn-secondary btn text-uppercase"
                                                                (click)="removeAutoDayClose(index)"><i
                                                                    class="fa fa-trash"></i></button>
                                                        </td>
                                                        <td style="width: 150px;">
                                                            <div class="form-group">
                                                                <p-calendar [name]="'closeTime'+ index"
                                                                    #autoDayClose_closeTime="ngModel"
                                                                    [(ngModel)]="record.closeTime" [timeOnly]="true"
                                                                    [inline]="true" [appendTo]="body">
                                                                </p-calendar>
                                                            </div>
                                                        </td>
                                                        <td style="width: 150px;">
                                                            <select class="form-control" [name]="'notifyType'+ index"
                                                                #notifyType="ngModel" [(ngModel)]="record.notifyType">
                                                                <option value="5">5</option>
                                                                <option value="15">15</option>
                                                                <option value="30">30</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>

                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                (click)="close()">
                                {{l("Cancel")}}
                            </button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!terminalForm.form.valid"
                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{l("Save")}}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
    </select-location-or-group>
    <app-create-or-edit-device #createOrEditDevice (modalSave)="addDevice($event)"></app-create-or-edit-device>
</div>