<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!priceTag.id ? l('CreateNewPriceTag') : l('EditPriceTag')">
      <div role="actions">
        <button (click)="openSelectLocationModal()" class="btn btn-primary">
          <i class="fa fa-file"></i> {{ l('Locations') }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form #priceTagForm="ngForm" novalidate class="form priceTag-form" (ngSubmit)="save()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="PriceTag_Name">{{l("Name")}} *</label>
                  <input autoFocus type="text" id="PriceTag_Name" class="form-control" [(ngModel)]="priceTag.name"
                    name="Name" required #nameInput="ngModel" />
                  <validation-messages [formCtrl]="nameInput"></validation-messages>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                (click)="close()">{{l("Cancel")}}</button>
              <button type="submit" class="btn btn-primary blue" [disabled]="!priceTagForm.form.valid"
                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                <span>{{l("Save")}}</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
  </select-location-or-group>

</div>