<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ScheduleSales' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" #cashSummary="ngForm" novalidate (ngSubmit)="getData()" autocomplete="off">

                        <div class="row align-items-center mt-3">
                            <div class="col-md-6">
                                <div class="input-group date">
                                    <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                        #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date"
                                        #dp1="bsDaterangepicker"
                                        [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("SelectMenuItem")}}</label>
                                    <div>
                                        <button type="button" class="btn btn-primary text-uppercase" (click)="openforMenuItem()">{{l("MenuItem")}}
                                            <span *ngIf="selectedMenuItems.length"> - {{selectedMenuItems.length}} items</span></button>
                                        <button *ngIf="selectedMenuItems.length" class="btn btn-default"
                                            (click)="resetSelectedItem()">{{l("Clear")}}</button>
                            
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary ml-1" (click)="clear()"><i
                                        class="la la-crop"></i> {{l('Clear') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button type="submit" class="btn btn-primary ml-1">
                                    <i class="la la-check-circle-o"></i>
                                    {{ l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <table class="table table-bordered table-condensed" >
                            <thead>      
                                <tr class="thead_content">
                                    <th rowspan="2" class="text-center  align-items-center" >{{ l('MenuItem') }}</th>
                                    <th colspan="2" class="text-center font_weight_bold" *ngFor="let schedule of scheduleItemResult.listSchedule">
                                        {{schedule.scheduleName}} 
                                    </th>
                                </tr>
                                <tr>
                                    <!-- <th class="text-center max_width_50"> </th> -->
                                    <th colspan="2" style="margin: 0px !important; padding: 0px !important;border: none !important"  *ngFor="let schedule of scheduleItemResult.listSchedule">
                                        <table class="table table-bordered table_Item">
                                            <tr>
                                                <th class="text-center table_Item_Element max_width_20"> {{ l('Quantity') }}</th>
                                                <th class="text-center table_Item_Element max_width_20"> {{ l('Amount') }}</th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </thead>
                            <tr *ngFor="let item of  scheduleItemResult.listResult">
                                <td class="item border_bottom_none text-center max_width_50">{{item.menuItemName}}</td>
                                <td colspan="2" style="margin: 0px !important; padding: 0px !important;border: none !important" *ngFor="let mealTime of item.scheduleReportDatas">
                                    <table class="table table-bordered table_Item">
                                        <tr>
                                            <td class="text-center table_Item_Element max_width_20"> {{mealTime.quantity}}</td>
                                            <td class="text-center table_Item_Element max_width_20"> {{mealTime.amount | number:'1.0-2'}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr >
                                <td class="item border_bottom_none text-center max_width_50 font_weight_bold">{{ l('Total') }}</td>
                                <td colspan="2" style="margin: 0px !important; padding: 0px !important;border: none !important" *ngFor="let item of  scheduleItemResult.listSchedule">
                                    <table class="table table-bordered table_Item">
                                        <tr>
                                            <td class="text-center table_Item_Element max_width_20"> {{item.totalQuantity}}</td>
                                            <td class="text-center table_Item_Element max_width_20"> {{item.totalAmount | number:'1.0-2'}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
    <select-popup #selectMenuItemPopupModal [headers]="['Id','Name']" [dataBinding]="['id','name']"
    [loadData]="getMenuItemSelection()" (changeValue)="addMenuItems($event)" selectionMode="multiple"
    [selectedValue]="selectedMenuItems" [title]="l('SelectMenuItems')"></select-popup>
</div>

