
	.thead_title {
		background-color: #deebf7;
		font-weight: bold;
	}

	.thead_content {
		background-color: #fff2cc;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.margin_bottom_0 {
		margin-bottom: 0 !important;
	}

	.border_bottom_none {
		border-bottom: none !important;
	}

	.custom_table_date {
		margin-bottom: 0px !important;
	}

	.display_flex {
		display: flex;
	}

	.item {
		max-width: 116px;
	}

	.w-100 {
		width: 100%;
	}


	.float-right {
		float: right;
	}

	.thead_title {
		background-color: #008000;
		font-weight: bold;
		color: white;
	}

	.thead_content {
		background-color: #808080;
		color: white;
	}

	.footer_item {
		background-color: #d6dce5;
		font-weight: bold;
	}

	.footer_str {
		display: flex;
		padding: 10px;
	}

	.footer {
		background-color: #e2f0d9;
		font-weight: bold;
	}

	.color_header {
		background-color: #808080;
		color: white;
	}

	.font_weight_bold {
		font-weight: bold;
	}

	.nodata {
		background: navajowhite;
		color: red;
	}

	.table_Item {
		border: none !important;
		margin: 0px !important;
		padding: 0px !important;
	}

	.table_Item_Element {
		border-left: none !important;
		border-bottom: none !important;
	}

	.max_width_50 {
		max-width: 50px;
	}

	.max_width_20 {
		max-width: 20px;
	}
