<section class="summary pad-200 yellow_bg">
    <div class="container">
        <div class="col-sm-12 top-kt">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="mb-0">{{ 'ShoppingCart' | localize }}</h5>
                </div>
            </div>
            <app-cart-calculator [products]="cartProducts" (removeItem)="removeCartProduct($event)" (changeQty)="changeQty($event)"></app-cart-calculator>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-6 col-12">
                    <button class="btn btn-primary" (click)="clearCart()" *ngIf="cartProducts.length" style="float: left">
                        {{ 'ClearCart' | localize }}
                    </button>
                    <button class="btn btn-primary buy-more-plans ml-2" [routerLink]="['/app/portal/member/buy-offer']">
                        {{ 'BuyMorePlans' | localize }}
                    </button>
                </div>
                <div class="col-md-6 col-12 text-right">
                    <button class="btn btn-danger" [disabled]="cartProducts.length == 0" [routerLink]="['/app/portal/member/checkout']">
                        {{ 'Checkout' | localize }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
