@media (max-width: 1024px){
    .top-kt {
        margin-top: 1vh;
    }
}

@media (min-width: 1025px){
    .top-kt {
        margin-top: -5vh;
    }
}

@media (max-width: 991px) {
    .btn {
        width: 100%;
        margin-top: 10px;
    }

    .buy-more-plans.ml-2 {
        margin-left: 0 !important;
    }
}