<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('EditTimeSlots')"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #timeSlotForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>{{ l('DeliveryType') }} *</label>
                                <p-dropdown
                                    [options]="deliveryTypes"
                                    optionLabel="displayText"
                                    dataKey="id"
                                    required
                                    [filter]="true"
                                    styleClass="w-100"
                                    [placeholder]="l('SelectDeliveryType')"
                                    name="promotionType"
                                    (onChange)="onChangeDeliveryType($event)"
                                    [ngModel]="{ id: timeSlot.type }"
                                >
                                </p-dropdown>
                            </div>
                            <div class="form-group col-md-6">
                                <label>{{ l('MealTime') }} *</label>
                                <p-dropdown
                                    [options]="mealTimes"
                                    optionLabel="name"
                                    [filter]="true"
                                    required
                                    styleClass="w-100"
                                    dataKey="id"
                                    [placeholder]="l('SelectMealTime')"
                                    name="mealTime"
                                    (onChange)="timeSlot.mealTimeId = $event?.value.id"
                                    [ngModel]="{ id: timeSlot.mealTimeId }"
                                >
                                </p-dropdown>
                            </div>
                            <div *ngIf="timeSlot.type == TiffinDeliveryTimeSlotType.Delivery" class="form-group col-md-6 mt-10">
                                <label for="DayOfWeek">{{ l('DayOfWeek') }} *</label>
                                <p-dropdown
                                    [options]="dayOfWeeks"
                                    optionLabel="displayText"
                                    dataKey="value"
                                    required
                                    [filter]="true"
                                    styleClass="w-100"
                                    [placeholder]="l('SelectDay')"
                                    name="dayOfWeek"
                                    (onChange)="timeSlot.dayOfWeek = $event?.value.value"
                                    [ngModel]="{ value: timeSlot.dayOfWeek }"
                                >
                                </p-dropdown>
                            </div>
                            <div *ngIf="timeSlot.type == TiffinDeliveryTimeSlotType.SelfPickup" class="form-group col-md-6 mt-10">
                                <label>{{ l('Location') }} *</label>
                                <p-dropdown
                                    [options]="listLocation"
                                    optionLabel="name"
                                    [filter]="true"
                                    required
                                    styleClass="w-100"
                                    dataKey="id"
                                    [placeholder]="l('SelectLocation')"
                                    name="location"
                                    (onChange)="timeSlot.locationId = $event?.value.id"
                                    [ngModel]="{ id: timeSlot.locationId }"
                                >
                                </p-dropdown>
                            </div>
                            <div class="col-md-6 d-inline-flex">
                                <div class="form-group mr-5">
                                    <label for="TimeSlot_StartTime">{{ l('StartTime') }}</label>
                                    <timepicker
                                        [(ngModel)]="startTime"
                                        [max]="endTime"
                                        [showMeridian]="false"
                                        name="StartTime"
                                        required
                                        #TimeSlot_StartTime="ngModel"
                                    >
                                    </timepicker>
                                </div>
                                <div class="form-group">
                                    <label for="TimeSlot_EndTime">{{ l('EndTime') }}</label>
                                    <timepicker
                                        [(ngModel)]="endTime"
                                        [min]="startTime"
                                        required
                                        [showMeridian]="false"
                                        name="EndTime"
                                        #TimeSlot_EndTime="ngModel"
                                    >
                                    </timepicker>
                                </div>
                            </div>
                        </div>

                        <button (click)="addTimeSlot()" type="button" class="btn btn-primary blue my-4" [disabled]="!timeSlotForm.form.valid">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Add') }}</span>
                        </button>

                        <div class="row">
                            <span class="mb-4 ml-4">{{ l('NewTimeSlot') }}</span>
                            <div class="col-12">
                                <p-table [value]="newTimeSlots">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{ 'Operations' | localize }}</th>
                                            <th>{{ 'DayOfWeek' | localize }}</th>
                                            <th>{{ 'MealTime' | localize }}</th>
                                            <th>{{ 'DeliveryType' | localize }}</th>
                                            <th>{{ 'Location' | localize }}</th>
                                            <th>{{ 'TimeSlot' | localize }}</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-newTimeSlot>
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0);" (click)="removeTimeSlot(newTimeSlot)">{{ 'Delete' | localize }}</a>
                                            </td>
                                            <td>{{ getDayOfWeekLabel(newTimeSlot.dayOfWeek) }}</td>
                                            <td>{{ newTimeSlot.mealTimeName }}</td>
                                            <td>{{ !newTimeSlot.type ? 'Delivery' : 'Self-Pickup' }}</td>
                                            <td>
                                                {{ newTimeSlot.locationName }}
                                            </td>
                                            <td>
                                                <span> {{ newTimeSlot.timeSlots?.from }}-{{ newTimeSlot.timeSlots?.to }} </span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>

                        <div class="row align-items-center mt-5">
                            <!--<Primeng-Datatable-Start>-->
                            <span class="mb-4 ml-4">{{ l('ListTimeSlot') }}</span>
                            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                <p-table
                                    #dataTable class="custom-table"
                                    [value]="primengTableHelper.records"
                                    [(rows)]="paging.rows" 
                                    [paginator]="true" 
                                    [(first)]="paging.first" 
                                    [showCurrentPageReport]="true"
                                    [scrollable]="true" 
                                    (sortFunction)="primengTableHelper.customSort($event)" [customSort]="true"
                                    ScrollWidth="100%" 
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th [hidden]="!isGranted('Pages.Tenant.Tiffin.Manage.ProductSets.Delete')">
                                                {{ l('Operations') }}
                                            </th>
                                            <th pSortableColumn="dayOfWeeks">
                                                {{ l('DayOfWeek') }}
                                                <p-sortIcon field="dayOfWeeks"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="mealTimeId">
                                                {{ l('MealTime') }}
                                                <p-sortIcon field="mealTimeId"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="type">
                                                {{ l('DeliveryType') }}
                                                <p-sortIcon field="type"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="locationId">
                                                {{ l('Location') }}
                                                <p-sortIcon field="locationId"></p-sortIcon>
                                            </th>
                                            <th style="width: 400px">
                                                {{ l('TimeSlot') }}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td>
                                                <a
                                                    href="javascript:void(0);"
                                                    (click)="deleteTimeSlot(record)"
                                                    *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Schedules.Delete')"
                                                    >Delete</a
                                                >
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{ l('DayOfWeek') }}</span>
                                                {{ getDayOfWeekLabel(record.dayOfWeek) }}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{ l('MealTime') }}</span>
                                                {{ record.mealTimeName }}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{ l('DeliveryType') }}</span>
                                                {{ !record.type ? 'Delivery' : 'Self-Pickup' }}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{ l('Location') }}</span>
                                                {{ record.locationName }}
                                            </td>
                                            <td style="width: 400px">
                                                <span class="ui-column-title"> {{ l('TimeSlots') }}</span>
                                                <span> {{ record.timeSlots?.from }}-{{ record.timeSlots?.to }}</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{ l('NoData') }}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator #paginator
                                      [rows]="paging.rows" 
                                      [totalRecords]="primengTableHelper.totalRecordsCount"
                                      [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                      (onPageChange)="onChangePage($event)">
                                    </p-paginator>
                                    <span class="total-records-count">
                                      {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                  </div>
                            </div>
                            <!--<Primeng-Datatable-End>-->
                        </div>

                        <div class="row pull-right" style="margin-top: 20px">
                            <div class="col-md-12">
                                <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                                <button
                                    type="submit"
                                    class="btn btn-primary blue"
                                    [disabled]="newTimeSlots.length == 0"
                                    [buttonBusy]="saving"
                                    [busyText]="l('SavingWithThreeDot')"
                                >
                                    <i class="fa fa-save"></i>
                                    <span>{{ l('Save') }}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
