<div class="foodstack_app">
    <!-- navbar -->
    <nav *ngIf="!isLoginPage" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <article>
                <!-- mobile menu -->
                <div class="logo_ham_btn">
                    <a href="https://wa.me/+65{{phoneNumber}}" class="cta-whatsapp">
                        <img src="./assets/static/svg/whatsapp.svg" alt="" />
                    </a>
                    <a class="navbar-brand" href="./">
                        <img src="./assets/static/Images/Stack_Logo.jpeg" alt="" />
                    </a>
                    <button
                        class="navbar-toggler collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                        <span class="hamburger_btn">
                            <span></span>
                        </span>
                    </button>
                </div>
                <!-- mobile menu ends -->

                <!-- main menu -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="main_menu">
                        <a class="navbar-brand mb-1" href="./index.html">
                            <img src="/assets/static/Images/Stack_Logo.jpeg" alt="" />
                        </a>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="btn yellow-btn" [routerLink]="['./login']" routerLinkActive="active-link">Login / Signup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['./menu']" routerLinkActive="active-link">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['./view-offers']" routerLinkActive="active-link">Meal plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['./aboutUs']" routerLinkActive="active-link">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </nav>

    <div class="site_body" [ngClass]="{ 'm-0  yellow_bg': isLoginPage }">
        <router-outlet></router-outlet>
        <!-- footer -->
        <footer class="footer">
            <div>
                <article>
                    <!-- social media icons -->
                    <div class="mb-2">
                        <p *ngIf="!isPortalIndexPage" class="mb-0">
                            Contact us:
                            <a href="mailto:{{email}}" target="_blank" class="links-item__link">{{email}}</a>
                        </p>
                        <p class="copyright-content mb-0">Stack Cafeteria @ NPS International School, 10 Chai Chee Lane, Singapore 469021</p>
                        
                    </div>
                    <!-- social media icons -->
                    <div class="d-flex flex-row align-items-center mb-2">
                        <a class="copyright-content d-block" href="portal/term-and-conditions">Terms and Conditions</a>
                        <span style="font-size: 12px; color: #545454;">&nbsp;/&nbsp;</span>
                        <a class="copyright-content d-block" href="portal/privacy">Privacy Policy</a>
                    </div>
                    <!-- copyright -->
                    <div class="copyright">
                        <p class="copyright-content mb-1">Copyright © 2021 Food Stack Concepts</p>
                    </div>
                    <!-- copyright ends -->
                </article>
            </div>
        </footer>
        <!-- foooter ends -->
    </div>
</div>
