<div appBsModal #CardIdGuiderModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <button type="button" class="close" [attr.aria-label]="'Close'" (click)="close()"></button>
            <div class="modal-header">
                <h4>How to get ID Card Number ?</h4>
            </div>
            <div class="modal-body">
                <div class="qr-wrap">
                    <img [src]="url"/>
                </div>
            </div>
        </div>
    </div>
</div>
