<div
    appBsModal
    #modal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal"
    (onShown)="shown()"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="mr-4">{{l('Upload flyer background')}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span style="display: block;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="" type="file" (change)="fileChangeEvent($event)" />

                <image-cropper
                    [imageFile]="imageDefault"
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="99 / 204"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded($event)"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
            </div>
            <div class="modal-footer">
                <div style="flex: auto"></div>
                <button type="button" class="btn btn-primary" (click)="save()">{{ l('Set Image') }}</button>
            </div>
        </div>
    </div>
</div>

