.nutrition-seperator-thick {
    width: 100%;
    height: 5px;
    background: #333c4e;
}

.nutrition-no-border {
    display: block !important;
    border-width: 0px !important;
    border: none !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.nutrition-seperator-thin {
    width: 100%;
    height: 1px;
    background: #333c4e;
}