<div class="print">
    <div class="header">
        {{tenantName}} 
        <br>
         Sales Summary
    </div>
    <div class="content container-fluid">
        <div class="row item" *ngFor="let item of data">
            <div class="col-md-3">Date</div>
            <div class="col-md-9">{{item.dateStr}}</div>
            <div class="col-md-3">Location</div>
            <div class="col-md-9">{{item.location}}</div>
            <div class="col-md-3">Ticket count</div>
            <div class="col-md-9">{{item.totalTicketCount | number: '1.2'}}</div>
            <div class="col-md-3">Total</div>
            <div class="col-md-9">{{item.total | number: '1.2'}}</div>
        </div>
    </div>
</div>