.print{
    font-size: 30px;
   .header{
       text-align: center;
   }
   .content{
       margin-top: 20px;
       border-top: 1px solid;
    .item{
        border-bottom: 1px solid;
    }
   }
   
}