<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!departmentGroup.id ? l('CreateDepartmentGroup') : l('EditDepartmentGroup')">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #departmentGroupForm="ngForm" novalidate class="form departmentGroup-form" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DepartmentGroup_code">{{ l('Code') }} *</label>
                                    <input
                                        autoFocus
                                        type="text"
                                        id="DepartmentGroup_code"
                                        class="form-control"
                                        [(ngModel)]="departmentGroup.code"
                                        name="code"
                                        autofocus
                                        required
                                        #codeInput="ngModel"
                                    />
                                    <validation-messages [formCtrl]="codeInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DepartmentGroup_Name">{{ l('Name') }} *</label>
                                    <input
                                        autoFocus
                                        type="text"
                                        id="DepartmentGroup_Name"
                                        class="form-control"
                                        [(ngModel)]="departmentGroup.name"
                                        name="Name"
                                        autofocus
                                        required
                                        #nameInput="ngModel"
                                    />
                                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                            <button
                                type="submit"
                                class="btn btn-primary blue"
                                [disabled]="!departmentGroupForm.form.valid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                            >
                                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
