<tabset *ngIf="settings">
    <tab heading="{{'UiCustomization_Layout' | localize}}">
        <div class="kt-form">
            <form id="LayoutSettingsForm">
                <div class="form-group row">
                    <h5 class="col">{{"UiCustomization_LayoutType" | localize}}</h5>
                    <div class="col-lg-12">
                        <select id="LayoutType" name="LayoutType" class="form-control w-25"
                            [(ngModel)]="settings.layout.layoutType">
                            <option value="fluid">{{"UiCustomization_Fluid" | localize}}</option>
                            <option value="fixed">{{"UiCustomization_Fixed" | localize}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </tab>

    <tab heading="{{'UiCustomization_Header' | localize}}">
        <div class="kt-form">
            <form id="HeaderSettingsForm">
                <div class="form-group row">
                    <h5 class="col">{{"UiCustomization_Desktop" | localize}}</h5>
                    <div class="col-lg-12">
                        <label class="checkbox">
                            <input type="checkbox" name="DesktopFixedHeader"
                                [(ngModel)]="settings.header.desktopFixedHeader">
                            {{"UiCustomization_DesktopFixedHeader" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <h5 class="col">{{'Color' | localize}}</h5>
                    <div class="col-lg-12">
                        <div class="input-group w-25">
                            <input style="max-width: 45px;" type="color" id="headerColorView" class="form-control"
                                [(ngModel)]="settings.header.color" name="headerColorView" />
                            <input type="text" id="headerColor" class="form-control"
                                [ngClass]="{'edited':settings.header.color}" [(ngModel)]="settings.header.color"
                                name="headerColor" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </tab>

    <tab heading="{{'UiCustomization_Menu' | localize}}">
        <div class="kt-form">
            <form id="MenuSettingsForm">
                <div class="form-group row">
                    <h5 class="col">{{"UiCustomization_Menu" | localize}}</h5>
                    <div class="col-lg-12">
                        <label class="checkbox">
                            <input type="checkbox" name="FixedAside" [(ngModel)]="settings.menu.fixedAside">
                            {{"UiCustomization_FixedMenu" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label class="checkbox col-lg-12">
                            <input type="checkbox" name="DefaultMinimizedAside"
                                [(ngModel)]="settings.menu.searchActive">
                            {{"ShowMenuSearchInput" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <h5 class="col">{{'Color' | localize}}</h5>
                    <div class="col-lg-12">
                        <div class="input-group w-25">
                            <input style="max-width: 45px;" type="color" id="menuColorView" class="form-control"
                                [(ngModel)]="settings.menu.color" name="menuColorView" />
                            <input type="text" id="menuColor" class="form-control"
                                [ngClass]="{'edited':settings.menu.color}" [(ngModel)]="settings.menu.color"
                                name="menuColor" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </tab>
    <tab heading="{{'UiCustomization_Content' | localize}}">
        <div class="kt-form">
            <form id="ContentSettingsForm">
                <div class="form-group row">
                    <h5 class="col">{{'Color' | localize}}</h5>
                    <div class="col-lg-12">
                        <div class="input-group w-25">
                            <input style="max-width: 45px;" type="color" id="ContentColorView" class="form-control"
                                [(ngModel)]="settings.content.color" name="ContentColorView" />
                            <input type="text" id="ContentColor" class="form-control"
                                [ngClass]="{'edited':settings.content.color}" [(ngModel)]="settings.content.color"
                                name="ContentColor" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </tab>
</tabset>

<div class="mt-4">
    <button *ngIf="'Pages.Administration.UiCustomization' | permission" (click)="updateDefaultUiManagementSettings()"
        class="btn btn-primary">
        <i class="fa fa-save"></i>
        {{"SaveAsSystemDefault" | localize}}
    </button>

    <button *ngIf="!('Pages.Administration.UiCustomization' | permission)" (click)="updateUiManagementSettings()"
        class="btn btn-primary">
        <i class="fa fa-save"></i>
        {{"Save" | localize}}
    </button>

    <button *ngIf="!('Pages.Administration.UiCustomization' | permission)" (click)="useSystemDefaultSettings()"
        class="btn btn btn-secondary btn-hover-brand">
        {{"UseSystemDefaults" | localize}}
    </button>
</div>