<div class="col-sm-12 top-kt" style="height: 100vh;">
    <div class="card mb-1">
        <div class="card-body">
            <h5 class="mb-0">{{ "ShoppingCart" | localize }}</h5>
        </div>
    </div>
    <app-cart-calculator
        [products]="cartProducts"
        (removeItem)="removeCartProduct($event)"
        (changeQty)="changeQty($event)"
    ></app-cart-calculator>
    <div class="text-right" style="margin-top: 20px;">
        <button
            class="btn btn-primary"
            (click)="clearCart()"
            *ngIf="cartProducts.length"
            style="float: left;"
        >
            {{ "ClearCart" | localize }}
        </button>
        <button
            class="btn btn-primary"
            [routerLink]="['/app/portal/member/buy-offer']"
        >
            {{ "BuyMorePlans" | localize }}
        </button>
        <button
            class="btn btn-outline-danger active"
            [disabled]="cartProducts.length == 0"
            [routerLink]="['/app/portal/member/checkout']"
        >
            {{ "Checkout" | localize }}
        </button>
    </div>
</div>
