<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!wheelSetupId ? l('Create Wheel Setup') : l('Edit Wheel Setup')"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #wheelSetupForm="ngForm" novalidate autocomplete="off">
                        <tabset>
                            <tab heading="Basic" class="p-5">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="WheelSetup_HomePage">{{ l("HomePage") }}</label>
                                        <select class="form-control" name="WheelSetup_HomePage" id="WheelSetup_HomePage"
                                            [(ngModel)]="wheelSetup.homePageId">
                                            <option *ngFor="let option of allDynamicPages" [value]="option.value">
                                                {{ option.displayText }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="isDisplayHomePage">{{ l("DisplayHomePage") }}</label>
                                        <select class="form-control" name="isDisplayHomePage" id="isDisplayHomePage"
                                            [(ngModel)]="wheelSetup.isDisplayHomePage">
                                            <option [value]="true">True</option>
                                            <option [value]="false">False</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="WheelSetup_Postal_Service">{{ l("Postal Service") }}</label>
                                        <select class="form-control" name="WheelSetup_Postal_Service"
                                            id="WheelSetup_Postal_Service"
                                            [(ngModel)]="wheelSetup.wheelPostCodeServiceType">
                                            <option *ngFor="let option of postalServices" [value]="option.value">
                                                {{ option.label }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="WheelSetup_Client_Url">{{ l("eDineUrl") }}</label>
                                        <input class="form-control" name="WheelSetup_Client_Url"
                                            id="WheelSetup_Client_Url" #WheelSetup_Client_Url="ngModel"
                                            [(ngModel)]="wheelSetup.clientUrl" [value]="wheelSetup.clientUrl" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="WheelSetup_Title">{{ l("Title") }}</label>
                                        <input class="form-control" name="WheelSetup_Title" id="WheelSetup_Title"
                                            [(ngModel)]="wheelSetup.title" [value]="wheelSetup.title" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="WheelSetup_CountryCode">{{ l("CountryCode") }}</label>
                                        <select class="form-control" name="WheelSetup_CountryCode" id="WheelSetup_CountryCode"
                                                [(ngModel)]="wheelSetup.countryCode">
                                            <option value="" disabled selected>Select Country</option>
                                            <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="WheelSetup_Currency">{{ l("Currency") }}</label>
                                        <input class="form-control" name="WheelSetup_Currency" id="WheelSetup_Currency"
                                            [(ngModel)]="wheelSetup.currency" [value]="wheelSetup.currency" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="WheelSetup_Welcome_Message">{{ l("Welcome Message") }}</label>
                                        <editor-tiny-mce #WheelSetup_Welcome_MessageInput="ngModel"
                                            [(ngModel)]="wheelSetup.welcomeMessage" name="WheelSetup_Welcome_Message"
                                            required [init]="{
                              height: 300,
                              menubar: false,
                              toolbar: ['styleselect fontselect fontsizeselect',
                                  'undo redo | cut copy paste | bold italic | link image | alignleft aligncenter alignright alignjustify| forecolor backcolor',
                                  'bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code'],
                              plugins : 'advlist autolink link image lists charmap print preview code'
                          }">
                                        </editor-tiny-mce>
                                    </div>
                                    <validation-messages [formCtrl]="WheelSetup_Welcome_MessageInput">
                                    </validation-messages>
                                </div>

                            </tab>


                            <tab heading="Logo" class="p-5">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="WheelSetup_LogoCompany">{{
                                            l("LogoCompany")
                                            }}</label>
                                        <div class="w-100">
                                            <img class="w-25" *ngIf="wheelSetup.logoCompanyUrl"
                                                [src]="wheelSetup.logoCompanyUrl" />
                                        </div>
                                        <input class="form-control border-0" id="WheelSetup_LogoCompany"
                                            name="WheelSetup_LogoCompany" type="file" accept="image/*" ng2FileSelect
                                            [uploader]="logoCompanyUploader" />

                                        <button class="btn btn-primary" type="button"
                                            (click)="uploadLogoCompany('logoCompanyUploader')">
                                            {{ "Upload" | localize }}
                                        </button>
                                        <button class="btn btn-secondary" type="button"
                                            (click)="clearLogo('logoCompanyUrl','logoCompanyUploader')">
                                            {{ "Clear" | localize }}
                                        </button>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Locations" class="p-5">
                                <div class="row mb-2">
                                    <div class="col-md-5">
                                        <ng-select [items]="allLocations" bindLabel="name" [multiple]="false"
                                            [(ngModel)]="selectedLocation" name="locations"></ng-select>
                                    </div>
                                    <div class="col-md-7 text-left">
                                        <span class="btn btn-primary blue hand-cursor" (click)="addLocation()">
                                            <i class="fa fa-plus"></i> Add
                                        </span>
                                    </div>
                                </div>
                                <p-table #zoneTable [value]="wheelSetup.wheelLocations">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Name</th>
                                            <th style="width: 100px">Actions</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-location>
                                        <tr>
                                            <td>{{ location.name }}</td>
                                            <td>
                                                <span class="btn btn-danger hand-cursor action-button"
                                                    (click)="removeLocation(location)">Delete</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data no-data" *ngIf="
                      !wheelSetup.wheelLocations ||
                      wheelSetup.wheelLocations.length == 0
                    ">
                                    {{ l("NoData") }}
                                </div>
                            </tab>

                        </tabset>
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                (click)="cancel()">
                                {{ l("Cancel") }}
                            </button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!wheelSetupForm.form.valid"
                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                                <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
