.spinner {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image-input {
    .impage-input-wapper {
        width: 120px;
        height: 120px;
        border-radius: 0.42rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
