﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'WheelSetup' | localize">
            <div role="actions">
                <button (click)="createOrEditWheelSetup()" *ngIf="isGranted('Pages.WheelSetups.Create')" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>{{ 'Create Wheel Setup' | localize }}
                </button>
            </div>
        </sub-header>
    </div>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table
                            #dataTable
                            (onLazyLoad)="getWheelSetups($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            [lazy]="true"
                            [scrollable]="true"
                            ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="id">
                                        {{ l('Id') }}
                                        <p-sortIcon field="id"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="homePage.name">
                                        {{ l('Home Page') }}
                                        <p-sortIcon field="homePage.name"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="clientUrl">
                                        {{ l('eDineUrl') }}
                                        <p-sortIcon field="clientUrl"></p-sortIcon>
                                    </th>
                                    <th [hidden]="!isGrantedAny('Pages.WheelSetups.Edit', 'Pages.WheelSetups.Delete')">
                                        {{ l('Actions') }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="ui-column-title"> {{ l('Id') }}</span>
                                        {{ record.wheelSetup.id }}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{ l('HomePage') }}</span>
                                        {{ record.wheelSetup.homePage.name }}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{ l('eDineUrl') }}</span>
                                        {{ record.wheelSetup.clientUrl }}
                                    </td>
                                    <td [hidden]="!isGrantedAny('Pages.WheelSetups.Edit', 'Pages.WheelSetups.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.WheelSetups.Edit')"
                                                        class="dropdown-item"
                                                        (click)="createOrEditWheelSetup(record.wheelSetup.id)"
                                                        >{{ l('Edit') }}</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.WheelSetups.Delete')"
                                                        class="dropdown-item"
                                                        (click)="deleteWheelSetup(record.wheelSetup.id)"
                                                        >{{ l('Delete') }}</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                #paginator
                                (onPageChange)="getWheelSetups($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                            >
                            </p-paginator>
                            <span class="total-records-count">
                                {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
</div>
