<div appBsModal #createModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form #tenantDatabaseCreateForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active"
                (submit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="!tenantDatabase.id">{{"CreateNewTenantDatabase" | localize}}</span>
                        <span *ngIf="tenantDatabase.id">{{"EditTenantDatabase" | localize}}: {{tenantDatabase.name}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="Name">{{"Name" | localize}} *</label>
                        <input id="Name" #nameInput="ngModel" class="form-control" type="text"
                            [ngClass]="{'edited':tenantDatabase.name}" name="name"
                            [(ngModel)]="tenantDatabase.name" #name="ngModel" required>
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ServerIp">{{"ServerIp" | localize}} *</label>
                        <input id="ServerIp" #serverIpInput="ngModel" type="text" name="ServerIp" class="form-control"
                            [ngClass]="{'edited':tenantDatabase.serverIp}" [(ngModel)]="tenantDatabase.serverIp" required>
                        <validation-messages [formCtrl]="serverIpInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ServerPort">{{"ServerPort" | localize}} *</label>
                        <input id="ServerPort" #serverPortInput="ngModel" type="text" name="ServerPort" class="form-control"
                            [ngClass]="{'edited':tenantDatabase.serverPort}" [(ngModel)]="tenantDatabase.serverPort" required>
                        <validation-messages [formCtrl]="serverPortInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label for="UserName">{{"UserName" | localize}} *</label>
                        <input id="UserName" #userNameInput="ngModel" type="text" name="UserName" class="form-control"
                            [ngClass]="{'edited':tenantDatabase.userName}" [(ngModel)]="tenantDatabase.userName" required>
                        <validation-messages [formCtrl]="userNameInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label for="Password">{{"Password" | localize}} *</label>
                        <input id="Password" #passwordInput="ngModel" type="text" name="Password" class="form-control"
                            [ngClass]="{'edited':tenantDatabase.password}" [(ngModel)]="tenantDatabase.password" required>
                        <validation-messages [formCtrl]="passwordInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label for="Setting">{{"Settings" | localize}}</label>
                        <div class="checkbox-list">
                            <label for="CreateTenantDatabase_PersistSecurityInfo" class="checkbox">
                                <input id="CreateTenantDatabase_PersistSecurityInfo" type="checkbox"
                                    name="PersistSecurityInfo"
                                    [(ngModel)]="tenantDatabase.persistSecurityInfo">
                                {{"PersistSecurityInfo" | localize}}
                                <span></span>
                            </label>
                            <label for="CreateTenantDatabase_MultipleActiveResultSets" class="checkbox">
                                <input id="CreateTenantDatabase_MultipleActiveResultSets" type="checkbox"
                                    name="MultipleActiveResultSets"
                                    [(ngModel)]="tenantDatabase.multipleActiveResultSets">
                                {{"MultipleActiveResultSets" | localize}}
                                <span></span>
                            </label>
                            <label for="CreateTenantDatabase_Encrypt" class="checkbox">
                                <input id="CreateTenantDatabase_Encrypt" type="checkbox"
                                    name="Encrypt"
                                    [(ngModel)]="tenantDatabase.encrypt">
                                {{"Encrypt" | localize}}
                                <span></span>
                            </label>
                            <label for="CreateTenantDatabase_TrustServerCertificate" class="checkbox">
                                <input id="CreateTenantDatabase_TrustServerCertificate" type="checkbox"
                                    name="TrustServerCertificate"
                                    [(ngModel)]="tenantDatabase.trustServerCertificate">
                                {{"TrustServerCertificate" | localize}}
                                <span></span>
                            </label>
                            <label for="ConnectionTimeout">{{"ConnectionTimeout" | localize}} *</label>
                            <input id="ConnectionTimeout" #connectionTimeoutInput="ngModel" type="number" name="ConnectionTimeout" class="form-control"
                                [ngClass]="{'edited':tenantDatabase.connectionTimeout}" [(ngModel)]="tenantDatabase.connectionTimeout" required>
                            <validation-messages [formCtrl]="connectionTimeoutInput"></validation-messages>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-outline-secondary"
                        (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                        class="btn btn-primary"
                        [disabled]="!tenantDatabaseCreateForm.form.valid || saving"><i
                            class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>