<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TenantDatabase' | localize" [description]="'TenantDatabaseHeaderInfo' | localize">
            <div role="actions">
                <button *ngIf="'Pages.Administration.Host.TenantDatabase.Create' | permission" class="btn btn-primary"
                        (click)="createOrEdit()"><i class="fa fa-plus"></i>{{"CreateNewTenantDatabase" | localize}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input autoFocus [(ngModel)]="filter" name="filterText"
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getTenantDatabases()" class="btn btn-primary" type="submit"><i
                                                        class="flaticon-search-1"
                                                        [attr.aria-label]="l('Search')"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getTenantDatabases($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:130px">{{'Actions' | localize}}</th>
                                        <th pSortableColumn="name">
                                            {{'Name' | localize}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th>
                                            {{'ServerIp' | localize}}
                                        </th>
                                        <th>
                                            {{'ServerPort' | localize}}
                                        </th>
                                        <th>
                                            {{'UserName' | localize}}
                                        </th>
                                        <th>
                                            {{'Password' | localize}}
                                        </th>
                                        <th>
                                            {{'PersistSecurityInfo' | localize}}
                                        </th>
                                        <th>
                                            {{'MultipleActiveResultSets' | localize}}
                                        </th>
                                        <th>
                                            {{'Encrypt' | localize}}
                                        </th>
                                        <th>
                                            {{'TrustServerCertificate' | localize}}
                                        </th>
                                        <th>
                                            {{'ConnectionTimeout' | localize}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!(['Pages.Administration.Host.TenantDatabase.Edit', 'Pages.Administration.Host.TenantDatabase.Delete'] | permissionAny)">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="'Pages.Administration.Host.TenantDatabase.Edit' | permission"
                                                            (click)="createOrEditTenantDatabaseModal.show(record.id)">{{'Edit' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="'Pages.Administration.Host.TenantDatabase.Delete' | permission"
                                                            (click)="deleteTenantDatabase(record)">{{'Delete' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'Name' | localize}}</span>
                                            {{record.name}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'ServerIp' | localize}}</span>
                                            {{record.serverIp}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'ServerPort' | localize}}</span>
                                            {{ record.serverPort}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'UserName' | localize}}</span>
                                            {{ record.userName}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'Password' | localize}}</span>
                                            {{record.password}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'PersistSecurityInfo' | localize}}</span>
                                            <span *ngIf="record.persistSecurityInfo"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.persistSecurityInfo"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'MultipleActiveResultSets' | localize}}</span>
                                            <span *ngIf="record.multipleActiveResultSets"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.multipleActiveResultSets"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'Encrypt' | localize}}</span>
                                            <span *ngIf="record.encrypt"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.encrypt"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'TrustServerCertificate' | localize}}</span>
                                            <span *ngIf="record.trustServerCertificate"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.trustServerCertificate"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'ConnectionTimeout' | localize}}</span>
                                            {{record.connectionTimeout}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getTenantDatabases($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditTenantDatabaseModal #createOrEditTenantDatabaseModal (modalSave)="getTenantDatabases()"></createOrEditTenantDatabaseModal>
    </div>
</div>