<!-- home banner starts here -->
<section class="home-banner">
    <!-- home banner slider -->
    <div class="home-banner-slider">
        <carousel>
            <slide *ngFor="let item of bannerList">
                <div
                    class="home-slider-item"
                    style="
                        background-image: url({{item}});
                    "
                ></div>
            </slide>
        </carousel>
        <!-- <div
            id="carouselExampleFade"
            class="carousel slide carousel-fade"
            data-ride="carousel"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div
                        class="home-slider-item"
                        style="
                            background-image: url('assets/static/img/Banner-1.jpg');
                        "
                    ></div>
                </div>
                <div class="carousel-item">
                    <div
                        class="home-slider-item"
                        style="
                            background-image: url('assets/static/img/Banner-2.jpg');
                        "
                    ></div>
                </div>
                <div class="carousel-item">
                    <div
                        class="home-slider-item"
                        style="
                            background-image: url('assets/static/img/Banner-3.jpg');
                        "
                    ></div>
                </div>
                <div class="carousel-item">
                    <div
                        class="home-slider-item"
                        style="
                            background-image: url('assets/static/img/Banner-4.jpg');
                        "
                    ></div>
                </div>
            </div>
            <a
                class="carousel-control-prev"
                href="#carouselExampleFade"
                role="button"
                data-slide="prev"
            >
                <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
            </a>
            <a
                class="carousel-control-next"
                href="#carouselExampleFade"
                role="button"
                data-slide="next"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
            </a>
        </div> -->
    </div>
    <!-- home banner slider ends -->

    <!-- <article>
        <div class="container">
            <aside>
                <h1>Dabba junction</h1>
                <p>
                    Home-style meals, cooked by experienced chefs, packed and
                    delivered to your doorstep.
                </p>
                <a href="#">Explore</a>
            </aside>
        </div>
    </article>

    <div class="banner-brand-logo">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-sm-4">
                    <figure>
                        <img src="assets/static/svg/cc.svg" alt="" />
                    </figure>
                </div>
            </div>
        </div>
    </div> -->
</section>
<!-- home banner ends here -->

<!-- what makes us diffrent -->
<section class="What_makes_us_different">
    <div class="container">
        <article>
            <h2>What makes us different?</h2>
            <div class="row">
                <!-- Flexible option  -->
                <div class="col-sm col-lg-4 col-sm-6 card_parent">
                    <!-- card -->
                    <a [routerLink]="['/app/portal/member/order']" class="card">
                        <img
                            src="assets/static/svg/flexible-option.svg"
                            class="card-img-top"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">FLEXIBLE OPTIONS</h5>
                            <p class="card-text">
                                Choose your date / location / meal choices /
                                portions
                            </p>
                        </div>
                    </a>
                    <!-- card ends -->
                </div>
                <!-- Flexible option ends -->

                <!-- Multiple choice -->
                <div class="col-sm col-lg-4 col-sm-6 card_parent">
                    <!-- card -->
                    <a [routerLink]="['view-offers']" class="card">
                        <img
                            src="assets/static/svg/multiple-choice.svg"
                            class="card-img-top"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">MULTIPLE CHOICES</h5>
                            <p class="card-text">
                                Rotating weekly menu specially curated to
                                satisfy diverse palates
                            </p>
                        </div>
                    </a>
                    <!-- card ends -->
                </div>
                <!-- Multiple choice ends -->

                <!-- ECONOMICAL PLANS -->
                <div class="col-sm col-lg-4 col-sm-6 card_parent">
                    <!-- card -->
                    <a [routerLink]="['view-offers']" class="card">
                        <img
                            src="assets/static/svg/wallet.svg"
                            class="card-img-top"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">Economical Plans</h5>
                            <p class="card-text">
                                Single / Daily / Flexi Meal Plans
                            </p>
                        </div>
                    </a>
                    <!-- card ends -->
                </div>
                <!-- ECONOMICAL PLANS ends -->
            </div>
        </article>
    </div>
</section>
<!-- what makes us diffrent -->

<!-- delivery time -->
<section class="delivery-time">
    <div class="container">
        <article>
            <h2>Delivery time</h2>

            <div class="row">
                <!-- order block -->
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <div class="block-icon">
                            <img src="assets/static/svg/lunch.svg" alt="" />
                        </div>
                        <div class="block-content">
                            <div class="block-content-heading">
                                <h5>LUNCH ORDER</h5>
                            </div>
                            <div class="block-content-para">
                                <span class="block-content-para__span--small"
                                    >Delivery between</span
                                >
                                <span class="block-content-para__span--big"
                                    >10:30 am - 2 pm</span
                                >
                            </div>
                            <div class="block-content-description">
                                <span class="block-content-description__span"
                                    >Order to be placed 1 day in advance, before
                                    5pm.</span
                                >
                                <span class="block-content-description__span"
                                    >Orders for the same day will not be
                                    accepted</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <!-- order block ends -->

                <!-- order block -->
                <div class="col-md-6 col-sm-12">
                    <div class="block dark">
                        <div class="block-icon">
                            <img
                                class="moon"
                                src="assets/static/svg/moon.svg"
                                alt=""
                            />
                        </div>
                        <div class="block-content">
                            <div class="block-content-heading">
                                <h5>Dinner ORDER</h5>
                            </div>
                            <div class="block-content-para">
                                <span class="block-content-para__span--small"
                                    >Delivery between</span
                                >
                                <span class="block-content-para__span--big"
                                    >5 pm to 8 pm</span
                                >
                            </div>
                            <div class="block-content-description">
                                <span class="block-content-description__span"
                                    >Order to be placed 1 day in advance, before
                                    5pm.</span
                                >
                                <span class="block-content-description__span"
                                    >Orders for the same day will not be
                                    accepted</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <!-- order block ends -->
            </div>

            <div class="order-btn">
                <a class="btn" [routerLink]="['/app/portal/member/order']"
                    >PLACE YOUR ORDER</a
                >
            </div>
        </article>
    </div>
</section>
<!-- delivery time ends -->

<!-- home faq -->
<section class="home-faq">
    <div class="container">
        <article>
            <h2>Common questions</h2>

            <!-- faq Accordion -->
            <div class="faq-accordion-container">
                <app-collapse-questions
                    [questions]="questions"
                ></app-collapse-questions>
            </div>
            <!-- faq Accordion ends -->

            <div class="link-block">
                <span>Have other questions?</span>
                <a [routerLink]="['faq']">VISIT FAQ</a>
            </div>
        </article>
    </div>
</section>
<!-- home faq end -->

<!-- home contact -->
<section class="home-contact">
    <div class="container">
        <article>
            <h2>Contact us</h2>
            <p>
                Drop us a message via WhatsApp or Email should you have any
                enquiries!
            </p>

            <div class="contact-block-container">
                <!-- contact block -->
                <div class="contact-block">
                    <img src="assets/static/svg/whatsapp_yellow.svg" alt="" />
                    <a href="https://wa.me/+6583078679">+65 83078679</a>
                </div>
                <!-- contact block ends -->

                <!-- contact block -->
                <div class="contact-block">
                    <img src="assets/static/svg/mail-icon.svg" alt="" />
                    <a href="mailto:sales@dabbajunction.com"
                        >sales@dabbajunction.com</a
                    >
                </div>
                <!-- contact block ends -->
            </div>
        </article>
    </div>
</section>
<!-- home contact ends -->
