@media (min-width: 1025px) {
    .member-schedule {
        margin-top: -50px;
    }
}

::ng-deep .menu-content {
    @media (max-width: 768px) {
        .menu-content__left {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .order-btn {
                display: inline !important;
            }
        }
    }
}

@import "../../../../assets/style/color";
.paging-number {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #212b36;
    background: #ffffff;
    border: 1px solid #dfe3e8;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0px 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current {
    cursor: default;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid $color-paging;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-paging;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
}

.custom-pagination {
    margin: 33px 0px 35px 0px;
}

.prevent-click {
    background: #dbdbdb;
    opacity: 0.5;
    color: #231F20;
}