<div class="d-flex justify-content-center">
    <div class="custom-pagination d-flex align-items-center flex-row">
        <div class="pagination-previous" (click)="prevPage()">
            <a class="paging-number" [class.prevent-click]="idPage == 0">&lt;</a>
        </div>
        <span class="paging-number" *ngIf="startPage * totalPageDisplay > 0" (click)="prevGroupPage()">...</span
      >
      <div *ngFor="let page of totalPageList; let i = index">
        <div
          class="paging-number"
          [class.current]="startPage + i == idPage"
          (click)="pageChange(startPage + i)"
          *ngIf="this.totalPage.length > startPage + i"
        >
          <a>
            <span>{{ startPage + 1 + i }}</span>
        </a>
    </div>
</div>
<span class="paging-number" *ngIf="endPage < this.totalPage.length" (click)="nextGroupPage()">...</span>
<div class="pagination-next" (click)="nextPage()">
    <a class="paging-number" [class.prevent-click]="this.idPage == this.totalPage.length - 1">&gt;</a>
</div>