<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ItemHourlySales' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{ l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="onShowFilter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Search')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>

                            <div class="d-flex flex-row align-items-center">
                                <button type="button" class="btn btn-primary" (click)="refresh()">Refresh</button>
                                <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
                                <div class="btn-group ml-1" dropdown>
                                    <button
                                        class="btn btn-success btn-export dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-expanded="false"
                                        [disabled]="disableExport"
                                        dropdownToggle
                                    >
                                        {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>{{ l('Category') }}</th>
                                        <th>{{ l('MenuItem') }}</th>
                                        <th>{{ l('Portion') }}</th>
                                        <th>{{ l('Hours') }}</th>
                                        <th>{{ l('Quantity') }}</th>
                                        <th>{{ l('Price') }}</th>
                                        <th>{{ l('Amount') }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>{{ record.categoryName }}</td>
                                        <td>{{ record.menuItemName }}</td>
                                        <td>{{ record.menuItemPortionName }}</td>
                                        <td>{{ record.hour }}</td>
                                        <td>{{ record.quantity | number }}</td>
                                        <td>{{ record.price | number: '1.2' }}</td>
                                        <td>{{ record.total | number: '1.2' }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="8">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>{{ l('Total') }}: {{ getSumQuantity | number }}</td>
                                        <td></td>
                                        <td>{{ l('Total') }}: {{ getSumTotal | number: '1.2' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getOrders($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <div class="hourly-filter">
        <form class="form" autocomplete="off">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="mr-4">{{ l('Filter Options') }}</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label font-weight-bolder">{{ l('Date Range') }}</label>
                    <div class="input-group date">
                        <input
                            type="text"
                            placeholder="Choose dates"
                            class="form-control"
                            bsDaterangepicker
                            [(ngModel)]="dateRangeModel"
                            name="date"
                            #dp1="bsDaterangepicker"
                            [placement]="'left'"
                            [bsConfig]="{
                                isAnimated: true,
                                rangeInputFormat: 'YYYY-MM-DD',
                                dateInputFormat: 'YYYY-MM-DD',
                                showWeekNumbers: false,
                                containerClass: 'custom-filter-datepicker theme-default'
                            }"
                        />

                        <div class="input-group-append">
                            <span class="input-group-text" (click)="dp1.toggle()">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label font-weight-bolder">{{ l('SelectMenuItem') }}</label>
                    <div>
                        <button type="button" class="btn btn-primary text-uppercase" (click)="openforMenuItem()">
                            {{ l('MenuItem') }}
                            <span *ngIf="selectedMenuItems.length"> - {{ selectedMenuItems.length }} items</span>
                        </button>
                        <button *ngIf="selectedMenuItems.length" class="btn btn-danger" (click)="clearSelectedItem()">
                            {{ l('Clear') }}
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ l('Terminal') }}</label>
                    <input type="text" class="form-control" [(ngModel)]="requestParams.terminalName" name="terminalName" />
                </div>
                <div class="form-group">
                    <label class="control-label">{{ l('User') }}</label>
                    <input type="text" class="form-control" [(ngModel)]="requestParams.lastModifiedUserName" name="lastModifiedUserName" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
                <div style="flex: auto"></div>
                <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
                <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
            </div>
        </form>
    </div>
</p-sidebar>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

<select-popup
    #selectMenuItemPopupModal
    [headers]="['Id', 'Name']"
    [dataBinding]="['id', 'name']"
    [loadData]="getMenuItemSelection()"
    (changeValue)="addMenuItems($event)"
    selectionMode="multiple"
    [selectedValue]="selectedMenuItems"
    [title]="l('SelectMenuItems')"
></select-popup>
