<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Brand' | localize" [description]="'BrandHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getLocationList()">
                    {{l("Deleted")}}
                    <span></span>
                </label>
                <button (click)="showImport()" class="btn btn-import"><i class="fa fa-upload"></i>
                    {{l("Import")}}</button>
                <button class="btn btn-success" (click)="exportToExcel()">
                    {{l("ExportToExcel")}}
                </button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Location.Locations.Create')"
                    (click)="craeteOrUpdateLocation(null)" class="btn btn-primary">
                    {{l("Create Brand")}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <!-- <span class="input-group-btn">
                                                <button (click)="getCategoryList()" class="btn btn-primary"
                                                    type="submit">
                                                    <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                                </button>
                                            </span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-end align-items-center mb-5">
                            <button (click)="getLocationList()" type="submit" class="btn btn-primary">{{"Search" | localize}}</button>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #locationTable (onLazyLoad)="getLocationList($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" styleClass="mystyle"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px">
                                            <span class="mr-5">
                                                {{l('Actions') | uppercase}}
                                            </span>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="id">
                                            {{l('Id') | uppercase }}
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="organizationID">
                                            {{l('Brand' | uppercase )}}
                                            <p-sortIcon field="organizationId"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="code">
                                            {{l('Code') | uppercase }}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name') | uppercase }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Address1">
                                            {{l('Address') | uppercase }}
                                            <p-sortIcon field="Address1"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="City">
                                            {{l('City') | uppercase }}
                                            <p-sortIcon field="City"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="phoneNumber">
                                            {{l('PhoneNumber') | uppercase }}
                                            <p-sortIcon field="phoneNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" pSortableColumn="creationTime">
                                            {{l('CreationTime') | uppercase }}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Location.Locations.Edit', 'Pages.Tenant.Connect.Location.Locations.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body"
                                                style="margin-right: 8px;">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                    <span class="mr-5">{{"Actions" | localize}}</span>
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Location.Locations.Edit')"
                                                            class="dropdown-item"
                                                            (click)="craeteOrUpdateLocation(record)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Location.Locations.Delete')"
                                                            class="dropdown-item"
                                                            (click)=" deleteLocation(record)">{{l('Delete')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isDeleted && permission.isGranted('Pages.Tenant.Connect.Location.Locations.Edit')"
                                                            (click)="activateItem(record)">{{ l('Revert') }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:100px">{{record.id}}</td>
                                        <td style="width:150px">{{record.organizationName}}</td>
                                        <td style="width:150px">{{record.code}}</td>
                                        <td style="width:150px">{{record.name}}</td>
                                        <td style="width:150px">{{record.address1}}</td>
                                        <td style="width:150px">{{record.cityName}}</td>
                                        <td style="width:150px">{{record.phoneNumber}}</td>
                                        <td style="width:180px">{{record.creationTime | momentFormat:
                                            DATE_FORMAT.yyyyMMdd_hhmmss}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #locationPaginator
                                    (onPageChange)="getLocationList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" class="paging">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<import-modal #importModal (modalSave)="onModalSave()"></import-modal>
