<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header *ngIf="!locationEditDto.id" [title]="l('Create Brand')"> </sub-header>
        <sub-header *ngIf="locationEditDto.id" [title]="l('Edit') + ': ' + locationEditDto.name"> </sub-header>
        <div *ngIf="locationEditDto" [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #locationForm="ngForm" novalidate class="form" (ngSubmit)="save()">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{ l('BasicInformation') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="required-field font-weight-bolder" for="code">{{ l('Code')
                                                }}</label>
                                            <input id="code" type="code" name="code" class="w-100" inputClass="w-100"
                                                [(ngModel)]="locationEditDto.code" #locationCode="ngModel"
                                                class="form-control" required placeholder="Code"/>
                                            <validation-messages [formCtrl]="locationCode"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="required-field font-weight-bolder" for="name">{{ l('Name')
                                                }}</label>
                                            <input id="name" type="text" name="name" class="form-control"
                                                [(ngModel)]="locationEditDto.name" #locationName="ngModel" required placeholder="Name"/>
                                            <validation-messages [formCtrl]="locationName"></validation-messages>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="required-field font-weight-bolder" for="organizationId">{{ l('Company') }} &#160;</label>
                                            <select
                                                id="organizationId"
                                                class="form-control"
                                                [(ngModel)]="locationEditDto.organizationId"
                                                name="organizationId"
                                                #organizationId="ngModel"
                                                required
                                            >
                                                <option [ngValue]="undefined" disabled>
                                                    {{ 'Select Company' | localize }}
                                                </option>
                                                <option *ngFor="let company of companyListDropDown" [value]="company.value">
                                                    {{ company.label }}
                                                </option>
                                            </select>
                                            <validation-messages [formCtrl]="organizationId"></validation-messages>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Address') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address1">{{ l('Address Line 1') }}</label>
                                            <input id="address1" type="text" name="address1" class="form-control"
                                                [(ngModel)]="locationEditDto.address1" placeholder="Address Line 1"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address2">{{ l('Address Line 2') }}</label>
                                            <input id="address2" type="text" name="address2" class="form-control"
                                                [(ngModel)]="locationEditDto.address2" placeholder="Address Line 2"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address3">{{ l('Address Line 3') }}</label>
                                            <input id="address3" type="address3" name="address3" class="form-control"
                                                [(ngModel)]="locationEditDto.address3" placeholder="Address Line 3"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="country">{{ l('Country') }}</label>
                                            <select id="countryId" (change)="setCountry()" class="form-control"
                                                [(ngModel)]="locationEditDto.countryId" name="countryId"
                                                #countryId="ngModel">
                                                <option [ngValue]="undefined" disabled>
                                                    {{ 'Select_Country' | localize }}
                                                </option>
                                                <option *ngFor="let country of countryListDropDown"
                                                    [value]="country.value">
                                                    {{ country.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="state">{{ l('State') }}</label>
                                            <select id="stateId" class="form-control"
                                                [(ngModel)]="locationEditDto.stateId" name="stateId" #stateId="ngModel"
                                                (change)="setState()">
                                                <option [ngValue]="undefined" disabled>
                                                    {{ 'Select_State' | localize }}
                                                </option>
                                                <option *ngFor="let state of stateListDropDown" [value]="state.value">
                                                    {{ state.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cityId">{{ l('City') }}</label>
                                            <select id="cityId" class="form-control"
                                                [(ngModel)]="locationEditDto.cityId" name="cityId" #cityId="ngModel">
                                                <option [ngValue]="undefined" disabled>
                                                    {{ 'Select_City' | localize }}
                                                </option>
                                                <option *ngFor="let city of cityListDropDown" [value]="city.value">
                                                    {{ city.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="postalCode">{{ l('Postal Code') }}</label>
                                            <input id="postalCode" type="text" name="postalCode" class="form-control"
                                                [(ngModel)]="locationEditDto.postalCode" placeholder="Postal Code"/>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Contact') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phoneNumber">{{ l('Phone Number') }}</label>
                                            <input id="phoneNumber" type="text" name="phoneNumber" class="form-control"
                                                [(ngModel)]="locationEditDto.phoneNumber" placeholder="Phone Number"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fax">{{ l('Fax Number') }}</label>
                                            <input id="fax" type="text" name="fax" class="form-control"
                                                [(ngModel)]="locationEditDto.fax" placeholder="Fax Number"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">{{ l('Email') }}</label>
                                            <input #emailAddressInput="ngModel" id="email" type="email" name="email" class="form-control"
                                                [(ngModel)]="locationEditDto.email" email placeholder="Email"/>
                                            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="website">{{ l('Web Site') }}</label>
                                            <input id="website" type="code" name="website" class="form-control"
                                                [(ngModel)]="locationEditDto.website" placeholder="Web Site"/>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <div class="modal-footer">
                                <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                    (click)="close()">{{ l('Cancel') }}</button>
                                <button class="btn btn-primary blue" type="submit" [buttonBusy]="saving"
                                    [disabled]="!locationForm.form.valid" [busyText]="l('SavingWithThreeDot')">
                                    <span>{{ l('Save') }}</span>
                                </button>
                            </div>
                        </tabset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>