::ng-deep {
    .promo-code .has-danger .form-control-feedback {
        color: #fd397a;
        margin-top: 0.2rem;
        font-size: 0.85rem;
        text-align: left;
    }
}

.modal .modal-header .close span {
    display: block;
    font-size: 30px;
}

.promo-code {
    &__title {
        text-align: left;
        font-weight: 700;
        color: #343434;
    }

    &__body {
    }

    &__input {
        margin-right: 10px;
        height: 42px;
        padding: 5px 10px;
        border: 1px solid #bfbfbf;
        width: 100%;
        border-radius: 0;

        &:focus {
            box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        }
    }

    &__button {
        width: 96px;
        height: 42px;
        background-color: #fecc07;
        border-color: #fecc07;
        text-align: center;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 700;
        padding: unset;

        &:disabled {
            color: #fff;
            cursor: not-allowed;
            background-color: #bfbfbf;
            border-color: #bfbfbf;
        }

        &:hover {
            opacity: .9;
            background-color: #545454 !important;
            border-color: #545454 !important;
        }
    
        &:active {
            opacity: .9;
            background-color: #545454 !important;
            border-color: #545454 !important;
        }

        &:focus {
            opacity: .9;
            background-color: #545454 !important;
            border-color: #545454 !important;
        }
    }
}

.close {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background: url(assets/static/svg/dashboard/close.svg) no-repeat center center;
    background-size: cover;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -30px;
}

.modal-dialog::before {
    display: none;
}

.modal-content {
    margin-top: 50px;
}

.modal .modal-header .close {
    color: #ffffff;

    &:hover {
        color: #ffffff;
    }
}