$border-radius: 10px;
$button-size: 40px;

:host::ng-deep {
    .header-image {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    .p-card-body {
        position: relative;
        .p-card-title {
            margin: 0;
        }
        .p-card-content {
            padding: 0.5rem 0;
        }
        .p-card-footer {
            padding-top: 0.5rem;
        }
    }

    .circle-btn {
        //border-radius: 50%;
        width: $button-size;
        height: $button-size;
        background-color: var(--yellow-2);
        color: var(--black-1);
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translate(0, -50%);
        &:hover {
            background-color: var(--yellow-2);
        }
    }

    .description {
        margin-right: $button-size;
    }
}
