<p-card header="{{wheelDepartment.name}}"
[style]="{width: '100%', borderRadius: '20px'}" styleClass="p-card-shadow">

    <ng-template *ngIf="wheelDepartment.openingHour" pTemplate="footer">
        <strong>Opening Hours: {{wheelDepartment.openingHour}}</strong>
    </ng-template>
    <button (click)="goToMenuItem(wheelDepartment.id)" class="circle-btn border-none outline-none" pButton
        pRipple icon="pi pi-arrow-right"></button>
</p-card>
