<footer>
    <div class="container">
        <article>
            <!-- social media icons -->
            <ul class="social-icons">
                <li class="social-icons-item">
                    <a
                        href="https://www.facebook.com/dabbajunctionsg/"
                        class="social-icons-item__link"
                        target="_blank"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="29.265"
                            height="29.265"
                            viewBox="0 0 29.265 29.265"
                        >
                            <defs>
                                <style>
                                    .a {
                                        fill: #a9a9a9;
                                    }
                                </style>
                            </defs>
                            <path
                                class="a"
                                d="M14.581.35a14.69,14.69,0,0,0-2.443,29.167V18.11H8.612V14h3.529V10.981c0-3.506,2.136-5.434,5.255-5.434a29.069,29.069,0,0,1,3.152.161V9.382H18.384c-1.7,0-2.028.812-2.028,2V14H20.4l-.524,4.105H16.356V29.615A14.691,14.691,0,0,0,14.581.35Z"
                                transform="translate(0.061 -0.35)"
                            />
                        </svg>
                    </a>
                </li>
                <li class="social-icons-item">
                    <a
                        href="https://www.instagram.com/dabbajunctionsg/"
                        class="social-icons-item__link"
                        target="_blank"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="29.007"
                            height="29.007"
                            viewBox="0 0 29.007 29.007"
                        >
                            <defs>
                                <style>
                                    .a {
                                        fill: #a9a9a9;
                                    }
                                </style>
                            </defs>
                            <path
                                class="a"
                                d="M212.552,209.776A2.776,2.776,0,1,1,209.776,207,2.776,2.776,0,0,1,212.552,209.776Z"
                                transform="translate(-195.272 -195.272)"
                            />
                            <path
                                class="a"
                                d="M148.8,137.406a2.755,2.755,0,0,0-1.58-1.58,4.636,4.636,0,0,0-1.547-.287c-.878-.04-1.142-.049-3.365-.049s-2.487.008-3.365.048a4.534,4.534,0,0,0-1.547.287,2.758,2.758,0,0,0-1.581,1.58,4.65,4.65,0,0,0-.287,1.547c-.04.878-.049,1.142-.049,3.365s.009,2.487.049,3.366a4.548,4.548,0,0,0,.287,1.546,2.761,2.761,0,0,0,1.581,1.581,4.635,4.635,0,0,0,1.547.287c.878.04,1.141.049,3.365.049s2.487-.008,3.365-.049a4.609,4.609,0,0,0,1.547-.287,2.757,2.757,0,0,0,1.58-1.581,4.645,4.645,0,0,0,.287-1.546c.04-.879.048-1.142.048-3.366s-.009-2.487-.048-3.365A4.606,4.606,0,0,0,148.8,137.406Zm-6.492,9.188a4.276,4.276,0,1,1,4.276-4.276A4.276,4.276,0,0,1,142.308,146.594Zm4.446-7.723a1,1,0,1,1,1-1A1,1,0,0,1,146.754,138.871Z"
                                transform="translate(-127.804 -127.814)"
                            />
                            <path
                                class="a"
                                d="M14.5,0a14.5,14.5,0,1,0,14.5,14.5A14.505,14.505,0,0,0,14.5,0Zm8.278,17.937a6.114,6.114,0,0,1-.387,2.021A4.258,4.258,0,0,1,19.958,22.4a6.1,6.1,0,0,1-2.021.387c-.888.04-1.171.05-3.433.05s-2.545-.01-3.434-.05a6.116,6.116,0,0,1-2.021-.387,4.263,4.263,0,0,1-2.436-2.436,6.1,6.1,0,0,1-.387-2.021c-.04-.888-.05-1.172-.05-3.433s.01-2.545.05-3.434a6.118,6.118,0,0,1,.386-2.021A4.266,4.266,0,0,1,9.048,6.612a6.1,6.1,0,0,1,2.021-.387c.888-.04,1.172-.05,3.434-.05s2.545.01,3.434.05a6.132,6.132,0,0,1,2.021.386A4.262,4.262,0,0,1,22.4,9.048a6.1,6.1,0,0,1,.388,2.021c.041.888.049,1.172.049,3.434S22.822,17.049,22.781,17.937Z"
                            />
                        </svg>
                    </a>
                </li>
            </ul>
            <!-- social media icons -->

            <!-- links -->
            <ul class="links">
                <li class="links-item">
                    <a
                        [routerLink]="['/app/portal/member/terms-conditions']"
                        class="links-item__link"
                    >
                        Terms and Conditions
                    </a>
                </li>
                <li class="links-item">
                    <span class="links-item__span"> &nbsp;/&nbsp;</span>
                </li>
                <li class="links-item">
                    <a
                        [routerLink]="['/app/portal/member/privacy']"
                        class="links-item__link"
                    >
                        Privacy Policy
                    </a>
                </li>
            </ul>
            <!-- links ends -->
        </article>
    </div>
</footer>
<!-- <div class="kt-footer kt-grid__item" id="kt_footer">
    <div [class]="containerClass" *ngIf="useBottomDiv">
        <div class="kt-footer__bottom">
            <div class="kt-footer__copyright">
                DineConnect <span
                    *ngIf="appSession.tenant && appSession.tenant.edition && appSession.tenant.edition.displayName">
                    {{appSession.tenant.edition.displayName}}</span> | v{{appSession.application.version}}
                [{{releaseDate}}]
            </div>
            <div class="kt-footer__menu">
            </div>
        </div>
    </div>
    <div [class]="containerClass" *ngIf="!useBottomDiv">
        <div class="kt-footer__wrapper">
            <div class="kt-footer__copyright">
                DineConnect <span
                    *ngIf="appSession.tenant && appSession.tenant.edition && appSession.tenant.edition.displayName">
                    {{appSession.tenant.edition.displayName}}</span> | v{{appSession.application.version}}
                [{{releaseDate}}]
            </div>
            <div class="kt-footer__menu">
            </div>
        </div>
    </div>
</div> -->
