<nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="padding-top: 0; padding-bottom: 0;"
>
    <div class="container">
        <article>
            <!-- mobile menu -->
            <div class="d-flex flex-column mobile-menu" style="width: 100%;">
                <div
                    class="logo_ham_btn"
                    style="border-bottom: 1px solid #eeeeff;"
                >
                    <a
                        href="https://wa.me/+6583078679"
                        class="cta-whatsapp"
                        style="width: 95px;"
                    >
                        <img src="assets/static/svg/whatsapp.svg" alt="" />
                    </a>
                    <a class="navbar-brand" href="">
                        <img src="assets/static/svg/logo.svg" alt="" />
                    </a>
                    <div class="d-flex align-items-center" style="width: 95px;">
                        <div>
                            <a
                                [routerLink]="['portal/member/cart-items']"
                                routerLinkActive="active-link"
                                class="nav-link"
                            >
                                <span
                                    class="kt-header__topbar-icon kt-header__topbar-icon--brand span__topbar"
                                >
                                    <div [hidden]="cartProductsCount == 0">
                                        <i
                                            class="flaticon2-shopping-cart-1 unread-notification"
                                            style="font-size: 1.4rem;"
                                        ></i>
                                        <span
                                            class="kt-badge kt-badge--primary"
                                            style="position: absolute;"
                                        >
                                            {{ cartProductsCount }}
                                        </span>
                                    </div>
                                    <div [hidden]="cartProductsCount > 0">
                                        <i
                                            class="flaticon2-shopping-cart-1 unread-notification"
                                            style="font-size: 1.4rem;"
                                        >
                                        </i>
                                    </div>
                                </span>
                            </a>
                        </div>
                        <button
                            class="navbar-toggler"
                            [class.collapsed]="!collapse"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            (click)="collapse = !collapse"
                        >
                            <span class="navbar-toggler-icon"></span>
                            <span class="hamburger_btn">
                                <span></span>
                            </span>
                        </button>
                        <!-- <button
                            class="navbar-toggler"
                            (click)="showSub = !showSub"
                        >
                            <i class="flaticon-more"></i>
                        </button> -->
                    </div>
                </div>
                <div
                    class="logo_ham_btn justify-content-end flex-row"
                    [hidden]="!showSub"
                >
                    <ul class="navbar-nav flex-row align-items-center">
                        <li class="nav-item">
                            <a
                                class="btn yellow-btn order-btn"
                                ng-reflect-router-link="/app/portal/member/order"
                                href="/app/portal/member/order"
                                >Order</a
                            >
                        </li>
                        <li class="nav-item" style="margin-left: 5px;">
                            <div
                                class="btn-group kt-header__topbar-username kt-hidden-mobile"
                                dropdown
                            >
                                <img
                                    id="button-basic"
                                    dropdownToggle
                                    type="button"
                                    *ngIf="profilePicture"
                                    class="dropdown-toggle nav-link header-profile-picture m--img-rounded m--marginless m--img-centered"
                                    alt="Pic"
                                    [src]="profilePicture"
                                />

                                <ul
                                    id="dropdown-basic"
                                    *dropdownMenu
                                    class="dropdown-menu"
                                    role="menu"
                                    aria-labelledby="button-basic"
                                >
                                    <li role="menuitem">
                                        <div
                                            class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                                            [ngStyle]="{
                                                background:
                                                    'url(' +
                                                    appRootUrl() +
                                                    'assets/metronic/themes/' +
                                                    currentTheme.baseSettings
                                                        .theme +
                                                    '/images/bg/bg-1.jpg)',
                                                'background-size': 'cover'
                                            }"
                                        >
                                            <div class="kt-user-card__name">
                                                <span
                                                    *ngIf="
                                                        isMultiTenancyEnabled
                                                    "
                                                    class="tenancy-name"
                                                    >{{ userName }}</span
                                                >
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menuitem">
                                        <a
                                            class="dropdown-item"
                                            [routerLink]="[
                                                '/app/portal/member/balance'
                                            ]"
                                            routerLinkActive="active-link"
                                            >Balance</a
                                        >
                                    </li>
                                    <li role="menuitem">
                                        <a
                                            class="dropdown-item"
                                            [routerLink]="[
                                                '/app/portal/member/profile'
                                            ]"
                                            routerLinkActive="active-link"
                                            >Profile</a
                                        >
                                    </li>
                                    <li class="menuitem">
                                        <a
                                            class="dropdown-item"
                                            [routerLink]="[
                                                '/app/portal/member/order-history'
                                            ]"
                                            routerLinkActive="active-link"
                                            >Order History
                                        </a>
                                    </li>
                                    <li class="menuitem">
                                        <a
                                            class="dropdown-item"
                                            [routerLink]="[
                                                '/app/portal/member/payment-history'
                                            ]"
                                            routerLinkActive="active-link"
                                            >Payment History
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a
                                            href="javascript:void();"
                                            (click)="logout()"
                                            class="dropdown-item"
                                            ><i class="flaticon-logout"></i
                                            >&nbsp;{{ "Logout" | localize }}</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- mobile menu ends -->

            <!-- main menu -->
            <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent"
                [class.show]="collapse"
                (mouseleave)="mouseLeave()"
            >
                <div class="main_menu">
                    <ul class="navbar-nav main_menu-left">
                        <li class="nav-item active">
                            <a
                                class="nav-link"
                                [routerLink]="['/app/portal/member/schedule']"
                                routerLinkActive="active-link"
                                >Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/app/portal/member/buy-offer']"
                                routerLinkActive="active-link"
                                >Meal plans</a
                            >
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/app/portal/member/order']"
                                routerLinkActive="active-link"
                                >Order now</a
                            >
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/app/portal/member/balance']"
                                routerLinkActive="active-link"
                                >Balance</a
                            >
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/app/portal/member/profile']"
                                routerLinkActive="active-link"
                                >Profile</a
                            >
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="[
                                    '/app/portal/member/order-history'
                                ]"
                                routerLinkActive="active-link"
                                >Order History
                            </a>
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="[
                                    '/app/portal/member/payment-history'
                                ]"
                                routerLinkActive="active-link"
                                >Payment History
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/app/portal/member/feedback']"
                                routerLinkActive="active-link"
                                >Feedback
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/app/portal/member/contact']"
                                routerLinkActive="active-link"
                                >contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                [routerLink]="['/app/portal/member/faq']"
                                routerLinkActive="active-link"
                                >faq
                            </a>
                        </li>
                    </ul>
                    <a class="navbar-brand" href="">
                        <img src="assets/static/svg/logo.svg" alt="" />
                    </a>

                    <ul class="navbar-nav main_menu-right">
                        <!-- Destop menu start -->
                        <li class="nav-item lg-nav-item">
                            <a
                                [routerLink]="['portal/member/cart-items']"
                                class="nav-link mr-3"
                                routerLinkActive="active-link"
                            >
                                <span
                                    class="kt-header__topbar-icon kt-header__topbar-icon--brand span__topbar"
                                >
                                    <div [hidden]="cartProductsCount == 0">
                                        <i
                                            class="flaticon2-shopping-cart-1 unread-notification"
                                            style="font-size: 1.4rem;"
                                        ></i>
                                        <span
                                            class="kt-badge kt-badge--primary"
                                            style="position: absolute;"
                                        >
                                            {{ cartProductsCount }}
                                        </span>
                                    </div>
                                    <div [hidden]="cartProductsCount > 0">
                                        <i
                                            class="flaticon2-shopping-cart-1 unread-notification"
                                            style="font-size: 1.4rem;"
                                        >
                                        </i>
                                    </div>
                                </span>
                            </a>
                        </li>

                        <li class="nav-item lg-nav-item">
                            <a
                                class="yellow-btn"
                                [routerLink]="['/app/portal/member/order']"
                                routerLinkActive="active-link"
                                >Order now</a
                            >
                        </li>
                        <li class="nav-item lg-nav-item">
                            <div class="kt-header__topbar-user">
                                <div
                                    class="btn-group kt-header__topbar-username kt-hidden-mobile"
                                >
                                    <div class="contact-block ml-3">
                                        <img src="assets/static/svg/whatsapp_yellow.svg" alt="" (click)="openWhatsApp()"/>
                                    </div>
                                    <chat-toggle-button></chat-toggle-button>
                                    <div
                                        style="
                                            width: 200px;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-align: right;
                                            text-overflow: ellipsis;
                                        "
                                    >
                                        <span
                                            *ngIf="isMultiTenancyEnabled"
                                            class="tenancy-name"
                                            >{{ userName }}</span
                                        >
                                    </div>
                                    <img
                                        id="button-basic"
                                        type="button"
                                        *ngIf="profilePicture"
                                        class="dropdown-toggle nav-link header-profile-picture m--img-rounded m--marginless m--img-centered"
                                        alt="Pic"
                                        [src]="profilePicture"
                                    />
                                </div>
                            </div>
                        </li>
                        <li class="nav-item lg-nav-item">
                            <div
                                class="btn-group kt-header__topbar-username kt-hidden-mobile"
                                dropdown
                                dropdownToggle
                            >
                                <button
                                    class="navbar-toggler"
                                    type="button"
                                    aria-label="Toggle navigation"
                                >
                                    <span class="navbar-toggler-icon"></span>
                                    <span class="hamburger_btn">
                                        <span></span>
                                    </span>
                                </button>

                                <ul
                                    id="dropdown-basic"
                                    *dropdownMenu
                                    class="dropdown-menu"
                                    role="menu"
                                    aria-labelledby="button-basic"
                                >
                                    <li class="menuitem">
                                        <a
                                            class="dropdown-item"
                                            [routerLink]="[
                                                '/app/portal/member/balance'
                                            ]"
                                            routerLinkActive="active-link"
                                            >Balance</a
                                        >
                                    </li>
                                    <li role="menuitem">
                                        <a
                                            class="dropdown-item"
                                            [routerLink]="[
                                                '/app/portal/member/profile'
                                            ]"
                                            routerLinkActive="active-link"
                                            >Profile</a
                                        >
                                    </li>
                                    <li class="menuitem">
                                        <a
                                            class="dropdown-item"
                                            [routerLink]="[
                                                '/app/portal/member/order-history'
                                            ]"
                                            routerLinkActive="active-link"
                                            >Order History
                                        </a>
                                    </li>
                                    <li class="menuitem">
                                        <a
                                            class="dropdown-item"
                                            [routerLink]="[
                                                '/app/portal/member/payment-history'
                                            ]"
                                            routerLinkActive="active-link"
                                            >Payment History
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a
                                            href="javascript:void();"
                                            (click)="logout()"
                                            class="dropdown-item"
                                            ><i class="flaticon-logout"></i
                                            >&nbsp;{{ "Logout" | localize }}</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Destop menu end -->
                        <!-- Mobile menu start-->
                        <li class="nav-item mob-nav-item">
                            <a
                                href="javascript:void();"
                                (click)="logout()"
                                class="nav-link"
                                ><i class="flaticon-logout"></i>&nbsp;{{
                                    "Logout" | localize
                                }}</a
                            >
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a
                                href="https://wa.me/+6583078679"
                                class="mob-nav-icons"
                            >
                                <img
                                    src="assets/static/svg/whatsapp_normal_black.svg"
                                    alt=""
                                />
                            </a>
                            <a
                                href="https://www.facebook.com/dabbajunctionsg/"
                                target="_blank"
                                class="mob-nav-icons_"
                            >
                                <img
                                    src="assets/static/svg/facebook.svg"
                                    alt=""
                                />
                            </a>
                            <a
                                href="https://www.instagram.com/dabbajunctionsg/"
                                target="_blank"
                                class="mob-nav-icons"
                            >
                                <img
                                    src="assets/static/svg/instagram.svg"
                                    alt=""
                                />
                            </a>
                        </li>
                        <!-- Mobile menu end-->
                    </ul>
                </div>
            </div>
            <!-- main menu ends -->
        </article>
    </div>
</nav>
