.btn-group {
    flex-direction: column;
    align-items: center;
}
.btn-group ul {
    padding: 0px;
}
.btn-group a {
    color: #545454;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-group:not(.show) .dropdown-menu {
    display: none !important;
}

.btn-group.show .dropdown-menu {
    display: block !important;
    position: absolute;
    left: auto !important;
    right: 0 !important;
}

.btn-group img {
    max-height: 45px;
}
.navbar article .main_menu ul {
    width: auto;
}

.kt-user-card {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.kt-user-card__name {
    color: white;
}

.mobile-menu {
    display: none !important;
}

.lg-nav-item {
    display: flex !important;
}

.kt-header__topbar-username {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.kt-header__topbar-username:hover,
.kt-header__topbar-username:active {
    background: aliceblue;
}

.kt-header__topbar-username img {
    width: 45px;
}

.navbar article .main_menu .main_menu-left,
.navbar article .main_menu .main_menu-right {
    width: calc(50% - 75px);
}

@media (min-width: 992px) {
    .lg-nav-item .navbar-toggler {
        display: block;
        border: none;
    }
}

@media (max-width: 991px) {
    .dropdown-item {
        text-align: center;
    }
    .btn-group img {
        max-width: 35px;
    }

    .mobile-menu {
        display: flex !important;
    }

    .lg-nav-item {
        display: none !important;
    }

    .order-btn {
        padding: 4px 14px;
    }

    .navbar article .main_menu .main_menu-left,
    .navbar article .main_menu .main_menu-right {
        width: auto;
    }
}
