<div appBsModal #createModal="bs-modal" class="modal fade" role="dialog" aria-hidden="true"
    [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    {{l('CreateScreenMenuCategory')}}
                </h4>
            </div>

            <div class="modal-body">

                <!-- Form -->
                <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="saveCategory()">
                    <input type="submit" hidden />

                    <!-- Name -->
                    <div class="form-group col-md-12">
                        <label for="categoryInput.name">{{l("Name")}} *</label>
                        <input autoFocus #categoryInputName="ngModel" [(ngModel)]="categoryInput.name" type="text"
                            id="categoryInput.name" class="form-control" name="categoryInput.name" required placeholder="Name"/>
                        <validation-messages [formCtrl]="categoryInputName"></validation-messages>
                    </div>

                    <div class="w-100 modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="closeModal()">
                            {{l("Cancel")}}
                        </button>
    
                        <button type="button" class="btn btn-primary blue" [disabled]="!form.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="saveCategory()">
                            <i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span>
                        </button>
                    </div>

                </form>
                <!-- End Form -->
            </div>

        </div>
    </div>
</div>