<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!model.id ? l('Create Screen Category') : l('Edit Screen Category') + ': ' + model.name"></sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="card-body" novalidate autocomplete="off" (ngSubmit)="save()">
                    <input type="submit" hidden />
                    <div class="row">
                        <!-- Name -->
                        <div class="form-group col-md-6">
                            <label>{{ l('Name') }}</label>
                            <input autoFocus #name="ngModel" [(ngModel)]="model.name" class="form-control" name="name"
                                type="text" placeholder="Name"/>
                            <validation-messages [formCtrl]="name"></validation-messages>
                        </div>

                        <!-- CategoryColor -->
                        <div class="form-group col-md-6">
                            <label>{{ l('CategoryColor') }}</label>

                            <div class="input-group">
                                <input #mainButtonColorView="ngModel" [(ngModel)]="model.mainButtonColor"
                                    class="form-control" name="mainButtonColorView" type="color"
                                    style="max-width: 45px" />
                                <input #mainButtonColor="ngModel" [(ngModel)]="model.mainButtonColor"
                                    class="form-control" name="mainButtonColor" type="text" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="w-100">{{ l('SavedImage') }}</label>
                            <img class="image-preview" *ngIf="model.imagePath" [src]="model.imagePath" />
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <app-image-cropper-connect (ngModelChange)="addUploadFile($event)">
                                </app-image-cropper-connect>
                                <!-- <input id="imagePath" name="imagePath" type="file" class="mb-3" ng2FileSelect [uploader]="uploader" /> -->

                                <div class="primeng-datatable-container w-100">
                                    <p-table [value]="uploader.queue" [scrollable]="true" [paginator]="false"
                                        scrollHeight="300px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="175px">{{ l('Name') }}</th>
                                                <th width="70px">{{ l('Size') }}</th>
                                                <th width="100px">{{ l('Progress') }}</th>
                                                <th width="70px">{{ l('Status') }}</th>
                                                <th width="288px">{{ l('Actions') }}</th>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="body" let-item="$implicit">
                                            <tr>
                                                <td width="175px" class="align-baseline">
                                                    <strong>{{ item?.file?.name }}</strong>
                                                    <div *ngIf="uploader.options.isHTML5 && filePreviewPath">
                                                        <img class="image-preview" [src]="filePreviewPath"
                                                            style="width: 100%" />
                                                    </div>
                                                </td>

                                                <td width="70px" *ngIf="uploader.options.isHTML5" nowrap
                                                    class="text-center align-baseline">
                                                    {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                                                </td>

                                                <td width="100px" class="align-baseline">
                                                    <div class="progress" style="margin-bottom: 0">
                                                        <div class="progress-bar" role="progressbar"
                                                            [ngStyle]="{ width: item.progress + '%' }"></div>
                                                    </div>
                                                </td>

                                                <td width="70px" class="text-center align-baseline">
                                                    <span *ngIf="item.isSuccess" class="text-success"> <i
                                                            class="fa fa-check-circle"></i></span>
                                                    <span *ngIf="item.isCancel" class="text-warning"> <i
                                                            class="fa fa-times-circle"></i></span>
                                                    <span *ngIf="item.isError" class="text-danger"> <i
                                                            class="fa fa-exclamation-triangle"></i></span>
                                                </td>

                                                <td width="288px" nowrap class="align-baseline">
                                                    <button type="button" class="btn btn-success btn-sm"
                                                        (click)="item.upload()"
                                                        [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="fa fa-upload"></span> Upload
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-sm"
                                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                                        <span class="fa fa-times-circle"></span> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                        (click)="removeImage(item)">
                                                        <span class="fa fa-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row flex-row-reverse">
                        <div class="form-group col-md-4 copy-to-all">
                            <label for="model.copyToAll" class="checkbox">
                                <input id="model.copyToAll" type="checkbox" name="copyToAll" [(ngModel)]="model.copyToAll" />
                                {{ l('CopyToAll') }}
                                <span></span>
                            </label>
                        </div>
                    </div> -->
                    <!-- -------------------------------------------------- -->

                    <div class="modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{ l('Cancel') }}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="!isValid" [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>