<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="log.ticketNo">
                    <span>{{l("Ticket")}} : {{ log.ticketNo }}</span>
                </h4>
                <h4 class="modal-title" *ngIf="!log.ticketNo">
                    <span>{{l("Log")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tabset class="tab-container tabbable-line">
                    <tab heading="{{l('Log')}}">
                        <!-- <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
                    <ng-template pTemplate="marker" let-event>
                        <span class="custom-marker p-shadow-2" [style.backgroundColor]="bgColor">
                            <i [ngClass]="icon"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                        <p-card [header]="event.title" [subheader]="event.when">
                            <p class="eventTime">
                                {{event.content}}
                            </p>
                        </p-card>
                    </ng-template>
                </p-timeline> -->
                    </tab>
                    <tab heading="{{l('Description')}}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>{{ l('Name') }}</th>
                                            <th>{{ l('Description') }}</th>
                                        </tr>
                                        <tr *ngFor="let x of pairs">
                                            <td>
                                                <b>{{ x.name }}</b>
                                            </td>
                                            <td>
                                                {{x.value}}
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
