<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'EditCalendar' | localize">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="align-items-center">
                            <div class=" row mb-4">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-xl-3 pt-2">
                                            {{l('ChooseDates')}}
                                        </div>
                                        <div class="col-xl-9">
                                            <div class="form-group m-form__group">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Choose dates" class="form-control"
                                                        bsDaterangepicker [(ngModel)]="dateRange" name="date"
                                                        (ngModelChange)="getSchedule()"
                                                        [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <form #productSetForm="ngForm" novalidate autocomplete="off">
                                <p-table #dataTable (onLazyLoad)="getSchedule($event)" [value]="listSchedule"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 150px">
                                                {{l('Date')}}
                                            </th>
                                            <th style="width: 150px">
                                                {{l('Day')}}
                                            </th>
                                            <th style="width: 150px">
                                                {{l('CurrentProductSet')}}
                                            </th>
                                            <th style="width: 150px">
                                                {{l('ChangeProductSet')}}
                                            </th>
                                            <th style="width: 150px">
                                                {{l('ChooseProducts')}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                        <tr>
                                            <td style="width:150px">
                                                {{record.date | momentFormat:'YYYY-MM-DD'}}
                                            </td>
                                            <td style="width:150px">
                                                {{getDay(record.date) }}
                                            </td>
                                            <td style="width:150px">
                                                {{record.productSetName}}
                                            </td>

                                            <td style="width:150px">
                                                <button class="btn btn-primary blue"
                                                    (click)="showProductSetLookUpModal(record)">
                                                    {{l("Choose")}}</button>
                                            </td>

                                            <td style="width:150px">
                                                <button class="btn btn-primary blue"
                                                    (click)="showProductLookUpModal(record)">
                                                    {{l("Choose")}}</button>
                                            </td>
                                        </tr>

                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getSchedule($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-md-12">
                                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                            (click)="close()">{{l("Cancel")}}</button>
                                        <button type="button" class="btn btn-primary
                                    blue" (click)="saveAll()" [disabled]="!productSetForm.form.valid"
                                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i
                                                class="fa fa-save"></i>
                                            <span>{{l("Save")}}</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <commonLookupModal #productSetLookupModal (itemSelected)="productSetSelected($event)"></commonLookupModal>
    <app-multiselect-item-modal #multiSelectItemModal [productSetId]="productSetId"
        (menuItemSelected)="productSelected($event)"
        (menuItemSelectWhenEditSchedule)="menuItemSelectedWhenEditSchedule($event)">
    </app-multiselect-item-modal>
</div>