<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"ReportNotification" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 150px">
                                        {{l('ReportName')}}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="Completed">
                                        {{l('Completed')}}
                                        <p-sortIcon field="Completed"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="CreationTime">
                                        {{l('CreationTime')}}
                                        <p-sortIcon field="CreationTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 130px">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ReportName')}}</span>
                                        {{record.reportName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Completed')}}</span>
                                        <span>
                                            {{record.completed}}
                                        </span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CreationTime')}}</span>
                                        <span>
                                            {{ record.creationTime | date:'short' }}
                                        </span>
                                    </td>
                                    <th style="width: 130px">
                                        <button type="button" class="btn btn-outline-brand btn-elevate btn-icon"
                                            (click)="downloadReport(record.id)">
                                            <i class="la la-cloud-download"></i>
                                        </button>
                                    </th>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>