/* You can add global styles to this file, and also import other style files */
@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.no-margin {
    margin: 0 !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

.swal2-title {
    display: inline-block !important;
}

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

.swal2-icon.swal2-info::before,
.swal2-icon.swal2-warning::before,
.swal2-icon.swal2-success::before,
.swal2-icon.swal2-error::before {
    content: '';
}

@keyframes glowing {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.primeng-datatable-container .ui-table .ui-table-thead > tr > th > label.ui-column-title {
    width: calc(100% - 15px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.btn {
    text-transform: uppercase;
}

td .btn {
    text-transform: capitalize;
}

.root-initial-loader .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
}

.root-initial-loader i {
    position: absolute;
    color: rgb(91, 167, 234);
    z-index: 100000 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.root-initial-loader .fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}
ngx-spinner .loading-text {
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}

.tagify {
    border-radius: 0.42rem !important;
    border-color: #e4e6ef !important;
    padding: 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: auto !important;
}

.tags-input__tag {
    display: inline-block !important;
    margin-bottom: 2px !important;
    margin-right: 5px !important;
    padding-right: 0.3em !important;
    border-radius: 0.42rem !important;
    padding: 0.5em 0.75em !important;
    font-size: 85% !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    height: auto !important;
    width: auto !important;
}

tab:focus {
    outline: none !important;
}

.ng-select .ng-select-container {
    border: 1px solid #e5eaee;
}

.ui-dropdown .ui-dropdown-label {
    padding: 6px !important;
    padding-right: 0 !important;
}

.ui-chips .ui-chips-token {
}

.app-ng2-tag-input tag {
    background: #187de4 !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 0.25rem !important;
    width: auto !important;
    height: auto !important;

    padding: 0.5rem 0.75rem !important;
    padding-right: 1rem !important;

    font-size: 0.85rem !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;

    position: relative;
}

.app-ng2-tag-input tag .tags-input__tag-remove-btn {
    position: absolute;
    top: 1px;
    right: 2px;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
    filter: alpha(opacity=20);
}

.w-100.ui-dropdown .ui-placeholder {
    opacity: 0.7;
}

.w-100.ui-dropdown .ui-dropdown-label {
    font-size: 13px;
    padding: 9px !important;
}

.w-100.ui-dropdown {
    border-color: #e5eaee;
    height: calc(1.5em + 1.3rem + 2px);
    border-radius: 4px;
}

.w-100 .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    font-size: 13px;
}

.w-100 .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container {
    width: calc(100% - 25px);
}

.w-100 .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-close {
    display: none;
}

.w-100.ui-multiselect .ui-placeholder {
    opacity: 0.7;
}

.w-100.ui-multiselect .ui-multiselect-label-container {
    width: 100%;
}

.w-100.ui-multiselect .ui-multiselect-label {
    width: 90%;
    font-size: 13px;
    padding: 9px !important;
}

.w-100 .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item {
    font-size: 13px;
}

.w-100 .ui-multiselect {
    border-color: #e5eaee;
    height: calc(1.5em + 1.3rem + 2px);
    border-radius: 4px;
}

/* Dashboard Stats 2 */

.dashboard-stat2 {
    border-radius: 2px;
    background: #fff;
    padding: 15px 15px 30px 15px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
}
.dashboard-stat2.bordered {
    border: 1px solid #e7ecf1;
}
.dashboard-stat2 .display {
    margin-bottom: 5px;
}
.dashboard-stat2 .display:before,
.dashboard-stat2 .display:after {
    content: ' ';
    display: table;
}
.dashboard-stat2 .display:after {
    clear: both;
}
.dashboard-stat2 .display .number {
    float: left;
    display: inline-block;
}
.dashboard-stat2 .display .number h3 {
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}
.dashboard-stat2 .display .number h3 > small {
    font-size: 23px;
}
.dashboard-stat2 .display .number small {
    font-size: 14px;
    color: #aab5bc;
    font-weight: 600;
    text-transform: uppercase;
}
.dashboard-stat2 .display .icon {
    display: inline-block;
    float: right;
    padding: 7px 0 0 0;
}
.dashboard-stat2 .display .icon > i {
    color: #cbd4e0;
    font-size: 26px;
}
.dashboard-stat2 .progress-info {
    clear: both;
}
.dashboard-stat2 .progress-info .progress {
    margin: 0;
    height: 4px;
    clear: both;
    display: block;
}
.dashboard-stat2 .progress-info .status {
    margin-top: 5px;
    font-size: 11px;
    color: #aab5bc;
    font-weight: 600;
    text-transform: uppercase;
}
.dashboard-stat2 .progress-info .status .status-title {
    float: left;
    display: inline-block;
}
.dashboard-stat2 .progress-info .status .status-number {
    float: right;
    display: inline-block;
}

query-builder  {
    padding: 10px;
    padding-bottom: 6px;
    border: 1px solid #dcc896;
}

query-builder .q-connector.q-transition.border.alert.alert-danger {
    color: #802932 !important;
    background-color: #fddcdf !important;
    border-color: #fccdd2 !important;
}

.bs-datepicker.custom-datepicker .bs-datepicker-container.ng-trigger-datepickerAnimation {
    display: none;
}

.bs-datepicker.custom-datepicker .bs-datepicker-container.ng-trigger-datepickerAnimation.show {
    display: block;
    background: #eeeeee;
}

.bs-datepicker.custom-datepicker .bs-datepicker-head button {
    color: #54708b;
}

.portlet-fullscreen{
    z-index: 9999999999999999999999;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
.theme-default .bs-datepicker-body table td.selected span, .theme-default .bs-datepicker-body table td[class*=select-] span:after, .theme-default .bs-datepicker-body table td span.selected, .theme-default .bs-datepicker-body table td span[class*=select-]:after{
    background-color: #5867dd;
}
.bs-datepicker-body table td span.selected{
    background-color: #5867dd;
}
.margin-right-16  {
    margin-right: 16px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.search-text-box {
    position: relative
}

.search-text-input {
    width: 300px !important;
    max-width: 300px;
    padding-left: 40px !important;
    background: #F5F8FA !important;
    border: unset !important;
}

.search-text-icon {
    position: absolute;
    top: 8px;
    left: 10px;
}

.btn.btn-filter {
    background: #F1FAFF !important;
    color: #009EF7 !important;
    text-transform: capitalize;
    font-weight: 500;
    border: unset;
}

.btn.btn-filter i {
     color: #009EF7 !important;
}

.btn.btn-filter:hover {
    background: #cdecfd !important;
}

.btn-export {
    background: #0BB783 !important;;
    text-transform: capitalize;
}

.filter-options .ui-sidebar-right {
    width: 25em;
}

.filter-options .form-group label {
    font-weight: 600;
}

.filter-options .modal-body {
    height: calc(100% - 70px - 70px);
    overflow: auto;
}

.filter-options .filter-action {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #c8c8c8;
}

.custom-filter-datepicker  {
    transform: translate(0, 45%);
}

.custom-datepicker.custom-filter-datepicker.theme-default button {
    color: #ffffff !important;
}

bs-dropdown-container {
    z-index: 1052 !important;
}

