.modal-dialog.modal-xl {
    max-width: 90vw !important;

    .modal-content {
        max-width: 90vw !important;
    }
}

.balance {
    padding: 5px;
    color: #fff;
    font-size: 20px;
    width: fit-content;
}

.card-info {
    font-size: 16px;
}

::ng-deep{
    .ui-dropdown-panel {
        background-color: #fff;
    }
}