.portlet.light {
    padding: 12px 20px 15px 20px;
    background-color: #fff;
}

.portlet.portlet-fullscreen {
    z-index: 10060;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    width: 100vw;
    height: 100vh;
}

.portlet.portlet-fullscreen .highcharts-container {
    margin: auto;
}

.portlet.portlet-fullscreen>.portlet-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
}

.portlet.portlet-fullscreen>.portlet-title {
    padding: 0 10px;
}

.portlet {
    box-shadow: 0px 2px 3px 2px rgb(0 0 0 / 3%);
}

.portlet {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    border-radius: 2px;
}

.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 10px 0;
}

.portlet>.portlet-title>.caption {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}

.portlet.light .portlet-body {
    padding-top: 8px;
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen {
    font-family: FontAwesome;
    color: #a0a0a0;
    padding-top: 4px;
}

.portlet.light>.portlet-title>.actions .btn-icon-only {
    height: 27px;
    width: 27px;
}

.portlet>.portlet-title>.actions .btn-icon-only.btn-default {
    padding: 4px 6px 2px 6px;
}

::ng-deep .ui-treetable .ui-treetable-tfoot>tr>th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    border-top: none;
}
