<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ItemSales' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row" *ngIf="!requestParams.noSales">
                            <div class="col-md-6 col-sm-12">
                                <!-- BEGIN PORTLET-->
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart font-green-haze hide"></i>
                                            <span class="caption-subject font-green-haze bold uppercase">{{
                                                l('TopItemSalesByQuantity')
                                                }}</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <p-chart type="pie" [data]="topQtyData"></p-chart>
                                    </div>
                                </div>
                                <!-- END PORTLET-->
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- BEGIN PORTLET-->
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart font-green-haze hide"></i>
                                            <span class="caption-subject font-green-haze bold uppercase">{{
                                                l('TopItemSalesByValue')
                                                }}</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <p-chart type="pie" [data]="topValueData"></p-chart>
                                    </div>
                                </div>
                                <!-- END PORTLET-->
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="input-group date">
                                    <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                        #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date"
                                        #dp1="bsDaterangepicker" [bsConfig]="{
                                            isAnimated: true,
                                            rangeInputFormat: 'YYYY-MM-DD',
                                            dateInputFormat: 'YYYY-MM-DD',
                                            showWeekNumbers: false
                                        }" />

                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{ l('SelectMenuItem') }}</label>
                                    <div>
                                        <button type="button" class="btn btn-primary text-uppercase"
                                            (click)="openforMenuItem()">
                                            {{ l('MenuItem') }}
                                            <span *ngIf="selectedMenuItems.length"> - {{ selectedMenuItems.length }}
                                                items</span>
                                        </button>
                                        <button *ngIf="selectedMenuItems.length" class="btn btn-default"
                                            (click)="resetSelectedItem()">
                                            {{ l('Clear') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <div class="checkbox-list">
                                        <label for="Void" class="checkbox">
                                            <input id="Void" type="checkbox" name="Void"
                                                [(ngModel)]="requestParams.voidParam" />
                                            {{ l('Void') }}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <div class="checkbox-list">
                                        <label for="Gift" class="checkbox">
                                            <input id="Gift" type="checkbox" name="Gift"
                                                [(ngModel)]="requestParams.gift" />
                                            {{ l('Gift') }}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <div class="checkbox-list">
                                        <label for="Comp" class="checkbox">
                                            <input id="Comp" type="checkbox" name="Comp"
                                                [(ngModel)]="requestParams.comp" />
                                            {{ l('Comp') }}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <div class="checkbox-list">
                                        <label for="NoSales" class="checkbox">
                                            <input id="NoSales" type="checkbox" name="NoSales"
                                                [(ngModel)]="requestParams.noSales" />
                                            {{ l('NoSales') }}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <label class="control-label">{{ l('Department') }}</label>
                                    <div class="w-100">
                                        <p-multiSelect defaultLabel="" [filter]="true" styleClass="w-100"
                                            name="departmentId" [options]="departments" [dataKey]="'value'"
                                            [(ngModel)]="selectedDepartments" optionLabel="displayText">
                                        </p-multiSelect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Tags"> {{ l('Tags') }} </label>
                                    <input class="form-control" id="Tags" name="Tags" #TagsInput="ngModel"
                                        [(ngModel)]="ticketTags" placeholder="Tags" />
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{ l('Terminal') }}</label>
                                    <input type="text" class="form-control" [(ngModel)]="requestParams.terminalName"
                                        name="terminalName" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{ l('User') }}</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="requestParams.lastModifiedUserName" name="lastModifiedUserName" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label class="control-label">{{ l('TypeCode') }}</label>
                                    <div class="w-100">
                                        <p-multiSelect defaultLabel="" [filter]="true" styleClass="w-100" id="TypeCode"
                                            name="TypeCode" [options]="productGroups" [dataKey]="'value'"
                                            [(ngModel)]="selectedProductGroups" optionLabel="displayText">
                                        </p-multiSelect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{ l('SelectCategory') }}</label>
                                    <div>
                                        <button type="button" class="btn btn-primary text-uppercase"
                                            (click)="selectCategory()">
                                            {{ l('Category') }}
                                            <span *ngIf="selectedCategory.length"> - {{ selectedCategory.length }}
                                                items</span>
                                        </button>
                                        <button *ngIf="selectedCategory.length" class="btn btn-default"
                                            (click)="resetSelectedItem()">
                                            {{ l('Clear') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-10">
                                <span class="clickable-item text-muted mt-3" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{ l('ShowAdvancedFilters') }}</span>
                                <span class="clickable-item text-muted mt-3" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{ l('HideAdvancedFilters') }}</span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">




                                <button type="button" class="btn btn-primary ml-1" (click)="exportPrice()"
                                    [buttonBusy]="isPriceExporting" [busyText]="l('Exporting')">
                                    <i class="fa fa-envelope-open-text"></i>
                                    {{ l('Price') }}
                                </button>
                                <button type="button" class="btn btn-primary ml-1" (click)="exportPortion()"
                                    [buttonBusy]="isPortionExporting" [busyText]="l('Exporting')">
                                    <i class="fa fa-envelope-open-text"></i>
                                    {{ l('Portion') }}
                                </button>

                                <button type="button" class="btn btn-primary ml-1" (click)="exportItem()"
                                    [buttonBusy]="isItemExporting" [busyText]="l('Exporting')">
                                    <i class="fa fa-envelope-open-text"></i>
                                    {{ l('ItemSales') }}
                                </button>
                                <button type="button" class="btn btn-primary ml-1" (click)="exportItemCombo()"
                                    [buttonBusy]="isItemComboExporting" [busyText]="l('Exporting')">
                                    <i class="fa fa-envelope-open-text"></i>
                                    {{ l('ItemCombo') }}
                                </button>
                                <button type="button" class="btn btn-danger ml-1" (click)="exportModalShow()">
                                    <i class="fa fa-envelope-open-text"></i> {{ l('Export') }}
                                </button>

                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary ml-1" (click)="clear()">
                                    <i class="la la-crop"></i> {{ l('Clear') }}
                                </button>
                                <button type="button" class="btn btn-primary ml-1" (click)="getOrders()">
                                    <i class="la la-check-circle-o"></i> {{ l('Refresh') }}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-treeTable #dataTable [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage" [paginator]="false" [lazy]="true"
                                [scrollable]="true" ScrollWidth="100%" scrollHeight="300px" [style]="{ width: '100%' }"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>{{ l('Location') }}</th>
                                        <th>{{ l('TypeCode') }}</th>
                                        <th>{{ l('Category') }}</th>
                                        <th>{{ l('MenuItem') }}</th>
                                        <th>{{ l('Portion') }}</th>
                                        <th style="width: 130px">{{ l('AvgPrice') }}</th>
                                        <th style="width: 130px">{{ l('Quantity') }}</th>
                                        <th style="width: 130px">{{ l('Total') }}</th>
                                        <th style="width: 120px">{{ l('%Qty(All)') }}</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-rowNode let-record="rowData">
                                    <tr [ttRow]="rowNode" [ngClass]="{ 'font-weight-bolder': isNode(rowNode) }">
                                        <td>
                                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                            <span>{{ record.locationName }}</span>
                                        </td>
                                        <td>{{ record.groupName }}</td>
                                        <td>{{ record.categoryName }}</td>
                                        <td>{{ record.menuItemName }}</td>
                                        <td>{{ record.menuItemPortionName }}</td>
                                        <td style="text-align: right; width: 130px">
                                            <span *ngIf="!isNode(rowNode)">{{ record.price | number: '1.2-2' }}</span>
                                        </td>
                                        <td style="text-align: right; width: 130px">{{ record.quantity }}</td>
                                        <td style="text-align: right; width: 130px">
                                            {{ record.totalAmount || record.total | number: '1.2-2' }}
                                        </td>
                                        <td style="text-align: right; width: 120px">
                                            {{ (record.quantity * 100) / totalQuantity | number: '1.2-2' }}%
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ l('NoData') }}
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.records?.length">
                                        <th>{{ l('Total') }}</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th style="width: 130px"></th>
                                        <th style="text-align: right; width: 130px">{{ totalQuantity }}</th>
                                        <th style="text-align: right; width: 130px">{{ totalAmount | number: '1.2-2' }}
                                        </th>
                                        <th style="text-align: right; width: 120px">100%</th>
                                    </tr>
                                </ng-template>
                            </p-treeTable>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getOrders($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-item-report-export-modal #exportModal></app-item-report-export-modal>
<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
<select-popup #selectCategoryPopupModal [headers]="['Id', 'Name']" [dataBinding]="['id', 'name']"
    [loadData]="getCategorySelection()" (changeValue)="addCategory($event)" selectionMode="multiple"
    [selectedValue]="selectedCategory" [title]="l('SelectCategory')"></select-popup>
<select-popup #selectMenuItemPopupModal [headers]="['Id', 'Name']" [dataBinding]="['id', 'name']"
    [loadData]="getMenuItemSelection()" (changeValue)="addMenuItems($event)" selectionMode="multiple"
    [selectedValue]="selectedMenuItems" [title]="l('SelectMenuItems')"></select-popup>
