<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Tender' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <label class="control-label">{{l("Time")}}</label>
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <label class=""> {{ l('Select Payment') }} </label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-primary"
                                            (click)="showLookupModal('Payment')">
                                            <span>Payment</span>
                                            <span *ngIf="paymentTypes.length">- {{paymentTypes.length}} Items</span>
                                        </button>
                                        <button *ngIf="paymentTypes.length" type="button"
                                            class="btn btn-outline-secondary" (click)="clearLookup('Payment')">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                              </div>
                        </div>                  
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getOrders()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="tenderName">
                                            {{ l('PaymentName') }}
                                            <p-sortIcon field="tenderName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="dateTime">
                                            {{ l('Datetime') }}
                                            <p-sortIcon field="dateTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="invoiceNo">
                                            {{ l('InvoiceNo') }}
                                            <p-sortIcon field="invoiceNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="table">
                                            {{ l('Table') }}
                                            <p-sortIcon field="table"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="employee">
                                            {{ l('Employee') }}
                                            <p-sortIcon field="employee"></p-sortIcon>
                                        </th> 
                                        <th pSortableColumn="cardNumber">
                                            {{ l('CardNumber') }}
                                            <p-sortIcon field="cardNumber"></p-sortIcon>
                                        </th>                     
                                        
                                        <th pSortableColumn="referenceNo">
                                            {{ l('ReferenceNo') }}
                                            <p-sortIcon field="referenceNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="subTotal">
                                            {{ l('SubTotal') }}
                                            <p-sortIcon field="subTotal"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="discount">
                                            {{ l('Discount') }}
                                            <p-sortIcon field="discount"></p-sortIcon>
                                        </th> 
                                        <th pSortableColumn="serviceCharge">
                                            {{ l('ServiceCharge') }}
                                            <p-sortIcon field="serviceCharge"></p-sortIcon>
                                        </th>    
                                        <th pSortableColumn="vat">
                                            {{ l('Vat') }}
                                            <p-sortIcon field="vat"></p-sortIcon>
                                        </th> 
                                        <th pSortableColumn="total">
                                            {{ l('Total') }}
                                            <p-sortIcon field="total"></p-sortIcon>
                                        </th>           
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('PaymentName') }}</span>
                                            {{ record.tenderName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Date') }}</span>
                                            {{ record.dateTime | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('InvoiceNo') }}</span>
                                            {{ record.invoiceNo }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Table') }}</span>
                                            {{ record.table }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Employee') }}</span>
                                            {{ record.employee }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('CardNumber') }}</span>
                                            {{ record.cardNumber }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('ReferenceNo') }}</span>
                                            {{ record.referenceNo }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('SubTotal') }}</span>
                                            {{ record.subTotal | number: '1.2'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Discount') }}</span>
                                            {{ record.discount | number: '1.2'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('ServiceCharge') }}</span>
                                            {{ record.serviceCharge | number: '1.2'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Vat') }}</span>
                                            {{ record.vat | number: '1.2'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Total') }}</span>
                                            {{ record.total | number: '1.2'}}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="5">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7"></td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationSubTotalValue | number: '1.2'}}</td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationDiscountTotalValue | number: '1.2'}}</td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationServicechargeTotalValue | number: '1.2'}}</td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationVatTotalValue | number: '1.2'}}</td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationTotalValue | number: '1.2'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getOrders($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

<commonMultipleLookupModal #commonMultipleLookupModal (itemsSelected)="itemsSelected($event)">
</commonMultipleLookupModal>