﻿<div [@routerTransition]>
	<div class="content d-flex flex-column flex-column-fluid">
		<sub-header [title]="!wheelTable.id ? l('Create Table') : l('Edit Table')">
		</sub-header>
	</div>

	<div [class]="containerClass">
		<div class="card card-custom gutter-b">
			<div class="card-body">
				<form #wheelTableForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
					<tabset>
						<tab [heading]="l('General')" class="p-5">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="wheelTable_Name">{{l("Name")}} *</label>
									<input type="text" id="wheelTable_Name" class="form-control"
										[(ngModel)]="wheelTable.name" name="Name" required />
								</div>

								<div class="form-group col-md-6">
									<label for="wheelTableStatus">{{l("Status")}}</label>
									<ng-select [items]="allTableStatus" bindLabel="displayText" bindValue="value"
										[multiple]="false" [(ngModel)]="wheelTable.wheelTableStatus"
										name="wheelTableStatus" required></ng-select>
								</div>
							</div>

							<div class="row">
								<div class="form-group m-form__group col-md-6">
									<label for="Location">{{l("Location")}}</label>
									<ng-select [items]="allLocation" bindLabel="displayText" bindValue="value"
										[multiple]="false" [(ngModel)]="wheelTable.wheelLocationId" name="Location"
										required>
									</ng-select>
								</div>
								<div class="form-group m-form__group col-md-6">
									<label for="Department">{{l("Department")}}</label>
									<ng-select [items]="allDepartment" bindLabel="displayText" bindValue="value"
										[multiple]="false" [(ngModel)]="wheelTable.wheelDepartmentId" name="Department"
										required></ng-select>
								</div>
							</div>
						</tab>
					</tabset>
					<div class="modal-footer">
						<button [disabled]="saving" type="button" class="btn btn-outline-secondary"
							(click)="close()">{{l("Cancel")}}</button>
						<button type="submit" class="btn btn-primary blue" [disabled]="!wheelTableForm.form.valid"
							[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
							<span>{{l("Save")}}</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>