@import 'assets/common/styles/dine-connect-customize.scss';

.hand-cursor {
  cursor: pointer;
}

.no-data {
  text-align: center;
  padding: 10px;
}

.action-button {
  padding: 5px 20px;
}
.content {
  position: relative;
}
.bg-wrapper-qr {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #333333cc;
  position: absolute;
  .wrapper-qr-code {
    width: 20rem;
    height: 60%;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    .qr-code {
      width: 100%;
      height: calc(100% - 4rem);
      display: flex;
      align-items: center;
      justify-content: center;
      .qrcode {
        width: 14rem;
        height: 14rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .wrapper-btn-close {
      width: 100%;
      padding: 8px 0;
      display: flex;
      justify-content: space-around;
      border-top: 1px solid #e5eaee;
      height: 4rem;
    }
  }
}
