﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Table' | localize">
            <div role="actions">
                <button class="btn btn-success" (click)="exportToExcel()">
                    {{ l('ExportToExcel') }}
                </button>
                <button (click)="createWheelDepartment()" class="btn btn-primary">
                    <i class="fa fa-plus"></i>{{ 'Create New Table' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="nameFilter"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #organizationTable
                                (onLazyLoad)="getWheelTable($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{ l('Id') }}
                                        </th>
                                        <th pSortableColumn="name">
                                            {{ 'Name' | localize }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="location">
                                            {{ 'Location' | localize }}
                                            <p-sortIcon field="location"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="wheelTableStatus">
                                            {{ l('Status') }}
                                            <p-sortIcon field="wheelTableStatus"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="otpCode">
                                            {{ l('OTP') }}
                                            <p-sortIcon field="otpCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="department">
                                            {{ l('Department') }}
                                            <p-sortIcon field="department"></p-sortIcon>
                                        </th>
                                        <th>
                                            {{ l('Action') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Id') }}</span>
                                            {{ record.id }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Location') }}</span>
                                            {{ record.location }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Status') }}</span>
                                            {{ wheelTableStatus[record.wheelTableStatus] }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('OTP') }}</span>
                                            {{ record.otpCode }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Department') }}</span>
                                            {{ record.department }}
                                        </td>
                                        <td>
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="createWheelDepartment(record.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="deleteWheelDepartment(record.id)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item" (click)="generateOTP(record.id)">{{
                                                            l('Generate OTP')
                                                        }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item" (click)="showQR(record)">{{
                                                            l('Show QR code')
                                                        }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getWheelTable($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-wrapper-qr" #popupQRCode>
            <div class="wrapper-qr-code">
                <div class="qr-code">
                    <ngx-qrcode
                        [elementType]="elementType"
                        [errorCorrectionLevel]="correctionLevel"
                        [value]="qrCodeContentSelected"
                        cssClass="qrcode img-qr"
                    >
                    </ngx-qrcode>
                </div>
                <div class="wrapper-btn-close">
                    <button class="btn btn-primary blue" type="button">
                        {{ l('Download') }}
                    </button>
                    <button class="btn btn-outline-secondary" type="button">
                        {{ l('Close') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="">
                <div class="form-group">
                    <label for="nameFilter">{{ l('Name') }}</label>
                    <input type="text" class="form-control" id="nameFilter" name="nameFilter" [(ngModel)]="nameFilter" />
                </div>
                <div class="form-group">
                    <label for="locationNameFilter">{{ l('Location') }} {{ l('Name') }}</label>
                    <input
                        type="text"
                        class="form-control"
                        id="locationNameFilter"
                        name="locationNameFilter"
                        [(ngModel)]="locationNameFilter"
                    />
                </div>
                <div class="form-group">
                    <label for="departmentNameFilter">{{ l('Department') }} {{ l('Name') }}</label>
                    <input
                        type="text"
                        class="form-control"
                        id="departmentNameFilter"
                        name="departmentNameFilter"
                        [(ngModel)]="departmentNameFilter"
                    />
                </div>
                <div class="form-group">
                    <label for="wheelTableStatusFilter">{{ l('Status') }}</label>
                    <div class="input-group">
                        <select
                            class="form-control"
                            name="wheelTableStatusFilter"
                            id="wheelTableStatusFilter"
                            [(ngModel)]="wheelTableStatusFilter"
                        >
                            <option [value]="-1">{{ l('All') }}</option>
                            <option *ngFor="let orderType of allTableStatus" [value]="orderType.value">
                                {{ l(orderType.displayText) }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
