.login-form {
    max-width: 991px !important;
    width: 100%;
}

@media (min-width: 991px) {
    .login {
        padding-top: 50px;
        margin-bottom: 40px;
    }
}

@media (max-width: 991px) {
    .login {
        padding-top: 50px;
        margin-bottom: 10px;
    }
}

.fa.fa-question-circle {
    cursor: pointer;
}