<section class="login">
    <div class="bg-img-1">
        <img src="assets/static/Images/pasta.png" alt="" />
    </div>
    <div class="bg-img-2">
        <img src="assets/static/Images/pizza.png" alt="" />
    </div>
    <div class="bg-img-3">
        <img src="assets/static/Images/burger.png" alt="" />
    </div>
    <div class="container">
        <article class="row">
            <!-- login form -->
            <div class="login-form col-12">
                <form #registerForm="ngForm" (ngSubmit)="save()">
                    <div class="logo">
                        <div class="logo-main" routerLink="/portal">
                            <img src="assets/static/Images/Stack_Logo.jpeg" alt="" />
                        </div>
                        <div class="logo-sub">
                            <img src="assets/static/Images/NPS-International-School-Logo.png" alt="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="FirstName">{{ 'Name' | localize }} *</label>
                            <input
                                id="FirstName"
                                #firstName="ngModel"
                                type="text"
                                name="firstName"
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="model.name"
                                required
                                maxlength="256"
                            />
                            <validation-messages [formCtrl]="firstName"></validation-messages>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="LastName">{{ 'Surname' | localize }} *</label>
                            <input
                                id="LastName"
                                #lastName="ngModel"
                                type="text"
                                name="lastName"
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="model.surname"
                                required
                                maxlength="256"
                            />
                            <validation-messages [formCtrl]="lastName"></validation-messages>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="MobileNumber">{{ 'MobileNumber' | localize }}</label>
                            <div class="input-group" [ngClass]="{ 'ng-invalid': MobileInput.invalid, 'ng-touched': MobileInput.touched }">
                                <div class="input-group-prepend" style="border-radius: 8px 0 0 8px">
                                    <span class="input-group-text">+ {{ callingCode }}</span>
                                </div>
                                <input
                                    style="border-radius: 0 8px 8px 0"
                                    id="MobileNumber"
                                    #MobileInput="ngModel"
                                    type="text"
                                    name="MobileNumber"
                                    (keypress)="returnOnlyNumber($event)"
                                    class="form-control"
                                    [(ngModel)]="model.phoneNumber"
                                    maxlength="32"
                                    autocomplete="off"
                                    required
                                />
                            </div>
                            <validation-messages [formCtrl]="MobileInput"></validation-messages>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Email">{{ 'Email' | localize }} *</label>
                            <input
                                id="Email"
                                #emailAddressInput="ngModel"
                                type="email"
                                name="Email"
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="model.emailAddress"
                                required
                                maxlength="256"
                                email
                            />
                            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="cardID"
                                >{{ 'Student/Staff ID Card Number' | localize }} *<i
                                    (click)="showGetCardIdGuide()"
                                    class="fa fa-question-circle px-2"
                                    aria-hidden="true"
                                ></i
                            ></label>
                            <input
                                id="cardID"
                                #CardID="ngModel"
                                type="text"
                                name="cardID"
                                autocomplete="off"
                                class="form-control"
                                [(ngModel)]="cardID"
                                required
                                maxlength="256"
                            />
                            <validation-messages [formCtrl]="CardID"></validation-messages>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="Grade">{{ 'Grade' | localize }} *</label>
                                <select class="form-control" #Grade="ngModel" name="grade" id="Grade" [(ngModel)]="grade" required>
                                    <option *ngFor="let grade of grades" [ngValue]="grade">{{ grade }}</option>
                                </select>
                                <validation-messages [formCtrl]="Grade"></validation-messages>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="Section">{{ 'Section' | localize }} *</label>
                                <select class="form-control" #Section="ngModel" name="Section" id="Section" [(ngModel)]="section" required>
                                    <option *ngFor="let section of sections" [ngValue]="section">{{ section }}</option>
                                </select>
                                <validation-messages [formCtrl]="Section"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Password">{{ 'Password' | localize }} *</label>
                                <input
                                    type="password"
                                    name="Password"
                                    class="form-control"
                                    [(ngModel)]="model.password"
                                    #Password="ngModel"
                                    placeholder=""
                                    validateEqual="PasswordRepeat"
                                    reverse="true"
                                    [requireDigit]="passwordComplexitySetting.requireDigit"
                                    [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                    [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                    [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                    [requiredLength]="passwordComplexitySetting.requiredLength"
                                    required
                                    pPassword
                                    [promptLabel]="l('PleaseEnterYourNewPassword')"
                                    [weakLabel]="l('weak')"
                                    [mediumLabel]="l('medium')"
                                    [strongLabel]="l('strong')"
                                />
                                <validation-messages [formCtrl]="Password"></validation-messages>
                            </div>

                            <div [hidden]="registerForm.form.valid || registerForm.form.pristine || !Password.touched" class="form-group">
                                <ul class="form-text text-danger" *ngIf="Password.errors">
                                    <li [hidden]="!Password.errors.requireDigit">
                                        {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireLowercase">
                                        {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireUppercase">
                                        {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireNonAlphanumeric">
                                        {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requiredLength">
                                        {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PasswordRepeat">{{ 'PasswordRepeat' | localize }} *</label>
                                <input
                                    type="password"
                                    name="PasswordRepeat"
                                    class="form-control"
                                    [(ngModel)]="model.passwordRepeat"
                                    #PasswordRepeat="ngModel"
                                    placeholder=""
                                    validateEqual="Password"
                                    reverse="false"
                                    [requireDigit]="passwordComplexitySetting.requireDigit"
                                    [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                    [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                    [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                    [requiredLength]="passwordComplexitySetting.requiredLength"
                                    required
                                />
                                <validation-messages [formCtrl]="PasswordRepeat"></validation-messages>
                            </div>

                            <div [hidden]="PasswordRepeat.valid || PasswordRepeat.pristine || !PasswordRepeat.touched" class="form-group">
                                <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                                    <li [hidden]="!PasswordRepeat.errors.requireDigit">
                                        {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                                        {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                                        {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">
                                        {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requiredLength">
                                        {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                    <li [hidden]="PasswordRepeat.valid">
                                        {{ 'PasswordsDontMatch' | localize }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!registerForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        CREATE AN ACCOUNT
                    </button>
                </form>
            </div>
            <!-- login form ends -->
        </article>
    </div>
</section>

<app-card-id-guider-modal #CardIdGuiderModal></app-card-id-guider-modal>
