<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Log' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <label class="control-label">{{l("Time")}}</label>
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                  <label class="control-label">{{l("Event")}}</label>
                                  <div class="w-100">
                                    <p-multiSelect defaultLabel="" [filter]="true" styleClass="w-100" name="Account"
                                      [options]="listEvent" [dataKey]="'value'" [(ngModel)]="selectedEvent"
                                      optionLabel="displayText">
                                    </p-multiSelect>
                                  </div>
                                </div>
                              </div>
                        </div>         
                        <div class="row">
                         

                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <div class="checkbox-list">
                                        <label for="Comp" class="checkbox">
                                            <input id="Comp" type="checkbox" name="Comp"
                                                [(ngModel)]="inComplete">
                                                Incomplete Ticket
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>             
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getOrders()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{ l('Actions') }}
                                        </th>
                                        <th pSortableColumn="eventName">
                                            {{ l('EventName') }}
                                            <p-sortIcon field="eventName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="eventTime">
                                            {{ l('EventTime') }}
                                            <p-sortIcon field="eventTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="userName">
                                            {{ l('User') }}
                                            <p-sortIcon field="userName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ticketNo">
                                            {{ l('TicketNo') }}
                                            <p-sortIcon field="ticketNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ticketTotal">
                                            {{ l('TicketTotal') }}
                                            <p-sortIcon field="ticketTotal"></p-sortIcon>
                                        </th> 
                                        <th pSortableColumn="locationName">
                                            {{ l('Location') }}
                                            <p-sortIcon field="locationName"></p-sortIcon>
                                        </th>                                      
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <button (click)="showDetails(record)" type="button"
                                                class="btn btn-primary btn-xs">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('EventName') }}</span>
                                            {{ record.eventName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('EventTime') }}</span>
                                            {{ record.eventTime }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('User') }}</span>
                                            {{ record.userName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TicketNo') }}</span>
                                            {{ record.ticketNo }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TicketTotal') }}</span>
                                            {{ record.ticketTotal | number: '1.2'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Location') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="5">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationTotalValue | number: '1.2'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getOrders($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

<app-log-detail #detailmodal></app-log-detail>
