<div
    appBsModal
    #balanceModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="balanceModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-xl">
     
        <div class="modal-content">
            <div [class]="containerClass">
                <div class="card card-custom gutter-b">
                    <div class="card-header d-flex flex-column justify-content-start py-5">
                        <div class="card-info">CARD NUMBER : <b>{{swipeCard.cardNumber}}</b> Name: <b>{{swipeCard.customerName || 'N/A'}}</b></div>
                        <div class="balance bg-danger">BALANCE : {{appSession.application.currencySign}}{{swipeCard.balance | number: '1.2'}} </div>
                    </div>
                    <div class="card-body">
                        <!-- <form class="form" autocomplete="off">
                            <div class="row mb-6">
                                <div class="col-sm-12 text-right">
                                    <div class="d-flex justify-content-end">
                                        <div class="flex-fill"></div>
                                        <button type="button" class="btn btn-primary" (click)="refresh()">
                                            {{ l('Refresh') }}
                                        </button>

                                        <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                            {{ l('Search') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form> -->

                        <div class="row align-items-center">
                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                <p-table
                                    #dataTable
                                    (onLazyLoad)="getAll($event)"
                                    [value]="primengTableHelper.records"
                                    rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                    [paginator]="false"
                                    [lazy]="true"
                                    [scrollable]="true"
                                    ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="transactionTime">
                                                {{ 'TransactionTime' | localize }}
                                                <p-sortIcon field="transactionTime"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="swipeCardNumber">
                                                {{ 'CardNumber' | localize }}
                                                <p-sortIcon field="swipeCardNumber"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="customerName">
                                                {{ 'CustomerName' | localize }}
                                                <p-sortIcon field="customerName"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="description">
                                                {{ 'Description' | localize }}
                                                <p-sortIcon field="description"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="paymentType">
                                                {{ 'PaymentType' | localize }}
                                                <p-sortIcon field="paymentType"></p-sortIcon>
                                            </th>
                                            <th style="text-align: right;" pSortableColumn="credit">
                                                {{ 'Credit' | localize }}
                                                <p-sortIcon field="credit"></p-sortIcon>
                                            </th>
                                            <th style="text-align: right;" pSortableColumn="debit">
                                                {{ 'Debit' | localize }}
                                                <p-sortIcon field="debit"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td>
                                                <span class="ui-column-title">{{ 'TransactionTime' | localize }}</span>
                                                {{ record.transactionTime | date: 'dd MMM yyyy' }}
                                            </td>
                                            <td>
                                                <span class="ui-column-title">{{ 'CardNumber' | localize }}</span>
                                                {{ record.swipeCardNumber }}
                                            </td>
                                            <td>
                                                <span class="ui-column-title">{{ 'CustomerName' | localize }}</span>
                                                {{ record.customerName }}
                                            </td>
                                            <td>
                                                <span class="ui-column-title">{{ 'Description' | localize }}</span>
                                                <span *ngIf="record.credit || (!record.credit && !record.debit)" class="badge rounded-pill text-primary font-weight-bold">{{l('Topup')}}</span>
                                                <span *ngIf="record.debit" class="badge rounded-pill text-danger font-weight-bold">{{l('Refund')}}</span>
                                            </td>
                                            <td>
                                                <span class="ui-column-title">{{ 'PaymentType' | localize }}</span>
                                                {{ record.paymentType }}
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="ui-column-title">{{ 'Credit' | localize }}</span>
                                                {{ record.credit | number: '1.2' }}
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="ui-column-title">{{ 'Debit' | localize }}</span>
                                                {{ record.debit | number: '1.2' }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{ l('NoData') }}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator
                                        [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                        #paginator
                                        (onPageChange)="getAll($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    >
                                    </p-paginator>
                                    <span class="total-records-count">
                                        {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-Datatable-End>-->
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
