.button-back {
    cursor: pointer;
    border: 0px solid #dcdfea;
    border-radius: 16px;
    min-width: 150px;
    height: 35px;
    margin-left: 15px;
    .text-button {
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        line-height: 33px;
        color: #22232f;
        margin-left: 24px;
    }
}

.settings-container {
    background-color: unset;
    padding-top: 16px;
    min-height: 510px;
    .settings-sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        min-height: 510px;
        background-color: unset;
        border-right: unset;
        .left-item {
            padding-top: 16px;
            .header-profile {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 81px;
                border-bottom: 1px solid #dbdbdb;
                margin-left: 15px;
                column-gap: 15px;
                .name-person {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 5px;
                    span {
                        font-weight: 700;
                        font-size: 16px;
                        color: #22232f;
                        width: 160px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        
                    }
                    .icon-settings {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        span {
                            font-weight: 400;
                            font-size: 14px;
                            color: #888884;
                        }
                    }
                }
            }
            mat-selection-list {
                mat-expansion-panel {
                    background: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    mat-expansion-panel-header {
                        padding: unset;
                    }
                    ::ng-deep .mat-expansion-panel-body {
                        padding: unset;
                    }
                }
                mat-list-option {
                    background-color: unset;
                    padding: unset;
                }
                ::ng-deep {
                    .mat-list-single-selected-option {
                        .sub-menu {
                            font-weight: 700 !important;
                            font-size: 16px !important;
                            color: #488bf0 !important;
                        }
                    }
                }
            }
        }
    }
}

.item-sidebar {
    display: flex;
    align-items: center;
    column-gap: 10px;
    mat-icon {
        color: #2d5d8c;
    }
    .item-menu {
        font-weight: 700;
        font-size: 16px;
        color: #22232f;
        :focus {
            color: #488bf0;
        }
    }
}

.sub-menu {
    font-weight: 400;
    font-size: 16px;
    margin-left: 34px !important;
    color: #888884;
    :focus {
        font-weight: 700;
        color: #488bf0;
    }
}


@media (min-width: 992px) {
    .name-person{
        display: none;
    }

    .item-sidebar{
        .sub-icon{
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .name-person{
        visibility: hidden;
    }

    .hidden-mobile{
        display: none;
    }

    .header-profile{
        display: inherit !important;
        margin-left: -15px !important;

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 16px;
        }
    }

    .item-sidebar{
        display: block !important;
        img, mat-icon{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .sub-icon{
            color: black !important;
        }

        .main-icon{
            color: #2D5D8C;
        }
    }

    .settings-container{
        display: flex;
        flex-direction: row;
    }

    .settings-sidenav{
        width: 15% !important;
    }

    .settings-content{
        width: 85% !important;
    }

    .user-item {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .form-field-label {
        text-align: left !important;
    }

    .right-content {
        display: none !important;
    }

    .card-body {
        width: 100% !important;

        form {
            width: 100% !important;

            .mat-form-field {
                width: 100% !important;
            }

            .buttons{
                margin-right: 0px !important;
            }
        }
    }

    .text-header {
        display: none !important;
    }

    .choose-photo-mobile {
        visibility: visible !important;
        width: 125px;
        height: 37px;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        background-color: #fff;
        color: #575755;
        font-weight: 400;
        font-size: 14px;
        margin-left: 26px
    }

    ::ng-deep .mat-drawer-inner-container {
        overflow: hidden !important;
    }
}

