<div style="background-color: #FCFCFC; height: 69px;" class="d-flex align-items-center">
    <div class="row d-flex align-items-center button-back">
        <mat-icon (click)="goToHome()">arrow_back</mat-icon>
        <span class="text-button">Settings</span>
    </div>
</div>
<mat-sidenav-container class="settings-container container">

    <mat-sidenav #sidenav mode="side" opened class="settings-sidenav">
        <div class="left-item">
            <div class="header-profile">
                <img src="\assets\image\person-settings.png" alt="">
                <div class="name-person">
                    <span title="{{appSession.user.userName}}">{{appSession.user.userName}}</span>
                    <div class="icon-settings">
                        <img src="\assets\image\settings-2.png" alt="">
                        <span>Settings</span>
                    </div>
                </div>
            </div>
            <mat-selection-list [multiple]="false">

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="panelOpenState" hideToggle>
                    <mat-expansion-panel-header class="">
                        <mat-list-option class="">
                            <div class="item-sidebar">
                                <mat-icon class="main-icon">person</mat-icon>
                                <div class="hidden-mobile">
                                    <span class="item-menu">My Account</span>
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-expansion-panel-header>
                    <mat-list-option class="" (click)="profile()" routerLinkActive="router-link-active" [selected]="true">
                        <div class="item-sidebar">
                            <mat-icon class="sub-icon">manage_accounts</mat-icon>
                            <span class="sub-menu hidden-mobile">Profile</span>
                        </div>
                    </mat-list-option>
                    <mat-list-option class="" (click)="changePassword()" routerLinkActive="router-link-active">
                        <div class="item-sidebar">
                            <mat-icon class="sub-icon">password</mat-icon>
                            <span class="sub-menu hidden-mobile">Change Password</span>
                        </div>
                    </mat-list-option>
                </mat-expansion-panel>

                <mat-expansion-panel disabled="true" hideToggle>
                    <mat-expansion-panel-header class="">
                        <mat-list-option class="" (click)="myWallet()">
                            <div class="item-sidebar">
                                <mat-icon class="main-icon">credit_card</mat-icon>
                                <div class="hidden-mobile">
                                    <span class="item-menu">My Wallet</span>
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" [expanded]="panelOpenState2" hideToggle>
                    <mat-expansion-panel-header class="">
                        <mat-list-option class="">
                            <div class="item-sidebar">
                                <mat-icon class="main-icon">notifications</mat-icon>
                                <div class="hidden-mobile">
                                    <span class="item-menu">Notifications</span>
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-expansion-panel-header>
                    <mat-list-option class="" (click)="status()" routerLinkActive="router-link-active">
                        <div class="item-sidebar">
                            <mat-icon class="sub-icon">chat</mat-icon>
                            <span class="sub-menu hidden-mobile">Status</span>
                        </div>
                    </mat-list-option>
                    <mat-list-option class="" (click)="promotions()" routerLinkActive="router-link-active">
                        <div class="item-sidebar">
                            <mat-icon class="sub-icon">card_giftcard</mat-icon>
                            <span class="sub-menu hidden-mobile">Promotions</span>
                        </div>
                    </mat-list-option>
                </mat-expansion-panel>

                <mat-expansion-panel disabled="true" hideToggle>
                    <mat-expansion-panel-header class="">
                        <mat-list-option class="" (click)="logOut()">
                            <div class="item-sidebar">
                                <mat-icon class="main-icon">logout</mat-icon>
                                <div class="hidden-mobile">
                                    <span class="item-menu">Log Out</span>
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

            </mat-selection-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="settings-content">
        <app-my-profile *ngIf="openTab === 'profile'"></app-my-profile>
        <app-my-password *ngIf="openTab === 'changePassword'"></app-my-password>
        <app-stack-wallet *ngIf="openTab === 'my-wallet'" (showTopUpWallet)="topUpWallet()" (showTransfer)="transfer()"></app-stack-wallet>
        <app-top-up-wallet *ngIf="openTab === 'top-up-wallet'" (showGuiTopUp)="topUpDetail()" (showStackWallet)="myWallet()"></app-top-up-wallet>
        <!-- <app-gui-top-up-wallet *ngIf="openTab === 'gui-top-up-wallet'" (showStackWallet)="myWallet()"></app-gui-top-up-wallet> -->
        <app-transfer *ngIf="openTab === 'transfer'"></app-transfer>
        <app-status *ngIf="openTab === 'status'"></app-status>
    </mat-sidenav-content>

</mat-sidenav-container>