<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="'Grab' | localize">
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>{{l("Grab")}}</h2>
                        </div>
                        <div class="col-sm-12" *ngIf="!isConnected">
                            <form #connectGrabForm="ngForm" novalidate (ngSubmit)="connect()" autocomplete="off">

                                <table class="table table-striped table-bordered">

                                    <tr>
                                        <td>{{l("ClientId")}} *</td>
                                        <td>
                                            <input type="text" [(ngModel)]="clientId" name="clientId" class="form-control" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{l("ClientSecret")}} *</td>
                                        <td>
                                            <input type="text" [(ngModel)]="clientSecret" name="ClientSecret" class="form-control" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="connect-buttton-container">
                                                <button [buttonBusy]="loading" class="btn btn-primary" type="submit" [disabled]="connectGrabForm.invalid">
                                                    Connect for OAuth
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="col-md-12 margin-bottom-15" *ngIf="isConnected">
                            <div class="col-sm-6">
                                <a [buttonBusy]="loading" (click)="disconnect()" class="btn btn-primary">
                                    Disconnect for OAuth
                                </a>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label>{{l("MerchantID")}}</label>
                                    <input class="form-control ucase"  type="text" name="MerchantID"  [(ngModel)]="merchantID" required>
                                </div>
                                <button [buttonBusy]="loading" type="button" [disabled]="!merchantID" (click)="syncData()" class="btn btn-success btn-outline">
                                    Sync Data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button [buttonBusy]="loading" [disabled]="loading" type="button" class="btn btn-default float-right" (click)="cancel()">{{l("Cancel")}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
