@media (max-width: 1024px) {
    .top-kt {
        margin-top: 1vh;
    }
}

@media (min-width: 1025px) {
    .top-kt {
        margin-top: -7vh;
    }
}

.text-number {
    text-align: right;
}

.text-center-res {
    text-align: center;
}

::ng-deep body .ui-table {
    @media (max-width: 640px) {
        .ui-table-tbody > tr {
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
        }
    }
}

@media (max-width: 640px) {
    .text-center-res {
        text-align: left;
    }
}

form {
    .form-group {
        input {
            border: 1px solid #ced4da;
        }
    }
}
