<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!isEdit ? l('CreateScreenMenu') : l('EditScreenMenu') + ': ' + screenMenu.name">
            <div role="actions">
                <button (click)="openSelectLocationOrGroup()" class="btn btn-primary">
                    <i class="fa fa-file"></i> {{ l('Locations') }}
                </button>
            </div>
        </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">

                    <!-- Form -->
                    <form #form="ngForm" class="mb-4" (ngSubmit)="save()">
                        <div class="row">
                            <!-- Name -->
                            <div class="form-group col-md-6">
                                <label for="templateName">{{ l('Name') }} *</label>
                                <input autoFocus #templateName="ngModel" [(ngModel)]="screenMenu.name" type="text"
                                    id="templateName" class="form-control" name="templateName" required />
                                <validation-messages [formCtrl]="templateName"></validation-messages>
                            </div>
                            <!-- ColumnCount -->
                            <div class="form-group col-md-6">
                                <label for="columnCount">{{ l('ColumnCount') }}</label>
                                <input #columnCount="ngModel" [(ngModel)]="screenMenu.categoryColumnCount" type="number"
                                    id="columnCount" class="form-control" name="columnCount" />
                                <validation-messages [formCtrl]="columnCount"></validation-messages>
                            </div>
                        </div>

                        <div class="row">
                            <!-- ColumnWidth -->
                            <div class="form-group col-md-6">
                                <label for="columnWidth">{{ l('Column Width') }}</label>
                                <input #columnWidth="ngModel" [(ngModel)]="screenMenu.categoryColumnWidthRate"
                                    type="number" id="columnWidth" class="form-control" name="columnWidth" />
                                <validation-messages [formCtrl]="columnWidth"></validation-messages>
                            </div>

                            <!-- Department -->
                            <div class="form-group col-md-6">
                                <label for="department">{{ l('Department') }}</label>

                                <tag-input [(ngModel)]="departmentTags" class="app-ng2-tag-input" [ripple]="false"
                                    [onlyFromAutocomplete]="true" name="departmentTags">
                                    <tag-input-dropdown [autocompleteItems]="departments" [showDropdownIfEmpty]="true"
                                        [dynamicUpdate]="false" displayBy="displayText">
                                    </tag-input-dropdown>

                                    <ng-template let-item="item" let-index="index">
                                        <span>{{ item.displayText }}</span>

                                        <span role="button" class="tags-input__tag-remove-btn"
                                            (click)="removeDepartment(item.value)">
                                            <span aria-hidden="true">×</span>
                                            <span class="sr-only">Close</span>
                                        </span>
                                    </ng-template>
                                </tag-input>
                            </div>
                        </div>

                        <div class="modal-footer px-0 pb-0">
                            <button type="button" class="btn btn-outline-secondary" [disabled]="saving"
                                (click)="close()">
                                {{ l('Cancel') }}
                            </button>

                            <button type="submit" class="btn btn-primary blue" [disabled]="!formIsValid"
                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>

    <!-- SelectLocationOrGroup -->
    <select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
    <!-- End SelectLocationOrGroup -->
</div>