<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('ScreenMenus')" [description]="l('ScreenMenusHeaderInfo')">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getItems()">
                    {{l("Deleted")}}
                    <span></span>
                </label>

                <button class="btn btn-outline-success" (click)="import()" [disabled]="importing"
                    [buttonBusy]="importing" [busyText]="l('ImportingWithThreeDot')">
                    <i class="fa fa-upload"></i>
                    {{l("Import")}}
                </button>

                <button *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Create')" (click)="createOrUpdateItem()"
                    class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {{l("CreateScreenMenu")}}
                </button>
            </div>
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->


        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!-- Filter Form -->
                    <form class="form" autocomplete="off" (ngSubmit)="search()">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input autoFocus [(ngModel)]="filterText" name="filterText"
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getItems()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex">
                                    <button class="btn btn-primary" type="button"
                                        (click)="openFilterSelectLocationsModal()">
                                        {{l("LocationOrGroup")}}
                                        <span *ngIf="getLocationsSelected(locationOrGroup)">:
                                            {{getLocationsSelected(locationOrGroup)}}</span>
                                    </button>

                                    <div class="flex-fill"></div>

                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{l("Refresh")}}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{l("Search")}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <!-- End Filter Form -->

                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable (onLazyLoad)="getItems($event)" [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col style="width: 130px;" />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                        </colgroup>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{l('Actions')}}</th>

                                            <th pSortableColumn="name">
                                                {{l('Name')}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>

                                            <th>
                                                {{l('ColumnCount')}}
                                            </th>

                                            <th>
                                                {{l('ColumnWidth')}}
                                            </th>

                                            <th>{{l('Copy')}}</th>
                                            <th>{{l('Categories')}}</th>
                                            <th>{{l('VirtualScreen')}}</th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td
                                                [hidden]="!isGrantedAny('Pages.Tenant.Connect.Menu.ScreenMenus.Edit', 'Pages.Tenant.Connect.Menu.ScreenMenus.Delete')">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle
                                                        class="dropdown-toggle btn btn-sm btn-primary">
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                        {{"Actions" | localize}}
                                                    </button>

                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <ng-container *ngIf="!isDeleted; else RevertTemp">
                                                            <li>
                                                                <a *ngIf="isGranted('Pages.Tenant.Tiffin.ScreenMenus.Edit')"
                                                                    class="dropdown-item"
                                                                    (click)="createOrUpdateItem(record.id)">{{l('Edit')}}</a>
                                                            </li>

                                                            <li>
                                                                <a *ngIf="isGranted('Pages.Tenant.Tiffin.ScreenMenus.Delete')"
                                                                    class="dropdown-item"
                                                                    (click)="deleteItem(record)">{{l('Delete')}}</a>
                                                            </li>
                                                        </ng-container>
                                                        <ng-template #RevertTemp>
                                                            <li>
                                                                <a *ngIf="isGranted('Pages.Tenant.Tiffin.ScreenMenus.Delete')"
                                                                    class="dropdown-item"
                                                                    (click)="revertItem(record)">{{l('Revert')}}</a>
                                                            </li>
                                                        </ng-template>
                                                    </ul>
                                                </div>
                                            </td>

                                            <td>
                                                <span class="ui-column-title">{{l('Name')}}</span>
                                                {{record.name}}
                                            </td>

                                            <td>
                                                <span class="ui-column-title">{{l('ColumnCount')}}</span>
                                                {{record.categoryColumnCount}}
                                            </td>

                                            <td>
                                                <span class="ui-column-title">{{l('ColumnWidth')}}</span>
                                                {{record.categoryColumnWidthRate}}
                                            </td>

                                            <td>
                                                <button class="btn-secondary btn" type="button"
                                                    (click)="generateItem(record)">
                                                    {{l('Generate')}}
                                                </button>

                                                <button class="btn-secondary btn" type="button"
                                                    (click)="cloneItem(record)">
                                                    {{l('Clone')}}
                                                </button>
                                            </td>

                                            <td>
                                                <button class="btn-secondary btn" type="button"
                                                    (click)="listCategories(record)">
                                                    {{l('List')}}
                                                </button>

                                                <button class="btn-secondary btn" type="button"
                                                    (click)="showCreateCategoryModal(record)">
                                                    {{l('Add')}}
                                                </button>
                                            </td>

                                            <td>
                                                <button class="btn-secondary btn" type="button"
                                                    (click)="showVitualScreen(record)">
                                                    {{l('VirtualScreen')}}
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div *ngIf="primengTableHelper.totalRecordsCount === 0" class="primeng-no-data">
                                    {{l('NoData')}}
                                </div>

                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getItems($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>

                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setFilterLocations($event)">
</select-location-or-group>

<import-modal #importModal (modalSave)="getItems()"></import-modal>

<add-screen-menu-category #createCategoryModal (saved)="reloadPage()"></add-screen-menu-category>