<div class="container pt-4 pb-4">
    <div class="row justify-content-center">
        <div class="user-infor d-flex justify-content-between align-items-center mb-4 col-12 col-sm-8 col-md-8 col-lg-6">
            <div class="left-box d-flex align-items-center">
                <div class="img"><img src="assets/image/menu/Ellipse-526.png" alt=""></div>
                <div class="infor pl-2">
                    <div class="address">
                        <p class="m-0">Welcome back!</p>
                        <h4 class="name text-bold mb-0">Unknown</h4>
                    </div>
                </div>
            </div>
            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text align-self-end"></button>
        </div>
    </div>
    <choose-item [listItems]="choosenList"></choose-item>
    <div class="row justify-content-center mt-4 pr-2 pl-2">
        <div class="col-12 col-sm-8 col-md-8 col-lg-6">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <p class="m-0">Email</p>
                    <p class="email m-0"><strong>shmoulana@gmail.com</strong></p>
                </div>
                <div>
                    <p class="m-0">Total Orders</p>
                    <p class="total m-0" style="text-align: right;"><strong>14</strong></p>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <div>
                    <p class="m-0">Phone</p>
                    <p class="email m-0"><strong>+91 9886 831 832</strong></p>
                </div>
                <a class="link" href="javascript:void(0)">View Orders</a>
            </div>
        </div>
    </div>
</div>