<div class="card mb-1">
    <div class="card-body">
        <h4 class="font-weight-normal mb-3">Edit My Details</h4>
        <form role="form" #mySettingsModalForm="ngForm" (ngSubmit)="save()">
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="FirstName">{{ 'Name' | localize }} *</label>
                        <input
                            id="FirstName"
                            #firstName="ngModel"
                            class="form-control"
                            type="text"
                            name="firstName"
                            [(ngModel)]="myInfo.name"
                            required
                            maxlength="64"
                        />
                        <validation-messages [formCtrl]="firstName"></validation-messages>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="LastName">{{ 'Surname' | localize }} *</label>
                        <input
                            id="LastName"
                            #lastName="ngModel"
                            class="form-control"
                            type="text"
                            name="lastName"
                            [(ngModel)]="myInfo.surname"
                            required
                            maxlength="64"
                        />
                        <validation-messages [formCtrl]="lastName"></validation-messages>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="PhoneNumber">{{ 'MobileNumber' | localize }} *</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+ {{ myInfo.callingCode }}</span>
                            </div>
                            <input
                                id="PhoneNumber"
                                #phoneNumberInput="ngModel"
                                type="text"
                                class="form-control"
                                [(ngModel)]="myInfo.phoneNumber"
                                name="PhoneNumber"
                                (keypress)="returnOnlyNumber($event)"
                                required
                                maxlength="256"
                            />
                        </div>
                        <validation-messages [formCtrl]="phoneNumberInput"></validation-messages>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="EmailAddress">{{ 'Email' | localize }} *</label>
                        <input
                            id="EmailAddress"
                            #emailAddressInput="ngModel"
                            type="email"
                            name="EmailAddress"
                            [disabled]="true"
                            class="form-control"
                            [(ngModel)]="myInfo.emailAddress"
                            required
                            email
                            maxlength="256"
                        />
                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="cardID"
                            >{{ 'Student/Staff ID Card Number' | localize }} *
                            <i (click)="showGetCardIdGuide()" class="fa fa-question-circle px-2" aria-hidden="true"></i
                        ></label>
                        <input
                            id="cardID"
                            #IDCardNumber="ngModel"
                            type="text"
                            name="idCardNumber"
                            class="form-control"
                            [(ngModel)]="cardID"
                            maxlength="256"
                            required
                        />
                        <validation-messages [formCtrl]="IDCardNumber"></validation-messages>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="Grade">{{ 'Grade' | localize }} *</label>
                        <select class="form-control" #Grade="ngModel" name="grade" id="Grade" [(ngModel)]="grade" required>
                            <option *ngFor="let grade of grades" [ngValue]="grade">{{ grade }}</option>
                        </select>
                        <validation-messages [formCtrl]="Grade"></validation-messages>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary" [disabled]="!mySettingsModalForm.form.valid || saving">
                    <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
                </button>
            </div>
        </form>
    </div>
</div>

<app-card-id-guider-modal #CardIdGuiderModal></app-card-id-guider-modal>
