<div appBsModal #modal="bs-modal" class="modal fade" role="dialog" aria-labelledby="modal" (onShown)="shown()"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">
          <span>{{l('LocationOrGroup')}}</span>
        </h5>

        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- End Modal Header -->

      <!-- Modal Body -->
      <div class="modal-body">
        <tabset class="tab-container tabbable-line">

          <tab heading="{{l('LocationOrGroup')}}" customClass="kt-tabs__item" (selectTab)="onSelectTab($event, 0)"
            [active]="tabIndex === 0">

            <!-- Types -->
            <div class="radio-inline mt-6 mb-3">
              <label class="radio">
                <input type="radio" name="type" [checked]="type == TYPES.Location" [readOnly]="isReadonly"
                  [value]="TYPES.Location" (change)="onChangeType($event)" />
                <span></span>
                {{l('Location')}}
              </label>

              <label class="radio">
                <input type="radio" name="type" [checked]="type == TYPES.LocationGroup" [readOnly]="isReadonly"
                  [value]="TYPES.LocationGroup" (change)="onChangeType($event)" />
                <span></span>
                {{l('Location Group')}}
              </label>

              <label class="radio">
                <input type="radio" name="type" [checked]="type == TYPES.LocationTag" [readOnly]="isReadonly"
                  [value]="TYPES.LocationTag" (change)="onChangeType($event)" />
                <span></span>
                {{l('Location Tag')}}
              </label>
            </div>
            <!-- End Types -->

            <!-- Count -->
            <div>
              <div>
                {{typeLabel}} - {{l('Count')}}: {{selectedCount}}
              </div>

              <tag-input [(ngModel)]="selectedTags" class="app-ng2-tag-input" [ripple]="false" [disabled]="true"
                [hideForm]="true">
                <ng-template let-item="item" let-index="index">
                  <span *ngIf="item.code">{{ item.code }} - </span>
                  <span>{{ item.name }}</span>

                  <span *ngIf="!isReadonly" role="button" class="tags-input__tag-remove-btn"
                    (click)="removeTag(item.id)">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                  </span>
                </ng-template>
              </tag-input>
            </div>
            <!-- End Count -->


            <!-- LocationDataTable -->
            <div class="primeng-datatable-container mt-6" [hidden]="type !== TYPES.Location"
              [busyIf]="locationDataTableHelper.isLoading">

              <form class="form-group m-form__group align-items-center" (ngSubmit)="getLocations()">
                <div class="input-group">
                  <input [(ngModel)]="filterText.locations" name="filterTextLocations" class="form-control m-input"
                    [placeholder]="l('SearchWithThreeDot')" type="text">

                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                    </button>
                  </span>
                </div>
              </form>

              <p-table #locationDataTable (onLazyLoad)="getLocations($event)" (selectionChange)="updateSelectedTags()"
                [value]="locationDataTableHelper.records" [rows]="locationDataTableHelper.defaultRecordsCountPerPage"
                [paginator]="false" [lazy]="true" [responsive]="locationDataTableHelper.isResponsive"
                [(selection)]="selected.locations" [selectionMode]="isReadonly ? null : 'multiple'">

                <!-- LocationDataTable-Start -->
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngIf="!isReadonly" style="width:50px">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>

                    <th pSortableColumn="id" style="width:80px">
                      {{l('Id')}}
                      <p-sortIcon field="id"></p-sortIcon>
                    </th>

                    <th pSortableColumn="code" style="width:80px">
                      {{l('Code')}}
                      <p-sortIcon field="code"></p-sortIcon>
                    </th>

                    <th pSortableColumn="name">
                      {{l('Name')}}
                      <p-sortIcon field="name"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <!-- LocationDataTable-End -->

                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td *ngIf="!isReadonly">
                      <p-tableCheckbox [value]="record"></p-tableCheckbox>
                    </td>

                    <td>{{record.id}}</td>
                    <td>{{record.code}}</td>
                    <td>{{record.name}}</td>
                  </tr>
                </ng-template>

              </p-table>

              <div class="primeng-no-data" *ngIf="locationDataTableHelper.totalRecordsCount === 0">
                {{l('NoData')}}
              </div>

              <div class="primeng-paging-container">
                <p-paginator #locationPaginator rows="{{locationDataTableHelper.defaultRecordsCountPerPage}}"
                  (onPageChange)="getLocations($event)" [totalRecords]="locationDataTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="locationDataTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>

                <span class="total-records-count">
                  {{l('TotalRecordsCount', locationDataTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!-- End LocationDataTable -->


            <!-- LocationGroupDataTable-Start -->
            <div class="primeng-datatable-container mt-6" [hidden]="type !== TYPES.LocationGroup"
              [busyIf]="locationGroupDataTableHelper.isLoading">

              <form class="form-group m-form__group align-items-center" (ngSubmit)="getLocationGroups()">
                <div class="input-group">
                  <input [(ngModel)]="filterText.locationGroups" name="filterTextLocationGroups"
                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">

                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                    </button>
                  </span>
                </div>
              </form>

              <p-table #locationGroupDataTable (onLazyLoad)="getLocationGroups($event)"
                (selectionChange)="updateSelectedTags()" [value]="locationGroupDataTableHelper.records"
                [rows]="locationGroupDataTableHelper.defaultRecordsCountPerPage" [paginator]="false" [lazy]="true"
                [responsive]="locationGroupDataTableHelper.isResponsive" [(selection)]="selected.groups"
                [selectionMode]="isReadonly ? null : 'multiple'">

                <!-- LocationGroupDataTable Header -->
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngIf="!isReadonly" style="width:50px">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>

                    <th pSortableColumn="id" style="width:80px">
                      {{l('Id')}}
                      <p-sortIcon field="id"></p-sortIcon>
                    </th>

                    <th pSortableColumn="name">
                      {{l('Name')}}
                      <p-sortIcon field="name"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <!-- End LocationGroupDataTable Header -->

                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td *ngIf="!isReadonly">
                      <p-tableCheckbox [value]="record"></p-tableCheckbox>
                    </td>

                    <td>{{record.id}}</td>
                    <td>{{record.name}}</td>
                  </tr>
                </ng-template>

              </p-table>

              <div class="primeng-no-data" *ngIf="locationGroupDataTableHelper.totalRecordsCount === 0">
                {{l('NoData')}}
              </div>

              <div class="primeng-paging-container">
                <p-paginator #locationGroupPaginator [rows]="locationGroupDataTableHelper.defaultRecordsCountPerPage"
                  (onPageChange)="getLocationGroups($event)"
                  [totalRecords]="locationGroupDataTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="locationGroupDataTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>

                <span class="total-records-count">
                  {{l('TotalRecordsCount', locationGroupDataTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!-- LocationGroupDataTable-End -->

            <!-- LocationTagDataTable -->
            <div class="primeng-datatable-container mt-6" [hidden]="type !== TYPES.LocationTag"
              [busyIf]="locationTagDataTableHelper.isLoading">

              <form class="form-group m-form__group align-items-center" (ngSubmit)="getLocationTags()"
                (selectionChange)="updateSelectedTags()">
                <div class="input-group">
                  <input [(ngModel)]="filterText.locationTags" name="filterTextLocationTags"
                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">

                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                    </button>
                  </span>
                </div>
              </form>

              <p-table #locationTagDataTable (onLazyLoad)="getLocationTags($event)"
                [value]="locationTagDataTableHelper.records"
                [rows]="locationTagDataTableHelper.defaultRecordsCountPerPage" [paginator]="false" [lazy]="true"
                [responsive]="locationTagDataTableHelper.isResponsive" [(selection)]="selected.locationTags"
                [selectionMode]="isReadonly ? null : 'multiple'"
                (selectionChange)="updateSelectedTags()"
                >
                <!-- LocationGroupDataTable Header -->
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngIf="!isReadonly" style="width:50px">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>

                    <th pSortableColumn="id" style="width:80px">
                      {{l('Id')}}
                      <p-sortIcon field="id"></p-sortIcon>
                    </th>

                    <th pSortableColumn="name">
                      {{l('Name')}}
                      <p-sortIcon field="name"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <!-- End LocationGroupDataTable Header -->

                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td *ngIf="!isReadonly">
                      <p-tableCheckbox [value]="record"></p-tableCheckbox>
                    </td>

                    <td>{{record.id}}</td>
                    <td>{{record.name}}</td>
                  </tr>
                </ng-template>

              </p-table>

              <div class="primeng-no-data" *ngIf="locationTagDataTableHelper.totalRecordsCount === 0">
                {{l('NoData')}}
              </div>

              <div class="primeng-paging-container">
                <p-paginator #locationTagPaginator [rows]="locationTagDataTableHelper.defaultRecordsCountPerPage"
                  (onPageChange)="getLocationTags($event)" [totalRecords]="locationTagDataTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="locationTagDataTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>

                <span class="total-records-count">
                  {{l('TotalRecordsCount', locationTagDataTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!-- End LocationTagDataTable -->

          </tab>


          <!-- RestrictLocation -->
          <tab heading="{{l('RestrictLocation')}}" customClass="kt-tabs__item" (selectTab)="onSelectTab($event, 1)"
            [active]="tabIndex === 1">

            <!-- Count -->
            <div class="mt-6 mb-3">
              <div>
                {{typeLabel}} - {{l('Count')}}: {{selectedCount}}
              </div>


              <tag-input [(ngModel)]="selectedTags" class="app-ng2-tag-input" [ripple]="false" [disabled]="true"
                [hideForm]="true">
                <ng-template let-item="item" let-index="index">
                  <span *ngIf="item.code">{{ item.code }} - </span>
                  <span>{{ item.name }}</span>

                  <span *ngIf="!isReadonly" role="button" class="tags-input__tag-remove-btn"
                    (click)="removeTag(item.id)">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                  </span>
                </ng-template>
              </tag-input>
            </div>
            <!-- End Count -->

            <!-- RestrictLocationDataTable-Start -->
            <div class="primeng-datatable-container mt-6" [hidden]="tabIndex !== 1"
              [busyIf]="restrictLocationDataTableHelper.isLoading">

              <form class="form-group m-form__group align-items-center" (ngSubmit)="getRestrictLocations()">
                <div class="input-group">
                  <input [(ngModel)]="filterText.restrictLocations" name="filterTextRestrictLocations"
                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">

                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                    </button>
                  </span>
                </div>
              </form>

              <p-table #restrictLocationDataTable (onLazyLoad)="getRestrictLocations($event)"
                (selectionChange)="updateSelectedTags()" [value]="restrictLocationDataTableHelper.records"
                [rows]="restrictLocationDataTableHelper.defaultRecordsCountPerPage" [paginator]="false" [lazy]="true"
                [responsive]="restrictLocationDataTableHelper.isResponsive" [(selection)]="selected.nonLocations"
                [selectionMode]="isReadonly ? null : 'multiple'">

                <!-- RestrictLocationDataTable Header-Start -->
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngIf="!isReadonly" style="width:50px">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>

                    <th pSortableColumn="id" style="width:80px">
                      {{l('Id')}}
                      <p-sortIcon field="id"></p-sortIcon>
                    </th>

                    <th pSortableColumn="code" style="width:80px">
                      {{l('Code')}}
                      <p-sortIcon field="code"></p-sortIcon>
                    </th>

                    <th pSortableColumn="name">
                      {{l('Name')}}
                      <p-sortIcon field="name"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <!-- RestrictLocationDataTable Header-End -->

                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td *ngIf="!isReadonly">
                      <p-tableCheckbox [value]="record"></p-tableCheckbox>
                    </td>

                    <td>{{record.id}}</td>

                    <td>{{record.code}}</td>

                    <td>{{record.name}}</td>
                  </tr>
                </ng-template>

              </p-table>

              <div class="primeng-no-data" *ngIf="restrictLocationDataTableHelper.totalRecordsCount === 0">
                {{l('NoData')}}
              </div>

              <div class="primeng-paging-container">
                <p-paginator #restrictLocationPaginator
                  [rows]="restrictLocationDataTableHelper.defaultRecordsCountPerPage"
                  (onPageChange)="getRestrictLocations($event)"
                  [totalRecords]="restrictLocationDataTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="restrictLocationDataTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>

                <span class="total-records-count">
                  {{l('TotalRecordsCount', restrictLocationDataTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!-- LocationOrGroupDataTable-End -->

          </tab>
          <!-- End RestrictLocation -->

        </tabset>
      </div>
      <!-- End Modal Footer -->

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button *ngIf="!isReadonly" type="button" class="btn btn-secondary" (click)="clear()">
          {{l("Clear")}}
        </button>

        <div class="flex-grow-1"></div>

        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          {{l("Cancel")}}
        </button>

        <button class="btn btn-primary" (click)="save()">
          <i *ngIf="!isReadonly" class="fa fa-save"></i>
          <span *ngIf="!isReadonly">{{l("Save")}}</span>
          <span *ngIf="isReadonly">{{l("OK")}}</span>
        </button>
      </div>
      <!-- End Modal Footer -->

    </div>
  </div>
</div>