<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>{{l('SortItem')}}</span>
                </h5>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="promotion-container">
                    <div
                      cdkDropList
                      #todoList="cdkDropList"
                      [cdkDropListData]="promotions"
                      class="promotion-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="promotion-box" *ngFor="let item of promotions" cdkDrag>{{item.name}}</div>
                    </div>
                  </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary text-uppercase"
                    (click)="close()">{{l("Cancel")}}</button>
                <button class="btn btn-primary text-uppercase" (click)="save()">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>
    </div>
</div>