<div [@routerTransition]>
    
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ManageQueues' | localize">
            <div role="actions">
                <button class="btn btn-primary" type="button" (click)="openLocationsModal()">
                    {{ l('Location') + ': ' + (location?.locationId ? location?.locationName : '') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div *ngIf="!queueLocation.enableQueue" class="alert alert-danger d-flex align-items-center" role="alert">
                        <i class="fa fa-exclamation-triangle text-white" aria-hidden="true"></i>
                        <div class="ml-2">The Queue Location is turning off</div>
                    </div>
                    <div *ngIf="queueLocation.queueLocationOptions?.length == 0" class="alert alert-danger d-flex align-items-center" role="alert">
                        <i class="fa fa-exclamation-triangle text-white" aria-hidden="true"></i>
                        <div class="ml-2">Have no any the Queue Option is active</div>
                    </div>

                    <ng-container *ngFor="let option of queueLocationOptions">
                        <app-customer-queue [queueLocation]="queueLocation" [option]="option" (reload)="getQueueLocationFullData()"></app-customer-queue>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<select-single-location #selectLocation [location]="location" (locationAdded)="setLocation($event)"> </select-single-location>
