.close {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background: url(assets/static/svg/dashboard/close.svg) no-repeat center center;
    background-size: cover;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -30px;
}

.modal-dialog::before {
    display: none;
}

.modal-content {
    max-width: unset;
    margin-top: 40px;
}