<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #driverForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="driver.id">{{l("EditDriver")}}</span>
                        <span *ngIf="!driver.id">{{l("CreateNewDriver")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Driver">{{l("Driver")}} *</label>
                            <input type="text" id="Driver" class="form-control" [(ngModel)]="driver.driver"
                                name="driver" required #driverInput="ngModel" />
                            <validation-messages [formCtrl]="driverInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Vehicle">{{l("Vehicle")}} </label>
                            <input type="text" id="Vehicle" class="form-control" [(ngModel)]="driver.vehicle"
                                name="vehicle" #vehicleInput="ngModel" />
                            <validation-messages [formCtrl]="vehicleInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Phone">{{l("Phone")}} </label>
                            <input type="text" id="Phone" class="form-control" [(ngModel)]="driver.phone"
                                name="phone" #phoneInput="ngModel" />
                            <validation-messages [formCtrl]="phoneInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="CompanyId">{{l("CompanyId")}} </label>
                            <input type="text" id="CompanyId" class="form-control" [(ngModel)]="driver.companyId"
                                name="companyId" #companyIdInput="ngModel" />
                            <validation-messages [formCtrl]="companyIdInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="UserName">{{l("UserName")}} </label>
                            <input type="text" id="UserName" class="form-control" [(ngModel)]="driver.userName"
                                name="userName" #userNameInput="ngModel" />
                            <validation-messages [formCtrl]="userNameInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Password">{{l("Password")}} </label>
                            <input type="text" id="Password" class="form-control" [(ngModel)]="driver.password"
                                name="password" #passwordInput="ngModel" />
                            <validation-messages [formCtrl]="passwordInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="HomeAddress">{{l("HomeAddress")}} </label>
                            <input type="text" id="HomeAddress" class="form-control"
                                [(ngModel)]="driver.homeAddress" name="homeAddress" #homeAddressInput="ngModel" />
                            <validation-messages [formCtrl]="homeAddressInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="trackDepotId">{{l("ShipFrom")}} </label>
                            <select id="trackDepotId" class="form-control" [(ngModel)]="driver.trackDepotId"
                                name="Country" #trackDepotIdInput="ngModel">
                                <option [value]="undefined">
                                    {{"------" | localize}}
                                </option>
                                <option *ngFor="let item of lstTrackDepot" [value]="item.value">
                                    {{item.displayText}}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="trackDepotIdInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Zone">{{l("Zone")}} </label>
                            <input type="text" id="Zone" class="form-control" [(ngModel)]="driver.zone" name="zone"
                                #zoneInput="ngModel" />
                            <validation-messages [formCtrl]="zoneInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="checkbox-list-markItem">
                                <p-checkbox name="active" label="Active" binary="true" [(ngModel)]="driver.active">
                                </p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!driverForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>