<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Drivers' | localize" [description]="'DriversHeaderInfo' | localize">
            <div role="actions">
                <button 
                            (click)="createDriver()" class="btn btn-primary blue">
                            <i class="fa fa-plus"></i>
                            {{l("CreateNewDriver")}}
                        </button>
            </div>
        </sub-header>
        
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getDrivers()" class="btn btn-primary"
                                                    type="submit">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getDrivers($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px"
                                            >
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="driver">
                                            {{l('Driver')}}
                                            <p-sortIcon field="driver"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="vehicle">
                                            {{l('Vehicle')}}
                                            <p-sortIcon field="vehicle"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="phone">
                                            {{l('Phone')}}
                                            <p-sortIcon field="phone"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="companyId">
                                            {{l('CompanyId')}}
                                            <p-sortIcon field="companyId"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="userName">
                                            {{l('UserName')}}
                                            <p-sortIcon field="userName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="password">
                                            {{l('Password')}}
                                            <p-sortIcon field="password"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" >
                                            {{l('Depot/ShipFrom')}}
                                        </th>
                                        <th style="width: 200px" pSortableColumn="homeAddress">
                                            {{l('HomeAddress')}}
                                            <p-sortIcon field="homeAddress"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="zone">
                                            {{l('Zone')}}
                                            <p-sortIcon field="zone"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px">
                                            {{l('Active')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="createOrEditDriver.show(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="deleteDriver(record)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Driver')}}</span>
                                            {{record.driver}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Vehicle')}}</span>
                                            {{record.vehicle}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Phone')}}</span>
                                            {{record.phone}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('CompanyId')}}</span>
                                            {{record.companyId}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('UserName')}}</span>
                                            {{record.userName}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Password')}}</span>
                                           <span *ngIf="!record.hidePassword">{{record.password}}</span> 
                                           <span *ngIf="record.hidePassword">******</span> 
                                            <span class="float-right margin-right-5 cursor-pointer" (click)="showHidePassword(record)">
                                                <i class="fas" [ngClass]="record.hidePassword == true ? 'fa-eye' : 'fa-eye-slash'" ></i>
                                            </span>
                                        </td> 
                                        <td style="width:200px">
                                            <span class="ui-column-title"> {{l('ShipFrom')}}</span>
                                            {{record.shipFrom}}
                                        </td>

                                        <td style="width:200px">
                                            <span class="ui-column-title"> {{l('HomeAddress')}}</span>
                                            {{record.homeAddress}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Zone')}}</span>
                                            {{record.zone}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Active')}}</span>
                                            {{record.active}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getDrivers($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <app-create-or-edit-driver-modal #createOrEditDriverModal (modalSave)="getDrivers()">
        </app-create-or-edit-driver-modal>
    </div>
</div>