﻿<div appBsModal #createOrEditModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="createOrEditModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productGroupForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productGroup.id">{{l("EditProductGroup")}}</span>
                        <span *ngIf="!productGroup.id">{{l("CreateNewProductGroup")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="ProductGroup_Code">{{l("Code")}} *</label>
                        <input autoFocus type="text" id="ProductGroup_Code" class="form-control" required
                            [(ngModel)]="productGroup.code" #code="ngModel" name="Code" minlength="0" maxlength="50" placeholder="Code"/>
                        <validation-messages [formCtrl]="code"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="ProductGroup_Name">{{l("Name")}} *</label>
                        <input type="text" id="ProductGroup_Name" class="form-control" required
                            [(ngModel)]="productGroup.name" name="Name" #name="ngModel" minlength="0" maxlength="255" placeholder="Name"/>
                        <validation-messages [formCtrl]="name"></validation-messages>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!productGroupForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>

    </div>
</div>