<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'ProductGroups' | localize" [description]="'ProductGroupsHeaderInfo' | localize">
    </sub-header>

    <div [class]="containerClass" class="d-flex">
      <div class="col-6">
        <div class="card card-custom gutter-b">
          <div class="m-2 card-header">
            <div class="w-50">
              <h4>{{'ProductGroups' | localize}}</h4>
            </div>
            <div class="w-50">
              <button type="button" class="btn btn-primary pull-right" (click)="createProductGroup()">Add Group</button>

              <button type="button" class="btn btn btn-primary pull-right mr-2" (click)="showLanguages()"
                *ngIf="selectedGroup?.data.id">
                language</button>
            </div>
          </div>
          <div class="card-body">
            <div class="">
              <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
              <p-tree [value]="treeData" selectionMode="single" emptyMessage="No group..." selectionMode="single"
                [(selection)]="selectedGroup" (onNodeSelect)="nodeSelect($event)" [contextMenu]="cm">
                <ng-template let-node pTemplate="default">
                  <span>{{ node.label }} ({{node.categoriesCount}})</span>
                </ng-template>
              </p-tree>

            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card card-custom gutter-b">
          <div class="m-2 card-header">
            <div class="w-50">
              <h4>{{'Category' | localize}}: {{selectedGroup?.label}}</h4>
            </div>
            <div class="w-5">
              <button type="button" class="btn btn-primary pull-right" (click)="selectCategory()">
                Link Category</button>
            </div>
          </div>
          <div class="card-body">

            <div class="row align-items-center">
              <!--<Primeng-Datatable-Start>-->
              <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                <p-table #dataTable (onLazyLoad)="getCategoriesByGroup($event)" [value]="primengTableHelper.records"
                  rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                  [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                  [resizableColumns]="primengTableHelper.resizableColumns">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 150px" pSortableColumn="code">
                        {{l('Code')}}
                        <p-sortIcon field="code"></p-sortIcon>
                      </th>
                      <th style="width: 150px" pSortableColumn="name">
                        {{l('Name')}}
                        <p-sortIcon field="name"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                      <td style="width:150px">
                        <span class="ui-column-title"> {{l('Code')}}</span>
                        {{record.code}}
                      </td>
                      <td style="width:150px">
                        <span class="ui-column-title"> {{l('Name')}}</span>
                        {{record.name}}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                  {{l('NoData')}}
                </div>
                <div class="primeng-paging-container">
                  <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    (onPageChange)="getCategoriesByGroup($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                  </p-paginator>
                  <span class="total-records-count">
                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                  </span>
                </div>
              </div>
              <!--<Primeng-Datatable-End>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <createOrEditProductGroupModal #createOrEditProductGroupModal (modalSave)="getProductGroups()">
    </createOrEditProductGroupModal>
  </div>

  <select-popup #selectCategoryPopupModal [headers]="['Id','Name']" [dataBinding]="['id','name']"
    [loadData]="getCategorySelection()" (changeValue)="addCategory($event)" selectionMode="multiple"
    [selectedValue]="selectedCategory" [title]="l('SelectCategory')"></select-popup>
</div>

<createOrEditLanguageDescriptionModal #createOrEditLanguageDescriptionModal>
</createOrEditLanguageDescriptionModal>