<div class="wrapper-welcome" [formGroup]="formGroup">
  <div class="wrapper-logo" *ngIf="logoUrl">
    <img [src]="logoUrl" class="logo" />
  </div>
  <p id="title">Welcome to LevelFive</p>
  <p id="note">Please fill to the form to continue</p>
  <div class="wrapper-input-control">
    <label for="" class="lbl-input-field">Phone number</label>
    <ngx-intl-tel-input [cssClass]="'custom'" class="phone-input border-0" [preferredCountries]="preferredCountries"
      [enableAutoCountrySelect]="false" [enablePlaceholder]="true" customPlaceholder="Phone number"
      [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
      [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Singapore" [maxLength]="15"
      [tooltipField]="TooltipLabel.Name" [numberFormat]="PhoneNumberFormat.National" [phoneValidation]="true"
      [separateDialCode]="true" name="phone" formControlName="phoneNumber">
    </ngx-intl-tel-input>
    <div class="wrapper-error-msg">
      <span class="error-msg" *ngIf="
          phoneNumber.invalid &&
          !phoneNumber.errors.validatePhoneNumber?.valid &&
          !phoneNumber.errors.required &&
          (phoneNumber.touched || phoneNumber.dirty)
        ">{{ errInvalidPhoneMsg }}</span>
      <span class="error-msg" *ngIf="
          phoneNumber.invalid &&
          phoneNumber.errors.required &&
          phoneNumber.touched &&
          phoneNumber.dirty
        ">{{ errPhoneMsg }}</span>
    </div>
  </div>
  <p id="remind">
    Phone number should be given correctly since we might contact you for any
    changes or confirmation
  </p>
  <p id="remind" style="margin-bottom: 2rem">
    By clicking "<strong style="color: #282144">Continue</strong>", I agree to
    DinePlan
    <a style="text-decoration: underline; color: #236dff">Privacy Policy</a>
  </p>
  <button pRipple pButton class="btn-dine-primary" type="submit" label="Continue" (click)="onSubmit()"></button>
  <p id="footer" style="margin-top: 2rem">
    Powered by
    <strong style="color: #282144">
      <a href="https://lfsolutions.net" style="text-decoration: underline; color: #236dff; display: block">LevelFive</a>
      ></strong>
  </p>
</div>