.wrapper-welcome {
  .wrapper-logo {
    margin: 0 auto;
    .logo {
      width: 100%;
    }
  }
  #title {
    color: #282144;
    // font-family: "New York";
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 3rem;
    text-align: center;
    margin: 0;
  }
  #note {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .wrapper-input-control {
    margin-bottom: 0.5rem;
    ::ng-deep .phone-input {
      .separate-dial-code {
        width: 100%;
        .iti__selected-flag {
          width: 4.5rem !important;
          border-right: 1px solid #e5e5e5;
        }
        .custom {
          width: 100%;
          height: 3rem;
          font-family: Mulish;
          font-size: 1.1rem;
          box-sizing: border-box;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          background-color: #ffffff;
          padding-left: 5rem !important;
          &::placeholder {
            color: #9e9ea7;
          }
        }
      }
    }
    .wrapper-error-msg {
      height: 1.2rem;
      .error-msg {
        font-family: Mulish;
        font-size: 0.86rem;
        line-height: 1.2rem;
        display: block;
      }
    }
  }
  #remind {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 0.86rem;
    letter-spacing: 0;
    line-height: 1.2rem;
  }

  #footer {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 0.86rem;
    letter-spacing: 0;
    line-height: 1.2rem;
    text-align: center;
  }
}
