<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TicketSales' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-primary">{{ l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="row widget-wrap">
                <div class="widget-box total">
                    <div class="">
                        <div class="display">
                            <div class="number">
                                <h2 class="">{{ totalTicketAmount | number: '1.0-2' }}</h2>
                                <small>{{ l('Total') }} </small>
                            </div>
                            <div class="icon">
                                <img src="assets/icons/chart.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box tickets">
                    <div class="">
                        <div class="display">
                            <div class="number">
                                <h2 class="">{{ totalTickets | number: '1.0-2' }}</h2>
                                <small>{{ l('Tickets') }} </small>
                            </div>
                            <div class="icon">
                                <img src="assets/icons/email.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box orders">
                    <div class="">
                        <div class="display">
                            <div class="number">
                                <h2 class="">{{ totalOrders | number: '1.0-2' }}</h2>
                                <small>{{ l('Orders') }} </small>
                            </div>
                            <div class="icon">
                                <img src="assets/icons/cart.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box items">
                    <div class="">
                        <div class="display">
                            <div class="number">
                                <h2 class="">{{ totalItems | number: '1.0-2' }}</h2>
                                <small>{{ l('Items') }} </small>
                            </div>
                            <div class="icon">
                                <img src="assets/icons/settings.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box average">
                    <div class="">
                        <div class="display">
                            <div class="number">
                                <h2 class="">{{ totalAverage | number: '1.0-2' }}</h2>
                                <small>{{ l('Average') }} </small>
                            </div>
                            <div class="icon">
                                <img src="assets/icons/vali.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-start justify-content-between">
                            <div class="d-flex flex-row align-items-start">
                                <div class="form-group m-form__group">
                                    <div class="search-text-box">
                                        <input
                                            name="filterText"
                                            autoFocus
                                            [(ngModel)]="requestParams.ticketNo"
                                            class="form-control search-text-input"
                                            [placeholder]="l('SearchWithThreeDot')"
                                            (keypress.enter)="getTickets()"
                                            type="text"
                                        />
                                        <i class="flaticon-search search-text-icon"></i>
                                    </div>
                                </div>
                                <div class="ml-2">
                                    <button (click)="openFilterModal()" type="submit" class="btn btn-filter">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>
                                            {{ l('Filter') }}
                                        </span>
                                    </button>
                                </div>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary" (click)="refresh()">Refresh</button>
                                <button type="button" class="btn btn-danger" (click)="clear()">Clear</button>
                                <div class="btn-group ml-1" dropdown>
                                    <button
                                        class="btn btn-success btn-export dropdown-toggle"
                                        type="button"
                                        data-toggle="dropdown"
                                        aria-expanded="false"
                                        [disabled]="disableExport"
                                        dropdownToggle
                                    >
                                        {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">
                                            {{ l('Id') }}
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ticketNumber">
                                            {{ l('TicketNo') }}
                                            <p-sortIcon field="ticketNumber"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="locationName">
                                            {{ l('Location') }}
                                            <p-sortIcon field="locationName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="terminalName">
                                            {{ l('Terminal') }}
                                            <p-sortIcon field="terminalName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="departmentName">
                                            {{ l('Department') }}
                                            <p-sortIcon field="departmentName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="lastModifiedUserName">
                                            {{ l('User') }}
                                            <p-sortIcon field="lastModifiedUserName"></p-sortIcon>
                                        </th>
                                        <!-- <th pSortableColumn="totalAmount">
                                            {{ l('TotalAmount') }}
                                            <p-sortIcon field="totalAmount"></p-sortIcon>
                                        </th> -->
                                        <th>
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Id') }}</span>
                                            {{ record.id }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TicketNo') }}</span>
                                            {{ record.ticketNumber }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Location') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Terminal') }}</span>
                                            {{ record.terminalName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Department') }}</span>
                                            {{ record.departmentName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('User') }}</span>
                                            {{ record.lastModifiedUserName }}
                                        </td>
                                        <!-- <td>
                                            <span class="ui-column-title"> {{ l('TotalAmount') }}</span>
                                            {{ record.totalAmount }}
                                        </td> -->
                                        <td>
                                            <div class="btn-group dropdown" dropdown container="body" style="margin-right: 8px">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                    <!-- <i class="fa fa-cog"></i> -->
                                                    <span class="caret"></span>
                                                    <span class="mr-5">{{ 'Actions' | localize }}</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                                    <li class="dropdown-item">
                                                        <a (click)="showDetails(record)">{{ l('View Detail') }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="8">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7"></td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationValue | number: '1.2' }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getTickets($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <app-filter-modal #filterModal (applyFilter)="onFilter($event)" (close)="isShowFilterOptions = false"> </app-filter-modal>
</p-sidebar>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
<app-order-report-detail-modal #detailmodal></app-order-report-detail-modal>
