.primeng-datatable-container .primeng-no-data {
    font-weight: normal;
    border: unset;
    border-bottom: 1px solid #f4f5f8;
}

.kt-font-transform-c {
    text-transform: capitalize !important;
}

.widget-wrap {
    grid-gap: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding: 0 15px
}

.widget-box {
    width: calc(20% - 24px);
    padding: 30px;
    border-radius: 6px;
}

.widget-box .number h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.widget-box .display  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.widget-box .number small {
    font-size: 12px;
    color: #fff;
    /* text-transform: capitalize; */
}

.widget-box.total {
    background-color: #0BB783;
}

.widget-box.tickets {
    background-color: #F64E60;
}

.widget-box.orders {
    background-color: #1BC5BD;
}

.widget-box.items {
    background-color: #009EF7;
}

.widget-box.average {
    background-color: #FFA800;
}

.btn.btn-default.dropdown-toggle {
    color: #333333;
}