@media (max-width: 1024px) {
    .top-kt {
        margin-top: 1vh;
    }
}

@media (min-width: 1025px) {
    .top-kt {
        margin-top: -5vh;
    }
}

form {
    .form-group {
        input,
        select {
            border: 1px solid #ced4da;
        }
    }
}
