<div class="image-upload-container">
    <div *ngIf="!ngModel" class="dropzone dropzone-default dz-clickable dz-started dz-max-files-reached" [id]="id" [busyIf]="loading">
        <div class="image-section-request-image-group">
            <ng-content></ng-content>
        </div>
    </div>

    <div *ngIf="ngModel" class="image-section-request-image-container">
        <img alt="" class="image-section-request-image" [src]="ngModel" />
    </div>

    <button *ngIf="!ngModel" class="btn btn-secondary" style="padding: 0px; margin-top: 10px; margin-left: 105px;" type="button">
        <input [accept]="acceptedFiles" style="opacity: 0; width: 100px; position: absolute;" type="file"
            (change)="fileChangeEvent($event)" />
        <span style="padding: 20px;">Browse</span>
    </button>

    <div *ngIf="ngModel" class="btn-group m-btn-group" role="group" style="margin-left: 65px; margin-top: 10px;">
        <button class="btn btn-secondary" style="padding: 0px;" type="button">
            <input [accept]="acceptedFiles" style="opacity: 0;width: 100px;position: absolute;"
                type="file" (change)="fileChangeEvent($event)">
            <span style="padding: 20px;">Change</span>
        </button>
        <button class="btn btn-secondary" style="padding: 0px;" (click)="remove()">
            <span style="padding: 20px;">Remove</span>
        </button>
    </div>
</div>

<!-- showmodal -->
<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{"Crop Image" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" format="png" (imageCropped)="imageCropped($event)" [resizeToWidth]="width" [resizeToHeight]="height" [cropperMinWidth]="width" [cropperMinHeight]="height"
                                [onlyScaleDown]="false" [roundCropper]="false" [transform]="transform" [alignImage]="'center'" [containWithinAspectRatio]="containWithinAspectRatio" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                        </div>
                    </div>
                    <div class="zoom-image mt-8">
                        <p-slider name="scale" [(ngModel)]="scale" [step]="step" [min]="min" [max]="max" [style]="{'width':'14em'}" (onChange)="onChangeScale($event)"></p-slider>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!userForm.form.valid"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>