.image-upload-container {
    position: relative;
    width: 70%;
    height: 70%;

    .image-section-request-image-container {
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 30px;
        text-align: center;
        padding: 10px;

        .image-section-request-image {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .image-section-request-image-group {
        height: 100%;
    }

    .dropzone {
        height: 100%;
        padding: 0;
    }
}
.zoom-image{
 display: flex;
 justify-content: center;
}
