<div class="logout">
    <div class="container">
        <img src="/assets/image/close.png" class="icon-close" mat-dialog-close >
        <div class="logout-content">
            <div class="text">
                Enter Price
            </div>
            <div class="price">
                <input type="number" placeholder="Enter price" [(ngModel)]="price">
            </div>
        </div>
        <div class="logout-line"></div>
        <div class="logout-back-menu">
            <button mat-dialog-close>Cancel</button>
            <button (click)="enterPrice()">OK</button>
        </div>
    </div>
</div>