.three-dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.backgroundColor__white{
    background-color: white;
}
.content__expand{
    padding: 0rem 1rem !important;
}
.row--actived{
    background-color: #ff6600 !important;
    color: white !important;
}
