<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Analytics' | localize" [description]="'AnalyticsHeaderInfo' | localize">
            <div role="actions">
                <div class="btn-group dropdown" dropdown container="body">
                    <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                        <span class="caret"></span>
                        {{ l('Exports') }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                        <li>
                            <a href="javascript:;" class="dropdown-item">{{ l('Driver statistics')}}</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="dropdown-item">{{ l(' Overview of Items')}}</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="dropdown-item">{{ l('Trip Summary by Driver')}}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group align-items-center">
                                        <input type="text" placeholder="" class="form-control" bsDaterangepicker
                                            [(ngModel)]="dateRange" name="date" [bsConfig]="{
                                                isAnimated: true,
                                                rangeInputFormat: 'YYYY-MM-DD',
                                                dateInputFormat: 'YYYY-MM-DD',
                                                showWeekNumbers: false
                                            }" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getAll()" class="btn btn-primary" type="submit">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                                dataKey="id" (onRowExpand)="onRowExpand($event)" selectionMode="multiple"
                                [(selection)]="selectedOrders" [scrollable]="true" [scrollHeight]="'flex'"
                                [responsive]="true" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 50px">
                                        </th>
                                        <th style="width: 100px" pSortableColumn="order.Type">
                                            {{l('Type')}}
                                            <p-sortIcon field="order.Type"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="order.Number">
                                            {{l('OrderNo')}}
                                            <p-sortIcon field="order.Number"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="order.Date">
                                            {{l('Date')}}
                                            <p-sortIcon field="order.Date"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="RoutePoint.Route.Driver.Driver">
                                            {{l('Driver')}}
                                            <p-sortIcon field="RoutePoint.Route.Driver.Driver"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="RoutePoint.Route.Code">
                                            {{l('Route')}}
                                            <p-sortIcon field="RoutePoint.Route.Code"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px"  pSortableColumn="order.Client">
                                            {{l('Client')}}
                                            <p-sortIcon field="order.Client"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="order.address">
                                            {{l('Address')}}
                                            <p-sortIcon field="order.address"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="order.status">
                                            {{l('Status')}}
                                            <p-sortIcon field="order.status"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px">
                                            {{l('Time')}}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="order.depotAddress">
                                            {{l('Depot/ShipFrom')}}
                                            <p-sortIcon field="order.depotAddress"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="order.Zone">
                                            {{l('Zone')}}
                                            <p-sortIcon field="order.Zone"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                                    <tr (click)="clickOrder(rowData)"
                                        [ngClass]="{'row--actived': rowData.isActive == true }">
                                        <td style="width: 50px">
                                            <a href="#" [pRowToggler]="rowData">
                                                <i
                                                    [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                            </a>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Type')}}</span>
                                            {{rowData.type}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('OrderNo')}}</span>
                                            {{rowData.number}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Date')}}</span>
                                            {{rowData.date | date: "dd/MM/yyyy"}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Driver')}}</span>
                                            {{rowData.driver}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Route')}}</span>
                                            {{rowData.routeCode}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Client')}}</span>
                                            {{rowData.client}}
                                        </td>
                                        <td style="width:150px" class="three-dots">
                                            <span class="ui-column-title"> {{l('Address')}}</span>
                                            {{rowData.address}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Status')}}</span>
                                            {{rowData.status ? "Closed" : ""}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Time')}}</span>
                                            {{rowData.time}}
                                        </td>
                                        <td style="width:150px" class="three-dots">
                                            <span class="ui-column-title"> {{l('Depot/ShipFrom')}}</span>
                                            {{rowData.depotAddress}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Zone')}}</span>
                                            {{rowData.zone}}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="rowexpansion" let-rowData>
                                    <tr>
                                        <td [attr.colspan]="12">
                                            <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                                                <tabset
                                                    class="tab-container tabbable-line w-100 backgroundColor__white">
                                                    <tab heading="{{l('Goods')}}" customClass="kt-tabs__item"
                                                        tabindex="0" class="p-5">
                                                        <div class="row">
                                                            <!-- Ghost -->
                                                            <div
                                                                class="card-body content__expand primeng-datatable-container">
                                                                <p-table [value]="rowData.goods" dataKey="id">
                                                                    <ng-template pTemplate="header">
                                    <tr>
                                        <th> {{l("Code")}}</th>
                                        <th> {{l("Name")}}</th>
                                        <th> {{l("Unit")}}</th>
                                        <th> {{l("Qty")}}</th>
                                        <th> {{l("Price")}}</th>
                                        <th> {{l("Rejected")}}</th>
                                        <th> {{l("ReasonForRejected")}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                    <tr>
                                        <td>{{rowData.code}}</td>
                                        <td>{{rowData.name}}</td>
                                        <td>{{rowData.metrik}}</td>
                                        <td>{{rowData.amount}}</td>
                                        <td>{{rowData.cost}}</td>
                                        <td>{{rowData.rejected}}</td>
                                        <td>{{rowData.reasonForRejected}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    </tab>
                    <tab heading="{{l('Info')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="font-weight-bold">{{l("ContactDetail")}} :</span>
                                    <span class="margin-left-5">{{rowData.contactName}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("Email")}} :</span>
                                    <span class="margin-left-5">{{rowData.email}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("TimeSlot")}} :</span>
                                    <span class="margin-left-5">{{rowData.timeSlot}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("Note")}} :</span>
                                    <span class="margin-left-5">{{rowData.note}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("BarCode")}} :</span>
                                    <span class="margin-left-5">{{rowData.barCode}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("CreatedBy")}} :</span>
                                    <span class="margin-left-5">{{rowData.createdBy}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("DateCreated")}} :</span>
                                    <span class="margin-left-5">{{rowData.date | momentFormat: 'DD/MM/YYYY' }}</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <span class="font-weight-bold">{{l("Weight")}} :</span>
                                    <span class="margin-left-5">{{rowData.weight}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("Volume")}} :</span>
                                    <span class="margin-left-5">{{rowData.volume}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("Pallets")}} :</span>
                                    <span class="margin-left-5">{{rowData.pallets}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("Code")}} :</span>
                                    <span class="margin-left-5">{{rowData.code}}</span>
                                </p>
                                <p>
                                    <span class="font-weight-bold">{{l("ActualCode")}} :</span>
                                    <span class="margin-left-5">{{rowData.actualCode}}</span>
                                </p>
                            </div>
                        </div>
                    </tab>
                    </tabset>
                </div>
                </td>
                </tr>
                </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    {{l('NoData')}}
                </div>
                <div class="primeng-paging-container">
                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                        (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                    </p-paginator>
                    <span class="total-records-count">
                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                    </span>
                </div>
            </div>
            <!--<Primeng-Datatable-End>-->
        </div>
    </div>
</div>
</div>
<app-create-or-edit-address-modal #createOrEditAddressModal (modalSave)="getAll()">
</app-create-or-edit-address-modal>
</div>
</div>
