<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!paymentType.id ? l('CreateNewPaymentType') : l('EditPaymentType')">
      <div role="actions">
        <button (click)="openSelectLocationModal()" class="btn btn-primary">
          <i class="fa fa-file"></i> {{l("Locations")}}
        </button>
        <input class="form-control" name="paymentType.locationId" [(ngModel)]="paymentType.locationId" type="text"
          hidden>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <form #paymentTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
          <div class="card-body">

            <tabset class="tab-container tabbable-line">
              <tab heading="{{l('BasicInformation')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">{{l("Name")}} *</label>
                    <div class="w-100 d-flex">
                      <input autoFocus type="text" id="PaymentType_Name" class="form-control"
                        [(ngModel)]="paymentType.name" name="Name" required #nameInput="ngModel"
                        [ngClass]="{'w-75': paymentType.id}" />
                      <div *ngIf="paymentType.id" class="w-25">
                        <button type="button" class="btn btn btn-primary pull-right" (click)="showLanguages()">
                          language</button>
                      </div>
                    </div>
                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="PaymentType_Processors">{{l("Processor")}}</label>
                      <select id="PaymentType_Processors" class="form-control"
                        [(ngModel)]="paymentType.paymentProcessor" name="Processors">
                        <option [value]="0">
                          {{"NotAssigned" | localize}}
                        </option>
                        <option *ngFor="let processor of paymentProcessors" [value]="processor.value">
                          {{processor.displayText}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="PaymentType_AccountCode">{{l("AccountCode")}}</label>
                      <input type="text" id="PaymentType_AccountCode" class="form-control"
                        [(ngModel)]="paymentType.accountCode" name="AccountCode" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="PaymentType_PaymentGroup">{{l("Group")}}</label>
                      <input type="text" id="PaymentType_PaymentGroup" class="form-control"
                        [(ngModel)]="paymentType.paymentGroup" name="PaymentGroup" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="PaymentType_PaymentTag">{{l("Tag")}}</label>
                      <tag-input [(ngModel)]='paymentTags' name="PaymentTag" class="w-100" inputClass="w-100"
                        placeholder="Enter the Tag & press Enter key to add"
                        secondaryPlaceholder="Enter the Tag & press Enter key to add">
                      </tag-input>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="PaymentType_Department">{{l("Deparment")}}</label>
                      <div class="w-100">
                        <p-multiSelect defaultLabel="" [filter]="true" styleClass="w-100" name="departmentId"
                          [options]="departments" [dataKey]="'value'" [(ngModel)]="selectedDepartments"
                          optionLabel="displayText">
                        </p-multiSelect>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="PaymentType_TenderType">{{l("TenderType")}}</label>
                      <select id="PaymentType_TenderType" class="form-control"
                        [(ngModel)]="paymentType.paymentTenderType" name="TenderType">
                        <option *ngFor="let tenderType of paymentTenderTypes" [value]="tenderType.value">
                          {{tenderType.displayText}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-3">
                    <div class="checkbox-list">
                      <label for="PaymentType_DisplayInShift" class="checkbox">
                        <input [(ngModel)]="paymentType.displayInShift" id="PaymentType_DisplayInShift" type="checkbox"
                          name="DisplayInShift">
                        {{l("DisplayInShift")}}
                        <span></span>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="checkbox-list">
                      <label for="PaymentType_AcceptChange" class="checkbox">
                        <input id="PaymentType_AcceptChange" type="checkbox" name="AcceptChange"
                          [(ngModel)]="paymentType.acceptChange">
                        {{l("AcceptChange")}}
                        <span></span>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="checkbox-list">
                      <label for="PaymentType_NoRefund" class="checkbox">
                        <input id="PaymentType_NoRefund" type="checkbox" name="NoRefund"
                          [(ngModel)]="paymentType.noRefund">
                        {{l("NoRefund")}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="checkbox-list">
                      <label for="PaymentType_AutoPayment" class="checkbox">
                        <input id="PaymentType_AutoPayment" type="checkbox" name="AutoPayment"
                          [(ngModel)]="paymentType.autoPayment">
                        {{l("AutoPayment")}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </tab>

              <tab heading='{{l("Limit")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==1"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Minimum")}}</label>
                      <input class="form-control" type="number" [(ngModel)]="paymentSetting.MinAmount" name="MinAmount"
                        #MinAmountInput="ngModel" required>
                      <validation-messages [formCtrl]="MinAmountInput"></validation-messages>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Maximum")}}</label>
                      <input class="form-control" type="number" [(ngModel)]="paymentSetting.MaxAmount" name="MaxAmount"
                        #maxAmountInput="ngModel" required>
                      <validation-messages [formCtrl]="maxAmountInput"></validation-messages>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="checkbox-list">
                      <label for="IncludePastPayments" class="checkbox">
                        <input id="IncludePastPayments" type="checkbox" name="IncludePastPayments"
                          [(ngModel)]="paymentSetting.IncludePastPayments">
                        {{l("IncludePastPayments")}}
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading='{{l("Discount")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==2"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Type")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.CalculationName"
                        name="CalculationName">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Value")}}</label>
                      <input class="form-control" type="number" [(ngModel)]="paymentSetting.Rate" name="Rate" required
                        #rateInput="ngModel">
                      <validation-messages [formCtrl]="rateInput"></validation-messages>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Minimum")}}</label>
                      <input class="form-control" type="number" [(ngModel)]="paymentSetting.MinAmount" name="MinAmount1"
                        #minAmount1Input="ngModel" required>
                      <validation-messages [formCtrl]="minAmount1Input"></validation-messages>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading='{{l("Confirmation")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==3"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Message")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.ConfirmationMessage"
                        name="ConfirmationMessage" required #confirmationInput="ngModel">
                      <validation-messages [formCtrl]="confirmationInput"></validation-messages>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading=' {{l("Description")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==4"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Description")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.Description"
                        name="Description1" required #descriptionInput="ngModel">
                      <validation-messages [formCtrl]="descriptionInput"></validation-messages>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("RegEx")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.RegEx" name="RegEx">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox-list">
                        <label for="Mandatory" class="checkbox">
                          <input id="Mandatory" type="checkbox" name="Mandatory" [(ngModel)]="paymentSetting.Mandatory">
                          {{l("Mandatory")}}
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
              </tab>
              <tab heading='{{l("Denomination")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==10"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Denomination")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.Denomination"
                        name="Denomination" required #denominationInput="ngModel">
                      <validation-messages [formCtrl]="denominationInput"></validation-messages>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("RegEx")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.RegEx" name="RegEx">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox-list">
                        <label for="AskReference" class="checkbox">
                          <input id="AskReference" type="checkbox" name="AskReference"
                            [(ngModel)]="paymentSetting.AskReference">
                          {{l("AskReference")}}
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading='{{l("WithHoldTax")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==11"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("WithHoldCode")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.withHoldCode"
                        name="WithHoldCode" required #WithHoldCodeInput="ngModel">
                      <validation-messages [formCtrl]="WithHoldCodeInput"></validation-messages>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Percentage")}}</label>
                      <input class="form-control" type="number" min="0" [(ngModel)]="paymentSetting.percentage"
                        name="Percentage">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("DifferenceWhtAmount")}}</label>
                      <input class="form-control" type="number" min="0" max="0.99"
                        [(ngModel)]="paymentSetting.differenceWhtAmount" name="DifferenceWhtAmount">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("DifferenceBaseAmount")}}</label>
                      <input class="form-control" type="number" min="0"
                        [(ngModel)]="paymentSetting.differenceBaseAmount" name="DifferenceBaseAmount">
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading='{{l("ChooseReason")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==12"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("ReasonGroup")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.reasonGroup"
                        name="ReasonGroup" #ReasonGroup="ngModel">
                      <validation-messages [formCtrl]="ReasonGroup"></validation-messages>
                    </div>
                  </div>

                </div>
              </tab>
              <tab heading='{{l("Pax")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==13"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Port")}}</label>
                      <input class="form-control" type="number" min="0" [(ngModel)]="paymentSetting.port" name="Port"
                        #Port="ngModel">
                      <validation-messages [formCtrl]="Port"></validation-messages>
                    </div>
                  </div>

                </div>
              </tab>
              <tab heading='{{l("Nets")}}' customClass="kt-tabs__item" *ngIf="paymentType.paymentProcessor==14"
                class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Port")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.port" name="Port"
                        placeholder="COM3" #Port="ngModel">
                      <validation-messages [formCtrl]="Port"></validation-messages>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("DefaultTag")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.defaultTag" name="DefaultTag"
                        placeholder="NETS" #DefaultTag="ngModel">
                      <validation-messages [formCtrl]="DefaultTag"></validation-messages>
                    </div>
                  </div>

                </div>
              </tab>
              <tab heading='{{l("Nets3Processor")}}' customClass="kt-tabs__item"
                *ngIf="paymentType.paymentProcessor==15" class="p-5">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("Port")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.port" name="Port"
                        placeholder="COM3" #Port="ngModel">
                      <validation-messages [formCtrl]="Port"></validation-messages>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>{{l("DefaultTag")}}</label>
                      <input class="form-control" type="text" [(ngModel)]="paymentSetting.defaultTag" name="DefaultTag"
                        placeholder="NETS" #DefaultTag="ngModel">
                      <validation-messages [formCtrl]="DefaultTag"></validation-messages>
                    </div>
                  </div>

                </div>
              </tab>
              <tab heading="{{l('Image')}}" customClass="kt-tabs__item" tabindex="10" class="p-5">
                <div class="row">
                  <div class="col-md-4" style="margin-bottom: 15px;">
                    <label class="w-100">{{l("SavedImage")}}</label>
                    <img *ngIf="paymentType.files" [src]="paymentType.files" alt="Image" class="image-preview">
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input id="paymentType_Images" name="Images" type="file" ng2FileSelect [uploader]="uploader" />
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of uploader.queue">
                            <td>
                              <strong>{{ item?.file?.name }}</strong>
                              <div class="w-100" *ngIf="uploader.options.isHTML5 && filePreviewPath">
                                <img [src]="filePreviewPath" class="image-preview">
                              </div>
                            </td>
                            <td *ngIf="uploader.options.isHTML5" nowrap>
                              {{ item?.file?.size/1024/1024 | number:'.2' }}
                              MB</td>
                            <td>
                              <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                  [ngStyle]="{ 'width': item.progress + '%' }"></div>
                              </div>
                            </td>
                            <td class="text-center">
                              <span *ngIf="item.isSuccess" class="text-success"><i
                                  class="fa fa-check-circle"></i></span>
                              <span *ngIf="item.isCancel" class="text-warning"><i class="fa fa-times-circle"></i></span>
                              <span *ngIf="item.isError" class="text-danger"><i
                                  class="fa fa-exclamation-triangle"></i></span>
                            </td>
                            <td nowrap>
                              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                                [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="fa fa-upload"></span> Upload
                              </button>
                              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                                [disabled]="!item.isUploading">
                                <span class="fa fa-times-circle"></span> Cancel
                              </button>
                              <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item)">
                                <span class="fa fa-trash"></span> Remove
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>

          </div>
          <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
              (click)="close()">{{l("Cancel")}}</button>
            <button type="submit" class="btn btn-primary blue" [disabled]="!paymentTypeForm.form.valid"
              [buttonBusy]="saving" [busyText]="l(' SavingWithThreeDot')"><i class="fa fa-save"></i>
              <span>{{l("Save")}}</span></button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
  </select-location-or-group>
  <createOrEditLanguageDescriptionModal #createOrEditLanguageDescriptionModal> </createOrEditLanguageDescriptionModal>
</div>