<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PaymentTypes' | localize" [description]="'PaymentTypesHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getPaymentTypes()">
                    {{l("Deleted")}}
                    <span></span>
                </label>
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Master.PaymentTypes.Create')"
                    (click)="createOrEditPaymentType()" class="btn btn-primary blue"><i class="fa fa-plus"></i>
                    {{l("CreateNewPaymentType")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getPaymentTypes()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group m-form__group col-md-6">
                                <div class="checkbox-list mt-3">
                                    <label for="IsAcceptChange" class="checkbox">
                                        <input id="IsAcceptChange" type="checkbox" name="IsAcceptChange"
                                            [(ngModel)]="isAcceptChange">
                                        {{"AcceptChange" | localize}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6 text-right">
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-primary" type="button"
                                        (click)="openFilterSelectLocationsModal()">
                                        {{l("LocationOrGroup")}}
                                        <span *ngIf="getLocationsSelected(locationOrGroup)">:
                                            {{getLocationsSelected(locationOrGroup)}}</span>
                                    </button>

                                    <div class="flex-fill"></div>

                                    <button type="button" class="btn btn-primary text-uppercase" (click)="refresh()"><i
                                            class="fa fa-sync"></i>
                                        {{"Refresh" | localize}}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{l("Search")}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getPaymentTypes($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.PaymentTypes.Edit', 'Pages.Tenant.Connect.Master.PaymentTypes.Delete')">
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="id">
                                            {{l('Id')}}
                                            <p-sortIcon field=".paymentType.id"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="paymentType.name"></p-sortIcon>
                                        </th>
                                        <th class="text-center" style="width: 150px" pSortableColumn="displayInShift">
                                            {{l('DisplayInShift')}}
                                            <p-sortIcon field="paymentType.displayInShift"></p-sortIcon>
                                        </th>
                                        <th class="text-center" style="width: 150px" pSortableColumn="acceptChange">
                                            {{l('AcceptChange')}}
                                            <p-sortIcon field="paymentType.acceptChange"></p-sortIcon>
                                        </th>
                                        <th class="text-center" style="width: 150px" pSortableColumn="noRefund">
                                            {{l('NoRefund')}}
                                            <p-sortIcon field="paymentType.noRefund"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{l('CreationTime')}}
                                            <p-sortIcon field="paymentType.creationTime"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.PaymentTypes.Edit', 'Pages.Tenant.Connect.Master.PaymentTypes.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.PaymentTypes.Edit')"
                                                            (click)="createOrEditPaymentType(record.paymentType.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.PaymentTypes.Delete')"
                                                            (click)="deletePaymentType(record.paymentType)">{{l('Delete')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.PaymentTypes.Edit')"
                                                            (click)="activateItem(record.paymentType)">{{ l('Revert')
                                                            }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Id')}}</span>
                                            {{record.paymentType.id}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                            {{record.paymentType.name}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('DisplayInShift')}}</span>
                                            <div *ngIf="record.paymentType.displayInShift" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.paymentType.displayInShift" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('AcceptChange')}}</span>
                                            <div *ngIf="record.paymentType.acceptChange" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.paymentType.acceptChange" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('NoRefund')}}</span>
                                            <div *ngIf="record.paymentType.noRefund" class="text-center"><i
                                                    class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.paymentType.noRefund" class="text-center"><i
                                                    class="fa fa-times-circle" title="False"></i></div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('CreationTime')}}</span>
                                            {{record.paymentType.creationTime | momentFormat:
                                            DATE_FORMAT.yyyyMMdd_hhmmss }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getPaymentTypes($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setFilterLocations($event)">
</select-location-or-group>
