<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!delAggItem?.id" [title]="'Create Item' | localize"> </sub-header>
        <sub-header *ngIf="delAggItem?.id" [title]="'Edit Item' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <tabset id="tabs" class="tab-container tabbable-line">
                            <tab [heading]="l('General')" tabindex="1">
                                <div class="row mt-8">
                                    <div class="col-md-6">
                                        <div class="form-group mt-8">
                                            <button
                                                *ngIf="!delAggItem.menuItemId"
                                                (click)="openforMenuItem()"
                                                type="button"
                                                class="btn btn-primary"
                                            >
                                                {{ l('MenuItem') }}
                                            </button>
                                            <button
                                                *ngIf="delAggItem.menuItemId"
                                                (click)="openforMenuItem()"
                                                type="button"
                                                class="btn btn-primary"
                                            >
                                                {{ delAggItem.menuItemId }} - {{ delAggItem.menuItemName }}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>{{ l('Name') }}</label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                name="Name"
                                                [(ngModel)]="delAggItem.name"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-1 mt-8" *ngIf="delAggItem.id">
                                        <button class="btn btn-sm btn-danger" type="button" (click)="openLanguageDescriptionModal()">
                                            <i class="fa fa-file"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="isRecommended" class="checkbox mr-2">
                                                <input
                                                    [(ngModel)]="delAggItem.isRecommended"
                                                    id="isRecommended"
                                                    name="isRecommended"
                                                    type="checkbox"
                                                />
                                                {{ l('Is Recommended') }}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">{{ l('Modifier Group') }}</label>
                                            <div class="w-100">
                                                <p-multiSelect
                                                    defaultLabel=""
                                                    [filter]="true"
                                                    styleClass="w-100"
                                                    id="modifiergroups"
                                                    name="modifiergroups"
                                                    [options]="modifiergroups"
                                                    [dataKey]="'id'"
                                                    [(ngModel)]="delAggModifierGroupItem"
                                                    optionLabel="name"
                                                >
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">{{ l('Group') }}</label>
                                            <p-dropdown
                                                [options]="itemgroups"
                                                [ngModel]="{ id: delAggItem.delAggItemGroupId }"
                                                (ngModelChange)="delAggItem.delAggItemGroupId = $event.id"
                                                name="itemGroups"
                                                styleClass="w-100"
                                                [placeholder]="l('Select Group')"
                                                [filter]="true"
                                                [optionLabel]="'name'"
                                                [dataKey]="'id'"
                                                [showClear]="true"
                                            >
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">{{ l('Category') }}</label>
                                            <p-dropdown
                                                [options]="categories"
                                                [ngModel]="{ id: delAggItem.delAggCatId }"
                                                (ngModelChange)="delAggItem.delAggCatId = $event.id"
                                                name="category"
                                                styleClass="w-100"
                                                [placeholder]="l('Select Category')"
                                                [filter]="true"
                                                [optionLabel]="'name'"
                                                [dataKey]="'id'"
                                                [showClear]="true"
                                            >
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">{{ l('Tax') }}</label>
                                            <p-dropdown
                                                [options]="taxes"
                                                [ngModel]="{ id: delAggItem.delAggTaxId }"
                                                (ngModelChange)="delAggItem.delAggTaxId = $event.id"
                                                name="tax"
                                                styleClass="w-100"
                                                [placeholder]="l('Select Tax')"
                                                [filter]="true"
                                                [optionLabel]="'name'"
                                                [dataKey]="'id'"
                                                [showClear]="true"
                                            >
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">{{ l('Description') }}</label>
                                            <textarea
                                                class="form-control"
                                                name="description"
                                                rows="4"
                                                [(ngModel)]="delAggItem.description"
                                            ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Portions') }}">
                                <div class="row mt-8">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ l('DelAggVariantGroup') }} {{ l('Name') }}</label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                name="DelAggVariantGroupName"
                                                [ngModel]="delAggVariantGroup?.name"
                                                disabled
                                            />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered col-md-12">
                                            <thead>
                                                <tr>
                                                    <th>{{ l('Delete') }}</th>
                                                    <th>{{ l('Portion') }}</th>
                                                    <th>{{ l('Name') }}</th>
                                                    <th>{{ l('SalesPrice') }}</th>
                                                    <th>{{ l('MarkupPrice') }}</th>
                                                    <th>{{ l('Add') }}</th>
                                                </tr>
                                            </thead>
                                            <tr *ngFor="let data of delAggVariants; let index = index">
                                                <td class="col-md-1">
                                                    <button
                                                        type="button"
                                                        class="btn btn-danger btn-sm"
                                                        (click)="removeRow(index)"
                                                    >
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                                <td class="col-md-2">
                                                    <button
                                                        *ngIf="!data.menuItemPortionId"
                                                        (click)="openforMenuItemPortions(data)"
                                                        type="button"
                                                        class="btn btn-primary"
                                                    >
                                                        Portion
                                                    </button>
                                                    <button
                                                        *ngIf="data.menuItemPortionId"
                                                        (click)="openforMenuItemPortions(data)"
                                                        type="button"
                                                        class="btn btn-primary"
                                                    >
                                                        {{ data.menuItemPortionId }} -
                                                        {{ data.menuItemPortionName }}
                                                    </button>
                                                </td>
                                                <td class="col-md-2">
                                                    <span class="mt-3">{{ data.menuItemPortionId }} - {{ data.menuItemPortionName }}</span>
                                                </td>

                                                <td class="col-md-2">
                                                    <input
                                                        class="form-control"
                                                        type="number"
                                                        name="SalesPrice"
                                                        [(ngModel)]="data.salesPrice"
                                                    />
                                                </td>
                                                <td class="col-md-2">
                                                    <input
                                                        class="form-control"
                                                        type="number"
                                                        name="MarkupPrice"
                                                        [(ngModel)]="data.markupPrice"
                                                    />
                                                </td>

                                                <td class="col-md-1">
                                                    <button
                                                        type="button"
                                                        class="btn btn-primary btn-sm"
                                                        (click)="addPortion()"
                                                    >
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                            <tab *ngIf="delAggItem?.id" [heading]="l('Image')" class="p-5">
                                <table *ngIf="delAggImage?.length > 0" class="table mt-8">
                                    <thead>
                                        <tr>
                                            <th>{{ l('DelAggType') }}</th>
                                            <th>{{ l('Name') }}</th>
                                            <th>{{ l('Actions') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let file of delAggImage; let index = index">
                                            <td>
                                                <strong> {{ file.delAggTypeRefName }}</strong>
                                            </td>
                                            <td>
                                                <strong>{{ toJSON(file.imagePath).fileName }}</strong>
                                            </td>
                                            <td>
                                                <button
                                                    (click)="download(file)"
                                                    type="button"
                                                    class="btn btn-success btn-sm"
                                                >
                                                    <i class="fa fa-download"></i>
                                                </button>
                                                <button
                                                    (click)="remove(index)"
                                                    type="button"
                                                    class="btn btn-danger btn-sm"
                                                >
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-group">
                                    <label>{{ 'Del Agg Type' | localize }}</label>
                                    <p-dropdown
                                        [options]="delAggTypes"
                                        [(ngModel)]="delAggTypeRef"
                                        name="delAggTypeRef"
                                        id="delAggTypeRef"
                                        styleClass="w-100"
                                        [placeholder]="l('Select Agg Type')"
                                        [filter]="true"
                                        optionLabel="displayText"
                                        dataKey="value"
                                        [showClear]="true"
                                    >
                                    </p-dropdown>
                                </div>
                                <div class="form-group">
                                    <input
                                        [disabled]="uploadLoading"
                                        [buttonBusy]="uploadLoading"
                                        name="Images"
                                        id="btn-upload-delAggImage"
                                        type="file"
                                        ng2FileSelect
                                        [uploader]="uploader"
                                    />
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="50%">Name</th>
                                                <th>Size</th>
                                                <th>Progress</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of uploader.queue">
                                                <td>
                                                    <strong>{{ item?.file?.name }}</strong>
                                                </td>
                                                <td *ngIf="uploader.options.isHTML5" nowrap>
                                                    {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                                                </td>
                                                <td>
                                                    <div class="progress" style="margin-bottom: 0">
                                                        <div
                                                            class="progress-bar"
                                                            role="progressbar"
                                                            [ngStyle]="{ width: item.progress + '%' }"
                                                        ></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span *ngIf="item.isSuccess" class="text-success"
                                                        ><i class="fa fa-check-circle"></i
                                                    ></span>
                                                    <span *ngIf="item.isCancel" class="text-warning"
                                                        ><i class="fa fa-times-circle"></i
                                                    ></span>
                                                    <span *ngIf="item.isError" class="text-danger"
                                                        ><i class="fa fa-exclamation-triangle"></i
                                                    ></span>
                                                </td>
                                                <td nowrap>
                                                    <button
                                                        type="button"
                                                        class="btn btn-success btn-sm"
                                                        (click)="upload(item)"
                                                        [buttonBusy]="item.isUploading"
                                                        [disabled]="item.isReady || item.isUploading || item.isSuccess"
                                                    >
                                                        <span class="fa fa-upload"></span> Upload
                                                    </button>
                                                    <button
                                                        type="button"
                                                        class="btn btn-warning btn-sm"
                                                        (click)="item.cancel()"
                                                        [disabled]="!item.isUploading"
                                                    >
                                                        <span class="fa fa-times-circle"></span> Cancel
                                                    </button>
                                                    <button
                                                        type="button"
                                                        class="btn btn-danger btn-sm"
                                                        (click)="removeFile(item)"
                                                    >
                                                        <span class="fa fa-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <button
                                        [disabled]="!delAggTypeRef || !delAggImageItem.imagePath"
                                        type="button"
                                        class="btn btn-primary"
                                        (click)="addImage()"
                                    >
                                        {{ l('Add') + ' ' + l('Image') }}
                                    </button>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<select-popup
    #selectMenuItemModal
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getMenuItem()"
    (changeValue)="changeMenuItem($event)"
    selectionMode="single"
    [selectedValue]="{ id: this.delAggItem.menuItemId }"
    [title]="l('Menu Item')"
></select-popup>

<select-popup
    #selectMenuItemPortionModal
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getMenuItemPortion()"
    (changeValue)="changeMenuItemPortion($event)"
    selectionMode="single"
    [selectedValue]="{ id: this.selecteddelAggVariant?.menuItemPortionId }"
    [title]="l('Menu Item Portion')"
></select-popup>

<app-cluster-language-description-modal #clusterLanguageDescriptionModal></app-cluster-language-description-modal>
