<div class="dabba_app">
    <!-- navbar -->
    <topbar></topbar>
    <!-- navbar ends -->

    <div class="site_body">
        <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <footer-bar></footer-bar>
    <!-- foooter ends -->
</div>
