<section class="summary pad-200 yellow_bg">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div id="address-book">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-12">
                            <div>
                                <h5>{{ "MyDeliveryAddress" | localize }}</h5>
                            </div>
                            <button
                                type="submit"
                                class="btn btn-primary pull-right"
                                (click)="viewAddress()"
                            >
                                {{ "AddNewAddress" | localize }}
                            </button>
                        </div>
                    </div>
                    <div class="row" *ngFor="let item of listAddress">
                        <div class="col-md-8">
                            <address>
                                <b *ngIf="item.isDefault" class="default-title"
                                    >Default</b
                                >
                                <br />
                                <label
                                    class="address-name btn"
                                    *ngIf="item.name"
                                    ><i>{{ item.name }}</i></label
                                >
                                <label class="w-100" *ngIf="item.phoneNumber"
                                    >+{{ item.callingCode
                                    }}{{ item.phoneNumber }}</label
                                >
                                <label
                                    class="w-100"
                                    *ngIf="item.whatAppNumber"
                                    >{{ item.whatAppNumber }}</label
                                >
                                <label class="w-100">{{ item.address1 }}</label>
                                <label class="w-100">{{ item.address2 }}</label>
                                <label class="w-100">{{ item.address3 }}</label>
                            </address>
                        </div>
                        <div class="col-md-4">
                            <button
                                class="btn btn-success"
                                type="submit"
                                [disabled]="item.isDefault"
                                (click)="setDefaultAddress(item.addressId)"
                            >
                                {{ "SetDefault" | localize }}
                            </button>
                            <button
                                type="submit"
                                class="btn btn-primary"
                                (click)="viewAddress(item.addressId)"
                            >
                                <i class="fas fa-edit"></i>
                                {{ "Edit" | localize }}
                            </button>
                            <button
                                type="submit"
                                class="btn btn-default"
                                [disabled]="item.isDefault"
                                (click)="deleteAddress(item.addressId)"
                            >
                                <i class="fas fa-trash-alt"></i>
                                {{ "Delete" | localize }}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <button
                                type="submit"
                                class="btn btn-default pull-right"
                                (click)="back()"
                            >
                                <i class="fas fa-arrow-circle-left"></i>
                                {{ "Back" | localize }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
