<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ConnectTableGroup' | localize" [description]="'ConnectTableGroupHeaderInfo' | localize">
            <div role="actions">
                <button class="btn btn-outline-success" (click)="import()">
                    <i class="fa fa-upload"></i>
                    {{ l('Import') }}
                </button>
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i> {{ l('Export') }}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Table.Group.Create')" (click)="createOrUpdateGroup()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{ l('CreateConnectTableGroup') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input
                                            [(ngModel)]="filterText"
                                            name="filterText"
                                            autoFocus
                                            class="form-control m-input"
                                            [placeholder]="l('SearchWithThreeDot')"
                                            type="text"
                                        />
                                        <span class="input-group-btn">
                                            <button (click)="getAll()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex">
                                    <button class="btn btn-primary" type="button" (click)="openFilterSelectLocationsModal()">
                                        {{ l('LocationOrGroup') }}
                                    </button>

                                    <div class="flex-fill"></div>

                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{ l('Refresh') }}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{ l('Search') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getAll($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Table.Group.Edit', 'Pages.Tenant.Connect.Table.Group.Delete')"
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="id">
                                            {{ l('Id') }}
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px">
                                            {{ l('Table') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Table.Group.Edit', 'Pages.Tenant.Connect.Table.Group.Delete')"
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Table.Group.Edit')"
                                                            (click)="createOrUpdateGroup(record.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Table.Group.Delete')"
                                                            (click)="deleteTableGroup(record)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="isDeleted && permission.isGranted('Pages.Tenant.Connect.Table.Group.Edit')"
                                                            (click)="activateItem(record)"
                                                            >{{ l('Revert') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Id') }}</span>
                                            {{ record.id }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Table') }}</span>
                                            <button type="button" class="btn btn-icon btn-sm">
                                                <i class="fa fa-dashcube" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<select-location-or-group #selectLocationOrGroup (locationAdded)="setFilterLocations($event)"></select-location-or-group>
<import-modal #importModal (modalSave)="onModalSave()"></import-modal>
