<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div style="max-height: 800px; overflow-y: auto;" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span> {{l('WorkDay') }}:  {{dataTranfer.reportStartDay| date:dateTimeFormat}} - {{ dataTranfer.locationCode }}</span>
                </h4>
                <div class="row col-md-offset-8" style="margin-top: 17px;">
                    <div class="form-group">
                        <div class="btn-group ml-1" dropdown>
                            <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                <i class="la-file-excel-o"></i> {{ l('Export') }}
                            </button>
                            <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                <li class="dropdown-item">
                                    <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                </li>
                                <li class="dropdown-item">
                                    <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-default" (click)="close()">{{l("Close")}}</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" *ngIf="planDayResult">
                            <table class="table table-bordered">
                                <tr class="table__title">
                                    <th colspan="2">{{l('Sales') }}</th>
                                </tr>
                                <tr class="table__highlight">
                                    <td>
                                        {{l('SubTotal') }}
                                    </td>
                                    <td class="text-right">
                                        {{planDayResultticketTypeReportDatasubTotal }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{l('Tax') }}
                                    </td>
                                    <td class="text-right">
                                        {{planDayResultticketTypeReportDatatax }}
                                    </td>
                                </tr>
        
                                <tr class="table__highlight">
                                    <td>{{l('TotalSales') }} </td>
                                    <td class="text-right">{{planDayResultticketTypeReportDatatotalSales }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{l('TicketCount') }}
                                    </td>
                                    <td class="text-right">
                                        {{planDayResultticketTypeReportDataticketCount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{l('SalesAverage') }}
                                    </td>
                                    <td class="text-right">
                                        {{planDayResultticketTypeReportDataaverage }}
                                    </td>
                                </tr>
                                <tr *ngFor="let t of planDayResultticketTypeReportDatatransactions">
                                    <td>
                                        {{t.name}}
                                    </td>
                                    <td class="text-right">
                                        {{t.value }}
                                    </td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planDayResultdepartments">
                                <tr class="table__title">
                                    <th colspan="3">{{l('Department') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('Department') }}</th>
                                    <th>{{l('TicketCount') }}</th>
                                    <th>{{l('Total') }}</th>
                                </tr>
                                <tr *ngFor="let department of planDayResultdepartments">
                                    <td>{{department.depatName}}</td>
                                    <td class="text-right">{{department.count}}</td>
                                    <td class="text-right">{{department.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total') }}</td>
                                    <td class="text-right">{{sum(planDayResultdepartments, "count")}}</td>
                                    <td class="text-right">{{sum(planDayResultdepartments, "amount") }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planDayResultpaymentTypeReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="3">{{l('Payments') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('PaymentType') }}</th>
                                    <th>{{l('Count') }}</th>
                                    <th>{{l('Actual') }}</th>
                                </tr>
                                <tr *ngFor="let paymentType of planDayResultpaymentTypeReportDatadetails">
                                    <td>{{paymentType.paymentName}}</td>
                                    <td class="text-right">{{paymentType.count}}</td>
                                    <td class="text-right">{{paymentType.actualSales }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total') }}</td>
                                    <td class="text-right">{{sum(planDayResultpaymentTypeReportDatadetails, "count")}}</td>
                                    <td class="text-right">{{sum(planDayResultpaymentTypeReportDatadetails, "actualSales")}}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planDayResultcashReportData">
                                <tr class="table__title">
                                    <th colspan="3">{{l('Cash') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('Type') }}</th>
                                    <th>{{l('Count') }}</th>
                                    <th>{{l('Total') }}</th>
                                </tr>
                                <tr>
                                    <td colspan="2">{{l('Cash') }}</td>
                                    <td class="text-right">{{planDayResultcashReportData.cashAmount }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('CashIn') }}</td>
                                    <td class="text-right">{{planDayResultcashReportData.cashIn}}</td>
                                    <td class="text-right">{{planDayResultcashReportData.allIncomeAmount}}</td>
                                </tr>
                                <tr>
                                    <td>{{l('CashOut') }}</td>
                                    <td class="text-right">{{planDayResultcashReportData.cashOut}}</td>
                                    <td class="text-right">{{planDayResultcashReportData.allExpAmount }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('CashInDrawer') }}</td>
                                    <td class="text-right">{{0}}</td>
                                    <td class="text-right">{{planDayResultcashReportData.cashInDrawer }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planDayResultworkTimePaTabledetails">
                                <tr class="table__title">
                                    <th colspan="4">{{l('WorkShift') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('PaymentType') }}</th>
                                    <th>{{l('Actual') }}</th>
                                    <th>{{l('In Hand') }}</th>
                                    <th>{{l('Difference') }}</th>
                                </tr>
                                <tr *ngFor="let workTime of planDayResultworkTimePaTabledetails">
                                    <td>{{workTime.paymentName}}</td>
                                    <td class="text-right">{{workTime.actualTotal }}</td>
                                    <td class="text-right">{{workTime.inSalesTotal }}</td>
                                    <td class="text-right">{{workTime.differenceTotal }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planDayResultticketsPromotionReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="3">{{l('TicketPromotions') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('Names') }}</th>
                                    <th>{{l('Quantity') }}</th>
                                    <th>{{l('Amount') }}</th>
                                </tr>
                                <tr *ngFor="let promotion of planDayResultticketsPromotionReportDatadetails">
                                    <td>{{promotion.promotionName}}</td>
                                    <td class="text-right">{{promotion.quantity}}</td>
                                    <td class="text-right">{{promotion.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total') }}</td>
                                    <td class="text-right">{{ planDayResultticketsPromotionReportDatatotalCount}}</td>
                                    <td class="text-right">{{ planDayResultticketsPromotionReportDatatotalSum }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planDayResultitemsData">
                                <tr class="table__title">
                                    <th colspan="2">{{l('GeneralInformation') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th colspan="2">{{l('Items') }}</th>
                                </tr>
                                <tr>
                                    <td>{{l('PaidItemsCount') }}</td>
                                    <td class="text-right">{{planDayResultitemsDatatotalPaidItems }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('PaidItemsTotal') }}</td>
                                    <td class="text-right">{{planDayResultitemsDatatotalPaidItemTotal }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('ItemsCount') }}</td>
                                    <td class="text-right">{{planDayResultitemsDataitemCount }}</td>
                                </tr>
        
                                <tr class="table__header">
                                    <th colspan="2">{{l('Orders') }}</th>
                                </tr>
                                <tr>
                                    <td>{{l('PaidOrdersCount') }}</td>
                                    <td class="text-right">{{planDayResultordersReportDatatotalPaidItemsorderCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('PaidOrdersTotal') }}</td>
                                    <td class="text-right">{{planDayResultordersReportDatatotalPaidItemsorderValue }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('OrderCount') }}</td>
                                    <td class="text-right">{{planDayResultordersReportDataorderCount }}</td>
                                </tr>
                                <tr *ngFor="let orderState of planDayResultordersReportDataorderStateReports">
                                    <td>{{orderState.state}} ({{orderState.count}})</td>
                                    <td class="text-right">{{orderState.amount }}</td>
                                </tr>
        
                                <tr class="table__header">
                                    <th colspan="2">{{l('Tickets') }}</th>
                                </tr>
                                <tr *ngFor="let tickets of planDayResultticketsReportDataticketStateReports">
                                    <td>{{tickets.state}} ({{tickets.count}})</td>
                                    <td class="text-right">{{tickets.amount }}</td>
                                </tr>
                                <tr class="table__header">
                                    <th colspan="2">{{l('Tickets') }}</th>
                                </tr>
                                <tr>
                                    <td>{{l('StartTicketNumber') }}</td>
                                    <td class="text-right">{{planDayResultticketsReportDatafirstTicketNumber}}</td>
                                </tr>
                                <tr>
                                    <td>{{l('EndTicketNumber') }}</td>
                                    <td class="text-right">{{planDayResultticketsReportDatalastTicketNumber}}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planDayResultticketTagsReportData">
                                <tr class="table__title">
                                    <th colspan="2">{{l('TicketTags') }}</th>
                                </tr>
                                <tbody *ngFor="let ticketTag of planDayResultticketTagsReportData">
                                    <tr>
                                        <td colspan="2">{{ticketTag.groupName}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{l('TicketCount') }}</td>
                                        <td class="text-right">{{ticketTag.tCount}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{l('Rate') }}</td>
                                        <td class="text-right">{{ticketTag.rate}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{l('Total') }} {{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.amnt}}</td>
                                    </tr>
                                    <tr *ngFor="let subRow of ticketTag.subRows">
                                        <td *ngIf="!ticketTag.isDecimal" >{{subRow.tagName}} ({{subRow.ticketCount}})</td>
                                        <td *ngIf="!ticketTag.isDecimal"  class="text-right">{{subRow.amount }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal">
                                        <td>{{l('Total') }} ({{ticketTag.groupName}})</td>
                                        <td class="text-right">{{ticketTag.totalAmount }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal && ticketTag.isInterger">
                                        <td>{{l('Total') }} {{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.sum }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal && ticketTag.sum > 0">
                                        <td>{{l('Avg') }}/{{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.average }}</td>
                                    </tr>
                                </tbody>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planDayResultownersReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="2">{{l('UserSales') }}</th>
                                </tr>
                                <tr *ngFor="let user of planDayResultownersReportDatadetails">
                                    <td>{{user.userName}}</td>
                                    <td class="text-right">{{user.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total') }}</td>
                                    <td class="text-right">{{planDayResultownersReportDatatotalOwnersAmount }}</td>
                                </tr>
                            </table>
        
                            <table *ngFor="let user of planDayResultusersIncomeReportData" class="table table-bordered">
                                <tr class="table__title">
                                    <th colspan="3">{{l('SettledBy') }} {{user.paymentUserName}}</th>
                                </tr>
                                <tr *ngFor="let payment of user.paymentTypes">
                                    <td>{{payment.paymentName}}</td>
                                    <td class="text-right">% {{payment.percent | number: 2}}</td>
                                    <td class="text-right">{{payment.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total') }}</td>
                                    <td class="text-right">% {{vm.sum(user.paymentTypes, "percent") | number: 2}}</td>
                                    <td class="text-right">{{vm.sum(user.paymentTypes, "amount") }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">{{l("Close")}}</button>
              </div>
        </div>