<section class="summary pad-200 yellow_bg">
    <div class="container">
        <div class="col-sm-12 top-kt">
            <div class="card mb-1">
                <div class="card-body row">
                    <div class="col-md-6">
                        <h5 class="mb-0">Welcome {{ appSession.user.name }}</h5>
                    </div>
                    <div class="col-md-6">
                        <p style="display: inline;">
                            <i
                                class="fa fa-shopping-basket fa-3x text-muted"
                            ></i>
                        </p>
                        <p
                            *ngIf="totalOfferDto.totalOffer == 0"
                            style="display: inline;"
                        >
                            There are no offers added in your cart.
                        </p>
                        <p
                            *ngIf="totalOfferDto.totalOffer > 0"
                            style="display: inline;"
                        >
                            You have {{ totalOfferDto.totalOffer }} active
                            offers
                        </p>
                        <a
                            class="btn btn-light"
                            style="cursor: pointer;"
                            (click)="redictToBuyOffer()"
                        >
                            BUY NOW
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-group mb-1">
                <div class="card mr-sm-1">
                    <div class="card-body">
                        <h5 class="font-weight-normal">
                            {{ "MyDefaultAddress" | localize }}
                            <a
                                class="edit-address pull-right"
                                style="cursor: pointer;"
                                (click)="
                                    redictEditAddressProfile(
                                        customerProfile.defaultAddresId
                                    )
                                "
                            >
                                {{ "edit" | localize | uppercase }}
                            </a>
                        </h5>
                        <address class="text-left text-overflow">
                            {{ customerProfile.address1 }}<br />
                            {{ customerProfile.address2?.split(",").join(" ")
                            }}<br />
                            {{ customerProfile?.address3 }}<br />
                            {{ cityName }}<br />
                            {{ countryName }}<br />
                        </address>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="font-weight-normal">
                            {{ "MyDeliveryAddress" | localize }}
                        </h5>
                        <div class="text-center">
                            <p>
                                You have {{ totalAddressDelivery }}
                                {{ "DeliveryAddress" | localize }}
                            </p>
                            <a
                                class="btn btn-light"
                                style="cursor: pointer;"
                                (click)="redictEditDeliveryAddress()"
                            >
                                Show
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <app-detail-profile [myInfo]="customerProfile"></app-detail-profile>
            <app-change-password></app-change-password>

            <div class="card-group mb-1">
                <div class="card mr-sm-1">
                    <div class="card-body">
                        <h5 class="font-weight-normal">
                            {{ "SettingDefaultCountry" | localize }}
                        </h5>
                        <form>
                            <div class="form-group">
                                <label for="Country">{{ l("Country") }}</label>
                                <select
                                    id="Country"
                                    class="form-control"
                                    [(ngModel)]="customerProfile.countryId"
                                    name="Country"
                                    #Country="ngModel"
                                >
                                    <option [value]="undefined">
                                        {{ "Select_Country" | localize }}
                                    </option>
                                    <option
                                        *ngFor="let item of lstCountry"
                                        [value]="item.value"
                                    >
                                        {{ item.displayText }}
                                    </option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    [disabled]="saving"
                                    (click)="settingCountry()"
                                >
                                    <i class="fa fa-save"></i>
                                    <span>{{ "Save" | localize }}</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="referralLink" class="card-group mb-1">
                <div class="card mr-sm-1">
                    <div class="card-body">
                        <h5 class="font-weight-normal">
                            {{"ReferralCode" | localize}}
                        </h5>
                        <div class="col-12 col-md-12">
                            <div class="form-group d-flex flex-row">
                                <input id="referralLink" class="form-control" [ngModel]="referralLink">
                                <button (click)="copy()" type="button" class="btn btn-icon">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
