<div appBsModal #sortModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="sortModal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #comboItemForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("SortComboGroup")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <p-orderList [value]="comboGroups" dragdrop="true" styleClass="order-list"
                                header="Combo Group">
                                <ng-template let-comboGroup pTemplate="item">
                                    <div class="ui-helper-clearfix">
                                        <div>{{comboGroup.name}}</div>
                                    </div>
                                </ng-template>
                            </p-orderList>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!comboItemForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>

        </div>
    </div>

</div>