.wrapper-welcome {
  .wrapper-logo {
    margin: 0 auto;

    .logo {
      width: 100%;
    }
  }

  #title {
    color: #282144;
    // font-family: "New York";
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 3rem;
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      margin-bottom: 1rem;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }

  #note {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .wrapper-list {
    width: 100%;
    margin: auto;
    height: auto;

    .item-card {
      display: flex;
      align-items: center;
      border-radius: 4px;
      background-color: #f3f3f4;
      margin: 0 auto 1rem auto;
      width: 16rem;
      min-height: 3rem;
      padding: 0.5rem 0;
      cursor: pointer;

      .icon {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1.5rem;
        }
      }

      .name {
        width: 82%;
        font-weight: 600;
      }

      &:focus,
      &:hover,
      &:active,
      &.active {
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #ebaa6c !important;
        box-shadow: 0 1px 8px 0 #ebaa6c !important;
      }

      &::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar for Chrome, Safari and Opera */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
      }
    }
  }

  .btn-dine-primary {
    width: 100%;
  }
}

.backward-btn {
  height: 5rem;
}
