<div class="wrapper-welcome">
  <div class="wrapper-logo" *ngIf="logoUrl">
    <img [src]="logoUrl" class="logo" />
  </div>
  <p id="title">Choose your language</p>
  <p id="note">Select the language you want to display</p>
  <div class="wrapper-list">
    <ng-container **ngFor="let language of languages">
      <div class="item-card" (click)="onChooseLanguage(language.code)"
        [ngClass]="{ active: selectedLanguage === language.code }">
        <div class="icon">
          <img [src]="language.icon" alt="" />
        </div>
        <div class="name">{{language.name}}</div>
      </div>
    </ng-container>

    <ng-template #orderNoData>
      <p style="text-align: center">No data</p>
    </ng-template>
  </div>
</div>