.nav .nav-link {
    display: block;
}

::ng-deep {
    .check-box-custom {
        float: right;
    }

    .check-box-custom.ui-chkbox {
        width: 30px;
        height: 30px;
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box {
        width: 30px;
        height: 30px;
        outline: unset;
        border: solid 1px #4a4b4a;
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box.ui-state-active {
        background-color: #39B449;
        border-color: #39B449;
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
        background-color: #39B449;
        border-color: #39B449;
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box.ui-state-active span {
        font-size: 27px !important;
        text-align: unset;
        line-height: 1 !important;
        letter-spacing: unset;
        color: unset !important;
        display: block !important;

        &::before {
            color: #ffffff;
        }
    }

    .check-box-custom.ui-chkbox .ui-chkbox-box.ui-state-focus {
        box-shadow: unset;
    }
}

.time.disabled {
    opacity: 0.3;

    &:hover {
        background-color: #fff;
    }
}

.summary__button button {
    &:disabled {
        opacity: 0.3;
    }
}

.__dashboard .selectplan__container .dashboard__main .week__menu__container .week__menu__header .week__menu__days .date_text.disabled {
    opacity: 0.3;
}

.addon_btn:disabled {
    opacity: 0.3;
}

.__dashboard .selectplan__container .totalbill__payment .totalbill__payment__body section {
    width: 100%;
}

.totalbill__payment__body .name {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    display: block;
}

.totalbill__payment__body {
    padding: 50px 30px;
}

@media (max-width: 992px) {
    .__dashboard .selectplan__container .dashboard__main .dashboard__select__dropdown .form__control {
        width: 100%;
    }

    .__dashboard .selectplan__container .dashboard__main .dashboard__select__dropdown .form__control select {
        max-width: 280px;
    }

    .__dashboard .selectplan__container .delivery__main__container .delivery__body .delivery__contents.selfpickup__main__body .delivery__pickup__location,
    .__dashboard .selectplan__container .delivery__main__container .delivery__selection {
        height: unset;
    }

    .__dashboard .selectplan__container .dashboard__main .dashboard__select__menu section.tabs .nav-tabs .nav-item {
        width: 100%;
    }

    .__dashboard .selectplan__container .dashboard__main .dashboard__select__menu section.tabs .nav-tabs .nav-link {
        padding: 15px;
    }

    .__dashboard .selectplan__container .dashboard__main .dashboard__select__menu section.tabs .nav-tabs .nav-link.active {
        background: #fedb59;
    }

    .__dashboard .selectplan__container .dashboard__main .week__menu__container {
        padding-bottom: 0;
    }

    .__dashboard .selectplan__container .dashboard__main .week__menu__container .week__menu__body .week__menu__day__container {
        padding-bottom: 0;
    }

    .__dashboard .selectplan__container .dashboard__main .week__menu__container .week__menu__header .week__menu__days .date_text {
        width: 35px;
        height: 40px;
        border-radius: 6px;
        font-size: 10px;
    }
}

.nav-link {
    cursor: pointer;
}

.derection a {
    cursor: pointer;
    text-decoration: underline;
}

.__dashboard .selectplan__container .dashboard__main .week__menu__container .week__menu__body .week__menu__day__container .week__menu__blocks .week__menu__block .week__menu__block__box section .button__sec {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5;
    padding-top: 33px;
    flex-direction: row;
    width: 100%;
}

.__dashboard .selectplan__container .dashboard__main .week__menu__container .week__menu__body .week__menu__day__container .week__menu__blocks {
    width: 100%;
}

.increaseQty:disabled {
    opacity: 0.3;
}

.summary__items__body__item.set-item {
    border-bottom: 1px dotted #aaa;

    &:last-child {
        border-bottom: none;
    }
}

.btn-outline-light {
    border: solid 1px lightsalmon;
}

.selectmeal-summery-child  {
    @media (min-width: 1440px) { 
        right: 0;
        overflow: auto;
    }

    @media (max-width: 768px) {
        margin-left: 8px;
        margin-bottom: 30px;
    }
}
