<div class="__dashboard yellow-light_bg mt-5">
    <div class="selectplan__container">
        <div class="w-100">
            <article>
                <form action="">
                    <div class="row" id="select-meals-wrapper">
                        <div *ngIf="orderFilter.step == STEP_ORDER.ORDER" class="col-lg-9 col-12">
                            <div class="dashboard__main">
                                <div class="dashboard__select__dropdown">
                                    <form action="">
                                        <div class="form__control">
                                            <span>Select meal plan</span>
                                            <select id="selectMealPlan" name="productOffer" [(ngModel)]="selecteProductOffer" (change)="onChangeProductOffer()">
                                                <option *ngFor="let productOffer of productOffers" [ngValue]="productOffer">{{ productOffer.name }}</option>
                                            </select>
                                        </div>
                                        <div class="form__control">
                                            <span>Select Week</span>
                                            <select id="selectMealPlan" name="week" [(ngModel)]="orderFilter.dateRange" (change)="onChangeTab(orderFilter.dateRange)">
                                                <option *ngFor="let date of dateRanges" [ngValue]="date">
                                                    {{ date.name }}({{ date.startDate | date: 'dd MMM' }}-{{ date.endDate | date: 'dd MMM' }})
                                                </option>
                                            </select>
                                        </div>
                                    </form>
                                </div>

                                <div class="dashboard__select__menu">
                                    <section>
                                        <span class="first__span">Select your menu</span>
                                        <div class="button__container">
                                            <a
                                                (click)="onChangeProductSet(set.id)"
                                                [ngClass]="{ active: set.id == orderFilter.productSetId }"
                                                *ngFor="let set of productSets"
                                                >{{ set.name }}</a
                                            >
                                        </div>
                                        <div class="mob_dropdown_select_your_menu">
                                            <select name="productSet" id="" [ngModel]="orderFilter.productSetId" (change)="onChangeProductSet(orderFilter.productSetId)">
                                                <option selected hidden>Select Set</option>
                                                <option *ngFor="let set of productSets" [ngValue]="set.id">{{ set.name }}</option>
                                            </select>
                                        </div>
                                    </section>
                                </div>

                                <div class="dashboard__select__items select-meals-child">
                                    <div class="tab-content week-content-slider" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <!-- week 1 items -->
                                            <div class="week__menu__container">
                                                <div class="week__menu__header">
                                                    <div class="week__menu__filter">
                                                        <img src="" alt="" />
                                                        <div class="week__menu__filter__items">
                                                            <div class="filter__icon">
                                                                <img src="./assets/static/svg/dashboard/time.svg" alt="" />
                                                            </div>
                                                            <a
                                                                (click)="onChangeMealTime(item.id)"
                                                                *ngFor="let item of mealTimes"
                                                                [ngClass]="{ active: item.id == orderFilter.mealTimeId }"
                                                                class="d-none d-lg-block active"
                                                                >{{ item.name }}</a
                                                            >

                                                            <select
                                                                name="mealTimeId"
                                                                [ngModel]="orderFilter.mealTimeId"
                                                                (ngModelChange)="onChangeMealTime($event)"
                                                                class="custom-select custom-select-sm d-block d-lg-none"
                                                            >
                                                                <option *ngFor="let item of mealTimes" [ngValue]="item.id">{{ item.name }}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="week__menu__days">
                                                        <span
                                                            *ngFor="let item of orderFilter.dateRange?.dateOfWeeks"
                                                            (click)="onChangeDayofWeed(item)"
                                                            [ngClass]="{ active: item.date == orderFilter.date, disabled: isDisabledDate(item) }"
                                                            class="date_text scroll-down"
                                                            data-target=".day_sunday"
                                                            data-date="09"
                                                        >
                                                            {{ item.date | date: 'EEE' }}
                                                            <small style="display: block">{{ item.date | date: 'dd MMM' }}</small>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="week__menu__body" [busyIf]="isLoading">
                                                    <div class="week__menu__day__container day_sunday">
                                                        <div class="week__menu__day">
                                                            <span class="big">{{ orderFilter?.date | date: 'EEEE' }}</span>
                                                            <span class="small">{{ orderFilter?.date | date: 'dd MMM yyyy' }}</span>
                                                        </div>

                                                        <div class="week__menu__blocks" *ngIf="schedulesFilter?.length > 0">
                                                            <ng-container *ngFor="let schedule of schedulesFilter">
                                                                <div class="week__menu__block">
                                                                    <h5>{{ schedule.productSetName }}</h5>
                                                                    <a class="week__menu__block__box">
                                                                        <section>
                                                                            <div class="image__sec">
                                                                                <span>&nbsp;</span>
                                                                                <img [src]="schedule.images || './assets/static/Assets/Images/asain.png'" alt="" />

                                                                                <div class="week__menu__block__box__checkbox">
                                                                                    <div class="custom__checkbox">
                                                                                        <label>
                                                                                            <input
                                                                                                name="scheduleId{{ schedule.id }}"
                                                                                                type="checkbox"
                                                                                                [(ngModel)]="schedule['isSelected']"
                                                                                                (ngModelChange)="updateSelectedItems(schedule)"
                                                                                            />
                                                                                            <span class="checkmark"></span>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="content__sec">
                                                                                <p>
                                                                                    <ng-container *ngFor="let product of schedule.products; let last = last">
                                                                                        {{ product.productName | uppercase }}{{ !last ? ', ' : '' }}
                                                                                    </ng-container>
                                                                                </p>
                                                                                <div class="increaser qtySelector">
                                                                                    <button
                                                                                        [disabled]="!schedule['isSelected']"
                                                                                        (click)="decreaseQuantity(schedule)"
                                                                                        class="decreaseQty"
                                                                                    >
                                                                                        -
                                                                                    </button>
                                                                                    <input
                                                                                        type="text"
                                                                                        class="qtyValue"
                                                                                        name="scheduleQuantity{{ schedule.id }}"
                                                                                        [ngModel]="schedule['quantity']"
                                                                                        readonly
                                                                                    />
                                                                                    <button
                                                                                        [disabled]="!schedule['isSelected'] || balanceMeal <= 0"
                                                                                        (click)="increaseQuantity(schedule)"
                                                                                        class="increaseQty"
                                                                                    >
                                                                                        +
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                            <div class="button__sec">
                                                                                <button
                                                                                    [disabled]="!schedule['isSelected']"
                                                                                    (click)="showAddonModal(schedule)"
                                                                                    class="addon_btn"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target="#addONmodal"
                                                                                >
                                                                                    Add On
                                                                                </button>
                                                                            </div>

                                                                            <!-- <div class="request__sec">
                                                                                <div class="icon">
                                                                                    <img src="./assets/static/Assets/SVG/nut.svg" alt="" />
                                                                                </div>
                                                                                <div class="icon">
                                                                                    <img src="./assets/static/Assets/SVG/gluten-free.svg" alt="" />
                                                                                </div>
                                                                                <div class="icon">
                                                                                    <img src="./assets/static/Assets/SVG/non-veg.svg" alt="" />
                                                                                </div>
                                                                            </div> -->
                                                                        </section>
                                                                    </a>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                        <div
                                                            *ngIf="!schedulesFilter || schedulesFilter.length == 0"
                                                            class="py-5 w-100 d-flex align-items-center justify-content-center"
                                                        >
                                                            No item Available
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- week 1 items -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Start Delivery -->
                        <div *ngIf="orderFilter.step == STEP_ORDER.DELIVERY" class="col-lg-9 col-12">
                            <div class="delivery__main__container">
                                <div class="app-navigator__header d-lg-none">
                                    <span class="app-navigator__header--text">Delivery</span>
                                </div>

                                <div class="delivery__selection">
                                    <form action="">
                                        <aside class="d-flex flex-column flex-lg-row">
                                            <div *ngIf="isActiveDelivery" class="form__control deliveryCheckbox">
                                                <div class="icon__and__text">
                                                    <div class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="56.964" height="47.293" viewBox="0 0 56.964 47.293">
                                                            <g
                                                                id="noun_Food_Delivery_537784_1_"
                                                                data-name="noun_Food Delivery_537784 (1)"
                                                                transform="translate(-16.5 -13.887)"
                                                            >
                                                                <path
                                                                    id="Path_113"
                                                                    data-name="Path 113"
                                                                    d="M55.279,61.179a8.053,8.053,0,0,1-7.538-4.967l-.3.172a1.146,1.146,0,0,1-1.569-.424,5.589,5.589,0,0,1-.318-4.549c.043-.144.088-.285.135-.423a9.618,9.618,0,0,1-2.508,2.295c-1.357.674-3.932,1-7.783.966A8.189,8.189,0,0,1,19.2,54.1a20.25,20.25,0,0,1-4.475-.506,2.3,2.3,0,0,1-1.368-2.573c.2-1.788,1.76-4.234,3.671-5.857l-3.915-.712a1.146,1.146,0,0,1-.942-1.127v-1.5H9.277A2.781,2.781,0,0,1,6.5,39.05V30.985c0-1.254.98-3.7,2.777-3.7h9.876c1.8,0,2.777,2.442,2.777,3.7v6.662h2.284a7.638,7.638,0,0,1,.555-1.773,3.7,3.7,0,0,1-.547-1.867c0-.036,0-.071.01-.106l.806-6.045a7.6,7.6,0,0,1,3.652-5.768c-.06-.058-.117-.118-.174-.178a4.7,4.7,0,0,1-1.266-3.4,4.923,4.923,0,0,1,5.156-4.623,5,5,0,0,1,3.513,1.6,4.7,4.7,0,0,1,1.266,3.4,4.8,4.8,0,0,1-2.5,3.991,7.928,7.928,0,0,1,2.056,4.841c.1.746.169,1.538.208,2.023.824.244,1.741.452,2.585.644a22.407,22.407,0,0,1,2.423.635h0a1.8,1.8,0,0,1,.847.648l.777-.431A6.067,6.067,0,0,1,44.693,30.1a6.369,6.369,0,0,1,4.251-1.645,6.69,6.69,0,0,1,3.968.473,2.476,2.476,0,0,1,1.149,2.846c-.015.128-.031.26-.043.4a3.31,3.31,0,0,1-1.871,3.212,9.952,9.952,0,0,1-2.769.192l-.107-.006c.012.077.027.152.045.224.281,1.105,1.654,2.83,2.658,4.09.348.437.674.847.944,1.21l0,.005a3.077,3.077,0,0,1,.2.284,2.006,2.006,0,0,1,.312.655c.013.036.025.072.037.109l.01.032a3.274,3.274,0,0,1,.066,1.577,4.2,4.2,0,0,1-.15.545c3.559-.676,6.519-.2,8.036,1.313.119.119.215.21.3.287a5.866,5.866,0,0,1,1.227,1.651,1.145,1.145,0,0,1-.447,1.594,8.081,8.081,0,0,1,.96,3.843A8.2,8.2,0,0,1,55.279,61.179Zm-5.513-6.091a5.777,5.777,0,0,0,5.513,3.8,5.9,5.9,0,0,0,5.893-5.893A5.806,5.806,0,0,0,60.4,50.08c-.645.266-1.6.663-2.643,1.112a2.982,2.982,0,1,1-5.229,2.464C51.532,54.168,50.476,54.718,49.766,55.088Zm-28.231-.9a5.9,5.9,0,0,0,11.537.064c-.745.007-1.672.014-2.709.018-.01.054-.022.107-.035.161a2.981,2.981,0,0,1-5.829-.183C23.495,54.232,22.5,54.213,21.535,54.186Zm5.484.081a.685.685,0,0,0,.248.118.7.7,0,0,0,.522-.079.59.59,0,0,0,.054-.036ZM55.454,52.4a.69.69,0,1,0,.69.69A.691.691,0,0,0,55.454,52.4Zm.959-6.1a15.1,15.1,0,0,0-3.5.453,7.941,7.941,0,0,0-5.154,5.307,4.669,4.669,0,0,0-.228,1.628l.29-.168c.244-.129,5.044-2.646,6.213-3.184,2.535-1.167,5.525-2.391,6.216-2.673l-.1-.1c-.092-.088-.2-.191-.337-.326A4.946,4.946,0,0,0,56.413,46.3ZM15.625,51.483c1.413.427,10.468.568,18.644.46.036,0,.071,0,.11,0,.02,0,.043,0,.063,0,.037,0,.067,0,.1,0l.539.009a3.122,3.122,0,0,1-.385-1.844c.017-.425.058-2.442.1-4.342-.669,0-2.1,0-5.254,0-3.542-.006-8.345-.011-8.987,0-1.277.238-3.117,1.868-4.219,3.748A3.875,3.875,0,0,0,15.625,51.483ZM41.434,49.9l-.021.543a3.545,3.545,0,0,1-.168,1.086,4.258,4.258,0,0,0,.92-.3c1.025-.51,3.413-3.72,4.78-5.836a1.145,1.145,0,0,1,.951-.524,1.086,1.086,0,0,1,.961.5l.462.685a10.753,10.753,0,0,1,1.723-1.024A1.144,1.144,0,0,1,51.1,43.8a1.282,1.282,0,0,0,.2-.5.966.966,0,0,0-.019-.467l-.029-.081c-.009-.024-.017-.048-.025-.073l-.031-.046a1.141,1.141,0,0,0-.083-.119c-.014-.018-.031-.041-.046-.062-.254-.341-.56-.725-.886-1.133-1.258-1.58-2.685-3.369-3.087-4.954a5.829,5.829,0,0,1-.082-2.224,1.145,1.145,0,0,1,.458-.769,1.158,1.158,0,0,1,.872-.2,9.349,9.349,0,0,0,1.148.127,13.755,13.755,0,0,0,1.822-.041c.251-.116.334-.258.422-1.274.014-.164.033-.321.05-.472a5.08,5.08,0,0,0,.047-.549,4.7,4.7,0,0,0-2.675-.217,4.19,4.19,0,0,0-2.984,1.112c-.28.237-.454.4-.56.509l.168,2.083a48.054,48.054,0,0,1,.513,5.427C46.239,42.631,45.139,47.682,41.434,49.9Zm-4.422.822s.2.173,1.01.2c.849.033,1.056-.144,1.057-.146a1.642,1.642,0,0,0,.042-.411l.046-1.177c0-.022,0-.045,0-.067l.27-6.8c.076-1.9-.259-3.305-.968-4.071a2.885,2.885,0,0,0-2.125-.832l-9.307-.339c-.1,0-.2-.012-.287-.023a7.932,7.932,0,0,0-.32,1.166c-.01.046-.018.089-.024.126,1.012.564,4.784,1.155,7.961,1.378a3.231,3.231,0,0,1,2.21.885,2.13,2.13,0,0,1,.564,1.556c-.007.418-.13,7.172-.164,8.031a1.356,1.356,0,0,0,.029.523Zm2.245-14.781a4.615,4.615,0,0,1,.9.752c1.148,1.24,1.678,3.164,1.577,5.719l-.177,4.436A11.754,11.754,0,0,0,44,39.825a45.78,45.78,0,0,0-.494-5.088c0-.024-.007-.048-.009-.073l-.059-.731-.185.1c-.009.046-.018.092-.029.138s-.022.092-.035.137c0,.024,0,.048-.005.073l-.253,2.578a1.145,1.145,0,1,1-2.28-.224l.062-.636-.018,0v-.011A11.263,11.263,0,0,1,39.258,35.943ZM22.874,43.464c1.355,0,3.441,0,6.664.007,2.152,0,4.361.005,5.294,0,.014-.707.022-1.215.025-1.332a1.621,1.621,0,0,0-.606-.125c-6.239-.44-8.626-1.3-9.55-2.079H22.874Zm-8.415-1.1,6.071,1.1h.052V41.432a2.765,2.765,0,0,1-1.427.4h-4.7v.54Zm-5.666-9.15v5.831a.486.486,0,0,0,.486.486h9.876a.486.486,0,0,0,.486-.486V33.218Zm17.98,1.535c.048,0,.1.01.147.016.065.009.134.018.206.021l7.353.269c-.233-.047-.475-.1-.725-.149-2.932-.6-4.928-3.151-5.933-7.574a6.118,6.118,0,0,1-.126-.773A4.242,4.242,0,0,0,27.327,28c0,.036,0,.071-.01.106l-.8,6.01A2.313,2.313,0,0,0,26.772,34.753Zm14.046-.937a1.062,1.062,0,0,1,.12.007h0a.963.963,0,0,0,.083-.442c0-.016,0-.031,0-.047a.987.987,0,0,0-.032-.225c-.5-.158-1.212-.32-1.965-.492a25.5,25.5,0,0,1-4.253-1.226c-1.41-.608-2.7-3.644-3.352-5.453-.117-.214-.5-.8-1.078-.519-.218.106-.547.266-.288,1.4.3,1.3,1.189,5.234,4.162,5.846,3.173.653,5.925,1.112,6.5,1.155A.942.942,0,0,1,40.818,33.816ZM8.794,30.926H19.639a2.533,2.533,0,0,0-.586-1.344H9.38A2.535,2.535,0,0,0,8.794,30.926Zm24.748-5.858.008.02c.213.593.456,1.187.7,1.736A5.533,5.533,0,0,0,33.542,25.068Zm-1.325-8.89A2.612,2.612,0,0,0,29.542,18.6a2.422,2.422,0,0,0,.657,1.75,2.722,2.722,0,0,0,1.916.863A2.624,2.624,0,0,0,34.9,18.793a2.422,2.422,0,0,0-.657-1.75,2.722,2.722,0,0,0-1.916-.863Z"
                                                                    transform="translate(10)"
                                                                    fill="#343434"
                                                                />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="text">
                                                        <span>Delivery</span>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <p-checkbox
                                                        [ngModel]="[order.deliveryType]"
                                                        (onChange)="onChangeDeliveryType($event, TiffinDeliveryTimeSlotType.Delivery)"
                                                        styleClass="check-box-custom"
                                                        name="deliveryType"
                                                        ngDefaultControl
                                                        [value]="TiffinDeliveryTimeSlotType.Delivery"
                                                    ></p-checkbox>
                                                </div>
                                            </div>

                                            <div class="form__control selfPickupCheckbox">
                                                <div class="icon__and__text">
                                                    <div class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="56.752" height="47.293" viewBox="0 0 56.752 47.293">
                                                            <g
                                                                id="noun_self-pick_up_3306661"
                                                                data-name="noun_self-pick up_3306661"
                                                                transform="translate(3470 80)"
                                                            >
                                                                <path
                                                                    id="Path_112"
                                                                    data-name="Path 112"
                                                                    d="M58.4,87.607l2.99-23.923a.946.946,0,0,0-.939-1.063H59.51V60.729A4.735,4.735,0,0,0,54.78,56H33.971a4.735,4.735,0,0,0-4.729,4.729v1.892H28.3a.946.946,0,0,0-.939,1.063l.267,2.133a2.3,2.3,0,0,0-.389.311l-5.006,5.006H16v1.892h6.621a.946.946,0,0,0,.669-.277l5.283-5.283a.392.392,0,0,1,.669.277,3.557,3.557,0,0,1-.106.862l-.812,3.246a.946.946,0,0,0,.918,1.175h6.621a.947.947,0,0,1,.946.946v.946H30.188v1.892h6.621V78.7H30.188v1.892H36.3a3.785,3.785,0,0,1-3.274,1.892H16v1.892H29.944l1.2,9.576a.946.946,0,0,0,.939.829h12.3v2.838a5.682,5.682,0,0,0,5.675,5.675h22.7V101.4h-22.7a3.785,3.785,0,0,1-3.274-1.892h6.112V97.618H46.267V95.726h6.621V93.834H46.267v-.946a.947.947,0,0,1,.946-.946h6.621a.946.946,0,0,0,.918-1.175l-.811-3.246a3.558,3.558,0,0,1-.106-.862.392.392,0,0,1,.669-.277l5.283,5.283a.946.946,0,0,0,.669.277h12.3V90.051h-11.9Zm-.786-26.878v1.892H56.256a2.837,2.837,0,0,0-2.837-2.838H48.064a4.71,4.71,0,0,0-.853-1.892H54.78A2.841,2.841,0,0,1,57.618,60.729ZM38.7,78.7V73.025h3.783a.946.946,0,0,0,.946-.946V62.621a2.824,2.824,0,0,0-.163-.946h3.619a.946.946,0,0,1,.934,1.1L44.515,83.43H38.7Zm2.838-16.08V67.35H34.917V62.621a.947.947,0,0,1,.946-.946h4.729A.947.947,0,0,1,41.538,62.621Zm8.15.448a2.833,2.833,0,0,0-.127-1.394h3.857a.946.946,0,0,1,.928,1.131L51.167,78.7h-3.98Zm-18.555-2.34a2.841,2.841,0,0,1,2.838-2.838H43.43A2.842,2.842,0,0,1,46.1,59.783H35.863a2.841,2.841,0,0,0-2.838,2.838H31.134ZM29.5,65.553l-.13-1.041h3.658v6.621H30.453l.518-2.071a5.45,5.45,0,0,0,.163-1.321A2.287,2.287,0,0,0,29.5,65.553Zm5.419,5.58V69.242h6.621v1.892ZM54.226,84.376a2.286,2.286,0,0,0-2.283,2.283,5.449,5.449,0,0,0,.163,1.32l.518,2.071h-5.41a2.841,2.841,0,0,0-2.838,2.838H32.915l-1.064-8.513h1.175a5.652,5.652,0,0,0,3.783-1.45v1.45a.946.946,0,0,0,.946.946h7.567a.946.946,0,0,0,.934-.8l.629-3.933h5.058a.946.946,0,0,0,.928-.76l3.064-15.319h3.45l-2.675,21.4-.868-.868a2.269,2.269,0,0,0-1.615-.669Z"
                                                                    transform="translate(-3486 -136)"
                                                                    fill="#71706f"
                                                                />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="text">
                                                        <span>Self Pick up</span>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <p-checkbox
                                                        [ngModel]="[order.deliveryType]"
                                                        (onChange)="onChangeDeliveryType($event, TiffinDeliveryTimeSlotType.SelfPickup)"
                                                        styleClass="check-box-custom"
                                                        name="deliveryType"
                                                        ngDefaultControl
                                                        [value]="TiffinDeliveryTimeSlotType.SelfPickup"
                                                    ></p-checkbox>
                                                </div>
                                            </div>
                                        </aside>
                                    </form>
                                </div>
                                <div class="delivery__body">
                                    <div
                                        *ngIf="order.deliveryType == TiffinDeliveryTimeSlotType.Delivery"
                                        class="delivery__contents delivery__main__body location__state_active"
                                    >
                                        <div class="delivery__pickup__location">
                                            <div class="delivery__common__header">
                                                <span>Delivery Locations</span>
                                            </div>
                                            <div class="delivery__location__address">
                                                <form action="homeAddress">
                                                    <section class="d-flex flex-column flex-lg-row">
                                                        <div *ngFor="let address of listAddress" class="address__block">
                                                            <aside>
                                                                <span>{{ address.name }}</span>
                                                                <span>
                                                                    <ng-container>{{ address.address1 }}</ng-container
                                                                    ><br />
                                                                    <ng-container *ngIf="address.address2">{{ address.address2 }}<br /></ng-container>
                                                                    <ng-container *ngIf="address.address3">{{ address.address3 }}<br /></ng-container>
                                                                    <ng-container
                                                                        >{{ address.cityName }}, {{ address.countryName }} {{ address.postcalCode }}<br
                                                                    /></ng-container>
                                                                    <ng-container *ngIf="address.whatAppNumber">{{ address.whatAppNumber }}<br /></ng-container>
                                                                    <ng-container *ngIf="address.phoneNumber"
                                                                        >+{{ address.callingCode }}{{ address.phoneNumber }}<br />
                                                                    </ng-container>
                                                                </span>

                                                                <span (click)="showGoogleMap(address)"
                                                                    >Delivery charger
                                                                    <em> {{ appSession.application.currencySign }}{{ address['deliveryFee'] }}</em></span
                                                                >
                                                            </aside>
                                                            <aside>
                                                                <p-checkbox
                                                                    [ngModel]="[order.deliverylocation]"
                                                                    (onChange)="onChangeDeliveryLocation($event, address)"
                                                                    styleClass="check-box-custom"
                                                                    name="deliveryLocation"
                                                                    ngDefaultControl
                                                                    [value]="address.addressId"
                                                                ></p-checkbox>
                                                            </aside>
                                                        </div>
                                                    </section>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="delivery__timeslot">
                                            <div class="delivery__common__header">
                                                <span>Select Time slot</span>
                                            </div>

                                            <div [busyIf]="isLoading" class="delivery__timeslot__blocks d-flex flex-column flex-lg-row">
                                                <div *ngFor="let item of order.orderDateList" class="delivery__timeslot__block">
                                                    <span class="date mb-1"
                                                        >{{ item.date | date: 'EEEEEE d MMMM' }} <span>({{ item.mealTimeName }})</span></span
                                                    >
                                                    <small class="mb-3">{{ item.productSetName }}</small>
                                                    <span
                                                        *ngFor="let timeSlot of item.timeSlots"
                                                        class="time"
                                                        [ngClass]="{
                                                            active: timeSlot.from == item.timeSlot?.from && timeSlot.to == item.timeSlot?.to
                                                        }"
                                                        (click)="onSelectDeliveryTimeSlot(item, timeSlot)"
                                                    >
                                                        {{ timeSlot.from }}-{{ timeSlot.to }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        *ngIf="order.deliveryType == TiffinDeliveryTimeSlotType.SelfPickup"
                                        class="delivery__contents location__state_active selfpickup__main__body"
                                    >
                                        <div class="delivery__pickup__location">
                                            <div class="delivery__common__header d-lg-block">
                                                <span>Self Pickup Locations</span>
                                            </div>
                                            <div class="selfpickup__location__address">
                                                <div class="address__pickup__block locations-slider">
                                                    <aside *ngFor="let location of listLocation">
                                                        <div class="section__block">
                                                            <section>
                                                                <div>
                                                                    <span
                                                                        ><b>{{ location.name }} </b></span
                                                                    >
                                                                    <span>
                                                                        <ng-container>{{ location.address1 }}</ng-container
                                                                        ><br />
                                                                        <ng-container *ngIf="location.address2">{{ location.address2 }}<br /></ng-container>
                                                                        <ng-container *ngIf="location.address3">{{ location.address3 }}<br /></ng-container>
                                                                        <ng-container
                                                                            >{{ location.cityName }}, {{ location.countryName }} {{ location.postcalCode }}<br
                                                                        /></ng-container>
                                                                        <ng-container *ngIf="location.whatAppNumber"
                                                                            >{{ location.whatAppNumber }}<br
                                                                        /></ng-container>
                                                                        <ng-container *ngIf="location.phoneNumber"
                                                                            >+{{ location.callingCode }}{{ location.phoneNumber }}<br />
                                                                        </ng-container>
                                                                    </span>
                                                                </div>
                                                                <p-checkbox
                                                                    [ngModel]="[order.selfPickupLocation]"
                                                                    (onChange)="onChangeSelfPickupLocation($event, location)"
                                                                    styleClass="check-box-custom"
                                                                    name="location"
                                                                    [value]="location.id"
                                                                ></p-checkbox>
                                                            </section>

                                                            <section>
                                                                <span>Select Time Slot</span>
                                                                <div>
                                                                    <span
                                                                        *ngFor="let timeSlot of location?.timeSlots"
                                                                        (click)="onSelectSelfPickupTimeSlot(location, timeSlot)"
                                                                        [ngClass]="{
                                                                            active:
                                                                                timeSlot.from == order.selfPickupTimeSlot?.from &&
                                                                                timeSlot?.to == order.selfPickupTimeSlot?.to &&
                                                                                location.id == order.selfPickupLocation,
                                                                            disabled: location.id != order.selfPickupLocation
                                                                        }"
                                                                        class="time"
                                                                    >
                                                                        {{ timeSlot.from }}-{{ timeSlot.to }}
                                                                    </span>
                                                                </div>
                                                            </section>
                                                            <div class="derection d-flex flex-row align-items-center mt-5">
                                                                <i class="fas fa-map-marker-alt"></i>
                                                                <a class="ml-2 text-underline" (click)="showGoogleMapDirection(location)">Get direction</a>
                                                            </div>
                                                        </div>
                                                    </aside>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Delivery -->

                        <!-- Start Payment -->
                        <div *ngIf="orderFilter.step == STEP_ORDER.PAYMENT" class="col-lg-9 col-12">
                            <div class="totalbill__payment">
                                <div class="totalbill__payment__header">
                                    <aside>
                                        <span>Bill Total : {{ appSession.application.currencySign }}{{ amount }}</span>
                                    </aside>
                                </div>

                                <div class="app-navigator__header d-lg-none">
                                    <span class="app-navigator__header--text">Bill Total : {{ appSession.application.currencySign }}{{ amount }}</span>
                                </div>

                                <div class="totalbill__payment__body">
                                    <section>
                                        <div class="">
                                            <section>
                                                <span class="name">{{ 'PaymentMethod' | localize | uppercase }}</span>

                                                <div class="mb-4">
                                                    <div class="payment-method">
                                                        <div>
                                                            <div *ngIf="!stripeConfig?.secretKey && !omiseConfig?.publishKey && !adyenConfig?.apiKey">
                                                                {{ 'PaymentMethodNotAvailable' | localize }}
                                                            </div>
                                                            <div class="row payment-option" [hidden]="!stripeConfig?.secretKey">
                                                                <div class="col-md-12">
                                                                    <p-radioButton
                                                                        name="paymentMethod"
                                                                        [value]="PAYMENT_METHOD.Stripe"
                                                                        [label]="stripeData.label"
                                                                        [(ngModel)]="paymentMethod"
                                                                        inputId="opt1"
                                                                        (onClick)="choosepaymentMethod()"
                                                                    >
                                                                    </p-radioButton>
                                                                    <div [hidden]="paymentMethod != PAYMENT_METHOD.Stripe">
                                                                        <div class="mt-3 col-md-12" *ngIf="serviceFees?.length > 0">
                                                                            <span *ngFor="let item of serviceFees; let index = index"
                                                                                >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                                <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                            </span>
                                                                            <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                        </div>
                                                                        <div class="cell example stripe-check-out-container">
                                                                            <form>
                                                                                <fieldset>
                                                                                    <div class="row">
                                                                                        <div class="field col-md-12">
                                                                                            <label
                                                                                                for="stripe-card-number"
                                                                                                data-tid="elements_examples.form.card_number_label"
                                                                                                >Card Number</label
                                                                                            >
                                                                                            <div class="baseline"></div>
                                                                                            <div id="stripe-card-number" class="input empty"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="form-group col-md-6">
                                                                                            <label
                                                                                                for="stripe-card-expiry"
                                                                                                data-tid="elements_examples.form.card_expiry_label"
                                                                                                >Expiration</label
                                                                                            >
                                                                                            <div class="baseline"></div>
                                                                                            <div id="stripe-card-expiry" class="input empty"></div>
                                                                                        </div>
                                                                                        <div class="form-group col-md-6">
                                                                                            <label
                                                                                                for="stripe-card-cvc"
                                                                                                data-tid="elements_examples.form.card_cvc_label"
                                                                                                >CVC</label
                                                                                            >
                                                                                            <div class="baseline"></div>
                                                                                            <div id="stripe-card-cvc" class="input empty"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <button
                                                                                        class="btn"
                                                                                        type="submit"
                                                                                        data-tid="elements_examples.form.pay_button"
                                                                                    >
                                                                                        {{ 'PayWithStripe' | localize }}
                                                                                    </button>
                                                                                </fieldset>
                                                                                <div class="error" role="alert">
                                                                                    <span class="message"></span>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row payment-option" [hidden]="!omiseConfig?.publishKey">
                                                                <div class="col-md-12">
                                                                    <p-radioButton
                                                                        name="paymentMethod"
                                                                        [value]="PAYMENT_METHOD.Omise"
                                                                        [label]="omiseData.label"
                                                                        [(ngModel)]="paymentMethod"
                                                                        inputId="opt2"
                                                                        (onClick)="choosepaymentMethod()"
                                                                    >
                                                                    </p-radioButton>
                                                                    <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Omise">
                                                                        <div class="mt-3" *ngIf="serviceFees?.length > 0">
                                                                            <span *ngFor="let item of serviceFees; let index = index"
                                                                                >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                                <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                            </span>
                                                                            <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                        </div>
                                                                        <div class="d-flex flex-row">
                                                                            <button type="button" class="btn btn-primary mt-3 mr-3" id="checkoutButton">
                                                                                {{ 'PayWithOmise' | localize }}
                                                                            </button>

                                                                            <button
                                                                                [hidden]="!omiseConfig?.enablePaynowQR"
                                                                                type="button"
                                                                                class="btn btn-primary mt-3"
                                                                                id="payNow"
                                                                            >
                                                                                {{ 'Pay Now' | localize }}
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row payment-option" [hidden]="!adyenConfig?.apiKey">
                                                                <div class="col-md-12">
                                                                    <p-radioButton
                                                                        name="paymentMethod"
                                                                        [value]="PAYMENT_METHOD.Adyen"
                                                                        [label]="adyenData.label"
                                                                        [(ngModel)]="paymentMethod"
                                                                        inputId="opt3"
                                                                        (onClick)="choosepaymentMethod()"
                                                                    >
                                                                    </p-radioButton>
                                                                    <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Adyen">
                                                                        <div class="mt-3" *ngIf="serviceFees?.length > 0">
                                                                            <span *ngFor="let item of serviceFees; let index = index"
                                                                                >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                                <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                            </span>
                                                                            <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                        </div>
                                                                        <div class="cell example adyen-check-out-container">
                                                                            <div id="customCard-container" class="adyen-checkout__card-input">
                                                                                <div class="adyen-checkout__loading-input__form">
                                                                                    <div class="adyen-checkout__card__form">
                                                                                        <div class="adyen-checkout__field adyen-checkout__field--cardNumber">
                                                                                            <label class="adyen-checkout__label">
                                                                                                <span class="adyen-checkout__label__text">Card number</span>
                                                                                                <div class="adyen-checkout__input-wrapper">
                                                                                                    <span
                                                                                                        data-cse="encryptedCardNumber"
                                                                                                        class="adyen-checkout__input adyen-checkout__input--large adyen-checkout__card__cardNumber__input"
                                                                                                    >
                                                                                                        <img
                                                                                                            class="cart-number-icon adyen-checkout__card__cardNumber__brandIcon"
                                                                                                            alt="card"
                                                                                                            src="https://checkoutshopper-test.adyen.com/checkoutshopper/images/logos/nocard.svg"
                                                                                                        />
                                                                                                    </span>
                                                                                                </div>
                                                                                            </label>
                                                                                        </div>
                                                                                        <div
                                                                                            class="adyen-checkout__card__exp-cvc adyen-checkout__field-wrapper"
                                                                                        >
                                                                                            <div
                                                                                                class="adyen-checkout__field adyen-checkout__field--50 adyen-checkout__field--expiryDate"
                                                                                            >
                                                                                                <label class="adyen-checkout__label">
                                                                                                    <span class="adyen-checkout__label__text">Expiry date</span>
                                                                                                    <div class="adyen-checkout__input-wrapper">
                                                                                                        <span
                                                                                                            data-cse="encryptedExpiryDate"
                                                                                                            class="adyen-checkout__input adyen-checkout__input--small adyen-checkout__card__exp-date__input"
                                                                                                        >
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div
                                                                                                class="adyen-checkout__field adyen-checkout__field--50 adyen-checkout__field__cvc adyen-checkout__field--securityCode"
                                                                                            >
                                                                                                <label class="adyen-checkout__label">
                                                                                                    <span class="adyen-checkout__label__text">CVC / CVV</span>
                                                                                                    <div class="adyen-checkout__input-wrapper">
                                                                                                        <span
                                                                                                            class="adyen-checkout__input adyen-checkout__input--small adyen-checkout__card__cvc__input"
                                                                                                            data-cse="encryptedSecurityCode"
                                                                                                        >
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="adyen-checkout__field adyen-checkout__card__holderName">
                                                                                        <label class="adyen-checkout__label">
                                                                                            <span class="adyen-checkout__label__text">Name on card</span>
                                                                                            <div class="adyen-checkout__input-wrapper">
                                                                                                <input
                                                                                                    classnamemodifiers="large"
                                                                                                    class="adyen-checkout__input adyen-checkout__input--text adyen-checkout__card__holderName__input adyen-checkout__input--large"
                                                                                                    placeholder="J. Smith"
                                                                                                    type="text"
                                                                                                />
                                                                                            </div>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <button
                                                                                    class="btn adyen-checkout__button adyen-checkout__button--pay"
                                                                                    (click)="payWithAdyen()"
                                                                                >
                                                                                    <span class="adyen-checkout__button__content">
                                                                                        <span class="adyen-checkout__button__text">{{
                                                                                            l('PayWithAdyen')
                                                                                        }}</span>
                                                                                    </span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row payment-option" [hidden]="!paypalConfig?.clientId">
                                                                <div class="col-md-12">
                                                                    <p-radioButton
                                                                        name="paymentMethod"
                                                                        [value]="PAYMENT_METHOD.PayPal"
                                                                        [label]="paypalData.label"
                                                                        [(ngModel)]="paymentMethod"
                                                                        inputId="opt4"
                                                                        (onClick)="choosepaymentMethod()"
                                                                    >
                                                                    </p-radioButton>
                                                                    <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.PayPal">
                                                                        <div class="mt-3 mb-5" *ngIf="serviceFees?.length > 0">
                                                                            <span *ngFor="let item of serviceFees; let index = index"
                                                                                >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                                <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                            </span>
                                                                            <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                        </div>
                                                                        <div class="mt-5" [id]="payPalButtonId"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row payment-option" [hidden]="!googlePayConfig?.merchantId">
                                                                <div class="col-md-12">
                                                                    <p-radioButton
                                                                        name="paymentMethod"
                                                                        [value]="PAYMENT_METHOD.Google"
                                                                        [label]="googlePayData.label"
                                                                        [(ngModel)]="paymentMethod"
                                                                        inputId="opt5"
                                                                        (onClick)="choosepaymentMethod()"
                                                                    >
                                                                    </p-radioButton>
                                                                    <div class="col-md-12" [hidden]="paymentMethod != PAYMENT_METHOD.Google">
                                                                        <div class="mt-3 mb-5" *ngIf="serviceFees?.length > 0">
                                                                            <span *ngFor="let item of serviceFees; let index = index"
                                                                                >{{ item.name }} - {{ item.percentage.toFixed(2) }}%
                                                                                <span *ngIf="index < serviceFees?.length - 1">, </span>
                                                                            </span>
                                                                            <span>{{ 'ServiceChargeAreApplicable' | localize }}</span>
                                                                        </div>
                                                                        <google-pay-button
                                                                            *ngIf="paymentRequest"
                                                                            [environment]="paymentRequest.environment"
                                                                            [buttonType]="paymentRequest.buttonType"
                                                                            [buttonColor]="paymentRequest.buttonColor"
                                                                            [existingPaymentMethodRequired]="false"
                                                                            [paymentRequest]="{
                                                                                apiVersion: paymentRequest.apiVersion,
                                                                                apiVersionMinor: paymentRequest.apiVersionMinor,
                                                                                allowedPaymentMethods: paymentRequest.allowedPaymentMethods,
                                                                                merchantInfo: paymentRequest.merchantInfo,
                                                                                transactionInfo: {
                                                                                    totalPriceStatus: 'FINAL',
                                                                                    totalPriceLabel: 'Total',
                                                                                    totalPrice: totalAmount ? totalAmount?.toString() : '0',
                                                                                    currencyCode: appSession.application.currency,
                                                                                    countryCode: 'SG'
                                                                                },
                                                                                callbackIntents: ['PAYMENT_AUTHORIZATION']
                                                                            }"
                                                                            (loadpaymentdata)="onLoadGooglePaymentData($event)"
                                                                            (error)="onGooglePayError($event)"
                                                                            [paymentAuthorizedCallback]="onGooglePaymentDataAuthorized"
                                                                            (readytopaychange)="onReadyToPayChange($event)"
                                                                        ></google-pay-button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row payment-option">
                                                                <div class="col-md-12">
                                                                    <p-radioButton
                                                                        name="paymentMethod"
                                                                        [value]="PAYMENT_METHOD.Swipe"
                                                                        label="Wallet"
                                                                        [(ngModel)]="paymentMethod"
                                                                        inputId="opt5"
                                                                        (onClick)="choosepaymentMethod()"
                                                                    >
                                                                    </p-radioButton>
                                                                    <div class="col-md-12 pl-5" [hidden]="paymentMethod != PAYMENT_METHOD.Swipe">
                                                                        <p-radioButton
                                                                            *ngFor="let cardItem of swipeCardList"
                                                                            name="swipeCard"
                                                                            [value]="cardItem.cardNumber"
                                                                            [label]="cardItem.cardNumber"
                                                                            [(ngModel)]="swipeCard"
                                                                            inputId="opt6"
                                                                        >
                                                                        </p-radioButton>
                                    
                                                                        <div class="form-group mt-2">
                                                                          <input [disabled]="!swipeCard" type="text" [(ngModel)]="swipeOTP"
                                                                            class="form-control" type="text" name="otp" placeholder="OTP">
                                                                        </div>
                                                                        <a style="display: block" href="javascript:void();" (click)="sendOTP()">{{ 'Send OTP To Email' | localize }}</a>
                                    
                                                                        <button [disabled]="!swipeOTP || !swipeCard" type="button" class="btn btn-primary mt-3 mr-3" (click)="payWithWallet()">
                                                                            {{ 'Pay With Wallet' | localize }}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- End Payment -->

                        <!-- Start Summary -->
                        <div class="col-lg-3 col-12 selectmeal-summery-child">
                            <div class="summary">
                                <!-- display__none__md   -->
                                <div class="app-navigator__header">
                                    <span class="app-navigator__header--text">Summary</span>
                                </div>

                                <div class="summary__body">
                                    <div class="summary__items">
                                        <div class="summary__common_head">
                                            <span class="items-number">{{order.items?.length}} Items</span>
                                        </div>
                                        <div class="summary__items__body">
                                            <ng-container *ngFor="let item of order.items">
                                                <div class="summary__items__body__item set-item">
                                                    <aside>
                                                        <!-- <img src="./assets/static/img/Banner-1.jpg" alt="" /> -->
                                                        <span class="item-name">{{ item.productSetName }}</span>
                                                        <span class="item-description"
                                                                >{{ item.mealTimeName }} - {{ item.date | date: 'EEE d/M/yy' }}</span
                                                            >
                                                    </aside>
                                                    <aside>
                                                        <div class="increaser float-right">
                                                            <button (click)="decreaseItemQuantity(item)" class="decreaseQty">-</button>
                                                            <input type="text" class="qtyValue" [value]="item.quantity" readonly />
                                                            <button [disabled]="balanceMeal <= 0" (click)="increaseItemQuantity(item)" class="increaseQty">
                                                                +
                                                            </button>
                                                        </div>
                                                    </aside>
                                                </div>
                                                <ng-container *ngIf="item.addOn?.length > 0">
                                                    <div *ngFor="let addon of item.addOn" class="summary__items__body__item">
                                                        <aside>
                                                            <span class="item-name addon">{{ addon.label }}</span>
                                                            <span class="item-description"
                                                                >{{ appSession.application.currencySign }}{{ addon.price }}</span
                                                            >
                                                        </aside>
                                                        <aside>
                                                            <div class="increaser float-right">
                                                                <button (click)="decreaseAddonQuantity(item, addon)" class="decreaseQty">-</button>
                                                                <input type="text" class="qtyValue" [value]="addon.quantity" readonly />
                                                                <button (click)="increaseAddonQuantity(addon)" class="increaseQty">+</button>
                                                            </div>
                                                        </aside>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                            <div *ngIf="!order.items || order.items.length == 0" class="py-5 d-flex align-items-center justify-content-center">
                                                No item Available
                                            </div>
                                        </div>
                                    </div>

                                    <div class="summary__mealplan">
                                        <div class="summary__common_head">
                                            <span>Meal Plan</span>
                                        </div>
                                        <div class="summary__request__sec mb-2">
                                            <aside>
                                                <span>{{ selecteProductOffer?.name }}</span>
                                            </aside>
                                        </div>
                                        <div class="summary__mealplan__total">
                                            <span class="my-5">
                                                <ng-container *ngIf="minimumOrderQuantity && MOQItems?.length > 0 && orderFilter.step != STEP_ORDER.ORDER">
                                                    <ng-container *ngFor="let moqItem of MOQItems">
                                                        Minimum {{ moqItem['moqTotal'] }}/{{ minimumOrderQuantity }} {{ moqItem.timeSlotFormTo?.from }}-{{
                                                            moqItem.timeSlotFormTo?.to
                                                        }}
                                                        &nbsp;&nbsp;&nbsp;
                                                        {{ moqItem.orderDate | date: 'dd MMM yyyy' }}<br />
                                                    </ng-container>
                                                </ng-container>
                                            </span>
                                            <span>
                                                *Balance Meals = {{ balanceMeal }}/{{ originBalanceMeal }}<br />
                                                Plan Expiry Date: {{ (expiryDate | date: 'dd MMM yyyy') || 'N/A' }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="summary__price">
                                        <section>
                                            <span class="name">Item Total</span>
                                            <span class="price">
                                                {{ appSession.application.currencySign }}
                                                {{ total | number: '1.2-2' }}</span
                                            >
                                        </section>
                                        <section *ngIf="order.deliveryType == TiffinDeliveryTimeSlotType.Delivery">
                                            <div>
                                                <span class="blue__text">Delivery Charge</span>
                                                <span *ngIf="order.deliverylocation">{{ order.deliverylocationName }}</span>
                                                <ng-container *ngFor="let item of order.orderDateList">
                                                    <small> {{ item.date | date: 'dd/MM/yyyy' }} {{ item.timeSlot?.from }} - {{ item.timeSlot?.to }} </small>
                                                    <br />
                                                </ng-container>
                                            </div>
                                            <div>
                                                <span>{{ appSession.application.currencySign }}{{ order.deliveryCharge | number: '1.2-2' }}</span>
                                            </div>
                                        </section>
                                        <section *ngIf="order.deliveryType == TiffinDeliveryTimeSlotType.SelfPickup">
                                            <div>
                                                <span class="blue__text">Self pick-up</span>
                                                <span *ngIf="order.selfPickupLocation">{{ order.selfPickupLocationName }}</span>
                                                <small *ngIf="order.selfPickupTimeSlot">
                                                    {{ order.selfPickupTimeSlot.from }}-{{ order.selfPickupTimeSlot.to }}
                                                </small>
                                            </div>
                                        </section>
                                        <section class="topay">
                                            <span>To pay</span>
                                            <span>{{ appSession.application.currencySign }}{{ amount | number: '1.2-2' }}</span>
                                        </section>
                                    </div>

                                    <div class="summary__button">
                                        <ng-container *ngIf="orderFilter.step == STEP_ORDER.ORDER">
                                            <button (click)="onDelivery()" [disabled]="(order.items || []).length == 0 || balanceMeal < 0">
                                                Delivery & Payment
                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="orderFilter.step == STEP_ORDER.DELIVERY">
                                            <button
                                                [buttonBusy]="saving"
                                                (click)="onPlace()"
                                                [disabled]="
                                                    (order.items || []).length == 0 ||
                                                    (!order.deliverylocation && !order.selfPickupLocation) ||
                                                    isInvalidTimeSlot ||
                                                    isInvalidMOQ
                                                "
                                            >
                                                Place the order
                                            </button>
                                        </ng-container>
                                    </div>
                                    <button
                                        *ngIf="orderFilter.step == STEP_ORDER.DELIVERY || orderFilter.step == STEP_ORDER.PAYMENT"
                                        (click)="back()"
                                        type="button"
                                        class="btn btn-light mt-5 w-100"
                                    >
                                        Back
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- End Summary -->
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>

<app-addon-dialog style="position: static" #addonModal (onClose)="updateAddon($event)"></app-addon-dialog>
<app-qr-code-dialog #QRCodeModal (onClose)="onCloseQRCodeModal($event)"></app-qr-code-dialog>
