<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Customers' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
                    {{l("ExportToExcel")}}</button>
                <button (click)="createOrEditCustomer()" class="btn btn-primary blue"
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Customer.Customers.Create')"><i class="fa fa-plus"></i>
                    {{l("CreateNewCustomer")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <!-- <span class="input-group-btn">
                                            <button (click)="dtable.getAll()" class="btn btn-primary"
                                                type="submit"><i class="flaticon-search-1"></i></button>
                                        </span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 text-right">
                                <button type="button" class="btn btn-primary" (click)="reloadPage()"> {{"Reset" | localize}}</button>
                                <button (click)="dtable.getAll()" class="btn btn-primary" type="submit">{{"Search" | localize}}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <app-dynamic-table #dtable></app-dynamic-table>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
