:host {
  z-index: 10;
  #footer {
    background-color: var(--footer-background);
    height: 100%;
    position: var(--footer-position);
    bottom: 0;
    width: 100%;
    display: table-footer-group;
    overflow: hidden;
    line-height: 0.875rem;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    @media (max-width: 992px) {
      // display: none;
    }
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
    }
    .copyright {
      display: block;
      text-align: right;
      @media (max-width: 767px) {
        font-size: 12px;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
    // a,
    // a:hover {
    //   color: #fff;
    // }
    .powered-by {
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}
