<footer id="footer" class="w-100 d-flex">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-5 d-flex justify-content-center align-items-center flex-column">
                <p class="powered-by mb-2">Powered by  <a href="https://lfsolutions.net" target="_blank">LevelFive</a></p>
               
            </div>
        </div>
    </div>
    <div class="extra-top d-lg-none d-block"></div>
</footer>