@import "../../../assets/scss/mixins";
:host {
    background-color: var(--yellow-2);
    display: block;
    min-height: 100%;
    .guest {
        justify-content: center;
        &__info {
            margin-top: 1.3rem;
            &__submitBtn {
                @include submitBtn(var(--black-1));
                margin-right: 1rem;
            }
            &__skipBtn {
                @include submitBtn(transparent);
                color: var(--black-1);
                @include border(2px, var(--black-1));
                flex-shrink: 2;
            }
            &__terms {
                font-size: 0.75rem;
                margin-top: 0.5rem;
                text-align: center;
            }
        }
    }
}