<div class="container pt-4 pb-2">
    <div class="row guest">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 pl-4 pr-4 mt-4">
            <p>
                Enter your information and get updates about the offers and discounts.
            </p>
            <div class="guest__info mt-4">
                <form action="javascript:;" class="d-flex flex-column align-items-center" [formGroup]="guestFormInfo">

                    <div class="input-control">
                        <span class="p-float-label custom-form-control">
                            <input autofocus type="text" id="fname" pInputText class="form-control" formControlName="name">
                            <label for="float-input">Name</label>
                        </span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control">
                            <input type="email" id="new-email" pInputText class="form-control"
                                formControlName="emailAddress">
                            <label for="float-input">Email</label>
                        </span>
                        <span class="error-msg" *ngIf="isError(guestFInfo.emailAddress)">Please enter an valid email
                            address.</span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control">
                            <input type="tel" id="phone" pInputText class="form-control" formControlName="phoneNumber">
                            <label for="float-input">Mobile Number</label>
                        </span>
                        <span class="error-msg" *ngIf="isError(guestFInfo.phoneNumber)">Please enter a valid mobile
                            number.</span>
                    </div>

                    <div class="w-100 d-flex">
                        <button type="submit" pRipple pButton class="btn guest__info__submitBtn dine-button" label="Submit" (click)="subMit()"></button>
                        <button type="submit" pRipple pButton class="btn guest__info__skipBtn dine-button" label="Skip"></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>