<div [@routerTransition]>
    <div *ngIf="screenMenu" class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('VirtualScreen') + ': ' + screenMenu.name">
            <div role="actions">
                <button *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Edit')" (click)="showSortModal()"
                    class="btn btn-outline-danger">
                    {{l("SortCategory")}}
                </button>

                <button *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Edit')" (click)="showCreateModal()"
                    class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {{l("CreateScreenMenuCategory")}}
                </button>
            </div>
        </sub-header>
        <!-- End Header -->
        <div class="vitual-screen">

            <div class="portlet light" [busyIf]="loading">
                <div class="portlet-title portlet-title-filter">
                    <form #vitualScreen="ngForm" novalidate class="form-validation">

                        <div class="form-body vitual-screen-body col-sm-12">
                            <div [style]="{ 'width': screenMenu.categoryColumnWidthRate + '%' }" style="float:left;">
                                <div *ngFor="let item of categories; let index = index"
                                    [style]="{
                                        'width': cateWidth, 
                                        'height':item.mainButtonHeight + 'px'
                                    }"
                                    class="vitual-screen__cate">

                                    <div class="vitual-screen__cate-div">
                                        <div class="btn vitual-screen__cate-btn md-skip"
                                            [style]="{ 'background': item.mainButtonColor}" 
                                            (click)="loadMenuItem(item)">

                                            <div class="text-right">
                                                <a *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Edit')"
                                                    title="Edit" 
                                                    href="javascript:void(0);"
                                                    (click)="editCategory(item, $event)">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                                <a *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Edit')"
                                                    title="Add menu" 
                                                    href="javascript:void(0);"
                                                    (click)="createMenuItem(item, $event)">
                                                    <i class="far fa-plus-square"></i>
                                                </a>
                                            </div>
                                            <div>
                                                <span [style]="{'font-size': item.mainFontSize+ 'px'}"
                                                    [innerHTML]="getCateName(item)">
                                                </span>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div [style]="{ 'width': 100 - screenMenu.categoryColumnWidthRate + '%' }"
                                class="margin-left-30">
                                <div [busyIf]="loadingMenu">
                                    <div *ngFor="let item of categoryTags"
                                        [style]="{
                                            'width':100/currentCate.subButtonRows+'%', 
                                            'height': currentCate.subButtonHeight + 'px' 
                                        }"
                                        class="vitual-screen__item">

                                        <div class="vitual-screen__item-div">
                                            <div class="btn btn-default"
                                                [style]="{ 'background': currentCate.subButtonColorDef}"
                                                style="width: 100%;height: 100%;" 
                                                (click)="getMenuItemsForTag(item)">
                                                <span 
                                                    [style]="{'font-size': currentCate.mainFontSize+ 'px'}"
                                                    [innerHTML]="getTagName(item)">
                                                </span>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <button *ngIf="currentTag?.length > 0"
                                        [style]="{
                                            'width':100/currentCate.subButtonRows+'%', 
                                            'height': currentCate.subButtonHeight + 'px' 
                                        }"
                                        class="btn btn-danger vitual-screen__item"
                                        (click)="getMenuItemsForTag(backButtonTag)">
                                        <i class="fas fa-long-arrow-alt-left"></i>
                                        {{ backButtonCaption}}
                                    </button>
                                </div>
                                <div class="margin-top-20">
                                    <div>
                                        <div *ngFor="let item of subMenuItems"
                                            [style]="{
                                                'width': menuWidth, 
                                                'height': menuHeight
                                            }"
                                            class="vitual-screen__item">
                                            <div class="vitual-screen__item-div">
                                                <div class="btn vitual-screen__item-btn md-skip"
                                                    [style]="{ 'background': item.buttonColor}">
                                                    <span [style]="{'font-size': item.fontSize + 'px'}"
                                                        [innerHTML]="getItemName(item.name)">
                                                    </span>
                                                    <br />
                                                    <span *ngIf="item.showAliasName"
                                                        [innerHTML]="getItemName(item.menuItemAliasName)">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<add-screen-menu-category #createModal (saved)="reloadPage()"></add-screen-menu-category>

<div appBsModal #sortModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    {{l('SortScreenMenuCategory')}}
                </h4>
            </div>

            <div class="modal-body">
                <div class="d-flex">
                    <div class="flex-fill" dragula="ScreenMenuCategory" [(dragulaModel)]="categoriesToSort">
                        <div class="alert alert-primary" *ngFor="let category of categoriesToSort">{{ category.name }}</div>
                    </div>
                </div>
            </div>

            <div class=" modal-footer">
                <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="closeSortModal()">
                    {{l("Cancel")}}
                </button>

                <button type="button" class="btn btn-primary blue" [disabled]="saving" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')" (click)="saveSortCategory()">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>

    </div>
</div>