::ng-deep {
    .vitual-screen-body {
        display: flex;
    }

    .vitual-screen__item,
    .vitual-screen__cate {
        display: inline-block;
    }

    .vitual-screen__item .vitual-screen__item-div,
    .vitual-screen__cate .vitual-screen__cate-div {
        border: 1px solid #fff;
        height: 100%;
    }

    .vitual-screen__item-btn,
    .vitual-screen__cate-btn {
        width: 100%;
        white-space: normal;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        i {
          font-size: 14px;
          color: #337ab7;
        }
    }

    .vitual-screen__item-btn {
        height: 100%;
        text-align: left;
    }
}
.btn.btn-default span {
    color: #464E5F; 
}