<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!menuItem.id ? l('Create Screen Menu Item') : l('Edit Screen Menu Item') + ': ' + menuItem.name"></sub-header>
        <!-- End Header -->
        <div [class]="containerClass" [busyIf]="isLoading">
            <div class="card card-custom gutter-b">
                <form #menuItemForm="ngForm" class="card-body" novalidate autocomplete="off" (ngSubmit)="save()">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">{{l("Name")}}</label>
                            <textarea [(ngModel)]="menuItem.name" class="form-control" name="name" id="name"
                                rows="3" placeholder="Name"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="menuItems">{{"MenuItem" | localize}}</label>
                            <div class="input-group">
                                <button type="button" class="btn btn-primary" *ngIf="!selectedMenuItem"
                                    (click)="openforMenuItem()">{{l("MenuItem")}}</button>
                                <button type="button" class="btn btn-primary" *ngIf="selectedMenuItem"
                                    (click)="openforMenuItem()">{{selectedMenuItem.id + ' - '+
                                    selectedMenuItem.name}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>{{l("ButtonColor")}}</label>
                            <div class="input-group">
                                <input [(ngModel)]="menuItem.buttonColor" class="form-control" name="buttonColorView"
                                    type="color" style="max-width: 45px;" />
                                <input [(ngModel)]="menuItem.buttonColor" class="form-control" name="buttonColor"
                                    type="text" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">{{l("SubMenuTag")}}</label>
                            <tag-input (onTextChange)="onTextChange($event)" [(ngModel)]="tags" name="subMenuTag"
                                class="app-ng2-tag-input" [ripple]="false" [errorMessages]="errorMessages"
                                [validators]="[minlength]">
                                <ng-template let-item="item" let-index="index">
                                    <span>{{ item.value }}</span>

                                    <span role="button" class="tags-input__tag-remove-btn"
                                        (click)="removeSubMenuTags(index)">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">Close</span>
                                    </span>
                                </ng-template>
                            </tag-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">{{l("Order Tag")}}</label>
                            <input type="text" name="orderTags" class="form-control" [(ngModel)]="menuItem.orderTags" placeholder="Order Tag">
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <input *ngIf="replyFiles?.length == 0" id="images" name="Images" type="file"
                                    ng2FileSelect class="mb-3" [uploader]="uploader" />

                                <div class="primeng-datatable-container w-100" [busyIf]="primengTableHelper.isLoading">
                                    <p-table [value]="replyFiles" [scrollable]="true" [paginator]="false">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>{{'Link' | localize}}</th>
                                                <th style="width: 130px;">{{'Actions' | localize}}</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-item="$implicit" let-index="rowIndex">
                                            <tr>
                                                <td>
                                                    <a [href]="item">{{ item }}</a>
                                                </td>
                                                <td style="width: 130px;text-align:center">
                                                    <div class="btn-group dropdown" dropdown>
                                                        <button type="button" class="btn btn-danger btn-sm"
                                                            (click)="removeFile(index)">
                                                            <span class="fa fa-trash"></span> {{'Delete' | localize}}
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-4 mb-3">
                            <label class="w-100">{{ l('SavedImage') }}</label>
                            <img class="image-preview" *ngIf="menuItem.imagePath" [src]="menuItem.imagePath" />
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <app-image-cropper-connect (ngModelChange)="addUploadFile($event)">
                                </app-image-cropper-connect>
                                <!-- <input id="imagePath" name="imagePath" type="file" class="mb-3" ng2FileSelect [uploader]="uploader" /> -->

                                <div class="primeng-datatable-container w-100">
                                    <p-table [value]="uploader.queue" [scrollable]="true" [paginator]="false"
                                        scrollHeight="300px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="175px">{{ l('Name') }}</th>
                                                <th width="70px">{{ l('Size') }}</th>
                                                <th width="100px">{{ l('Progress') }}</th>
                                                <th width="70px">{{ l('Status') }}</th>
                                                <th width="288px">{{ l('Actions') }}</th>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="body" let-item="$implicit">
                                            <tr>
                                                <td width="175px" class="align-baseline">
                                                    <strong>{{ item?.file?.name }}</strong>
                                                    <div *ngIf="uploader.options.isHTML5 && filePreviewPath">
                                                        <img class="image-preview" [src]="filePreviewPath"
                                                            style="width: 100%" />
                                                    </div>
                                                </td>

                                                <td width="70px" *ngIf="uploader.options.isHTML5" nowrap
                                                    class="text-center align-baseline">
                                                    {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                                                </td>

                                                <td width="100px" class="align-baseline">
                                                    <div class="progress" style="margin-bottom: 0">
                                                        <div class="progress-bar" role="progressbar"
                                                            [ngStyle]="{ width: item.progress + '%' }"></div>
                                                    </div>
                                                </td>

                                                <td width="70px" class="text-center align-baseline">
                                                    <span *ngIf="item.isSuccess" class="text-success"> <i
                                                            class="fa fa-check-circle"></i></span>
                                                    <span *ngIf="item.isCancel" class="text-warning"> <i
                                                            class="fa fa-times-circle"></i></span>
                                                    <span *ngIf="item.isError" class="text-danger"> <i
                                                            class="fa fa-exclamation-triangle"></i></span>
                                                </td>

                                                <td width="288px" nowrap class="align-baseline">
                                                    <button type="button" class="btn btn-success btn-sm"
                                                        (click)="item.upload()"
                                                        [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="fa fa-upload"></span> Upload
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-sm"
                                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                                        <span class="fa fa-times-circle"></span> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                        (click)="removeImage(item)">
                                                        <span class="fa fa-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row flex-row-reverse">
                        <div class="form-group col-md-4">
                            <label for="copyToAll" class="checkbox mt-8">
                                <input id="copyToAll" type="checkbox" name="copyToAll" [(ngModel)]="copyToAll">
                                {{l("CopyToAll")}}
                                <span></span>
                            </label>
                        </div>
                    </div> -->

                    <div class=" modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{l("Cancel")}}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<commonLookupModal #menuItemLookupModal (itemSelected)="menuItemSelected($event)"></commonLookupModal>