<div class="image-upload-container">
    <div *ngIf="progress > 0" class="d-flex align-items-center justify-content-center px-5 w-100 h-100">
        <div class="progress form-group w-100">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
            </div>
        </div>
    </div>

    <div *ngIf="(!value && progress === 0)"
        class="dropzone dropzone-default dz-clickable dz-started dz-max-files-reached" [id]="id">
        <div *ngIf="!sending" class="image-section-request-image-group">
            <ng-content></ng-content>
        </div>
    </div>

    <div *ngIf="value && progress === 0 && type==='image'" class="image-section-request-image-container">
        <img alt="" class="image-section-request-image" [src]="value" />
    </div>

    <div *ngIf="value && progress === 0 && type==='video'" class="image-section-request-image-container">
        <video alt="" class="image-section-request-image" [src]="value" controls>
        </video>
    </div>

    <button *ngIf="!value" class="btn btn-secondary" style="padding: 0px; margin-top: 10px; margin-left: 105px;"
        type="button">
        <input [accept]="acceptedFiles" style="opacity: 0; width: 100px; position: absolute;" type="file"
            (change)="onUploadFile($event.target.files[0])" />
        <span style="padding: 20px;">Browse</span>
    </button>

    <div *ngIf="value" class="btn-group m-btn-group" role="group" style="margin-left: 65px; margin-top: 10px;">
        <button class="btn btn-secondary" style="padding: 0px;" type="button">
            <input [accept]="acceptedFiles" style="opacity: 0;width: 100px;position: absolute;"
                type="file" (change)="onUploadFile($event.target.files[0])">
            <span style="padding: 20px;">Change</span>
        </button>
        <button class="btn btn-secondary" style="padding: 0px;" (click)="remove()">
            <span style="padding: 20px;">Remove</span>
        </button>
    </div>
</div>