<section class="contact">
    <div class="container">
        <article>
            <p>Drop us a message via WhatsApp or Email should you have any enquiries!</p>

            <div class="contact-block-container">
                <!-- contact block -->
                <div class="contact-block">
                    <img src="assets/static/svg/whatsapp_yellow.svg" alt="" />
                    <a href="https://wa.me/+65{{phoneNumber}}">+65 {{phoneNumber}}</a>
                </div>
                <!-- contact block ends -->

                <!-- contact block -->
                <div class="contact-block">
                    <img src="assets/static/svg/mail-icon.svg" alt="" />
                    <a href="mailto:{{email}}">{{email}}</a>
                </div>
                <!-- contact block ends -->
            </div>
        </article>
    </div>
</section>
