
    .margin_bottom_0 {
        margin-bottom: 0 !important;
    }

    .border_bottom_none {
        border-bottom: none !important;
    }

    .custom_table_date {
        margin-bottom: 0px !important;
    }

    .display_flex {
        display: flex;
    }


    .w-15 {
        width: 15%;
    }

    .w-25 {
        width: 25%;
    }

    .w-30 {
        width: 30%;
    }

    .w-35 {
        width: 35%;
    }

    .w-50 {
        width: 50%;
    }

    .w-85 {
        width: 85%;
    }


    .w-100 {
        width: 100%;
    }


    .float-right {
        float: right;
    }

    .ml-10 {
        margin-left: 10px;
    }

    .mt-50 {
        margin-top: 50px;
    }

    .zom-15 {
        zoom: 1.5;
    }

    .pl-44 {
        padding-left: 44px;
    }

    .thead_title {
        background-color: #008000;
        font-weight: bold;
        color: white;
    }

    .thead_content {
        background-color: #808080;
        color: white;
    }

    .footer_item {
        background-color: #d6dce5;
        font-weight: bold;
    }

    .footer_str {
        display: flex;
        padding: 10px;
    }

    .footer {
        background-color: #e2f0d9;
        font-weight: bold;
    }

    .color_header {
        background-color: #808080;
        color: white;
    }

    .color_posName {
        background-color: #f0f0f0;
    }

    .color_total {
        background-color: #f0f0f0;
    }

    .font_weight_bold {
        font-weight: bold;
    }
