<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'CashSummaryReport' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" #cashSummary="ngForm" novalidate (ngSubmit)="getData()" autocomplete="off">
            
                        <div class="row align-items-center mt-3">
                            <div class="col-xl-6">
                                <div class="input-group date">
                                    <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                        #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date"
                                        #dp1="bsDaterangepicker"
                                        [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                
                                    <button type="button" class="btn btn-danger" (click)="exportToExcel(ExportType.Excel)"><i
                                        class="la-file-excel-o"></i> {{ l('Excel') }}</button>
                                <!-- <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" dropdownToggle [buttonBusy]="isExporting"
                                        [busyText]="l('Exporting')">
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item cursor-pointer">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item cursor-pointer">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div> -->
                                <button type="submit" class="btn btn-primary ml-1">
                                    <i class="la la-check-circle-o"></i>
                                    {{ l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->

                        <table class="table table-bordered custom_table_date border_bottom_none w-100">
                            <tr class="thead_title">
                                <td colspan="4" class="border_bottom_none text-center font_weight_bold">
                                    {{l('CashSummaryReport')}}</td>
                            </tr>
                            <tr class="thead_content">
                                <td class="w-15 border_bottom_none text-center font_weight_bold">{{l('SNo') }}</td>
                                <td class="w-35 border_bottom_none text-center font_weight_bold">{{l('Description')
                                    }}</td>
                                <td class="w-25 border_bottom_none text-center font_weight_bold">{{l('Amount') }}
                                </td>
                                <td class="w-25 border_bottom_none text-center font_weight_bold">
                                    {{l('CustomerTAXID') }}</td>
                            </tr>
                        </table>

                        <div class="content_str" *ngFor="let dataByPlant of listCashSummary ; let index = index">
                            <div class="w-100 display_flex color_header">
                                <table class="table table-bordered custom_table_date border_bottom_none">
                                    <tr>
                                        <td colspan="4" class="w-85 border_bottom_none font_weight_bold">{{l('Plant') }}
                                            : {{dataByPlant.plantCode}} - {{dataByPlant.plantName}} {{l('SoldTo') }} :
                                            {{dataByPlant.soldToID}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="w-100" *ngFor="let dataByDate in  dataByPlant.listItem ; let indexDate = index">
                                <div class="display_flex w-100 color_header">
                                    <table class="table table-bordered custom_table_date border_bottom_none">
                                        <tr>
                                            <td class="w-15 border_bottom_none text-center font_weight_bold">{{l('Date')
                                                }}</td>
                                            <td colspan="5" class="w-85 border_bottom_none font_weight_bold">
                                                {{dataByDate.date | date : 'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="w-100 "
                                    *ngFor="let dataByShift in  dataByDate.listItem ; let indexShift = index">
                                    <table class="table table-bordered margin_bottom_0">
                                        <tr class="color_posName">
                                            <td class="w-15 text-center font_weight_bold">{{l('Shift') }} {{indexShift +
                                                1}} ( {{dataByShift.startUser}} )</td>
                                            <td colspan="4" class="w-85 font_weight_bold">{{dataByShift.startShift}} -
                                                {{dataByShift.endShift}} </td>
                                        </tr>
                                        <tr *ngFor="let item in  dataByShift.listItem">
                                            <td class="w-15 text-center">{{indexShift + 1}}</td>
                                            <td class="w-35">{{item.detail}}</td>
                                            <td class="w-25 text-center">{{item.amount | number : '1.2-2'}}</td>
                                            <td class="w-25">{{item.taxId}}</td>
                                        </tr>
                                        <tr class="color_total">
                                            <td colspan="2" style="text-align: right;" class="font_weight_bold">
                                                {{l('TotalShift') }} {{indexShift + 1}}</td>
                                            <td class="text-center font_weight_bold">{{dataByShift.totalAmount | number
                                                : '1.2-2' }}</td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                                <table
                                    class="table table-bordered custom_table_date border_bottom_none color_total w-100">
                                    <tr>
                                        <td colspan="2" style="text-align: right;" class="w-50 font_weight_bold">
                                            {{l('TotalDate') }} {{dataByDate.date | date: 'dd/MM/yyyy'}}</td>
                                        <td class="text-center w-25 font_weight_bold">{{dataByDate.totalAmount| number :
                                            '1.2-2' }}</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <table class="table table-bordered custom_table_date border_bottom_none color_tota w-100l">
                                <tr>
                                    <td colspan="2" style="text-align: right;" class="w-50 font_weight_bold">
                                        {{l('TotalPlant') }} {{dataByPlant.plantCode}}</td>
                                    <td class="text-center w-25 font_weight_bold">{{dataByPlant.totalAmount| number :
                                        '1.2-2' }}</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>

                        <table class="table table-bordered custom_table_date border_bottom_none color_total">
                            <tr>
                                <td colspan="2" style="text-align: right;" class="w-50 font_weight_bold">{{l('AllTotal')}}</td>
                                <td class="text-center w-25 font_weight_bold">{{totalAmount | number : '1.2-2'}}</td>
                                <td></td>
                            </tr>
                        </table>

                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

</div>
