<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #shipmentOrderForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="order.id">{{l("EditOrder")}}</span>
                        <span *ngIf="!order.id">{{l("CreateNewOrder")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <tabset class="tab-container tabbable-line w-100 backgroundColor__white">
                        <tab heading="{{l('Main')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="OrderNo">{{l("OrderNo")}}*</label>
                                    <input type="text" id="OrderNo" class="form-control" [(ngModel)]="order.number"
                                        name="code" #OrderNoInput="ngModel" required />
                                    <validation-messages [formCtrl]="OrderNoInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Type">{{l("Type")}} </label>
                                    <select id="Type" class="form-control" [(ngModel)]="order.type"
                                        name="Type" #TypeInput="ngModel">
                                        <option [value]="undefined">
                                            {{"" | localize}}
                                        </option>
                                        <option *ngFor="let item of lstShipmentTypes" [value]="item.displayText">
                                            {{item.displayText}}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="TypeInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Date">{{l("Date")}} </label>
                                    <input id="OrderDate" type="text" name="OrderDate" class="form-control" bsDatepicker
                                        datePickerMomentModifier [(date)]="date"
                                        [bsConfig]="{ adaptivePosition: true }" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Client">{{l("Client")}} </label>
                                    <input type="text" id="Client" class="form-control" [(ngModel)]="order.client"
                                        name="Client" #ClientInput="ngModel" />
                                    <validation-messages [formCtrl]="ClientInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Shipper">{{l("Shipper")}} </label>
                                    <input type="text" id="Shipper" class="form-control" [(ngModel)]="order.customer"
                                        name="Shipper" #ShipperInput="ngModel" />
                                    <validation-messages [formCtrl]="ShipperInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Address">{{l("Address")}} </label>
                                    <input type="text" id="Address" class="form-control" [(ngModel)]="order.address"
                                        name="Address" #AddressInput="ngModel" />
                                    <validation-messages [formCtrl]="AddressInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="shipFromId">{{l("Depot/ShipFrom")}} </label>
                                    <select id="shipFromId" class="form-control" [(ngModel)]="order.shipmentDepotId"
                                        name="shipFromId" #shipFromIdInput="ngModel">
                                        <option [value]="undefined">
                                            {{"" | localize}}
                                        </option>
                                        <option *ngFor="let item of lstShipmentDepot" [value]="item.value">
                                            {{item.displayText}}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="shipFromIdInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="ContactName">{{l("ContactName")}} </label>
                                    <input type="text" id="ContactName" class="form-control" [(ngModel)]="order.contactName"
                                        name="ContactName" #ContactNameInput="ngModel" />
                                    <validation-messages [formCtrl]="ContactNameInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Weight">{{l("Weight")}} </label>
                                    <input type="number" id="Weight" class="form-control" [(ngModel)]="order.weight"
                                        name="Weight" #WeightInput="ngModel" />
                                    <validation-messages [formCtrl]="WeightInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Volume">{{l("Volume")}} </label>
                                    <input type="number" id="Volume" class="form-control" [(ngModel)]="order.volume"
                                        name="Volume" #VolumeInput="ngModel" />
                                    <validation-messages [formCtrl]="VolumeInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="ContactPhone">{{l("ContactPhone")}} </label>
                                    <input type="text" id="ContactPhone" class="form-control" [(ngModel)]="order.tel"
                                        name="ContactPhone" #ContactPhoneInput="ngModel" />
                                    <validation-messages [formCtrl]="ContactPhoneInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Pallets">{{l("Pallets")}} </label>
                                    <input type="number" id="Pallets" class="form-control" [(ngModel)]="order.pallets"
                                        name="Pallets" #PalletsInput="ngModel" />
                                    <validation-messages [formCtrl]="PalletsInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="COD">{{l("COD")}} </label>
                                    <input type="number" id="COD" class="form-control" [(ngModel)]="order.cod"
                                        name="COD" #CODInput="ngModel" />
                                    <validation-messages [formCtrl]="CODInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Email">{{l("Email")}} </label>
                                    <input type="email" id="Email" class="form-control" [(ngModel)]="order.email"
                                        name="Email" #EmailInput="ngModel"  email />
                                    <validation-messages [formCtrl]="EmailInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Note">{{l("Note")}} </label>
                                    <input type="text" id="Note" class="form-control" [(ngModel)]="order.note"
                                        name="Note" #NoteInput="ngModel" />
                                    <validation-messages [formCtrl]="NoteInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Goods">{{l("Goods")}} </label>
                                    <input type="text" id="Goods" class="form-control" [(ngModel)]="orderItem.name"
                                        name="Goods" #GoodsInput="ngModel" />
                                    <validation-messages [formCtrl]="GoodsInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Quantity">{{l("Quantity")}} </label>
                                    <input type="number" id="Quantity" class="form-control"
                                        [(ngModel)]="orderItem.amount" name="Quantity" #QuantityInput="ngModel" />
                                    <validation-messages [formCtrl]="QuantityInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Price">{{l("Price")}} </label>
                                    <input type="number" id="Price" class="form-control" [(ngModel)]="orderItem.cost"
                                        name="Price" #PriceInput="ngModel" />
                                    <validation-messages [formCtrl]="PriceInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Unit">{{l("Unit")}} </label>
                                    <input type="text" id="Unit" class="form-control" [(ngModel)]="orderItem.metrik"
                                        name="Unit" #unitInput="ngModel" />
                                    <validation-messages [formCtrl]="unitInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="button" class="btn btn-outline-secondary margin__top--25"
                                        (click)="addOrderItem()">
                                        {{l("Add")}}
                                    </button>
                                </div>
                            </div>

                            <div class="row  primeng-datatable-container">
                                <p-table [value]="order.items" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 100px;"> {{l("Name")}}</th>
                                            <th style="width: 100px;"> {{l("Unit")}}</th>
                                            <th style="width: 100px;"> {{l("Qty")}}</th>
                                            <th style="width: 100px;"> {{l("Price")}}</th>
                                            <th style="width: 100px;"> #</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                                        <tr>
                                            <td style="width: 100px;">{{rowData.name}}</td>
                                            <td style="width: 100px;">
                                                <input type="text" name="{{'metrik' + i}}" [(ngModel)]="rowData.metrik" class="form-control">
                                            </td>
                                            <td style="width: 100px;">
                                                <input type="number" name="{{'amount' + i}}" [(ngModel)]="rowData.amount" class="form-control">
                                            </td>
                                            <td style="width: 100px;">
                                                <input type="number" name="{{'cost' + i}}" [(ngModel)]="rowData.cost" class="form-control">
                                            </td>
                                            <td style="width: 100px;"><a class="text-danger cursor-pointer" (click)="deleteOrderItem(i)">Delete</a></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                        </tab>

                        <tab heading="{{l('Addittional')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="BarCode">{{l("BarCode")}} </label>
                                    <input type="text" id="BarCode" class="form-control" [(ngModel)]="order.barcode"
                                        name="BarCode" #BarCodeInput="ngModel"/>
                                    <validation-messages [formCtrl]="BarCodeInput"></validation-messages>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="TimeFrom">{{l("TimeFrom")}} </label>
                                    <select id="TimeFrom    " class="form-control" [(ngModel)]="order.deliveryTimeFrom"
                                        name="TimeFrom" #TimeFromInput="ngModel">
                                        <option [value]="undefined">
                                            {{"" | localize}}
                                        </option>
                                        <option *ngFor="let item of lstShipmentTimes" [value]="item.displayText">
                                            {{item.displayText}}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="TimeFromInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="TimeTill">{{l("TimeTill")}} </label>
                                    <select id="TimeTill" class="form-control" [(ngModel)]="order.deliveryTimeTo"
                                        name="TimeTill" #TimeTillInput="ngModel">
                                        <option [value]="undefined">
                                            {{"" | localize}}
                                        </option>
                                        <option *ngFor="let item of lstShipmentTimes" [value]="item.displayText">
                                            {{item.displayText}}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="TimeTillInput"></validation-messages>
                                </div>
                            </div>
                        </tab>
                    </tabset>

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!shipmentOrderForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
