::ng-deep {
    .ui-chkbox-label {
        float: left;
        margin-right: 15px !important;
        margin-left: 15px !important;
    }
    .ui-calendar-timeonly{
        display: block !important;
        .ui-inputtext{
            width: 100% !important;
            border: 1px solid #e5eaee !important;
        }
    }
}
