<div class="card card-custom" [ngClass]="{'portlet-fullscreen':isFullScreen}">
    <div class="card-header less-padding" >
        <div class="card-title">
            <h3 class="card-label" (click)="getDeliveries()">
                {{l("Deliveries")}}
                <button (click)="removeOrders()" class="btn btn-secondary" style="margin-left: 20px;">
                    <i class="pi pi-times"></i>
                    Remove
                </button>
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default" (click)="onChangeFullScreen()">
                <i class="fas fa-expand-arrows-alt" *ngIf="!isFullScreen"></i>
                <i class="fas fa-compress-arrows-alt" *ngIf="isFullScreen"></i>
            </a>
        </div>
    </div>
    <div class="card-body less-padding">
        <div class="primeng-datatable-container" [busyIf]="loading" style="height: 100%;">
            <p-table [value]="lstDelivery" dataKey="id" (onRowExpand)="onRowExpand($event)" selectionMode="multiple"
                [(selection)]="selectedOrders" [scrollable]="true" [scrollHeight]="'flex'" [responsive]="true" [expandedRowKeys]="expandedRows">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:50px"></th>
                        <th style="width:50px">#</th>
                        <th style="width:100px"> {{l("Type")}}</th>
                        <th style="width:100px"> {{l("OrderNo")}}</th>
                        <th style="width:100px"> {{l("Date")}}</th>
                        <th style="width:100px"> {{l("Client")}}</th>
                        <th style="width:100px"> {{l("Status")}}</th>
                        <th style="width:100px"> {{l("Time")}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex"
                        [ngClass]="{'row--actived': rowData.isActive == true }">
                        <td style="width: 50px">
                            <div class="btn-group dropdown" dropdown container="body">
                                <button class="btn btn-sm btn-primary" dropdownToggle>
                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" *dropdownMenu>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="createOrEditOrderModal.show(rowData.id)">{{l('Edit')}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td style="width: 50px">
                            <a href="#" [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                        </td>
                        <td style="width:100px">{{rowData.type}}</td>
                        <td style="width:100px">{{rowData.number}}</td>
                        <td style="width:100px">{{rowData.date | momentFormat: 'DD/MM/YYYY'}}</td>
                        <td style="width:100px">{{rowData.client}}</td>
                        <td style="width:100px">{{rowData.status}}</td>
                        <td style="width:100px">{{rowData.arrivalDate}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData>
                    <tr>
                        <td [attr.colspan]="8">
                            <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                                <tabset class="tab-container tabbable-line w-100 backgroundColor__white">
                                    <tab heading="{{l('Goods')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                        <div class="row">
                                            <!-- Ghost -->
                                            <div class="card-body content__expand primeng-datatable-container">
                                                <p-table [value]="rowData.goods" dataKey="id">
                                                    <ng-template pTemplate="header">
                    <tr>
                        <th> {{l("Code")}}</th>
                        <th> {{l("Name")}}</th>
                        <th> {{l("Unit")}}</th>
                        <th> {{l("Qty")}}</th>
                        <th> {{l("Price")}}</th>
                        <th> {{l("Rejected")}}</th>
                        <th> {{l("ReasonForRejected")}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>{{rowData.code}}</td>
                        <td>{{rowData.name}}</td>
                        <td>{{rowData.metrik}}</td>
                        <td>{{rowData.amount}}</td>
                        <td>{{rowData.cost}}</td>
                        <td>{{rowData.rejected}}</td>
                        <td>{{rowData.reasonForRejected}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    </tab>
    <tab heading="{{l('Info')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">{{l("ContactDetail")}} :</span>
                    <span class="margin-left-5">{{rowData.contactName}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Email")}} :</span>
                    <span class="margin-left-5">{{rowData.email}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("TimeSlot")}} :</span>
                    <span class="margin-left-5">{{rowData.timeSlot}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Note")}} :</span>
                    <span class="margin-left-5">{{rowData.note}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("BarCode")}} :</span>
                    <span class="margin-left-5">{{rowData.barCode}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("CreatedBy")}} :</span>
                    <span class="margin-left-5">{{rowData.createdBy}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("DateCreated")}} :</span>
                    <span class="margin-left-5">{{rowData.date | momentFormat: 'DD/MM/YYYY' }}</span>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">{{l("Weight")}} :</span>
                    <span class="margin-left-5">{{rowData.weight}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Volume")}} :</span>
                    <span class="margin-left-5">{{rowData.volume}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Pallets")}} :</span>
                    <span class="margin-left-5">{{rowData.pallets}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Code")}} :</span>
                    <span class="margin-left-5">{{rowData.code}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("ActualCode")}} :</span>
                    <span class="margin-left-5">{{rowData.actualCode}}</span>
                </p>
            </div>
        </div>
    </tab>
    </tabset>
</div>
</td>
</tr>
</ng-template>
            </p-table>
        </div>
    </div>
</div>
<app-create-or-edit-shipment-order-modal #createOrEditOrderModal (modalSave)="getDeliveries()">
</app-create-or-edit-shipment-order-modal>
