<p>duplicate-route-modal works!</p>
<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #shipmentRouteForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="shipmentRoute.id">{{l("DuplicateRoute")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Code">{{l("Code")}} *</label>
                            <input type="text" id="Code" class="form-control" [(ngModel)]="shipmentRoute.code" name="code"
                                required #codeInput="ngModel" />
                            <validation-messages [formCtrl]="codeInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Date">{{l("Date")}} </label>
                            <input id="OrderDate" type="text" name="OrderDate" class="form-control" bsDatepicker
                                datePickerMomentModifier [(date)]="date" [bsConfig]="{ adaptivePosition: true }" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Time">{{l("Time")}} </label>
                            <p-calendar [(ngModel)]="time" name="time" [timeOnly]="true" inputId="timeonly">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="shipFromId">{{l("ShipFrom")}}*</label>
                            <select id="shipFromId" class="form-control" [(ngModel)]="shipmentRoute.shipFromId"
                                name="shipFromId" #shipFromIdInput="ngModel" required>
                                <option [value]="undefined">
                                    {{"" | localize}}
                                </option>
                                <option *ngFor="let item of lstShipmentDepot" [value]="item.value">
                                    {{item.displayText}}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="shipFromIdInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Driver">{{l("Driver")}} </label>
                            <select id="Drive" class="form-control" [(ngModel)]="shipmentRoute.driverId" name="Driver"
                                #driveIdInput="ngModel">
                                <option [value]="undefined">
                                    {{"" | localize}}
                                </option>
                                <option *ngFor="let item of lstShipmentDriver" [value]="item.value">
                                    {{item.displayText}}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="driveIdInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="checkbox-list-markItem">
                                <p-checkbox name="active" label="Start From Depot" binary="true"
                                    [(ngModel)]="shipmentRoute.isStartFromDepot">
                                </p-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="checkbox-list-markItem">
                                <p-checkbox name="active" label="End At Depot" binary="true"
                                    [(ngModel)]="shipmentRoute.isEndAtDepot">
                                </p-checkbox>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!shipmentRouteForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
