<div [@routerTransition] class="route">
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Routes' | localize" [description]="'RoutesHeaderInfo' | localize">
        </sub-header>
        <div [class]="containerClass">
            <div style="height: 87vh;">
                <as-split direction="horizontal">
                    <as-split-area [size]="50">
                        <as-split direction="vertical">
                            <as-split-area>
                                <app-routes #routes (emptyRouteEmitter)="emptyRoute($event)"></app-routes>
                            </as-split-area>
                            <as-split-area>
                                <app-shipment-sites #sites [currentState]="currentState"
                                    (orderAdd)="orderAdded($event)">
                                </app-shipment-sites>
                            </as-split-area>
                            <as-split-area>
                                <app-shipment-deliveries #deliveries [currentState]="currentState"
                                    (ordersRemove)="ordersRemoved($event)"></app-shipment-deliveries>
                            </as-split-area>
                        </as-split>
                    </as-split-area>
                    <as-split-area [size]="50">
                        <as-split direction="vertical">
                            <as-split-area [size]="50">
                                <app-shipment-maps #map></app-shipment-maps>
                            </as-split-area>
                            <as-split-area [size]="50">
                                <app-shipping-orders #orders [currentState]="currentState"></app-shipping-orders>
                            </as-split-area>
                        </as-split>
                    </as-split-area>
                </as-split>
            </div>
        </div>
    </div>
</div>
