.row--actived{
    background-color: #ff6600 !important;
    color: white !important;
}

::ng-deep .route .as-split-area {
    overflow-y: hidden !important;
}

::ng-deep .route .card-custom {
    height: 100%;
}

::ng-deep .route .card-custom .card-header {
    padding: 10px !important;
}

::ng-deep .route .card-custom .card-body {
    padding: 10px !important;
}
.three-dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
