agm-map{
    width: 100%;
    height: 100%;
}
.show__option{
    position: absolute;
    top: 140px;
    left: 30px;
    width: 64px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.75;
    padding: 5px;
    z-index: 3;
}
.show__delivery{
    padding: 5px;
}
.fas{
    color: #ff6600;
}
