<div class="card card-custom">
    <div class="card-header less-padding">
        <div class="card-title">
            <h3 class="card-label">
                {{l("Maps")}}
            </h3>
        </div>
    </div>
    <div class="card-body less-padding" [busyIf]="loading">
        <div class="show__option">
            <div class="show__delivery">
                <div class="checkbox-list-markItem">
                    <i class="fas fa-map-marker-alt"></i>
                    <p-checkbox class="pl-4" name="isShowMark" binary="true" [(ngModel)]="isShowMark">
                    </p-checkbox>
                </div>
                <div class="checkbox-list-markItem mt-2">
                    <i class="fas fa-route"></i>
                    <p-checkbox class="pl-3" name="isShowDirection" binary="true" [(ngModel)]="isShowDirection">
                    </p-checkbox>
                </div>
            </div>

        </div>
        <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true" [mapTypeControl]="true"
            [zoom]="zoomLevel" [zoomControlOptions]="zoomControlOptions" (mapReady)="onMapReady($event)">
            <ng-container *ngIf="isShowMark">
                <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                    [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                    <agm-info-window *ngIf="m.name != ''">
                        <strong>{{m.name}}</strong>
                    </agm-info-window>
                </agm-marker>
            </ng-container>

            <ng-container  *ngIf="isShowDirection">
                <agm-direction *ngFor="let dir of directions; let i = index" [origin]="dir.origin"
                [destination]="dir.destination"></agm-direction>
            </ng-container>
            
        </agm-map>
    </div>
</div>