<div class="card card-custom" [ngClass]="{'portlet-fullscreen':isFullScreen}">
    <div class="card-header less-padding">
        <div class="card-title">
            <h3 class="card-label" (click)="getOrders()">
                {{l("Orders")}}
            </h3>
            <button (click)="createOrder()" class="btn btn-primary blue">
                <!-- <i class="fa fa-plus"></i> -->
                Add Order
            </button>
            <button (click)="importOrders()" class="btn btn-primary blue">
                <!-- <i class="fa fa-download"></i> -->
                Import Orders
            </button>
            <input id="ordersFileInput" [uploader]="uploader" #ordersFileInput type="file" ng2FileSelect
                style="display: none" class="form-control-file"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            <a (click)="downloadTemp()" href="javascript:void(0);" class="ml-5">Download Template</a>
        </div>
        <div class="card-toolbar">
            <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default" (click)="onChangeFullScreen()">
                <i class="fas fa-expand-arrows-alt" *ngIf="!isFullScreen"></i>
                <i class="fas fa-compress-arrows-alt" *ngIf="isFullScreen"></i>
            </a>
        </div>
    </div>
    <div class="card-body less-padding">
        <div class="primeng-datatable-container" [busyIf]="loading" style="height: 100%;">
            <p-table [value]="lstOrder" dataKey="id" (onRowExpand)="onRowExpand($event)" [scrollable]="true"
                [scrollHeight]="'flex'" selectionMode="multiple" [expandedRowKeys]="expandedRows">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:50px">#</th>
                        <th style="width:50px"></th>
                        <th style="width:80px">{{l("Type")}}</th>
                        <th style="width:80px">{{l("OrderNo")}}</th>
                        <th style="width:80px">{{l("Date")}}</th>
                        <th style="width:80px">{{l("Client")}}</th>
                        <th style="width:100px">{{l("Address")}}</th>
                        <th style="width:100px">{{l("ShipFrom")}}</th>
                        <th style="width:70px">{{l("Zone")}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                    <tr (click)="clickOrder(rowData)" [ngClass]="{'row--actived': rowData.isActive == true }"
                        pDraggable="orders" (onDragStart)="dragStart($event,rowData)" (onDragEnd)="dragEnd($event)">
                        <td style="width: 50px">
                            <div class="btn-group dropdown" dropdown container="body">
                                <button class="btn btn-sm btn-primary" dropdownToggle>
                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" *dropdownMenu>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="createOrEditOrderModal.show(rowData.id)">{{l('Edit')}}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="deleteOrder(rowData)">{{l('Delete')}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td style="width:50px">
                            <a href="#" [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                        </td>
                        <td style="width:80px">{{rowData.type}}</td>
                        <td style="width:80px">{{rowData.number}}</td>
                        <td style="width:80px">{{rowData.date | momentFormat: 'DD/MM/YYYY'}}</td>
                        <td style="width:80px">{{rowData.client}}</td>
                        <td style="width:100px" class="three-dots">{{rowData.address}}</td>
                        <td style="width:100px" class="three-dots">{{rowData.depotAddress}}</td>
                        <td style="width:70px">{{rowData.zone}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData>
                    <tr>
                        <td [attr.colspan]="9">
                            <div class="p-grid -fluid" style="font-size:16px;padding:20px">
                                <tabset class="tab-container tabbable-line w-100 backgroundColor__white">
                                    <tab heading="{{l('Goods')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                        <div class="row">
                                            <!-- Ghost -->
                                            <div class="card-body content__expand primeng-datatable-container"
                                                [busyIf]="loadingGoods">
                                                <p-table [value]="rowData.goods" dataKey="id">
                                                    <ng-template pTemplate="header">
                    <tr>
                        <th> {{l("Code")}}</th>
                        <th> {{l("Name")}}</th>
                        <th> {{l("Unit")}}</th>
                        <th> {{l("Qty")}}</th>
                        <th> {{l("Price")}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>{{rowData.barcode}}</td>
                        <td>{{rowData.name}}</td>
                        <td>{{rowData.metrik}}</td>
                        <td>{{rowData.amount}}</td>
                        <td>{{rowData.cost}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- Ghost -->
    </div>
    </tab>
    <tab heading="{{l('Info')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">{{l("ContactDetail")}} :</span>
                    <span class="margin-left-5">{{rowData.tel}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Email")}} :</span>
                    <span class="margin-left-5">{{rowData.email}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Note")}} :</span>
                    <span class="margin-left-5">{{rowData.note}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("BarCode")}} :</span>
                    <span class="margin-left-5">{{rowData.barCode}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("CreatedBy")}} :</span>
                    <span class="margin-left-5">{{rowData.createdBy}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("DateCreated")}} :</span>
                    <span class="margin-left-5">{{rowData.date | momentFormat: 'DD/MM/YYYY' }}</span>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">{{l("Weight")}} :</span>
                    <span class="margin-left-5">{{rowData.weight}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Volume")}} :</span>
                    <span class="margin-left-5">{{rowData.volume}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Pallets")}} :</span>
                    <span class="margin-left-5">{{rowData.pallets}}</span>
                </p>
                <p>
                    <span class="font-weight-bold">{{l("Code")}} :</span>
                    <span class="margin-left-5">{{rowData.cod}}</span>
                </p>
            </div>
        </div>
    </tab>
    </tabset>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>
</div>
</div>
<app-create-or-edit-shipment-order-modal #createOrEditOrderModal (modalSave)="getOrders()">
</app-create-or-edit-shipment-order-modal>
