.backgroundColor__white{
    background-color: white;
}
.content__expand{
    padding: 0rem 1rem !important;
}
.row--actived{
    background-color: #ff6600 !important;
    color: white !important;
}

.portlet-fullscreen{
    z-index: 1039;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
.three-dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
