<div class="card card-custom" [ngClass]="{'portlet-fullscreen':isFullScreen}">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Routes
            </h3>
            <div class="input-group">
                <input type="text" placeholder="" class="form-control" bsDaterangepicker [(ngModel)]="dateRange"
                    name="date" [bsConfig]="{
                            isAnimated: true,
                            rangeInputFormat: 'YYYY-MM-DD',
                            dateInputFormat: 'YYYY-MM-DD',
                            showWeekNumbers: false
                        }" />
                <span class="input-group-btn">
                    <button (click)="searchRoutes()" class="btn btn-primary" type="submit">
                        <i class="flaticon-search-1"></i>
                    </button>
                    <button (click)="createRoute()" class="btn btn-primary blue">
                        Add Route
                    </button>
                </span>
            </div>
        </div>
        <div class="card-toolbar">
            <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default" (click)="onChangeFullScreen()">
                <i class="fas fa-expand-arrows-alt" *ngIf="!isFullScreen"></i>
                <i class="fas fa-compress-arrows-alt" *ngIf="isFullScreen"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <!--<Primeng-Datatable-Start>-->
        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading" style="height: 100%;">
            <p-table #dataTable (onLazyLoad)="getRoutes($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" [scrollHeight]="'flex'" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 50px">
                            #
                        </th>
                        <th style="width: 100px" pSortableColumn="Code">
                            {{l('Code')}}
                            <p-sortIcon field="Code"></p-sortIcon>
                        </th>
                        <th style="width: 100px" pSortableColumn="Date">
                            {{l('Date')}}
                            <p-sortIcon field="Date"></p-sortIcon>
                        </th>
                        <th style="width: 150px" pSortableColumn="ShipFrom">
                            {{l('ShipFrom')}}
                            <p-sortIcon field="ShipFrom"></p-sortIcon>
                        </th>
                        <th style="width: 100px" pSortableColumn="Driver">
                            {{l('Driver')}}
                            <p-sortIcon field="Driver"></p-sortIcon>
                        </th>
                        <th style="width: 100px" pSortableColumn="Status">
                            {{l('Status')}}
                            <p-sortIcon field="Status"></p-sortIcon>
                        </th>
                        <th style="width: 120px" pSortableColumn="Date">
                            {{l('Time')}}
                            <p-sortIcon field="Date"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                    <tr [ngClass]="{'row--actived': record.isActive == true }" (click)="clickRoute(record)"
                        (contextmenu)="onContextMenu($event, record)">
                        <td style="width: 50px">
                            <div class="btn-group dropdown" dropdown container="body">
                                <button class="btn btn-sm btn-primary" dropdownToggle>
                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" *dropdownMenu>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="createOrEditRoute.show(record.id)">Edit Route</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="duplicateRoute(record)">Duplicate Route</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item"
                                            (click)="deleteRoute(record)">Delete Route</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item" (click)="emptyRoute(record)">Empty
                                            Route</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="dropdown-item" (click)="closeRoute(record)">Close
                                            Route</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td style="width:100px">
                            <span class="ui-column-title"> {{l('Code')}}</span>
                            {{record.code}}
                        </td>
                        <td style="width:100px">
                            <span class="ui-column-title"> {{l('Date')}}</span>
                            {{record.date | momentFormat: 'DD/MM/YYYY'}}
                        </td>
                        <td style="width: 150px" class="three-dots">
                            <span class="ui-column-title"> {{l('ShipFrom')}}</span>
                            {{record.shipFrom}}
                        </td>
                        <td style="width:100px">
                            <span class="ui-column-title"> {{l('Driver')}}</span>
                            {{record.driver}}
                        </td>
                        <td style="width:100px">
                            <span class="ui-column-title"> {{l('Status')}}</span>
                            {{record.status ? "Closed" : ""}}
                        </td>
                        <td style="width:120px">
                            <span class="ui-column-title"> {{l('Time')}}</span>
                            {{record.date | momentFormat: 'DD/MM/YYYY hh:mm A'}}
                        </td>
                    </tr>
                    <p-contextMenu [target]="tr" [model]="items"></p-contextMenu>
                </ng-template>
            </p-table>
        </div>
        <!--<Primeng-Datatable-End>-->

        <!-- click right start -->
        <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
            [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
        </div>
        <mat-menu #contextMenu="matMenu">
            <ng-template matMenuContent let-item="item">
                <button mat-menu-item (click)="editRoute(item)" [disabled]="item.status">Edit Route</button>
                <button mat-menu-item (click)="duplicateRoute(item)">Duplicate Route</button>
                <button mat-menu-item (click)="deleteRoute(item)">Delete Route</button>
                <button mat-menu-item (click)="emptyRoute(item)" [disabled]="item.status">Empty Route</button>
                <button mat-menu-item (click)="closeRoute(item)" [disabled]="item.status">Close Route</button>
            </ng-template>
        </mat-menu>
        <!-- click right end -->
    </div>
</div>
<app-create-or-edit-route-modal #createOrEditRouteModal (modalSave)="getRoutes()">
</app-create-or-edit-route-modal>

<app-duplicate-route-modal #duplicateRouteModal (modalSave)="getRoutes()">
</app-duplicate-route-modal>
