.row--actived {
    background-color: #ff6600 !important;
    color: white !important;
}

::ng-deep .route .as-split-area {
    overflow-y: hidden !important;
}

::ng-deep .route .card-custom {
    height: 100%;
}

::ng-deep .route .card-custom .card-header {
    padding: 10px !important;
}

::ng-deep .route .card-custom .card-body {
    padding: 10px !important;
}

.portlet-fullscreen {
    z-index: 1039;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

::ng-deep {
    .overlay {
        z-index: 1030 !important;
    }
    .cdk-overlay-container{
        z-index: 1040;
    }
}

.three-dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
