<div class="card card-custom" [ngClass]="{'portlet-fullscreen':isFullScreen}">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label" (click)="getSites()">
                {{l("Sites")}}
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default" (click)="onChangeFullScreen()">
                <i class="fas fa-expand-arrows-alt" *ngIf="!isFullScreen"></i>
                <i class="fas fa-compress-arrows-alt" *ngIf="isFullScreen"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="primeng-datatable-container" [busyIf]="loading" pDroppable="orders" (onDrop)="drop($event)"
            style="height: 100%;">
            <p-table #dataTable [value]="lstSite" [reorderableColumns]="true" (onRowReorder)="onRowReorder($event)"
                [scrollable]="true" [scrollHeight]="'flex'" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:80px"></th>
                        <th style="width: 200px" pReorderableColumn>{{l('Address')}}</th>
                        <th style="width: 100px" pReorderableColumn>{{l('Clients')}}</th>
                        <th style="width: 100px" pReorderableColumn>{{l('Arrived')}}</th>
                        <th style="width: 100px" pReorderableColumn>{{l('Departed')}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                    <tr (click)="clickSite(record)" [ngClass]="{'row--actived': record.isActive == true }"
                        [pReorderableRow]="index">
                        <td style="width:80px">
                            <ng-container *ngIf="record.number == -1000">
                                <i class="pi pi-home" style="position: relative;top: 3px;"></i> <i
                                    class="pi pi-arrow-right" style="font-size: 0.8em;margin-left: 10px;"></i>
                            </ng-container>
                            <ng-container *ngIf="record.number != -1000 && record.number != 1000">
                                <span style="cursor: all-scroll;"><i class="pi pi-sort-alt"
                                        style="position: relative;top: 3px;" pReorderableRowHandle></i>
                                    {{record.number}}</span>
                            </ng-container>
                            <ng-container *ngIf="record.number == 1000">
                                <i class="pi pi-arrow-right" style="font-size: 0.8em;margin-right: 10px;"></i> <i
                                    class="pi pi-home" style="position: relative;top: 3px;"></i>
                            </ng-container>
                        </td>
                        <td style="width:200px">
                            {{record.address}} <span *ngIf="record.timeSlot"
                                style="font-style: italic;font-size: 10px;">({{record.timeSlot}})</span>
                        </td>
                        <td style="width: 100px">
                            {{record.clients}}
                        </td>
                        <td style="width:100px">
                            {{record.arrivalDate | momentFormat: 'DD/MM/YYYY'}}
                        </td>
                        <td style="width:100px">
                            {{record.departureDate | momentFormat: 'DD/MM/YYYY'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
