.row--actived{
    background-color: #ff6600 !important;
    color: white !important;
}
.cursor--allscroll{
    cursor: all-scroll;
}
.portlet-fullscreen{
    z-index: 1039;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
