<div class="row">
    <p-breadcrumb [model]="items"></p-breadcrumb>

</div>
<div class="row app">
    <div class="col-lg-12 col-md-12">
        <div class="content-area">

            <div>
                <aside class="sidemenu">
                    <p-menu [model]="accountMenu"></p-menu>
                </aside>
            </div>

            <div class="content-holder">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
    </div>

</div>