:host {
  ::ng-deep .ui-breadcrumb {
    border: none !important;
  }
}
.content-area {
  overflow: unset;
  background: #fefefe;

  @media (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 0 2.375rem;
    background-color: #fafafa;
  }

  .content-holder {
    overflow: unset;
    padding: 0 0 0.625rem;
    background-color: #fafafa;

    @media (min-width: 768px) {
      width: calc(100% - 200px) !important;
      padding: 0;
      background: none;
    }
  }
}
.app {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidemenu {
  background-color: #fcfcfc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  @media (min-width: 768px) {
    margin: 0;
    width: 12rem;
    box-shadow: none;
    border: 1px solid #f5f5f5;
    background-color: #fcfcfc;
    padding: 0.5625rem 1.125rem 0.9375rem;
    position: sticky !important;
    top: 0;
    form {
      box-sizing: border-box;
      position: -webkit-sticky;
      position: sticky;
      background: #fcfcfc;
      top: 0;
      z-index: 2;
    }
    .side-menu {
      top: 50px;
      max-height: 90vh;
      overflow: auto;
      margin: -15px;
      padding: 15px;
    }
  }
  .side-menu {
    @media (max-width: 767px) {
      width: 100%;
      overflow: auto !important;
    }
  }
  @media (max-width: 767px) {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
  }
}
