.wrapper-welcome {
  .wrapper-logo {
    margin: 0 auto;

    .logo {
      width: 100%;
    }
  }

  .btn-dine-primary {
    width: 100%;
  }

  .wrapper-address {
    width: 100%;
    border: 6px solid transparent;
    border-image: url("../../../assets/image/delivey-time-border.png") 30 round;
    // border-image-slice: 1;
    background-color: white;
    padding: 1rem 0;
    margin-bottom: 1.5rem;

    #title-address {
      color: #282144;
      font-family: Mulish;
      font-size: 1rem;
      letter-spacing: 0;
      line-height: 1.5rem;
      text-align: center;
      margin: 0;
    }

    #address-content {
      color: #282144;
      font-family: Mulish;
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1.5rem;
      text-align: center;
      margin: 0;
    }
  }

  .wrapper-map {
    min-width: 100%;
    min-height: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    #googleMap {
      width: 100%;
      height: 10rem;
    }
  }
}


:host {
  .dine-input-group {
    label {
      font-weight: 600;
      display: block;

      #required {
        color: #ff272b;
      }
    }

    input {
      padding-left: 1rem;
    }

    .p-input-icon-left {
      width: 100%;

      .pi {
        left: 1rem;
      }

      input {
        padding-left: 3rem;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .wrapper-error {
      min-height: 1.5rem;
      min-width: 100%;
    }

    ::ng-deep .p-autocomplete {
      display: inline;
    }
  }

  .dine-input-group {
    width: 100%;

    .wrapper-postal-control {
      width: 100%;
      height: 2.7rem;
      display: flex;
      justify-content: space-between;

      .dine-control {
        width: calc(100% - 3.7rem);
      }

      .btn-dine-primary {
        height: 2.7rem;
        width: 2.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    ::ng-deep .ng-invalid.ng-dirty {
      .p-calendar {
        input {
          border: 0;
          border-bottom: 1px solid #ff272b !important;
        }
      }
    }
  }

  .wrapper-input-time {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;

    .dine-input-group {
      width: 50%;

      ::ng-deep .p-calendar {
        width: 100%;
      }
    }
  }

  .pl-05 {
    padding-left: 0.5rem;
  }

  .pr-05 {
    padding-right: 0.5rem;
  }
}

::ng-deep .dine-input-group .p-input-icon-left .p-autocomplete-loader.pi {
  left: 10px !important;
  right: auto !important;
}

::ng-deep .dine-input-group .p-input-icon-left input {
  padding-left: 30px;
}

::ng-deep .dine-input-group span.p-autocomplete {
  display: inline-block !important;
  width: 100% !important;
}
