<div class="wrapper-welcome">
    <div class="wrapper-nav-bar">
        <button class="burger-btn" (click)="leftSideMenu?.show()" *ngIf="accountService.userValue?.id">
      <!-- <i class="fa fa-bars"></i> -->
      <img src="assets/image/close-burger.png" alt="" />
    </button>

        <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
        <div class="wrapper-logo" *ngIf="logoUrl">
            <img [src]="logoUrl" class="logo" />
        </div>
    </div>
    <div class="edine-container">
        <p id="title">Delivery Location</p>
        <!-- <p id="note">Select the location near your place</p> -->
        <div class="wrapper-input">
            <div [formGroup]="postalCodeFormGroup" (ngSubmit)="searchPostalCode()">
                <div class="dine-input-group" *ngIf="postalServiceType === 0">
                    <label for="postalCode">Postal Code</label>
                    <div class="wrapper-postal-control">
                        <input type="text" placeholder="Enter your postal code" id="postalCode" class="dine-control" formControlName="postalCode" />
                        <button pRipple class="btn-dine-primary" type="button" label="" (click)="searchPostalCode()">
              <img src="assets/image/search-postal-code.svg" alt="" />
            </button>
                    </div>
                    <div class="wrapper-error">
                        <span class="error-msg" *ngIf="
              postalCode.invalid &&
              postalCode.errors.required &&
              (postalCode.dirty || postalCode.touched)
            ">
              {{ errPostalCodeMsg }}
            </span>
                        <span class="error-msg" *ngIf="
              postalCode.invalid &&
              !postalCode.errors.required &&
              postalCode.errors.numberic &&
              (postalCode.dirty || postalCode.touched)
            ">
              {{ errInvalidPostalCodeMsg }}
            </span>
                    </div>
                </div>
                <div class="dine-input-group" *ngIf="postalServiceType === 1">
                    <label for="address">Address</label>
                    <span class="p-input-icon-left gg-map">
            <i class="pi pi-map-marker" style="left: auto;
          right: 10px;
          z-index: 10;"></i>
            <p-autoComplete [suggestions]="listAddress" formControlName="postalCode" (completeMethod)="searchPlace()"
              placeholder="Search your address to order" (onSelect)="onChooseDeliveryPlace($event)" field="address"
              class="dine-control " id="address">
              <ng-template let-location pTemplate="item">
                <div class="suggestion-item">
                  <p class="name" style="margin: 0">
                    <strong>{{ location.name }}</strong>
                  </p>
                  <p class="address" style="font-size: 0.8rem; margin: 0">
                    {{ location.address }}
                  </p>
                </div>
              </ng-template>
            </p-autoComplete>
          </span>
                    <!-- <div class="wrapper-error">
          <span class="error-msg"
            *ngIf="postalCode.touched || postalCode.dirty && postalCode.invalid && postalCode.errors.required">
            {{ errAddressMsg }}
          </span>
        </div> -->
                </div>
            </div>
            <div class="wrapper-map" [ngClass]="{ 'd-none': !selectedAddress }">
                <div id="googleMap"></div>
            </div>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="wrapper-address" *ngIf="selectedAddress">
                    <p id="title-address">Delivery Address:</p>
                    <p id="address-content">{{ selectedAddress }}</p>
                </div>
                <div class="wrapper-input-time" *ngIf="selectedAddress">
                    <div class="dine-input-group pr-05">
                        <label for="delivery-option">Date</label>
                        <div class="calendar-item">
                            <p-calendar [minDate]="timeValueDefault" [(ngModel)]="defaultDate"  placeholder="Select Date" dateFormat="dd/mm/yy" [readonlyInput]="true" formControlName="dateDelivery" [maxDate]="maxDate" (onSelect)="changeDate($event)"></p-calendar>
                        </div>
                        <div class="wrapper-error">
                            <span class="error-msg" *ngIf="
                dateDelivery.invalid &&
                dateDelivery.errors.required &&
                (dateDelivery.dirty || dateDelivery.touched)
              ">
                {{ errDateDeliveryMsg }}
              </span>
                        </div>
                    </div>
                    <div class="dine-input-group pl-05">
                        <label for="delivery-option">Time</label>
                        <div class="calendar-item" *ngIf="!isTimeSlots">
                            <p-calendar placeholder="ASAP" timeOnly="true" [minDate]="dateDefaultForOnlyTime" showTime="true" hourFormat="24" formControlName="timeDelivery">
                            </p-calendar>

                        </div>
                        <div class="calendar-item" *ngIf="isTimeSlots">
                            <p-dropdown [options]="timeSlots" [style]="{ width: '100%' }" [(ngModel)]="timeslotSelected" placeholder="Select a Time Slot" formControlName="timeSlotId" name="timeslotSelected">
                                <ng-template let-option pTemplate="item">
                                    <div>
                                        <div (click)="onClick(option.disabled)">{{option.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="wrapper-error">
                            <span class="error-msg" *ngIf="
                !isTimeSlots &&
                timeDelivery.invalid &&
                timeDelivery.errors.required &&
                (timeDelivery.dirty || timeDelivery.touched)
              ">
                {{ errTimeDeliveryMsg }}
              </span>

                            <span class="error-msg" *ngIf="
                isTimeSlots &&
                timeSlotId.invalid &&
                timeSlotId.errors.required &&
                (timeSlotId.dirty || timeSlotId.touched)
              ">
                {{ errTimeDeliveryMsg }}
              </span>
                        </div>
                    </div>
                </div>
                <button *ngIf="selectedAddress" pRipple pButton class="btn-dine-primary" type="submit" label="Next"></button>
            </form>
        </div>
    </div>
</div>
<ng-container *ngIf="accountService.userValue?.id">
    <app-left-side-menu [hidden]="true" #leftMenuRef> </app-left-side-menu>
</ng-container>