<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  (onShown)="shown()" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span>{{title}}</span>
        </h5>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate (ngSubmit)="getData()" autocomplete="off">
          <div class="input-group margin-bottom-10">
            <input autoFocus [(ngModel)]="filterText" name="filterTextForUserTable" class="form-control margin-right-16"
              placeholder="{{l('SearchWithThreeDot')}}" type="text">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
              </button>
            </span>
          </div>
          <!--<Primeng-TurboTable-Start>-->
          <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
            <p-table #dataTable (onLazyLoad)="getData($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [responsive]="primengTableHelper.isResponsive" [(selection)]="selectedValue"
              [selectionMode]="selectionMode">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:100px">
                    <p-tableHeaderCheckbox *ngIf="selectionMode === 'multiple'"></p-tableHeaderCheckbox>
                  </th>
                  <ng-container *ngFor="let header of headers">
                    <th [pSortableColumn]="header">
                      {{l(header)}}
                      <p-sortIcon [field]="header"></p-sortIcon>
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit">
                <tr [pSelectableRow]="record">
                  <td style="width: 100px">
                    <p-tableRadioButton *ngIf="selectionMode === 'single'" [value]="record"></p-tableRadioButton>
                    <p-tableCheckbox *ngIf="selectionMode === 'multiple'" [value]="record"></p-tableCheckbox>
                  </td>
                  <ng-container *ngFor="let field of dataBinding">
                    <td>
                      {{record[field]}}
                    </td>
                  </ng-container>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{l('NoData')}}
            </div>
            <div class="primeng-paging-container">
              <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
              <span class="total-records-count">
                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
              </span>
            </div>
          </div>
          <!--<Primeng-TurboTable-End>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
        <button class="btn btn-primary" (click)="save()">
          <i class="fa fa-save"></i>
          <span>{{l("Save")}}</span>
        </button>
      </div>
    </div>
  </div>
</div>