<div class="schedule large-screen">
    <div class="schedule-dropdown">
        <div class="schedule-week" (click)="toggleDropdown()">
            <div class="schedule-week-number">
                <span class="week"> Week {{currentWeek.week}}</span>
                <br>
                <span class="days">{{currentWeek.startDay | date: 'dd MMM'}} - {{currentWeek.endDay | date: 'dd MMM'}}</span>
            </div>
            <div class="schedule-week-icon">
                <img src="/assets/image/arrow-down.png" alt="">
            </div>
        </div>
        <div class="schedule-select-item" *ngIf="isShowDropdown">
            <ul>
                <div *ngFor="let item of weekScheduleList" class="item-schedule" (click)="selectSchedule(item)">
                    <li>
                        <div class="schedule-week-number">
                            <span class="week"> Week {{item.week}}</span>
                            <br>
                            <span class="days">{{item.startDay | date:'dd MMM'}} - {{item.endDay | date: 'dd MMM'}}</span>
                        </div>
                    </li>
                    <div class="line"></div>
                </div>
            </ul>
        </div>
    </div>
    <div class="schedule-week-days">
        <div class="schedule-week-days-item" *ngFor="let day of currentDayList" (click)="selectDay(day)" (click)="activeDay(day)">
            <div class="name">
                {{day.title}}
            </div>
            <div class="day" [ngClass]="[day.isActive ? 'active' : '',day.isCurrentDay && !day.isActive ? 'active-day' :'']">{{day.day | date: 'dd'}}</div>
        </div>

    </div>
</div>

<div class="schedule-mobile mobile-screen">
    <div class="schedule-dropdown">
        <div class="schedule-week" (click)="toggleDropdown()">
            <div class="schedule-week-number">
                <span class="week"> Week {{currentWeek.week}}</span>
                <br>
                <span class="days">{{currentWeek.startDay | date: 'dd MMM'}} - {{currentWeek.endDay | date: 'dd MMM'}}</span>
            </div>
            <div class="schedule-week-icon">
                <img src="/assets/image/arrow-down.png" alt="">
            </div>
        </div>
        <div class="schedule-select-item" *ngIf="isShowDropdown">
            <ul>
                <div *ngFor="let item of weekScheduleList" class="item-schedule" (click)="selectSchedule(item)">
                    <li>
                        <div class="schedule-week-number">
                            <span class="week"> Week {{item.week}}</span>
                            <br>
                            <span class="days">{{item.startDay | date:'dd MMM'}} - {{item.endDay | date: 'dd MMM'}}</span>
                        </div>
                    </li>
                    <div class="line"></div>
                </div>
            </ul>
        </div>
    </div>
    <div class="schedule-week-days">
        <div class="schedule-week-days-item" *ngFor="let day of currentDayList" (click)="selectDay(day)" (click)="activeDay(day)">
            <div class="name">
                {{day.title}}
            </div>
            <div class="day" [ngClass]="[day.isActive ? 'active' : '',day.isCurrentDay && !day.isActive ? 'active-day' :'']">{{day.day | date: 'dd'}}</div>
        </div>

    </div>
</div>