@media (min-width: 992px) {
    .member-schedule {
        margin-top: -50px;
    }
}

::ng-deep .menu-content {
    @media (max-width: 768px) {
        .menu-content__left {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .order-btn {
                display: inline !important;
            }
        }
    }
}

@import "../../../../assets/style/color";
.schedule {
    display: flex;
    padding: 100px 0px 32px 0px;
    justify-content: center;
    align-items: center;
    background: $background-gray;
    border-bottom: 1px solid $border-section;
    &-dropdown {
        position: relative;
        .schedule-select-item {
            position: absolute;
            top: 75px;
            width: 200px;
            border: 2px solid #dbdbdb;
            border-radius: 10px;
            z-index: 10001;
            background: $background-gray;
            & > ul {
                list-style-type: none;
                padding-left: 0px;
                margin-bottom: 0px;
                height: 200px;
                overflow: auto;
                li {
                    margin: 0px 26px 13px 26px;
                }
                .item-schedule {
                    padding-top: 13px;
                }
                div:hover {
                    background: $primary-color;
                    cursor: pointer;
                }
            }
            .line {
                width: 100%;
                height: 2px;
                background: $grey-product;
            }
        }
    }
    &-week {
        margin-right: 40px;
        display: flex;
        align-items: center;
        height: 71px;
        width: 200px;
        border: 2px solid #dbdbdb;
        border-radius: 10px;
        padding: 13px 26px;
        justify-content: space-between;
        &-number {
            .week {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #22232f;
            }
            .days {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #575755;
            }
        }
    }
    &-week-days {
        display: flex;
        &-item {
            margin-right: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45px;
            .day {
                background: #ffffff;
                border: 1px solid #dbdbdb;
                box-sizing: border-box;
                width: 45px;
                height: 45px;
                border-radius: 25px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #575755;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .name {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                margin-bottom: 8px;
                color: $text-color;
            }
            .active {
                background: $second-color;
                border: none;
                color: white;
            }
            .active-day {
                border: 1px solid $second-color;
                color: $second-color;
            }
        }
    }
}

@media (min-width: 992px) {
    .mobile-screen {
        display: none;
    }
}

@media (max-width: 991px) {
    .large-screen {
        display: none;
    }
    .schedule-mobile {
        background: #ffffff;
        padding: 16px 16px 20px 16px;
        margin-bottom: 7px;
        .schedule-week {
            width: 100%;
        }
        .schedule-dropdown {
            display: flex;
            flex-direction: column;
            .schedule-select-item {
                width: 100%;
            }
        }
        .schedule-week-days {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 16px;
        }
        .schedule-week-days {
            margin-top: 16px;
            &-item {
                margin-right: 0px;
                width: 35px;
                .name {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 140%;
                    text-align: center;
                    color: #22232f;
                    margin-bottom: 6px;
                }
                .day {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 140%;
                    text-align: center;
                    color: #22232f;
                    width: 35px;
                    height: 35px;
                }
                .active {
                    background: $second-color;
                    border: none;
                    color: white;
                }
                .active-day {
                    border: 1px solid $second-color;
                    color: $second-color;
                }
            }
        }
    }
}
