<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Cards' | localize" [description]="'ConnectCardsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="import()" class="btn btn-outline-success"><i class="fa fa-download"></i>
                    {{l("Import")}}</button>
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i> {{
                    l('Export') }}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Card.Cards.Create')" (click)="createOrEditCard()"
                    class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{ l('CreateCard') }}
                </button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Card.Cards.Delete')" [disabled]="!selectedCards.length"
                    (click)="deleteMutilCard()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{ l('Delete Cards') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text" />
                                        <span class="input-group-btn">
                                            <button (click)="getAll()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex justify-content-end">
                                    <div class="flex-fill"></div>
                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{ l('Refresh') }}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{ l('Search') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [(selection)]="selectedCards"
                                selectionMode="multiple">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:130px">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox> Select All
                                        </th>
                                        <th style="width: 130px" [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Connect.Card.Cards.Edit',
                                                    'Pages.Tenant.Connect.Card.Cards.Delete'
                                                )
                                            ">
                                            {{ l('Actions') }}
                                        </th>
                                        <th pSortableColumn="cardNo">
                                            {{ 'CardNumber' | localize }}
                                            <p-sortIcon field="cardNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ConnectCardType.Name">
                                            {{ 'CardType' | localize }}
                                            <p-sortIcon field="ConnectCardType.Name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="redeemed">
                                            {{ 'Redeemed' | localize }}
                                            <p-sortIcon field="redeemed"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="active">
                                            {{ 'Active' | localize }}
                                            <p-sortIcon field="active"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="creationTime">
                                            {{ 'CreationTime' | localize }}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px">
                                            <p-tableCheckbox [value]="record"></p-tableCheckbox>
                                        </td>
                                        <td style="width: 130px" [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Connect.Card.Cards.Edit',
                                                    'Pages.Tenant.Connect.Card.Cards.Delete'
                                                )
                                            ">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isGranted('Pages.Tenant.Connect.Card.Cards.Edit')"
                                                            (click)="createOrEditCard(record.id)">{{ l('Edit') }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isGranted('Pages.Tenant.Connect.Card.Cards.Delete')"
                                                            (click)="deleteCard(record.id)">{{ l('Delete') }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isGranted('Pages.Tenant.Connect.Card.Cards.Edit')"
                                                            (click)="inActiveOrActiveCard(record)">
                                                            <span *ngIf="record.active">
                                                                {{ l('Inactive') }}
                                                            </span>
                                                            <span *ngIf="!record.active">
                                                                {{ l('Active') }}
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'CardNumber' | localize }}</span>
                                            {{ record.cardNo }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'CardType' | localize }}</span>
                                            {{ record.connectCardTypeName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'Redeemed' | localize }}</span>
                                            {{ record.redeemed }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'Active' | localize }}</span>
                                            {{ record.active }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{ 'CreationTime' | localize }}</span>
                                            {{ record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-create-or-edit-card #createOrEditCardModal (modalSave)="getAll()"></app-create-or-edit-card>
<import-card-modal #importModal (modalSave)="getAll()"></import-card-modal>
