<div [@routerTransition]>
    <div class="kt-content form-login">
        <div class="kt-portlet kt-portlet--mobile" style="padding: 10px;">
            <div class="kt-portlet__body">
                <div class="mb-100" *ngIf="urlLogo">
                    <img
                        class="image-preview"
                        [src]="urlLogo"
                        alt="Image"
                        class="mb-3"
                    />
                </div>
                <div class="kt-login__title" style="margin-bottom: 10px;">
                    <h3 class="mt-4">
                        {{ "LogIn" | localize }}
                    </h3>
                </div>
                <form
                    class="kt-form"
                    #loginForm="ngForm"
                    method="post"
                    novalidate
                    (ngSubmit)="login()"
                >
                    <div class="form-group">
                        <input
                            #userNameOrEmailAddressInput="ngModel"
                            [(ngModel)]="
                                loginService.authenticateModel
                                    .userNameOrEmailAddress
                            "
                            autofocus
                            class="form-control m-input"
                            type="text"
                            autocomplete="new-password"
                            placeholder="{{ 'EmailAddress' | localize }} *"
                            name="userNameOrEmailAddress"
                            required
                        />
                        <validation-messages
                            [formCtrl]="userNameOrEmailAddressInput"
                            *ngIf="!userNameOrEmailAddressInput.touched"
                        >
                        </validation-messages>
                    </div>

                    <div class="form-group">
                        <input
                            #passwordInput="ngModel"
                            [(ngModel)]="
                                loginService.authenticateModel.password
                            "
                            class="form-control m-input"
                            type="password"
                            autocomplete="new-password"
                            placeholder="{{ 'Password' | localize }} *"
                            name="password"
                            required
                            maxlength="32"
                        />
                        <validation-messages
                            [formCtrl]="passwordInput"
                            *ngIf="!passwordInput.touched"
                        >
                        </validation-messages>
                    </div>
                    <div class="form-group mt-4" style="margin-bottom: auto;">
                        <label class="kt-checkbox">
                            <input
                                class="form-control"
                                [(ngModel)]="loginService.rememberMe"
                                type="checkbox"
                                name="rememberMe"
                                value="true"
                            />{{ "KeepMeLoggedIn" | localize }}
                            <span></span>
                        </label>
                    </div>
                    <div class="kt-login__actions">
                        <button
                            type="submit"
                            class="btn btn-primary btn-elevate kt-login__btn-primary btn-login"
                            [disabled]="!loginForm.form.valid"
                        >
                            {{ "LogIn" | localize }}
                        </button>
                    </div>
                </form>

                <div class="kt-login__account" style="margin-top: 20px;">
                    <div class="pull-left">
                        <a
                            routerLink="/account/forgot-password"
                            id="forget-password"
                            class="kt-link kt-login__link-forgot"
                            >{{ "ForgotPassword" | localize }}</a
                        >
                    </div>
                    <div class="pull-right">
                        <button
                            [routerLink]="['/account/register']"
                            class="btn btn-default btn-elevate kt-login__btn-default"
                            style="font-size: 15px;"
                        >
                            {{ "SignUp" | localize }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
