.circle {
    border-radius: 100%;
    display: inline-block;
}

.form-login {
    max-width: 400px;
    margin: 100px auto;
    font-family: sans-serif;
}

.main-login {
    background-color: #ffffff;
    height: 100vh;
}

.btn-login {
    background: #5867dd;
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    border: 0;
    padding: 12px;
    width: 100%;
    font-size: 15px;
    border-radius: 4px;
}
img {
    border-radius: 7px;
    height: 100px;
    width: 100px;
    position: absolute !important;
    margin: auto !important;
    left: 0 !important;
    right: 0 !important;
}
.mb-100 {
    margin-bottom: 100px;
}

form {
    .form-group {
        input,
        select {
            border: 1px solid #ced4da;
        }
    }
}
.btn:hover {
    color: #ffffff;
}

.article-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-center {
    display: flex;
    align-items: center;
}