<section class="login image_bg login-center">
    <div class="container">
        <article class="article-login">
            <img src="\assets\image\logo.png" alt="logo" style="border-radius: unset; height: 56px; width: 158px;" />
            <h2>Login or Create an Account</h2>

            <!-- login form -->
            <div class="login-form">
                <form class="px-4 py-3" #loginForm="ngForm" method="post" novalidate (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input #userNameOrEmailAddressInput="ngModel" [(ngModel)]="
                                loginService.authenticateModel
                                    .userNameOrEmailAddress
                            " autoFocus class="form-control m-input" type="email" autocomplete="new-password" placeholder="{{ 'UserNameOrEmail' | localize }} *" name="userNameOrEmailAddress" required />
                        <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Password</label
                        >
                        <input
                            #passwordInput="ngModel"
                            [(ngModel)]="
                                loginService.authenticateModel.password
                            "
                            class="form-control m-input"
                            type="password"
                            autocomplete="new-password"
                            placeholder="{{ 'Password' | localize }} *"
                            name="password"
                            required
                            maxlength="32"
                        />
                        <validation-messages
                            [formCtrl]="passwordInput"
                            *ngIf="!passwordInput.touched"
                        ></validation-messages>
                    </div>
                    <button type="submit" class="btn">LOGIN</button>
                    <div class="form-group">
                        <a
                            class="form-check-label remember-label"
                            for="forgot_password"
                            routerLink="/portal/forgot-password"
                        >
                            Forgot Your Password?
                        </a>
                    </div>
                </form>

                <div class="create-account">
                    <span>
                        Signup with Stack Canteen at Panasonic
                    </span>
                    <a class="btn btn-primary" routerLink="/portal/register"
                        >CREATE AN ACCOUNT</a
                    >
                </div>
            </div>
            <!-- login form ends -->
        </article>
    </div>
</section>