<div class="kt-login__form" [@routerTransition]>
    <div class="pb-13 pt-lg-0 pt-5 login-header">
        <h3 class="font-weight-bolder text-dark font-size-30">
            {{ 'WelcomeToDineConnect' | localize }}
        </h3>
        <p class="">{{'LogInToYourAccount'| localize}}</p>
    </div>

    <form #loginForm="ngForm" class="login-form form" method="post" method="post" (ngSubmit)="login()">
        <div class="form-group">
            <label class="font-weight-bolder" for="userNameOrEmailAddress">{{"UserNameOrEmail" | localize}}<span class="text-danger">*</span></label>
            <input #userNameOrEmailAddressInput="ngModel"
                [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text"
                autocomplete="new-password"
                name="userNameOrEmailAddress" required />
            <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched">
            </validation-messages>
        </div>

        <div class="form-group">
            <label class="font-weight-bolder" for="Password">{{"Password" | localize}}<span class="text-danger">*</span></label>
            <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password"
                autocomplete="new-password" name="password" required
                maxlength="32" />
            <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
        </div>

        <div class="form-group d-flex justify-content-between mt-4">
            <label class="checkbox checkbox-outline">
                <input [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe"
                    value="true" />{{"RememberMe" | localize}}
                <span></span>
            </label>
            <a routerLink="/account/forgot-password" id="forget-password"
                class="text-primary font-size-h6 font-weight-bolder text-hover-primary">{{"ForgotPassword" |
                localize}}</a>
        </div>

        <div class="pb-lg-0 pb-5">
            <button type="submit" class="btn btn-block btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                [disabled]="!loginForm.form.valid">{{"LogIn" | localize}}</button>
        </div>
    </form>

    <!--

    <div class="kt-login__options"
        *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
        <div class="kt-login__divider">
            <div class="kt-divider">
                <span></span>
                <span>{{"LoginWith" | localize}}</span>
                <span></span>
            </div>
        </div>

        <a *ngFor="let provider of loginService.externalLoginProviders" class="btn btn-outline-secondary kt-btn btn-sm"
            (click)="externalLogin(provider)" title="{{provider.name}}">
            <i class="fab fa-{{provider.icon}}"></i>
            {{provider.name}}
        </a>
    </div> -->

</div>
