.kt-login__options {
    a {
        cursor: pointer;
        padding-right: 0.35rem;
        margin: 0 5px 0 0 !important;

        i.fa-openidconnect {
            background: url(/assets/common/images/social/openid.png) no-repeat;
            width: 16px;
            height: 16px;
        }

        i.fa-wsfederation {
            background: url(/assets/common/images/social/adfs.png) no-repeat;
            width: 16px;
            height: 16px;
        }
    }
}
.login-header{
    p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.7;
    }
}
.font-size-30{
    font-size: 30px;
}



.login-button {
    background-color: 009EF7;
}

.required-field::after {
    content: "*";
    padding-left: 2px;
    color: #FF0000;
}
