<!-- banner -->
<section
    class="banner"
    style="background-image: url('assets/static/img/faq-banner.png');"
>
    <div class="container">
        <article>
            <h1>{{'Faq' | localize}}</h1>
        </article>
    </div>
</section>
<!-- banner ends -->

<!-- faq -->
<section class="faq">
    <div class="container">
        <article>
            <!-- faq Accordion -->
            <div class="faq-accordion-container">
                <app-collapse-questions
                    [questions]="questions"
                ></app-collapse-questions>
            </div>
            <!-- faq Accordion ends -->
        </article>
    </div>
</section>
<!-- faq ends -->
