<section class="login image_bg pt-150">
    <div class="container">
        <article>
            <h2>
                {{ 'SignUp' | localize }}
            </h2>
            <div class="form-register">
                <form #registerForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="FirstName">{{ 'FirstName' | localize }} *</label>
                            <input id="FirstName" #firstName="ngModel" type="text" name="firstName" autocomplete="off" class="form-control" [(ngModel)]="model.name" required maxlength="256" />
                            <validation-messages [formCtrl]="firstName"></validation-messages>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="LastName">{{ 'LastName' | localize }} *</label>
                            <input id="LastName" #lastName="ngModel" type="text" name="lastName" autocomplete="off" class="form-control" [(ngModel)]="model.surname" required maxlength="256" />
                            <validation-messages [formCtrl]="lastName"></validation-messages>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Email">{{ 'Email' | localize }} *</label>
                            <input id="Email" #emailAddressInput="ngModel" type="email" name="Email" autocomplete="off" class="form-control" [(ngModel)]="model.emailAddress" required maxlength="256" email />
                            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Password">{{ 'Password' | localize }} *</label>
                                <input type="password" name="Password" class="form-control" [(ngModel)]="model.password" #Password="ngModel" placeholder="" validateEqual="PasswordRepeat" reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                    [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength" required pPassword
                                    [promptLabel]="l('PleaseEnterYourNewPassword')" [weakLabel]="l('weak')" [mediumLabel]="l('medium')" [strongLabel]="l('strong')" />
                            </div>

                            <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
                                <ul class="form-text text-danger" *ngIf="Password.errors">
                                    <li [hidden]="!Password.errors.requireDigit">
                                        {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireLowercase">
                                        {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireUppercase">
                                        {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requireNonAlphanumeric">
                                        {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!Password.errors.requiredLength">
                                        {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PasswordRepeat">{{ 'PasswordRepeat' | localize }} *</label>
                                <input type="password" name="PasswordRepeat" class="form-control" [(ngModel)]="model.passwordRepeat" #PasswordRepeat="ngModel" placeholder="" validateEqual="Password" reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                    [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength" required />
                            </div>

                            <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
                                <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                                    <li [hidden]="!PasswordRepeat.errors.requireDigit">
                                        {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                                        {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                                        {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">
                                        {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                    </li>
                                    <li [hidden]="!PasswordRepeat.errors.requiredLength">
                                        {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                    <li [hidden]="PasswordRepeat.valid">
                                        {{ 'PasswordsDontMatch' | localize }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="form-group col-md-6">
                            <label for="MobileNumber">{{ 'MobileNumber' | localize }} *</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+ {{ callingCode }}</span>
                                </div>
                                <input
                                    id="MobileNumber"
                                    #MobileInput="ngModel"
                                    type="text"
                                    name="MobileNumber"
                                    class="form-control"
                                    [textMask]="{ mask: numberMask }"
                                    [(ngModel)]="model.phoneNumber"
                                    maxlength="32"
                                    autocomplete="off"
                                    required
                                />
                            </div>
                            <validation-messages [formCtrl]="MobileInput"></validation-messages>
                        </div> -->

                        <div class="form-group col-md-6">
                            <label for="Country">{{ l('Country') }} *</label>
                            <select id="Country" class="form-control" [(ngModel)]="model.countryId" name="Country" #Country="ngModel" (change)="changeCountry(model.countryId)" required style="font-size: 14px; line-height: unset; height: 37px; padding: 0.65rem 1rem;">
                                <option [ngValue]="undefined">
                                    {{ 'Select_Country' | localize }}
                                </option>
                                <option *ngFor="let item of lstCountry" [ngValue]="item.value">
                                    {{ item.displayText }}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="Country"></validation-messages>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Address1"> {{ 'Address1' | localize }} <span *ngIf="isValid">*</span> </label>
                            <input id="Address1" #Address1Input="ngModel" class="form-control" type="text" 
                            name="Address1" [(ngModel)]="model.address1" autocomplete="off" [required] = "isValid" 
                            [placeholder]="l('Address1_Plh')" />
                            <validation-messages [formCtrl]="Address1Input"></validation-messages>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <label for="FloorNo">{{ 'Address2' | localize }}</label>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="FloorNo" class="form-control" [(ngModel)]="floorNo" [placeholder]="l('Address2Floor_Plh')" [required] = "isValid" />
                                        <div class="has-danger">
                                            <div *ngIf="!floorNo && isValid" class="form-control-feedback">
                                                {{ 'Address2_validate' | localize }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="UnitNo" class="form-control" [(ngModel)]="unitNo" [placeholder]="l('Address2Unit_Plh')" [required] = "isValid" />
                                        <div class="has-danger">
                                            <div *ngIf="!unitNo && isValid" class="form-control-feedback">
                                                {{ 'Address2_validate' | localize }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="Tower" class="form-control" [(ngModel)]="tower" [placeholder]="l('Address2Tower_Plh')" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Address3">{{ 'Address3' | localize }}</label>
                            <input type="text" name="Address3" class="form-control" [(ngModel)]="model.address3" [placeholder]="l('Address1_Plh')" />
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="form-group col-md-6">
                            <label for="Country">{{ l('Country') }} *</label>
                            <select
                                id="Country"
                                class="form-control"
                                [(ngModel)]="model.countryId"
                                name="Country"
                                #Country="ngModel"
                                (change)="changeCountry(model.countryId)"
                                required
                            >
                                <option [ngValue]="undefined">
                                    {{ 'Select_Country' | localize }}
                                </option>
                                <option *ngFor="let item of lstCountry" [ngValue]="item.value">
                                    {{ item.displayText }}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="Country"></validation-messages>
                        </div> -->

                        <div class="form-group col-md-6">
                            <label for="MobileNumber">{{ 'MobileNumber' | localize }} *</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+ {{ callingCode }}</span>
                                </div>
                                <input id="MobileNumber" #MobileInput="ngModel" type="text" name="MobileNumber" class="form-control" [textMask]="{ mask: numberMask }" [(ngModel)]="model.phoneNumber" maxlength="32" autocomplete="off" required />
                            </div>
                            <validation-messages [formCtrl]="MobileInput"></validation-messages>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="City">{{ l('City') }} <span *ngIf="isValid">*</span></label>
                            <select id="City" class="form-control" [(ngModel)]="model.cityId" 
                            name="City" #City="ngModel" [required] = "isValid"
                            style="font-size: 14px; line-height: unset; height: 37px; padding: 0.65rem 1rem;">
                                <option [ngValue]="undefined">
                                    {{ 'Select_City' | localize }}
                                </option>
                                <option *ngFor="let item of lstCity" [ngValue]="item.value">
                                    {{ item.displayText }}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="City"></validation-messages>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="form-group col-md-12">
                            <label for="location">{{ l('Location') }} *</label>
                            <select id="location" class="form-control" [(ngModel)]="locationSelect" name="location" required>
                                <option [ngValue]="null">
                                    {{ 'Select location' | localize }}
                                </option>
                                <option *ngFor="let location of locationList" [ngValue]="location">
                                    {{ location.name }}
                                </option>
                            </select>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="PostcalCode">{{ 'PostcalCode' | localize }} <span *ngIf="isValid">*</span></label>
                            <input id="PostcalCode" #PostcalCode="ngModel" class="form-control" type="text" [textMask]="{ mask: numberMask }" name="PostcalCode" [(ngModel)]="model.postcalCode" autocomplete="off" [required] = "isValid" />
                            <validation-messages [formCtrl]="PostcalCode"></validation-messages>
                        </div>

                        <!-- <div class="form-group col-md-6">
                            <label for="Zone">{{ l("Zone") }}</label>
                            <select id="Zone" class="form-control" [(ngModel)]="model.zone" name="Zone" #Zone="ngModel">
                                <option *ngFor="let item of zoneOptions" [ngValue]="item.value">
                                    {{ item.text }}
                                </option>
                            </select>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="question">{{l("How did you find out about Stack Canteen?")}} *</label>
                            <select id="question" class="form-control" [(ngModel)]="answer" name="question" #Question="ngModel" required>
                                    <option hidden [ngValue]="undefined">
                                        {{"Select Answer" | localize}}
                                    </option>
                                    <option *ngFor="let item of questions" [ngValue]="item.value">
                                        {{item.displayText}}
                                    </option>
                                </select>
                            <validation-messages [formCtrl]="Question"></validation-messages>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" style="display: flex; flex-direction: column; row-gap: 10px;">
                            <div class="d-flex align-items-center ">
                                <input class="form-control" type="checkbox" [(ngModel)]="receiveMkt" name="acceptReceivePromotionEmail" value="true" />
                                <label class="form-check-label" for="acceptReceivePromotionEmail">
                                    &nbsp;{{ 'I/we consent to receive marketing and communications from Food Stack Concepts and their affiliate brands' | localize }}
                                </label>
                            </div>

                            <div class="d-flex align-items-center">
                                <input class="form-control" type="checkbox" [(ngModel)]="agreeTerm" name="acceptReceivePromotionEmail" value="true" />
                                <label class="form-check-label" for="acceptReceivePromotionEmail">
                                    &nbsp;{{ 'I/we agree to the' | localize }} <span><a href="/app/portal/member/terms-conditions" style="font-weight: bold;">{{ 'Terms & Conditions' | localize }}</a></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn" [disabled]="!registerForm.form.valid || !agreeTerm" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                            <span>{{ 'SignUp' | localize }}</span>
                        </button>
                    </div>
                    <div class="back-to-login">
                        <span>Already have an account? </span>
                        <a routerLink="/portal/login">Login here</a>
                    </div>
                </form>
            </div>
        </article>
    </div>
</section>