<div class="wrapper-checkout w-100 h-100">
  <div class="w-100 toggle-order-menu-item">
    <label class="w-100 toggle" for="detail-order-toggle">
      <div class="label-toggle">
        <i class="pi pi-shopping-cart"></i>
        <span class="show">Show order detail</span>
        <span class="hide">Hide order detail</span>
        <i class="pi pi-chevron-up"></i>
      </div>
      <div class="price-order">{{ totalPrice }}$</div>
    </label>
  </div>
  <input
    type="checkbox"
    id="detail-order-toggle"
    name="checkbox"
    checked
    hidden
  />
  <div class="dine-col__4 float-right wrapper-items">
    <div class="m-0 wrapper-payment-form">
      <div class="w-100">
        <div class="list-item">
          <div class="item mb-2 d-flex" *ngFor="let item of orderList">
            <div class="remove-item" (click)="decItems(item)">
              <i class="pi pi-minus"></i>
            </div>
            <div class="item-detail">
              <p class="name-price">
                <span id="item-name">
                  {{ item.total }} {{ item.name }} -
                  <span id="item-tags">
                    {{ item.portions.name }}
                  </span>
                </span>
                <span id="item-price">${{ item.totalPricePerItem }}</span>
              </p>
              <p class="item-price">
                <span *ngFor="let orderTag of item.orderTags">
                  <span *ngIf="orderTag.isShowOrderTags">
                    <span *ngFor="let tag of orderTag.tags">
                      <span *ngIf="tag.checked">
                        {{ tag.name }}
                      </span>
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="p-inputgroup w-100 wrapper-input-coupon">
          <input
            type="text"
            pInputText
            placeholder="Enter coupon code"
            [disabled]="checkoutSuccessful"
          />
          <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
        </div>
        <div class="wrapper-total-fee">
          <div class="detail-fees w-100">
            <p>
              Sub Total:<span> ${{ subTotalPrice }}</span>
            </p>
            <p>Delivery:<span> Free</span></p>
            <p *ngFor="let fee of wheelServiceFees">
              {{
                fee.feeType ? fee.name : fee.name + "(" + fee.value + "%)"
              }}:<span>
                ${{
                  fee.feeType ? fee.value : (subTotalPrice * fee.value) / 100
                }}</span
              >
            </p>
            <p>
              Order Total:<span> ${{ totalPrice }}</span>
            </p>
          </div>
          <div class="w-100 wrapper-confirm-btn-web">
            <button
              pButton
              class="w-100 btn-confirm dine-btn-primary-dark"
              type="button"
              label="Confirm"
              [disabled]="checkoutSuccessful"
              (click)="onClickCheckout()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dine-col__6 float-left delivery-info">
    <div class="m-0 wrapper-address-form" [formGroup]="formGroup">
      <div class="w-100 calendar-item d-flex">
        <div
          class="dine-col__3 d-flex justify-content-center flex-column float-left pr-3"
        >
          <button
            class="w-100 h-100 text-center set-time text-white m-0 dine-btn-primary-dark"
            type="button"
            pButton
            icon="pi pi-clock"
            [label]="timeDelivery"
            (click)="menu.toggle($event)"
          ></button>
          <p-menu #menu [popup]="true" [model]="items"></p-menu>
          <p-calendar
            *ngIf="!isASAP"
            formControlName="timeDelivery"
            styleClass="calendar-custom"
            [minDate]="timeValueDefault"
            showTime="true"
            [readonlyInput]="true"
            hourFormat="24"
          ></p-calendar>
        </div>
        <div
          class="p-inputgroup dine-col__7 height-fit-content"
          *ngIf="isDeliveryType"
        >
          <span class="p-inputgroup-addon"
            ><i class="pi pi-map-marker"></i
          ></span>
          <!-- <input
            type="text"
            pInputText
            placeholder="Enter your address to order"
            formControlName="deliveryLocation"
          /> -->
          <p-autoComplete
            [suggestions]="listAddress"
            formControlName="deliveryLocation"
            (completeMethod)="searchPlace()"
            placeholder="Search your address to order"
            (onSelect)="onChooseDeliveryPlace($event)"
            field="address"
          >
            <ng-template let-location pTemplate="item">
              <div class="suggestion-item">
                <p class="name" style="margin: 0">
                  <strong>{{ location.name }}</strong>
                </p>
                <p class="address" style="font-size: 0.8rem; margin: 0">
                  {{ location.address }}
                </p>
              </div>
            </ng-template>
          </p-autoComplete>
          <span class="p-inputgroup-addon">
            <i class="pi pi-search"></i>
          </span>
        </div>
      </div>
      <div class="input-control w-100" *ngIf="isDeliveryType && false">
        <label for="selectedCityCode">Delivering to...</label>
        <p-dropdown
          editable="false"
          [options]="listAddress"
          autoDisplayFirst="true"
          optionLabel="name"
          optionValue="value"
          placeholder="Choose existing delivery address"
          (onChange)="onChooseDeliveryPlace($event)"
          formControlName="deliveryAddress"
        ></p-dropdown>
      </div>
      <div class="location-detail w-100 d-flex pt-4" *ngIf="!isDeliveryType">
        <h3>{{ selectedLocation.name }}</h3>
      </div>
      <div class="w-100" *ngIf="isDeliveryType">
        <div class="dine-col__2">
          <label for="address1" class="d-block">Address 1</label>
          <input
            type="text"
            name="address1"
            pInputText
            formControlName="address1"
            [disabled]="checkoutSuccessful"
          />
        </div>
        <div class="dine-col__2">
          <label for="address2" class="d-block">Address 2</label>
          <input
            type="text"
            name="address2"
            pInputText
            formControlName="address2"
            [disabled]="checkoutSuccessful"
          />
        </div>
      </div>
      <div class="w-100" *ngIf="isDeliveryType">
        <div class="dine-col__2">
          <label for="city" class="d-block">City</label>
          <input
            type="text"
            name="city"
            pInputText
            formControlName="city"
            [disabled]="checkoutSuccessful"
          />
        </div>
        <div class="dine-col__2">
          <label for="state" class="d-block">Country</label>
          <input
            type="text"
            name="state"
            pInputText
            formControlName="state"
            [disabled]="checkoutSuccessful"
          />
        </div>
      </div>
      <div class="w-100" *ngIf="isDeliveryType">
        <div class="dine-col__2">
          <label for="postCode" class="d-block">PostalCode</label>
          <input
            type="text"
            name="postCode"
            pInputText
            formControlName="postCode"
            [disabled]="checkoutSuccessful"
          />
        </div>
      </div>
      <div class="w-100 wrapper-gg-map" *ngIf="isDeliveryType">
        <div id="map"></div>
      </div>
      <div class="w-100">
        <button
          *ngIf="isDeliveryType"
          pButton
          class="w-100 btn-confirm dine-btn-primary-dark"
          type="button"
          label="Check Location"
          (click)="onCheckLocation()"
        ></button>
      </div>

      <div class="w-100 wrapper-payments-web">
        <p>Choose your payment method</p>
        <div
          class="w-100 payment-type"
          *ngFor="let paymentItem of paymentString"
          [ngClass]="{ active: paymentItem.isActive }"
        >
          <div class="radio">
            <input
              type="radio"
              name="paymentType"
              formControlName="paymentType"
              value="{{ paymentItem.value }}"
              (change)="onChangeTypePayment(paymentItem)"
            />
          </div>
          <div class="discription">
            <p class="name">
              <img
                *ngIf="paymentItem.icon"
                class="icon"
                [src]="paymentItem.icon"
                alt="{{ paymentItem.name }}"
              />
              {{ paymentItem.name }}
            </p>
            <p
              *ngIf="paymentItem.detail"
              class="detail"
              title="{{ paymentItem.detail }}"
            >
              {{ paymentItem.detail }}
            </p>
          </div>
        </div>
      </div>
      <div class="w-100 wrapper-confirm-btn-mobile">
        <button
          pButton
          class="w-100 btn-confirm dine-btn-primary-dark"
          type="button"
          label="Confirm"
          [disabled]="checkoutSuccessful"
          (click)="onClickCheckout()"
        ></button>
      </div>
    </div>
  </div>
</div>

<div class="popup-overlay" *ngIf="isOpenConfirmCheckout">
  <div class="popupholder v2 d-flex align-items-center">
    <div id="popup2">
      <div class="main-popup add-address">
        <div class="main-form">
          <strong class="heading">Confirm your order</strong>
          <a
            href="javascript:;"
            class="close icon-close"
            (click)="closeConfirmPopup()"
          ></a>
          <div class="popup-container">
            <div
              class="confirm-detail w-75 mx-auto"
              *ngIf="
                formGroup.controls.paymentType.value &&
                  isAddressValid &&
                  isMarkerValid;
                else choosePaymentType
              "
            >
              <p>
                Total Amount: <span>{{ totalPrice }}$</span>
              </p>
              <p>
                Order Time:
                <span>{{
                  isASAP
                    ? "ASAP"
                    : (timeDeliveryControl.value | date: "dd/MM/yyyy HH:mm")
                }}</span>
              </p>
              <p>
                Address:
                <span>{{
                  address1.value ? address1.value : address2.value
                }}</span>
              </p>
            </div>
            <ng-template #choosePaymentType>
              <div
                class="confirm-detail w-75 mx-auto"
                *ngIf="!formGroup.controls.paymentType.value"
              >
                <p>Please choose your payment method</p>
              </div>
              <div *ngIf="isDeliveryType">
                <div
                  class="confirm-detail w-75 mx-auto"
                  *ngIf="!isAddressValid; else markerError"
                >
                  <p>Please enter your address to delivery!</p>
                </div>
                <ng-template #markerError>
                  <div
                    class="confirm-detail w-75 mx-auto"
                    *ngIf="!isMarkerValid"
                  >
                    <p>Please check your location!</p>
                  </div>
                </ng-template>
              </div>
            </ng-template>
            <div class="footer d-flex justify-content-around">
              <button
                class="btn btn-success dine-btn-primary-dark"
                *ngIf="
                  formGroup.controls.paymentType.value &&
                  isMarkerValid &&
                  isAddressValid
                "
                (click)="onClickConfirm()"
              >
                Confirm
              </button>
              <button
                class="btn btn-close dine-btn-primary-white"
                (click)="closeConfirmPopup()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
