$mobile-size: 768px;
$sub-text-color: #00000069;
:host {
  ::ng-deep .ui-breadcrumb {
    border: none !important;
  }
  .delivery-time {
    display: none;
    min-height: 100%;
    height: auto;
  }
  .wrapper-address-form {
    background: white;
    padding: 20px;
    //border-radius: 5px;
  }
  .wrapper-payment-form {
    background: white;
    padding: 20px;
    //border-radius: 5px;
  }
  @media only screen and (max-width: $mobile-size) {
    .wrapper-payment-form {
      background: rgba(0, 0, 0, -8%);
    }
  }
  @media only screen and (max-width: $mobile-size) {
    .wrapper-payment-form {
      background: rgba(0, 0, 0, 12%);
    }
  }
  #check-box-hidden:checked ~ .delivery-time {
    display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    text-align: center;
    top: 42px;
  }
  ::ng-deep .p-datepicker {
    .p-timepicker button {
      width: 1rem;
      height: 1rem;
    }
    .p-timepicker span {
      font-size: 1rem;
    }
    table td > span {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  .set-time {
    background: black;
    display: block;
  }
  .error-msg {
    opacity: 0;
    &.opacity-1 {
      opacity: 1 !important;
    }
  }
  .wrapper-checkout {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: row-reverse;
    .delivery-info,
    .wrapper-items {
      padding: 2.5rem 1.5rem;
      min-height: max-content;
      height: auto;
    }
    .toggle-order-menu-item {
      display: none;
    }
    @media only screen and (max-width: $mobile-size) {
      flex-flow: column;
      overflow-y: auto;
      .delivery-info {
        z-index: 3;
      }
      .wrapper-items {
        z-index: 2;
        border-left: 0;
        max-height: 34rem;
        -webkit-transition: max-height 0.4s ease;
        transition: max-height 0.4s ease;
      }
      .toggle-order-menu-item {
        display: block;
        border: 1px solid #00000064;
        background-color: #ffffffba;
        .toggle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
          .label-toggle {
            display: flex;
            align-items: center;
            width: 70%;
            min-width: max-content;
            .pi-shopping-cart {
              padding: 0.2rem;
              font-size: 1.2rem;
            }
            .pi-chevron-up {
              padding: 0.2rem;
              font-size: 0.8rem;
              -webkit-transition: transform 0.3s;
              transition: transform 0.3s;
            }
            .show {
              padding: 0.2rem;
              font-size: 1.1rem;
              display: none;
            }
            .hidder {
              padding: 0.2rem;
              font-size: 1.1rem;
            }
          }
          .price-order {
            padding: 0.2rem;
            width: 30%;
            text-align: right;
            min-width: max-content;
            font-size: 1.3rem;
          }
        }
      }
      input[id="detail-order-toggle"]:checked ~ .toggle-order-menu-item {
        .toggle {
          .pi-chevron-up {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
          }
          .show {
            display: inline-block;
          }
          .hide {
            display: none;
          }
        }
      }
      input[id="detail-order-toggle"]:checked ~ .wrapper-items {
        max-height: 0;
      }
      .delivery-info,
      .wrapper-items {
        padding: 0;
      }
    }
  }
  .calendar-item {
    margin-bottom: 3rem;
    @media only screen and (max-width: $mobile-size) {
      flex-flow: column;
    }
  }
  .p-button {
    margin-right: 10px;
  }
  .wrapper-payments {
    padding-top: 1rem;
    p {
      margin: 5px 0;
    }
    .wrapper-payment-item {
      padding: 0 1rem;
      min-width: max-content;
      .payment-item {
        padding: 8px 16px;
        // margin: 0 10px 0 0;
      }
    }
    &-web {
      .payment-type {
        display: flex;
        //border-radius: 5px;
        // border: 1px solid $sub-text-color;
        max-height: 6rem;
        margin-bottom: 1rem;
        .radio {
          input[type="radio"] {
            height: 1.2rem;
            width: 1.2rem;
          }
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 5%;
          min-width: max-content;
          min-height: 100%;
        }
        .discription {
          padding: 0.2rem;
          width: 75%;
          min-height: 100%;
          p {
            margin: 0;
            padding: 0;
          }
          .name {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 0.2rem;
          }
          .detail {
            color: $sub-text-color;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
          }
        }
        .icon {
          width: 1.5rem;
          img {
            float: right;
            max-width: 100%;
            max-height: 100%;
          }
        }
        &.active {
          background-color: #add8e640;
          border-color: lightblue;
        }
      }
      // @media only screen and (max-width: $mobile-size) {
      //   display: none;
      // }
    }
    &-mobile {
      display: none;
      @media only screen and (max-width: $mobile-size) {
        display: none;
      }
      @media only screen and (max-width: 425px) {
        .wrapper-payment-item {
          padding: 0.3rem;
          float: left;
          width: 50%;
          min-width: max-content;
          .payment-item {
            width: 100%;
          }
        }
      }
    }
  }
  .list-item {
    min-height: 240px;
    max-height: 240px;
    overflow-y: auto;
    padding: 10px;
    .item {
      .remove-item {
        width: 32px;
        background: black;
        color: white;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        //border-radius: 2px;
      }
      .item-detail {
        width: calc(100% - 32px);
        display: inline-block;
        padding: 0 10px;
        p {
          margin: 2px 0;
        }
        .name-price {
          #item-name {
            width: 70%;
            float: left;
          }
          #item-price {
            width: 30%;
            text-align: right;
            float: right;
          }
        }
      }
    }
  }
  .wrapper-input-coupon {
    padding: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  .wrapper-total-fee {
    padding: 1rem 10px;
    .detail-fees {
      p {
        padding-right: 5px;
      }
    }
    p {
      margin: 5px 0;
      span {
        float: right;
      }
    }
    .btn-confirm {
      background-color: black;
    }
  }
  .confirm-detail {
    padding-bottom: 1rem;
    p {
      margin: 5px 0;
      span {
        float: right;
        padding-right: 5px;
      }
    }
  }
  .dine-col {
    display: inline-block;
    &__2 {
      width: 50%;
      float: left;
      input {
        width: 90%;
        @media only screen and (min-width: 1440px) {
          width: 95%;
        }
      }
      @media only screen and (max-width: $mobile-size) {
        input {
          width: 100%;
        }

        width: 100%;
      }
      label {
        margin: 5px 0;
      }
    }
    &__3 {
      width: 33.333333%;
      padding-right: 10px;
      float: left;
      input {
        width: 100%;
      }
      label {
        margin: 5px 0;
      }
      @media only screen and (max-width: $mobile-size) {
        width: 100%;
        &.pr-3 {
          padding: 0 !important;
          margin-bottom: 1rem;
        }
        ::ng-deep .calendar-custom {
          width: 100%;
          input {
            text-align: center;
          }
        }
      }
    }
    &__4 {
      width: 40%;
      label {
        margin: 5px 0;
      }
      @media only screen and (max-width: $mobile-size) {
        width: 100%;
      }
    }
    &__6 {
      width: 60%;
      label {
        margin: 5px 0;
      }
      @media only screen and (max-width: $mobile-size) {
        width: 100%;
      }
    }
    &__7 {
      width: 66.66667%;
      label {
        margin: 5px 0;
      }
      ::ng-deep p-autocomplete {
        width: 100%;
        .p-autocomplete {
          width: 100%;
        }
      }
      ::ng-deep .p-autocomplete {
        width: 100%;
      }
      @media only screen and (max-width: $mobile-size) {
        width: 100%;
      }
    }
  }
  .input-control {
    margin-bottom: 0;
    label {
      margin: 2px 0;
    }
  }
  ::ng-deep .p-dropdown {
    width: 100%;
  }
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.order-info {
  width: 100%;

  h2 {
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .opener,
  .popupopener {
    padding: 0.9375rem 2.625rem;
    display: inline-block;
    color: #414952;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @media (min-width: $mobile-size) {
      padding: 0.9375rem 1.25rem;
    }

    i {
      display: inline-block;
      vertical-align: top;
      font-size: 4px;
      color: #ccc;
      line-height: 4px;
      margin: 0.4375rem 0.5rem 0 0;
      @media (max-width: 767px) {
        position: absolute;
        margin: 0;
        left: 0.6875rem;
        top: 0.9375rem;
      }
    }
    i.icon-arrow_back {
      font-size: 1.0625rem;
      line-height: 1.0625rem;
    }
  }

  .address-list-title {
    //border-radius: 0.375rem 0.375rem 0 0;
  }
  .opener {
    i {
      @media (min-width: $mobile-size) {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .icon-bottom:before {
    content: "\f107";
    font-family: fontAwesome;
    font-size: 14px;
  }
  .icon-bottom::before {
    top: -5px;
    position: absolute;
  }

  .delivery-detail {
    padding: 0;
    @media (min-width: $mobile-size) {
      padding: 1rem 1.125rem 2.5625rem;
    }
    .info-holder {
      padding: 1.0625rem 1.1875rem;
    }
    .heading {
      display: block;
      font-weight: 500;
      margin: 0.125rem 0 0.4375rem;
      font-size: 0.875rem;
    }
  }
  .slide {
    overflow: hidden;
    background: #fff;
    @media (min-width: $mobile-size) {
      //border-radius: 0 0 0.375rem 0.375rem;
    }
  }
  .detail-holder {
    @media (min-width: $mobile-size) {
      max-width: 31.375rem;
    }
  }
  form.main-form {
    -webkit-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .main-form {
    .add-new {
      display: block;
      color: black;
      position: relative;
      padding: 0.9375rem 1.1875rem;
      @media (min-width: $mobile-size) {
        float: right;
        padding: 0;
      }
    }
    .label-holder {
      display: block;
      overflow: hidden;
      @media (min-width: $mobile-size) {
        margin: 0 0 0.875rem;
      }

      .delivery_title {
        display: block !important;
        width: 100%;
      }
      label.delivery_title {
        width: 60%;
      }
      label {
        display: block;
        margin: 0;
        font-size: 0.75rem;
        color: #7e8389;
        font-weight: 400;
        padding: 1.125rem 1.1875rem;
        border-top: solid 1px #fcfcfc;
        @media (min-width: $mobile-size) {
          float: left;
          padding: 0;
          border: 0;
        }
      }
    }
    .noaddress_found {
      padding: 1.0625rem 1.25rem 1.0625rem 3.1875rem;
      border: 1px dashed black;
      width: 100%;
      display: block;
      margin-bottom: 10px;
      //border-radius: 6px;
      color: black;
      font-weight: 500;
      position: relative;
      i {
        color: black;
        position: absolute;
        left: 25px;
        top: 20px;
        font-size: 15px;
      }
    }
    .radio-list {
      @media (min-width: $mobile-size) {
        margin: 0 0 0.9375rem;
      }
      .radio-box {
        margin: 0 0 0.5rem;
        label.jcf-label-active {
          border-color: black;
          background-color: #eefbf0;
        }
        label {
          display: block;
          position: relative;
          font-size: 0.75rem;
          line-height: 0.875rem;
          cursor: pointer;
          padding: 1.0625rem 1.25rem 1.0625rem 2.8125rem;
          min-height: 3.25rem;
          border: 1px solid #f5f5f5;
          background-color: #fafafa;

          @media (min-width: $mobile-size) {
            //border-radius: 6px;
            padding: 1.0625rem 1.25rem 1.0625rem 3.1875rem;
          }
        }
        .jcf-radio {
          vertical-align: top;
          display: inline-block;
          cursor: default;
          background: #fff;
          border: 1px solid #ccc;
          //border-radius: 100%;
          margin: 0 3px 0 0;
          height: 22px;
          width: 22px;
          position: absolute;
          left: 0.875rem;
          top: 0.8125rem;
          z-index: 2;
          overflow: hidden;
          @media (min-width: $mobile-size) {
            left: 1.1875rem;
          }

          input[type="radio"] {
            position: absolute;
            height: 100%;
            width: 100%;
            border: 0;
            margin: 0;
            left: 0;
            top: 0;
            opacity: 0;
            background: none;
            opacity: 0;
          }
          span {
            display: none;
            position: absolute;
            height: 6px;
            width: 10px;
            top: 50%;
            left: 50%;
            margin: -4px 0 0 -5px;
            border: 3px solid black;
            border-width: 0 0 2px 2px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          .jcf-checked span {
            display: block;
          }
        }
        .address {
          display: block;
          line-height: 1.125rem;
          padding: 0;
        }
      }
    }
    .btn-silver {
      color: #b2b2b2 !important;
      background: #f5f5f5 !important;
    }
    .btn {
      height: 3.125rem;
      border: 0;
      // padding: 1.125rem 0.9375rem;
      font-size: 0.75rem;
      line-height: 0.875rem;
      letter-spacing: 1.5px;
      cursor: pointer;
      color: #fff;
      min-width: 13.75rem;
      text-transform: uppercase;
    }
  }
  div.info-holder-container {
    height: 0;
    transition: opacity 0.1s ease-out;
    overflow: hidden;
    opacity: 0;
  }
  address {
    margin: 0 0 0.4375rem;
    line-height: 1.125rem;
    max-width: 20.0625rem;
    font-style: normal;
  }
  .continue_popup_open {
    margin-top: 20px;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 0.75rem;
    height: 3.125rem;
    //border-radius: 0;
    letter-spacing: 1.5px;
    line-height: 0.875rem;
    min-width: 13.75rem;
    padding: 1.125rem 0.9375rem;
    position: static;
    display: block;
    text-transform: uppercase;
  }
  .paymentSlider {
    height: 0;
    > .payment-slide {
      opacity: 0;
      transition: opacity 0.2s ease-in;
      transition-delay: 0.3s;
    }
  }
}
.order-info.active_sec .paymentSlider {
  min-height: 482px;
  height: auto;
  > .payment-slide {
    opacity: 1;
    transition: opacity 0.2s ease-in;
    transition-delay: 0.4s;
  }
}
.payment-slide .popupopener .priceinfo {
  padding-left: 0.5rem;
  display: block;
  font-size: 0.825rem;
  line-height: 0.75rem;
  color: #7e8389;
}
.payment-info {
  padding: 1.0625rem 1.1875rem 1.25rem;
  @media (min-width: $mobile-size) {
    max-width: 33.75rem;
  }
  label {
    display: block;
    margin: 0 0 0.75rem;
    color: #7e8389;
  }
  .btn-success,
  .btn-close {
    height: 3.125rem;
    border: 0;
    padding: 1.125rem 0.9375rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #fff;
    background-color: black;
    min-width: 13.75rem;
    text-transform: uppercase;
  }
  .discount-holder {
    overflow: hidden;
    position: relative;
    padding: 0 6.875rem 0 0;
    margin: 0.9375rem 0 0;
    @media (min-width: $mobile-size) {
      padding: 0 9.375rem 0 0;
    }
    .form-control {
      background: #fff;
      width: 100%;
      height: 3.125rem;
      border: 1px solid #e0e0e0;
      //border-radius: 0.375rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;
      padding: 1rem 1.1875rem 1rem;
    }
    .btn {
      position: absolute;
      right: 0;
      top: 0;
    }
    .btn-success {
      min-width: 6.25rem;
      left: auto;
      @media (min-width: $mobile-size) {
        min-width: 8.75rem;
      }
    }
    .btn-success.btnApplyDiscount {
      font-weight: 700;
      letter-spacing: -0.3px;
    }
    .btn-success.btnApplyDiscount.disabled {
      background: #f5f5f5;
      color: #bababa !important;
      font-weight: 700;
      letter-spacing: -0.3px;
    }
  }
}
.custom-btn {
  height: 3.125rem;
  border: 0;
  padding: 1.125rem 0.9375rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  min-width: 13.75rem;
  text-transform: uppercase;

  &.disabled {
    background: #f5f5f5;
    color: #bababa;
    font-weight: 700;
    letter-spacing: -0.3px;
  }
}
::ng-deep.custom-tab.ui-tabview-selected {
  background-color: black !important;
}
::ng-deep.custom-tabview {
  > ::ng-deep.ui-tabview-panels {
    border: none !important;
  }
}
.cash-delivery {
  padding: 1.5rem 1.1875rem 2.625rem;
  .total {
    font-size: 0.875rem;
    font-weight: 600;
    display: block;
    margin: 0 0 0.75rem;
    span {
      color: black;
    }
  }
  p {
    margin: 0 0 1.1875rem;
  }
}
.payment-tabs {
  .btn-success {
    height: 3.125rem;
    border: 0;
    padding: 1.125rem 0.9375rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #fff;
    min-width: 13.75rem;
    text-transform: uppercase;
  }
}
.popup-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  bottom: 0;
  overflow: auto;
  background-color: rgb(0 0 0 / 30%);
  @media (min-width: $mobile-size) {
    overflow: hidden;
    background-color: rgba(65, 73, 82, 0.8);
  }
  .popupholder {
    @media (min-width: $mobile-size) {
      position: fixed;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .popupholder.v2 {
    height: calc(100% - 30px);
    overflow-x: hidden;
    overflow-y: auto;
    @media (min-width: 992px) {
      height: calc(100% - 50px);
    }
    @media only screen and (max-width: $mobile-size) {
      justify-content: center;
    }
  }

  .main-popup {
    position: relative;
    background: #fff;
    min-width: 20rem;
    @media (min-width: $mobile-size) {
      width: 26.375rem;
      //border-radius: 0.375rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
      margin: 0 0 10px;
    }
    .main-form {
      position: relative;
      .popup-container {
        display: grid;
        height: 100%;
      }
      .btn {
        height: 3.125rem;
        border: 0;
        // padding: 1.125rem 0.9375rem;
        font-size: 0.75rem;
        line-height: 0.875rem;
        letter-spacing: 1.5px;
        cursor: pointer;
        color: #fff;
        min-width: 13.75rem;
        text-transform: uppercase;
      }
    }
    .heading {
      display: block;
      background: #fafafa;
      font-size: 0.875rem;
      line-height: 1rem;
      padding: 1.125rem 2.375rem;
      font-weight: 500;
      min-height: 3.25rem;
      //border-radius: 0.375rem 0.375rem 0 0;
      text-align: center;
      border: 1px solid #f5f5f5;
      @media (min-width: 360px) {
        padding: 1.125rem 3rem;
      }
      @media (min-width: $mobile-size) {
        padding: 1.625rem 1.875rem;
        border: 0;
        height: auto;
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
    .icon-close:before {
      content: "\f00d";
      font-family: fontAwesome;
    }
    .close {
      position: absolute;
      left: 0.9375rem;
      top: 0.9375rem;
      font-size: 1rem;
      line-height: 1rem;
      @media (min-width: $mobile-size) {
        right: 1.125rem;
        left: auto;
        top: 1.625rem;
      }
    }
    label {
      display: block;
      margin: 0 0 0.875rem;
      color: #7e8389;
    }
    .form-control {
      background: #fff;
      width: 100%;
      height: 3.25rem;
      border: 1px solid #ced4da;
      //border-radius: 0.375rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.75rem;
      line-height: 1rem;
      padding: 1.0625rem 1.1875rem 1.0625rem;
    }

    .footer {
      background: #fafafa;
      padding: 0.6875rem 1.25rem;
      overflow: hidden;
      text-align: right;
      //border-radius: 0 0 0.375rem 0.375rem;
      border-top: 1px solid #80808036;
      .btn {
        //border-radius: 0.375rem;
        @media (min-width: $mobile-size) {
          float: right;
          width: auto;
        }
      }
    }
    .btn {
      display: block;
      text-transform: uppercase;
      height: 3.125rem;
      // padding: 1.125rem 0.9375rem;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 0.875rem;
      letter-spacing: 1.5px;
      width: 100%;
      cursor: pointer;
    }
  }
  .main-popup.add-address {
    // padding: 0 0 1.875rem;

    @media (min-width: $mobile-size) {
      margin: 0;
      padding: 0;
      width: 38.9375rem;
    }
    .heading {
      margin-bottom: 0 !important;
    }
    .holder {
      padding: 0.9375rem 0.875rem 0;
      @media (min-width: $mobile-size) {
        padding: 0.9375rem 1.3125rem 0;
      }
    }
    .input-holder {
      margin: 0 0 0.5rem;
    }
    @media only screen and (max-width: 425px) {
      max-width: 96vw;
      width: 96vw;
      .main-form {
        .btn {
          padding: 0 1rem;
          min-width: max-content;
          max-width: max-content;
        }
      }
    }
  }
}
#delivery[disabled] {
  background: #f5f4f4;
}
.mandatory label:after {
  content: " *";
  color: red;
}
.order-info.active {
  .slide {
    display: block !important;
    margin: 0 !important;
    height: auto !important;
    width: 100% !important;
    position: static !important;
  }
  .delivery-detail {
    &.slide {
      padding-bottom: 20px;
    }
    .detail-holder > form.main-form {
      overflow: hidden;
      height: 0 !important;
    }
    .detail-holder > div.info-holder-container {
      opacity: 1;
      height: auto;
      transition: opacity 0.2s ease-in;
      transition-delay: 0.2s;
      > div.info-holder {
        padding: 0;
      }
    }
  }
}
.address-change-link {
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  right: 10px;
  padding: 0.9375rem 1.25rem;
  color: #007bff !important;
}
.address-change-link-custom {
  font-size: 12px;
  font-weight: normal;
  padding: 0.9375rem 2.625rem;
  color: #007bff !important;
}
.calendar-custom {
  width: 100%;
  .p-component {
    text-align: center;
  }
}
.height-fit-content {
  height: fit-content !important;
}
.wrapper-gg-map {
  display: flex;
  justify-content: center;
  padding: 1rem 10px;
  #map {
    display: inline-block;
    width: 100%;
    height: 15rem;
  }
}
.wrapper-payments-web {
  padding-top: 1rem;
}
.detail-order-toggle {
  display: none;
}
.wrapper-confirm-btn {
  display: block;
  &-web {
    display: block;
  }
  &-mobile {
    display: none;
  }
  @media only screen and (max-width: $mobile-size) {
    &-web {
      display: none;
    }
    &-mobile {
      display: block;
    }
  }
}
