<!-- navbar -->
<div class="navbar-header" [ngClass]="{'yellow_bg': isBackgroudYellow}">
    <div class="kt-header__topbar-wrapper" dropdown>
        <div class="dropdown-toggle py-3" dropdownToggle>
            <div class="kt-header__topbar-user" type="button">
                <span class="kt-header__topbar-username kt-hidden-mobile">
                    <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">{{ appSession.user.emailAddress }}</span>
                </span>
                <img *ngIf="profilePicture" class="header-profile-picture m--img-rounded m--marginless m--img-centered" alt="Pic" [src]="profilePicture" />
            </div>
        </div>
        <ul class="dropdown-menu" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
            <li *ngIf="isGranted('Pages.Tenant.Tiffin.OrderCollected')" role="menuitem"><a class="dropdown-item" [routerLink]="['/app/portal/admin/collect']" routerLinkActive="active-link">Collect</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/app/portal/member/profile']" routerLinkActive="active-link">Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/app/portal/member/wallet']" routerLinkActive="active-link">Wallet</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/app/portal/member/balance']" routerLinkActive="active-link">Balance</a></li>
            <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/app/portal/member/order-history']" routerLinkActive="active-link">Order History </a>
            </li>
            <li role="menuitem">
                <a class="dropdown-item" [routerLink]="['/app/portal/member/payment-history']" routerLinkActive="active-link">Payment History </a>
            </li>

            <li role="menuitem"><hr class="dropdown-divider" /></li>
            <li role="menuitem" class="dropdown-item">
                <i class="flaticon-logout"></i>
                <a (click)="logout()" class="dropdown-item"> <i class="flaticon-logout"></i>&nbsp;{{ 'Logout' | localize }} </a>
            </li>
        </ul>
    </div>
    <div class="meal-plans-cart" [routerLink]="['portal/member/cart-items']">
        <span class="cart-number">{{ cartProductsCount }}</span>
        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <article>
            <!-- mobile menu -->
            <div class="logo_ham_btn">
                <a href="https://wa.me/+65{{phoneNumber}}" class="cta-whatsapp">
                    <img src="./assets/static/svg/whatsapp.svg" alt="" />
                </a>
                <a class="navbar-brand" href="./index.html">
                    <img src="./assets/static/Images/Stack_Logo.jpeg" alt="" />
                </a>
                <button
                    class="navbar-toggler collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                    <span class="hamburger_btn">
                        <span></span>
                    </span>
                </button>
            </div>
            <!-- mobile menu ends -->

            <!-- main menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="main_menu">
                    <a class="navbar-brand" href="./index.html">
                        <img src="/assets/static/Images/Stack_Logo.jpeg" alt="" />
                    </a>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/app/portal/member/order']" routerLinkActive="active-link">Order </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/app/portal/member/menu']" routerLinkActive="active-link">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/buy-offer']" routerLinkActive="active-link">Meal plans</a>
                        </li>
                        <li class="nav-item profile-link">
                            <a class="nav-link" [routerLink]="['/app/portal/member/profile']" routerLinkActive="active-link">Profile</a>
                        </li>
                        <li class="nav-item profile-link">
                            <a class="nav-link" [routerLink]="['/app/portal/member/balance']" routerLinkActive="active-link">Balance</a>
                        </li>
                        <li class="nav-item profile-link">
                            <a class="nav-link" [routerLink]="['/app/portal/member/order-history']" routerLinkActive="active-link">Order History </a>
                        </li>
                        <li class="nav-item profile-link">
                            <a class="nav-link" [routerLink]="['/app/portal/member/payment-history']" routerLinkActive="active-link">Payment History </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/aboutUs']" routerLinkActive="active-link">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/faq']" routerLinkActive="active-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/term-and-conditions']" routerLinkActive="active-link">Terms & Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/contact']" routerLinkActive="active-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/feedback']" routerLinkActive="active-link">Feedback</a>
                        </li>
                        <li class="nav-item profile-link">
                            <i class="flaticon-logout"></i>
                            <a (click)="logout()" class="nav-link"> <i class="flaticon-logout"></i>&nbsp;{{ 'Logout' | localize }} </a>
                        </li>
                        <li class="nav-item">
                            <chat-toggle-button></chat-toggle-button>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</nav>
