.navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 25px 65px;
    position: relative;
    top: 0;
    background: transparent;

    @media (max-width: 768px){
        margin-left: 0;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 50px;

        .kt-header__topbar-wrapper {
            display: none;
        }
    }
    
}

.nav-item.profile-link {
    @media (max-width: 768px){
        display: block !important;
    }

   display: none !important;
}