<div class="tabs__tab-panel" #mydiv>
    <div class="content-slide first-slide">
        <div class="contentslide-holder">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="content-block">
                        <a href="javascript:void(0)" class="profile-opener d-md-none icon-arrow_back">Your Past Order</a>
                        <section class="profile-block">
                            <h2 class="d-none d-md-block">Your Past Order</h2>
                            <div action="#" class="main-form">
                                <div>
                                    <p-table [value]="orderDetails" [paginator]="true" [rows]="10">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th *ngFor="let col of cols">
                                                    <div class="content-center">
                                                        {{col.header}}
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="content-center">
                                                        Details
                                                    </div>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-product>
                                            <tr>
                                                <td *ngFor="let col of cols">
                                                    <div class="content-center">
                                                        {{product[col.field]}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="content-center">
                                                        <span (click)="viewDetails(product)"><i class="pi pi-eye"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="notification-wrapper"></div>
        <div></div>
    </div>
</div>
<p-dialog header="Details" [(visible)]="display" [style]="{width: '50vw'}" [modal]="true">

    <div class="order-details">
        <div action="javascript:void(0)" class="order-div" value="">
            <fieldset>
                <div class="orderarea content-border" id="order_div">
                    <table>
                        <tbody>
                            <tr *ngFor="let itemOrder of orderList">
                                <td>
                                    <div class="cart_item_info">
                                        <strong class="title">
                                            <a href="javascript:void(0)" class="cart_item_name">{{itemOrder.name}}</a></strong>
                                        <div style="display: flex">
                                            <div class="input-holder">
                                                <span class="">
                                                    <span class="jcf-number">
                                                        {{itemOrder.total}}
                                                    </span></span>
                                            </div>
                                            <span class="per-item price-size" *ngIf="itemOrder">&nbsp;x
                                                {{itemOrder.currency}}
                                                {{itemOrder.pricePerItem | number:'1.2-4'}}</span>
                                        </div>
                                    </div>
                                    <div *ngFor="let portion of itemOrder.portions; let i = index" style="color: #f18f1c; font-size: .775rem;">
                                        <span *ngIf="i!=0">+ &nbsp;{{portion.name}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="cart_item_info"><span>{{itemOrder.currency}}
                                            {{itemOrder.totalPricePerItem | number:'1.2-4'}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="subtotal_div content-center content-border">
                    <table>
                        <tbody>
                            <tr class="subtotal">
                                <td>
                                    <h2>Subtotal</h2>
                                </td>
                                <td>{{itemDetail?.currency}} <span>{{itemDetail?.amount | number:'1.2-4'}}</span></td>
                            </tr>
                            <tr class="total">
                                <td>
                                    <h2>To Pay</h2>
                                </td>
                                <td>{{itemDetail?.currency}} <span>{{itemDetail?.amount | number:'1.2-4'}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- This section for note in checkout state -->
                <div>
                    <div class="content-border">
                        <h2><span>ORDER NOTES</span></h2>
                        <div class="special-message">
                            <div>{{itemDetail?.orderNotes}}</div>
                        </div>
                    </div>
                </div>
                <!-- end section -->
            </fieldset>
        </div>
    </div>
</p-dialog>