.tabs__tab-panel {
  display: block;
  width: 100%;
}
.starters-block:after {
  content: "";
  display: block;
  clear: both;
}
.content-block {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  @media (min-width: 992px) {
    margin: 0 0.4375rem 1.125rem -2.0625rem;
  }
  @media (min-width: 768px) {
    margin: 0 0 1.125rem 1rem;
    border: 1px solid #f5f5f5;
    //border-radius: 0.375rem;
  }
}
.profile-opener {
  display: block;
  min-height: 3.125rem;
  background-color: #fafafa;
  color: #414952;
  display: block;
  overflow: hidden;
  padding: 0.9375rem 2.625rem;
  position: relative;
  font-size: 0.875rem;
  line-height: 1.125rem;
  border-bottom: solid 1px #f5f5f5;
  z-index: 1;
}
.profile-block {
  overflow: hidden;
  .main-form {
    padding: 1rem 1.1875rem 2.5rem;
    .btn {
      height: 3.125rem;
      border: 0;
      padding: 1.125rem 0.9375rem;
      font-size: 0.75rem;
      line-height: 0.875rem;
      letter-spacing: 1.5px;
      cursor: pointer;
      color: #fff;
      min-width: 13.75rem;
      text-transform: uppercase;
      font-weight: 600;
      vertical-align: middle;
      //border-radius: 0.375rem;
      @media (min-width: 768px) {
        background: black;
        border-color: black;
        color: #fff;
      }
    }
  }
  .btn-holder {
    overflow: hidden;
    padding: 0.25rem 0 0;
    .change-password {
      display: inline-block;
      margin: 0.625rem 0 0 0;
      vertical-align: middle;
      @media (min-width: 768px) {
        margin: 0 0 0 1.125rem;
      }
    }
  }
  .input-holder {
    margin: 0 0 0.9375rem;
    position: relative;
  }
  label {
    color: #7e8389;
    display: block;
    margin: 0 0 0.875rem;
  }
  .holder {
    @media (min-width: 768px) {
      max-width: 23.75rem;
    }
  }
  .form-control {
    background: #fff;
    width: 100%;
    height: 3.25rem;
    border: 1px solid #f5f5f5;
    //border-radius: 0.375rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 1.0625rem 1.1875rem 1.0625rem;
  }
  .form-control:focus {
    background-color: #fff;
    border: none !important;
    outline: 0;
    box-shadow: none !important;
  }
  .main-form input[readonly] {
    background: #f5f4f4;
  }
}
.content-block h2 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding: 1rem 1.1875rem;
  font-weight: 500;
  margin: 0;
  background: #fafafa;
}
.address-block {
  overflow: hidden;
  line-height: 1.125rem;
  position: relative;
  .address-holder {
    overflow: hidden;
    padding: 0;
    @media (min-width: 768px) {
      padding: 1.3125rem 1.125rem 1.1875rem;
    }
  }
  .address-list {
    @media (min-width: 768px) {
      max-width: 31.4375rem;
      padding: 0 0 0.5rem;
    }
  }
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-details {
  font-weight: 600;
  h2 {
    font-size: 1rem;
    line-height: 1.125rem;
    padding: 1rem 1.1875rem;
    font-weight: 600;
    margin: 0;
    background: #fafafa;
  }
}
.content-border {
  border-bottom: 1px solid #000;
  > table {
    width: 100%;
  }
}
