<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" (onShown)="shown()"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    <span>{{l('Select Location')}}</span>
                </h5>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate (ngSubmit)="getLocationToAdd()" autocomplete="off">
                    <div class="input-group margin-bottom-10">
                        <!-- <input autoFocus [(ngModel)]="filterTextForUserTable" name="filterTextForUserTable" class="form-control" placeholder="{{l('SearchWithThreeDot')}}"
                            type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                            </button>
                        </span> -->
                        <div class="has-search w-100">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input [(ngModel)]="filterTextForUserTable" name="filterText" autoFocus
                                class="form-control m-input form-control-solid"
                                (ngModelChange)="getLocationToAdd()"
                                [placeholder]="l('SearchWithThreeDot')" type="text">
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="locationNotInGroupTableHelper.isLoading">
                        <p-table #addLocationToGroupDataTable (onLazyLoad)="getLocationToAdd($event)" [value]="locationNotInGroupTableHelper.records"
                            rows="{{locationNotInGroupTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [responsive]="locationNotInGroupTableHelper.isResponsive" [(selection)]="selectedLocations" selectionMode="multiple">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:150px">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="code">
                                        {{l('Code')}}
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width: 150px">
                                        <p-tableCheckbox [value]="record"></p-tableCheckbox>
                                    </td>
                                    <td>
                                        {{record.name}}
                                    </td>
                                    <td>
                                        {{record.code}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="locationNotInGroupTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{locationNotInGroupTableHelper.defaultRecordsCountPerPage}}" #addLocationToGroupPaginator (onPageChange)="getLocationToAdd($event)"
                                [totalRecords]="locationNotInGroupTableHelper.totalRecordsCount" [rowsPerPageOptions]="locationNotInGroupTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', locationNotInGroupTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
                <button class="btn btn-primary" (click)="addLocationToGroup()">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
