<div appBsModal #createOrEditModal="bs-modal" class="modal fade" role="dialog" (onShown)="onShown()"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="organizationUnit.id">{{l("EditingLocationGroup")}}: {{organizationUnit.name}}</span>
                        <span *ngIf="!organizationUnit.id">{{l("CreatingNewLocationGroup")}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="OrganizationUnitCode" class="required-field">{{l("Code")}}</label>
                        <input id="OrganizationUnitCode" #organizationUnitCode class="form-control" type="text" autofocus
                            name="Code" [ngClass]="{'edited': organizationUnit.code}"
                            [(ngModel)]="organizationUnit.code" required>
                        <validation-messages [formCtrl]="organizationUnitCode"></validation-messages>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="OrganizationUnitDisplayName" class=required-field>{{l("Name")}}</label>
                        <input id="OrganizationUnitDisplayName" class="form-control" type="text"
                            name="displayName" [ngClass]="{'edited': organizationUnit.name}"
                            #organizationUnitName="ngModel" [(ngModel)]="organizationUnit.name" required maxlength="128">
                        <validation-messages [formCtrl]="organizationUnitName"></validation-messages>
                    </div>

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
