<div>
    <div class="card card-custom gutter-b">
        <div class="card-header">
                <div class="card-title">
                    <h4 class="card-label">
                        {{l("LocationGroup")}}: {{group?.name}}
                    </h4>
                </div>
            <div class="card-toolbar">
                <button *ngIf="isGranted('Pages.Tenant.Connect.Master.Locations.Create')" (click)="openAddModal()"
                    class="btn btn-primary">
                    {{l("Add Location")}}
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel">
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #locationInGroupTable (onLazyLoad)="getLocationsInGroup($event)"
                                [value]="primengTableHelper.records" [paginator]="false" [lazy]="true"
                                scrollable="false" responsive="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="code" style="width:150px">
                                            {{l('Code') | uppercase}}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name" style="width:150px">
                                            {{l('Name')| uppercase}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width:80px" class="text-center">
                                            {{l('Delete')| uppercase}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width:150px">
                                            {{record.code}}
                                        </td>
                                        <td style="width:150px">
                                            {{record.name}}
                                        </td>
                                        <td style="width:80px" class="text-center">
                                            <button class="btn btn-outline-danger btn-sm btn-icon"
                                                (click)="removeLocationFromGroup(record.id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #locationInGroupPaginator (onPageChange)="getLocationsInGroup($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<addLocationModal #addLocationModal (locationAdded)="getLocationsInGroup($event)"></addLocationModal>
