<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header [title]="'LocationGroups' | localize" [description]="'LocationGroupsHeaderInfo' | localize">
        </sub-header>

        <div class="col-lg-6">
            <div>
                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <h4 class="card-label">
                                {{l("LocationGroups")}}
                            </h4>
                        </div>
                        <div class="card-toolbar">
                            <button (click)="exportGroup()" class="btn btn-success">
                                {{l("Export")}}
                            </button>
                            <button *ngIf="isGranted('Pages.Tenant.Connect.Location.LocationGroups.Create')"
                                (click)="addOrEditGroup(null)" class="btn btn-add-edit">
                                {{l("Add")}}
                            </button>
                            <button
                                *ngIf="selectedGroup && isGranted('Pages.Tenant.Connect.Location.LocationGroups.Edit')"
                                (click)="addOrEditGroup(selectedGroup)" class="btn btn-add-edit">
                                {{l("Edit")}}
                            </button>
                            <button
                                *ngIf="selectedGroup && isGranted('Pages.Tenant.Connect.Location.LocationGroups.Delete')"
                                (click)="deleteGroup(selectedGroup)" class="btn btn-danger">
                                {{l("Delete")}}
                            </button>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel">
                                <div class="form form--label-align-right">
                                    <form class="form" (ngSubmit)="getGroups()">
                                        <div class="form form--label-align-right">
                                            <div class="row align-items-center m--margin-bottom-10">
                                                <div class="col-xl-12">
                                                    <div class="form-group kt-form__group align-items-center">
                                                        <div class="input-group">
                                                            <div class="has-search w-100">
                                                                <span class="fa fa-search form-control-feedback"></span>
                                                                <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                                    class="form-control m-input form-control-solid"
                                                                    (ngModelChange)="getGroups()"
                                                                    [placeholder]="l('SearchWithThreeDot')" type="text">
                                                            </div>
                                                            <!-- <span class="input-group-btn">
                                                                <button (click)="getGroups()" class="btn btn-filter"
                                                                    type="submit">
                                                                    <i class="fas fa-filter icon-filter"
                                                                        [attr.aria-label]="l('Search')"></i>
                                                                    <span>Filter</span>
                                                                </button>
                                                            </span> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row align-items-center">
                                        <!--<Primeng-TurboTable-Start>-->
                                        <div class="primeng-datatable-container"
                                            [busyIf]="primengTableHelper.isLoading">
                                            <p-table #groupTable (onLazyLoad)="getGroups($event)"
                                                [value]="primengTableHelper.records" [paginator]="false" [lazy]="true"
                                                scrollable="false" responsive="primengTableHelper.isResponsive">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th style="width:80px">
                                                            {{l('Id') | uppercase}}
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="code">
                                                            {{l('Code') | uppercase}}
                                                            <p-sortIcon field="code"></p-sortIcon>
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="name">
                                                            {{l('Name') | uppercase}}
                                                            <p-sortIcon field="name"></p-sortIcon>
                                                        </th>
                                                        <th style="width:80px" class="text-center">
                                                            {{l('Actions') | uppercase}}
                                                        </th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-record="$implicit">
                                                    <tr>
                                                        <td style="width:80px">
                                                            {{record.id}}
                                                        </td>
                                                        <td style="width:150px">
                                                            <span class="ui-column-title"> {{l('Code')}}</span>
                                                            {{record.code}}
                                                        </td>
                                                        <td style="width:150px">
                                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                                            {{record.name}}
                                                        </td>
                                                        <td style="width:80px" class="text-center">
                                                            <button class="btn btn-arrow-right btn-sm btn-icon"
                                                                (click)="selectGroup($event,record)">
                                                                <i class="fas fa-arrow-right zoom-08"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                            <div class="primeng-no-data"
                                                *ngIf="primengTableHelper.totalRecordsCount == 0">
                                                {{l('NoData')}}
                                            </div>
                                            <div class="primeng-paging-container">
                                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                    #groupPaginator (onPageChange)="getGroups($event)"
                                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                                </p-paginator>
                                                <span class="total-records-count">
                                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                                </span>
                                            </div>
                                        </div>
                                        <!--<Primeng-TurboTable-End>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div *ngIf="selectedGroup">
                <locationInGroup [group]="selectedGroup"></locationInGroup>
            </div>
        </div>
    </div>
    <createOrEditGroupModal #createOrEditGroupModal (groupAddedOrUpdated)="getGroups($event)"> </createOrEditGroupModal>
</div>
