<!-- meals plans container -->
<div class="meal-plans-container yellow_bg">
    <div class="meal-plans">
        <div class="container">
            <article>
                <h2 class="py-5">{{ 'ActiveOffers' | localize }}</h2>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let offer of productOffers; let j = index">
                        <div class="plan">
                            <div class="plan-container">
                                <aside>
                                    <!-- plan price -->
                                    <div class="d-flex align-items-start">
                                        <!-- <span class="plan-price-number"> 1 </span> -->
                                        <div class="plan-price">
                                            <h5 class="plan-price-heading">{{ offer.name }}</h5>
                                            <div class="plan-price-details">
                                                <span class="plan-price-details__span--big"
                                                    >{{ appSession.application.currencySign }} {{ offer.price | number: '1.2-2' }}</span
                                                >
                                                <span class="plan-price-details__span--small"
                                                    >{{ 'Meal Count' }}: <span>{{ offer.totalDeliveryCount }}</span></span
                                                >
                                            </div>
                                        </div>
                                    </div>

                                    <!-- plan price ends -->
                                    <!-- plan description -->
                                    <div class="plan-description">
                                        <li class="plan-description-list" innerHTML="{{ offer.description }}"></li>
                                    </div>
                                    <!-- plan description ends -->
                                </aside>
                                <!-- plan select -->
                                <div class="plan-select">
                                    <button class="btn" (click)="addToCart(offer)">
                                        <a>{{ 'AddToCart' | localize }}</a>
                                    </button>
                                </div>
                                <!-- plan select ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- meals plans container ends -->
