<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>{{ 'Import Card' | localize }}</span> <i class="fa fa-credit-card ml-5" aria-hidden="true"> </i>
        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-5 border-green m-bordered">
          <p>{{ 'DownloadTemplate_Info' | localize }}</p>
          <a href="javascript:void(0);" (click)="downloadTemplate()">{{ 'DownloadTemplate' | localize }}</a>
        </div>

        <form #importForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password">
          <div>
            <div class="form-group">
              <input type="file" ng2FileSelect [uploader]="uploader" required #fileInput
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
              <span class="form-text text-muted">{{ 'Import_Info' | localize }}</span>
            </div>
            <div class="form-group">
              <label for="jobName">{{ l('JobName') }} *</label>
              <input type="text" id="jobName" class="form-control" [(ngModel)]="jobName" name="jobName" required
                #jobNameInput="ngModel" />
              <validation-messages [formCtrl]="jobNameInput"></validation-messages>
            </div>

            <div class="form-group">
              <label for="Active" class="checkbox">
                <input [(ngModel)]="active" id="Active" name="Active" type="checkbox" />
                {{ l('Active') }}
                <span></span>
              </label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ 'Cancel' | localize
                }}</button>
              <button type="submit" class="btn btn-primary blue"
                [disabled]="!importForm.form.valid || !uploader.queue.length" [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')" (click)="save()">
                <i class="fa fa-save"></i>
                <span>{{ l('Import') }}</span>
              </button>
            </div>
          </div>
          <div class="actions mb-5 row">
            <div class="col-12">
              <button (click)="exportToExcel()" class="btn btn-outline-success pull-right" type="button"><i
                  class="la-file-excel-o"></i> {{ l('Export') }}</button>
            </div>
          </div>
          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="cardNo">
                      {{ 'JobName' | localize }}
                      <p-sortIcon field="cardNo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ConnectCardType.Name">
                      {{ 'FileName' | localize }}
                      <p-sortIcon field="ConnectCardType.Name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="redeemed">
                      {{ 'StartDate' | localize }}
                      <p-sortIcon field="redeemed"></p-sortIcon>
                    </th>
                    <th pSortableColumn="active">
                      {{ 'EndDate' | localize }}
                      <p-sortIcon field="active"></p-sortIcon>
                    </th>
                    <th pSortableColumn="creationTime">
                      {{ 'CreationTime' | localize }}
                      <p-sortIcon field="creationTime"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td>
                      <span class="ui-column-title">{{ 'CardNumber' | localize }}</span>
                      {{ record.jobName }}
                    </td>
                    <td>
                      <span class="ui-column-title">{{ 'CardType' | localize }}</span>
                      {{ record.fileName }}
                    </td>
                    <td>
                      <span class="ui-column-title">{{ 'Redeemed' | localize }}</span>
                      {{ record.startTime | momentFormat: 'YYYY-MM-DD HH:mm:ss'}}
                    </td>
                    <td>
                      <span class="ui-column-title">{{ 'Active' | localize }}</span>
                      {{ record.endTime | momentFormat: 'YYYY-MM-DD HH:mm:ss' }}
                    </td>
                    <td>
                      <span class="ui-column-title">{{ 'CreationTime' | localize }}</span>
                      {{ record.remarks }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{ l('NoData') }}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
