<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!delAggImage?.id" [title]="'Create Image' | localize"> </sub-header>
        <sub-header *ngIf="delAggImage?.id" [title]="'Edit Image' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <div>
                            
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>{{ 'Cluster Image Type' | localize }}</label>
                                    <p-dropdown
                                        [options]="delAggImageTypes"
                                        [ngModel]="{ value: delAggImage.delAggImageTypeRefId?.toString() }"
                                        (ngModelChange)="delAggImage.delAggImageTypeRefId = $event.value"
                                        name="delAggImageTypeRefId"
                                        id="delAggImageTypeRefId"
                                        styleClass="w-100"
                                        [placeholder]="l('Select Agg Type')"
                                        [filter]="true"
                                        optionLabel="displayText"
                                        dataKey="value"
                                        [required]="true"
                                        [showClear]="true"
                                    >
                                    </p-dropdown>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>{{ 'Del Agg Type' | localize }}</label>
                                    <p-dropdown
                                        [options]="delAggTypes"
                                        [ngModel]="{ value: delAggImage.delAggTypeRefId?.toString() }"
                                        (ngModelChange)="delAggImage.delAggTypeRefId = $event.value"
                                        name="delAggTypeRefId"
                                        id="delAggTypeRefId"
                                        styleClass="w-100"
                                        [placeholder]="l('Select Agg Type')"
                                        [filter]="true"
                                        optionLabel="displayText"
                                        dataKey="value"
                                        [required]="true"
                                        [showClear]="true"
                                    >
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="form-group">
                                <input
                                    [disabled]="uploadLoading"
                                    [buttonBusy]="uploadLoading"
                                    name="Images"
                                    id="btn-upload-delAggImage"
                                    type="file"
                                    ng2FileSelect
                                    [uploader]="uploader"
                                />
                            </div>
                            <table *ngIf="imagePaths?.length > 0" class="table mt-8">
                                <thead>
                                    <tr>
                                        <th>{{ l('Name') }}</th>
                                        <th>{{ l('Actions') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let file of imagePaths; let index = index">
                                        <td>
                                            <strong>{{ file.fileName }}</strong>
                                        </td>
                                        <td>
                                            <button
                                                (click)="download(file)"
                                                type="button"
                                                class="btn btn-success btn-sm"
                                            >
                                                <i class="fa fa-download"></i>
                                            </button>
                                            <button (click)="remove(index)" type="button" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
