<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ServiceFees' | localize">
        </sub-header>

        <div [class]="containerClass" style="width: 70% !important;">
            <div class="card card-custom gutter-b">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">{{'WhatAreYourFees' | localize}}?</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">{{'ServiceFees' | localize }}</h3>
                            </div>
                        </div>

                        <div class="card-body">
                            <ng-container *ngFor="let fee of serviceFees">
                                <div class="mb-4 d-flex" *ngIf="!fee.isEditMode">
                                    <div>
                                        <div style="font-weight: 600;">{{fee.name}}</div>
                                        <div>{{fee.getValueDisplayString()}}</div>
                                    </div>

                                    <div class="ml-auto mr-3">
                                        <i class="flaticon2-cross cursor-hand" (click)="delete(fee)"></i>
                                    </div>
                                    <div>
                                        <i class="flaticon-edit cursor-hand"
                                            (click)="fee.isEditMode=true;canAddNew = false"></i>
                                    </div>
                                </div>

                                <div *ngIf="fee.isEditMode" class="mb-4">
                                    <ng-template *ngTemplateOutlet="tplFee; context: {$implicit: fee}"></ng-template>
                                </div>
                            </ng-container>

                            <div class="row w-100" *ngIf="newServiceFee">
                                <ng-container *ngTemplateOutlet="tplFee; context: {$implicit: newServiceFee}">
                                </ng-container>
                            </div>

                            <div class="row no-margin" *ngIf="canAddNew">
                                <button class="btn btn-success" (click)="addNewServiceFee()">Add New Fee</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #tplFee let-fee>
    <div class="row no-margin mb-4 form-group w-100">
        <label class="col-md-2 col-form-label">{{'FeeName' | localize}}</label>
        <div class=col-md-6>
            <input type="text" class="form-control" [(ngModel)]="fee.name" required />
        </div>
        <div class="col-md-4">
            <div class="input-group" role="group">
                <input type="number" class="form-control" [(ngModel)]="fee.value" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fee.changeUnitType(0)"
                        [ngClass]="fee.feeType==0?'active':''">%</button>
                    <button type="button" class="btn btn-secondary" (click)="fee.changeUnitType(1)"
                        [ngClass]="fee.feeType==1?'active':''">$</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-margin form-group w-100 mb-4">
        <label class="col-md-6 col-form-label">{{'SubjectToTax' | localize}}</label>
        <div class="col-md-6">
            <ui-switch [(ngModel)]="fee.calculateTax" class="float-right"></ui-switch>
        </div>
    </div>
    <div class="row no-margin form-group w-100 mb-4" *ngIf="fee.calculateTax">
        <label class="col-md-2 col-form-label">{{'Taxes' | localize}}</label>
        <div class="col-md-10">
            <ng-select [items]="wheelTaxes" bindLabel="name" [multiple]="true" [(ngModel)]="fee.wheelTaxes">
            </ng-select>
        </div>
    </div>

    <div class="row no-margin form-group w-100 mb-2">
        <label class="col-md-2 col-form-label">{{'ApplyTo' | localize}}</label>
        <div class="col-md-10">
            <ng-select [items]="fee.appliedFeeTypes" bindLabel="name" [multiple]="false"
                [(ngModel)]="fee.appliedFeeType"></ng-select>
        </div>
    </div>

    <div class="row no-margin form-group w-100">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="mb-2">
                <ng-select [items]="fee.appliedOrderTypes" bindLabel="name" [multiple]="false"
                    [(ngModel)]="fee.appliedOrderType"></ng-select>
            </div>

            <div *ngIf="fee.appliedOrderType" [ngSwitch]="fee.appliedOrderType.id">
                <div *ngSwitchCase="2">
                    <div class="row no-margin">
                        <span class="mb-2">{{'DaysOfTheWeek' | localize}}</span>
                    </div>

                    <div class="row no-margin mb-3">
                        <div class="col-md-3 col-sm-3">
                            <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="fee.appliedOrderType.isSelected(0)"
                                (isClicked)="fee.appliedOrderType.revert(0)"></ngx-checkbox>
                            <span class="ml-2">{{fee.appliedOrderType.days[0].name}}</span>
                        </div>
                        <div class="col-md-3 col-sm3">
                            <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="fee.appliedOrderType.isSelected(1)"
                                (isClicked)="fee.appliedOrderType.revert(1)"></ngx-checkbox>
                            <span class="ml-2">{{fee.appliedOrderType.days[1].name}}</span>
                        </div>
                        <div class="col-md-3 col-sm3">
                            <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="fee.appliedOrderType.isSelected(2)"
                                (isClicked)="fee.appliedOrderType.revert(2)"></ngx-checkbox>
                            <span class="ml-2">{{fee.appliedOrderType.days[2].name}}</span>
                        </div>
                        <div class="col-md-3">
                            <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="fee.appliedOrderType.isSelected(3)"
                                (isClicked)="fee.appliedOrderType.revert(3)"></ngx-checkbox>
                            <span class="ml-2">{{fee.appliedOrderType.days[3].name}}</span>
                        </div>
                    </div>

                    <div class="row no-margin mb-5">
                        <div class="col-md-3 col-sm3">
                            <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="fee.appliedOrderType.isSelected(4)"
                                (isClicked)="fee.appliedOrderType.revert(4)"></ngx-checkbox>
                            <span class="ml-2">{{fee.appliedOrderType.days[4].name}}</span>
                        </div>
                        <div class="col-md-3 col-sm3">
                            <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="fee.appliedOrderType.isSelected(5)"
                                (isClicked)="fee.appliedOrderType.revert(5)"></ngx-checkbox>
                            <span class="ml-2">{{fee.appliedOrderType.days[5].name}}</span>
                        </div>
                        <div class="col-md-3 col-sm3">
                            <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="fee.appliedOrderType.isSelected(6)"
                                (isClicked)="fee.appliedOrderType.revert(6)"></ngx-checkbox>
                            <span class="ml-2">{{fee.appliedOrderType.days[6].name}}</span>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <span class="mb-2">Calendar dates</span>
                    </div>
                    <div class="row no-margin">
                        <div class="col-md-7">
                            <bs-datepicker-inline (bsValueChange)="fee.appliedOrderType.onSelectedDateChange($event)">
                            </bs-datepicker-inline>
                        </div>
                        <div class="col-md-5">
                            <ng-container *ngFor="let d of fee.appliedOrderType.selectedDates;let i=index">
                                <div class="row" *ngIf="i%2==0">
                                    <div class="col-md-6">
                                        <div class="d-flex" #litem>
                                            <span>{{fee.appliedOrderType.selectedDates[i]|date:'dd MMM yyyy'}}</span>
                                            <div class="ml-auto">
                                                <i class="flaticon2-cross delete-icon"
                                                    (click)="fee.appliedOrderType.removeDate(d);litem.remove()"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-flex" #ritem *ngIf="fee.appliedOrderType.selectedDates[i+1]">
                                            <span>{{fee.appliedOrderType.selectedDates[i+1]|date:'dd MMM yyyy'}}</span>
                                            <div class="ml-auto">
                                                <i class="flaticon2-cross delete-icon"
                                                    (click)="fee.appliedOrderType.removeDate(d);ritem.remove()"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="3">
                    <div *ngFor="let paymentMethod of fee.appliedOrderType.paymentMethods">
                        <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="paymentMethod.isSelected"
                            (isClicked)="paymentMethod.isSelected = !paymentMethod.isSelected"></ngx-checkbox>
                        <span class="ml-2">{{paymentMethod.name}}</span>
                    </div>
                </div>
                <div *ngSwitchCase="4">
                    <div *ngFor="let orderType of fee.appliedOrderType.orderTypes">
                        <ngx-checkbox [iconClass]="'fas fa-check'" [isChecked]="orderType.isSelected"
                            (isClicked)="orderType.isSelected = !orderType.isSelected"></ngx-checkbox>
                        <span class="ml-2">{{orderType.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row no-margin mt-5 ml-2">
        <button class="btn btn-success" (click)="save(fee)">Save</button>
        <button class="btn btn-danger" (click)="cancel(fee)">Cancel</button>
    </div>
</ng-template>