.header
{
    margin-bottom: 20px;
}

ngx-checkbox{
    display: inline-block;
}

.delete-icon{
    vertical-align: middle;
    font-size: 8px;
    cursor: pointer;
}

.cursor-hand{
    cursor: pointer;
}