.modal .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-title {
    font-weight: bold !important;
    text-align: center;
    width: 100%;
}

.close {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    background: url(assets/static/svg/dashboard/close.svg) no-repeat center center;
    background-size: cover;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -30px;
}

.modal-dialog::before {
    display: none;
}

.modal-content {
    margin-top: 50px;
    max-width: 400px;
    background-color: #ffffff !important;
}

.modal .modal-header .close {
    color: #ffffff;

    &:hover {
        color: #ffffff;
    }

    span {
        display: block;
        font-size: 30px;
    }
}

.qr-wrap {
    img {
        margin: auto;
        border: solid 1px #ced4da;
    }
}

.logo img {
    height: 100px;
}

.currency {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}