<div class="modal-content">
    <form *ngIf="active" #customerOfferForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>{{ l('EditExpiryAndBalanceCredit') }}</span>
                <span *ngIf="customerOffer.id"
                    >: <i>{{ customerOffer.productOfferName }}</i></span
                >
            </h4>
            <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TiffinCustomerTransaction_Reason">{{ l('Reason') }} *</label>
                <input
                    type="text"
                    id="TiffinCustomerTransaction_Reason"
                    class="form-control"
                    #customerTransactionReason="ngModel"
                    [(ngModel)]="customerOffer.customerTransactionDto.reason"
                    name="Reason"
                    required
                />
                <validation-messages [formCtrl]="customerTransactionReason"></validation-messages>
            </div>

            <div class="form-group" *ngIf="customerOffer.expiry">
                <label for="TiffinCustomerTransaction_Expiry">{{ l('ExpiryDate') }}</label>
                <input
                    class="form-control m-input"
                    type="datetime"
                    bsDatepicker
                    [(date)]="customerOffer.expiryDate"
                    id="CustomerOffer_Expiry"
                    name="CustomerOffer_Expiry"
                    #expiryDateInput
                    datePickerMomentModifier
                    [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                />
                <!-- <validation-messages [formCtrl]="expiryDateInput"></validation-messages> -->
            </div>

            <div class="form-group">
                <label for="TiffinCustomerTransaction_BalanceCredit">{{ l('BalanceCredit') }}</label>
                <input
                    class="form-control m-input"
                    type="number"
                    min="0"
                    [(ngModel)]="customerOffer.balanceCredit"
                    id="CustomerOffer_BalanceCredit"
                    name="CustomerOffer_BalanceCredit"
                />
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
            <button
                type="submit"
                class="btn btn-primary blue"
                [disabled]="!customerOfferForm.form.valid"
                [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')"
            >
                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
            </button>
        </div>
    </form>
</div>
