$border-radius-value: 5px;

:host {
  .product-cols {
    border-radius: $border-radius-value;
    padding: 0;

    @media (max-width: 425px) {
      width: 50%;
    }

    .product {
      border-radius: $border-radius-value;
      cursor: pointer;

      .product-holder {
        border-radius: $border-radius-value;

        .image {
          width: 190px;
          min-height: 150px;
          border-top-left-radius: $border-radius-value;
          border-top-right-radius: $border-radius-value;
          border-bottom-left-radius: $border-radius-value;
          border-bottom-right-radius: $border-radius-value;
          // img {
          //   border-top-left-radius: $border-radius-value;
          //   border-top-right-radius: $border-radius-value;
          // }
        }
      }
    }
  }

  ::ng-deep .product-cols.col-md-3,
  ::ng-deep .product-cols.col-md-4 {
    .text {
      width: 100% !important;
      min-height: 250px;
    }

    .image {
      width: 100% !important;
    }
  }

  .btn-add-item {
    float: right !important;
    width: auto;
    margin: 0 0.9rem 1rem 0;

    ::ng-deep .p-button-label {
      font-size: 2rem;
      margin: 0 0.1rem 0.1rem;
    }
  }

  .list-style {
    width: 100% !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .product {
      position: relative;
      border: 1px solid #e5e5ea;
      background: #f9f9f9;
    }

    .product-holder {
      display: flex;
      height: 100%;

      @media (min-width: 1280px) {
        display: flex;
        margin: 0.3rem;
      }

      .image {
        // margin: auto;
        flex: 1;
        order: 1;
        background: #f5f5f5;
        overflow: hidden;
        position: relative;
        display: flex;

        @media (max-width: 1280px) {
          width: 100%;
          height: 8rem;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        .bg-image {
          display: block;
          background-size: cover;
          background-position: 50% 50%;
          width: calc(100%);
          -webkit-transition: -webkit-transform linear 0.3s;
          transition: -webkit-transform linear 0.3s;
          transition: transform linear 0.3s;
          transition: transform linear 0.3s, -webkit-transform linear 0.3s;
        }

        .img_fluid {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          background-color: white;
        }
      }

      .text {
        flex: 2;
        order: 2;
        padding: 0.5rem;

        @media (min-width: 769px) {
          width: calc(100% - 190px);
        }

        .cart_item_name {
          font-size: 1.1rem !important;
          display: block;
          font-weight: bold;
          color: #282144;
          margin: 0 0 0.3125rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }

        .item-description {
          font-size: 0.8rem !important;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 115px;
          ;

          @media (min-width: 1280px) {
            -webkit-line-clamp: 5;
          }

          @media (max-width: 1280px) {
            -webkit-line-clamp: 4;
          }
        }
      }

      .price {
        position: absolute;
        bottom: 0;
        right: 0;

        .price-number {
          float: right;
          font-size: 1rem;
          font-weight: bold;
          padding: 0.5rem 1rem;
          background-color: #f3f3f3;
        }
      }
    }
  }

  @media (min-width: 1025px) {
    // .cols-style {
    //   width: 33.3333% !important;
    // }
  }

  @media (max-width: 1024px) {
    .image {
      max-height: 200px;
    }
  }

  .cols-style {
    .product-holder {
      height: 100%;

      @media (min-width: 1280px) {
        display: flex;
        margin: 0.3rem;
        height: 100%;
      }

      .image {
        @media (max-width: 768px) {
          min-width: 100%;
          flex: 1 1 100%;
        }

        order: 1;
        background: #f5f5f5;
        overflow: hidden;
        position: relative;
        // height: 10.9rem;
        // max-height: 10.9rem;
        display: flex;

        @media (max-width: 1280px) {
          width: 100%;
          // height: 100%;
        }

        // display: flex;
        align-items: center;
        justify-content: center;

        .bg-image {
          width: 90vw !important;
          display: block;
          background-size: cover;
          background-position: 50% 50%;
          width: calc(100%);
          -webkit-transition: -webkit-transform linear 0.3s;
          transition: -webkit-transform linear 0.3s;
          transition: transform linear 0.3s;
          transition: transform linear 0.3s, -webkit-transform linear 0.3s;
        }

        .img_fluid {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }

      .text {
        // flex: 1;
        height: 100% !important;
        order: 2;
        padding: 0.5rem;

        @media (max-width: 768px) {
          min-width: 100%;
        }

        @media (min-width: 769px) {
          width: calc(100% - 190px);
        }

        .cart_item_name {
          font-size: 1.1rem !important;
          display: block;
          font-weight: bold;
          color: #282144;
          margin: 0 0 0.3125rem;
          white-space: pre-wrap;
        }

        .item-description {
          font-size: 0.8rem !important;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 5px;
          height: 115px;
          ;

          @media (min-width: 1025px) {
            -webkit-line-clamp: 5;
          }

          @media (max-width: 1024px) {
            -webkit-line-clamp: 4;
          }
        }
      }

      .price {
        position: absolute;
        bottom: 0;
        right: 0;

        .price-number {
          float: right;
          font-size: 1rem;
          font-weight: bold;
          padding: 0.5rem 1rem;
          background-color: #f3f3f3;
        }
      }
    }
  }

  .video-section {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 450px;
  }
}

.calories {
  font-size: 0.8rem !important;
  // background-color: #2fc2d6;
  // background-color: var(--content-background);
  background-color: var(--btn-dine-primary);
  border-radius: 2px;
  color: white;
  padding: 1px 4px;
  width: max-content;
  cursor: pointer;
}

.img_icon {
  width: 20px;
  margin: 3px;
}
