<div class="product-cols"
  [ngClass]="[isListStyle == true ? 'list-style' : 'cols-style' , colSetting!= null ? colSetting : '']">
  <div class="product" [ngStyle]="{'maxWidth': colImage == 'col-md-3' ? 'auto' : '300px'}">
    <div class="product-holder row m-0">
      <div class="image p-0" (click)="addItem()">
        <img appProductImage class="top5006 lazyloaded top-1221  img_fluid" loading="lazy"
          data-src="{{ itemData?.image }}" src="{{ itemData?.image }}" />
        <!-- <div class="text-center" *ngIf="itemData.video">
          <button type="button" class="btn btn-default" (click)="displayVideo($event)"><i
              class="fa fa-youtube-play"></i></button>
        </div> -->
      </div>

      <div class="text" (click)="addItem()">
        <div class="cart_item_name">{{ itemData.name }}</div>
        <div class="item-description">
          {{ itemData.description }}
        </div>
        <div class="tag-icon">
          <span class="calories" *ngIf="itemData.calories > 0" (click)="onClickCalories();$event.stopPropagation()">
            {{ itemData.calories + " kcal" }}
          </span>
          <img *ngFor="let item of menuItemTagSelected" [src]="item.src" alt="No Image" class="img_icon"
            [title]="item.value">
        </div>
      </div>
      <div class="price" (click)="addItem()">
        <span class="price-number">{{ systemCurrency }}
          {{ isCombo ? itemData.addPrice : (itemData.price | number: "1.2-4") }}
        </span>
      </div>
    </div>
  </div>

  <p-dialog [header]="itemData.name " [(visible)]="displayDialog" [minY]="70" showEffect="fade" [modal]="true"
    [style]="{width: '600px'}" (onAfterHide)="onDialogHide()" [contentStyle]="{padding: '10px', textAlign: 'center'}">
    <div class="video mb-4">
      <video alt="" class="video-section" [src]="itemData.video" controls>
      </video>
    </div>
  </p-dialog>
</div>