﻿<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #wheelDeliveryDurationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="wheelDeliveryDuration.id">Edit Delivery Duration</span>
                        <span *ngIf="!wheelDeliveryDuration.id">New Delivery Duration</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="WheelDeliveryDuration_DeliveryDistance">{{l("DeliveryDistance")}}</label>
                        <input type="number" id="WheelDeliveryDuration_DeliveryDistance" class="form-control"
                            [(ngModel)]="wheelDeliveryDuration.deliveryDistance" name="DeliveryDistance" />
                    </div>

                    <div class="form-group">
                        <label for="WheelDeliveryDuration_DeliveryTime">{{l("DeliveryTime")}}</label>
                        <input type="number" id="WheelDeliveryDuration_DeliveryTime" class="form-control"
                            [(ngModel)]="wheelDeliveryDuration.deliveryTime" name="DeliveryTime" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue"
                        [disabled]="!wheelDeliveryDurationForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>