﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'DeliveryDurations' | localize" [description]="'TenantsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="la-file-excel-o"></i> {{ l('ExportToExcel') }}
                </button>
                <button
                    *ngIf="isGranted('Pages.WheelDeliveryDurations.Create')"
                    (click)="createWheelDeliveryDuration()"
                    class="btn btn-primary blue"
                >
                    <i class="fa fa-plus"></i>{{ 'NewDeliveryDuration' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getWheelDeliveryDurations($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="deliveryDistance">
                                            {{ l('DeliveryDistance') }}
                                            <p-sortIcon field="wheelDeliveryDuration.deliveryDistance"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="deliveryTime">
                                            {{ l('DeliveryTime') }}
                                            <p-sortIcon field="wheelDeliveryDuration.deliveryTime"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 150px"
                                            [hidden]="
                                                !isGrantedAny('Pages.WheelDeliveryDurations.Edit', 'Pages.WheelDeliveryDurations.Delete')
                                            "
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('DeliveryDistance') }}</span>
                                            {{ record.wheelDeliveryDuration.deliveryDistance }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('DeliveryTime') }}</span>
                                            {{ record.wheelDeliveryDuration.deliveryTime }}
                                        </td>
                                        <td
                                            style="width: 150px"
                                            [hidden]="
                                                !isGrantedAny('Pages.WheelDeliveryDurations.Edit', 'Pages.WheelDeliveryDurations.Delete')
                                            "
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="viewWheelDeliveryDurationModal.show(record)"
                                                            >{{ l('View') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.WheelDeliveryDurations.Edit')"
                                                            class="dropdown-item"
                                                            (click)="
                                                                createOrEditWheelDeliveryDurationModal.show(record.wheelDeliveryDuration.id)
                                                            "
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.WheelDeliveryDurations.Delete')"
                                                            class="dropdown-item"
                                                            (click)="deleteWheelDeliveryDuration(record.wheelDeliveryDuration)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getWheelDeliveryDurations($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditWheelDeliveryDurationModal
            #createOrEditWheelDeliveryDurationModal
            (modalSave)="getWheelDeliveryDurations()"
        ></createOrEditWheelDeliveryDurationModal>
        <viewWheelDeliveryDurationModal #viewWheelDeliveryDurationModal></viewWheelDeliveryDurationModal>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="MinTenantIdFilter">{{ l('MinMax') }} {{ l('TenantId') }}</label>
                <div class="input-group">
                    <input
                        type="number"
                        class="form-control"
                        id="MinTenantIdFilter"
                        [(ngModel)]="minTenantIdFilter"
                        placeholder="{{ l('MinValue') }}"
                        name="minTenantIdFilter"
                    />
                    <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="maxTenantIdFilter"
                        placeholder="{{ l('MaxValue') }}"
                        name="maxTenantIdFilter"
                    />
                </div>
            </div>
            <div class="form-group">
                <label for="MinDeliveryDistanceFilter">{{ l('MinMax') }} {{ l('DeliveryDistance') }}</label>
                <div class="input-group">
                    <input
                        type="number"
                        class="form-control"
                        id="MinDeliveryDistanceFilter"
                        [(ngModel)]="minDeliveryDistanceFilter"
                        placeholder="{{ l('MinValue') }}"
                        name="minDeliveryDistanceFilter"
                    />
                    <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="maxDeliveryDistanceFilter"
                        placeholder="{{ l('MaxValue') }}"
                        name="maxDeliveryDistanceFilter"
                    />
                </div>
            </div>
            <div class="form-group">
                <label for="MinDeliveryTimeFilter">{{ l('MinMax') }} {{ l('DeliveryTime') }}</label>
                <div class="input-group">
                    <input
                        type="number"
                        class="form-control"
                        id="MinDeliveryTimeFilter"
                        [(ngModel)]="minDeliveryTimeFilter"
                        placeholder="{{ l('MinValue') }}"
                        name="minDeliveryTimeFilter"
                    />
                    <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="maxDeliveryTimeFilter"
                        placeholder="{{ l('MaxValue') }}"
                        name="maxDeliveryTimeFilter"
                    />
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
