﻿@model DineConnect.Gateway.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<h5 >Please click <a href="/Home">here</a> to back the home page.</h5>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
