﻿<style>
    textarea {
        width: 300px;
        height: 150px;
    }

    .col-md-12 {
        margin-top: 30px;
        border-bottom: 1px solid #ccc;
    }

    img {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Connect Gateway</h1>
            <p>
                Complete Gateway for  <a href="http://dineconnect.net">DineConnect</a>
            </p>

        </div>

        <div class="col-md-6" >
            <h1></h1>
            <p>
                <a class="nav-link" href="@Url.Action("Index", "BackOffice")">BackEnd</a>
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Xero Integration</h1>
            <img src="~/Content/images/xerogateway.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>QuickBooks Integration</h1>
            <img src="~/Content/images/qbgateway.png" />
        </div>
    </div>

</div>