﻿<style>
    textarea {
        width: 300px;
        height: 150px;
    }

    .col-md-12 {
        margin-top: 30px;
        border-bottom: 1px solid #ccc;
    }

    img {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Connect Gateway</h1>
            <p>Complete Gateway for  <a href="http://dineconnect.net">DineConnect</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Xero Integration</h1>
            <img src="~/Content/dineXeroTenantGateway.png" />
        </div>
    </div>

</div>

