﻿
@{
    ViewBag.Title = "Qb";
}

@section Scripts {
    <style>
        textarea {
            width: 300px;
            min-height: 170px;
        }

        .col-md-12 {
            margin-top: 30px;
            border-bottom: 1px solid #ccc;
        }

        img {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
}

<h1>QuickBooks Integration</h1>

<div class="container">
    <div class="d-flex flex-column">

        <div class="p-2">
            <h3>Flow</h3>
            <img src="~/Content/qbAuthorizationFlow.png" />

        </div>

        <div class="p-2">
            <h2>1) Create a QuickBooks app</h2>
            <p>Open a intuit developer account and create an app from the link <a href="https://developer.intuit.com/app/developer/dashboard" target="_blank">https://developer.intuit.com/app/developer/dashboard</a></p>
        </div>

        <div class="p-2">
            <h2>2) Set the QuickBooks App</h2>
            <p>Note the ClientId and Secret, and set the Redirect url to gateway url plus <strong>/callback/quickbooks</strong>. For example: <strong>https://dcgateway.azurewebsites.net/callback/quickbooks</strong></p>

            <img src="~/Content/qb-app-settings.png" />
        </div>

        <div class="p-2">
            <h2>3) Set the Web.configs.</h2>
        </div>

        <div class="p-2">
            <strong>3.1) In the Gateway web.config, just set Qb Client and Secret.</strong>

            <textarea class="form-control" style="min-width: 100%" readonly>
            <add key="QuickBooksClientId" value="ABOFoqLgfwWiHKDmAGqxeEhadbvWUGtkPJXW3bMxaRC7fQrdlE" />



            <add key="QuickBooksClientSecret" value="WBARJiYgAev5KmZrDXWJUQ2MkzQ8xKDNipg6nBIV" />



            </textarea>
        </div>

        <div class="p-2">
            <strong>3.2) In the DineConnect web.config, set client_id and secret, plus the QuickBooks API Base.</strong>

            <div class="alert alert-info" role="alert">
                Intuit provides two kind of API endpoints. Those are <strong>production</strong> and <strong>sandbox</strong>. For development purposes, you can use sandbox endpoint.
                Sandbox endpoint provides sample data to play with, and you don't have to deal with business rules.
            </div>

            <textarea class="form-control" style="min-width: 100%" readonly>
                <add key="QuickBooksClientId" value="ABOFoqLgfwWiHKDmAGqxeEhadbvWUGtkPJXW3bMxaRC7fQrdlE" />
                <add key="QuickBooksClientSecret" value="WBARJiYgAev5KmZrDXWJUQ2MkzQ8xKDNipg6nBIV" />
                <!-- <add key="QuickBooksAPIBase" value="https://quickbooks.api.intuit.com"/> --> <!-- Production --> 
                <add key="QuickBooksAPIBase" value="https://sandbox-quickbooks.api.intuit.com" /> <!-- SandBox -->
            </textarea>

            <strong>Here is sample contacts provided by Sandbox endpoint</strong>
            <img src="~/Content/qb-sample-contacts.png" />

        </div>

        <div class="p-2">
            <img src="~/Content/qb-item-crud-note.png" />
        </div>

        <div class="p-2">
            <h2>Further reads</h2>
            <a href="https://developer.intuit.com/app/developer/qbo/docs/api/accounting/most-commonly-used/account" target="_blank">QuickBooks Account Reference</a> <br />
            <a href="https://developer.intuit.com/app/developer/qbo/docs/api/accounting/most-commonly-used/customer" target="_blank">QuickBooks Customer Reference</a><br />
            <a href="https://developer.intuit.com/app/developer/qbo/docs/api/accounting/most-commonly-used/invoice" target="_blank">QuickBooks Invoice Reference</a><br />
            <a href="https://developer.intuit.com/app/developer/qbo/docs/api/accounting/most-commonly-used/item" target="_blank">QuickBooks Item Reference</a>

        </div>
    </div>




</div>



