// #header {
//   position: var(--header-position);
//   background-color: var(--header-background);
//   width: 100%;
//   z-index: 15;
//   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
//   .container {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
//   }
//   .topbar {
//     background: #c50707;
//     padding: 0.125rem 0 0.1875rem;
//     padding-top: 0.125rem;
//     padding-right: 0px;
//     padding-bottom: 0.1875rem;
//     padding-left: 0px;
//     text-align: right;
//   }
//   .topbar:after {
//     background: inherit;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     content: "";
//     background-color: #c50707;
//     z-index: -1;
//     width: 100%;
//     left: 0;
//     height: 29px;
//     display: block;
//     clear: both;
//   }
//   .header-holder {
//     padding-top: 0.75rem;
//     padding-bottom: 0.75rem;
//     height: 100%;
//     display: flex;
//     .back-button {
//       display: none;
//     }
//   }
.header {
  position: relative;
  background-color: var(--header-background);
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  width: 70%;
  height: 5rem;
  .back-button {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 35%;
  }
  .header-content {
    padding: 0 5px;
    position: relative;
    &.w-70 {
      width: 70%;
    }
    .logo {
      // max-width: 9vh;
      max-height: 90%;
      min-height: 90%;
    }
    .siteName {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .dine-button {
      height: 4vh;
      width: max-content;
      position: absolute;
      right: 0;
    }
    @media only screen and (max-width: 768px) {
      .dine-button {
        width: 30vh;
        right: -12vw;
      }
      .logo,
      .back-button {
        position: absolute;
        height: 4vh;
        left: -12vw;
      }
      .siteName {
        font-size: 1.2rem;
        text-align: center;
      }
    }
    @media only screen and (max-width: 540px) {
      .dine-button {
        width: max-content;
        height: 5vh;
      }
      .siteName {
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}

.p-overlay-badge {
  right: 0;
  top: 40%;
}

.side-menu-common {
  background-color: #fcfcfc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  .side-menu {
    .menu-style {
      margin-bottom: 1.375rem;
      height: 7rem;
      align-items: center;
      justify-content: center;
      display: flex;
      border-bottom: 1px solid gray;
      .image {
        width: 6rem;
        height: 6rem;
        //border-radius: 50%;
        //-moz-border-radius: 50%;
        //-webkit-border-radius: 50%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .bg-image {
          display: block;
          background-size: cover;
          background-position: 50% 50%;
          width: calc(100%);
          -webkit-transition: -webkit-transform linear 0.3s;
          transition: -webkit-transform linear 0.3s;
          transition: transform linear 0.3s;
          transition: transform linear 0.3s, -webkit-transform linear 0.3s;
        }
      }
    }
  }

  .sidenav {
    overflow: hidden;
    font-weight: 500;

    li {
      padding: 0.6875rem 0 0.6875rem 0.6875rem;
      cursor: pointer;

      a {
        display: block;
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: #414952;
        padding: 0 1.125rem 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        @media (max-width: 767px) {
          padding: 0.625rem 0;
        }
        &:hover {
          color: black;
        }
      }

      a:after {
        @media (max-width: 767px) {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          background: #50d166;
          height: 1px;
          opacity: 0;
        }
      }
      @media (max-width: 767px) {
        letter-spacing: 0;
        padding: 0 0.625rem;
        vertical-align: top;
      }
    }
    li.active {
      a:after {
        @media (max-width: 767px) {
          opacity: 1;
        }
      }
    }
  }
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.menu-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 111;
  cursor: pointer;
  backdrop-filter: blur(3px);
}

.side-navigate {
  height: 100%;
  width: 0;
  position: fixed;
  display: block;
  z-index: 222;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.btn-open-menu {
  font-size: 30px;
  cursor: pointer;
  @media (min-width: 768px) {
    display: none;
  }
}
