<!-- <div id="header">
  <div class="container">
     <div class="topbar d-none d-md-block"><a href="#" class="tel icon-phone">{{phoneNumber}}</a></div>
    <div class="header-holder">
      <div
        class="d-flex justify-content-between align-items-center position-relative w-100"
      >
        <div class="d-flex align-items-center">
          <i
            *ngIf="!isWelComePage"
            (click)="goToPreviousRoute()"
            class="pi pi-arrow-left back-button"
          ></i>
          <div class="logo m-0">
            <a href="/"><img src="{{ logoCompanyUrl }}" alt="company-logo"/></a>
          </div>
        </div>

        <h3 *ngIf="!isWelComePage" class="mb-0 siteName">{{ stepName }}</h3>

        <div
          *ngIf="isWheelSetupsAvailable"
          class="text-right flex-contents right-box {{
            isWelComePage ? 'right-0' : ''
          }}"
        >
          <a href="javascript:;"><i class="fa fa-search btn-search-m"></i></a>
          <div
            class="login_section d-flex justify-content-end align-items-center"
          >
            <button
              *ngIf="isWelComePage"
              class="dine-button border-none outline-none ordering-button-responsive yellow-bagk
                            text-black"
              pButton
              pRipple
              label="Start Ordering"
              icon="pi pi-arrow-right"
              iconPos="right"
              type="button"
              (click)="goToLocation()"
            ></button>

            <button
              *ngIf="!user || !user.token"
              class="ml-3 dine-button bagk-transparent border-yellow outline-none login-button-responsive text-yellow"
              pButton
              pRipple
              label="Sign In / Register"
              icon="pi pi-arrow-right"
              iconPos="right"
              type="button"
              (click)="openAccountComponent()"
            ></button>

            <div *ngIf="user && user.token">
              <div class="dropmenu">
                <a
                  href="javascript:void(0)"
                  class="btn btn-primary"
                  style="padding: 0.375rem 0.75rem;"
                  id="login_sec"
                >
                  <div class="mr-3">{{ user.name }} {{ user.surname }}</div>
                  <i class="icon-bottom"></i>
                </a>
                <div class="dropdown">
                  <ul>
                     <li><a [routerLink]="['/account']" id="userprofile"><i
                                                    class="icon-user"></i>Account</a></li>
                    <li>
                      <a [routerLink]="['/my-profile']" id="userprofile"
                        ><i class="icon-user"></i>My Profile</a
                      >
                    </li>
                    <li>
                      <a (click)="logOut()" id="sign_out">
                        <i class="icon-signout"></i>Sign out</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <span *ngIf="!isWelComePage" class="p-overlay-badge p-mr-5">
          <i class="pi pi-shopping-cart" style="font-size: 1.5em"></i>
          <span class="p-badge custom-p-badge">2</span>
        </span>
      </div>
    </div>
  </div>
</div>

 http://www.chowking.ae -->

<div class="header w-100">
  <div class="header-content w-70 h-100 d-flex align-items-center mx-auto">
    <i *ngIf="!isWelComePage; else logo" (click)="goToPreviousRoute()" class="pi pi-arrow-left back-button"></i>
    <ng-template #logo>
      <img class="logo" src="{{ logoCompanyUrl }}" alt="company-logo" routerLink="/" />
    </ng-template>
    <span *ngIf="isMenu" class="btn-open-menu" (click)="openNav()">&#9776;</span>
    <div [ngClass]="{'menu-overlay': isOpenMenu }" (click)="closeNav()">
    </div>
    <div id="LeftMenuSideNav" class="side-navigate">
      <aside class="side-menu-common">
        <div class="side-menu">
          <div class="menu-style">
            <div class="image"><img  class="bg-image top5006 lazyloaded top-1221" loading="lazy"
                data-src="{{logoCompanyUrl}}" src="{{logoCompanyUrl}}">
            </div>
          </div>
          <ul class="sidenav list-unstyled">
            <li class="category_menu_list_item" *ngFor="let item of leftMenuData">
              <a (click)="clickMenuItem(item)" [ngClass]="{'active' : item.id == itemActiveId}">
                {{item.name}}
                <span *ngIf="item.sectionChildren">
                  <i *ngIf="item.id !== selectItemID" class="pi pi-chevron-down"></i>
                  <i *ngIf="item.id === selectItemID" class="pi pi-chevron-up"></i>
                </span>
              </a>
              <app-section-children *ngIf="item.id === selectItemID" [InputSectionChildren]="InputSectionChildren">
              </app-section-children>
            </li>
          </ul>
        </div><a href="#" [routerLink]="''" id="order_track_mobile"></a>
      </aside>

    </div>


    <h3 *ngIf="!isWelComePage" class="mb-0 siteName">{{ stepName }}</h3>
    <!-- <span *ngIf="!isWelComePage" class="p-overlay-badge position-absolute">
      <i class="pi pi-shopping-cart" style="font-size: 1.5em"></i>
      <span class="p-badge custom-p-badge">{{ this.orders }}</span>
    </span> -->
    <!-- <button
      *ngIf="!user || !user.token"
      class="dine-button bagk-transparent border-yellow outline-none text-yellow"
      pButton
      pRipple
      label="Sign In / Register"
      icon="pi pi-arrow-right"
      iconPos="right"
      type="button"
      (click)="openAccountComponent()"
    ></button> -->
  </div>
</div>