/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/variables";
@import "~node_modules/bootstrap/scss/bootstrap.scss";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";
@import "./assets/scss/classes";
@import "./assets/scss/responsive";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  color: #212529;
}

* {
  font-family: "Mulish", sans-serif;
  color: #282144;
  letter-spacing: -0.5px;
}

input {
  box-sizing: border-box;
  border: 1px solid #ebaa6c;
  border-radius: 4px;
  background-color: #ffffff;

  :hover,
  :focus {
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 #ffba71;
  }
}

.order-active {
  @media (max-width: 991px) {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    #header {
      z-index: 0 !important;
    }
  }
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button,
input {
  overflow: visible;
}

input {
  margin: 0;
  font-family: inherit;
}

a {
  touch-action: manipulation;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn-add {
  float: right;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 500;
  // //border-radius: 0.375rem;
  height: 1.5625rem;
  text-align: center;
  padding: 0.3125rem 0.3125rem;
  color: #fff;
  min-width: 3.125rem;
  background-color: black;
}

.btn-add:hover {
  background: #34c74d;
  color: #fff;
}

img {
  vertical-align: middle;
  border-style: none;
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid #ff272b !important;
}

.error-msg {
  font-size: 0.75rem;
  color: #ff272b;
  padding: 0.375rem 0;
}

.app {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.content-area {
  overflow: unset;
  background: #fefefe;

  @media (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 0 1rem;
    border: 1px solid #f5f5f5;
    //border-radius: 0.375rem;
    background-color: #fafafa;
  }

  .content-holder {
    overflow: unset;
    padding: 0 0 0.625rem;
    background-color: #fafafa;
    width: 100%;

    @media (min-width: 768px) {
      width: calc(100% - 18.25rem) !important;
      padding: 0;
      background: none;
    }
  }
}

// .jcf-real-element {
//   margin-left: 5px !important;
// }

.p-component-overlay {
  z-index: 0;
  background: none;
  height: unset;
}

.p-sidebar-bottom {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--black-1);
  display: flex;
  align-items: center;
  height: var(--height-sidebar-bottom) !important;
}

.total-price-sidebar {
  .p-sidebar-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .edit-text {
      color: var(--gray-2);
    }

    .total-price {
      color: var(--yellow-1);
    }

    .p-sidebar-close {
      display: none;
    }

    .edit-text {
      color: var(--red-1);
    }

    .pi-check {
      font-size: 1.5rem;
      color: var(--black-1);
      font-weight: bold;
      padding: 1.2rem;
      //border-radius: 50%;
      background-color: var(--yellow-1);
      border: 6px solid rgba(0, 0, 0, 0.5);
    }
  }
}

/* Change the white to any color ;) */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--defaut-content-color) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/*
 *  STYLE SCROLL
 */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  //border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.dine-btn-primary-dark {
  background-color: #1f1e1e !important;
  color: white !important;

  span,
  label {
    color: white !important;
  }

  &:hover {
    background-color: black !important;
  }

  &:focus {
    box-shadow: none;
  }
}

.dine-btn-primary-white {
  background-color: white !important;
  color: black !important;
  border: 2px solid black !important;

  span,
  label {
    color: black !important;
  }

  &:hover {
    background-color: white !important;
  }
}

.dine-image-primary-dark {
  outline: none;
  box-shadow: unset;
  color: #666 !important;
  font-weight: bold;
  font-size: 15px;

  .image {
    border: 2px solid var(--btn-dine-primary);
  }

  span,
  label {
    color: #666 !important;
  }

  .active-item {
    color: black !important;

    span,
    label {
      color: black !important;
    }

    .image {
      border: 2px solid black;
    }
  }

  &:hover {
    color: black !important;

    span,
    label {
      color: black !important;
    }

    // .image {
    //   border: 2px solid black;
    // }
  }
}

.opacity {
  &-0 {
    opacity: 0 !important;
  }

  &-1 {
    opacity: 1 !important;
  }
}

.btn {
  border-radius: 0;
}

.lbl-input-field {
  color: #282144;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.iti__flag {
  display: none;
}

.btn-dine-primary {
  width: 100%;
  border-radius: 4px;
  background-color: var(--btn-dine-primary) !important;
  box-shadow: 0 1px 21px 0 #ffba71 !important;
  font-family: Mulish;
  font-size: 1.1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  text-align: center;
  border-color: var(--btn-dine-primary) !important;
  border-width: 0;
  color: white;
  font-weight: 600;
  outline: none;

  :hover,
  :active,
  :focus {
    background-color: var(--btn-dine-primary) !important;
    border-color: var(--btn-dine-primary) !important;
    box-shadow: 0 1px 21px 0 var(--btn-dine-primary) !important;
  }

  span {
    color: white;
  }
}

.btn-dine-primary:disabled {
  opacity: .6;
}


.wrapper-footer {
  position: fixed;
  width: 100%;
  max-width: 768px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1rem;
  background-color: #fff;
}

.backward-btn,
.burger-btn {
  width: 3rem;
  outline: none;
  border: none;
  background: unset;
  padding: 0;
  position: absolute;
  top: 20;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-btn {
  left: 3px;
}

.backward-btn {
  left: 37px;
}

.backward-btn:first-child {
  left: 3px;
}

.wrapper-logo {
  width: 5rem;
  margin-bottom: 0.5rem;
}

::-webkit-scrollbar {
  opacity: 0;
}

.wrapper-welcome,
.wrapper-queue {
  background-color: var(--app-dine-bg) !important;
  padding: 1rem 1rem 0 1rem;
  // max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
}

.dine-message {
  position: fixed;
  width: 100vw;
  height: max-content;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -39px;
  left: 0;
  color: white;
  font-weight: bold;
  z-index: 99999;

  span,
  i {
    color: white;
    padding: 0 2px;
  }

  &.success {
    background-color: #4ac182;
    animation-name: dropDownMessage;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  &.error {
    animation-name: dropDownMessage;
    animation-duration: 3s;
    animation-iteration-count: 1;
    background-color: #dd2323;
  }
}

@keyframes dropDownMessage {
  0% {
    top: -39px;
  }

  25% {
    top: 0;
  }

  75% {
    top: 0;
  }

  100% {
    top: -39px;
  }
}

.dine-input-group {
  label {
    font-weight: 600;
    display: block;

    #required {
      color: #ff272b;
    }
  }

  input {
    padding-left: 1rem;
  }

  .p-input-icon-left {
    width: 100%;

    .pi {
      left: 1rem;
    }

    input {
      padding-left: 3rem;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .wrapper-error {
    min-height: 1.5rem;
    min-width: 100%;
  }

  .dine-control {
    height: 2.7rem;
    width: 100%;
    border-radius: 4px;
    background-color: #f9f9f9;
    outline: none;
    border: 1px solid #e5e5e5;

    ::placeholder {
      color: #9e9ea7;
    }

    &:focus {
      border: 1px solid #ebaa6c;
    }

    ::ng-deep .p-autocomplete {
      width: 100%;

      input {
        width: 100%;
        height: 2.7rem;
        width: 100%;
        border-radius: 4px;
        background-color: #f9f9f9;
        outline: none;
        border: 0;
      }
    }

    input {
      height: 100%;
      width: 100%;
      border-radius: 4px;
      outline: none;
    }
  }
}

.d-none {
  display: none;
}

.edine-container {
  max-width: 768px;
  margin: auto;

  #title {
    color: #282144;
    // font-family: "New York";
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 3rem;
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;

    @media (max-width: 768px) {
      margin-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}
