<div class="accordion" id="accordionExample">
    <ng-container
        *ngFor="let question of questions; let i=index"
    >
        <ng-container *ngTemplateOutlet="questionContentTemplate; context: {
            question: question,
            collapse: question['collapse'],
            i: i
        }">
        </ng-container>
    </ng-container>
</div>
<ng-template #questionContentTemplate let-question="question" let-collapse="collapse" let-index="i">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    attr.aria-expanded="{{ collapse ? 'false' : 'true' }}"
                    aria-controls="collapseOne"
                    (click)="questions[index].collapse = !collapse"
                >
                    {{ question.questions }}
                </button>
            </h2>
        </div>

        <div
            class="collapse"
            [class.showq]="!collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
        >
            <div class="card-body" [innerHTML]="question.answer"></div>
        </div>
    </div>
</ng-template>