<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'LocationPrice' | localize" [description]="">
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form class="form" autocomplete="off" #editingItemForm="ngForm">
            <div>
              <div class="row align-items-center">
                <div class="form-group col-md-6">
                  <label for="PriceTag_Price" class="w-100">{{l("Location")}}</label>
                  <button class="btn btn-primary" type="button" (click)="openFilterSelectLocationsModal()">
                    <span *ngIf="!location">{{ l('Location') }}</span>
                    <span *ngIf="location"> {{location ? selectedLocation.id + " - "+ location : ''}}</span>
                  </button>
                </div>

                <div class="form-group col-md-6">
                  <label for="PriceTag_Price">{{l("Price")}}</label>
                  <input autoFocus type="number" id="PriceTag_Price" class="form-control"
                    [(ngModel)]="locationPriceEditDto.price" name="Price" minlength="0" maxlength="50" required
                    #PriceInput="ngModel" />
                  <validation-messages [formCtrl]="PriceInput"></validation-messages>
                </div>

              </div>

              <div class="modal-footer">
                <button type="button" [disabled]="saving" title="Close" class="btn btn-secondary" (click)="close()">
                  <span>{{l("Close")}}</span>
                </button>
                <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                  (click)="clear()">{{l("Clear")}}</button>
                <button type="button" class="btn btn-primary blue"
                  [disabled]="!editingItemForm.form.valid || !selectedLocation || !selectedLocation.id" [buttonBusy]="saving" (click)="save()"
                  [busyText]="l('SavingWithThreeDot')">
                  <span>{{l("Save")}}</span></button>
              </div>
            </div>
          </form>

          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="loadMenu($event)" [value]="primengTableHelper.records"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 100px" pSortableColumn="Id">
                      {{ l('Id') }}
                      <p-sortIcon field="Id"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="locationName">
                      {{ l('Name') }}
                      <p-sortIcon field="locationName"></p-sortIcon>
                    </th>
                    <th class="text-rigth" style="width: 150px" pSortableColumn="Price">
                      {{ l('Price') }}
                      <p-sortIcon field="Price"></p-sortIcon>
                    </th>
                    <th class="text-center" style="width: 150px">
                      {{ l('Actions') }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 100px">
                      <span class="ui-column-title"> {{ l('Id') }}</span>
                      {{ record.id }}
                    </td>
                    <td style="width: 150px">
                      <span class="ui-column-title"> {{ l('Name') }}</span>
                      {{ record.locationName }}
                    </td>
                    <td style="width: 150px">
                      <div class="text-rigth">
                        {{ record.price }}
                      </div>
                    </td>
                    <td style="width: 150px">
                      <div class="text-center">
                        <button type="button" class="btn" (click)="editPrice(record)">
                          <i class="fa fa-pencil-alt" title="Edit"></i>
                        </button>
                        <button type="button" class="btn" (click)="deleteLocationPrice(record)">
                          <i class="fa fa-trash" title="Delete"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{ l('NoData') }}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="loadMenu($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <select-popup #selectLocationModal [headers]="['Id', 'Code', 'Name']" [dataBinding]="['id', 'code', 'name']"
    [loadData]="getLocationSelection()" (changeValue)="changeLocation($event)" selectionMode="single"
    [selectedValue]="selectedLocation" [title]="l('Locations')"></select-popup>
</div>