<div
    appBsModal
    #createTablesModal="bs-modal"
    class="modal fade"
    role="dialog"
    aria-labelledby="createTablesModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="table">
            <form #createTablesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="table.id">{{l("EditConnectTables")}}: {{table.name}}</span>
                         <span *ngIf="!table.id">{{l("CreateConnectTables")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group w-100">
                            <label for="Table_Name">{{ l('Name') }} *</label>
                            <input
                                autoFocus
                                type="text"
                                id="Table_Name"
                                class="form-control"
                                [(ngModel)]="table.name"
                                name="Name"
                                required
                                #nameInput="ngModel"
                            />
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>
                        <div class="form-group w-100">
                            <label for="Table_Pax">{{ l('Pax') }} *</label>
                            <input
                                id="Table_Pax"
                                class="form-control"
                                [textMask]="{ mask: numberMask }"
                                [(ngModel)]="table.pax"
                                name="Pax"
                                #paxInput="ngModel"
                            />
                            <validation-messages [formCtrl]="paxInput"></validation-messages>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                    <button [buttonBusy]="saving" type="submit" class="btn btn-primary green" [disabled]="!createTablesForm.form.valid">
                        <i class="fa fa-save"></i> <span>{{ l('SaveAndClose') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
