<div class="wrapper-menu">
  <div class="wrapper-nav-bar">
    <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
    <div class="wrapper-logo" *ngIf="logoUrl">
      <img [src]="logoUrl" class="logo" [routerLink]="['/']" routerLinkActive="router-link-active" />
    </div>
  </div>
  <div class="wrapper-categories">
    <div class="category">
      <p id="title">{{headerLbl}}</p>
    </div>
  </div>
  <div class="wrapper-items">
    <div class="card card-custom gutter-b">
      <form #customerForm="ngForm" novalidate autocomplete="off">

        <div class="card-body row wrapper-content">
          <div class="dine-input-group">
            <label for="name">Name*</label>
            <input type="text" placeholder="Name" id="name" name="name" class="dine-control" [(ngModel)]="customer.name"
              #username="ngModel" required />
            <div class="wrapper-error">
              <span class="error-msg" *ngIf="username.invalid && (username.dirty || username.touched)">
                {{ errUsernameMsg }}
              </span>
            </div>
          </div>

          <div class="dine-input-group">
            <label for="name">Phone number*</label>
            <input type="text" placeholder="Phone Number" id="phonenumber" class="dine-control" name="phonenumber"
              [(ngModel)]="customer.phoneNumber" #phonenumber="ngModel" required />
            <div class="wrapper-error">
              <span class="error-msg" *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)">
                {{ errUsernameMsg }}
              </span>
            </div>
          </div>

          <div class="dine-input-group">
            <label for="email">Email*</label>
            <input type="email" placeholder="Email" id="email" class="dine-control" [(ngModel)]="customer.emailAddress"
              #inputEmail="ngModel" required email name="email" />
            <div class="wrapper-error">
              <span class="error-msg" *ngIf="
                  inputEmail.invalid &&
                  inputEmail.errors.required &&
                  (inputEmail.dirty || inputEmail.touched)
                ">
                {{ errEmailMsg }}
              </span>
              <span class="error-msg" *ngIf="
                  inputEmail.invalid &&
                  inputEmail.errors.email &&
                  (inputEmail.dirty || inputEmail.touched)
                ">
                {{ errInvalidEmailMsg }}
              </span>
            </div>
          </div>

          <div class="dine-input-group">
            <label for="address1">Address 1*</label>
            <input type="text" placeholder="Address1" id="address1" class="dine-control" ng-value="address"
              [(ngModel)]="customer.address1" #address1="ngModel" required name="address1" />
            <div class="wrapper-error">
              <span class="error-msg" *ngIf="
                  address1.invalid &&
                  address1.errors.required &&
                  (address1.dirty || address1.touched)
                ">
                {{ errAddress1Msg }}
              </span>
            </div>

            <div class="dine-input-group">
              <label for="addressorstreet">Address2</label>
              <input type="text" placeholder="Address2" id="address2orstreet" class="dine-control"
                [(ngModel)]="customer.address2" #address2="ngModel" name="address2orstreet" />
              <div class="wrapper-error"></div>
            </div>

            <div class="dine-input-group">
              <label for="addressorstreet">Country</label>
              <p-dropdown [options]="lstCountry" [style]="{ width: '100%' }" placeholder="Select Country" name="country"
                [(ngModel)]="country" #Inputcountry="ngModel" optionLabel="displayText"
                (onChange)="changeCountry(country)">
              </p-dropdown>
            </div>

            <div class="dine-input-group">
              <label for="addressorstreet">City</label>
              <p-dropdown [options]="lstCity" [style]="{ width: '100%' }" placeholder="Select City" name="lstCity"
                optionLabel="displayText" [(ngModel)]="city" #Inputcity="ngModel">
              </p-dropdown>
              <div class="wrapper-error"></div>
            </div>

            <div class="dine-input-group">
              <label for="postCode">Postal Code</label>
              <input type="text" placeholder="Postal Code" id="postCode" class="dine-control"
                [(ngModel)]="customer.postcalCode" #postCode="ngModel" name="postCode" />
            </div>

            <div class="dine-input-group">
              <label for="postCode">Zone</label>
              <p-dropdown [options]="zoneOptions" [style]="{ width: '100%' }" placeholder="Select Zone" name="Postal"
                [(ngModel)]="zone" #Inputzone="ngModel" optionLabel="displayText">
              </p-dropdown>
              <div class="wrapper-error"></div>
            </div>
          </div>

          <div class="footer">
            <button pRipple pButton class="btn-dine-primary" type="submit" label="Submit"
              [disabled]="!customerForm.form.valid" (click)="onSubmit()"></button>
            <button pRipple pButton class="btn-dine-default" type="button" label="Cancel"
              (click)="onClickBack()"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<app-left-side-menu #leftMenuRef> </app-left-side-menu>