.wrapper-payment {
  width: 100%;
  min-height: 100vh;
  // max-width: 768px;
  margin: auto;
  position: relative;
  padding: 3rem 0 1rem 0;

  .wrapper-header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    // max-width: 768px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 2px 10px 0 #eeedf5;
    z-index: 1;

    #header-lbl {
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 1.4rem;
    }

    .backward-btn {
      width: 3rem;
      height: 100%;
      outline: none;
      border: none;
      background: unset;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .wrapper-list-tables {
    width: 100%;
    padding: 1rem;

    .table-item {
      width: 100%;
      border-bottom: 1px solid #f9f9f9;
      padding: 0.3rem;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
