<div class="wrapper-payment">
  <div class="wrapper-header">
    <div id="header-lbl">
      <span>{{ headerLbl }}</span>
    </div>
    <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>
  <div class="wrapper-list-tables">
    <div class="table-item" *ngFor="let table of tableList" (click)="onClickTable(table.id)">
      {{ table.name }}
    </div>
  </div>
</div>
