<div class="cart-container">
  <a class="order-opener bell dine-btn-primary-dark" *ngIf="totalAmountsItem" href="javascript:void(0);"
    (click)="fullViewCart()">
    <span class="items-no">
      <i class="pi pi-shopping-cart shopping-card"></i>
      <span class="p-badge p-badge-custom">{{ totalAmountsItem }}</span>
    </span>

    <span class="price">{{ systemCurrency }}&nbsp;
      <span>{{ countSubTotal() | number: "1.2-4" }} </span>
    </span>
    <span class="view-cart">CHECKOUT
      <i class="pi pi-angle-right" style="font-size: 2rem; transform: translate(-0.5rem, 0.5rem);"></i>
    </span>
  </a>
  <div class="aside-area">
    <aside class="order-box" [ngClass]="{ 'full-view-cart': isFullViewCart }">
      <div class="container box-container">
        <h2>
          <a href="javascript:void(0);" class="container order-close" id="order-close" (click)="fullViewCart(false)">
            YOUR ORDER</a>
        </h2>
        <div class="order-frame">
          <form action="javascript:void(0)" class="order-form" value="">
            <fieldset>
              <div class="orderarea" id="order_div">
                <table>
                  <tbody>
                    <tr class="added-items added-items-animation" *ngFor="let itemOrder of orderList">
                      <td>
                        <div class="cart_item_info">
                          <strong class="title">
                            <a href="javascript:void(0)" class="cart_item_name">{{ itemOrder.name }} ({{
                              itemOrder.portions.name }} - {{systemCurrency}} {{ itemOrder.portions.price |
                              number: "1.2-4"
                              }}) </a></strong>

                          <div *ngFor="let items of itemOrder.orderTags">
                            <div *ngIf="items.isShowOrderTags">
                              <div class="tag-title">
                                {{items.name}} | {{items.prefix}}
                              </div>
                              <div *ngFor="let tagItem of items.tags">
                                <div *ngIf="tagItem.checked" class="tag-item">
                                  <label class="checkbox-label"> {{tagItem.name}} (${{tagItem.price}} - Qty
                                    {{tagItem.quantity}})</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td style="vertical-align: top">
                        <div class="qty-holder">
                          <div class="input-holder">
                            <span class="">
                              <span class="jcf-number">
                                <input type="number" min="0" max="50" [(ngModel)]="itemOrder.total"
                                  class="jcf-real-element" readonly="" [ngModelOptions]="{ standalone: true }" />
                                <span *ngIf="isOrderState">
                                  <span class="jcf-btn-inc" (click)="incItems(itemOrder)"></span>
                                  <span class="jcf-btn-dec" (click)="decItems(itemOrder)"></span>
                                </span>
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="cart_item_info">
                          <span class="price">
                            ${{
                            itemOrder.totalPricePerItem | number: "1.2-4"
                            }}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <table>
                <tbody>
                  <tr class="subtotal">
                    <td>PAYMENT SUMMARY</td>
                    <td>
                      <a class="collapsible" (click)="openSide()">View Details
                        &nbsp;
                        <i *ngIf="isViewDetailsSubtotal" class="pi pi-angle-down"
                          style="font-size: 1.5rem ; transform: translate(-0.5rem, 0.3rem);"></i>
                        <i *ngIf="!isViewDetailsSubtotal" class="pi pi-angle-up"
                          style="font-size: 1.5rem; transform: translate(-0.5rem, 0.3rem);"></i>
                      </a>

                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="subtotal" class="subtotal_div" *ngIf="orderList.length">
                <table>
                  <tbody>
                    <tr class="subtotal" [ngClass]="{'display': isViewDetailsSubtotal, 'hide': !isViewDetailsSubtotal}">
                      <td>Sub Total</td>
                      <td>
                        <span>{{systemCurrency}}  {{ subTotalPrice }}</span>
                      </td>
                    </tr>
                    <tr class="subtotal" [ngClass]="{'display': isViewDetailsSubtotal, 'hide': !isViewDetailsSubtotal}">
                      <td>Delivery</td>
                      <td>
                        <span>Free</span>
                      </td>
                    </tr>
                    <tr *ngFor="let fee of wheelServiceFees" class="subtotal"
                      [ngClass]="{'display': isViewDetailsSubtotal, 'hide': !isViewDetailsSubtotal}">
                      <td> {{
                        fee.feeType ? fee.name : fee.name + "(" + fee.value + "%)"
                        }}</td>
                      <td>

                        <span>$ {{
                          fee.feeType ? fee.value : (subTotalPrice * fee.value) / 100
                          }}</span>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <table>
                <tbody>
                  <tr class="total">
                    <td>To Pay</td>
                    <td>
                      {{ systemCurrency }}
                      <span>{{ totalPrice | number: "1.2-4" }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div type="button" pRipple class="btn-animation dine-btn-primary-dark" id="continueToDelivery"
                (click)="continueToDelivery()" *ngIf="orderList.length">
                CONFIRM ORDER
                <i class="pi pi-angle-right" style="font-size: 2rem; transform: translate(-0.5rem, 0.5rem);"></i>
              </div>

            </fieldset>
          </form>
          <div class="noorder-image" *ngIf="!orderList.length">
            <img src="/assets/image/no-order.jpg" alt="image description" />
            <strong class="title"> Add an item to place order. </strong>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>