.cart-container {
  // @media (min-width: 768px) {
  //   position: -webkit-sticky;
  //   top: 5px;
  // }
}
.order-opener {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 94%;
  @media (max-width: 768px) {
    width: 80%;
    animation-name: card-animation-mobile;
  }
  z-index: 100;
  // background:black;
  // color: #fff;
  animation-name: card-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;

  padding: 0 1.5rem;
  font-size: 0.875rem;
  line-height: 3.5rem;
  margin: 0.5rem 2rem;
  //border-radius: 1rem;
  .items-no {
    display: inline-block;
    vertical-align: top;
    .shopping-card {
      font-size: 1.5em;
      transform: translate(-0.5rem, 0.5rem);
    }
    .p-badge {
      transform: translate(-1rem, -0.5rem);
    }
    .p-badge-custom {
      background: #fff !important;
      color: black !important;
      font-size: 0.7rem;
      font-weight: 700;
      min-width: 1.3rem;
      height: 1.3rem;
      line-height: 1.3rem;
    }
  }
  .items-no:after {
    display: inline-block;
    vertical-align: top;
    padding: 0 0.125rem 0 0.5rem;
  }
  .view-cart {
    float: right;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
}

@keyframes card-animation {
  0% {
    left: 0;
  }
  25% {
    left: calc(100% - 99%);
  }
  50% {
    left: calc(100% - 99%);
  }
  75% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes card-animation-mobile {
  0% {
    left: 0;
  }
  25% {
    left: calc(100% - 98%);
  }
  50% {
    left: calc(100% - 98%);
  }
  75% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

.location-select {
  box-sizing: border-box;
  height: 52px;
  border: 1px solid #f5f5f5;
  //border-radius: 6px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 1.125rem;
  &.mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.delivery-mode {
  color: #414952;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 1rem 1.125rem;
}
.current-location {
  color: #1875f0;
  cursor: pointer;
}
.order-box {
  //border-radius: 0.375rem;
  background-color: #fafafa;
  box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  // @media (min-width: 992px) {
  //   margin: 0 0 1.125rem;
  // }
  // @media (max-width: 991px) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 100;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  //border-radius: 0;
  -webkit-transition: opacity linear 0.3s, visibility linear 0.3s;
  transition: opacity linear 0.3s, visibility linear 0.3s;
  padding: 3.25rem 0 0;
  // }

  h2 {
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 1.0625rem 1.3125rem;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    .order-close {
      color: #414952;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      // @media (max-width: 991px) {
      background: #fafafa;
      display: block;
      padding: 1.0625rem 1.3125rem 1.0625rem 3.0625rem;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 12;
      font-size: 1.2em;
      font-weight: 500;
      border-bottom: 1px solid #f5f5f5;
      // }
    }
    .order-close:after {
      // @media (max-width: 991px) {
      position: absolute;
      left: 0.8125rem;
      top: 1.0625rem;
      content: "\f060";
      font-family: fontAwesome;
      font-size: 1.0625rem;
      line-height: 1.0625rem;
      color: #83888d;
      // }
    }
    .order-close:hover {
      @media (max-width: 991px) {
        background: #e8e7e7;
      }
    }
  }

  .order-frame {
    background: #fff;
    //border-radius: 0 0 0.375rem 0.375rem;
    min-height: 20.1875rem;
  }
  .btn-animation {
    display: block;
    text-transform: uppercase;
    height: 3.125rem;
    border: 0;
    padding: 0 0.9375rem;
    font-size: 0.75rem;
    line-height: 3.5rem;
    //border-radius: 1rem;
    letter-spacing: 1.5px;
    text-align: center;
    width: 98%;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;

    animation-name: button-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    @media (max-width: 768px) {
      width: 95%;
      animation-name: button-animation-mobile;
    }

    // @media (max-width: 991px) {
    //   position: fixed;
    //   right: 0;
    //   bottom: 5px;
    //   left: 0;
    //   border: 0;
    //   z-index: 10;
    // }
  }
}

@keyframes button-animation {
  0% {
    left: 0%;
  }
  25% {
    left: calc(100% - 98%);
  }
  50% {
    left: calc(100% - 98%);
  }
  75% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

@keyframes button-animation-mobile {
  0% {
    left: 0%;
  }
  25% {
    left: calc(100% - 95%);
  }
  50% {
    left: calc(100% - 95%);
  }
  75% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

.full-view-cart {
  // show full view
  // @media (max-width: 991px) {
  opacity: 1;
  visibility: visible;
  background-color: var(--content-background);
  // }
}
.order-form {
  font-weight: 500;
  padding: 0 0 3.125rem;
  @media (min-width: 992px) {
    padding: 0;
  }
  table {
    width: 100%;
    background: #fff;

    td {
      background: #fff;
      position: relative;
      padding: 0.25rem 0.9375rem 0.25rem 0.9375rem;
      vertical-align: top;
      border-bottom: solid 1px #fff;
      @media (min-width: 992px) {
        padding: 0.25rem 0.625rem 0.25rem 0.625rem;
      }
      @media (min-width: 1170px) {
        padding: 0.25rem 1.125rem 0.25rem 1.25rem;
      }
    }
    tr.added-items td {
      background: none;
      padding-top: 1.0625rem;
      padding-bottom: 1.1875rem;
    }
    td:first-child {
      padding-left: 2.375rem;
      @media (min-width: 992px) {
        padding-left: 2.625rem;
      }
      @media (min-width: 1170px) {
        padding-left: 1.3125rem;
      }
    }
    td:last-child {
      width: 7rem;
      padding-left: 0.5rem;
      text-align: right;

      @media (min-width: 360px) {
        width: 7rem;
      }

      @media (min-width: 992px) {
        width: 6.25rem;
      }

      @media (min-width: 1170px) {
        width: 7rem;
      }
    }
    tr.subtotal td {
      padding-top: 0.875rem;
    }
    tr.total td {
      line-height: 1.125rem;
      background: none;
      padding-top: 1rem;
      padding-bottom: 1.125rem;
    }
    tr.subtotal td:last-child,
    tr.total td:last-child {
      width: 7rem;
      padding-left: 0.5rem;
      text-align: right;

      @media (min-width: 360px) {
        width: 11rem;
      }

      @media (min-width: 992px) {
        width: 7.25rem;
      }

      @media (min-width: 1170px) {
        width: 11rem;
      }
    }
  }

  .title {
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    display: block;
    margin: 0 0 0.5rem;
    a {
      color: #414952;
    }
  }
  .hide {
    display: none;
  }
  .display {
    display: table-row;
  }
  .qty-holder {
    overflow: hidden;
  }

  .price {
    display: block;
    font-size: 0.875rem;
  }
  .btn-holder {
    overflow: hidden;
    @media (min-width: 992px) {
      padding: 1.25rem 1.25rem;
    }
  }
  .btn {
    display: block;
    text-transform: uppercase;
    height: 3.125rem;
    border: 0;
    padding: 1.125rem 0.9375rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 1.5px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
}

.collapsible {
  color: black;
}
.box-container {
  min-height: calc(100vh - 53px);
  border: 1px solid #f5f5f5;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.orderarea {
  height: calc(55vh);
  overflow-y: auto;
}
#order_div {
  scroll-behavior: smooth;
}
tr.added-items {
  // opacity: 0;
  transition: padding-top 0.2s, padding-bottom 0.3s;
}
tr.added-items-animation {
  animation: new-item-animation 0.3s linear forwards !important;
}
tr.added-items td {
  overflow: hidden;
  transition: padding-top 0s, padding-bottom 0s;
}

.input-holder {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 5.1875rem;
  height: 1.3125rem;
}

.tag-title {
  font-size: 0.85rem;
  padding-left: 1rem;
}
.tag-item {
  font-size: 0.85rem;
  padding-left: 2rem;
}

.jcf-number {
  display: inline-block;
  position: relative;
  height: 1.3125rem;
  width: 5.1875rem;
  padding: 0 1.3125rem;
  input {
    min-width: 40px;
    box-sizing: border-box;
    border: 0;
    text-align: center;
    display: block;
    width: 100%;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 0.1875rem 0.25rem 0.1875rem;
    margin: 0;
    height: 100%;
    font-size: 0.875rem;
    line-height: 1rem;
    color: black;
  }
  .jcf-btn-dec,
  .jcf-btn-inc {
    position: absolute;
    background: #fff;
    border: solid 1px black;
    width: 1.3125rem;
    height: 1.3125rem;
    //border-radius: 0.25rem;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  .jcf-btn-dec:before,
  .jcf-btn-inc:before {
    display: block;
    content: "+";
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 0.875rem;
    margin: 0.125rem 0 0;
    color: black;
    text-align: center;
  }
  .jcf-btn-dec:before {
    content: "-" !important;
  }
  .jcf-btn-dec {
    left: 0;
    right: auto;
  }
  .per-item {
    display: inline-block;
    vertical-align: middle;
    color: #7e8389;
    padding: 0.1875rem 0 0;
  }
}
.noorder-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  img {
    display: block;
    width: calc(100%);
    margin: 0 0 0.75rem;
    opacity: 0.6;
  }
  .title {
    display: block;
    color: #ccc;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
  }
}

.price-size {
  font-size: 0.875rem;
}
.wrapper-unset .orderarea {
  @media (min-width: 768px) {
    height: calc(36vh);
    overflow-y: auto;
  }
}
.second_div {
  @media (min-width: 768px) {
    max-height: 100% !important;
    height: auto;
    overflow-y: auto;
  }
}

#subtotal {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 500ms;
  height: 11rem;
  overflow: hidden;
}
