<div class="wrapper-payment">
    <div class="wrapper-header">
        <div id="header-lbl">
            <span>{{ headerLbl }}</span>
        </div>
        <!-- <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button> -->
    </div>
    <div class="edine-container">

        <div class="wrapper-notify">
            <i class="fa fa-check-circle"></i>
            <p id="notify">{{ notifyPayment }}</p>
            <p id="tracking">{{ trackingLbl }}</p>
        </div>
        <div class="wrapper-order-info">
            <div id="header-order-info">
                <span>{{ orderInfoLbl  }}</span>
            </div>
            <div class="order-info">
                <div class="wrapper-id-qr-code">
                    <div id="id">
                        <span id="id-header">Order Id</span>
                        <span id="id-string">{{ orderID }}</span>
                    </div>
                    <div style="padding: 1rem 0; height: 100%; width: 1px">
                        <div style="height: 100%; width: 100%; background-color: #e3e4ec"></div>
                    </div>
                    <div id="qr">
                        <span id="qr-header">QR Code</span>
                        <ngx-qrcode [elementType]="elementType" [value]="orderID"></ngx-qrcode>
                    </div>
                </div>
                <hr class="mark-line" style="border-top: 1px dashed #d5d5d5" />
                <p class="user-info">
                    <span>Name</span>
                    <strong>{{ wheelBillingInfo?.name }}</strong>
                </p>
                <p class="user-info">
                    <span>Email</span>
                    <strong>{{ wheelBillingInfo?.emailAddress }}</strong>
                </p>
                <p class="user-info">
                    <span>Phone</span>
                    <strong>{{ wheelBillingInfo?.phoneNumber }}</strong>
                </p>
                <p class="user-info" *ngIf="isDeliveryType || isOrderPickupFututer">
                    <span>Order Time</span>
                    <strong>{{ orderInfo?.order.deliveryTime}}</strong>
                </p>
                <p class="user-info" *ngIf="isDineIn">
                    <span>Table No</span>
                    <strong>{{ orderInfo?.order.tableName}}</strong>
                </p>
                <p class="user-info" *ngIf="isPickupPlateNumber">
                    <span>Plate Number</span>
                    <strong>{{ orderInfo?.wheelBillingInfo.plateNumber}}</strong>
                </p>

                <p class="user-info" *ngIf="isDeliveryType">
                    <span>Ordering Time</span>
                    <strong>{{ orderInfo?.order.deliveringTime}}</strong>
                </p>
                <p class="user-info">
                    <span>Total</span>
                    <strong>{{ systemCurrency }} {{ orderInfo?.paidAmount?.toFixed(2) }}</strong>
                </p>
                <p class="user-info">
                    <span>Payment Method</span>
                    <strong>{{ orderInfo?.paymentOption }}</strong>
                </p>
                <p class="user-info">
                    <span>Ordered Time</span>
                    <strong>{{ orderInfo?.orderTime | date: "dd/MM/yyyy HH:mm:ss"}}</strong>
                </p>

                <ng-container *ngIf="orderInfo?.order.note">
                    <p>Note</p>

                    <p class="ticket-note">{{ orderInfo?.order.note }}</p>
                </ng-container>
            </div>
        </div>
        <div class="wrapper-order-summary">
            <div id="header-order-summary">
                <span>{{ orderSummaryLbl}}</span>
            </div>
            <div class="order-summary">
                <div class="order-items-header">
                    <div id="title-quantity">Qty</div>
                    <div id="title-info">Item</div>
                    <div id="title-price">Price</div>
                </div>
                <hr class="mark-line" style="border-top: 1px dashed #d5d5d5" />
                <ng-container *ngFor="let item of itemList">
                    <div class="order-item" *ngIf="!item.isCombo; else comboTemplate">
                        <div id="quantity">{{ item.quantity }}</div>
                        <div id="info">{{ item.description ? item.screenMenuItem.name + " - " + item.description : item.screenMenuItem.name }}
                            <div class="order-note" *ngIf="item.note">{{ item.note }}</div>
                        </div>
                        <div id="price">
                            {{ systemCurrency }} {{ item.subTotal.toFixed(2) }}
                        </div>
                    </div>
                    <ng-template #comboTemplate>
                        <div class="order-item">
                            <div id="quantity">{{ item.quantity }}</div>
                            <div id="info">{{ item.screenMenuItem.name}}
                                <div class="order-note" *ngIf="item.note">{{ item.note }}</div>
                            </div>
                            <div id="price">
                                {{ systemCurrency }} {{ item.subTotal.toFixed(2) }}
                            </div>
                        </div>
                        <div class="order-item" *ngFor="let comboItem of item.subItems; let i = index">
                            <div id="quantity"></div>
                            <div id="info">
                                {{comboItem.quantity}}x {{ comboItem.description ? comboItem.screenMenuItem.name + " - " + comboItem.description : comboItem.screenMenuItem.name }}
                                <div class="order-note" *ngIf="comboItem.note">{{ comboItem.note }}</div>
                            </div>
                            <div id="price">
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

                <hr style="border-top: 1px dashed #d5d5d5" />
                <p class="fee-detail">
                    <span>Sub Total</span>
                    <strong>{{ systemCurrency }}
            {{ orderInfo?.order.amount.toFixed(2) }}</strong>
                </p>

                <p class="fee-detail" *ngIf="deliveryFee">
                    Delivery fee:
                    <span><strong> {{  deliveryFee }}</strong></span>
                </p>

                <p class="fee-detail" *ngIf="orderInfo?.order.discountAmount">
                    Discount:
                    <span><strong> {{ systemCurrency + " " + orderInfo?.order.discountAmount.toFixed(2) }}</strong></span>
                </p>
                <p class="fee-detail" *ngFor="let fee of wheelServiceFees">
                    <span>
            {{
            fee.feeType
            ? fee.name
            : fee.name + "(" + fee.value.toFixed(2) + "%)"
            }}:
          </span>
                    <strong>
            {{ systemCurrency }}
            {{
            fee.feeType
            ? fee.value.toFixed(2)
            : ((orderInfo?.order.amount * fee.value) / 100).toFixed(2)
            }}
          </strong>
                </p>
                <p class="fee-detail" *ngIf="taxAmount">
                    Tax:
                    <span><strong> {{ systemCurrency + " " + taxAmount.toFixed(2) }}</strong></span>
                </p>
                <!-- <p class="fee-detail">
        <span>Discount</span> <strong style="color: #ee003c"> Free</strong>
      </p> -->
                <hr style="border-top: 1px dashed #d5d5d5" />
                <p class="fee-detail">
                    <strong>Total</strong>
                    <strong>{{ systemCurrency }} {{ orderInfo?.paidAmount.toFixed(2) }}</strong>
                </p>
            </div>
            <div class="wrapper-btn-submit">
                <button pRipple pButton class="btn-dine-primary" type="submit" label="Start Over" (click)="onClickContinue()"></button>
            </div>
        </div>
    </div>
</div>
