.wrapper-payment {
  width: 100%;
  min-height: 100vh;
  // max-width: 768px;
  margin: auto;
  position: relative;
  padding: 3rem 0 1rem 0;

  .wrapper-header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    // max-width: 768px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 2px 10px 0 #eeedf5;
    z-index: 1;

    #header-lbl {
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 1.4rem;
    }

    .backward-btn {
      width: 3rem;
      height: 100%;
      outline: none;
      border: none;
      background: unset;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .wrapper-notify {
    width: 100%;
    padding-top: 1rem;

    .fa-check-circle {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0.5rem auto;
      font-size: 3.5rem;
      display: block;
      color: #32ba7c;
    }

    #notify {
      text-align: center;
      font-size: 0.9rem;
      margin: 0;
    }

    #tracking {
      margin: 0;
      text-align: center;
      color: #1890ff;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .wrapper-order-info {
    width: 100%;
    padding: 1rem;

    .order-info {
      width: 100%;
      padding: 1rem;
      box-shadow: 0 2px 30px 0 #eeedf5;

      .wrapper-id-qr-code {
        width: 100%;
        display: flex;
        height: 6rem;

        #id {
          width: calc(70% - 1px);
          text-align: center;

          #id-string {
            color: #2d2843;
            font-weight: 500;
            font-size: 2rem;
          }
        }

        #qr {
          width: 30%;
          text-align: center;

          ::ng-deep .qrcode {
            width: 4rem;
            height: 4rem;
            margin: auto;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        #id-header,
        #qr-header {
          display: block;
          margin-bottom: 0.3rem;
          color: #3e3955;
          font-weight: 500;
        }
      }

      .user-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .wrapper-order-summary {
    width: 100%;
    padding: 1rem;

    .order-summary {
      width: 100%;
      padding: 1rem;
      box-shadow: 0 2px 30px 0 #eeedf5;

      .order-items-header,
      .order-item {
        display: flex;
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 0.4rem;

        #title-quantity,
        #quantity {
          width: 10%;
          text-align: center;
        }

        #title-price,
        #price {
          width: 20%;
          text-align: right;
        }

        #title-info,
        #info {
          width: 70%;
        }
      }

      .fee-detail {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .wrapper-btn-submit {
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 30px 0 #eeedf5;

    .btn-dine-primary {
      box-shadow: unset;
    }
  }

  #header-order-summary,
  #header-order-info {
    height: 4rem;
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: bold;
  }

  #header-delivery-info {
    padding: 0;
  }
}

::ng-deep .p-dropdown {
  width: 100%;
  border: 0;
  background: #f9f9f9;

  .p-dropdown-label {
    padding-left: 1rem;
  }

  .pi-chevron-down {
    color: #999;
  }
}

.dine-control {
  height: 2.7rem;
  width: 100%;
  border-radius: 4px;
  background-color: #f9f9f9;
  outline: none;
  border: 0;

  ::placeholder {
    color: #9e9ea7;
  }

  &:focus {
    border: 1px solid #ebaa6c;
  }

  ::ng-deep .p-autocomplete {
    width: 100%;

    input {
      width: 100%;
      height: 2.7rem;
      width: 100%;
      border-radius: 4px;
      background-color: #f9f9f9;
      outline: none;
      border: 0;
    }
  }
}

.mark-line {
  width: 100%;
  background-color: yellow;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1rem;
    height: 24px;
    -webkit-clip-path: circle(50% at 0% 50%);
    clip-path: circle(50% at 0% 50%);
    transform: translate(-100%, -50%);
    -moz-box-shadow: inset 0 0 16px #eeedf5;
    -webkit-box-shadow: inset 0 0 16px #eeedf5;
    box-shadow: inset 0 0 16px #eeedf5;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 24px;
    clip-path: circle(50% at 100% 50%);
    transform: translate(100%, -50%);
    -moz-box-shadow: inset 0 0 16px #eeedf5;
    -webkit-box-shadow: inset 0 0 16px #eeedf5;
    box-shadow: inset 0 0 16px #eeedf5;
  }
}
.ticket-note {
  border: 1px solid #eee;
    padding: 10px;
    border-radius: 3px;
}

.order-note  {
  font-size: 11px;
}