<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #depotForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="client.id">{{ l("EditClient")}}:{{client.extCode}}</span>
                        <span *ngIf="!client.id">{{ l("CreateNewClient")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="code">{{ l("Code")}} *</label>
                            <input type="text" id="code" class="form-control" [(ngModel)]="client.extCode" name="code"
                                #codeInput="ngModel" required/>
                            <validation-messages [formCtrl]="codeInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="name">{{ l("Name") }} *</label>
                            <input type="text" id="name" class="form-control" [(ngModel)]="client.name" name="name"
                                #nameInput="ngModel" required />
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="contactName">{{ l("ContactName") }}</label>
                            <input type="text" id="contactName" class="form-control" [(ngModel)]="client.contactName"
                                name="contactName" #contactNameInput="ngModel" />
                            <validation-messages [formCtrl]="contactNameInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="phone">{{ l("ContactPhone") }}</label>
                            <input type="text" id="phone" class="form-control" [(ngModel)]="client.phone" name="phone"
                                #phoneInput="ngModel" />
                            <validation-messages [formCtrl]="phoneInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Email">{{ l("Email") }}</label>
                            <input type="text" id="email" class="form-control" [(ngModel)]="client.email" name="email"
                                #emailInput="ngModel" />
                            <validation-messages [formCtrl]="emailInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="TimeFrom">{{l("TimeFrom")}} </label>
                            <select id="TimeFrom    " class="form-control" [(ngModel)]="client.deliveryTimeFrom"
                                name="TimeFrom" #TimeFromInput="ngModel">
                                <option [value]="undefined">
                                    {{"" | localize}}
                                </option>
                                <option *ngFor="let item of lstShipmentTimes" [value]="item.displayText">
                                    {{item.displayText}}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="TimeFromInput"></validation-messages>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="TimeTill">{{l("TimeTill")}} </label>
                            <select id="TimeTill" class="form-control" [(ngModel)]="client.deliveryTimeTo"
                                name="TimeTill" #TimeTillInput="ngModel">
                                <option [value]="undefined">
                                    {{"" | localize}}
                                </option>
                                <option *ngFor="let item of lstShipmentTimes" [value]="item.displayText">
                                    {{item.displayText}}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="TimeTillInput"></validation-messages>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Priority">{{l("Priority")}} </label>
                            <select id="Priority" class="form-control" [(ngModel)]="client.priority" name="Priority"
                                #PriorityInput="ngModel">
                                <option [value]="undefined">
                                    {{"" | localize}}
                                </option>
                                <option *ngFor="let item of lstPriority" [value]="item.value">
                                    {{item.name}}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="PriorityInput"></validation-messages>
                        </div>
                    </div>

                    <div class="primeng-datatable-container" *ngIf="client.id">
                        <div class="form-group">
                            <h3>{{l("Linked Addresses")}}</h3>
                        </div>
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <select id="lstaddress" class="form-control" [(ngModel)]="address" name="lstaddress"
                                    #lstaddressInput="ngModel">
                                    <option [value]="undefined">
                                        {{"" | localize}}
                                    </option>
                                    <option *ngFor="let item of lstAddress; let i = index" [value]="item.id">
                                        {{item.extCode}}-{{item.name}}
                                    </option>
                                </select>

                                <span class="input-group-btn">
                                    <button (click)="addAddress()" class="btn btn-primary" type="button">
                                        Add
                                    </button>
                                </span>
                            </div>
                        </div>
                        <p-table [value]="lstAddressLinked" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 150px;"> {{l("Code")}}</th>
                                    <th style="width: 150px;"> {{l("Name")}}</th>
                                    <th style="width: 70px;"> #</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                                <tr>
                                    <td style="width: 150px;">{{rowData.extCode}}</td>
                                    <td style="width: 150px;">{{rowData.name}}</td>
                                    <td style="width: 70px;"><a class="text-danger cursor-pointer"
                                            (click)="deleteClientAddress(rowData)">Delete</a></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!depotForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
