<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #connectCardForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="connectCard.id">{{ l('EditconnectCard') }}: {{connectCard.cardNo}}</span>
                        <span *ngIf="!connectCard.id">{{ l('CreateNewconnectCard') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="connectCard_Name">{{ l('Name') }} *</label>
                        <ng-select [(ngModel)]="connectCard.connectCardTypeId" required #connectCardType="ngModel"
                            name="connectCardTypeId">
                            <ng-option *ngFor="let type of connectCardTypes" [value]="+type.id">
                                <b><ng-container *ngIf="connectCard.connectCardTypeId != type.id">{{l("Name")}}: </ng-container>{{type.name}} </b>
                                <span *ngIf="connectCard.connectCardTypeId != type.id" class="additional">
                                    <br />
                                    {{l("Length")}}: {{ type.length }}
                                    <br />
                                    {{l("UseOneTime")}}: {{ type.useOneTime }}
                                </span>
                            </ng-option>
                        </ng-select>
                        <validation-messages [formCtrl]="connectCardType"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label for="connectCard_CardNumber">{{ l('CardNumber') }} *</label>
                        <input type="text" id="connectCard_CardNumber" class="form-control"
                            [(ngModel)]="connectCard.cardNo" name="CardNumber" required #cardNumberInput="ngModel" />
                        <validation-messages [formCtrl]="cardNumberInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Active" class="checkbox">
                            <input [(ngModel)]="connectCard.active" id="Active" name="Active" type="checkbox" />
                            {{ l('Active') }}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!connectCardForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>