<div class="card gui-top-up-wallet">
    <div class="panel-heading">
        <div class="text-header">
            <span class="panel-title">Top Up Wallet</span>
        </div>
    </div>
    <div class="card-body">
        <div class="text-header-body">
            <img src="\assets\image\mastercard.png" alt="">
            <span class="panel-title">Mastercard</span>
        </div>
        <div class="text-body-1">
            <span class="account-number">Account Number</span>
            <div class="number-copy">
                <span>{{ customerWallet.cardNumber }}</span>
                <button>COPY</button>
            </div>
            <span class="virtual-number">Virtual number will be checked automatically</span>
        </div>
        <div class="text-body-2">
            <span class="read">Read instruction</span>
            <span class="a-step">A step by step guide on how to top up with bank transfer</span>
        </div>
        <mat-selection-list [multiple]="false">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="panelOpenState">
                <mat-expansion-panel-header>
                    <div class="item-sidebar">
                        <div class="title-select">
                            <span class="title-big">Top up via ATM</span>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <mat-vertical-stepper>
                    <mat-step>
                        <ng-template matStepLabel>Insert your ATM card and enter your PIN.</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Select TRANSFER and click Bank Virtual Account.</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Enter top up amount.</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Follow the next instructions to complete top-up.</ng-template>
                    </mat-step>
                </mat-vertical-stepper>

            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" [expanded]="panelOpenState2">
                <mat-expansion-panel-header>
                    <div class="item-sidebar">
                        <div class="title-select">
                            <span class="title-big">Top up via m-Banking</span>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <mat-vertical-stepper>
                    <mat-step>
                        <ng-template matStepLabel>Step 1</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Step 2</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Step 3</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Step 4</ng-template>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState3 = true" (closed)="panelOpenState3 = false" [expanded]="panelOpenState3">
                <mat-expansion-panel-header>
                    <div class="item-sidebar">
                        <div class="title-select">
                            <span class="title-big">Top up via Internet Banking</span>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <mat-list-option>
                    <div class="item-content">
                        <span class="sub-menu">VISA</span>
                    </div>
                </mat-list-option>

                <mat-list-option>
                    <div class="item-content">
                        <span class="sub-menu">Mastercard</span>
                    </div>
                </mat-list-option>
            </mat-expansion-panel>
        </mat-selection-list>

        <div class="button-bottom">
            <button (click)="understand()">
                Okay I Understand
            </button>
        </div>
    </div>
</div>