.gui-top-up-wallet {
    .panel-heading {
        background-image: url(../../../../../../assets/image/banner-settings.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid #ededed;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .text-header {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;
            margin-left: 24px;
            .panel-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #22232f;
            }
        }
    }
    .card-body {
        display: flex;
        flex-direction: column;
        .text-header-body {
            display: flex;
            align-items: center;
            column-gap: 16px;
            height: 70px;
            .panel-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #22232f;
            }
        }
        .text-body-1 {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            min-width: 150px;
            padding: 24px 0px;
            border-top: 1px solid #ededed;
            border-bottom: 1px solid #ededed;
            margin-left: 55px;
            .account-number {
                font-weight: 400;
                font-size: 16px;
                color: #888884;
            }
            .number-copy {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 24px;
                span {
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 30px;
                    color: #f5c031;
                }
                button {
                    min-width: 50px;
                    min-height: 21px;
                    background-color: #488bf0;
                    border: 1px solid #488bf0;
                    border-radius: 34px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 12px;
                    padding: 2px 8px;
                }
            }
            .virtual-number {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #575755;
            }
        }
        .text-body-2 {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            padding: 24px 0px 0px 0px;
            margin-left: 55px;
            .read {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #030319;
            }
            .a-step {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #8f92a1;
            }
        }
        mat-selection-list {
            mat-expansion-panel {
                box-shadow: unset;
                margin-left: 55px;
                border-bottom: 1px solid #ededed;
                mat-expansion-panel-header {
                    min-height: 56px;
                    padding: 0 24px 0 0;
                    .item-sidebar {
                        display: flex;
                        align-items: center;
                        column-gap: 16px;
                        .title-select {
                            display: flex;
                            flex-direction: column;
                            .title-big {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                color: #22232f;
                            }
                        }
                    }
                }
                mat-vertical-stepper {
                    pointer-events: none;
                     ::ng-deep .mat-step-header .mat-step-icon {
                        background-color: #4CD080 !important;
                    }
                     ::ng-deep .mat-stepper-vertical-line::before {
                        top: -24px !important;
                        bottom: -24px !important;
                        left: -1px !important;
                        border-left-width: 2px !important;
                    }
                     ::ng-deep .mat-stepper-vertical-line::before {
                        border-left-color: #4CD080 !important;
                    }
                    ::ng-deep .mat-vertical-content-container {
                        height: 0px;
                    }
                    ::ng-deep .mat-vertical-stepper-header {
                        padding-bottom: 18px !important;
                    }
                    ::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
                        font-size: 16px !important;
                        color: #575755 !important;
                        font-weight: normal !important;
                    }
                }
            }
        }
        .button-bottom {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 32px;
            button {
                min-width: 170px;
                min-height: 40px;
                background-color: #2d5d8c;
                border: 1px solid #2d5d8c;
                border-radius: 8px;
                padding: 10px 24px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
            }
        }
    }
}