<div [@routerTransition] [busyIf]="archive">
    <!-- banner -->
    <section class="banner" style="background-image: url('assets/static/img/white-and-brown-cooked-dish-on-white-ceramic-bowls-958545.png')">
        <div class="container">
            <article>
                <h1>Menu</h1>
            </article>
        </div>
    </section>
    <!-- banner ends -->
    <section class="filter-sec">
        <div class="container">
            <article>
                <div class="row mb-5">
                    <div class="col-12 col-sm-3">
                        <span class="text">Schedule Calendar</span>
                    </div>
                    <div class="col-12 col-sm-9">
                        <div class="button__container">
                            <a *ngFor="let date of dateRanges" [ngClass]="{ active: date.id == dateRange.id }" (click)="onChangeWeek(date)">
                                {{ date.name }}
                                <div>
                                    <small>{{ date.startDate | date: 'dd MMM' }}-{{ date.endDate | date: 'dd MMM' }}</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <span class="text">Meal Time</span>
                    </div>

                    <div class="col-12 col-sm-9">
                        <div class="button__container">
                            <a *ngFor="let mealTime of mealTimes" [ngClass]="{ active: mealTimeId == mealTime.id }" (click)="onChangeMealTime(mealTime)">{{
                                mealTime.name
                            }}</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="table-sec">
        <div class="container-dj">
            <article>
                <h3>
                    {{ dateRange?.startDate | date: 'EEEE d MMM' }} -
                    {{ dateRange?.endDate | date: 'EEEE d MMM' }}
                </h3>

                <!-- table -->
                <div class="d-flex flex-row">
                    <!-- table -->
                    <div class="table-container table-option">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-option" scope="col">
                                        <span>MENU OPTIONS</span>
                                    </th>
                                    <th class="table-option_th" scope="col">
                                        <span>SUNDAY</span>
                                    </th>
                                    <th class="table-option_th" scope="col">
                                        <span>MONDAY</span>
                                    </th>
                                    <th class="table-option_th" scope="col">
                                        <span>TUESDAY</span>
                                    </th>
                                    <th class="table-option_th" scope="col">
                                        <span>WEDNESDAY</span>
                                    </th>
                                    <th class="table-option_th" scope="col">
                                        <span>THURSDAY</span>
                                    </th>
                                    <th class="table-option_th" scope="col">
                                        <span>FRIDAY</span>
                                    </th>
                                    <th class="table-option_th" scope="col">
                                        <span>SATURDAY</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let schedule of listschedule">
                                <tr>
                                    <th class="col-option" scope="row">
                                        <div class="table-content">
                                            <span class="table-content__span--big">{{ schedule.productSetName }}</span>
                                            <span class="table-content__span--small"></span>
                                        </div>
                                    </th>
                                    <td class="table-option_td" *ngFor="let menuItem of schedule.listSchedule">
                                        <div class="table-content">
                                            <span *ngFor="let item of menuItem.products">
                                                {{ item.productName | uppercase }}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-container table-menu">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-option" scope="col">
                                        <span>MENU OPTIONS</span>
                                    </th>
                                    <th scope="col">
                                        <span>SUNDAY</span>
                                    </th>
                                    <th scope="col">
                                        <span>MONDAY</span>
                                    </th>
                                    <th scope="col">
                                        <span>TUESDAY</span>
                                    </th>
                                    <th scope="col">
                                        <span>WEDNESDAY</span>
                                    </th>
                                    <th scope="col">
                                        <span>THURSDAY</span>
                                    </th>
                                    <th scope="col">
                                        <span>FRIDAY</span>
                                    </th>
                                    <th scope="col">
                                        <span>SATURDAY</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let schedule of listschedule">
                                <tr>
                                    <th class="col-option" scope="row">
                                        <div class="table-content">
                                            <span class="table-content__span--big">{{ schedule.productSetName }}</span>
                                            <span class="table-content__span--small"></span>
                                        </div>
                                    </th>
                                    <td *ngFor="let menuItem of schedule.listSchedule">
                                        <div class="table-content">
                                            <span *ngFor="let item of menuItem.products">
                                                {{ item.productName | uppercase }}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- table ends -->
            </article>
        </div>
    </section>
</div>
