.menu_item {
    border: 1px solid #b0a9a9;
    text-align: center;
    width: 110%;
    height: 100%;
}

.reload {
    float: right;
    margin-right: 6px;
}

span {
    display: block;
    text-align: center;
}

td,
th {
    text-align: center;
}

.table-col {
    min-width: 115px;
}

.kt-portlet.kt-portlet--mobile {
    background-color: transparent;
    box-shadow: none;
}

.calendar-datatable-container {
    overflow: auto;
}

.table-option {
    display: none;
}

.menu-content {
    display: flex;
    justify-content: space-between;

    .menu_content__input {
        min-width: 33%;
    }

    .menu-content__right {
        width: -webkit-fill-available;
        max-width: 52%;
    }

    .order-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu-content {
        display: block;

        .menu-content__center,
        .menu-content__right {
            width: 100%;
            max-width: unset;
        }
    }
}

@media (max-width: 450px) {
    .menu-content {
        display: block;

        div {
            width: 100%;
        }
    }

    .table-option {
        max-width: 150px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        display: block;
    }

    .table-container.table-menu {
        margin-left: -150px;

        .table .col-option {
            visibility: hidden;
        }
    }

    .table-option_th,
    .table-option_td {
        visibility: hidden;
    }

    .table-container .table .col-option {
        span {
            font-size: 13px !important;
            font-weight: normal;
        }
    }
}

.form-control[readonly] {
    background-color: white;
}

#filter-button {
    background: #fff url(assets/static/svg/arrow.svg) no-repeat 50%;
    width: 50px;
    height: calc(1.5em + 0.75rem + 5px);
    border: 0;
    border-left: none;
    right: 0px;
    position: absolute;
    background-color: transparent;
}

.btn-refresh {
    border: unset;
    margin-top: 5px;
}

.button__container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-sec .filter-sec-calender {
    margin: unset;
}

.button__container a {
    background: #f1f1f1 0 0 no-repeat padding-box;
    box-shadow: 0 2px 3px rgb(0 0 0 / 16%);
    border-radius: 25px;
    padding: 10px 25px;
    display: block;
    width: calc(25% - 7.5px);
    font-size: 13px;
    color: #545454;
    font-weight: 600;
    transition: 0.3s ease-out;
    text-align: center;
    position: relative;
    min-width: 225px;
    cursor: pointer;

    &.active {
        background: #ffde1b;
        color: #000;
    }

    @media (max-width: 991px) {
        width: 100%;
    }
}
