<div class="card mb-1">
    <div class="panel-heading">
        <div class="text-header">
            <span class="panel-title">Notifications</span>
        </div>
    </div>
    <div class="card-body">
        <div class="notification-item">
            <div class="status">
                <div class="icon">
                    <img src="../../../../../../assets/image/order-complete.png" alt="" srcset="">
                </div>
                <div class="content-noti">
                    <div class="title">Order Complete!</div>
                    <div class="detail">Your order has been completed</div>
                    <div class="time">
                        <span>12-11-2021</span>    
                        <span>17:00</span>    
                    </div>
                </div>
            </div>
            <div class="btn-detail" (click)="goToOrderHistory()">See Detail</div>
        </div>
        <div class="notification-item">
            <div class="status">
                <div class="icon">
                    <img src="../../../../../../assets/image/transfer-success.png" alt="" srcset="">
                </div>
                <div class="content-noti">
                    <div class="title">Transfer Success</div>
                    <div class="detail">The stack wallet transfer was successfully sent to antonsen for $100</div>
                    <div class="time">
                        <span>12-11-2021</span>
                        <span>20:00</span>
                    </div>
                </div>
            </div>
            <div class="btn-detail">See Detail</div>
        </div>
        <div class="notification-item">
            <div class="status">
                <div class="icon">
                    <img src="../../../../../../assets/image/order-complete.png" alt="" srcset="">
                </div>
                <div class="content-noti">
                    <div class="title">Order Complete!</div>
                    <div class="detail">Your order has been completed</div>
                    <div class="time">
                        <span>12-11-2021</span>
                        <span>17:00</span>    
                    </div>
                </div>
            </div>
            <div class="btn-detail">See Detail</div>
        </div>
        <div class="notification-item">
            <div class="status">
                <div class="icon">
                    <img src="../../../../../../assets/image/order-complete.png" alt="" srcset="">
                </div>
                <div class="content-noti">
                    <div class="title">Order Complete!</div>
                    <div class="detail">Your order has been completed</div>
                    <div class="time">
                        <span>12-11-2021</span>    
                        <span>17:00</span>    
                    </div>
                </div>
            </div>
            <div class="btn-detail">See Detail</div>
        </div>
    </div>
</div>