.panel-heading {
    background-image: url(../../../../../../assets/image/banner-settings.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ededed;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .text-header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        margin-left: 24px;
        .panel-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #22232f;
        }
        .panel-subtitle {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #575755;
        }
    }
}

.card-body {
    padding: 16px 24px;
    .notification-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .status {
            display: flex;
            align-items: center;
            .content-noti {
                margin-left: 16px;
                display: flex;
                flex-direction: column;
                .title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 150%;
                    color: #22232f;
                }
                .detail {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                    color: #575755;
                    margin: 3px 0px;
                }
                .time {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                    color: #888884;
                    & > span:nth-child(1) {
                        margin-right: 13px;
                    }
                }
            }
        }
        .btn-detail {
            border: 1px solid #2d5d8c;
            border-radius: 4px;
            padding: 10px 24px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #2d5d8c;
            cursor: pointer;
        }
    }
    .notification-item:not(:last-child) {
        padding-bottom: 16px;
        border-bottom: 1px solid #ededed;
    }
    .notification-item:not(:nth-child(1)) {
        margin-top: 16px;
    }
}
