<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Customer' | localize" [description]="'CustomerSummaryInfo' | localize">
            <div role="actions">
                <button class="btn btn-outline-success" (click)="exportExcel()">
                    <i class="la-file-excel-o-o"></i> {{ l('ExportToExcel') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                            <div class="row mb-6">
                                <div class="col-sm-12 text-right">
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-outline-danger" (click)="sendToNewCustomers()">
                                            {{ l('SendRemindBuyMealPlan') }}
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-outline-danger ml-3"
                                            (click)="sendPromotionCodeToAllCustomer()"
                                        >
                                            {{ l('SendPromotionCodeToAllCustomer') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #customerTable
                                (onLazyLoad)="getAll($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="registrationDate">
                                            {{ l('Registration') }}
                                            <p-sortIcon field="registrationDate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="CustomerName">
                                            {{ l('CustomerName') }}
                                            <p-sortIcon field="customerName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="CustomerEmail">
                                            {{ l('CustomerEmail') }}
                                            <p-sortIcon field="customerEmail"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ActiveMealPlans">
                                            {{ l('ActiveMealPlans') }}
                                            <p-sortIcon field="activeMealPlans"></p-sortIcon>
                                        </th>
                                        <th style="text-align: right" pSortableColumn="TotalSpent">
                                            {{ l('TotalSpent') }}
                                            <p-sortIcon field="totalSpent"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px">{{ l('Actions') }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ 'Registration' | localize }}</span>
                                            {{ record.registrationDate | momentFormat: 'DD-MMM-YYYY' }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ 'CustomerName' | localize }}</span>
                                            {{ record.customerName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ 'CustomerEmail' | localize }}</span>
                                            {{ record.customerEmail }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ 'ActiveMealPlans' | localize }}</span>
                                            {{ record.activeMealPlans }}
                                        </td>
                                        <td style="text-align: right">
                                            <span class="ui-column-title"> {{ 'TotalSpent' | localize }}</span>
                                            {{ appSession.application.currencySign }} {{ record.totalSpent }}
                                        </td>
                                        <td style="width: 130px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item" (click)="openBalancesDetail(record)">
                                                            {{ l('View') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item" (click)="sendPromotionCode(record)">
                                                            {{ l('SendPromotionCode') }}
                                                        </a>
                                                    </li>
                                                    <li *ngIf="!record.totalSpent || record.totalSpent == 0">
                                                        <a href="javascript:;" class="dropdown-item" (click)="sendEmail(record)">
                                                            {{ l('SendRemindBuyMealPlan') }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #customerPaginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="isActive" class="checkbox mr-2">
                    <input [(ngModel)]="isActive" id="isActive" name="isActive" type="checkbox" />
                    {{ l('Is Actived') }}
                    <span></span>
                </label>
            </div>
            <div class="form-group">
                <label for="isNew" class="checkbox mr-2">
                    <input [(ngModel)]="isNew" id="isNew" name="isNew" type="checkbox" />
                    {{ l('Is New') }}
                    <span></span>
                </label>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
