<div class="card mb-1">
    <div class="card-body">
        <h5 class="font-weight-normal mb-3">Edit My Details</h5>
        <form
            role="form"
            #mySettingsModalForm="ngForm" 
            (ngSubmit)="save()"
        >
            <div class="form-row">
                <div class="col col-sm-3">
                    <div class="form-group">
                        <label for="FirstName">{{"FirstName" | localize}} *</label>
                        <input id="FirstName" #firstName="ngModel" class="form-control" type="text" name="firstName" [(ngModel)]="myInfo.name" required maxlength="64">
                        <validation-messages [formCtrl]="firstName"></validation-messages>
                    </div>
                </div>
                <div class="col col-sm-3">
                    <div class="form-group">
                        <label for="LastName">{{"LastName" | localize}} *</label>
                        <input id="LastName" #lastName="ngModel" class="form-control" type="text" name="lastName" [(ngModel)]="myInfo.surname" required maxlength="64">
                        <validation-messages [formCtrl]="lastName"></validation-messages>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="EmailAddress">{{"EmailAddress" | localize}} *</label>
                        <input id="EmailAddress" #emailAddressInput="ngModel" type="email" name="EmailAddress" 
                        [disabled]="true"
                        class="form-control" [(ngModel)]="myInfo.emailAddress" required email maxlength="256">
                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="PhoneNumber">{{"PhoneNumber" | localize}} *</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">+ {{myInfo.callingCode}}</span></div>
                            <input id="PhoneNumber" #phoneNumberInput="ngModel" type="text" class="form-control"
                                [(ngModel)]="myInfo.phoneNumber" name="PhoneNumber" (keypress)="returnOnlyNumber($event)" required maxlength="256">
                        </div>
                        <validation-messages [formCtrl]="phoneNumberInput"></validation-messages>                        
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="WhatAppNo">{{"WhatsAppNumber" | localize}}</label>
                        <input id="WhatAppNo" #WhatAppNo="ngModel" type="text" name="WhatAppNo" 
                        class="form-control" [(ngModel)]="myInfo.whatAppNumber" maxlength="256" (keypress)="returnOnlyNumber($event)">
                        <validation-messages [formCtrl]="WhatAppNo"></validation-messages>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input [(ngModel)]="myInfo.isDisableDailyOrderReminder"  type="checkbox" class="custom-control-input" id="IsDisableDailyOrderReminder" name="IsDisableDailyOrderReminder">
                            <label class="custom-control-label" for="IsDisableDailyOrderReminder">{{l('Disable Daily Order Reminder')}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary" [disabled]="!mySettingsModalForm.form.valid || saving">
                    <i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
            </div>
        </form>
    </div>
</div>






