@import "../../../../assets/scss/mixins";
:host::ng-deep {
    position: relative;
    .order-item-container {
        //border-radius: 10px;
        justify-content: space-between;
        &.active {
            @include border(4px, var(--yellow-2));
        }
        .order-infor {
            .category {
                color: var(--gray-3);
            }
            .name {
                color: var(--black-1);
            }
            .price {
                color: var(--red-1);
                font-size: 14px;
                font-weight: 700;
            }
        }
        &.opened {
            position: relative;
            left: -55px;
            animation-name: open;
            animation-duration: 0.5s;
        }
    }
    .group-buttons {
        position: absolute;
        top: 0;
        right: 15px;
        display: none;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        .circle-btn {
            display: flex;
            flex-shrink: 0;
            @include circle-btn(35px, var(--white-1), var(--black-1), unset);
            .p-button-icon {
                font-size: 0.8rem;
            }
        }
        &.active {
            display: flex;
        }
    }
    @keyframes open {
        from {
            left: 0;
        }
        to {
            left: -55px;
        }
    }
}
