<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('ScreenMenuItem')">
            <div role="actions">
                <button *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Edit')" (click)="showSortModal()"
                    class="btn btn-outline-danger">
                    {{l("Sort Screen Menu Item")}}
                </button>

                <button *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Edit')" (click)="create()"
                    class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {{l("Create Screen Menu Item")}}
                </button>
            </div>
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->


        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!-- Filter Form -->
                    <form class="form" autocomplete="off" (ngSubmit)="search()">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <button (click)="back()" class="btn btn-primary" type="button">
                                    <i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filter.text" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <!-- <span class="input-group-btn">
                                            <button (click)="search()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-flex flex-row justify-content-end align-items-center mb-5">
                            <!-- <button (click)="resetFilter()" type="button" class="btn btn-primary">Refresh</button> -->
                            <button (click)="search()" type="button" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                    <!-- End Filter Form -->

                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable (onLazyLoad)="getMenuItems($event)"
                                    [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col style="width: 130px;" />
                                            <col />
                                            <col />
                                            <col />
                                        </colgroup>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{l('Actions')}}</th>

                                            <th pSortableColumn="name">
                                                {{l('Name')}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>

                                            <th>
                                                {{l('ButtonColor')}}
                                            </th>

                                            <th>
                                                {{l('Tag')}}
                                            </th>

                                            <!-- <th>
                                                {{l('AutoSelect')}}
                                            </th> -->
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td
                                                [hidden]="!isGrantedAny('Pages.Tenant.Connect.Menu.ScreenMenus.Edit', 'Pages.Tenant.Connect.Menu.ScreenMenus.Delete')">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle
                                                        class="dropdown-toggle btn btn-sm btn-primary">
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                        {{"Actions" | localize}}
                                                    </button>

                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Edit')"
                                                                class="dropdown-item"
                                                                (click)="edit(record)">{{l('Edit')}}</a>
                                                        </li>

                                                        <li>
                                                            <a *ngIf="isGranted('Pages.Tenant.Connect.Menu.ScreenMenus.Delete')"
                                                                class="dropdown-item"
                                                                (click)="deleteItem(record)">{{l('Delete')}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                            <td>
                                                <span class="ui-column-title"> {{l('Name')}}</span>
                                                {{record.name}}
                                            </td>

                                            <td>
                                                <span class="ui-column-title"> {{l('ButtonColor')}}</span>
                                                {{record.buttonColor}}
                                            </td>

                                            <td>
                                                <span class="ui-column-title"> {{l('Tag')}}</span>
                                                {{record.subMenuTag}}
                                            </td>

                                            <!-- <td>
                                                <span class="ui-column-title"> {{l('AutoSelect')}}</span>
                                                <span class="label label-success label-inline"
                                                    *ngIf="record.autoSelect">{{'Yes' | localize}}</span>
                                                <span class="label label-dark label-inline"
                                                    *ngIf="!record.autoSelect">{{'No' | localize}}</span>
                                            </td> -->

                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div *ngIf="primengTableHelper.totalRecordsCount === 0" class="primeng-no-data">
                                    {{l('NoData')}}
                                </div>

                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getMenuItems($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>

                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div appBsModal #sortModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    {{l('Sort Screen Menu Item')}}
                </h4>
            </div>

            <div class="modal-body" style="max-height: 80vh;overflow: auto;">
                <div class="d-flex">
                    <div class="flex-fill" dragula="ScreenMenuItem" [(dragulaModel)]="menuItems">
                        <div class="alert alert-primary" *ngFor="let menuItem of menuItems">{{ menuItem.name }}</div>
                    </div>
                </div>
            </div>

            <div class=" modal-footer">
                <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="closeSortModal()">
                    {{l("Cancel")}}
                </button>

                <button type="button" class="btn btn-primary blue" [disabled]="saving" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')" (click)="saveSortMenuItem()">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>

    </div>
</div>