﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #languageDescriptionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span *ngIf="languageDescription.id" style="color: red;">
							{{l("EditLanguageDescription")}}:
							{{languageDescription.name}}</span>
						<span *ngIf="!languageDescription.id"
							style="color: red;">{{l("CreateNewLanguageDescription")}}</span>
						<p>{{name}}</p>
					</h4>

					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<label for="LanguageDescription_LanguageCode">{{l("LanguageName")}}*</label>
						<select #LanguageDescription_LanguageCode="ngModel" id="LanguageDescription_LanguageCode"
							class="form-control" [(ngModel)]="languageDescription.languageCode" name="LanguageCode"
							required>
							<option *ngFor="let item of languages" [value]="item.name">
								{{item.displayName}}
							</option>
						</select>
						<validation-messages [formCtrl]="LanguageDescription_LanguageCode"></validation-messages>
					</div>

					<div class="form-group">
						<label for="LanguageDescription_Name">{{l("Name")}}*</label>
						<input type="text" #LanguageDescription_Name="ngModel" id="LanguageDescription_Name"
							class="form-control" [(ngModel)]="languageDescription.name" name="Name" required />
						<validation-messages [formCtrl]="LanguageDescription_Name"></validation-messages>
					</div>

					<div class="form-group">
						<label for="LanguageDescription_Description">{{l("Description")}}</label>
						<textarea rows="5" #LanguageDescription_Description="ngModel"
							id="LanguageDescription_Description" class="form-control"
							[(ngModel)]="languageDescription.description" name="Description"></textarea>
						<validation-messages [formCtrl]="LanguageDescription_Description"></validation-messages>
					</div>

				</div>
				<div class="modal-footer">
					<button [disabled]="saving" type="button" class="btn btn-default"
						(click)="close()">{{l("Cancel")}}</button>
					<button [disabled]="saving" type="button" class="btn btn-default"
						(click)="clear()">{{l("Clear")}}</button>
					<button type="submit" class="btn btn-primary blue" [disabled]="!languageDescriptionForm.form.valid"
						[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
						<span>{{l("Save")}}</span></button>
					<button type="button" class="btn btn-primary blue" [disabled]="!languageDescriptionForm.form.valid"
						[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="saveAndClose()"><i
							class="fa fa-save"></i>
						<span>{{l("SaveAndClose")}}</span></button>
				</div>
			</form>
			<hr />

			<div class="card-body">
				<form class="form" autocomplete="off">
					<div>
						<div class="row align-items-center">
							<div class="col-xl-12">
								<div class="form-group m-form__group align-items-center">
									<div class="input-group">
										<input [(ngModel)]="filterText" name="filterText" autoFocus
											class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
											type="text">
										<span class="input-group-btn">
											<button (click)="getLanguageDescriptions()" class="btn btn-primary"
												type="submit"><i class="flaticon-search-1"></i></button>
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</form>

				<div class="row align-items-center">
					<!--<Primeng-Datatable-Start>-->
					<div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
						<p-table #dataTable (onLazyLoad)="getLanguageDescriptions($event)"
							[value]="primengTableHelper.records"
							rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
							[scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
							[resizableColumns]="primengTableHelper.resizableColumns">
							<ng-template pTemplate="header">
								<tr>
									<th style="width: 100px">
										{{l('Edit')}}</th>
									<th style="width: 100px">
										{{l('Delete')}}</th>
									<th style="width: 150px">
										{{l('LanguageName')}}</th>
									<th style="width: 150px">
										{{l('Name')}}</th>
									<th style="width: 150px">
										{{l('Description')}}</th>

								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
								<tr>
									<td style="width: 100px">
										<button class="btn btn-sm btn-primary" type="button"
											(click)="editLanguageDescription(record.id)">
											<i class="fa fa-pencil-alt"></i>
										</button>
									</td>
									<td style="width: 100px">
										<button class="btn btn-sm btn-primary" type="button"
											(click)="deleteLanguageDescription(record)">
											<i class="fa fa-trash"></i>
										</button>

									</td>

									<td style="width: 150px">
										{{record.languageCode}}
									</td>
									<td style="width: 150px">
										{{record.name}}
									</td>
									<td style="width: 150px">
										{{record.description}}
									</td>
								</tr>

							</ng-template>
						</p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
							{{l('NoData')}}
						</div>
						<div class="primeng-paging-container">
							<p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
								(onPageChange)="getLanguageDescriptions($event)"
								[totalRecords]="primengTableHelper.totalRecordsCount"
								[rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
								[showCurrentPageReport]="true"
								[currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount">
							</p-paginator>
						</div>
					</div>
					<!--<Primeng-Datatable-End>-->
				</div>
			</div>


		</div>
	</div>

</div>