.table.invoice th,
.table td {
    line-height: 40px !important;
    vertical-align: center !important;
}

@media (max-width: 1024px) {
    .top-kt {
        margin-top: 1vh;
    }
}

@media (min-width: 1025px) {
    .top-kt {
        margin-top: -5vh;
    }
}

.text-number {
    text-align: right;
}

@media (max-width: 640px) {
    .text-number {
        text-align: left;
    }
}

form .form-group input {
    border: 1px solid #ced4da;
}
