
<!-- footer -->
<footer>
    <div>
        <article>
            <!-- social media icons -->
            <div class="mb-2">
                <p class="mb-0">
                    Contact us:
                    <a href="mailto:contact@tiffin.com" target="_blank" class="links-item__link">contact@tiffin.com</a>
                </p>
                <p class="copyright-content mb-0">Tiffin @ NPS International School, 10 Chai Chee Lane, Singapore 469021</p>
            </div>
            <!-- links ends -->
            <div class="d-flex flex-row align-items-center mb-2">
                <a class="copyright-content d-block" href="app/portal/member/term-and-conditions">Terms and Conditions</a>
                <span style="font-size: 12px; color: #545454;">&nbsp;/&nbsp;</span>
                <a class="copyright-content d-block" href="app/portal/member/privacy">Privacy Policy</a>
            </div>
            <!-- copyright -->
            <div class="copyright">
                <p class="copyright-content mb-1">Copyright © 2021 Food Stack Concepts</p>
            </div>
            <!-- copyright ends -->
        </article>
    </div>
</footer>
<!-- foooter ends -->
