<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <article>
            <!-- mobile menu -->
            <div class="logo_ham_btn">
                <div class="d-flex flex-row align-items-center ">
                    <a href="https://wa.me/+6598588841" class="cta-whatsapp">
                        <img src="./assets/static/svg/whatsapp.svg" alt="" />
                    </a>
                    <a [routerLink]="['portal/member/cart-items']" class="nav-link mr-3" routerLinkActive="active-link">
                        <span class="kt-header__topbar-icon kt-header__topbar-icon--brand span__topbar">
                            <div [hidden]="cartProductsCount == 0">
                                <i class="fa fa-shopping-cart text-orange mr-1" aria-hidden="true"></i>
                                <span class="kt-badge kt-badge--primary" style="position: absolute; font-size: 14px;">
                                    {{ cartProductsCount }}
                                </span>
                            </div>
                            <div [hidden]="cartProductsCount > 0">
                                <i class="fa fa-shopping-cart text-orange mr-1" aria-hidden="true"></i>
                            </div>
                        </span>
                    </a>
                </div>
                <a class="navbar-brand" href="./index.html" style="margin-left: -60px;">
                    <img src="assets/static/svg/logo.svg" alt="" />
                </a>
                <button
                    class="navbar-toggler collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                    <span class="navbar-toggler-icon"></span>
                    <span class="hamburger_btn">
                        <span></span>
                    </span>
                </button>
            </div>
            <!-- mobile menu ends -->

            <!-- main menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="collapse" (mouseleave)="mouseLeave()">
                <div class="main_menu">
                    <a class="navbar-brand" href="./index.html">
                        <img src="assets/static/svg/logo.svg" alt="" />
                    </a>
                    <ul class="navbar-nav main_menu-left">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/app/portal/member/menu']" routerLinkActive="active-link">Menu </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/buy-offer']" routerLinkActive="active-link">Meal plans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/aboutUs']" routerLinkActive="active-link">About</a>
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/order']" routerLinkActive="active-link">Order now</a>
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/balance']" routerLinkActive="active-link">Balance</a>
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/profile']" routerLinkActive="active-link">Profile</a>
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/order-history']" routerLinkActive="active-link">Order History </a>
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/payment-history']" routerLinkActive="active-link">Payment History </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/feedback']" routerLinkActive="active-link">Feedback </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/contact']" routerLinkActive="active-link">Contact </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/app/portal/member/faq']" routerLinkActive="active-link">FAQ </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav main_menu-right">
                        <!-- Destop menu start -->
                        <li class="nav-item lg-nav-item">
                            <a [routerLink]="['portal/member/cart-items']" class="nav-link mr-3" routerLinkActive="active-link">
                                <span class="kt-header__topbar-icon kt-header__topbar-icon--brand span__topbar">
                                    <div [hidden]="cartProductsCount == 0">
                                        <i class="fa fa-shopping-cart text-orange mr-1" aria-hidden="true"></i>
                                        <span class="kt-badge kt-badge--primary" style="position: absolute; font-size: 14px;">
                                            {{ cartProductsCount }}
                                        </span>
                                    </div>
                                    <div [hidden]="cartProductsCount > 0">
                                        <i class="fa fa-shopping-cart text-orange mr-1" aria-hidden="true"></i>
                                    </div>
                                </span>
                            </a>
                        </li>

                        <li class="nav-item lg-nav-item">
                            <a class="orange-btn" [routerLink]="['/app/portal/member/order']" routerLinkActive="active-link">Order now</a>
                        </li>
                        <li class="nav-item lg-nav-item">
                            <div class="kt-header__topbar-user">
                                <div class="btn-group kt-header__topbar-username kt-hidden-mobile">
                                    <div class="contact-block ml-3">
                                        <img src="assets/static/svg/whatsapp_yellow.svg" alt="" (click)="openWhatsApp()" />
                                    </div>
                                    <chat-toggle-button></chat-toggle-button>
                                    <div style="width: 200px; white-space: nowrap; overflow: hidden; text-align: right; text-overflow: ellipsis">
                                        <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">{{ userName }}</span>
                                    </div>
                                    <img
                                        id="button-basic"
                                        type="button"
                                        *ngIf="profilePicture"
                                        class="dropdown-toggle nav-link header-profile-picture m--img-rounded m--marginless m--img-centered"
                                        alt="Pic"
                                        [src]="profilePicture"
                                    />
                                </div>
                            </div>
                        </li>
                        <li class="nav-item lg-nav-item dropdown navbar-left">
                            <div class="btn-group kt-header__topbar-username kt-hidden-mobile" dropdown dropdownToggle>
                                <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                    <span class="hamburger_btn">
                                        <span></span>
                                    </span>
                                </button>

                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="button-basic">
                                    <li *ngIf="isGranted('Pages.Tenant.Tiffin.OrderCollected')" role="menuitem"><a class="dropdown-item" [routerLink]="['/app/portal/admin/collect']" routerLinkActive="active-link">Collect</a></li>
                                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/app/portal/member/profile']" routerLinkActive="active-link">Profile</a></li>
                                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/app/portal/member/wallet']" routerLinkActive="active-link">Wallet</a></li>
                                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/app/portal/member/balance']" routerLinkActive="active-link">Balance</a></li>
                                    <li role="menuitem">
                                        <a class="dropdown-item" [routerLink]="['/app/portal/member/order-history']" routerLinkActive="active-link">Order History </a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item" [routerLink]="['/app/portal/member/payment-history']" routerLinkActive="active-link">Payment History </a>
                                    </li>

                                    <li role="menuitem"><hr class="dropdown-divider" /></li>
                                    <li role="menuitem" class="dropdown-item">
                                        <i class="flaticon-logout"></i>
                                        <a (click)="logout()" class="dropdown-item"> <i class="flaticon-logout"></i>&nbsp;{{ 'Logout' | localize }} </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Destop menu end -->
                        <!-- Mobile menu start-->
                        <li class="nav-item mob-nav-item">
                            <a href="javascript:void();" (click)="logout()" class="nav-link"><i class="flaticon-logout"></i>&nbsp;{{ 'Logout' | localize }}</a>
                        </li>
                        <li class="nav-item mob-nav-item">
                            <a href="https://wa.me/+6598588841" class="mob-nav-icons">
                                <img src="assets/static/svg/whatsapp_normal_black.svg" alt="" />
                            </a>
                            <a href="https://www.facebook.com/dabbajunctionsg/" target="_blank" class="mob-nav-icons_">
                                <img src="assets/static/svg/facebook.svg" alt="" />
                            </a>
                            <a href="https://www.instagram.com/dabbajunctionsg/" target="_blank" class="mob-nav-icons">
                                <img src="assets/static/svg/instagram.svg" alt="" />
                            </a>
                        </li>
                        <!-- Mobile menu end-->
                    </ul>
                </div>
            </div>
            <!-- main menu ends -->
        </article>
    </div>
</nav>
