.navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 25px 65px;
    position: relative;
    top: 0;
    background: transparent;

    @media (max-width: 768px){
        margin-left: 0;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 50px;

        .kt-header__topbar-wrapper {
            display: none;
        }
    }
    
}

.nav-item.profile-link {
    @media (max-width: 768px){
        display: block !important;
    }

   display: none !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translate(-140px) !important;
    }
}


.header-profile-picture {
    width: 50px;
    height: 50px;
    padding: 0 !important;
}

.kt-header__topbar-username {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;

    @media (max-width: 992px) {
        display: none;
    }
}

@media (min-width: 992px) {
    .lg-nav-item .navbar-toggler {
        display: block;
        border: none;
    }
}

