::ng-deep .bs-datepicker {
  .bs-datepicker-container.ng-trigger-datepickerAnimation {
      display: none;
  }

  .bs-datepicker-container.ng-trigger-datepickerAnimation.show {
      display: block;
  }
}