<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header
            [title]="!isEdit ? l('CreatePrintTemplateCondition') : l('EditPrintTemplateCondition') + ': ' + printer.name">
        </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset class="tab-container tabbable-line">
                        <!-- Tax -->
                        <tab heading="{{ l('PrintCondition') }}" customClass="kt-tabs__item" tabindex="0"
                            (selectTab)="tabIndex = 0" class="py-5" [active]="tabIndex === 0">
                            <!-- Form -->
                            <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="save()">
                                <input type="submit" hidden />

                                <!-- Name -->
                                <div class="form-group col-md-6">
                                    <label for="printerName">{{ l('Name') }} *</label>
                                    <input #printerName="ngModel" autoFocus [(ngModel)]="printer.name" type="text"
                                        id="printerName" class="form-control" name="printerName" required
                                        maxlength="50" />
                                    <validation-messages [formCtrl]="printerName"></validation-messages>
                                </div>
                            </form>
                            <!-- End Form -->

                            <!-- PrintTemplateConditions -->
                            <div class="row" *ngIf="isEdit">
                                <div class="col-12">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="flex-grow-1">{{ l('PrintTemplateCondition') }}</h6>

                                        <button type="button" class="btn btn-secondary mr-1" (click)="clear()">
                                            <i class="fas fa-eraser"></i>
                                            {{ l('Clear') }}
                                        </button>

                                        <button type="button" class="btn btn-secondary"
                                            (click)="openFilterSelectLocationOrGroup()">
                                            <i class="fas fa-filter"></i>
                                            {{ l('Filter') }}
                                        </button>
                                    </div>

                                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                        <p-table #dataTable [value]="primengTableHelper.records"
                                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                            [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                            (onLazyLoad)="getMappings($event)">
                                            <ng-template pTemplate="colgroup">
                                                <colgroup>
                                                    <col />
                                                    <col />
                                                    <col />
                                                    <col />

                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                    <col style="width: 130px" />
                                                </colgroup>
                                            </ng-template>

                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="AliasName">
                                                        {{ l('AliasName') }}
                                                        <p-sortIcon field="AliasName"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="startDate">
                                                        {{ l('StartDate') }}
                                                        <p-sortIcon field="startDate"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="endDate">
                                                        {{ l('EndDate') }}
                                                        <p-sortIcon field="endDate"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="contents">
                                                        {{ l('Contents') }}
                                                        <p-sortIcon field="contents"></p-sortIcon>
                                                    </th>

                                                    <th>{{ l('View') }}</th>
                                                    <th>{{ l('Edit') }}</th>
                                                    <th>{{ l('Delete') }}</th>
                                                    <th>{{ l('Clone') }}</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('AliasName') }}</span>
                                                        {{ record.aliasName }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('StartDate') }}</span>
                                                        {{ record.startDate | momentFormat: 'L' }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('EndDate') }}</span>
                                                        {{ record.endDate | momentFormat: 'L' }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('Contents') }}</span>
                                                        {{ record.contents }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('View') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="viewMapping(record)">
                                                            <i class="fas fa-eye"></i>{{ l('View') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Edit') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="editMapping(record)">
                                                            <i class="flaticon-edit"></i>{{ l('Edit') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Delete') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="deleteMapping(record)">
                                                            <i class="fa fa-trash"></i>
                                                            {{ l('Delete') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Delete') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="cloneMapping(record)">
                                                            <i class="flaticon2-copy"></i>
                                                            {{ l('Clone') }}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>

                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ l('NoData') }}
                                        </div>

                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator (onPageChange)="getMappings($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>

                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End PrintTemplateConditions -->
                        </tab>

                        <tab *ngIf="isEdit" heading="{{ l('PrintTemplateConditionMapping') }}"
                            customClass="kt-tabs__item" tabindex="0" (selectTab)="tabIndex = 1" class="py-5"
                            [active]="tabIndex === 1">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="mb-5">{{ isEditMapping ? l('Edit') : l('Add') }} {{
                                        l('PrintTemplateConditionBasedOnLocations') }}</h6>
                                </div>
                            </div>

                            <div class="row">
                                <tabset class="tab-container tabbable-line col-12">
                                    <tab heading="{{ l('General') }}" customClass="kt-tabs__item" tabindex="0"
                                        (selectTab)="mappingTabIndex = 0" [active]="mappingTabIndex === 0">
                                        <form #mappingForm="ngForm" novalidate class="pt-5">
                                            <input type="submit" hidden />
                                            <div class="row">
                                                <div class="col-md-6 d-flex">
                                                    <div class="form-group w-50">
                                                        <label for="AliasName"> {{ l('AliasName') }} </label>
                                                        <input type="text" id="AliasName" name="AliasName"
                                                            class="form-control" [(ngModel)]="mapping.aliasName"
                                                            #aliasName="ngModel" />
                                                        <validation-messages [formCtrl]="aliasName">
                                                        </validation-messages>
                                                    </div>
                                                    <div class="w-50 m-auto">
                                                        <button type="button" (click)="openSelectLocationOrGroup()"
                                                            class="btn btn-outline-success pull-right">
                                                            <span>{{ l('SelectLocation') }}</span>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="mappingDateRange">{{ l('DateRange') }}</label>
                                                    <input class="form-control" id="mappingDateRange"
                                                        name="mappingDateRange" #drp="bsDaterangepicker"
                                                        bsDaterangepicker dateRangePickerMomentModifier
                                                        [(date)]="dateRange" [minDate]="minDate"
                                                        [bsConfig]="{ rangeInputFormat: 'YYYY-MM-DD',dateInputFormat: 'YYYY-MM-DD', ranges: ranges }"
                                                        [placeholder]="l('DateRange')"
                                                        (onShown)="shownDateRangePicker()" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label for="mappingContents">{{ l('Contents') }} *</label>
                                                    <textarea [(ngModel)]="mapping.contents" id="mappingContents"
                                                        type="text" name="mappingContents" #mappingContents="ngModel"
                                                        class="form-control" rows="5" required></textarea>
                                                    <validation-messages [formCtrl]="mappingContents">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                        </form>
                                    </tab>

                                    <tab heading="{{ l('Schedules') }}" customClass="kt-tabs__item" tabindex="1"
                                        (selectTab)="mappingTabIndex = 1" [active]="mappingTabIndex === 1" class="pt-5">
                                        <div class="row">
                                            <div class="col-md-4 d-inline-flex">
                                                <div class="form-group mr-5">
                                                    <label for="PromotionSchedule_StartTime">{{ l('StartTime')
                                                        }}</label>
                                                    <timepicker [(ngModel)]="startTime" [max]="endTime"
                                                        [showMeridian]="false" name="StartTime"
                                                        #promotionSchedule_StartTime="ngModel">
                                                    </timepicker>
                                                </div>
                                                <div class="form-group">
                                                    <label for="PromotionSchedule_EndTime">{{ l('EndTime') }}</label>
                                                    <timepicker [(ngModel)]="endTime" [min]="startTime"
                                                        [showMeridian]="false" name="EndTime"
                                                        #promotionSchedule_EndTime="ngModel">
                                                    </timepicker>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <p-multiSelect [filter]="true" [style]="{ width: '100%' }"
                                                        id="daysOfWeek" [options]="days" name="daysOfWeek"
                                                        [(ngModel)]="dayOfWeek" optionLabel="displayText"
                                                        [defaultLabel]="l('DayOfWeek')">
                                                    </p-multiSelect>
                                                </div>

                                                <div class="form-group">
                                                    <p-multiSelect [filter]="true" [style]="{ width: '100%' }"
                                                        id="monthSchedules" [options]="months" name="monthSchedules"
                                                        [(ngModel)]="monthSchedules" optionLabel="displayText"
                                                        [defaultLabel]="l('Month')">
                                                    </p-multiSelect>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary text-uppercase"
                                                    (click)="addSchedule()" [disabled]="!startTime || !endTime">
                                                    {{ l('Add') }}
                                                </button>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="table-scrollable table-scrollable-borderless">
                                                    <table class="table table-hover table-light">
                                                        <colgroup>
                                                            <col style="width: 25%" />
                                                            <col style="width: 25%" />
                                                            <col style="width: 25%" />
                                                            <col style="width: 25%" />
                                                            <col style="width: 150px" />
                                                        </colgroup>

                                                        <thead>
                                                            <tr>
                                                                <th>{{ l('StartTime') }}</th>
                                                                <th>{{ l('EndTime') }}</th>
                                                                <th>{{ l('Days') }}</th>
                                                                <th>{{ l('Months') }}</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tr
                                                            *ngFor="let m of mapping.conditionScheduleList; let index = index">
                                                            <td style="width: 150px">{{ m.startHour }}:{{ m.startMinute
                                                                }}</td>
                                                            <td style="width: 150px">{{ m.endHour }}:{{ m.endMinute }}
                                                            </td>
                                                            <td style="width: 150px">
                                                                {{ m.dayNames }}
                                                            </td>
                                                            <td style="width: 150px">
                                                                {{ m.monthDays }}
                                                            </td>
                                                            <td style="width: 100px">
                                                                <button type="button"
                                                                    class="btn-secondary btn text-uppercase"
                                                                    (click)="removeSchedule(index)">
                                                                    {{ l('Remove') }}
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>

                                    <tab heading="{{ l('Conditions') }}" customClass="kt-tabs__item" tabindex="2"
                                        (selectTab)="mappingTabIndex = 2" class="pt-5" [active]="mappingTabIndex === 2">
                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <query-builder [(ngModel)]="query" [config]="config" name="Conditions">
                                                </query-builder>
                                            </div>

                                            <div class="col-md-12 mb-2">
                                                <button class="btn btn-danger text-uppercase" type="button"
                                                    (click)="isShowConditionJson = !isShowConditionJson">
                                                    <span *ngIf="!isShowConditionJson">{{ l('Show') }}</span>
                                                    <span *ngIf="isShowConditionJson">{{ l('Hide') }}</span>
                                                </button>
                                            </div>

                                            <div *ngIf="isShowConditionJson" class="col-md-12 mb-2">
                                                <textarea readonly class="form-control edited"
                                                    rows="10">{{ query | json }}</textarea>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid"
                                    [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="saveMapping()">
                                    <i class="fa fa-save"></i>
                                    <span>{{ l('Add') }}</span>
                                </button>
                            </div>
                        </tab>
                    </tabset>

                    <div *ngIf="tabIndex == 0" class="modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{ l('Cancel') }}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SelectLocationOrGroup -->
    <select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

    <select-location-or-group #filterSelectLocationOrGroup (locationAdded)="setFilterLocations($event)">
    </select-location-or-group>
    <!-- End SelectLocationOrGroup -->
</div>
