<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('PrintConditions')" [description]="l('PrintConditionsHeaderInfo')">
            <div role="actions">
                <label for="filterIsDeleted" class="checkbox" style="margin-right: 5px;">
                    <input [(ngModel)]="isDeleted" id="filterIsDeleted" name="filterIsDeleted" type="checkbox"
                        (change)="getAll()">
                    {{l("Deleted")}}
                    <span></span>
                </label>

                <button class="btn btn-outline-success" (click)="exportToExcel()" [disabled]="exporting"
                    [buttonBusy]="exporting" [busyText]="l('ExportingWithThreeDot')">
                    <i class="fas fa-file-excel"></i>
                    {{l("Export")}}
                </button>

                <button *ngIf="isGranted('Pages.Tenant.Connect.Print.PrintConditions.Create')"
                    (click)="createOrUpdateItem()" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {{l("CreatePrintCondition")}}
                </button>
            </div>
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->


        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!-- Filter Form -->
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center mb-3">
                            <div class="col-12">
                                <div class="input-group">
                                    <input autoFocus [(ngModel)]="filterText" name="filterText"
                                        class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                        type="text">
                                    <span class="input-group-btn">
                                        <button (click)="search()" class="btn btn-primary" type="submit"><i
                                                class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex">
                                    <button class="btn btn-primary" type="button"
                                        (click)="openFilterSelectLocationsModal()">
                                        {{ l('LocationOrGroup') }}
                                        <span *ngIf="getLocationsSelected(locationOrGroup)">:
                                            {{getLocationsSelected(locationOrGroup)}}</span>
                                    </button>

                                    <div class="flex-fill"></div>

                                    <button type="button" class="btn btn-primary" (click)="resetFilter()">
                                        {{l("Reset")}}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{l("Search")}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <!-- End Filter Form -->

                    <div class="row align-items-center">`
                        <div class="col-12">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col style="width: 130px;" />
                                            <col style="width: 50%;" />
                                            <col style="width: 50%;" />
                                        </colgroup>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{l('Actions')}}</th>

                                            <th pSortableColumn="name">
                                                {{l('Name')}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>

                                            <th pSortableColumn="creationTime">
                                                {{l('CreationTime')}}
                                                <p-sortIcon field="creationTime"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td
                                                [hidden]="!isGrantedAny('Pages.Tenant.Connect.Print.PrintConditions.Edit', 'Pages.Tenant.Connect.Print.PrintConditions.Delete')">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle
                                                        class="dropdown-toggle btn btn-sm btn-primary">
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                        {{"Actions" | localize}}
                                                    </button>

                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Print.PrintConditions.Edit')"
                                                                class="dropdown-item"
                                                                (click)="createOrUpdateItem(record.id)">{{l('Edit')}}</a>
                                                        </li>

                                                        <li>
                                                            <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Print.PrintConditions.Delete')"
                                                                class="dropdown-item"
                                                                (click)="deleteItem(record)">{{l('Delete')}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" class="dropdown-item"
                                                                *ngIf="isDeleted && permission.isGranted('Pages.Tenant.Connect.Print.PrintConditions.Edit')"
                                                                (click)="activateItem(record)">{{l('Revert')}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                            <td>{{record.name}}</td>
                                            <td>{{record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div *ngIf="primengTableHelper.totalRecordsCount === 0" class="primeng-no-data">
                                    {{l('NoData')}}
                                </div>

                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getAll($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>

                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setFilterLocations($event)">
</select-location-or-group>