<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header *ngIf="!cliqueMealTimeInputDto.id" [title]="l('Create Clique Meal Time')"> </sub-header>
        <sub-header *ngIf="cliqueMealTimeInputDto.id" [title]="l('Edit') + ': ' + cliqueMealTimeInputDto.name"> </sub-header>
        <div *ngIf="cliqueMealTimeInputDto" [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #locationForm="ngForm" novalidate class="form" (ngSubmit)="save()">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{ l('BasicInformation') }}" customClass="kt-tabs__item" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="required-field font-weight-bolder" for="code">{{ l('Code')
                                                }}</label>
                                            <input id="code" type="code" name="code" class="w-100" inputClass="w-100" 
                                            [(ngModel)]="cliqueMealTimeInputDto.code" #locationCode="ngModel" class="form-control" required placeholder="Code"/>
                                            <validation-messages [formCtrl]="locationCode"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="required-field font-weight-bolder" for="name">{{ l('Name')
                                                }}</label>
                                            <input id="name" type="text" name="name" class="form-control" 
                                            [(ngModel)]="cliqueMealTimeInputDto.name" #locationName="ngModel" required placeholder="Name"/>
                                            <validation-messages [formCtrl]="locationName"></validation-messages>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <div class="modal-footer">
                                <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                                <button class="btn btn-primary blue" type="submit" [buttonBusy]="saving" [disabled]="!locationForm.form.valid" [busyText]="l('SavingWithThreeDot')">
                                    <span>{{ l('Save') }}</span>
                                </button>
                            </div>
                        </tabset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>