<div appBsModal #modal="bs-modal" class="modal fade" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    <span>{{l('Select Location')}}</span>
                </h5>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate (ngSubmit)="getLocationToAdd()" autocomplete="off">
                    <div class="input-group margin-bottom-10">
                        <div class="has-search w-100">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input [(ngModel)]="filterTextForUserTable" name="filterText" autoFocus
                                class="form-control m-input form-control-solid"
                                (ngModelChange)="getLocationToAdd()"
                                [placeholder]="l('SearchWithThreeDot')" type="text">
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading" [hidden]="!tagId">
                        <p-table #addLocationToTagDataTable (onLazyLoad)="getLocationToAdd($event)"
                            [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive" [(selection)]="selectedLocations"
                            selectionMode="multiple">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:150px">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="code">
                                        {{l('Code')}}
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width: 150px">
                                        <p-tableCheckbox [value]="record"></p-tableCheckbox>
                                    </td>
                                    <td>
                                        {{record.name}}
                                    </td>
                                    <td>
                                        {{record.code}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                #addLocationToTagPaginator (onPageChange)="getLocationToAdd($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
                <button class="btn btn-primary" (click)="addLocationToTag()">
                    <i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
