<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="locationTag.id">{{l("Edit")}}: {{locationTag.name}}</span>
                        <span *ngIf="!locationTag.id">{{l("NewLocationTag")}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="LocationTag_Code" class="required-field">{{l("Code")}}</label>
                        <input type="text" id="LocationTag_Code" class="form-control" [(ngModel)]="locationTag.code"
                            name="Code" required #LocationTag_Code="ngModel" />
                        <validation-messages [formCtrl]="LocationTag_Code"></validation-messages>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="LocationTag_Name" class="required-field">{{l("Name")}} </label>
                        <input type="text" id="LocationTag_Name" class="form-control" [(ngModel)]="locationTag.name"
                            name="Name" required #LocationTag_Name="ngModel" maxlength="128">
                        <validation-messages [formCtrl]="LocationTag_Name"></validation-messages>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
