<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h4 class="card-label">
                {{l("LocationTag")}}: {{tag?.name}}
            </h4>
        </div>
        <div class="card-toolbar">
            <button *ngIf="isGranted('Pages.Tenant.Connect.Location.LocationTags.Edit') && tag" (click)="openAddModal()"
                class="btn btn-primary">
                 {{l("Add Location")}}
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading" [hidden]="!tag">
                        <p-table #locationInTagTable (onLazyLoad)="getLocationsInTag($event)"
                            [value]="primengTableHelper.records" [paginator]="false" [lazy]="true" scrollable="false"
                            responsive="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="code" style="width:150px">
                                        {{l('Code')}}
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="name" style="width:150px">
                                        {{l('Name')}}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width:80px" class="text-center">
                                        {{l('Delete')}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width:150px">
                                        {{record.code}}
                                    </td>
                                    <td style="width:150px">
                                        {{record.name}}
                                    </td>
                                    <td style="width:80px" class="text-center">
                                        <button class="btn btn-outline-danger btn-sm btn-icon"
                                            (click)="removeLocationFromTag(record.id)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #locationInTagPaginator
                                (onPageChange)="getLocationsInTag($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
</div>

<add-location-to-tag-modal #addLocationModal (locationAdded)="getLocationsInTag($event)"></add-location-to-tag-modal>
