<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="!screenMenu.id ? l('CreateScreenMenu') : (l('EditScreenMenu') + ': ' + screenMenu.name)">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #terminalForm="ngForm" novalidate class="form terminal-form" (ngSubmit)="save()">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Name">{{ "Name" | localize }} *</label>
                                <input id="Name" #nameInput="ngModel" type="text" name="Name" class="form-control"
                                    [ngClass]="{ edited: screenMenu.name }" [(ngModel)]="screenMenu.name" required />
                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Description">{{ "Description" | localize }} *</label>
                                <input id="Description" #descriptionInput="ngModel" type="text" name="Description"
                                    class="form-control" [ngClass]="{ edited: screenMenu.description }"
                                    [(ngModel)]="screenMenu.description" />
                                <validation-messages [formCtrl]="descriptionInput"></validation-messages>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group col-md-6">
                                    <div class="checkbox-list">
                                        <label for="CreateOrEditScreenMenu_Published" class="checkbox">
                                            <input id="CreateOrEditScreenMenu_Published" type="checkbox" name="Published"
                                                [(ngModel)]="screenMenu.published" />
                                            {{ "Published" | localize }}
                                            <span></span>
                                        </label>
                                    </div>
                            </div>
                        </div>
               

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!terminalForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l("Save") }}</span>
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>