<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="
                !item.id
                    ? l('CreateNewWheelScreenMenuItem')
                    : l('EditWheelScreenMenuItem') + ': ' + item.name
            " [description]="'' | localize">
            <div role="actions">
                <toggle id="Published" name="Published" [(ngModel)]="item.published" #publishedInput="ngModel"></toggle>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #terminalForm="ngForm" novalidate class="kt-form terminal-form" (ngSubmit)="save()">

                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{l('General')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                <div>
                                    <div class="row">

                                        <div class="form-group col-md-6">
                                            <label for="Name">{{ "Name" | localize }} *</label>
                                            <input id="Name" #nameInput="ngModel" type="text" name="Name"
                                                class="form-control" [ngClass]="{ edited: item.name }"
                                                [(ngModel)]="item.name" required />
                                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="MenuItem">{{
                                                        "MenuItem" | localize
                                                        }} *</label><br />
                                                    <button type="button" class="btn btn-primary btn-lg"
                                                        aria-haspopup="true" aria-expanded="false"
                                                        id="dropdownMenuButton" (click)="openSelectionPricePopup()">
                                                        {{
                                                        selectedItemName
                                                        ? selectedItemName
                                                        : ("Choose MenuItem" | localize)
                                                        }}
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="SubCategory">Sub Category</label>
                                            <input id="SubCategory" #descriptionInput="ngModel" type="text"
                                                name="SubCategory" class="form-control" [ngClass]="{
                                                edited: item.subCategory
                                            }" [(ngModel)]="item.subCategory" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Description">{{
                                                "Description" | localize
                                                }}</label>
                                            <textarea id="Description" class="form-control edited" rows="4"
                                                [(ngModel)]="item.description" name="Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row form-import-img">
                                        <div class="form-group col-md-6">
                                            <label for="Image">{{
                                                "Image" | localize
                                                }}</label>
                                            <div style="width: 300px; height: 300px">
                                                <app-image-cropper [uploadUrl]="uploadUrl" [width]="widthImage"
                                                    [height]="heightImage" id="image"
                                                    acceptedFiles="image/png,image/jpeg" name="image"
                                                    [(ngModel)]="item.image">
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                    <h6>{{ "DropFileHere" | localize }}</h6>
                                                    <p class="image-section-request-image-instructions">
                                                        {{ "SelectImage" | localize }}
                                                    </p>
                                                </app-image-cropper>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Video">{{
                                                "Video" | localize
                                                }}</label>
                                            <div style="width: 300px; height: 300px">
                                                <dropzone id="video" acceptedFiles="video/mp4" name="video"
                                                    [(ngModel)]="item.video" [type]="'video'">
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                    <h6>
                                                        {{ "DropVideoHere" | localize }}
                                                    </h6>
                                                    <p class="image-section-request-image-instructions">
                                                        {{ "SelectVideo" | localize }}
                                                    </p>
                                                </dropzone>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{l('Timings')}}" customClass="kt-tabs__item" tabindex="1" class="p-5">
                                <app-whell-screen-menu-timing-setting #timingSettingForm>
                                </app-whell-screen-menu-timing-setting>
                            </tab>
                            <tab heading="{{l('Tags')}}" customClass="kt-tabs__item" tabindex="2" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="CreateOrEditScreenMenuItem_MarkAsNew" class="checkbox">
                                                    <input id="CreateOrEditScreenMenuItem_MarkAsNew" type="checkbox"
                                                        name="MarkAsNew" [(ngModel)]="item.markAsNew" />
                                                    {{ "MarkAsNew" | localize }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="CreateOrEditScreenMenu_MarkAsSignature" class="checkbox">
                                                    {{ "MarkAsSignature" | localize }}
                                                    <input id="CreateOrEditScreenMenu_MarkAsSignature" type="checkbox"
                                                        name="MarkAsSignature" [(ngModel)]="
                                                    item.markAsSignature
                                                " />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" *ngFor="let tag of menuItemTags">
                                        <div class="form-group">
                                            <div class="checkbox-list-markItem">
                                                <p-checkbox name="tags" value="{{tag.value}}" label="{{tag.value}}"
                                                    [(ngModel)]="selectedTags"></p-checkbox>
                                            </div>
                                            <img [src]="tag.src" alt="No Image" class="img_icon">
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{l('Others')}}" customClass="kt-tabs__item" tabindex="3" class="p-5">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="PreparationTime">{{
                                                "PreparationTime" | localize
                                                }}</label>
                                            <div class="input-group">
                                                <input id="PreperationTime" #descriptionInput="ngModel" type="number"
                                                    name="PreperationTime" class="form-control" [ngClass]="{
                                                edited: item.preperationTime
                                            }" [(ngModel)]="item.preperationTime" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">{{
                                                        "min" | localize
                                                        }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group d-flex col-md-6 align-items-center">
                                        <label class="w-50" for="DisplayNutritionFacts">
                                            {{"DisplayNutritionFacts" |localize}}
                                        </label>
                                        <toggle id="DisplayNutritionFacts" name="DisplayNutritionFacts"
                                            [(ngModel)]="item.displayNutritionFacts"
                                            #displayNutritionFactsInput="ngModel">
                                        </toggle>
                                    </div>
                                    <div class="form-group d-flex col-md-6 align-items-center">
                                        <label class="w-50" for="AllowPreOrder">{{"AllowPreOrder" | localize}}</label>
                                        <toggle id="AllowPreOrder" name="AllowPreOrder" [(ngModel)]="item.allowPreOrder"
                                            #AllowPreOrderInput="ngModel">
                                        </toggle>
                                    </div>
                                </div>

                            </tab>

                        </tabset>

                    </form>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" (click)="save()" class="btn btn-primary blue"
                        [disabled]="!terminalForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <select-popup #selectMenuItemPopupModal [headers]="['Name']" [dataBinding]="['name']"
        [loadData]="getMenuItemSelection()" (changeValue)="selectItem($event)" selectionMode="single"
        [selectedValue]="selectedPrice" [title]="l('MenuItem')"></select-popup>
</div>
