<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="!section.id ? l('CreateNewWheelScreenMenuSection') : (l('EditWheelScreenMenuSection') + ': ' + section.name)">
            <div role="actions">
                <toggle id="Published" name="Published" [(ngModel)]="section.published" #publishedInput="ngModel">
                </toggle>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #terminalForm="ngForm" novalidate class="form terminal-form" (ngSubmit)="save()">

                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{l('General')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="Name">{{ "Name" | localize }} *</label>
                                        <input id="Name" #nameInput="ngModel" type="text" name="Name"
                                            class="form-control" [ngClass]="{ edited: section.name }"
                                            [(ngModel)]="section.name" required />
                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="Description">{{
                                            "Description" | localize
                                            }}</label>
                                        <input id="Description" #descriptionInput="ngModel" type="text"
                                            name="Description" class="form-control" [ngClass]="{
                                                edited: section.description
                                            }" [(ngModel)]="section.description" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="Description">{{
                                            "Note" | localize
                                            }}</label>
                                        <input id="Note" #noteInput="ngModel" type="text" name="Note"
                                            class="form-control" [ngClass]="{
                                                edited: section.note
                                            }" [(ngModel)]="section.note" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="Image">{{
                                            "Image" | localize
                                            }}</label>
                                        <div style="width: 300px; height: 300px">
                                            <app-image-cropper [uploadUrl]="uploadUrl" [width]="widthImage" [height]="heightImage"
                                                id="image" acceptedFiles="image/png,image/jpeg" name="image" [(ngModel)]="section.image">
                                                <i class="fas fa-cloud-upload-alt"></i>
                                                <h6>{{ "DropFileHere" | localize }}</h6>
                                                <p class="image-section-request-image-instructions">
                                                    {{ "SelectImage" | localize }}
                                                </p>
                                            </app-image-cropper>
                                        </div>
                                    </div>

                                </div>
                            </tab>
                            <tab heading="{{l('Timings')}}" customClass="kt-tabs__item" tabindex="1" class="p-5">
                                <app-whell-screen-menu-timing-setting #timingSettingForm></app-whell-screen-menu-timing-setting>
                            </tab>
                            <tab heading="{{l('Tags')}}" customClass="kt-tabs__item" tabindex="2" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="CreateOrEditScreenMenuItem_MarkAsNew" class="checkbox">
                                                    <input id="CreateOrEditScreenMenuItem_MarkAsNew" type="checkbox"
                                                        name="MarkAsNew" [(ngModel)]="
                                                            section.markAsNew
                                                        " />
                                                    {{ "MarkAsNew" | localize }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="CreateOrEditScreenMenu_MarkAsSignature" class="checkbox">
                                                    <input id="CreateOrEditScreenMenu_MarkAsSignature" type="checkbox"
                                                        name="MarkAsSignature" [(ngModel)]="
                                                            section.markAsSignature
                                                        " />
                                                    {{ "MarkAsSignature" | localize }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="{{l('Others')}}" customClass="kt-tabs__item" tabindex="3" class="p-5">
                                

                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <label for="WheelScreenMenuSection_DisplayAs">{{
                                            "DisplayAs" | localize
                                            }}</label>
                                        <select id="WheelScreenMenuSection_DisplayAs"
                                            name="WheelScreenMenuSection_DisplayAs" class="form-control"
                                            [(ngModel)]="section.displayAs" #wheelScreenMenuSection_DisplayAs="ngModel">
                                            <option *ngFor="let displayAs of displayAsOption" [value]="displayAs.value">
                                                {{ displayAs.displayText }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="WheelScreenMenuSection_NumberOfColumn">{{ "NumberOfColumn" |
                                            localize }}</label>
                                        <select id="WheelScreenMenuSection_NumberOfColumn"
                                            name="WheelScreenMenuSection_NumberOfColumn" class="form-control"
                                            [(ngModel)]="section.numberOfColumns"
                                            #wheelScreenMenuSection_NumberOfColumn="ngModel">
                                            <option *ngFor="let numberOfColumn of numberOfColumnOption"
                                                [value]="numberOfColumn.value">
                                                {{ numberOfColumn.displayText }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group d-flex align-items-center">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <label for="HideGridTitles">{{
                                            "HideGridTitles" | localize
                                            }}</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <toggle id="HideGridTitles" name="HideGridTitles"
                                            [(ngModel)]="section.hideGridTitles" #hideGridTitlesInput="ngModel">
                                        </toggle>
                                    </div>
                                </div>
                            </tab>
                        </tabset>



                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                (click)="close()">
                                {{ l("Cancel") }}
                            </button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!terminalForm.form.valid"
                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i>
                                <span>{{ l("Save") }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>