dropzone {
    i {
        display: inline-block;
        padding-top: 40px;
        font-size: 5em;
        color: #979797;
    }
}   
app-image-cropper {
    i {
        display: inline-block;
        padding-top: 40px;
        font-size: 5em;
        color: #979797;
    }
}
.checkbox-list-markItem{
    display: inline;
}
.img_icon{
    margin-left: 10px;
    width: 20px;
}
.form-import-img{
    padding-bottom: 2rem;
}
