<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'WheelScreenMenu' | localize">
            <div role="breadcrumbs" class="d-flex">
                <div *ngIf="listSection && listSection.length > 0"
                    class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                <ul *ngIf="listSection && listSection.length > 0"
                    class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item" *ngFor="let breadcrumbItem of listSection; let index = index">
                        <a *ngIf="index !== listSection.length - 1" style="cursor: pointer" (click)="gotoSection(index)"
                            class="text-muted">
                            {{ breadcrumbItem.sectionName }}
                        </a>
                        <span *ngIf="index === listSection.length - 1" class="text-muted">{{ breadcrumbItem.sectionName
                            }}</span>
                    </li>
                </ul>
            </div>
            <div role="actions">
                <button class="btn btn-outline-secondary" type="button" (click)="openSelectionMenuSreenCategoryPopup()">
                    {{ 'Import' | localize }}
                </button>

                <button *ngIf="isCategory && isGranted('Pages.WheelScreenMenus.Create')" (click)="createOrEditSection()"
                    class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>{{ 'AddSection' | localize }}
                </button>

                <button *ngIf="!isCategory && isGranted('Pages.WheelScreenMenus.Create')" (click)="createOrEditItem()"
                    class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>{{ 'AddItem' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filter" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text" />
                                            <span class="input-group-btn">
                                                <button (click)="search()" class="btn btn-primary" type="submit">
                                                    <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <form #terminalForm="ngForm" novalidate class="form terminal-form w-100"
                            (ngSubmit)="save(terminalForm.valid)">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Name">{{ 'Name' | localize }} *</label>
                                        <input id="Name" #nameInput="ngModel" type="text" name="Name"
                                            class="form-control" [ngClass]="{ edited: item.name }"
                                            [(ngModel)]="item.name" required (blur)="save(terminalForm.form.valid)"
                                            [disabled]="!('Pages.WheelScreenMenus.Edit' | permission)" />
                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Description">{{ 'Description' | localize }}</label>

                                        <input id="Description" #descriptionInput="ngModel" type="text"
                                            name="Description" (blur)="save(true)" class="form-control" [ngClass]="{
                                                edited: item.description
                                            }" [(ngModel)]="item.description"
                                            [disabled]="!('Pages.WheelScreenMenus.Edit' | permission)" />
                                    </div>
                                </div>
                            </div>

                            <div class="sortable">
                                <ng-container cdkDropListGroup>
                                    <div cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()"
                                        #placeholder></div>
                                    <div cdkDropList class="ng-trigger ng-trigger-animate"
                                        *ngFor="let screenMenuItem of screenMenuItems"
                                        [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()" cdkDrag>
                                        <div cdkDrag class="card">
                                            <div class="card-image">
                                                <i *ngIf="!screenMenuItem.image" class="la la-cutlery"></i>
                                                <img *ngIf="screenMenuItem.image" [src]="screenMenuItem.image" />
                                            </div>
                                            <div class="card-overlay">
                                                <div class="dropdown" dropdown>
                                                    <a dropdownToggle data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id="dropdownMenuButton" dropdownToggle
                                                        class="btn btn-secondary btn-circle btn-outline btn-icon">
                                                        <i _ngcontent-c5="" class="la la-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                                        *dropdownMenu>
                                                        <a *ngIf="'Pages.WheelScreenMenus.Delete' | permission"
                                                            class="dropdown-item" (click)="delete(screenMenuItem)">
                                                            <span class="menu-text">{{ 'Delete' | localize }}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-title">
                                                <toggle class="toggle-switch"
                                                    style="right: 0px; float: right; text-align: right; cursor: pointer"
                                                    [name]="screenMenuItem.id + '_Published'"
                                                    [(ngModel)]="screenMenuItem.published"
                                                    (ngModelChange)="updatePublish(screenMenuItem.id, $event, screenMenuItem.type)">
                                                </toggle>
                                                <b>{{ screenMenuItem.name }}</b>

                                            </div>
                                            <div class="card-hover">
                                                <div class="row">
                                                    <button *ngIf="screenMenuItem.type === typeSection"
                                                        class="btn btn-pill btn-danger btn-block m-btn--air"
                                                        type="button"
                                                        (click)="enterSection(screenMenuItem.id, screenMenuItem.name)">
                                                        {{ 'Enter' | localize }}
                                                    </button>
                                                    <button *ngIf="screenMenuItem.type === typeSection"
                                                        class="btn btn-pill btn-warning btn-block m-btn--air"
                                                        type="button" (click)="createOrEditSection(screenMenuItem.id)">
                                                        {{ 'Edit' | localize }}
                                                    </button>
                                                    <button *ngIf="
                                                            screenMenuItem.type === typeItem && ('Pages.WheelScreenMenus.Edit' | permission)
                                                        " class="btn btn-pill btn-danger btn-block m-btn--air"
                                                        type="button"
                                                        (click)="createOrEditItem(screenMenuItem.id, screenMenuItem.type)">
                                                        {{ 'Edit' | localize }}
                                                    </button>
                                                    <button *ngIf="screenMenuItem.type === typeCombo"
                                                        class="btn btn-pill btn-danger btn-block m-btn--air"
                                                        type="button"
                                                        (click)="createOrEditItem(screenMenuItem.id, screenMenuItem.type)">
                                                        {{ 'Edit' | localize }}
                                                    </button>
                                                </div>
                                            </div>

                                            <div *cdkDragPreview>
                                                <div class="card-preview">
                                                    <b>{{ screenMenuItem.name }}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<select-popup #selectScreenMenuCategoryPopupModal [headers]="['Name']" [dataBinding]="['name']"
    [loadData]="getScreenMenuForImport()" (changeValue)="importScreenMenuItems($event)" selectionMode="single"
    [selectedValue]="selectedSreenMenuCategory" [title]="l('SceenMenuCategory')"></select-popup>
