.sortable {
    display: flex;
    flex-wrap: wrap;

    .card {
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        padding: 10px;
        margin: 5px;
        cursor: move;
        z-index: 5 !important;
        border: 1px solid #ecf0f3 !important;

        .card-title {
            margin-bottom: 0;
            padding: 5px 5px 0;
            min-height: 80px;
        }
        .card-title-right {
            margin-bottom: 0;
            padding: 5px 5px 0;
            min-height: 80px;
            text-align: right;
        }
        .card-image {
            overflow: hidden;
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: #efeff3;
            border-radius: 5px;

            i {
                font-size: 7rem;
                opacity: 0.8;
                padding: 20% 0;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .card-overlay {
            position: absolute;
            right: 5px;
            padding: 5px;

            .btn-secondary {
                background: #fff;
                border-color: #ebedf2;
            }
        }

        &:hover {
            .card-hover {
                opacity: 0.8;
            }

            .card-img {
                opacity: 0;
            }
        }
    }
}

.toggle-switch {
    display: inline-block;
    position: relative;
}

.card-hover {
    width: 60%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    .row {
        padding-top: 10px;
        width: 100%;
        margin: 0;
    }
}

.card-last {
    height: 375px;
    width: 295px;
    padding: 10px;
    margin: 5px;
    z-index: 1 !important;

    .card-stitched {
        width: 100%;
        height: 100%;
        padding: 20px;
        background: #fff;
        color: #4b4b4b;
        font-size: 21px;
        line-height: 1.3em;
        text-align: center;
        border: 2px dashed #999;
        border-radius: 10px;
        font-weight: 400;

        .plus {
            margin-top: 45%;

            .plus-icon {
                font-size: 2em;
            }
        }

        .row {
            width: 100%;
            margin-top: 20px;
            margin-left: 0px;
            margin-right: 0px;
        }

        .btn-add-menu {
            margin: auto;
            padding-left: 5px;
            padding-right: 5px;
            box-shadow: 0 3px 20px 0 rgba(230, 3, 75, 0.17);
            border-color: #fff !important;
            text-transform: none;

            &:hover {
                box-shadow: 0 3px 20px 0 rgba(230, 3, 75, 0.26);
                background: #e6034b !important;
                color: #fff !important;
                border-color: #e6034b !important;
            }
        }
    }
}

.cdk-drag-preview {
    height: 375px;
    width: 295px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    .card-preview {
        width: 100%;
        background-color: #efeff3;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep {
  .cdk-drop-list {
    width: 20%;
    min-width: 200px;
    height: 20vw;
    min-height: 280px;
  }
}

.sortable {
    width: 100%;
}

