<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'ScreenMenu' | localize" [description]="'ScreenMenuInfo' | localize">
            <div role="actions">
                <button *ngIf="isGranted('Pages.WheelScreenMenus.Create')" (click)="createOrEdit()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>{{ 'AddMenu' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <div class="sortable">
                            <ng-container cdkDropListGroup>
                                <div cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()" #placeholder></div>
                                <div
                                    cdkDropList
                                    class="ng-trigger ng-trigger-animate"
                                    *ngFor="let screenMenu of screenMenus"
                                    [cdkDropListEnterPredicate]="enter"
                                    (cdkDropListDropped)="drop()"
                                    cdkDrag
                                >
                                    <div cdkDrag class="card">
                                        <div class="card-image">
                                            <i class="la la-cutlery"></i>
                                        </div>
                                        <div class="card-overlay">
                                            <div class="dropdown dropleft" dropdown>
                                                <a
                                                    dropdownToggle
                                                    data-toggle="dropdown dropleft"
                                                    aria-haspopup="true"
                                                    aria-expanded="false"
                                                    id="dropdownMenuButton"
                                                    dropdownToggle
                                                    class="btn btn-secondary btn-circle btn-outline btn-icon"
                                                >
                                                    <i ngcontent-c5="" class="la la-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *dropdownMenu>
                                                    <a
                                                        *ngIf="'Pages.WheelScreenMenus.Delete' | permission"
                                                        class="dropdown-item"
                                                        (click)="delete(screenMenu)"
                                                    >
                                                        <span class="menu-text">{{ 'Delete' | localize }}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-title">
                                            <toggle
                                                class="toggle-switch"
                                                style="right: 0px; float: right; text-align: right; cursor: pointer"
                                                [(ngModel)]="screenMenu.published"
                                                (ngModelChange)="updatePublish(screenMenu.id, $event)"
                                            >
                                            </toggle>

                                            <b>{{ screenMenu.name }}</b>
                                            <b>{{ screenMenu.itemCount }} {{ 'Items' | localize }}</b>
                                            <span class="created-at m--visible-desktop">{{
                                                screenMenu.creationTime | date: 'medium'
                                            }}</span>
                                        </div>
                                        <div class="card-hover">
                                            <div class="row">
                                                <button
                                                    class="btn btn-pill btn-danger btn-block m-btn--air"
                                                    type="button"
                                                    (click)="enterChildren(screenMenu.id)"
                                                >
                                                    {{ 'Enter' | localize }}
                                                </button>
                                                <button
                                                    class="btn btn-pill btn-warning btn-block m-btn--air"
                                                    type="button"
                                                    (click)="createOrEdit(screenMenu.id)"
                                                >
                                                    {{ 'Edit' | localize }}
                                                </button>
                                            </div>
                                        </div>
                                        <div *cdkDragPreview>
                                            <div class="card-preview">
                                                <b>{{ screenMenu.name }}</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
