<div class="form-group">
    <form [formGroup]="orderForm">
        <div class="row">
            <!-- <div formArrayName="items" *ngFor="let item of orderForm.get('items')['controls']; let i = index;">
            <div [formGroupName]="i" class="row"> -->

            <diV class="col-lg-11">
                <div *ngFor="let item of radioItems" class="p-field-checkbox">
                    <div class="">
                        <div class="form-group">
                            <p-radioButton [inputId]="item.value" formControlName="rdTime" name="rdoTimeSetting"
                                [value]="item.value" label="{{item.text}}"
                                (onClick)="selectOptionTimeSetting(item.value)">
                            </p-radioButton>
                        </div>
                        <ng-template [ngIf]="item.value =='ShowOnlyFrom' && hiddenOnlyFrom">
                            <div formArrayName="items"
                                *ngFor="let item of orderForm.get('items')['controls']; let i = index;">

                                <div [formGroupName]="i" class="">

                                    <div class="form-group row">
                                        <div class="col-lg-1"><i class="fa fa-times" aria-hidden="true"
                                                (click)="removeTitemTiming(i)"></i></div>
                                        <div class="col-lg-11 col-md-11 col-sm-11">
                                            <div class="form-group">
                                                <p>Range: <b>{{timeRangeShow[i].minTime + ' - ' +
                                                        timeRangeShow[i].maxTime}}</b>
                                                </p>
                                                <p-slider name="slider-time" [min]="0" max="1440"
                                                    formControlName="sliderTime" [range]="true"
                                                    (onChange)="handleChange($event,i)">
                                                </p-slider>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-4" *ngFor="let item of dayOfWeekList">
                                                    <div class="form-group">
                                                        <div class="checkbox-list">
                                                            <p-checkbox name="days[i]" formControlName="dayOfweek"
                                                                value="{{item.value}}" label="{{item.text}}"
                                                                (onChange)="getValueDayOfWeek($event,item.value,i)">
                                                            </p-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary " (click)="addItem()">Add</button>
                        </ng-template>
                        <ng-template [ngIf]="item.value =='HideUntil' && hiddenHideUntil">

                            <div class="form-group row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker"
                                        class="form-control" bsDatepicker datePickerMomentModifier
                                        formControlName="date" [bsConfig]="{ adaptivePosition: true }" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p-calendar placeholder="Select Time" formControlName="time" value="time"
                                        timeOnly="true" showTime="true" hourFormat="24" class="w-100" name="time"
                                        required>
                                    </p-calendar>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </diV>
        </div>
    </form>

</div>
