<p-card
  header="{{ item.name }}"
  [style]="{ width: '100%', borderRadius: '20px' }"
  styleClass="p-card-shadow {{ amountItems ? 'active' : '' }}"
>
  <ng-template pTemplate="header">
    <img
      class="header-image"
      alt="Card"
      src="assets/image/location/location-1.png"
    />
    <i class="position-absolute pi pi-info-circle"></i>
    <div class="position-absolute tag">30% Off</div>
    <div class="dot-circle green">
      <i class="pi pi-circle-off">
        <i class="pi pi-circle-on"></i>
      </i>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <strong style="font-size: 1.3rem; color: black">$14.99</strong>
    <div
      *ngIf="amountItems"
      class="onAddItem d-flex align-items-center pt-2 pb-2"
    >
      <i (click)="onRemoveItems($event)" class="pi pi-minus"></i>
      <span class="amount"
        ><strong style="color: black; font-weight: 700">{{
          amountItems
        }}</strong></span
      >
      <i (click)="onAddItems($event)" class="pi pi-plus"></i>
    </div>
  </ng-template>
  <button
    *ngIf="!amountItems"
    (click)="onAddItems($event)"
    class="circle-btn border-none outline-none"
    pButton
    pRipple
    icon="pi pi-plus"
  ></button>
</p-card>
