@import "../../../../assets/scss/mixins";
$border-radius: 10px;
$button-size: 40px;

:host::ng-deep {
    .active {
        @include border(4px, var(--yellow-2));
    }

    .header-image {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    .tag {
        bottom: 0;
        right: 0;
        background-color: var(--red-1);
        color: var(--white-1);
        font-size: 0.8rem;
        padding: 0 1rem;
        border-top-left-radius: 10px;
        font-weight: 600;
        border-bottom-left-radius: 10px;
    }

    .pi-info-circle {
        font-size: 1.2rem;
        top: 1rem;
        right: 1rem;
        color: var(--white-1);
    }

    .p-card-header {
        position: relative;
        .dot-circle {
            position: absolute;
            left: 15px;
            bottom: -13px;
            &.green {
                color: var(--green-1);
            }
            &.red {
                color: var(--red-2);
            }
            .pi-circle-off {
                position: relative;
                font-size: 1.2rem;
            }
            .pi-circle-on {
                position: absolute;
                font-size: 1rem;
                font-size: 0.5rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .p-card-body {
        position: relative;
        padding-top: 6px;
        .p-card-title {
            margin: 0.5rem 0;
            font-size: 1rem;
            color: var(--gray-1);
            font-weight: 600;
        }
        .p-card-footer,
        .p-card-content {
            padding: 0;
        }
    }

    .onAddItem {
        margin-top: 0.5rem;
        background-color: var(--gray-2);
        //border-radius: 10px;
        justify-content: space-evenly;
        .pi {
            padding: 0.3rem;
            cursor: pointer;
        }
    }

    .circle-btn {
        @include circle-btn($button-size, var(--white-1), var(--black-1), absolute);
    }

    .description {
        margin-right: $button-size;
    }
}
