<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header [title]="'Cluster Image' | localize" [description]="'Manage Cluster Image' | localize">
            <div role="actions">
                <button class="btn btn-success" (click)="export()">
                    {{ l('Export') }}
                </button>
                <button (click)="addOrEdit()" class="btn btn-primary">{{ l('Create') }} {{ l('Image') }}</button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>{{ l('Filter') }}</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #table
                                (onLazyLoad)="getAll($event)"
                                [value]="primengTableHelper.records"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="false"
                                [responsive]="primengTableHelper.isResponsive"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="delAggImageTypeRefName">
                                            {{ l('Image Type') | uppercase }}
                                            <p-sortIcon field="delAggImageTypeRefName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="delAggTypeRefName">
                                            {{ l('Agg Type') | uppercase }}
                                            <p-sortIcon field="delAggTypeRefName"></p-sortIcon>
                                        </th>
                                        <th>
                                            {{ l('Download') | uppercase }}
                                        </th>
                                        <th pSortableColumn="creationTime">
                                            {{ l('CreationTime') | uppercase }}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" class="text-center">
                                            {{ l('Actions') | uppercase }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Image Type') }}</span>
                                            {{ record.delAggImageTypeRefName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Agg Type') }}</span>
                                            {{ record.delAggTypeRefName }}
                                        </td>
                                        <td>
                                            <button
                                                type="button"
                                                class="btn btn-success btn-sm"
                                                *ngIf="record.imagePath.length > 5"
                                                (click)="downloader(record)"
                                            >
                                                <i class="fa fa-download"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('CreationTime') }}</span>
                                            {{ record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                                        </td>

                                        <td style="width: 130px" class="text-center">
                                            <div
                                                class="btn-group dropdown"
                                                dropdown
                                                container="body"
                                                style="margin-right: 8px"
                                            >
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                    <!-- <i class="fa fa-cog"></i> -->
                                                    <span class="caret"></span>
                                                    <span class="mr-5">{{ 'Actions' | localize }}</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                                    <li>
                                                        <a class="dropdown-item" (click)="addOrEdit(record)">
                                                            {{ l('Edit') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" (click)="delete(record)">
                                                            {{ l('Delete') }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="card-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="card-body">
            <div class="filter-content">
                <div class="form-group">
                    <label>{{ 'Del Agg Type' | localize }}</label>
                    <p-dropdown
                        [options]="delAggTypes"
                        [ngModel]="{ value: delAggTypeRefId }"
                        (ngModelChange)="delAggTypeRefId = $event.value"
                        name="delAggTypeRefId"
                        id="delAggTypeRefId"
                        styleClass="w-100"
                        [placeholder]="l('Select Agg Type')"
                        [filter]="true"
                        optionLabel="displayText"
                        dataKey="value"
                        [showClear]="true"
                    >
                    </p-dropdown>
                </div>
                <div class="form-group">
                    <label>{{ 'Del Agg Type' | localize }}</label>
                    <p-dropdown
                        [options]="delAggImageTypes"
                        [ngModel]="{ value: delAggImageTypeRefId }"
                        (ngModelChange)="delAggImageTypeRefId = $event.value"
                        name="delAggImageTypeRefId"
                        id="delAggImageTypeRefId"
                        styleClass="w-100"
                        [placeholder]="l('Select Image Type')"
                        [filter]="true"
                        optionLabel="displayText"
                        dataKey="value"
                        [showClear]="true"
                    >
                    </p-dropdown>
                </div>
            </div>

            <div class="filter-action">
                <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
                <div style="flex: auto"></div>
                <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
                <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
            </div>
        </div>
    </form>
</p-sidebar>
