<div class="foodstack_app">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <article>
                <!-- mobile menu -->
                <div class="logo_ham_btn">
                    <a href="https://wa.me/+6598588841" class="cta-whatsapp">
                        <img src="./assets/static/svg/whatsapp.svg" alt="" />
                    </a>
                    <a class="navbar-brand" href="./index.html">
                        <span class="text-logo">Tiffin</span>
                    </a>
                    <button
                        class="navbar-toggler collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                        <span class="hamburger_btn">
                            <span></span>
                        </span>
                    </button>
                </div>
                <!-- mobile menu ends -->

                <!-- main menu -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="main_menu">
                        <a class="navbar-brand" href="./index.html">
                            <span class="text-logo">Tiffin</span>
                        </a>
                        <ul class="navbar-nav justify-content-center">
                            <li class="nav-item active">
                                <a class="nav-link" [routerLink]="['./menu']" routerLinkActive="active-link">Menu </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['./view-offers']" routerLinkActive="active-link">Meal plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['./aboutUs']" routerLinkActive="active-link">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['./feedback']" routerLinkActive="active-link">Feedback</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['./contact']" routerLinkActive="active-link">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['./faq']" routerLinkActive="active-link">FAQ</a>
                            </li>
                            <li class="nav-item mob-nav-item">
                                <a href="https://wa.me/+6598588841" class="mob-nav-icons">
                                    <img src="./assets/static/svg/whatsapp_normal_black.svg" alt="" />
                                </a>
                                <a href="https://www.facebook.com/dabbajunctionsg/" target="_blank" class="mob-nav-icons_">
                                    <img src="./assets/static/svg/facebook.svg" alt="" />
                                </a>
                                <a href="https://www.instagram.com/dabbajunctionsg/" target="_blank" class="mob-nav-icons">
                                    <img src="./assets/static/svg/instagram.svg" alt="" />
                                </a>
                            </li>
                        </ul>
                        <div class="text-center mr-4">
                            <a [routerLink]="['./login']" routerLinkActive="active-link" class="btn orange-btn btn-login">Login/Signup</a>
                        </div>
                    </div>
                </div>
                <!-- main menu ends -->
            </article>
        </div>
    </nav>
    <!-- navbar ends -->

    <div class="site_body">
        <router-outlet></router-outlet>
    </div>
</div>
