<div appBsModal #modal="bs-modal" class="modal fade" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="countryDto">

            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <span *ngIf="countryDto.id>0">
                        Edit Country: {{countryDto.name}}
                    </span>
                    <span *ngIf="!countryDto.id">
                        Create new Country
                    </span>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form #form="ngForm" (ngSubmit)="save()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">{{l("Name")}} *</label>
                        <input #nameInput autoFocus id="name" type="text" name="faxNumber" class="form-control" [(ngModel)]="countryDto.name"
                            maxlength="256" required>
                    </div>
                    <div class="form-group">
                        <label for="CallingCode">{{l("Code")}}</label>
                        <input id="CallingCode" type="number" name="CallingCode" class="form-control"
                            [(ngModel)]="countryDto.callingCode" maxlength="256">
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="!form.form.valid" class="btn btn-primary blue" type="submit" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>