<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Addresses' | localize" [description]="'AddressHeaderInfo' | localize">
            <div role="actions">
                <button (click)="createAddress()"
                    class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>
                    {{l("CreateNewAddress")}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getAll()" class="btn btn-primary" type="submit">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px">
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width: 100px" pSortableColumn="extCode">
                                            {{l('Code')}}
                                            <p-sortIcon field="extCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Name">
                                            {{l('Name')}}
                                            <p-sortIcon field="Name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Address">
                                            {{l('Address')}}
                                            <p-sortIcon field="Address"></p-sortIcon>
                                        </th>
                                         <th style="width: 150px" pSortableColumn="ServiceTime">
                                            {{l('ServiceTime')}}
                                            <p-sortIcon field="ServiceTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Zone">
                                            {{l('Zone')}}
                                            <p-sortIcon field="Zone"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">
                                            {{l('Geocoding')}}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="TimeFrom">
                                            {{l('TimeFrom')}}
                                            <p-sortIcon field="TimeFrom"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="TimeTill">
                                            {{l('TimeTill')}}
                                            <p-sortIcon field="TimeTill"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Priority">
                                            {{l('Priority')}}
                                            <p-sortIcon field="Priority"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="DateCreated">
                                            {{l('DateCreated')}}
                                            <p-sortIcon field="DateCreated"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="createOrEditAddress.show(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="deleteAddress(record)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title"> {{l('Code')}}</span>
                                            {{record.extCode}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                            {{record.name}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Address')}}</span>
                                            {{record.address}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('ServiceTime')}}</span>
                                            {{record.serviceTime}}
                                        </td>
                                         <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Zone')}}</span>
                                            {{record.zone}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Geocoding')}}</span>
                                            <a *ngIf="record.geocoding" href="https://maps.google.com/maps?q={{record.geocoding}}" target="_blank">{{record.geocoding}}</a>
                                            <!-- {{record.geocoding}} -->
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('TimeFrom')}}</span>
                                            {{record.deliveryTimeTo}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('TimeTill')}}</span>
                                            {{record.deliveryTimeTo}}
                                        </td>
                                         <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Priority')}}</span>
                                            {{getPriority(record.priority)}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('DateCreated')}}</span>
                                            {{record.creationTime | date: "dd/MM/yyyy HH:mm"}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <app-create-or-edit-address-modal #createOrEditAddressModal (modalSave)="getAll()">
        </app-create-or-edit-address-modal>
    </div>
</div>
