<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #depotForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="address.id">{{l("EditAddress")}}: {{address.extCode}}</span>
                        <span *ngIf="!address.id">{{l("CreateNewAddress")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="code">{{l("Code")}} *</label>
                                    <input type="text" id="code" class="form-control" [(ngModel)]="address.extCode"
                                        name="code" required #codeInput="ngModel" />
                                    <validation-messages [formCtrl]="codeInput"></validation-messages>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="Name">{{l("Name")}} *</label>
                                    <input type="text" id="Name" class="form-control" [(ngModel)]="address.name"
                                        name="Name" required #NameInput="ngModel" />
                                    <validation-messages [formCtrl]="NameInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="Street">{{l("Street")}}</label>
                                    <input type="text" id="Street" class="form-control" [(ngModel)]="address.street"
                                        name="Street" #StreetInput="ngModel" />
                                    <validation-messages [formCtrl]="StreetInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="City">{{l("City")}} </label>
                                    <input type="text" id="City" class="form-control" [(ngModel)]="address.city"
                                        name="City" #CityInput="ngModel" />
                                    <validation-messages [formCtrl]="CityInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="StateProvinceCountry">{{l("State/Province/Country")}}</label>
                                        <input type="text" id="StateProvinceCountry" class="form-control"
                                            [(ngModel)]="address.stateProvinceCountry" name="StateProvinceCountry"
                                            #StateProvinceCountryInput="ngModel" />
                                        <validation-messages [formCtrl]="StateProvinceCountryInput">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        <label for="PostalCode">{{l("PostalCode")}} </label>
                                        <input type="text" id="PostalCode" class="form-control"
                                            [(ngModel)]="address.postalCode" name="PostalCode"
                                            #PostalCodeInput="ngModel" />
                                        <validation-messages [formCtrl]="PostalCodeInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="FullAddress">{{l("FullAddress")}}</label>
                                    <input type="text" id="FullAddress" class="form-control"
                                        [(ngModel)]="address.address" name="FullAddress"
                                        #FullAddressInput="ngModel" />
                                    <validation-messages [formCtrl]="FullAddressInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ServiceTime">{{l("Service Time, min")}}</label>
                                        <input type="serviceTime" id="serviceTime" class="form-control"
                                            [(ngModel)]="address.serviceTime" name="serviceTime" #serviceTimeInput="ngModel"
                                          />
                                        <validation-messages [formCtrl]="serviceTimeInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Zone">{{l("Zone ")}}</label>
                                        <input type="number" id="Zone" class="form-control"
                                            [(ngModel)]="address.zone" name="Zone"
                                            #zoneInput="ngModel"/>
                                        <validation-messages [formCtrl]="zoneInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="Priority">{{l("Priority")}} </label>
                                    <select id="Priority" class="form-control" [(ngModel)]="address.priority" name="Priority"
                                        #PriorityInput="ngModel">
                                        <option [value]="undefined">
                                            {{"" | localize}}
                                        </option>
                                        <option *ngFor="let item of lstPriority" [value]="item.value">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="PriorityInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="TimeFrom">{{l("TimeFrom")}} </label>
                                    <select id="TimeFrom    " class="form-control" [(ngModel)]="address.deliveryTimeFrom"
                                        name="TimeFrom" #TimeFromInput="ngModel">
                                        <option [value]="undefined">
                                            {{"" | localize}}
                                        </option>
                                        <option *ngFor="let item of lstShipmentTimes" [value]="item.displayText">
                                            {{item.displayText}}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="TimeFromInput"></validation-messages>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="TimeTill">{{l("TimeTill")}} </label>
                                    <select id="TimeTill" class="form-control" [(ngModel)]="address.deliveryTimeTo"
                                        name="TimeTill" #TimeTillInput="ngModel">
                                        <option [value]="undefined">
                                            {{"" | localize}}
                                        </option>
                                        <option *ngFor="let item of lstShipmentTimes" [value]="item.displayText">
                                            {{item.displayText}}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="TimeTillInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Latitude">{{l("Latitude")}}</label>
                                        <input type="number" id="Latitude" class="form-control"
                                            [(ngModel)]="address.gpsLat" name="Latitude" #LatitudeInput="ngModel"
                                            (change)="changeMap()" />
                                        <validation-messages [formCtrl]="LatitudeInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Longitude">{{l("Longitude")}}</label>
                                        <input type="number" id="Longitude" class="form-control"
                                            [(ngModel)]="address.gpsLon" name="Longitude"
                                            #LongitudeInput="ngModel" (change)="changeMap()" />
                                        <validation-messages [formCtrl]="LongitudeInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="primeng-datatable-container" *ngIf="address.id">
                                <div class="form-group">
                                    <h3>{{l("Linked Clientes")}}</h3>
                                </div>
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <select id="clientId" class="form-control" [(ngModel)]="client" name="clientName"
                                            #clientInput="ngModel">
                                            <option [value]="undefined">
                                                {{"" | localize}}
                                            </option>
                                            <option *ngFor="let item of lstClient; let i = index" [value]="item.id">
                                                {{item.extCode}}-{{item.name}}
                                            </option>
                                        </select>

                                        <span class="input-group-btn">
                                            <button (click)="addClient()" class="btn btn-primary" type="button">
                                                Add
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <p-table [value]="lstClientLinked" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 150px;"> {{l("Code")}}</th>
                                            <th style="width: 150px;"> {{l("Name")}}</th>
                                            <th style="width: 70px;"> #</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                                        <tr>
                                            <td style="width: 150px;">{{rowData.extCode}}</td>
                                            <td style="width: 150px;">{{rowData.name}}</td>
                                            <td style="width: 70px;"><a class="text-danger cursor-pointer"
                                                    (click)="deleteClientAddress(rowData)">Delete</a></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                        </div>

                        <div class="col-md-7">
                            <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]="true"
                                [mapTypeControl]="true" [zoom]="zoomLevel" [zoomControlOptions]="zoomControlOptions"
                                (mapReady)="onMapReady($event)" (mapClick)="mapClicked($event)">
                                <agm-marker *ngFor="let m of markers; let i = index"
                                    (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                                    [label]="m.label" [markerDraggable]="m.draggable"
                                    (dragEnd)="markerDragEnd(m, $event)">
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!depotForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
