<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('LocationMenus')" [description]="l('LocationMenusHeaderInfo')">
            <div role="actions">

                <button class="btn btn-outline-success" (click)="export()" [disabled]="exporting || !locationId"
                    [buttonBusy]="exporting" [busyText]="l('ExportingWithThreeDot')">
                    <i class="la-file-excel-o"></i>
                    {{l('Export')}}
                </button>

                <button class="btn btn-outline-success" (click)="import()" [disabled]="importing || !locationId"
                    [buttonBusy]="importing" [busyText]="l('ImportingWithThreeDot')">
                    <i class="fa fa-upload"></i>
                    {{l("Import")}}
                </button>

            </div>
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">

                    <div class="row">
                        <div class="col-12 form-group">
                            <button class="btn btn-primary" (click)="openSelectLocationModal()">
                                <i class="fas fa-map-marker-alt"></i>
                                <span *ngIf="!location.locationName">{{l('Location')}}</span>
                                <span *ngIf="location.locationName">{{location.locationName}}</span>

                            </button>
                        </div>
                        <div class="col-6">
                            <!-- Filter Form -->
                            <form class="form" autocomplete="off" (ngSubmit)="searchMenuItems()">
                                <div class="row align-items-center">
                                    <div class="col-xl-12">
                                        <div class="form-group m-form__group align-items-center">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterInput.menuItemText"
                                                    name="filterInput.menuItemText" autoFocus
                                                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                    type="text">
                                                <span class="input-group-btn">
                                                    <button (click)="searchMenuItems()" class="btn btn-primary"
                                                        type="submit">
                                                        <i class="flaticon-search-1"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End Filter Form -->

                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable (onLazyLoad)="getMenuItems($event)"
                                    [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col style="width: 130px;" />
                                            <col />
                                            <col style="width: 70px;" />
                                        </colgroup>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="id">
                                                {{l('Id')}}
                                                <p-sortIcon field="id"></p-sortIcon>
                                            </th>

                                            <th pSortableColumn="name">
                                                {{l('Name')}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>

                                            <th></th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                                        <tr>
                                            <td>
                                                <span class="ui-column-title">{{l('Id')}}</span>
                                                {{record.id}}
                                            </td>

                                            <td>
                                                <span class="ui-column-title">{{l('Name')}}</span>
                                                {{record.name}}
                                            </td>

                                            <td>
                                                <span class="ui-column-title"></span>
                                                <button class="btn-secondary btn" type="button"
                                                    (click)="addLocationMenuItem(record)">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div *ngIf="primengTableHelper.totalRecordsCount === 0" class="primeng-no-data">
                                    {{l('NoData')}}
                                </div>

                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getMenuItems($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>

                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <!-- Filter Form -->
                            <form class="form" autocomplete="off" (ngSubmit)="searchLocationMenuItems()">
                                <div class="row align-items-center">
                                    <div class="col-xl-12">
                                        <div class="form-group m-form__group align-items-center">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterInput.locationMenuText"
                                                    name="filterInput.locationMenuText" autoFocus
                                                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                    type="text">
                                                <span class="input-group-btn">
                                                    <button (click)="searchLocationMenuItems()" class="btn btn-primary"
                                                        type="submit">
                                                        <i class="flaticon-search-1"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End Filter Form -->

                            <div class="primeng-datatable-container"
                                [busyIf]="locationMenuItemPrimengTableHelper.isLoading">
                                <p-table #locationMenuItemDataTable (onLazyLoad)="getMenuItems($event)"
                                    [value]="locationMenuItemPrimengTableHelper.records"
                                    rows="{{locationMenuItemPrimengTableHelper.defaultRecordsCountPerPage}}"
                                    [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="locationMenuItemPrimengTableHelper.isResponsive"
                                    [resizableColumns]="locationMenuItemPrimengTableHelper.resizableColumns">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col style="width: 70px;" />
                                            <col style="width: 130px;" />
                                            <col />
                                        </colgroup>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th></th>

                                            <th pSortableColumn="id">
                                                {{l('Id')}}
                                                <p-sortIcon field="id"></p-sortIcon>
                                            </th>

                                            <th pSortableColumn="name">
                                                {{l('Name')}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>

                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                                        <tr>
                                            <td>
                                                <span class="ui-column-title"></span>
                                                <button class="btn-secondary btn" type="button"
                                                    (click)="removeLocationMenuItem(record)">
                                                    <i class="fas fa-arrow-left"></i>
                                                </button>
                                            </td>

                                            <td>
                                                <span class="ui-column-title">{{l('Id')}}</span>
                                                {{record.id}}
                                            </td>

                                            <td>
                                                <span class="ui-column-title">{{l('Name')}}</span>
                                                {{record.name}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div *ngIf="locationMenuItemPrimengTableHelper.totalRecordsCount === 0"
                                    class="primeng-no-data">
                                    {{l('NoData')}}
                                </div>

                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="locationMenuItemPrimengTableHelper.defaultRecordsCountPerPage"
                                        #locationMenuItemPaginator (onPageChange)="getLocationMenuItems($event)"
                                        [totalRecords]="locationMenuItemPrimengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="locationMenuItemPrimengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>

                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', locationMenuItemPrimengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<import-modal #importModal (modalSave)="getLocationMenuItems()"></import-modal>
<select-single-location #selectLocationModal [location]="location" (locationAdded)="setLocation($event)">
</select-single-location>
