<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="dynamicParameterValue">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="dynamicParameterValue.id">{{"Edit" | localize}}
                        {{"DynamicParameterValue" | localize}}</span>
                    <span *ngIf="!dynamicParameterValue.id">{{"AddNewDynamicParameterValue" | localize}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-12">
                    <div class="form-group">
                        <label for="Name">{{"Value" | localize}} *</label>
                        <input class="form-control" type="text" name="Name" [(ngModel)]="dynamicParameterValue.value"
                            required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                    (click)="close()">{{"Cancel" | localize}}</button>

                <button type="button" class="btn btn-primary font-weight-bold" (click)="save()"
                    [disabled]="!dynamicParameterValue.value" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{"Save" | localize}}</span></button>
            </div>
        </div>
    </div>
</div>