@import 'assets/common/styles/dine-connect-customize.scss';

.bs-datepicker.custom-filter-datepicker {
  .bs-datepicker-container.ng-trigger-datepickerAnimation {
      display: none;
  }

  .bs-datepicker-container.ng-trigger-datepickerAnimation.show {
      display: block;
  }
}
