<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Promotions' | localize" [description]="'PromotionsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success text-uppercase">
                    <i class="la-file-excel-o"></i> {{ l('ExportToExcel') }}
                </button>
                <button
                    *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Promotion.Create')"
                    (click)="createOrEditPromotion()"
                    class="btn btn-primary blue text-uppercase"
                >
                    <i class="fa fa-plus"></i> {{ l('CreateNewTiffinPromotion') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getPromotions($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="validity">
                                            {{ l('Validity') }}
                                            <p-sortIcon field="promotion.validity"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">
                                            {{ l('VoucherCount') }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{ l('CreationTime') }}
                                            <p-sortIcon field="promotion.creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="generate">
                                            {{ l('Generate') }}
                                        </th>
                                        <th
                                            style="width: 130px"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Tiffin.Manage.Promotion.Edit',
                                                    'Pages.Tenant.Tiffin.Manage.Promotion.Delete'
                                                )
                                            "
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Validity') }}</span>
                                            <span *ngIf="record.validity">
                                                {{ record.validity | momentFormat: 'L' }}
                                            </span>
                                            <span *ngIf="!record.validity">-</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('VoucherCount') }}</span>
                                            {{ record.codes?.length || 0 }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('CreationTime') }}</span>
                                            <span *ngIf="record.creationTime">
                                                {{ record.creationTime | momentFormat: 'L' }}
                                            </span>
                                            <span *ngIf="!record.creationTime">-</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Generate') }}</span>
                                            <button
                                                *ngIf="!record.isAutoAttach"
                                                (click)="generate(record.id)"
                                                type="button"
                                                class="btn btn-danger btn-sm"
                                            >
                                                {{ l('Generate') }}
                                            </button>
                                        </td>
                                        <td
                                            style="width: 130px"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.Tenant.Tiffin.Manage.Promotion.Edit',
                                                    'Pages.Tenant.Tiffin.Manage.Promotion.Delete'
                                                )
                                            "
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.Promotion')"
                                                            (click)="viewPromotion(record.id)"
                                                            >{{ l('View') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.Promotion.Edit')"
                                                            (click)="createOrEditPromotion(record.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.Manage.Promotion.Delete')"
                                                            (click)="deletePromotion(record)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getPromotions($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div>
                <div class="form-group m-form__group">
                    <label for="StartEndRange">Date</label>
                    <div class="input-group">
                        <input
                            class="form-control"
                            id="StartEndRange"
                            name="StartEndRange"
                            #drp
                            bsDaterangepicker
                            dateRangePickerMomentModifier
                            [(date)]="dateRange"
                            [placement]="'left'"
                            [bsConfig]="{
                                rangeInputFormat: 'YYYY-MM-DD',
                                ranges: ranges,
                                containerClass: 'custom-filter-datepicker theme-default'
                            }"
                            [placeholder]="l('DateRange')"
                            (onShown)="showedDateRangePicker()"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Promotion Type</label>
                    <p-dropdown
                        [options]="promotionTypes"
                        optionLabel="displayText"
                        [filter]="true"
                        styleClass="w-100"
                        [placeholder]="l('SelectPromotionType')"
                        name="promotionType"
                        [(ngModel)]="promotionType"
                    >
                    </p-dropdown>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
