<div class="feedback">
    <div class="container">
        <div class="feedback-header">
            <p>Give your feedback</p>
            <p>Do you have a suggest or found some bug?</p>
            <p>Let us know in the field bellow.</p>
        </div>
        <div class="feedback-progress">
            <div class="answer">
                How satisfied are you with our platform?
            </div>
            <div class="number-progress">
                <span>0</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
            </div>
            <input type="range" id="vol" name="vol" min="0" max="10" class="feedback-range">
            <div class="likely">
                <span>Not at all likely</span>
                <span>Extremely likely</span>
            </div>
        </div>
        <div class="feedback-subject">
            <span>Subject</span>
            <mat-radio-group aria-label="Select an option" class="feedback-radio">
                <mat-radio-button value="bug">Bug</mat-radio-button>
                <mat-radio-button value="suggestion">Suggestion</mat-radio-button>
                <mat-radio-button value="report">Report</mat-radio-button>
                <mat-radio-button value="other">Others</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="feedback-message">
            <span>Message</span>
            <div class="text-message">
                <textarea rows="9" cols="70" placeholder="Describe your experience here"></textarea>
            </div>
        </div>
        <div class="feedback-btn">
            <button (click)="submit()">Submit Feedback</button>
        </div>
    </div>
</div>

<div class="mobile-screen">
    <div class="container">
        <div class="mobile-screen-header">
            <img src="\assets\image\feedback-mobile.png" alt="feedback">
            <p>Give your feedback</p>
        </div>
        <div class="mobile-screen-progress">
            <div class="answer">
                How satisfied are you with our platform?
            </div>
            <div class="number-progress">
                <span>0</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
            </div>
            <input type="range" id="vol" name="vol" min="0" max="10" class="mobile-screen-range">
            <div class="likely">
                <span>Not at all likely</span>
                <span>Extremely likely</span>
            </div>
        </div>
        <div class="mobile-screen-subject">
            <span>Subject</span>
            <mat-radio-group aria-label="Select an option" class="mobile-screen-radio">
                <mat-radio-button value="bug">Bug</mat-radio-button>
                <mat-radio-button value="suggestion">Suggestion</mat-radio-button>
                <mat-radio-button value="other">Others</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="mobile-screen-message">
            <span>Message</span>
            <div class="text-message">
                <textarea rows="9" cols="50" placeholder="Describe your experience here"></textarea>
            </div>
        </div>
        <div class="mobile-screen-btn">
            <button (click)="submit()">Submit Feedback</button>
        </div>
    </div>
</div>
<app-top-bar-mobile></app-top-bar-mobile>