.feedback {
    background: white;
    padding-top: 16px;
    min-height: 100%;
    padding-bottom: 77px;
    &-btn {
        width: 513px;
        display: flex;
        justify-content: end;
        margin: 0 auto;
        &>button {
            background: #2d5d8c;
            border-radius: 10px;
            border: none;
            padding: 16px 24px;
            margin-top: 40px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
        }
    }
    &-message {
        margin: 0 auto;
        width: 513px;
        margin-top: 40px;
        &>span:nth-child(1) {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
        }
        .text-message {
            border-radius: 8px;
            border-color: #cccccc;
            resize: none;
            margin-top: 8px;
             ::-webkit-input-placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #dbdbdb;
            }
            &>textarea {
                border-radius: 8px;
                resize: none;
                border: 1px solid #cccccc;
                padding: 13px 0px 0px 17px;
            }
        }
    }
    &-subject {
        margin: 0 auto;
        width: 513px;
        margin-top: 24px;
        &>span:nth-child(1) {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #22232f;
        }
        .feedback-radio {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 16px;
            mat-radio-button {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 145%;
                color: #48525f;
            }
             ::ng-deep {
                &>mat-radio-button:nth-child(4),
                &>mat-radio-button:nth-child(3) {
                    .mat-radio-label {
                        display: flex;
                        justify-content: end;
                    }
                }
            }
             ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
                border-color: #488bf0 !important;
            }
             ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
            .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
            .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
                background-color: #488bf0 !important;
            }
        }
    }
    &-header {
        background-image: url("/assets/image/mask-group.png");
        background-position: center;
        background-repeat: no-repeat;
        font-style: normal;
        padding: 32px 0px 48px 0px;
        border-bottom: 1px solid #dbdbdb;
        &>p:nth-child(1) {
            font-weight: bold;
            font-size: 40px;
            line-height: 120%;
            text-align: center;
            color: #2d5d8c;
            margin-bottom: 8px;
        }
        &>p:not(:nth-child(1)) {
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #575755;
            margin-bottom: 0px;
        }
    }
    &-progress {
        width: 513px;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 24px;
        .answer {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #22232f;
            margin-bottom: 8px;
            margin-top: 40px;
        }
        .likely {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #888884;
        }
        .feedback-range {
            width: 100%;
        }
        .number-progress {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #888884;
            margin-bottom: 5px;
            &>span {
                display: flex;
                flex-direction: row-reverse;
            }
            &>span:nth-child(1) {
                width: 0px;
                position: absolute;
                margin-left: 14px;
            }
            &>span:nth-child(2),
            &>span:nth-child(3),
            &>span:nth-child(4) {
                margin-right: -10px;
            }
            &>span:nth-child(5),
            &>span:nth-child(6),
            &>span:nth-child(7) {
                margin-right: -5px;
            }
        }
    }
}

.mobile-screen {
    background: white;
    padding-top: 16px;
    min-height: 100%;
    padding-bottom: 77px;
    &-header {
        background-image: url("/assets/image/background-banner-mobile.png");
        background-position: center;
        background-repeat: no-repeat;
        font-style: normal;
        padding: 32px 0px 43px 0px;
        border-bottom: 7px solid #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        img {
            height: 48px;
            width: 48px;
        }
        p {
            font-weight: bold;
            font-size: 23px;
            line-height: 120%;
            text-align: center;
            color: #2d5d8c;
        }
    }
    &-progress {
        //width: 343px;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 24px;
        .answer {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #22232f;
            margin-bottom: 8px;
            margin-top: 40px;
        }
        .likely {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #888884;
        }
        .mobile-screen-range {
            width: 100%;
        }
        .number-progress {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #888884;
            margin-bottom: 5px;
            &>span {
                display: flex;
                flex-direction: row-reverse;
            }
            &>span:nth-child(1) {
                width: 0px;
                position: absolute;
                margin-left: 14px;
            }
            &>span:nth-child(2),
            &>span:nth-child(3),
            &>span:nth-child(4) {
                margin-right: -10px;
            }
            &>span:nth-child(5),
            &>span:nth-child(6),
            &>span:nth-child(7) {
                margin-right: -5px;
            }
        }
    }
    &-subject {
        margin: 0 auto;
        width: 100%;
        margin-top: 24px;
        &>span:nth-child(1) {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #22232f;
        }
        .mobile-screen-radio {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 16px;
            mat-radio-button {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 145%;
                color: #48525f;
            }
             ::ng-deep {
                &>mat-radio-button:nth-child(4),
                &>mat-radio-button:nth-child(3) {
                    .mat-radio-label {
                        display: flex;
                        justify-content: end;
                    }
                }
            }
             ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
                border-color: #488bf0 !important;
            }
             ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
            .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
            .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
                background-color: #488bf0 !important;
            }
        }
    }
    &-message {
        margin: 0 auto;
        width: 343px;
        margin-top: 16px;
        &>span:nth-child(1) {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
        }
        .text-message {
            border-radius: 8px;
            border-color: #cccccc;
            resize: none;
            margin-top: 8px;
             ::-webkit-input-placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #dbdbdb;
            }
            &>textarea {
                border-radius: 8px;
                resize: none;
                border: 1px solid #cccccc;
                padding: 13px 0px 0px 17px;
                max-width: 83% !important;
            }
        }
    }
    &-btn {
        width: 343px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        &>button {
            background: #2d5d8c;
            border-radius: 10px;
            border: none;
            padding: 16px 24px;
            margin-top: 32px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
            //width: inherit;
        }
    }
}

@media (min-width: 992px) {
    .mobile-screen {
        display: none;
    }
}

@media (max-width: 991px) {
    .feedback {
        display: none;
    }
}