<div class="container pt-4 pb-4">
    <div class="user-infor d-flex justify-content-center align-items-center mb-4">
        <div class="img"><img src="assets/image/menu/Ellipse-526.png" alt=""></div>
        <div class="infor pl-4">
            <div class="address mb-2">
                <p class="m-0">Welcome back!</p>
                <h4 class="name text-bold mb-0">{{_userName}}</h4>
            </div>
            <div class="d-flex">
                <p class="m-0">Member Since: July 23, 2008</p>
            </div>
        </div>
    </div>

    <p-tabView class="custom-p-tabview">
        <p-tabPanel header="Profile Info">
            <div class="container pt-4 pb-2">
                <div class="row user-profile">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-6 pl-4 pr-4">
                        <div class="user-profile__info">
                            <form action="javascript:;" class="d-flex flex-column align-items-center" [formGroup]="userEditForm">
                                <div class="input-control">
                                    <span class="p-float-label custom-form-control p-input-icon-right w-100">
                                            <i class="pi pi-user-edit" style="cursor: pointer;"></i>
                                            <input type="text" id="user-name" pInputText class="form-control"
                                            formControlName="name" required>
                                            <label for="float-input">Name</label>
                                        </span>
                                    <span class="error-msg" *ngIf="f.name.invalid && (f.name.touched || f.name.dirty)">Please enter your Name</span>
                                </div>
                                <div class="input-control">
                                    <span class="p-float-label custom-form-control p-input-icon-right w-100">
                                            <i class="pi pi-user-edit" style="cursor: pointer;"></i>
                                            <input type="text" id="user-surname" pInputText class="form-control" formControlName="surname">
                                            <label for="float-input">Surname</label>
                                        </span>
                                    <span class="error-msg" *ngIf="f.surname.invalid && (f.surname.touched || f.surname.dirty)">Please enter your
                                            Surname</span>
                                </div>
                                <div class="input-control">
                                    <span class="p-float-label custom-form-control">
                                            <input readonly type="email" id="user-email" pInputText class="form-control" formControlName="emailAddress">
                                            <label for="float-input">Email</label>
                                        </span>
                                </div>
                                <div class="input-control">
                                    <span class="p-float-label custom-form-control p-input-icon-right w-100">
                                            <i class="pi pi-user-edit" style="cursor: pointer;"></i>
                                            <input type="tel" id="user-phone" pInputText class="form-control" formControlName="phoneNumber">
                                            <label for="float-input">Phone</label>
                                        </span>
                                    <span class="error-msg" *ngIf="f.phoneNumber.invalid && (f.phoneNumber.touched || f.phoneNumber.dirty)">Please enter your
                                            Phone</span>
                                </div>
                                <Button type="submit" pRipple pButton class="btn submitBtn dine-button black-bagk" label="Edit Profile" (click)="saveChanges()"></Button>
                            </form>
                            <span class="user-profile__info__changePassword">
                                <a href="javascript:void(0)" (click)="changePassword()">Change password?</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <p-dialog *ngIf="display" class="p-custom-dialog" header="Set a new password" position="top" [(visible)]="display" [modal]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                <form action="#" [formGroup]="passwordForm">
                    <div class="input-control">
                        <span class="p-float-label custom-form-control p-input-icon-right w-100">
                            <i (click)="isHiddenPassword = !isHiddenPassword" style="cursor: pointer;"
                                class="pi {{isHiddenPassword ? 'pi-eye-slash' : 'pi-eye'}}"></i>
                            <input autofocus type="{{isHiddenPassword ? 'password' : 'text'}}" pInputText id="password" class="form-control" formControlName="newPassword">
                            <label for="float-input">Password</label>
                        </span>
                        <span class="error-msg" *ngIf="fp.newPassword.errors?.required && (fp.newPassword.touched || fp.newPassword.dirty)">Please enter password.</span>
                        <span class="error-msg" *ngIf="fp.newPassword.errors?.minlength">Passwords must be at least 8
                            characters.
                        </span>
                    </div>

                    <div class="input-control">
                        <span class="p-float-label custom-form-control p-input-icon-right w-100">
                            <i (click)="isHiddenConfirmPassword = !isHiddenConfirmPassword" style="cursor: pointer;"
                                class="pi {{isHiddenConfirmPassword ? 'pi-eye-slash' : 'pi-eye'}}"></i>
                            <input type="{{isHiddenConfirmPassword ? 'password' : 'text'}}" pInputText id="confirm_password" class="form-control" formControlName="confirmPassword">
                            <label for="float-input">Confirm password</label>
                        </span>
                        <span class="error-msg" *ngIf="fp.confirmPassword.errors?.required && (fp.confirmPassword.touched || fp.confirmPassword.dirty)">Please enter password.</span>
                        <span class="error-msg" *ngIf="passwordForm.errors?.invalidConfirm">The password doesn’t match.
                            Please re-enter.</span>
                    </div>
                    <button type="button" pRipple pButton class="btn dine-button black-bagk submitBtn" label="Save" (click)="saveChangePassword()"></button>
                </form>
            </p-dialog>
        </p-tabPanel>

        <p-tabPanel header="My Orders">
            <my-orders></my-orders>
        </p-tabPanel>

        <p-tabPanel header="Top Orders">
            <top-orders></top-orders>
        </p-tabPanel>
    </p-tabView>
</div>