@import '../../../assets/scss/mixins';
:host::ng-deep {
    display: block;
    min-height: 100%;
    .user-infor {
        .img {
            max-width: 135px;
            img {
                width: 100%;
            }
        }
    }
    .user-profile {
        justify-content: center;
        &__with {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &__info {
            margin-top: 1.3rem;
            &__changePassword {
                margin-top: 1rem;
                display: flex;
                justify-content: flex-end;
                a {
                    color: var(--black-1);
                    font-size: 0.9rem;
                    border-bottom: 2px solid;
                    font-weight: 500;
                }
            }
        }
    }
    .submitBtn {
        @include submitBtn(var(--black-1));
    }
    .p-dialog {
        width: 35vw;
        @media only screen and (max-width: 768px) {
            width: 100%;
            height: 100%;
        }
        .p-dialog-header {
            padding: 1rem;
        }
        .p-dialog-content {
            padding-top: 1.2rem;
            height: 100%;
        }
    }
}