<div class="wrapper-welcome">
    <div class="wrapper-nav-bar">
        <button class="burger-btn" (click)="leftSideMenu?.show()" *ngIf="accountService.userValue?.id">
      <img src="assets/image/close-burger.png" alt="" />
    </button>

        <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
        <div class="wrapper-logo" *ngIf="logoUrl">
            <img [src]="logoUrl" class="logo" />
        </div>
    </div>
    <p id="title">Choose Location</p>
    <p id="note">Select the location near your place</p>
    <div class="wrapper-list">
        <div *ngIf="locations.length > 0; else orderNoData">
            <div class="item-card" [ngClass]="{active: selectedLocation && location.id === selectedLocation.id}" *ngFor="let location of locations" (click)="selectLocation(location)">
                <div class="icon">
                    <img src="assets/image/location.png" alt="" />
                </div>
                <div class="name">
                    {{ location.name }}
                </div>
            </div>
        </div>
        <ng-template #orderNoData>
            <p style="text-align: center">No data</p>
        </ng-template>
    </div>
</div>

<ng-container *ngIf="accountService.userValue?.id">
    <app-left-side-menu [hidden]="true" #leftMenuRef> </app-left-side-menu>
</ng-container>