<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div style="max-height: 800px; overflow-y: auto;" class="modal-content">
            <div class="modal-header">
                <div class="row" style="margin-top: 17px;">

                    <div class="col-md-4">
                        <label class="control-label">{{ l('Terminal') }}</label>
                    </div>
                    <div class="col-md-8">
            
                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" type="text" />
                    </div>
                </div>
            </div>
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="col-md-12 text-right">
                            <div class="btn-group ml-1" dropdown>
                                <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                    <i class="la-file-excel-o"></i> {{ l('Export') }}
                                </button>
                                <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                    <li class="dropdown-item">
                                        <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                    </li>
                                </ul>
                            </div>
            
                            <button class="btn btn-primary ml-1" (click)="getShiftDayData()"><i class="la la-check-circle-o"></i>
                                {{ l('Refresh') }}</button>
                            <button class="btn btn-default ml-1" (click)="close()"><i class="la la-check-circle-o"></i>
                                {{l('Close') }}</button>
                        </div>
            
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" *ngIf="planTerminalResult">
                            <table class="table table-bordered">
                                <tr class="table__title">
                                    <th colspan="2">{{l('Sales') }}</th>
                                </tr>
                                <tr class="table__highlight">
                                    <td>
                                        {{l('SubTotal') }}
                                    </td>
                                    <td class="text-right">
                                        {{planTerminalResultticketTypeReportDatasubTotal }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{l('Tax') }}
                                    </td>
                                    <td class="text-right">
                                        {{planTerminalResultticketTypeReportDatatax }}
                                    </td>
                                </tr>
        
                                <tr class="table__highlight">
                                    <td> {{l('TotalSales') }}</td>
                                    <td class="text-right">{{planTerminalResultticketTypeReportDatatotalSales }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{l('TicketCount') }}
                                    </td>
                                    <td class="text-right">
                                        {{planTerminalResultticketTypeReportDataticketCount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{l('SalesAverage') }}
                                    </td>
                                    <td class="text-right">
                                        {{planTerminalResultticketTypeReportDataaverage }}
                                    </td>
                                </tr>
                                <tr *ngFor="let t of planTerminalResultTypeReportDatatransactions">
                                    <td>
                                        {{t.name}}
                                    </td>
                                    <td class="text-right">
                                        {{t.value }}
                                    </td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planTerminalResultdepartments">
                                <tr class="table__title">
                                    <th colspan="3">{{l('Department') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('Department') }}</th>
                                    <th>{{l('TicketCount') }}</th>
                                    <th>{{l('Total')}}</th>
                                </tr>
                                <tr *ngFor="let department of planTerminalResultdepartments">
                                    <td>{{department.depatName}}</td>
                                    <td class="text-right">{{department.count}}</td>
                                    <td class="text-right">{{department.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total')}}</td>
                                    <td class="text-right">{{sum(planTerminalResultdepartments, "count")}}</td>
                                    <td class="text-right">{{sum(planTerminalResultdepartments, "amount") }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planTerminalResultpaymentTypeReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="3">{{l('Payments') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th> {{l('PaymentType') }}</th>
                                    <th>{{l('Count')}}</th>
                                    <th>{{l('Actual') }}</th>
                                </tr>
                                <tr *ngFor="let paymentType of planTerminalResultpaymentTypeReportDatadetails">
                                    <td>{{paymentType.paymentName}}</td>
                                    <td class="text-right">{{paymentType.count}}</td>
                                    <td class="text-right">{{paymentType.actualSales }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total') }}</td>
                                    <td class="text-right">{{sum(planTerminalResultpaymentTypeReportDatadetails, "count")}}</td>
                                    <td class="text-right">{{sum(planTerminalResultpaymentTypeReportDatadetails, "actualSales") }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planTerminalResultcashReportData">
                                <tr class="table__title">
                                    <th colspan="3">{{l('Cash')}}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('Type') }}</th>
                                    <th>{{l('Count')}}</th>
                                    <th>{{l('Total') }}</th>
                                </tr>
                                <tr>
                                    <td colspan="2">{{l('Cash')}}</td>
                                    <td class="text-right">{{planTerminalResultcashReportDatacashAmount }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('CashIn') }}</td>
                                    <td class="text-right">{{planTerminalResultcashReportDatacashIn}}</td>
                                    <td class="text-right">{{planTerminalResultcashReportDataallIncomeAmount }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('CashOut') }}</td>
                                    <td class="text-right">{{planTerminalResultcashReportDatacashOut}}</td>
                                    <td class="text-right">{{planTerminalResultcashReportDataallExpAmount }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('CashInDrawer') }}</td>
                                    <td class="text-right">{{0}}</td>
                                    <td class="text-right">{{planTerminalResultcashReportDatacashInDrawer }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planTerminalResultworkTimePaTabledetails">
                                <tr class="table__title">
                                    <th colspan="4">{{l('WorkShift') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('PaymentType')}}</th>
                                    <th>{{l('Actual')}}</th>
                                    <th>{{l('In Hand')}}</th>
                                    <th>{{l('Difference')}}</th>
                                </tr>
                                <tr *ngFor="let workTime of planTerminalResultworkTimePaTabledetails">
                                    <td>{{workTime.paymentName}}</td>
                                    <td class="text-right">{{workTime.actualTotal }}</td>
                                    <td class="text-right">{{workTime.inSalesTotal }}</td>
                                    <td class="text-right">{{workTime.differenceTotal }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planTerminalResultticketsPromotionReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="3">{{l('TicketPromotions')}}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{l('Names') }}</th>
                                    <th>{{l('Quantity')}}</th>
                                    <th>{{l('Amount')}}</th>
                                </tr>
                                <tr *ngFor="let promotion of planTerminalResultticketsPromotionReportDatadetails">
                                    <td>{{promotion.promotionName}}</td>
                                    <td class="text-right">{{promotion.quantity}}</td>
                                    <td class="text-right">{{promotion.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total') }}</td>
                                    <td class="text-right">{{ planTerminalResultticketsPromotionReportDatatotalCount}}</td>
                                    <td class="text-right">{{ planTerminalResultticketsPromotionReportDatatotalSum }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planTerminalResultitemsData">
                                <tr class="table__title">
                                    <th colspan="2">{{l('GeneralInformation')}}</th>
                                </tr>
                                <tr class="table__header">
                                    <th colspan="2">{{l('Items')}}</th>
                                </tr>
                                <tr>
                                    <td>{{l('PaidItemsCount')}}</td>
                                    <td class="text-right">{{planTerminalResultitemsDatatotalPaidItems }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('PaidItemsTotal')}}</td>
                                    <td class="text-right">{{planTerminalResultitemsDatatotalPaidItemTotal }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('ItemsCount') }}</td>
                                    <td class="text-right">{{planTerminalResultitemsDataitemCount }}</td>
                                </tr>
        
                                <tr class="table__header">
                                    <th colspan="2">{{l('Orders') }}</th>
                                </tr>
                                <tr>
                                    <td>{{l('PaidOrdersCount')}}</td>
                                    <td class="text-right">{{planTerminalResultordersReportDatatotalPaidItemsorderCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('PaidOrdersTotal')}}</td>
                                    <td class="text-right">{{planTerminalResultordersReportDatatotalPaidItemsorderValue }}</td>
                                </tr>
                                <tr>
                                    <td>{{l('OrderCount')}}</td>
                                    <td class="text-right">{{planTerminalResultordersReportDataorderCount }}</td>
                                </tr>
                                <tr *ngFor="let orderState of planTerminalResultordersReportDataorderStateReports">
                                    <td>{{orderState.state}} ({{orderState.count}})</td>
                                    <td class="text-right">{{orderState.amount }}</td>
                                </tr>
        
                                <tr class="table__header">
                                    <th colspan="2">{{l('Tickets')}}</th>
                                </tr>
                                <tr *ngFor="let tickets of planTerminalResultticketsReportDataticketStateReports">
                                    <td>{{tickets.state}} ({{tickets.count}})</td>
                                    <td class="text-right">{{tickets.amount }}</td>
                                </tr>
                                <tr class="table__header">
                                    <th colspan="2">{{l('Tickets')}}</th>
                                </tr>
                                <tr>
                                    <td>{{l('StartTicketNumber') }}</td>
                                    <td class="text-right">{{planTerminalResultticketsReportDatafirstTicketNumber}}</td>
                                </tr>
                                <tr>
                                    <td>{{l('EndTicketNumber')}}</td>
                                    <td class="text-right">{{planTerminalResultticketsReportDatalastTicketNumber}}</td>
                                </tr>
                            </table>
        
                             <table class="table table-bordered" *ngIf="planTerminalResultticketTagsReportData">
                                <tr class="table__title">
                                    <th colspan="2">{{l('TicketTags')}}</th>
                                </tr>
                                <tbody *ngFor="let ticketTag of planTerminalResultticketTagsReportData">
                                    <tr>
                                        <td colspan="2">{{ticketTag.groupName}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{l('TicketCount')}}</td>
                                        <td class="text-right">{{ticketTag.tCount}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{l('Rate') }}</td>
                                        <td class="text-right">{{ticketTag.rate}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{l('Total') }} {{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.amnt}}</td>
                                    </tr>
                                    <tr  *ngFor="let subRow of ticketTag.subRows">
                                        <td *ngIf="!ticketTag.isDecimal">{{subRow.tagName}} ({{subRow.ticketCount}})</td>
                                        <td *ngIf="!ticketTag.isDecimal" class="text-right">{{subRow.amount }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal">
                                        <td>{{l('Total')}} {{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.totalAmount }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal && ticketTag.isInterger">
                                        <td>{{l('Total')}} {{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.sum }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal && ticketTag.sum > 0">
                                        <td>{{l('Avg')}} / {{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.average }}</td>
                                    </tr>
                                </tbody>
                            </table>  
        
                            <table class="table table-bordered" *ngIf="planTerminalResultownersReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="2">{{l('UserSales')}}</th>
                                </tr>
                                <tr *ngFor="let user of planTerminalResultownersReportDatadetails">
                                    <td>{{user.userName}}</td>
                                    <td class="text-right">{{user.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total')}}</td>
                                    <td class="text-right">{{planTerminalResultownersReportDatatotalOwnersAmount }}</td>
                                </tr>
                            </table>
        
                            <table *ngFor="let user of planTerminalResultusersIncomeReportData" class="table table-bordered">
                                <tr class="table__title">
                                    <th colspan="3">{{l('SettledBy') }} {{user.paymentUserName}}</th>
                                </tr>
                                <tr *ngFor="let payment of user.paymentTypes">
                                    <td>{{payment.paymentName}}</td>
                                    <td class="text-right">% {{payment.percent }}</td>
                                    <td class="text-right">{{payment.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{l('Total') }}</td>
                                    <td class="text-right">% {{sum(user.paymentTypes, "percent") }}</td>
                                    <td class="text-right">{{sum(user.paymentTypes, "amount") }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">{{ l('Close') }}</button>
            </div>
        </div>
