<!-- about -->
<section class="about gray_bg" style="position:relative">
    <img class="vector-2" style="position: absolute; left: -150px; transform: rotate(82deg); bottom: 0" src="./assets/static/svg/vector-2.svg" alt="" />
    <img class="vector-2" style="position: absolute; right: -339px; transform: rotate(52deg); bottom: 0" src="./assets/static/svg/vector-2.svg" alt="" />
    <div class="container">
        <article class="col-12">
            <h2 class="text-orange">About us</h2>
            <div class="p-3">
                <p>
                    Tiffin is a subsidiary of Food Stack Concepts – a multi-brand F&B conglomerate providing multiple services including but not
                    limited to, restaurants, catering services, white label services, tiffin services, institutional supplies, QSR concepts and multi-cuisine
                    cloud kitchen concepts.
                </p>
                <p>
                    At Tiffin, we are committed to delivering delightful food experiences in everything that we do. And in keeping with that mission,
                    we are launching a brand-new pre-order system that is entirely cashless allowing students to manage payments easily whilst giving parents
                    complete control of their children’s nutrition and school spending. Not only does this help reduce food wastage but it is also a great way
                    to manage allergens and dietary requirements.
                </p>
                <p>
                    Parents and students view menu choices online and order and pay in advance anytime, from any device whether from home or on the go. Our
                    subscription-based meal plans are flexible and convenient giving you the option to pre- order for the entire month or week in advance. And
                    it’s as easy as 123. Choose your meals from the online menu, submit your orders and pick them up in the cafeteria. You can always go back to
                    change or cancel your orders before the order cut-off time.
                </p>
                <p>
                    The all-new revamped menu is tailored to suit your school and offers a multitude of options featuring a variety of cuisines that includes
                    healthy and nutritious meal options for vegetarians and non-vegetarians. All our products are made fresh every morning and packaged in our
                    ISO 22000, HACCP Halal certified central kitchen.
                </p>
            </div>
        </article>
    </div>
</section>
<!-- about ends -->
