﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!wheelPaymentMethod.systemName ? l('CreatePaymentMethod') : l('EditPaymentMethod')"> </sub-header>
    </div>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form #wheelPaymentMethodForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="WheelPaymentMethod_SystemName">{{ l("SystemName") }}</label>
                                <input
                                    type="text"
                                    id="WheelPaymentMethod_SystemName"
                                    class="form-control"
                                    disabled
                                    [(ngModel)]="wheelPaymentMethod.systemName"
                                    name="SystemName"
                                />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="WheelPaymentMethod_FriendlyName">{{ l("FriendlyName") }}</label>
                                <input
                                    type="text"
                                    id="WheelPaymentMethod_FriendlyName"
                                    class="form-control"
                                    [(ngModel)]="wheelPaymentMethod.friendlyName"
                                    name="FriendlyName"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row-sm">
                                <label for="WheelPaymentMethod_Logo">{{ l("Logo") }}</label>
                            </div>
                            <div class="row-sm">
                                <div class="image-input image-input-outline" id="kt_image_1">
                                    <div *ngIf="uploadImageLoading" class="spinner spinner-primary spinner-lg mr-15"></div>
                                    <div class="image-input-wrapper" style="background-image: url({{wheelPaymentMethod.logo}})">
                                    </div>

                                    <label
                                        class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                        data-action="change"
                                        data-toggle="tooltip"
                                        title=""
                                        data-original-title="Change avatar"
                                    >
                                        <i class="fa fa-pen icon-sm text-muted"></i>
                                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                        <input type="hidden" name="profile_avatar_remove" />
                                    </label>

                                    <span
                                        class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                        data-action="cancel"
                                        data-toggle="tooltip"
                                        title="Cancel avatar"
                                    >
                                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                                    </span>

                                    <span
                                        class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                        data-action="remove"
                                        data-toggle="tooltip"
                                        title="Remove avatar"
                                    >
                                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="RecurringSupport">{{ "RecurringSupport" | localize }}</label>
                                        <select
                                            id="RecurringSupport"
                                            name="RecurringSupport"
                                            class="form-control"
                                            [(ngModel)]="wheelPaymentMethod.recurringSupport"
                                        >
                                            <option *ngFor="let item of recurringPaymentTypeOption" [value]="item.value">
                                                {{ item.label | localize }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="WheelPaymentMethod_DisplayOrder">{{ l("DisplayOrder") }}</label>
                                        <input
                                            type="number"
                                            id="WheelPaymentMethod_DisplayOrder"
                                            class="form-control"
                                            min="1"
                                            [(ngModel)]="wheelPaymentMethod.displayOrder"
                                            name="DisplayOrder"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row-sm d-flex justify-content-between">
                                <div class="checkbox-list">
                                    <label for="WheelPaymentMethod_SupportsCapture" class="checkbox">
                                        <input
                                            id="WheelPaymentMethod_SupportsCapture"
                                            type="checkbox"
                                            name="SupportsCapture"
                                            [(ngModel)]="wheelPaymentMethod.supportsCapture"
                                        />
                                        {{ "SupportsCapture" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="checkbox-list">
                                    <label for="WheelPaymentMethod_Refund" class="checkbox">
                                        <input
                                            id="WheelPaymentMethod_Refund"
                                            type="checkbox"
                                            name="Refund"
                                            [(ngModel)]="wheelPaymentMethod.refund"
                                        />
                                        {{ "Refund" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="checkbox-list">
                                    <label for="WheelPaymentMethod_PartialRefund" class="checkbox">
                                        <input
                                            id="WheelPaymentMethod_PartialRefund"
                                            type="checkbox"
                                            name="PartialRefund"
                                            [(ngModel)]="wheelPaymentMethod.partialRefund"
                                        />
                                        {{ "PartialRefund" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="checkbox-list">
                                    <label for="WheelPaymentMethod_Void" class="checkbox">
                                        <input
                                            id="WheelPaymentMethod_Void"
                                            type="checkbox"
                                            name="Void"
                                            [(ngModel)]="wheelPaymentMethod.void"
                                        />
                                        {{ "Void" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="checkbox-list">
                                    <label for="WheelPaymentMethod_Active" class="checkbox">
                                        <input
                                            id="WheelPaymentMethod_Active"
                                            type="checkbox"
                                            name="Active"
                                            [(ngModel)]="wheelPaymentMethod.active"
                                        />
                                        {{ "Active" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="sm-row mt-5" *ngIf="wheelPaymentMethod.dynamicFieldConfig?.length > 0">
                                <formly-form
                                    [form]="wheelPaymentMethodForm.form"
                                    [fields]="wheelPaymentMethod.dynamicFieldConfig"
                                    [model]="wheelPaymentMethod.dynamicFieldData"
                                ></formly-form>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="cancel()">
                            {{ l("Cancel") }}
                        </button>
                        <button
                            type="submit"
                            class="btn btn-primary blue"
                            [disabled]="!wheelPaymentMethodForm.form.valid"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"
                        >
                            <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
