﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PaymentMethod' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
                    {{l("ExportToExcel")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getWheelPaymentMethods()" class="btn btn-primary"
                                                    type="submit"><i class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="separator separator--border-dashed"></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="SystemNameFilter">{{l("SystemNameFilter")}}</label>
                                        <input type="text" class="form-control" id="SystemNameFilter"
                                            name="systemNameFilter" [(ngModel)]="systemNameFilter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="RecurringSupportFilter">{{l("RecurringSupport")}}</label>
                                    <select class="form-control" name="RecurringSupportFilter"
                                        id="RecurringSupportFilter" [(ngModel)]="recurringSupportFilter">
                                        <option value="-1">{{l("All")}}</option>
                                        <option *ngFor="let option of allRecurringPaymentType" [value]="option.value">
                                            {{l(option.displayText)}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="SupportsCaptureFilterSelect">{{l("SupportsCapture")}}</label>
                                    <select class="form-control" name="SupportsCaptureFilterSelect"
                                        id="SupportsCaptureFilterSelect" [(ngModel)]="supportsCaptureFilter">
                                        <option value="-1">{{l("All")}}</option>
                                        <option value="0">{{l("False")}}</option>
                                        <option value="1">{{l("True")}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="RefundFilterSelect">{{l("Refund")}}</label>
                                    <select class="form-control" name="RefundFilterSelect" id="RefundFilterSelect"
                                        [(ngModel)]="refundFilter">
                                        <option value="-1">{{l("All")}}</option>
                                        <option value="0">{{l("False")}}</option>
                                        <option value="1">{{l("True")}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="PartialRefundFilterSelect">{{l("PartialRefund")}}</label>
                                    <select class="form-control" name="PartialRefundFilterSelect"
                                        id="PartialRefundFilterSelect" [(ngModel)]="partialRefundFilter">
                                        <option value="-1">{{l("All")}}</option>
                                        <option value="0">{{l("False")}}</option>
                                        <option value="1">{{l("True")}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="VoidFilterSelect">{{l("Void")}}</label>
                                    <select class="form-control" name="VoidFilterSelect" id="VoidFilterSelect"
                                        [(ngModel)]="voidFilter">
                                        <option value="-1">{{l("All")}}</option>
                                        <option value="0">{{l("False")}}</option>
                                        <option value="1">{{l("True")}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="ActiveFilterSelect">{{l("Active")}}</label>
                                    <select class="form-control" name="ActiveFilterSelect" id="ActiveFilterSelect"
                                        [(ngModel)]="activeFilter">
                                        <option value="-1">{{l("All")}}</option>
                                        <option value="0">{{l("False")}}</option>
                                        <option value="1">{{l("True")}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-10">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                            class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                            class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                                </div>
                                <div class="col-sm-2 d-flex justify-content-end">
                                    <button (click)="refresh()" class="btn btn-primary blue">
                                        <i class="fa fa-sync"></i>
                                        {{l("Clear")}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getWheelPaymentMethods($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.WheelPaymentMethods.Edit', 'Pages.WheelPaymentMethods.Delete')">
                                            {{l('Actions')}}</th>
                                        <th style="width: 150px">
                                            {{l('FriendlyName')}}
                                        </th>
                                        <th style="width: 150px">
                                            {{l('SystemName')}}
                                        </th>
                                        <th style="width: 150px">
                                            {{l('Logo')}}
                                        </th>
                                        <th style="width: 100px">
                                            {{l('SupportsCapture')}}
                                        </th>
                                        <th style="width: 100px">
                                            {{l('Refund')}}
                                        </th>
                                        <th style="width: 100px">
                                            {{l('PartialRefund')}}
                                        </th>
                                        <th style="width: 100px">
                                            {{l('Void')}}
                                        </th>
                                        <th style="width: 100px">
                                            {{l('RecurringSupport')}}
                                        </th>
                                        <th style="width: 100px">
                                            {{l('DisplayOrder')}}
                                        </th>
                                        <th style="width: 100px">
                                            {{l('Active')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.WheelPaymentMethods.Edit', 'Pages.WheelPaymentMethods.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.WheelPaymentMethods.Edit')"
                                                            (click)="edit(record.systemName)">{{l('Edit')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('FriendlyName')}}</span>
                                            {{record.friendlyName}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('SystemName')}}</span>
                                            {{record.systemName}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Logo')}}</span>
                                            <span>
                                                <a [href]="record.logo" target="_blank">
                                                    <img class="image" [src]="record.logo">
                                                </a>
                                            </span>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title">{{'SupportsCapture' | localize}}</span>
                                            <span *ngIf="record.supportsCapture"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.supportsCapture"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title">{{'Refund' | localize}}</span>
                                            <span *ngIf="record.refund"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.refund"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title">{{'PartialRefund' | localize}}</span>
                                            <span *ngIf="record.partialRefund"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.partialRefund"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title">{{'Void' | localize}}</span>
                                            <span *ngIf="record.void"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.void"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title">{{'RecurringSupport' | localize}}</span>
                                            {{RecurringPaymentType[record.recurringSupport] | localize}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title">{{'DisplayOrder' | localize}}</span>
                                            {{record.displayOrder}}
                                        </td>
                                        <td style="width:100px">
                                            <span class="ui-column-title">{{'Active' | localize}}</span>
                                            <span *ngIf="record.active"
                                                class="badge badge-success badge-inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.active"
                                                class="badge badge-dark badge-inline">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getWheelPaymentMethods($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
