<div class="card stack-wallet">
    <div class="panel-heading">
        <div class="text-header">
            <span class="panel-title">Transfer</span>
            <span class="panel-description">Select the account and nominal to be transferred.</span>
        </div>
    </div>
    <div class="card-body">
        <div class="transfer-to">
            <div class="title">
                Transfer To
            </div>
            <div class="phone-number">
                <input type="text" placeholder="Enter phone number, email, user name" [(ngModel)]="filter">
                <button class="btn-add" (click)="getCustomerForTransfer(filter)"></button>
            </div>
        </div>
        <div class="recent">
            <span>Recent</span>
            <div class="see-all">
                <span>See all</span>
                <img src="\assets\image\chevron-right.png" alt="">
            </div>
        </div>
        <div class="customer-list">
            <div class="item" *ngFor="let item of customerForTransferDtoList" [ngClass]="item.isSelected ? 'item-customer-active' : ''" (click)="selectCustomer(item)">
                <div class="person">
                    <img src="\assets\image\person-settings.png" alt="" class="img-person">
                    <div class="info">
                        <span>{{item.customerName}}</span>
                        <!-- <span>{{item.phoneNumber}}</span> -->
                    </div>
                </div>
                <div class="tick" *ngIf="item.isSelected">
                    <img src="\assets\image\radio.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nominal-content">
    <div class="nominal">
        <div class="title">
            Nominal
        </div>
        <div class="price-list">
            <div class="item" *ngFor="let price of itemPrices" (click)="selectPrice(price)" [ngClass]="price.isSelected ? 'price-active' : ''">
                ${{price.price}}
            </div>
            <button class="item" [style.background]="!customerForTransferDto?.customerId ? '#DBDBDB' : '#FFFFFF'" [disabled]="!customerForTransferDto?.customerId" (click)="selectAnyPrice()">Any</button>
        </div>
    </div>
    <div class="confirm">
        <button class="btn-confirm" (click)="showDialog()" [style.opacity]="(!customerForTransferDto?.customerId || price == 0) ? '0.6' : '1'" 
        [disabled]="!customerForTransferDto?.customerId || price == 0">Confirmation</button>
    </div>
</div>