.stack-wallet {
    .panel-heading {
        background-image: url(/../../../../../assets/image/banner-settings.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid #ededed;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 24px;
        .text-header {
            display: flex;
            flex-direction: column;
            .panel-title {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 150%;
                color: #22232f;
            }
            .panel-description {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #575755;
                margin-top: 2px;
            }
        }
    }
    .card-body {
        .transfer-to {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            .title {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #22232f;
                margin-bottom: 10px;
            }
            .phone-number {
                display: flex;
                input {
                    background: #ffffff;
                    border: 1px solid #cccccc;
                    box-sizing: border-box;
                    border-radius: 8px;
                    margin-right: 15px;
                    width: 320px;
                    height: 48px;
                    padding-left: 16px;
                    &::placeholder {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        color: #dbdbdb;
                    }
                }
                button {
                    background: #f5c031;
                    border: 2px dashed #ffae58;
                    box-sizing: border-box;
                    border-radius: 8px;
                    width: 48px;
                    height: 48px;
                    background-image: url("/../../../../../assets/image/add.png");
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        .recent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 9px;
            margin-top: 16px;
            & > span:nth-child(1) {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #888884;
            }
            .see-all {
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                    text-align: right;
                    color: #488bf0;
                    margin-right: 8px;
                }
            }
        }
        .customer-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px 15px;
            .item-customer-active {
                background: #f6f9fe;
                border: 1px solid #488bf0;
            }
            .item {
                border: 1px solid #DBDBDB;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                .person {
                    display: flex;
                    align-items: center;
                    img {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        margin-right: 8px;
                    }
                    .info {
                        & > span:nth-child(1) {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 140%;
                            display: flex;
                            align-items: center;
                            color: #22232f;
                        }
                        & > span:nth-child(2) {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 140%;
                            display: flex;
                            align-items: center;
                            color: #8f92a1;
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}
.nominal-content {
    background: #ffffff;
    box-shadow: 0px 6px 5px -7px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-top: 16px;
    .nominal {
        border-bottom: 1px solid #ededed;
    }
    .title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: #22232f;
        margin-bottom: 11px;
        padding-top: 16px;
        margin-left: 24px;
    }
    .price-list {
        margin-left: 24px;
        margin-right: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 12px;
        margin-bottom: 24px;
        button {
            background: #fff;
        }
        .item {
            border: 1px solid #488bf0;
            box-sizing: border-box;
            border-radius: 8px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #22232f;
            width: 100%;
            height: 55px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .price-active {
            background: #488bf0;
            color: #ffffff;
        }
    }
    .confirm {
        display: flex;
        flex-direction: row-reverse;
        .btn-confirm {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #ffffff;
            background: #2d5d8c;
            border-radius: 8px;
            padding: 10px 24px;
            margin: 32px 24px 32px 24px;
            border: none;
        }
    }
}

@media (max-width: 991px) {

    .customer-list{
        grid-template-columns: 1fr !important;
    }

    .price-list{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}
