.form-register {
    max-width: 50%;
    margin: 10px auto;
    font-family: sans-serif;
}

@media (max-width: 1024px) {
    .form-register {
        width: 100%;
        max-width: unset;
        margin: 0;
    }
}

.address2 {
    letter-spacing: 0;
    color: #545454;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: block;
    margin: 0;
}

.btn:hover {
    color: #ffffff;
}
