﻿@using DineConnect.Gateway._3rdPartyLibs.ZohoBooks
@model List<DineConnect.Gateway._3rdPartyLibs.ZohoBooks.ZohoBookOrganization>


@{
    ViewBag.Title = "Zoho - LevelFive Connect";
}

<h2>ZohoBooks - DineConnect</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-5">

            <form method="post">
                <input type="hidden" name="applicationUrl" value="@ViewBag.applicationUrl" />
                <input type="hidden" name="accessToken" value="@ViewBag.accessToken" />
                <input type="hidden" name="refreshToken" value="@ViewBag.refreshToken" />
                <input type="hidden" name="expiresIn" value="@ViewBag.expiresIn" />

                <div class="form-group">
                    <label for="tenantId">Choose an organization</label>
                    <select class="form-control" id="organizationId" name="organizationId">
                        @foreach (ZohoBookOrganization item in Model)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-lg" type="submit">Proceed</button>
                </div>
            </form>

        </div>
    </div>

</div>