<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Cities' | localize" [description]="'CitiesHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getCityList()">
                    {{l("Deleted")}}
                    <span></span>
                </label>
                <button class="btn btn-outline-success" (click)="exportToExcel()">
                    <i class="la-file-excel-o-o"></i> {{"ExportToExcel" | localize}}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Address.Cities.Create')"
                    (click)="createOrUpdateCity(null)" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{"CreateCity" | localize}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center mb-4">

                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input autoFocus [(ngModel)]="filterText" name="filterText"
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getCityList()" class="btn btn-primary" type="submit">
                                                    <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #cityTable (onLazyLoad)="getCityList($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px">{{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="id">
                                            {{l('Id')}}
                                            <p-sortIcon field="id"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">
                                            <select (change)="getCityList($event)" class="form-control"
                                                [(ngModel)]="selectedStateToShowList" name="City" #city="ngModel">
                                                <option *ngFor="let state of stateListDropDownForFilter"
                                                    [value]="state.value">
                                                    {{state.label}}
                                                </option>
                                            </select>

                                        </th>
                                        <th style="width: 150px">
                                            <select class="form-control" [(ngModel)]="selectedCountryToShowList"
                                                name="country" (change)="countryChange()">
                                                <option *ngFor="let country of countryListDropDownForFilter"
                                                    [value]="country.value">
                                                    {{country.label}}
                                                </option>
                                            </select>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Address.Cities.Edit', 'Pages.Tenant.Connect.Address.Cities.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Address.Cities.Edit')"
                                                            class="dropdown-item"
                                                            (click)="createOrUpdateCity(record)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Address.Cities.Delete')"
                                                            class="dropdown-item"
                                                            (click)="deleteCity(record)">{{l('Delete')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="isDeleted && permission.isGranted('Pages.Tenant.Connect.Address.Cities.Edit')"
                                                            (click)="activateItem(record)">
                                                            {{ l('Revert') }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                        <td style="width:150px">{{record.id}}</td>
                                        <td style="width:150px">{{record.name}}</td>
                                        <td style="width:150px">{{record.stateName}}</td>
                                        <td style="width:150px">{{record.countryName}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #cityPaginator
                                    (onPageChange)="getCityList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <createOrUpdateCity #createOrUpdateCityModal (cityUpdated)="getCityList($event)"></createOrUpdateCity>
</div>
