<div appBsModal #modal="bs-modal" class="modal fade" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="cityDto">

            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <span *ngIf="cityDto.id>0">
                        Edit City: {{cityDto.name}}
                    </span>
                    <span *ngIf="!cityDto.id">
                        Create new City
                    </span>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #form="ngForm" (ngSubmit)="save()">

                    <div class="form-group">
                        <label for="name">{{l("Country")}}: &#160;</label>
                        <select (change)="getStateList()" class="form-control" [(ngModel)]="cityDto.countryId" required
                            name="countryId" #countryId="ngModel">
                            <option [value]="undefined">
                                {{"Select_Country" | localize}}
                            </option>
                            <option *ngFor="let country of countryListDropDown" [value]="country.value">
                                {{country.label}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="stateLoaded">
                        <label for="name">{{l("State")}}: &#160;</label>
                        <select class="form-control" [(ngModel)]="cityDto.stateId" name="stateId" #stateId="ngModel" required>
                            <option [value]="undefined">
                                {{"Select_State" | localize}}
                            </option>
                            <option *ngFor="let state of stateListDropDown" [value]="state.value">
                                {{state.label}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="name">{{l("Name")}}</label>
                        <input id="name" type="text" name="faxNumber" class="form-control" [(ngModel)]="cityDto.name" required
                            maxlength="256">
                    </div>

                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                            (click)="close()">{{l("Cancel")}}</button>
                        <button [disabled]="!form.form.valid" class="btn btn-primary blue" type="submit" [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')">
                            <i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>