.payment-option {
    margin-bottom: 20px;
    padding-left: 10px;
}

.stripe-check-out-container .error {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 15px;
    font-size: 13px !important;
    opacity: 0;
    transform: translateY(10px);
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.stripe-check-out-container .error.visible {
    opacity: 1;
    transform: none;
}

.stripe-check-out-container .error .message {
    font-size: 13px;
}

.payment-checkout-form {
    margin: 20px;
}

.stripe-check-out-container {
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.stripe-check-out-container * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.stripe-check-out-container fieldset {
    border: 1px solid #e2e5ec;
    padding: 5px;
    border-radius: 5px;
}

.stripe-check-out-container fieldset legend {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #1C3045;
}

.stripe-check-out-container fieldset legend + * {
    clear: both;
}

.stripe-check-out-container .card-only {
    display: block;
}

.stripe-check-out-container .payment-request-available {
    display: none;
}

.stripe-check-out-container .row {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px;
}

.stripe-check-out-container .field {
    position: relative;
    width: 100%;
}

.stripe-check-out-container .field + .field {
    margin-left: 10px;
}

.stripe-check-out-container label {
    width: 100%;
    // color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stripe-check-out-container .input {
    width: 100%;
    color: #fff;
    background: transparent;
    padding: 5px 0 6px 0;
    border-bottom: 1px solid #1C3045;
    transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.stripe-check-out-container .input::-webkit-input-placeholder {
    color: #bfaef6;
}

.stripe-check-out-container .input::-moz-placeholder {
    color: #bfaef6;
}

.stripe-check-out-container .input:-ms-input-placeholder {
    color: #bfaef6;
}

.stripe-check-out-container .input.StripeElement--focus,
.stripe-check-out-container .input:focus {
    border-color: #fff;
}

.stripe-check-out-container .input.StripeElement--invalid {
    border-color: #ffc7ee;
}

.stripe-check-out-container input:-webkit-autofill,
.stripe-check-out-container select:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
}

.stripe-check-out-container .StripeElement--webkit-autofill {
    background: transparent !important;
}

.stripe-check-out-container input,
.stripe-check-out-container button,
.stripe-check-out-container select {
    -webkit-animation: 1ms void-animation-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
    border-radius: 0;
}

.stripe-check-out-container select.input,
.stripe-check-out-container select:-webkit-autofill {
    background-image: url('data:image/svg+xml;utf8,<svg width="10px" height="5px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M5.35355339,4.64644661 L9.14644661,0.853553391 L9.14644661,0.853553391 C9.34170876,0.658291245 9.34170876,0.341708755 9.14644661,0.146446609 C9.05267842,0.0526784202 8.92550146,-2.43597394e-17 8.79289322,0 L1.20710678,0 L1.20710678,0 C0.930964406,5.07265313e-17 0.707106781,0.223857625 0.707106781,0.5 C0.707106781,0.632608245 0.759785201,0.759785201 0.853553391,0.853553391 L4.64644661,4.64644661 L4.64644661,4.64644661 C4.84170876,4.84170876 5.15829124,4.84170876 5.35355339,4.64644661 Z" id="shape"></path></svg>');
    background-position: 100%;
    background-size: 10px 5px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.stripe-check-out-container button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0 0;
    background-color: #1C3045;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    line-height: 2px;
}

.stripe-check-out-container button:active {
    background-color: #ffffff;
}

.stripe-check-out-container .error .message {
    color: red;
}

#checkoutButton {
    display: block;
}

@media (max-width: 1024px) {
    .top-kt {
        margin-top: 1vh;
    }
}

@media (min-width: 1025px) {
    .top-kt {
        margin-top: -5vh;
    }
}

form {
    .form-group {
        input,
        select {
            border: 1px solid #ced4da;
        }
    }
}
