<div [@routerTransition] class="top-kt w-100">
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor w-100">
        <div class="row">
            <div class="col-sm-8 top-kt">
                <div class="card mb-1">
                    <div class="card-body">
                        <h5 class="mb-0">{{"Checkout" | localize}}</h5>
                    </div>
                    <div class="kt-portlet kt-portlet--mobile" style="padding: 10px;"
                        [ngStyle]="{'background-color': currentTheme.baseSettings.content.color}">
                        <form class="checkout-form" name="checkoutForm">
                            <div class="kt-portlet__body">
                                <h5 style="margin-bottom: 20px;">
                                    {{"BillingAddress" | localize}}
                                </h5>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="Name">{{"Name" | localize}} *</label>
                                        <input id="Name" #firstName="ngModel" type="text" name="name" autocomplete="off"
                                            class="form-control" [(ngModel)]="billingInfo.name" required
                                            maxlength="256" />
                                        <!-- <validation-messages [formCtrl]="name"></validation-messages> -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="AddressInput">{{"Choose Address" | localize}}</label>
                                        <select class="form-control" id="AddressInput" type="text"
                                            #AddressInput="ngModel" name="AddressInput" [(ngModel)]="addressId"
                                            (change)="addressChanged()">
                                            <option [ngValue]="undefined">
                                                {{"Other Address" | localize}}
                                            </option>
                                            <option *ngFor="let item of addresses" [ngValue]="item.addressId">
                                                {{item.fullAddress}}
                                            </option>
                                        </select>
                                        <validation-messages [formCtrl]="AddressInput"></validation-messages>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="Address1">{{"Address1" | localize}}</label>
                                        <input id="Address1" #Address1Input="ngModel" class="form-control" type="text"
                                            name="Address1" [(ngModel)]="billingInfo.address1" autocomplete="off">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="Address2">
                                            {{"Address2" | localize}}
                                        </label>
                                        <input id="Address2" #Address2Input="ngModel" class="form-control" type="text"
                                            name="Address2" [(ngModel)]="billingInfo.address2" autocomplete="off">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="Address3">
                                            {{"Address3" | localize}}
                                        </label>
                                        <input id="Address3" #Address3Input="ngModel" class="form-control" type="text"
                                            name="Address3" [(ngModel)]="billingInfo.address3" autocomplete="off">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="Country">{{l("Country")}}: &#160;</label>
                                        <select id="Country" class="form-control" [(ngModel)]="billingInfo.countryId"
                                            name="Country" #Country="ngModel"
                                            (change)="changeCountry(billingInfo.countryId)">
                                            <option [value]="undefined">
                                                {{"Select_Country" | localize}}
                                            </option>
                                            <option *ngFor="let item of lstCountry" [value]="item.value">
                                                {{item.displayText}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="City">{{l("City")}}</label>
                                        <select id="City" class="form-control" [(ngModel)]="billingInfo.cityId"
                                            name="City" #City="ngModel">
                                            <option [value]="undefined">
                                                {{"Select_City" | localize}}
                                            </option>
                                            <option *ngFor="let item of lstCity" [value]="item.value">
                                                {{item.displayText}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 top-kt">
                <app-cart-calculator #cartCalculatorComponent [products]="cartProducts" [isChillComponent]="true"
                    [billingInfo]="billingInfo"
                    [cartClass]="'cart-mobile-size'"></app-cart-calculator>
            </div>
        </div>
    </div>
</div>
