<!-- feedback -->
<section class="feedback"  style="position: relative;">
    <img class="vector-2" style="position: absolute; left: -150px; transform: rotate(82deg); bottom: -250px" src="./assets/static/svg/vector-2.svg" alt="" />
    <img class="vector-2" style="position: absolute; right: -339px; transform: rotate(52deg); bottom: -250px" src="./assets/static/svg/vector-2.svg" alt="" />
    <div class="container-fluid">
        <article class="text-center">
            <div class="section__block background-custom" style="position: relative; background-image: url('./assets/static/img/feedback_bg.png')">
                <div class="feedback-block-container" >
                    <div class="heading">
                        <h4>PLEASE LET TIFFINS KNOW ABOUT YOUR OPINIONS
                        </h4>
                        <span>Your feedback is very important for us</span>
                    </div>
                    <div class="staring">
                        <img src="assets/static/svg/star_right.svg" alt="" />
                        <img src="assets/static/svg/star_right.svg" alt="" />
                        <img src="assets/static/svg/star_right.svg" alt="" />
                        <img src="assets/static/svg/star_right.svg" alt="" />
                        <img src="assets/static/svg/star_low.svg" alt="" />
                    </div>
                    <div class="rating-form">
                        <form #emailActivationForm="ngForm" method="post" novalidate (ngSubmit)="save()">
                            <div class="form-group">
                                <textarea [(ngModel)]="feedbackMessage" placeholder="Message" class="form-control" name="feedbackMessage" id="" cols="30" rows="10"></textarea>
                            </div>
                            <button type="submit" class="btn orange-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<!-- feedback end -->