.staring img {
    cursor: pointer;
}
.feedback {
    overflow: hidden;
}

.form-group {
    padding-bottom: 20px;
}

form .form-group:last-child {
    padding-bottom: 20px;
}

.section__block.background-custom {
    height: 600px;
}

.feedback-block-container {
    position: absolute;
    top: 30%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    background-color: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;


    @media (max-width: 768px) {
        max-width: 100%;
    }
}