<div
    appBsModal
    #delAggLanguageModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="delAggLanguageModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" [busyIf]="!isActive">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>{{ data.id ? 'Edit Variant' : 'Create Variant' }}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()"></button>
            </div>
    
            <div class="modal-body p-0" *ngIf="isActive">
                <app-add-edit-cluster-variant
                    #addEditClusterVariant
                    [isModal]="true"
                ></app-add-edit-cluster-variant>
            </div>
        </div>
    </div>
</div>
