<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ options.title }}
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate (ngSubmit)="refreshTable()" autocomplete="new-password">
                    <div class="input-group mb-4">
                        <input autoFocus [(ngModel)]="filterText" name="filterText" class="form-control"
                            placeholder="{{ 'SearchWithThreeDot' | localize }}" type="text" />
                        <span class="input-group-btn">
                            <button class="btn btn btn-primary" type="submit"><i class="flaticon-search-1"
                                    [attr.aria-label]="l('Search')"></i></button>
                        </span>
                    </div>

                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="cardNo">
                                        {{ 'CardNumber' | localize }}
                                        <p-sortIcon field="cardNo"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="connectCardTypeName">
                                        {{ 'CardType' | localize }}
                                        <p-sortIcon field="connectCardTypeName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="redeemed">
                                        {{ 'Redeemed' | localize }}
                                        <p-sortIcon field="redeemed"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="creationTime">
                                        {{ 'CreationTime' | localize }}
                                        <p-sortIcon field="creationTime"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">{{ 'CardNumber' | localize }}</span>
                                        {{ record.cardNo }}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">{{ 'CardType' | localize }}</span>
                                        {{ record.connectCardTypeName }}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">{{ 'Redeemed' | localize }}</span>
                                        {{ record.redeemed }}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">{{ 'CreationTime' | localize }}</span>
                                        {{ record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{ 'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount }}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ 'Cancel' | localize
                    }}</button>
            </div>
        </div>
    </div>
</div>