<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" (onShown)="shown()"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    <span>{{l('SelectUsers')}}</span>
                </h5>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form novalidate (ngSubmit)="getUserToAdd()" autocomplete="off">
                    <div class="input-group margin-bottom-10">
                        <input autoFocus [(ngModel)]="filterTextForUserTable" name="filterTextForUserTable" class="form-control" placeholder="{{l('SearchWithThreeDot')}}"
                            type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                            </button>
                        </span>
                    </div>
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="UsersNotInLocationTableHelper.isLoading">
                        <p-table #addUserToLocationDataTable (onLazyLoad)="getUserToAdd($event)" [value]="UsersNotInLocationTableHelper.records"
                            rows="{{UsersNotInLocationTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [responsive]="UsersNotInLocationTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:150px">
                                        {{l('Select')}}
                                    </th>
                                    <th>
                                        {{l('Name')}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width: 150px">
                                        <button class="btn btn-secondary btn-xs" (click)="addUserToLocation(record.id)">
                                            <i class="fa fa-check"></i> Select</button>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">{{l('Name')}}</span>
                                        {{record.userName}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="UsersNotInLocationTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{UsersNotInLocationTableHelper.defaultRecordsCountPerPage}}" #addUserToLocationPaginator (onPageChange)="getUserToAdd($event)"
                                [totalRecords]="UsersNotInLocationTableHelper.totalRecordsCount" [rowsPerPageOptions]="UsersNotInLocationTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', UsersNotInLocationTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </form>
            </div>
        </div>
    </div>
</div>