<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header [title]="'UserGroups' | localize" [description]="'MangeUserGroup' | localize">
            <div role="actions">
                <button *ngIf="'Pages.Tenants.Create' | permission" class="btn btn-primary" (click)="createTenant()"><i
                        class="fa fa-plus"></i>{{"CreateNewTenant" | localize}}
                </button>
            </div>
        </sub-header>

        <div class="col-md-6">
            <div [class]="containerClass">
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h4 class="card-label">
                                {{l("UsersLocation")}}
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel">
                                <form class="form" (ngSubmit)="getLocationList()">

                                    <div class="form form--label-align-right">
                                        <div class="row align-items-center mb-10">
                                            <div class="col-xl-3">
                                                <div class="form-group">
                                                    <select autoFocus (onChange)="getLocationList($event)"
                                                        class="form-control" [(ngModel)]="organizationSelected"
                                                        name="organization" #organization="ngModel">
                                                        <option *ngFor="let organization of organizationListDropDown"
                                                            [value]="organization.value">
                                                            {{organization.label}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-9">
                                                <div class="form-group m-form__group align-items-center">
                                                    <div class="input-group">
                                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                            class="form-control m-input"
                                                            [placeholder]="l('SearchWithThreeDot')" type="text">
                                                        <span class="input-group-btn">
                                                            <button (click)="getLocationList()" class="btn btn-primary"
                                                                type="submit">
                                                                <i class="flaticon-search-1"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row align-items-center">
                                    <!--<Primeng-TurboTable-Start>-->
                                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                        <p-table #locationDataTable (onLazyLoad)="getLocationList($event)"
                                            [value]="primengTableHelper.records"
                                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                            [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 150px" pSortableColumn="id">
                                                        {{l('Id')}}
                                                        <p-sortIcon field="id"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="code">
                                                        {{l('Code')}}
                                                        <p-sortIcon field="code"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px" pSortableColumn="name">
                                                        {{l('Name')}}
                                                        <p-sortIcon field="name"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 150px">{{l('Select')}}</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td style="width:150px">{{record.id}}</td>
                                                    <td style="width:150px">{{record.code}}</td>
                                                    <td style="width:150px">{{record.name}}</td>
                                                    <td style="width: 150px">
                                                        <a class="btn btn-primary" (click)="selectLocation(record)">
                                                            <i class="la la-chevron-circle-right"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #locationPaginator (onPageChange)="getLocationList($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div *ngIf="selectedLocation">
                <userInLocation [selectedLocation]="selectedLocation"></userInLocation>
            </div>
        </div>
    </div>
</div>