<div [class]="containerClass">
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h4 class="card-label" *ngIf="selectedLocation">
                    {{"Locaiton" | localize}} : {{selectedLocation.code}} - {{selectedLocation.name}}
                </h4>
            </div>
            <div class="card-toolbar">
                <button (click)="openAddModal()" class="btn btn-primary" type="button"
                    *ngIf="permission.isGranted('Pages.Administration.UserLocation.Create')">
                    <i class="fa fa-plus"></i> {{l("AddMember")}}
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel">
                    <div class="row align-items-center">
                        <!-- <div class="kt-content" [hidden]="!selectedLocation"> -->
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="usersInLocationTableHelper.isLoading">
                            <p-table #usersInLocationDataTable (onLazyLoad)="getUsersInLocation($event)"
                                [value]="usersInLocationTableHelper.records"
                                rows="{{usersInLocationTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [responsive]="usersInLocationTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th *ngIf="permission.isGranted('Pages.Administration.UserLocation.Delete')">
                                            {{l('Delete')}}</th>
                                        <th pSortableColumn="userName">
                                            {{l('UserName')}}
                                            <p-sortIcon field="userName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="creationTime">
                                            {{l('AddedTime')}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td *ngIf="permission.isGranted('Pages.Administration.UserLocation.Delete')">
                                            <button type="button"
                                                *ngIf="permission.isGranted('Pages.Administration.UserLocation.Delete')"
                                                class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill"
                                                (click)="removeUserFromLocation(record.id)" title="{{l('Delete')}}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{l('UserName')}}</span>
                                            {{record.userName}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{l('AddedTime')}}</span>
                                            {{record.creationTime | momentFormat:'L'}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="usersInLocationTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator rows="{{usersInLocationTableHelper.defaultRecordsCountPerPage}}"
                                    #usersInLocationPaginator (onPageChange)="getUsersInLocation($event)"
                                    [totalRecords]="usersInLocationTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="usersInLocationTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', usersInLocationTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <addUserModal #addUserModal (userAdded)="getUsersInLocation($event)"></addUserModal>
</div>