﻿@model DinePay.IPaymentRequestResult
@{
    ViewData["Title"] = "Pay request result";
}

<table class="table">
    <tr>
        <td>Tracking number</td>
        <td>@Model.TrackingNumber</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>@Model.Amount</td>
    </tr>
    <tr>
        <td>Gateway</td>
        <td>@Model.GatewayName</td>
    </tr>
    <tr>
        <td>Gateway account name</td>
        <td>@Model.GatewayAccountName</td>
    </tr>
    <tr>
        <td>Is succeed</td>
        <td>@Model.IsSucceed</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td>Message</td>
        <td class="text-lg">@Model.Message</td>
    </tr>
</table>
