<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" [busyIf]="loading">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ 'Import' | localize }} {{ options.title ? ' - ' + options.title : ''}}
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #importForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password">
                    <div class="mb-5 border-green m-bordered">
                        <p>{{ 'DownloadTemplate_Info' | localize }}</p>

                        <a *ngIf="!options?.templateUrl" href="javascript:void(0);" (click)="downloadTemplate()">{{
                            'DownloadTemplate' | localize
                            }}</a>
                        <a *ngIf="options?.templateUrl" [href]="options?.templateUrl">{{ 'DownloadTemplate' | localize
                            }}</a>
                    </div>

                    <div class="form-group">
                        <input type="file" ng2FileSelect [uploader]="uploader" required #fileInput
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        <span class="form-text text-muted">{{ 'Import_Info' | localize }}</span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ 'Cancel' | localize
                    }}</button>
                <button class="btn btn-primary" (click)="save()" type="submit"
                    [disabled]="!importForm.form.valid || !uploader.queue.length" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')">
                    <i class="fa fa-save"></i>
                    <span>{{ l('Save') }}</span>
                </button>
            </div>
        </div>
    </div>
</div>