<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div style="max-height: 800px; overflow-y: auto;" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('WorkDay') }} : {{dataTranferShift.reportStartDay| date:dateTimeFormat}} - {{
                        dataTranferShift.locationCode }}</span>
                </h4>
                <div class="row" style="margin-top: 17px;">
            1
                    <div class="col-md-4">
                        <label class="control-label">{{ l('Workshift') }}</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" #cricket (change)="selectWorkShiftChange($event)">
                            <option value="null">
            
                            </option>
                            <option *ngFor="let player of workShifts" [value]="player.uniqueId">
                                {{player.startDate|date:'short'}} - {{player.endDate|date:'short'}}
                            </option>
                        </select>
                    </div>
            
                </div>
            </div>
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="col-md-12 text-right">
                            <div class="btn-group ml-1" dropdown>
                                <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                    <i class="la-file-excel-o"></i> {{ l('Export') }}
                                </button>
                                <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                    <li class="dropdown-item">
                                        <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                    </li>
                                </ul>
                            </div>
            
                            <button class="btn btn-primary ml-1" (click)="getShiftDayData()"><i class="la la-check-circle-o"></i> {{
                                l('Refresh') }}</button>
                            <button class="btn btn-default ml-1" (click)="close()"><i class="la la-check-circle-o"></i> {{
                                l('Close') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" *ngIf="planShiftResult">
                            <table class="table table-bordered">
                                <tr class="table__title">
                                    <th colspan="2">{{ l('Sales') }}</th>
                                </tr>
                                <tr class="table__highlight">
                                    <td>
                                        {{ l('SubTotal') }}
                                    </td>
                                    <td class="text-right">
                                        {{planShiftResultticketTypeReportDatasubTotal }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ l('Tax') }}
                                    </td>
                                    <td class="text-right">
                                        {{planShiftResultticketTypeReportDatatax }}
                                    </td>
                                </tr>
        
                                <tr class="table__highlight">
                                    <td> {{ l('TotalSales') }} </td>
                                    <td class="text-right">{{planShiftResultticketTypeReportDatatotalSales }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ l('TicketCount') }}
                                    </td>
                                    <td class="text-right">
                                        {{planShiftResultticketTypeReportDataticketCount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ l('SalesAverage') }}
                                    </td>
                                    <td class="text-right">
                                        {{planShiftResultticketTypeReportDataaverage }}
                                    </td>
                                </tr>
                                <tr *ngFor="let t of planShiftResultticketTypeReportDatatransactions">
                                    <td>
                                        {{t.name}}
                                    </td>
                                    <td class="text-right">
                                        {{t.value }}
                                    </td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planShiftResultdepartments">
                                <tr class="table__title">
                                    <th colspan="3">{{ l('Department') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{ l('Department') }}</th>
                                    <th>{{ l('TicketCount') }}</th>
                                    <th>{{ l('Total') }}</th>
                                </tr>
                                <tr *ngFor="let department of planShiftResultdepartments">
                                    <td>{{department.depatName}}</td>
                                    <td class="text-right">{{department.count}}</td>
                                    <td class="text-right">{{department.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{ l('Total') }}</td>
                                    <td class="text-right">{{sum(planShiftResultdepartments, "count")}}</td>
                                    <td class="text-right">{{sum(planShiftResultdepartments, "amount") }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planShiftResultpaymentTypeReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="3">{{ l('Payments') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{ l('PaymentType') }}</th>
                                    <th>{{ l('Count') }}</th>
                                    <th>{{ l('Actual') }}</th>
                                </tr>
                                <tr *ngFor="let paymentType of planShiftResultpaymentTypeReportDatadetails">
                                    <td>{{paymentType.paymentName}}</td>
                                    <td class="text-right">{{paymentType.count}}</td>
                                    <td class="text-right">{{paymentType.actualSales }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{ l('Total') }}</td>
                                    <td class="text-right">{{sum(planShiftResultpaymentTypeReportDatadetails, "count")}}</td>
                                    <td class="text-right">{{sum(planShiftResultpaymentTypeReportDatadetails, "actualSales") }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planShiftResultcashReportData">
                                <tr class="table__title">
                                    <th colspan="3">{{ l('Cash') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{ l('Type') }}</th>
                                    <th>{{ l('Count') }}</th>
                                    <th>{{ l('Total') }}</th>
                                </tr>
                                <tr>
                                    <td colspan="2">{{ l('Cash') }}</td>
                                    <td class="text-right">{{planShiftResultcashReportDatacashAmount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ l('CashIn') }}</td>
                                    <td class="text-right">{{planShiftResultcashReportDatacashIn}}</td>
                                    <td class="text-right">{{planShiftResultcashReportDataallIncomeAmount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ l('CashOut') }}</td>
                                    <td class="text-right">{{planShiftResultcashReportDatacashOut}}</td>
                                    <td class="text-right">{{planShiftResultcashReportDataallExpAmount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ l('CashInDrawer') }}</td>
                                    <td class="text-right">{{0}}</td>
                                    <td class="text-right">{{planShiftResultcashReportDatacashInDrawer }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planShiftResultworkTimePaTabledetails">
                                <tr class="table__title">
                                    <th colspan="4">{{ l('WorkShift') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{ l('PaymentType') }}</th>
                                    <th>{{ l('Actual') }}</th>
                                    <th>{{ l('In Hand') }}</th>
                                    <th>{{ l('Difference') }}</th>
                                </tr>
                                <tr *ngFor="let workTime of planShiftResultworkTimePaTabledetails">
                                    <td>{{workTime.paymentName}}</td>
                                    <td class="text-right">{{workTime.actualTotal }}</td>
                                    <td class="text-right">{{workTime.inSalesTotal }}</td>
                                    <td class="text-right">{{workTime.differenceTotal }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planShiftResultticketsPromotionReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="3">{{ l('TicketPromotions') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th>{{ l('Names') }}</th>
                                    <th>{{ l('Quantity') }}</th>
                                    <th>{{ l('Amount') }}</th>
                                </tr>
                                <tr *ngFor="let promotion of planShiftResultticketsPromotionReportDatadetails">
                                    <td>{{promotion.promotionName}}</td>
                                    <td class="text-right">{{promotion.quantity}}</td>
                                    <td class="text-right">{{promotion.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{ l('Total') }}</td>
                                    <td class="text-right">{{ planShiftResultticketsPromotionReportDatatotalCount}}</td>
                                    <td class="text-right">{{ planShiftResultticketsPromotionReportDatatotalSum }}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planShiftResultitemsData">
                                <tr class="table__title">
                                    <th colspan="2">{{ l('GeneralInformation') }}</th>
                                </tr>
                                <tr class="table__header">
                                    <th colspan="2">{{ l('Items') }}</th>
                                </tr>
                                <tr>
                                    <td>{{ l('PaidItemsCount') }}</td>
                                    <td class="text-right">{{planShiftResultitemsDatatotalPaidItems }}</td>
                                </tr>
                                <tr>
                                    <td>{{ l('PaidItemsTotal') }}</td>
                                    <td class="text-right">{{planShiftResultitemsDatatotalPaidItemTotal }}</td>
                                </tr>
                                <tr>
                                    <td>{{ l('ItemsCount') }}</td>
                                    <td class="text-right">{{planShiftResultitemsDataitemCount }}</td>
                                </tr>
        
                                <tr class="table__header">
                                    <th colspan="2">{{ l('Orders') }}</th>
                                </tr>
                                <tr>
                                    <td>{{ l('PaidOrdersCount') }}</td>
                                    <td class="text-right">{{planShiftResultordersReportDatatotalPaidItemsorderCount }}</td>
                                </tr>
                                <tr>
                                    <td>{{ l('PaidOrdersTotal') }}</td>
                                    <td class="text-right">{{planShiftResultordersReportDatatotalPaidItemsorderValue }}</td>
                                </tr>
                                <tr>
                                    <td>{{ l('OrderCount') }}</td>
                                    <td class="text-right">{{planShiftResultordersReportDataorderCount }}</td>
                                </tr>
                                <tr *ngFor="let orderState of planShiftResultordersReportDataorderStateReports">
                                    <td>{{orderState.state}} ({{orderState.count}})</td>
                                    <td class="text-right">{{orderState.amount }}</td>
                                </tr>
        
                                <tr class="table__header">
                                    <th colspan="2">{{ l('Tickets') }}</th>
                                </tr>
                                <tr *ngFor="let tickets of planShiftResultticketsReportDataticketStateReports">
                                    <td>{{tickets.state}} ({{tickets.count}})</td>
                                    <td class="text-right">{{tickets.amount }}</td>
                                </tr>
                                <tr class="table__header">
                                    <th colspan="2">{{ l('Tickets') }}</th>
                                </tr>
                                <tr>
                                    <td>{{ l('StartTicketNumber') }}</td>
                                    <td class="text-right">{{planShiftResultticketsReportDatafirstTicketNumber}}</td>
                                </tr>
                                <tr>
                                    <td>{{ l('EndTicketNumber') }}</td>
                                    <td class="text-right">{{planShiftResultticketsReportDatalastTicketNumber}}</td>
                                </tr>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planShiftResultticketTagsReportData">
                                <tr class="table__title">
                                    <th colspan="2">{{ l('TicketTags') }}</th>
                                </tr>
                                <tbody *ngFor="let ticketTag of planShiftResultticketTagsReportData">
                                    <tr>
                                        <td colspan="2">{{ticketTag.groupName}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{ l('TicketCount') }}</td>
                                        <td class="text-right">{{ticketTag.tCount}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{ l('Rate') }}</td>
                                        <td class="text-right">{{ticketTag.rate}}</td>
                                    </tr>
                                    <tr *ngIf="ticketTag.isDecimal">
                                        <td>{{ l('Total') }} {{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.amnt}}</td>
                                    </tr>
                                    <tr  *ngFor="let subRow of ticketTag.subRows">
                                        <td *ngIf="!ticketTag.isDecimal">{{subRow.tagName}} ({{subRow.ticketCount}})</td>
                                        <td *ngIf="!ticketTag.isDecimal" class="text-right">{{subRow.amount }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal">
                                        <td>{{ l('Total') }} ({{ticketTag.groupName}})</td>
                                        <td class="text-right">{{ticketTag.totalAmount }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal && ticketTag.isInterger">
                                        <td>{{ l('Total') }} {{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.sum }}</td>
                                    </tr>
                                    <tr *ngIf="!ticketTag.isDecimal && ticketTag.sum > 0">
                                        <td>{{ l('Avg') }}/{{ticketTag.groupName}}</td>
                                        <td class="text-right">{{ticketTag.average }}</td>
                                    </tr>
                                </tbody>
                            </table>
        
                            <table class="table table-bordered" *ngIf="planShiftResultownersReportDatadetails">
                                <tr class="table__title">
                                    <th colspan="2">{{ l('UserSales') }}</th>
                                </tr>
                                <tr *ngFor="let user of planShiftResultownersReportDatadetails">
                                    <td>{{user.userName}}</td>
                                    <td class="text-right">{{user.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{ l('Total') }}</td>
                                    <td class="text-right">{{planShiftResultownersReportDatatotalOwnersAmount }}</td>
                                </tr>
                            </table>
        
                            <table *ngFor="let user of planShiftResultusersIncomeReportData" class="table table-bordered">
                                <tr class="table__title">
                                    <th colspan="3">{{ l('SettledBy') }} {{user.paymentUserName}}</th>
                                </tr>
                                <tr *ngFor="let payment of user.paymentTypes">
                                    <td>{{payment.paymentName}}</td>
                                    <td class="text-right">% {{payment.percent | number: 2}}</td>
                                    <td class="text-right">{{payment.amount }}</td>
                                </tr>
                                <tr class="table__highlight">
                                    <td>{{ l('Total') }}</td>
                                    <td class="text-right">% {{sum(user.paymentTypes, "percent") | number: 2}}</td>
                                    <td class="text-right">{{sum(user.paymentTypes, "amount") }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">{{ l('Close') }}</button>
            </div>
        </div>
