<div appBsModal #kitchenExportModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #kitchenForm="ngForm" novalidate (ngSubmit)="export()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{"KitchenReportExport" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <label for="Date">{{ "Date" | localize }} *</label>
                                <div class="input-group date">
                                    <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker #DateInput="ngModel" 
                                            [(ngModel)]="dateRange" name="date" #dp1="bsDaterangepicker" required
                                            [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <validation-messages [formCtrl]="DateInput"></validation-messages>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">                                
                                <label for="Zone">{{l("Zone")}}</label>
                                <select id="Zone" class="form-control" [(ngModel)]="zone" name="Zone" #Zone="ngModel">
                                    <option [ngValue]="undefined">
                                    </option>
                                    <option *ngFor="let item of zoneOptions" [ngValue]="item.value">
                                        {{item.text}}
                                    </option>  
                                </select>                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">                                
                                <label for="MealTime">{{l("MealTime")}}</label>
                                <select id="MealTime" class="form-control" [(ngModel)]="meal" name="MealTime" #Plan="ngModel">
                                    <option [ngValue]="undefined">
                                    </option>
                                    <option *ngFor="let item of mealOptions" [ngValue]="item.value">
                                        {{item.text}}
                                    </option>  
                                </select>                                
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{"Customer" | localize}}</label>              
                                <input type="text" id="Tiffin_Customer" class="form-control" readonly required
                                name="Tiffin_Customer" [(ngModel)]="customerName" (click)="selectCustomer.show()"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{"ChoiseOfSet" | localize}}</label>             
                                <p-dropdown [options]="products" [(ngModel)]="selectedProductSet" name="choiseOfSetFilter"
                                  styleClass="w-100" [placeholder]="l('ChoiseOfSet')" [filter]="true" optionLabel="displayText"
                                  filterBy="label,value.name" showClear="true">
                                </p-dropdown>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!kitchenForm.form.valid">
                        <i class="far fa-file-excel"></i>
                            <span>{{"Export" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<select-popup #selectCustomer [headers]="['Name']" [dataBinding]="['name']"
	[loadData]="getCustomerForComboBox()" (changeValue)="changeCustomer($event)" selectionMode="single" [selectedValue]="selectedCustomer"
  [title]="l('Customers')"></select-popup>