<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header [title]="'Modifiers' | localize" [description]="'Manage Modifier' | localize">
            <div role="actions">
                <button class="btn btn-success" (click)="export()">
                    {{ l('Export') }}
                </button>
                <button (click)="addOrEdit()" class="btn btn-primary">
                    {{ l('Create') }} {{ l('Modifier') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>{{l('Filter')}}</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #table
                                (onLazyLoad)="getAll($event)"
                                [value]="primengTableHelper.records"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="false"
                                [responsive]="primengTableHelper.isResponsive"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="name">
                                            {{ l('Name') | uppercase }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="code">
                                            {{ l('Code') | uppercase }}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="delAggModifierGroupName">
                                            {{ l('Modifier Group') | uppercase }}
                                            <p-sortIcon field="delAggModifierGroupName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="orderTagName">
                                            {{ l('Order Tag') | uppercase }}
                                            <p-sortIcon field="orderTagName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="price">
                                            {{ l('Price') | uppercase }}
                                            <p-sortIcon field="price"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="creationTime">
                                            {{ l('CreationTime') | uppercase }}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" class="text-center">
                                            {{ l('Actions') | uppercase }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Code') }}</span>
                                            {{ record.code }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Modifier Group') }}</span>
                                            {{ record.delAggModifierGroupName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Order Tag') }}</span>
                                            {{ record.orderTagName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Price') }}</span>
                                            {{ record.price }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('CreationTime') }}</span>
                                            {{ record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                                        </td>

                                        <td style="width: 130px" class="text-center">
                                            <div class="btn-group dropdown" dropdown container="body" style="margin-right: 8px">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                    <!-- <i class="fa fa-cog"></i> -->
                                                    <span class="caret"></span>
                                                    <span class="mr-5">{{ 'Actions' | localize }}</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                                    <li>
                                                        <a class="dropdown-item" (click)="addOrEdit(record)">
                                                            {{ l('Edit') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" (click)="delete(record)">
                                                            {{ l('Delete') }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="card-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="card-body">
            <div class="filter-content">
                <div class="form-group">
                    <label>{{ 'Order Tag' | localize }}</label>
                    <p-dropdown
                        [options]="orderTags"
                        [(ngModel)]="selectedOrderTag"
                        name="selectedOrderTag"
                        styleClass="w-100"
                        [placeholder]="l('Select Order Tag')"
                        [filter]="true"
                        optionLabel="name"
                        dataKey="id"
                        [showClear]="true"
                    >
                    </p-dropdown>
                </div>

                <div class="form-group">
                    <label>{{ 'Group' | localize }}</label>
                    <p-dropdown
                        [options]="modifierGroups"
                        [(ngModel)]="selectedModifierGroup"
                        name="selectedModifierGroup"
                        styleClass="w-100"
                        [placeholder]="l('Select Group')"
                        [filter]="true"
                        optionLabel="name"
                        dataKey="id"
                        [showClear]="true"
                    >
                    </p-dropdown>
                </div>

                <div class="form-group">
                    <label class="control-label font-weight-bolder">{{ l('Portion') }}</label>
                    <div>
                        <button type="button" class="btn btn-primary text-uppercase" (click)="openMenuItemPortion()">
                            <ng-container *ngIf="!menuItemPortion">{{ l('Select') }}</ng-container>
                            <ng-container *ngIf="menuItemPortion">{{ menuItemPortion.name }}</ng-container>
                        </button>
                        <button *ngIf="menuItemPortion" class="btn btn-danger" (click)="clearMenuItemPortion()">
                            {{ l('Clear') }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="filter-action">
                <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
                <div style="flex: auto"></div>
                <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
                <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
            </div>
        </div>
    </form>
</p-sidebar>

<select-popup
    #selectMenuItemPortionModal
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getMenuItemPortion()"
    (changeValue)="changeMenuItemPortion($event)"
    selectionMode="single"
    [selectedValue]="menuItemPortion"
    [title]="l('Menu Item Portion')"
></select-popup>