<div
    bsModal
    #createModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()">
            </button>
            <section class="summary yellow_bg">
                <form #orderCreateForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active" (submit)="save()">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <span>{{ 'EditDeliveryInfo' | localize }}</span>
                        </h5>
                    </div>

                    <div class="modal-body">
                        <div class="form-group m-form__group align-items-center">
                            <label for="ScheduleDateUtc">{{ 'Date' | localize }} *</label>
                            <input
                                id="ScheduleDateUtc"
                                type="datetime"
                                #ScheduleDateUtc
                                name="ScheduleDateUtc"
                                class="form-control"
                                bsDatepicker
                                datePickerMomentModifier
                                (dateChange)="dateChanged($event)"
                                [(date)]="order.orderDate"
                                [minDate]="minDate"
                                [maxDate]="expiryDate"
                                [bsConfig]="{
                                    adaptivePosition: true,
                                    dateInputFormat: 'DD/MM/YYYY',
                                    showWeekNumbers: false
                                }"
                                required
                            />
                            <validation-messages [formCtrl]="ScheduleDateUtc"></validation-messages>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="submit"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"
                            class="btn btn-primary"
                            [disabled]="!orderCreateForm.form.valid || saving"
                        >
                            <i class="fa fa-save"></i>
                            <span>{{ 'Save' | localize }}</span>
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
