<div class="grid-product large-screen" [ngClass]="isShowOrder ? 'grid-product-cart-order' : 'grid-product'">
    <div class="product" *ngFor="let product of productList">
        <div class="product-image">
            <img src="{{product.image ? product.image : '/assets/image/no_image_available.png'}}" class="image" alt="">
            <div class="background-gray" (click)="openDialog(product)"></div>
            <div class="favorite" *ngIf="!product.isFavorite" (click)="addToFavorite(product)">
                <img src="/assets/image/heart.png" class="image-heart" alt="">
            </div>
            <div class="favorite-heart" *ngIf="product.isFavorite" (click)="removeToFavorite(product)">
                <img src="/assets/image/favorite-heart.png" class="image-favorite-heart" alt="">
            </div>
        </div>
        <div class="product-content" (click)="openDialog(product)">
            <div class="product-content-title">
                {{product.name}}
            </div>
            <div class="product-content-rate">
                <img src="/assets/image/star.png" class="product-content-rate-star" alt="">
                <span class="product-content-rate-number">{{product.feedbackPoint}}/{{product.feedbackCount}}</span>
                <img src="/assets/image/clock.png" class="product-content-rate-clock" alt="">
                <span class="product-content-rate-mnt"> {{product.mnt}} mnt </span>
            </div>
            <div class="product-content-status">
                <div class="product-content-status-point" *ngIf="!product.allergicInfo">

                </div>
                <div class="product-content-status-allergy" *ngIf="product.allergicInfo">

                </div>
                <div class="product-content-status-content" *ngIf="!product.allergicInfo">
                    No allergenic
                </div>
                <div class="product-content-status-content-allergy" *ngIf="product.allergicInfo">
                    {{product.allergicInfo}} allergy
                </div>
            </div>
            <div class="product-content-price">
                ${{product.price | number: '1.2-2'}}
            </div>
        </div>
        <div class="product-add-to-cart" [ngStyle]="{background: product.isAddToCart ? '#25da37' : '#F5C031'}" (click)="addOrRemoveCart(product, product.isAddToCart)">
            <img src="/assets/image/circle-checklist.png" class="product-add-to-cart-success" *ngIf="product.isAddToCart">
            <img src="/assets/image/add-circle.png" class="product-add-to-cart-add" *ngIf="!product.isAddToCart">
        </div>
    </div>
</div>

<app-paging [totalCount]="totalCount" *ngIf="totalCount > 0" (pageChangeProduct)="pageChangeProduct($event)" class="large-screen"></app-paging>


<div class="grid-product mobile-screen product-mobile">
    <div class="product" *ngFor="let product of productList">
        <div class="product-image">
            <img src="{{product.image ? product.image : '/assets/image/no_image_available.png'}}" class="image" alt="">
            <div class="background-gray" (click)="openDialog(product)"></div>
            <div class="favorite" *ngIf="!product.isFavorite" (click)="addToFavorite(product)">
                <img src="/assets/image/heart.png" class="image-heart" alt="">
            </div>
            <div class="favorite-heart" *ngIf="product.isFavorite" (click)="removeToFavorite(product)">
                <img src="/assets/image/favorite-heart.png" class="image-favorite-heart" alt="">
            </div>
        </div>
        <div class="product-content" (click)="openDialog(product)">
            <div class="product-content-title">
                {{product.name}}
            </div>
            <div class="product-content-rate">
                <img src="/assets/image/star.png" class="product-content-rate-star" alt="">
                <span class="product-content-rate-number">{{product.feedbackPoint}}/{{product.feedbackCount}}</span>
                <img src="/assets/image/clock.png" class="product-content-rate-clock" alt="">
                <span class="product-content-rate-mnt"> {{product.mnt}} mnt </span>
            </div>
            <div class="product-content-status">
                <div class="product-content-status-point" *ngIf="!product.allergicInfo">

                </div>
                <div class="product-content-status-allergy" *ngIf="product.allergicInfo">

                </div>
                <div class="product-content-status-content" *ngIf="!product.allergicInfo">
                    No allergenic
                </div>
                <div class="product-content-status-content-allergy" *ngIf="product.allergicInfo">
                    {{product.allergicInfo}} allergy
                </div>
            </div>
            <div class="product-content-price">
                ${{product.price | number: '1.2-2'}}
            </div>
        </div>
        <div class="product-add-to-cart" [ngStyle]="{background: product.isAddToCart ? '#25da37' : '#F5C031'}" (click)="addOrRemoveCart(product, product.isAddToCart)">
            <img src="/assets/image/circle-checklist.png" class="product-add-to-cart-success" *ngIf="product.isAddToCart">
            <img src="/assets/image/add-circle.png" class="product-add-to-cart-add" *ngIf="!product.isAddToCart">
        </div>
    </div>
</div>