@media (min-width: 992px) {
    .mobile-screen {
        display: none !important;
    }
    .member-schedule {
        margin-top: -50px;
    }
}
@import "../../../../assets/style/color";
.product {
    position: relative;
    display: flex;
    align-items: center;
    width: 436px;
    height: 151px;
    background: white;
    border-radius: 10px;
    padding: 16px;
    &-image {
        position: relative;
        &:hover .background-gray {
            width: 140px;
            height: 119px;
            position: absolute;
            top: 0;
            border-radius: 10px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        }
        .image {
            width: 140px;
            height: 119px;
            border-radius: 10px;
            margin-right: 16px;
            object-fit: cover;
        }
        .image-heart {
            display: none;
        }
        &:hover .favorite {
            position: absolute;
            top: 8px;
            left: 8px;
            background: white;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .image-heart {
                display: block;
            }
        }
        .favorite-heart {
            position: absolute;
            top: 8px;
            left: 8px;
            background: $second-color;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .image-favorite-heart {
                display: block;
            }
        }
    }
    &-content {
        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 150%;
            color: $black-product;
            cursor: pointer;
            width: 235px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-rate {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: $grey-product;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            &-star {
                margin-right: 8px;
            }
            &-clock {
                margin-right: 8.19px;
            }
            &-number {
                margin-right: 16.31px;
                opacity: 0.7;
            }
        }
        &-status {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            &-point {
                background: $grey-product;
                border-radius: 5.5px;
                width: 11px;
                height: 11px;
                margin-right: 11px;
            }
            &-allergy {
                border-radius: 5.5px;
                width: 11px;
                height: 11px;
                background: $allergy-color;
                margin-right: 11px;
            }
            &-content {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
            }
            &-content-allergy {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: $allergy-color;
            }
        }
        &-price {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 150%;
            color: $second-color;
        }
    }
    &-add-to-cart {
        border-radius: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}

.grid-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px 32px;
}

.grid-product-cart-order {
    display: grid;
    grid-template-columns: 436px 436px;
    grid-gap: 24px 32px;
}
::ng-deep {
    .cdk-overlay-dark-backdrop {
        background: rgba(18, 36, 54, 0.7);
    }
}

::ng-deep .menu-content {
    @media (max-width: 768px) {
        .menu-content__left {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .order-btn {
                display: inline !important;
            }
        }
    }
}

@media (max-width: 991px) {
    .large-screen {
        display: none;
    }

    .product-mobile {
        display: flex;
        flex-direction: column;
        background: #FAFAFA;
        grid-gap: 13px !important;
        .product {
            width: 100%;
            display: -webkit-inline-box;
            &:last-child {
                margin-bottom: 150px;
            }
            .product-image {
                .image {
                    width: 104px;
                    height: 96px;
                    border-radius: 10px;
                    margin-right: 12px;
                }
                .favorite-heart {
                    width: 24px;
                    height: 24px;
                    .image-favorite-heart {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            .product-content {
                &-title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 150%;
                    color: #22232f;
                    margin-bottom: 1px;
                }
                &-rate {
                    &-number,
                    &-mnt {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 140%;
                        color: #787c87;
                    }
                    &-star,
                    &-clock {
                        width: 12.66px;
                        height: 12.66px;
                        margin-right: 6px;
                    }
                }
                &-status {
                    margin-bottom: 9px;
                    &-content,
                    &-content-allergy {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 140%;
                        color: #888884;
                    }
                    &-point,
                    &-allergy {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                    }
                }
                &-price {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 140%;
                    color: #2d5d8c;
                }
            }
            &-image {
                &:hover .background-gray {
                    width: 104px;
                    height: 96px;
                    position: absolute;
                    top: 0;
                    border-radius: 10px;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
                }
                &:hover .favorite {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    background: white;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .image-heart {
                        display: block;

                    }
                }
            }
            &-add-to-cart {
                width: 32px;
                height: 32px;
                border-radius: 10px;
                img {
                    width: 19.2px;
                    height: 19.2px;
                }
            }
        }
    }
}
