<div appBsModal #createModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #faqForm="ngForm" novalidate (ngSubmit)="export()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"Excel" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" *ngIf="!bylocation">
                        <label for="Durations">{{"Duration" | localize}} </label>
                        <select class="form-control" name="Durations" id="Durations" [(ngModel)]="duration"
                            #DurationsInput="ngModel">
                            <option value="D">{{ l("Daily") }}</option>
                            <option value="M">{{ l("Monthly") }}</option>
                            <option value="S">{{ l("Summary") }}</option>
                        </select>
                        <validation-messages [formCtrl]="DurationsInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Output">{{"Output" | localize}}</label>
                        <div class="form-group">
                            <select class="form-control" name="Output" id="Output" [(ngModel)]="exportOutput"
                                #OutputInput="ngModel">
                                <option value="T">{{ l("Total") }}</option>
                                <option value="Q">{{ l("Quantity") }}</option>
                                <option value="B">{{ l("Both") }}</option>
                            </select>
                        </div>
                        <validation-messages [formCtrl]="OutputInput"></validation-messages>
                    </div>

                    <div class="checkbox-list">
                        <label for="bylocation" class="checkbox">
                            <input id="bylocation" type="checkbox" name="Enable" [(ngModel)]="bylocation" />
                            {{"Location" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                        (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!faqForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('Exporting')"><i class="fa fa-save"></i>
                        <span>{{"Export" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>