<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    (onShown)="shown()" [config]="{backdrop: false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="userDefaultOrganizationListDto">

            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    Default Location :{{userDefaultOrganizationListDto.defaultLocationName}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="name">{{l("Organization")}} &#160;</label>
                                <div class="selection" *ngIf="companyListDropDown.length>0">
                                    <p-dropdown [options]="companyListDropDown" [filter]="true"
                                        [style]="{'width':'100%'}" placeholder="Select Organization"
                                        [(ngModel)]="companySelected"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="state">{{l("State")}}</label>
                            <div class="selection" *ngIf="stateListDropDown.length>0">
                                <p-dropdown [options]="stateListDropDown" [filter]="true" [style]="{'width':'100%'}"
                                    placeholder="Select State" (onChange)="setState()"
                                    [(ngModel)]="stateSelected"></p-dropdown>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="country">{{l("Country")}}</label>
                            <div class="selection" *ngIf="countryListDropDown.length>0">
                                <p-dropdown [options]="countryListDropDown" [style]="{'width':'100%'}" [filter]="true"
                                    placeholder="Select Country" (onChange)="setCountry()"
                                    [(ngModel)]="countrySelected"></p-dropdown>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">{{l("City")}}</label>
                            <div class="selection" *ngIf="cityListDropDown.length>0">
                                <p-dropdown [options]="cityListDropDown" [filter]="true" [style]="{'width':'100%'}"
                                    placeholder="Select City"
                                    [(ngModel)]="citySelected"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="d-flex flex-row align-items-center justity-content-center form-group m-form__group">
                            <div class="flex-grow-1 mr-2">
                                <div class="align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getLocationBasedOnUser()" class="btn btn-primary"
                                                type="submit">
                                                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary" (click)="refresh()">
                                    <i class="fa fa-refresh"></i> {{l("Refresh")}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row align-items-center">

                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #locationBasedOnUserTable (onLazyLoad)="getLocationBasedOnUser($event)"
                            [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 150px">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="code">
                                        {{l('Code')}}
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width:150px">

                                        <button *ngIf="defaultLocationSelected!=record.id" class="btn btn-primary"
                                            (click)="appendDefaultUserOrganization(record)">{{l('MakeDefault')}}
                                        </button>
                                        <span *ngIf="defaultLocationSelected==record.id" class="btn btn-primary">{{l('ThisIsDefault')}}
                                        </span>
                                    </td>
                                    <td style="width:150px">{{record.code}}</td>
                                    <td style="width:150px">{{record.name}}</td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                #locationBasedOnUserPaginator (onPageChange)="getLocationBasedOnUser($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>