<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
      <sub-header [title]="!origin.id ? l('CreateOrigin') : l('EditOrigin') + ': ' + origin.origin">
      </sub-header>
  
      <div [class]="containerClass">
        <div class="card card-custom gutter-b">
          <form #form="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
            <div class="card-body">
              <div class="row">
                <div class="form-group col">
                  <label for="code">{{l("Origin")}}</label>
                  <input id="code" type="text" name="origin" #codeInput="ngModel" class="form-control"
                    [(ngModel)]="origin.origin" maxlength="256">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="cancel()">{{l("Cancel")}}</button>
              <button class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                [disabled]="!form.form.valid">
                <i class="fa fa-save"></i>
                <span>{{l("Save")}}</span>
              </button>
            </div>
          </form>
        </div>
      </div>
  
    </div>
  
  </div>