<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!menuItemDto.id ? l('CreateNewMenuItem') : l('EditMenuItem') + ': ' + menuItemDto.name">
      <div role="actions">
        <button (click)="openSelectLocationModal()" class="btn btn-primary">
          <i class="fa fa-file"></i> {{l("Locations")}}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <form #menuItemForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
          <div class="card-body">
            <tabset class="tab-container tabbable-line">
              <tab heading="{{l('BasicInformation')}}" tabindex="1" customClass="m-tabs__item" class="p-5">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                        <label class="required-field " for="organizationId">{{ l('Category') }} : &#160;</label>
                        <select
                            id="organizationId"
                            class="form-control"
                            name="organizationId"
                            required
                            (change)="addCategory($event.target.value)"
                            [(ngModel)]="menuItemDto.categoryId"
                        >
                            <option [ngValue]="null" selected disabled>
                                {{ 'Select Category' | localize }}
                            </option>
                            <option *ngFor="let category of categoryList" [value]="category.value">
                                {{ category.displayText }}
                            </option>
                        </select>
                    </div>
                </div>
              </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="MenuItem_aliasCode">{{l("Code")}}</label>
                    <input id="MenuItem_aliasCode" type="text" name="MenuItem_aliasCode" class="form-control"
                      [(ngModel)]="menuItemDto.aliasCode" #MenuItem_aliasCode="ngModel" maxlength="256" placeholder="Code">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="MenuItem_name">{{l("Name")}} *</label>
                    <div class="w-100 d-flex">
                      <input id="MenuItem_name" type="text" name="MenuItem_name" class="form-control"
                        [(ngModel)]="menuItemDto.name" maxlength="256" required #MenuItem_name="ngModel"
                        [ngClass]="{'w-75': menuItemDto.id}" placeholder="Name"/>
                      <div *ngIf="menuItemDto.id" class="w-25">
                        <button type="button" class="btn btn btn-primary pull-right" (click)="showLanguages()">
                          {{l("Language")}}</button>
                      </div>
                    </div>
                    <validation-messages [formCtrl]="MenuItem_name"></validation-messages>
                  </div>
                </div>
              </tab>
              <tab heading="{{l('Portions')}}" tabindex="2" class="p-5">

                <div class="row">
                  <div class="col-md-12">
                    <div class="pull-right mb-2">
                      <input type="button" class="btn btn-primary" value="{{l('AddPortion')}}" (click)="addPortion()" />
                    </div>
                    <div class="table-scrollable table-scrollable-borderless">
                      <table class="table table-hover table-light">
                        <thead>
                          <tr>
                            <th>{{l('Actions')}}</th>
                            <th>{{l('Name')}} *</th>
                            <th>{{l('Multiplier')}}</th>
                            <th>{{l('Barcode')}}</th>
                            <th>{{l('Price')}} *</th>
                          </tr>
                        </thead>

                        <tr *ngFor="let product of menuItemDto.portions; let index = index">
                          <td class="text-center">
                            <button type="button" class="btn-secondary btn" (click)="removePortion(index)">
                              <i class="fa fa-trash"></i>
                            </button>
                          </td>
                          <td>
                            <input type="text" class="form-control" [(ngModel)]="product.name"
                              [id]="'Portions_name'+ index" [name]="'Portions_name'+ index" required />
                          </td>
                          <td>
                            <input type="text" class="form-control" [(ngModel)]="product.multiPlier"
                              [id]="'Portions_multiPlier'+ index" [name]="'Portions_multiPlier'+ index" />
                          </td>
                          <td>
                            <input type="text" class="form-control" [(ngModel)]="product.barcode"
                              [id]="'Portions_Barcode'+ index" [name]="'Portions_Barcode'+ index" placeholder="Barcode"/>
                          </td>
                          <td>
                            <input type="text" class="form-control" [(ngModel)]="product.price" min="0"
                              [id]="'Portions_price'+ index" [name]="'Portions_price'+ index" />
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </tab>

              <tab heading='{{l("NutritionInfo")}}' tabindex="3" class="p-5">
                <div *ngIf="nutritionInfo" class="row">
                  <div class="col-12">
                    <mat-expansion-panel expanded>
                      <mat-expansion-panel-header class="nutrition-info">
                        <mat-panel-title>
                          {{'NutritionInfo' | localize }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-action-row>
                        <span class="align-self-center mr-1">{{'ServingSize' | localize}}</span>
                        <input class="form-control" id="ServingSize" #servingSizeInput="ngModel" type="text"
                          name="ServingSize" class="form-control" [ngClass]="{
                                    edited: nutritionInfo.servingSize
                                }" [(ngModel)]="nutritionInfo.servingSize" />
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="nutrition-seperator-thick"></div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span style="font-weight: 500;">
                                  {{'Calories' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="Calories" #caloriesInput="ngModel" type="number" name="Calories"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.calories
                                                }" [(ngModel)]="nutritionInfo.calories" />
                                  <div class="input-group-append"><span class="input-group-text">{{'CAL' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                                <span>
                                  {{'CaloriesFromFat' | localize }}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="CaloriesFromFat" #caloriesFromFatInput="ngModel" type="number"
                                    name="CaloriesFromFat" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.caloriesFromFat
                                                }" [(ngModel)]="nutritionInfo.caloriesFromFat" />
                                  <div class="input-group-append"><span class="input-group-text">{{'CAL' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="nutrition-seperator-thin"></div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border daily-value">
                        <span class="pull-right" style="font-weight: 500;">
                          %{{'DailyValue' | localize}}*
                        </span>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="nutrition-seperator-thin"></div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span style="font-weight: 500;">
                                  {{'TotalFat' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="TotalFat" #totalFatInput="ngModel" type="number" name="TotalFat"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.totalFat
                                                }" [(ngModel)]="nutritionInfo.totalFat" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' | localize
                                      }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="TotalFatPercent" #totalFatPercentInput="ngModel" type="number"
                                    name="TotalFatPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.totalFatPercent
                                                }" [(ngModel)]="nutritionInfo.totalFatPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span>
                                  &nbsp;&nbsp;{{'SaturatedFat' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="SaturatedFat" #saturatedFatInput="ngModel" type="number"
                                    name="SaturatedFat" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.saturatedFat
                                                }" [(ngModel)]="nutritionInfo.saturatedFat" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' | localize
                                      }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="SaturatedFatPercent" #saturatedFatPercentInput="ngModel" type="number"
                                    name="SaturatedFatPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.saturatedFatPercent
                                                }" [(ngModel)]="nutritionInfo.saturatedFatPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span>
                                  &nbsp;&nbsp;{{'TransFat' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="TransFat" #transFatInput="ngModel" type="number" name="TransFat"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.transFat
                                                }" [(ngModel)]="nutritionInfo.transFat" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' | localize
                                      }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="TransFatPercent" #transFatPercentInput="ngModel" type="number"
                                    name="TransFatPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.transFatPercent
                                                }" [(ngModel)]="nutritionInfo.transFatPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span style="font-weight: 500;">
                                  {{'Cholesterol' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="Cholesterol" #cholesterolInput="ngModel" type="number" name="Cholesterol"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.cholesterol
                                                }" [(ngModel)]="nutritionInfo.cholesterol" />
                                  <div class="input-group-append"><span class="input-group-text">{{'mg' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="CholesterolPercent" #cholesterolPercentInput="ngModel" type="number"
                                    name="CholesterolPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.cholesterolPercent
                                                }" [(ngModel)]="nutritionInfo.cholesterolPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span style="font-weight: 500;">
                                  {{'Sodium' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="Sodium" #sodiumInput="ngModel" type="number" name="Sodium"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.sodium
                                                }" [(ngModel)]="nutritionInfo.sodium" />
                                  <div class="input-group-append"><span class="input-group-text">{{'mg' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="SodiumPercent" #sodiumPercentInput="ngModel" type="number"
                                    name="SodiumPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.sodiumPercent
                                                }" [(ngModel)]="nutritionInfo.sodiumPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span style="font-weight: 500;">
                                  {{'TotalCarbonhydrate' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="TotalCarbonhydrate" #totalCarbonhydrateInput="ngModel" type="number"
                                    name="TotalCarbonhydrate" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.totalCarbonhydrate
                                                }" [(ngModel)]="nutritionInfo.totalCarbonhydrate" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="TotalCarbonhydratePercent" #descriptionInput="ngModel" type="number"
                                    name="TotalCarbonhydratePercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.totalCarbonhydratePercent
                                                }" [(ngModel)]="nutritionInfo.totalCarbonhydratePercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span>
                                  &nbsp;&nbsp;{{'DietaryFiber' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="DietaryFiber" #dietaryFiberInput="ngModel" type="number"
                                    name="DietaryFiber" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.dietaryFiber
                                                }" [(ngModel)]="nutritionInfo.dietaryFiber" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="DietaryFiberPercent" #descriptionInput="ngModel" type="number"
                                    name="DietaryFiberPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.dietaryFiberPercent
                                                }" [(ngModel)]="nutritionInfo.dietaryFiberPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span>
                                  &nbsp;&nbsp;{{'Sugars' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="Sugars" #sugarsInput="ngModel" type="number" name="Sugars"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.sugars
                                                }" [(ngModel)]="nutritionInfo.sugars" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="SugarsPercent" #sugarsPercentInput="ngModel" type="number"
                                    name="SugarsPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.sugarsPercent
                                                }" [(ngModel)]="nutritionInfo.sugarsPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span style="font-weight: 500;">
                                  {{'Protein' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="Protein" #proteinInput="ngModel" type="number" name="Protein"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.protein
                                                }" [(ngModel)]="nutritionInfo.protein" />
                                  <div class="input-group-append"><span class="input-group-text">g</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="ProteinPercent" #proteinPercentInput="ngModel" type="number"
                                    name="ProteinPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.proteinPercent
                                                }" [(ngModel)]="nutritionInfo.proteinPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="nutrition-seperator-thick"></div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span>
                                  &nbsp;&nbsp;{{'VitaminA' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="VitaminA" #vitaminAInput="ngModel" type="number" name="VitaminA"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.vitaminA
                                                }" [(ngModel)]="nutritionInfo.vitaminA" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="VitaminAPercent" #vitaminAPercentInput="ngModel" type="number"
                                    name="VitaminAPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.vitaminAPercent
                                                }" [(ngModel)]="nutritionInfo.vitaminAPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span>
                                  &nbsp;&nbsp;{{'VitaminC' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="VitaminC" #vitaminCInput="ngModel" type="number" name="VitaminC"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.vitaminC
                                                }" [(ngModel)]="nutritionInfo.vitaminC" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="VitaminCPerent" #vitaminCPerentInput="ngModel" type="number"
                                    name="VitaminCPerent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.vitaminCPercent
                                                }" [(ngModel)]="nutritionInfo.vitaminCPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span>
                                  &nbsp;&nbsp;{{'Calcium' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="Calcium" #calciumInput="ngModel" type="number" name="Calcium"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.calcium
                                                }" [(ngModel)]="nutritionInfo.calcium" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="calciumPercent" #calciumPercentInput="ngModel" type="number"
                                    name="calciumPercent" class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.calciumPercent
                                                }" [(ngModel)]="nutritionInfo.calciumPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="row">
                          <div class="col-md-6">
                            <div class=row>
                              <div class="col-6">
                                <span>
                                  &nbsp;&nbsp;{{'Iron' | localize}}
                                </span>
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="Iron" #ironInput="ngModel" type="number" name="Iron" class="form-control"
                                    [ngClass]="{
                                                    edited: nutritionInfo.iron
                                                }" [(ngModel)]="nutritionInfo.iron" />
                                  <div class="input-group-append"><span class="input-group-text">{{'g' |
                                      localize}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-6">
                              </div>
                              <div class="col-6">
                                <div class="input-group px-2 pb-2">
                                  <input id="IronPercent" #ironPercentInput="ngModel" type="number" name="IronPercent"
                                    class="form-control" [ngClass]="{
                                                    edited: nutritionInfo.ironPercent
                                                }" [(ngModel)]="nutritionInfo.ironPercent" />
                                  <div class="input-group-append"><span class="input-group-text">%</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-action-row>
                      <mat-action-row class="nutrition-no-border">
                        <div class="nutrition-seperator-thin"></div>
                      </mat-action-row>
                      <mat-action-row class="action-row-end">
                        <span style="font-weight: 500;">
                          *{{'BasedOnA2000CalorieDiet' | localize}}
                        </span>
                      </mat-action-row>
                    </mat-expansion-panel>
                  </div>
                </div>
              </tab>


              <tab heading="{{l('Allergic Info')}}" tabindex="4" class="p-5">
                <form class="allergic-info">
                  <div>
                    <mat-checkbox *ngFor="let item of allergyList" (change)="selectItem($event.checked, $event)" [checked]="menuItemDto?.allergicInfo && menuItemDto?.allergicInfo?.split(',').indexOf(item) != -1 ?  true : false">{{item}}</mat-checkbox>
                  </div>
                </form>
              </tab>
              <tab heading="{{l('Tag Info')}}" tabindex="5" class="p-5">
                
              </tab>

            </tabset>
          </div>
          <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
              (click)="close()">{{l("Cancel")}}</button>
            <button class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l(' SavingWithThreeDot')"
              [disabled]="!menuItemForm.form.valid || isDisableSave">
              <i class="fa fa-save"></i>
              <span>{{l("Save")}}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
  </select-location-or-group>
  <select-single-location #selectSingleLocationModal (locationAdded)="updateLocationPrices($event)">
  </select-single-location>
  <!-- <select-item-modal #selectItemModal (itemSelected)="upItemSelected($event)"></select-item-modal> -->

  <!-- <create-combo-group-modal #createComboGroupModal (modalSave)="comboGroupAdded($event)"></create-combo-group-modal> -->

  <!-- <create-combo-item-modal #createComboItemModal (modalSave)="comboItemAdded($event)"></create-combo-item-modal> -->

  <import-modal #importDescriptionsModal (modalSave)="getMenuItem()"></import-modal>
  <!-- <app-sort-combo-group-modal #sortComboGroupModal (modalSave)="selectComboGroup($event)"></app-sort-combo-group-modal> -->

  <select-popup #selectProductComboGroupPopupModal [headers]="['Id','Name','SortOrder','Minimum','Maximum']"
    [dataBinding]="['id','name','sortOrder','minimum','maximum']" [loadData]="getComboGroups()"
    (changeValue)="selectComboGroup($event)" selectionMode="multiple" [selectedValue]="combos"
    [title]="l('SelectComboGroup')"></select-popup>

  <createOrEditLanguageDescriptionModal #languageDescriptionModal> </createOrEditLanguageDescriptionModal>

  <!-- <select-popup #selectCategoryPopupModal [headers]="['Id','Name']" [dataBinding]="['id','name']"
    [loadData]="getCategorySelection()" (changeValue)="addCategory($event)" selectionMode="single"
    [selectedValue]="selectedCategory" [title]="l('SelectCategory')"></select-popup> -->

</div>