@import "assets/common/styles/dine-connect-customize.scss";
.nutrition-seperator-thick {
    width: 100%;
    height: 5px;
    background: #333c4e;
}

.nutrition-no-border {
    display: block !important;
    border-width: 0px !important;
    border: none !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.nutrition-seperator-thin {
    width: 100%;
    height: 1px;
    background: #333c4e;
}
.action-row-end {
    display: flex;
    flex-direction: row-reverse;
    padding: 16px 8px 0px 24px;
}
.daily-value {
    height: 26px;
}
.nutrition-info {
    display: flex;
    align-items: center;
    height: 64px;
}
.allergic-info {
    &>div{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
}