<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'MenuItems' | localize" [description]="'MenuItemsHeaderInfo' | localize">
            <div role="actions">
                <label for="isDeleted" class="checkbox mr-2">
                    <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
                        (change)="getMenuItemList()">
                    {{l("Deleted")}}
                    <span></span>
                </label>
                <button (click)="import()" class="btn btn-outline-success"><i class="fa fa-upload"></i>
                    {{l("Import")}}</button>
                <button class="btn btn-outline-success" (click)="exportToExcel()">
                    <i class="la-file-excel-o-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Tenant.Connect.Menu.MenuItems.Create')"
                    (click)="craeteOrUpdateMenuItem(null)" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{l("Create MenuItem")}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off" (submit)="getMenuItemList()">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="form-group m-form__group">
                                    <label>{{"Category" | localize}}</label>
                                    <p-dropdown placeholder="{{l('NotAssigned')}}" name="filterCategory"
                                        styleClass="w-100" [options]="categoriesDropDown" [(ngModel)]="selectedCategory"
                                        optionLabel="displayText" filterBy="displayText" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group m-form__group">
                                    <label>{{"Type" | localize}}</label>
                                    <p-dropdown #categoryDropDown placeholder="{{l('NotAssigned')}}"
                                        name="filterProductType" styleClass="w-100" [options]="productTypesDropDown"
                                        [(ngModel)]="selectedProductType" optionLabel="displayText"
                                        filterBy="displayText" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group m-form__group">
                                    <input autoFocus [(ngModel)]="filterText" class="form-control" id="Filter_Text"
                                        name="Filter_Text" [placeholder]="'SearchWithThreeDot' | localize" />
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group m-form__group">
                                    <button class="btn btn-primary" type="button" (click)="openSelectLocationModal()">
                                        {{l('LocationOrGroup')}}
                                        <span *ngIf="getLocationsSelected(locationOrGroup)">:
                                            {{getLocationsSelected(locationOrGroup)}}</span>
                                    </button>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-12 text-right">
                                <button type="button" class="btn btn-primary" (click)="reset()">
                                    {{"Reset" | localize}}
                                </button>
                                <button type="submit" (click)="getMenuItemList()" class="btn btn-primary"
                                    type="submit">{{"Search" | localize}}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #menuItemTable (onLazyLoad)="getMenuItemList($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 150px">{{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="aliasCode">
                                            {{l('AliasCode')}}
                                            <p-sortIcon field="aliasCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="aliasName">
                                            {{l('AliasName')}}
                                            <p-sortIcon field="aliasName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="category.name">
                                            {{l('CategoryName')}}
                                            <p-sortIcon field="categoryName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{l('Creation Time')}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 150px"
                                            [hidden]="!isGrantedAny('Pages.Tenant.Connect.Menu.MenuItems.Edit', 'Pages.Tenant.Connect.Menu.MenuItems.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Menu.MenuItems.Edit')"
                                                            class="dropdown-item"
                                                            (click)="craeteOrUpdateMenuItem(record.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="!isDeleted && isGranted('Pages.Tenant.Connect.Menu.MenuItems.Delete')"
                                                            class="dropdown-item"
                                                            (click)="deleteMenuItem(record)">{{l('Delete')}}</a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="isDeleted && isGranted('Pages.Tenant.Connect.Menu.MenuItems.Delete')"
                                                            class="dropdown-item"
                                                            (click)="activateItem(record)">{{l('Revert')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">{{record.name}}</td>
                                        <td style="width:150px">{{record.aliasCode}}</td>
                                        <td style="width:150px">{{record.aliasName}}</td>
                                        <td style="width:150px">{{record.categoryName}}</td>
                                        <td style="width:150px">{{record.creationTime | momentFormat:
                                            DATE_FORMAT.yyyyMMdd_hhmmss}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #menuItemPaginator
                                    (onPageChange)="getMenuItemList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<import-modal #importModal (modalSave)="getMenuItemList()"></import-modal>
<select-location-or-group #selectLocationOrGroup (locationAdded)="selectLocations($event)">
</select-location-or-group>
