<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!delTimingGroup?.id" [title]="'Create Timing Group' | localize"> </sub-header>
        <sub-header *ngIf="delTimingGroup?.id" [title]="'Edit Timing Group' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <tabset>
                            <tab [heading]="l('Timing Group')" class="p-5">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">{{ l('Name') }}</label>
                                        <input
                                            [(ngModel)]="delTimingGroup.name"
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            id="name"
                                            required
                                            placeholder=""
                                        />
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for="description">{{ l('Description') }}</label>
                                        <input
                                            [(ngModel)]="delTimingGroup.description"
                                            type="text"
                                            class="form-control"
                                            name="description"
                                            id="description"
                                            required
                                            placeholder=""
                                        />
                                    </div>
                                </div>
                            </tab>
                            <tab [heading]="l('Detail')" class="p-5">
                                <div class="row mt-5">
                                    <div class="col-md-6">
                                        <div class="form-group d-flex flex-row">
                                            <div class="d-flex flex-row justify-content-start align-items-center">
                                                <timepicker
                                                    [(ngModel)]="delTimingDetail.startTime"
                                                    [showMeridian]="false"
                                                    name="startTime"
                                                    #startTimeModal="ngModel"
                                                >
                                                </timepicker>
                                                <span> - </span>
                                                <timepicker
                                                    [(ngModel)]="delTimingDetail.endTime"
                                                    [showMeridian]="false"
                                                    name="endTime"
                                                    #endTimeModel="ngModel"
                                                >
                                                </timepicker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group m-form__group">
                                            <label class="control-label">{{ l('WeekDays') }}</label>
                                            <div class="w-100">
                                                <p-multiSelect
                                                    defaultLabel=""
                                                    [filter]="true"
                                                    styleClass="w-100"
                                                    id="WeekDays"
                                                    name="WeekDays"
                                                    [options]="refdays"
                                                    [dataKey]="'value'"
                                                    [(ngModel)]="refday"
                                                    optionLabel="displayText"
                                                >
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button
                                            [disabled]="
                                                !delTimingDetail.startTime ||
                                                !delTimingDetail.endTime ||
                                                refday.length == 0
                                            "
                                            type="button"
                                            class="btn btn-primary mt-8"
                                            (click)="addDetail()"
                                        >
                                            {{ l('Add') }}
                                        </button>
                                    </div>
                                </div>

                                <div class="row margin-top-10">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>{{ l('SHourMinute') }}*</th>
                                                    <th>{{ l('EHourMinute') }}*</th>
                                                    <th>{{ l('Days') }}*</th>
                                                    <th>{{ l('Action') }}</th>
                                                </tr>
                                            </thead>

                                            <tr
                                                *ngFor="
                                                    let item of delTimingGroup.delTimingDetails;
                                                    let productIndex = index
                                                "
                                            >
                                                <td class="col-sm-3">{{ item.startHour }}:{{ item.startMinute }}</td>
                                                <td class="col-sm-3">{{ item.endHour }}:{{ item.endMinute }}</td>
                                                <td class="col-sm-3">
                                                    <ul *ngIf="item.allDays.length > 0">
                                                        <li *ngFor="let p of item.allDays">
                                                            {{ p.displayText }}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="col-sm-3">
                                                    <button
                                                        type="button"
                                                        class="btn btn-danger btn-sm"
                                                        (click)="remove(productIndex)"
                                                    >
                                                        {{ l('Delete') }}
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
