<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PaymentExcess' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <label class="control-label">{{l("Time")}}</label>
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="control-label">{{l('PaymentTag')}}</label>
                                    <input type="text" class="form-control" [(ngModel)]="paymentTags"
                                        name="paymentTags">
                                </div>
                            </div>
                        </div>                  
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>
                                    <div class="btn-group ml-1" dropdown>
                                        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                            <i class="la-file-excel-o"></i> {{ l('Export Summary') }}
                                        </button>
                                        <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                            <li class="dropdown-item">
                                                <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export Detail') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcelDetail(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcelDetail(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getOrders()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="paymentType">
                                            {{ l('PaymentName') }}
                                            <p-sortIcon field="paymentType"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="actual">
                                            {{ l('Actual') }}
                                            <p-sortIcon field="actual"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="tendered">
                                            {{ l('Tendered') }}
                                            <p-sortIcon field="tendered"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="excess">
                                            {{ l('Excess') }}
                                            <p-sortIcon field="excess"></p-sortIcon>
                                        </th>                                   
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('PaymentName') }}</span>
                                            {{ record.paymentType }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Actual') }}</span>
                                            {{ record.actual | number: '1.2'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Tendered') }}</span>
                                            {{ record.tendered | number: '1.2'}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Excess') }}</span>
                                            {{ record.excess | number: '1.2'}}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="7">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationActualValue | number: '1.2'}}</td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationTenderValue | number: '1.2'}}</td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationExcessValue | number: '1.2'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getOrders($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>