<div [@routerTransition] style="margin-top: 30px;">
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="col-sm-12">
                    <div class="card mb-1">
                        <div class="card-body row">
                            <h5 class="mb-auto col-6">{{"ActiveOffers" | localize}}</h5>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-label-brand pull-right" (click)="back()">
                                    <i class="fa fa-arrow-left"></i> {{"Back" | localize}}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 mb-3" *ngFor="let offer of productOffers">
                            <div class="card h-100 offer-card">
                                <div class="card-body">
                                    <h4 class="mb-0">{{offer.name}}
                                        <span class="mb-0 offer-price">{{appSession.application.currencySign}} {{offer.price}}</span>
                                    </h4>
                                    <p class="mb-0 offer-delivery-count">Meal Count: <span>{{offer.totalDeliveryCount}}</span></p>
                                    <div style="margin-top:20px;" innerHTML="{{offer.description}}"></div>
                                    <div class="offer-actions">
                                        <button type="button" class="btn btn-primary" style="margin-right: .25em" (click)="loginToBuyOffer()">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>