<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'CollectionReport' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <!-- <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li> -->
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getCollection()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="locationName">
                                            {{ l('Location') }}
                                            <p-sortIcon field="locationName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="itemSales">
                                            {{ l('Sales') }}
                                            <p-sortIcon field="itemSales"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ticketDiscountTotal">
                                            {{ l('Discount') }}
                                            <p-sortIcon field="ticketDiscountTotal"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="itemDiscountTotal">
                                            {{ l('OrderDiscount') }}
                                            <p-sortIcon field="itemDiscountTotal"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="subTotal">
                                            {{ l('NetSales') }}
                                            <p-sortIcon field="subTotal"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="tax">
                                            {{ l('Tax') }}
                                            <p-sortIcon field="tax"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="totalSales">
                                            {{ l('Total') }}
                                            <p-sortIcon field="totalSales"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Location') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Sales') }}</span>
                                            {{ record.itemSales }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Discount') }}</span>
                                            {{ record.ticketDiscountTotal }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('OrderDiscount') }}</span>
                                            {{ record.itemDiscountTotal }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('NetSales') }}</span>
                                            {{ record.subTotal }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Tax') }}</span>
                                            {{ record.tax }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Total') }}</span>
                                            {{ record.totalSales }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="8">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">{{ l('Total') }}</td>
                                        <td class="text-left"> {{ getAggregationitemSalesValue | number: '1.2'}}</td>
                                        <td class="text-left"> {{ getAggregationticketDiscountTotalValue | number: '1.2'}}</td>
                                        <td class="text-left"> {{ getAggregationitemDiscountTotalValue | number: '1.2'}}</td>
                                        <td class="text-left"> {{ getAggregationsubTotalValue | number: '1.2'}}</td>
                                        <td class="text-left"> {{ getAggregationtaxValue | number: '1.2'}}</td>
                                        <td class="text-left"> {{ getAggregationtotalSalesValue | number: '1.2'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getCollection($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

<app-order-report-detail-modal #detailmodal></app-order-report-detail-modal>

