.support-container {
    background: white;
    margin-top: 24px;
    &-header {
        border: 1px solid #dbdbdb;
        .container {
            .header {
                background-image: url("/assets/image/background-support.png");
                background-repeat: no-repeat;
                background-position: center;
                height: 202px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 120%;
                    text-align: center;
                    color: #2d5d8c;
                    margin-bottom: 16px;
                }
                .search {
                    position: relative;
                    input {
                        width: 803px;
                        height: 52px;
                        background: #ffffff;
                        border: 1px solid #cccccc;
                        box-sizing: border-box;
                        border-radius: 8px;
                        padding-left: 17px;
                    }
                    button {
                        position: absolute;
                        right: 6px;
                        top: 6px;
                        display: flex;
                        align-items: center;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 140%;
                        text-align: center;
                        color: #ffffff;
                        padding: 10px 24px;
                        background: #2d5d8c;
                        border-radius: 8px;
                        border: none;
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    &-content {
        display: grid;
        grid-template-columns: 2fr 5fr;
        padding-top: 36px;
        //height: calc(100vh - 321px);
        ul.list {
            padding-left: 16px;
            list-style: none;
            li.item {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #575755;
                padding-bottom: 16px;
                border-bottom: 1px solid #ededed;
                cursor: pointer;
            }
            li:not(:nth-child(1)) {
                margin-top: 16px;
            }
        }
        .category {
            border-right: 1px solid #d7d7d7;
            .title {
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 120%;
                color: #22232f;
                padding-left: 16px;
            }
            .contact-us {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                color: #22232f;
                padding-left: 16px;
                margin-bottom: 8px;
            }
            .email-contact,
            .phone-contact {
                display: flex;
                align-items: center;
                padding: 12px;
                background: #ffffff;
                border: 1px solid #dbdbdb;
                box-sizing: border-box;
                border-radius: 8px;
                margin-bottom: 15px;
                margin-left: 16px;
                width: 290px;
                height: 76px;
                .content {
                    display: flex;
                    flex-direction: column;
                    margin-left: 16px;
                    &>span:nth-child(1) {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150%;
                        color: #22232f;
                    }
                    &>span:nth-child(2) {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        color: #575755;
                    }
                }
            }
        }
        .category-content {
            margin-left: 48px;
            .title {
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 120%;
                color: #22232f;
                padding-left: 16px;
            }
            .btn-load-more {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: #2d5d8c;
                padding: 10px 24px;
                border: 1px solid #2d5d8c;
                box-sizing: border-box;
                border-radius: 8px;
                background: white;
                margin-left: 16px;
            }
            .content {
                padding: 16px 0px !important;
            }
        }
        .category-content-child {
            margin-left: 48px;
            .title {
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 120%;
                color: #22232f;
            }
            .time {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #575755;
                margin-top: 5px;
                margin-bottom: 24px;
            }
            .title-2 {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #000000;
                margin-bottom: 32px;
            }
            ul {
                font-size: 16px;
                color: #000000;
                width: 790px;
            }
            .select-bank {
                background-image: url("/assets/image/background-support-child.png");
                width: 691px;
                height: 79px;
                background-repeat: no-repeat;
                background-position: center;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 150%;
                color: #22232f;
                margin-left: 16px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ededed;
                padding-left: 16px;
            }
            .bank-tranfer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 22px 20px 25px 20px;
                box-shadow: 0px 11px 55px -10px rgba(0, 0, 0, 0.07);
                width: 707px;
                .detail {
                    display: flex;
                    align-items: center;
                    .icon-bank-tranfer {
                        margin-right: 16px;
                    }
                    .detail-bank-tranfer {
                        display: flex;
                        flex-direction: column;
                        &>span:nth-child(1) {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 150%;
                            color: #22232f;
                        }
                        &>span:nth-child(2) {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 140%;
                            color: #22232f;
                        }
                    }
                }
            }
        }
    }
}

.mobile-screen {
    background: white;
    // margin-top: 24px;
    &-header {
        border-top: 1px solid #dbdbdb;
        .container {
            .header {
                background-image: url("/assets/image/background-banner-mobile.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 202px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 23px;
                    line-height: 120%;
                    text-align: center;
                    color: #2d5d8c;
                    margin-bottom: 16px;
                }
                .search {
                    display: flex;
                    column-gap: 10px;
                    input {
                        width: 287px;
                        height: 48px;
                        background: #ffffff;
                        border: 1px solid #cccccc;
                        box-sizing: border-box;
                        border-radius: 8px;
                        padding-left: 17px;
                    }
                    button {
                        display: flex;
                        align-items: center;
                        color: #ffffff;
                        padding: 12px;
                        background: #F5C031;
                        border-radius: 8px;
                        border: none;
                        width: 48px;
                        img {
                            margin-right: 10px;
                            width: 24px;
                        }
                    }
                }
            }
        }
    }
    &-content {
        display: grid;
        grid-template-rows: 2fr 5fr;
        padding-top: 36px;
        //height: 100vh;
        ul.list {
            padding-left: 16px;
            list-style: none;
            li.item {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #575755;
                padding-bottom: 16px;
                border-bottom: 1px solid #ededed;
                cursor: pointer;
            }
            li:not(:nth-child(1)) {
                margin-top: 16px;
            }
        }
        .category {
            border-top: 7px solid #f5f5f5;
            .title {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 120%;
                color: #22232f;
                padding-left: 16px;
            }
            .contact-us {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                color: #22232f;
                padding-left: 16px;
                margin-bottom: 8px;
            }
            .email-contact,
            .phone-contact {
                display: flex;
                align-items: center;
                padding: 12px;
                background: #ffffff;
                border: 1px solid #dbdbdb;
                box-sizing: border-box;
                border-radius: 8px;
                margin-bottom: 15px;
                margin-left: 16px;
                width: 290px;
                height: 76px;
                .content {
                    display: flex;
                    flex-direction: column;
                    margin-left: 16px;
                    &>span:nth-child(1) {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150%;
                        color: #22232f;
                    }
                    &>span:nth-child(2) {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        color: #575755;
                    }
                }
            }
        }
        .category-content {
            // margin-left: 48px;
            .title {
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 120%;
                color: #22232f;
                padding-left: 16px;
            }
            .btn-load-more {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: #2d5d8c;
                padding: 10px 24px;
                border: 1px solid #2d5d8c;
                box-sizing: border-box;
                border-radius: 8px;
                background: white;
                margin-left: 80px;
                margin-bottom: 30px;
            }
            .content {
                padding: 16px 0px !important;
            }
        }
        .category-content-child {
            // margin-left: 48px;
            .title {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 120%;
                color: #22232f;
            }
            .time {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 150%;
                color: #575755;
                margin-top: 5px;
                margin-bottom: 24px;
            }
            .title-2 {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                color: #575755;
                margin-bottom: 32px;
            }
            ul {
                font-size: 16px;
                color: #575755;
                width: 790px;
            }
            .select-bank {
                background-image: url("/assets/image/background-support-child.png");
                width: 691px;
                height: 79px;
                background-repeat: no-repeat;
                background-position: center;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 150%;
                color: #22232f;
                margin-left: 16px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ededed;
                padding-left: 16px;
            }
            .bank-tranfer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 22px 20px 25px 20px;
                box-shadow: 0px 11px 55px -10px rgba(0, 0, 0, 0.07);
                width: 707px;
                .detail {
                    display: flex;
                    align-items: center;
                    .icon-bank-tranfer {
                        margin-right: 16px;
                    }
                    .detail-bank-tranfer {
                        display: flex;
                        flex-direction: column;
                        &>span:nth-child(1) {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 150%;
                            color: #22232f;
                        }
                        &>span:nth-child(2) {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 140%;
                            color: #22232f;
                        }
                    }
                }
            }
        }
    }
}

::ng-deep {
    .support-container-content {
        .mat-list-single-selected-option {
            .sub-menu {
                font-weight: bold !important;
                font-size: 16px !important;
                color: #488bf0 !important;
            }
        }
        mat-selection-list {
            mat-list-option {
                background-color: unset !important;
                padding: unset;
            }
        }
    }
}

@media (min-width: 992px) {
    .mobile-screen {
        display: none;
    }
}

@media (max-width: 991px) {
    .support-container {
        display: none;
    }

    .category-list{
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
        padding: 10px 50px;
    }

    .container{
        padding: 0 !important;
    }

    .category-content{
        border-top: 7px solid #F5F5F5;
    }

    .title-faq {
        margin-top: 20px !important;
        padding-bottom: 25px !important;
        border-bottom: 2px solid #EDEDED;
        font-size: 16px !important;
    }

    .contact-us{
        padding-top: 20px
    }

    .list{
        padding-right: 16px;
    }

    .btn-load-more{
        margin-left: 0px !important;
    }

    .email-contact, .phone-contact{
        margin-right: 16px !important;
        width: auto !important;
    }
}