<div class="support-container">
    <div class="support-container-header">
        <div class="container">
            <div class="header">
                <div class="title">Need some help?</div>
                <div class="search">
                    <input type="text" placeholder="Search Topic...">
                    <button>
                        <img src="/assets/image/search.png" alt="">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="support-container-content container">
        <div class="category">
            <div class="title">
                Category
            </div>
            <mat-selection-list [multiple]="false" >
                <mat-list-option [selected]="true">
                    <span>
                        <img src="/assets" alt="">
                    </span>
                    <span class="sub-menu" (click)="isClickQuestion = false">Payments</span>
                </mat-list-option>
                <mat-list-option>
                    <span class="sub-menu">Account & Security</span>
                </mat-list-option>
                <mat-list-option>
                    <span class="sub-menu">Returns & Refunds</span>
                </mat-list-option>
            </mat-selection-list>
            <div class="contact-us">
                Contact us
            </div>
            <div class="email-contact">
                <img src="/assets/image/email.png" alt="">
                <div class="content">
                    <span>Email</span>
                    <span>stackcanteen@gmail.com</span>
                </div>
            </div>
            <div class="phone-contact">
                <img src="/assets/image/phone.png" alt="">
                <div class="content">
                    <span>Phone Number</span>
                    <span>8876 33456 908</span>
                </div>
            </div>
        </div>
        <div class="category-content" *ngIf="!isClickQuestion">
            <div class="title">
                Frequently Asked Question
            </div>
            <div class="content">
                <ul class="list">
                    <li class="item" (click)="isClickQuestion = true">How to top up stack wallet?</li>
                    <li class="item">How to return the funds that have been deducted?</li>
                    <li class="item">What If I Have Not Received A Successful Payment Confirmation?</li>
                    <li class="item">How much is the additional cost to top up the wallet balance with a virtual account?</li>
                    <li class="item">Why Can't I Checkout My Order?</li>
                </ul>
            </div>
            <button class="btn-load-more">
                Load More Question
            </button>
        </div>
        <div class="category-content-child" *ngIf="isClickQuestion">
            <div class="title">
                How to top up stack wallet?
            </div>
            <div class="time">Nov 11, 2021</div>
            <div class="title-2">
                You can top up your Wallet balance with the following payment methods:
            </div>
            <ul>
                <li>Stack Partners</li>
                <li>Bank Transfer (Virtual Account): SeaBank, Bank BCA, Bank Mandiri, Bank BNI, Bank BRI, Bank Syariah Indonesia/Bank Syariah Mandiri, and Bank Permata.</li>
                <li>Supermart</li>
                <li>BCA OneClick</li>
                <li>Scan the QR Code at Circle K</li>
            </ul>
            <div class="title-2">
                1. Select your bank
            </div>
            <div class="select-bank">
                Top Up Method
            </div>
            <div class="bank-tranfer">
                <div class="detail">
                    <img src="/assets/image/bank-tranfer.png" alt="" class="icon-bank-tranfer">
                    <div class="detail-bank-tranfer">
                        <span>Bank Transfer</span>
                        <span>Select the bank you have and top up easily</span>
                    </div>
                </div>
                <img src="/assets/image/arrow-down.png" alt="" class="icon-arrow-down">

            </div>
        </div>
    </div>
</div>

<!--Web mobile-->
<div class="mobile-screen">
    <div class="mobile-screen-header">
        <div class="container">
            <div class="header">
                <div class="title">Need some help?</div>
                <div class="search">
                    <input type="text" placeholder="Search Topic...">
                    <button>
                        <img src="/assets/image/search.png" alt="" style="width: 24px; height: 24px;">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-screen-content container">

        <div class="category-content" *ngIf="!isClickQuestion">
            <div class="title title-faq">
                FAQ
            </div>
            <div class="content">
                <ul class="list">
                    <li class="item" (click)="isClickQuestion = true" style="display: flex; justify-content: space-between;">
                        <span>How to top up stack wallet?</span>
                        <mat-icon >chevron_right</mat-icon>
                    </li>
                    <li class="item" style="display: flex; justify-content: space-between;">
                        <span>How to return the funds that have been deducted?</span>
                        <mat-icon >chevron_right</mat-icon>
                    </li>
                    <li class="item" style="display: flex; justify-content: space-between;">
                        <span>What If I Have Not Received A Successful Payment Confirmation?</span>
                        <mat-icon >chevron_right</mat-icon>
                    </li>
                    <li class="item" style="display: flex; justify-content: space-between;">
                        <span>How much is the additional cost to top up the wallet balance with a virtual account?</span>
                        <mat-icon >chevron_right</mat-icon>
                    </li>
                    <li class="item" style="display: flex; justify-content: space-between;">
                        <span>Why Can't I Checkout My Order?</span>
                        <mat-icon >chevron_right</mat-icon>
                    </li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <button class="btn-load-more">
                    Load More Question
                </button>
            </div>
        </div>
        <div *ngIf="isClickQuestion" style="border-top: 7px solid #F5F5F5;">
            <div style="padding: 0 16px;">
                <div class="title" style="font-size: 18px; font-weight: 700;  margin-top: 20px;">
                    How to top up stack wallet?
                </div>
                <div class="time">Nov 11, 2021</div>
                <div class="title-2" style="margin: 20px 0px;">
                    You can top up your Wallet balance with the following payment methods:
                </div>
                <ul>
                    <li>Stack Partners</li>
                    <li>Bank Transfer (Virtual Account): SeaBank, Bank BCA, Bank Mandiri, Bank BNI, Bank BRI, Bank Syariah Indonesia/Bank Syariah Mandiri, and Bank Permata.</li>
                    <li>Supermart</li>
                    <li>BCA OneClick</li>
                    <li>Scan the QR Code at Circle K</li>
                </ul>
                <div class="title-2" style="font-weight: 700;">
                    1. Select your bank
                </div>
                <div class="bank-tranfer">
                    <div class="detail">
                        <img src="/assets/image/My-Wallet.png" alt="" class="icon-bank-tranfer" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
            </div>            
        </div>

        <div class="category">
            <div class="title title-faq">
                Category
            </div>
            <mat-selection-list [multiple]="false" >
                <div class="category-list">
                    <div (click)="isClickQuestion = false" style="width: 33.33%; display: flex; flex-direction: column;">
                        <img src="/assets/image/category-payment.png" alt="">
                        <span style="align-self: center;">Payment</span>
                    </div>
                    <div style="width: 33.33%; display: flex; flex-direction: column;">
                        <img src="/assets/image/category-account-security.png" alt="">
                        <span style="text-align: center;">Account & Security</span>
                    </div>
                    <div style="width: 33.33%; display: flex; flex-direction: column;">
                        <img src="/assets/image/category-returns-refunds.png" alt="">
                        <span style="text-align: center;">Returns & Refunds</span>
                    </div>
                </div>
            </mat-selection-list>
            <div>
                <div class="contact-us title title-faq category-content">
                    Contact us
                </div>
                <div class="email-contact">
                    <img src="/assets/image/email.png" alt="">
                    <div class="content">
                        <span>Email</span>
                        <span>stackcanteen@gmail.com</span>
                    </div>
                </div>
                <div class="phone-contact">
                    <img src="/assets/image/phone.png" alt="">
                    <div class="content">
                        <span>Phone Number</span>
                        <span>8876 33456 908</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-top-bar-mobile></app-top-bar-mobile>