@import "../../../../../assets/style/color";
@media (min-width: 992px) {
    .mobile-screen {
        display: none;
    }
    .product {
        position: relative;
        display: grid;
        grid-template-columns: 364px 609px;
        grid-gap: 32px;
        background: white;
        border-radius: 10px;
        padding: 16px;

        &-image {
            position: relative;
            &:hover .background-gray {
                width: 364px;
                height: 349px;
                position: absolute;
                top: 0;
                border-radius: 10px;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            }
            .image {
                width: 364px;
                height: 349px;
                border-radius: 10px;
                margin-right: 32px;
            }
            .image-heart {
                display: none;
            }
            &:hover .favorite {
                position: absolute;
                top: 8px;
                left: 8px;
                background: white;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .image-heart {
                    display: block;
                }
            }
            .favorite-heart {
                position: absolute;
                top: 8px;
                left: 8px;
                background: $second-color;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .image-favorite-heart {
                    display: block;
                }
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-product-group {
                background: rgba(245, 192, 49, 0.2);
                width: 120px;
                height: 32px;
                color: #c59f2c;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 45px;
                margin-bottom: 7px;
            }
            &-title {
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 120%;
                color: #4a4a4a;
                cursor: pointer;
                margin-bottom: 8px;
            }
            &-rate {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: $grey-product;
                margin-bottom: 16px;
                display: flex;
                align-items: center;
                &-star {
                    margin-right: 8px;
                }
                &-clock {
                    margin-right: 8.19px;
                }
                &-number {
                    margin-right: 22px;
                    opacity: 0.7;
                }
            }
            &-status {
                display: flex;
                align-items: center;
                margin-left: 22px;
                &-point {
                    background: $grey-product;
                    border-radius: 5.5px;
                    width: 11px;
                    height: 11px;
                    margin-right: 11px;
                }
                &-allergy {
                    border-radius: 5.5px;
                    width: 11px;
                    height: 11px;
                    background: $allergy-color;
                    margin-right: 11px;
                }
                &-content {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                }
                &-content-allergy {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                    color: $allergy-color;
                }
            }
            &-price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .price {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 150%;
                    color: #2d5d8c;
                }
                .add-to-cart {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .btn-add-to-cart {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        color: #ffffff;
                        .btn-add {
                            border: none;
                            background: #f5c031;
                            border-radius: 10px;
                            color: white;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 150%;
                            text-align: center;
                            padding: 12px 24px;
                            display: flex;
                            align-items: center;
                            .product-add-to-cart-add {
                                margin-right: 10px;
                            }
                        }
                    }
                    .add-remove-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 4px;
                        margin-right: 10px;
                        cursor: pointer;
                        .action {
                            display: flex;
                            align-items: center;
                            .remove,
                            .add {
                                border: 1px solid #dbdbdb;
                                box-sizing: border-box;
                                border-radius: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 36px;
                                height: 36px;
                                margin-right: 6px;
                            }
                            .number {
                                margin-right: 6px;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 150%;
                                text-align: center;
                                color: #575755;
                                width: 27px;
                                height: 23px;
                            }
                        }
                        .price {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 150%;
                            text-align: right;
                            color: #22232f;
                        }
                    }
                }
            }
            &-detail {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #575755;
            }
        }
        &-add-to-cart {
            border-radius: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            right: 16px;
            bottom: 16px;
        }
        .img-close {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.7;
            background: #0000001a;
        }
    }
}

@media (max-width: 991px) {
    .large-screen {
        display: none;
    }
    ::ng-deep {
        .dialog-detail-product {
            max-width: 90vw !important;
        }
        .mat-dialog-container {
            padding: 0px;
        }
    }
    .product-mobile {
        .product-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            position: relative;
            .image {
                height: 100%;
                width: 100%;
            }
            .background-gray {
                background: linear-gradient(
                    180deg,
                    rgba(5, 5, 5, 0.46) 0%,
                    rgba(3, 3, 3, 0.3) 46.35%,
                    rgba(0, 0, 0, 0) 100%
                );
                position: absolute;
                width: 100%;
                height: 200px;
                top: 0;
            }
            .back {
                display: flex;
                align-items: center;
                position: absolute;
                top: 16px;
                left: 16px;
                z-index: 1;
                & > span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 140%;
                    color: #ffffff;
                    margin-left: 16px;
                }
            }
            .image-heart {
                display: none;
            }
            .favorite-heart {
                position: absolute;
                top: 16px;
                right: 16px;
                background: $second-color;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .image-favorite-heart {
                    display: block;
                }
            }
        }
        .product-content-product-group {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 140%;
            color: #25da37;
            background: rgba(37, 218, 55, 0.1);
            border-radius: 34px;
            padding: 3px;
            width: 90px;
            margin-left: 16px;
            margin-top: 16px;
            margin-bottom: 8px;
            text-align: center;
        }
        .product-content-title {
            font-style: normal;
            font-weight: bold;
            font-size: 23px;
            line-height: 120%;
            color: #22232f;
            margin-left: 16px;
            margin-bottom: 8px;
        }
        .product-content-rate-clock {
            margin-left: 16px;
            margin-right: 8px;
        }
        .product-content-rate {
            display: flex;
            align-items: center;
            margin-left: 16px;
            .product-content-status {
                margin-left: 16px;
                display: flex;
                align-items: center;
                &-content {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 140%;
                    color: #888884;
                    margin-left: 8px;
                }
                &-point {
                    background: $grey-product;
                    border-radius: 5.5px;
                    width: 11px;
                    height: 11px;
                    margin-right: 8px;
                }
                &-allergy {
                    border-radius: 5.5px;
                    width: 11px;
                    height: 11px;
                    background: $allergy-color;
                    margin-right: 8px;
                }
            }
            &-number,
            &-mnt {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 140%;
                color: #888884;
                margin-left: 8px;
            }
        }
        .product-content-detail {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #575755;
            margin-top: 16px;
            margin-left: 16px;
            margin-bottom: 24px;
        }
        .product-content-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 24px;
            border-bottom: 1px solid #DBDBDB;
            padding-left: 16px;
            .price {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                color: #2d5d8c;
            }
            .add-to-cart {
                display: flex;
                align-items: center;
                justify-content: center;
                .btn-add-to-cart {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #ffffff;
                    .btn-add {
                        border: none;
                        background: #f5c031;
                        border-radius: 10px;
                        color: white;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        padding: 12px 24px;
                        display: flex;
                        align-items: center;
                        .product-add-to-cart-add {
                            margin-right: 10px;
                        }
                    }
                }
                .add-remove-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 4px;
                    margin-right: 10px;
                    cursor: pointer;
                    .action {
                        display: flex;
                        align-items: center;
                        .remove,
                        .add {
                            border: 1px solid #dbdbdb;
                            box-sizing: border-box;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 32px;
                            height: 32px;
                            margin-right: 8px;
                        }
                        .number {
                            margin-right: 6px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 140%;
                            text-align: center;
                            color: #575755;
                            width: 27px;
                            height: 23px;
                        }
                    }
                    .price {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: right;
                        color: #22232f;
                    }
                }
            }
        }
        .btn-add-to-cart {
            padding: 24px 16px;
            .btn-add {
                border: none;
                background: #f5c031;
                border-radius: 10px;
                color: white;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                padding: 12px 24px;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                .product-add-to-cart-add {
                    margin-right: 10px;
                }
            }
        }
        .disabled {
            pointer-events: none;
            opacity: 0.7;
            background: #0000001a;
        }
    }


    .btn-addon {
        border: none;
        background: #f5c031;
        border-radius: 10px;
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        padding: 12px 24px;
        display: flex;
        align-items: center;

        &:disabled {
            background-color: #ededed;
        }
    }
}
