<div class="product large-screen">
    <img src="/assets/image/close.png" class="img-close" mat-dialog-close>
    <div class="product-image">
        <img src="{{ product.image || '/assets/image/no_image_available.png' }}" class="image" alt="" />
        <div class="background-gray"></div>
        <div class="favorite" *ngIf="!product.isFavorite">
            <img src="/assets/image/heart.png" class="image-heart" alt="" />
        </div>
        <div class="favorite-heart" *ngIf="product.isFavorite">
            <img src="/assets/image/favorite-heart.png" class="image-favorite-heart" alt="" />
        </div>
    </div>
    <div class="product-content">
        <div class="product-content-container">
            <div class="product-content-product-group">{{ product.cliqueMealTimeName }}</div>
            <div class="product-content-title">
                {{ product.name }}
            </div>
            <div class="product-content-rate">
                <img src="/assets/image/star.png" class="product-content-rate-star" alt="" />
                <span class="product-content-rate-number">{{ product.feedbackPoint }}/{{ product.feedBackCount }}</span>
                <img src="/assets/image/clock.png" class="product-content-rate-clock" alt="" />
                <span class="product-content-rate-mnt">{{ product.mnt }} mnt </span>
                <div class="product-content-status">
                    <div class="product-content-status-point" *ngIf="!product.allergicInfo"></div>
                    <div class="product-content-status-allergy" *ngIf="product.allergicInfo"></div>
                    <div class="product-content-status-content" *ngIf="!product.allergicInfo">No allergenic</div>
                    <div class="product-content-status-content-allergy" *ngIf="product.allergicInfo">
                        {{ product.allergicInfo }} allergy
                    </div>
                </div>
            </div>
            <div>
                <button class="btn-addon" (click)="addOrderTag()" [disabled]="product.quantity == 0">
                    <img src="/assets/image/add-circle.png" />
                    AddOn
                </button>
            </div>
            <div class="product-content-detail">
                <ng-container *ngFor="let item of product.orderTags; let last = last"
                    >{{ item.name }}({{ item.quantity }}){{ !last ? ', ' : '' }}</ng-container
                >
            </div>
            <div class="product-content-detail">
                {{ product.description }}
            </div>
        </div>
        <div class="product-content-price">
            <div class="price">${{ product.price | number: '1.2-2' }}</div>
            <div class="add-to-cart">
                <div class="add-remove-item">
                    <div class="action">
                        <span class="remove" (click)="decrease(product)" [class.disabled]="product.quantity == 0">-</span>
                        <span class="number">{{ product.quantity }}</span>
                        <span class="add" (click)="increase(product)">+</span>
                    </div>
                </div>
                <div class="btn-add-to-cart">
                    <button class="btn-add" (click)="closeDialog()" [disabled]="product.quantity == 0">
                        <img src="/assets/image/add-circle.png" class="product-add-to-cart-add" />
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="product-add-to-cart" [ngStyle]="{background: product.isAddToCart ? '#25da37' : '#F5C031'}" (click)="addOrRemoveCart(product, product.isAddToCart)">
        <img src="/assets/image/circle-checklist.png" class="product-add-to-cart-success" *ngIf="product.isAddToCart">
        <img src="/assets/image/add-circle.png" class="product-add-to-cart-add" *ngIf="!product.isAddToCart">
    </div> -->
</div>

<div class="product-mobile mobile-screen">
<!-- 
    <img src="/assets/image/close.png" class="img-close" mat-dialog-close> -->
    <div class="product-image">
        <div class="back" mat-dialog-close>
            <img src="/assets/image/arrow-left-white.png" alt="">
            <span>Menu Details</span>
        </div>
        <img src="{{product.image}}" class="image" alt="">
        <div class="background-gray"></div>
        <div class="favorite" *ngIf="!product.isFavorite">
            <img src="/assets/image/heart.png" class="image-heart" alt="">
        </div>
        <div class="favorite-heart" *ngIf="product.isFavorite">
            <img src="/assets/image/favorite-heart.png" class="image-favorite-heart" alt="">
        </div>
    </div>
    <div class="product-content-product-group"> {{product.cliqueMealTimeName}} </div>
    <div class="product-content-title">
        {{product.name}}
    </div>
    <div class="product-content-rate">
        <img src="/assets/image/star.png" class="product-content-rate-star" alt="">
        <span class="product-content-rate-number">{{product.feedbackPoint}}/{{product.feedBackCount}}</span>
        <img src="/assets/image/clock.png" class="product-content-rate-clock" alt="">
        <span class="product-content-rate-mnt">{{product.mnt}} mnt </span>
        <div class="product-content-status">
            <div class="product-content-status-point" *ngIf="!product.allergicInfo">

            </div>
            <div class="product-content-status-allergy" *ngIf="product.allergicInfo">

            </div>
            <div class="product-content-status-content" *ngIf="!product.allergicInfo">
                No allergenic
            </div>
            <div class="product-content-status-content-allergy" *ngIf="product.allergicInfo">
                {{product.allergicInfo}} allergy
            </div>
        </div>
    </div>
    <div class="product-content-detail">
        {{product.description}}
    </div>
    <div class="product-content-price">
        <div class="price">${{product.price | number: '1.2-2'}}</div>
        <div class="add-to-cart">
            <div class="add-remove-item">
                <div class="action">
                    <span class="remove" (click)="decrease(product)" [class.disabled]="product.quantity == 0">-</span>
                    <span class="number">{{product.quantity}}</span>
                    <span class="add" (click)="increase(product)">+</span>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-add-to-cart">
        <button class="btn-add" (click)="closeDialog()" [disabled]="product.quantity == 0">
            <img src="/assets/image/add-circle.png" class="product-add-to-cart-add">
            Add to Cart
        </button>
    </div>
</div>
