.bs-datepicker.custom-datepicker {
    .bs-datepicker-container.ng-trigger-datepickerAnimation {
        display: none;
    }

    .bs-datepicker-container.ng-trigger-datepickerAnimation.show {
        display: block;
    }
}

.primeng-datatable-container .primeng-no-data {
    font-weight: normal;
    border: unset;
    border-bottom: 1px solid #f4f5f8;
}