<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="mr-4">{{ 'Id' | localize }} : {{ ticket.id }}</span>
          <span class="mr-4">{{ 'TicketNumber' | localize }} : {{ ticket.ticketNumber }}</span>
          <span>{{ 'Location' | localize }} : {{ ticket.locationName }}</span>
        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset class="tab-container tabbable-line">
          <tab heading="{{ l('General') }}" customClass="kt-tabs__item" tabindex="0" class="p-5">
            <div class="row">
              <div class="col-sm-6 text-center">
                <div class="form-group">
                  <label class="control-label">{{l("TotalAmount")}}:</label>
                  <h3>{{ ticket.totalAmount }}</h3>
                </div>
              </div>
              <div class="col-sm-6 text-center">
                <div class="form-group">
                  <label class="control-label">{{l("RemainingAmount")}}:</label>
                  <h3>{{ ticket.remainingAmount }}</h3>
                </div>
              </div>

            </div>

            <div class="row mb-3">
              <label class="control-label col-sm-6">{{l("Terminal")}}:</label>
              <div class="col-sm-6">
                {{ ticket.terminalName }}
              </div>
            </div>

            <div class="row mb-3">
              <label class="control-label col-sm-6">{{l("TaxIncluded")}}:</label>
              <div class="col-sm-6">
                {{ ticket.taxIncluded }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="control-label col-sm-6">{{l("TicketCreatedTime")}}:</label>
              <div class="col-sm-6">
                {{ ticket.ticketCreatedTime| date: dateTimeFormat :'UTC +0' }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="control-label col-sm-6">{{l("LastOrderTime")}}:</label>
              <div class="col-sm-6">
                {{ ticket.lastOrderTime | date: dateTimeFormat :'UTC +0'}}
              </div>
            </div>
            <div class="row mb-3">
              <label class="control-label col-sm-6">{{l("LastPaymentTime")}}:</label>
              <div class="col-sm-6">
                {{ ticket.lastPaymentTime| date: dateTimeFormat :'UTC +0'}}
              </div>
            </div>
          </tab>
          <tab heading="{{l('Orders')}}">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <table class="table table-hover">
                    <tr>
                      <th>{{l("MenuItemName")}}</th>
                      <th>{{l("Price")}}</th>
                      <th>{{l("Quantity")}}</th>
                    </tr>
                    <tr *ngFor="let x of ticket.orders">
                      <td>
                        {{x.menuItemName}}
                        <table class="table table-hover" *ngIf="x.transactionOrderTags.length > 0">
                          <tr>
                            <th>{{l("TagName")}}</th>
                            <th>{{l("TagValue")}}</th>
                            <th>{{l("Price")}}</th>
                            <th>{{l("PromotionName")}}</th>                          
                          </tr>

                          <tr *ngFor="let y of x.transactionOrderTags">
                            <td>
                              {{ y.tagName }}
                            </td>
                            <td>
                              {{ y.tagValue }}
                            </td>
                            <td>
                              {{ y.price }}
                            </td>
                            <td>
                              {{ x.promotionName }}
                            </td>
                          </tr>
                        </table>

                      </td>
                      <td>
                        {{x.price}}
                      </td>
                      <td>
                        {{x.quantity}}
                      </td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="{{l('Transaction')}}">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <table class="table table-hover">
                    <tr>
                      <th>{{l("TransactionName")}}</th>
                      <th>{{l("Amount")}}</th>
                    </tr>
                    <tr *ngFor="let x of ticket.transactions">
                      <td>
                        {{x.transactionTypeName}}
                      </td>
                      <td>
                        {{x.amount}}
                      </td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="{{l('Payments')}}">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <table class="table table-hover">
                    <tr>
                      <th>{{l("PayType")}}</th>
                      <th>{{l("Amount")}}</th>
                      <th>{{l("TenderedAmount")}}</th>
                      <th>{{l("Description")}}</th>
                    </tr>
                    <tr *ngFor="let x of ticket.payments">
                      <td>
                        {{x.paymentTypeName}}
                      </td>
                      <td>
                        {{x.amount}}
                      </td>
                      <td>
                        {{x.tenderedAmount}}
                      </td>
                      <td>
                        {{x.paymentTags}}
                      </td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </tab>

        </tabset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="close()">{{l("Close")}}</button>
      </div>
    </div>
