<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Orders' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="bg-font-blue-sharp">
                                                <small>{{ totalAmount | number: '1.0-2' }}</small>
                                            </h3>
                                            <small>{{ l('Total').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-pie-chart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ totalOrders | number: '1.0-2' }}</h3>
                                            <small>{{ l('Orders').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-cart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ totalItems | number: '1.0-2' }}</h3>
                                            <small>{{ l('Items').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>


                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <div class="checkbox-list">
                                        <label for="Void" class="checkbox">
                                            <input id="Void" type="checkbox" name="Void"
                                                [(ngModel)]="requestParams.voidParam">
                                            {{l("Void")}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <div class="checkbox-list">
                                        <label for="Gift" class="checkbox">
                                            <input id="Gift" type="checkbox" name="Gift"
                                                [(ngModel)]="requestParams.gift">
                                            {{l("Gift")}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <div class="checkbox-list">
                                        <label for="Comp" class="checkbox">
                                            <input id="Comp" type="checkbox" name="Comp"
                                                [(ngModel)]="requestParams.comp">
                                            {{l("Comp")}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l('Terminal')}}</label>
                                    <input type="text" class="form-control" [(ngModel)]="terminalName"
                                        name="terminalName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("User")}}</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="requestParams.lastModifiedUserName" name="lastModifiedUserName">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">

                                <query-builder #queryBuilder *ngIf="config.fields" [(ngModel)]="query" [config]="config"
                                    [classNames]="queryBuilderClassNames" name="Conditions">
                                </query-builder>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-10">
                                <span class="clickable-item text-muted mt-3" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{ l("ShowAdvancedFilters") }}</span>
                                <span class="clickable-item text-muted mt-3" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{ l("HideAdvancedFilters") }}</span>
                            </div>
                        </div>-->
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getOrders()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{ l('Actions') }}
                                        </th>
                                        <th pSortableColumn="ticketId">
                                            {{ l('Ticket') }}
                                            <p-sortIcon field="ticketId"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="locationName">
                                            {{ l('Location') }}
                                            <p-sortIcon field="locationName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="menuItemName">
                                            {{ l('MenuItem') }}
                                            <p-sortIcon field="menuItemName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="portionName">
                                            {{ l('Portion') }}
                                            <p-sortIcon field="portionName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="quantity">
                                            {{ l('Quantity') }}
                                            <p-sortIcon field="quantity"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="price">
                                            {{ l('Price') }}
                                            <p-sortIcon field="price"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="creatingUserName">
                                            {{ l('User') }}
                                            <p-sortIcon field="creatingUserName"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <button (click)="showDetails(record)" type="button"
                                                class="btn btn-primary btn-xs">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Id') }}</span>
                                            {{ record.ticketId }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TicketNo') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Location') }}</span>
                                            {{ record.menuItemName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Terminal') }}</span>
                                            {{ record.portionName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Department') }}</span>
                                            {{ record.quantity }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('User') }}</span>
                                            {{ record.price }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('TotalAmount') }}</span>
                                            {{ record.creatingUserName }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="8">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7"></td>
                                        <td class="text-right">{{ l('Total') }}: {{ getAggregationValue | number: '1.2'
                                            }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getOrders($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

<app-order-report-detail-modal #detailmodal></app-order-report-detail-modal>
