<div [@routerTransition]>
    <div class="go-charge-edit content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!charge?.id ? l('CreateDineGoCharge') : l('EditDineGoCharge') + ': ' + charge.label"> </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #form="ngForm" class="" novalidate autocomplete="off" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ l('Label') }}*</label>
                                    <input autoFocus required class="form-control" type="text" name="Label" #ChargeName="ngModel" [(ngModel)]="charge.label" />
                                    <validation-messages [formCtrl]="ChargeName"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="chargeId"> {{ l('TransactionType') }}*</label>
                                    <ng-select
                                        #TransactionTypeId="ngModel"
                                        id="chargeId"
                                        name="chargeId"
                                        required
                                        [(ngModel)]="charge.transactionTypeId"
                                        [placeholder]="l('Select Transaction Type ...')"
                                    >
                                        <ng-option *ngFor="let item of transactionTypes" [value]="+item.value">
                                            {{ item.displayText }}
                                        </ng-option>
                                    </ng-select>
                                    <validation-messages [formCtrl]="TransactionTypeId"></validation-messages>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group mt-5">
                                    <label for="IsPercent" class="checkbox">
                                        <input id="IsPercent" type="checkbox" name="IsPercent" [(ngModel)]="charge.isPercent" />
                                        {{ 'Is Percent' | localize }}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-5">
                                    <label for="TaxIncluded" class="checkbox">
                                        <input id="TaxIncluded" type="checkbox" name="TaxIncluded" [(ngModel)]="charge.taxIncluded" />
                                        {{ 'Tax Included' | localize }}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{l('Charge')}} {{l("Value")}} *</label>
                                    <input
                                        class="form-control"
                                        name="ChargeValue"
                                        #ChargeValue="ngModel"
                                        (keypress)="returnOnlyNumber($event)"
                                        [(ngModel)]="charge.chargeValue"
                                        required
                                    />
                                    <validation-messages [formCtrl]="ChargeValue"></validation-messages>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer px-0 pb-0">
                            <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                                {{ l('Cancel') }}
                            </button>

                            <button
                                type="button"
                                class="btn btn-primary blue"
                                [disabled]="form.form.invalid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                                (click)="save()"
                            >
                                <i class="fa fa-save"></i>
                                <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
