.contact {
    overflow: hidden;
}

.contact-title {
    border-bottom: solid 4px #456B5B;
    display: inline-block;
    margin-bottom: 100px !important;
    font-weight: 500;
    padding-bottom: 10px;
}

.section__block.background-custom {
    height: 300px;
}

.contact-block-container {
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.contact article .contact-block {
    min-width: 400px;
    width: 400px;
    height: 400px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    border-radius: 5px;

    @media (max-width: 768px) {
        min-width: 300px;
        width: 300px;
        height: 300px;
    }
}
