<section class="contact" style="position: relative;">
    <img class="vector-2" style="position: absolute; left: -150px; transform: rotate(82deg); bottom: -250px" src="./assets/static/svg/vector-2.svg" alt="" />
    <img class="vector-2" style="position: absolute; right: -339px; transform: rotate(52deg); bottom: -250px" src="./assets/static/svg/vector-2.svg" alt="" />
    <div class="container-fluid">
        <article class="text-center">
            <p class="contact-title mb-5">Drop us a message via WhatsApp or Email should you have any enquiries!</p>
            <div class="section__block background-custom" style="position: relative; background-image: url('./assets/static/img/about-bg.png')">
                <div class="contact-block-container" >
                    <!-- contact block -->
                    <div class="contact-block">
                        <img src="assets/static/svg/whatsapp_yellow.svg" alt="" />
                        <a href="https://wa.me/+6598588841">+65 98588841</a>
                    </div>
                    <!-- contact block ends -->
    
                    <!-- contact block -->
                    <div class="contact-block">
                        <img src="assets/static/svg/mail-icon.svg" alt="" />
                        <a href="mailto:contact@tiffin.com">contact@tiffin.com</a>
                    </div>
                    <!-- contact block ends -->
                </div>
            </div>
            <p class="contact-title" style="margin-bottom: 0; margin-top: 100px;">Thank you for using our service</p>
        </article>
    </div>
</section>
