<!-- feedback -->
<section class="feedback">
    <div class="container">
        <article>
            <div class="heading">
                <h2>How happy are you with Dabba Junction</h2>
                <span>Your feedback is very important for us</span>
            </div>
            <div class="staring">
                <img src="assets/static/svg/star_right.svg" alt="" />
                <img src="assets/static/svg/star_right.svg" alt="" />
                <img src="assets/static/svg/star_right.svg" alt="" />
                <img src="assets/static/svg/star_right.svg" alt="" />
                <img src="assets/static/svg/star_low.svg" alt="" />
            </div>
            <div class="rating-form">

                <form class="kt-form" #emailActivationForm="ngForm" method="post" novalidate (ngSubmit)="save()">

                    <div class="form_data">
                        <label>Review</label>
                        <textarea [(ngModel)]="feedbackMessage" 
                            placeholder="Please type your message"
                            name="message"
                            id="message"
                            cols="30"
                            rows="10"
                        ></textarea>
                    </div>
                    <input type="submit" value="SUBMIT" />
                </form>



                
            </div>
        </article>
    </div>
</section>
<!-- feedback end -->
