<div [ngClass]="{'subscription-bar-visible': subscriptionStatusBarVisible()}">
    <default-layout *ngIf="theme=='default'"></default-layout>
</div>
<app-popup-image></app-popup-image>

<chat-bar
    #chatBarComponent
    *ngIf="!installationMode"
></chat-bar>
