::ng-deep {
    .customer-order {
        .ui-dataview-emptymessage {
            text-align: center;
        }

        .ui-dataview-header {
            border: none !important;
            background-color: unset !important;
        }

        .ui-dataview-footer {
            border: none !important;
            background-color: unset !important;
        }

        .ui-widget-content {
            border: none !important;
        }
        
        .ui-card-content {
            margin-bottom: 30px;
        }
    
        .ui-card {
            background-color: #ffffff;
            color: #333333;
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
        }
        
        .ui-corner-all {
            border-radius: 3px;
        }

        .ui-card-body {
            padding: 1em;
        }
    
        .ui-button-text-only .ui-button-text {
            color: #ffffff;
        }

        .p-grid {
            display: flex;
            flex-wrap: wrap;
            margin-right: -0.5rem;
            margin-left: -0.5rem;
            margin-top: -0.5rem;
            font-size: 13px;

            h5 {
                font-size: 18px;
            }
        }
    }
}

tr.order-item .quantity{
    width: 150px;
}