<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'CustomerTransactions' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #balanceTable
                                (onLazyLoad)="getBalanceList($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 100px" pSortableColumn="CreationTime">
                                            <label class="ui-column-title m-0" [title]="l('Date')"> {{ 'Date' | localize }}</label>
                                            <p-sortIcon field="CreationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 145px" pSortableColumn="CustomerName">
                                            <label class="ui-column-title m-0"> {{ 'Customer' | localize }}</label>
                                            <p-sortIcon field="CustomerName"></p-sortIcon>
                                        </th>
                                        <th style="width: 170px" pSortableColumn="OfferName">
                                            <label class="ui-column-title m-0"> {{ 'Offer' | localize }}</label>
                                            <p-sortIcon field="OfferName"></p-sortIcon>
                                        </th>
                                        <th style="width: 80px" pSortableColumn="ActualCredit">
                                            <label class="ui-column-title m-0" [title]="l('ActualCredit')">
                                                {{ 'ActualCredit' | localize }}</label
                                            >
                                            <p-sortIcon field="ActualCredit"></p-sortIcon>
                                        </th>
                                        <th style="width: 80px" pSortableColumn="BalanceCredit">
                                            <label class="ui-column-title m-0" [title]="l('CreditBalance')">
                                                {{ 'CreditBalance' | localize }}</label
                                            >
                                            <p-sortIcon field="BalanceCredit"></p-sortIcon>
                                        </th>
                                        <th style="width: 105px" pSortableColumn="ExpiryDate">
                                            <label class="ui-column-title m-0" [title]="l('ExpiryDate')">
                                                {{ 'ExpiryDate' | localize }}</label
                                            >
                                            <p-sortIcon field="ExpiryDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="Amount" class="text-right">
                                            <label class="ui-column-title m-0"> {{ 'Amount' | localize }}</label>
                                            <p-sortIcon field="Amount"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="Paymode">
                                            <label class="ui-column-title m-0"> {{ 'Paymode' | localize }}</label>
                                            <p-sortIcon field="Paymode"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px">
                                            <label class="ui-column-title m-0"> {{ 'Actions' | localize }}</label>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 100px">
                                            <span class="ui-column-title"> {{ 'Date' | localize }}</span>
                                            {{ record.creationTime | momentFormat: 'YYYY-MM-DD' }}
                                        </td>
                                        <td style="width: 145px">
                                            <span class="ui-column-title"> {{ 'CustomerName' | localize }}</span>
                                            {{ record.customerName }}
                                        </td>
                                        <td style="width: 170px">
                                            <span class="ui-column-title"> {{ 'Offer' | localize }}</span>
                                            {{ record.offerName }}
                                        </td>
                                        <td style="width: 80px" class="text-right">
                                            <span class="ui-column-title"> {{ 'ActualCredit' | localize }}</span>
                                            {{ record.actualCredit }}
                                        </td>
                                        <td style="width: 80px" class="text-right">
                                            <span class="ui-column-title"> {{ 'CreditBalance' | localize }}</span>
                                            {{ record.balanceCredit }}
                                        </td>
                                        <td style="width: 105px">
                                            <span class="ui-column-title"> {{ 'ExpiryDate' | localize }}</span>
                                            {{ record.expiryDate | momentFormat: 'YYYY-MM-DD' }}
                                        </td>
                                        <td style="width: 100px" class="text-right">
                                            <span class="ui-column-title"> {{ 'Amount' | localize }}</span>
                                            {{ appSession.application.currencySign }} {{ record.amount | number: '1.2-2' }}
                                        </td>
                                        <td style="width: 100px">
                                            <span class="ui-column-title"> {{ 'Paymode' | localize }}</span>
                                            {{ record.paymode }}
                                        </td>
                                        <td style="width: 130px">
                                            <span class="ui-column-title"> {{ 'Actions' | localize }}</span>
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                    <span class="mr-5">{{ 'Actions' | localize }}</span>
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            [ngClass]="{'disabled': checkEditExpiryDate(record.expiryDate)}"
                                                            (click)="editCustomerOffer(record)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="showHistory(record)"
                                                            >{{ l('View History') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #balancePaginator
                                    (onPageChange)="getBalanceList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<select-popup
    #selectCustomer
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getCustomerForComboBox()"
    (changeValue)="changeCustomer($event)"
    selectionMode="single"
    [selectedValue]="selectedCustomer"
    [title]="l('Customers')"
></select-popup>

<editBalanceModal #editBalanceModal (modalSave)="getBalanceList()"></editBalanceModal>
<change-history-modal #historyModal></change-history-modal>
<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group m-form__group">
                <label>{{ 'Date' | localize }}</label>
                <input
                    class="form-control"
                    id="StartEndRange"
                    name="StartEndRange"
                    #drp="bsDaterangepicker"
                    readonly="readonly"
                    bsDaterangepicker
                    dateRangePickerMomentModifier
                    [(ngModel)]="dateRange"
                    [placement]="'left'"
                    [bsConfig]="{
                        rangeInputFormat: 'YYYY-MM-DD',
                        dateInputFormat: 'YYYY-MM-DD',
                        showWeekNumbers: false,
                        containerClass: 'custom-filter-datepicker theme-default'
                    }"
                    placeholder="Date Range"
                />
            </div>
            <div class="form-group m-form__group align-items-center">
                <label>{{ 'Customer' | localize }}</label>

                <input
                    type="text"
                    id="Tiffin_Customer"
                    class="form-control"
                    readonly
                    required
                    name="Tiffin_Customer"
                    [(ngModel)]="customerName"
                    (click)="selectCustomer.show()"
                />
            </div>
            <div class="form-group m-form__group align-items-center">
                <label>{{ 'Payment' | localize }}</label>
                <input [(ngModel)]="paymentFilter" name="paymentFilter" class="form-control" [placeholder]="l('Payment')" type="text" />
            </div>
            <div class="form-group m-form__group align-items-center">
                <label>{{ 'ExpiryWithinDays' | localize }}</label>
                <input
                    [(ngModel)]="daysExpiryFilter"
                    name="daysExpiryFilter"
                    class="form-control"
                    [placeholder]="l('ExpiryWithinDays')"
                    type="text"
                    min="0"
                    (keypress)="returnOnlyNumber($event)"
                />
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
