#friendListFriends .chat-user .label-secondary,
#friendListBlockeds .chat-user .label-secondary,
#friendListFriends .chat-user .label-success,
#friendListBlockeds .chat-user .label-success {
    margin-left: -35px;
    z-index: 1;
}

#friendListFriends .chat-user .label-secondary,
#friendListBlockeds .chat-user .label-secondary {
    background-color: #9c9c9c;
}

#kt_quick_sidebar {
    overflow: auto;
    height: 100vh;
}

#kt_quick_sidebar .quick-panel-actions {
    text-align: right;
}

.ui-fileupload-choose {
    border: none !important;
    height: 40px !important;
    width: 40px !important;
}

span.flaticon2-website.icon-lg {
    margin-top: -18px !important;
}

.chat-image-preview {
    width: 235px;
    margin-top: 5px;
}

.chat-file-preview {
    margin-top: 15px;
    text-align: left;
    padding: 5px;
    background-color: #625dbb;
    display: block;
    color: #d9d9d9;

    i.la-file {
        margin-right: 2px;
    }

    i.la-download {
        margin-top: 2px;
    }

    &:hover {
        color: #fff;

        i {
            text-decoration: none;
        }
    }
}

.chat-link-message {
    display: block;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 15px;
    text-align: left;
    padding: 5px;
    background-color: #3598dc;
    color: #f7f7f7;
}

.ui-fileupload-choose {
    width: 100% !important;
}

.card {
    box-shadow: none !important;
    border: none !important;
}

.ui-fileupload-buttonbar {
    margin: 0px !important;
    padding: 0px !important;

    .ui-button-icon-left {
        top: 38% !important;
    }
}

.ui-fileupload-choose {
    margin: 0px !important;
}

#btnLinkShare {
    margin-top: -1em !important;
    .ui-button-icon-left {
        top: 56% !important;
    }
}

.ui-fileupload-choose.ui-button,
.ui-fileupload-choose.ui-button .ui-widget,
.ui-fileupload-choose.ui-button .ui-state-default {
    background-color: #fff !important;
    color: #b2b1c5 !important;
}

body .ui-fileupload .ui-fileupload-buttonbar.ui-widget-header {
    border: none !important;
    background-color: #fff !important;
}

#kt_quick_sidebar {
    overflow: auto;
    height: 100vh;
}

.offcanvas.offcanvas-right {
    right: -395px;
    left: auto;
}

.offcanvas.offcanvas-right.offcanvas-on {
    -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    right: 0;
    left: auto;
}

.offcanvas {
    background: #fff;
    -webkit-box-shadow: 0 1px 9px -3px rgb(0 0 0 / 25%);
    box-shadow: 0 1px 9px -3px rgb(0 0 0 / 25%);
}

.offcanvas {
    z-index: 1001;
    position: fixed;
    top: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
    left: -395px;
    width: 375px;
}

.offcanvas,
.offcanvas-mobile {
    flex-shrink: 0 !important;
}

.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
}

.symbol.symbol-circle {
    border-radius: 50%;
}

.btn.btn-icon.btn-xs {
    height: 24px;
    width: 24px;
    padding: 0;
    color: gray;
}

.font-size-h5 {
    font-size: 1.25rem !important;
}
.text-dark-75 {
    color: #464e5f !important;
}

.bg-light-primary {
    background-color: #e1f0ff !important;
}

.scroll.scroll-pull {
    padding-right: 12px;
    margin-right: -12px;
}

.scroll {
    position: relative;
    overflow: hidden;
}

.font-size-sm {
    font-size: 0.925rem;
}
.text-muted {
    color: #b5b5c3 !important;
}
.font-weight-bold {
    font-weight: 600 !important;
}

.symbol.symbol-50 > img {
    width: 100%;
    max-width: 50px;
    height: 50px;
}
.symbol.symbol-50 .symbol-label {
    width: 50px;
    height: 50px;
}
.symbol.symbol-50 .symbol-badge {
    width: 12px;
    height: 12px;
    top: -6px;
    right: -6px;
}
.symbol.symbol-50 .symbol-badge.symbol-badge-bottom {
    top: auto;
    bottom: -6px;
}
.symbol.symbol-50.symbol-circle .symbol-badge {
    top: -1.75px;
    right: -1.75px;
}
.symbol.symbol-50.symbol-circle .symbol-badge.symbol-badge-bottom {
    top: auto;
    bottom: -1.75px;
}
.symbol.symbol-50.symbol-fixed .symbol-label {
    width: 50px;
    height: 50px;
}
.symbol.symbol-50.symbol-fixed > img {
    width: 50px;
    height: 50px;
    max-width: auto;
}
.symbol.symbol-50.symbol-2by3 .symbol-label {
    height: 50px;
    width: 75px;
}
.symbol.symbol-50.symbol-2by3 > img {
    height: 50px;
    width: 75px;
    max-width: auto;
}
.symbol.symbol-circle > img {
    border-radius: 50%;
}

.symbol.symbol-40 > img {
    width: 100%;
    max-width: 40px;
    height: 40px;
}
.symbol.symbol-40 .symbol-label {
    width: 40px;
    height: 40px;
}
.symbol.symbol-40 .symbol-badge {
    width: 12px;
    height: 12px;
    top: -6px;
    right: -6px;
}
.symbol.symbol-40 .symbol-badge.symbol-badge-bottom {
    top: auto;
    bottom: -6px;
}
.symbol.symbol-40.symbol-circle .symbol-badge {
    top: -3.8px;
    right: -3.8px;
}
.symbol.symbol-40.symbol-circle .symbol-badge.symbol-badge-bottom {
    top: auto;
    bottom: -3.8px;
}
.symbol.symbol-40.symbol-fixed .symbol-label {
    width: 40px;
    height: 40px;
}
.symbol.symbol-40.symbol-fixed > img {
    width: 40px;
    height: 40px;
    max-width: auto;
}
.symbol.symbol-40.symbol-2by3 .symbol-label {
    height: 40px;
    width: 60px;
}
.symbol.symbol-40.symbol-2by3 > img {
    height: 40px;
    width: 60px;
    max-width: auto;
}

.card-header, .card-footer {
    background-color: #fff;
}

textarea:focus {
    box-shadow: unset !important;
}

.bg-light-success {
    background-color: #c9f7f5!important;
}

.ui-fileupload-content {
    padding: unset;
}
.ui-fileupload-choose {
    background: #ffffff;
}

.font-size-lg {
    font-size: 14px;
}