 <div>
        <!--loop through each element in model array-->
        <div class="">
            <div class="repeatsection" *ngFor="let element of model[options['key']]; let index = index">
                <formly-form [fields]="to.fieldGroup" [model]="model" [form]="form"> </formly-form>
                <div style="margin-bottom: 20px">
                    <button type="button" class="btn btn-sm btn-danger" (click)="model[options['key']].splice(index, 1)">Remove</button>
                </div>
                <hr />
            </div>
            <p class="AddNewButton">
                <button type="button" class="btn btn-primary" (click)="addNew()">{{ to.btnText }}</button>
            </p>
        </div>
    </div>