<section class="summary pad-200 yellow_bg">
    <div class="container">
        <div class="col-sm-12 top-kt">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="mb-0">{{ 'RecentOrders' | localize }}</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-outline-success float-right" style="margin-bottom: 10px" (click)="exportExcel()">
                                <i class="fa fa-file-excel-o"></i>
                                {{ l('ExportToExcel') }}
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div class="align-items-center">
                                <div class="row align-items-center">
                                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                        <p-table
                                            sortField="OrderDate"
                                            [sortOrder]="-1"
                                            #dataTable
                                            (onLazyLoad)="getAll($event)"
                                            [value]="primengTableHelper.records"
                                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                            [paginator]="false"
                                            [lazy]="true"
                                            [scrollable]="true"
                                            ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="OrderDate">
                                                        {{ l('Date') }}
                                                        <p-sortIcon field="OrderDate"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="MealTime">
                                                        {{ l('MealTime') }}
                                                        <p-sortIcon field="MealTime"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="ChoiceOfSet">
                                                        {{ l('ChoiceOfSet') }}
                                                        <p-sortIcon field="ChoiceOfSet"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="Quantity">
                                                        {{ l('Quantity') }}
                                                        <p-sortIcon field="Quantity"></p-sortIcon>
                                                    </th>
                                                    <th>
                                                        {{ l('AddOn') }}
                                                    </th>
                                                    <th pSortableColumn="DeliveryType">
                                                        {{ l('DeliveryType') }}
                                                        <p-sortIcon field="DeliveryType"></p-sortIcon>
                                                    </th>
                                                    <th>
                                                        {{ l('Address') }}
                                                    </th>
                                                    <th pSortableColumn="TimeSlot">
                                                        {{ l('TimeSlot') }}
                                                        <p-sortIcon field="Time Slot"></p-sortIcon>
                                                    </th>
                                                    <th>
                                                        {{ l('Actions') }}
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title"> {{ 'Date' | localize }}</span>
                                                        {{ record.orderDate?.format('DD/MM/YYYY') }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title"> {{ 'MealTime' | localize }}</span>
                                                        {{ record.mealTime }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title"> {{ 'ChoiceOfSet' | localize }}</span>
                                                        {{ record.choiceOfSet }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title"> {{ 'Quantity' | localize }}</span>
                                                        {{ record.quantity }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title"> {{ 'Addon' | localize }}</span>
                                                        <ng-container *ngFor="let item of record.addOn; let i = index">
                                                            {{ item.label }}(x{{ item.quantity }}) {{ i < record.addOn?.length - 1 ? ', ' : '' }}
                                                        </ng-container>
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title"> {{ 'DeliveryType' | localize }}</span>
                                                        {{ record.deliveryType == 0 ? 'Delivery' : 'Self Pickup' }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title"> {{ 'DeliveryAddress' | localize }}</span>
                                                        {{ record.deliveryType == 0 ? record.deliveryAddress : record.locationName }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title"> {{ 'TimeSlot' | localize }}</span>
                                                        {{ record.timeSlotFormTo?.from }} - {{ record.timeSlotFormTo?.to }}
                                                    </td>
                                                    <td>
                                                        <button
                                                            type="button"
                                                            class="btn-default btn-icon btn btn-sm"
                                                            [disabled]="(!isTimeEdit && allowDate > record.orderDate) || currentDate > record.orderDate"
                                                            (click)="editOrder(record)"
                                                        >
                                                            <i class="fa fa-pencil-alt"></i>
                                                        </button>
                                                        <button
                                                            type="button"
                                                            class="btn-default btn-icon btn btn-sm"
                                                            [disabled]="(!isTimeEdit && allowDate > record.orderDate) || currentDate > record.orderDate"
                                                            (click)="deleteOrder(record)"
                                                        >
                                                            <i class="far fa-trash-alt"></i>
                                                        </button>
                                                        <button type="button" class="btn-default btn-icon btn btn-sm" (click)="printOrder(record)">
                                                            <i class="fa fa-print"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ l('NoData') }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator
                                                (onPageChange)="getAll($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                            >
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<edit-order-modal #editOrderModal (modalSave)="getAll()"></edit-order-modal>
