<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'AddOrEditSchedules' | localize" [description]="'TenantsHeaderInfo' | localize">
            <div role="actions">
                <button (click)="calender()" class="btn btn-primary blue">
                    {{ l('OpenCalendar') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off" #addScheduleForm="ngForm">
                        <div class="align-items-center">
                            <div class="row">
                                <div class="col-xl-6 mb-4">
                                    <div class="row">
                                        <div class="col-xl-3 pt-2">
                                            {{ l('ProductSet') }}
                                        </div>
                                        <div class="col-xl-9">
                                            <button (click)="showProductSetLookUpModal()" class="btn btn-primary blue">
                                                <span *ngIf="!productSetId">
                                                    {{ l('ChooseProductSet') }}
                                                </span>
                                                <span *ngIf="productSetId">
                                                    {{ productSetName }}
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-xl-3 pt-2">
                                            {{ l('ChooseDates') }}
                                        </div>
                                        <div class="col-xl-9">
                                            <div class="form-group m-form__group">
                                                <div class="input-group">
                                                    <input
                                                        type="text"
                                                        placeholder="Choose dates"
                                                        class="form-control"
                                                        onlyDateRangePickerMomentModifier
                                                        bsDaterangepicker
                                                        [(ngModel)]="date"
                                                        name="date"
                                                        [bsConfig]="{
                                                            isAnimated: true,
                                                            rangeInputFormat: 'YYYY-MM-DD',
                                                            dateInputFormat: 'YYYY-MM-DD',
                                                            showWeekNumbers: false
                                                        }"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 mb-4">
                                    <div class="row">
                                        <div class="col-xl-3 pt-2">
                                            {{ l('Products') }}
                                        </div>
                                        <div class="col-xl-9">
                                            <button (click)="showProductLookUpModal()" class="btn btn-primary blue">
                                                <span *ngIf="lstProduct.length === 0">
                                                    {{ l('ChooseProducts') }}
                                                </span>
                                                <span *ngIf="lstProduct.length > 0 && lstProduct.length < 4">
                                                    {{ selectedProductNames }}
                                                </span>
                                                <span *ngIf="lstProduct.length >= 4"> {{ lstProduct.length }} {{ l('Items') }} </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-xl-3 pt-2">
                                            <label for="MealTime">{{ l('MealTime') }} *</label>
                                        </div>
                                        <div class="col-xl-9">
                                            <div class="form-group">
                                                <ng-select
                                                    id="MealTime"
                                                    name="MealTime"
                                                    #MealTime="ngModel"
                                                    [multiple]="true"
                                                    [items]="mealOptions"
                                                    bindLabel="displayText"
                                                    bindValue="value"
                                                    [(ngModel)]="selectedMealTime"
                                                    required
                                                >
                                                </ng-select>
                                                <validation-messages [formCtrl]="MealTime"> </validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12 mb-4 text-right">
                                    <div class="row">
                                        <div class="col-xl-3"></div>
                                        <div class="col-xl-9">
                                            <button (click)="refresh()" class="btn btn-primary blue"><i class="fa fa-sync"></i> {{ l('Refresh') }}</button>
                                            <button
                                                (click)="addScheduleToList()"
                                                class="btn btn-primary blue"
                                                [disabled]="!addScheduleForm.form.valid || !selectedMealTime.length"
                                            >
                                                <i class="fa fa-plus"></i>
                                                {{ l('Add') }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="align-items-center">
                        <form #productSetForm="ngForm" novalidate (ngSubmit)="saveAll()" autocomplete="off">
                            <div class="row">
                                <span class="mb-4">{{ l('NewSchedules') }}</span>
                                <p-table [value]="listScheduleNew">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{ 'Operations' | localize }}</th>
                                            <th>{{ 'Date' | localize }}</th>
                                            <th>{{ 'MealTime' | localize }}</th>
                                            <th>{{ 'ProductSet' | localize }}</th>
                                            <th>{{ 'Products' | localize }}</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0);" (click)="removeSchedule(product)">{{ 'Delete' | localize }}</a>
                                            </td>
                                            <td>{{ product.date | momentFormat: 'YYYY-MM-DD' }}</td>
                                            <td>{{ product.mealTimeName }}</td>
                                            <td>{{ product.productSetName }}</td>
                                            <td>
                                                <span *ngFor="let item of product.products">
                                                    {{ item.productName + ';' }}
                                                </span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                            <div class="row">
                                <span class="mb-4 mt-4">{{ l('ListSchedules') }}</span>
                                <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                    <form #productSetForm="ngForm" novalidate autocomplete="off">
                                        <p-table
                                            #dataTable
                                            (onLazyLoad)="getSchedules($event)"
                                            [value]="primengTableHelper.records"
                                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                            [paginator]="false"
                                            [lazy]="true"
                                            [scrollable]="true"
                                            ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>{{ 'Operations' | localize }}</th>
                                                    <th>{{ 'Date' | localize }}</th>
                                                    <th>{{ 'MealTime' | localize }}</th>
                                                    <th>{{ 'ProductSet' | localize }}</th>
                                                    <th>{{ 'Products' | localize }}</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <a
                                                            href="javascript:void(0);"
                                                            *ngIf="isGranted('Pages.Tenant.Tiffin.Manage.Schedules.Delete')"
                                                            (click)="deleteProductSet(record)"
                                                            >{{ 'Delete' | localize }}</a
                                                        >
                                                    </td>
                                                    <td>{{ record.date | momentFormat: 'YYYY-MM-DD' }}</td>
                                                    <td>{{ record.mealTimeName }}</td>
                                                    <td>{{ record.productSetName }}</td>
                                                    <td>
                                                        <span *ngFor="let item of record.products">
                                                            {{ item.productName }}
                                                        </span>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ l('NoData') }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator
                                                (onPageChange)="getSchedules($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                            >
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12">
                                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ l('Cancel') }}</button>
                                    <button
                                        type="button"
                                        class="btn btn-primary blue"
                                        (click)="saveAll()"
                                        [disabled]="!productSetForm.form.valid"
                                        [buttonBusy]="saving"
                                        [busyText]="l('SavingWithThreeDot')"
                                    >
                                        <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <commonLookupModal #productSetLookupModal (itemSelected)="productSetSelected($event)"></commonLookupModal>
    <app-multiselect-item-modal #multiSelectItemModal [productSetId]="productSetId" (menuItemSelected)="productSelected($event)"> </app-multiselect-item-modal>
</div>
