<!-- home banner starts here -->
<section class="home-banner">
    <!-- home banner slider -->
    <div class="home-banner-slider">
        <carousel>
            <slide *ngFor="let item of bannerList">
                <div class="home-slider-item" [style]="'background-image: url(' + item + ')'"></div>
            </slide>
        </carousel>
    </div>
    <!-- home banner slider ends -->
</section>
<!-- home banner ends here -->

<!-- what makes us diffrent -->
<section class="What_makes_us_different">
    <div class="container">
        <article>
            <h2>What makes us different?</h2>
            <div class="row">
                <!-- Flexible option  -->
                <div class="col-sm col-lg-4 col-sm-6 card_parent">
                    <!-- card -->
                    <a [routerLink]="['/app/portal/member/order']" class="card">
                        <img src="assets/static/svg/flexible-option.svg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">PRE-ORDER</h5>
                            <h5 class="card-title">SUBSCRIPTION BASED MEAL PLANS</h5>
                            <p class="card-text">Healthy & Nutritious portions</p>
                        </div>
                    </a>
                    <!-- card ends -->
                </div>
                <!-- Flexible option ends -->

                <!-- Multiple choice -->
                <div class="col-sm col-lg-4 col-sm-6 card_parent">
                    <!-- card -->
                    <a [routerLink]="['view-offers']" class="card">
                        <img src="assets/static/svg/multiple-choice.svg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">MULTIPLE CHOICES</h5>
                            <p class="card-text">Rotating weekly menu specially curated to satisfy diverse palates</p>
                        </div>
                    </a>
                    <!-- card ends -->
                </div>
                <!-- Multiple choice ends -->

                <!-- ECONOMICAL PLANS -->
                <div class="col-sm col-lg-4 col-sm-6 card_parent">
                    <!-- card -->
                    <a [routerLink]="['view-offers']" class="card">
                        <img src="assets/static/svg/wallet.svg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">HASSLE FREE</h5>
                            <h5 class="card-title">CASHLESS ORDERING</h5>
                            <!-- <p class="card-text">
                                Single / Daily / Flexi Meal Plans
                            </p> -->
                        </div>
                    </a>
                    <!-- card ends -->
                </div>
                <!-- ECONOMICAL PLANS ends -->
            </div>
        </article>
    </div>
</section>
<!-- what makes us diffrent -->

<!-- delivery time -->
<section class="delivery-time">
    <div class="container">
        <article>
            <!-- <h2>Cafeteria opening hours</h2> -->

            <div class="row justify-content-center">
                <!-- order block -->
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <div class="block-icon">
                            <img src="assets/static/svg/lunch.svg" alt="" />
                        </div>
                        <div class="block-content">
                            <div class="block-content-heading">
                                <h5>Cafeteria opening hours</h5>
                            </div>
                            <div class="block-content-para">
                                <span class="block-content-para__span--small">Monday - Friday</span>
                                <span class="block-content-para__span--big">9:00 am - 5:30 pm</span>
                            </div>
                            <div class="block-content-description">
                                <span class="block-content-description__span">Order must be placed 3 days in advance</span>
                                <span class="block-content-description__span">Orders on same day will not be accepted</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- order block ends -->

                <!-- order block -->
                <!-- <div class="col-md-6 col-sm-12">
                    <div class="block dark">
                        <div class="block-icon">
                            <img
                                class="moon"
                                src="assets/static/svg/moon.svg"
                                alt=""
                            />
                        </div>
                        <div class="block-content">
                            <div class="block-content-heading">
                                <h5>Dinner ORDER</h5>
                            </div>
                            <div class="block-content-para">
                                <span class="block-content-para__span--small"
                                    >Delivery between</span
                                >
                                <span class="block-content-para__span--big"
                                    >5 pm to 8 pm</span
                                >
                            </div>
                            <div class="block-content-description">
                                <span class="block-content-description__span"
                                    >Order to be placed 1 day in advance, before
                                    5pm.</span
                                >
                                <span class="block-content-description__span"
                                    >Orders for the same day will not be
                                    accepted</span
                                >
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- order block ends -->
            </div>

            <div class="order-btn">
                <a class="btn" [routerLink]="['/app/portal/member/order']">PLACE YOUR ORDER</a>
            </div>
        </article>
    </div>
</section>
<!-- delivery time ends -->

<!-- home faq -->
<section class="home-faq">
    <div class="container">
        <article>
            <h2>Common questions</h2>

            <!-- faq Accordion -->
            <div class="faq-accordion-container">
                <app-collapse-questions [questions]="questions"></app-collapse-questions>
            </div>
            <!-- faq Accordion ends -->

            <div class="link-block">
                <span>Have other questions?</span>
                <a [routerLink]="['faq']">VISIT FAQ</a>
            </div>
        </article>
    </div>
</section>
<!-- home faq end -->

<!-- home contact -->
<section class="home-contact">
    <div class="container">
        <article>
            <h2>Contact us</h2>
            <p>Drop us a message Email should you have any enquiries!</p>

            <div class="contact-block-container justify-content-center">
                <!-- contact block -->
                <div class="contact-block">
                    <img src="assets/static/svg/whatsapp_yellow.svg" alt="" />
                    <a href="https://wa.me/+65{{phoneNumber}}">+65 {{phoneNumber}}</a>
                </div>
                <!-- contact block ends -->

                <!-- contact block -->
                <div class="contact-block">
                    <img src="assets/static/svg/mail-icon.svg" alt="" />
                    <a href="mailto:{{email}}">{{email}}</a>
                </div>
                <!-- contact block ends -->
            </div>
        </article>
    </div>
</section>
<!-- home contact ends -->
<!-- home faq -->
<section class="home-faq">
    <div class="container">
        <article>
            <h2>About us</h2>
            <div class="white_bg p-3">
                <p>
                    Stack Cafeteria is a subsidiary of Food Stack Concepts – a multi-brand F&B conglomerate providing multiple services including but not
                    limited to, restaurants, catering services, white label services, tiffin services, institutional supplies, QSR concepts and multi-cuisine
                    cloud kitchen concepts.
                </p>
                <p>
                    At Stack Cafeteria, we are committed to delivering delightful food experiences in everything that we do. And in keeping with that mission,
                    we are launching a brand-new pre-order system that is entirely cashless allowing students to manage payments easily whilst giving parents
                    complete control of their children’s nutrition and school spending. Not only does this help reduce food wastage but it is also a great way
                    to manage allergens and dietary requirements.
                </p>
                <p>
                    Parents and students view menu choices online and order and pay in advance anytime, from any device whether from home or on the go. Our
                    subscription-based meal plans are flexible and convenient giving you the option to pre- order for the entire month or week in advance. And
                    it’s as easy as 123. Choose your meals from the online menu, submit your orders and pick them up in the cafeteria. You can always go back to
                    change or cancel your orders before the order cut-off time.
                </p>
                <p>
                    The all-new revamped menu is tailored to suit your school and offers a multitude of options featuring a variety of cuisines that includes
                    healthy and nutritious meal options for vegetarians and non-vegetarians. All our products are made fresh every morning and packaged in our
                    ISO 22000, HACCP Halal certified central kitchen.
                </p>
            </div>
        </article>
    </div>
</section>
<!-- home faq end -->
