<div appBsModal #createOrEditModal="bs-modal" class="modal fade" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #transactionTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="transactionType.id">{{l("EditTransactionType")}}</span>
            <span *ngIf="!transactionType.id">{{l("CreateNewTransactionType")}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="form-group col-md-12">
              <label for="TransactionType_Name">{{l("Name")}} *</label>
              <input type="text" id="TransactionType_Name" class="form-control" [(ngModel)]="transactionType.name"
                name="Name" minlength="0" maxlength="50" required #nameInput="ngModel" autoFocus />
              <validation-messages [formCtrl]="nameInput"></validation-messages>
            </div>

            <div class="form-group col-md-12">
              <label for="TransactionType_AccountCode">{{l("AccountCode")}}</label>
              <input type="text" id="TransactionType_AccountCode" class="form-control"
                [(ngModel)]="transactionType.accountCode" name="AccountCode" />
            </div>

            <div class="col-md-6 form-group">
              <div class="checkbox-list">
                <label for="TransactionType_Tax" class="checkbox">
                  <input id="TransactionType_Tax" type="checkbox" name="Tax" [(ngModel)]="transactionType.tax">
                  {{l("Tax")}}
                  <span></span>
                </label>
              </div>
            </div>

            <div class="col-md-6 form-group">
              <div class="checkbox-list">
                <label for="TransactionType_Discount" class="checkbox">
                  <input id="TransactionType_Discount" type="checkbox" name="Discount"
                    [(ngModel)]="transactionType.discount">
                  {{l("Discount")}}
                  <span></span>
                </label>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
          <button type="submit" class="btn btn-primary blue" [disabled]="!transactionTypeForm.form.valid"
            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
            <span>{{l("Save")}}</span></button>
        </div>
      </form>
    </div>
  </div>

</div>