<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'TransactionTypes' | localize" [description]="'TransactionTypesHeaderInfo' | localize">
      <div role="actions">
        <label for="isDeleted" class="checkbox mr-2">
          <input [(ngModel)]="isDeleted" id="isDeleted" name="isDeleted" type="checkbox"
            (change)="getTransactionTypes()">
          {{l("Deleted")}}
          <span></span>
        </label>
        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
          {{l("ExportToExcel")}}</button>
        <button *ngIf="isGranted('Pages.Tenant.Connect.Master.TransactionTypes.Create')"
          (click)="createTransactionType()" class="btn btn-primary blue"><i class="fa fa-plus"></i>
          {{l("CreateNewTransactionType")}}</button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form class="form" autocomplete="off">
            <div>
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                      <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                        [placeholder]="l('SearchWithThreeDot')" type="text">
                      <span class="input-group-btn">
                        <button (click)="getTransactionTypes()" class="btn btn-primary" type="submit"><i
                            class="flaticon-search-1"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>

          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getTransactionTypes($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 130px"
                      [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.TransactionTypes.Edit', 'Pages.Tenant.Connect.Master.TransactionTypes.Delete')">
                      {{l('Actions')}}</th>
                    <th style="width: 100px" pSortableColumn="id">
                      {{l('Id')}}
                      <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="name">
                      {{l('Name')}}
                      <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th class="text-center" style="width: 150px" pSortableColumn="tax">
                      {{l('Tax')}}
                      <p-sortIcon field="tax"></p-sortIcon>
                    </th>
                    <th class="text-center" style="width: 150px" pSortableColumn="discount">
                      {{l('Discount')}}
                      <p-sortIcon field="discount"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="creationTime">
                      {{l('CreationTime')}}
                      <p-sortIcon field="creationTime"></p-sortIcon>
                    </th>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 130px"
                      [hidden]="!isGrantedAny('Pages.Tenant.Connect.Master.TransactionTypes.Edit', 'Pages.Tenant.Connect.Master.TransactionTypes.Delete')">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>

                          <li>
                            <a href="javascript:;"
                              *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.TransactionTypes.Edit')"
                              class="dropdown-item"
                              (click)="createOrEditTransactionTypeModal.show(record.id)">{{l('Edit')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;"
                              *ngIf="!isDeleted && permission.isGranted('Pages.Tenant.Connect.Master.TransactionTypes.Delete')"
                              class="dropdown-item" (click)="deleteTransactionType(record)">{{l('Delete')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" class="dropdown-item"
                              *ngIf="isDeleted && isGranted('Pages.Tenant.Connect.Master.TransactionTypes.Edit')"
                              (click)="activateItem(record)">{{ l('Revert') }}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td style="width:100px">
                      <span class="ui-column-title"> {{l('Id')}}</span>
                      {{record.id}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('Name')}}</span>
                      {{record.name}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('Tax')}}</span>
                      <div *ngIf="record.tax" class="text-center"><i class="fa fa-check-circle text-success"
                          title="True"></i></div>
                      <div *ngIf="!record.tax" class="text-center"><i class="fa fa-times-circle" title="False"></i>
                      </div>
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('Discount')}}</span>
                      <div *ngIf="record.discount" class="text-center"><i class="fa fa-check-circle text-success"
                          title="True"></i></div>
                      <div *ngIf="!record.discount" class="text-center"><i class="fa fa-times-circle" title="False"></i>
                      </div>
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('CreationTime')}}</span>
                      {{record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss }}
                    </td>

                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{l('NoData')}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getTransactionTypes($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>

    <createOrEditTransactionTypeModal #createOrEditTransactionTypeModal (modalSave)="getTransactionTypes()">
    </createOrEditTransactionTypeModal>

    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>
