.template-input {
    border-radius: 0.3rem;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    width: calc(100% - 75px);
    margin-left: 10px;
    outline-color: #69b3ff;
}

.template-textarea {
    border-radius: 0.3rem;
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    width: calc(100% - 75px);
    margin-left: 10px;
    outline-color: #69b3ff;
}

.template-label {
    width: 65px;
}

.template-variable {
    border-radius: 0.3rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    width: calc(100% - 75px);
    margin-left: 10px;

    li {
        list-style-type: none;
    }
}
