<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!templateEngine.id ? l('CreateNewTemplateEngine') : l('EditTemplateEngine')">
      <div role="actions">
        <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
        <button type="submit" class="btn btn-primary blue" [disabled]="!templateEngineForm.form.valid"
          [buttonBusy]="saving" (click)="save()" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
          <span>{{l("Confirm")}}</span></button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form #templateEngineForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">

            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="template-label" for="TemplateEngine_Type">{{l("Module")}}:</label>
                    <input type="text" name="TemplateEngine_Type" class="template-input" #TemplateEngine_Type="ngModel"
                      readonly [(ngModel)]="templateEngine.module" />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label class="template-label" for="TemplateEngine_Name">* {{l("Name")}}:</label>
                    <input type="text" id="TemplateEngine_Name" class="template-input" [(ngModel)]="templateEngine.name"
                      name="Name" readonly #TemplateEngine_Name="ngModel" />
                    <validation-messages [formCtrl]="TemplateEngine_Name"></validation-messages>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label class="template-label" for="TemplateEngine_Subject">* {{l("Subject")}}:</label>
                    <input type="text" id="TemplateEngine_Subject" class="template-input"
                      [(ngModel)]="templateEngine.subject" name="Subject" required #TemplateEngine_Subject="ngModel" />
                    <validation-messages [formCtrl]="TemplateEngine_Subject"></validation-messages>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="template-label" for="shortTemplate">{{l("Short Template")}}:</label>

                    <textarea type="text" id="shortTemplate" class="template-textarea"
                      [(ngModel)]="templateEngine.shortTemplate" name="shortTemplate" rows="3">
                    </textarea>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group d-flex">
                    <label class="template-label" for="TemplateEngine_Variables">{{l("Variables")}}:</label>
                    <div class="template-variable ui-g-nopad drag-column">
                      <ul>
                        <li *ngFor="let item of templateEngine.templateVariables" class="ui-helper-clearfix"
                          [pDraggable]="returnDragValue(item)" (onDragEnd)="onDropped($event)">
                          <span>{{item}}</span>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
                <div class=" col-md-8">
                  <div class="form-group">
                    <editor-tiny-mce [(ngModel)]="templateEngine.template" name="Template" id="Template_New"
                      [init]="tinymceInit"></editor-tiny-mce>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>