﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TemplateEngines' | localize" [description]="'TemplateEnginesHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i>
                    {{l("ExportToExcel")}}</button>
                <!-- <button *ngIf="isGranted('Pages.Administration.Tenant.TemplateEngines.Create')"
                (click)="createOrUpdateTemplateEngine()" class="btn btn-primary blue"><i
                    class="fa fa-plus"></i>
                {{l("CreateNewTemplateEngine")}}</button> -->
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getTemplateEngines()" class="btn btn-primary"
                                                    type="submit"><i class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getTemplateEngines($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Administration.Tenant.TemplateEngines.Edit', 'Pages.Administration.Tenant.TemplateEngines.Delete')">
                                            {{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="templateEngine.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="subject">
                                            {{l('Subject')}}
                                            <p-sortIcon field="templateEngine.subject"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="module">
                                            {{l('Module')}}
                                            <p-sortIcon field="templateEngine.module"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px" pSortableColumn="variables">
                                            {{l('Variables')}}
                                            <p-sortIcon field="templateEngine.variables"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Administration.Tenant.TemplateEngines.Edit', 'Pages.Administration.Tenant.TemplateEngines.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Administration.Tenant.TemplateEngines.Edit')"
                                                            (click)="createOrUpdateTemplateEngine(record.templateEngine.id)">{{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            *ngIf="permission.isGranted('Pages.Tenant.Tiffin.TemplateEngines.Delete')"
                                                            (click)="deleteTemplateEngine(record.templateEngine)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Name')}}</span>
                                            {{record.templateEngine.name}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Subject')}}</span>
                                            {{record.templateEngine.subject}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('Module')}}</span>
                                            {{record.templateEngine.module}}
                                        </td>
                                        <td style="width:250px" class="variables-col"
                                            [title]="record.templateEngine.variables">
                                            <span class="ui-column-title"> {{l('Variables')}}</span>
                                            {{record.templateEngine.variables}}
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getTemplateEngines($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
