<div class="dabba_app">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0; padding-bottom: 0;">
        <div class="container">
            <article>
                <!-- mobile menu -->
                <!-- <div class="logo_ham_btn">
                    <a href="https://wa.me/+6583078679" class="cta-whatsapp">
                        <img src="assets/static/svg/whatsapp.svg" alt="" />
                    </a>
                    <a class="navbar-brand" href="/menu">
                        <img src="\assets\image\logo.png" alt="logo" />
                    </a>
                    <button class="navbar-toggler" [class.collapsed]="!collapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="collapse = !collapse">
                        <span class="navbar-toggler-icon"></span>
                        <span class="hamburger_btn">
                            <span></span>
                        </span>
                    </button>
                </div> -->
                <!-- mobile menu ends -->
            </article>
        </div>
    </nav>
    <!-- navbar ends -->

    <div class="site_body">
        <router-outlet></router-outlet>
    </div>

    <!-- footer -->

    <!-- foooter ends -->
</div>