<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>{{ 'Category' | localize }} : {{ data.categoryName }}</span>

        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <table class="table table-hover">
                <tr>
                  <th>{{l("MenuItemName")}}</th>
                  <th>{{l("Quantity")}}</th>
                  <th>{{l("Total")}}</th>
                </tr>
                <tr *ngFor="let x of data.menuItems">
                  <td>
                    {{x.menuItemName}}
                  </td>
                  <td>
                    {{x.quantity | number: '1.2'}}
                  </td>
                  <td>
                    {{x.price | number: '1.2'}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="close()">{{l("Close")}}</button>
      </div>
    </div>