.menu-container {
  height: calc(100vh - 38vh);

  .no-menu-image {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    img {
      display: block;
      width: calc(100%);
      margin: 0 0 0.75rem;
      opacity: 0.6;
    }

    .title {
      display: block;
      color: #ccc;
      font-size: 0.875rem;
      font-weight: 500;
      white-space: nowrap;
      text-align: center;
    }
  }
}

.red-text {
  color: red !important;
}

// .hide {
//   // display: none;
// }

.show {
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  bottom: 0;
  overflow: auto;
  overflow: hidden;
  background-color: rgba(65, 73, 82, 0.8);
}

.show-tags {
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
  bottom: 0;
  overflow: auto;
  overflow: hidden;
  background-color: rgba(65, 73, 82, 0.8);
}

.section_list {
  width: 100%;

  .sub-section {
    padding: 0 0.5rem;
    font-size: 20px;
    font-weight: bold;
    color: #282144;
  }
}

.flex-item {
  display: inline-block;
}

::ng-deep .starters-holder {
  padding: 0.5rem;

  .item_list {
    width: auto;
  }

  .product-cols {
    display: block;
    float: left;
  }

  .list-style {
    .product {
      position: relative;
      height: 8rem;
      width: 100%;
      margin: 0.5rem;
      border: 1px solid #f5f5f5;
      background-color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .cols-style {
    .product {
      position: relative;
      // height: 17rem;
      // height: 22rem;
      background-color: white;
      margin: 0.5rem;
      border: 1px solid #f5f5f5;
      display: block;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

      @media (min-width: 576px) {
        margin: 1.25rem 0.6875rem 1.25rem;
      }

      // @media (max-width: 1024px) {
      //   height: 22rem !important;
      // }
      @media (max-width: 768px) {
        height: 22rem !important;
      }
    }
  }
}

.starters-block:after {
  content: '';
  display: block;
  clear: both;
}

.content-area h2 {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  background: #fafafa;
  z-index: 10;
}

.content-area h2 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding: 1rem 1.125rem;
  font-weight: 500;
  margin: 0;
}

.image-section {
  // background: #fff;
  border-bottom: 1px solid #f5f5f5;
}

.tooltip-holder {
  position: absolute;
  right: 0.4375rem;
  top: 0.75rem;
  width: 0.75rem;
  z-index: 5;

  @media (min-width: 576px) {
    right: 0.5rem;
    width: 0.9375rem;
    top: 0.75rem;
  }

  .icon-info:before {
    content: '\f05a';
    font-family: fontAwesome;
  }

  .icon-info {
    display: block;
    font-size: 0.6875rem;
    line-height: 0.6875rem;
    color: #9ea2a6;

    @media (min-width: 576px) {
      font-size: 0.875rem;
      line-height: 0.75rem;
    }
  }
}

.items {
  border-bottom: solid 1px #f5f5f5;
  background: #fff;
  padding: 0.8125rem 0.625rem 0.125rem 0.8125rem;

  @media (min-width: 576px) {
    padding: 0.8125rem 1.1875rem 0.125rem 1.1875rem;
    min-height: 43px;
  }

  .text {
    position: relative;
    padding: 0 0 0 0.875rem;

    @media (min-width: 360px) {
      float: left;
      width: 53%;
    }

    @media (min-width: 576px) {
      width: 51%;
      padding: 0.125rem 0 0 1.4375rem;
    }

    @media (min-width: 1170px) {
      width: 58%;
    }

    @media (min-width: 576px) {
      padding: 0.125rem 0 0 6px;
    }
  }

  .price-bar {
    @media (min-width: 360px) {
      float: right;
      width: 45%;
      text-align: right;
    }

    @media (min-width: 576px) {
      width: 48%;
    }

    @media (min-width: 1170px) {
      width: 40%;
    }
  }

  .price {
    font-size: 0.75rem;
    line-height: 1.5625rem;
    font-weight: 500;

    @media (min-width: 576px) {
      font-size: 0.875rem;
    }

    .hide-md {
      display: none;

      @media (min-width: 1170px) {
        display: inline !important;
      }
    }
  }

  .tooltip-holder {
    @media (min-width: 576px) {
      position: relative;
      right: auto;
      top: auto;
      margin: 0.1875rem 0.25rem 0 0.5rem;
    }
  }
}

.items .price,
.items .btn-add {
  display: inline-block;
  margin: -0.125rem 0 0.25rem 0.625rem;
  vertical-align: middle;
}

.items .title-holder .title,
.items .title-holder .tooltip-holder {
  display: inline-block;
  vertical-align: top;
}

.items .title {
  line-height: 1.125rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: block;
  margin: 0 0 0.375rem;
  padding: 0 1.125rem 0 0;

  @media (min-width: 576px) {
    padding: 0;
  }
}

.product-cols .status {
  font-size: 0.75rem;

  a {
    color: #f18f1c;
  }

  a:hover {
    color: #000;
  }
}

.category_name {
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding: 1rem 1.125rem;
  font-weight: 500;
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  background: #fafafa;
  z-index: 10;

  @media (max-width: 767px) {
    top: 80px;
    position: sticky;
    z-index: 9;
    box-shadow: 0 2px 3px #efefef;
  }
}

.popup-overlay {
  position: fixed;
  overflow: auto;

  .popupholder {
    bottom: -100%;
    position: absolute;
    max-width: 420px;

    @media (min-width: 768px) {
      position: fixed;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%);
      width: 420px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    .add-item {
      width: 100%;
      height: 2.5rem;
      text-align: center;
      //border-radius: 0.5rem;
      padding: 0.5rem;
    }
  }

  .product-cols ul.list-unstyled li {
    color: #212529;
  }

  .jcf-checkbox {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: default;
    background: #fff;
    //border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0 3px 0 0;
    height: 22px;
    width: 22px;

    span {
      position: absolute;
      display: none;
      height: 7px;
      width: 13px;
      top: 50%;
      left: 50%;
      margin: -5px 0 0 -6px;
      border: 3px solid black;
      border-width: 0 0 2px 2px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .customize-popup {
    width: 100%;
    background-color: #fff;
    position: relative;
    height: auto;
    max-height: calc(100vh - 100px);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: auto;

    .info-holder {
      margin: 0 0 1.25rem;
      overflow: hidden;

      @media (min-width: 768px) {
        margin: 0 0 14px;
      }

      label {
        display: inline-block;
        vertical-align: top;
        color: #7e8389;
        margin: 0;
      }
    }

    .form-holder {
      .info-item {
        max-height: calc(85vh - 26rem);
        overflow: auto;
      }

      .info-combo-item {
        // max-height: calc(85vh);
        overflow: auto;
      }

      .text-title {
        display: flex;
        padding: 1rem 1rem 0 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #282144;

        .cart_item_name {
          order: 1;
        }

        .price-text {
          flex: 1;
          order: 2;
          text-align: end;
        }
      }

      .sub-title {
        font-size: 12px;
        font-weight: 600;
        text-align: end;
        color: #75708a;
        padding-right: 1rem;
        margin-bottom: 10px;
      }

      .size-title {
        color: #75708a;
        font-size: 14px;
        padding: 0 1rem;
        font-weight: 600;
      }

      .tags-style {
        padding: 1rem 1rem 0 1rem;

        .tag-title {
          color: #75708a;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .tag-item {
        margin: 0.5rem 0;
        display: flex;
        color: #75708a;

        .tag-name {
          order: 1;
          flex: 2;
          font-size: 13px;
          font-weight: 600;
          display: flex;
          align-items: center;
        }

        .input-holder {
          text-align: center;
          flex: 1;
          order: 2;
          float: right;

          .square-button {
            background-color: white;
            padding: 3px;
            border-radius: 5px;
            color: #877fab;
            border: 2px solid #dcdcdc;
          }

          .number-jcf {
            padding: 0 0.5rem;
            font-size: 13px;
            font-weight: bold;
            color: #282144;
          }
        }

        .tag-price {
          flex: 1;
          order: 3;
          font-size: 13px;
          font-weight: 600;
          text-align: end;
        }
      }

      .add-total {
        text-align: center;

        .circle-button {
          background-color: var(--btn-dine-primary);
          padding: 5px;
          border-radius: 50%;
          color: white;
        }

        .number-jcf {
          padding: 0.5rem 3rem;
          font-size: 15px;
          font-weight: bold;
          color: #282144;
          background-color: #f9f9f9;
        }
      }

      input[type='checkbox'] {
        border: 1px solid #a6a6a6;
        background-color: #fff;
        width: 1.2rem;
        height: 1.2rem;
      }

      input:checked {
        background-color: red;
      }

      .checkbox-label {
        font-size: 13px;
        padding-left: 0.5rem;
        margin-bottom: 0;
      }
    }

    .dine-input-group {
      margin-bottom: 1rem;
    }

    .footer {
      background: #fafafa;
      padding: 0.6875rem 1.25rem;
      text-align: right;
    }

    .btn {
      text-transform: uppercase;
      border: 0;
      font-size: 0.75rem;
      line-height: 0.875rem;
      letter-spacing: 1.5px;
      cursor: pointer;
      color: #fff;
      vertical-align: middle;
      text-transform: uppercase;
      padding: 0;

      @media (min-width: 768px) {
        margin: 0 0 0 1.125rem;
        padding: 1.125rem 0.9375rem;
        min-width: 8.75rem;
        height: 3.125rem;
      }

      @media (max-width: 767px) {
        background: none;
        vertical-align: top;
      }
    }

    .price {
      font-size: 0.875rem;
      line-height: 1rem;
      float: left;
      text-transform: uppercase;

      @media (min-width: 768px) {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }

      @media (min-width: 576px) {
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .image {
      width: calc(100%);
      background: #f5f5f5;
      //border-radius: 0.375rem 0.375rem 0 0;
      overflow: hidden;
      position: relative;
      // height: 12rem;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 150px;

      .bg-image {
        display: block;
        object-fit: cover;
        width: calc(100%);
        -webkit-transition: -webkit-transform linear 0.3s;
        transition: -webkit-transform linear 0.3s;
        transition: transform linear 0.3s;
        transition: transform linear 0.3s, -webkit-transform linear 0.3s;
      }
    }

    .text {
      position: relative;
      padding: 0.5rem 0;

      @media (min-width: 768px) {
        display: inline-block;
        vertical-align: middle;
        float: none;
      }

      @media (min-width: 576px) {
        font-size: 0.875rem;
      }
    }

    ::ng-deep .p-field-checkbox {
      margin: 0.5rem 1rem;
      display: flex;

      label {
        font-size: 13px;
        text-align: center;
        font-weight: 600;
        margin: 0 0 0.2rem 1rem !important;
        color: #75708a;
      }

      .size-name {
        order: 1;
      }

      .size-price {
        flex: 1;
        order: 2;
        text-align: end;
      }

      .p-radiobutton {
        .p-radiobutton-box {
          width: 1rem;
          height: 1rem;
        }

        .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
          border-color: var(--btn-dine-primary);
        }

        .p-radiobutton-box.p-highlight {
          border-color: var(--btn-dine-primary);
          background: var(--btn-dine-primary);
        }

        .p-radiobutton-icon {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }

    .calories {
      margin-left: 0px !important;
      margin-right: 1rem;
      display: flex;

      label {
        font-size: 13px;
        text-align: center;
        font-weight: 600;
        margin: 0 0 0.2rem 1rem !important;
        color: #75708a;
      }

      .calories-number {
        order: 1;
      }

      .more-detail {
        flex: 1;
        order: 2;
        text-align: end;
        cursor: pointer;
        color: #fa8c16;
      }

      .p-radiobutton {
        .p-radiobutton-box {
          width: 1rem;
          height: 1rem;
        }

        .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
          border-color: var(--btn-dine-primary);
        }

        .p-radiobutton-box.p-highlight {
          border-color: var(--btn-dine-primary);
          background: var(--btn-dine-primary);
        }

        .p-radiobutton-icon {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }

  }

  .heading {
    display: block;
    background: #fafafa;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.8125rem 3rem;
    font-weight: 500;
    height: 2rem;
    border: 1px solid #f5f5f5;

    @media (min-width: 768px) {
      padding: 1em;
      height: auto;
      border: 0;
    }
  }

  .close:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .close {
    position: absolute;
    font-size: 1rem;
    line-height: 1rem;
    right: 1rem;
    left: auto;
    top: 0.5rem;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50px;
    background: #000;
    opacity: 0.5;
    color: #fff;
    text-align: center;

    i {
      color: white;
    }
  }
}

.portions-items {
  margin: 5px;
  border: 1px solid #000;
  padding: 15px 10px;
}

// ::-webkit-meter-even-less-good-value
:host::ng-deep {
  .restaurant-infor {
    .img {
      max-width: 175px;

      img {
        width: 100%;
      }
    }

    .infor {
      .rating {
        .p-rating {
          .p-rating-icon {
            font-size: 1rem !important;

            &.pi-star {
              color: var(--yellow-2);
            }
          }
        }
      }

      .distance {
        .status {
          color: var(--green-1);
        }
      }
    }
  }

  .restautant-items {
    .card {
      border: none;
    }
  }
}

.wrapper-btn-section {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  overflow-x: auto;
  width: 100%;

  .btn-section {
    height: 40px;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    outline: none;
    border-radius: 4px;
    font-family: Mulish;
    letter-spacing: 0;
    text-align: center;
    outline: none;
    font-weight: 600;
    outline: none;
    width: max-content;
    color: black;
    background-color: white;
    border-color: black;

    &.active {
      color: white;
      background-color: var(--btn-dine-primary);
      box-shadow: unset;
      border-color: var(--btn-dine-primary);
    }

    .section-button-image {
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .customize-popup-nutrition {
    width: 35rem !important;
  }
}

.invalid-combo {
  text-align: left;
  padding: 10px;
  color: white;
  background-color: red;

  i {
    margin-right: 5px;
  }
}


::ng-deep .invalid-combo-item .p-panel-header .p-panel-title {
  color: red;
}

.content_nutrition {
  max-height: calc(121vh - 26rem);
  overflow: auto;
}
