<div class="starters-holder flex-item w-100">
    <h4 class="ml-2 m-0" *ngIf="data && data.name">{{data.name}}</h4>
    <div class="item_list" *ngFor="let item of menuItems">
        <ng-container *ngIf="item.type == 1 && (!filter || item.name.toLowerCase().indexOf(filter.toLowerCase()) >= 0)">
            <ng-container *ngIf="selectedTag == '' || item.tags != null && item.tags.indexOf(selectedTag) >= 0">
                <app-item-card [isListStyle]="isListStyle" (choseItem)="addItem($event)" [itemData]="item" [sizeImg]="sizeImg" (showCalorie)="showMoredetail($event)" [colSetting]="colSetting">
                </app-item-card>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="item.type == 2 && (!filter || item.name.toLowerCase().indexOf(filter.toLowerCase()) >= 0)">
            <ng-container *ngIf="selectedTag == '' || item.tags != null && item.tags.indexOf(selectedTag) >= 0">
                <app-combo-card [isListStyle]="isListStyle" (choseItem)="addItem($event, true)" [itemData]="item" [sizeImg]="sizeImg" [colSetting]="colSetting">
                </app-combo-card>
            </ng-container>
        </ng-container>
    </div>
</div>

<div class="starters-holder section_list" *ngIf="selectedSectionItems">
    <h4 class="ml-2 m-0">{{selectedSectionItems.name}}</h4>
    <div class="item_list" *ngFor="let item of selectedSectionItems.items">
        <app-item-card [isListStyle]="isListStyle" (choseItem)="addItem($event)" [itemData]="item" [sizeImg]="sizeImg" (showCalorie)="showMoredetail($event)" [colSetting]="colSetting">
        </app-item-card>
    </div>
</div>

<!-- popup addOn -->
<div class="popup-overlay" [ngClass]="{ show: isOpenAddon, hide: !isOpenAddon }">
    <div class="popupholder" [@popupState]="state">
        <!-- product-popup -->
        <div class="customize-popup">
            <div class="form-holder">
                <div class="image">
                    <a href="javascript:;" class="close" (click)="closeAddonPopUp()">
                        <i class="fa fa-close"></i>
                    </a>
                    <img appProductImage class="bg-image top5006 lazyloaded top-1221" loading="lazy" data-src="{{ selectItem?.image }}" src="{{ selectItem?.image }}" />
                </div>
                <div class="info-item">
                    <div class="text-title">
                        <div class="cart_item_name">{{ selectItem?.name }}</div>
                        <div class="price-text">
                            {{ systemCurrency }} {{ selectItem && selectItem.isComboItem ? selectItem.addPrice : (priceItem | number: '1.2-2') }}
                        </div>
                    </div>
                    <div class="sub-title">Base price</div>
                    <!-- SIZE -->
                    <div *ngIf="selectItem?.portions && selectItem.portions.length" class="size-style">
                        <div class="size-title">SIZE</div>
                        <div [formGroup]="portionsForm">
                            <div *ngFor="let portion of selectItem.portions" class="p-field-checkbox">
                                <p-radioButton name="portionGroup" (onClick)="onClickPortion(portion, selectItem?.isComboItem)" [inputId]="portion.id" [value]="portion" formControlName="portion">
                                </p-radioButton>
                                <label class="size-name" [for]="portion.id">{{
                  portion.name
                  }}</label>
                                <label class="size-price">
                  +{{ systemCurrency }} {{ portion.price | number: '1.2-2' }}
                </label>
                            </div>
                        </div>
                    </div>
                    <!-- TAG -->
                    <div *ngIf="selectItem?.orderTags && selectItem?.orderTags.length" class="tags-style">
                        <div *ngFor="let items of selectItem.orderTags">
                            <div class="tag-title">{{ items.prefix ? (items.name + ' | ' + items.prefix) : items.name }}
                                <ng-container *ngIf="items.minSelectedItems"> Min: {{items.minSelectedItems}}</ng-container>
                                <ng-container *ngIf="items.minSelectedItems && items.maxSelectedItems"> | </ng-container>
                                <ng-container *ngIf="items.maxSelectedItems"> Max: {{items.maxSelectedItems}}</ng-container>
                            </div>
                            <div *ngFor="let tagItem of items.tags">
                                <div class="tag-item">
                                    <div>
                                        <input type="checkbox" [(ngModel)]="tagItem.checked" id="{{ tagItem.id }}" (click)="onClickCheckBox($event, items.id, tagItem)" />
                                    </div>
                                    <div class="tag-name">
                                        <label class="checkbox-label" for="{{ tagItem.id }}">
                      {{ tagItem.name }}
                      <p *ngIf="tagItem.maxQuantity">(Max: {{tagItem.maxQuantity}})</p>
                    </label>
                                    </div>
                                    <div class="input-holder">
                                        <ng-container *ngIf="tagItem.checked">
                                            <i class="pi pi-minus square-button" style="font-size: 0.5rem" (click)="decTags(items.id, tagItem)"></i>
                                            <span class="number-jcf"> {{ tagItem.quantity }}</span>
                                            <i class="pi pi-plus square-button" style="font-size: 0.5rem" (click)="incTags($event, items.id, tagItem)"></i>
                                        </ng-container>
                                    </div>
                                    <div class="tag-price">
                                        +{{ systemCurrency }} {{ tagItem.price | number: '1.2-2' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectItem?.displayNutritionFacts" class="size-style calories">
                        <label class="calories-number">Calories: {{selectItem.calories}}</label>
                        <!-- <label class="more-detail"> -->
                        <label class="more-detail" (click)="showMoredetail(selectItem.nutritionInfo)"> More detail...
            </label>
                    </div>
                </div>

                <hr />
                <div *ngIf="!selectItem?.isComboItem" class="add-total">
                    <i class="pi pi-minus circle-button" style="font-size: 1rem" (click)="addItemNumber(false)"></i>
                    <span class="number-jcf"> {{ totalItemsAdd }} </span>
                    <i class="pi pi-plus circle-button" style="font-size: 1rem" (click)="addItemNumber(true)"></i>
                </div>
            </div>
            <div class="footer">
                <div class="dine-input-group" *ngIf="selectItem">
                    <input type="text" placeholder="Note" id="address1" class="dine-control" [(ngModel)]="selectItem.note" />
                </div>
                <button *ngIf="!selectItem?.isComboItem" pRipple pButton class="btn-dine-primary btn-add-item" (click)="addItemToOrder(selectItem, true, totalItemsAdd)" label="Add to Cart $ {{ totalPrice | number: '1.2-2' }}"></button>
            </div>
        </div>
    </div>
</div>

<!-- popup addOn Combo -->
<div class="popup-overlay" [ngClass]="{ show: isOpenComboAddon, hide: !isOpenComboAddon }">
    <div class="popupholder" [@popupState]="stateCombo">
        <!-- product-popup -->
        <div class="customize-popup">
            <div class="form-holder">
                <div class="image" *ngIf="selectCombo && !selectCombo.states?.expanded">
                    <a href="javascript:;" class="close" (click)="closeAddonPopUp(true)">
                        <i class="fa fa-close"></i>
                    </a>
                    <img appProductImage class="bg-image top5006 lazyloaded top-1221" loading="lazy" data-src="{{ selectCombo?.image }}" src="{{ selectCombo?.image }}" />
                </div>
                <div class="info-combo-item">
                    <div class="text-title" *ngIf="selectCombo && !selectCombo.states?.expanded">
                        <div class="cart_item_name">{{ selectCombo?.name }}</div>
                        <div class="price-text">
                            {{ systemCurrency }} {{ selectCombo?.basePrice | number: '1.2-2' }}
                        </div>
                    </div>
                    <div class="sub-title" *ngIf="selectCombo && !selectCombo.states?.expanded">Base price</div>
                    <p-panel *ngFor="let comboItems of selectCombo?.wheelMenuComboItems" header="Select {{ comboItems.name }}" [toggleable]="true" [expandIcon]="'pi pi-chevron-down'" [collapseIcon]="'pi pi-chevron-right'" [collapsed]="true" [styleClass]="comboItems.isValid ? '':'invalid-combo-item'">
                        <div>
                            <app-combo-item [comboItems]="comboItems" [selectCombo]="selectCombo" [sizeImg]="sizeImg" [invalidCombo]="invalidAddCombo" (stateChanged)="updateComboItemStatus()"></app-combo-item>
                        </div>
                    </p-panel>
                    <div *ngIf="invalidAddCombo" class="invalid-combo">
                        <i class="pi pi-exclamation-circle" style="font-size: 1rem; color: #fff"></i> Please correct any options marked in red
                    </div>
                </div>
                <hr style="border-top:none;" />
                <div class="add-total" *ngIf="selectCombo && !selectCombo.states?.expanded">
                    <i class="pi pi-minus circle-button" style="font-size: 1rem" (click)="addComboItemNumber(false)"></i>
                    <span class="number-jcf"> {{ totalComboItemsAdd }} </span>
                    <i class="pi pi-plus circle-button" style="font-size: 1rem" (click)="addComboItemNumber(true)"></i>
                </div>
            </div>
            <div class="footer" *ngIf="selectCombo && !selectCombo.states?.expanded">
                <div class="dine-input-group" *ngIf="selectCombo">
                    <input type="text" placeholder="Note" id="address1" class="dine-control" [(ngModel)]="selectCombo.note" />
                </div>
                <button pRipple pButton class="btn-dine-primary btn-add-item" (click)="addComboItemToOrder(selectCombo)" label="Add to Cart $ {{ totalComboPrice | number: '1.2-2' }}"></button>
            </div>
        </div>
    </div>
</div>

<!-- popup add Combo items-->
<div class="popup-overlay" [ngClass]="{ show: isOpenComboItemsAddon, hide: !isOpenComboItemsAddon }">
    <div class="popupholder" [@popupState]="stateCombo">
        <div class="customize-popup">

            <div class="form-holder">
                <div class="info-combo-item">
                    <a href="javascript:;" class="close" (click)="closeAddonPopUp()">
                        <i class="fa fa-close"></i>
                    </a>
                    <div class="item_list" *ngFor="let item of wheelMenuComboItems?.wheelMenuCombosItemMenus">
                        <app-item-card [isListStyle]="true" (choseItem)="addComboItem($event, wheelMenuComboItems.name)" [itemData]="item" [isCombo]="true" (showCalorie)="showMoredetail($event)" [colSetting]="colSetting">
                        </app-item-card>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

<!-- popup nutrition -->
<div class="popup-overlay" [ngClass]="{ show: isOpenNutri, hide: !isOpenNutri }">
    <div class="popupholder" [@popupState]="stateNutrition">
        <div class="customize-popup customize-popup-nutrition">
            <strong class="heading">Nutrition Info</strong>
            <a href="javascript:;" class="close icon-close" (click)="closeAddonPopUpMoreDetail()"></a>
            <div class="form-holder content_nutrition">
                <app-more-detail-nutrition-info-modal [nutritionInfo]="itemSelected"></app-more-detail-nutrition-info-modal>
            </div>
            <hr />
        </div>
    </div>
</div>