<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'OrganizationUnits' | localize" [description]="'OrganizationUnitsHeaderInfo' | localize">

        </sub-header>

        <div [class]="containerClass">
            <div class="row">
                <div class="col-lg-6">
                    <organization-tree #ouTree (ouSelected)="ouSelected($event)"></organization-tree>
                </div>
                <div class="col-lg-6">
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">
                                    <span *ngIf="organizationUnit">{{organizationUnit.displayName}}</span>
                                </h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <tabset class="tab-container">
                                <tab heading="{{'Members' | localize}}" [active]="true" class="p-5">
                                    <organization-unit-members #ouMembers (membersAdded)="ouTree.membersAdded($event)"
                                        (memberRemoved)="ouTree.memberRemoved($event)"></organization-unit-members>
                                </tab>
                                <tab heading="{{'Roles' | localize}}" class="p-5">
                                    <organization-unit-roles #ouRoles (rolesAdded)="ouTree.rolesAdded($event)"
                                        (roleRemoved)="ouTree.roleRemoved($event)"></organization-unit-roles>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>