<div appBsModal #addonModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()">
            </button>
            <div class="detailed__model__vew add__on__detailed__vew">

                <div class="model__view__header">
                    <img src="./assets/static/img/about-bg.png" alt="">
                    <section>
                        <!-- <span class="day">{{ 'Addon' | localize }}</span> -->
                        <span class="day__item mt-5">{{ 'Addon' | localize }}</span>
                    </section>
                </div>

                <div class="model__view__body">
                    <div class="addOn__sec">
                        <!-- <div class="addon__header">
                            <span>Add on</span>
                        </div> -->
                        <div class="addon__body">
                            <div *ngFor="let addon of addons" class="addon__items">
                                <aside>
                                    <img src="./assets/static/img/Banner-1.jpg" alt="">
                                    <div>
                                        <span>{{ addon.label }}</span>
                                        <span>{{ appSession.application.currencySign }}{{ addon.price }}</span>
                                    </div>
                                </aside>
                                <aside>
                                    <div class="increaser qtySelector">
                                        <button (click)="decreaseQuantity(addon)" class="decreaseQty">-</button>
                                        <input type="text" class="qtyValue" value="{{ addon.quantity }}" readonly />
                                        <button (click)="increaseQuantity(addon)" class="increaseQty">+</button>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="model__view__footer">
                    <div class="addon__btn">
                        <button (click)="add()">Add</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
