<div appBsModal #editModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form #tenantEditForm="ngForm" role="form" novalidate class="form-validation" (submit)="save()" *ngIf="tenant && active">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"EditTenant" | localize}}: {{tenant.tenancyName}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="Name">{{"TenantName" | localize}} *</label>
                        <input id="Name" #nameInput="ngModel" type="text" name="Name" class="form-control" [ngClass]="{'edited':tenant.name}" [(ngModel)]="tenant.name" required maxlength="128">
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>
                    <!--
                    <div class="form-group" *ngIf="currentConnectionString">
                        <label for="DatabaseConnectionString">{{"DatabaseConnectionString" | localize}} *</label>
                        <input id="DatabaseConnectionString" #connectionStringInput="ngModel" type="text" name="ConnectionString" class="form-control" [(ngModel)]="tenant.connectionString" required maxlength="1024">
                        <validation-messages [formCtrl]="connectionStringInput"></validation-messages>
                    </div> -->



                    <div *ngIf="currentConnectionString">
                        <span class="help-block text-warning">{{"TenantDatabaseConnectionStringChangeWarningMessage" | localize}}</span>
                    </div>


                    <div *ngIf="currentConnectionString">
                        <h6 class="modal-title">
                            <span>{{"DatabaseInfor" | localize}}:</span>
                        </h6>
                        <hr />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="DatabaseConnectionString">{{"DatabaseName" | localize}} *</label>
                                <input id="DatabaseConnectionString" #connectionStringInput="ngModel" type="text" name="ConnectionString" class="form-control" [(ngModel)]="tenant.tenantDatabase.name" [ngClass]="{'edited':tenant.tenantDatabase.name}" required maxlength="1024">
                                <validation-messages [formCtrl]="connectionStringInput"></validation-messages>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="ServerIp">{{"ServerIp" | localize}} *</label>
                                <input id="ServerIp" #ServerIpInput="ngModel" type="text" name="ServerIp" class="form-control" [(ngModel)]="tenant.tenantDatabase.serverIp" [ngClass]="{'edited':tenant.tenantDatabase.serverIp}" required maxlength="1024">
                                <validation-messages [formCtrl]="ServerIpInput"></validation-messages>
                            </div>

                            <div class="form-group  col-md-6">
                                <label for="DatabaseUserName">{{"UserName" | localize}} *</label>
                                <input id="DatabaseUserName" #DatabaseUserNameInput="ngModel" type="text" name="DatabaseUserName" class="form-control" [(ngModel)]="tenant.tenantDatabase.userName" [ngClass]="{'edited':tenant.tenantDatabase.userName}" required maxlength="1024">
                                <validation-messages [formCtrl]="DatabaseUserNameInput"></validation-messages>
                            </div>
                            <div class="form-group  col-md-6">
                                <label for="DatabasePassword">{{"Password" | localize}} *</label>
                                <input id="DatabasePassword" #PasswordInput="ngModel" type="password" name="Password" class="form-control" [(ngModel)]="tenant.tenantDatabase.password" [ngClass]="{'edited':tenant.tenantDatabase.password}" required maxlength="1024">
                                <validation-messages [formCtrl]="PasswordInput"></validation-messages>
                            </div>
                        </div>
                        <hr />
                    </div>



                    <div class="form-group">
                        <label for="edition">{{"Edition" | localize}}</label>
                        <select id="edition" name="edition" class="form-control" [(ngModel)]="tenant.editionId" (change)="onEditionChange()">
                            <option *ngFor="let edition of editions" [value]="edition.value">{{edition.displayText}}
                            </option>
                        </select>
                    </div>

                    <div [hidden]="!isSubscriptionFieldsVisible" class="checkbox-list">
                        <label class="checkbox">
                            <input id="CreateTenant_IsUnlimited" type="checkbox" name="IsUnlimited"
                                [(ngModel)]="isUnlimited" (ngModelChange)="onUnlimitedChange()" />
                            {{"UnlimitedTimeSubscription" | localize}}
                            <span></span>
                        </label>
                    </div>

                    <div [hidden]="isUnlimited || !isSubscriptionFieldsVisible" class="form-group" [ngClass]="{'has-error': !subscriptionEndDateUtcIsValid }">
                        <label for="SubscriptionEndDateUtc">{{"SubscriptionEndDateUtc" | localize}}</label>
                        <input id="SubscriptionEndDateUtc" type="datetime" #SubscriptionEndDateUtc name="SubscriptionEndDateUtc" class="form-control" bsDatepicker datePickerMomentModifier (dateChange)="subscriptionEndDateChange($event)" [(date)]="tenant.subscriptionEndDateUtc"
                            [bsConfig]="{ adaptivePosition: true }" [required]="!isUnlimited" />
                    </div>

                    <div [hidden]="!isSubscriptionFieldsVisible" class="checkbox-list">
                        <label class="checkbox">
                            <input id="CreateTenant_IsInTrialPeriod" type="checkbox" name="IsInTrialPeriod"
                                [disabled]="selectedEditionIsFree()" [(ngModel)]="tenant.isInTrialPeriod">
                            {{"IsInTrialPeriod" | localize}}
                            <span></span>
                        </label>
                    </div>

                    <div class="checkbox-list">
                        <label class="checkbox">
                            <input id="EditTenant_IsActive" type="checkbox" name="IsActive"
                                [(ngModel)]="tenant.isActive">
                            {{"Active" | localize}}
                            <span></span>
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-outline-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary" [disabled]="!tenantEditForm.form.valid || saving || !subscriptionEndDateUtcIsValid"><i
                            class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
