.btn-primary {
    color: #fff;
    background-color: #545454;
    border-color: #545454;

    &:disabled {
        background-color: #515556;
        border-color: #515556;
        cursor: not-allowed;
    }

    &:hover {
        opacity: 0.9;
        background-color: #545454;
        border-color: #545454;
    }

    &:active {
        background-color: #545454;
        border-color: #545454;
    }
}

.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-primary:not(:disabled):not(.disabled):active:not(.btn-text),
.btn.btn-primary:not(:disabled):not(.disabled):focus:not(.btn-text) {
    opacity: 0.9;
    background-color: #545454;
    border-color: #545454;
}
