<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!model.id ? l('Create Category') : l('Edit Category') + ': ' + model.name"></sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="card-body" novalidate autocomplete="off" (ngSubmit)="save()">
                    <input type="submit" hidden />

                    <tabset class="tab-container tabbable-line">
                        <tab heading="{{ l('BasicInformation') }}" customClass="kt-tabs__item" class="pt-5">
                            <div class="row mb-4">
                                <!-- Name -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('Name') }}</label>
                                    <input autoFocus #name="ngModel" [(ngModel)]="model.name" class="form-control" name="name" type="text" />
                                    <validation-messages [formCtrl]="name"></validation-messages>
                                </div>

                                <!-- KeyPad -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('KeyPad') }}</label>
                                    <select autoFocus class="form-control" [(ngModel)]="model.numeratorType" name="numeratorType" required #numeratorType="ngModel">                                       
                                        <option *ngFor="let keypad of keypads" [value]="keypad.value">
                                            {{keypad.displayText}}
                                        </option>
                                    </select>
                                    <validation-messages [formCtrl]="numeratorType"></validation-messages>
                                </div>

                                <div class="form-group col-md-4"></div>

                                <!-- -------------------------------------------------- -->

                                <!-- CategoryColor -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('CategoryColor') }}</label>

                                    <div class="input-group">
                                        <input
                                            #mainButtonColorView="ngModel"
                                            [(ngModel)]="model.mainButtonColor"
                                            class="form-control"
                                            name="mainButtonColorView"
                                            type="color"
                                            style="max-width: 45px"
                                        />
                                        <input
                                            #mainButtonColor="ngModel"
                                            [(ngModel)]="model.mainButtonColor"
                                            class="form-control"
                                            name="mainButtonColor"
                                            type="text"
                                        />
                                    </div>
                                </div>

                                <!-- CategoryFontSize -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('CategoryFontSize') }}</label>
                                    <input #mainFontSize="ngModel" [(ngModel)]="model.mainFontSize" class="form-control" name="mainFontSize" type="number" />
                                    <validation-messages [formCtrl]="mainFontSize"></validation-messages>
                                </div>

                                <!-- CategoryButtonHeight -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('CategoryButtonHeight') }}</label>
                                    <input
                                        #mainButtonHeight="ngModel"
                                        [(ngModel)]="model.mainButtonHeight"
                                        class="form-control"
                                        name="mainButtonHeight"
                                        type="number"
                                    />
                                    <validation-messages [formCtrl]="mainButtonHeight"></validation-messages>
                                </div>

                                <!-- -------------------------------------------------- -->

                                <!-- Sub-Button Color -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('Sub-ButtonColor') }}</label>

                                    <div class="input-group">
                                        <input
                                            #subButtonColorDefView="ngModel"
                                            [(ngModel)]="model.subButtonColorDef"
                                            class="form-control"
                                            name="subButtonColorDefView"
                                            type="color"
                                            style="max-width: 45px"
                                        />
                                        <input
                                            #subButtonColorDef="ngModel"
                                            [(ngModel)]="model.subButtonColorDef"
                                            class="form-control"
                                            name="subButtonColorDef"
                                            type="text"
                                        />
                                    </div>
                                </div>

                                <!-- Sub-Button Height -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('Sub-ButtonHeight') }}</label>
                                    <input
                                        #subButtonHeight="ngModel"
                                        [(ngModel)]="model.subButtonHeight"
                                        class="form-control"
                                        name="subButtonHeight"
                                        type="number"
                                    />
                                    <validation-messages [formCtrl]="subButtonHeight"></validation-messages>
                                </div>

                                <!-- Sub-Button Rows -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('Sub-ButtonRows') }}</label>
                                    <input #subButtonRows="ngModel" [(ngModel)]="model.subButtonRows" class="form-control" name="subButtonRows" type="number" />
                                    <validation-messages [formCtrl]="subButtonRows"></validation-messages>
                                </div>

                                <!-- -------------------------------------------------- -->

                                <!-- Column Count -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('ColumnCount') }}</label>
                                    <input #columnCount="ngModel" [(ngModel)]="model.columnCount" class="form-control" name="columnCount" type="number" />
                                    <validation-messages [formCtrl]="columnCount"></validation-messages>
                                </div>

                                <!-- Menu Item Button Height -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('MenuItemButtonHeight') }}</label>
                                    <input
                                        #menuItemButtonHeight="ngModel"
                                        [(ngModel)]="model.menuItemButtonHeight"
                                        class="form-control"
                                        name="menuItemButtonHeight"
                                        type="number"
                                    />
                                    <validation-messages [formCtrl]="menuItemButtonHeight"></validation-messages>
                                </div>

                                <!-- Page Count -->
                                <div class="form-group col-md-4">
                                    <label>{{ l('PageCount') }}</label>
                                    <input #pageCount="ngModel" [(ngModel)]="model.pageCount" class="form-control" name="pageCount" type="number" />
                                    <validation-messages [formCtrl]="pageCount"></validation-messages>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <!-- WrapText -->
                                <div class="form-group col-md-4">
                                    <label for="model.wrapText" class="checkbox">
                                        <input id="model.wrapText" type="checkbox" name="wrapText" [(ngModel)]="model.wrapText" />
                                        {{ l('WrapText') }}
                                        <span></span>
                                    </label>
                                </div>

                                <!-- FastMenu -->
                                <div class="form-group col-md-4">
                                    <label for="model.mostUsedItemsCategory" class="checkbox">
                                        <input
                                            id="model.mostUsedItemsCategory"
                                            type="checkbox"
                                            name="mostUsedItemsCategory"
                                            [(ngModel)]="model.mostUsedItemsCategory"
                                        />
                                        {{ l('FastMenu') }}
                                        <span></span>
                                    </label>
                                </div>

                                <!-- CopyToAll -->
                                <div class="form-group col-md-4">
                                    <label for="model.copyToAll" class="checkbox">
                                        <input id="model.copyToAll" type="checkbox" name="copyToAll" [(ngModel)]="model.copyToAll" />
                                        {{ l('CopyToAll') }}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </tab>

                        <!-- -------------------------------------------------- -->

                        <tab heading="{{ l('Schedules') }}" customClass="kt-tabs__item" class="pt-5">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="StartDate">{{ 'StartDate' | localize }}</label>
                                        <div class="input-group date">
                                            <input
                                                class="form-control"
                                                id="StartDate"
                                                name="StartDate"
                                                #drp                                              
                                                bsDatepicker
                                                datePickerMomentModifier
                                                [minDate]="now"
                                                [maxDate]="schedule.endDate"
                                                [(date)]="schedule.startDate"
                                                [bsConfig]="{ adaptivePosition: true, showWeekNumbers: false }"
                                                [placeholder]="l('EndDate')"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="EndDate">{{ 'EndDate' | localize }}</label>
                                        <div class="input-group date">
                                            <input
                                                class="form-control"
                                                id="EndDate"
                                                name="EndDate"
                                                #drp                                              
                                                bsDatepicker
                                                datePickerMomentModifier
                                                [minDate]="schedule.startDate"
                                                [(date)]="schedule.endDate"
                                                [bsConfig]="{ adaptivePosition: true, showWeekNumbers: false }"
                                                [placeholder]="l('EndDate')"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group d-flex flex-row">
                                        <label>{{ l('Time') }}</label>
                                        <div class="d-flex flex-row justify-content-start align-items-center">
                                            <timepicker
                                                [(ngModel)]="schedule.startTime"
                                                [showMeridian]="false"
                                                name="startTime"
                                                #startTimeModal="ngModel"
                                            >
                                            </timepicker>
                                            <span> - </span>
                                            <timepicker
                                                [(ngModel)]="schedule.endTime"
                                                [showMeridian]="false"
                                                name="endTime"
                                                #endTimeModel="ngModel"
                                            >
                                            </timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="days"> {{ l('Week') }}</label>

                                    <ng-select id="days" name="days" [(ngModel)]="schedule.dayOfWeek" [placeholder]="l('Select')">
                                        <ng-option *ngFor="let dayOfweek of dayOfWeeks" [value]="dayOfweek">
                                            {{ dayOfweek }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="monthDays"> {{ l('Month') }}</label>

                                    <ng-select id="monthDays" name="monthDays" [(ngModel)]="schedule.dayOfMonth" [placeholder]="l('Select')">
                                        <ng-option *ngFor="let dayOfMonth of dayOfMonths" [value]="dayOfMonth">
                                            {{ dayOfMonth }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="d-flex flex-column">
                                    <label style="visibility: hidden">Add</label>
                                    <button
                                        [disabled]="
                                            !schedule.startDate ||
                                            !schedule.endDate ||
                                            !schedule.startTime ||
                                            !schedule.endTime
                                        "
                                        type="button"
                                        class="btn btn-primary"
                                        (click)="addSchedule()"
                                    >
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="primeng-datatable-container w-100">
                                <p-table [value]="schedules" [scrollable]="true" [paginator]="false" scrollHeight="300px">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{ l('StartDate') }}</th>
                                            <th>{{ l('EndDate') }}</th>
                                            <th>{{ l('StartTime') }}*</th>
                                            <th>{{ l('EndTime') }}*</th>
                                            <th>{{ l('Days') }}*</th>
                                            <th>{{ l('Month Days') }}*</th>
                                            <th>[]</th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-item="$implicit" let-index="$index">
                                        <tr>
                                            <td>{{ item.startDate  |  date:'dd-MM-yyyy' }}</td>
                                            <td>{{ item.endDate |  date:'dd-MM-yyyy' }}</td>
                                            <td>{{ item.startTime  |  date:'HH:mm' }}</td>
                                            <td>{{ item.endTime  |  date:'HH:mm'}}</td>
                                            <td>{{ item.dayOfWeek }}</td>
                                            <td>{{ item.dayOfMonth }}</td>
                                            <td>
                                                <button (click)="removeSchedule(index)" type="button" class="btn btn-danger btn-sm">Delete</button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </tab>

                        <!-- -------------------------------------------------- -->

                        <tab heading="{{ l('Images') }}" customClass="kt-tabs__item" class="pt-5">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="w-100">{{ l('SavedImage') }}</label>
                                    <img class="image-preview" *ngIf="model.imagePath" [src]="model.imagePath" />
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <app-image-cropper-connect (ngModelChange)="addUploadFile($event)"></app-image-cropper-connect>
                                        <!-- <input id="imagePath" name="imagePath" type="file" class="mb-3" ng2FileSelect [uploader]="uploader" /> -->

                                        <div class="primeng-datatable-container w-100">
                                            <p-table [value]="uploader.queue" [scrollable]="true" [paginator]="false" scrollHeight="300px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th width="175px">{{ l('Name') }}</th>
                                                        <th width="70px">{{ l('Size') }}</th>
                                                        <th width="100px">{{ l('Progress') }}</th>
                                                        <th width="70px">{{ l('Status') }}</th>
                                                        <th width="288px">{{ l('Actions') }}</th>
                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="body" let-item="$implicit">
                                                    <tr>
                                                        <td width="175px" class="align-baseline">
                                                            <strong>{{ item?.file?.name }}</strong>
                                                            <div *ngIf="uploader.options.isHTML5 && filePreviewPath">
                                                                <img class="image-preview" [src]="filePreviewPath" style="width: 100%" />
                                                            </div>
                                                        </td>

                                                        <td width="70px" *ngIf="uploader.options.isHTML5" nowrap class="text-center align-baseline">
                                                            {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                                                        </td>

                                                        <td width="100px" class="align-baseline">
                                                            <div class="progress" style="margin-bottom: 0">
                                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ width: item.progress + '%' }"></div>
                                                            </div>
                                                        </td>

                                                        <td width="70px" class="text-center align-baseline">
                                                            <span *ngIf="item.isSuccess" class="text-success"> <i class="fa fa-check-circle"></i></span>
                                                            <span *ngIf="item.isCancel" class="text-warning"> <i class="fa fa-times-circle"></i></span>
                                                            <span *ngIf="item.isError" class="text-danger"> <i class="fa fa-exclamation-triangle"></i></span>
                                                        </td>

                                                        <td width="288px" nowrap class="align-baseline">
                                                            <button
                                                                type="button"
                                                                class="btn btn-success btn-sm"
                                                                (click)="item.upload()"
                                                                [disabled]="item.isReady || item.isUploading || item.isSuccess"
                                                            >
                                                                <span class="fa fa-upload"></span> Upload
                                                            </button>
                                                            <button
                                                                type="button"
                                                                class="btn btn-warning btn-sm"
                                                                (click)="item.cancel()"
                                                                [disabled]="!item.isUploading"
                                                            >
                                                                <span class="fa fa-times-circle"></span> Cancel
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(item)">
                                                                <span class="fa fa-trash"></span> Remove
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>

                    <!-- -------------------------------------------------- -->

                    <div class="modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{ l('Cancel') }}
                        </button>

                        <button
                            type="button"
                            class="btn btn-primary blue"
                            [disabled]="!isValid"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"
                            (click)="save()"
                        >
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
