<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="!ticketTagGroup.id ? l('CreateNewTicketTag') : l('EditTicketTag')">
      <div role="actions">
        <button (click)="openSelectLocationModal()" class="btn btn-primary">
          <i class="fa fa-file"></i> {{ l('Locations') }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form #ticketTagGroupForm="ngForm" novalidate class="form ticketTagGroup-form" (ngSubmit)="save()">
            <tabset class="tab-container tabbable-line">
              <tab heading="{{l('BasicInformation')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="TicketTagGroup_Name">{{l("Name")}} *</label>
                      <input autoFocus type="text" id="TicketTagGroup_Name" class="form-control"
                        [(ngModel)]="ticketTagGroup.name" name="Name" required #nameInput="ngModel" />
                      <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="TicketTagGroup_Departments">{{l("Departments")}}</label>
                      <p-multiSelect [filter]="true" [style]="{'width':'100%'}" id="TicketTagGroup_Departments"
                        [options]="departments" name="Departments" [(ngModel)]="selectedDepartments"
                        optionLabel="displayText" [defaultLabel]="l('SelectDepartments')"></p-multiSelect>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="TicketTagGroup_TicketTagGroupTypeId">{{l("TicketTagGroupType")}} *</label>
                      <select class="form-control" id="TicketTagGroup_TicketTagGroupTypeId"
                        [(ngModel)]="ticketTagGroup.dataType" name="TicketTagGroupTypeId" required
                        #TicketTagGroupTypeId="ngModel">
                        <option *ngFor="let type of ticketTagGroupTypes" [value]="type.value">
                          {{type.displayText}}
                        </option>
                      </select>

                      <validation-messages [formCtrl]="TicketTagGroupTypeId"></validation-messages>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="checkbox-list">
                        <label for="TicketTagGroup_FreeTagging" class="checkbox">
                          <input id="TicketTagGroup_FreeTagging" type="checkbox" name="FreeTagging"
                            [(ngModel)]="ticketTagGroup.freeTagging">
                          {{l("FreeTagging")}}
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="checkbox-list">
                        <label for="TicketTagGroup_SaveFreeTags" class="checkbox">
                          <input id="TicketTagGroup_SaveFreeTags" type="checkbox" name="SaveFreeTags"
                            [(ngModel)]="ticketTagGroup.saveFreeTags">
                          {{l("SaveFreeTags")}}
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="mcheckbox-list">
                        <label for="TicketTagGroup_ForceValue" class="checkbox">
                          <input id="TicketTagGroup_ForceValue" type="checkbox" name="ForceValue"
                            [(ngModel)]="ticketTagGroup.forceValue">
                          {{l("ForceValue")}}
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="checkbox-list">
                        <label for="TicketTagGroup_AskBeforeCreatingTicket" class="checkbox">
                          <input id="TicketTagGroup_AskBeforeCreatingTicket" type="checkbox"
                            name="AskBeforeCreatingTicket" [(ngModel)]="ticketTagGroup.askBeforeCreatingTicket">
                          {{l("AskBeforeCreatingTicket")}}
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading="{{l('Tags')}}" customClass="kt-tabs__item" tabindex="0" class="p-5">

                <div class="pull-right mb-2">
                  <input type="button" class="btn btn-primary" value="{{l('Add')}}" (click)="addTag()" />
                </div>

                <div class="table-scrollable table-scrollable-borderless">
                  <table class="table table-hover table-light">
                    <thead>
                      <tr>
                        <th>{{l('Actions')}}</th>
                        <th>{{l('Name')}} *</th>
                        <th>{{l('AlternateName')}}</th>
                      </tr>
                    </thead>

                    <tr *ngFor="let tag of ticketTagGroup.tags; let index = index">
                      <td class="text-center">
                        <button type="button" class="btn-secondary btn" (click)="removeTag(index)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                      <td>
                        <input inputType [ticketTagGroupType]="+ticketTagGroup.dataType" type="text"
                          class="form-control" [(ngModel)]="tag.name" [id]="'Tags_name'+ index"
                          [name]="'Tags_name'+ index" required />
                      </td>
                      <td>
                        <input type="text" class="form-control" [(ngModel)]="tag.alternateName"
                          [id]="'Tags_AlternateName'+ index" [name]="'Tags_AlternateName'+ index" />
                      </td>
                    </tr>
                  </table>
                </div>

              </tab>
            </tabset>
            <div class="modal-footer">
              <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                (click)="close()">{{l("Cancel")}}</button>
              <button type="submit" class="btn btn-primary blue" [disabled]="!ticketTagGroupForm.form.valid"
                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                <span>{{l("Save")}}</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
  </select-location-or-group>
</div>