<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <!-- Header -->
    <sub-header [title]="!isEdit ? l('CreateproductCombo') : (l('EditproductCombo')+ ': ' + productCombo.name)">
    </sub-header>
    <!-- End Header -->

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">

          <!-- Form -->
          <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="save()">
            <input type="submit" hidden />

            <!-- Name -->
            <div class="form-group col-md-6">
              <label for="name">{{l("Name")}} *</label>
              <div class="w-100 d-flex">
                <input autoFocus #name="ngModel" [(ngModel)]="productCombo.name" type="text" id="name"
                  class="form-control" name="name" required maxlength="50" [ngClass]="{'w-75': isEdit}" />
              </div>
              <validation-messages [formCtrl]="name"></validation-messages>
            </div>

            <!-- Sort Order -->
            <div class="form-group col-md-6">
              <label for="AddPriceToOrderPrice">{{
                "AddPriceToOrderPrice" | localize
                }}</label>
              <br>
              <toggle id="AddPriceToOrderPrice" name="AddPriceToOrderPrice"
                [(ngModel)]="productCombo.addPriceToOrderPrice" #addPriceToOrderPriceInput="ngModel">
              </toggle>
            </div>
          </form>

          <!-- productCombos -->
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-center mb-3">
                <h6 class="flex-grow-1">{{l('Items')}}</h6>

                <button type="button" class="btn btn btn-primary" (click)="addItem()">
                  <i class="fa fa-plus"></i>
                  {{l('Add Item')}}
                </button>
              </div>

              <table class="table table-hover table-light">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                  <col>

                  <col style="width: 150px">
                </colgroup>

                <thead>
                  <tr>
                    <th id="th-name">{{l("Name")}}</th>
                    <th id="th-sortOrder">{{l("SortOrder")}}</th>
                    <th id="th-minimum">{{l("Minimum")}}</th>
                    <th id="th-maximum">{{l("Maximum")}}</th>
                    <th style="width: 120px;">{{l('ComboItems')}}</th>
                    <th id="th-actions">{{l("Actions")}}</th>
                  </tr>
                </thead>

                <tr *ngFor="let record of productItems; let index = index">
                  <td>{{record.name}}</td>
                  <td>{{record.sortOrder}}</td>
                  <td>{{record.minimum}}</td>
                  <td>{{record.maximum}}</td>
                  <td style="width: 120px;">
                      <button class="btn btn-sm btn-primary" type="button"
                          (click)="showComboItems(record.id)">
                          <i class="fa fa-list"></i>
                      </button>
                  </td>
                  <td>
                    <button class="btn-secondary btn" type="button" (click)="removeItem(index)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- End productCombos -->

          <div class="modal-footer px-0 pb-0">
            <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
              {{l("Cancel")}}
            </button>

            <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid" [buttonBusy]="saving"
              [busyText]="l('SavingWithThreeDot')" (click)="save()">
              <i class="fa fa-save"></i>
              <span>{{l("Save")}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-combo-items-modal #comboItemsmodal></app-combo-items-modal>
</div>

<select-popup #selectProductComboGroupPopupModal [headers]="['Name','SortOrder','Minimum','Maximum']" [dataBinding]="['name','sortOrder','minimum','maximum'
  ]" [loadData]="getComboGroups()" (changeValue)="productComboChange($event)" selectionMode="multiple"
  [selectedValue]="productCombo.productComboGroupDtos" [title]="l('AddProductComboGroupPopup')"></select-popup>