<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="l('ProductCombo')" [description]="l('ProductComboHeaderInfo')">
            <div role="actions">
                <button class="btn btn-outline-success" (click)="exportToExcel()" [disabled]="exporting"
                    [buttonBusy]="exporting" [busyText]="l('ExportingWithThreeDot')">
                    <i class="fas fa-file-excel"></i>
                    {{l("Export")}}
                </button>

                <button *ngIf="isGranted('Pages.Tenant.Connect.Menu.ComboGroups.Create')" (click)="createOrUpdateItem()"
                    class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {{l("CreateProductCombo")}}
                </button>
            </div>
        </sub-header>
        <!-- End Header -->

        <!-- ---------------------------------------- -->


        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!-- Filter Form -->
                    <form class="form" autocomplete="off" (ngSubmit)="search()">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="search()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex">
                                    <button class="btn btn-primary" type="button"
                                        (click)="openFilterSelectComboGroupModal()">
                                        {{l("Product Combo")}}
                                    </button>

                                    <div class="flex-fill"></div>

                                    <button type="button" class="btn btn-primary" (click)="refresh()">
                                        {{l("Refresh")}}
                                    </button>

                                    <button type="submit" (click)="search()" class="btn btn-primary" type="submit">
                                        {{l("Search")}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Filter Form -->

                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable (onLazyLoad)="getItems($event)" [value]="primengTableHelper.records"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                    <!-- <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col style="width: 130px;" />
                                            <col style="width: 25%;" />
                                            <col style="width: 25%;" />
                                            <col style="width: 25%;" />
                                            <col style="width: 25%;" />
                                        </colgroup>
                                    </ng-template> -->

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 130px;">{{l('Actions')}}</th>

                                            <th pSortableColumn="name">
                                                {{l('Name')}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>

                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr>
                                            <td style="width: 130px;"
                                                [hidden]="!isGrantedAny('Pages.Tenant.Connect.Menu.ComboGroups.Edit', 'Pages.Tenant.Connect.Menu.ComboGroups.Delete')">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle
                                                        class="dropdown-toggle btn btn-sm btn-primary">
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                        {{"Actions" | localize}}
                                                    </button>

                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a *ngIf="isGranted('Pages.Tenant.Connect.Menu.ComboGroups.Edit')"
                                                                class="dropdown-item"
                                                                (click)="createOrUpdateItem(record.id)">{{l('Edit')}}</a>
                                                        </li>

                                                        <li>
                                                            <a *ngIf="isGranted('Pages.Tenant.Connect.Menu.ComboGroups.Delete')"
                                                                class="dropdown-item"
                                                                (click)="deleteItem(record)">{{l('Delete')}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                            <td>
                                                <span class="ui-column-title"> {{l('Name')}}</span>
                                                {{record.name}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <div *ngIf="primengTableHelper.totalRecordsCount === 0" class="primeng-no-data">
                                    {{l('NoData')}}
                                </div>

                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getItems($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>

                                    <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<select-popup #selectProductComboGroupPopupModal [headers]="['Id','Name']" [dataBinding]="['id','name'
  ]" [loadData]="getComboGroups()" (changeValue)="productComboChange($event)" selectionMode="multiple"
    [selectedValue]="productCombo.productComboGroupDtos" [title]="l('SelectProductCombo')"></select-popup>