<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'AddonSettings' | localize" [description]="'SettingsHeaderInfo' | localize"> </sub-header>

        <div [class]="containerClass">
            <div *ngIf="isShowMainScreen" class="col-md-4 addon-setting">
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                {{ 'PaymentSettings' | localize }}
                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <button type="button" class="btn btn-circle btn-danger" (click)="viewSetting(0)">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                {{ 'ImageUploadSettings' | localize }}
                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <button type="button" class="btn btn-circle btn-danger" (click)="viewSetting(1)">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <h5 class="text-danger">Accounting</h5>

                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                {{ 'Xero' | localize }}
                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <button type="button" class="btn btn-circle btn-danger" (click)="navigateTo(ADDON_URL.XERO)">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <h5 class="text-danger">Online Ordering</h5>
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                {{ 'Grab' | localize }}
                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <button type="button" class="btn btn-circle btn-danger" (click)="navigateTo(ADDON_URL.GRAB)">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!isShowMainScreen" class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="mt-n3 border-bottom mb-3 row">
                        <div class="card-body row">
                            <h5 class="col-6">
                                <span *ngIf="isShowPayment">{{ 'PaymentSettings' | localize }}</span>
                                <span *ngIf="isShowImage">{{ 'ImageUploadSettings' | localize }} ({{ 'Cloudinary' | localize }})</span>
                            </h5>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-label-brand pull-right" (click)="back()">
                                    <i class="fa fa-arrow-left"></i> {{ 'Back' | localize }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isShowPayment">
                        <payment-method (back)="back()"></payment-method>
                    </div>
                    <div *ngIf="isShowImage">
                        <image-upload-setting (saved)="back()"></image-upload-setting>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
