﻿<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" [busyIf]="loading">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{!paymentMethod.systemName ? l('CreatePaymentMethod') : l('EditPaymentMethod')}}
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #paymentMethodForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="paymentMethod_SystemName">{{ l("SystemName") }}</label>
                                <input type="text" id="paymentMethod_SystemName" class="form-control" disabled
                                    [(ngModel)]="paymentMethod.systemName" name="SystemName" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="paymentMethod_FriendlyName">{{ l("FriendlyName") }}</label>
                                <input type="text" id="paymentMethod_FriendlyName" class="form-control"
                                    [(ngModel)]="paymentMethod.friendlyName" name="FriendlyName" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row-sm">
                                <label for="paymentMethod_Logo">{{ l("Logo") }}</label>
                            </div>
                            <div class="row-sm">
                                <div class="image-input image-input-outline" id="kt_image_1">
                                    <div *ngIf="uploadImageLoading" class="spinner spinner-primary spinner-lg mr-15">
                                    </div>
                                    <div class="image-input-wrapper"
                                        style="background-image: url({{ paymentMethod.logo }})"></div>

                                    <label
                                        class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                        data-action="change" data-toggle="tooltip" title=""
                                        data-original-title="Change avatar">
                                        <i class="fa fa-pen icon-sm text-muted"></i>
                                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                        <input type="hidden" name="profile_avatar_remove" />
                                    </label>

                                    <span
                                        class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                        data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                                    </span>

                                    <span
                                        class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                        data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="RecurringSupport">{{ "RecurringSupport" | localize }}</label>
                                        <select id="RecurringSupport" name="RecurringSupport" class="form-control"
                                            [(ngModel)]="paymentMethod.recurringSupport">
                                            <option *ngFor="let item of recurringPaymentTypeOption"
                                                [value]="item.value">
                                                {{ item.label | localize }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="paymentMethod_DisplayOrder">{{ l("DisplayOrder") }}</label>
                                        <input type="number" id="paymentMethod_DisplayOrder" class="form-control"
                                            min="1" [(ngModel)]="paymentMethod.displayOrder" name="DisplayOrder" />
                                    </div>
                                </div>
                            </div>
                            <div class="row-sm d-flex justify-content-between">
                                <div class="checkbox-list">
                                    <label for="paymentMethod_SupportsCapture" class="checkbox">
                                        <input id="paymentMethod_SupportsCapture" type="checkbox" name="SupportsCapture"
                                            [(ngModel)]="paymentMethod.supportsCapture" />
                                        {{ "SupportsCapture" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="checkbox-list">
                                    <label for="paymentMethod_Refund" class="checkbox">
                                        <input id="paymentMethod_Refund" type="checkbox" name="Refund"
                                            [(ngModel)]="paymentMethod.refund" />
                                        {{ "Refund" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="checkbox-list">
                                    <label for="paymentMethod_PartialRefund" class="checkbox">
                                        <input id="paymentMethod_PartialRefund" type="checkbox" name="PartialRefund"
                                            [(ngModel)]="paymentMethod.partialRefund" />
                                        {{ "PartialRefund" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="checkbox-list">
                                    <label for="paymentMethod_Void" class="checkbox">
                                        <input id="paymentMethod_Void" type="checkbox" name="Void"
                                            [(ngModel)]="paymentMethod.void" />
                                        {{ "Void" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                                <div class="checkbox-list">
                                    <label for="paymentMethod_Active" class="checkbox">
                                        <input id="paymentMethod_Active" type="checkbox" name="Active"
                                            [(ngModel)]="paymentMethod.active" />
                                        {{ "Active" | localize }}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="sm-row mt-5" *ngIf="paymentMethod.dynamicFieldConfig?.length > 0">
                                <formly-form [form]="paymentMethodForm.form" [fields]="paymentMethod.dynamicFieldConfig"
                                    [model]="paymentMethod.dynamicFieldData"></formly-form>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">
                            {{ l("Cancel") }}
                        </button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!paymentMethodForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                            <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>