<form #imageUploadForm="ngForm" (ngSubmit)="save()" novalidate autocomplete="off">
  <!-- <h5>{{"CloudinarySettings" | localize}}</h5> -->
  <div class="row">
    <div class="form-group col-md-6">
      <label for="LegalName">{{"CloudName" | localize}}</label>
      <input id="CloudName" type="text" name="cloudName" class="form-control"
        [ngClass]="{'edited':imageUploadSettings.setting.cloudName}" [(ngModel)]="imageUploadSettings.setting.cloudName"
        maxlength="64" required>
    </div>
    <div class="form-group col-md-6">
      <label for="APIKey">{{"APIKey" | localize}}</label>
      <input id="APIKey" name="apiKey" class="form-control" [ngClass]="{'edited':imageUploadSettings.setting.apiKey}"
        [(ngModel)]="imageUploadSettings.setting.apiKey" required>
    </div>
    <div class="form-group col-md-6">
      <label for="ApiSecret">{{"ApiSecret" | localize}}</label>
      <input id="ApiSecret" type="text" name="apiSecret" class="form-control"
        [ngClass]="{'edited':imageUploadSettings.setting.apiSecret}" [(ngModel)]="imageUploadSettings.setting.apiSecret"
        required>
    </div>

  </div>
</form>

<div class="modal-footer">
  <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{"Cancel" | localize}}</button>
  <button type="submit" class="btn btn-primary" [disabled]="!imageUploadForm.form.valid" [buttonBusy]="saving"
    [busyText]="l('SavingWithThreeDot')" (click)="save()"><i class="fa fa-save"></i>
    <span>{{"Save" | localize}}</span></button>
</div>