<div class="col-12">
    <form #paymentForm="ngForm" (ngSubmit)="save()" novalidate autocomplete="off">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="ServiceChargeName">{{ "Name" | localize }} *</label>
                <input id="ServiceChargeName" required name="ServiceChargeName" class="form-control" [(ngModel)]="serviceChargeName" #serviceChargeNameInput="ngModel" />
            </div>
            <div class="form-group col-md-6">
                <label for="ServiceChargePercentage">{{ "Percentage" | localize }} *</label>
                <input
                    id="ServiceChargePercentage"
                    name="ServiceChargePercentage"
                    class="form-control"
                    required
                    [(ngModel)]="serviceChargePercentage"
                    (keypress)="returnOnlyNumber($event)"
                    #serviceChargePercentageInput="ngModel"
                />
            </div>

            <div class="col-md-12 mb-3">
                <button
                    type="button"
                    class="btn btn-primary pull-right"
                    [disabled]="!serviceChargeName || !serviceChargePercentage"
                    (click)="addServiceCharge()"
                >
                    <i class="fa fa-save"></i>
                    <span>{{ "Add" | localize }}</span>
                </button>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="primeng-datatable-container w-100">
                    <p-table [value]="serviceChargeSetting.setting" [scrollable]="true" [paginator]="false">
                        <ng-template pTemplate="header">
                            <tr>
                                <th width="120px">{{ "Name" | localize }}</th>
                                <th width="100px" class="text-right">{{ "Percentage" | localize }}</th>
                                <th width="100px" class="text-center">{{ "OmisePayment" | localize }}</th>
                                <th width="100px" class="text-center">{{ "StripePayment" | localize }}</th>
                                <th width="100px" class="text-center">{{ "AdyenPayment" | localize }}</th>
                                <th width="100px" class="text-center">{{ "PayPalPayment" | localize }}</th>
                                <th width="100px" class="text-center">{{ "GooglePayment" | localize }}</th>
                                <th width="100px"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item="$implicit" let-index="rowIndex">
                            <tr>
                                <td style="width: 120px">
                                    {{ item.name }}
                                </td>
                                <td style="width: 100px" class="text-right">
                                    {{ item.percentage | number: "1.2-2" }}
                                </td>
                                <td style="width: 100px" class="text-center">
                                    <label class="kt-switch kt-switch-icon">
                                        <input type="checkbox" [name]="'omisePaymentUse' + index" [(ngModel)]="item.omisePaymentUse" />
                                        <span></span>
                                    </label>
                                </td>
                                <td style="width: 100px" class="text-center">
                                    <label class="kt-switch kt-switch-icon">
                                        <input type="checkbox" [name]="'stripePaymentUse' + index" [(ngModel)]="item.stripePaymentUse" />
                                        <span></span>
                                    </label>
                                </td>
                                <td style="width: 100px" class="text-center">
                                    <label class="kt-switch kt-switch-icon">
                                        <input type="checkbox" [name]="'adyenPaymentUse' + index" [(ngModel)]="item.adyenPaymentUse" />
                                        <span></span>
                                    </label>
                                </td>
                                <td style="width: 100px" class="text-center">
                                    <label class="kt-switch kt-switch-icon">
                                        <input type="checkbox" [name]="'paypalPaymentUse' + index" [(ngModel)]="item.paypalPaymentUse" />
                                        <span></span>
                                    </label>
                                </td>
                                <td style="width: 100px" class="text-center">
                                    <label class="kt-switch kt-switch-icon">
                                        <input type="checkbox" [name]="'googlePayPaymentUse' + index" [(ngModel)]="item.googlePayPaymentUse" />
                                        <span></span>
                                    </label>
                                </td>
                                <td style="width: 100px" class="text-center">
                                    <button type="button" class="btn-secondary btn" (click)="removeServiceCharge(index)">
                                        {{ l("Delete") }}
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{ "Cancel" | localize }}</button>
    <button
        type="submit"
        class="btn btn-primary"
        [buttonBusy]="saving"
        [busyText]="l('SavingWithThreeDot')"
        (click)="save()"
    >
        <i class="fa fa-save"></i> <span>{{ "Save" | localize }}</span>
    </button>
</div>
