﻿<div [@routerTransition]>
	<div class="content d-flex flex-column flex-column-fluid">
		<sub-header [title]="!wheelDepartment.id ? l('CreateNewDepartment') : l('EditDepartment') + ': ' + wheelDepartment.name"></sub-header>
	</div>

	<div [class]="containerClass">
		<div class="card card-custom gutter-b">
			<div class="card-body">
				<form #wheelDepartmentForm="ngForm" novalidate autocomplete="off">
					<tabset>
						<tab [heading]="l('General')" class="p-5">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="WheelDepartment_Name">{{l("Name")}} *</label>
									<input type="text" id="WheelDepartment_Name" class="form-control"
										[(ngModel)]="wheelDepartment.name" name="Name" required />
								</div>

								<div class="form-group col-md-6">
									<label for="WheelDepartment_Days">{{l("Type")}}</label>
									<ng-select [items]="allOrderTypes" bindLabel="displayText" bindValue="value"
										[multiple]="false" [(ngModel)]="wheelDepartment.wheelOrderType"
										name="WheelOrderType"></ng-select>
								</div>
							</div>

							<div class="row">
								<div class="form-group m-form__group col-md-6">
									<label for="PriceTagName">{{l("PriceTag")}}</label>
									<ng-select [items]="allPriceTags" bindLabel="displayText" bindValue="value"
										[multiple]="false" [(ngModel)]="selectedPriceTag" name="PriceTagName">
									</ng-select>
								</div>
								<div class="form-group m-form__group col-md-6">
									<label for="Menu">{{l("Menu")}}</label>
									<ng-select [items]="allScreenMenus" bindLabel="displayText" bindValue="value"
										[multiple]="false" [(ngModel)]="selectedMenu" name="Menu"></ng-select>
								</div>
							</div>

							<div class="row">
								<div class="form-group m-form__group col-md-6">
									<label for="WheelDepartment_FutureOrderDaysLimit">Future Order Days Limit</label>
									<input type="number" step="1" id="WheelDepartment_FutureOrderDaysLimit"
										class="form-control" [(ngModel)]="wheelDepartment.futureOrderDaysLimit"
										name="FutureOrderDaysLimit" />
								</div>
								<div class="form-group m-form__group col-md-6">
									<label for="WheelDepartment_OrderDeliveryTime">Order Delivery Time *</label>
									<input type="number" step="1" id="WheelDepartment_OrderDeliveryTime"
										class="form-control" [(ngModel)]="wheelDepartment.orderDeliveryTime"
										name="OrderDeliveryTime" required />
								</div>
							</div>
							<div class="row">
								<div class="form-group m-form__group col-md-6">
									<label for="WheelDepartment_OrderPreparationTime">Order Preparation Time *</label>
									<input type="number" step="1" id="WheelDepartment_OrderPreparationTime"
										class="form-control" [(ngModel)]="wheelDepartment.orderPreparationTime "
										name="OrderPreparationTime" required />
								</div>


							</div>
							<div class="row justify-content-between col-md-12">
								<div class="checkbox-list">
									<label for="Enable" class="checkbox">
										<input id="Enable" type="checkbox" name="Enable"
											[(ngModel)]="wheelDepartment.enable" />
										{{"Enable" | localize}}
										<span></span>
									</label>
								</div>
                                <div class="checkbox-list">
									<label for="AutoAccept" class="checkbox">
										<input id="AutoAccept" type="checkbox" name="AutoAccept"
											[(ngModel)]="wheelDepartment.autoAccept" />
										{{"AutoAccept" | localize}}
										<span></span>
									</label>
								</div>
								<div class="checkbox-list"  [hidden]="wheelDepartment.wheelOrderType==0 || wheelDepartment.wheelOrderType==1 || wheelDepartment.wheelOrderType==3 ">
									<label for="IsEnableTable" class="checkbox">
										<input id="IsEnableTable" type="checkbox" name="IsEnableTable"
											[(ngModel)]="wheelDepartment.isEnableTable" />
										{{"Enable Table" | localize}}
										<span></span>
									</label>
								</div>

								<div class="checkbox-list" [hidden]="wheelDepartment.wheelOrderType==0 || wheelDepartment.wheelOrderType==2 || wheelDepartment.wheelOrderType==3">
									<label for="IsEnableDelivery" class="checkbox">
										<input id="IsEnableDelivery" type="checkbox" name="IsEnableDelivery"
											[(ngModel)]="wheelDepartment.isEnableDelivery" />
										{{"Enable Delivery" | localize}}
										<span></span>
									</label>
								</div>
								<div class="checkbox-list" [hidden]="wheelDepartment.wheelOrderType==2">
									<label for="AllowPreOrder" class="checkbox">
										<input id="AllowPreOrder" type="checkbox" name="AllowPreOrder"
											[(ngModel)]="wheelDepartment.allowPreOrder" />
										{{"Allow Pre Order" | localize}}
										<span></span>
									</label>
								</div>
								<div class="checkbox-list" [hidden]="wheelDepartment.wheelOrderType==0 || wheelDepartment.wheelOrderType==1 || wheelDepartment.wheelOrderType==3">
									<label for="isRequireOtp" class="checkbox">
										<input id="isRequireOtp" type="checkbox" name="IsRequireOtp"
											[(ngModel)]="wheelDepartment.isRequireOtp" />
										{{"Verify OTP" | localize}}
										<span></span>
									</label>
								</div>

								<div class="checkbox-list" [hidden]="!wheelDepartment.isRequireOtp">
									<label for="sendOtp" class="checkbox">
										<input id="sendOtp" type="checkbox" name="sendOtp"
											[(ngModel)]="wheelDepartment.sendOtp" />
										{{"Send OTP" | localize}}
										<span></span>
									</label>
								</div>
							</div>
						</tab>

						<tab heading="Payment Methods" class="p-5" [disabled]="isDisable">
							<div class="row mb-2">
								<div class="col-md-5">
									<ng-select [items]="allPaymentMethods" bindLabel="displayText" bindValue="value"
										[multiple]="false" [(ngModel)]="selectedNewPaymentMethod" name="paymentMethods">
									</ng-select>
								</div>
								<div class="col-md-7 text-left">
									<span class="btn btn-primary blue hand-cursor" (click)="addPaymentMethod()">
										<i class="fa fa-plus"></i> Add
									</span>
								</div>
							</div>

							<p-table #paymentMethodTable [value]="wheelDepartment.wheelPaymentMethods">
								<ng-template pTemplate="header">
									<tr>
										<th>{{'FriendlyName' | localize }}</th>
										<th>{{'SystemName' | localize }}</th>
										<th style="width: 100px">{{'Actions' | localize }}</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-paymentMethod>
									<tr>
										<td>{{paymentMethod.friendlyName}}</td>
										<td>{{paymentMethod.systemName}}</td>
										<td>
											<span class="btn btn-danger hand-cursor action-button"
												(click)="removePaymentMethod(paymentMethod)">Delete</span>
										</td>
									</tr>
								</ng-template>
							</p-table>
							<div class="primeng-no-data no-data"
								*ngIf="!wheelDepartment.wheelPaymentMethods || wheelDepartment.wheelPaymentMethods.length == 0">
								{{l('NoData')}}
							</div>
						</tab>
						<tab heading="{{'Opening Hours' | localize}}" class="p-5" [disabled]="isDisable">
							<div class="row mb-2">
								<div class="col-md-5">
									<ng-select [items]="allOpeningHours" bindLabel="displayText" bindValue="value"
										[multiple]="false" [(ngModel)]="selectedDinePlanOpeningHours"
										name="openingHours">
									</ng-select>
								</div>
								<div class="col-md-7 text-left">
									<span class="btn btn-primary blue hand-cursor" (click)="addDinePlanOpeningHours()">
										<i class="fa fa-plus"></i> Add
									</span>
								</div>
							</div>

							<p-table #DinePlanOpeningHours [value]="wheelDepartment.wheelOpeningHours">
								<ng-template pTemplate="header">
									<tr>
										<th>{{'Name' | localize}}</th>
										<th style="width: 100px">Actions</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-dinePlanOpeningHours>
									<tr>
										<td>{{dinePlanOpeningHours.name}}</td>
										<td>
											<span class="btn btn-danger hand-cursor action-button"
												(click)="removeDinePlanOpeningHours(dinePlanOpeningHours)">Delete</span>
										</td>
									</tr>
								</ng-template>
							</p-table>
							<div class="primeng-no-data no-data"
								*ngIf="!wheelDepartment.wheelOpeningHours || wheelDepartment.wheelOpeningHours.length == 0">
								{{l('NoData')}}
							</div>
						</tab>

						<tab heading="{{'TimeSlot' | localize}}" class="p-5" [disabled]="isDisable">
							<div class="row mb-2">

								<div class="col-md-12 text-right">
									<span class="btn btn-primary blue hand-cursor" (click)="addEditTimeSlot()">
										<i class="fa fa-plus"></i> Add
									</span>
								</div>
							</div>
							<p-table #TimeSlot [value]="lstTimeSlot">
								<ng-template pTemplate="header">
									<tr>
										<th style="width: 130px">{{l('Actions')}}</th>
										<th>Time From</th>
										<th>Time To</th>
										<th>Maximum Numbers Of Orders</th>

									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-timeSlotItem="$implicit">
									<tr>
										<td style="width: 130px">
											<div class="btn-group dropdown" dropdown container="body">


												<button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
													<i class="fa fa-cog"></i><span class="caret"></span>
													{{"Actions" | localize}}
												</button>
												<ul class="dropdown-menu" *dropdownMenu>
													<li>
														<a href="javascript:;" class="dropdown-item"
															(click)="addEditTimeSlot(timeSlotItem.id)">{{l('Edit')}}</a>
													</li>
													<li>
														<a href="javascript:;" class="dropdown-item"
															(click)="deleteTimsSlot(timeSlotItem.id)">{{l('Delete')}}</a>
													</li>
												</ul>

											</div>
										</td>
										<td>{{timeSlotItem.timeFrom}}</td>
										<td>{{timeSlotItem.timeTo}}</td>
										<td>{{timeSlotItem.numberOfOrder}}</td>
									</tr>
								</ng-template>
							</p-table>

						</tab>
						<tab heading="Service Fees" class="p-5" [disabled]="isDisable">
							<div class="row mb-2">
								<div class="col-md-5">
									<ng-select [items]="allServiceFees" bindLabel="name" bindValue="id"
										[multiple]="false" [(ngModel)]="selectedServiceFee" name="ServiceFees">
									</ng-select>
								</div>
								<div class="col-md-7 text-left">
									<span class="btn btn-primary blue hand-cursor" (click)="addServiceFee()">
										<i class="fa fa-plus"></i> Add
									</span>
								</div>
							</div>

							<p-table #ServiceFeeTable [value]="wheelDepartment.wheelServiceFees">
								<ng-template pTemplate="header">
									<tr>
										<th>{{'Name' | localize }}</th>
										<th>{{'Value' | localize }}</th>
										<th style="width: 100px">{{'Actions' | localize }}</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-serviceFee>
									<tr>
										<td>{{serviceFee.name}}</td>
										<td>{{getValueDisplayString(serviceFee)}}</td>
										<td>
											<span class="btn btn-danger hand-cursor action-button"
												(click)="removeServiceFee(serviceFee)">Delete</span>
										</td>
									</tr>
								</ng-template>
							</p-table>
							<div class="primeng-no-data no-data"
								*ngIf="!wheelDepartment.wheelServiceFees || wheelDepartment.wheelServiceFees.length == 0">
								{{l('NoData')}}
							</div>
						</tab>
					</tabset>
					<div class="modal-footer">
						<button [disabled]="saving" type="button" class="btn btn-outline-secondary"
							(click)="close()">{{l("Cancel")}}</button>
						<button type="button" (click)="save()" class="btn btn-primary blue"
							[disabled]="!wheelDepartmentForm.form.valid" [buttonBusy]="saving"
							[busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
							<span>{{l("Save")}}</span></button>
					</div>
				</form>
			</div>
		</div>
		<app-create-or-edit-time-slot-wheel-department-modal #createOrEditTimeSlot (modalSave)="getAllTimeSlot()">
		</app-create-or-edit-time-slot-wheel-department-modal>
	</div>
</div>
