<div appBsModal #createOrEditModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Add/Edit Time Slot</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="UserName">Time From *</label>
                        <p-calendar placeholder="Select Time" timeOnly="true" showTime="true"
										hourFormat="24" class="w-100" [(ngModel)]="timeFrom" name="timeFrom" required>
									</p-calendar>
                    </div>
                    <div class="form-group">
                        <label for="UserName">Time To *</label>
                        <p-calendar placeholder="Select Time" timeOnly="true" showTime="true"
										hourFormat="24" class="w-100" [(ngModel)]="timeTo" name="timeTo"  required>
									</p-calendar>
                    </div>
                    <div class="form-group">
                        <label for="UserName">Maximum Numbers Of Orders</label>
                       <input type="number" [(ngModel)]="numberOfOrder" name="numberOfOrder"  step="1" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!userForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
