@import 'assets/common/styles/dine-connect-customize.scss';

.hand-cursor{
    cursor: pointer;
}

.no-data{
    text-align: center;
    padding: 10px;
}

.action-button{
    padding: 5px 20px;
}
::ng-deep {
    p-table.custom-table p-paginator {
        display: none !important;
    }

    p-calendar.w-100 {
        display: block;
    }
    p-calendar.w-100 span,
    p-calendar.w-100 input {
        width: 100%;
    }
    p-calendar.w-100 input {
        border: solid 1px #e5eaee;
    
        &:focus,
        &:hover {
            border-color: #69b3ff !important;
            box-shadow: unset !important;
        }
    }
    .action-button{
        padding: 5px 15px !important;
    }
}
