﻿<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Departments' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="la-file-excel-o"></i> {{ l('ExportToExcel') }}
                </button>
                <button *ngIf="isGranted('Pages.WheelDepartments.Create')" (click)="createWheelDepartment()" class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>{{ 'CreateNewDepartment' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="input-group">
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input
                                        [(ngModel)]="nameFilter"
                                        name="filterText"
                                        autoFocus
                                        (ngModelChange)="search($event)"
                                        class="form-control m-input form-control-solid"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-filter" type="button" (click)="filter()">
                                        <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                        <span>Filter</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getWheelDepartments($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ 'Name' | localize }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="priceTag.name">
                                            {{ 'PriceTag' | localize }}
                                            <p-sortIcon field="priceTag.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="wheelOrderType">
                                            {{ l('Type') }}
                                            <p-sortIcon field="wheelOrderType"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">
                                            {{ l('OpeningHours') }}
                                            <!-- <p-sortIcon field="openingHour.name"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 150px" pSortableColumn="menu.name">
                                            {{ l('Menu') }}
                                            <p-sortIcon field="menu.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="enable">
                                            {{ l('Enable') }}
                                            <p-sortIcon field="enable"></p-sortIcon>
                                        </th>
                                        <th
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.WheelDepartments.Edit', 'Pages.WheelDepartments.Delete')"
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                      
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('PriceTag') }}</span>
                                            {{ record.priceTag?.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Type') }}</span>
                                            {{ wheelOrderType[record.wheelOrderType] }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('OpeningHours') }}</span>
                                            {{ record.openingHours }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Menu') }}</span>
                                            {{ record.menu?.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Enable') }}</span>
                                            <span *ngIf="record.enable" class="badge badge-success badge-inline">{{
                                                'Yes' | localize
                                            }}</span>
                                            <span *ngIf="!record.enable" class="badge badge-dark badge-inline">{{ 'No' | localize }}</span>
                                        </td>
                                        <td
                                        style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.WheelDepartments.Edit', 'Pages.WheelDepartments.Delete')"
                                    >
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-actions" dropdownToggle>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.WheelDepartments.Edit')"
                                                        class="dropdown-item"
                                                        (click)="createWheelDepartment(record.id)"
                                                        >{{ l('Edit') }}</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.WheelDepartments.Delete')"
                                                        class="dropdown-item"
                                                        (click)="deleteWheelDepartment(record)"
                                                        >{{ l('Delete') }}</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getWheelDepartments($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <div class="modal-header">
        <h4 class="modal-title">
            <span class="mr-4">{{ l('Filter Options') }}</span>
        </h4>
    </div>
    <div class="modal-body">
        <form class="form" autocomplete="off">
            <div class="form-group">
                <label for="PriceTag">{{ l('PriceTag') }}</label>
                <div class="input-group">
                    <select class="form-control" name="PriceTagFilter" id="PriceTagFilter" [(ngModel)]="priceTagFilter">
                        <option [value]="''">{{ l('All') }}</option>
                        <option *ngFor="let priceTag of allPriceTags" [value]="priceTag.value">
                            {{ l(priceTag.displayText) }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="MenuFilter">{{ l('Menu') }}</label>
                <div class="input-group">
                    <select class="form-control" name="MenuFilter" id="MenuFilter" [(ngModel)]="menuFilter">
                        <option [value]="''">{{ l('All') }}</option>
                        <option *ngFor="let menu of allScreenMenus" [value]="menu.value">
                            {{ l(menu.displayText) }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="OrderTypeFilter">{{ l('Type') }}</label>
                <div class="input-group">
                    <select class="form-control" name="OrderTypeFilter" id="OrderTypeFilter" [(ngModel)]="orderTypeFilter">
                        <option [value]="-1">{{ l('All') }}</option>
                        <option *ngFor="let orderType of allOrderTypes" [value]="orderType.value">
                            {{ l(orderType.displayText) }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Enable">{{ l('Enable') }}</label>
                <div class="input-group">
                    <select class="form-control" name="Enable" id="Enable" [(ngModel)]="enableFilter">
                        <option [value]="-1">{{ l('All') }}</option>
                        <option [value]="1">
                            {{ l('True') }}
                        </option>
                        <option [value]="0">
                            {{ l('False') }}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
        <div style="flex: auto"></div>
        <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
        <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
    </div>
</p-sidebar>
