<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #optionForm="ngForm" novalidate (ngSubmit)="save(optionForm)" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="option.id">{{ l('EditQueueOption') }}: {{ option.name }}</span>
                        <span *ngIf="!option.id">{{ l('CreateQueueOption') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="">{{ l('Name') }} *</label>
                            <input type="text" #name="ngModel" [(ngModel)]="option.name" class="form-control" name="name" placeholder="Name" required />
                            <validation-messages [formCtrl]="name"></validation-messages>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">{{ l('Prefix') }} *</label>
                            <input type="text" #prefix="ngModel" [(ngModel)]="option.prefix" class="form-control" name="prefix" placeholder="Prefix" required />
                            <validation-messages [formCtrl]="prefix"></validation-messages>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="">{{ l('MinPax') }}</label>
                            <input type="number" #minPax="ngModel" [(ngModel)]="option.minPax" class="form-control" name="minPax" placeholder="MinPax" />
                            <validation-messages [formCtrl]="minPax"></validation-messages>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">{{ l('MaxPax') }}</label>
                            <input type="number" #maxPax="ngModel" [(ngModel)]="option.maxPax" class="form-control" name="maxPax" placeholder="MaxPax" />
                            <validation-messages [formCtrl]="maxPax"></validation-messages>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!optionForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
