<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!locationGroup?.id" [title]="'Create Location Group' | localize"> </sub-header>
        <sub-header *ngIf="locationGroup?.id" [title]="'Edit Location Group' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <div class="form">
                            <div class="form-group">
                                <label for="">{{ l('Name') }}</label>
                                <input
                                    [(ngModel)]="locationGroup.name"
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    id="name"
                                    required
                                    placeholder=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button [disabled]="isLoading" (click)="back()" type="button" class="btn btn-outline-secondary">{{ l('Back') }}</button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
