<div appBsModal #modal="bs-modal" class="modal fade" role="dialog" aria-labelledby="modal" (onShown)="shown()"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div [hidden]="!active" class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          <span>{{l('ComboItems')}}</span>
        </h5>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--<Primeng-TurboTable-Start>-->
        <div class="primeng-datatable-container" [busyIf]="itemsTableHelper.isLoading">
          <p-table #itemDataTable (onLazyLoad)="getItems($event)" [value]="itemsTableHelper.records"
            rows="{{itemsTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [responsive]="itemsTableHelper.isResponsive">
            <ng-template pTemplate="header">
              <tr>
              <tr>
                <th>{{l("Name")}}</th>
                <th>{{l("TypeCode")}}</th>
                <th>{{l("SortOrder")}}</th>
                <th>{{l("Quantity")}}</th>
                <th>{{l("Price")}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit">
              <tr [pSelectableRow]="record">
                <td>{{record.name}}</td>
                <td>{{record.groupTag}}</td>
                <td>{{record.sortOrder}}</td>
                <td>{{record.count}}</td>
                <td>{{record.price}}</td>
              </tr>
            </ng-template>
          </p-table>
          <div class="primeng-no-data" *ngIf="itemsTableHelper.totalRecordsCount == 0">
            {{l('NoData')}}
          </div>

        </div>
        <!--<Primeng-TurboTable-End>-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">{{l("Close")}}</button>

      </div>
    </div>
  </div>
</div>