<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!device?.id ? l('CreateDineGoDevice') : l('EditDineGoDevice') + ': ' + device.name">
            <div role="actions">
                <button (click)="openSelectLocationOrGroup()" class="btn btn-primary"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset class="tab-container tabbable-line">
                        <!-- Tax -->
                        <tab heading="{{ l('General') }}" customClass="kt-tabs__item" tabindex="0"
                            (selectTab)="tabIndex = 0" class="py-5" [active]="tabIndex === 0">
                            <!-- Form -->
                            <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="save()">
                                <input type="submit" hidden />

                                <!-- Name -->
                                <div class="form-group col-md-6">
                                    <label for="deviceName">{{ l('Name') }} *</label>
                                    <input #deviceName="ngModel" autoFocus [(ngModel)]="device.name" type="text"
                                        id="deviceName" class="form-control" name="deviceName" required
                                        maxlength="50" />
                                    <validation-messages [formCtrl]="deviceName"></validation-messages>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="deviceType"> {{ l('DineDevice') }} {{ l('Type') }} </label>

                                    <ng-select id="deviceType" name="deviceType" required
                                        [(ngModel)]="device.deviceType" [placeholder]="l('Select')"
                                        (ngModelChange)="onChangeDineDeviceType()" #deviceType="ngModel">
                                        <ng-option *ngFor="let deviceType of deviceTypes" [value]="+deviceType.value">
                                            {{ deviceType.displayText }}
                                        </ng-option>
                                    </ng-select>

                                    <validation-messages [formCtrl]="deviceType"> </validation-messages>
                                </div>
                            </form>
                            <!-- End Form -->
                        </tab>

                        <tab *ngIf="dineDeviceFields?.length > 0" heading="{{ l('Settings') }}"
                            customClass="kt-tabs__item" tabindex="0" (selectTab)="tabIndex = 1" class="py-5"
                            [active]="tabIndex === 1">
                            <formly-form [form]="form.form" [fields]="dineDeviceFields" [model]="dinedeviceType">
                            </formly-form>
                        </tab>
                    </tabset>

                    <div class="modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{ l('Cancel') }}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="form.form.invalid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SelectLocationOrGroup -->
    <select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>
</div>