<div class="card mb-1">
    <div class="panel-heading">
        <div class="text-header">
            <span class="panel-title">Change Password</span>
            <span class="panel-subtitle">For the security of your account, please do not share your password with others.</span>
        </div>
    </div>
    <div class="card-body">
        <form role="form" [formGroup]="form">

            <div class="form-content">

                <div class="user-item">
                    <div class="form-field-label">New Password :</div>
                    <div class="mat-form-field">
                        <mat-form-field appearance="outline" class="item-password">
                            <input matInput [type]="hideNewPassword ? 'password' : 'text'" placeholder="*********" [attr.aria-label]="'Password'" autocomplete="off" required formControlName="newPassword" (ngModelChange)="passwordChanged($event)" />
                            <button mat-icon-button class="show-hide-pass" type="button" matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNewPassword">
                                <img *ngIf="hideNewPassword" src="\assets\image\eye.png"
                                    alt="" />
                                <img *ngIf="!hideNewPassword" src="\assets\image\eye.png"
                                    alt="" />
                            </button>
                            <!-- <mat-error *ngIf="newPassword.errors && newPassword.errors['required']">
                                Please input your new password.
                            </mat-error>
                            <mat-error *ngIf="newPassword.errors && newPassword.errors['pattern']">
                                Please input a valid password.
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="user-item">
                    <div class="form-field-label">Password Confirmation</div>
                    <div class="mat-form-field">
                        <mat-form-field appearance="outline" class="item-password">
                            <input matInput [type]="hideReEnterPassword ? 'password' : 'text'" placeholder="*********" [attr.aria-label]="'Password'" autocomplete="off" formControlName="confirmPassword" required />
                            <button mat-icon-button class="show-hide-pass" type="button" matSuffix (click)="hideReEnterPassword = !hideReEnterPassword" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideReEnterPassword">
                                <img *ngIf="hideReEnterPassword" src="\assets\image\eye.png"
                                    alt="" />
                                <img *ngIf="!hideReEnterPassword" src="\assets\image\eye.png"
                                    alt="" />
                            </button>
                            <mat-error *ngIf="confirmPassword.errors && confirmPassword.errors['required']">
                                Please input your re-enter password.
                            </mat-error>
                            <mat-error *ngIf="confirmPassword.value && hasError(confirmPassword, 'passwordNotMatch')">
                                Re-enter password doesn't match with New Password.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="user-item">
                    <div class="form-field-label">Verification Code (FTP) </div>
                    <div class="mat-form-field-send-code">
                        <mat-form-field appearance="outline" class="item-password">
                            <input matInput placeholder="*********" autocomplete="off" required />
                            <button mat-icon-button class="send-code" type="button" matSuffix>
                                Send Code
                            </button>
                            <mat-error *ngIf="password.errors && password.errors['required']">
                                Please input your current password.
                            </mat-error>
                            <mat-error *ngIf="password.errors && password.errors['pattern']">
                                Please input a valid password.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div> -->
            </div>
            <div class="buttons">
                <button type="submit" class="mat-slim confirm" [ngClass]="form.valid ? 'btn-add-active' : 'btn-add-disable'" (click)="changeInfo()" [disabled]="form.invalid">
                    {{"Confirmation" | localize}}
                </button>
            </div>
        </form>
    </div>
</div>