.panel-heading {
    background-image: url(../../../../../../assets/image/banner-settings.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ededed;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .text-header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        margin-left: 24px;
        .panel-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #22232f;
        }
        .panel-subtitle {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #575755;
        }
    }
}

.card-body {
    display: flex;
    form {
        width: 100%;
        .form-content {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            .user-item {
                display: flex;
                align-items: center;
                justify-content: space-around;
                column-gap: 32px;
                .form-field-label {
                    font-weight: 400;
                    font-size: 14px;
                    text-align: right;
                    color: #888884;
                    width: 30%;
                }
                .mat-form-field {
                    height: 48px;
                    border-radius: 8px;
                    width: 70%;
                    input {
                        font-size: 14px;
                        font-weight: 400;
                        color: #22232f;
                    }
                    .show-hide-pass {
                        border: unset;
                        background-color: unset;
                    }
                }
                .mat-form-field-send-code {
                    height: 48px;
                    border-radius: 8px;
                    width: 70%;
                    input {
                        font-size: 14px;
                        font-weight: 400;
                        color: #22232f;
                    }
                    .send-code {
                        background-color: #ededed;
                        color: #22232f;
                        font-weight: 400;
                        font-size: 14px;
                        border: 1px solid #cccccc;
                        border-radius: 0px 5px 5px 0px;
                        height: 56px;
                    }
                    ::ng-deep
                        .mat-form-field-appearance-outline
                        .mat-form-field-suffix {
                        top: 0px;
                        right: -10px;
                    }
                }
            }
        }
        .buttons {
            margin-top: 32px;
            display: flex;
            justify-content: center;
            margin-right: 80px;
            .confirm {
                width: auto;
            }
            .mat-slim {
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                padding: 10px 24px 10px 24px;
            }
            .btn-add-disable {
                background-color: #9aa0a5;
                color: #fff;
                border-color: #9aa0a5;
                border-radius: 8px;
                border: 1px solid #9aa0a5;
            }
            .btn-add-active {
                background: #2d5d8c;
                border-color: #2d5d8c;
                border-radius: 8px;
                color: #fff;
                border: 1px solid #2d5d8c;
            }
        }
    }
}

.mat-form-field .mat-form-field-wrapper {
    padding-bottom: 12px !important;
}

@media (max-width: 991px) {
    .user-item {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .form-field-label {
        text-align: left !important;
    }

    .right-content {
        display: none !important;
    }

    .card-body {
        width: 100% !important;

        form {
            width: 100% !important;

            .mat-form-field {
                width: 100% !important;
            }

            .buttons {
                margin-right: 0px !important;
            }

            .form-content {
                .form-field-label {
                    width: 100% !important;
                }
            }
        }
    }

    // .text-header {
    //     display: none !important;
    // }

    .choose-photo-mobile {
        visibility: visible !important;
        width: 125px;
        height: 37px;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        background-color: #fff;
        color: #575755;
        font-weight: 400;
        font-size: 14px;
        margin-left: 26px;
    }
}


