<!-- faq -->
<section class="faq gray_bg" style="position: relative">
    <img class="vector-2" style="position: absolute; left: -150px; transform: rotate(82deg); bottom: 0" src="./assets/static/svg/vector-2.svg" alt="" />
    <img class="vector-2" style="position: absolute; right: -339px; transform: rotate(52deg); bottom: 0" src="./assets/static/svg/vector-2.svg" alt="" />
    <div class="container">
        <article>
            <h2 class="text-orange mb-5">{{ 'Faq' | localize }}</h2>
            <!-- faq Accordion -->
            <div class="faq-accordion-container">
                <app-collapse-questions [questions]="questions"></app-collapse-questions>
            </div>
            <!-- faq Accordion ends -->
        </article>
    </div>
</section>
<!-- faq ends -->
