::ng-deep {

    .faq .faq-accordion-container .accordion .card-header {
        background-color: #FFA800;
        border-radius: 50px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .faq .faq-accordion-container .accordion .card-body p {
        padding-left: 10px;
    }
}