<tabset *ngIf="settings">
    <tab heading="{{'UiCustomization_Header' | localize}}">
        <div class="kt-form">
            <form id="HeaderSettingsForm">
                <div class="form-group row">
                    <h5 class="col">{{"UiCustomization_Desktop" | localize}}</h5>
                    <div class="col-lg-12">
                        <label class="checkbox">
                            <input type="checkbox" name="DesktopFixedHeader"
                                [(ngModel)]="settings.header.desktopFixedHeader">
                            {{"UiCustomization_DesktopFixedHeader" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <h5 class="col">{{'Color' | localize}}</h5>
                    <div class="col-lg-12">
                        <div class="input-group w-25">
                            <input style="max-width: 45px;" type="color" id="headerColorView" class="form-control"
                                [(ngModel)]="settings.header.color" name="headerColorView" />
                            <input type="text" id="headerColor" class="form-control"
                                [ngClass]="{'edited':settings.header.color}" [(ngModel)]="settings.header.color"
                                name="headerColor" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <h5 class="col">{{"UiCustomization_Mobile" | localize}}</h5>
                    <div class="col-lg-12">
                        <label class="checkbox">
                            <input type="checkbox" name="MobileFixedHeader"
                                [(ngModel)]="settings.header.mobileFixedHeader">
                            {{"UiCustomization_MobileFixedHeader" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </tab>

    <tab heading="{{'UiCustomization_SubHeader' | localize}}">
        <div class="kt-form">
            <form id="LayoutSettingsForm">
                <div class="form-group row">
                    <h5 class="col">{{"UiCustomization_SubHeader" | localize}}</h5>
                    <div class="col-lg-12">
                        <label class="checkbox">
                            <input type="checkbox" name="FixedSubHeader"
                                [(ngModel)]="settings.subHeader.fixedSubHeader">
                            {{"UiCustomization_FixedSubHeader" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <h5 class="col">{{"UiCustomization_SubHeaderStyle" | localize}}</h5>
                    <div class="col-lg-12">
                        <select id="SubHeaderStyle" name="SubHeaderStyle" class="form-control w-25" required
                            [(ngModel)]="settings.subHeader.subheaderStyle">
                            <option value="transparent">{{"UiCustomization_SubHeaderStyle_Transparent" | localize}}
                            </option>
                            <option value="solid">{{"UiCustomization_SubHeaderStyle_Solid" | localize}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </tab>

    <tab heading="{{'UiCustomization_Footer' | localize}}">
        <div class="kt-form">
            <form id="FooterSettingsForm">
                <div class="form-group row">
                    <h5 class="col">{{"UiCustomization_Footer" | localize}}</h5>
                    <div class="col-lg-12">
                        <label class="checkbox">
                            <input type="checkbox" name="FixedSubHeader" [(ngModel)]="settings.footer.fixedFooter">
                            {{"UiCustomization_FixedFooter" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </tab>

    <tab heading="{{'UiCustomization_Menu' | localize}}">
        <div class="kt-form">
            <form id="MenuSettingsForm">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label class="checkbox col-lg-12">
                            <input type="checkbox" name="DefaultMinimizedAside"
                                [(ngModel)]="settings.menu.searchActive">
                            {{"ShowMenuSearchInput" | localize}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <h5 class="col">{{'Color' | localize}}</h5>
                    <div class="col-lg-12">
                        <div class="input-group w-25">
                            <input style="max-width: 45px;" type="color" id="menuColorView" class="form-control"
                                [(ngModel)]="settings.menu.color" name="menuColorView" />
                            <input type="text" id="menuColor" class="form-control"
                                [ngClass]="{'edited':settings.menu.color}" [(ngModel)]="settings.menu.color"
                                name="menuColor" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </tab>
    <tab heading="{{'UiCustomization_Content' | localize}}">
        <div class="kt-form">
            <form id="ContentSettingsForm">
                <div class="form-group row">
                    <h5 class="col">{{'Color' | localize}}</h5>
                    <div class="col-lg-12">
                        <div class="input-group w-25">
                            <input style="max-width: 45px;" type="color" id="ContentColorView" class="form-control"
                                [(ngModel)]="settings.content.color" name="ContentColorView" />
                            <input type="text" id="ContentColor" class="form-control"
                                [ngClass]="{'edited':settings.content.color}" [(ngModel)]="settings.content.color"
                                name="ContentColor" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </tab>
</tabset>

<div class="mt-4">
    <button (click)="updateUiManagementSettings()"
        class="btn btn-primary">
        <i class="fa fa-save"></i>
        {{"Save" | localize}}
    </button>
</div>