<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'VisualSettings' | localize" [description]="'UiCustomizationHeaderInfo' | localize">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset type="pills">
                        <tab *ngFor="let themeSetting of themeSettings"
                            [active]="themeSetting.theme == currentThemeName" class="p-5">
                            <ng-template tabHeading>
                                <img [src]="'/assets/common/images/wheel-themes/' + themeSetting.theme +  '.png'"
                                    width="150" />
                                <span class="theme-name">{{getLocalizedThemeName(themeSetting.theme)}}</span>
                            </ng-template>

                            <wheel-theme1-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme1'"
                                [settings]="themeSetting"></wheel-theme1-theme-ui-settings>
                            <wheel-theme2-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme2'" [settings]="themeSetting">
                            </wheel-theme2-theme-ui-settings>
                            <wheel-theme3-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme3'" [settings]="themeSetting">
                            </wheel-theme3-theme-ui-settings>
                            <wheel-theme4-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme4'" [settings]="themeSetting">
                            </wheel-theme4-theme-ui-settings>
                            <wheel-theme5-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme5'" [settings]="themeSetting">
                            </wheel-theme5-theme-ui-settings>
                            <wheel-theme6-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme6'" [settings]="themeSetting">
                            </wheel-theme6-theme-ui-settings>
                            <wheel-theme7-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme7'" [settings]="themeSetting">
                            </wheel-theme7-theme-ui-settings>
                            <wheel-theme8-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme8'" [settings]="themeSetting">
                            </wheel-theme8-theme-ui-settings>
                            <wheel-theme9-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme9'" [settings]="themeSetting">
                            </wheel-theme9-theme-ui-settings>
                            <wheel-theme10-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme10'"
                                [settings]="themeSetting"></wheel-theme10-theme-ui-settings>
                            <wheel-theme11-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme11'"
                                [settings]="themeSetting"></wheel-theme11-theme-ui-settings>
                            <wheel-theme12-theme-ui-settings *ngIf="themeSetting.theme == 'wheelTheme12'"
                                [settings]="themeSetting"></wheel-theme12-theme-ui-settings>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>