﻿@model DineConnect.Gateway.Web.ViewModels.Location.Create
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/addon.js"></script>
}

<h2>Create Location</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="AddOn" name="AddOn" value="" />

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label class="control-label col-md-2" for="Code">Code</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="Code" name="Code" type="text" value="">
            </div>

            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2" for="City">City</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="City" name="City" type="text" value="">
            </div>

            <label class="control-label col-md-2" for="Country">Country</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" id="Country" name="Country" type="text" value="">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2" for="PlatformName">PlatformName</label>
            <div class="col-md-4">
                <select id="PlatformName" name="PlatformName" class="form-control">
                    @foreach (string platformName in ViewBag.PlatformNames)
                    {
                        <option value="@platformName">@platformName</option>
                    }
                </select>
            </div>

            <label class="control-label col-md-2" for="BrandId">Brand</label>
            <div class="col-md-4">
                <select id="BrandId" name="BrandId" class="form-control">
                    @foreach (DineConnect.Gateway.Core.Models.Data.Brand item in Model.Brands)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <table class="table table-bordered table-condensed table-striped table-hover sortable" id="AddOnTable">
                <tr>
                    <th>Key</th>

                    <th>Value</th>

                    <th>Operations</th>
                </tr>

                @foreach (var item in Model.AddOns)
                {
                    <tr class="addon-data">

                        <td class="addon-data-key">@item.Key</td>

                        <td class="addon-data-value">@item.Value</td>

                        <td>
                            <input type="button" value="Delete" class="btn btn-danger DeleteAddOnBtn" />
                        </td>

                    </tr>
                }

                <tr id="addon-new-data">
                    <td>
                        <select id="NewAddOnKey" name="NewAddOnKey" class="form-control">
                            @foreach (string addOnKey in ViewBag.AddOnKeys)
                            {
                                <option value="@addOnKey">@addOnKey</option>
                            }
                        </select>
                    </td>

                    <td>
                        <input class="form-control text-box single-line" id="NewAddOnValue" name="NewAddOnValue" type="text" value="" placeholder="Value" />
                    </td>

                    <td>
                        <input type="button" value="Add" class="btn btn-primary" id="NewAddOnAddBtn" />
                    </td>
                </tr>
            </table>

        </div>

        <div class="form-group row">
            <div class="col-12 text-right">
                <a href="@Url.Action("Index")" class="btn btn-dark">Cancel</a>
                <input type="button" value="Save" class="btn btn-primary submitFormHaveAddOnTableBtn" />
            </div>
        </div>
    </div>
}