﻿@model DineConnect.Gateway.Core.Models.Data.Location

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Brand Details</h5>
        <p class="card-text"><span style="font-weight: bold"> Name :</span> @Html.DisplayFor(model => model.Name)</p>
        <p class="card-text"><span style="font-weight: bold"> CreateDate :</span> @Html.DisplayFor(model => model.CreateDate)</p>
        <p class="card-text"><span style="font-weight: bold"> UpdateDate :</span> @Html.DisplayFor(model => model.UpdateDate)</p>
        <p class="card-text"><span style="font-weight: bold"> Country :</span> @Html.DisplayFor(model => model.Country)</p>
        <p class="card-text"><span style="font-weight: bold"> City :</span> @Html.DisplayFor(model => model.City)</p>    
        <p class="card-text"><span style="font-weight: bold"> Platform Name :</span> @Html.DisplayFor(model => model.PlatformName)</p> 
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

</div>