﻿@model DineConnect.Gateway.Core.Models.Data.Location

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Location Details</h5>
        <p class="card-text"><span style="font-weight: bold"> Code :</span>@Html.DisplayNameFor(model => model.Code)</p>

        <p class="card-text"><span style="font-weight: bold"> Name :</span>@Html.DisplayNameFor(model => model.Name)</p>
        <p class="card-text"><span style="font-weight: bold"> CreateDate :</span> @Html.DisplayFor(model => model.CreateDate)</p>
        <p class="card-text"><span style="font-weight: bold"> UpdateDate :</span> @Html.DisplayFor(model => model.UpdateDate)</p>
        <p class="card-text"><span style="font-weight: bold"> Brand :</span> @Html.DisplayFor(model => model.Brand)</p>
        <p class="card-text"><span style="font-weight: bold"> Country :</span> @Html.DisplayFor(model => model.Country)</p>
        <p class="card-text"><span style="font-weight: bold"> City :</span> @Html.DisplayFor(model => model.City)</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class = "btn btn-primary"}) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>

 