﻿@model DineConnect.Gateway.Web.Pagination.PaginationViewModel<DineConnect.Gateway.Core.Models.Data.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@section Scripts {

    <script>
        $(document).ready(function () {
            if (onPageClick) {
                onPageClick(function (event, page) {
                    console.log(page);
                    location.href = '@Url.Action("Index")' + '?page=' + (page -1);
                });
            }

            $("#refresh").click(function () {
                var page = $("#CurrentPage").val();
                var locationSearch = $("#location").val();
                location.href = '@Url.Action("Index")' + '?page=' + page + "&location=" + locationSearch;
            });
        });
    </script>
}
<h2>Locations</h2>
<div class="container">
    <div class="row">
        <div style="width: 100%">
            <form id="form" class="form-inline justify-content-lg-between">
                <div class="form-group mb-2">
                    <label for="location" class="sr-only">Location</label>
                    <input id="location" class="form-control" placeholder="Location" value="@(ViewBag.Location??string.Empty)" />
                    <button type="button" class="btn btn-primary" id="refresh">Search</button>
                </div>
                <button type="button" class="btn  btn-success float-right">
                    @Html.ActionLink("Create New", "Create", null, null, new { @style = "color: #fff0f5;" })
                </button>
                <input type="hidden" asp-for="CurrentPage" />
            </form>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>PlatformName</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PaginatedContents())
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td>@item.Country</td>
                                <td>@item.City</td>
                                <td>@item.PlatformName</td>

                                <td>
                                    <button type="button" rel="tooltip" class=" btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="material-icons">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @style = "color: #fff0f5;" })</i>
                                    </button>
                                    <button type="button" rel="tooltip" class=" btn btn-primary btn-just-icon btn-sm" data-original-title="" title="">
                                        <i class="material-icons">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @style = "color: #fff0f5;" })</i>
                                    </button>
                                    <button type="button" rel="tooltip" class="trigger-btn btn btn-danger btn-just-icon btn-sm" data-toggle="modal" onclick="Delete(@item.Id)" data-original-title="" title="">
                                        <i class="material-icons"> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @style = "color: #fff0f5;" }) </i>
                                    </button>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<partial name="~/Views/Shared/_Pagination.cshtml" model="Model" />