<div *ngIf="wheelMenuSection.length" class="container p-0">
  <div class="section-contain">
    <div *ngFor="let item of wheelMenuSection" class="tab-item" [ngClass]="{ active: item == itemActivated }">
      <a (click)="selectionClick(item)">
        {{ item }}
      </a>
      <div class="active" *ngIf="item == itemActivated"></div>
    </div>
  </div>
</div>