.section-contain {
  position: sticky;
  z-index: 10;
  width: 100%;
  overflow: auto !important;
  display: inline-block;
  white-space: nowrap;
}

.tab-item {
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  a {
    padding: 0.5em;
    color: black;
  }
  .active {
    width: 100%;
    height: 0.2rem;
    background-color: #ffa940;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.p-l {
  padding-left: 1em;
}
.p-0 {
  margin: 0;
}
