<div [@routerTransition]>
    <div class="content d-flex flex-row flex-row-fluid">
        <sub-header *ngIf="!delAggModifierGroup?.id" [title]="'Create Modifier Group' | localize"> </sub-header>
        <sub-header *ngIf="delAggModifierGroup?.id" [title]="'Edit Modifier Group' | localize"> </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <form #form="ngForm" class="form" autocomplete="off" (submit)="submit()">
                    <div class="card-body">
                        <tabset id="tabs" class="tab-container tabbable-line">
                            <tab [heading]="l('General')">
                                <div class="row mt-8">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ l('Name') }}</label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                name="name"
                                                [(ngModel)]="delAggModifierGroup.name"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>{{ 'Order Tag Group' | localize }}</label>
                                            <p-dropdown
                                                [options]="orderTagGroups"
                                                [ngModel]="{id: delAggModifierGroup.orderTagGroupId}"
                                                (ngModelChange)="delAggModifierGroup.orderTagGroupId = $event.id"
                                                name="delAggTypeRef"
                                                id="delAggTypeRef"
                                                styleClass="w-100"
                                                [placeholder]="l('Select Agg Type')"
                                                [filter]="true"
                                                optionLabel="name"
                                                dataKey="id"
                                                [showClear]="true"
                                            >
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-md-1 mt-8" *ngIf="delAggModifierGroup.id">
                                        <button
                                            class="btn btn-sm btn-danger"
                                            type="button"
                                            (click)="openLanguageDescriptionModal()"
                                        >
                                            <i class="fa fa-file"></i> <span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">{{ l('Minimum') }}</label>
                                            <input
                                                [(ngModel)]="delAggModifierGroup.min"
                                                type="number"
                                                class="form-control"
                                                name="min"
                                                placeholder=""
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{ l('Maximum') }}</label>
                                            <input
                                                class="form-control"
                                                type="number"
                                                name="max"
                                                [(ngModel)]="delAggModifierGroup.max"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{ l('Sort Order') }}</label>
                                            <input
                                                class="form-control"
                                                type="number"
                                                name="sortOrder"
                                                [(ngModel)]="delAggModifierGroup.sortOrder"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab *ngIf="delAggModifierGroup?.id" [heading]="l('Item')">
                                <div class="mt-8">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-primary" (click)="addItem()">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row mt-8">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>{{ l('Action') }}</th>
                                                    <th>{{ l('Item') }}</th>
                                                </tr>
                                            </thead>
                                            <tr></tr>
                                            <tr *ngFor="let data of delAggModifierGroupItems; let index = index">
                                                <td>
                                                    <p-dropdown
                                                        [options]="delAggItems"
                                                        [ngModel]="{id: data.delAggItemId}"
                                                        (ngModelChange)="data.delAggItemId = $event.id"
                                                        name="delAggTypeRef_{{index}}"
                                                        styleClass="w-100"
                                                        placeholder="*"
                                                        [filter]="true"
                                                        optionLabel="name"
                                                        dataKey="id"
                                                        [showClear]="true"
                                                    >
                                                    </p-dropdown>
                                                </td>
                                                <td>
                                                    <button
                                                        type="button"
                                                        class="btn btn-danger btn-sm"
                                                        (click)="deleteItem(index)"
                                                    >
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </tab>

                            <tab *ngIf="delAggModifierGroup?.id" [heading]="l('Image')" class="p-5">
                                <table *ngIf="delAggImage?.length > 0" class="table mt-8">
                                    <thead>
                                        <tr>
                                            <th>{{ l('Item') }}</th>
                                            <th>{{ l('Actions') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let file of delAggImage; let index = index">
                                            <td>
                                                <strong> {{ file.delAggTypeRefName }}</strong>
                                            </td>
                                            <td>
                                                <strong>{{ toJSON(file.imagePath).fileName }}</strong>
                                            </td>
                                            <td>
                                                <button
                                                    (click)="download(file)"
                                                    type="button"
                                                    class="btn btn-success btn-sm"
                                                >
                                                    <i class="fa fa-download"></i>
                                                </button>
                                                <button
                                                    (click)="remove(index)"
                                                    type="button"
                                                    class="btn btn-danger btn-sm"
                                                >
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-group">
                                    <label>{{ 'Del Agg Type' | localize }}</label>
                                    <p-dropdown
                                        [options]="delAggTypes"
                                        [(ngModel)]="delAggTypeRef"
                                        name="delAggTypeRef"
                                        id="delAggTypeRef"
                                        styleClass="w-100"
                                        [placeholder]="l('Select Agg Type')"
                                        [filter]="true"
                                        optionLabel="displayText"
                                        dataKey="value"
                                        [showClear]="true"
                                    >
                                    </p-dropdown>
                                </div>
                                <div class="form-group">
                                    <input
                                        [disabled]="uploadLoading"
                                        [buttonBusy]="uploadLoading"
                                        name="Images"
                                        id="btn-upload-delAggImage"
                                        type="file"
                                        ng2FileSelect
                                        [uploader]="uploader"
                                    />
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="50%">Name</th>
                                                <th>Size</th>
                                                <th>Progress</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of uploader.queue">
                                                <td>
                                                    <strong>{{ item?.file?.name }}</strong>
                                                </td>
                                                <td *ngIf="uploader.options.isHTML5" nowrap>
                                                    {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                                                </td>
                                                <td>
                                                    <div class="progress" style="margin-bottom: 0">
                                                        <div
                                                            class="progress-bar"
                                                            role="progressbar"
                                                            [ngStyle]="{ width: item.progress + '%' }"
                                                        ></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span *ngIf="item.isSuccess" class="text-success"
                                                        ><i class="fa fa-check-circle"></i
                                                    ></span>
                                                    <span *ngIf="item.isCancel" class="text-warning"
                                                        ><i class="fa fa-times-circle"></i
                                                    ></span>
                                                    <span *ngIf="item.isError" class="text-danger"
                                                        ><i class="fa fa-exclamation-triangle"></i
                                                    ></span>
                                                </td>
                                                <td nowrap>
                                                    <button
                                                        type="button"
                                                        class="btn btn-success btn-sm"
                                                        (click)="upload(item)"
                                                        [buttonBusy]="item.isUploading"
                                                        [disabled]="item.isReady || item.isUploading || item.isSuccess"
                                                    >
                                                        <span class="fa fa-upload"></span> Upload
                                                    </button>
                                                    <button
                                                        type="button"
                                                        class="btn btn-warning btn-sm"
                                                        (click)="item.cancel()"
                                                        [disabled]="!item.isUploading"
                                                    >
                                                        <span class="fa fa-times-circle"></span> Cancel
                                                    </button>
                                                    <button
                                                        type="button"
                                                        class="btn btn-danger btn-sm"
                                                        (click)="removeFile(item)"
                                                    >
                                                        <span class="fa fa-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <button
                                        [disabled]="!delAggTypeRef || !delAggImageItem.imagePath"
                                        type="button"
                                        class="btn btn-primary"
                                        (click)="addImage()"
                                    >
                                        {{ l('Add') + ' ' + l('Image') }}
                                    </button>
                                </div>
                            </tab>
                            <tab *ngIf="delAggModifierGroup?.id" [heading]="l('Modifiers')">
                                <div class="mt-8">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-primary" (click)="addModifier()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row mt-8">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>{{l("Modifier")}}</th>
                                                    <th>{{l("Action")}}</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                            <tr *ngFor="let data of delaggModifierItems">
                                                <td>
                                                    {{data.name}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteModifier(data)">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm" (click)="editModifier(data.id)">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button
                                [disabled]="isLoading"
                                (click)="back()"
                                type="button"
                                class="btn btn-outline-secondary"
                            >
                                {{ l('Back') }}
                            </button>
                            <button
                                [disabled]="form.invalid || isLoading"
                                [buttonBusy]="isLoading"
                                [busyText]="l('SavingWithThreeDot')"
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ l('Save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-add-edit-cluster-modifier-modal #addEditClusterModifierModal (saved)="onSavedModifier()"></app-add-edit-cluster-modifier-modal>
<app-cluster-language-description-modal #clusterLanguageDescriptionModal></app-cluster-language-description-modal>
