<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ 'ExportHourlySalesReport' | localize }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{l("Duration")}}:</label>
                            <div class="btn-group ml-1">
                                <select name="duration" id="duration" class="form-control"
                                    [(ngModel)]="duration">
                                    <option *ngFor="let method of durations" [value]="method.id">{{ method.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{l("Type")}}:</label>
                            <div class="btn-group ml-1">
                                <select name="exportOutput" id="exportOutput" class="form-control"
                                    [(ngModel)]="exportOutput">
                                    <option *ngFor="let method of exportOutputs" [value]="method.id">{{ method.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group d-flex justify-content-between mt-4">
                            <label class="checkbox checkbox-outline">
                                <input [(ngModel)]="byLocation" type="checkbox" name="byLocation"
                                    value="true" />{{"Location" | localize}}
                                <span></span>
                            </label>                            
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button"
                    (click)="export()">
                    <i class="la-file-excel-o"></i> {{ l('Export') }}
                </button>
                <button type="button" class="btn btn-default" (click)="close()">{{l("Close")}}</button>

            </div>
        </div>