<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Your Flyers' | localize">
            <div role="actions">
                <button
                    *ngIf="isGranted('Pages.Tenant.Flyer.Manage.Flyer.Create')"
                    (click)="craeteOrUpdate()"
                    class="btn btn-primary"
                >
                    {{ l('Add Flyer') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #flyerTable
                                (onLazyLoad)="getList($event)"
                                [value]="primengTableHelper.records"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                styleClass="mystyle"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="name">
                                            {{ l('Flyer Name') | uppercase }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>

                                        <th style="width: 250px" class="text-right">
                                            <span class="mr-5">
                                                {{ l('Actions') | uppercase }}
                                            </span>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div
                                                    class="flyer-image-preview"
                                                    style="background-image: url('./assets/image/{{ record.file }}');"
                                                ></div>
                                                <div class="ml-5 d-flex flex-column justify-content-center">
                                                    <div class="mb-1">
                                                        <b>{{ record.name }}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width: 250px" class="text-right">
                                            <div class="d-flex flex-row align-item-center">
                                                <button (click)="downloadBase64File(record.flyer, record.name)" type="button" class="btn btn-small btn-outline-secondary mr-5">
                                                    <i class="fa fa-print" aria-hidden="true"></i>
                                                </button>

                                                <div class="btn-group dropdown" dropdown container="body" style="margin-right: 8px">
                                                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-actions">
                                                        <!-- <i class="fa fa-cog"></i> -->
                                                        <span class="caret"></span>
                                                        <span class="mr-5">{{ 'Actions' | localize }}</span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                                        <li *ngIf="isGranted('Pages.Tenant.Flyer.Manage.Flyer.Edit')">
                                                            <a class="dropdown-item" (click)="craeteOrUpdate(record)">{{ l('Edit') }}</a>
                                                        </li>
                                                        <li *ngIf="isGranted('Pages.Tenant.Flyer.Manage.Flyer.Delete')">
                                                            <a class="dropdown-item" (click)="delete(record)">{{ l('Delete') }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #flyerPaginator
                                    (onPageChange)="getList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
