<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <!-- Header -->
    <sub-header [title]="!isEdit ? l('CreateSettingTemplate') : (l('EditSettingTemplate')+ ': ' + template.name)">
    </sub-header>
    <!-- End Header -->

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">

          <!-- Form -->
          <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="save()">
            <input type="submit" hidden />

            <!-- Name -->
            <div class="form-group col-md-6">
              <label for="templateName">{{l("Name")}} *</label>
              <input autoFocus #templateName="ngModel" [(ngModel)]="template.name" type="text" id="templateName"
                class="form-control" name="templateName" required />
              <validation-messages [formCtrl]="templateName"></validation-messages>
            </div>

            <!-- Default Value -->
            <div class="form-group col-md-6">
              <label for="templateName">{{l("DefaultValue")}} *</label>
              <input #templateDefaultValue="ngModel" [(ngModel)]="template.defaultValue" type="text"
                id="templateDefaultValue" class="form-control" name="templateDefaultValue" required />
              <validation-messages [formCtrl]="templateDefaultValue"></validation-messages>
            </div>
          </form>
          <!-- End Form -->

          <!-- Program Setting Values -->
          <div class="row" [hidden]="!isEdit">
            <div class="col-12">
              <div class="d-flex align-items-center mb-3">
                <h6 class="flex-grow-1">{{valueInput.id ? l('Edit') : l('Add')}} {{l('ValuesBasedOnLocations')}}</h6>
              </div>

              <form #valueForm="ngForm" class="row mb-3" novalidate autocomplete="off" (ngSubmit)="saveValue()">
                <div class="col-md-6">
                  <div class="d-flex align-items-end">
                    <div class="form-group mr-3">
                      <button type="button" class="btn btn-outline-success" (click)="openValueSelectLocationOrGroup()">
                        <span>{{l("SelectLocation")}}</span>
                      </button>

                    </div>

                    <div class="form-group flex-grow-1 position-relative">
                      <label for="valueInputActualValue">{{l("Value")}} *</label>
                      <input #valueInputActualValue="ngModel" [(ngModel)]="valueInput.actualValue" type="text"
                        id="valueInputActualValue" class="form-control" name="valueInputActualValue" required />
                      <validation-messages [formCtrl]="valueInputActualValue" class="position-absolute"
                        style="left: 0; bottom: -1.25rem;"></validation-messages>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="d-flex align-items-end h-100">
                    <div class="form-group w-100">
                      <button type="button" class="btn btn-primary blue float-right float-md-none"
                        [disabled]="!valueFormIsValid" [buttonBusy]="savingValue" [busyText]="l('SavingWithThreeDot')"
                        (click)="saveValue()">
                        <span>{{l("Save")}}</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-12">
              <div class="d-flex align-items-center mb-3">
                <h6 class="flex-grow-1">{{l('ProgramSettingValue')}}</h6>

                <button type="button" class="btn btn-secondary mr-1" (click)="clear()">
                  <i class="fas fa-eraser"></i>
                  {{l('Clear')}}
                </button>

                <button type="button" class="btn btn-secondary" (click)="openFilterSelectLocationOrGroup()">
                  <i class="fas fa-filter"></i>
                  {{l('Filter')}}
                </button>
              </div>

              <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                <p-table #valueDataTable [value]="primengTableHelper.records"
                  rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                  [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                  [resizableColumns]="primengTableHelper.resizableColumns" (onLazyLoad)="getValues($event)">

                  <ng-template pTemplate="colgroup">
                    <colgroup>
                      <col>
                      <col>
                      <col>
                      <col>
                    </colgroup>
                  </ng-template>

                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="actualValue">
                        {{l('Value')}}
                        <p-sortIcon field="actualValue"></p-sortIcon>
                      </th>

                      <th>{{l('View')}}</th>
                      <th>{{l('Edit')}}</th>
                      <th>{{l('Delete')}}</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                      <td>
                        <span class="ui-column-title">{{l('Value')}}</span>
                        {{record.actualValue}}
                      </td>

                      <td>
                        <span class="ui-column-title"> {{l('View')}}</span>
                        <button class="btn-secondary btn" type="button" (click)="viewValue(record)">
                          <i class="fas fa-eye"></i>{{l('View')}}
                        </button>
                      </td>

                      <td>
                        <span class="ui-column-title"> {{l('Edit')}}</span>
                        <button class="btn-secondary btn" type="button" (click)="editValue(record)">
                          <i class="flaticon-edit"></i>{{l('Edit')}}
                        </button>
                      </td>

                      <td>
                        <span class="ui-column-title"> {{l('Delete')}}</span>
                        <button class="btn-secondary btn" type="button" (click)="deleteValue(record)">
                          <i class="fa fa-trash"></i>
                          {{l('Delete')}}
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                  {{l('NoData')}}
                </div>

                <div class="primeng-paging-container">
                  <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #valuePaginator
                    (onPageChange)="getValues($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                  </p-paginator>

                  <span class="total-records-count">
                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Program Setting Values -->

          <div class=" modal-footer px-0 pb-0">
            <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
              {{l("Cancel")}}
            </button>

            <button type="button" class="btn btn-primary blue" [disabled]="!formIsValid" [buttonBusy]="saving"
              [busyText]="l('SavingWithThreeDot')" (click)="save()">
              <i class="fa fa-save"></i>
              <span>{{l("Save")}}</span>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- SelectLocationOrGroup -->
  <select-location-or-group #selectLocationOrGroup (locationAdded)="setValueLocations($event)">
  </select-location-or-group>

  <select-location-or-group #filterSelectLocationOrGroup (locationAdded)="setValueFilterLocations($event)">
  </select-location-or-group>
  <!-- End SelectLocationOrGroup -->
</div>