<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid customer-order">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off" (submit)="getAll()">
                        <div class="row align-items-center">
                            <div class="form-group col-md-6">
                                <label for="SampleDatePicker" class="col-md-12">Student/Staff Name, ID Card Number</label>
                                <div class="input-group">
                                    <input [(ngModel)]="term" name="filterText" autoFocus class="form-control m-input" type="text" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="OrderDate" class="col-md-12">Order Date</label>
                                <div class="">
                                    <input
                                        id="OrderDate"
                                        type="text"
                                        name="OrderDate"
                                        class="form-control"
                                        bsDatepicker
                                        datePickerMomentModifier
                                        [(date)]="date"
                                        [bsConfig]="{ adaptivePosition: true }"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-sm-12 text-right">
                                <div class="d-flex flex-wrap justify-content-end">
                                    <label for="isPickedUp" class="checkbox mr-2 col-xs-12">
                                        <input [(ngModel)]="isPickedUp" id="isPickedUp" name="isPickedUp" type="checkbox" />
                                        {{ l('Picked up') }}
                                        <span></span>
                                    </label>
                                    <div class="flex-fill"></div>
                                    <button style="width: 150px;" type="submit" class="btn btn-primary col-xs-12 mt-1" (click)="getAll()">
                                        {{ l('Search') }}
                                    </button>
                                    <button style="width: 150px;" type="button" class="btn btn-primary ml-md-1 col-xs-12 mt-1" (click)="refresh()">
                                        {{ l('Refresh') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="align-items-center">
                                <div class="row align-items-center">
                                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                        <p-dataView
                                            #ordersListView
                                            [layout]="'grid'"
                                            [value]="primengTableHelper.records"
                                            [paginator]="false"
                                            [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                            [lazy]="true"
                                            (onLazyLoad)="getAll($event)"
                                            [loading]="primengTableHelper.isLoading"
                                        >
                                            <ng-template let-order pTemplate="gridItem">
                                                <div
                                                    style="padding: 0.5em; margin-top: 5px"
                                                    class="col-md-3 col-lg-4"
                                                >
                                                    <p-card [style]="{ width: '100%', height: '100%', position: 'relative' }" styleClass="ui-card-shadow">
                                                        <div class="order-detail mb-5">
                                                            <h6 class="d-flex flex-row justify-content-between align-items-center">
                                                                <span class="font-weight-bold">Customer Name</span>
                                                                <span class="text-danger">{{ order.customerName }}</span>
                                                            </h6>
                                                            <span class="d-flex flex-row justify-content-between align-items-center mb-4">
                                                                <span class="font-weight-bold">Student/Staff ID Card Number</span>
                                                                <span class="text-danger">{{ order.jsonDataObject.cardID }}</span>
                                                            </span>
                                                            <h6 style="margin: 10px 0" class="font-weight-bold">Orders</h6>
                                                            <table class="order-summary w-100 mb-3">
                                                                <tr class="order-item">
                                                                    <td class="info font-weight-bold">Date</td>
                                                                    <td class="quantity text-right">{{ order.orderDate?.format('DD/MM/YYYY') }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="font-weight-bold">Meal Plan</td>
                                                                    <td class="quantity text-right text-success">{{ order.productOfferName }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" class="font-weight-bold">Product Set</td>
                                                                </tr>
                                                                <tr class="order-item">
                                                                    <td class="info text-success">{{ order.choiceOfSet }} - {{ order.mealTime }}</td>
                                                                    <td class="quantity text-right text-success">{{ order.quantity }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" class="font-weight-bold">Addons</td>
                                                                </tr>
                                                                <ng-container *ngIf="order.addOn.length > 0; else NATemplate">
                                                                    <tr class="order-item" *ngFor="let item of order.addOn; let i = index">
                                                                        <td class="info">
                                                                            {{ item.label }}
                                                                        </td>
                                                                        <td class="quantity text-right">{{ item.quantity }}</td>
                                                                    </tr>
                                                                </ng-container>
                                                                <ng-template #NATemplate>
                                                                    <tr>
                                                                        <td colspan="2">N/A</td>
                                                                    </tr>
                                                                </ng-template>
                                                                <tr class="order-item">
                                                                    <td class="info font-weight-bold">Time Slot</td>
                                                                    <td class="quantity text-right">{{ order.timeSlotFormTo?.from }} - {{ order.timeSlotFormTo?.to }}</td>
                                                                </tr>
                                                            </table>
                                                            <div
                                                                *ngIf="order.pickedUpTime"
                                                                class="d-flex flex-row justify-content-between align-items-center mb-1"
                                                            >
                                                                <span class="badge badge-success p-2">Collected</span>
                                                                <span class="ticket-note">{{ order.pickedUpTime?.format('DD/MM/YYYY') }}</span>
                                                            </div>
                                                        </div>
                                                        <p-footer >
                                                            <ng-container *ngIf="order.pickedUpTime">
                                                                <button
                                                                    pButton
                                                                    type="button"
                                                                    style="position: absolute; left: 10px; bottom: 10px"
                                                                    [label]="'Mark Uncollected'"
                                                                    [style]="{ border: 'none', backgroundColor: '#dc3545' }"
                                                                    (click)="markCollected(order.orderId, false)"
                                                                ></button>
                                                            </ng-container>
                                                            <ng-container *ngIf="!order.pickedUpTime">
                                                                <button
                                                                    pButton
                                                                    type="button"
                                                                    style="position: absolute; left: 10px; bottom: 10px"
                                                                    [label]="'Mark Collected'"
                                                                    [style]="{ border: 'none', backgroundColor: '#1cbcd8' }"
                                                                    (click)="markCollected(order.orderId)"
                                                                ></button>
                                                                <button
                                                                    pButton
                                                                    type="button"
                                                                    style="position: absolute; right: 10px; bottom: 10px"
                                                                    label="Remind"
                                                                    [style]="{ border: 'none', backgroundColor: '#ff8d60' }"
                                                                    (click)="remind(order.orderId)"
                                                                ></button>
                                                            </ng-container>
                                                        </p-footer>
                                                    </p-card>
                                                </div>
                                            </ng-template>
                                        </p-dataView>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator
                                                (onPageChange)="getAll($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                            >
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
