<div class="wrapper-welcome">
    <div class="wrapper-nav-bar">
        <button class="burger-btn" (click)="showMenu()" *ngIf="accountService.userValue?.id">
      <img src="assets/image/close-burger.png" alt="" />
    </button>
        <div class="wrapper-logo" *ngIf="logoUrl">
            <img [src]="logoUrl" class="logo" />
        </div>
    </div>
    <div id="title" [innerHtml]="welcomeMessage"></div>
    <p id="note">Select Order Type</p>
    <div class="wrapper-list">
        <div *ngIf="wheelDepartments.length > 0; else orderNoData">
            <ng-container *ngFor="let wheelDepartment of wheelDepartments">
                <div class="item-card" *ngIf="wheelDepartment.wheelOrderType != 1 && !wheelDepartment.isEnableTable" [ngClass]="{active: selectedDepartment && wheelDepartment.id === selectedDepartment.id}" (click)="selectDepartment(wheelDepartment)">
                    <div class="icon">
                        <img src="assets/image/take-away.png" alt="" *ngIf="wheelDepartment.wheelOrderType === 0" />
                        <img src="assets/image/dine-in.png" alt="" *ngIf="wheelDepartment.wheelOrderType === 2" />
                        <img src="assets/image/dine-in.png" alt="" *ngIf="wheelDepartment.wheelOrderType === 3" />
                    </div>
                    <div class="name">{{ wheelDepartment.name }}</div>
                </div>
                <div class="item-card" *ngIf="wheelDepartment.wheelOrderType == 1 && !wheelDepartment.isEnableTable" [ngClass]="{active: selectedDepartment && wheelDepartment.id === selectedDepartment.id}" (click)="selectDepartment(wheelDepartment)">
                    <div class="icon">
                        <img src="assets/image/delivery.png" alt="" *ngIf="wheelDepartment.wheelOrderType === 1" />
                    </div>
                    <div class="name">{{ wheelDepartment.name }}</div>
                </div>
            </ng-container>
        </div>
        <ng-template #orderNoData>
            <p style="text-align: center">No data</p>
        </ng-template>
        <div *ngIf="!accountService.userValue?.id" class="d-flex">
            <span class="sign-up__info__terms m-auto">Have an account?
        <a routerLink="/sign-in">Sign in</a></span>
        </div>
    </div>
</div>

<ng-container *ngIf="accountService.userValue?.id">
    <app-left-side-menu [hidden]="true" #leftMenuRef> </app-left-side-menu>
</ng-container>