.wrapper-welcome {
  .burger-btn {
    width: 3rem;
    outline: none;
    border: none;
    background: unset;
    padding: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 3px;
  }

  .login-btn {
    outline: none;
    border: none;
    background: unset;
    padding: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 15px;

    i {
      font-size: 1.5rem;
      color: var(--btn-dine-primary);
    }
  }

  .wrapper-logo {
    margin: 0 auto;

    .logo {
      width: 100%;
    }
  }

  #title {
    color: #282144;
    // font-family: "New York";
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 3rem;
    text-align: center;
    margin: 0;
  }

  #note {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .wrapper-list {
    width: 100%;
    margin: auto;
    height: auto;
    padding-bottom: 3rem;

    .item-card {
      display: flex;
      align-items: center;
      border-radius: 4px;
      background-color: #f3f3f4;
      margin: 0 auto 1rem auto;
      width: 16rem;
      min-height: 3rem;
      padding: 0.5rem 0;
      cursor: pointer;

      .icon {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1.5rem;
        }
      }

      .name {
        width: 82%;
        font-weight: 600;
      }

      &:focus,
      &:hover,
      &:active,
      &.active {
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #ebaa6c !important;
        box-shadow: 0 1px 8px 0 #ebaa6c !important;
      }
    }
  }

  .btn-dine-primary {
    width: 100%;
  }
}

.backward-btn {
  height: 5rem;
}
