<div appBsModal #createOrEditModal="bs-modal" class="modal fade" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #comboGroupForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="isEdit">{{l("EditComboGroup")}}: {{comboGroup.name}}</span>
            <span *ngIf="!isEdit">{{l("CreateNewComboGroup")}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="ComboGroup_Name">{{l("Name")}} *</label>
              <input autoFocus type="text" id="ComboGroup_Name" class="form-control" [(ngModel)]="comboGroup.name" name="Name"
                minlength="0" maxlength="255" required #nameInput="ngModel" />
              <validation-messages [formCtrl]="nameInput"></validation-messages>
            </div>

            <div class="form-group col-md-6">
              <label for="ComboGroup_SortOrder">{{l("SortOrder")}}</label>
              <input type="number" id="ComboGroup_SortOrder" class="form-control" [(ngModel)]="comboGroup.sortOrder"
                name="SortOrder" />
            </div>

            <div class="form-group col-md-6">
              <label for="ComboGroup_Minimum">{{l("Minimum")}}</label>
              <input type="number" id="ComboGroup_Minimum" class="form-control" [(ngModel)]="comboGroup.minimum"
                name="Minimum" />
            </div>

            <div class="form-group col-md-6">
              <label for="ComboGroup_Maximum">{{l("Maximum")}}</label>
              <input type="number" id="ComboGroup_Maximum" class="form-control" [(ngModel)]="comboGroup.maximum"
                name="Maximum" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
          <button type="submit" class="btn btn-primary blue" [disabled]="!comboGroupForm.form.valid"
            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
            <span>{{l("Save")}}</span></button>
        </div>
      </form>

    </div>
  </div>
</div>