<div *ngIf="alerts.length">
    <div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
        <a *ngIf="enableClose" class="close" (click)="removeAlert(alert)">&times;</a>
        <span>{{alert.message.error.error.details}}</span>
    </div>
</div>