<section class="login orange_bg pt-150">
    <div class="container-fluid">
        <article style="background-image: url('./assets/static/svg/vector-login.svg'); background-repeat: no-repeat; background-position: center">
            <div class="login-form">
                <h4 class="pb-4">Login or Create an Account</h4>
                <form class="px-4 py-3" #loginForm="ngForm" method="post" novalidate (ngSubmit)="login()">
                    <div class="form-group">
                        <input
                            #userNameOrEmailAddressInput="ngModel"
                            [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
                            autoFocus
                            class="form-control m-input"
                            type="email"
                            autocomplete="new-password"
                            placeholder="{{ 'UserNameOrEmail' | localize }} *"
                            name="userNameOrEmailAddress"
                            required
                            id="Username"
                        />
                        <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
                    </div>
                    <div class="form-group">
                        <input
                            #passwordInput="ngModel"
                            [(ngModel)]="loginService.authenticateModel.password"
                            class="form-control m-input"
                            type="password"
                            autocomplete="new-password"
                            placeholder="{{ 'Password' | localize }} *"
                            name="password"
                            required
                            maxlength="32"
                            id="exampleDropdownFormPassword1"
                        />
                        <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
                    </div>
                    <button type="submit" class="btn orange-btn">LOGIN</button>
                    <h4 class="py-4">
                        <a class="text-orange text-center" routerLink="/portal/forgot-password">Forget you password?</a>
                    </h4>
                </form>

                <div class="create-account">
                    <span> Sign Up to try a Tiffins home-style meal. </span>
                    <a routerLink="/portal/register" class="btn green-btn">CREATE AN ACCOUNT</a>
                </div>
            </div>
            <!-- login form ends -->
        </article>
    </div>
</section>
