.about-us {
    cursor: pointer;
}

@media (min-width: 991px) {
    .login {
        padding-top: 150px;
        margin-bottom: 40px;
    }
}

@media (max-width: 991px) {
    .login {
        padding-top: 50px;
        margin-bottom: 10px;
    }
}