<section class="login yellow_bg">
    <div class="bg-img-1">
        <img src="./assets/static/Images/pasta.png" alt="" />
    </div>
    <div class="bg-img-2">
        <img src="./assets/static/Images/pizza.png" alt="" />
    </div>
    <div class="bg-img-3">
        <img src="./assets/static/Images/burger.png" alt="" />
    </div>
    <div class="container">
        <article class="row">
            <!-- login form -->
            <div class="login-form col-12">
                <form #loginForm="ngForm" method="post" novalidate (ngSubmit)="login()">
                    <div class="logo">
                        <div class="logo-main" routerLink="/portal">
                            <img src="./assets/static/Images/Stack_Logo.jpeg" alt="" />
                        </div>
                        <div class="logo-sub">
                            <img src="./assets/static/Images/NPS-International-School-Logo.png" alt="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <h2>Welcome back to Stack Cafeteria Concepts</h2>
                    </div>
                    <div class="form-group">
                        <input
                            #userNameOrEmailAddressInput="ngModel"
                            [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
                            autoFocus
                            class="form-control m-input"
                            type="email"
                            autocomplete="new-password"
                            placeholder="{{ 'UserNameOrEmail' | localize }} *"
                            name="userNameOrEmailAddress"
                            required
                            id="Username"
                        />
                        <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
                    </div>
                    <div class="form-group">
                        <input
                            #passwordInput="ngModel"
                            [(ngModel)]="loginService.authenticateModel.password"
                            class="form-control m-input"
                            type="password"
                            autocomplete="new-password"
                            placeholder="{{ 'Password' | localize }} *"
                            name="password"
                            required
                            maxlength="32"
                            id="exampleDropdownFormPassword1"
                        />
                        <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <a class="form-check-label remember-label" routerLink="/portal/forgot-password"> Forgot Your Password? </a>
                        <button type="submit" class="btn btn-primary btn-login">Login</button>
                    </div>
                </form>

                <div class="create-account">
                    <div>
                        <span> New here? </span>
                        <a routerLink="/portal/register" class="btn-create">Create an account</a>
                    </div>
                    <div class="about-us" routerLink="/portal/aboutUs">
                        <a class="icon-arow"></a>
                        About us
                    </div>
                </div>
            </div>
            <!-- login form ends -->
        </article>
    </div>
</section>