<div class="dine-container" #containerRef [ngClass]="{'desktop-hide': hidden}">
    <div class="wrapper-left-menu">
        <div class="wrapper-avatar">
            <img src="{{ userAvatarUrl }}" alt="" class="avatar" />
        </div>
        <p id="user-phonenumber">{{ _appSession.user.phoneNumber }}</p>
        <p class="user-email text-center" *ngIf="_appSession.user.emailAddress">{{ _appSession.user.emailAddress }}</p>
        <div class="wrapper-select-menu" *ngIf="_appSession.user.userId">
            <span class="lbl-select" [routerLink]="['/my-order']" routerLinkActive="router-link-active">My Orders</span>
        </div>
        <app-select-collapse [selectMenuTitle]="'Language'" [selectMenuData]="languageDataItem"></app-select-collapse>
        <app-select-collapse [selectMenuTitle]="'Location'" [selectMenuData]="locationSelectData"></app-select-collapse>
        <app-select-collapse [selectMenuTitle]="'My Account'" [selectMenuData]="myAccount" *ngIf="_appSession.user">
        </app-select-collapse>
        <div class="wrapper-select-menu" *ngIf="_appSession.user.userId && isContinueOrder">
            <span class="lbl-select" (click)="continueOrder()">Continue Order</span>
        </div>
        <div class="wrapper-select-menu" *ngIf="_appSession.user.userId">
            <span class="lbl-select" (click)="logout()">Logout</span>
        </div>
        <footer>
            <a [routerLink]="['/terms-and-conditions']">Terms & Conditions  </a>
            <a [routerLink]="['/faqs']">FAQS </a>
            <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
        </footer>
    </div>
</div>