$time-animate: 0.3s;

body {
  overflow: hidden;
}

:host {
  @media (max-width: 1024px) {
    .dine-container {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      display: none;
      background-color: #00000080;
    }
  }

  .dine-container.desktop-hide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    background-color: #00000080;
  }

  .dine-container {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    .wrapper-left-menu {
      height: 100%;
      width: 16rem;
      max-width: 65vw;
      position: absolute;
      left: 0;
      top: 0;
      background-color: white;
      animation-name: flyInLeft;
      animation-duration: $time-animate;
      animation-iteration-count: 1;

      .wrapper-avatar {
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;

        .avatar {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background-color: var(--app-dine-bg);
        }
      }

      #user-phonenumber {
        text-align: center;
        margin: 0;
      }

      &.hide {
        animation-name: hideMenu;
        animation-duration: $time-animate;
        animation-iteration-count: 1;
      }
    }
  }

  @keyframes flyInLeft {
    0% {
      left: -65%;
    }

    100% {
      left: 0;
    }
  }

  @keyframes hideMenu {
    0% {
      left: 0;
    }

    100% {
      left: -65%;
    }
  }

  .wrapper-select-menu {
    width: 100%;
    display: block;

    .lbl-select {
      position: relative;
      padding: 0.7rem;
      display: block;
      cursor: pointer;

      .arrow-collapse {
        position: absolute;
        right: 0.7rem;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease;

        ::ng-deep .pi {
          font-size: 0.6rem;
        }
      }

      &.expanded {
        .arrow-collapse {
          transform: translateY(-50%) rotateX(180deg);
        }
      }
    }

    .wrapper-select-item {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      .select-item {
        padding: 0.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-item {
          width: 1rem;
          height: 1rem;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .lbl-item {
          width: calc(100% - 2rem);
          padding: 0 0.5rem;
          display: block;
        }

        .icon-check {
          min-width: 1rem;

          ::ng-deep .pi {
            font-size: 1rem;
            color: var(--btn-dine-primary);
          }
        }

        &.active {
          background-color: var(--app-dine-bg);
        }
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
$time-animate: 0.3s;

body {
  overflow: hidden;
}

:host {
  @media (max-width: 1024px) {
    .dine-container {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      display: none;
      background-color: #00000080;
    }
  }

  .dine-container.desktop-hide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    background-color: #00000080;
  }

  .dine-container {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    .wrapper-left-menu {
      height: 100%;
      width: 16rem;
      max-width: 65vw;
      position: absolute;
      left: 0;
      top: 0;
      background-color: white;
      animation-name: flyInLeft;
      animation-duration: $time-animate;
      animation-iteration-count: 1;

      .wrapper-avatar {
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;

        .avatar {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background-color: var(--app-dine-bg);
        }
      }

      #user-phonenumber {
        text-align: center;
        margin: 0;
      }

      &.hide {
        animation-name: hideMenu;
        animation-duration: $time-animate;
        animation-iteration-count: 1;
      }
    }
  }

  @keyframes flyInLeft {
    0% {
      left: -65%;
    }

    100% {
      left: 0;
    }
  }

  @keyframes hideMenu {
    0% {
      left: 0;
    }

    100% {
      left: -65%;
    }
  }

  .wrapper-select-menu {
    width: 100%;
    display: block;

    .lbl-select {
      position: relative;
      padding: 0.7rem;
      display: block;
      cursor: pointer;

      .arrow-collapse {
        position: absolute;
        right: 0.7rem;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease;

        ::ng-deep .pi {
          font-size: 0.6rem;
        }
      }

      &.expanded {
        .arrow-collapse {
          transform: translateY(-50%) rotateX(180deg);
        }
      }
    }

    .wrapper-select-item {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      .select-item {
        padding: 0.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-item {
          width: 1rem;
          height: 1rem;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .lbl-item {
          width: calc(100% - 2rem);
          padding: 0 0.5rem;
          display: block;
        }

        .icon-check {
          min-width: 1rem;

          ::ng-deep .pi {
            font-size: 1rem;
            color: var(--btn-dine-primary);
          }
        }

        &.active {
          background-color: var(--app-dine-bg);
        }
      }
    }
  }
  footer {
    position: fixed;
    bottom: 2.5rem;
    width: 100%;
    padding: 0.7rem;
    width: 16rem;
    a{
      display: list-item;
      text-decoration: none;
      cursor: pointer;
      color: #282144;;
    }
    a:hover{
      text-decoration: underline !important;
      color: var(--btn-dine-primary);
    }
  }
}
