<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'OrderPromotion' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">{{ totalAmount | number: '1.0-2' }}</h3>
                                            <small>{{ l('TotalAmount').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-like"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ totalOrders | number: '1.0-2' }}</h3>
                                            <small>{{ l('TotalOrder').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-cart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-md-12">
                                <div class="dashboard-stat2">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-blue-sharp">{{ totalItems | number: '1.0-2' }}</h3>
                                            <small>{{ l('TotalItem').toUpperCase() }} </small>
                                        </div>
                                        <div class="icon">
                                            <i class="flaticon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="input-group date">
                                    <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                      #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                      [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                    <div class="input-group-append">
                                      <span class="input-group-text" (click)="dp1.toggle()">
                                        <i class="la la-calendar"></i>
                                      </span>
                                    </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label class="control-label">{{l("SelectPromotions")}}</label>
                                  <div>
                                    <button type="button" class="btn btn-primary text-uppercase"
                                      (click)="openPromotionModal()">{{l("Promotions")}}
                                      <span *ngIf="selectedPromotions.length"> - {{selectedPromotions.length}} items</span></button>
                                    <button *ngIf="selectedPromotions.length" class="btn btn-default"
                                      (click)="resetSelectedPromotion()">{{l("Clear")}}</button>

                                  </div>
                                </div>
                              </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l('Terminal')}}</label>
                                    <input type="text" class="form-control" [(ngModel)]="requestParams.terminalName"
                                        name="terminalName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{l("User")}}</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="requestParams.lastModifiedUserName" name="lastModifiedUserName">
                                </div>
                            </div>

                        </div>

                        <!-- <div class="row my-5">
                            <div class="col-md-12">
                                <query-builder #queryBuilder *ngIf="config.fields" [(ngModel)]="query"
                                    [config]="config"
                                    [classNames]="queryBuilderClassNames" name="Conditions">
                                </query-builder>
                            </div>
                        </div> -->
                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary ml-1" (click)="clear()"><i class="la la-crop"></i> {{
                                    l('Clear') }}</button>

                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getData()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{ l('Actions') }}
                                        </th>
                                        <th pSortableColumn="ticketId">
                                            {{ l('Ticket') }}
                                            <p-sortIcon field="ticketId"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="locationName">
                                            {{ l('Location') }}
                                            <p-sortIcon field="locationName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="menuItemName">
                                            {{ l('MenuItem') }}
                                            <p-sortIcon field="menuItemName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="quantity">
                                            {{ l('Quantity') }}
                                            <p-sortIcon field="quantity"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="price">
                                            {{ l('Price') }}
                                            <p-sortIcon field="price"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="promotionAmount">
                                            {{ l('PromoAmount') }}
                                            <p-sortIcon field="promotionAmount"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="creatingUserName">
                                            {{ l('User') }}
                                            <p-sortIcon field="creatingUserName"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <button (click)="showDetails(record)" type="button"
                                                class="btn btn-primary btn-xs">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Ticket') }}</span>
                                            {{ record.ticketId }}
                                        </td>
                                         <td>
                                            <span class="ui-column-title"> {{ l('Location') }}</span>
                                            {{ record.locationName }}
                                        </td>
                                         <td>
                                            <span class="ui-column-title"> {{ l('MenuItem') }}</span>
                                            {{ record.menuItemName }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Quantity') }}</span>
                                            {{ record.quantity | number: '1.2' }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('Price') }}</span>
                                            {{ record.price  | number: '1.2' }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('PromoAmount') }}</span>
                                            {{ record.promotionAmount }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{ l('User') }}</span>
                                            {{ record.creatingUserName }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        <td colspan="8">
                                            <div class="primeng-no-data">
                                                {{ l('NoData') }}
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getData($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

<app-order-promotion-report-detail-modal #detailmodal></app-order-promotion-report-detail-modal>
<select-popup #selectPromotionPopupModal [headers]="['Id','Name']" [dataBinding]="['id','name']"
  [loadData]="getCategorySelection()" (changeValue)="addPromotion($event)" selectionMode="multiple"
  [(selectedValue)]="selectedPromotions" [title]="l('SelectPromotion')"></select-popup>
