<div appBsModal #sortModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{title}}
                </h4>
            </div>

            <div class="modal-body">
                <div class="d-flex">
                    <div class="flex-fill" [dragula]="dragulaStr" [(dragulaModel)]="options">
                        <div class="alert alert-primary" *ngFor="let option of options">{{ option[optionLabel] }}</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                    {{ l('Cancel') }}
                </button>

                <button
                    type="button"
                    class="btn btn-primary blue"
                    [disabled]="saving"
                    [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"
                    (click)="save()"
                >
                    <i class="fa fa-save"></i>
                    <span>{{ l('Save') }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
