<div class="container">
    <div class="col-md-9 reservation-detail">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" (click)="isShow = true">
                <a class="nav-link" id="reservation-detail-tab" data-toggle="tab" role="tab" aria-controls="reservation"
                    [ngClass]="{'active': isShow}">Reservation Details</a>
            </li>
            <li class="nav-item" (click)="isShow = false">
                <a class="nav-link" [ngClass]="{'active': !isShow}" id="client-detail-tab" data-toggle="tab" role="tab"
                    aria-controls="client-detail">Client Details</a>
            </li>
        </ul>
        <form [formGroup]="reservationForm">
            <div class="tab-content" id="myTabContent">
                <div *ngIf="isShow" class="tab-pane active" id="reservation" role="tabpanel"
                    aria-labelledby="reservation-detail-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="label-reservation"> From date/time </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" name="" id="" formControlName="fromDate"
                                        class="reservation-input width-100">
                                </div>
                                <div class="col-md-6 d-flex">
                                    <select formControlName="hourFrom" class="reservation-input width-50">
                                        <option *ngFor="let item of hourList" [ngValue]="item">{{item}}
                                        </option>
                                    </select>
                                    <select formControlName="minuteFrom" class="reservation-input width-50">
                                        <option *ngFor="let item of minuteList" [ngValue]="item">{{item}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="label-reservation"> To date/time </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" name="" id="" formControlName="toDate"
                                        class="reservation-input width-100">
                                </div>
                                <div class="col-md-6 d-flex">
                                    <select formControlName="hourTo" class="reservation-input width-50">
                                        <option *ngFor="let item of hourList" [ngValue]="item">{{item}}
                                        </option>
                                    </select>
                                    <select formControlName="minuteTo" class="reservation-input width-50">
                                        <option *ngFor="let item of minuteList" [ngValue]="item">{{item}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-12 line"></div>
                        <div class="col-md-3 d-flex flex-column">
                            <p class="label-reservation">
                                Unique ID
                            </p>
                            <input type="text" name="" id="" formControlName="uniqueId"
                                class="reservation-input width-100">
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <p class="label-reservation">
                                Status
                            </p>
                            <select formControlName="status" class="reservation-input width-100">
                                <option ngValue="">--Choose--</option>
                                <option ngValue="Cancelled">Cancelled</option>
                                <option ngValue="Confirmed">Confirmed</option>
                                <option ngValue="Enquiry">Enquiry</option>
                                <option ngValue="Pending">Pending</option>
                            </select>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <p class="label-reservation">
                                Deposit fee
                            </p>
                            <div class="d-flex flex-row">
                                <input type="text" name="" id="" formControlName="depositFee"
                                    class="reservation-input width-100">
                                <span class="reservation-input">$</span>
                            </div>
                        </div>
                        <div class="col-md-3  d-flex flex-column">
                            <p class="label-reservation">
                                Voucher code
                            </p>
                            <input type="text" name="" id="" formControlName="voucherCode"
                                class="reservation-input width-100">
                        </div>
                        <div class="col-12 line"></div>
                        <div class="col-md-3 d-flex flex-column">
                            <p class="label-reservation">
                                Payment method
                            </p>
                            <select formControlName="paymentMethod" class="reservation-input width-100">
                                <option ngValue="">--Choose--</option>
                                <option ngValue="cash">Cash</option>
                            </select>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <p class="label-reservation">
                                Deposit paid
                            </p>
                            <label class="switch">
                                <input type="checkbox" id="togBtn" formControlName="depositPaid"
                                    class="reservation-input">
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <div class="col-md-3 d-flex flex-column">
                            <p class="label-reservation">
                                People
                            </p>
                            <input type="number" name="" id="" min="1" formControlName="people"
                                class="reservation-input width-100">
                        </div>
                        <div class="col-12 line"></div>

                        <div class="add-table">
                            <button (click)="addTable()" class="btn-add-table">Add table</button>
                            <div class="col-md-6">
                                <p class="label-reservation">Table name</p>
                                <div formArrayName="tableIds">
                                    <div class="table-reservation mb-2"
                                        *ngFor="let table of tableIds.controls; index as i">
                                        <select [formControlName]="i" class="reservation-input width-85 ">
                                            <option [ngValue]="item.id" *ngFor="let item of tableList">
                                                {{item.id}} - {{item.name}}-{{item.capacity}}
                                                {{item.capacity > 1 ? 'People' : 'Person'}}
                                            </option>
                                        </select>
                                        <button (click)="removeTable(i)" class="btn-remove">x</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 line"></div>
                    <div class="row">
                        <div class="btn-action">
                            <button type="submit" class="btn-save" (click)="onSubmit()">Save</button>
                            <button class="btn-cancel" (click)="onCancel()">Cancel</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isShow" class="tab-pane active" id="client-detail" role="tabpanel"
                    aria-labelledby="client-detail-tab">
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">Title</p>
                            <select formControlName="title" class="reservation-input width-100">
                                <option ngValue="">--Choose--</option>
                                <option ngValue="Mr">Mr</option>
                                <option ngValue="Mrs">Mrs</option>
                                <option ngValue="Ms">Ms</option>
                                <option ngValue="Dr">Dr</option>
                                <option ngValue="Prof">Prof</option>
                                <option ngValue="Rev">Rev</option>
                                <option ngValue="Other">Other</option>
                            </select>
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">First name</p>
                            <input type="text" name="" id="" formControlName="firstName"
                                class="reservation-input width-100">
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">Last name</p>
                            <input type="text" name="" id="" formControlName="lastName"
                                class="reservation-input width-100">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">Email</p>
                            <input type="email" name="" id="" formControlName="email"
                                class="reservation-input width-100">
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">Phone</p>
                            <input type="text" name="" id="" formControlName="phone"
                                class="reservation-input width-100">
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">Company name</p>
                            <input type="text" name="" id="" formControlName="companyName"
                                class="reservation-input width-100">
                        </div>
                    </div>
                    <div class="col-12 line"></div>
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">Address</p>
                            <input type="text" name="" id="" formControlName="address"
                                class="reservation-input width-100">
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">City</p>
                            <input type="text" name="" id="" formControlName="city" class="reservation-input width-100">
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">County/Region/State</p>
                            <input type="text" name="" id="" formControlName="state"
                                class="reservation-input width-100">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">Postcode/Zip</p>
                            <input type="text" name="" id="" formControlName="postcode"
                                class="reservation-input width-100">
                        </div>
                        <div class="col-md-4 d-flex flex-column">
                            <p class="label-reservation">Country</p>

                            <select formControlName="country" class="reservation-input width-100">
                                <option ngValue="">--Choose--</option>
                                <option ngValue="{{country.id}}" *ngFor="let country of dropdownList">{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 line"></div>
                    <div class="row">
                        <p class="label-reservation">Note</p>
                        <textarea name="" id="" rows="3" formControlName="note"
                            class="reservation-input width-100"></textarea>
                    </div>
                    <div class="col-12 line"></div>
                    <div class="row">
                        <div class="btn-action">
                            <button class="btn-save" (click)="onSubmit()">Save</button>
                            <button class="btn-cancel" (click)="onCancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>