::ng-deep.multiselect-item-checkbox input[type="checkbox"] + div:before {
    display: none;
}
::ng-deep.multiselect-item-checkbox input[type="checkbox"]:checked + div:after {
    display: none;
}

.table-reservation {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.label-reservation {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
}

.reservation-input {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
}
.width-100 {
    width: 100%;
}
.width-50 {
    width: 50%;
}
.width-85 {
    width: 85%;
}
.line {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 30px 0;
}
.btn-add-table {
    padding: 10px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: none;
    border-radius: 3px;
    border: 1px solid #0a5114;
    color: #0a5114;
    margin-bottom: 25px;
    width: 120px;
    margin-left: 15px;
}
.btn-remove {
    background: none;
    border-color: #ec4758;
    border: 1px solid #ec4758;
    color: #ec4758;
    outline: 0;
    padding: 6px 12px;
    border-radius: 3px;
    margin-left: 25px;
}
.btn-save {
    padding: 10px 16px;
    font-size: 18px;
    background: #0a5114;
    border-radius: 3px;
    color: white;
    border: none;
}
.btn-cancel {
    padding: 10px 16px;
    font-size: 18px;
    background: white;
    border-radius: 3px;
    color: #676a6c;
    border: 1px solid #676a6c;
    margin-right: 15px;
}
::ng-deep .dropdown-btn {
    display: inline-block;
    border: 1px solid #e5e6e7 !important;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
}
.add-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btn-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
}
.nav-item {
    cursor: pointer;
}
.tab-content {
    margin-top: 35px;
}

.active {
    color: blue !important;
}
.nav-item > a {
    color: #676a6c;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
}

.slider:after {
    content: "OFF";
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content: "ON";
}
.reservation-detail{
    background: white;
    padding: 15px;
}