<div appBsModal #createOrEditModal="bs-modal" class="modal fade" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #editingItemForm="ngForm" novalidate (ngSubmit)="saveAndNext()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{l("Edit")}} <strong>{{l("MenuItem")}}: {{editingItem.menuName}} </strong>
              <i>({{editingItem.portionName}})</i></span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="form-group col-md-12">
              <label for="PriceTag_Price">{{l("Price")}}</label>
              <input autoFocus type="number" id="PriceTag_Price" class="form-control" [(ngModel)]="editingItem.price" name="Price"
                minlength="0" maxlength="50" required #PriceInput="ngModel" disabled />
              <validation-messages [formCtrl]="PriceInput"></validation-messages>
            </div>

            <div class="form-group col-md-12">
              <label for="PriceTag_TagPrice">{{l("TagPrice")}}</label>
              <input type="number" id="PriceTag_TagPrice" class="form-control" [(ngModel)]="editingItem.tagPrice"
                name="TagPrice" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="saving || currentIndex == 0" title="Page Up" class="btn btn-secondary"
            (click)="previous()"><i class="fa fa-arrow-left"></i> <span>{{l("Previous")}}</span>
          </button>
          <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
          <button [buttonBusy]="saving" class="btn btn-primary green" type="button" 
            [disabled]="!editingItemForm.form.valid" (click)="saveAndClose()"><i class="fa fa-save"></i>
            <span>{{l("SaveAndClose")}}</span></button>
          <button class="btn btn-primary blue" type="submit"
            [disabled]="!editingItemForm.form.valid || currentIndex >= (allItems.length-1)" [buttonBusy]="saving"
            (click)="saveAndNext()" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-arrow-right"></i>
            <span>{{l("SaveAndNext")}}</span></button>
        </div>
      </form>
    </div>
  </div>

</div>