<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PriceTag' | localize" [description]="priceTag?.name">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="la-file-excel-o"></i> {{
                    l('Export') }}</button>
                <button (click)="import()" class="btn btn-outline-success"><i class="fa fa-upload"></i> {{ l('Import')
                    }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text" />
                                            <span class="input-group-btn">
                                                <button (click)="loadMenu()" class="btn btn-primary" type="submit">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="loadMenu($event)" [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 100px" pSortableColumn="Id">
                                            {{ l('Id') }}
                                            <p-sortIcon field="Id"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="MenuName">
                                            {{ l('MenuItem') }}
                                            <p-sortIcon field="MenuName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime">
                                            {{ l('PortionName') }}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                        <th class="text-rigth" style="width: 150px" pSortableColumn="Price">
                                            {{ l('Price') }}
                                            <p-sortIcon field="Price"></p-sortIcon>
                                        </th>
                                        <th class="text-rigth" style="width: 150px" pSortableColumn="TagPrice">
                                            {{ l('TagPrice') }}
                                            <p-sortIcon field="TagPrice"></p-sortIcon>
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{ l('LocationPrice') }}
                                        </th>
                                        <th class="text-center" style="width: 150px">
                                            {{ l('Edit') }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 100px">
                                            <span class="ui-column-title"> {{ l('Id') }}</span>
                                            {{ record.id }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('Name') }}</span>
                                            {{ record.menuName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{ l('PortionName') }}</span>
                                            {{ record.portionName }}
                                        </td>
                                        <td style="width: 150px">
                                            <div class="text-rigth">
                                                {{ record.price }}
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <div class="text-rigth">
                                                {{ record.tagPrice }}
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-default"
                                                    (click)="openLocationPrice(record.id)">
                                                    {{'LocationPrice' | localize}}
                                                </button>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <div class="text-center">
                                                <a href="javascript:;" (click)="editPrice(record)">
                                                    <i class="fa fa-pencil-alt" title="Select"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="loadMenu($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<edit-tag-price-modal #editTagPrice (modalSave)="loadMenu()"></edit-tag-price-modal>

<import-modal #importModal (modalSave)="loadMenu()"></import-modal>
