.wrapper-welcome {
  .wrapper-logo {
    margin: 0 auto;
    .logo {
      width: 100%;
    }
  }
  #title {
    color: #282144;
    // font-family: "New York";
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 3rem;
    text-align: center;
    margin: 0;
  }
  #note {
    color: #9e9ea7;
    font-family: Mulish;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .wrapper-input-control {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5.375rem;
    .input-otp {
      border-width: 0;
      text-align: center;
      height: 4rem;
      padding: 0.5rem;
      width: 3rem;
      background-color: #f0f0f0;
      font-size: 2rem;
      color: #000000d9;
      font-family: Roboto;
      letter-spacing: 0;
      outline: none;
      &:hover:not(.disabled),
      &:focus:not(.disabled),
      &:active:not(.disabled) {
        box-sizing: border-box;
        box-shadow: 0 1px 3px 0 #ffba71;
        border: 1px solid #ebaa6c;
        border-radius: 4px;
        background-color: #ffffff;
      }
    }
  }
}
