<div class="wrapper-welcome" [formGroup]="formGroup" *ngIf="isReady">
  <div class="wrapper-logo" *ngIf="logoUrl">
    <img [src]="logoUrl" class="logo" />
  </div>
  <p id="title">Verification Code</p>
  <p id="note">
    We have just sent you the Verification Code. <br />
    Please check your text message
  </p>
  <div class="wrapper-input-control">
    <input class="input-otp focus" type="tel" id="input-otp0" maxlength="1" (keyup)="onInputCode(0, $event)"
      (click)="checkValueCode(0)" />
    <input class="input-otp disabled" type="tel" id="input-otp1" maxlength="1" (keyup)="onInputCode(1, $event)"
      (click)="checkValueCode(1)" />
    <input class="input-otp disabled" type="tel" id="input-otp2" maxlength="1" (keyup)="onInputCode(2, $event)"
      (click)="checkValueCode(2)" />
    <input class="input-otp disabled" type="tel" id="input-otp3" maxlength="1" (keyup)="onInputCode(3, $event)"
      (click)="checkValueCode(3)" />
    <input type="text" hidden formControlName="codeVerify" />
  </div>
  <button pRipple pButton class="btn-dine-primary" type="submit" label="Continue" (click)="onSubmit()"></button>
</div>