<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="!tag.id ? l('CreateNewOrderTagGroup') : l('EditOrderTagGroup')">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-primary">
                    <i class="fa fa-file"></i> {{ l('Locations') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #orderTagForm="ngForm" novalidate class="form priceTag-form" (ngSubmit)="save()">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{ l('General') }}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="OrderTagGroup_Name">{{l("Name")}} *</label>
                                        <div class="w-100 d-flex">
                                            <input autoFocus type="text" id="OrderTagGroup_Name" class="form-control"
                                                [(ngModel)]="tag.name" name="OrderTagGroup_Name" required
                                                #nameInput="ngModel" [ngClass]="{'w-75': tag.id}" />
                                            <div *ngIf="tag.id" class="w-25">
                                                <button type="button" class="btn btn btn-primary pull-right"
                                                    (click)="showLanguages()">
                                                    {{l("Language")}}</button>

                                            </div>
                                        </div>
                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                    </div>
                                    <div class="form-group col-md-6" *ngIf="tag.id">
                                        <div class="mt-7">
                                            <button type="button" class="btn btn btn-primary"
                                                (click)="showUploadImages()">
                                                <span><i class="fa fa-upload"></i></span></button>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="TicketTagGroup_Departments">{{ l('Departments') }}</label>
                                            <p-multiSelect [filter]="true" styleClass="w-100" name="departmentId"
                                                [options]="departments" [dataKey]="'value'"
                                                [(ngModel)]="requestDepartments" [optionLabel]="'displayText'"
                                                [defaultLabel]="l('SelectDepartments')">
                                            </p-multiSelect>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="OrderTagGroup_Prefix">{{ l('Prefix') }}</label>
                                            <input type="text" placeholder="Prefixes-(Delim: ,)"
                                                id="OrderTagGroup_Prefix" class="form-control" [(ngModel)]="tag.prefix"
                                                name="Prefix" #prefixInput="ngModel" />
                                            <validation-messages [formCtrl]="prefixInput"></validation-messages>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="OrderTagGroup_Minimum">{{ l('MinimumSelect') }}</label>
                                            <input [textMask]="{ mask: numberMask }" id="OrderTagGroup_Minimum"
                                                class="form-control" min="0" [(ngModel)]="tag.minSelectedItems"
                                                name="Minimum" #minimumInput="ngModel" />
                                            <validation-messages [formCtrl]="minimumInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="OrderTagGroup_Maximum">{{ l('MaximumSelect') }}</label>
                                            <input [textMask]="{ mask: numberMask }" id="OrderTagGroup_Maximum"
                                                class="form-control" min="0" [(ngModel)]="tag.maxSelectedItems"
                                                name="Maximum" #maximumInput="ngModel" />
                                            <validation-messages [formCtrl]="maximumInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="OrderTagGroup_SortOrder">{{ l('SortOrder') }}</label>
                                            <input [textMask]="{ mask: numberMask }" id="OrderTagGroup_SortOrder"
                                                class="form-control" min="0" [(ngModel)]="tag.sortOrder"
                                                name="SortOrder" #sortOrderInput="ngModel" />
                                            <validation-messages [formCtrl]="sortOrderInput"></validation-messages>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="OrderTagGroup_FreeTagging" class="checkbox">
                                                    <input id="OrderTagGroup_FreeTagging" type="checkbox"
                                                        name="FreeTagging" [(ngModel)]="tag.freeTagging" />
                                                    {{ l('FreeTagging') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="OrderTagGroup_SaveFreeTags" class="checkbox">
                                                    <input id="OrderTagGroup_SaveFreeTags" type="checkbox"
                                                        name="SaveFreeTags" [(ngModel)]="tag.saveFreeTags" />
                                                    {{ l('SaveFreeTags') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="mcheckbox-list">
                                                <label for="OrderTagGroup_addTagPriceToOrderPrice" class="checkbox">
                                                    <input id="OrderTagGroup_addTagPriceToOrderPrice" type="checkbox"
                                                        name="addTagPriceToOrderPrice"
                                                        [(ngModel)]="tag.addTagPriceToOrderPrice" />
                                                    {{ l('AddTagPriceToOrderPrice') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="checkbox-list">
                                                <label for="OrderTagGroup_taxFree" class="checkbox">
                                                    <input id="OrderTagGroup_taxFree" type="checkbox" name="TaxFree"
                                                        [(ngModel)]="tag.taxFree" />
                                                    {{ l('TaxFree') }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ l('Tags') }}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                <div class="row margin-bottom-5">
                                    <div class="col-xs-12">
                                        <div class="m-heading-1 border-green m-bordered">
                                            <p>{{ l('CreateTagInfo') }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-5" *ngIf="tag?.tags?.length == 0">
                                    <div class="text-right w-100">
                                        <button class="btn btn-primary" (click)="addTag()"><i class="fa fa-plus"></i>
                                            <span></span></button>
                                    </div>
                                </div>

                                <div class="table-scrollable table-scrollable-borderless">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>{{ l('Delete') }}</th>
                                                <th>{{ l('Name') }}*/{{ l('AliasName') }}</th>
                                                <th *ngIf="tag.id">{{ l('Language') }}</th>
                                                <th>{{ l('MenuItem') }}</th>
                                                <th>{{ l('Quantity') }}</th>
                                                <th>{{ l('Price') }}</th>
                                                <th>{{ l('Add') }}</th>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let product of tag.tags; let productIndex = index">
                                            <td>

                                                <button type="button" class="btn" (click)="removeTag(productIndex)">
                                                    <i class="flaticon-delete icon-nm"></i>
                                                </button>


                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="name{{ productIndex }}"
                                                    [(ngModel)]="product.name" required #tagNameInput />
                                                <validation-messages [formCtrl]="tagNameInput"></validation-messages>
                                                <br />
                                                <input type="text" class="form-control"
                                                    name="alternateName{{ productIndex }}"
                                                    [(ngModel)]="product.alternateName" />
                                            </td>
                                            <td *ngIf="tag.id">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary" *ngIf="product.id"
                                                        (click)="openOrderTagLanguages(product)">{{l('Language')}}</button>

                                                    <button type="button" class="btn btn btn-primary"
                                                        (click)="showUploadImagesForTag(product.id)">
                                                        <span><i class="fa fa-upload"></i></span></button>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary"
                                                        value="{{ l('MenuItem') }}" *ngIf="!product?.menuItemId"
                                                        (click)="openforMenuItem(product)" required />
                                                    <input type="button" class="btn btn-primary"
                                                        value="{{ product.menuItemId }} - {{ product.menuItemGroupCode }}"
                                                        *ngIf="product?.menuItemId"
                                                        (click)="openforMenuItem(product)" />
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    name="maxQuantity{{ productIndex }}"
                                                    [textMask]="{ mask: numberMask }" [(ngModel)]="product.maxQuantity"
                                                    required />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="price{{ productIndex }}"
                                                    [textMask]="{ mask: decimalMask }" [(ngModel)]="product.price"
                                                    min="0" required />
                                                <div class="text-left mt-5">
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="openLocationPrice(product.id)">
                                                        {{'LocationPrice' | localize}}
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" (click)="addTag()">
                                                    <i class="fa fa-plus"></i> <span></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="{{ l('Maps') }}" customClass="kt-tabs__item" tabindex="0" class="p-5">
                                <div class="row mb-5" *ngIf="tag?.maps?.length == 0">
                                    <div class="text-right w-100">
                                        <button type="button" class="btn btn-primary" (click)="addMap()">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="row margin-top-10">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered col-sm-12">
                                            <thead>
                                                <tr>
                                                    <th>{{ l('Delete') }}</th>
                                                    <th>{{ l('Category') }}</th>
                                                    <th>{{ l('Menu') }}</th>
                                                    <th>{{ l('Add') }}</th>
                                                </tr>
                                            </thead>
                                            <tr></tr>
                                            <tr *ngFor="let data of tag.maps; let index = index">
                                                <td>
                                                    <button type="button" class="btn" (click)="removeMap(index)">
                                                        <i class="flaticon-delete icon-nm"></i>
                                                    </button>

                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="button" class="btn btn-primary"
                                                            value="{{ l('Category') }}" *ngIf="!data.categoryId"
                                                            (click)="openforCategoryItem(data)" required />
                                                        <input type="button" class="btn btn-primary"
                                                            value="{{ data.categoryId }} - {{ data.categoryName }}"
                                                            *ngIf="data.categoryId"
                                                            (click)="openforCategoryItem(data)" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="button" class="btn btn-primary"
                                                            value="{{ l('MenuItem') }}" *ngIf="!data.menuItemId"
                                                            (click)="openforMenuItem(data)" required />
                                                        <input type="button" class="btn btn-primary"
                                                            value="{{ data.menuItemId }} - {{ data.menuItemGroupCode }}"
                                                            *ngIf="data.menuItemId" (click)="openforMenuItem(data)" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" (click)="addMap()">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                                (click)="close()">{{ l('Cancel') }}</button>
                            <button type="submit" class="btn btn-primary blue"
                                [disabled]="!orderTagForm.form.valid || tag?.tags?.length == 0" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')">
                                <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <select-location-or-group #selectLocationOrGroup (locationAdded)="getLocations($event)">
    </select-location-or-group>
    <commonLookupModal #categoryLookupModal (itemSelected)="categorySelected($event)"></commonLookupModal>
    <createOrEditLanguageDescriptionModal #createOrEditLanguageDescriptionModal> </createOrEditLanguageDescriptionModal>
    <app-upload-file-modal #uploadFileModal [loadData]="uploadImageData" (modalSave)="saveFiles($event)">
    </app-upload-file-modal>

    <app-select-item-popup #productLookupModal (itemSelected)="productSelected($event)">
    </app-select-item-popup>
</div>
