<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- Header -->
        <sub-header [title]="!isEdit ? l('CreatePrinter') : l('EditPrinter') + ': ' + printer.name"> </sub-header>
        <!-- End Header -->

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset class="tab-container tabbable-line">
                        <!-- Tax -->
                        <tab heading="{{ l('Printer') }}" customClass="kt-tabs__item" tabindex="0"
                            (selectTab)="tabIndex = 0" class="py-5" [active]="tabIndex === 0">
                            <!-- Form -->
                            <form #form="ngForm" class="row mb-4" novalidate autocomplete="off" (ngSubmit)="save()">
                                <input type="submit" hidden />

                                <!-- Name -->
                                <div class="form-group col-md-6">
                                    <label for="printerName">{{ l('Name') }} *</label>
                                    <input #printerName="ngModel" autoFocus [(ngModel)]="printer.name" type="text"
                                        id="printerName" class="form-control" name="printerName" required
                                        maxlength="50" />
                                    <validation-messages [formCtrl]="printerName"></validation-messages>
                                </div>
                            </form>
                            <!-- End Form -->

                            <!-- Printers -->
                            <div class="row" *ngIf="isEdit">
                                <div class="col-12">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="flex-grow-1">{{ l('Printer') }}</h6>

                                        <button type="button" class="btn btn-secondary mr-1" (click)="clear()">
                                            <i class="fas fa-eraser"></i>
                                            {{ l('Clear') }}
                                        </button>

                                        <button type="button" class="btn btn-secondary"
                                            (click)="openFilterSelectLocationOrGroup()">
                                            <i class="fas fa-filter"></i>
                                            {{ l('Filter') }}
                                        </button>
                                    </div>

                                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                        <p-table #dataTable [value]="primengTableHelper.records"
                                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                            [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                            (onLazyLoad)="getPrinterTemplates($event)">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="AliasName">
                                                        {{ l('AliasName') }}
                                                        <p-sortIcon field="AliasName"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="printerType">
                                                        {{ l('PrinterType') }}
                                                        <p-sortIcon field="printerType"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="charsPerLine">
                                                        {{ l('NoOfCharacters') }}
                                                        <p-sortIcon field="charsPerLine"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="codePage">
                                                        {{ l('CodePage') }}
                                                        <p-sortIcon field="codePage"></p-sortIcon>
                                                    </th>

                                                    <th pSortableColumn="numberOfLines">
                                                        {{ l('NoOfLines') }}
                                                        <p-sortIcon field="numberOfLines"></p-sortIcon>
                                                    </th>

                                                    <th>{{ l('View') }}</th>
                                                    <th>{{ l('Edit') }}</th>
                                                    <th>{{ l('Delete') }}</th>
                                                    <th>{{ l('Clone') }}</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('AliasName') }}</span>
                                                        {{ record.aliasName }}
                                                    </td>
                                                    <td>
                                                        <span class="ui-column-title">{{ l('PrinterTypeName') }}</span>
                                                        {{ record.printerTypeName }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('NoOfCharacters') }}</span>
                                                        {{ record.charsPerLine }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('CodePage') }}</span>
                                                        {{ record.codePage }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title">{{ l('NoOfLines') }}</span>
                                                        {{ record.numberOfLines }}
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('View') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="viewPrinterTemplate(record)">
                                                            <i class="fas fa-eye"></i>{{ l('View') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Edit') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="editPrinterTemplate(record)">
                                                            <i class="flaticon-edit"></i>{{ l('Edit') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Delete') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="deletePrinterTemplate(record)">
                                                            <i class="fa fa-trash"></i>
                                                            {{ l('Delete') }}
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <span class="ui-column-title"> {{ l('Delete') }}</span>
                                                        <button class="btn-secondary btn" type="button"
                                                            (click)="clonePrinterTemplate(record)">
                                                            <i class="flaticon2-copy"></i>
                                                            {{ l('Clone') }}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>

                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ l('NoData') }}
                                        </div>

                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator (onPageChange)="getPrinterTemplates($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>

                                            <span class="total-records-count">
                                                {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Printers -->
                        </tab>

                        <tab *ngIf="isEdit" heading="{{ l('PrinterMapping') }}" customClass="kt-tabs__item" tabindex="0"
                            (selectTab)="tabIndex = 1" class="py-5" [active]="tabIndex === 1">
                            <form #printerTemplateForm="ngForm" class="mb-4" novalidate>
                                <div class="col-md-12">
                                    <h6 class="mb-5">{{ isEditPrinterTemplate ? l('Edit') : l('Add') }} {{
                                        l('PrinterBasedOnLocations') }}</h6>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 d-flex">
                                        <div class="form-group w-50">
                                            <label for="AliasName"> {{ l('AliasName') }} </label>
                                            <input type="text" id="AliasName" name="AliasName" class="form-control"
                                                [(ngModel)]="printerTemplate.aliasName" #AliasName="ngModel" />
                                            <validation-messages [formCtrl]="AliasName">
                                            </validation-messages>
                                        </div>
                                        <div class="w-50 m-auto">
                                            <button type="button" (click)="openSelectLocationOrGroup()"
                                                class="btn btn-outline-success pull-right">
                                                <span>{{ l('SelectLocation') }}</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="printerTemplateType"> {{ l('PrinterType') }} * </label>
                                        <ng-select id="printerTemplateType" name="printerTemplateType" required
                                            [(ngModel)]="printerTemplate.printerType" #printerTemplateType="ngModel">
                                            <ng-option *ngFor="let printerType of printerTypes"
                                                [value]="+printerType.value">
                                                {{ printerType.displayText }}
                                            </ng-option>
                                        </ng-select>
                                        <validation-messages [formCtrl]="printerTemplateType"> </validation-messages>
                                    </div>

                                    <div class="form-group col-md-4" *ngIf="printerTemplate.printerType == 6">
                                        <label for="printerCustomType"> {{ l('CustomType') }} * </label>
                                        <ng-select id="printerCustomType" name="printerCustomType" required
                                            [(ngModel)]="printerTemplate.customPrinterName"
                                            (ngModelChange)="onChangeProcessor()" #printerTemplateType="ngModel">
                                            <ng-option *ngFor="let customPrinter of customPrinters"
                                                [value]="customPrinter.value">
                                                {{ customPrinter.displayText }}
                                            </ng-option>
                                        </ng-select>
                                        <validation-messages [formCtrl]="printerTemplateType"> </validation-messages>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="printerTemplateFallBackPrinter">
                                            {{ l('FallBackPrinter') }}
                                        </label>

                                        <ng-select id="printerTemplateFallBackPrinter"
                                            name="printerTemplateFallBackPrinter"
                                            [(ngModel)]="printerTemplate.fallBackPrinter"
                                            #printerTemplateFallBackPrinter="ngModel">
                                            <ng-option *ngFor="let fallBackPrinter of fallBackPrinters"
                                                [value]="+fallBackPrinter.value">
                                                {{ fallBackPrinter.displayText }}
                                            </ng-option>
                                        </ng-select>

                                        <validation-messages [formCtrl]="printerTemplateFallBackPrinter">
                                        </validation-messages>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="printerTemplateCharReplacement">{{ l('CharReplacement') }}</label>
                                        <input type="text" id="printerTemplateCharReplacement"
                                            name="printerTemplateCharReplacement" class="form-control"
                                            [(ngModel)]="printerTemplate.charReplacement"
                                            #printerTemplateCharReplacement="ngModel" />
                                        <validation-messages [formCtrl]="printerTemplateCharReplacement">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="printerTemplateNoOfCharacters">{{ l('NoOfCharacters') }} *</label>
                                        <input type="number" id="printerTemplateNoOfCharacters"
                                            name="printerTemplateNoOfCharacters" class="form-control" required
                                            [(ngModel)]="printerTemplate.charsPerLine"
                                            #printerTemplateNoOfCharacters="ngModel" />
                                        <validation-messages [formCtrl]="printerTemplateNoOfCharacters">
                                        </validation-messages>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="printerTemplateCodePage">{{ l('CodePage') }} *</label>
                                        <input type="number" id="printerTemplateCodePage" name="printerTemplateCodePage"
                                            class="form-control" required [(ngModel)]="printerTemplate.codePage"
                                            #printerTemplateCodePage="ngModel" />
                                        <validation-messages [formCtrl]="printerTemplateCodePage"></validation-messages>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="printerTemplateNoOfLines">{{ l('NoOfLines') }} *</label>
                                        <input type="number" id="printerTemplateNoOfLines"
                                            name="printerTemplateNoOfLines" class="form-control" required
                                            [(ngModel)]="printerTemplate.numberOfLines"
                                            #printerTemplateNoOfLines="ngModel" />
                                        <validation-messages [formCtrl]="printerTemplateNoOfLines">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="sm-row mt-5" *ngIf="fields?.length > 0">
                                    <formly-form [form]="printerTemplateForm.form" [fields]="fields"
                                        [model]="printerProcessor"></formly-form>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary blue"
                                        [disabled]="!printerTemplateForm.form.valid" [buttonBusy]="saving"
                                        [busyText]="l('SavingWithThreeDot')" (click)="saveMapping()">
                                        <i class="fa fa-save"></i>
                                        <span>{{ l('Add') }}</span>
                                    </button>
                                </div>

                            </form>
                        </tab>
                    </tabset>

                    <div *ngIf="tabIndex == 0" class="modal-footer px-0 pb-0">
                        <button type="button" class="btn btn-outline-secondary" [disabled]="saving" (click)="close()">
                            {{ l('Cancel') }}
                        </button>

                        <button type="button" class="btn btn-primary blue" [disabled]="form.form.invalid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()">
                            <i class="fa fa-save"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SelectLocationOrGroup -->
    <select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

    <select-location-or-group #filterSelectLocationOrGroup (locationAdded)="setFilterLocations($event)">
    </select-location-or-group>
    <!-- End SelectLocationOrGroup -->
</div>