<div [@routerTransition] class="sale-summary">
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PlanDay' | localize">
            <div role="actions">
                <button (click)="openSelectLocationModal()" class="btn btn-success"><i class="fa fa-file"></i> {{
                    l('Locations') }}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-xl-6">
                                <div class="form-group m-form__group">
                                    <div class="input-group date">
                                        <input type="text" placeholder="Choose dates" class="form-control" bsDaterangepicker
                                          #DateInput="ngModel" [(ngModel)]="dateRangeModel" name="date" #dp1="bsDaterangepicker"
                                          [bsConfig]="{ isAnimated: true, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers:false }">

                                        <div class="input-group-append">
                                          <span class="input-group-text" (click)="dp1.toggle()">
                                            <i class="la la-calendar"></i>
                                          </span>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12 text-right">
                                <div class="btn-group ml-1" dropdown>
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-expanded="false" [disabled]="disableExport" dropdownToggle>
                                        <i class="la-file-excel-o"></i> {{ l('Export') }}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" *dropdownMenu>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.Excel)">{{ l('Excel') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a (click)="exportToExcel(ExportType.HTML)">{{ l('HTML') }}</a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="btn btn-primary ml-1" (click)="getData()"><i class="la la-check-circle-o"></i> {{
                                    l('Refresh') }}</button>
                            </div>
                        </div>
                    </form>


                    <div class="row align-items-center mt-20">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <th class="text-center">{{l('Name') }}</th>
                                <th class="text-center">{{l('LocationCode') }}</th>
                                <th class="text-center">{{l('WorkDay') }}</th>
                                <th class="text-center"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of planDayResult">
                                    <td class="text-center">{{item.locationName}}</td>
                                    <td class="text-center">{{item.locationCode}}</td>
                                    <td class="text-center">{{item.reportStartDay| date:dateTimeFormat}}</td>
                                    <td class="text-center">
                                        <button (click)="showDayReport(item)" type="button" class="btn btn-primary btn-xs">
                                            Day Report
                                        </button>
                                        <button (click)="showShiftReport(item)" type="button" class="btn btn-primary btn-xs">
                                            Shift Report
                                        </button>
                                        <button (click)="showTerminalReport(item)" type="button" class="btn btn-primary btn-xs">
                                            Terminal Report
                                        </button>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-day-report #dayReportModal></app-day-report>
<app-shift-report #shiftReportModal></app-shift-report>
<app-terminal-report #terminalReportModal></app-terminal-report>
<select-location-or-group #selectLocationOrGroup (locationAdded)="setLocations($event)"> </select-location-or-group>

