<!-- banner -->
<section class="banner" style="background-image: url('assets/static/img/white-and-brown-cooked-dish-on-white-ceramic-bowls-958545.png')">
    <div class="container">
        <article>
            <h1>MEAL PLANS</h1>
        </article>
    </div>
</section>
<!-- banner ends -->

<!-- meals plans container -->
<div class="meal-plans-container pad-100">
    <div class="meal-plans pad-100">
        <div class="container">
            <article>
                <h2>{{ 'ActiveOffers' | localize }}</h2>
                <div class="row">
                    <!-- plan -->
                    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let offer of productOffers; let j = index">
                        <div class="plan">
                            <div class="plan-container">
                                <aside>
                                    <!-- plan price -->
                                    <div class="plan-price">
                                        <h5 class="plan-price-heading">
                                            {{ offer.name }}
                                        </h5>
                                        <div class="plan-price-details">
                                            <span class="plan-price-details__span--big"
                                                >{{ appSession.application.currencySign }} {{ offer.price }}</span
                                            >
                                            <span class="plan-price-details__span--small"
                                                >{{ 'DeliveryCount' | localize }}: <span>{{ offer.totalDeliveryCount }}</span></span
                                            >
                                            <span class="plan-price-details__span--medium" innerHTML="{{ offer.description }}">&nbsp;</span>
                                        </div>
                                    </div>
                                    <!-- plan price ends -->
                                </aside>
                                <!-- plan select -->
                                <div class="plan-select">
                                    <button class="btn" (click)="loginToBuyOffer()">
                                        {{ 'AddToCart' | localize }}
                                    </button>
                                </div>
                                <!-- plan select ends -->
                            </div>
                        </div>
                    </div>
                    <!-- plan ends -->
                </div>
            </article>
        </div>
    </div>
</div>
<!-- meals plans container ends -->
