::ng-deep body {
    background-color: #ffffff;
}

.main-page {
    background-color: #ffffff;
    position: relative;
}

.bg-footer {
    position: absolute;
    bottom: 40px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 100%;
}

.bg-image {
    /* Full height */
    //height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: unset;
}

.btn-image {
    justify-content: center;
}

.img-button {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 25%;
    cursor: pointer;
    margin: 0 3px;
    background-position-y: bottom;
    background-position-x: center;
}

.img-button__1 {
    background-image: url(/assets/common/images/static/member.png);
}
.img-button__2 {
    background-image: url(/assets/common/images/static/menu.png);
}

.img-button__3 {
    background-image: url(/assets/common/images/static/order.png);
}
.main-page {
    position: relative;

    .portal-header__topbar {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;
        padding: 0;
        padding-right: 15px;

        .kt-header__topbar-item {
            .kt-header__topbar-wrapper {
                cursor: pointer;
                display: flex;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
            }

            .kt-header__topbar-icon {
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-item-align: center;
                align-self: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 44px;
                width: 44px;
                cursor: pointer;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                border-radius: 4px;
            }
        }

        .kt-header__topbar-item:hover .kt-header__topbar-icon,
        .kt-header__topbar-item.show .kt-header__topbar-icon {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            background-color: rgba(77, 89, 149, 0.06);
        }

        .dropdown-toggle::after {
            display: none;
        }
    }

    .main-page-img {
        display: inline;
    }
}

@media (max-width: 1024px) {
    .main-page {
        .main-page-img {
            width: 100%;
            height: auto;
            display: inline;
        }
        .img-button {
            height: 80px;
            width: 25%;
        }

        .bg-footer {
            bottom: 20px;
        }

        .kt-header__topbar-icon {
            width: 30px;
            height: 30px;
        }
    }

    .portal-header__topbar {
        padding-right: 8px;
    }
}

@media (min-width: 767px) {
    .main-page {
        .bg-footer {
            bottom: 30px;
        }
    }
}
