<div [@routerTransition] class="main-page">
    <div class="text-center">
        <img
            class="main-page-img"
            src="/assets/common/images/static/home-page-background.png"
            alt=""
        />
    </div>
    <div class="bg-footer">
        <div class="row btn-image">
            <div
                class="img-button__1 img-button"
                (click)="redirectForMember()"
            ></div>
            <div
                class="img-button__2 img-button"
                (click)="redirectForMenu()"
            ></div>
            <div
                class="img-button__3 img-button"
                (click)="redirectForOrder()"
            ></div>
        </div>
    </div>
</div>
