<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Transaction' | localize">
            <div role="actions">
                <button class="btn btn-outline-success" (click)="exportToExcel()">
                    <i class="la-file-excel-o-o"></i> {{ l('ExportToExcel') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="input-group mb-6">
                            <div class="has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input
                                    [(ngModel)]="filterText"
                                    name="filterText"
                                    autoFocus
                                    (ngModelChange)="search($event)"
                                    class="form-control m-input form-control-solid"
                                    [placeholder]="l('SearchWithThreeDot')"
                                    type="text"
                                />
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-filter" type="button" (click)="filter()">
                                    <i class="fas fa-filter icon-filter" [attr.aria-label]="l('Filter')"></i>
                                    <span>Filter</span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #table
                                (onLazyLoad)="getAll($event)"
                                [value]="primengTableHelper.records"
                                sortField="CreationTime"
                                [sortOrder]="-1"
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 100px" pSortableColumn="CreationTime">
                                            <label class="ui-column-title m-0" [title]="l('Date')"> {{ 'Date' | localize }}</label>
                                            <p-sortIcon field="CreationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 145px" pSortableColumn="CustomerName">
                                            <label class="ui-column-title m-0"> {{ 'Customer' | localize }}</label>
                                            <p-sortIcon field="CustomerName"></p-sortIcon>
                                        </th>
                                        <th style="width: 145px" pSortableColumn="CustomerEmail">
                                            <label class="ui-column-title m-0"> {{ 'EmailAddress' | localize }}</label>
                                            <p-sortIcon field="CustomerEmail"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="Amount">
                                            <label class="ui-column-title m-0 text-right"> {{ 'Amount' | localize }}</label>
                                            <p-sortIcon field="Amount"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="Paymode">
                                            <label class="ui-column-title m-0"> {{ 'Paymode' | localize }}</label>
                                            <p-sortIcon field="Paymode"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 100px">
                                            <span class="ui-column-title"> {{ 'Date' | localize }}</span>
                                            {{ record.creationTime | momentFormat: 'YYYY-MM-DD' }}
                                        </td>
                                        <td style="width: 145px">
                                            <span class="ui-column-title"> {{ 'CustomerName' | localize }}</span>
                                            {{ record.customerName }}
                                        </td>
                                        <td style="width: 145px">
                                            <span class="ui-column-title"> {{ 'EmailAddress' | localize }}</span>
                                            {{ record.customerEmail }}
                                        </td>
                                        <td style="width: 100px" class="text-right">
                                            <span class="ui-column-title"> {{ 'Amount' | localize }}</span>
                                            {{ record.amount | number: '1.2-2' }}
                                        </td>
                                        <td style="width: 100px">
                                            <span class="ui-column-title"> {{ 'Paymode' | localize }}</span>
                                            {{ record.paymode }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getAll($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                >
                                </p-paginator>
                                <span class="total-records-count">
                                    {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<select-popup
    #selectCustomer
    [headers]="['Name']"
    [dataBinding]="['name']"
    [loadData]="getCustomerForComboBox()"
    (changeValue)="changeCustomer($event)"
    selectionMode="single"
    [selectedValue]="selectedCustomer"
    [title]="l('Customers')"
></select-popup>

<p-sidebar [(visible)]="isShowFilterOptions" position="right" class="filter-options">
    <form class="form" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title">
                <span class="mr-4">{{ l('Filter Options') }}</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="">
                <div class="form-group m-form__group">
                    <label>{{ 'Date' | localize }}</label>
                    <input
                        class="form-control"
                        id="StartEndRange"
                        name="StartEndRange"
                        dateRangePickerMomentModifier
                        bsDaterangepicker
                        [(ngModel)]="dateRange"
                        [placement]="'left'"
                        [bsConfig]="{
                            rangeInputFormat: 'YYYY-MM-DD',
                            dateInputFormat: 'YYYY-MM-DD',
                            showWeekNumbers: false,
                            containerClass: 'custom-filter-datepicker theme-default'
                        }"
                        placeholder="Date Range"
                    />
                </div>
                <div class="form-group m-form__group align-items-center">
                    <label>{{ 'Customer' | localize }}</label>

                    <input
                        type="text"
                        id="Tiffin_Customer"
                        class="form-control"
                        readonly
                        required
                        name="Tiffin_Customer"
                        [ngModel]="customerName"
                        (click)="selectCustomer.show()"
                    />
                </div>
                <div class="form-group m-form__group align-items-center">
                    <label>{{ 'Payment' | localize }}</label>
                    <input [(ngModel)]="paymentFilter" name="paymentFilter" class="form-control" [placeholder]="l('Payment')" type="text" />
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-filter" (click)="refresh()">{{ l('Refresh') }}</button>
            <div style="flex: auto"></div>
            <button type="button" class="btn btn-danger" (click)="clear()">{{ l('Clear') }}</button>
            <button type="button" class="btn btn-primary" (click)="apply()">{{ l('Apply') }}</button>
        </div>
    </form>
</p-sidebar>
