
<div appBsModal #modal="bs-modal" class="modal fade" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    <span>{{l('Product Groups')}}</span>
                </h5>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form *ngIf="active" #productGroupForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <p-tree [value]="treeData" selectionMode="single" emptyMessage="No group..." selectionMode="single"
                        [(selection)]="selectedGroup" (onNodeSelect)="nodeSelect($event)" [contextMenu]="cm">
                        <ng-template let-node pTemplate="default">
                            <span>{{ node.label }} ({{node.categoriesCount}})</span>
                        </ng-template>
                    </p-tree>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-outline-secondary"
                            (click)="close()">{{l("Cancel")}}</button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!productGroupForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                            <span>{{l("Save")}}</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


