<div appBsModal #createOrEditModal="bs-modal" class="modal fade" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #comboItemForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="isEdit">{{l("EditComboItem")}}: {{comboItem.name}}</span>
            <span *ngIf="!isEdit">{{l("CreateNewComboItem")}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="ComboItem_Name">{{l("Name")}} *</label>
              <input autoFocus type="text" id="ComboItem_Name" class="form-control" [(ngModel)]="comboItem.name" name="Name"
                minlength="0" maxlength="255" required #nameInput="ngModel" />
              <validation-messages [formCtrl]="nameInput"></validation-messages>
            </div>

            <div class="form-group col-md-6">
              <label for="ComboItem_SortOrder">{{l("SortOrder")}}</label>
              <input type="number" id="ComboItem_SortOrder" class="form-control" [(ngModel)]="comboItem.sortOrder"
                name="SortOrder" />
            </div>

            <div class="form-group col-md-6">
              <label for="ComboItem_Quantity">{{l("Quantity")}}</label>
              <input type="number" id="ComboItem_Quantity" class="form-control" [(ngModel)]="comboItem.count"
                name="Quantity" />
            </div>

            <div class="form-group col-md-6">
              <label for="ComboItem_Price">{{l("Price")}}</label>
              <input type="number" id="ComboItem_Price" class="form-control" [(ngModel)]="comboItem.price"
                name="Price" />
            </div>

            <div class="form-group col-md-6">
              <label for="ComboItem_Group">{{l("TypeCode")}}</label>
              <input type="text" id="ComboItem_Group" class="form-control" [(ngModel)]="comboItem.groupTag"
                name="Group" />
            </div>

            <div class="form-group col-md-6">
              <label for="ComboItem_Color">{{l("Color")}}</label>
              <input type="text" id="ComboItem_Color" class="form-control" [(ngModel)]="comboItem.buttonColor"
                name="Color" [ngStyle]="{'background-color': comboItem.buttonColor}" />
            </div>

          </div>
          <div class="row mb-4">
            <div class="col-md-12">
              <input type="number" id="ComboItem_MenuItemId" class="form-control" hidden
                [(ngModel)]="comboItem.menuItemId" name="MenuItemId" required #nameInput="ngModel" />

              <button type="button" class="btn btn-primary" *ngIf="!comboItem.menuItemId || comboItem.menuItemId==0"
                (click)="openforMenuItem(comboItem)">{{l('MenuItem')}}</button>
              <span *ngIf="comboItem.menuItemId>0">
                {{ comboItem.menuItemId }} - {{ comboItem.name }}
              </span>
              <button *ngIf="comboItem.menuItemId>0" type="button" class="btn btn-sm btn-secondary" (click)="removeComboItem()">x</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="m-checkbox-list">
                  <label for="ComboItem_AutoSelect" class="checkbox">
                    <input id="ComboItem_AutoSelect" type="checkbox" name="ComboItem_AutoSelect"
                      [(ngModel)]="comboItem.autoSelect">
                    {{l("AutoSelect")}}
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="m-checkbox-list">
                  <label for="ComboItem_AddSeperate" class="checkbox">
                    <input id="ComboItem_AddSeperate" type="checkbox" name="ComboItem_AddSeperate"
                      [(ngModel)]="comboItem.addSeperately">
                    {{l("AddSeperate")}}
                    <span></span>
                  </label>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{l("Cancel")}}</button>
          <button type="submit" class="btn btn-primary blue" [disabled]="!comboItemForm.form.valid"
            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
            <span>{{l("Save")}}</span></button>
        </div>
      </form>

    </div>
  </div>
  <select-item-modal #selectItemModal [backDropZIndex]="1051" (itemSelected)="selectMenuItem($event)"></select-item-modal>

</div>