<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TopupRefund' | localize">
            <div role="actions">
                <button *ngIf="swipeCard?.balance > 0" (click)="viewBalance()" class="btn btn-danger">
                    {{ l('Balance') }}: {{ appSession.application.currencySign }}{{ this.swipeCard.balance }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form #topupForm="ngForm" class="form" autocomplete="off" (submit)="save()">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="swipeCard_CardNumber">{{ l('CardNumber') }} *</label>
                                <input
                                    type="text"
                                    id="swipeCard_CardNumber"
                                    class="form-control"
                                    [(ngModel)]="swiperTransaction.cardNumber"
                                    name="cardNumber"
                                    (blur)="checkCard()"
                                    required
                                    #cardNumberInput="ngModel"
                                />
                                <validation-messages [formCtrl]="cardNumberInput"></validation-messages>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">{{ l('Customer') }}</label>
                                <div>
                                    <button type="button" class="btn btn-success" (click)="showCommonLookupModal()">
                                        {{ swipeCard.customerId ? swipeCard.customerName : 'Choose Customer' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <button type="button" class="btn btn-primary w-100 mb-5" (click)="topup()">{{ l('Topup') }}</button>
                                </div>
                                <div *ngIf="swipeCard && swipeCard.balance > 0">
                                    <button type="button" class="btn btn-danger w-100" (click)="refund()">{{ l('Refund') }}</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="font-size: large" class="text-primary text-center" *ngIf="topupFlag">
                                    {{ l('TopUp') }} {{ l('Payment') }} {{ l('Tender') }}
                                </div>
                                <div style="font-size: large" class="text-danger text-center" *ngIf="refundFlag">
                                    {{ l('Refund') }} {{ l('Payment') }} {{ l('Tender') }}
                                </div>
                                <table class="table table-striped table-bordered col-md-12 font-weight-bolder">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">{{ l('PaymentType') }}</th>
                                            <th style="text-align: right">{{ l('Amount') }} *</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td style="text-align: center; text-transform: uppercase; vertical-align: middle">
                                            {{ l('Cash') }}
                                        </td>
                                        <td style="text-align: right">
                                            <div class="form-group">
                                                <label for=""></label>
                                                <input
                                                    [disabled]="!topupFlag && !refundFlag"
                                                    [min]="0"
                                                    [(ngModel)]="swiperTransaction.amount"
                                                    required
                                                    name="amount"
                                                    style="text-align: right"
                                                    type="number"
                                                    class="form-control"
                                                />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <hr />

                        <div class="d-flex flex-row justify-content-end">
                            <button type="button" class="btn btn-default" (click)="close()">{{ l('Close') }}</button>
                            <button type="button" class="btn btn-default" (click)="clear()">{{ l('Clear') }}</button>
                            <button [disabled]="topupForm.invalid || swiperTransaction.amount <= 0" type="submit" class="btn btn-primary">
                                {{ l('Save') }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-swipe-balance-modal #SwipeBalanceModal></app-swipe-balance-modal>
<commonLookupModal #userLookupModal (itemSelected)="userSelected($event)"></commonLookupModal>
