.cart-items {
    padding: 15px 1.25rem;
    max-height: 36vh;
    overflow-x: auto;
    margin: 0 -1.25rem;
}

.cart-items > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.cart-items > ul > li {
    border-bottom: 1px dashed #EEE;
    overflow: hidden;
    padding: 5px 0;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

@media (max-width: 1024px){
    .top-kt {
        margin-top: 1vh;
    }
}

@media (min-width: 1025px){
    .top-kt {
        margin-top: -5vh;
    }
}