<div class="wrapper-welcome" [formGroup]="formGroup">
  <div class="wrapper-nav-bar">
    <button class="burger-btn" (click)="showMenu()" *ngIf="accountService.userValue?.id">
      <!-- <i class="fa fa-bars"></i> -->
      <img src="assets/image/close-burger.png" alt="" />
    </button>

    <button class="backward-btn" (click)="onClickBack()">
      <i class="fa fa-arrow-left"></i>
    </button>
    <div class="wrapper-logo" *ngIf="logoUrl">
      <img [src]="logoUrl" class="logo" />
    </div>
  </div>
  <div class="wrapper-welcome__body edine-container">
    <p id="title">Contact Information</p>
    <p id="note">Please provide your contact details to proceed</p>
    <div class="wrapper-input-control">
      <label for="" class="lbl-input-field">Phone number</label>
      <ngx-intl-tel-input [cssClass]="'custom'" class="phone-input border-0" [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true" [enablePlaceholder]="true" customPlaceholder="Phone number"
        [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Singapore" [maxLength]="15"
        [tooltipField]="TooltipLabel.Name" [numberFormat]="PhoneNumberFormat.National" [phoneValidation]="true"
        [separateDialCode]="true" name="phone" formControlName="phoneNumber">
      </ngx-intl-tel-input>
      <div class="wrapper-error-msg">
        <span class="error-msg" *ngIf="
          phoneNumber.invalid &&
          !phoneNumber.errors.validatePhoneNumber?.valid &&
          !phoneNumber.errors.required &&
          (phoneNumber.touched || phoneNumber.dirty)
        ">{{ errInvalidPhoneMsg }}</span>
        <span class="error-msg" *ngIf="
          phoneNumber.invalid &&
          phoneNumber.errors.required &&
          phoneNumber.touched &&
          phoneNumber.dirty
        ">{{ errPhoneMsg }}</span>
      </div>
    </div>
    <p id="remind">
      Phone number should be given correctly since we might contact you for any
      changes or confirmation
    </p>
    <p id="remind" style="margin-bottom: 2rem">
      By clicking "<strong style="color: #282144">Continue</strong>", I agree to
      LevelFive
      <a style="text-decoration: underline; color: #236dff" [routerLink]="['/terms-and-conditions']"
        target="_blank">Terms & Conditions </a>
      <!-- <a style="text-decoration: underline; color: #236dff" [routerLink]="['/faqs']"  target="_blank">FAQS / </a>
      <a style="text-decoration: underline; color: #236dff" href="https://lfsolutions.net/privacy-policy/" target="_blank">Privacy
        Policy</a> -->
    </p>
    <button pRipple pButton class="btn-dine-primary" type="submit" label="Proceed" (click)="onSubmit()"></button>
    <p id="footer" style="margin-top: 2rem">
      Powered by <strong style="color: #282144"><a style="text-decoration: underline; color: #236dff; display: block"
          href="https://lfsolutions.net/">LevelFive</a></strong>
    </p>
  </div>
</div>
<ng-container *ngIf="accountService.userValue?.id">
  <app-left-side-menu [hidden]="true" #leftMenuRef> </app-left-side-menu>
</ng-container>