::ng-deep {
    .mat-dialog-container {
        padding: unset;
    }
    .cdk-overlay-dark-backdrop {
        background: rgba(18, 36, 54, 0.7);
    }
}

@media (min-width: 992px) {
    ::ng-deep {
        .dialog-payment-success {
            position: relative !important;
        }
    }

    .dialog-style-form {
        background-image: url(../../../../../../assets/image/background-popup.png);
        background-repeat: no-repeat;
        overflow: hidden;
        mat-icon {
            cursor: pointer !important;
            top: 16px;
            right: 16px;
            position: absolute;
        }
        img {
            position: absolute;
            margin-top: -50px;
            margin-left: 215px;
        }
        .dialog-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 206px;
            .mat-dialog-title {
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                color: #2d5d8c;
                align-items: center;
                margin-top: 60px;
                margin-bottom: 20px;
            }
            span {
                font-weight: 700;
                font-size: 32px;
                line-height: 38, 4px;
                color: #ed4941;
                align-items: center;
            }
        }
        mat-dialog-content {
            border-top: 1px solid #ededed;
            border-bottom: 1px solid #ededed;
            height: 312px;
            margin: 0;
            .subTitle {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                align-items: center;
                color: #22232f;
                display: flex;
                margin-top: 24px;
                justify-content: center;
            }
            .list-widget {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                justify-content: space-between;
                row-gap: 10px;
                width: 480px;
                margin-top: 30px;
                margin-bottom: 30px;
                .form-row {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 8px;
                    margin-right: 8px;
                    .item-label {
                        font-weight: 400;
                        font-style: normal;
                        font-size: 18px;
                        line-height: 27px;
                        color: #888884;
                        width: 35%;
                    }
                    .item-value {
                        font-weight: 700;
                        font-style: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #444444;
                    }
                }
            }
        }
        .button-group {
            display: flex;
            justify-content: center;
            height: 127px;
            margin-bottom: 0;
            .mat-slim {
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                padding: 12px 42px 12px 42px;
                min-width: 216px;
            }
            .confirm {
                border: 1px solid #2d5d8c;
                background-color: #fff !important;
                color: #2d5d8c;
                border-radius: 10px;
                margin-right: 16px;
                &:hover,
                &:focus {
                    background-color: #fff !important;
                }
            }
            .done {
                border: 1px solid #2d5d8c;
                background-color: #2d5d8c !important;
                color: #fff;
                border-radius: 10px;
                &:hover,
                &:focus {
                    background-color: #2d5d8c !important;
                }
            }
        }
    }
}

// @media only screen and (max-width: 420px) {
//     .button-group {
//         button {
//             padding-left: 20px;
//             padding-right: 20px;
//             white-space: normal;
//         }
//     }
// }

@media (max-width: 991px) {
    ::ng-deep {
        .dialog-payment-success {
            position: relative !important;
            max-width: unset !important;
            margin-left: 16px;
            margin-right: 16px;
        }
    }
    .dialog-style-form {
        background-image: url(../../../../../../assets/image/background-popup.png);
        background-repeat: no-repeat;
        overflow: hidden;
        mat-icon {
            cursor: pointer !important;
            top: 16px;
            right: 16px;
            position: absolute;
        }
        img {
            position: absolute;
            margin-top: -28px;
            margin-left: calc(50% - 28px);
            width: 56px;
            height: 56px;
        }
        .dialog-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid #ededed;
            padding-bottom: 32px;
            & > h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 23px;
                line-height: 120%;
                text-align: center;
                color: #2d5d8c;
                margin-top: 60px;
                margin-bottom: 3px;
            }
            & > span {
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 120%;
                text-align: center;
                color: #ed4941;
            }
        }
        .subTitle {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #22232f;
            margin-top: 24px;
            margin-bottom: 16px;
        }
        .list-widget {
            padding-bottom: 24px;
            padding-left: 16px;
            padding-right: 16px;
            border-bottom: 1px solid #ededed;
            .form-row {
                display: flex;
                justify-content: space-between;
                margin-left: 0px;
                margin-right: 0px;
            }
            .form-row:not(:last-child) {
                margin-bottom: 10px;
            }
            .item-label {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #888884;
            }
            .item-value {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 140%;
                text-align: right;
                color: #444444;
            }
        }
        .button-group {
            padding: 24px 16px;
            .confirm {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #2d5d8c;
                margin-bottom: 8px;
                border: 1px solid #2d5d8c;
                box-sizing: border-box;
                border-radius: 10px;
                width: 100%;
                background: #ffffff;
                padding: 12px;
            }
            .done {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #ffffff;
                background: #2d5d8c;
                border-radius: 10px;
                border: none;
                width: 100%;
                margin-bottom: 24px;
                padding: 12px;
            }
        }
    }
}
