<div class="dialog-style-form">
    <mat-icon (click)="dialogRef.close()" [attr.aria-label]="'close dialog'">close</mat-icon>
    <img src="\assets\image\success.png" alt="">

    <div class="dialog-header">
        <h2 mat-dialog-title>Payment Successful</h2>
        <span>${{ data.total | number: '1.2-2'}}</span>
    </div>
    <mat-dialog-content>
        <h4 class="subTitle">Transaction Details</h4>
        <div class="list-widget">
            <div class="form-row">
                <div class="item-label">Payment method</div>
                <div class="item-value">{{ data.payment }}</div>
            </div>
            <div class="form-row">
                <div class="item-label">Status</div>
                <div class="item-value">{{data.status }}</div>
            </div>
            <div class="form-row">
                <div class="item-label">Date</div>
                <div class="item-value">{{ data.date }}</div>
            </div>
            <div class="form-row">
                <div class="item-label">Time</div>
                <div class="item-value">{{ data.time }}</div>
            </div>
            <div class="form-row">
                <div class="item-label">Total Payment</div>
                <div class="item-value">${{ data.total | number: '1.2-2'}}</div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="button-group">
        <button mat-button type="button" [mat-dialog-close]="true" class="mat-slim confirm">
            See Order History
            </button>
        <button mat-button type="button" [mat-dialog-close]="false" class="mat-slim done">
            Done
        </button>
    </mat-dialog-actions>
</div>