<!-- faq -->
<section class="faq gray_bg">
    <div class="container">
        <article>
            <h2>{{'Faq' | localize}}</h2>
            <!-- faq Accordion -->
            <div class="faq-accordion-container">
                <app-collapse-questions
                    [questions]="questions"
                ></app-collapse-questions>
            </div>
            <!-- faq Accordion ends -->
        </article>
    </div>
</section>
<!-- faq ends -->
