﻿footer-bar {
  z-index: 100 !important;
}
app-root {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #f7f7f7;
}
app-root > ng-component {
  display: flex;
  flex: 1;
  flex-direction: column;
}