.span__topbar {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
}
