<div [@routerTransition]>

    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="row m-form">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="shippingProvider">{{"ShippingProvider *" | localize}}</label>
                        <select [(ngModel)]="providerType" class="form-control" required name="shippingProvider" id="shippingProvider">
                            <option *ngFor="let type of shippingProviderTypes" [value]="type.value">
                                {{type.displayText}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="providerType == 1">
                <div class="row m-form">
                    <div class="col-md-12">
                        <div class="form-group">
                            <strong>GoGoVan Settings</strong>
                        </div>
                    </div>
                </div>
                <div class="sm-row mt-5">
                    <formly-form [fields]="shippingGoGoVanConfig" [model]="shippingGoGoVanSetting" [form]="form">
                    </formly-form>
                </div>
                <div class="sm-row mt-5">
                    <div class="form-group">
                        <label for="environmentTypeGoGoVan">{{"Environment" | localize}}</label>
                        <select [(ngModel)]="shippingGoGoVanSetting.environmentTypes" class="form-control" required name="environmentTypeGoGoVan" id="environmentTypeGoGoVan">
                        <option *ngFor="let type of environmentTypes" [value]="type.value">
                            {{type.displayText}}</option>
                    </select>
                    </div>
                </div>
                <div class="sm-row mt-5">
                    <div class="form-group">
                        <label>{{"WebHook URL" | localize}} (use to setup in GoGo API page)</label>
                        <br />
                        <input type="text" class="form-control" style="width: 100%;font-weight: bold;" readonly value="{{webhookUrlGoGoVan}}" />
                    </div>

                </div>
            </ng-container>

            <ng-container *ngIf="providerType == 2">
                <div class="row m-form">
                    <div class="col-md-12">
                        <div class="form-group">
                            <strong>LalaMove Settings</strong>
                        </div>
                    </div>
                </div>
                <div class="sm-row mt-5">
                    <formly-form [fields]="shippingLaLaMoveConfig" [model]="shippingLaLaMoveSetting" [form]="form">
                    </formly-form>

                </div>
                <div class="sm-row mt-5">
                    <div class="form-group">
                        <label for="environmentType">{{"Environment" | localize}}</label>
                        <select [(ngModel)]="shippingLaLaMoveSetting.environmentTypes" class="form-control" required name="environmentType" id="environmentTypes">
                        <option *ngFor="let type of environmentTypes" [value]="type.value">
                            {{type.displayText}}</option>
                    </select>
                    </div>

                </div>

                <div class="sm-row mt-5">
                    <div class="form-group">
                        <label>{{"WebHook URL" | localize}} (use to setup in Lala API page)</label>
                        <br />
                        <input type="text" class="form-control" style="width: 100%;font-weight: bold;" readonly value="{{webhookUrlLaLaMove}}" />
                    </div>

                </div>
            </ng-container>

            <ng-container *ngIf="providerType == 3">
                <div class="row m-form">
                    <div class="col-md-12">
                        <div class="form-group">
                            <strong>Dunzo API Settings</strong>
                        </div>
                    </div>
                </div>
                <div class="sm-row mt-5">
                    <formly-form [fields]="shippingDunzoConfig" [model]="shippingDunzoSetting" [form]="form">
                    </formly-form>

                </div>
                <div class="sm-row mt-5">
                    <div class="form-group">
                        <label for="environmentType">{{"Environment" | localize}}</label>
                        <select [(ngModel)]="shippingDunzoSetting.environmentTypes" class="form-control" required name="environmentType" id="environmentTypes">
                        <option *ngFor="let type of environmentTypes" [value]="type.value">
                            {{type.displayText}}</option>
                    </select>
                    </div>

                </div>

                <div class="sm-row mt-5">
                    <div class="form-group">
                        <label>{{"WebHook URL" | localize}} (use to setup in Dunzo API page)</label>
                        <br />
                        <input type="text" class="form-control" style="width: 100%;font-weight: bold;" readonly value="{{webhookUrlDunzo}}" />
                    </div>

                </div>
            </ng-container>
        </div>

        <div class="modal-footer">
            <!-- <button [disabled]="saving" type="button" class="btn btn-outline-secondary" (click)="close()">{{"Cancel" | localize}}</button> -->
            <button type="button" class="btn btn-primary font-weight-bold" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="saveAll()"><i class="fa fa-save"></i>
                <span>{{"Save" | localize}}</span></button>
        </div>
    </div>
</div>