::ng-deep {
    .popup-image .modal-content {
        max-width: 500px;
    }

    @media only screen and (max-width: 600px) {
        .popup-image {
            max-width: 81vw;
            margin: 36px auto;
        }
    }

    .modal-dialog::before {
        content: '';
        display: block;
        width: 34px;
        height: 34px;
        background: url(assets/static/svg/dashboard/close.svg) no-repeat center center;
        background-size: cover;
        margin-left: auto;
        cursor: pointer;
        position: absolute;
        right: -30px;
        top: -30px;
    }
    
}