::ng-deep .save-button {
    width: unset !important;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-size: unset !important;
    line-height: unset !important;
    font-weight: unset !important;
    padding: 9px 9px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}