.popup-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    bottom: 0;
    overflow: auto;
    background-color: #fff;
    @media (min-width: 768px) {
        overflow: hidden;
        background-color: rgba(65, 73, 82, 0.8);
    }
    .popupholder {
        @media (min-width: 768px) {
            position: fixed;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .popupholder.v2 {
        height: calc(100% - 30px);
        overflow-x: hidden;
        overflow-y: auto;
        @media (min-width: 992px) {
            height: calc(100% - 50px);
        }
    }
}

.main-popup {
    position: relative;
    background: var(--yellow-2);
    min-width: 20rem;
    @media (min-width: 768px) {
        width: 26.375rem;
        margin: 0.625rem 0;
        //border-radius: 0.375rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    }
    .close:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    .icon-close:before {
        content: "\f00d";
        font-family: fontAwesome;
    }
    .close {
        position: absolute;
        left: 0.9375rem;
        top: 0.9375rem;
        font-size: 1rem;
        line-height: 1rem;
        @media (min-width: 768px) {
            right: 1.125rem;
            left: auto;
            top: 1.625rem;
        }
    }
    .heading {
        display: block;
        background: transparent;
        font-size: 0.875rem;
        line-height: 1rem;
        padding: 1.125rem 2.375rem;
        font-weight: 500;
        min-height: 3.25rem;
        //border-radius: 0.375rem 0.375rem 0 0;
        text-align: center;
        border: 1px solid #f5f5f5;
        @media (min-width: 360px) {
            padding: 1.125rem 3rem;
        }
        @media (min-width: 768px) {
            padding: 1.625rem 1.875rem;
            border: 0;
            height: auto;
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    .btn {
        display: block;
        text-transform: uppercase;
        height: 3.125rem;
        padding: 1.125rem 0.9375rem;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 0.875rem;
        letter-spacing: 1.5px;
        width: 100%;
        cursor: pointer;
    }
    .btn-primary {
        background-color: var(--black-1);
        border-color: transparent;
        color: #fff;
        opacity: 1;
        margin-top: 1rem;
    }
    label {
        display: block;
        margin: 0 0 0.875rem;
        color: #7e8389;
    }
    .form-control {
        background: #fff;
        width: 100%;
        // height: 3.25rem;
        border: 1px solid #f5f5f5;
        //border-radius: 0.375rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.75rem;
        line-height: 1rem;
        padding: 1.0625rem 1.1875rem 1.0625rem;
    }
    .forget {
        display: block;
        padding: 1.0625rem 0 0;
        text-align: left;
        font-size: 0.9rem;
        a {
            color: var(--black-1);
            font-weight: 500;
        }
    }
    .sub-lable {
        display: block;
        margin: -0.625rem 0 0.875rem;
    }
    .user-info {
        display: block;
        text-align: center;
        color: #7e8389;
        line-height: 1rem;
        font-size: 0.75rem;
        border-bottom: solid 1px #f5f5f5;
        padding: 1.1875rem 1rem 1rem;
    }
    .mainpopup-holder {
        padding: 0.9375rem 1rem 1rem;
    }
    .input-holder {
        margin: 0 0 1.8rem;
    }
}

.popup-overlay .popupholder.v2 .main-popup {
    @media (min-width: 768px) {
        margin: 0 0 10px;
    }
}

.main-popup .mainpopup-holder {
    padding: 0.9375rem 1.25rem 1.125rem;
}

.main-popup.step_two {
    @media (min-width: 768px) {
        animation: popup-animation-step2 0.5s linear forwards;
    }
}

.signup_popup {
    @media (min-width: 768px) {
        opacity: 1;
        animation: popup-animation 0.5s linear forwards;
    }
    label {
        display: block;
        margin: 0 0 0.25rem;
        color: #7e8389;
    }
}

.input-holder.error .form-control {
    border-color: #ff272b;
}

.popup-overlay .popupholder.v2 .main-popup {
    @media (min-width: 768px) {
        margin: 0 0 10px;
    }
}

.main-popup {
    .user-info {
        display: block;
        text-align: center;
        color: #7e8389;
        line-height: 1.125rem;
        border-bottom: solid 1px #f5f5f5;
        padding: 1.1875rem 1.25rem 1.25rem;
    }
    .terms {
        display: block;
        color: #7e8389;
        text-align: center;
        padding: 0.9375rem 0 0;
        font-size: 0.75rem;
    }
}
