<div *ngIf="isOpenAccount">
    <div class="popup-overlay">
        <div class="popupholder v2">
            <div class="main-popup" [ngClass]="cssCurrentStep" *ngIf="currentStep==1 || currentStep==2">
                <strong class="heading">Sign in to your account.</strong>
                <a class="close icon-close" (click)="closePopup()"></a>
                <form action="javascript:void(0)" class="mainpopup-holder" *ngIf="currentStep == 1">
                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="text" id="float-input" pInputText class="form-control"
                                [formControl]="phoneEmailForm">
                            <label for="float-input">Email</label>
                        </span>
                        <span class="error-msg" *ngIf="phoneEmailForm.errors?.email && (phoneEmailForm.touched || phoneEmailForm.dirty)">{{errMsg}}</span>
                    </div>
                    <input type="submit" class="btn btn-primary dine-button" value="CONTINUE" (click)="continueLogin()">
                </form>

                <form [formGroup]="formAccess" class="mainpopup-holder loginpopup" *ngIf="currentStep == 2">
                    <div class="input-holder"><label>Hello <span>{{formAccess['controls']['name'].value}}</span></label>
                        <span class="sub-lable">{{formAccess['controls']['emailAddress'].value}}</span>
                    </div>
                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="password" id="float-input" pInputText class="form-control"
                                formControlName="password">
                            <label for="float-input">Password</label>
                        </span>
                        <span class="error-msg" *ngIf="password.errors?.required && (password.touched || password.dirty)">errors login
                            credentials. Please try again.</span>
                    </div>
                    <input type="submit" class="btn btn-primary dine-button" value="SIGN IN" (click)="signIn()">
                    <account-alert></account-alert>
                    <span class="forget">
                        <a href="javascript:void(0)" (click)="forgotPassword()">Forgot password?</a>
                    </span>
                </form>
            </div>

            <div class="main-popup signup_popup" *ngIf="currentStep==3">
                <strong class="user-info mb-4">You aren't registered yet. Register now in just a few steps.</strong>
                <a href="javascript:;" class="close icon-close" (click)="closePopup()"></a>
                <form action="javascript:;" class="mainpopup-holder" [formGroup]="registerForm">

                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="email" id="new-email" pInputText class="form-control"
                                formControlName="emailAddress">
                            <label for="float-input">Email Address</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.emailAddress)">Please enter an valid email
                            address.</span>
                    </div>

                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="tel" id="phone" pInputText class="form-control" formControlName="phoneNumber">
                            <label for="float-input">Mobile Number</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.phoneNumber)">Please enter a valid mobile
                            number.</span>
                    </div>

                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="text" id="fname" pInputText class="form-control" formControlName="name">
                            <label for="float-input">Name</label>
                        </span>
                    </div>

                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="text" id="sname" pInputText class="form-control" formControlName="surname">
                            <label for="float-input">Surname</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.surname)">Please enter your surname.</span>
                    </div>

                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="text" id="userName" pInputText class="form-control" formControlName="userName">
                            <label for="float-input">User Name</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.userName)">Please enter your user name.</span>
                    </div>

                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="password" pInputText id="new-password" class="form-control"
                                formControlName="newPassword">
                            <label for="float-input">Password</label>
                        </span>
                        <span class="error-msg" *ngIf="getError(registry.newPassword)">Your password must have at least
                            8 characters.</span>
                    </div>

                    <div class="input-holder">
                        <span class="p-float-label custom-form-control">
                            <input type="password" pInputText id="confirm_password" class="form-control"
                                formControlName="confirmPassword">
                            <label for="float-input">Confirm password</label>
                        </span>
                        <span class="error-msg" *ngIf="registerForm.errors?.invalidConfirm && (registerForm.touched || registerForm.dirty);">The
                            password doesn’t match.
                            Please re-enter.</span>
                    </div>

                    <input type="submit" class="btn btn-primary dine-button" value="SIGN UP" (click)="registryUser()">
                    <span class="terms">By creating an account, you agree to our&nbsp;
                        <a href="#">Terms of Service.</a></span>
                </form>
            </div>
        </div>
    </div>
</div>