<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Roles' | localize" [description]="'RolesHeaderInfo' | localize">
            <div role="actions">
                <button *ngIf="'Pages.Administration.Roles.Create' | permission" class="btn btn-primary"
                    (click)="createRole()"><i class="fa fa-plus"></i>
                    {{"CreateNewRole" | localize}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <permission-tree-modal #permissionFilterTreeModal (onModalclose)="getRoles()">
                                    </permission-tree-modal>
                                </div>
                            </div>
                            <div class="col-xl-6 text-right">
                                <button name="RefreshButton" class="btn btn-primary" (click)="getRoles()"><i
                                        class="la la-refresh"></i> {{'Refresh' | localize}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getRoles()" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [responsive]="primengTableHelper.isResponsive">

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px"
                                            [hidden]="!(['Pages.Administration.Roles.Edit', 'Pages.Administration.Roles.Delete'] | permissionAny)">
                                            {{'Actions' | localize}}</th>
                                        <th>{{'RoleName' | localize}}</th>
                                        <th>{{'CreationTime' | localize}}</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td
                                            [hidden]="!(['Pages.Administration.Roles.Edit', 'Pages.Administration.Roles.Delete'] | permissionAny)">
                                            <div class="btn-group dropdown" dropdown>
                                                <button dropdownToggle
                                                    class="dropdown-toggle btn btn-primary btn-sm dropdown-toggle">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:;"
                                                            *ngIf="'Pages.Administration.Roles.Edit' | permission"
                                                            (click)="createOrEditRoleModal.show(record.id)">{{'Edit' |
                                                            localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:;"
                                                            *ngIf="!record.isStatic && ('Pages.Administration.Roles.Delete' | permission)"
                                                            (click)="deleteRole(record)">{{'Delete' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:;"
                                                            *ngIf="entityHistoryEnabled"
                                                            (click)="showHistory(record)">{{'History' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'RoleName' | localize}}</span>
                                            <span>
                                                {{record.displayName}}
                                                <span *ngIf="record.isStatic"
                                                    class="label label-primary label-inline m-1" data-toggle="tooltip"
                                                    title="{{'StaticRole_Tooltip' | localize}}" data-placement="top">
                                                    {{'Static' | localize}}
                                                </span>
                                                <span *ngIf="record.isDefault" class="label label-dark label-inline m-1"
                                                    data-toggle="tooltip"
                                                    title="{{'DefaultRole_Description' | localize}}"
                                                    data-placement="top">
                                                    {{'Default' | localize}}
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'CreationTime' | localize}}</span>
                                            {{record.creationTime | momentFormat: DATE_FORMAT.yyyyMMdd_hhmmss}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="ui-table-footer">
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditRoleModal #createOrEditRoleModal (modalSave)="getRoles()"></createOrEditRoleModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>